/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .48rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .9rem; margin: 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right; /*background: url(../images/header_la.png) center center no-repeat; background-size: auto .5rem;*/ text-align: center;}


::selection             { background:none; }
::-moz-selection    { background:none; }
::-webkit-selection { background:none;}
body,html{
	-webkit-tap-highlight-color: rgba(240,240,240,0);
	background: #f0f0f0;
}
.header{
    border-bottom: 1px solid #d7d7d7;
}
.Rule_box{
	background: #fff;
	padding: .2rem 0;
	padding-left: .3rem;
	border-top: 0.02rem solid #e1e1e1;
	border-bottom: 0.02rem solid #e1e1e1;
	margin: 0.15rem 0;
}
.Rule_box h1{
	font-size: .3rem;
	height: .7rem;
	line-height: .7rem;
	border-bottom: 0.02rem solid #e1e1e1;
	padding-bottom: 0.05rem;
}
.Rule_box ul{
	margin-top: 0.2rem;
}
.Rule_box ul li{
	font-size: .28rem;
}
.Use_Rule{
	background: #fff;
	padding: .2rem 0;
	padding-left: .3rem;
	border-top: 0.02rem solid #e1e1e1;
	border-bottom: 0.02rem solid #e1e1e1;
	margin: 0.15rem 0;
	position: relative;
}
.Use_Rule h1{
	font-size: .3rem;
	height: .7rem;
	line-height: .7rem;
	border-bottom: 0.02rem solid #e1e1e1;
	padding-bottom: 0.05rem;
	margin-bottom: .2rem;
}
.Use_Rule span{
	font-size: .28rem;
	color: #9f9f9f;
	height: .6rem;
	line-height: .6rem;
}
.Use_Rule p{
	font-size: .28rem;
}
.can_use{
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../images/can.png) no-repeat center;
	background-size: 1.5rem;
}