.Business_box {padding:0 .15rem;}
.Businesslist .Business_de {padding:.15rem;border-bottom:0.02rem solid #e4e4e4;}
.Businesslist .Business_de.bb_none {border-bottom:none;}
.Businesslist .Business_de .Business_title {font-size:.32rem;height:.7rem;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.Businesslist .Business_de .Business_foot span {float:left;font-size:.24rem;color:#939393;}
.Businesslist .Business_de .Business_foot p {float:right;font-size:.24rem;color:#939393;}
.Businesslist .Business_de .Business_foot p i {display:inline-block;vertical-align:middle;width:.5rem;height:.3rem;background:url(../images/detail_icon.png) no-repeat center;background-size:6.2rem;background-position:-3.05rem -1.92rem;}
