*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;}
html{background: #000;}
body.show {opacity:1;}
i,em{font-style: normal;}


/*picture-slide*/
.photoBox{background:#202020;width: 100%;height: 100%;}
.photo-head-h{height: .8rem;}
.photo-head{display: -webkit-box;}
.photo-head a{display: block;width: .6rem;height: .6rem;text-align: center;border-radius: 50%;}
.photo-head .back{margin: .1rem 0 0 .15rem;}
.photo-head .back i {display: block;width: .6rem;height: .6rem;background: url(../images/left1.png) center center no-repeat;background-size: .5rem auto;}
.photo-head .icon-pic{margin: .1rem .16rem 0 0;}
.photo-head .icon-pic i {display: block;width: .6rem;height: .6rem;background: url(../images/more1.png) center center no-repeat;background-size: .6rem auto;}

.swiper-container {color: #fff;text-align: center;}
.swiper-container .swiper-slide img {width: 100%;vertical-align: middle;}
.swiper-wrapper{display: table;text-align: center;}
.swiper-container .swiper-slide{float: left; text-align: center;width: 100%; background: url('../images/loader.gif') center center no-repeat;}
.photoBox .pic-int {height: .8rem;line-height: .8rem;color: #ffffff;font-size: .28rem;padding: 0 .3rem;background: #202020;overflow: hidden;-webkit-box-flex: 1;text-align: center;}


.picbox{padding: 0 15px;padding-bottom: .8rem;color: #fff;}
.pic-box h3 {font-size: .3rem;color: #83868f;line-height: .8rem;padding-top: .16rem;font-weight: 100;}
.pic-box li{float: left;margin: 0 .04rem .04rem 0;width: 93px;height: 93px;overflow: hidden;background: #f4f4f4;}
.pic-box li img{display: block;width: 100%;height: 100%;}
.pic-btn{position: fixed;height: .8rem;width: 100%;bottom: 0;left: 0;background: rgba(32,32,32,1);z-index: 9;}
.pic-btn .btn-box{display: -webkit-box;text-align: center;height: .8rem;}
.pic-btn .btn-box a{color: #fff;line-height: .8rem;display: block;font-size: .3rem;-webkit-box-flex: 1;}
.pic-btn .btn-box a.active{font-size: .34rem;color: #ff6666!important;}
