/*头部幻灯片*/
.wrapper .swiper-container,.wrapper .swiper-slide img{width: 100%;height: 4rem;}
.swiper-pagination{width: .7rem;height: .4rem;background-color: rgba(0,0,0,.6);color: #fff;border-radius: .4rem;line-height: .4rem;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{width: .7rem!important;right: .2rem;}


.huxing-description{background: #fff;}
.hx-description-header{padding: .2rem .2rem .24rem;border-bottom: 1px solid #ebebeb;}
.hx-description-header h2{font-size: .3rem;color: #333;font-weight: 100;}
.hx-description-module{border-bottom: 1px solid #ebebeb;padding: .1rem 0;}
.hx-description-module ul{line-height: .6rem;font-size: .28rem;}
.hx-description-module ul .info-key {float: left;width: 1.56rem;padding-left: .2rem;vertical-align: top;text-align: right;color: #999;font-weight: normal;}
.hx-description-module ul .info-cal{font-size: .28rem;color: #d91819;float: right;margin-right: .2rem;}
.hx-description-module ul .info-cal span{height: .28rem;width: .22rem;background: url(../images/cal.png);background-size: .22rem .28rem;background-repeat: no-repeat;margin-right: .06rem;display: inline-block;vertical-align: text-top;}
.hx-description-module ul span.info-price{color: #d91819;}
.hx-description-module .more-loupan {color: #d91819;font-size: .24rem;float: right;margin-right: .2rem;}
.hx-description-module .icons-arrow {display: inline-block;vertical-align: middle;width: .14rem;height: .24rem;position: relative;margin-top: -.06rem;margin-left: .1rem;}
.hx-description-module .icons-arrow .triangle-front {border-top: .12rem solid transparent;border-bottom: .12rem solid transparent;border-left: .14rem solid #fff;width: 0;height: 0;position: absolute;top: 0;left: 0;z-index: 1;}
.hx-description-module .icons-arrow .triangle-back {border-top: .12rem solid transparent;border-bottom: .12rem solid transparent;border-left: .14rem solid #d91819;width: 0;height: 0;position: absolute;top: 0;left: .02rem;}

/*户型解析*/
.house-huxing{background: #fff;}
.house-huxing-tit{padding: .28rem .3rem .24rem .15rem;position: relative;font-size: .32rem;text-indent: .3rem;border-bottom: 1px solid #e9e9e9;line-height: 100%;}
.house-huxing-tit .huxing-tit-icon{display: block;position: absolute;left: .3rem;top: .22rem;width: .04rem;height: .36rem;background-color: #E43;}
.hx-analyze .hx-analyze-msg{padding: .3rem .3rem .5rem;line-height: .4rem;font-size: .26rem;overflow: hidden;text-indent: .5rem;}


.page{position: absolute;bottom: .2rem;right: .2rem;background-color: rgba(0,0,0,.6);color: #fff;padding: .1rem .2rem;border-radius: .2rem;}