<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
	modelType = "special", adminPath = "{#$adminPath#}",
	typeid = {#$typeid#}, typeListArr = {#$typeListArr#},
	basehost = '{#$basehost#}', subdomain = '{#$subdomain#}';
var cityid = {#$cityid#}, cityList = {#$cityList#};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="module">城市：</label></dt>
    <dd style="overflow: visible; padding-left: 140px;">
      <select class="chosen-select" id="cityid" name="cityid" style="width: auto; min-width: 150px;"></select>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">专题名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="60" data-regex=".{3,60}" />
      <span class="input-tips"><s></s>请输入专题名称，3-60位</span>
    </dd>
  </dl>
  <dl class="clearfix hide">
    <dt><label>访问方式：</label></dt>
    <dd class="radio">
      {#html_radios name="domaintype" values=$domaintype checked=$domaintypeChecked output=$domaintypeNames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $domaintypeChecked == 0#}
  <div id="domainObj" class="hide" style="background:#f5f5f5; padding:5px 0;">
  {#else#}
  <div id="domainObj" class="hide" style="background:#f5f5f5; padding:5px 0;">
  {#/if#}
    <dl class="clearfix">
      <dt><label for="domain">绑定域名：</label></dt>
      <dd>
        <div class="input-prepend input-append">
          <span class="add-on">http://</span>
          {#if $domaintypeChecked == 1#}
          <input class="input-large" type="text" name="domain" id="domain" value="{#$domain#}" />
          <span class="add-on" style="display:none;">
          {#else#}
          <input class="input-mini" type="text" name="domain" id="domain" value="{#$domain#}" />
          <span class="add-on">
          {#/if#}
          {#if $customSubDomain == 0#}
          .{#$subdomain#}
          {#else#}
          .{#$subdomain#}.{#$basehost#}
          {#/if#}</span>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="domainexp">过期时间：</label></dt>
      <dd><input class="input-medium" id="domainexp" name="domainexp" type="text" value="{#$domainexp#}" /></dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="domaintip">过期提示：</label></dt>
      <dd>
        <textarea name="domaintip" id="domaintip" class="input-xxlarge" rows="5">{#$domaintip#}</textarea>
      </dd>
    </dl>
  </div>
  <dl class="clearfix">
    <dt>专题分类：</dt>
    <dd>
      <span id="typeList">
        <select name="typeid" id="typeid" class="input-large"></select>
      </span>
      <span class="input-tips"><s></s>请选择专题分类</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>缩略图：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=small" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="note">专题摘要：</label></dt>
    <dd><textarea name="note" id="note" class="input-xxlarge" rows="4">{#$note#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="head">头部代码：</label></dt>
    <dd>
      <textarea name="head" id="head" class="input-xxlarge" rows="4">{#$head#}</textarea>
      <span class="input-tips" style="display:inline-block;"><s></s>例如：Google Webmaster Tools验证元标记</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="footer">底部代码：</label></dt>
    <dd>
      <textarea name="footer" id="footer" class="input-xxlarge" rows="4">{#$footer#}</textarea>
      <span class="input-tips" style="display:inline-block;"><s></s>例如：Google Analytics追踪代码，百度、CNZZ等统计代码</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="weight">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
