body,html{background-color: #f5f5f7;}
.filter{background-color: #fff;}

.filter dd{padding:0;}
.filter dd a{padding:3px 15px;}
.filter .area{position: relative;display: block;margin: 0 0 10px;padding: 5px 20px; border:none;background-color: #f5f5f7;}
.filter .pos-item a s{position: absolute; left: 50%; bottom: 0; height: 0; width: 0; margin-left: -8px; border-style: solid; border-width: 0 8px 8px; border-color: transparent;border-bottom-color: #f5f5f7;display: none;}
.filter .pos-item a.curr s{display: block;}
.filter .t-fi dd .pos-item a { white-space: nowrap;position: relative;}
.filter .t-fi .area{ display: none; }
.filter .t-fi .pos-sub-item {line-height: 28px;}
.filter .t-fi .pos-sub-item a {margin-right: 20px;}
.filter .t-fi .pos-sub-item a.curr{font-weight: 700; color: #f1370b;}
.fi-state dd a{background-color: #f5f5f7;}

.brokerbox .m-t {position: relative; z-index: 1; height: 40px; line-height: 40px; border-bottom:solid 2px #f1370b;background-color: #f5f5f7; margin-bottom: 20px;}
.brokerbox .m-t ul {float: left; position: relative;}
.brokerbox .m-t ul li {float: left;}
.brokerbox .m-t ul a {display: block; padding: 0 28px; font-size: 16px; font-weight:bold;margin-right: 1px;position: relative;}
.brokerbox .m-t ul li.curr a { height: 40px; line-height: 40px; color: #fff; background-color: #f1370b;  }
.brokerbox .m-t li.ob s {position: absolute; right: 5px; top: 50%; width: 16px; height: 16px;background:url(../images/icon_down.png) no-repeat center center;margin-top:-8px;}
.brokerbox .m-t li.curr.ob s {background:url(../images/icon_down2.png) no-repeat center center;}
.brokerbox .m-t li.ob.up s {background:url(../images/icon_up.png) no-repeat center center;}
.brokerbox .m-t li.curr.ob.up s {background:url(../images/icon_up2.png) no-repeat center center;}

/* 列表 */
.brokerbox .lplist .listbox{height:310px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;position: relative;margin:30px auto 40px;}
.brokerbox .lplist .listbox:hover{background-color: rgb(245, 245, 247);-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13);box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13);}
.brokerbox .lplist li .lImgbox{width: 100px;height: 100px;position:relative;margin-right:30px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);}
.brokerbox .lplist li .lImgbox img{max-height: 100%;max-width: 100%;position: absolute;top:0;right: 0;left:0;bottom:0;}
.listbox .lbox{position:relative;padding:30px;width: 190px;height: 250px;background-color: #fff;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}

/*列表内容*/
.listbox .tImgbox a{display: block;}
.listbox .lbox .topbox{text-align: center;}
.listbox .tImgbox{width: 80px;height: 80px;position: relative;margin:auto;border-radius: 50%;overflow: hidden;}
.listbox .dz {position: absolute; width: 50px; height: 29px; right: 56px; top: 10px; z-index: 10;}
.listbox .tImgbox img{max-width: 100%;max-height: 100%; -webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.listbox .tImgbox:hover img{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform:scale(1.1)}
.topbox p{font-size: 14px;color:#3b3b3b; margin-top: 10px;}
.topbox p a:hover{color:#f1370b;}
.topbox p img {height: 15px;}
.listbox .middbox{margin:5px 0;}
.listbox .middbox p{font-size: 14px;color:#4f4f4f;line-height: 30px;}
.listbox .middbox p i{display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin-top:-2px;margin-right: 5px;}
.listbox .middbox p.p_icon1 i{background:url(../images/icon_testate.png) no-repeat center center;background-size: cover;}
.listbox .middbox p.p_icon2 i{background:url(../images/icon_tpos.png) no-repeat center center;background-size: cover;}
.listbox .bottombox p{float: left;margin-right: 40px;}
.listbox .bottombox p:last-child{margin-right: 0;}
.listbox .bottombox p em{font-size: 20px;color:#3b3b3b;display: block; text-align: center;}
.listbox .bottombox p span{font-size: 14px;color:#9fa1ab;}
.pershop{display: none;height: 26px;padding:0 11px;line-height: 26px;background-color: #f2f2f2;font-size: 12px;color:#919191;position: absolute;top:10px;left:10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;-webkit-animation: bottomFadeIn .3s ease-out;-moz-animation: bottomFadeIn .3s ease-out;animation: bottomFadeIn .3s ease-out;}
.pershop:hover{background-color: #f1370b;color:#fff;}
.listbox .lbox:hover .pershop{display: block;}
.listbox .libox{margin-left:20px;overflow: hidden;width: 928px;}
.listbox .libox li{width: 220px;float: left;margin-right: 16px;background-color: #fff;-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);-moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);}
.listbox .libox li:last-child{margin-right: 0;}
.listbox .imgbox{position: relative;width: 220px;height: 170px;text-align: center;overflow: hidden;background-color: #f5f5f7;}
.listbox .imgbox a{display: block;}
.listbox .imgbox img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;    -webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);}
.listbox .imgbox:hover img{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform: scale(1.1);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.listbox .markbox{position: absolute;top:0;left:0;font-size: 12px;color:#fff;}
.listbox .markbox .m_mark{width: 50px;height: 24px;line-height: 22px;-webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;border-radius: 0 0 10px 0;color:#fff;text-align: center;display: block;position: absolute;left:0;z-index: 2;}
.listbox .markbox .m_cz{background: -moz-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -ms-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #ffa200, endColorstr = #ffc30b);}
.listbox .markbox .m_cs{background: -moz-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -ms-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #2270ff, endColorstr = #ffc30b);}
.listbox .infobox{position: relative;padding:20px 10px;}
.listbox .infobox h4{font-size: 18px;color:#212121;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;line-height: 32px;}
.listbox .libox li:hover h4{color:#2974ff;}
.listbox .infobox p{padding:0;line-height: 32px;}
.listbox .infobox .pprice{font-size: 12px;color:#f1370b;font-weight: bold;}
.listbox .infobox .pprice span{float: left;margin-right: 10px;}
.listbox .infobox .pprice b{font-size: 20px;}
.listbox .infobox .parea{font-size: 14px;color:#797a82;}
.listbox .infobox .parea em{font-size: 12px;color:#d3d4de;margin:0 10px;}

.empty {display: block; text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}

/* 分页 */
.pagination li{background-color: #fff;border:none;}
