/* 面包屑 */
/*.crumb {color: #999; border-bottom: 1px solid #e4e4e4; white-space: nowrap;}*/
.crumb .cl {float: left;}
.crumb .cr {float: right;}

/* 楼盘名称信息 */
.mod-banner {width: 100%;height: 600px;overflow: hidden;position: relative;}
.mod-banner .filter-bg {-webkit-filter: blur(8px);-moz-filter: blur(8px);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="3");filter: blur(8px);background-size: cover;background-position: center 0;background-repeat: no-repeat;}
.mod-banner .filter-bg,.mod-banner .opacity-bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 0;}
.mod-banner .filter-bg img,.mod-banner .opacity-bg img{width:100%;height:100%;display:block;}
.mod-banner .opacity-bg {background-color: #000;opacity: .4;filter: alpha(opacity=40)}
.mod-banner .crumb {height: 35px;margin: 15px auto 0;position: relative;z-index: 100;padding:0;border-bottom:none;}
.mod-banner .crumb .cl {font-size: 14px;height: 35px;line-height: 35px;color:#fff;}
.mod-banner .crumb .cl a,.mod-banner .crumb .cl span {color: #fff}
.mod-banner .banner-box {height: 500px;background-position: center 0;background-repeat: no-repeat;position: relative;}
.mod-banner .banner-box .box_left{width: 360px;height: 460px;position:absolute;top:20px;left:20px;background-color:#fff;-webkit-border-radius: 3px;-moz-border-radius:3px;border-radius:3px;overflow: hidden;}
.mod-banner .banner-box .box_left_top{height: 110px;background-color:#33353b;padding:20px 25px;}
.mod-banner .banner-box .box_left_top h3 .s_tit{font-size: 22px;font-weight: bold;color:#fff;float: left;max-width: 180px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mod-banner .banner-box .box_left_top .s_ds,.mod-banner .banner-box .box_left_top .s_xf{height: 20px;float: left;line-height: 18px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;color:#fff;font-size: 12px;text-align: center;margin-left: 10px;margin-top: 7px;padding:0 5px;}
.mod-banner .banner-box .box_left_top .s_ds{background-color: #ffb03b;}
.mod-banner .banner-box .box_left_top .s_xf{background-color: #6cb5ff;}
.mod-banner .banner-box .box_left_top p{font-size: 14px;color:#fff;}
.mod-banner .banner-box .box_left_top .s_price{font-size: 14px;color:#ff7656;font-weight: bold;}
.mod-banner .banner-box .box_left_top .s_price b{font-size: 26px;}
.mod-banner .banner-box .box_left_top .s_price.noprice b{font-size: 20px;}
.mod-banner .banner-box .box_left_top .s_jsq{cursor:pointer;width: 72px;height: 20px;line-height: 20px;border:solid 1px #ff7656;font-size: 12px;color:#ff7656;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;margin-left:10px;display: inline-block;text-align: center;}
.mod-banner .banner-box .box_left_top .s_time{font-size: 14px;color:#919191;margin-top: 15px;display: block;}

.mod-banner .banner-box .box_left_main{padding:20px 25px;}
.mod-banner .banner-box .box_left_main .bm_content{margin:10px 0;}
.mod-banner .banner-box .box_left_main .bm_content p{font-size: 14px;color:#919191;line-height: 30px;overflow: hidden;}
.mod-banner .banner-box .box_left_main .bm_content p .p_le{float: left;}
.mod-banner .banner-box .box_left_main .bm_content p .p_ri{color:#3b3b3b;max-width: 170px;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mod-banner .banner-box .box_left_main .bm_content .kp{cursor:pointer;color:#ff7656;font-size: 12px;border:solid 1px #ff7656;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;height: 20px;display: inline-block;line-height: 20px;width: 62px;text-align: center;margin-left: 5px;}
.see_map,.see_map:hover{color:#4884ff;}

.bm_bottom{width:308px;height:42px;line-height:42px;background-color:#f1370b;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);text-align: center;color:#fff;font-size: 15px;}
.bm_bottom .iphone{display: inline-block;vertical-align: middle;width: 16px;height: 16px;background: url(../images/phone.png) no-repeat center center;background-size: cover;margin-top:-2px;}
.bm_bottom em{font-size: 15px;}
.bm_bottom b{font-size: 18px;}

/*手机看房*/
.mobile_kf{width:114px;height:90px;position: absolute;right: 20px;top:20px;-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.13);-moz-box-shadow: 0 3px 5px rgba(0,0,0,.13);box-shadow: 0 3px 5px rgba(0,0,0,.13);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow: hidden;margin-top:0;}
.mobile_kf .mk_lef{padding:8px;background-color:#fff;}
.mobile_kf .mk_lef #qrcode{display: block;width: 74px;height: 74px;}
.mobile_kf .mk_rig{width: 24px;height: 81px;text-align: center;background-color:#9899a3;color:#fff;padding-top: 9px;}

/*收藏、分享、相册 */
.btnbx{position: absolute;bottom: 20px;right: 20px;top:auto;}
.btnbx a{float:left;height: 32px;line-height: 32px;padding:0 15px;background-color: #4f4f4f;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-left: 20px;color:#fff;font-size: 14px;}
.btnbx a i{width: 16px;height: 16px;display: inline-block;vertical-align: middle;margin-right: 2px;}
.btnSc i{background:url(../images/ic_sc.png) no-repeat center;}
.btnSc.btnYsc i{background:url(../images/icon_ysc.png) no-repeat center;}
.btnShare .ishare{background:url(../images/ic_fx.png) no-repeat center;}
.btnbx a:hover{background: #747474;}
/* 楼盘导航 */
.loupan-nav {height: 40px; border-bottom: 2px solid #e43; font-size: 16px;margin-top:62px;margin-bottom: 15px;}
.loupan-nav li {float: left; margin-right: 1px;}
.loupan-nav li a {padding: 0 28px; line-height: 40px; display: block;font-weight: bold;}
.loupan-nav li a:hover, .loupan-nav li.curr a {background-color: #f1370b; color: #fff;}


/* 订阅 */
.dy{width: 340px;margin-left:50px;float: right;margin-top: 80px;}
.dy .lp_title{width: 327px;height: 40px;background-color:#f5f5f7;line-height: 40px;border-left:solid 4px #f1370b;padding-left:9px;font-size: 16px;color:#37383b;font-weight: bold;margin-bottom: 4px;}
.dy .close {display: none;width:13px;height:13px;background:url(../images/close.png) no-repeat center center;background-size: 13px;}
.dy .dc {padding: 30px 20px; border: 1px solid #ebebed;position: relative;}
.dy .dc dl {height: 32px; line-height: 32px; cursor: pointer;}
.dy .dc dl dd {position: relative; font-size: 14px; color: #4a4a4f;font-weight: bold;}
.dy .dc dl dd span {color: #9fa0ab; margin-left: 10px; font-size: 14px;font-weight: 500;}
.dy .dc .checkbox {position: relative; display: inline-block; width: 9px; height: 9px; vertical-align: -1px; margin-right: 15px; border: 1px solid #d3d5de; background-color: #f2f3f7; cursor: pointer;}
.dy .dc .tj .checkbox {vertical-align: -1px;}
.dy .dc .checkbox i{display: block;width:5px;height: 5px;position: absolute; top:50%;left:50%;margin-top: -2.5px;margin-left:-2.5px;}
.dy .dc .checkbox.checked i {background: #f1370b;}
.dy .dc ul{margin-top: 40px;}
.dy .dc li {height: 32px; margin-top: 18px;}
.dy .dc li input {float: left; width: 280px; border: 1px solid #ededed; outline:none;height: 30px; padding: 0 10px; line-height: 30px;background: #fafafa}
.dy .dc li input:focus{border: 1px solid #c4c4c4;}
.dy .dc li .placeholder {color: #c4c4c4;}
#vercode1 {width: 176px;}
#verifycode {float: right; width:90px;height: 32px; margin-left: 10px; cursor: pointer;}
.tj {height: 40px!important; color: #999;margin-top: 35px!important;}
.tj a{color:#666;}
#tj,#bm,#btnTj {width: 128px; height: 38px; outline:none;color: #fff; border: 0; background-color: #f1370b; cursor: pointer; font-size: 16px; line-height: 38px; text-align: center;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-right: 15px;}

/* 订阅浮动 */
.modal-dy,.modal-bm{display:none;position: fixed; left: 50%; top: 100px; margin-left: -276px; z-index: 11001; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-400+"px"); width:528px; background-color: #fff; padding: 0;  -webkit-animation:flipInY .5s ease-out; -moz-animation:flipInY .5s ease-out; animation:flipInY .5s ease-out;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;overflow: hidden;}
.modal-dy .lp_title,.modal-bm .lp_title{width:100%;height:42px;background-color: #f3512b;border:none;color:#fff;padding-left: 20px;}
.modal-dy .close,.modal-bm .close{display: block; position: absolute; right:0; top: 0; width: 42px; height: 42px; text-align: center;  overflow: hidden; cursor: pointer; transition: all 0.2s linear;}
.modal-dy .dc,.modal-bm .dc{padding: 30px 40px; border: 0;position: relative;}
.modal-dy .dc li span,.modal-bm .dc li span{margin-left: 20px; line-height: 32px;cursor: pointer;}
.modal-dy .dc span .checkbox,.modal-bm .dc span .checkbox{margin-right:5px;}
.modal-dy #verifycode{float:left;margin-left: 14px;}

.popup_bg {display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 10000; opacity: 0.6; filter: Alpha(Opacity=60); background-color: #000;}
p.ptip{ width: 280px;height: 68px;line-height:68px;text-align:center;color:#fff;font-size:16px;border:solid 1px rgb(220, 220, 222);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: rgba(0,0,0,.5);position: absolute;top:50%;left:50%;margin-top:-34px;margin-left:-140px;}

/*报名*/
.modal-bm .con-tit{height: 20px;line-height: 20px;border-left:solid 4px #f3512b;font-size: 14px;color:#4f4f4f;padding-left:9px;}
.modal-bm .dc ul{margin-top:0px;}
.modal-bm li{position: relative;}
.modal-bm .getCodes{width: 100px;height: 32px;line-height: 32px;text-align: center; position: absolute;left: 202px;top: 0;background-color: #9899a3;font-size: 14px;color:#fff;}
.modal-bm #verifycode{float:left;}
.modal-bm #bm{background-color: #f3512b;width: 200px;}
.sexbox label{float: left;margin-left: 20px;line-height: 28px;}
.sexbox input{width: 15px!important;margin-right: 10px;}

/*详细信息*/
.detail-info{overflow: hidden;}
.detail-info .container-left{float: left;width: 920px;}
.con_head{width: 350px;height: 46px;line-height: 46px;padding-left:15px;font-size:22px;color:#1a1c21;font-weight:bold;border-left:solid 4px #f1370b;margin:12px 0 20px;background: -moz-linear-gradient( 0deg, rgb(245,245,247) 0%, rgb(245,245,247,0) 100%);background: -webkit-linear-gradient( 0deg, rgb(245,245,247) 0%, rgb(245,245,247,0) 100%);background: -ms-linear-gradient( 0deg, rgb(245,245,247) 0%, rgb(245,245,247,0) 100%);}

.c-info {padding: 0 0 50px; font-size: 14px; line-height: 2em;}
.c-info .detail {width: 100%; border-left: 1px solid #eee; border-bottom: 1px solid #eee;}
.c-info .detail td {width: 50%; padding: 10px 20px; line-height: 1.5em; border-top: 1px solid #eee; border-right: 1px solid #eee;}
.c-info dl {padding: 5px 0;}
.c-info dt {float: left; width: 110px; text-align: right; margin-right: 5px;}
.c-info dd {position: relative; overflow: hidden;}
.c-info dd a {display: inline-block; border-bottom: 1px dotted #ccc;}
.c-info dd a:hover {text-decoration: none;}
.c-info p {padding: 0 10px;}

/* 侧栏 */
.sidebar {float: right; width: 230px; margin-left: 40px; font-size: 14px;margin-top: 12px;}
.sidebar .mapbox{width: 230px;height: 239px;margin-bottom:20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow: hidden;}
.sidebar .mapbox a{display: block;}
.sidebar .mapbox img{display: block;width: 100%;height: 200px;}
.sidebar .mapbox span{display: block;font-size: 14px;color:#fff;height: 39px;line-height: 39px;text-align: center;background-color: rgb(255, 177, 53);}
.sidebar .lp_box{margin-bottom: 20px;}
.sidebar .lp_box .lp_title{width: 218px;height: 36px;background-color:#f5f5f7;line-height: 36px;border-left:solid 4px #f1370b;padding-left:9px;font-size: 16px;color:#37383b;font-weight: bold;margin-bottom: 2px;}
.sidebar .lp_box ul{width: 228px;height: auto;border:solid 1px #ebebed;background-color:#fff;padding:15px 0;}
.sidebar .lp_box ul li{padding:6px 10px;}
.sidebar .lp_box ul li a{display: block;}
.sidebar .lp_box ul li:hover{background: #fafafa;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.sidebar .lp_box ul li:hover a{color:#2974ff;}
.sidebar .lp_box ul li p{font-size: 14px;color:#58595e;line-height: 30px;}
.sidebar .lp_box ul li p span{float: right;font-size: 12px;color:#9fa1ab;}
.sidebar .lp_box .lp_news a{font-size: 14px;color:#58595e;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sidebar .lp_box .lp_news a em{color:#878891;margin-right: 8px;}

/* 户型页 */
.hxcon .con_head{margin:40px 0 30px;}
.hxcon .tab_content{display: block!important;}

.tab_content{display: none;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.tab_content.show{display: block;}
.tab_content ul li{float: left;width: 285px;height: 330px;margin-right: 20px;margin-bottom:20px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.tab_content ul li:last-child{margin-right: 0;}
.tab_content ul li a{display:block ;}
.tab_content ul li .imgbox{width: 285px;height: 210px;overflow: hidden;position: relative;}
.tab_content ul li .imgbox img{position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;display: block;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);}
.tab_content ul li:hover{background-color: #f7f7f7;}
.tab_content ul li:hover .imgbox img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);-moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.tab_content ul li .incbox{padding:10px 0;}
.tab_content ul li h4{font-size: 18px;color:#212121;line-height: 35px;}
.tab_content ul li .price{font-size:12px;font-weight: bold;color:#f1370b;line-height: 36px;}
.tab_content ul li .price b{font-size: 20px;}
.tab_content ul li .space{color:#797a82;font-size: 14px;line-height: 26px;}
.tab_content ul li .space em{font-size: 12px;color:#d3d4de;margin:0 10px;}

/*新房顾问*/
.xfAdviser ul li{width: 330px;height: 120px;float:left;margin: 20px 45px 20px 0;padding:10px;background-color: #f7f7f7;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.xfAdviser ul li:nth-child(3n){margin-right: 0;}
.xfAdviser ul li:hover{-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);-moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);}
.xfAdviser ul li a{display: block;}
.xfAdviser ul li .itemImg{margin-right: 15px;}
.xfAdviser ul li .itemImg img{width: 100px;height: 120px;}
.ittag{display: block;float: left;padding:0 10px;text-align:center;height: 18px;line-height:18px;background-color: rgb(242, 243, 247);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;font-size: 12px;color:#87a3c4;margin-left: 10px;margin-top:3px;}
.xfAdviser ul li .itemInfo p.pitem{margin-top:5px;}
.xfAdviser ul li .itemInfo .itname{float: left;max-width: 160px;font-size: 16px;color:#3b3b3b;font-weight: bold;overflow: hidden;white-space:  nowrap;text-overflow: ellipsis;}
.xfAdviser ul li .itemInfo .scount{margin: 20px 0;font-size: 14px;color:#3b3b3b;}
.xfAdviser ul li .itemInfo .scount span{margin-right: 10px;}
.xfAdviser ul li .itemInfo .contel{font-size: 14px;color:#f1370b;}
.xfAdviser ul li .itemInfo .contel b{font-size: 16px;}


/*相册*/
.albumbox .con_head{margin:40px 0 5px;}
.albumbox .c-info{padding:0;}
.album-list {overflow: hidden; }
.album-list ul {width: 110%;}
.album-list li {float: left; width: 188px; margin-right: 15px;}
.w1200 .album-list li {width: 220px; margin: 25px 25px 0 0;}
.album-list li a {position: relative; width: 188px; height: 133px; overflow: hidden; display: block; color: #fff;}
.w1200 .album-list li a {width: 220px; height: 165px;}
.album-list li a img {width: 188px; height: 165px; display: block; -webkit-transition: all .2s linear; transition: all .2s linear;}
.w1200 .album-list li a img {width: 220px;}
.album-list li a:hover img {transform: scale(1.03);}
.album-list li a p {position: absolute; left: 0; bottom: 0; width: 168px; height: 36px; line-height: 36px; display: block; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px; font-size: 14px; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000); overflow: hidden;}
.w1200 .album-list li a p {width: 200px;}
.abigimage-counter{font-size: 18px;float: none!important;position: absolute;left: 50%;margin-left: -50px;bottom: 50px;}


/* 沙盘 */
.shapan {margin-top: 30px;}
#shapan-box{position: absolute;}
#shapan-box img{height: auto; width: auto; max-width: none;}
#shapan-box .map-mark{display: block; position: absolute; top: 0; height: 31px; width: 102px; cursor: pointer; text-align: center; line-height: 29px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); background: #fff;color:#34353b;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;font-size: 16px;color:#34353b;}
#shapan-box .map-mark em{display: inline-block;width:51px;height: 31px; }
#shapan-box .map-mark em.forsale,#shapan-box .map-mark em.onsale,#shapan-box .map-mark em.outsale,#shapan-box .map-mark em.close{color:#fff;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}
#shapan-box .map-mark em.forsale{background: #ffb03b;}
#shapan-box .map-mark em.onsale{background: #a4d54a;}
#shapan-box .map-mark em.outsale{background: #999aa1;}
#shapan-box .map-mark em.close{background: #ff6666;}
#shapan-box .map-mark i{position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #fff; top: 31px; left: 25%; margin-left: -5px;}
#shapan-box .map-mark-active{-webkit-animation: swing .5s linear 0s infinite alternate; -moz-animation: swing .5s linear 0s infinite alternate; animation: swing .5s linear 0s infinite alternate; z-index: 99;}
@-moz-keyframes swing{0%{transform:translate3d(0,-4px,0)}100%{transform:translate3d(0,4px,0)}}
@-webkit-keyframes swing{0%{transform:translate3d(0,-4px,0)}100%{transform:translate3d(0,4px,0)}}
@keyframes swing{0%{transform:translate3d(0,-4px,0)}100%{transform:translate3d(0,4px,0)}}

.nikan-area {width: 750px; height: 570px; border: 1px solid #eee; position: relative; color: #fff; background: #f5f5f7;    overflow: hidden;}
.shapanBox{margin-top: 20px;}
.dist-detail{width: 430px; }
.dist-tab{height: 36px; position: relative;}
.dist-tab .dist-clip{ width: 350px; height: 36px; position: relative; overflow: hidden; margin: auto; font-size: 18px;background-color:#f5f5f7;}
.dist-tab .dist-clip ul{width: 350px;overflow: hidden;}
.dist-tab .dist-clip li{float: left;}
.dist-tab .dist-clip li a{display: block; width: 58px; color: #333; height: 36px; line-height: 36px; text-align: center; cursor: pointer;font-size: 16px;}
.dist-tab .dist-clip li.active a{color: #f1370b; font-weight: bold;}
.dist-tab .prev, .dist-tab .next{display: block; width: 40px; height: 36px; overflow: hidden; position: absolute; top: 0; background-color:#f1370b;}
.dist-tab .prev{left: 0;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;}
.dist-tab .next{right: 0;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}
.dist-tab .prev i,.dist-tab .next i{width: 10px;height: 10px;position: absolute;top:50%;margin-top: -5px;vertical-align: middle;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";}
.dist-tab .prev i {left: 17px;border-bottom: 2px solid #fff;border-left: 2px solid #fff;}
.dist-tab .next i {right: 17px;border-top: 2px solid #fff;border-right: 2px solid #fff;}
.dist-tab .prev-dis, .dist-tab .next-dis, .dist-tab .prev-dis:hover, .dist-tab .next-dis:hover { background-color: #dcdce3; cursor: default;}
.dist-items ul{margin:45px 20px;}
.dist-items li{line-height: 36px; font-size: 16px;overflow: hidden;}
.dist-items li p{width: 50%;float: left;font-size: 16px;color:#37373b;}
.dist-items li p span{color:#9fa1ab;}

.dist-items .item_con{width: 430px;}
.dist-items .item_con p{width: 400px;height:36px; line-height: 36px;-webkit-border-radius: 4px;-moz-order-radius: 4px;border-radius: 4px;background-color: #f5f5f7;font-size: 16px;color:#3b3b3b;padding:0 15px;}
.dist-items .item_con ul{margin:25px 20px;}
.dist-items .item_con li{line-height: 36px;font-size: 16px;}
.dist-items .item_con li span{color:#4f4f4f;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dist-items .item_con li span.fir{width: 120px;margin-right: 5px;}
.dist-items .item_con li span.sec{width: 120px;margin-right: 5px;}
.dist-items .item_con li span.thir{width: 90px;margin-right: 5px;}
.dist-items .item_con li span.fou{width: 45px;}

/*全景*/
.qj {margin-top: 20px;}
.qj embed, .qj iframe {width: 100%; height: 680px; border: 0;}


/*楼盘动态*/


.empty {text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}

.pagination {padding: 10px 0 30px; text-align: center; line-height: 28px; font-size: 14px; color: #797a82; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#f2f3f7;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#797a82;}
.pagination li a:hover ,.pagination li.page_current span {background: #f1370b; color: #fff;}
.pagination li.page_more span {background: #fff;color: #797a82; cursor: default;}
.pagination .page_info {display: none;}
