/*筛选*/
.filter .price{margin:2px 0 0;float: left;cursor:pointer;}
.filter .inp_price{float: left;}
.filter .inp_price .p1, .filter .inp_price .p2 {width: 40px; padding: 0 4px; height: 24px; border: solid 1px #f0f2f7; line-height: 24px;  margin: 0 4px;background: #fff;color:#bbbcc4;outline: none;}
.filter .inp_price .btn {width:45px;height: 24px; display: inline-block;text-align:center; background: #f1370b; color: #fff; margin: 7px 0 0 5px;vertical-align: top; line-height: 24px; cursor: pointer; white-space: nowrap; -webkit-background-clip: padding-box;-moz-background-clip: padding;  background-clip: padding-box; border: 0;font-size: 14px;outline: none}
.filter .inp_price input::-webkit-input-placeholder {color: #bbbcc4;}
.filter .inp_price input::-moz-input-placeholder {color: #bbbcc4;}
.filter .inp_price input::-ms-input-placeholder {color: #bbbcc4;}

/* 内容 */
.main {float: left; width: 716px;}
.w1200 .main {width: 916px;}

.main .m-t {position: relative; z-index: 1; height: 40px; line-height: 40px; border-bottom:solid 2px #f1370b;background-color: #fff;}
.main .m-t ul {float: left; position: relative;}
.main .m-t ul li {float: left;}
.main .m-t ul a{display: block; padding: 0 28px; font-size: 16px; font-weight:bold;margin-right: 1px;}
.main .m-t ul .curr a { height: 40px; line-height: 40px; color: #fff; background-color: #f1370b;  }

/* 排序 */
.m-o {height: 42px; line-height: 42px;background: #f7f8fc;margin-bottom: 10px;}
.m-o .m-l {float: left;}
.m-o .m-r {float: right;}
.m-o a {position: relative;}
.m-o .m-l a {padding: 0 20px;font-size: 14px;font-weight: bold;color:#94959c;}
.m-o a.curr {color: #f1370b;}
.m-o .ob s {position: absolute; right: 5px; top: 2px; width: 16px; height: 16px;background:url(../images/icon_down.png) no-repeat center center;}
.m-o .ob.curr s {background:url(../images/icon_down1.png) no-repeat center center;}
.m-o .ob.up s {background:url(../images/icon_up.png) no-repeat center center;}
.m-o .ob.up.curr s {background:url(../images/icon_up1.png) no-repeat center center;}
 
/* 列表 */
.main .lplist li{padding:20px 0;border-bottom: solid 1px #f0f1f7;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.main .lplist li:hover{background-color:#f7f8fa;}
.main .lplist li:last-child{border-bottom: 0;}
.main .lplist li .imgbox{width: 300px;height: 216px;position: relative;overflow: hidden;margin-right: 20px;}
.main .lplist li .imgbox img{width: 100%;min-height: 100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;-webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.main .lplist li .imgbox:hover img{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform:scale(1.1)}
.main .lplist li .ivplay{width: 50px;height: 50px;display: block;background: url(../images/video.png) no-repeat center center;background-size: cover;position: absolute;top:50%;left:50%;margin-top:-25px;margin-left: -25px;}
.main .lplist li .ivr{width: 60px;height: 60px;display: block;background: url(../images/vr.gif) no-repeat center center;background-size: cover;position: absolute;left:0;bottom:0;}
.main .lplist li .markbox{position: absolute;top:0;left:0;font-size: 12px;color:#fff;}
.main .lplist li .markbox .m_mark{width: 50px;height: 24px;line-height: 22px;-webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;border-radius: 0 0 10px 0;color:#fff;text-align: center;display: block;position: absolute;left:0;z-index: 2;}
.main .lplist li .markbox .m_mark2{width: 58px;height: 24px;line-height: 22px;-webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;border-radius: 0 0 10px 0;color:#fff;text-align: center;display: block;position: absolute;left:42px;padding-left:8px;z-index: 1;}
.main .lplist li .markbox .m_ds{background: #ffb03b;}
.main .lplist li .markbox .m_zs{background: #a4d54a;}
.main .lplist li .markbox .m_wp{background: #ff6666;}
.main .lplist li .markbox .m_sk{background: #999aa1;}
.main .lplist li .markbox .m_qf{background: #333333;}
.main .lplist li .markbox .m_xf{background: #6072a5;}

/*列表信息右侧*/
.main .lplist li .infobox{width: 576px;height:214px;position: relative;padding:0 10px;}
.main .lplist li .infobox .lptit{height: 33px;line-height: 33px;margin-bottom: 16px;}
.main .lplist li .infobox .lptit a{display: block;overflow: hidden;float: left;}
.main .lplist li .infobox h2{font-size: 22px;color:#212121;max-width: 310px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;margin-right: 7px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.main .lplist li:hover .infobox h2{color:#2974ff;}
.main .lplist li .infobox .lptit i.mtop{margin-right: 5px;}
.main .lplist li .infobox .lpprice{float: right;color:#f1370b;font-size: 14px;font-weight: bold;height: 33px;line-height: 33px;}
.main .lplist li .infobox .lpprice.noprice b{font-size: 22px;}
.main .lplist li .infobox .lpprice b{font-size: 28px;}
.main .mJiaji, .main .mtop{margin-top: 7px;}
.main .lplist li .infobox .lpinf{font-size: 14px;color:#797a82;line-height: 30px;}
.main .lplist li .infobox p.lpinf{max-width: 400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main .lplist li .infobox .lpinf .sp_r{font-size:16px;color:#58595e;}
.main .lplist li .infobox .lpinf .sp_r em{font-size: 14px;}
.main .lplist li .infobox .lpinf .sp_r i.ilptel{display: inline-block;width: 16px;height: 16px;background:url(../images/lp_tel.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 5px;}
.main .lplist li .infobox .lpbottom{position: absolute;bottom: 0;left: 10px;right: 10px;}
.main .lplist li .infobox .btn_box{display: none; height: 28px; line-height: 28px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-animation: bottomFadeIn .3s ease-out;-moz-animation: bottomFadeIn .3s ease-out;animation: bottomFadeIn .3s ease-out;}
.main .lplist li .infobox .btn_box a{display: block;float: left;font-size: 14px;color:#9fa1ab;}
.main .lplist li .infobox .btn_box a i{width: 16px;height: 16px;display: inline-block;vertical-align: middle;    margin-top: -3px;}
.main .btn_box .btn_sc{margin-right: 35px;}
.main .btn_box .btn_sc i{background: url(../images/icon_sc.png) no-repeat center center;}
.main .btn_box .btn_sc.btn_ysc i{background: url(../images/icon_ysc.png) no-repeat center center;}
.main .btn_box .btn_sc.btn_ysc{color:#f1370b!important;}
.main .btn_box .btn_share i.ishare{background: url(../images/icon_share.png) no-repeat center center;}
.codebox{cursor:pointer;width: 30px;height: 30px;background: url(../images/icon_code.png) no-repeat center;background-size: cover;position: absolute;top:117px;right: 10px;display: none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-animation: rightFadeIn .3s ease-out;-moz-animation: rightFadeIn .3s ease-out;animation: rightFadeIn .3s ease-out;}
.codebox .qrcode{width: 74px;height: 74px;z-index: 10;background-color:#fff;-webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.13);box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.13);padding:3px;position: absolute;right: 50px;top: 50%;margin-top: -40px;display: none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-animation: topFadeIn .3s ease-out;-moz-animation: topFadeIn .3s ease-out;animation: topFadeIn .3s ease-out;}
.codebox .qrcode #qrcode {width: 74px;height: 74px;display: block;}

.main .lplist li:hover .codebox,.main .lplist li:hover .btn_box,.codebox:hover .qrcode{display: block;}

/* 户型 */
.list .item .plan {margin-top: 10px; margin-bottom: -30px;}
.list .item .plan li {height: 36px; line-height: 36px; border-bottom: 1px solid #f3f3f3;}
.list .item .plan li:hover {background-color: #f5f5f5;}
.list .item .plan li.loading {height: 110px; line-height: 110px; text-align: center;}
.list .item .plan li.loading:hover {background-color: #fff;}
.list .item .plan li.loading img {display: inline-block; margin-right: 5px;}
.list .item .plan li .p-icon {float: left; position: relative; width: 12px; height: 12px; margin: 12px 8px 0 0; background-position: -23px -32px; cursor: pointer;}
.list .item .plan li .p-icon:hover {background-position: -36px -32px;}
.list .item .plan li .p-icon img {display: none; position: absolute; left: 12px; top: 0; width: 400px; height: 300px;}
.list .item .plan li .p-icon:hover {z-index: 10;}
.list .item .plan li .p-icon:hover img {display: block; cursor: default;}
.list .item .plan li a {position: relative; overflow: hidden; display: block;}
.list .item .plan li a span {float: left;}
.list .item .plan li a .p-tit {width: 40%;}
.list .item .plan li a .p-area {width: 10%;}
.list .item .plan li a .p-face {width: 20%;}
.list .item .plan li a .p-price {float: right; width: 30%; text-align: right;}
.list .item .plan li a .p-price strong {color: #f1370b; font-family: Georgia; font-size: 16px; font-weight: 500; vertical-align: 1px; margin-right: 3px;}
.list .item .plan li.lm {border: 0; text-align: right;}
.list .item .plan li.lm:hover {background-color: #fff;}
.list .item .plan li.lm a {display: inline-block;}

.list .empty {text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}

/* 分页 */
.pagination {padding: 10px 0 30px; text-align: center; line-height: 28px; font-size: 14px; color: #797a82; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#f2f3f7;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#797a82;}
.pagination li a:hover ,.pagination li.page_current span {background: #f1370b; color: #fff;}
.pagination li.page_more span {background: #fff;color: #797a82; cursor: default;}
.pagination .page_info {display: none;}


/* 分页 */
/*.pagination {padding-top: 25px; display: block;}
.pagination-pages {float: right;}
.pagination-pages a, .pagination-pages span {float: left; width: 28px; height: 28px; text-align: center; margin: 0 10px 0 0; text-align: center; line-height: 28px; font-size: 12px; cursor: pointer; color: #797a82; text-decoration: none;background: #f2f3f7;}
.pagination-pages .curr, .pagination-pages .interim {background-color: transparent; border-color: transparent; cursor: default;}
.pagination-pages .curr {color: #fff;background: #f1370b;}
.pagination-pages a:hover {color: #f1370b;}
.pagination-pages .prev {display: inline-block;}
.pagination-pages .prev,.pagination-pages .next{width: 60px!important;height: 28px!important;}
.pagination-pages .next {padding: 0 8px;}
.pagination-pages .prev.disabled,.pagination-pages .next.disabled{display: none;}*/
/* 侧栏 */
.sidebar {float: right; width: 230px; margin-left: 40px; font-size: 14px;margin-top: 40px;}
.sidebar .mapbox{width: 230px;height: 239px;margin-bottom:20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow: hidden;}
.sidebar .mapbox a{display: block;}
.sidebar .mapbox img{display: block;width: 100%;height: 200px;}
.sidebar .mapbox span{display: block;font-size: 14px;color:#fff;height: 39px;line-height: 39px;text-align: center;background-color: rgb(255, 177, 53);}
.sidebar .lp_box{margin-bottom: 20px;}
.sidebar .lp_box .lp_title{width: 218px;height: 36px;background-color:#f5f5f7;line-height: 36px;border-left:solid 4px #f1370b;padding-left:9px;font-size: 16px;color:#37383b;font-weight: bold;margin-bottom: 2px;}
.sidebar .lp_box ul{width: 228px;height: auto;border:solid 1px #ebebed;background-color:#fff;padding:15px 0;}
.sidebar .lp_box ul li{padding:6px 10px;}
.sidebar .lp_box ul li a{display: block;}
.sidebar .lp_box ul li:hover{background: #fafafa;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.sidebar .lp_box ul li:hover a{color:#2974ff;}
.sidebar .lp_box ul li p{font-size: 14px;color:#58595e;line-height: 30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sidebar .lp_box ul li p span{float: right;font-size: 12px;color:#9fa1ab;}
.sidebar .lp_box .lp_news a{font-size: 14px;color:#58595e;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sidebar .lp_box .lp_news a em{color:#878891;margin-right: 8px;}