.sale-detail .comtit{padding:25px 0 20px;font-size: 14px;color:#9fa0ab;}
.sale-detail .comtit .ftime{margin-right: 40px;}
/* 图集 */
.sale-detail .sale_slide {width: 510px; height: 542px;position: relative;float: left;margin-right: 60px;}
.w1200 .sale-detail .sale_slide {width: 710px;}
.sale-detail .sale_slide .album {position: relative; width: 710px;height: 450px; overflow: hidden;}
.sale-detail .sale_slide .album li {float: left; position: relative; width:100%;height: 450px;text-align: center;background-color: rgb(45, 47, 59);line-height: 450px;}

.sale-detail .sale_slide .album li a {display: block; text-align: center;}
.sale-detail .sale_slide .album li i{display: inline-block;height: 100%;vertical-align: middle;}
.sale-detail .sale_slide .album li img {max-width: 510px; max-height: 450px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.w1200 .sale-detail .sale_slide .album li img {max-width: 710px;}
.sale-detail .sale_slide .thumb {width: 710px;margin: 10px auto;position: relative;}
.sale-detail .sale_slide .plist {width:650px; height: 82px; overflow: hidden; margin: 0 auto;}
.sale-detail .sale_slide .plist ul{height: 82px;}
.sale-detail .sale_slide .plist li {float: left; width: 120px; height: 82px; margin:0 0 0 8px;position: relative;text-align: center;background-color: rgb(45, 47, 59);}
.sale-detail .sale_slide .plist i { display: block;position: absolute;top: 0;left: 0;bottom: 0;z-index: 999;background: rgba(0,0,0,.45);width: 100%;height: 100%;}
.sale-detail .sale_slide .plist a {position:relative;width: 120px;  overflow: hidden; outline: 0; text-align: center; text-decoration: none; display: block; cursor: pointer;}
.sale-detail .sale_slide .plist .on a {border-color: #fff;}
.sale-detail .sale_slide .plist .on a i{opacity: 0;}
.sale-detail .sale_slide .plist img {max-width: 100%; max-height: 100%; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.sale-detail .sale_slide .sprev, .sale-detail .sale_slide .snext {position: absolute; top:0;  height: 82px; width: 30px; line-height: 82px; overflow: hidden;background: rgba(0,0,0,.77);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c4000000,endColorstr=#c4000000);}
.pageState{position: absolute;bottom: 102px;right: 20px;height: 30px;line-height: 30px;text-align: center;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 16px;color:#fff;z-index: 9;}

.sale-detail .sale_slide .sprev {left: 0;}
.sale-detail .sale_slide .snext {right: 0;}
.w1200 .sale-detail .sale_slide .sprev {left: 0;}
.w1200 .sale-detail .sale_slide .snext {right: 0;}
.sale-detail .sale_slide .sprev i, .sale-detail .sale_slide .snext i {width: 11px;height: 11px;position: absolute;top:50%;margin-top: -6px;vertical-align: middle;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";}

.sale-detail .sale_slide .sprev i {left: 10px;border-bottom: 3px solid #fff;border-left: 3px solid #fff;}
.sale-detail .sale_slide .snext i {right: 10px;border-top: 3px solid #fff;border-right: 3px solid #fff;}
.sale-detail .sprev.prevStop i{border-bottom: 3px solid #f6f6f6;border-left: 3px solid #f6f6f6;cursor: default;}
.sale-detail .snext.nextStop i{border-top: 3px solid #f6f6f6;border-right: 3px solid #f6f6f6;cursor: default;}

.sale-detail .sale_slide .album li video{position: absolute;top:0;left:0;right: 0;bottom: 0;max-width: 100%;max-height: 100%;margin:auto;}
.sale-detail .sale_slide .album li iframe,.sale-detail .sale_slide .album li embed{width: 100%;height: 450px;border:0;}
.sale-detail .sale_slide .plist li s.splay{display: block;width: 30px;height: 30px;position: absolute;top:50%;left:50%;margin-top:-15px;margin-left:-15px;background:url(../images/small_play.png) no-repeat center center;background-size: cover;z-index: 999;}
.sale-detail .sale_slide .plist li s.svr{display: block;width: 36px;height: 36px;position: absolute;top:50%;left:50%;margin-top:-18px;margin-left:-18px;background:url(../images/small_vr.png) no-repeat center center;background-size: cover;z-index: 999;}


/* 说明 */
.param{float: left;width: 430px;}
.param .cprice{padding-bottom: 20px;border-bottom: solid 1px #e8e8e8;}
.param .cprice .sp_pri{font-size: 16px;color:#f1370b;font-weight: bold;display: inline-block;}
.param .cprice .sp_pri b{font-size: 50px;}
.param .cprice .d_pri{font-size: 14px;color:#9fa0ab;font-weight: bold;margin-left: 20px;}
.param .cprice .c_r{padding:10px 0;}
.param .cprice .c_r span{display: block;font-size: 16px;color:#212121;line-height: 27px;}
.param .cprice .c_r span b{font-size: 18px;}
.param .cprice .c_r .c_jsq{font-size: 14px;color:#4884ff;margin-left: 10px;}
.param .cprice .c_r .c_small{font-size: 12px;color:#9fa0ab;}
.param .intro_box{overflow: hidden;padding:35px 0;border-bottom: solid 1px #e8e8e8;}
.param .intro_box .inbox{float: left;width: 33.33%;}
.param .intro_box .inbox p{font-size: 20px;color:#1a1c21;font-weight: bold;}
.param .intro_box .inbox span{font-size: 14px;color:#2e323b;}
.param .info_txt{padding:25px 0;font-size: 14px;border-bottom: solid 1px #e8e8e8;}
.param .txt_top dl{overflow: hidden;width: 50%;float: left;padding:5px 0;}
.param .info_txt dt{float: left;color:#9fa0ab;width: 80px;}
.param .info_txt dd{float: left;color:#2e323b;}
.param .txt_other dl{overflow: hidden;padding:5px 0;}
.comAdd dd span{max-width: 310px;  float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.comAdd dd a{color:#4884ff;margin-left: 10px;float: left;}
/*负责人*/
.manager{padding:35px 0;}
.manager .topbox{overflow: hidden;}
.manager .l,.manager .r{float: left;}
.manager .l{margin-right: 7px;}
.manager .l img{width: 66px;height: 66px;border-radius: 50%;}
.manager .r h4{font-size: 18px;color:#1a1c21;font-weight: bold;margin-top: 10px;}
.manager .r .tip{margin-left: 7px;background-color: #f2f3f7;padding: 2px 5px;font-size: 12px;color:#87a3c4;margin-top:5px;font-weight: normal;}
.manager .r p i{margin:0 3px 0 0;}
.manbox{margin-top: 20px;}
.manbox a{display: block;position: relative;width: 98px;height:40px;line-height:40px;text-align:center;color:#f1370b;font-size:16px;border:solid 1px #ff4f57;background-color: #fff7f7;box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin: auto;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;float: left;margin-right: 15px;font-weight: bold;}
.manbox a:last-child{margin-right: 0;}
.manbox a.btnTel{width: 200px;height: 42px;background-color: rgb(241, 55, 11);box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);color:#fff;font-size: 18px;border:none;}
.manbox a.btnTel i{width: 16px;height: 16px;display: inline-block;background: url(../images/icon_tell.png) no-repeat center center;vertical-align: middle;margin-right: 3px;}
.mbox{padding:10px 10px 5px;position: absolute;bottom:60px;left:-35px;width: 140px;height: auto;background-color: #fff;-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13);box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13);border:solid 1px #f7f7f7;z-index: 100;display: none; -webkit-animation: topFadeIn .3s ease-out;-moz-animation: topFadeIn .3s ease-out;animation: topFadeIn .3s ease-out;}
.mbox img{display: block;width: 140px;height: 140px;margin:auto;}
.mbox s{position: absolute;bottom: -20px;left: 50%;margin-left:-10px;display: block;width: 0;height: 0;border: 10px solid transparent;-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.2246467991473532e-16, M21=-1.2246467991473532e-16, M22=-1, SizingMethod='auto expand')";border-bottom-color: #fff;
    filter: drop-shadow(0px -4px 3px #00000021)}
.mbox p{font-size: 14px;color:#3b3b3b;font-weight: normal;text-align: left;word-break: break-all;line-height: 24px;}
.mbox p i{display: inline-block;width: 20px;height: 20px;vertical-align: middle;margin-right: 5px;margin-top: -2px;}
.mbox p i.iwx{background:url(../images/icon_wx.png) no-repeat center center;background-size: cover;}
.mbox p i.iqq{background:url(../images/icon_qq.png) no-repeat center center;background-size: cover;}
.manbox a.btnWx:hover .mbox.wechat,.manbox a.btnQq:hover .mbox.qq{display: block;}
.manbox a.btnWx:hover,.manbox a.btnQq:hover{background-color: #fff;}

/* 导航 */
.sub-nav {position: relative; z-index: 100; height: 45px; margin-top: 30px;}
.sub-nav .wrap {position: relative; height: 43px;line-height: 43px; border-top: 2px solid #f1370b;background-color: #f7f7f7;}
.container .fixnav {position: absolute; left: 0; top: 0; right: 0;}
.container .fixed .fixnav {position: fixed;}
.sub-nav li {float: left;}
.sub-nav li a {display: block; padding: 0 28px; font-size: 16px;font-weight: bold;}
.sub-nav li a:hover{color:#f1370b;}
.sub-nav li.curr a {background-color: #f1370b; color: #fff;}


/* 内容 */
.sub-title {margin:50px auto 30px; height: 30px; line-height: 30px;font-size: 22px;font-weight: bold;color:#1a1c21;}
.content {font-size: 16px; line-height: 32px;color:#2e323b;position: relative;}
/*小区简介*/
.content .com_intro{width:220px;height:160px;}
.content .com_intro dl{line-height: 27px;height: 27px;font-size: 14px;overflow: hidden;}
.content .com_intro dl dt{width: 80px;color:#9fa0ab;float: left;}
.content .com_intro dl dd{color:#2e323b;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 140px;}
.content .com_intro dl.cpri dd{color:#f1370b;}
.content .com_intro dl.cpri dd b{font-size: 16px;}
.content .com_inf{position: absolute;top:-37px;left:260px;right:0;}
.content .com_inf .inf_box{margin-right: 20px;float: left;}
.content .com_inf .inf_box:last-child{margin-right: 0;}
.content .com_inf .inf_box p{font-size: 14px;font-weight: bold;color:#3b3b3b;margin-bottom: 5px;}
.content .com_inf a.c_detail{position: absolute;top:0;right:0;color:#9fa0ab;font-weight: normal;}
.content .com_inf a.c_detail:hover{color:#4884ff;}
.content .com_inf .imgbox{width: 220px;height: 160px;overflow: hidden;text-align: center;position: relative;}
.content .com_inf .imgbox a{display: block;}
.content .com_inf .imgbox img{position: absolute;top:0;left:0;right: 0;bottom: 0;max-width: 100%;max-height: 100%;margin:auto;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);}
.content .com_inf .imgbox:hover img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);-moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}


.empty {display: block; text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}


 /*全景看房&&视频看房*/
.quanjing .qjbox{width: 1200px;height: 680px;background-color: #1e1d1d;}
.quanjing .qjbox iframe,.quanjing .qjbox embed{width: 100%;height: 680px;border:0;}
.quanjing .qjbox video{width: 100%;height: 100%;}
/*附近房源*/
.salebox  ul li{width: 285px;height: 370px;float:left;margin-right:20px;-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.salebox  ul li:nth-child(4n){margin-right: 0;}
.salebox  ul li:hover{box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);}
.salebox  ul li a{display: block;}
.salebox  ul li .imgbox{width: 285px;height: 230px;overflow: hidden;position: relative;}
.salebox  ul li .imgbox img{position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);}
.salebox  ul li .imgbox img:hover{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);-moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.salebox .vrIcon{width:60px;height:60px;position: absolute;left:0;bottom:0;}
.salebox .vrIcon img{width:60px!important;height:60px!important;}
.salebox .viIcon{width:50px;height:50px;position: absolute;left:50%;top:50%;margin-top: -25px;margin-left:-25px;}
.salebox .viIcon img{width:50px!important;height:50px!important;}
.salebox  ul li .txtbox{padding:20px 0;}
.salebox  ul li .txtbox h4{font-size: 18px;color:#212121;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;line-height: 32px;}
.salebox  ul li:hover h4{color:#2974ff;}
.salebox  ul li .txtbox p{padding:0;line-height: 32px;}
.salebox  ul li .txtbox .pprice{font-size: 12px;color:#f1370b;font-weight: bold;}
.salebox  ul li .txtbox .pprice span{float: left;margin-right: 10px;}
.salebox  ul li .txtbox .pprice b{font-size: 20px;}
.salebox  ul li .txtbox .parea{font-size: 14px;color:#797a82;}
.salebox  ul li .txtbox .parea em{font-size: 12px;color:#d3d4de;margin:0 10px;}
