
.wrap {width: 1000px; margin: 0 auto;}
.w1200 .wrap {width: 1200px;}

a {color: #333; transition: all 0.1s; -moz-transition: all 0.1s; -webkit-transition: all 0.1s; -o-transition: all 0.1s;}
.adv ,.ad ,.tladv{overflow: hidden;}
.adv img ,.ad img ,.tladv img {display: block;width: 100%;}
.tladv img {margin:20px 0;}
.oh {position: relative;overflow: hidden;}
a.more:hover {text-decoration: underline;}
.aaa {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.picon {background-image:url(../images/public_icons.png);background-repeat:no-repeat;}
.picon-qq {background-position: -2px 0px;}
.picon-weixin {background-position: -6px -20px;}
.picon-weibo {background-position: -6px -40px;}
.picon-phone {background-position: -6px -60px;}
.picon-down {background-position: -2px -85px;}
.picon-down2 {background-position: -20px -94px;}
.picon-latest {background-position: 0 -103px;}
.picon-hui {background-position: 0 -126px;}
.picon-join {background-position: 0 -149px;}

/* 顶部信息 */
.topInfo {position: relative;height: 34px; line-height: 34px; margin-bottom: 16px; border-bottom: 1px solid #eee; background: #f5f5f5;color: #6c6c6c;z-index: 1002;}
.topInfo a {color: #6c6c6c;}
.topInfo a:hover {color: #ff6600;}
.topInfo .separ {color:#ddd;margin-left: 15px;}
.topInfo .regist {color: #ff6600;}
.topInfo .logint {float: left;}
.topInfo .loginbox .logint a {margin-right: 0;}
.topInfo .menu {float: right;}
.topInfo .menu li {position: relative;float: left;padding:0 8px;border-left: 1px solid transparent;border-right: 1px solid transparent;}
.topInfo .menu li .ewmbox {position: absolute;left:0;top:36px;margin-left: -90px;    border-radius: 4px; border: 1px solid #0087BD; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2); box-shadow: 0 0 10px rgba(0,0,0,.2);z-index: 100;display: none;}
.topInfo .loginbox {float: left;}
.topInfo .loginbox a {float: left;margin:0 10px 0 0;}
.topInfo .loginbox a:hover {text-decoration: underline;}
.topInfo .dropdown a {padding-left: 2px;}
.topInfo .dropdown .picon-down {display: inline-block;width: 8px;height: 5px;margin-left: 4px;vertical-align: middle;-webkit-transition:all .3s;transition:all .3s;}
.topInfo .submenu {display: none;position: absolute;top:35px;left:-1px;min-width: 82px; padding: 5px 0; border: 1px solid #ddd; border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;}
.topInfo li.user .submenu {min-width: 106px;}
.topInfo .submenu a {display: block;padding:0 10px;line-height: 26px;white-space:nowrap;}
.topInfo li:hover .picon-down {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.topInfo li.dropdown:hover {height: 35px;border-color: #ddd;background: #fff;}
.topInfo li:hover .submenu {display: block;}
.topInfo .submenu a:hover {}
.topInfo .picon {display: inline-block;width: 20px;height: 20px;margin:-4px 4px 0 0;*margin-top:0px;vertical-align: middle;}


/* 浮动菜单 */
.topInfo .pop {display: none; position: absolute; left: -38px; top: 34px; width: 170px; text-align: center; background: #fff; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px 0; -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.2); -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.2); box-shadow: 4px 4px 0 rgba(0,0,0,.2); color: #101010; font-size: 14px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.topInfo .pop s {position: absolute; top: -8px; left: 80px; width: 16px; height: 9px; background: url('/static/images/icons.png') -10px -591px;}
.topInfo .pop p {line-height: 20px;}
.topInfo .pop p a {padding: 0; background: none;}
.topInfo .pop p a img {display: block; margin: 0 auto;}

/* header */
.fixedwrap {height: 139px;margin:10px 0 30px;}
.fixedpane.fixed {position: fixed; height: 139px; width: 100%; top: 0; z-index: 1000; background-color: #fff;}
/*.header {margin-top: 10px;}*/
.header .logo {float: left;width: 270px;height: 61px;margin-top: 13px;}
.header .logo a {display: block;overflow: hidden;}
.header .logo h2 {float: left;line-height: 60px;font-size: 24px;color: #333;}
.header .logo img {float: left; height: 61px; margin-right: 10px;vertical-align: middle;}

.searchwrap {position: relative;float: right;width: 410px;height: 40px;line-height: 34px;margin: 25px 45px 0 0;background: #ffc001;z-index: 1001;}
.w1200 .searchwrap {width: 557px;}
.search {margin:3px 88px 3px 3px;background: #fff;*zoom:1;}
.search .type {float: left;width: 62px;border-right: 1px solid #ddd;}
.search .type a {font-size: 14px;color: #666;}
.search .type dl {position: relative;}
.search .type dl dt {height: 34px;text-align: center;}
.search .type dl em {display: inline-block;width: 0;height: 0;border:5px solid transparent;border-top-color: #666;vertical-align: middle;margin-left: 8px;transition: all .3s;}
.search .type dl.hover em {-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin: center 2px;transform-origin: center 2px;}
.search .type dd {display: none;position: absolute;top:34px;left:-3px;min-width: 62px; border: 3px solid #eeb300; border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;}
.search .type dl.hover dd {display: block;}
.search .type dd a {display: block;line-height: 30px;padding:0 10px;white-space: nowrap;}
.search .type dd a.active ,.search .type dd a:hover {background: #eeb300;color: #fff;}

.search .inputbox {position: relative;margin-left: 63px;overflow: hidden;}
.search .inpbox {margin:0 10px;height: 34px;}
.search .searchkey {width: 100%;height: 21px;margin:6px 0 7px;font-size: 14px;vertical-align: middle;}
.search .searchkey ,.search .searchkey:focus ,.search .searchkey:active ,.search .submit ,.search .submit:focus ,.search .submit:active {border:0;outline:0;background: none;}
.search .hotkey {position: absolute;right: 15px;top:0;max-width:270px;display: none;}
.w1200 .search .hotkey {display: block;}
.search .hotkey a {display: inline-block;float: right;height: 21px;line-height: 20px;margin: 6px 0 0 7px;padding:0 12px;background: #f0f0f0;color: #fff;font-size: 14px;color: #999;white-space:nowrap;border-radius:10px;-webkit-transition: all 0.2s; transition: all 0.2s;}
.search .hotkey.leave a {opacity:.5;}
.search .hotkey a:hover {background: #ffc001;color: #fff;}
.search .submit {position: absolute;right:0;top:0;display: block;width: 88px;height: 100%;text-align: center;font-size: 16px;color: #fff;cursor: pointer;}
.search .submit:hover {background: #F4C740;}

.header .kefu {float: right;}

/* 导航 */
.public_nav {position: relative;margin-top: 20px;height: 45px;/*margin-bottom: 30px;*/background: #ffc001;-moz-box-shadow: 0 5px 30px rgba(0,0,0,.1); -webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1);box-shadow: 0 5px 30px rgba(0,0,0,.1);z-index: 100;}
.mainnav li {position: relative;float: left;padding:0 12px;margin:0;}
.mainnav li a {color: #fff; display: block;}
.mainnav li .nav-m {position: relative;font-size: 18px;line-height: 45px;}
.mainnav li .nav-m i {position: absolute;left:50%;top:-14px;display: inline-block;width: 32px;height: 22px;}
.dropbox {margin: -11px -12px 0;border-top-left-radius: 4px;border-top-right-radius: 4px;}

.mainnav li dl {padding-top: 11px;}
.mainnav li dt {padding:0 12px;overflow: hidden;}
.mainnav li dd a {font-size: 16px;white-space: nowrap;}
.mainnav li dd {display: none;position: absolute;top:45px;left:0;min-width:100%;padding:8px 0 16px;background: #eeb300; background: rgba(238,179,0,0.95);border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;z-index: 10;}
.mainnav li dd a {display: block;line-height: 40px;padding:0 13px;}
.mainnav li dt .nav-m {float: left;}
.mainnav li .picon-down2 {display: inline-block;width: 11px;height: 6px;float: left;margin:20px 0 0 6px;-webkit-transition:all .3s;transition:all .3s;}
.mainnav li:hover ,.mainnav li:hover .dropbox {background: #eeb300; background: rgba(238,179,0,0.95);}
.mainnav li:hover dd {display: block;}
.mainnav li:hover .picon-down2 {-webkit-transform:rotate(180deg);transform:rotate(180deg);}

.mainnav li.mainnav li dd ,.hover .dropbox ,.mainnav li:hover ,.mainnav li:hover .dropbox {background: #eeb300;  background: rgba(238,179,0,0.95);}

.w1200 .mainnav li {margin:0 9px;padding:0 13px;}
.w1200 .dropbox {margin: -11px -13px 0;}
.w1200 .mainnav li dt {padding:0 13px;}

.nav .wrap {position: relative;}
.nav .changeSkin {position: absolute; right: -45px; bottom: 0; width: 45px; height: 45px; background: url("../images/changeSkin.png") no-repeat center center; cursor: pointer;}

.colorPicker{width:189px;height:170px;z-index:200; margin: -1px 0 0 -147px;}
.huoniao_color_general,.huoniao_color_senior{background:url(/static/images/ui/color_picker.png) no-repeat;width:189px;height:170px;position:absolute;-moz-box-shadow:0 1px 1px #F2F2F2;-webkit-box-shadow:0 1px 1px #F2F2F2;box-shadow:0 1px 1px #F2F2F2}
.huoniao_color_general .color_general{height:16px;margin:11px 7px 9px 11px}
.huoniao_color_general .color_list{height:70px;margin:0 7px 0 11px}
.huoniao_color_general .color_standard{height:16px;margin:13px 7px 8px 11px}
.huoniao_color_general strong{font-size:0;display:block;width:14px;height:14px;margin-right:3px;float:left;cursor:pointer}
.huoniao_color_general strong.selector span{font-size:0;display:block;width:10px;height:10px;margin:1px;border:1px solid #FFF}
.huoniao_color_general .set_general{padding-left:11px}
.huoniao_color_general .set_general .J_set_general{color:#105FBB;font-size:12px;display:inline-block;text-decoration:none;line-height:16px;background:url(/static/images/ui/color_picker.png) no-repeat -18px -172px;padding-left:18px}
.huoniao_color_general .set_general .no_color{display: inline-block;margin-left:30px;}
.huoniao_color_senior .color_panel{_display:inline;background:url(/static/images/ui/color_panel.png) no-repeat 0 -11px;width:143px;height:124px;margin:11px;position:relative;cursor:default;_zoom:1}
.huoniao_color_senior .color_panel span{font-size:0;background:url(/static/images/ui/color_panel.png) no-repeat;_background:none;display:block;width:9px;height:9px;position:absolute;cursor:default;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/static/images/ui/color_picker.png")}
.huoniao_color_senior .lightness_panel{width:13px;height:124px;position:absolute;top:11px;right:11px}
.huoniao_color_senior .lightness_panel span{font-size:0;display:block;height:2px;cursor:default}
.huoniao_color_senior .lightness_panel strong{font-size:0;display:block;background:url(/static/images/ui/color_picker.png) no-repeat -160px -172px;width:29px;height:7px;cursor:pointer;position:absolute;left:-8px;z-index:6}
.huoniao_color_senior .set_senior{position:absolute;bottom:11px;left:11px}
.huoniao_color_senior .set_senior a{font-size:0;display:block;background:url(/static/images/ui/color_picker.png) no-repeat 0 -172px;width:15px;height:15px}
.huoniao_color_senior .color_value{color:#666;font-family:Verdana;font-size:10px;position:absolute;right:9px;bottom:9px}
.huoniao_color_senior .color_value .current_color{font-size:0;display:inline-block;vertical-align:middle;*vertical-align:-5px;width:17px;height:17px;margin-right:1px}
.huoniao_color_senior .color_value input{color:#666;*vertical-align:middle;font-family:Verdana;font-size:10px;line-height:15px;width:45px;height:15px;margin-right:10px;margin-left:1px;padding:0;border:1px solid #BFBFBF}
.huoniao_color_senior .color_value input:focus{outline:none;-webkit-outline-radius:0}
.huoniao_color_senior .color_value button{background:url(/static/images/ui/color_picker.png) no-repeat -127px -172px;*vertical-align:-2px;width:29px;height:17px;border:0 none;padding:0}
.huoniao_color_senior .color_value button span{display:none}




/* 底部 */
.footer {margin-top: 80px;padding: 50px 0 30px; border-top: 3px solid #D8DBE5; background: #f5f5f5; font-size: 14px;}
.footer .f_logo {float: left;width: 185px; margin-top: 20px;}
.footer .mobile {float: right;width: 150px;}
.footer .links {width: 110%; overflow: hidden;}
.footer .about .links dl {width: 16%;float: left;}
.footer .about dt {position: relative;margin-bottom: 12px; padding: 5px 0 10px; font-size: 14px; color: #666;}
.footer .about dt s {position: absolute;bottom:0;left:0;width: 70px;height: 1px;background: #e1e1e1;}
.footer .about dd {line-height: 22px;margin-bottom: 3px;}
.footer a {color: #7C7C7C;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.footer a:hover {text-decoration: underline;}
.footer .about .links a {padding-right: 20px;}
.footer .mobile dt s {width: 150px;}
.footer .mobile .picon {display: inline-block;width: 28px;height: 28px;float: left;}
.footer .mobile dd {line-height: 28px;margin-bottom: 14px;}
.footer .mobile dd a:hover {text-decoration: none;}
.footer .mobile dd span {display: block;padding-left: 14px;font-size: 14px;background: #fff;overflow: hidden;}
.picon-iphone {background-position: -2px -172px;}
.picon-android {background-position: -2px -202px;}


.footer .frinedlink {padding-top: 30px; margin-top: 40px; border-top: solid 1px #E6E7EB; overflow: hidden; text-align: center;}
.footer .frinedlink .links {line-height: 2em;color: #999;}
/*.footer .frinedlink .links .box a {float: left; padding: 0 20px 0 10px; margin-left: -10px; border-left: solid 1px #999; margin-bottom: 15px; height: 12px; line-height: 12px; white-space: nowrap; overflow: hidden; color: #999;}*/


/* 第三方登陆授权后提示绑定手机号 */
#loginconnectInfo .mask , #loginconnectInfo .layer {display: block;}
#loginconnectInfo .mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 1003;}
/*弹出层*/
#loginconnectInfo .layer{position: fixed; top: 200px; left: 50%; background: #fff; z-index: 1004; border-radius: 4px; font-size: 16px; margin-left: -190px; text-align: center; padding: 24px 0 28px;}
#loginconnectInfo .layer-tit{padding-bottom: 15px;}
#loginconnectInfo .layer-tit span{padding: 0 0 0 30px; background: url(../images/layer_icon.png) left center no-repeat;}
#loginconnectInfo .layer-con{font-size: 16px; padding: 20px 50px; border-top: 1px solid #cbcbcb;}
#loginconnectInfo .layer-btn a{background: #1facee; color: #fff; border-radius: 4px; display: block; width: 120px; margin: 0 auto; line-height: 40px; height: 40px;}
