<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{#$integral_title#}</title>
<meta name="keywords" content="{#$integral_keywords#}" />
<meta name="description" content="{#$integral_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common-s.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/other.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$integral_channelDomain#}';
var criticalPoint = 1240, criticalClass = "w1200";
$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>

<body>
{#include file='_header.html' pageCurr=0#}
  <!-- 主体 s -->
  <div class="wrap success-info">
    {#if $state == 1#}
    <div class="box1"><i></i>礼品兑换成功！</div>
    {#else#}
    <div class="box1 error">礼品兑换失败！</div>
    {#/if#}
    <div class="suc-list">
      <ul class="head oh">
        <li class="w01 code">
          <span>订单号</span>
        </li>
        <li class="w02 num1">
          <span>商品名称</span>
        </li>
        <li class="w02 num2">
          <span>商品数量</span>
        </li>
        <li class="w02 integral">
          <span>商品费用</span>
        </li>
        <li class="w02 money">
          <span>运费</span>
        </li>
      </ul>
      <ul class="main oh">
        <li>
          <div class="w01 code">
            <span>{#$order_ordernum#}</span>
          </div>
          <div class="w02 num1">
            <span>{#$detail_title#}</span>
          </div>
          <div class="w02 num1">
            <span>{#$order_count#}</span>
          </div>
          <div class="w02 num2">
            <span>{#$order_price#}{#echoCurrency type='symbol'#} + {#$order_point#}{#$cfg_pointName#}</span>
          </div>
          <div class="w02 money">
            <span>{#$order_freight#}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="box2">
      <a href="{#$orderurl#}" class="link1">查看订单</a>
      <a href="{#$integral_channelDomain#}" class="link2">返回首页</a>
    </div>
  </div>
  <!-- 主体 e -->

  {#include file='_footer.html'#}

  <script type="text/javascript" src="{#$templets_skin#}js/common.js?v={#$cfg_staticVersion#}"></script>
  <script type="text/javascript" src="{#$templets_skin#}js/common-s.js?v={#$cfg_staticVersion#}"></script>
 </body>
</html>
