.input-control.compo-updown {
	border:1px solid #585858;
	border-radius:3px;
	background:#333;
	height:21px;
	width:120px;
	box-shadow:0 1px #222 inset
}
.input-control.compo-updown>input.input {
	width:80%;
	box-shadow:none;
	padding:3px 4px;
	border:0;
	margin:0;
	display:block;
	height:100%;
	background:transparent;
	font-size:14px
}
.input-control.compo-updown>.ticks {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	top:0;
	right:0;
	width:17px;
	height:100%;
	border-left:1px solid #222
}
.input-control.compo-updown>.ticks>.tick {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	width:16px;
	height:50%;
	background-color:#585858;
	box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset;
	font-size:0;
	line-height:0;
	cursor:pointer
}
.input-control.compo-updown>.ticks>.tick>i {
	opacity:.5;
	pointer-events:none;
	background:url(../../images/main.png) 0 0 no-repeat transparent;
	width:14px;
	height:11px;
	display:block
}
@media(min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.input-control.compo-updown>.ticks>.tick>i {
	background-image:url(../../images/main@2x.png);
	background-size:283px
}
}.input-control.compo-updown>.ticks>.tick.up>i {
	background-position:5px 3px
}
.input-control.compo-updown>.ticks>.tick.down>i {
	background-position:-15px 3px
}
.input-control.compo-updown>.ticks>.tick.up-max>i {
	background-position:5px 5px
}
.input-control.compo-updown>.ticks>.tick.down-max>i {
	background-position:-15px 5px
}
