@charset "utf-8";
.main-right {width: 240px;}
.main-left {padding-left: 260px; margin-bottom: 50px;}

/* 热门文章 */
.phb {margin-bottom: 20px;}
.phb h3 {margin-bottom: 8px;font-size: 18px;color: #333;}
.phb ul {padding:10px 15px 15px;border:1px solid #eaeaea;}
.phb li {position: relative;height: 34px;line-height: 34px;font-size: 14px;color: #333;}
.phb li i {position: absolute;left:0;top:8px;width: 18px;height: 20px;line-height: 20px;padding:0 2px 0 0;text-align: center;background:#bbb;color: #fff;}
.phb li i.height {background:#45c8a5;}
.phb li a {display: block;padding-left: 25px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.phb li a:hover {color: #ff6d01;}


.main-right .list-box{border: 1px solid #eeeeee; width: 238px;margin-bottom: 20px; font-size: 14px;}
.main-right .list-box .sub {padding: 5px 0;}
.main-right .list-box a {display: block;}
.main-right .list-box a:hover{color:#00af63;font-weight: bold;}
.main-right .list-box .selected{color:#00af63;font-weight: bold;}
.main-right .list-box .level1{background-color: #eeeeee;height: 41px; text-align: left; font-size: 16px; line-height: 41px;padding-left: 15px;color: #333}
.level1 a{color: #333}
.main-right .list-box .level2{padding-left: 9px;height: 38px;line-height: 38px;}
.main-right .list-box .level2 i {position:relative;cursor:pointer;float:left;width:14px; height:19px; margin: 9px 10px 0 0;}
.main-right .list-box .level2 i s {position:absolute; display: block; width: 0; height: 0; border-style: solid; border-width: 4px; right: 2px; top: 6px; border-color: transparent; border-right-width: 0; border-left-color: #7d7d7d;}
.main-right .list-box .level2.selected i s {right: 0px; top: 8px; border-bottom-width: 0px; border-top-color: #7d7d7d; border-left-color: transparent; border-right-width: 4px;}
.main-right .list-box .level2.curr a, .main-right .list-box .level3.curr a {color: #00af63;}
.main-right .list-box .level2.curr i s {border-left-color: #00af63;}
.main-right .list-box .level2.curr.selected i s {border-top-color: #00af63; border-left-color: transparent;}
.main-right .list-box .level3-box{width: 100%; display: none;}
.main-right .list-box .selected-level3-box{width: 100%;display: block;}
.main-right .list-box .level3{padding-left: 43px;height: 25px;line-height: 25px;}

/*广告*/
.adv {margin-top: 20px;}

/**** 左侧 ****/
.title {margin:20px 0;}
.title .bt {margin-bottom: 10px;font-size: 24px;color: #333;}
.title p {font-size: 14px;color: #999;}
.title p span {margin-right: 20px;}
.content {overflow: hidden;}
.content p {margin-top: 20px;line-height: 28px;font-size: 16px;color: #333;text-indent: 2em;}
.content img {display: block;margin:20px auto;max-width:100%;}

.shear {height: 28px;margin:20px 0;}
.bdsharebuttonbox {float: right;}
.goto {height: 23px;margin:20px auto;padding:10px 0;border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
.goto div {width: 50%;float: left;color: #666;font-size: 14px;}
.goto span {color: #333;float: left;margin-right: 5px;}
.goto a {display: block;float: left;width: 265px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.w1200 .goto a {width: 350px;}
/*相关推荐*/
.xgtj p {margin-bottom: 5px;font-size: 18px;color: #333;}
.list li {width: 50%;float: left;height: 30px;line-height: 30px;}
.list li a {font-size: 14px;color: #666;display: inline-block;width: 245px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.list li a:hover {color: #cd0000;}
.w1200 .list li a {width: 340px;}
.list li em {position: relative;top:2px;font-family: "宋体";font-size: 18px;color: #A9A9A9;}
.list li .t {float: right;margin-right: 20px;color: #999;}
