<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$info_title#}</title>
	<meta name="keywords" content="{#$info_keywords#}" />
	<meta name="description" content="{#$info_description#}" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/infor.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
	<script>
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$info_channelDomain#}', templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	</script>
</head>

<body  class='w1200'>
	{#include file="top.html"#}
	<div class="wrap body">
		<div class="FirstFloor fn-clear">
			<div class="NavList">
				<ul>
					{#info action="type" return='type'#}
					{#if $_bindex.type > 7 && $template == 'index'#}
					<li class="fn-hide">
					{#else#}
					{#if $_bindex.type == 7 #}
					<li class="bbnone">
					{#else#}
					<li>
					{#/if#}
					{#/if#}
						<a href="{#$type.url#}" class="name">{#$type.typename#}</a>
						<i class="arrow"></i>
						{#info action="type" return='subtype' type="{#$type.id#}" page="1" pageSize="2"#}
						<a href="{#$subtype.url#}" class="item">{#$subtype.typename#}</a>
						{#/info#}
						<div class="sub-category">
							<dl>
								<dt><h2 class="title"><a href="{#$type.url#}">{#$type.typename#}</a></h2></dt>
								<dd class="fn-clear">
									{#info action="type" return='subtype1' type="{#$type.id#}"#}
									<a href="{#$subtype1.url#}">{#$subtype1.typename#}</a>
									{#/info#}
								</dd>
							</dl>
						</div>
					</li>
					{#/info#}
				</ul>
				{#if $template == 'index'#}<div class="more"><i></i></div>{#/if#}
			</div>
			<div class="slideBox">
	            <div class="slidewrap">
	                <div class="slide">
	                    <div class="bd">
	                        <div class="slideobj">{#myad id="71" type="slide"#}</div>
	                    </div>
	                    <div class="hd"><ul></ul></div>
	                </div>
	            </div>
	        </div>
			<div class="sale">
				<div class="sale_lead">最新推荐</div>
				<div class="sale_list">
					{#info action="ilist" return="ilist" rec="1" pageSize="4"#}
					<div class="salebox fn-clear"><a href="{#$ilist.url#}" title="{#$ilist.title#}" target="_blank">
						{#if $ilist.litpic != ""#}
						<div class="sale_pic"><img src="{#changeFileSize url="{#$ilist.litpic#}" type="small"#}" alt="">{#if $ilist.video#}<s><img src="{#$templets_skin#}images/play.png" /></s>{#/if#}</div>
						{#/if#}
						<div class="sale_title">{#$ilist.title#}</div>
						<div class="sale_member">
							{#if $ilist.member.photo != "" && $ilist.member.photo != undefined#}
							<div class="member_pic"><img src="{#$ilist.member.photo#}" alt=""></div>
							<div class="member_name">{#$ilist.member.nickname#}</div>
							{#/if#}
						</div>
						{#if $ilist.price == 0#}
						<div class="sale_price">售价: <em>面议</em></div>
						{#else#}
						<div class="sale_price">售价: {#echoCurrency type='symbol'#}<em>{#$ilist.price#}</em></div>
						{#/if#}
					</a></div>
					{#/info#}
				</div>
			</div>
		</div>
		<div class="SecondFloor">
			<div class="PublicHead fn-clear"><div class="PH_Title">最新发布</div></div>
			<div class="ViewBox">
				<div class="NewList fn-clear">
					{#info action="ilist" return="ilist" orderby="1" pageSize="20"#}
					<div class="NewBox"><a href="{#$ilist.url#}" title="{#$ilist.title#}" target="_blank">
						{#if $ilist.litpic != ""#}
						<div class="NB_pic"><img src="{#changeFileSize url="{#$ilist.litpic#}" type="small"#}" alt="">{#if $ilist.video#}<s><img src="{#$templets_skin#}images/play.png" /></s>{#/if#}</div>
						{#else#}
						<div class="NB_pic"><img src="{#$templets_skin#}images/picnone.png" alt="">{#if $ilist.video#}<s><img src="{#$templets_skin#}images/play.png" /></s>{#/if#}</div>
						{#/if#}
						{#if $ilist.member.mtype == 1#}
						<div class="NewTips"></div>
						{#/if#}
						{#if $ilist.member.mtype == 2#}
						<div class="NewTips1"></div>
						{#/if#}
						<div class="NewInfo">
							<div class="NewTitle">{#$ilist.title#}</div>
							<div class="NewFoot fn-clear">
								<div class="Newfrom">来自<em>{#$ilist.address#}</em></div>
								{#if $ilist.price == 0#}
								<div class="NewPrice"><em>面议</em></div>
								{#else#}
								<div class="NewPrice">{#echoCurrency type='symbol'#}<em>{#$ilist.price#}</em></div>
								{#/if#}
							</div>
						</div>
					</a></div>
					{#/info#}
				</div>
				<div class="BtnBox">
					<a href="javascript:;" class="prev"></a>
					<a href="javascript:;" class="next"></a>
				</div>
			</div>
		</div>
		{#info action="type" return='type' pageSize="5"#}
		<div class="SecondFloor">
			<div class="PublicHead fn-clear">
				<div class="PH_Title">{#$type.typename#}</div>
				<div class="PH_type">
					<div class="more"><a href="{#getUrlPath service='info' template='list' typeid = {#$type.id#}#}" target="_blank">更多<i></i></a></div>
					<div class="TypeList">
						{#info action="type" return='subtype' type={#$type.id#} page="1" pageSize="5"#}
						<a href="{#getUrlPath service='info' template='list' typeid = {#$subtype.id#}#}">{#$subtype.typename#}</a>
						{#/info#}
					</div>
				</div>
			</div>
			<div class="NewList fn-clear">
				{#info action="ilist" return="ilist"  typeid={#$type.id#} pageSize="4"#}
				<div class="NewBox"><a href="{#$ilist.url#}" title="{#$ilist.title#}" target="_blank">
					{#if $ilist.litpic != ""#}
					<div class="NB_pic"><img src="{#changeFileSize url="{#$ilist.litpic#}" type="small"#}" alt="">{#if $ilist.video#}<s><img src="{#$templets_skin#}images/play.png" /></s>{#/if#}</div>
					{#else#}
					<div class="NB_pic"><img src="{#$templets_skin#}images/picnone.png" alt="">{#if $ilist.video#}<s><img src="{#$templets_skin#}images/play.png" /></s>{#/if#}</div>
					{#/if#}
					<div class="NewInfo">
						<div class="NewTitle">{#$ilist.title#}</div>
						<div class="NewFoot fn-clear">
							<div class="Newfrom">来自<em>{#$ilist.address#}</em></div>
							{#if $ilist.price == 0#}
							<div class="NewPrice"><em>面议</em></div>
							{#else#}
							<div class="NewPrice">{#echoCurrency type='symbol'#}<em>{#$ilist.price#}</em></div>
							{#/if#}
						</div>
					</div>
				</a></div>
				{#/info#}
			</div>
		</div>
		{#/info#}
	</div>

{#include file='../../siteConfig/public_foot_v3.html' module='info' theme='gray'#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
