.btop {padding: 25px 0;}

/* 进度 */
.process {float: right; width: 639px; height: 30px; margin-top: 20px; background: url('../images/progress.png') no-repeat top;}
.process.p2 {background-position: 0 -31px;}
.process.p3 {background-position: 0 -62px;}
.process li {float: left; width: 213px; height: 30px; line-height: 30px; font-size: 14px; color: #666; text-indent: 20px;}
.process li strong {padding-right: 5px; font-size: 16px; font-weight: 500;}
.process li.curr {color: #fff; font-size: 18px;}
.process li.curr strong {font-size: 18px;}

.swrap {padding: 40px 80px 50px; margin-bottom: 50px; background: #fafafa;}
.s-title {position: relative; padding: 0 0 0 70px; font-size: 35px; font-weight: 700; list-style: 40px;}
.s-title small {display: block; font-size: 14px; color: #666; font-weight: 500;}
.s-title s {position: absolute; left: 0; top: 3px; width: 50px; height: 50px; background: url('../images/icon-status.png') no-repeat;}
.success s {top: 5px; background-position: 0 -367px;}

.s-con {padding-top: 35px; font-size: 16px; color: #666;}
.s-con p {padding: 5px 0;}
.s-con a {color: #73adc9;}
.s-con a:hover {text-decoration: underline;}
.s-con .price {color: #ff667f;}
.s-con em {padding: 0 5px; color: #ccc; font-size: 14px;}

.s-con .prolist {position: relative; padding-left: 80px;}
.s-con .prolist strong {position: absolute; left: 0; top: 5px;}

.m-pop {position: relative; display: inline-block; margin-top: 5px; border: 1px solid #cbcbcb; background-color: #fff; padding: 10px 13px;}
.m-pop s, .m-pop i {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.m-pop s {border-width: 7px; left: 215px; top: -8px; border-top-width: 0; border-bottom-color: #cbcbcb;}
.m-pop i {border-width: 6px; top: 1px; left: -6px; border-top-width: 1px; border-bottom-color: #fff;}
.m-pop p {font-size: 12px; line-height: 25px; padding: 0;}
