<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  cityList = {#$cityList#},
	modelType = "homemaking", adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="user">对应会员：</label></dt>
    <dd style="position:static;">
      <input class="input-medium" type="text" name="user" id="user" value="{#$usernames#}" autocomplete="off" />
      <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
      <span class="input-tips"><s></s>请输入网站对应会员名</span>
      <div id="userList" class="popup_key"></div>
      <div id="userPhone"></div>
    </dd>
  </dl>
  <dl id="companyInfo" class="clearfix">
    <dt><label for="zjcom">家政公司：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="zjcom" id="zjcom" value="{#$zjcom#}" autocomplete="off" />
      <input type="hidden" name="comid" id="comid" value="{#$comid#}" />
      <span class="input-tips"><s></s>请选择所在家政公司</span>
      <div id="comList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
