@charset "utf-8";

/*栏目标题*/
.top-bt {height: 34px;padding-bottom: 25px;}
.top-bt strong {float: left;font-family: "microsoft yahei";font-size: 22px;color: #333;font-weight: normal;}
.top-bt span.fn-right {font-size: 16px;line-height: 32px;color: #424242;}
.top-bt .btn {display:inline-block;float: left;width:34px;height: 24px;border:1px solid #ccc;margin-left: -1px;}
.top-bt .linkall a {font-family: "microsoft yahei";}
.top-bt .linkall {margin-left: 10px;}
.top-bt .linkall i {position: relative;top: 3px;*top:0;display:inline-block;width:20px;height:20px;background: url(../images/allbg.png) -69px 0px; no-repeat;-webkit-transition: all 0.1s linear;transition: all 0.1s linear;}
.top-bt .linkall:hover i {background-position:-49px 0px;}

.product-item-c3 ,.product-time-c3 {-webkit-transition: all 0.2s linear;transition: all 0.2s linear;}
.product-item-c3:hover{z-index: 2;-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);box-shadow: 0 15px 30px rgba(0,0,0,0.1);-webkit-transform: translate3d(0, -2px, 0);transform: translate3d(0, -2px, 0)}

.left-ad li:hover {z-index: 2;-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);box-shadow: 0 15px 30px rgba(0,0,0,0.1);-webkit-transform: translate3d(0, -4px, 0);transform: translate3d(0, -4px, 0)}
.product {height:630px;}
li .pic img  , .figure img {margin-left:auto;margin-right:auto;}
li .name {height:22px;line-height: 22px;font-size: 14px;font-weight: 400;}
li .name a {font-size: 14px; color: #212121;}
li .desc {height: 18px;font-size: 12px;_zoom: 1;color: #b0b0b0;}
li .price {margin: 0;color: #fe5050;font-size: 18px;font-family:"microsoft yahei";}
li .name , li .price , li .desc {margin-bottom:8px;padding: 0 20px;overflow: hidden;}


/*banna轮播图*/
#slideBox {position: relative;height:460px;}
#slideBox .wrap {position: relative;height:0;}
.slideBox .hd {height: 15px;position: absolute;left:0;top: 430px;width:100%;text-align:center;z-index: 1;}
.slideBox .hd ul li {display:inline-block;margin-right: 5px;width: 12px;height: 12px;background: #416278;cursor: pointer;border-radius:6px;}
.slideBox .hd ul li.on {background:#c61936;}
.slideBox .bd {position: relative;left: 50%;margin-left: -960px;height: 460px;overflow: hidden;z-index: 0;}
.slideBox .hd ul {overflow: hidden;}
.slideBox .bd ul {height:460px;overflow: hidden;}
.slideBox .bd li {float: left;zoom: 1;vertical-align: middle;}
.slideBox .bd li span {display: none;}
.slideBox .bd li img {width:1920px;height: 460px;}
.slideBox .prev, .slideBox .next {position: absolute;left:260px;bottom: 195px;margin-top: -25px;display: block;width: 32px;height: 40px;background: url(../images/slider-arrow.png) -110px 5px no-repeat;filter: alpha(opacity=0);opacity: 0;}
.slideBox:hover .prev, .slideBox:hover .next  {filter: alpha(opacity=50);opacity: 0.5;}
.slideBox .next {left: auto;right: 30px;background-position: 8px 5px;}
.slideBox .prev:hover, .slideBox .next:hover {filter: alpha(opacity=100);opacity: 1;}


/*产品排序*/
#product_sort {height: 170px;margin-top: 25px;}
#product_sort .sort {width:230px;height:170px;float: left;background:#5f5750;}
#product_sort .sort .text {padding:10px 25px;font-size:14px;}
#product_sort .sort .text p {height: 28px;line-height: 28px;}
#product_sort .sort .text a {color:#cfcdcb;}
#product_sort .sort .text .bt {color:#fff;margin-bottom:8px;}
#product_sort ul {position: relative; overflow: hidden; height: 170px;}
#product_sort ul li {position: relative;float: left;width:241px;height: 170px;margin-left:15px;overflow: hidden;-webkit-transition: -webkit-box-shadow 0.2s linear;transition: box-shadow 0.2s linear;}
.w1200 #product_sort ul li {width:308px;}
#product_sort ul li img {position: absolute;width:308px;height:170px;left:50%;margin-left:-154px;}
.shadow-item:hover {-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);box-shadow: 0 15px 30px rgba(0,0,0,0.1)}

/*精品推荐 s*/
.main {margin-top:25px;}
.picScroll-left{overflow:hidden; position:relative;}
.picScroll-left .hd{ overflow:hidden;  height:0; background:#f4f4f4; padding:0 10px;}
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1;}
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll-left .hd ul li.on{ background-position:0 0;}
.picScroll-left .bd ul{width: 99999px;height:330px;overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{width:228px;height:330px;float:left; _display:inline; overflow:hidden; text-align:center;background: #fafafa;margin-right:28px;-webkit-transition: -webkit-box-shadow 0.2s linear;transition: box-shadow 0.2s linear;}

#recommend2 .picScroll-left .bd ul li {background: #fff;}
#recommend2 .picScroll-left {margin-top:0;}
.picScroll-left .bd ul li .pic{display: block;margin: 20px auto 25px; text-align:center; }
.picScroll-left .bd ul li .pic img{ width:160px; height:160px; display:block;}
.w1200 .picScroll-left .bd ul li {margin-right:15px;}
.recommend .prev , .recommend .next {display:block;width:34px;height:24px;cursor: pointer;}
.recommend .prev i,.recommend .next i{ display:block;  width:8px; height:13px; float:right; margin-right:14px; margin-top:6px;  overflow:hidden;background:url("../images/allbg.png") no-repeat;}
.recommend .next i{ background-position:-9px 0px;  }
.recommend .next:hover i {background-position:-17px 0px;}
.recommend .prev i{ background-position:-33px 0px;  }
.recommend .prev:hover i {background-position:-25px 0px;}
.recommend .prevStop{ background-position:-60px 0; }
.recommend li:hover .inner {margin-top:-5px;}

/*精品推荐 e*/

/**/
.mainListBox {width:100%;background: #f5f5f5;}
#mainlist-first {margin-top:25px;}
.mainListBox .top-bt {padding:30px 0 22px 0;overflow: hidden;}
#mainlist-first .top-bt {padding-top:45px;}
.integral-peo .top-bt ,.integral-new .top-bt {padding-top:45px;}
.mainListBox .top-bt .link a {font-family: "microsoft yahei";font-size: 16px;color: #424242;padding:6px 0;margin-left:5px;margin-right: 10px;}
.mainListBox .top-bt .link {margin-top: 4px;}
.w1200 .mainListBox .top-bt .link a {margin-left:20px;}
.mainListBox .top-bt .link a:hover {color: #fe5050;border-bottom: 2px solid #fe5050;}


.left-ad {width:230px;float: left;}
.left-ad li a {display: block;}
.left-ad li a img {width:230px;height:300px;}
.left-ad ul li {margin-bottom:15px;-webkit-transition: all 0.2s linear;transition: all 0.2s linear;}
.product-list-box {width:770px;float: left;}
.w1200 .product-list-box {width:970px;}
.product-list-box ul li {position: relative; width: 182px;height: 300px;margin-left:10px;margin-bottom:15px;float: left;text-align: center;background:#fff;overflow: hidden;}
.w1200 .product-list-box ul li {width: 228px;margin-left: 14px;}
.product-list-box ul li.product-item2 {height:142px;}
.product-list-box ul li.product-item2 img {height:80px;}
.product-list-box ul li.product-item2 .left {width:55%;float: left;margin:31px auto 31px;}
.product-list-box ul li.product-item2 .left p {padding:0 0 0 10px;}
.w1200 .product-list-box ul li.product-item2 .left p {padding:0 0 0 35px;}
.product-list-box ul li.product-item2 .figure {width:45%;float: left;margin:31px auto 31px;}
.product-list-box ul li.product-item2 .left, .product-list-box ul li.product-item2 .figure {-webkit-transition: all 0.2s linear;transition: all 0.2s linear;}
.product-list-box ul li .figure {position: relative; display:block;height: 160px;overflow: hidden;margin:25px auto 22px;}
#getmore {overflow: hidden;}
#getmore .left2 ,.product-list-box ul li.product-item2 .figure2 {margin-top:52px;}
#getmore .figure2 {width: 48px;height: 48px;margin-right: 12px;float: right;background:url(../images/allbg.png) -89px 0px no-repeat;-webkit-transition: all 0.1s linear;transition: all 0.1s linear;}
.w1200 #getmore .figure2 {margin-right: 40px;}
#getmore .left a {display: block;font-size: 18px;color: #333;padding-left: 10px;}
.w1200 #getmore .left a {padding-left: 25px;}
#getmore .figure a {width:48px;height: 48px;}
#getmore:hover .figure2 {margin-right:7px;}
.w1200 #getmore:hover .figure2 {margin-right: 35px;}
#getmore .left2 a small {display: block;font-size: 12px;color: #757575;}
.product-list-box ul li img {display:block;width:160px;min-height: 160px;}
.product-list-box ul li.product-item2 .figure img {width:auto;}
.product-list-box ul li p {margin-bottom: 5px;padding: 0 10px;overflow: hidden;}
.product-list-box ul li .title {height: 20px;}
.product-list-box ul li .title a {font-size: 14px; color:#333;height: 27px;font-weight: 600;}
.product-list-box ul li .price {height: 28px;font-size: 18px;color: #fe5050;font-family: "microsoft yahei";}
.product-list-box ul li .integral-vou {font-size: 12px;color: #b0b0b0;}
.product-list-box ul li .ab {position: absolute;left:0;bottom:0;width:100%;height: 0;background: #fe7373;text-align:left;opacity:0;transition: all .1s;-moz-transition: all .1s;-webkit-transition: all .1s;	-o-transition: all .1s;}
.product-list-box ul li .ab .txt {font-family: "SimSun";font-size: 12px;color:#fff;padding:6px 14px 0;height: 34px;overflow: hidden;}
.product-list-box ul li .ab .price-ab {font-family:"Arial";color:#fcc0c0;padding:0 14px;height: 18px;line-height: 18px;}
.product-list-box ul li .ab .price-ab-y {float:left;}
.product-list-box ul li .ab .price-vou {float:right;}
.product-list-box ul li .abtop {position: absolute;top:0;left:0;width:100%;height:20px;padding:0 0;text-align: center;}
.product-list-box ul li .abtop .flat {margin:0 2px;padding:2px 12px;line-height: 20px;color: #fff;}
.product-list-box ul li .abtop .flat-postfree {background-color: #ffac13;}
.product-list-box ul li:hover .ab {height:68px;opacity:1;}


/*积分新品*/
.product-list-box2 ul {height: 360px;}
.product-list-box2 ul li.product-item {width:242px;height: 360px;float:left;margin-right:10px;background: #fff;overflow: hidden;}
.w1200 .product-list-box2 ul li.product-item {width:288px;margin-right: 16px;}
.product-list-box2 ul li.last {margin-right: 0!important;}
.product-list-box2 ul li.product-item .pic {display:block;margin-bottom:15px;height: 220px;overflow: hidden;}
.product-list-box2 ul li.product-item .name a {font-size: 14px;}
.integral-peo .product-list-box2 ul li.product-item p {padding-left:25px;}
.integral-peo .pic img {width:100%;min-height:220px;}

.integral-new .product-list-box2 ul li.product-item {text-align: center;}
.integral-new .product-list-box2 ul li.product-item .price {padding-top:30px;}
#innerSlide .bd {width:242px;height:360px;overflow: hidden;}
.w1200 #innerSlide .bd {width:288px;}
#innerSlide dl dd {height: 360px;float: left;width:242px;}
.w1200 #innerSlide dl dd {width:288px;}
#innerSlide .pic {margin:20px auto 15px;height: 160px;overflow: hidden;}
#innerSlide .pic img {width:160px;min-height:160px;}
#innerSlide .product-item {position: relative;}
#innerSlide .hd {position: absolute;left:0;bottom:15px;width:242px;height:30px;background: #fff;z-index: 10;}
.w1200 #innerSlide .hd {width:288px;}
.product-list-box2 .xm-pagers {height:30px;display:inline-block;*width:136px;margin-left:auto;margin-right:auto;}
.xm-pagers li {display:inline-block;float:left;width: 10px;height: 10px;padding: 10px;margin: 0 2px;cursor: pointer;}
.xm-pagers .dot {display: block;width: 6px;height: 6px;border: 2px solid #f5f5f5;border-radius: 6px;text-align: left;text-indent: -9999em;overflow: hidden;_zoom: 1;background-color: #b0b0b0;-webkit-transition: all 0.5s;transition: all 0.5s;}
.dot {border-color: #fff;}
.on .dot, .dot:hover {border-color: #ff6700;background-color: #f5f5f5;background-color: transparent;}
#innerSlide .control{position: absolute;width: 20px;height: 24px;padding: 12px 0;font-size: 18px;line-height: 24px;opacity: 0;filter: alpha(opacity=0)\9;-webkit-transition: all 0.6s;transition: all 0.6s;background-color: #b0b0b0;z-index: 10;zoom:1;}
#innerSlide .prev {left:0;top:-160px;}
#innerSlide .next {right:0;top:-160px;}
#innerSlide .control i {display:block;width:8px;height:13px;px;position:absolute;left:6px;top:20px;}
#innerSlide .prev i {background: url(../images/allbg.png) -41px 0px no-repeat;}
#innerSlide .next i {background: url(../images/allbg.png) -1px 0px no-repeat;}
#innerSlide li:hover .control {opacity: 0.5;filter: alpha(opacity=60)\9;}
#innerSlide li .control:hover {background-color: #757575;background-color: rgba(66,66,66,0.6);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99424242", endColorstr="#99424242")\9opacity: 1;filter: alpha(opacity=100)\9;}
