<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][3][15]#}{#* 邮箱绑定 *#} - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/bindemail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][3][15]#}  {#* 邮箱绑定 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">
		<div class="main">

			<div class="replay{#if $state == 0#} error{#else#} success{#/if#}">
				<p>{#$content#}</p>
				{#if $state == 1#}<p><br /><small>{#$langData['siteConfig'][23][25]|replace:'1':'<span id="timeover">5</span>'#}</small></p>{#/if#}{#*  1秒后回到会员中心首页！ *#}
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
var secs = 5; //倒计时的秒数
var URL;
function LoadTime(url){
  URL = url;
  for(var i=secs; i>=0; i--){
    window.setTimeout('doUpdate(' + i + ')', (secs-i) * 1000);
  }
}
function doUpdate(num){
  document.getElementById('timeover').innerHTML = num;
  if(num == 1) {window.location=URL;}
}
LoadTime('{#$member_userDomain#}');
</script>
</body>
</html>
