<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['siteConfig'][16][123]#}-{#$cfg_webname#}</title>{#*  商家入驻基本资料  *#}
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}';
    </script>
    <style>
        .banner {min-width: 1200px; text-align: center; margin-top: -16px;}
        .banner img {position: relative; left: 50%; width: 1920px; height: 300px; display: block; margin: 0 auto 0 -960px;}

        .main {position: relative; z-index: 2; margin-top: -45px; background: #fff; border: 1px solid #f6f6f6; box-shadow: 0px 0px 16px 0px rgba(177, 177, 177, 0.26); padding: 30px 0;}
    </style>
</head>

<body class="w1200">
{#include file="../siteConfig/top1.html"#}

<div class="banner"><img src="{#$templets_skin#}images/enter_banner.jpg" /></div>

<div class="wrap">
    <div class="main">
        {#* 实际页面，主要用于企业会员中心共同使用 *#}
        {#include file="business-config-form.html"#}
    </div>
</div>

{#include file="../siteConfig/public_foot_v3.html" theme='gray'#}
</body>
</html>