<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['siteConfig'][18][52]#}</title>{#* 商户认领 *#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../siteConfig/default/css/index_public.css?v=2" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/claim.css?v=7" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', redirectUrl = '{#$redirectUrl#}', site = '{#$site#}';
</script>
</head>
<body>

  {#include file="../siteConfig/top1.html"#}

  <!-- banner s -->
  <div class="banner"></div>
  <!-- banner e -->

  <div class="wrap">
    <div class="step">
      <div class="step1 fn-clear">
        <dl class="fn-clear step1">
          <dt>1</dt>
          <dd class="dd-txt">
            <p class="title">{#$langData['siteConfig'][18][53]#}</p>{#* 查找商户 *#}
            <p class="desc">{#$langData['siteConfig'][18][54]#}</p>{#* 输入商户名点击搜索，找到您要认领的商户点击“我要认领” *#}
          </dd>
          <dd class="arrow"></dd>
        </dl>
        <dl class="fn-clear step2 active">
          <dt>2</dt>
          <dd class="dd-txt">
            <p class="title">{#$langData['siteConfig'][18][55]#}</p>{#* 提交资料 *#}
            <p class="desc">{#$langData['siteConfig'][18][56]#}</p>{#* 填写企业资质信息、认领人信息，上传加盖企业公章的认领授权书 *#}
          </dd>
          <dd class="arrow"></dd>
        </dl>
        <dl class="fn-clear step3">
          <dt>3</dt>
          <dd class="dd-txt">
            <p class="title">{#$langData['siteConfig'][26][74]#}</p>{#* 等待审核 *#}
            <p class="desc">{#$langData['siteConfig'][18][57]#}|replace:'1':3</p>{#* 我们将于1个工作日内审核完毕，并发送短信和站内消息通知 *#}
          </dd>
          <dd class="finish">{#$langData['siteConfig'][6][3]#}</dd>{#* 完成 *#}
        </dl>
      </div>
    </div>
    <div class="box">
      <div class="module module-1">
        <form class="search fn-clear" action="" method="post">
          <input type="text" name="" value="" placeholder="{#$langData['siteConfig'][18][58]#}" class="search-inp">{#* 请输入您要认领的商户名 *#}
          <input type="submit" name="" value="" class="search-btn">
        </form>
        <div class="search-list">
          <p class="search-tit"><em class="gray">{#$langData['siteConfig'][18][59]|replace:'1':2 #}</em>{#$langData['siteConfig'][23][127]#}</p>
          <ul class="result">
            <li>
              <div class="txtbox">
                <p class="name">中茵皇冠假日酒店圣汐西餐厅1</p>
                <p><em class="gray">{#$langData['siteConfig'][19][56]#}：</em>400-800-8820</p>
                <p><em class="gray">{#$langData['siteConfig'][18][60]#}：</em><span class="address">苏雅路135号天翔花园商业街</span></p>{#* 营业地址 *#}
              </div>
              <a href="javascript:;" class="btnbox">{#$langData['siteConfig'][18][61]#}</a>{#* 我要认领 *#}
            </li>
            <li>
              <div class="txtbox">
                <p class="name">中茵皇冠假日酒店圣汐西餐厅2</p>
                <p><em class="gray">{#$langData['siteConfig'][19][56]#}：</em>400-800-8820</p>
                <p><em class="gray">{#$langData['siteConfig'][18][60]#}：</em><span class="address">苏雅路135号天翔花园商业街</span></p>
              </div>
              <a href="javascript:;" class="btnbox">{#$langData['siteConfig'][18][61]#}</a>{#* 我要认领 *#}
            </li>
          </ul>
        </div>
      </div>
      <div class="module module-2 fn-hide">
        <p class="module-h1"><em class="blue">中茵皇冠假日酒店圣汐西餐厅3</em>{#$langData['siteConfig'][18][60]#}：厦门市软件园二期观日30号405单元B区</p>
        <form class="form-box" action="" method="post">
          <div class="module-box">
            <p class="module-tit"><em class="circle"><i></i></em>{#$langData['siteConfig'][18][62]#}</p>{#* 填写企业资质信息 *#}
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][63]#}</dt>{#* 企业注册名称 *#}
              <dd><input type="text" name="company" value="中茵皇冠假日酒店圣汐西餐厅" class="inp" placeholder="" id="company"><span class="error">{#$langData['siteConfig'][18][64]#}</span></dd>{#* 请输入企业注册名称 *#}
            </dl>
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][65]#}</dt>{#* 资质类型 *#}
              <dd class="select">
                <p class="select-tit"><span>{#$langData['siteConfig'][19][187]#}</span><em></em></p>{#* 营业执照 *#}
                <ul class="select-ul">
                  <li>营业执照1</li>
                  <li>营业执照2</li>
                  <li>营业执照3</li>
                  <li>营业执照4</li>
                  <li>营业执照5</li>
                  <li>营业执照6</li>
                  <li>营业执照7</li>
                </ul>
              </dd>
            </dl>
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][66]#}</dt>{#* 上传资质照片 *#}
              <dd>
                <div class="uploadBtn">
                  <div class="inp-zizhi">
                    <span class="add"></span>
                    <div class="btn">
                      <a href="javascript:;" class="upload-txt">{#$langData['siteConfig'][6][126]#}</a>{#* 上传 *#}
                      <input type="file" name="Filedata" value="" accept=".gif,.jpeg,.jpg,.png" class="upload-img" id="up_zizhi">
                      <input type="hidden" name="" value="" id="zizhi">
                    </div>
      							<ul class="uploader-list"></ul>
                    <div class="upload-bg">
                      <i class="bg"></i>
                      <div class="btn">
                        <a href="javascript:;" class="upload-txt">{#$langData['siteConfig'][6][59]#}</a>{#* 重新上传 *#}
                      </div>
                    </div>
                  </div>
                </div>
                <p class="tips mb60">{#$langData['siteConfig'][18][67]#}<em class="gray">（{#$langData['siteConfig'][18][68]#}）</em></p>{#* 请尽量上传彩色版原件照片，复印件须加盖公司公章 *#}{#*支持JPG、PNG、BMP格式的图片文件，文件小于5M*#}
              </dd>
            </dl>
          </div>
          <div class="module-box disabled">
            <p class="module-tit"><em class="circle"><i></i></em>{#$langData['siteConfig'][18][70]#}</p>{#* 填写认领人信息 *#}
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][69]#}</dt>{#* 认领人姓名 *#}
              <dd><input type="text" name="name" value="" class="inp" placeholder="{#$langData['siteConfig'][18][71]#}" id="name" disabled><span class="error">{#$langData['siteConfig'][18][71]#}</span></dd>{#* 请输入认领人姓名 *#}
            </dl>
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][72]#}</dt>{#* 认领人身份证号 *#}
              <dd><input type="text" name="idcard" value="" class="inp" placeholder="{#$langData['siteConfig'][18][73]#}" id="idcard" disabled><span class="error">{#$langData['siteConfig'][18][73]#}</span></dd>{#* 请输入认领人身份证号 *#}
            </dl>
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][74]#}</dt>{#* 认领人身份证 *#}
              <dd>
                <div class="fn-clear">
                  <div class="uploadBtn certy">
                    <div class="inp-certy">
                      <p class="tit">{#$langData['siteConfig'][18][75]#}</p>{#* 身份证正面 *#}
                      <span class="add"></span>
                      <div class="btn">
                        <a href="javascript:;">{#$langData['siteConfig'][6][126]#}</a>{#* 上传 *#}
												<input type="file" name="Filedata" value="" accept=".gif,.jpeg,.jpg,.png" class="upload-img" id="up_front" disabled>
	                      <input type="hidden" name="" value="" id="front">
                      </div>
                      <ul class="uploader-list"></ul>
                      <div class="upload-bg">
                        <i class="bg"></i>
                        <div class="btn">
                          <a href="javascript:;" class="upload-txt">{#$langData['siteConfig'][6][59]#}</a>{#* 重新上传 *#}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uploadBtn certy">
                    <div class="inp-certy inp-certy-back">
                      <p class="tit">{#$langData['siteConfig'][18][76]#}</p>{#* 身份证反面 *#}
                      <span class="add"></span>
                      <div class="btn">
                        <a href="javascript:;">{#$langData['siteConfig'][6][126]#}</a>{#* 上传 *#}
												<input type="file" name="Filedata" value="" accept=".gif,.jpeg,.jpg,.png" class="upload-img" id="up_back" disabled>
	                      <input type="hidden" name="" value="" id="back">
                      </div>
                      <ul class="uploader-list"></ul>
                      <div class="upload-bg">
                        <i class="bg"></i>
                        <div class="btn">
                          <a href="javascript:;" class="upload-txt">{#$langData['siteConfig'][6][59]#}</a>{#* 重新上传 *#}
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="error">{#$langData['siteConfig'][18][77]#}</span>{#* 请上传认领人身份证照片 *#}
                </div>
                <p class="tips">{#$langData['siteConfig'][18][78]#}<em class="gray">（{#$langData['siteConfig'][18][68]#}）</em></p>{#* 请上传身份证原件正、反面照片------支持JPG、PNG、BMP格式的图片文件，文件小于5M  *#}
              </dd>
            </dl>
            <dl class="inpbox fn-clear">
              <dt><em class="blue">*</em>{#$langData['siteConfig'][18][79]#}</dt>{#* 认领人手机号 *#}
              <dd>
              	  <input type="text" name="phone" value="" class="inp" placeholder="{#$langData['siteConfig'][18][80]#}" id="phone" disabled>{#* 请输入认领人手机号 *#}
	              <a href="javascript:;" class="verify">{#$langData['siteConfig'][18][81]#}</a>{#* 免费获取验证码 *#}
	              <span class="error">{#$langData['siteConfig'][18][80]#}</span>{#* 请输入认领人手机号 *#}
              </dd>
            </dl>
            <dl class="inpbox fn-clear">
              <dt></dt>
              <dd>
                <input type="text" name="verify" value="" class="inp" placeholder="{#$langData['siteConfig'][20][176]#}" id="verify" disabled><span class="error">{#$langData['siteConfig'][20][540]#}</span>{#* 请输入验证码 *#}
                <p class="tips"><i class="agree active"></i>{#$langData['siteConfig'][18][82]#}《百度口碑商户服务协议》</p>{#* 我已阅读并同意 *#}
              </dd>
            </dl>
          </div>
          <input type="submit" name="" value="{#$langData['siteConfig'][6][151]#}" class="submit disabled" id="submit">{#* 提交 *#}
        </form>
      </div>
      <div class="module module-3 fn-hide">
        <div class="apply-box">
    			<p class="apply-tit">{#$langData['siteConfig'][16][104]#}</p>{#* 您的申请已提交，请耐心等待！ *#}
    			<p class="apply-tip">{#$langData['siteConfig'][20][290]#}... </p>{#* 我们将在48小时内处理您的申请 *#}
    		</div>
      </div>
      <div class="module module-4 fn-hide">
        <div class="apply-fail fn-hide">
          <p class="fail-txt">{#$langData['siteConfig'][18][83]#}<a href="">{#$langData['siteConfig'][6][118]#}</a></p>{#* 认领失败！---重新提交 *#}
        </div>
        <div class="apply-success">
          <img src="{#$templets_skin#}images/apply_success.png" alt="">
          <p>{#$langData['siteConfig'][18][84]#}<a href="">{#$langData['siteConfig'][18][85]#}</a></p>{#* 恭喜您认领成功！ 前去我的-- 管理页面*#}
        </div>
      </div>
      <div class="module module-5 fn-hide">
        <div class="apply-fail">
          <p class="fail-txt">{#$langData['siteConfig'][18][86]#}</p>{#*  该商家已被认领！ *#}
        </div>
      </div>
    </div>
  </div>


  <!-- 底部 s -->
  <div class="footer-login">
  	<p>
  		{#siteConfig action="singel"#}
  		<a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}" target="_blank">{#$row.title#}</a><span class="pice">|</span>
  		{#/siteConfig#}
  		<a href="{#getUrlPath service='siteConfig' template='help'#}" target="_blank">{#$langData['siteConfig'][19][273]#}</a>{#* 帮助中心 *#}
  	</p>
  	{#$cfg_powerby#}
  </div>
  <!-- 底部 e -->


<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.ajaxFileUpload.js"></script>
<script src="{#$templets_skin#}js/claim.js?v=2" charset="utf-8"></script>
</body>
</html>
