<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][726]|replace:'1':$cfg_pointName#} - {#$cfg_webname#}</title>{#* 现金与1兑换 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/convert.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var totalMoney = {#$userinfo.money#}, pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][19][726]|replace:'1':$cfg_pointName#}{#* 现金与1兑换 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li class="curr"><a href="javascript:;">{#$langData['siteConfig'][19][726]|replace:'1':$cfg_pointName#}</a></li>{#* 现金与1兑换 *#}
				<li><a href="{#getUrlPath service='member' type='user' template='transfer'#}">{#$cfg_pointName#}{#$langData['siteConfig'][19][730]#}</a></li>{#* 转赠 *#}
			</ul>

			<div class="convert">

				<form action="/include/ajax.php?service=member&action=convert" method="post" target="_blank" id="payform">
					<dl class="fn-clear txt-inline">
						<dt>{#$langData['siteConfig'][19][370]#}：</dt>{#* 可兑换现金 *#}
						<dd class="fn-clear">
							<strong>{#$totalMoney#}</strong>
							<em>【{#$langData['siteConfig'][19][371]#} >> {#$cfg_pointName#} （1: {#$cfg_pointRatio#}）】</em>{#* 现金 *#}
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><label for="amount">{#$langData['siteConfig'][19][372]#}：</label></dt>{#* 兑换金额 *#}
						<dd class="fn-clear">
							<!-- <input type="text" class="inp" name="amount" id="amount" /> -->
							<div class="inp inp_clearAutocomplete" data-cfg="text:amount"></div>
							<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][63]#}</span>{#* 金额必须为整数或小数，小数点后不超过2位。 *#}
						</dd>
					</dl>
					<dl class="fn-clear txt-inline">
						<dt>{#$langData['siteConfig'][19][373]#}：</dt>{#* 兑换数量 *#}
						<dd class="fn-clear"><strong id="count">0</strong>{#$cfg_pointName#}</dd>
					</dl>
					<dl class="fn-clear">
						<dt><label for="paypwd">{#$langData['siteConfig'][5][7]#}：</label></dt>{#* 支付密码 *#}
						<dd class="fn-clear">
							<!-- <input type="password" class="inp" name="paypwd" id="paypwd" /> -->
							<div class="inp inp_clearAutocomplete" data-cfg="password:paywd"></div>
							<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][213]#}，{#* 请输入支付密码 *#}
								{#if $userinfo.paypwdCheck == 0#}{#$langData['siteConfig'][19][728]#}，{#* 您还未设置支付密码 *#}
								<a href="{#getUrlPath service='member' type='user' template='security' doget='paypwdAdd'#}">{#$langData['siteConfig'][6][120]#}</a>{#* 如您忘记支付密码 *#}
								{#else#}{#$langData['siteConfig'][19][729]#}，{#* 重置支付密码 *#}
								<a href="{#getUrlPath service='member' type='user' template='security' doget='paypwdEdit'#}">{#$langData['siteConfig'][6][121]#}</a>{#/if#}！</span>{#* 重置支付密码 *#}
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd class="agree">
							<label><input type="checkbox" name="agree" id="agree" checked />{#$langData['siteConfig'][6][88]#}</label>{#* 同意并接受 *#}
							<a href="{#getUrlPath service='siteConfig' template='protocol' title='现金与积分兑换服务协议'#}" target="_blank">
								{#$langData['siteConfig'][12][5]|replace:'1':$cfg_pointName#}</a><br />{#* 《现金与1兑换服务协议》 *#}
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd><button type="button" id="tj">{#$langData['siteConfig'][6][43]#}</button></dd>
					</dl>

				</form>
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/convert.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
