<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][716]#} - {#$cfg_webname#}</title>{#* 申请提现 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/put_forward.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	// var withdrawLog = '{#getUrlPath service="member" type="user" template="withdraw_log_detail" id="%id%"#}';
  var type = 'bank';
  var money = {#$detail.money#};
  var module = 'dating';
  var utype = {#$utype#};
  var minPutMoney = {#$detail.minPutMoney#};
  var maxPutMoney = {#$detail.maxPutMoney#};
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][19][716]#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li><a href="{#$url|default:'javascript:;'#}">{#$langData['siteConfig'][29][121]#}</a></li>{#* 提现到支付宝微信 *#}
				<li class="curr"><a href="javascript:;">{#$langData['siteConfig'][29][122]#}</a></li>{#* 提现到银行卡 *#}
			</ul>

			<div class="withdraw">
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][29][123]#}：</dt>{#* 账号类型 *#}
					<dd><p class="aline">{#if $utype == 0#}{#$langData['siteConfig'][19][508]#}{#elseif $utype == 1#}{#$langData['siteConfig'][29][0]#}{#else#}{#$langData['siteConfig'][29][30]#}{#/if#}</p></dd>{#* 用户-红娘-门店 *#}
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][20][603]#}{#$detail.moneyName#}：</dt>{#* 剩余 *#}
					<dd class="price">{#$detail.have#}，{#$langData['siteConfig'][20][604]#}&nbsp;&yen;{#$detail.money#}<br>{#$langData['siteConfig'][29][124]#}：&yen;<span id="min">{#$detail['minPutMoney']#}</span><br>{#if $detial.maxPutMoney < $detail.money#}<p>{#$detail.info#}，{#$langData['siteConfig'][29][125]#} &yen;{#$detail.maxPutMoney#}</p>{#/if#}</dd>{#* 折合-最低提现金额-本次最多提现 *#}
				</dl>
				<div class="mitem" id="type1">
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][36]#}：</dt>{#* 开户行 *#}
						<dd>
							<input type="text" id="bank" name="bank" class="inp" maxlength="30" size="25" />
							<a href="javascript:;" class="historyBank">{#$langData['siteConfig'][19][303]#}<i></i></a>{#* 历史记录 *#}
							<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][204]#}</span>{#* 请输入开户行信息 *#}
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][37]#}：</dt>{#* 银行卡号 *#}
						<dd>
							<input type="text" id="cardnum" name="cardnum" class="inp" maxlength="23" size="25" />
							<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][205]#}</span>{#* 请输入银行卡号 *#}
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][38]#}：</dt>{#* 开户人姓名 *#}
						<dd>
							<input type="text" id="cardname" name="cardname" class="inp" maxlength="10" size="10" />
							<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][206]#}</span>{#* 请输入开户人姓名 *#}
						</dd>
					</dl>
				</div>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][39]#}：</dt>{#* 提现金额 *#}
					<dd>
						<input type="text" id="amount" name="amount" class="inp" size="10" maxlength="10" />
						<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][218]#}</span>{#* 数量必须为整数或小数，小数点后不超过2位。 *#}
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>&nbsp;</dt>
					<dd class="agree">
						<label><input type="checkbox" name="agree" id="agree" checked />{#$langData['siteConfig'][6][88]#}</label>{#* 同意并接受 *#} <a href="{#getUrlPath service='siteConfig' template='protocol' title='提现服务协议'#}" target="_blank">《{#$cfg_shortname#}{#$langData['siteConfig'][12][2]#}》</a><br />{#* 提现服务协议 *#}
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>&nbsp;</dt>
					<dd><input type="button" id="tj" value="{#$langData['siteConfig'][19][716]#}" /></dd>{#* 申请提现 *#}
				</dl>

				<div class="tips">
					<p>{#$langData['siteConfig'][20][149]#}</p>
					{#* 1. 到账时间：<br />    银行卡提现3-5个工作日内到账；<br />    支付宝提现2个工作日内到账；<br />2. 承诺及确认：<br />    款项付至上述收款人及收款账号的责任完全由本人或本公司承担，且自贵司付款之日起本人就上述服务协议及相关服务再无任何争议。 *#}
				</div>
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.inputmask.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/inputmask.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/put_forward.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
