<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][29][37]#} - {#$cfg_webname#}</title>{#* 发起的招呼 *#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/make-friend-hello.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/my-string-all.css">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}', templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};

	var money = {#$userinfo.money#}, freeze = {#$userinfo.freeze#}, point = {#$userinfo.point#};
	var hideFileUrl = 0, cookiePre = 'HN_', service = 'dating';

	var modelType = 'house';
	var map_city = '{#$cfg_mapCity#}', site_map = "{#$site_map#}";

	var user = {
		id: {#$u_id|default:0#}
	}
</script>

<body class="w1200">
{#include file="top.html"#}

<!-- 内容 -->
<div class="wrap">
	<div class="container fn-clear">
		
		{#include file="sidebar.html"#}
		<div class="main">
			<ul class="main-tab">
				<li data-id="out" class="curr"><a href="javascript:;">{#$langData['siteConfig'][29][37]#}</a></li>{#* 发起的招呼 *#}
				<li data-id="in"><a href="javascript:;">{#$langData['siteConfig'][29][38]#}</a></li>{#* 收到的招呼 *#}
			</ul>
			{#if $u_id#}<a href="{#getUrlPath service='dating' template='u' id=$u_id#}" target="_blank" class="preview">{#$langData['siteConfig'][10][14]#}</a>{#/if#}{#* 预览我的资料 *#}
			<div class="hello-box show">
				<div class="loading">{#$langData['siteConfig'][20][409]#}...</div>{#* 正在获取，请稍后 *#}
			</div>
			<div class="pagination fn-clear"></div>
			<div class="hello-popup fn-hide">
				<a href="javascript:;"><img class="fn-right" id="hello-popup-delete" src="{#$templets_skin#}images/hello-popup-delete.png" alt=""></a>
				<p class="delete-sure">{#$langData['siteConfig'][20][543]#}</p>{#* 确定要删除这条信息吗？ *#}
				<div class="hello-btn">
					<a href="javascript:;" class="cancel-btn cancel fn-left">{#$langData['siteConfig'][6][12]#}</a>{#* 取消 *#}
					<a href="javascript:;" class="sure-btn sure fn-right">{#$langData['siteConfig'][6][1]#}</a>{#* 确定 *#}
				</div>
			</div>
		</div>
		<div class="hello-desk fn-hide"></div>
	</div>
</div>
<div class="desk fn-hide"></div>
<!-- 发消息弹窗 -->
<div class="send-popup fn-hide fn-clear">
	<div class="send-title">
		{#$langData['siteConfig'][19][6]#}{#* 昵称 *#}
		<a href="javascript:;"><img class="close" src="{#$templets_skin#}images/join-maker-02.png" alt=""></a>
	</div>
	<div class="send-wrap">
		<div class="send-con">
			<div class="send-mes fn-clear">
				<a href="javascript:;"><img class="fn-left" src="upfile/member-img.png" alt=""></a>
				<span class="fn-left">{#$langData['siteConfig'][29][39]#}<i></i></span>{#* 你好，在吗？ *#}
			</div>
			<div class="send-mes-r fn-clear">
				<span class="fn-left">{#$langData['siteConfig'][29][40]#}<i></i></span>{#* 在的 *#}
				<a href="javascript:;"><img class="fn-left" src="upfile/member-img.png" alt=""></a>
			</div>
		</div>
		<!-- 对话框sss -->
		<div class="leave_message" id="leave_message">
			<div class="comment_box">
				<div class="write">
					<div class="textarea txt" contenteditable="true"></div>
				</div>
				<div class="comment_foot fn-clear">
					<div class="com_btn first">{#$langData['siteConfig'][6][139]#}</div>{#* 发送 *#}
					<div class="editor_btn"><input type="button" class="editor"></div>
					<div class="face_box">
						<i></i>
						<ul>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f01.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f02.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f03.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f04.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f05.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f06.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f07.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f08.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f09.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f10.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f11.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f12.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f13.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f14.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f15.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f16.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f17.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f18.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f19.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f20.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f21.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f22.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f23.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f24.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f25.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f26.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f27.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f28.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f29.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f30.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f31.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f32.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f33.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f34.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f35.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f36.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f37.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f38.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f39.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f40.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f41.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f42.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f43.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f44.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f45.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f46.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f47.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f48.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f49.png" alt=""></a></li>
							<li><a href="javascript:;"><img src="{#$templets_skin#}images/ui/i_f50.png" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 对话框eee -->
	</div>
	<div class="open_in_app" style="position: absolute; top: 44px; left: 0; bottom: 0; right: 0; background: rgba(255,255,255,.6); line-height: 250px; text-align: center; font-size: 14px;">{#$langData['siteConfig'][29][41]#}</div>{#* 请在APP中使用 *#}
</div>


{#include file="footer.html"#}
<script charset="UTF-8" src="{#$templets_skin#}js/front-public.js"></script>
<script charset="UTF-8" src="{#$templets_skin#}js/dating_my_sendgreet.js"></script>
</body>
</html>