<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][29][30]#}-{#$langData['siteConfig'][19][22]#} - {#$cfg_webname#}</title>{#* 门店-基本信息 *#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/door-public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/door-base.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};

	var money = {#$userinfo.money#}, freeze = {#$userinfo.freeze#}, point = {#$userinfo.point#};
	var hideFileUrl = 0, cookiePre = 'HN_', service = 'dating';

	var modelType = 'house';
	var map_city = '{#$cfg_mapCity#}', site_map = "{#$site_map#}";

	var languageLengh = 5;
	var user = {
		id: {#$u_id|default:0#}
	}
</script>
</head>
<body class="w1200">

{#include file="top.html"#}

<!-- 内容 -->
<div class="wrap">
	<div class="container fn-clear">
		
		{#include file="sidebar.html"#}
		<div class="main">
			{#include file="dating-store-nav.html" curr="1"#}
			
			<div class="door-form">
				{#if !$storeUid#}
				<p class="state">{#$langData['siteConfig'][29][42]#}</p>{#* 您还没有入驻门店 *#}
				{#elseif $store_state == 0#}
				<p class="state">{#$langData['siteConfig'][29][43]#}···</p>{#* 已入驻门店，等待审核 *#}
				{#/if#}
				<form action="" id="storeForm">
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][44]#}</dt>{#* 门店名称 *#}
						<dd><input type="text" name="nickname" id="nickname" class="inp" size="40" value="{#$store_nickname#}"></dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][45]#}</dt>{#* 门店简介 *#}
						<dd><textarea class="inp text" name="profile" id="profile" rows="8" cols="100">{#$store_profile#}</textarea></dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][46]#}</dt>{#* 门店地址 *#}
						<dd>
							<input type="text" name="address" id="address" class="inp" size="60" value="{#$store_address#}">
							<img src="/static/images/admin/markditu.jpg" id="mark" style="float: left; cursor: pointer; margin-left: 10px;" title="{#$langData['siteConfig'][6][92]#}">{#* 标注地图位置 *#}
              <input type="hidden" name="lnglat" id="lnglat" value="{#$store_lng#},{#$store_lat#}">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][47]#}</dt>{#* 门店电话 *#}
						<dd><input type="text" name="tel" id="tel" class="inp" size="40" value="{#$store_tel#}"></dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][48]#}</dt>{#* 代&nbsp;表&nbsp;图 *#}
						<dd class="thumb fn-clear listImgBox">
							<div class="uploadinp filePicker thumbtn{#if $store_photo != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
							{#if $store_photo != ""#}
							<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$store_phototurl#}' target="_blank" title=""><img alt="" src="{#$store_phototurl#}" data-val="{#$store_photo#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>{#* 删除图片 *#}
							{#else#}
							<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
							{#/if#}
							<input type="hidden" name="photo" value="{#$store_photo#}" class="imglist-hidden" id="photo">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][49]#}</dt>{#* 途经公交 *#}
						<dd><textarea class="inp text" name="bus" id="bus" rows="5" cols="100">{#$store_bus#}</textarea></dd>
					</dl>
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][29][50]#}</dt>{#* 门店标签 *#}
						<dd>
							<div class="tags" id="tags" tabindex="1"> 
								<input id="form-field-tags" type="text" placeholder="{#$langData['siteConfig'][19][903]#} ..." value="Tag Input Control" style="display: none;" onkeydown="checkInfo(event,this)">{#* 请输入标签 *#}
								<input type="text" placeholder="{#$langData['siteConfig'][19][903]#} ..." class="tags_enter" id="tags_val" autocomplete="off" onkeydown="checkInfo(event,this)" value="">{#* 请输入标签 *#}
								<input type="hidden" name="tags" id="tags_res" value="{#$store_tags#}">
							</div>
						</dd>
					</dl>
					<input type="submit" value="{#$langData['siteConfig'][6][151]#}" class="door-submit">{#* 提交 *#}
				</form>
			</div>
			<div class="desk fn-hide"></div>
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
<script charset="UTF-8" src="{#$templets_skin#}js/dating_my_store.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>