<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][29][0]#}-{#$langData['siteConfig'][29][1]#} - {#$cfg_webname#}</title>{#* 红娘-收入明细*#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/door-public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/matchmaker-earn-detail.css">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};

	var money = {#$userinfo.money#}, freeze = {#$userinfo.freeze#}, point = {#$userinfo.point#};
	var hideFileUrl = 0, cookiePre = 'HN_', graspLength = {#$datingConfig.graspLength#}, service = 'dating';

	var modelType = 'house';
	var map_city = '{#$cfg_mapCity#}', site_map = "{#$site_map#}";

	var user = {
		id: {#$u_id|default:0#}
	}
</script>
</head>
<body class="w1200">
{#include file="top.html"#}

<!-- 内容 -->
<div class="wrap">
	<div class="container fn-clear">
		
		{#include file="sidebar.html"#}

		<div class="main">
			{#include file="dating-hn-nav.html" curr="5"#}
			<div class="detail-money">
				<div class="money">
					{#$langData['siteConfig'][29][2]#} &nbsp;&nbsp;&yen; <span id="total">0</span>{#* 总收入金额 *#}
				</div>
				{#if $hn_company == 0#}
				<div class="withdraw">
					<a href="{#getUrlPath service='member' type='user' template='put_forward' param='module=dating&utype=1'#}">{#$langData['siteConfig'][16][12]#}</a>{#* 提现 *#}
				</div>
				{#/if#}
			</div>
			<div class="detail-search fn-clear">
				<form action="" class="searchform">
					<input type="text" class="search" id="keywords" placeholder="{#$langData['siteConfig'][6][109]#}...">{#* 搜索 *#}
					<input type="submit" value="" class="submit-img">
				</form>
			</div>
			<div class="select">
				<span class="selectType">
					<a href="javascript:;" class="int" id="selectTypeText">{#$langData['siteConfig'][9][0]#}</a>{#* 全部 *#}
					<span id="selectTypeMenu" class="selectmenu">
						<a href="javascript:;" data-id="vip">{#$langData['siteConfig'][15][0]#}</a>{#* 充值 *#}
						<a href="javascript:;" data-id="lead">{#$langData['siteConfig'][29][3]#}</a>{#* 红娘服务 *#}
						<a href="javascript:;" data-id="gift">{#$langData['siteConfig'][29][4]#}</a>{#* 礼物 *#}
					</span>
					<em></em>
				</span>
			</div>
			<div class="detail-title fn-clear">
				<div class="name fn-left">{#$langData['siteConfig'][29][5]#}</div>{#* 会员名 *#}
				<div class="time fn-left">{#$langData['siteConfig'][29][6]#}</div>{#* 交易时间 *#}
				<div class="serve fn-left">{#$langData['siteConfig'][19][336]#}</div>{#* 服务 *#}
				<div class="up fn-left">{#$langData['siteConfig'][29][7]#}</div>{#* 提成 *#}
				<div class="money fn-left">{#$langData['siteConfig'][19][306]#}</div>{#* 金额 *#}
			</div>
			<div class="detail-con fn-clear">
				<div class="loading">{#$langData['siteConfig'][20][409]#}...</div>{#* 正在获取，请稍后 *#}
			</div>
			<div class="pagination fn-clear"></div>
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script charset="UTF-8" src="{#$templets_skin#}js/dating_hn_income.js"></script>
</body>
</html>