<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][398]#}-{#$cfg_webname#}</title>{#* 房产经纪人 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/enter_house.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var hideFileUrl = {#$cfg_hideUrl#};
	var money = {#$userinfo.money#}, freeze = {#$userinfo.freeze#}, point = {#$userinfo.point#};

	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}';
	var uploadType = "logo", atlasMax= "1";

	var enter_zjuser = {#$enter_zjuser#}, enter_zjcom = {#$enter_zjcom#};
	var zjuser_url = '{#getUrlPath service=member type=user template="config-house"#}';
	var zjcom_url = '{#getUrlPath service=member template="config-house"#}';
	var type = '{#$type#}';
	var userinfo = {
		phoneCheck: {#$userinfo.phoneCheck#}
	}
	var geetest = {#$cfg_geetest#};
</script>
</head>

<body>
{#include file="../siteConfig/top1.html"#}

<!-- 导航 -->
<div class="fixedwrap FestivalAD_header">
	<div class="">
		<div class="wrap header fn-clear">
			<div class="logo">
				<img src="{#$logoUrl#}" alt="">
				<h2>{#$langData['siteConfig'][30][2]#}</h2>{#* 经纪人入驻 *#}
			</div>
			<div class="kefu">
				<s><img src="{#$templets_skin#}images/hot-line.png" alt=""></s>
				<p>{#$langData['siteConfig'][19][275]#}</p>{#* 客服热线 *#}
				{#$hotline#}
			</div>
		</div>
	</div>
</div>

<div class="banner">
	<div class="wrap">
		<img src="{#$templets_skin#}images/enter_zjuser_banner.png" class="bimg" alt="{#$langData['siteConfig'][30][3]#}">{#* 入驻经纪人 *#}
		<div class="m fn-clear">
			<div class="seabox">
				<form action="" id="searchForm">
					<input type="text" name="title" class="title" value="" autocomplete="false" placeholder="{#$langData['siteConfig'][30][4]#}...">{#* 输入关键词搜索中介公司 *#}
					<ul class="result"></ul>
				<input type="submit" class="search" value="{#$langData['siteConfig'][6][109]#}">{#* 搜索 *#}
				</form>
			</div>
			<a href="javascript:;" class="creatStore">{#$langData['siteConfig'][30][5]#}</a>{#* 创建公司 *#}
		</div>
		<dl class="qr">
			<img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='member' template='enter_house'#}" alt="">
			<p>{#$langData['siteConfig'][30][6]#}</p>{#* 移动扫码入驻 *#}
		</dl>
	</div>
</div>

<div class="wrap">
	<div class="mainbox">
		<div class="storelist">
			<ul class="fn-clear" id="list"></ul>
			<div class="loading">{#$langData['siteConfig'][20][409]#}</div>{#* 正在获取，请稍后 *#}
			<div class="pagination fn-clear"></div>
		</div>
		<div class="formbox fn-hide">
			<div class="activeStore">
				<div class="bg-radio"></div>
				<div class="m-box">
					<a href="" class="logo"></a>
					<div class="txt">
						<a href="" class="name"></a>
						<p></p>
					</div>
					<p class="tel">{#$langData['siteConfig'][30][7]#}：<span></span></p>{#* 服务热线*#}
					<a href="javascript:;" class="choseAgain">{#$langData['siteConfig'][6][178]#}</a>{#* 重新选择*#}
				</div>
			</div>
			<div class="w-form enter_zjcom">
				<form name="fabuForm" id="fabuForm" method="post" action="" data-action="/include/ajax.php?service=house&action=">
					<input type="hidden" name="areaCode" id="areaCode" value="86" />
					<input type="hidden" name="alone" id="alone" value="0" />
					<input type="hidden" name="zjcom" id="zjcom" value="0" />
					<div class="fn-hide" id="companyInfo">
						<dl class="fn-clear company-name">
							<dt><span>*</span>{#$langData['siteConfig'][19][354]#}</dt>{#* 公司名称*#}
							<dd>
								<input type="text" name="title" class="inp" id="title" size="35" maxlength="60" data-title="{#$langData['shop'][4][42]#}" value="{#$detail_title#}" />
								<span class="tip-inline"></span>
								<span class="alone"><em></em>{#$langData['siteConfig'][30][8]#}</span>{#* 独立经纪人*#}
							</dd>
						</dl>
						<dl class="fn-clear company-logo">
							<dt><span>*</span>LOGO</dt>
							<dd>
								<div class="license-item listImgBox">
									<input type="hidden" name="litpic" id="litpic_" value="">
									<ul id="listSection8" class="listSection thumblist fn-clear"></ul>
									<div class="up_area filePicker thumbtn" id="filePicker8" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
										<div class="pic"><span class="l1"></span><span class="l2"></span></div>
										<p class="tit">{#$langData['siteConfig'][6][50]#}</p>{#* 上传图片*#}
									</div>
								</div>
                <span class="tip-inline"></span>
							</dd>
						</dl>
						<dl class="fn-clear">
	            <dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>{#* 所在区域*#}
	            <dd id="selAddr">
	                <div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">{#* 请选择所在区域*#}
	                    <div class="city-title addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addrid split=' '#}" data-id="{#$addrid#}">{#if $addrid != ""#}{#getPublicParentInfo tab='site_area' id=$addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>{#* 请选择*#}
	                </div>
	                <span class="tip-inline"></span>
	                <input type="hidden" name="addr" id="addr" value="0" />
	                <input type="hidden" name="cityid" id="cityid" value="0" />
	            </dd>
	        	</dl>
						<dl class="fn-clear">
							<dt>&nbsp;</dt>
							<dd>
								<input type="text" name="address" class="inp" id="address" size="50" maxlength="60" placeholder="{#$langData['siteConfig'][19][35]#}" value="" />{#* 详细地址*#}
								<span class="tip-inline"></span>
							</dd>
						</dl>
						<dl class="fn-clear">
							<dt><span>*</span>{#$langData['siteConfig'][19][56]#}</dt>{#* 联系电话*#}
							<dd>
								<input type="text" name="tel" class="inp" id="tel" size="34" maxlength="60" placeholder="{#$langData['siteConfig'][30][9]#}" value="" />{#* 请输入电话号码*#}
								<span class="tip-inline"></span>
							</dd>
						</dl>
        	</div>
					<div id="zjuserInfo">
						<dl class="fn-clear">
							<dt><span>*</span>{#$langData['siteConfig'][19][4]#}</dt>{#* 姓名 *#}
							<dd>
								<input type="text" name="nickname" class="inp" id="nickname" size="35" maxlength="60" data-title="" value="{#$userinfo.nickname#}" />
								<span class="tip-inline"><s></s></span>
							</dd>
						</dl>
						<dl class="fn-clear" data-required="1">
							<dt><span>*</span>{#$langData['siteConfig'][3][6]#}</dt>{#* 手机号码 *#}
							<dd>
								<input type="text" name="phone" class="inp" id="phone" size="35" maxlength="60" data-title="" value="{#$userinfo.phone#}" data-val="{#$userinfo.phone#}" />
								<span class="tip-inline"></span>
								<span class="sendcode disabled"{#if $userinfo.phone && $userinfo.phoneCheck == 1#} style="display:none;"{#/if#}>{#$langData['siteConfig'][4][7]#}</span>{#* 发送验证码 *#}
								<div class="senderror"></div>
							</dd>
						</dl>
						<dl class="fn-clear"{#if $userinfo.phone && $userinfo.phoneCheck == 1#} style="display:none;"{#/if#} id="vdimgckInfo">
							<dt>&nbsp;</dt>
							<dd>
								<input type="text" name="vdimgck" class="inp" id="vdimgck" size="35" maxlength="60" data-title="{#$langData['shop'][4][42]#}" value="" placeholder="{#$langData['siteConfig'][20][176]#}" />{#* 请输入公司名称 - 请输入验证码 *#}
								<span class="tip-inline"><s></s></span>
							</dd>
						</dl>
						<dl class="fn-clear">
							<dt>&nbsp;</dt>
							<dd>
								<span class="toggleMore">{#$langData['siteConfig'][30][10]#}<em></em></span>{#* 完善详细资料 *#}
							</dd>
						</dl>
						<div class="moreinfo fn-hide">
							<dl class="fn-clear">
								<dt>{#$langData['siteConfig'][30][11]#}</dt>{#* 照片 *#}
								<dd>
									<div class="up_photo listImgBox">
										<input type="hidden" name="photo" id="photo" value="{#$userinfo.photoSource#}">
										<ul id="listSection1" class="listSection thumblist fn-clear">{#if $userinfo.photoSource#}<li id="WU_FILE_00" class="pubitem"><a href="{#$userinfo.photo#}" target="_blank" title="" class="enlarge"><img src="{#$userinfo.photo#}" data-val="{#$userinfo.photoSource#}" data-url="{#$userinfo.photo#}"></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li>{#/if#}</ul>{#* 删除图片 *#}
										<div class="up_area filePicker thumbtn" id="filePicker1" data-type="photo" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="up_shop">
												<div class="pic"></div>
												<p class="tit">{#$langData['siteConfig'][6][78]#}</p>{#* 上传照片 *#}
											</div>
											<p class="up_des">{#$langData['siteConfig'][30][12]#}：<br>jpg、jpeg、png</p>{#* 支持图片格式 *#}
										</div>
									</div>
									<div class="up_must">
										<p>{#$langData['siteConfig'][20][597]#}：</p>{#* 请按以下要求上传 *#}
										<ul>
											<li>{#$langData['siteConfig'][30][13]#}</li>{#* 1. 近期本人拍摄的1寸或2寸、正面、免冠、彩色证件照； *#}
											<li>{#$langData['siteConfig'][30][14]#}</li>{#* 2. 正面拍摄正脸五官清晰，不可侧身，不可自拍，不能无视镜头； *#}
											<li>{#$langData['siteConfig'][30][15]#}</li>{#* 3. 照片要求头像清晰、完整，不能含有以下内容（如锦旗、军装、其他网站Logo、PS信息）； *#}
											<li>{#$langData['siteConfig'][30][16]#}</li>{#* 4. 图片宽度大于113px，小于等于600px，图片高度大于150px； *#}
											<li>{#$langData['siteConfig'][30][17]#}</li>{#* * 温馨提示：您上传的头像不符合以上要求将会被退回 *#}
										</ul>
									</div>
								</dd>
							</dl>
							<dl class="fn-clear">
								<dt>QQ</dt>
								<dd>
									<div class="connect-item listImgBox">
										<input type="hidden" name="qqQr" id="qqQr" value="">
										<ul id="listSection2" class="listSection thumblist fn-clear"></ul>
										<div class="up_area filePicker thumbtn" id="filePicker2" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="pic"><span class="l1"></span><span class="l2"></span></div>
											<p class="tit">{#$langData['siteConfig'][30][18]#}</p>{#* 上传二维码 *#}
										</div>
										<input type="text" name="qq" class="account" value="" placeholder="{#$langData['siteConfig'][19][906]#}">{#* 输入QQ号 *#}
									</div>
									<div class="pane-title">{#$langData['siteConfig'][19][184]#}微信二维码</div>{#* 微信二维码 *#}
									<div class="connect-item listImgBox">
										<input type="hidden" name="wxQr" id="wxQr" value="">
										<ul id="listSection3" class="listSection thumblist fn-clear"></ul>
										<div class="up_area filePicker thumbtn" id="filePicker3" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="pic"><span class="l1"></span><span class="l2"></span></div>
											<p class="tit">{#$langData['siteConfig'][30][18]#}</p>{#* 上传二维码 *#}
										</div>
										<input type="text" name="wx" class="account" value="" placeholder="{#$langData['siteConfig'][27][10]#}">{#* 输入微信号 *#}
									</div>
								</dd>
							</dl>
							<dl class="fn-clear">
								<dt>{#$langData['siteConfig'][18][75]#}</dt>{#* 身份证正面 *#}
								<dd>
									<div class="person-item listImgBox">
										<input type="hidden" name="idcardFront" id="idcardFront" value="">
										<ul id="listSection4" class="listSection thumblist fn-clear"></ul>
										<div class="up_area filePicker thumbtn" id="filePicker4" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="pic"><span class="l1"></span><span class="l2"></span></div>
											<p class="tit">{#$langData['siteConfig'][6][78]#}</p>{#* 上传照片 *#}
										</div>
									</div>
									<div class="pane-title">{#$langData['siteConfig'][18][76]#}</div>{#* 身份证反面 *#}
									<div class="person-item listImgBox">
										<input type="hidden" name="idcardBack" id="idcardBack" value="">
										<ul id="listSection5" class="listSection thumblist fn-clear" data-field="idcardBack"></ul>
										<div class="up_area filePicker thumbtn" id="filePicker5" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="pic"><span class="l1"></span><span class="l2"></span></div>
											<p class="tit">{#$langData['siteConfig'][6][78]#}</p>{#* 上传照片 *#}
										</div>
									</div>
								</dd>
							</dl>
							<dl class="fn-clear card">
								<dt>{#$langData['siteConfig'][20][594]#}</dt>{#* 名片认证 *#}
								<dd>
									<div class="card-item listImgBox">
										<input type="hidden" name="litpic" id="litpic" value="">
										<ul id="listSection6" class="listSection thumblist fn-clear"></ul>
										<div class="up_area filePicker thumbtn" id="filePicker6" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="pic"><span class="l1"></span><span class="l2"></span></div>
											<p class="p1 tit">{#$langData['siteConfig'][6][78]#}</p>{#* 上传照片 *#}
											<p class="p2">{#$langData['siteConfig'][30][19]#}</p>{#* 文件格式：jpg、jpeg、png *#}
											<p class="p2">{#$langData['siteConfig'][20][595]#}：{#$langData['siteConfig'][20][596]#} 400&nbsp;&nbsp;&nbsp;&nbsp;{#$langData['siteConfig'][13][1]#} 250{#$langData['siteConfig'][13][59]#}</p>{#* 尺寸大小：宽-高-像素 *#}
										</div>
									</div>
									<div class="up_must">
										<p>{#$langData['siteConfig'][20][597]#}：</p>{#* 请按以下要求上传 *#}
										<ul>
											<li>1. {#$langData['siteConfig'][20][598]#}</li>{#* 姓名，手机号码，公司清晰可辨，无涂抹痕迹。 *#}
											<li>2.{#$langData['siteConfig'][20][598]#}</li>{#* 建议使用像素800w以上数码相机，手机拍摄。 *#}
											<li>3.{#$langData['siteConfig'][20][600]#}</li>{#* 信息内容：名片信息与填写信息一致 *#}
											<li>4.{#$langData['siteConfig'][20][601]#}</li>{#* 独立经纪人请上传身份证照片 *#}
										</ul>
									</div>
								</dd>
							</dl>
							<dl class="fn-clear">
								<dt>{#$langData['siteConfig'][30][20]#}</dt>{#* 职业资格认证 *#}
								<dd>
									<div class="license-item listImgBox">
										<input type="hidden" name="license" id="license" value="">
										<ul id="listSection7" class="listSection thumblist fn-clear"></ul>
										<div class="up_area filePicker thumbtn" id="filePicker7" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
											<div class="pic"><span class="l1"></span><span class="l2"></span></div>
											<p class="tit">{#$langData['siteConfig'][6][50]#}</p>{#* 上传图片 *#}
										</div>
									</div>
								</dd>
							</dl>
						</div>
					</div>
					<dl class="fn-clear sub">
						<dt>&nbsp;</dt>
						<dd><button class="submit" id="submit">{#$langData['siteConfig'][6][68]#}</button></dd>{#* 提交申请 *#}
					</dl>
				</form>
			</div>
		</div>
	</div>
</div>

{#include file="footer.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/enter_house.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
