<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][89]#}：</dt>{#* 小区名称 *#}
	<dd>
		<input type="text" name="community" class="inp" id="community" size="40" maxlength="50" data-title="{#$langData['siteConfig'][20][125]#}" value="{#$detail_community#}" data-cityid="{#$detail_cityid#}" />{#* 请优先选择下拉框中的小区 *#}
		<a href="javascript:;" class="choBtn" id="chooseCommunity" title="{#$langData['siteConfig'][20][124]#}"><s></s></a>{#* 选择系统提供的小区 *#}
		<input type="hidden" name="communityid" id="communityid" value="{#$detail_communityid#}">
		<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}">
		<span class="tip-inline"></span>
		<br /><span id="communityAddr"></span>
	</dd>
</dl>
<dl class="fn-clear community-addr{#if $detail_communityid == "" || $detail_communityid != 0#} fn-hide{#/if#}" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>{#* 所在区域 *#}
	<dd id="selAddr">
		<div class="sel-group" data-title="{#$langData['siteConfig'][20][482]#}">{#* 请选择小区所在区域 *#}
			<div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addr != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
		</div>
		<input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" />
		<input type="text" name="address" class="inp" id="address" size="30" maxlength="50" data-title="{#$langData['siteConfig'][20][351]#}" value="{#$detail_address#}" />{#* 请输入小区详细地址 *#}
		<a href="javascript:;" class="getlnglat" id="getlnglat"><s></s>{#$langData['siteConfig'][19][88]#}</a>{#* 自动获取 *#}
		<img src="{#$adminPath#}../static/images/admin/markditu.jpg" id="mark" style="cursor:pointer;margin-left:10px;" title="{#$langData['siteConfig'][6][92]#}" />{#* 标注地图位置 *#}
    <input type="hidden" name="lnglat" id="lnglat" value="{#if $detail_longitude && $detail_latitude#}{#$detail_longitude#},{#$detail_latitude#}{#/if#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear selectGroup" data-required="1">
	<dt>{#$langData['siteConfig'][19][107]#}：</dt>{#* 户型 *#}
	<dd>
		<div class="input-append mr10">
			<select class="input-mini" type="text" name="room" id="room" data-val="{#$detail_room#}">
        <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
			<span class="add-aft">{#$langData['siteConfig'][13][8]#}</span>{#* 室 *#}
		</div>
		<div class="input-append mr10">
			<select class="input-mini" type="text" name="hall" id="hall" data-val="{#$detail_hall#}">
        <option value="0">0</option>
        <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
			<span class="add-aft">{#$langData['siteConfig'][13][9]#}</span>{#* 厅 *#}
		</div>
		<div class="input-append mr10">
			<select class="input-mini" type="text" name="guard" id="guard" data-val="{#$detail_guard#}">
        <option value="0">0</option>
        <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
			<span class="add-aft">{#$langData['siteConfig'][13][10]#}</span>{#* 卫 *#}
		</div>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][90]#}：</dt>{#* 参数 *#}
	<dd>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">{#$langData['siteConfig'][19][85]#}</span>{#* 面积 *#}
			<input id="area" name="area" type="text" size="4" maxlength="7" data-title="{#$langData['siteConfig'][20][481]#}" value="{#$detail_area#}">{#* 面积必须为数字型 *#}
			<span class="add-aft">㎡</span>
		</div>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">{#$langData['siteConfig'][13][11]#}</span>{#* 第 *#}
			<input id="bno" name="bno" type="text" size="3" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_bno#}">
			<span class="add-aft">{#$langData['siteConfig'][13][12]#}</span>{#* 层 *#}
		</div>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">{#$langData['siteConfig'][13][51]#}</span>{#* 到 *#}
			<input id="floorspr" name="floorspr" type="text" size="3" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_floortype#}{#$detail_floorspr#}{#/if#}">
			<span class="add-aft">{#$langData['siteConfig'][13][12]#}【跃层时填写,单层留空或0】</span>{#* 层 *#}
		</div>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">{#$langData['siteConfig'][13][13]#}</span>{#* 共 *#}
			<input id="floor" name="floor" type="text" size="3" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_floor#}">
			<span class="add-aft">{#$langData['siteConfig'][13][12]#}</span>{#* 层 *#}
		</div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<!--新增楼栋s-->
<dl class="fn-clear detailBuild">
	<dt>{#$langData['siteConfig'][6][205]#}：</dt>{#* 楼栋 *#}
	<dd>
		<div class="input-append mr10">
			<input id="dong" name="dong" type="text" size="3" maxlength="5" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_buildposArr[0]#}">
			<span class="add-aft">{#$langData['siteConfig'][6][206]#}</span>{#* 栋 *#}
		</div>
		<div class=" input-append mr10">
			<input id="danyuan" name="danyuan" type="text" size="3" maxlength="2" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_buildposArr[1]#}">
			<span class="add-aft">{#$langData['siteConfig'][6][207]#}</span>{#* 单元 *#}
		</div>
		<div class=" input-append mr10">
			<input id="shi" name="shi" type="text" size="3" maxlength="4" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_buildposArr[2]#}">
			<span class="add-aft">{#$langData['siteConfig'][13][8]#}</span>{#* 室 *#}
		</div>
		<span class="tip">{#$langData['siteConfig'][6][208]#}</span>
	</dd>
</dl>
<!--新增楼栋e-->
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][312]#}：</dt>{#* 总价 *#}
	<dd id="totalPrice">
		<div class="input-append">
			<input id="price" name="price" type="text" size="6" maxlength="7" data-title="{#$langData['siteConfig'][20][483]#}" value="{#$detail_price#}">
			<span class="add-aft">{#$langData['siteConfig'][13][27]#}{#echoCurrency type='short'#}</span>{#*总价必须为数字型 - 万 *#}
		</div>
		<span class="tip-inline"></span>
		<span class="tip-price"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][201]#}：</dt>{#* 其他 *#}
	<dd>
		<div class="sel-group" data-title="{#$langData['siteConfig'][20][484]#}">{#* 请选择物业类型 *#}
			<button type="button" class="sel">{#if $detail_protype != ""#}{#$detail_protype#}{#else#}{#$langData['siteConfig'][19][91]#}{#/if#}<span class="caret"></span></button>{#* 物业类型 *#}
			<ul class="sel-menu">
				{#house action="item" return="item" type="1"#}
				<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="protype" id="protype" value="{#$detail_protypeid#}" />
		<div class="sel-group" data-title="{#$langData['siteConfig'][20][485]#}">{#* 请选择装修情况 *#}
			<button type="button" class="sel">{#if $detail_zhuangxiu != ""#}{#$detail_zhuangxiu#}{#else#}{#$langData['siteConfig'][19][92]#}{#/if#}<span class="caret"></span></button>{#* 装修情况 *#}
			<ul class="sel-menu" id="selZhuangxiu">
				{#house action="item" return="item" type="2"#}
				<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="zhuangxiu" id="zhuangxiu" value="{#$detail_zhuangxiuid#}" />
		<div class="sel-group" data-title="{#$langData['siteConfig'][20][486]#}">{#* 请选房屋朝向 *#}
			<button type="button" class="sel">{#if $detail_direction != ""#}{#$detail_direction#}{#else#}{#$langData['siteConfig'][19][93]#}{#/if#}<span class="caret"></span></button>{#* 房屋朝向 *#}
			<ul class="sel-menu">
				{#house action="item" return="item" type="4"#}
				<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="direction" id="direction" value="{#$detail_directionid#}" />
		<div class="input-prepend input-append" style="margin-top:1px;">
			<span class="add-bef">{#$langData['siteConfig'][19][94]#}</span>{#* 建筑年代 *#}
			<input id="buildage" name="buildage" type="text" size="4" maxlength="4" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_buildage#}">
			<span class="add-aft">{#$langData['siteConfig'][13][14]#}</span>{#* 年 *#}
		</div>
	</dd>
</dl>
<dl class="fn-clear">
	<dt>{#$langData['siteConfig'][19][95]#}：</dt>{#* 特色 *#}
	<dd>
		<div class="checkbox">
			<label><input type="checkbox" name="flag[]" value="0"{#if strstr($detail_flag, "0")#} checked{#/if#}>{#$langData['siteConfig'][19][96]#}</label>{#* 急售 *#}
			<label><input type="checkbox" name="flag[]" value="1"{#if strstr($detail_flag, "1")#} checked{#/if#}>{#$langData['siteConfig'][19][97]#}</label>{#* 免税 *#}
			<label><input type="checkbox" name="flag[]" value="2"{#if strstr($detail_flag, "2")#} checked{#/if#}>{#$langData['siteConfig'][19][98]#}</label>{#* 地铁 *#}
			<label><input type="checkbox" name="flag[]" value="3"{#if strstr($detail_flag, "3")#} checked{#/if#}>{#$langData['siteConfig'][19][99]#}</label>{#* 校区房 *#}
			<label><input type="checkbox" name="flag[]" value="4"{#if strstr($detail_flag, "4")#} checked{#/if#}>{#$langData['siteConfig'][19][100]#}</label>{#* 满五年 *#}
		</div>
		
	</dd>
</dl>
<div class="choseGroup">
	<dl class="fn-clear selectGroup" data-required="1">
		<dt>{#$langData['siteConfig'][31][24]#}：</dt>{#* 电梯 *#}
		<dd>
			<div class="radio" id="typeObj">
				<span data-id="1"{#if $detail_elevator == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][31][25]#}</span>{#* 有 *#}
				<span data-id="2"{#if $detail_elevator == 2#} class="curr"{#/if#}>{#$langData['siteConfig'][31][26]#}</span>{#* 无 *#}
				<input type="hidden" name="elevator" id="elevator" value="{#$detail_elevator#}">
			</div>
		</dd>
	</dl>
	<!--新增付税方式s-->
	<dl class="fn-clear selectGroup" data-required="1">
		<dt>{#$langData['siteConfig'][32][78]#}：</dt>{#* 付税方式 *#}
		<dd>
			<div class="radio" id="taxtype">
				<span data-id="1"{#if $detail_paytax == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][32][76]#}</span>{#* 双方各自付税 *#}
				<span data-id="2"{#if $detail_paytax == 2#} class="curr"{#/if#}>{#$langData['siteConfig'][32][77]#}</span>{#* 房主净得价 *#}
				<input type="hidden" name="paytax" id="tax" value="{#$detail_paytax#}">
			</div>
		</dd>
	</dl>
	<!--新增付税方式e-->
	<dl class="fn-clear selectGroup" data-required="1">
		<dt>{#$langData['siteConfig'][32][81]#}：</dt>{#* 产权 *#}
		<dd>
			<div class="radio" id="propertytype">
				<span data-id="2"{#if $detail_rights_to == 2#} class="curr"{#/if#}>{#$langData['siteConfig'][32][79]#}</span>{#* 产权房 *#}
				<span data-id="1"{#if $detail_rights_to == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][32][80]#}</span>{#* 使用产权 *#}
				<input type="hidden" name="rights_to" id="property" value="{#$detail_rights_to#}">
			</div>
		</dd>
	</dl>
</div>

<dl class="fn-clear" data-required="1">
	<dt><span></span>{#$langData['siteConfig'][19][487]#}：</dt>{#* 编号 *#}
	<dd>
		<input type="text" name="sourceid" class="inp" id="sourceid" size="50" maxlength="50" data-title="" value="{#$detail_sourceid#}" />{#* 请输入编号 *#}
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>{#* 标题 *#}
	<dd>
		<input type="text" name="title" class="inp" id="title" size="50" maxlength="50" data-title="{#$langData['siteConfig'][20][26]#}" value="{#$detail_title#}" />{#* 请输入标题 *#}
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][23][46]#}：</dt>{#* 代表图片 *#}
	<dd class="thumb fn-clear listImgBox fn-hide">
		<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
		{#if $detail_litpic != ""#}
		<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" data-val="{#$detail_litpicSource#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>{#* 删除图片 *#}
		{#else#}
		<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
		{#/if#}
		<input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden" id="litpic_">
	</dd>
</dl>

<dl class="fn-clear">
	<dt>{#$langData['siteConfig'][19][335]#}：</dt>{#* 描述 *#}
	<dd>
		<script id="note" name="note" type="text/plain" style="width:750px;height:300px">{#$detail_note#}</script>
	</dd>
</dl>
<dl class="fn-clear">
	<dt>{#$langData['siteConfig'][19][2]#}：</dt>{#* 图集 *#}
	<dd class="listImgBox fn-hide">
		<div class="list-holder">
			<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_imglist#} style="display: block;"{#/if#}>
				{#foreach from=$detail_imglist key=k item=i#}
				<li class="fn-clear" id="WU_FILE_1_{#$k#}">
					<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>{#* 拖动调整图片顺序 *#}
					<a class="li-rm" href="javascript:;">×</a>
					<div class="li-thumb" style="display: block;">
						<div class="r-progress"><s></s></div>
						<span class="ibtn">
							<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>{#* 逆时针旋转90度 *#}
							<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>{#* 顺时针旋转90度 *#}
							<a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>{#* 放大 *#}
						</span>
						<span class="ibg"></span>
						<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
					</div>
					<textarea class="li-desc" placeholder="{#$langData['siteConfig'][20][477]#}" style="display: inline-block;">{#$i.info#}</textarea>{#* 请输入图片描述 *#}
				</li>
				{#/foreach#}
			</ul>
			<input type="hidden" name="imglist" value="" class="imglist-hidden">
		</div>
		<div class="btn-section fn-clear">
			<div class="wxUploadObj fn-clear">
				<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>{#* 添加图片 *#}
				<span class="upload-split fn-hide">{#$langData['siteConfig'][13][0]#}</span>{#* 或 *#}
				<dl class="wxUpload fn-hide fn-clear">
					<dt><img id="wxUploadImg" src="{#$templets_skin#}images/qr.jpg"/></dt>
					<dd>{#$langData['siteConfig'][19][362]#}<em class="wx">{#$langData['siteConfig'][27][139]#}</em>{#$langData['siteConfig'][27][140]#}<br />{#$langData['siteConfig'][19][846]#}{#$cfg_weixinName#}{#$langData['siteConfig'][27][141]#}<br />{#$langData['siteConfig'][27][142]#}<em class="fs">{#$langData['siteConfig'][6][139]#}</em>{#$langData['siteConfig'][27][143]#}</dd>{#* 使用-微信-扫描左侧二维码-关注-公众号后-将图片-发送-给公众号即可传图 *#}
				</dl>
			</div>
			<div class="upload-tip">
				<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_imglist#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>{#* 删除所有 *#}
					&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'2':$atlasMax|replace:'1':'2'#} <span class="fileerror"></span></p>{#* 单张最大1M，最多2张 *#}
			</div>
		</div>
	</dd>
</dl>


<dl class="fn-clear uploadVideo">
  <dt>{#$langData['siteConfig'][6][195]#}：</dt>{#* 上传视频 *#}
  <dd class="listImgBox fn-clear">
    <div class="list-holder">
        <ul id="listSection4" class="fn-clear listSection">
            {#if $detail_video#}
            <li id="WU_FILE_40" class="pubitem complete">
                <video class="video-js" id="WU_FILE_41" src="{#$detail_video#}" data-url="{#$detail_videoSource#}" data-val="{#$detail_videoSource#}"></video>
                <div class="file-panel li-rm"><span class="cancel">{#$langData['siteConfig'][6][195]#}</span></div>{#* 删除 *#}
                <span class="player"></span>
            </li>
            {#/if#}
        </ul>
        <input type="hidden" id="video" name="video" value="{#$videoArr[0].source#}" class="imglist-hidden">
    </div>
    <div class="btn-section fn-clear">
        <div class="uploadinp filePicker" id="filePicker4" data-extensions="mp4" data-mime="video/mp4" data-type="filenail" data-type-real="video" data-count="1" data-size="{#$softSize#}" data-imglist=""><div id="flasHolder4"></div><span>{#$langData['siteConfig'][6][196]#}</span><em>+</em></div>{#* 添加视频 *#}
    </div>
  </dd>
</dl>
<dl class="fn-clear" data-type="360qj">
  <dt>{#$langData['siteConfig'][18][51]#}：</dt>{#* 全景展示 *#}
  <dd class="fn-clear">
      <div class="radio">
          <span data-id="0"{#if $detail_qj_type == 0#} class="curr"{#/if#}>{#$langData['siteConfig'][26][7]#}</span>{#* 图片 *#}
          <span data-id="1"{#if $detail_qj_type == 1#} class="curr"{#/if#}>URL</span>
          <input type="hidden" name="qj_type" id="qj_type" value="{#$detail_qj_type|default:0#}">
      </div>
  </dd>
</dl>

<dl id="qj_0" class="fn-clear fn-hide"{#if $detail_qj_type == 0#} style="display: block;"{#/if#}>
  <dt>{#$langData['siteConfig'][6][50]#}：</dt>{#* 上传图片 *#}
  <dd class="listImgBox fn-hide">
    <div class="btn-section fn-clear">
      <div class="wxUploadObj fn-clear">
        <div class="uploadinp filePicker" id="filePicker6" data-type="quanj" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder6"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>{#* 添加图片 *#}
        <div class="upload-tip">
          <p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'6'#} <span class="fileerror"></span></p>{#* 删除所有 *#}{#* 单张最大1M，最多2张 *#}
        </div>
      </div>
    </div>

    <div class="list-holder qj360">
      <ul id="listSection6" class="fn-clear listSection piece">
      {#if $detail_qj_fileArr && $detail_qj_type == 0#}
      {#foreach from=$detail_qj_fileArr key=k item=pic#}
      {#if $pic.source#}
      <li class="fn-clear" id="WU_FILE_6_{#$k#}">
        <a class="li-rm" href="javascript:;">×</a>
        <div class="li-thumb" style="display: block;">
          <div class="r-progress"><s></s></div>
          <span class="ibtn">
            <a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>{#* 逆时针旋转90度 *#}
            <a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>{#* 顺时针旋转90度 *#}
            <a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>{#* 放大 *#}
          </span>
          <span class="ibg"></span>
          <img data-val="{#$pic.source#}" data-url="{#$pic.source#}" src="{#$pic.path#}" />
        </div>
      </li>
      {#/if#}
      {#/foreach#}
      {#/if#}
      </ul>
     <ul class="picbg" data-listidx="1"><li style="cursor: move;">{#$langData['siteConfig'][13][55]#}</li><li style="cursor: move;">{#$langData['siteConfig'][13][16]#}</li><li style="cursor: move;">{#$langData['siteConfig'][13][56]#}</li><li style="cursor: move;">{#$langData['siteConfig'][13][15]#}</li><li style="cursor: move;">{#$langData['siteConfig'][13][57]#}</li><li style="cursor: move;">{#$langData['siteConfig'][13][58]#}</li></ul>{#* 前-右-后-左-顶-底 *#}
      <input type="hidden" name="qj_pics" id="qj_pics" value="{#if $detail_qj_type == 0#}{#$detail_qj_file#}{#/if#}" class="imglist-hidden">
    </div>
  </dd>
</dl>

<dl id="qj_1" class="fn-clear fn-hide"{#if $detail_qj_type == 1#} style="display: block;"{#/if#}>
  <dt>{#$langData['siteConfig'][19][479]#}：</dt>{#* 全景地址 *#}
  <dd>
      <input type="text" name="qj_url" class="inp" id="qj_url" size="60" maxlength="60" placeholder="{#$langData['siteConfig'][31][12]#}" value="{#if $detail_qj_type == 1#}{#$detail_qj_file#}{#/if#}" />{#* 请填写全景URL地址 *#}
  </dd>
</dl>

<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][642]#}：</dt>{#* 联系人 *#}
	<dd>
		<input type="text" name="person" class="inp" id="person" size="20" data-title="{#$langData['waimai'][3][52]#}" value="{#if $detail_username != ""#}{#$detail_username#}{#else#}{#$userinfo.nickname#}{#/if#}" />{#* 请输入联系人 *#}
		<div class="radio upsex" id="typeSex">
			<span data-id="1"{#if $detail_sex == 1 || (!$detail_sex && $userinfo.sex == 1) #} class="curr"{#/if#}>{#$langData['siteConfig'][19][693]#}</span>{#* 先生 *#}
			<span data-id="2"{#if $detail_sex == 2 || (!$detail_sex && $userinfo.sex == 0) #} class="curr"{#/if#}>{#$langData['siteConfig'][19][694]#}</span>{#* 女士 *#}
			<input type="hidden" name="sex" id="sex" value="{#if $detail_sex#}{#$detail_sex#}{#else#}{#if $userinfo.sex == 0#}2{#else#}1{#/if#}{#/if#}">
		</div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<div class="choseGroup">
	<dl class="fn-clear selectGroup" data-required="1">
		<dt><span>*</span>{#$langData['siteConfig'][3][6]#}：</dt>{#* 手机号码 *#}
		<dd>
			<input type="text" name="tel" class="inp" id="tel" size="20" data-title="{#if $detail_contact == ""&&$userinfo.phone=="" #}{#$langData['siteConfig'][20][463]#}{#else#}{#$langData['siteConfig'][4][9]#}{#/if#}" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_contact != ""#}{#$detail_contact#}{#else#}{#$userinfo.phone#}{#/if#}" />{#* 请输入手机号码 *#}
			
			<span class="tip-inline"></span>
		</dd>
	</dl>
	<dl class="fn-clear selectGroup" data-required="1">
		<dt>手机即微信：</dt>{#* 手机即微信 *#}
		<dd>
			<div class="radio" id="taxtype">
				<span data-id="1"{#if $detail_wx_tel == 1#} class="curr"{#/if#}>是</span>{#* 是 *#}
				<span data-id="0"{#if $detail_wx_tel == 0#} class="curr"{#/if#}>否</span>{#* 否 *#}
				<input type="hidden" name="wx_tel" id="tax" value="{#$detail_wx_tel|default:0#}">
			</div>
		</dd>
	</dl>
</div>
<dl class="fn-clear fn-hide testbox" >
	<dt><span>*</span>{#$langData['siteConfig'][4][0]#}：</dt>{#* 验证码 *#}
	<dd>
		<input type="text" name="vercode" class="inp" id="testcode" size="20" data-title="{#$langData['siteConfig'][20][176]#}"  />{#* 验证码 *#}
		<a class="codebtn" href="javascript:;">{#$langData['siteConfig'][4][7]#}</a>{#* 发送验证码 *#}
		<span class="tip-inline"></span>
	</dd>
</dl>

<script>
	var map_city = '{#$cfg_mapCity#}', site_map = "{#$site_map#}";
  var userinfo = {
  	phone: '{#$userinfo.phone#}',
  	phoneCheck: {#$userinfo.phoneCheck#}
  };
  var detail = {
  	contact: '{#$detail_contact#}'
  }
</script>
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.coord.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.autocomplete.min.js"></script>
