<script type="text/javascript">
  var totalBalance = {#$userinfo.money|string_format:'%.2f'#};
</script>

<div class="mask"></div>

<div class="fabuPay">
	<div class="payTop">
		<div class="payHeader fn-clear">
			<p class="payNotice">{#$langData['siteConfig'][19][813]#}</p><a href="javascript:;" class="payClose"></a>{#* 您当前是普通用户，升级会员即可享受免费发布 *#}
		</div>
		<div class="payTxt">
			<p>{#$langData['siteConfig'][19][812]#}</p>{#* 当前需支付金额 *#}
			<p>{#echoCurrency type='symbol'#} <em class="payPrice">{#$cfg_fabuAmount[$module]#}</em>／{#$langData['siteConfig'][13][49]#}</p>{#* 条 *#}
			<a href="{#getUrlPath service='member' type='user' template='upgrade'#}" class="payBtn" title="{#$langData['siteConfig'][20][492]#}">{#$langData['siteConfig'][20][492]#}</a>{#* 升级会员，立即享受免费发布信息服务！ *#}
		</div>
	</div>
	<div class="payBottom">
    {#if $userinfo.money > 0#}
		<dl class="fabu_dl fn-clear yue">
			<dt class="yue-btn active"><i class="radio"><s></s></i>{#$langData['siteConfig'][19][386]#} <em class="gray">( {#echoCurrency type='symbol'#} {#$userinfo.money#} )</em></dt>{#* 账户余额 *#}
			<dd>-{#echoCurrency type='symbol'#} <em class="reduce-yue">0.00</em></dd>
		</dl>
		<dl class="fabu_dl fn-clear">
			<dt>{#$langData['siteConfig'][19][316]#}</dt>{#* 实付款 *#}
			<dd>&nbsp; {#echoCurrency type='symbol'#} <em class="pay-total">0.00</em></dd>
		</dl>
	  {#/if#}
    <div class="paytypeObj fn-hide">
	    <!-- <p class="choose-tit">{#$langData['siteConfig'][20][203]#}</p> -->
			<ul class="payTab fn-clear">
				<li class="curr">{#$langData['siteConfig'][29][126]#}</li>{#* 扫码支付 *#}
				<li>{#$langData['siteConfig'][6][107]#}</li>{#* 其他支付方式 *#}
			</ul>
			<div class="qrpay">
				<dl class="fn-clear">
					<dt><img src="" class="qrimg" /><img src="{#$cfg_staticPath#}images/pay_top.png" class="pay_top" /><img src="{#$cfg_staticPath#}images/pay_bottom.png" class="pay_bottom" /></dt>
					<dd><img src="{#$cfg_staticPath#}images/pay_alipay.png" /><img src="{#$cfg_staticPath#}images/pay_wx.png" />{#$langData['siteConfig'][29][127]#}</dd>{#* 其他支付方式 *#}
				</dt>
			</div>
	    <ul class="payway fn-hide fn-clear">
				{#$paytype = ""#}
	      {#siteConfig action="payment" return="payment"#}
				{#if $_bindex.payment == 1#}
				{#$paytype = {#$payment.pay_code#}#}
				{#/if#}
	      <li{#if $_bindex.payment == 1#} class="active"{#/if#} data-id="{#$payment.pay_code#}"><a href="javascript:;" class="{#$payment.pay_code#}"><img src="{#$cfg_basehost#}/templates/member/images/{#$payment.pay_code#}.png" alt="{#$payment.pay_name#}">{#$payment.pay_name#}</a></li>
	      {#/siteConfig#}
	    </ul>
		</div>
		<a href="javascript:;" class="paySubmit" style="display: none;">{#$langData['siteConfig'][19][327]#}</a>{#* 支付 *#}
	</div>
</div>

<form action="/include/ajax.php" method="post" id="payform">
	<input type="hidden" name="service" id="service" value="member">
	<input type="hidden" name="action" id="action" value="fabuPay">
	<input type="hidden" name="module" id="module" value="{#$module#}">
	<input type="hidden" name="type" id="type" value="{#$type#}">
	<input type="hidden" name="paytype" id="paytype" value="{#$paytype#}">
	<input type="hidden" name="aid" id="aid" value="" />
	<input type="hidden" name="amount" id="amount" value="" />
	<input type="hidden" name="useBalance" id="useBalance" value="" />
	<input type="hidden" name="tourl" id="tourl" value="" />
</form>
