<div class="w-form">
  <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=business&action=putDiscovery" data-url="{#getUrlPath service='member' type='user' template='manage-business-discovery'#}">
    <dl class="fn-clear">
      <dt><span>*</span>{#$langData['siteConfig'][19][892]#}：</dt>{#* 城市 *#}
      <dd>
        <select class="chosen-select" id="cityid" name="cityid" style="width: auto; min-width: 150px;" data-title="{#$langData['siteConfig'][20][585]#}">
          <option selected="" value="0">{#$langData['siteConfig'][7][2]#}</option>{#* 请选择 *#}
          {#siteConfig action="siteCity" return="city"#}
          <option value="{#$city.cityid#}" {#if $detail_cityid == $city.id#} selected{#/if#}>{#$city.name#}</option>
          {#/siteConfig#}
        </select>
        <span class="tip-inline"></span>
      </dd>
    </dl>
    <dl class="fn-clear" data-required="1" id="box_mold">
      <dt><span>*</span>{#$langData['siteConfig'][19][393]#}：</dt>{#* 分类 *#}
      <dd id="selType">
        <div class="sel-group" data-title="{#$langData['siteConfig'][20][41]#}">{#* 请选择所属分类 *#}
          <button type="button" class="sel">{#if $do == "edit"#}{#$detail_typeName#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>{#* 请选择 *#}
          <ul class="sel-menu">
            {#business action="discoveryType" return="type"#}
            <li><a href="javascript:;" data-id="{#$type.id#}">{#$type.typename#}</a></li>
            {#/business#}
          </ul>
        </div>
        <input type="hidden" name="typeid" id="typeid" value="{#$detail_typeid#}" />
        <span class="tip-inline"></span>
      </dd>
    </dl>
    <dl class="fn-clear" data-required="1">
      <dt><span>*</span>{#$langData['siteConfig'][26][59]#}：</dt>{#* 信息标题 *#}
      <dd>
        <input type="text" name="title" class="inp" id="title" size="60" maxlength="100" data-title="{#$langData['siteConfig'][21][139]#}" value="{#$detail_title#}" />{#* 请输入信息标题 *#}
        <span class="tip-inline"></span>
      </dd>
    </dl>
    <dl class="fn-clear">
      <dt>{#$langData['siteConfig'][19][19]#}：</dt>{#* 缩略图 *#}
      <dd class="thumb fn-clear listImgBox">
        <div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
        {#if $detail_litpic != ""#}
        <ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" data-val="{#$detail_litpicSource#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>{#* 删除图片 *#}
        {#else#}
        <ul id="listSection1" class="listSection thumblist fn-clear"></ul>
        {#/if#}
        <input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden">
      </dd>
    </dl>
    <dl class="fn-clear">
      <dt><span>*</span>{#$langData['siteConfig'][19][1]#}：</dt>{#* 内容 *#}
      <dd>
        <script id="body" name="body" type="text/plain" style="width:90%;height:500px">{#$detail_body#}</script>
      </dd>
    </dl>
    <dl class="fn-clear">
      <dt>{#$langData['siteConfig'][31][6]#}：</dt>{#* 插入商家 *#}
      <dd>
        <div class="fn-clear">
          <input type="text" class="inp" id="storename" size="20" maxlength="10" data-title="输入商家名称" />{#* 输入商家名称 *#}
          <span class="tip-inline"></span>
          <input type="hidden" name="sid" id="sid" value="{#$detail_sid#}">
        </div>
        <div id="companyList" class="popup_key"></div>
      </dd>
    </dl>
    <dl class="fn-clear" data-required="1">
      <dt><span>*</span>{#$langData['siteConfig'][19][3]#}：</dt>{#* 作者 *#}
      <dd>
        <input type="text" name="writer" class="inp" id="writer" size="10" maxlength="10" data-title="{#$langData['siteConfig'][20][38]#}" value="{#if $do == "edit"#}{#$detail_writer#}{#else#}{#$userinfo.nickname#}{#/if#}" />{#* 请输入作者，2-10个字 *#}
        <span class="tip-inline"></span>
      </dd>
    </dl>
    <dl class="fn-clear">
      <dt>&nbsp;</dt>
      <dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['shop'][1][7]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 注册中 - 提交修改 *#}
    </dl>
  </form>
</div>
