<div class="wrap footer">
	<p>
		{#siteConfig action="singel" pageSize="7"#}
		<a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}" target="_blank">{#$row.title#}</a>  |
		{#/siteConfig#}
		<a href="{#getUrlPath service='siteConfig' template='help'#}" target="_blank">{#$langData['siteConfig'][19][273]#}</a>{#* 帮助中心 *#}
	</p>
	<p>Copyright &copy; {#$smarty.now|date_format:"%Y"#} <a href="{#$cfg_basehost#}" target="_blank">{#$cfg_basehost|replace:"http://":""#}</a>  {#$langData['siteConfig'][23][23]#}</p>{#* 版权所有 *#}
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
