<ul class="main-tab">
	<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][19][391]#} (<span id="total">0</span>)</a></li>{#* 全部信息  *#}
	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][6][58]#} (<span id="audit">0</span>)</a></li>{#* 正在进行 *#}
	<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][19][507]#} (<span id="expire">0</span>)</a></li>{#* 已结束 *#}
	<li class="add"><a href="{#getUrlPath service='member' type='user' template='fabu' action='vote'#}">{#$langData['siteConfig'][10][27]#}</a></li>{#* 发布投票 *#}
</ul>
