<ul class="main-tab" data-url="{#getUrlPath service='huodong' template='fabu' param='id=%id'#}" data-reg="{#getUrlPath service='member' type='user' template='huodong-reg' id="%id"#}">
	<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][19][391]#} (<span id="total">0</span>)</a></li>{#* 全部信息  *#}
	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="audit">0</span>)</a></li>{#* 已审核  *#}
	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#} (<span id="gray">0</span>)</a></li>{#* 未审核  *#}
	<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>{#* 审核拒绝  *#}
	<li class="add"><a href="{#getUrlPath service='huodong' template='fabu'#}" target="_blank">{#$langData['siteConfig'][6][170]#}</a></li>{#* 发布新活动  *#}
</ul>
