<ul class="main-sub-tab" data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='furniture' id="%id%"#}" data-refund="{#getUrlPath service='member' type='user' template='orderdetail' module='furniture' id="%id%" param='rates=1'#}" data-comment="{#getUrlPath service='member' type='user' template='write-comment' module='furniture' id="%id%"#}">
	<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>{#* 全部 *#}
	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][22]#} (<span id="unpaid">0</span>)</a></li>{#* 未付款 *#}
	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][25]#} (<span id="unused">0</span>)</a></li>{#* 待发货 *#}
	<li data-id="6"><a href="javascript:;">{#$langData['siteConfig'][9][26]#} (<span id="recei">0</span>)</a></li>{#* 待收货 *#}
	<li data-id="3"><a href="javascript:;">{#$langData['siteConfig'][17][4]#} (<span id="used">0</span>)</a></li>{#* 成功 *#}
	<li data-id="4"><a href="javascript:;">{#$langData['siteConfig'][9][27]#} (<span id="refund">0</span>)</a></li>{#* 退款中 *#}
	<li data-id="5"><a href="javascript:;">{#$langData['siteConfig'][9][28]#} (<span id="rates">0</span>)</a></li>{#* 待评价 *#}
	<li data-id="7"><a href="javascript:;">{#$langData['siteConfig'][9][34]#} (<span id="closed">0</span>)</a></li>{#* 退款成功 *#}
	<li data-id="10"><a href="javascript:;">{#$langData['siteConfig'][6][15]#} (<span id="cancel">0</span>)</a></li>{#* 关闭 *#}
	
</ul>
<table class="oh">
	<colgroup>
		<col style="width:38%;">
		<col style="width:10%;">
		<col style="width:7%;">
		<col style="width:17%;">
		<col style="width:16%;">
		<col style="width:12%;">
	</colgroup>
	<tbody>
		<tr>
			<td>{#$langData['siteConfig'][16][25]#}</td>{#* 商品 *#}
			<td>{#$langData['siteConfig'][19][323]#}({#echoCurrency type='short'#})</td>{#* 单价 *#}
			<td>{#$langData['siteConfig'][19][324]#}</td>{#* 数量 *#}
			<td>{#$langData['siteConfig'][19][316]#}({#echoCurrency type='short'#})</td>{#* 实付款 *#}
			<td>{#$langData['siteConfig'][19][307]#}</td>{#* 状态 *#}
			<td>{#$langData['siteConfig'][6][11]#}</td>{#* 操作 *#}
		</tr>
	</tbody>
</table>
