<ul class="main-sub-tab" data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='tuan' id="%id%"#}">
	<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>{#* 全部 *#}
	<li class="fn-hide" data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][22]#} (<span id="unpaid">0</span>)</a></li>{#* 未付款 *#}
	<li class="fn-hide" data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][24]#} (<span id="unused">0</span>)</a></li>{#* 已付款 *#}
	<li class="fn-hide" data-id="6"><a href="javascript:;">{#$langData['siteConfig'][9][26]#} (<span id="recei">0</span>)</a></li>{#* 待收货 *#}
	<li class="fn-hide" data-id="3"><a href="javascript:;">{#$langData['siteConfig'][9][5]#} (<span id="used">0</span>)</a></li>{#* 成功 *#}
	<li class="fn-hide" data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][4]#} (<span id="expired">0</span>)</a></li>{#* 过期 *#}
	<li class="fn-hide" data-id="4"><a href="javascript:;">{#$langData['siteConfig'][9][27]#} (<span id="refund">0</span>)</a></li>{#* 退款中 *#}
	<li class="fn-hide" data-id="5"><a href="javascript:;">{#$langData['siteConfig'][9][28]#} (<span id="rates">0</span>)</a></li>{#* 待评价 *#}
	<li class="fn-hide" data-id="7"><a href="javascript:;">{#$langData['siteConfig'][9][34]#} (<span id="closed">0</span>)</a></li>{#* 退款成功 *#}
</ul>
