<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig']['10'][12]#} - {#$cfg_webname#}</title>{#* 管理我的订单 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, state = '{#$state#}';
	var atpage = 1, totalCount = 0, pageSize = 15, pointName = '{#$cfg_pointName#}';
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig']['10'][12]#}{#* 管理我的订单 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			{#if $module == "" && in_array("tuan", $installModuleArr)#}
			{#$module = "tuan"#}
			{#/if#}

			{#if $module == "" && in_array("shop", $installModuleArr)#}
			{#$module = "shop"#}
			{#/if#}

			{#if $module == "" && in_array("integral", $installModuleArr)#}
			{#$module = "integral"#}
			{#/if#}

			{#if $module == "" && in_array("info", $installModuleArr)#}
			{#$module = "info"#}
			{#/if#}

			<ul class="main-tab">
				{#if in_array("tuan", $installModuleArr)#}<li{#if $module == "tuan"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='order' module='tuan'#}">{#$langData['siteConfig'][16][46]#}</a></li>{#/if#}{#* 团购 *#}
				{#if in_array("shop", $installModuleArr)#}<li{#if $module == "shop"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='order' module='shop'#}">{#$langData['siteConfig'][16][47]#}</a></li>{#/if#}{#* 商城 *#}
				{#if in_array("integral", $installModuleArr)#}<li{#if $module == "integral"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='order' module='integral'#}">{#$langData['siteConfig'][26][196]#}</a></li>{#/if#}{#* 积分商城 *#}
				{#if in_array("info", $installModuleArr)#}<li{#if empty($type) && $module == "info"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='order' module='info'#}">{#$langData['siteConfig'][26][197]#}</a></li>{#/if#}{#* 分类信息 *#}
				{#if in_array("info", $installModuleArr)#}<li{#if $type=="out" && $module == "info"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='order' module='info'#}?type=out">{#$langData['siteConfig'][32][21]#}</a></li>{#/if#}{#* 卖出的商品 *#}
			</ul>
			{#if $type=='out'#}
			{#include file="order-infoout.html"#}
			{#else#}
			{#include file="order-$module.html"#}
			{#/if#}

			<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig']['20'][184]#}...</p></div>{#* 加载中，请稍候  *#}
			<div class="pagination fn-clear"></div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
{#if $type=='out'#}
<script type="text/javascript" src="{#$templets_skin#}js/order-infoout.js?v={#$cfg_staticVersion#}"></script>
{#else#}
<script type="text/javascript" src="{#$templets_skin#}js/order-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
</body>
</html>
