<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig']['22'][109]#} - {#$cfg_webname#}</title>{#* 签到送积分 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico?v={#$cfg_staticVersion#}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/qiandao.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, state = '{#$state#}', todayQiandao = {#$todayQiandao#};
	var currentYear = {#$smarty.now|date_format:"%Y"#}, currentMonth = {#$smarty.now|date_format:"%m"#}, currentDay = {#$smarty.now|date_format:"%d"#};
	var cfg_qiandao_buqianState = {#$cfg_qiandao_buqianState#}, cfg_qiandao_buqianPrice = {#$cfg_qiandao_buqianPrice#};
</script>
</head>

<body class="w1200">
{#$pageTitle = $langData['siteConfig']['22'][109]#}{#* 签到送积分 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">
		{#include file="sidebar.html"#}
		<div class="main">
			<div class="SignBox">
				<div class="SignLead fn-clear">
					<div class="SL_bc"></div>
					<div class="Continuous"><p>{#$langData['siteConfig']['22'][111]#}</p><span><em>{#$totalLianqian#}</em>{#$langData['siteConfig']['13'][6]#}</span></div>{#* 连续签到 - 天 *#}
					<div class="Personal">
						<div class="Portrait"><img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}" type="middle"#}{#/if#}" /></div>
						<p>{#$userinfo.nickname#}</p><span><em id="totalPoint">{#$userinfo.point#}</em>{#$cfg_pointName#}</span>
					</div>
					<div class="AllDay"><p>{#$langData['siteConfig']['22'][112]#}</p><span><em>{#$totalQiandao#}</em>{#$langData['siteConfig']['13'][6]#}</span></div>{#* 总签到-天  *#}
					<div class="Rules">{#$langData['siteConfig']['22'][110]#}</div>{#* 签到规则  *#}
					<div class="ClickSign{#if $todayQiandao#} disabled{#/if#}">{#if $todayQiandao#}{#$langData['siteConfig']['22'][124]#}{#else#}{#$langData['siteConfig']['22'][113]#}{#/if#}</div>{#* 点击签到  *#}
				</div>
				<div id="calendar"></div>
				<div class="wraning">{#$langData['siteConfig']['22'][116]#}</div>{#* 提示：只可补签当月漏签日期！  *#}
			</div>
		</div>
	</div>
</div>

<div class="disk"></div>
<div class="SuccessBox QianBox">
	<div class="SuccessLead">{#$langData['siteConfig']['22'][117]#}</div>{#* 签到成功  *#}
	<div class="SuccessDay"></div>
	<div class="SuccessIcon"></div>
	<p></p>
	<div class="close"></div>
</div>

{#if $cfg_qiandao_buqianState#}
<div class="SureBox">
	<div class="Surelead">{#$langData['siteConfig']['21'][5]#}</div>{#* 温馨提示  *#}
	<p>{#$langData['siteConfig'][22][128]#}{#$cfg_qiandao_buqianPrice#}{#$cfg_pointName#}，{#$langData['siteConfig'][22][129]#}</p>{#* 补签需扣除-确定补签吗？  *#}
	<ul class="fn-clear">
		<li class="cancle">{#$langData['siteConfig']['6'][12]#}</li>{#* 取消  *#}
		<li class="sure">{#$langData['siteConfig']['6'][1]#}</li>{#* 确定  *#}
	</ul>
</div>
{#/if#}

<div class="RulesBox">
	<div class="RuleLead">{#$langData['siteConfig']['22'][110]#}</div>{#* 签到规则  *#}
	<div class="RuleNote">
		{#$cfg_qiandao_note#}
	</div>
	<div class="close"></div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_basehost#}/include/json.php?action=lang"></script>
<script type="text/javascript" src="{#$templets_skin#}js/qiandao.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
