<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][5][3]#}</title>{#* 找回密码  *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/pay_list.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fpwd.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}', staticPath = '{#$cfg_staticPath#}';
  var geetest = {#$cfg_geetest#};
</script>
</head>

<body class="w1200">
  {#include file="../siteConfig/top1.html"#}

  <!-- head s -->
  <div class="wrap header fn-clear">
  	<div class="logo">
      <a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
  			<img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
  			<div class="shortname"><h2>{#$cfg_shortname#}</h2><p>{#$langData['siteConfig'][23][26]#}</p></div>{#* 地方最大最全生活网  *#}
  		</a>
  	</div>
  	<dl class="kefu fn-clear">
  		<dt><img src="{#$templets_skin#}images/kf_tel.png" alt=""></dt>
  		<dd>
  			<p class="p1">{#$langData['siteConfig'][19][275]#}</p>{#* 客服热线  *#}
  			<p class="p2">{#$cfg_hotline#}</p>
  		</dd>
  	</dl>
  </div>

  <div class="split-line"></div>

  <!-- head e -->
  <div class="wrap">
  	<div class="fpwdwrap">
      <div class="title"><span>{#$langData['siteConfig'][5][3]#}</span></div>{#* 找回密码  *#}
      <div class="tab-head">
				<ul class="tab-nav fn-clear">
          <li class="icon1"><a href="{#$cfg_basehost#}/fpwd.html"><span>{#$langData['siteConfig'][3][8]#}</span></a></li>{#* 手机找回  *#}
					<li class="icon2 active"><a href="{#$cfg_basehost#}/fpwd.html?type=email"><span>{#$langData['siteConfig'][3][12]#}</span></a></li>{#* 邮箱找回  *#}
				</ul>
			</div>
      <div class="modulebox">
        <div class="tab-pane">
          <div class="ftype" style="display: block;">
            <div class="step step0">
              <ul class="fn-clear">
                <li class="active"><span><i>1</i></span></li>
                <li class="active"><span><i>2</i></span></li>
                <li class="active"><span><i>3</i></span></li>
              </ul>
            </div>
            <div class="phone-step phone-step0">
              <div class="form-step" style="display:block;">
                {#if $empty == "yes"#}
                <div class="empty"><a href="{#$cfg_basehost#}">{#$langData['siteConfig'][20][380]#}</a></div>{#* 对不起，链接已失效，点击这里回首页！  *#}
                {#else#}
                <form class="form-horizontal" action="">
                  <input type="hidden" name="data" id="data" value="{#$data#}" />
                  <div class="form-row">
                    <dl class="fn-clear">
                      <dt>{#$langData['siteConfig'][5][9]#}</dt>{#* 设置密码  *#}
                      <dd class="fn-clear">
                        <div class="inpbox fn-left">
                          <input type="password" class="password" name="npwd" value="" placeholder="{#$langData['siteConfig'][20][6]#}" id="password"><i class="psw-show"></i>
                          <p class="tips">*{#$langData['siteConfig'][20][25]#}</p>{#* 字母区分大小写 *#}
                        </div>
                        <div class="error fn-left"><em></em><i class="error-icon"></i><span>{#$langData['siteConfig'][20][502]#}</span></div>{#* 请填写密码 *#}
                      </dd>
                    </dl>
                  </div>
                  <div class="form-row">
                    <dl class="fn-clear">
                      <dt>{#$langData['siteConfig'][5][10]#}</dt>{#* 确认密码  *#}
                      <dd class="fn-clear">
                        <div class="inpbox fn-left">
                          <input type="password" class="repassword" name="npwd1" value="" placeholder="{#$langData['siteConfig'][20][24]#}" id="repassword">{#* 请再次输入密码  *#}
                        </div>
                        <div class="error fn-left"><em></em><i class="error-icon"></i>{#$langData['siteConfig'][20][493]#}</div>{#* 两次密码输入不一样  *#}
                      </dd>
                    </dl>
                  </div>
                  <div class="form-row">
                    <dl class="fn-clear">
                      <dt></dt>
                      <dd><a href="javascript:;" class="submit" id="submitFpwd">{#$langData['siteConfig'][6][3]#}</a></dd>{#* 完成  *#}
                    </dl>
                  </div>
                  <input type="submit" class="fn-hide">
                </form>
                {#/if#}
              </div>
            </div>
          </div>
          <div class="ftype">
            <div class="step step1">
              <ul class="fn-clear">
                <li class="active"><span><i>1</i></span></li>
                <li><span><i>2</i></span></li>
                <li><span><i>3</i></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </div>

{#include file="../siteConfig/public_foot_v3.html" theme='gray'#}

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cookie.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/particles.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/resetpwd.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
