<iframe src="{#$cfg_basehost#}/index.php?service=member&template=ssoUser&site={#$site#}" style="display:none;"></iframe>
<script type="text/javascript" src="{#$cfg_basehost#}/static/js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
//单点登录执行脚本
function ssoLogin(info){
	//已登录
	if(info){
		$.cookie('{#$cfg_cookiePre#}login_user', info['uid'], {expires: 365, domain: "{#$site#}", path: '/'});

	//未登录
	}else{
		$.cookie('{#$cfg_cookiePre#}login_user', null, {expires: -10, domain: "{#$site#}", path: '/'});
	}
  var site = '{#$site#}', furl = '{#$furl#}';
  if(furl.replace('http://', '').replace('https://', '') == site){
    top.location = "http://{#$site#}";
  }else{
    top.location = "http://{#$site#}?furl={#$furl#}";
  }

  // top.location = "http://{#$site#}";
}
</script>
