<div class="title">
	<h2>{#$detail_title#}</h2>
	{#*<p>{#$detail_description#}</p>*#}
</div>
<div class="groupList" id="groupList">
	{#foreach from=$detail_body key=k item=q_cfg#}
	{#$xuan_count = 0#}
	<div class="item" data-type="{#if $q_cfg.q_type#}1{#else#}0{#/if#}">
		<div class="result">
			<div class="title"><span class="px fn-hide">{#$k+1#}.</span><span class="tit">{#$q_cfg.title#}</span> <span class="type">[{#if $q_cfg.q_type#}{#$langData['siteConfig'][31][75]#}{#else#}{#$langData['siteConfig'][31][76]#}{#/if#}]</span></div>{#* 多选题-单选题*#}
			<div class="body fn-clear">
				<div class="statistics-table" id="chart_{#$k#}_0">
					<table>
						<thead>
							<tr>
								<th class="t1">{#$langData['siteConfig'][31][78]#}</th>{#* 选项 *#}
								<th class="t2">{#$langData['siteConfig'][19][549]#}</th>{#* 小计 *#}
								<th class="t3">{#$langData['siteConfig'][32][61]#}</th>{#* 比例 *#}
							</tr>
						</thead>
						<tbody>
							{#foreach from=$q_cfg.xuan key=x_k item=x_cfg#}
							<tr {#if !$x_cfg.count#}class="empty"{#/if#}>
								<td>{#$x_cfg.txt#}</td>
								<td>{#$x_cfg.count#}</td>
								<td class="tj">
									<div class="progress"><b style="width:{#$x_cfg.ratio#}"></b></div>
									<div class="count">{#$x_cfg.ratio#}</div>
								</td>
							</tr>
							{#/foreach#}
							<tr>
								<th>{#$langData['siteConfig'][32][62]#}</th>{#* 本题有效填写人次 *#}
								<th>{#$q_cfg.total_count#}</th>
								<th></th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="g-btns fn-clear">	
					<div class="g-btns-right">
						<a href="javascript:;" class="changeType"><i class="icon icon_bin"></i>{#$langData['siteConfig'][32][63]#}</a>{#* 饼状图 *#}
						<a href="javascript:;" class="changeType"><i class="icon icon_huan"></i>{#$langData['siteConfig'][32][64]#}</a>{#* 环型图 *#}
						<a href="javascript:;" class="changeType"><i class="icon icon_zhu"></i>{#$langData['siteConfig'][32][65]#}</a>{#* 柱状图 *#}
						<a href="javascript:;" class="changeType"><i class="icon icon_tiao"></i>{#$langData['siteConfig'][32][66]#}</a>{#* 条形图 *#}
						<a href="javascript:;" class="removeEmpty">隐藏零数据</a>{#* 隐藏零数据 *#}
					</div>
				</div>
				<div class="statistics_chart" id="statistics_chart_{#$k#}"></div>
			</div>
		</div>
	</div>
	{#/foreach#}
	{#*<div class="sharebox"><a href="javascript:;"><i class="icon icon_share"></i>{#$langData['siteConfig'][6][166]#}</a></div>*#}
	{#* 分享 *#}
</div>

<script>
	var statisticsData = {#json_encode($detail_body)#};
</script>