<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][32][68]#} - {#$cfg_webname#}</title>{#* 留言建议 *#}
<meta name="keywords" content="{#$cfg_keywords#}" />
<meta name="description" content="{#$cfg_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/complain.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
  var module = '{#$module#}', dopost = '{#$dopost#}', aid = '{#$aid#}';
</script>
</head>

<body>
<form class="form" action="" method="post">
  <dl class="fn-clear">
    <dt>反馈内容：</dt>
    <dd class="fn-clear">
      <textarea name="desc" id="desc" placeholder="您留下的每个字都将帮助改善我们的产品，期待您的反馈（内容不少于5个字）" maxlength="200"></textarea>
      <span class="tip-inline"></span>
    </dd>
  </dl>
  <dl>
    <dt>{#$langData['siteConfig'][19][424]#}：</dt>{#* 联系方式 *#}
    <dd class="fn-clear">
      <input type="text" class="inp" size="21" name="phone" id="phone" autocomplete="off" data-title="{#$langData['siteConfig'][20][412]#}" />{#* 请输入联系方式 *#}
      <span class="tip-inline"></span>
    </dd>
  </dl>
  <dl class="fn-clear">
    <dt>&nbsp;</dt>
    <dd><button id="submit">{#$langData['siteConfig'][6][151]#}</button></dd>{#* 提交 *#}
  </dl>
</form>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/suggestion.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
