<script type="text/javascript">var memberPage = true, cookiePre = '{#$cfg_cookiePre#}', channelDomain = '{#$member_userDomain|replace:"http://":""#}';</script>
<div class="header">
	<div class="wrap fn-clear">
		<a class="logo" title="{#$langData['siteConfig'][23][79]#}" href="{#$member_userDomain#}"><s></s><h1>{#$langData['siteConfig'][0][11]#}</h1><span>{#$member_userDomain|replace:"http://":""#}</span></a>{#* 会员中心首页 -个人会员中心 *#}
		<ul class="nav">
			<li><a href="{#$member_userDomain#}">{#$langData['siteConfig'][0][6]#}</a></li>{#* 会员首页 *#}
			<li>
				<a href="{#getUrlPath service='member' type='user' template='profile'#}">{#$langData['siteConfig'][15][2]#}<span class="arrow"><em></em></span></a>{#* 帐户设置 *#}
				<dl class="subnav">
					<dt></dt>
					<dd><a href="{#getUrlPath service='member' type='user' template='profile'#}">{#$langData['siteConfig'][19][23]#}</a></dd>{#* 个人基本资料 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='security' doget='chpassword'#}">{#$langData['siteConfig'][5][19]#}</a></dd>{#* 修改登录密码 *#}
					<dd>{#if $userinfo.paypwdCheck == 0#}
						<a href="{#getUrlPath service='member' type='user' template='security' doget='paypwdAdd'#}">{#$langData['siteConfig'][6][120]#}</a>{#* 设置支付密码 *#}
						{#else#}<a href="{#getUrlPath service='member' type='user' template='security' doget='paypwdEdit'#}">{#$langData['siteConfig'][5][20]#}</a>{#* 修改支付密码 *#}
						{#/if#}</dd>
					<dd><a href="{#if $userinfo.certifyState != 1#}{#getUrlPath service='member' type='user' template='security' doget='chCertify'#}{#else#}{#getUrlPath service='member' type='user' template='security' doget='shCertify'#}{#/if#}">{#$langData['siteConfig'][19][212]#}</a></dd>{#* 个人实名认证 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='security' doget='chphone'#}">{#if $userinfo.phoneCheck == 0#}{#$langData['siteConfig'][19][774]#}{#else#}{#$langData['siteConfig'][3][7]#}{#/if#}</a></dd>{#* 绑定手机号-手机认证 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='security' doget='chemail'#}">{#if $userinfo.emailCheck == 0#}{#$langData['siteConfig'][3][16]#}{#else#}{#$langData['siteConfig'][3][10]#}{#/if#}</a></dd>{#* 绑定邮箱-邮箱认证 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='security' doget='question'#}">{#$langData['siteConfig'][19][213]#}</a></dd>{#* 安全保护问题 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='address'#}">{#$langData['siteConfig'][19][214]#}</a></dd>{#* 收货地址管理 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='connect'#}">{#$langData['siteConfig'][15][11]#}</a></dd>{#* 社交帐号关联绑定 *#}
					<dd><a href="{#getUrlPath service='member' type='user' template='loginrecord'#}">{#$langData['siteConfig'][15][8]#}</a></dd>{#* 帐号登录记录 *#}
				</dl>
			</li>
			<li>
				<a href="javascript:;">{#$langData['siteConfig'][11][1]#}<span class="arrow"><em></em></span></a>{#* 便捷发布 *#}
				<dl class="subnav">
					<dt></dt>
					{#if in_array("article", $installModuleArr) && ( !$userinfo || {#verifyModuleAuth module='article' type='userCenter'#} )#}
					<dd>
						<a href="{#getUrlPath service='member' type='user' template='fabu' action='article'#}">[{#$langData['siteConfig'][19][215]#}] {#$langData['siteConfig'][11][9]#}</a>{#* 新闻--发布新闻投稿 *#}
					</dd>{#/if#}
					{#if in_array("info", $installModuleArr) && ( !$userinfo || {#verifyModuleAuth module='info' type='userCenter'#} )#}<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='info'#}">[{#$langData['siteConfig'][19][216]#}] {#$langData['siteConfig'][11][10]#}</a></dd>{#/if#}{#* 信息--发布分类信息 *#}
					{#if in_array("house", $installModuleArr) && ( !$userinfo || {#verifyModuleAuth module='house' type='userCenter'#} )#}
					<dd>
						<a href="javascript:;">[{#$langData['siteConfig'][19][217]#}] {#$langData['siteConfig'][11][13]#}</a>{#* 房产--发布房产信息 *#}
						<dl>
							<!--<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-demand'#}">{#$langData['siteConfig'][23][49]#}</a></dd>-->
							<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-sale'#}">{#$langData['siteConfig'][19][218]#}</a></dd>{#* 二手房 *#}
							<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-zu'#}">{#$langData['siteConfig'][19][219]#}</a></dd>{#* 租房 *#}
							<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-xzl'#}">{#$langData['siteConfig'][19][220]#}</a></dd>{#* 写字楼 *#}
							<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-sp'#}">{#$langData['siteConfig'][19][221]#}</a></dd>{#* 商铺 *#}
							<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-cf'#}">{#$langData['siteConfig'][19][222]#}</a></dd>{#* 厂房、仓库 *#}
						</dl>
					</dd>
					{#/if#}
					{#if in_array("tieba", $installModuleArr) && ( !$userinfo || {#verifyModuleAuth module='tieba' type='userCenter'#} )#}
					<dd><a href="{#getUrlPath service='tieba' template='fabu'#}" target="_blank">[{#$langData['siteConfig'][19][223]#}] {#$langData['siteConfig'][11][3]#}</a></dd>{#* 贴吧-发布新贴 *#}
					{#/if#}
					{#if in_array("huodong", $installModuleArr) && ( !$userinfo || {#verifyModuleAuth module='huodong' type='userCenter'#} )#}
					<dd><a href="{#getUrlPath service='huodong' template='fabu'#}" target="_blank">[{#$langData['siteConfig'][19][224]#}] {#$langData['siteConfig'][11][7]#}</a></dd>{#* 活动-发布活动 *#}
					{#/if#}
				</dl>
			</li>
			<li>
				<a href="javascript:;">{#$langData['siteConfig'][10][2]#}<span class="arrow"><em></em></span></a>{#* 我的财务 *#}
				<dl class="subnav">
					<dt></dt>
					{#if 'deposit'|in_array:$cfg_ucenterLinks#}
					<dd><a href="{#getUrlPath service='member' type='user' template='deposit'#}">{#$langData['siteConfig'][15][10]#}</a></dd>{#* 帐户充值、提现 *#}
					{#/if#}

                    {#if 'order'|in_array:$cfg_ucenterLinks#}
					<dd><a href="{#getUrlPath service='member' type='user' template='order'#}">{#$langData['siteConfig'][10][12]#}</a></dd>{#* 管理我的订单 *#}
					{#/if#}

					{#if 'record'|in_array:$cfg_ucenterLinks#}
					<dd><a href="{#getUrlPath service='member' type='user' template='record'#}">{#$langData['siteConfig'][19][226]#}</a></dd>{#* 交易记录明细 *#}
					{#/if#}

					{#if $cfg_pointState && 'point'|in_array:$cfg_ucenterLinks#}
					<dd><a href="{#getUrlPath service='member' type='user' template='point'#}">{#$cfg_pointName#}{#$langData['siteConfig'][23][78]#}</a></dd>{#* 记录明细 *#}
					{#/if#}

					{#if 'balance'|in_array:$cfg_ucenterLinks#}
					<dd><a>{#$langData['siteConfig'][19][228]#}：<strong>{#$userinfo.money#}</strong></a></dd>{#* 可用金额 *#}
					<dd><a>{#$langData['siteConfig'][19][229]#}：<strong>{#$userinfo.freeze#}</strong></a></dd>{#* 冻结金额 *#}
					{#/if#}
				</dl>
			</li>
			<li><a href="{#$member_busiDomain#}" target="_blank">{#$langData['siteConfig'][19][230]#}</a></li>{#* 商家服务 *#}
			<li class="mobile">
				<a href="{#getUrlPath service='siteConfig' template='mobile'#}" target="_blank"><s class="mob"></s>{#$langData['siteConfig'][23][80]#}<i class="new">new</i></a>{#* 手机版 *#}
				<dl class="subnav">
					<dt></dt>
					<dd class="qrcode"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" /></dd>
				</dl>
			</li>
			<li><a href="{#$cfg_basehost#}/logout.html" class="logout"><s class="quit"></s>{#$langData['siteConfig'][15][4]#}</a></li>{#* 退出帐户 *#}
		</ul>
	</div>
</div>


<div class="wrap crumbs fn-clear">
	<div class="cont">
		<a href="{#$cfg_basehost#}" target="_blank">{#$langData['siteConfig'][0][5]#}</a>{#* 网站首页 *#}
		<s><i></i></s>
		<a href="{#$member_userDomain#}">{#$langData['siteConfig'][0][7]#}</a>{#* 会员中心 *#}
		{#if $template != 'index'#}
		<s><i></i></s>
		{#$pageTitle#}
		{#/if#}
	</div>
	<div class="notice" id="notice">
		<ul>
			{#siteConfig action="notice" return="notice"  pageSize="8"#}
			<li><a href="{#$notice.url#}" target="_blank" title="{#$notice.title#}"><s></s>{#$notice.title#}</a></li>
			{#/siteConfig#}
		</ul>
	</div>
</div>
