<!-- 个人中心信息 s -->
<div class="top_box">
	<div class="wrap per_information">
		<div class="logo fn-clear">&nbsp;</div>
		<div class="per_img">
			<div class="circle_out">
				<div class="circle_in">
					<a href="{#$cfg_basehost#}/user/{#$id#}" title="{#$nickname#}"><img src="{#$photo#}" alt="{#$nickname#}" onerror="this.src='/static/images/noPhoto_100.jpg'" /></a>
				</div>
				{#if $level#}<div class="vip_tips"><img src="{#$level_icon#}" alt="{#$level_name#}" title="{#$level_name#}"></div>{#/if#}
			</div>
		</div>
		<div class="per_name">{#$nickname#} <em>{#$addr#}</em></div>
		{#if $id != $userinfo['userid']#}
		{#if $userinfo && $isfollow#}
		<div class="attion attioned fn-clear" data-id="{#$id#}">{#$langData['siteConfig'][19][845]#}</div>{#* 已关注 *#}
		{#else#}
		<div class="attion fn-clear" data-id="{#$id#}"><em>+</em><span>{#$langData['siteConfig'][19][846]#}</span></div>{#* 关注 *#}
		{#/if#}
		{#else#}<div style="height: 50px;"></div>
		{#/if#}
		<div class="per_number fn-clear">
			<a href="{#$cfg_basehost#}/user/{#$id#}/fans.html">{#$langData['siteConfig'][19][847]#}<em>{#$totalFans#}</em></a>{#* 粉丝 *#}
			<span>/</span>
			<a href="{#$cfg_basehost#}/user/{#$id#}/follow.html">{#$langData['siteConfig'][19][846]#}<em>{#$totalFollow#}</em></a>{#* 关注 *#}
			<span>/</span>
			{#$langData['siteConfig'][23][84]#}<em>{#if $level#}{#$level_name#}{#else#}{#$langData['siteConfig'][19][849]#}{#/if#}</em>{#* 会员等级 - 普通会员 *#}
			<span>/</span>
			<a href="{#$cfg_basehost#}/user/{#$id#}#leave_message">{#$langData['siteConfig'][19][848]#}<em>{#$totalMessage#}</em></a>{#* 留言 *#}
		</div>
	</div>
</div>
<!-- 个人中心信息 e -->
<!-- 主干部分 s -->
<div class="main fn-clear wrap">
	<div class="main_left">
			<div class="nav_box">
				<ul>
					{#if in_array("article", $installModuleArr)#}<li data-action="article"><a href="{#$cfg_basehost#}/user/{#$id#}#article">{#$langData['siteConfig'][23][85]#}<i></i></a></li>{#/if#}{#* Ta的投稿 *#}
					{#if in_array("tieba", $installModuleArr)#}<li data-action="tieba"><a href="{#$cfg_basehost#}/user/{#$id#}#tieba">{#$langData['siteConfig'][23][86]#}<i></i></a></li>{#/if#}{#* Ta的帖子 *#}
					{#if in_array("info", $installModuleArr)#}<li data-action="info"><a href="{#$cfg_basehost#}/user/{#$id#}#info">{#$langData['siteConfig'][23][87]#}<i></i></a></li>{#/if#}{#* Ta的二手 *#}
					{#if in_array("house", $installModuleArr)#}<li data-action="house"><a href="{#$cfg_basehost#}/user/{#$id#}#house">{#$langData['siteConfig'][23][88]#}<i></i></a></li>{#/if#}{#* Ta的房源 *#}
					{#if in_array("job", $installModuleArr) && $resumeUrl#}<li><a href="{#$resumeUrl#}" target="_blank">{#$langData['siteConfig'][23][89]#}<i></i></a></li>{#/if#}{#* Ta的简历 *#}
					{#if in_array("huodong", $installModuleArr)#}<li data-action="huodong"><a href="{#$cfg_basehost#}/user/{#$id#}#huodong">{#$langData['siteConfig'][23][90]#}<i></i></a></li>{#/if#}{#* Ta的活动 *#}
					{#if in_array("dating", $installModuleArr) && $datingUrl#}<li class="bbnone"><a href="{#$datingUrl#}" target="_blank">{#$langData['siteConfig'][23][91]#}<i></i></a></li>{#/if#}{#* Ta的交友 *#}
				</ul>
			</div>
			{#if $action != "user_visitor"#}
			<div class="visitor">
				<div class="visitor_lead fn-clear">
						<em>{#$langData['siteConfig'][23][92]#}</em>{#* 访客 *#}
					<a href="{#$cfg_basehost#}/user/{#$id#}/visitor.html">{#$langData['siteConfig'][18][18]#}>></a>{#* 更多 *#}
				</div>
				<div class="visitor_list fn-clear">
					<ul>
						{#member action="visitor" return="visitor" uid={#$id#} pageSize="9"#}
						<li><a href="{#$cfg_basehost#}/user/{#$visitor.uid#}" target="_blank" title="{#$visitor.nickname#}">
							<div class="vis_pic">
								<img src="{#if !$visitor.state#}{#$visitor.photo#}{#else#}/static/images/noPhoto_60.jpg{#/if#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt="">
							</div>
							<h1>{#if !$visitor.state#}{#$visitor.nickname#}{#else#}{#$langData['siteConfig'][19][850]#}{#/if#}</h1>{#* 已注销 *#}
							<h2>{#$visitor.date#}</h2>
						</a></li>
						{#/member#}
					</ul>
					{#if $pageInfo.totalCount == 0#}
					<div class="empty">{#$langData['siteConfig'][20][508]#}</div>{#* 暂无任何访客！ *#}
					{#/if#}
				</div>
			</div>
			{#/if#}
		</div>
