<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$nickname#}{#$langData['siteConfig'][19][840]#} - {#$cfg_webname#}</title>{#* 关注的会员！ *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/user.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/user_fans.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body class="w1200">
{#include file="../siteConfig/top1.html"#}
{#include file="user_top.html"#}

	<div class="main_right">

		<div class="fans_box">
			<div class="fans_lead">{#$langData['siteConfig'][19][846]#}<em>{#$totalFollow#}</em></div>{#* 关注 *#}
			<div class="fans_list fn-clear">
				<ul>
					{#member action="follow" type="follow" return="follow" uid={#$id#} page={#$page#} pageSize="25"#}
					<li>
						<div class="member_pic">
							<a href="{#$cfg_basehost#}/user/{#$follow.uid#}" title="{#$follow.nickname#}" target="_blank"><img src="{#if !$follow.state#}{#$follow.photo#}{#else#}/static/images/noPhoto_60.jpg{#/if#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt="{#$follow.nickname#}"></a>
						</div>
						{#if $follow.level#}<i><img src="{#$follow.levelIcon#}" title="{#$follow.levelName#}" /></i>{#/if#}
						{#if !$follow.state#}
						<h1><a href="{#$cfg_basehost#}/user/{#$follow.uid#}" title="{#$follow.nickname#}" target="_blank">{#$follow.nickname#}</a></h1>
						<h2>{#$follow.addrName#}</h2>
						{#if $follow.isfollow#}
						<div class="attention guanzhu_btn" data-id="{#$follow.uid#}">{#$langData['siteConfig'][19][845]#}</div>{#* 已关注 *#}
						{#else#}
						<div class="attention" data-id="{#$follow.uid#}">{#$langData['siteConfig'][19][846]#}</div>{#* 关注 *#}
						{#/if#}
						{#else#}
						<h1>已注销</h1>
						<h2>&nbsp;</h2>
						{#/if#}
					</li>
					{#/member#}
				</ul>
				{#if $pageInfo.totalCount == 0#}
				<div class="empty">{#$langData['siteConfig'][20][507]#}</div>{#* 还没有人关注！ *#}
				{#/if#}
			</div>
		</div>

		{#getPageList service='siteConfig' template='user' action='follow' pageType='dynamic' id={#$id#} param="page=#page#"#}

	</div>

{#include file="user_footer.html"#}
