<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][860]#} - {#$cfg_webname#}</title>{#* 提现记录详细 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw_log_detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][19][860]#}{#* 提现记录详细 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li><a href="{#getUrlPath service='member' type='user' template='deposit'#}">{#$langData['siteConfig'][19][292]#}</a></li>{#* 在线充值 *#}
				<li><a href="{#getUrlPath service='member' type='user' template='withdraw'#}">{#$langData['siteConfig'][19][293]#}</a></li>{#* 我要提现 *#}
				<li class="curr"><a href="{#getUrlPath service='member' type='user' template='withdraw_log'#}">{#$langData['siteConfig'][19][294]#}</a></li>{#* 提现记录 *#}
			</ul>
			
			<!-- put_forward -->
			{#if $tab == 'p'#}
				
				<!-- 银行 -->
				{#if $type == 'bank'#}

			<dl class="info-section">
				{#if $state == 0#}
					{#$stateTxt = $langData['siteConfig'][9][14]#}{#* 审核中 *#}
				{#elseif $state == 1#}
					{#$stateTxt = $langData['siteConfig'][9][5]#}{#* 成功 *#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][861]|cat:"："|cat:$rdate|cat:"</p>"#}{#* 到账时间 *#}
				{#elseif $state == 2#}
					{#$stateTxt = $langData['siteConfig'][9][6]#}{#* 失败 *#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][862]|cat:"："|cat:$rdate|cat:"</p>"#}{#* 操作时间 *#}
				{#/if#}
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">{#$stateTxt#}</em></dt>{#* 提现状态 *#}
				<dd class="last"><p>{#$stateNote#}</p>{#$stateData#}</dd>
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>{#* 提现信息 *#}
				<dd>
					<ul>
						{#if $bank == "alipay"#}
						<li>{#$langData['siteConfig'][19][40]#}：{#$order_id#}</li>{#* 收款人帐号 *#}
						<li>{#$langData['siteConfig'][19][41]#}：{#$cardname#}</li>{#* 收款人姓名 *#}
						{#else#}
						<li>{#$langData['siteConfig'][23][96]#}：{#$bank#}</li>{#* 提现银行 *#}
						<li>{#$langData['siteConfig'][19][865]#}：{#$order_id#}</li>{#* 提现卡号 *#}
						<li>{#$langData['siteConfig'][19][866]#}：{#$cardname#}</li>{#* 收款人 *#}
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$pubdate#}</li>{#* 申请时间 *#}
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>{#* 提现金额 *#}
					</ul>
				</dd>
			</dl>
				
				<!-- 支付宝微信 -->
				{#else#}
			
			<dl class="info-section">
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">{#$langData['siteConfig'][32][71]#}</em></dt>{#* 提现状态-提现申请已提交  *#}
				<dd class="last"><p>{#$stateNote#}</p>{#$langData['siteConfig'][32][70]#}</dd>{#* 资金到账可能有延迟，请耐心等待  *#}
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>{#* 提现信息  *#}
				<dd>
					<ul>
						{#if $type == "alipay"#}
						<li>{#$langData['siteConfig'][32][72]#}{#$langData['siteConfig'][19][302]#}</li>{#* 提现方式：支付宝  *#}
						{#elseif $type == "wxpay"#}
						<li>{#$langData['siteConfig'][32][72]#}{#$langData['siteConfig'][27][139]#}</li>{#* 提现方式：微信  *#}
						{#else#}
						<li>{#$langData['siteConfig'][32][72]#}{#$langData['siteConfig'][32][73]#}</li>{#* 提现方式：快速提现  *#}
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$pubdate#}</li>{#* 申请时间  *#}
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>{#* 提现金额  *#}
					</ul>
				</dd>
			</dl>

				{#/if#}

			{#else#}

			<dl class="info-section">
				{#if $state == 0#}
					{#$stateTxt = $langData['siteConfig'][9][14]#}{#* 审核中  *#}
					{#if $bank == "alipay"#}
						{#$stateNote = $langData['siteConfig'][19][392]#}{#* 已审核  *#}
					{#else#}
						{#$stateNote = $langData['siteConfig'][19][393]#}{#* 分类  *#}
					{#/if#}
				{#elseif $state == 1#}
					{#$stateTxt = $langData['siteConfig'][9][5]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][861]|cat:"："|cat:$rdate|cat:"</p>"#}{#* 到账时间  *#}
				{#elseif $state == 2#}
					{#$stateTxt = $langData['siteConfig'][9][6]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][862]|cat:"："|cat:$rdate|cat:"</p>"#}{#* 操作时间  *#}
				{#/if#}
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">{#$stateTxt#}</em></dt>{#* 提现状态  *#}
				<dd class="last"><p>{#$stateNote#}</p>{#$stateData#}</dd>
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>{#* 提现信息  *#}
				<dd>
					<ul>
						{#if $bank == "alipay"#}
						<li>{#$langData['siteConfig'][19][40]#}：{#$cardnum#}</li>{#* 收款人帐号 *#}
						<li>{#$langData['siteConfig'][19][41]#}：{#$cardname#}</li>{#* 收款人姓名 *#}
						{#else#}
						<li>{#$langData['siteConfig'][23][96]#}：{#$bank#}</li>{#* 提现银行 *#}
						<li>{#$langData['siteConfig'][19][865]#}：{#$cardnum#}</li>{#* 提现卡号 *#}
						<li>{#$langData['siteConfig'][19][866]#}：{#$cardname#}</li>{#* 收款人 *#}
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$tdate#}</li>{#* 申请时间 *#}
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>{#* 提现金额 *#}
					</ul>
				</dd>
			</dl>

			{#/if#}

		</div>
	</div>
</div>

{#include file="footer.html"#}
</body>
</html>
