.filter .t-fi-item li a s,
.orderby .o-r a s {background-image: url('../images/listSprite.png'); background-repeat: no-repeat;}

.ml30 {margin-left: 30px;}
a:hover {text-decoration: underline;}

/* 筛选 */
.filter {position: relative; z-index: 10; margin-bottom: 25px; border: 1px solid #eee; font-size: 14px;}

/* 区域&地铁 */
.filter .t-fi {line-height: 40px; border-bottom: 1px solid #eee;}
.filter .t-fi .smap {float: right; font-size: 14px; margin-right: 20px; line-height: 50px;}
.filter .t-fi label {float: left; width: 70px; padding: 5px 0; text-align: right;}
.filter .t-fi-item {float: left; margin-top: 5px;}
.filter .t-fi-item li {float: left; margin-right: 5px;}
.filter .t-fi-item li a {position: relative; display: block; padding: 0 10px 0 25px; background-color: #fff; font-size: 14px;}
.filter .t-fi-item li a:hover {font-weight: 700;}
.filter .t-fi-item li.curr a {font-weight: 700; color: #bc0a0a;}
.filter .t-fi-item li a s {position: absolute; left: 6px; top: 11px; width: 15px; height: 17px;}
.filter .t-fi-item li.subway a s {background-position: -30px 0; top: 12px; left: 5px;}
.filter .t-fi-item li a:hover s, .filter .t-fi-item li.curr a s {background-position: -15px 0;}
.filter .t-fi-item li.subway a:hover s, .filter .t-fi-item li.subway.curr a s {background-position: -45px 0;}
.filter .t-fi-item li a i {position: absolute; right: 12px; top: 18px; width: 9px; height: 5px; background-position: -13px -38px;}
.filter .t-fi-item li.curr a i {background-position: -13px -32px;}

/* 区域&地铁数据 */
.filter .sub-fi {position: relative; clear: left; padding: 10px 10px 10px 80px; border-bottom: 1px solid #eee; background-color: #f9f9f9;}
.filter .sub-fi s, .filter .sub-fi i {position: absolute; left: 120px; top: -8px; height: 0; width: 0; margin-left: -7px; border-style: solid; border-width: 0 8px 8px; border-color: transparent;}
.filter .sub-fi s {border-bottom-color: #e0e0e0;}
.filter .sub-fi i {border-width: 0 7px 7px; top: 1px; left: 0; border-bottom-color: #f9f9f9;}
.filter .sub-fi .curr {color: #bc0a0a; font-weight: 700;}
.filter .sub-fi a {margin-right: 20px; white-space: nowrap;}

/* 筛选条件 */
.filter dl {border-bottom: 1px dotted #eee;}
.filter dl.more {border: none;}
.filter dt {float: left; width: 70px; padding: 15px 0; text-align: right;}
.filter dd {position: relative; overflow: hidden; padding: 5px 0 10px;}
.filter dd a {float: left; padding: 5px 10px; margin: 5px 5px 0 0; white-space: nowrap;}
.filter dd a.curr {color: #bc0a0a; font-weight: 700;}


.filter .keywords a {float: left; padding: 0 5px 0 8px; margin: 10px 0 0 10px; border: 1px dashed #f33; line-height: 20px; color: #f33;}
.filter .keywords a:hover {text-decoration: none;}
.filter .keywords a s {text-decoration: none; margin-left: 3px;}


/* 排序 */
.orderby {height: 45px; border-bottom: 1px solid #eee; line-height: 45px;}
.orderby .l-tab {float: left; height: 44px; font-size: 18px; line-height: 44px;}
.orderby .l-tab li {float: left; border: 1px solid #eee; border-bottom: 0; margin-left: -1px; background-color: #f9f9f9;}
.orderby .l-tab a {color: #000; padding: 0 60px; display: block;}
.orderby .l-tab a:hover {text-decoration: none;}
.orderby .l-tab li.curr {background-color: #fff; border-top: 2px solid #c0140a;}

.orderby .o-r {float: right; height: 20px; line-height: 20px; padding-top: 7px;}
.orderby .o-r a {float: left; position: relative; margin-left: 15px;}
.orderby .o-r a.curr {color: #bc0a0a;}
.orderby .o-r .ob {padding-right: 17px;}
.orderby .o-r .ob s {position: absolute; right: 0; top: 5px; width: 12px; height: 12px; background-position: 0 -18px;}
.orderby .o-r .ob.curr s {background-position: -39px -18px;}
.orderby .o-r .ob.up s {background-position: -13px -18px;}
.orderby .o-r .ob.up.curr s {background-position: -26px -18px;}
.orderby .o-p {float: left; display: none; margin: 0 10px; padding-top: 2px;}
.orderby .o-p a {display: block; width: 17px; height: 17px; margin-left: 5px; background-image: url('../images/btnPage_17.gif');}
.orderby .o-p a.dis {cursor: no-drop;}
.orderby .o-p a.next {background-position: -22px 0;}
.orderby .o-p a.prev.dis {background-position: 0 -20px;}
.orderby .o-p a.next.dis {background-position: -22px -20px;}

/* 列表 */
#list .empty {text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}
.l-item {border-bottom: 1px solid #dedede; padding: 30px 0;}
.l-item:hover {background-color: #f5f5f5;}
.l-item .more {float: right; width: 200px; text-align: right; margin-right: 15px;}
.l-item .more .price {margin-top: 30px;}
.l-item .more .price em, .l-item .more .price strong {color: #c0140a;}
.l-item .more .price em {font-size: 14px;}
.l-item .more .price strong {font-size: 36px; font-family: Georgia; font-weight: 500; padding: 0 5px;}
.l-item dl {position: relative; overflow: hidden;}
.l-item dt {float: left; width: 180px; height: 135px; overflow: hidden; margin-right: 20px;}
.l-item dt a, .l-item dt img {width: 180px; height: 135px; display: block;}
.l-item dt a {position: relative;}
.l-item dt a em {position: absolute; right: 0; top: 0; font-size: 12px; color: #fff; background-color: #c0140a; padding: 1px 5px 2px; line-height: 15px;}
.l-item dt a i {position: absolute; right: 0; top: 0; font-size: 12px; color: #fff; background-color: #93b94c; padding: 1px 5px 2px; line-height: 15px; font-style: normal;}
.l-item dd {position: relative; overflow: hidden;}
.l-item dd h3 {font-size: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.l-item dd p {margin-top: 8px; height: 23px; line-height: 23px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.l-item dd p.u {font-size: 12px;}
.l-item .addr-icon {display: inline-block; width: 10px; height: 13px; margin: -3px 5px 0 0; background: url('../images/zuSprite.png') no-repeat; vertical-align: middle;}
.l-item dd p i {padding: 0 10px; color: #dadada; font-style: normal;}
.l-item .upd {display: inline-block; width: 12px; height: 13px; margin: -1px 5px 0 15px; background: url('../images/zuSprite.png') -13px 0; vertical-align: middle;}


/* 分页 */
.pagination {padding: 10px 0 30px; margin-top: 30px; text-align: center; line-height: 28px; font-size: 14px; color: #333;}
.pagination li {display: inline-block; margin-right: 5px; border: 1px solid #efefef;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;}
.pagination li a:hover ,.pagination li.page_current span {background: #fe5050; color: #fff; border-color: #fe5050;}
.pagination li.page_more span {background: #fff;color: #333; cursor: default;}
.pagination .page_info {display: none;}
