a:hover {text-decoration: underline;}

.crumb {border-bottom: 1px solid #eee;}

/* 楼盘导航 */
.community-nav .name {padding: 20px 0 10px; font-size: 30px; color: #000;}
.community-nav ul {height: 44px; background-color: #fafafa; border: 1px solid #ddd; border-top: 2px solid #e43; font-size: 16px;}
.community-nav li {float: left; margin-right: 1px;}
.community-nav li a {padding: 0 20px; line-height: 44px; display: block;}
.community-nav li a:hover, .community-nav li.curr a {background-color: #e43; color: #fff;}

/* 户型 */
.hxlist {margin: 40px auto 10px;}
.tit .links {float: left; margin: 5px 0 0 20px; font-size: 14px;}
.tit .links em {color: #ebebeb; padding: 0 10px;}
.hxcon {overflow: hidden; margin-top: 25px; width: 110%;}
.hxcon li {float: left; width: 195px; margin-right: 6px; margin-bottom: 30px;}
.w1200 .hxcon li {width: 220px; margin-right: 25px;}
.hxcon .pic {position: relative; display: block; width: 193px; height: 138px; color: #fff; border: 1px solid #d3d3d3; border-bottom: 0;}
.hxcon li:hover .pic {border-color: #d3d3d3;}
.w1200 .hxcon .pic {width: 218px; height: 163px;}
.hxcon .pic img {width: 193px; height: 138px; display: block;}
.w1200 .hxcon .pic img {width: 218px; height: 163px;}
.hxcon .pic p {position: absolute; left: -1px; bottom: 0; width: 175px; height: 36px; line-height: 36px; display: block; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px; font-size: 14px; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000); overflow: hidden;}
.w1200 .hxcon .pic p {width: 200px;}
.hxcon .pic .p-label {position: absolute; top: 0; right: 5px; min-width: 30px; padding: 0 10px; height: 25px; line-height: 23px; background: #98b85c; color: #fff; text-align: center; font-size: 12px;}
.hxcon .txt {width: 173px; height: 75px; background-color: #f7f7f7; border: 1px solid #eee; border-top: none; padding: 0 10px;}
.hxcon li:hover .txt {border-color: #d3d3d3;}
.w1200 .hxcon .txt {width: 198px;}
.hxcon .txt p {height: 40px; line-height: 35px; display: block; color: #666; font-size: 14px;}
.hxcon .txt p strong {color: #e43; font-weight: 500; font-size: 26px; font-family: Georgia; margin-right: 5px;}
.hxcon .txt .p-last {height: 25px; line-height: 25px; color: #666; text-align: left; padding-bottom: 8px;}
.hxcon .txt .p-label {min-width: 65px; padding: 0 7px; height: 18px; line-height: 18px; color: #9cba74; border: 1px solid #9cba74; margin-right: 5px; text-align: center; font-size: 12px;}

/* 相册 */
.album {margin: 40px auto;}
.album-list {overflow: hidden; margin-top: 20px;}
.album-list ul {width: 110%;}
.album-list li {float: left; width: 188px; margin-right: 15px; margin-bottom: 15px;}
.w1200 .album-list li {width: 220px; margin-right: 25px; margin-bottom: 25px;}
.album-list li a {position: relative; width: 188px; height: 133px; overflow: hidden; display: block; color: #fff;}
.w1200 .album-list li a {width: 220px; height: 165px;}
.album-list li a img {width: 188px; height: 165px; display: block;}
.w1200 .album-list li a img {width: 220px; -webkit-transition: all .2s linear; transition: all .2s linear;}
.album-list li a:hover img {transform: scale(1.03);}
.album-list li a p {position: absolute; left: 0; bottom: 0; width: 168px; height: 36px; line-height: 36px; display: block; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px; font-size: 14px; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000); overflow: hidden;}
.w1200 .album-list li a p {width: 200px;}

.xccon {margin-top: 30px;}
.xccon .album-list {border-bottom: 1px solid #eee; padding-bottom: 25px;}
.xccon .album-list.last {border: none; padding: 0;}


/* container */
.container {position: relative; overflow: hidden; padding-right: 30px; margin-top: 30px; border-right: 1px solid #eee;}
.c-tit {position: relative; height: 25px; line-height: 25px; padding: 0 15px; margin: 10px 0 20px; font-size: 24px;}
.c-tit s {position: absolute; left: 0; top: 0; bottom: 0; width: 6px; background-color: #e43; overflow: hidden;}
.c-tit s i {position: absolute; height: 0; width: 0; line-height: 0; border: 6px dashed transparent; bottom: -6px; right: 0; border-right: 6px solid #000;}
.c-tit .more {float: right; font-size: 14px; font-weight: 500; color: #999;}
.c-tit a:hover.more {text-decoration: none; color: #e43;}

.c-info {padding: 0 0 30px; font-size: 14px; line-height: 2em;}
.c-info .detail {width: 100%; border-left: 1px solid #eee; border-bottom: 1px solid #eee;}
.c-info .detail td {width: 50%; padding: 10px 20px; line-height: 1.5em; border-top: 1px solid #eee; border-right: 1px solid #eee;}
.c-info dl {padding: 5px 10px;}
.c-info dt {float: left; width: 110px; text-align: right; margin-right: 5px;}
.c-info dd {position: relative; overflow: hidden;}
.c-info dd a {display: inline-block; border-bottom: 1px dotted #ccc;}
.c-info dd a:hover {text-decoration: none;}
.c-info p {padding: 0 10px;}

/* 侧栏 */
.sidebar {float: right; width: 300px; margin: 0 0 0 30px; font-size: 14px;}
.sidebar dl {margin-bottom: 15px;}
.sidebar dt {height: 45px; line-height: 45px; font-size: 18px; color: #333; border-bottom: 1px solid #ededed; margin-bottom: 10px;}
.sidebar dt h3 {float: left; padding: 0 15px 0 0; border-bottom: 1px solid #e43;}
.sidebar dd {height: 38px; line-height: 38px; color: #666; border-bottom: 1px solid #eee;}
.sidebar dd span {float: left; height: 35px;  display: block; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.sidebar dd .title {width: 125px;}
.sidebar dd .info {width: 85px;}
.sidebar dd .price {width: 85px; text-align: right;}
.sidebar .news {margin-bottom: 20px;}
.sidebar .news dd {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.sidebar .news dd a {position: relative; padding-left: 15px;}
.sidebar .news dd a s {position: absolute; left: 3px; top: 8px; width: 4px; height: 4px; background-color: #ccc; overflow: hidden;}
.sidebar .empty {height: 150px; line-height: 150px; text-align: center; color: #999;}


/* 位置 */
.map {margin: 10px auto 40px;}
.map-con {margin-top: 20px;}
.map-box {position: relative; overflow: hidden; height: 500px;}
.map-detail {float: right; width: 400px; margin-left: 20px;}
.map-con.google .map-detail {display: none;}
.map-tab {height: 35px; border-bottom: 2px solid #e43; font-size: 20px; margin-bottom: 10px;}
.map-tab li {float: left; width: 100px; height: 35px; line-height: 35px; text-align: center; cursor: pointer; overflow: hidden;}
.map-tab li.active {background-color: #e43; color: #fff;}
.map-list p {height: 36px; display: block; line-height: 36px; margin-left: 10px; overflow: hidden; white-space: nowrap; font-size: 16px;}
.map-ul {margin-top: 3px; height: 378px; overflow-y: auto; overflow-x: hidden;}
.map-ul .load {text-align: center; line-height: 200px;}
.map-ul li {height: 46px; line-height: 46px; margin-left: 10px; cursor: pointer;}
.map-ul li .icon {float: left; width: 36px; height: 36px; vertical-align: middle;}
.map-icon {background: url('../images/map_icon_24.png') no-repeat 0 0; _background: url('../images/map_icon_8.png') no-repeat 0 0;}
.map-ul li .sch, .mark-icon-box .sch {background-position: 0 0;}
.map-ul li.active .sch, .mark-icon-box .sch:hover, .life-map-active .sch {background-position: 0 -44px;}
.map-ul li .hos, .mark-icon-box .hos {background-position: -47px 0;}
.map-ul li.active .hos, .mark-icon-box .hos:hover, .life-map-active .hos {background-position: -47px -44px;}
.map-ul li .bus, .mark-icon-box .bus {background-position: -96px 0;}
.map-ul li.active .bus, .mark-icon-box .bus:hover, .life-map-active .bus {background-position: -96px -44px;}
.map-ul li .buy, .mark-icon-box .buy {background-position: -142px 0;}
.map-ul li.active .buy, .mark-icon-box .buy:hover, .life-map-active .buy {background-position: -142px -46px;}
.map-ul li .met, .mark-icon-box .met {background-position: -190px 0;}
.map-ul li.active .met, .mark-icon-box .met:hover, .life-map-active .met {background-position: -190px -45px;}
.map-ul li .bin, .mark-icon-box .bin {background-position: -237px 0;}
.map-ul li.active .bin, .mark-icon-box .bin:hover, .life-map-active .bin {background-position: -237px -46px;}
.map-ul li .bank, .mark-icon-box .bank {background-position: -284px 0;}
.map-ul li.active .bank, .mark-icon-box .bank:hover, .life-map-active .bank {background-position: -284px -45px;}

.mark-icon-box {width: 28px; height: 36px; position: absolute; top: 260px; z-index: 98;}
.mark-icon-box .mark-icon {width: 36px; height: 36px; display: block; cursor: pointer;}
.mark-tip {width: 218px; font-size: 14px; position: absolute; z-index: 99; background: #fff; padding: 5px 15px 5px 27px; border-radius: 5px; box-shadow: 3px 3px 8px #888;}
.mark-tip-sign {width: 14px; height: 16px; position: absolute; left: 9px; top: 8px; background-position: -1px -14px;}
.mark-tip .title {line-height: 22px; color: #e43;}
.mark-tip .title span {display: block; width: 170px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.mark-tip .title b {font-weight: normal; display: block; position: absolute; top: 5px; right: 10px;}
.mark-tip .content {line-height: 20px; color: #333; max-height: 60px; display: block; overflow: hidden; _height: 60px;}
.mark-tip .icon {width: 17px; height: 9px; background-position: -51px -90px; position: absolute; bottom: -9px; left: 20px; _bottom: -16px;}
.life-mark {position: absolute; text-align: center; white-space: nowrap; top: 100px; z-index: 99;}
.life-mark .text {font-size: 16px; color: #fff; padding: 0 20px; line-height: 30px; background: #f60; border-radius: 4px;}
.life-mark .icon {width: 32px; height: 20px; background-position: 0 -90px; margin: 0 auto -12px; display: block;}

.map-ul li .text {float: left; line-height: 40px; width: 265px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.map-ul li .text .gray {font-size: 14px;}
.map-ul .distance {margin-right: 2px; float: right; font-size: 14px; line-height: 40px; overflow: hidden;}


/* 户型页 */
.nav-tab {margin: 10px 0; height: 55px; border-bottom: 1px solid #eee;}
.nav-tab li {float: left;}
.nav-tab li a {position: relative; display: block; padding: 6px 20px 9px; font-size: 14px; text-align: center; line-height: 20px;}
.nav-tab li a:hover {text-decoration: none; color: #333;}
.nav-tab li a span {display: block; color: #999; font-size: 12px;}
.nav-tab li a s {display: none; position: absolute; height: 0; width: 0; border: 6px dashed transparent; bottom: 0; left: 50%; margin-left: -6px; border-bottom: 6px solid #c0140a;}
.nav-tab .curr {border-bottom: 1px solid #c0140a;}
.nav-tab .curr a, .nav-tab .curr a span {color: #c0140a;}
.nav-tab .curr a s {display: block;}

/* 收藏、分享 */
.tools {height: 24px; margin-top: 20px; font-size: 12px;}
.tools a {float: left; position: relative; border: 1px solid #dbdbdb; padding: 0 15px 0 30px; line-height: 24px; margin-right: 10px; color: #666;}
.tools a.share s {width: 13px; height: 13px; background-position: -2px -87px; left: 13px; top: 6px;}
.tools a.share:hover, .tools a.share.curr {color: #e43; border-color: #e43;}
.tools a.share:hover s, .tools a.share.curr s {background-position: -18px -87px;}


.empty {display: block; text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}


/* 二手房 */
.sale li {padding: 26px; border-bottom: 1px dotted #e1e1e1;}
.sale li:hover {background-color: #fafafa;}
.sale li .pic {float: left; width: 173px; height: 130px; overflow: hidden; background: url('/static/images/ui/loading.gif') no-repeat center; text-align: center; -ms-interpolation-mode: bicubic; transition-property: opacity; transition-duration: .15s; transition-timing-function: linear; transition-delay: 0;}
.sale li .pic img {display: inline; z-index: 0; vertical-align: middle; max-width: 100%; max-height: 100%;}
.sale li .pic i {display: inline-block; height: 100%; vertical-align: middle;}
.sale li a:hover.pic {opacity: .8; filter: alpha(opacity=80);}
.sale li .info {position: relative; overflow: hidden; padding-left: 20px;}
.sale li .info h2 {overflow: hidden; text-overflow: ellipsis; font-size: 20px; white-space: nowrap; height: 32px; line-height: 20px;}
.sale li .info h2 a {color: #000;}
.sale li .info .col1 {float: left; width: 460px;}
.w1200 .sale li .info .col1 {width: 600px;}
.sale li .info .col1 .w {height: 35px; line-height: 35px; font-size: 14px; font-weight: 700; color: #666;}
.sale li .info .col1 .w a {float: left; color: #666; margin-right: 25px;}
.sale li .info .col1 .w span {float: left; margin-right: 25px;}
.sale li .info .col1 .o {height: 28px; line-height: 28px; font-size: 14px; color: #888;}
.sale li .info .col1 .o a {color: #888;}
.sale li .info .col1 .o span {margin: 0 10px;}
.sale li .info .col1 .tags {padding-top: 10px;}
.sale li .info .col1 .tags span {float: left; height: 23px; border: 1px solid #fff; padding: 0 5px; line-height: 23px; font-size: 12px; margin-right: 5px;}
.sale li .info .col1 .tags .t0, .sale li .info .col1 .tags .t3 {background-color: #f2f9fe; border-color: #82a1bb; color: #6c879e;}
.sale li .info .col1 .tags .t1, .sale li .info .col1 .tags .t4 {background-color: #f2fff8; border-color: #86c7a2; color: #57846a;}
.sale li .info .col1 .tags .t2, .sale li .info .col1 .tags .t5 {background-color: #fff; border-color: #4db500; color: #588c31;}
.sale li .info .col2 {float: left; width: 130px; text-align: right;}
.sale li .info .col2 .num {margin-top: 15px;}
.sale li .info .col2 .num strong {font-size: 16px;}
.sale li .info .col2 p, .sale li .info .col3 p {font-size: 12px; color: #999; font-family: Arial;}
.sale li .info .col2 p {margin-top: 6px;}
.sale li .info .col3 {float: right; width: 150px; text-align: center;}
.sale li .info .col3 .price {color: #e4393c; margin-top: 3px;}
.sale li .info .col3 .price strong {font-size: 30px; margin-right: 3px; font-family: tahoma; letter-spacing: -1px;}

/* 出租房 */
.zu .l-item {border-bottom: 1px solid #dedede; padding: 30px 0;}
.zu .l-item:hover {background-color: #f5f5f5;}
.zu .l-item .more {float: right; width: 200px; text-align: right; margin-right: 15px;}
.zu .l-item .more .price {margin-top: 15px;}
.zu .l-item .more .price em, .zu .l-item .more .price strong {color: #c0140a;}
.zu .l-item .more .price em {font-size: 14px;}
.zu .l-item .more .price strong {font-size: 36px; font-family: Georgia; font-weight: 500; padding: 0 5px;}
.zu .l-item dl {position: relative; overflow: hidden;}
.zu .l-item dt {float: left; width: 180px; height: 135px; overflow: hidden; margin-right: 20px;}
.zu .l-item dt a, .zu .l-item dt img {width: 180px; height: 135px; display: block;}
.zu .l-item dt a {position: relative;}
.zu .l-item dt a em {position: absolute; right: 0; top: 0; font-size: 12px; color: #fff; background-color: #c0140a; padding: 1px 5px 2px; line-height: 15px;}
.zu .l-item dt a i {position: absolute; right: 0; top: 0; font-size: 12px; color: #fff; background-color: #93b94c; padding: 1px 5px 2px; line-height: 15px; font-style: normal;}
.zu .l-item dd {position: relative; overflow: hidden;}
.zu .l-item dd h3 {font-size: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.zu .l-item dd p {margin-top: 8px; height: 23px; line-height: 23px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.zu .l-item dd p.u {font-size: 12px;}
.zu .l-item dd p.u a {margin-right: 15px;}
.zu .l-item .addr-icon {display: inline-block; width: 10px; height: 13px; margin: -3px 5px 0 15px; background: url('../images/zuSprite.png') no-repeat; vertical-align: middle;}
.zu .l-item dd p i {padding: 0 10px; color: #dadada; font-style: normal;}
.zu .l-item .upd {display: inline-block; width: 12px; height: 13px; margin: -1px 5px 0 0; background: url('../images/zuSprite.png') -13px 0; vertical-align: middle;}
.zu .l-item dd .tag {display: inline-block; height: 18px; line-height: 18px; padding: 0 5px; margin-right: 3px; border-width: 1px; border-style: solid;}
.zu .l-item dd .t1 {border-color: #93b94c; color: #93b94c; margin-left: 20px;}
.zu .l-item dd .t2 {border-color: #f18614; color: #f18614;}
.zu .l-item dd .t3 {border-color: #14a0f1; color: #14a0f1;}



/* 分页 */
.pagination {padding: 10px 0 30px; margin-top: 30px; text-align: center; line-height: 28px; font-size: 14px; color: #333;}
.pagination li {display: inline-block; margin-right: 5px; border: 1px solid #efefef;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;}
.pagination li a:hover ,.pagination li.page_current span {background: #fe5050; color: #fff; border-color: #fe5050;}
.pagination li.page_more span {background: #fff;color: #333; cursor: default;}
.pagination .page_info {display: none;}
