.diy-additive {
	height:80px;
	width:80px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:3px 0;
	background-color:transparent;
	cursor:move
}
.diy-additive:hover {
	background-color:#414141
}
.diy-additive > i {
	display:block;
	height:32px;
	width:32px;
	margin:10px auto 5px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	opacity:.8
}
.diy-additive:hover > i {
	opacity:1
}
.diy-additive > label {
	display:block;
	text-align:center;
	font-size:12px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-overflow:ellipsis;
	color:rgb(240,240,240)
}
