#sidebar-dock .spinner,#sidebar-panel .spinner {
	position:relative
}
#sidebar-dock .spinner:before,#sidebar-panel .spinner:before {
	position:absolute;
	z-index:1;
	content:'';
	display:block;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0)
}
#sidebar-dock .spinner:after,#sidebar-panel .spinner:after {
	position:absolute;
	z-index:2;
	content:"";
	left:50%;
	top:50%;
	margin:-9px 0 0 -9px;
	display:block;
	width:18px;
	height:18px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:solid 3px transparent;
	border-color:#c00 rgba(36,119,221,0.1) rgba(36,119,221,0.4) rgba(36,119,221,0.7);
	border-radius:50%;
	-webkit-animation:spinner 500ms linear infinite;
	animation:spinner 500ms linear infinite
}
@-webkit-keyframes spinner {
	0% {
	-webkit-transform:rotate(0deg)
}
100% {
	-webkit-transform:rotate(360deg)
}
}@keyframes spinner {
	0% {
	transform:rotate(0deg)
}
100% {
	transform:rotate(360deg)
}
}