@charset "utf8";
html{background: #fff;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);margin-bottom: 3rem;}

.foreword{margin: .2rem;background: #fafafa;padding: .3rem .2rem;font-size: .28rem;color: #404040;line-height: .5rem;border-radius: .1rem;}
.list{padding: .2rem;}
.list .item {padding: .2rem;background: #fff;position: relative;padding-left: 2rem;}
.list .item label {font-size: .28rem;position: absolute;left: .2rem;height: .6rem;line-height: .6rem;}
.list .item label span {color: #fd5530;margin-right: .1rem;position: relative;top: .08rem;font-size: .3rem;}
.list .item input {padding: 0;width: auto;margin: 0;line-height: .6rem;height: .6rem;width: 100%;text-align: left;font-size: .28rem;border: 1px solid #c2c2c2;border-radius: .1rem;padding-left: .1rem;background: #fafafa;}
.list .item select {width: 32%;padding: 0;margin: 0;font-size: .28rem;background:#fafafa url(../images/t_bottom.png) no-repeat 1.2rem center;background-size: .2rem;height: .6rem;appearance:none;-moz-appearance:none;-webkit-appearance:none;border: 1px solid #c2c2c2;border-radius: .1rem;color: #999999}
textarea::-webkit-input-placeholder {color: #999999 !important;}
textarea:-moz-placeholder {color: #999999 !important;}
textarea::-moz-placeholder {color: #999999 !important; }
textarea:-ms-input-placeholder {color: #999999 !important; }
input::-webkit-input-placeholder {color: #999999 !important;}
input:-moz-placeholder {color: #999999 !important;}
input::-moz-placeholder {color: #999999 !important; }
input:-ms-input-placeholder {color: #999999 !important; }
.list .item:last-child label span{padding-right: .2rem;}

.remarks ul {font-size: .28rem;color: #404040;}
.remarks ul li {display: inline-block;width: 2.4rem;margin: 0 0 .25rem 0;float: left;}
.remarks ul li span {padding-left: .38rem;background: url(../images/quan.png) 0 center no-repeat;background-size: .3rem .3rem;}
.remarks ul li.active span {background: url(../images/quan_y.png) 0 center no-repeat;background-size: .3rem .3rem;}
.remarks ul li:last-child {width: 100%;}
.remarks ul li .Desc1 {height: .9rem;width: 4.1rem; margin-left: .2rem;border: 1px solid #c2c2c2;font-size: .28rem;padding: .1rem;}
/*.remarks ul li #Desc1{width: 3.5rem;margin-left: .2rem;}*/

.btn{position: fixed;bottom: 0;width: 100%;height: .8rem;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);}
.btn button{width: 50%;display: inline-block;border:none;height: .8rem;}
.btn .cancel{background: #e6e6e6;font-size: .32rem;color: #808080;float: left;}
.btn .sendout{background: #ff526a;font-size: .32rem;color: #fff;float: left;}


/*提示弹框*/
.protips {display: none;padding: .4rem .2rem;width: 46%;background: rgba(0,0,0,0.8);line-height: .6rem;position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);border-radius: .2rem;-webkit-border-radius: .2rem;-moz-border-radius: .2rem;-ms-border-radius: .2rem;color: #ffffff;font-size: .28rem;text-align: center;z-index: 99;}