<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$cfg_webname#}</title>
<meta name="keywords" content="{#$cfg_keywords#}" />
<meta name="description" content="{#$cfg_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/changecity.css?v={#$cfg_staticVersion#}" media="all" />
</head>

<body class="w1200">
<div class="wrap header fn-clear">
  <div class="logo"><img src="{#$cfg_weblogo#}" title="{#$cfg_shortname#}" />{#$cfg_shortname#}</div>
  <div class="tel"><s><img src="{#$cfg_basehost#}/static/images/changecity_tel.png" /></s><p>客服热线</p>{#$cfg_hotline#}</div>
</div>
<div class="wrap main">
  <div class="content{#if !$isSpider#} fn-hide{#/if#}">
    <h3 class="sel-tit">请选择您所在的城市：</h3>
    <ul class="city fn-clear">
      {#siteConfig action='siteCity' return='city' module={#$backModule#}#}
      <li><a href="{#$city.url#}" title="{#$city.name#}" data-domain='{#$city|@json_encode#}'>{#$city.name#}<s><img src="{#$cfg_basehost#}/static/images/changecity_curr.png" /></s></a></li>
      {#/siteConfig#}
    </ul>
  </div>
</div>

{#include file="public_foot_v3.html"#}

<script type="text/javascript">
  var cfg_cookiePre = '{#$cfg_cookiePre#}', cfg_clihost = '{#$cfg_clihost#}';
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/changecity.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
