<!-- 底部 s -->
<div class="footer">
	<div class="wrap">
		<div class="about">
			<div class="links">
				<dl>
					<dt>关于我们<s></s></dt>
					{#siteConfig action="singel" pageSize="5"#}
					<dd><a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}" target="_blank">{#$row.title#}</a></dd>
					{#/siteConfig#}
				</dl>
				{#siteConfig action='helpsType' return='type' pageSize="5"#}
				<dl>
					<dt>{#$type.typename#}<s></s></dt>
					{#siteConfig action='helpsType' type={#$type.id#} return='type1' pageSize="5"#}
					<dd><a href="{#getUrlPath service='siteConfig' template='help' id={#$type1.id#}#}" target="_blank">{#$type1.typename#}</a></dd>
					{#/siteConfig#}
				</dl>
				{#/siteConfig#}
			</div>
		</div>
		<div class="frinedlink">
			<div class="links">
				<div class="box fn-clear">
					{#$cfg_powerby#}
        		</div>
			</div>
		</div>
	</div>
</div>
<!-- 底部 e -->
{#$cfg_statisticscode#}
