<script>
  	var site_map = "{#$site_map#}", site_map_key = '{#$site_map_key#}';
</script>
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
{#if $site_map == "qq"#}
<script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js" charset="utf-8"></script>
{#/if#}
{#if $site_map != "amap"#}
<script type="text/javascript" src="{#$site_map_amap_apiFile#}" charset="utf-8"></script>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicLocation.js?v={#$cfg_staticVersion#}"></script>
