{#if !$is_app#}

{#if $userinfo#}
<!-- 发布信息 s-->
<div class="cd-bouncy-nav-modal" id="myFabu">
	<div class="cd-bouncy-nav">
		<iframe  name="myFabuIframe" id="myFabuIframe" src="{#getUrlPath service='member' type='user' template='fabuJoin_touch_popup_3.4'#}" data-src="{#getUrlPath service='member' type='user' template='fabuJoin_touch_popup_3.4'#}" frameborder="0" width="100%" height="100%"></iframe>
	</div>
</div>
<!-- 发布信息 e-->
{#/if#}

{#if !$userinfo#}
<!-- 登录 s-->
<div class="login-modal" id="myLogin" >
	<div class="loginBox">
		<iframe name="myLoginIframe" id="myLoginIframe" src="{#getUrlPath service='member' type='user' template='login_touch_popup_3.4'#}" data-src="{#getUrlPath service='member' type='user' template='login_touch_popup_3.4'#}" frameborder="0"  width="100%" height="100%"></iframe>
	</div>
</div>
<!-- 登录 e-->
{#/if#}

<div class="footer_3_4">
	<ul class="fn-clear">
        {#siteConfig action='touchHomePageFooter' version='2.0' return='nav'#}

        {#if $_bindex.nav == 3#}
        <li class="fabu">
            <a href="javascript:;">
                <i><img src="{#$nav.icon#}" /></i>
                <p>{#$nav.name#}</p>
            </a>
            <div class="fabuBg"></div>
        </li>
        {#else#}
		<li class="ficon">
			<a href="{#$nav.url#}">
				<i><img src="{#if ($_bindex.nav == 1 && $active == 'index') || ($_bindex.nav == 2 && $active == 'business') || ($_bindex.nav == 4 && $active == 'message') || ($_bindex.nav == 5 && $active == 'member')#}{#$nav.icon_h#}{#else#}{#$nav.icon#}{#/if#}" /></i>
				<p>{#$nav.name#}</p>
			</a>
		</li>
        {#/if#}

        {#/siteConfig#}
	</ul>

</div>

<script type="text/javascript">
var audioSrc = {
	refresh: '{#$cfg_staticPath#}audio/refresh.mp3',
	tap: '{#$cfg_staticPath#}audio/tap.mp3',
	cancel: '{#$cfg_staticPath#}audio/cancel.mp3'
}

var is_login_animating = false;
var audio,audio1,audio2,stop=1;
    audio = new Audio();
    audio1 = new Audio();
    audio2 = new Audio();
    audio.src = audioSrc.refresh;
    audio1.src = audioSrc.tap;
    audio2.src = audioSrc.cancel;

var myLoginIframe = '';
var myFabuIframe = '';
var popupIframeTop = 0;

//关闭菜单
function btnLoginClose(){
	audio2.play();
	$('.login-modal').removeClass('fade-in').addClass('fade-out');
	setTimeout(function(){
		$('.login-modal').hide();
	}, 500);
	$('html').removeClass("popup_fixed");
	$(window).scrollTop(popupIframeTop);
}

function btnFbClose(){
	audio2.play();
	$('.cd-bouncy-nav-modal').removeClass('fade-in').addClass('fade-out');
	setTimeout(function(){
		$('.cd-bouncy-nav-modal').hide();
	}, 500);
	$('html').removeClass("popup_fixed");
    $(window).scrollTop(popupIframeTop);
}

function noscroll(){
    setTimeout(function(){
        $('html').addClass("popup_fixed");
	}, 300);
}

$(function(){
	//弹出菜单--登录
	$('.header-top .login').on('tap', function() {
        popupIframeTop = $(window).scrollTop();
		audio.play();
		$('.login-modal').show().removeClass('fade-out').addClass('fade-in');
		if(myLoginIframe != 'login'){
			myLoginIframe = 'login';
			$("#myLoginIframe").attr("src", $("#myLoginIframe").data('src') + '#log');
		}
		stop=0;
		noscroll();
	});
	 //弹出菜单--注册
	$('.header-top .register').on('tap', function() {
        popupIframeTop = $(window).scrollTop();
		audio.play();
		$('.login-modal').show().removeClass('fade-out').addClass('fade-in');
		if(myLoginIframe != 'register'){
			myLoginIframe = 'register';
			$("#myLoginIframe").attr("src", $("#myLoginIframe").data('src') + '#reg');
		}
		stop=0;
		noscroll();
	});

	//发布信息弹出菜单
	$('.footer_3_4 ul .fabu').on('tap', function() {
		if(window.wx_miniprogram_judge == undefined) return;
    popupIframeTop = $(window).scrollTop();
    var userid = $.cookie(cookiePre+'login_user');
    if(userid == undefined || userid == null || userid == 0 || userid == ''){
      audio.play();
      $('.login-modal').show().removeClass('fade-out').addClass('fade-in');
      if(myLoginIframe != 'login'){
        myLoginIframe = 'login';
        $("#myLoginIframe").attr("src", $("#myLoginIframe").data('src') + '#log');
      }
      stop=0;
      noscroll();
    }else {
      audio.play();
      if (myFabuIframe != 'fabu') {
        $("#myFabuIframe").attr("src", $("#myFabuIframe").data('src') + '#fabu');
      }
      if(wx_miniprogram){
        $('#gotopage').remove();
        $('body').append('<a href="'+$("#myFabuIframe").attr("src")+'" id="gotopage"></a>');
        $('#gotopage').click();
        return;
      }
      $('.cd-bouncy-nav-modal').show().removeClass('fade-out').addClass('fade-in');
      myFabuIframe = 'fabu';
      stop = 0;
      noscroll();
    }
	});
});
</script>
{#/if#}