.ui-popmenu,.ui-popmenu * {
	margin:0;
	padding:0;
}
.ui-popmenu {
	position:absolute;
	z-index:10000;
	left:50%;
	top:50%;
}
.ui-popmenu-content {
	background:#222222;
	box-shadow:0 0 5px rgba(0,0,0,0.7);
}
.ui-popmenu.up .ui-popmenu-content {
	padding-top:1px;
	padding-bottom:0;
}
.ui-popmenu.down .ui-popmenu-content {
	padding-top:0;
	padding-bottom:1px;
}
.ui-popmenu.white .ui-popmenu-content {
	color:#414141;
	background-color:#ffffff;
	box-shadow:0 0 5px #d2d2d2;
	border:solid 1px #d2d2d2;
}
.ui-popmenu-item {
	cursor:pointer;
	display:block;
	text-align:center;
	min-width:50px;
	height:35px;
	line-height:35px;
	letter-spacing:0;
	padding:0 10px;
	color:#fff;
	font-size:14px;
}
.ui-popmenu.white .ui-popmenu-item {
	color:#222;
}
.ui-popmenu-item:hover {
	background-color:#3f3f3f;
}
.ui-popmenu.white .ui-popmenu-item:hover {
	background-color:#EFEFEF;
}
.ui-popmenu > b {
	display:none;
	font-family:"simsun";
	font-size:0;
	width:0;
	height:0;
	overflow:visible;
	position:absolute;
}
.ui-popmenu.up > b,.ui-popmenu.down > b {
	display:block;
}
.ui-popmenu > b.out {
	z-index:10001;
}
.ui-popmenu > b.in {
	z-index:10002;
}
.ui-popmenu.down > b {
	border-style:solid dashed dashed;
}
.ui-popmenu.down > b.out {
	border-color:#222222 rgba(0,0,0,0) rgba(0,0,0,0);
	border-width:8px 7px 0;
	bottom:-7px;
	left:28px;
	top:auto;
}
.ui-popmenu.down > b.in {
	border-color:#272727 rgba(0,0,0,0) rgba(0,0,0,0);
	border-width:7px 6px 0;
	bottom:-6px;
	left:29px;
	top:auto;
}
.ui-popmenu.down.white > b.out {
	border-color:#CFCFCF rgba(0,0,0,0) rgba(0,0,0,0);
}
.ui-popmenu.down.white > b.in {
	border-color:#FFFFFF rgba(0,0,0,0) rgba(0,0,0,0);
}
.ui-popmenu.up > b {
	border-style:dashed dashed solid;
}
.ui-popmenu.up > b.out {
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #222222;
	border-width:0 7px 8px;
	left:28px;
	top:-7px;
}
.ui-popmenu.up > b.in {
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #272727;
	border-width:0 6px 7px;
	left:29px;
	top:-6px;
}
.ui-popmenu.up.white > b.out {
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #CFCFCF;
}
.ui-popmenu.up.white > b.in {
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #FFFFFF;
}
