<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $typeid != 0#}{#$typename#}-{#/if#}{#$seo_title#}-{#$langData['shop'][5][1]#}-{#$shop_title#}</title>
<meta name="keywords" content="{#$seo_title#},{#$shop_keywords#}"/>
<meta name="description" content="{#$shop_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/brandlistD.css?v={#$cfg_staticVersion#}" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
</script>
</head>

<body>
{#$pageCurr = 'brand'#}
{#include file="top.html"#}
<div class="contain">
<div class="bread fn-clear">
	<p><a href="{#$shop_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>><a href="{#getUrlPath service='shop' template='brand'#}">{#$langData['shop'][5][1]#}</a>><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#}#}">{#$seo_title#}</a>{#if $typeid != 0#}><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#}#}">{#$typename#}</a>{#/if#}</p>
</div>

<!-- 内容部分 -->
<div class="content clearfix fn-clear">
	<ul class="pp-left left fn-clear">
		<li class="bt">{#$langData['siteConfig'][19][393]#}</li>
		{#shop action="type" return="type"#}
		{#$pcount = 0#}
		{#shop action="slist" return="slist" typeid={#$type.id#} brand={#$id#} page=1 pageSize=9999999 pageData=1#}
		{#$pcount = $slist.totalCount#}
		{#/shop#}
		{#if $pcount > 0#}
		<li class="zl{#if $typeid == $type.id#} on{#/if#}"><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$type.id#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$type.typename#}（{#$pcount#}）<i class="arrow-right"><em></em></i></a></li>
		{#/if#}
		{#/shop#}
	</ul>
	<div class="pp-right right clearfix fn-clear">
		<div class="select">
			<span class="left zh{#if $orderby == 0#} on{#/if#}"><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#}#}">{#$langData['waimai'][2][88]#}</a></span><font class="left">|</font>
			<span class="left zh{#if $orderby == 5#} on{#/if#}"><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=5'#}">{#$langData['shop'][3][17]#}</a></span><font class="left">|</font>
			<span class="left zh{#if $orderby == 6#} on{#/if#}"><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=6'#}">人气</a></span><font class="left">|</font>
			<span class="left"><em{#if $orderby == 1 || $orderby == 2#} class="on"{#/if#}>{#if $orderby == 2#}{#$langData['shop'][3][12]#}{#elseif $orderby == 1#}{#$langData['shop'][3][11]#}{#else#}{#$langData['shop'][3][16]#}{#/if#}</em><i class="arrow-bottom"><em></em></i>
				<ul style="display:none">
					{#if ($orderby != 1 && $orderby != 2) || $orderby == 1#}
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=1'#}">{#$langData['shop'][3][11]#}</a></li>
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=2'#}">{#$langData['shop'][3][12]#}</a></li>
					{#/if#}
					{#if $orderby == 2#}
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=2'#}">{#$langData['shop'][3][12]#}</a></li>
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=1'#}">{#$langData['shop'][3][11]#}</a></li>
					{#/if#}
				</ul>
			</span>
			<span class="left"><em{#if $orderby == 3 || $orderby == 4#} class="on"{#/if#}>{#if $orderby == 3#}{#$langData['shop'][3][14]#}{#elseif $orderby == 4#}{#$langData['shop'][3][13]#}{#else#}{#$langData['siteConfig'][19][428]#}{#/if#}</em><i class="arrow-bottom"><em></em></i>
				<ul style="display:none">
					{#if ($orderby != 3 && $orderby != 4) || $orderby == 3#}
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=3'#}">{#$langData['shop'][3][14]#}</a></li>
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=4'#}">{#$langData['shop'][3][13]#}</a></li>
					{#/if#}
					{#if $orderby == 4#}
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=4'#}">{#$langData['shop'][3][13]#}</a></li>
					<li><a href="{#getUrlPath service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param='orderby=3'#}">{#$langData['shop'][3][14]#}</a></li>
					{#/if#}
				</ul>
			</span>
			<div class="right">
				<span><em>{#$page#}</em>/<label id="totalPage">1</label></span><a class="pre" href="javascript:;"><</a><a class="next" href="javascript:;">></a>
			</div>
		</div>
		<ul class="list clearfix fn-clear">
			{#shop action="slist" return="list" typeid={#$typeid#} brand={#$id#} orderby={#$orderby#} page={#$page#} pageSize="40"#}
			<li><div class="img"><a href="{#$list.url#}" target="_blank" title="{#$list.title#}"><em{#if $list.hot == 0#} class="hide"{#/if#}></em><img src="{#$list.litpic#}" data-url="{#changeFileSize url={#$list.litpic#} type='middle'#}"><p>{#$list.title#}</p><span>{#echoCurrency type='symbol'#}<font>{#$list.price#}</font><s>{#echoCurrency type='symbol'#}{#$list.mprice#}</s></span></a></div></li>
			{#/shop#}
			{#if $pageInfo.totalCount == 0#}
			<li class="empty">{#$langData['shop'][5][2]#}</li>
			{#/if#}
		</ul>

		{#getPageList service='shop' template='brand-detail' id={#$id#} typeid={#$typeid#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}

	</div>
</div>
</div>

{#include file="bottom.html"#}
<script>var totalCount = {#$pageInfo.totalCount|string_format:"%d"#}, totalPage = {#$pageInfo.totalPage|string_format:"%d"#}, atPage = {#$page#}, pageUrl = '{#getUrlPath service="shop" template="brand-detail" id={#$id#} typeid={#$typeid#} page="%page%" param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}';</script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/brand.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
