{#include file="../../siteConfig/top1.html"#}

<!-- 头部菜单 e -->
<div class="wrap header">
 <h1 class="logo"> <a href="{#$integral_channelDomain#}" title="{#$integral_title#}"> <img src="{#$integral_logoUrl#}" alt="{#$integral_title#}" /> </a> </h1>
 <div class="menu">
  <ul>
  	{#if $pageCurr != 1#}
  	<li id="allcategory-hover"><a href="javascript:void(0)">全部商品分类</a></li>
  	{#/if#}
    <li{#if $pageCurr == 1#} class="active"{#/if#}><a href="{#$integral_channelDomain#}">首页</a></li>
    <li{#if $pageCurr == 2#} class="active"{#/if#}><a href="{#getUrlPath service='integral' template='list'#}">兑换</a></li>
    <li{#if $pageCurr == 3#} class="active"{#/if#}><a href="{#getUrlPath service='integral' template='ranking'#}">排行榜</a></li>
    <li><a href="{#getUrlPath service='member' type='user' template='order' module='integral'#}">我的</a></li>
  </ul>
 </div>
</div>
<!-- 头部菜单 e -->
{#if $pageCurr != 1#}
<!-- 产品分类列表 s -->
<div class="categorywrap defaulthide mgl">
<div id="nav_category">
<div class="">
 <ul class="category">
  {#integral action="type" return=toptype#}
  <li> <a href="{#getUrlPath service='integral' template='list' param="typeid={#$toptype.id#}"#}">{#$toptype.typename#}<i></i></a>
   <div class="sub_category_box">
    <dl class="sub_category">
      {#integral action="type" type=$toptype.id return=subtype#}
      <dd>
       <a href="{#getUrlPath service='integral' template='list' param="typeid={#$subtype.id#}"#}">{#$subtype.typename#}</a>
      </dd>
      {#/integral#}
    </dl>
   </div>
  </li>
  {#/integral#}
 </ul>
</div>
</div>
</div>
<!-- 产品分类列表 e -->
{#/if#}
