.button-panel-add {
	text-align:center
}
.button-panel-add>.add {
	background-color:#25B86F;
	border:medium none;
	box-shadow:0 0 1px #787878 inset;
	color:#FFFFFF;
	cursor:pointer;
	height:30px;
	padding:6px 10px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
	transition:background-color 0.15s ease 0s;
	margin:10px 0;
	width:90%
}
.button-panel-add>.add:hover {
	background-color:#20ab51
}
.diy-panel-button .input {
	height:auto!important
}
.diy-panel-button .form.text-input {
	margin:30px 0 0 20px
}
.diy-panel-button .adaption {
	float:left;
	text-decoration:none;
	color:#ccc;
	margin-left:10px
}
.diy-panel-button .adaption:hover {
	color:#fff
}
.diy-panel-button .form.text-input label {
	margin-right:10px;
	float:left
}
.diy-panel-button .form.text-input .input {
	float:left
}
