.w-button .w-button-container {
	zoom:1;
	display:inline-block;
	*display:inline;
	position:relative;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.w-button .w-button-text {
	zoom:1;
	display:inline-block;
	*display:inline;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:100%;
	width:100%
}
.w-button .w-button-fixed .w-button-text {
	display:block
}
.w-button .w-button-text i.middle {
	zoom:1;
	display:inline-block;
	*display:inline;
	font-size:0;
	overflow:hidden;
	height:100%;
	width:0;
	vertical-align:middle
}
.w-button .w-button-text b.text {
	zoom:1;
	display:inline-block;
	*display:inline;
	vertical-align:middle;
	font-weight:normal
}
.w-button .w-button-right {
	display:block;
	position:absolute;
	right:0;
	top:0;
	height:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
