<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$title#}</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/about.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>
<body>


	{#$pageTitle = $title#}
	{#include file="../../siteConfig/touch_top.html"#}

  <div class="content">
    {#$body#}
  </div>

	{#* 微信分享 *#}
  {#$Share_description = {#$cfg_description#}#}
  {#$Share_title = $title|cat:'-关于我们'#}
  {#$Share_img = {#$cfg_weblogo#}#}
  {#$Share_url = {#getUrlPath service="siteConfig" template="about" id=$id#}#}
  {#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}

</body>
</html>
