.ui-scroller {
	position:relative;
	overflow:hidden
}
.ui-scroller-bar {
	position:absolute;
	right:0;
	top:0;
	width:8px;
	min-height:8px;
	background-color:rgba(200,200,200,.5);
	border-radius:4px;
	pointer-events:none;
	opacity:0;
	z-index:2
}
.ui-scroller-bar.visible {
	pointer-events:auto
}
.ui-scroller:hover .ui-scroller-bar.visible {
	opacity:.8
}
.ui-scroller-bar.visible:hover,.ui-scroller-bar.visible.active {
	opacity:1!important
}
.ui-scroller-inner {
	position:absolute;
	overflow-y:scroll;
	overflow-x:hidden;
	left:0;
	right:-15px;
	top:0;
	bottom:0
}
.ui-scroller-body {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-height:100%
}
.ui-scroller-body:before,.ui-scroller-body:after {
	content:" ";
	display:block;
	height:0;
	font-size:0;
	visibility:hidden
}
.ui-scroller-body:after {
	clear:both
}
