/* 如需修改公共头部搜索框和导航条背景色，请修改以下三处颜色值 */
.topInfo a:hover, .topInfo .loginbox .siteCityInfo, .search .type dd a.active span,.search .type dd a:hover span, .MoudleNav ul li:hover, .MoudleNav ul li.MooudleBC {
  color: #2babff;   /* 修改一 */
}
.searchwrap, .search .hotkey a:hover, .search .submit:hover, .fixedwrap .nav, .mainnav li dd, .mainnav li:hover ,.mainnav li:hover .dropbox, .mainnav li.mainnav li dd ,.hover .dropbox ,.mainnav li:hover ,.mainnav li:hover .dropbox {
  background: #2babff;   /* 修改二 */
}
.MoudleNav ul li:hover, .MoudleNav ul li.MooudleBC{
  border: 1px solid #2babff;   /* 修改三 */
}


/* Css Reset */
html {color:#333; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-x: hidden;}
body {width: 100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}
body, button, input, select, textarea {font:12px/1.5 "Microsoft Yahei", "Hiragino Sans GB", "STHeiti", "\5B8B\4F53", sans-serif, tahoma, arial;}
input, select, textarea {font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
th {text-align:inherit;}
fieldset, img {border:0;}
iframe {display:block;}
abbr, acronym {border:0; font-variant:normal;}
del {text-decoration:line-through;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:500;}
ol, ul, li {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:500;}
q:before, q:after {content:'';}
sub, sup {font-size:75%; line-height:0;	position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
a {color:#333;}
a:hover {color:#000; text-decoration:none;}
ins, a {text-decoration:none;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;	content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.fn-hide {display:none;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
/*.huoniao_iOS .header{padding-top: 20px;}*/
/*.padTop20{padding-top: 20px;}*/


.wrap {width: 1000px; margin: 0 auto;}
.w1200 .wrap {width: 1200px;}

a {color: #333; transition: all 0.1s; -moz-transition: all 0.1s; -webkit-transition: all 0.1s; -o-transition: all 0.1s;}
.adv ,.ad ,.tladv{overflow: hidden;}
.adv img ,.ad img ,.tladv img {display: block;width: 100%;}
.tladv img {margin:20px 0;}
.oh {position: relative; overflow: hidden;}
a.more:hover {text-decoration: underline;}
.aaa {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

.adClose {position: absolute; right: 0; top: 0; width: 30px; height: 16px;}
.adClose i {color: #fff; font-weight: bold; font-size: 14px; float: left; text-align: center; width: 15px; line-height: 16px; font-style: normal;}
.adClose span {width: 15px; height: 15px; float: right; background: url('../../images/px.gif') 0 -15px no-repeat; cursor: pointer;}
.adClose span.kai {background-position: 0 0;}

.picon {background-image:url(/static/images/public_icons.png);background-repeat:no-repeat;}
.picon-qq {background-position: -2px 0px;}
.picon-weixin {background-position: -6px -20px;}
.picon-weibo {background-position: -6px -40px;}
.picon-phone {background-position: -6px -60px;}
.picon-down {background-position: -2px -85px;}
.picon-down2 {background-position: -20px -94px;}
.picon-latest {background-position: 0 -103px;}
.picon-hui {background-position: 0 -126px;}
.picon-join {background-position: 0 -149px;}

/* 顶部信息 */
.topInfo {position: relative;height: 34px; line-height: 34px; margin-bottom: 16px; border-bottom: 1px solid #eee; background: #f5f5f5;color: #6c6c6c;z-index: 1002;}
.topInfo a {color: #6c6c6c;}
.topInfo .separ {color:#ddd;margin-left: 15px;}
.topInfo .loginbox .regist {margin-right: 0;}
.topInfo .regist {color: #ff6600;}
.topInfo .logint {float: left; margin-right: 10px;}
.topInfo .loginbox .logint a {margin-right: 0;}
.topInfo .menu {float: right;}
.topInfo .menu li {position: relative;float: left;padding:0 8px;border-left: 1px solid transparent;border-right: 1px solid transparent;}
.topInfo .menu li i img {display: inline-block; width: 22px; height: 22px; margin-top: -2px; vertical-align: middle;}
.topInfo .menu li .ewmbox {position: absolute;left:0;top:36px;margin-left: -90px; border-radius: 4px; border: 1px solid #0087BD; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2); box-shadow: 0 0 10px rgba(0,0,0,.2);z-index: 100;display: none;}
.topInfo .loginbox {float: left;}
.topInfo .loginbox .siteCityInfo, .topInfo .loginbox .changeCityBtn, .topInfo .loginbox .loginbefore, .topInfo .loginbox .loginafter {float: left;}
.topInfo .loginbox .changeCityBtn {margin-right: 10px;}
.topInfo .loginbox .changeCityBtn a {float: none; margin: 0;}
.topInfo .loginbox a {float: left;margin:0 10px 0 0;}
.topInfo .loginbox a.loginconnect {margin-right: 5px;}
.topInfo .loginbox a.loginconnect .picon {background: none;}
.topInfo .loginbox a:hover {text-decoration: underline;}
.topInfo .dropdown a {padding-left: 2px;}
.topInfo .dropdown .picon-down {display: inline-block;width: 8px;height: 5px;margin-left: 4px;vertical-align: middle;-webkit-transition:all .3s;transition:all .3s;}
.topInfo .submenu {display: none;position: absolute;top:35px;left:-1px;min-width: 82px; padding: 5px 0; border: 1px solid #ddd; border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;}
.topInfo li.user .submenu {min-width: 106px;}
.topInfo .submenu a {display: block;padding:0 10px;line-height: 26px;white-space:nowrap;}
.topInfo li:hover .picon-down {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.topInfo li.dropdown:hover {height: 35px;border-color: #ddd;background: #fff;}
.topInfo li:hover .submenu {display: block;}
.topInfo .submenu a:hover {}
.topInfo .picon {display: inline-block;width: 20px;height: 20px;margin:0 3px 0 0;vertical-align: middle;}
.topInfo .picon img {width: 20px; height: 20px; display: block; margin: -2px auto 0; vertical-align: middle;}

/*切换城市弹出层*/
.topInfo .loginbox .changeCityBtn {position: relative;}
.topInfo .loginbox .changeCityList {display: none;position: absolute;left:0;top:34px;min-width:400px;max-width:900px;z-index: 10;font-size: 14px;color: #999;line-height: 24px;background: transparent;}
.topInfo .loginbox .changeCityBtn:hover .changeCityList, .topInfo .loginbox .changeCityBtn:hover .changeCityList {display: block !important;}
.setwidth {height:0;opacity:0;padding: 0 45px 0 65px;overflow: hidden;white-space: nowrap;}
.setwidth span{display: inline-block; width: 30px; text-align: center; margin: 0 5px 0 0;}
.topInfo .loginbox .changeCityBtn:hover .changeCityList {display: block;}
.topInfo .loginbox .changeCityList a:hover, .topInfo .loginbox .changeCityList a.curr {text-decoration: none;color: #FF6402;}
.topInfo .loginbox .changeCityBtn .changeCityList .boxpd {position: relative;padding-top: 12px;}
.topInfo .loginbox .changeCityBtn .changeCityList .boxpd .sj {position: absolute;left:22px;top:-7px;display: block;width: 0;height:0;border: 10px solid transparent;border-bottom-color: #ddd;}
.topInfo .loginbox .changeCityBtn .changeCityList .boxpd .sj i {position: absolute;left:-9px;top:-7px;display: block;width: 0;height: 0;border:9px solid transparent;border-bottom-color: #fff;}
.topInfo .loginbox .changeCityList .box {padding: 15px 0 5px;border:1px solid #ddd;box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);background: #fff;}
.topInfo .loginbox .changeCityBtn .changeCityList .hot {margin-bottom: 15px;padding-bottom: 10px;border-bottom: #E5E5E5 solid 1px;}
.topInfo .loginbox .changeCityBtn .changeCityList dt {display: inline-block;width:65px;float: left;text-align: center;color: #B0B3B4;}
.topInfo .loginbox .changeCityBtn .changeCityList dd a {float: left;margin:0 20px 6px 0;white-space: nowrap;}
.topInfo .loginbox .changeCityBtn .changeCityList .hot dt {color: #FF6402;}
.topInfo .loginbox .changeCityList dd {overflow: hidden;}
.topInfo .loginbox .changeCityList .more {position: relative;}
.topInfo .loginbox .changeCityList .pytit {padding-right: 25px;margin-bottom: 10px;line-height: 26px;white-space: nowrap;}
.topInfo .loginbox .changeCityBtn .changeCityList .pytit span {width: 30px;text-align: center;float: left;margin: 0 5px 0 0;cursor:pointer;}
.topInfo .loginbox .changeCityBtn .changeCityList .pytit span:hover, .topInfo .loginbox .changeCityBtn .changeCityList .pytit span.curr {background: #FF6402;color: #fff;}
.topInfo .loginbox .changeCityBtn .changeCityList .pytit dd {border-bottom: 1px solid #FF6402;}
.topInfo .loginbox .changeCityBtn .changeCityList .list {position: relative;max-height: 280px;overflow-y: auto;}
.topInfo .loginbox .changeCityBtn .changeCityList .list dl {line-height: 30px;}
.topInfo .loginbox .changeCityBtn .changeCityList .content {padding:10px 20px;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li {float:left;}
.topInfo .loginbox .changeCityBtn .changeCityList .content a {margin: 0 15px 15px 0;}
.topInfo .loginbox .changeCityBtn .changeCityList .content .tit {margin-bottom: 20px;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a {display: block; position: relative; font-size: 11px; padding: 0 20px;border: 1px solid #eaeaea; border-radius: 3px;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a:hover {text-decoration: none; border-color: #0ab7f9; color: #0ab7f9;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a s {position: absolute; width: 17px; height: 17px; right: 0; bottom: 0; display: none;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a s img {display: block; width: 100%; height: 100%;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a:hover s {display: block;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a.curr {border-color: #0ab7f9; color: #0ab7f9;}
.topInfo .loginbox .changeCityBtn .changeCityList .content li a.curr s {display: block;}


/* 浮动菜单 */
.topInfo .pop {display: none; position: absolute; left: -38px; top: 34px; width: 170px; text-align: center; background: #fff; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px 0; -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.2); -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.2); box-shadow: 4px 4px 0 rgba(0,0,0,.2); color: #101010; font-size: 14px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.topInfo .pop s {position: absolute; top: -8px; left: 80px; width: 16px; height: 9px; background: url('/static/images/icons.png') -10px -591px;}
.topInfo .pop p {line-height: 20px;}
.topInfo .pop p a {padding: 0; background: none;}
.topInfo .pop p a img {display: block; margin: 0 auto;}

/* header */
.fixedwrap {height: 139px;margin:10px 0 23px;}
.fixedpane.fixed {position: fixed; height: 139px; width: 100%; top: 0; z-index: 1000; background-color: #fff;}
/*.header {margin-top: 10px;}*/
.fixedwrap .header .logo {float: left;max-width: 220px;height: 61px;margin-top: 13px;overflow: hidden;}
.fixedwrap .header .logo a {display: inline-block;overflow: hidden;}
.fixedwrap .header .logo h2 {float: left;line-height: 60px;font-size: 24px;color: #333;}
.fixedwrap .header .logo img {float: left; height: 61px; max-width: 220px; margin-right: 10px;vertical-align: middle;}

.searchwrap {position: relative;float: right;width: 410px;height: 40px;line-height: 34px;margin: 25px 85px 0 0;z-index: 1001;}
.w1200 .searchwrap {width: 557px;}
.fixedwrap .search {margin:3px 88px 3px 3px;background: #fff;*zoom:1;}
.fixedwrap .search .type {float: left;width: 93px;border-right: 1px solid #ddd;}
.fixedwrap .search .type a {font-size: 14px;color: #666;}
.fixedwrap .search .type dl {position: relative;}
.fixedwrap .search .type dl dt {height: 34px;text-align: center;}
.fixedwrap .search .type dl em {display: inline-block;width: 0;height: 0;border:5px solid transparent;border-top-color: #666;vertical-align: middle;margin-left: 8px;transition: all .3s;}
.fixedwrap .search .type dl.hover em {-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin: center 2px;transform-origin: center 2px;}
.fixedwrap .search .type dd {display: none;position: absolute;top:32px;padding-top: 20px;left:-3px;width: 100px;}
.fixedwrap .search .type dd .ModuleBox{min-width: 97px;  border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;box-shadow: 1px 2px 16px rgb(218, 218, 218);padding:8px 0;}
.fixedwrap .search .type dl.hover dd {display: block;}
.fixedwrap .search .type dd a {display: block;line-height: 30px;padding:0 10px;white-space: nowrap;text-align: center;position: relative;}
.fixedwrap .search .type dd a.active span,.fixedwrap .search .type dd a:hover span {background: #fff;}
.fixedwrap .search .type dd a:hover .MoudleNav {display: block;}
.MoudleNav{position: absolute;left: 100px;top: -37px;width: 600px;padding-left: 20px;display: none;}
.jobMoudle.MoudleNav{top: -16px;}
.MoudleNav i{position: absolute;left: 13px;top: 40px;width: 0; height: 0; border-top: 11px solid transparent;border-right: 7px solid #fff;border-bottom: 11px solid transparent;}
.jobMoudle.MoudleNav i{top: 21px;}
.MoudleNav ul{width: 425px;background: #fff;box-shadow: 1px 2px 16px rgb(218, 218, 218);border-radius: 5px;padding: 10px;}
.MoudleNav ul li{float: left;width: 86px;height: 28px;line-height: 28px;border: 1px solid #afafaf;text-align: center;border-radius: 20px;color: #afafaf;margin: 7px 9px;cursor: pointer;}

.fixedwrap .search .inputbox {position: relative;margin-left: 63px;overflow: hidden;}
.fixedwrap .search .inpbox {margin:0 10px;height: 34px;}
.fixedwrap .search .searchkey {width: 100%;height: 21px;margin:6px 0 7px;font-size: 14px;vertical-align: middle;}
.fixedwrap .search .searchkey ,.fixedwrap .search .searchkey:focus ,.fixedwrap .search .searchkey:active ,.fixedwrap .search .submit ,.fixedwrap .search .submit:focus ,.fixedwrap .search .submit:active {border:0;outline:0;background: none;}
.fixedwrap .search .hotkey {position: absolute;right: 15px;top:0;max-width:270px;display: none;}
.w1200 .fixedwrap .search .hotkey {display: block;}
.fixedwrap .search .hotkey a {display: inline-block;float: right;height: 21px;line-height: 20px;margin: 6px 0 0 7px;padding:0 12px;background: #f0f0f0;color: #fff;font-size: 14px;color: #999;white-space:nowrap;border-radius:10px;-webkit-transition: all 0.2s; transition: all 0.2s;}
.fixedwrap .search .hotkey.leave a {opacity:.5;}
.fixedwrap .search .hotkey a:hover {color: #fff;}
.fixedwrap .search .submit {position: absolute;right:0;top:0;display: block;width: 88px;height: 100%;text-align: center;font-size: 16px;color: #fff;cursor: pointer;}

.header .kefu {float: right; position: relative; padding-left: 55px; margin-top: 18px; font-size: 20px; line-height: 25px;}
.header .kefu p {font-size: 14px;}
.header .kefu s {position: absolute; left: 0; top: 6px; width: 40px; height: 40px;}
.header .kefu s img {width: 100%; height: 100%; display: block;}

/* 导航 */
.fixedwrap .nav {position: relative;margin-top: 20px;height: 45px;-moz-box-shadow: 0 5px 30px rgba(0,0,0,.1); -webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1);box-shadow: 0 5px 30px rgba(0,0,0,.1);z-index: 100;}
.mainnav li {position: relative;float: left;padding:0 12px;margin:0;}
.w1200 .mainnav li {margin: 0 9px; padding: 0 13px;}
.mainnav li a {color: #fff; display: block;}
.mainnav li .nav-m {position: relative;font-size: 18px;line-height: 45px;}
.mainnav li .nav-m i {position: absolute;left:50%;top:-14px;display: inline-block;width: 32px;height: 22px;}
.dropbox {margin: -11px -12px 0;border-top-left-radius: 4px;border-top-right-radius: 4px;}

.mainnav li dl {padding-top: 11px;}
.mainnav li dt {padding:0 12px;overflow: hidden;}
.mainnav li dd a {font-size: 16px;white-space: nowrap;}
.mainnav li dd {display: none;position: absolute;top:45px;left:0;min-width:100%;padding:8px 0 16px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;z-index: 10;}
.mainnav li dd a {display: block;line-height: 40px;padding:0 13px;}
.mainnav li dt .nav-m {float: left;}
.mainnav li .picon-down2 {display: inline-block;width: 11px;height: 6px;float: left;margin:20px 0 0 6px;-webkit-transition:all .3s;transition:all .3s;}
.mainnav li:hover ,.mainnav li:hover .dropbox {filter: alpha(opacity:98); opacity: .98; -moz-opacity: .98; -khtml-opacity: .98;}
.mainnav li:hover dd {display: block;}
.mainnav li:hover .picon-down2 {-webkit-transform:rotate(180deg);transform:rotate(180deg);}

.nav .wrap {position: relative;}

/* 底部 */
.footer {background: #404040; margin-top: 50px; padding: 40px 0 15px;}
.footer .wrap {background: transparent;}

/* 友情链接 */
.friendlink {border-bottom: 1px solid #5d5d5d; padding-bottom: 15px; margin-bottom: 20px;}
.gray .friendlink {border-bottom-color: #ececec;}
.friendlink h5 {font-size: 16px; color: #fff;}
.friendlink ul {margin-top: 10px;}
.friendlink li {float: left; margin: 0 40px 5px 0;}
.friendlink li a {font-size: 12px; color: #737373;}
.friendlink li a:hover {text-decoration: none; color: #fff;}

/* 关于、帮助、二维码 */
.help {margin-bottom: 25px;}
.help .helplist {float: left;}
.help .helplist dl {float: left; width: 130px; padding-right: 10px;}
.help .helplist dl dt {font-size: 16px; color: #fff; margin-bottom: 10px;}
.help .helplist dl dd {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #737373;}

.help .helplist dl a {font-size: 12px; color: #737373; line-height: 22px;}
.help .helplist dl a:hover {text-decoration: none; color: #fff;}
.help .qr {display: none; float: right; margin-top: 5px;}
.w1200 .help .qr {display: block;}
.help .qr .qr-img {float: left; width: 110px; margin-left: 40px; line-height: 30px; color: #fff; text-align: center;}
.help .qr .qr-img img {width: 110px; height: 110px; display: block;}

/* 版权 */
.copyright {padding-bottom: 10px; text-align: center; line-height: 20px; color: #737373;}
.copyright a {color: #737373!important;}
.copyright a:hover {text-decoration: none; color: #fff;}

/* 统计 */
.footer .statisticscode {text-align: center;}

.footer.gray {background: #f8f8f8;}
.gray .friendlink h5, .gray .friendlink li a, .gray .help .helplist dl dt, .gray .help .helplist dl dd, .gray .help .helplist dl dd a, .gray .copyright, .gray .copyright a, .gray .help .qr .qr-img {color: #333;}
.gray .friendlink li a:hover, .gray .help .list dl a:hover, .gray .copyright a:hover {color: #2babff;}


/* 第三方登陆授权后提示绑定手机号 */
#loginconnectInfo .mask , #loginconnectInfo .layer {display: block;}
#loginconnectInfo .mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 1003;}
/*弹出层*/
#loginconnectInfo .layer{position: fixed; top: 200px; left: 50%; background: #fff; z-index: 1004; border-radius: 4px; font-size: 16px; margin-left: -190px; text-align: center; padding: 24px 0 28px;}
#loginconnectInfo .layer-tit{padding-bottom: 15px;}
#loginconnectInfo .layer-tit span{padding: 0 0 0 30px; background: url(../../images/layer_icon.png) left center no-repeat;}
#loginconnectInfo .layer-con{font-size: 16px; padding: 20px 50px; border-top: 1px solid #cbcbcb;}
#loginconnectInfo .layer-btn a{background: #1facee; color: #fff; border-radius: 4px; display: block; width: 120px; margin: 0 auto; line-height: 40px; height: 40px;}



/* 返回顶部 */
.btntop {width: 50px; right: 20px; position: fixed; bottom: 40px; _position: absolute; _top: expression(documentElement.scrollTop + documentElement.clientHeight-120); z-index: 100; overflow: hidden;}
.btntop a {display: block; font-size: 0; text-indent: -9999em;}
.btntop .top {height: 50px; width: 50px; background: url('../../images/gotop.png'); filter: Alpha(Opacity=35); opacity: .35; border-bottom: 0; overflow: hidden;}
.btntop a:hover.top {filter: Alpha(Opacity=50); opacity: .5;}
.btntop .close {width: 50px; height: 18px; background: url('../../images/gotop.png') 0 -53px; margin-top: 5px;}


/* 登录窗口 */
#login_iframe {display: none; position: fixed; _position: absolute; z-index: 9001; width: 1000px; height: 314px; left: 50%; top: 50%; margin: -200px 0 0 -500px;}
#login_iframe iframe {width: 1000px; height: 314px;}
#login_bg {overflow: hidden; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 9000; display: block; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
#login_bg .loadPage {position: fixed; _position: absolute;  z-index: 2;  left: 50%; top: 50%; margin: -200px 0 0 -500px; width: 1000px; height: 314px; line-height: 314px; font-size: 16px; text-align: center; color: #fff;}
#login_bg iframe {position: absolute; z-index: 1; width:100%; height:100%; filter:alpha(opacity=0); opacity=0; border-style:none;}

/* 文本框Autocomplete浮动层 */
.autocomplete-suggestions {border: 1px solid #999; background: #fff; font-size: 13px; cursor: default; overflow: auto; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; line-height: 25px;}
.autocomplete-suggestion {padding: 2px 5px; white-space: nowrap; overflow: hidden;}
.autocomplete-no-suggestion {padding: 2px 5px;}
.autocomplete-selected {background: #f0f0f0;}
.autocomplete-suggestions strong {font-weight: bold; color: #000;}
.autocomplete-group {padding: 2px 5px;}
.autocomplete-group strong {font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000;}

/* 页面加载进度提示 */
.pace{-webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.pace-inactive{display: none;}
.pace .pace-progress{background: #333333; position: fixed; z-index: 2000; top: 0; left: 0; height: 3px; -webkit-transition: width 0.1s; -moz-transition: width 0.1s; -o-transition: width 0.1s; transition: width 0.1s;}



/* 广告标识 */
.siteAdvObj {position: relative;}
.siteAdvObj .advMark {position: absolute; width: 24px; height: 14px; z-index: 999; background: url('../../images/advMark.png') no-repeat; font-size: 0; text-indent: -999em;}
.siteAdvObj .advMark.pos0 {left: 5px; top: 5px;}
.siteAdvObj .advMark.pos1 {right: 5px; top: 5px;}
.siteAdvObj .advMark.pos2 {left: 5px; bottom: 5px;}
.siteAdvObj .advMark.pos3 {right: 5px; bottom: 5px;}
.siteAdvObj .advTitleMark {position: absolute; left: 0; top: 0; line-height: 24px; font-size: 12px; margin: 0; padding: 0 5px; color: #fff; background: rgba(0,0,0,.5);}

/* 广告占位 */
.advPlaceholder {position: relative; width: 100%; height: 100%; line-height: 20px; z-index: 1;}
.advPlaceholder .apCon {position: absolute; left: 0; top: 0; right: 0; bottom: 0; min-height: 100px; background: #f5f5f5; z-index: 888; color: #999;}
.advPlaceholder .apCon:hover {background: #f0f0f0;}
.advPlaceholder .apCon:hover .ad_title h5 {background: #f00; border-color: #ff0; color: #fff;}
.advPlaceholder .ad_tit {position: absolute; left: 10px; top: 10px; z-index: 2;}
.advPlaceholder .ad_stu {position: absolute; right: 10px; top: 10px; z-index: 4; text-decoration: underline;}
.advPlaceholder .ad_title {position: absolute; left: 0; top: 50%; right: 0; bottom: 0; z-index: 3; padding-top: 6px; text-align: center; margin-top: -40px; font-size: 18px;}
.advPlaceholder h5 {display: inline-block; border: 1px dotted #fda9a9; background: #f9f9a3; padding: 3px 5px; color: #000;}
.advPlaceholder h6 {display: block; font-size: 12px; margin-top: 6px;}
.advPlaceholder .ad_tips {position: absolute; left: 0; right: 0; bottom: 10px; z-index: 4; padding: 0 10px; background: #f5f5f5; text-align: center; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.advPlaceholder .apCon:hover .ad_tips {background: #f0f0f0;}


/* CSS 特效 */

/* 从下往上缓冲显示 */
@-webkit-keyframes bottomFadeIn{
	0%{opacity:0;	-webkit-transform:translateY(10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes bottomFadeIn{
	0%{opacity:0;	-moz-transform:translateY(10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes bottomFadeIn{
	0%{opacity:0;	transform:translateY(10px);}
	100%{opacity:1; transform:translateY(0);}
}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeIn{
	0%{opacity:0;	-webkit-transform:translateY(-10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes topFadeIn{
	0%{opacity:0;	-moz-transform:translateY(-10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes topFadeIn{
	0%{opacity:0;	transform:translateY(-10px);}
	100%{opacity:1; transform:translateY(0);}
}

/* 从左往右缓冲显示 */
@-webkit-keyframes leftFadeIn{
	0%{opacity:0;	-webkit-transform:translateX(-10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes leftFadeIn{
	0%{opacity:0;	-moz-transform:translateX(-10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes leftFadeIn{
	0%{opacity:0;	transform:translateX(-10px);}
	100%{opacity:1; transform:translateY(0);}
}

/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{
	0%{opacity:0;	-webkit-transform:translateX(10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes rightFadeIn{
	0%{opacity:0;	-moz-transform:translateX(10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes rightFadeIn{
	0%{opacity:0;	transform:translateX(10px);}
	100%{opacity:1; transform:translateY(0);}
}

/* 膨胀后变正常尺寸 */
@-webkit-keyframes popup{
	0%{-webkit-transform:scale(0);}
	60%{-webkit-transform:scale(1.1);}
	100%{-webkit-transform:scale(1);}
}

@-moz-keyframes popup{
	0%{-moz-transform:scale(0);}
	60%{-moz-transform:scale(1.1);}
	100%{-moz-transform:scale(1);}
}

@keyframes popup{
	0%{transform:scale(0);}
	60%{transform:scale(1.1);}
	100%{transform:scale(1);}
}

/* X轴翻动 */
@keyframes flipInX{
	0%{transform:perspective(400px) rotateX(90deg); opacity:0}
	40%{transform:perspective(400px) rotateX(-10deg)}
	70%{transform:perspective(400px) rotateX(10deg)}
	100%{transform:perspective(400px) rotateX(0deg); opacity:1}
}
@-webkit-keyframes flipInX{
	0%{-webkit-transform:perspective(400px) rotateX(90deg); opacity:0}
	40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
	70%{-webkit-transform:perspective(400px) rotateX(10deg)}
	100%{-webkit-transform:perspective(400px) rotateX(0deg); opacity:1}
}
@-moz-keyframes flipInX{
	0%{-moz-transform:perspective(400px) rotateX(90deg); opacity:0}
	40%{-moz-transform:perspective(400px) rotateX(-10deg)}
	70%{-moz-transform:perspective(400px) rotateX(10deg)}
	100%{-moz-transform:perspective(400px) rotateX(0deg); opacity:1}
}

/* Y轴翻动 */
@keyframes flipInY{
	0%{transform:perspective(400px) rotateY(90deg); opacity:0}
	40%{transform:perspective(400px) rotateY(-10deg)}
	70%{transform:perspective(400px) rotateY(10deg)}
	100%{transform:perspective(400px) rotateY(0deg); opacity:1}
}
@-webkit-keyframes flipInY{
	0%{-webkit-transform:perspective(400px) rotateY(90deg); opacity:0}
	40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
	70%{-webkit-transform:perspective(400px) rotateY(10deg)}
	100%{-webkit-transform:perspective(400px) rotateY(0deg); opacity:1}
}
@-moz-keyframes flipInY{
	0%{-moz-transform:perspective(400px) rotateY(90deg); opacity:0}
	40%{-moz-transform:perspective(400px) rotateY(-10deg)}
	70%{-moz-transform:perspective(400px) rotateY(10deg)}
	100%{-moz-transform:perspective(400px) rotateY(0deg); opacity:1}
}



/* 第三方登陆授权后提示绑定手机号 */
#loginconnectInfo .mask , #loginconnectInfo .layer {display: block;}
#loginconnectInfo .mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 1003;}
/*弹出层*/
#loginconnectInfo .layer{position: fixed; top: 200px; left: 50%; background: #fff; z-index: 1004; border-radius: 4px; font-size: 16px; margin-left: -190px; text-align: center; padding: 24px 0 28px;}
#loginconnectInfo .layer-tit{padding-bottom: 15px;}
#loginconnectInfo .layer-tit span{padding: 0 0 0 30px; background: url(../../images/layer_icon.png) left center no-repeat;}
#loginconnectInfo .layer-con{font-size: 16px; padding: 20px 50px; border-top: 1px solid #cbcbcb;}
#loginconnectInfo .layer-btn a{background: #1facee; color: #fff; border-radius: 4px; display: block; width: 120px; margin: 0 auto; line-height: 40px; height: 40px;}
