{#$cssFile = array("mobiscroll.css", "add-service.css?v={#$cfg_staticVersion#}")#}
{#include file='../_header.html' pageTitle=$langData['waimai'][1][183] cssFile=$cssFile goBack=1 rbtn='<a href="javascript:;" class="submit">'|cat:$langData['siteConfig'][6][27]|cat:'</a>'#}

  <div class="container">
    <form action="" id="submitForm">
      <div class="bgfff">
        <div class="fn-clear openbtn">
          <a href="javascript:;"><span>{#$langData['waimai'][1][185]#}</span><em class="toggle{#if $open_addservice#} on{#/if#}" data-type="open_addservice"></em></a>
        </div>
        <input type="hidden" name="open_addservice" id="open_addservice">
      </div>

      <div class="bgfff">
        <div class="fn-clear item">
          <div class="inpbox">
            <dl class="fn-clear">
              <dt>{#$langData['siteConfig'][19][547]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}" name="addservice[0][name]" value="{#if $addservice#}{#$addservice[0][0]#}{#/if#}"></dd>
            </dl>
            <dl class="fn-clear">
              <dt>{#$langData['waimai'][1][53]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}"  name="addservice[0][price]" value="{#if $addservice#}{#$addservice[0][3]#}{#else#}0{#/if#}"></dd>
            </dl>
          </div>
          <dl class="timebox fn-clear">
            <dt><span><label for="">{#$langData['waimai'][5][35]#}：</label></span></dt>
            <dd>
              <div class="fn-clear bg_arrow">
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][36]#}" name="addservice[0][start]" value="{#if $addservice#}{#$addservice[0][1]#}{#else#}00:00{#/if#}" type="text">
                </div>
                <span class="zhi">-</span>
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][37]#}" name="addservice[0][stop]" value="{#if $addservice#}{#$addservice[0][2]#}{#else#}00:00{#/if#}" type="text">
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="bgfff">
        <div class="fn-clear item">
          <div class="inpbox">
            <dl class="fn-clear">
              <dt>{#$langData['siteConfig'][19][547]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}" name="addservice[1][name]" value="{#if $addservice#}{#$addservice[1][0]#}{#/if#}"></dd>
            </dl>
            <dl class="fn-clear">
              <dt>{#$langData['waimai'][1][53]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}" name="addservice[1][price]" value="{#if $addservice#}{#$addservice[1][3]#}{#else#}0{#/if#}"></dd>
            </dl>
          </div>
          <dl class="timebox fn-clear">
            <dt><span><label for="">{#$langData['waimai'][5][35]#}：</label></span></dt>
            <dd>
              <div class="fn-clear bg_arrow">
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][36]#}" name="addservice[1][start]" value="{#if $addservice#}{#$addservice[1][1]#}{#else#}00:00{#/if#}" type="text">
                </div>
                <span class="zhi">-</span>
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][37]#}" name="addservice[1][stop]" value="{#if $addservice#}{#$addservice[1][2]#}{#else#}00:00{#/if#}" type="text">
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="bgfff">
        <div class="fn-clear item">
          <div class="inpbox">
            <dl class="fn-clear">
              <dt>{#$langData['siteConfig'][19][547]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}" name="addservice[2][name]" value="{#if $addservice#}{#$addservice[2][0]#}{#/if#}"></dd>
            </dl>
            <dl class="fn-clear">
              <dt>{#$langData['waimai'][1][53]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}"  name="addservice[2][price]" value="{#if $addservice#}{#$addservice[2][3]#}{#else#}0{#/if#}"></dd>
            </dl>
          </div>
          <dl class="timebox fn-clear">
            <dt><span><label for="">{#$langData['waimai'][5][35]#}：</label></span></dt>
            <dd>
              <div class="fn-clear bg_arrow">
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][36]#}" name="addservice[2][start]" value="{#if $addservice#}{#$addservice[2][1]#}{#else#}00:00{#/if#}" type="text">
                </div>
                <span class="zhi">-</span>
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][37]#}" name="addservice[2][stop]" value="{#if $addservice#}{#$addservice[2][2]#}{#else#}00:00{#/if#}" type="text">
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="bgfff">
        <div class="fn-clear item">
          <div class="inpbox">
            <dl class="fn-clear">
              <dt>{#$langData['siteConfig'][19][547]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}" name="addservice[3][name]" value="{#if $addservice#}{#$addservice[3][0]#}{#/if#}"></dd>
            </dl>
            <dl class="fn-clear">
              <dt>{#$langData['waimai'][1][53]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}"  name="addservice[3][price]" value="{#if $addservice#}{#$addservice[3][3]#}{#else#}0{#/if#}"></dd>
            </dl>
          </div>
          <dl class="timebox fn-clear">
            <dt><span><label for="">{#$langData['waimai'][5][35]#}：</label></span></dt>
            <dd>
              <div class="fn-clear bg_arrow">
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][36]#}" name="addservice[3][start]" value="{#if $addservice#}{#$addservice[3][1]#}{#else#}00:00{#/if#}" type="text">
                </div>
                <span class="zhi">-</span>
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][37]#}" name="addservice[3][stop]" value="{#if $addservice#}{#$addservice[3][2]#}{#else#}00:00{#/if#}" type="text">
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="bgfff">
        <div class="fn-clear item">
          <div class="inpbox">
            <dl class="fn-clear">
              <dt>{#$langData['siteConfig'][19][547]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}" name="addservice[4][name]" value="{#if $addservice#}{#$addservice[4][0]#}{#/if#}"></dd>
            </dl>
            <dl class="fn-clear">
              <dt>{#$langData['waimai'][1][53]#}：</dt>
              <dd><input type="text" placeholder="{#$langData['siteConfig'][7][0]#}"  name="addservice[4][price]" value="{#if $addservice#}{#$addservice[4][3]#}{#else#}0{#/if#}"></dd>
            </dl>
          </div>
          <dl class="timebox fn-clear">
            <dt><span><label for="">{#$langData['waimai'][5][35]#}：</label></span></dt>
            <dd>
              <div class="fn-clear bg_arrow">
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][36]#}" name="addservice[4][start]" value="{#if $addservice#}{#$addservice[4][1]#}{#else#}00:00{#/if#}" type="text">
                </div>
                <span class="zhi">-</span>
                <div data-role="fieldcontain" class="item dom_select">
                  <input class="demo-test-date" placeholder="{#$langData['waimai'][5][37]#}" name="addservice[4][stop]" value="{#if $addservice#}{#$addservice[4][2]#}{#else#}00:00{#/if#}" type="text">
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

    </form>

  </div>

<script>var sid = {#$sid#};</script>
{#include file='../_footer.html' jsFile=array("mobiscroll.js", "mobiscroll.datetime.js", "store-info-public.js?v={#$cfg_staticVersion#}", "add-service.js?v={#$cfg_staticVersion#}") curr='shop' toppage=0#}

</body>
</html>
