{#$cssFile = array("image-info.css?v=3")#}
{#include file='../_header.html' pageTitle=$langData['waimai'][1][180] cssFile=$cssFile goBack=1 rbtn='<a href="javascript:;" class="submit">'|cat:$langData['siteConfig'][6][27]|cat:'</a>'#}

  <div class="container">
    <form action="" id="submitForm">
     <div class="img-box imgbox">
     <p>{#$langData['waimai'][5][47]#}<span class="changesort fn-right" style="padding:0 .1rem;background:#4aaf51;color:#fff;border-radius:3px;">{#$langData['waimai'][5][48]#}</span></p>
        <ul class="uploader-list fn-clear" id="fileList">
          <li class="uploadbtn">
            <div id="filePicker" class="webuploader-container">
              <div class="webuploader-pick">+</div>
            </div>
          </li>
          {#if $food_license_img#}
          <li class="thumbnail" id="item_1"><img src="{#changeFileSize url=$food_license_img type="small"#}" data-val={#$food_license_img_pathSource#} data-url="{#changeFileSize url=$food_license_img type="small"#}" alt=""><div class="file-panel"><span class="cancel"></span></div></li>
          {#/if#}
          {#if $business_license_img#}
          <li class="thumbnail" id="item_2"><img src="{#changeFileSize url=$business_license_img type="small"#}" data-val={#$business_license_img_pathSource#} data-url="{#changeFileSize url=$business_license_img type="small"#}" alt=""><div class="file-panel"><span class="cancel"></span></div></li>
          {#/if#}
        </ul>
        <input type="hidden" name="food_license_img" id="food_license_img" value="">
        <input type="hidden" name="business_license_img" id="business_license_img" value="">
      </div>
    </form>

  </div>

<script>
  var sid = {#$sid#}, id = {#$id#};
  var modelType = 'waimai';
  var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 2;
</script>
{#include file='../_footer.html' jsFile=array("zepto.deferred.js", "/static/js/webuploader/webuploader.js", "/templates/member/touch/js/common.js?v=4", "store-info-public.js?v=2", "license-info.js?v=2") curr='shop' toppage=0#}

</body>
</html>
