<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$typename#} - {#$special_title#}</title>
<meta name="keywords" content="{#$special_keywords#}" />
<meta name="description" content="{#$special_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$special_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#include file="../../siteConfig/top1.html"#}

<div class="wrap">

	<div class="header">
		<a href="{#$special_channelDomain#}" title="{#$special_channelName#}"><img src="{#$special_logoUrl#}" alt="{#$special_channelName#}" /></a>
	</div>

	<ul class="nav">
		<li><a href="{#$special_channelDomain#}">首页</a></li>
		{#special action='type' return='type'#}
		<li{#if $id == $type.id || $parentid == $type.id#} class="curr"{#/if#}><a href="{#getUrlPath service='special' template='list' id={#$type.id#}#}">{#$type.typename#}</a></li>
		{#/special#}
	</ul>

	{#if $hasParent#}
	<dl class="sub-nav">
		<dt>分类：</dt>
		<dd>
			{#$tid = $id#}
			{#if $parentid != 0#}
			{#$tid = $parentid#}
			{#/if#}
			{#special action='type' return='type1' type=$tid#}
			<a href="{#getUrlPath service='special' template='list' id={#$type1.id#}#}">{#$type1.typename#}</a>
			{#/special#}
		</dd>
	</dl>
	{#/if#}

	<div class="bd">
		<ul class="fn-clear">
			{#special action='slist' return='list' typeid={#$id#} page={#$page#} pageSize='20'#}
			<li>
				<a href="{#$list.domain#}" target="_blank" title="{#$list.title#}">
					<img alt="{#$list.title#}" src="{#$list.litpic#}" />
					<div class="txt">
						<div class="tit">{#$list.title#}</div>
						<div class="info">
							<span class="date"><i></i>{#$list.pubdate|date_format:"%Y-%m-%d"#}</span>
							<span class="entrance">进入专题&gt;&gt;</span>
						</div>
					</div>
				</a>
			</li>
			{#/special#}
		</ul>
		{#if $pageInfo.totalCount == 0#}
		<div class="empty">抱歉！ 暂无相关专题</div>
		{#/if#}
	</div>

	<!--分页-->
	{#getPageList service='special' template='list' id={#$id#} pageType='dynamic' param="page=#page#"#}

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cycle.js"></script>
</body>
</html>
