<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $typeid#}{#$typename#} - {#/if#}模板 - {#$website_title#}</title>
<meta name="keywords" content="{#$website_keywords#}"/>
<meta name="description" content="{#$website_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all"/>
<link rel="stylesheet" href="{#$templets_skin#}css/common.css">
<link rel="stylesheet" href="{#$templets_skin#}css/list.css">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$website_channelDomain#}', staticPath = '{#$cfg_staticPath#}', templetPath = '{#$templets_skin#}', cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>
<body class="w1200">

  {#$pageCurr = 'templates'#}
  {#include file="top.html"#}

  <!-- 顶部banner s-->
  <div class="banner"><img src="{#$templets_skin#}images/4.jpg" alt=""><p>一站式建站服务，为您省心、省时、省钱！</p></div>
  <!-- 顶部banner e-->



  <!-- 内容 s -->
  <div class="bg">

    <!-- 筛选 s -->
    <div class="wrap">
      <div class="filter">
        <dl class="fn-clear">
          <dt>模板分类：</dt>
          <dd class="fn-clear">
			<a href="{#getUrlPath service='website' template='templates' id=0#}"{#if $typeid == 0#} class="active"{#/if#}>全部</a>
            {#website action='temptype' return='type'#}
          	<a href="{#getUrlPath service='website' template='templates' id={#$type.id#}#}"{#if $typeid == {#$type.id#}#} class="active"{#/if#}>{#$type.typename#}</a>
          	{#/website#}
        </dl>
      </div>
    </div>
    <!-- 筛选 e -->

    <div class="list wrap">
      <ul class="fn-clear">
      	{#website action='tempList' return='list' type={#$typeid#} title={#$keywords#} page={#$page#} pageSize='8'#}
        <li>
          <div class="item">
            <div class="imgbox"><img src="{#changeFileSize url="{#$list.litpic#}" type="small"#}"></div>
            <div class="txtbox">
              <dl class="fn-clear">
                <dt></dt>
                <dd>
                  <p><span>模版号：</span> {#$list.title#}</p>
                  <p><span>分　类：</span> {#$list.typename#}</p>
                </dd>
              </dl>
              <a href="{#$list.url#}" target="_blank" title="{#$list.title#}" class="import">演示</a>
            </div>
          </div>
        </li>
        {#/website#}
      </ul>
	  {#if $pageInfo.totalCount == 0#}
	  <p class="empty">暂无相关模板</p>
	  {#/if#}
    </div>
  </div>
  <!-- 内容 e -->


  {#getPageList service='website' template='templates' pageType='dynamic' typeid={#$typeid#} param="page=#page#"#}

  <!-- 底部 s -->
  {#include file="bottom.html"#}
  <!-- 底部 e -->

 <script type="text/javascript">
 	$(function(){
	    //返回顶部
	  	$(".btntop").bind("click", function(){
	  		$('html, body').animate({scrollTop:0}, 300);
	  	});
	});
 </script>

</body>
</html>
