<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$huodong_title#}</title>
<meta name="keywords" content="{#$huodong_keywords#}" />
<meta name="description" content="{#$huodong_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/huodong.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script>
var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$huodong_channelDomain#}', cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body class="w1200">
{#include file="_top.html"#}

<!-- 导航 -->
<div class="navigation fn-clear">
	<div class="na-left">
		<img src="{#$templets_skin#}images/index_jiao.png">
		<ul>
			{#huodong action='type' return='type'#}
			<li class="na-{#$_bindex.type#}"><a href="{#$type.url#}"><p>{#$type.typename#}</p></a></li>
			{#/huodong#}
			<li class="na-12"><a href="{#getUrlPath service='huodong' template='list'#}"><p>全部活动</p></a></li>
		</ul>
	</div>
	<div class="na-right">

		<div class="list">
			<a href="javascript:;" class="next"></a>
			<a href="javascript:;" class="prev"></a>
			<ul class="nar-img bd">
				{#myad title="活动_模板一_电脑端_广告一" type="slide"#}
			</ul>
			<div class="hd"><ul></ul></div>
		</div>
		<div class="nar-down">
			<ul>
				{#huodong action='hlist' orderby='reg' pageSize='3'#}
				<li>
					<a href="{#$row.url#}" target="_blank"><img src="{#$row.litpic#}"></a>
					<a href="{#$row.url#}" target="_blank"><p>{#$row.title#}</p></a>
					<span class="nar-list1">
						<b><img src="{#$templets_skin#}images/icon_time.png">{#$row.began|date_format:"%Y-%m-%d %H:%m"#}<i><div class="erwei-1"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$row.url|escape:"url"#}"><p>微信扫一扫，分享给好友</p></div></i></b>
						<b class="list-b2"><img src="{#$templets_skin#}images/icon_addr.png">{#$row.addrname[0]#} {#$row.addrname[1]#}</b>
					</span>
					<span class="nar-list2"><a href="{#getUrlPath service='huodong' template='business' id={#$row.uid#}#}" target="_blank">{#$row.username#}</a><p>人报名</p><b>{#$row.reg#}</b></span>
				</li>
				{#/huodong#}
			</ul>
		</div>
	</div>
</div>
<!-- 导航 -->

<!-- 今日爆款 -->
<div class="models fn-clear">
	<p>今日爆款</p>
	<ul>{#myad title="活动_模板一_电脑端_广告二"#}</ul>
</div>
<!-- 今日爆款 -->

<!-- 精选活动 优秀主办方 -->
<div class="content fn-clear">
	<div class="content-left">
		<p class="content-left-lead">热门活动</p>
		<ul class="hlist">
			{#huodong action='hlist' orderby='reply' pageSize='50'#}
			<li>
				<a href="{#$row.url#}" target="_blank"><img src="{#changeFileSize url="{#$row.litpic#}" type="middle"#}"></a>
				<h1><a href="{#$row.url#}" target="_blank">{#$row.title#}</a></h1>
				<span><a href="{#getUrlPath service='huodong' template='business' id={#$row.uid#}#}" target="_blank">{#$row.username#}</a></span>
				<i><img src="{#$templets_skin#}images/icon_time.png">{#$row.began|date_format:"%Y-%m-%d %H:%m"#} 开始</i>
				<i><img src="{#$templets_skin#}images/icon_addr.png">{#$row.addrname[0]#} {#$row.addrname[1]#}</i>
				<div class="pice">{#if $row.feetype == 1#}<em>{#echoCurrency type='symbol'#}</em><p>{#$row.mprice#}</p><b>起</b>{#else#}<p>免费</p>{#/if#}<span><div class="erwei"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$row.url|escape:"url"#}"><p>微信扫一扫，分享给好友</p></div></span></div>
			</li>
			{#/huodong#}
		</ul>
		<div class="content-foot">
			<a href="{#getUrlPath service='huodong' template='list'#}">查看更多热门活动</a>
		</div>
	</div>
	<div class="conten-right">
		<p class="conten-right-lead">优秀主办方</p>
		<ul>
			{#huodong service='huodong' action='organizer' page='1' pageSize='10'#}
			<li>
				<a href="{#$row.url#}" target="_blank"><img src="{#$row.photo#}"></a>
				<span><a href="{#$row.url#}" target="_blank"><h2>{#$row.nickname#}</h2></a></span>
				<p><strong>{#$row.count#}</strong>场活动&nbsp;&nbsp;&nbsp;&nbsp;<strong>{#$row.reg#}</strong>人参与</p>
			</li>
			{#/huodong#}
		</ul>
	</div>
</div>
<!-- 精选活动 优秀主办方 -->

{#include file="_footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$templets_skin#}js/huodong.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
