html,body{width: 100% ; background-color: #f5f5f7; overflow: auto; -webkit-overflow-scrolling : touch;}
.fixed_box{position: fixed; top: 0; left: 0; right: 0; z-index: 9;}
.top_box{height: .88rem; width: 100%; position: relative; background-color: #fff;}
.bg_banner{width: 100%; height: 100%; }
.bg_banner img{object-fit: cover; width: 100%; height: 100%; }
.top_head{position: absolute;  top: 0; left: .26rem; right: .26rem;}
.logobox{ width: 2rem; height: .66rem; float: left; margin-top: .08rem;}
.logobox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.search_box{width: 4rem;background-color: #f5f5f5; border-radius: .29rem; float: right; padding: .13rem 0; margin-top: .11rem;}
.search_box input{color: #333; background:none; border: none; margin-left: .28rem; font-size: .28rem; width: 2.8rem; vertical-align: middle; margin-bottom: .04rem;}
.search_box i{display: inline-block; width: .52rem; height: .28rem;  vertical-align: middle; background-image: url(../images/search_icon.png); background-repeat: no-repeat; background-size:.27rem .28rem; background-position: right center; margin-right: .28rem;vertical-align: middle; }
.search_box i:before{content: ''; display: inline-block; width: .02rem; height: .24rem; background-color: #c9c9c9; margin-top: .02rem; }
.scan{float: right; width: .36rem; height: .36rem; margin-left: .28rem;}
.scan a{display: block; width: .36rem; height: .36rem; background-image: url(../images/scan.png); background-size: .36rem; background-repeat: no-repeat; background-position: center; margin-top: .26rem; }

.more_nav{ width: .26rem; height: .26rem; background-size: .26rem; background-image: url(../images/more.png); background-repeat: no-repeat; background-position: center; background-color: #fff; position: absolute; right:.26rem; top: .2rem;}

.nav_box{width: 100%;  background-color: #fff; position: relative;}
.nav_box>ul.f_nav{ margin-left:.26rem; margin-right: .66rem; white-space: nowrap; overflow-x: auto; }
.nav_box>ul.f_nav>li{ margin-right: .42rem; text-align: center; display: inline-block; position: relative;}
.nav_box>ul.f_nav>li a{color: #5c5c5c; font-size: .32rem; line-height: .42rem; position: relative; display: block;line-height: .7rem;}
.nav_box>ul.f_nav>li.s_nav a>i{content: ''; display: inline-block; width: 0; height: 0; border:solid .1rem rgba(0,0,0,0); border-top:solid .1rem #5c5c5c; position: absolute; top: .3rem; right: -.1rem; }
.nav_box>ul.f_nav>li.s_nav a{padding-right: .24rem;}
.nav_box>ul.f_nav>li.active:after{content: ''; display: block; width: .22rem; height: .04rem !important; border-radius: .02rem; background-color: #f6293a; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0);}
.nav_box>ul.f_nav>li.active a{color:#f6293a ;}
ul.s_box{width:2.2rem; max-height: 4.5rem; overflow-y:auto ; background-color: #fff; border-radius: .1rem; position: absolute; top: .72rem; left:2.3rem; box-shadow: 0 .07rem .37rem rgba(10,13,38,.23); -webkit-overflow-scrolling : touch; z-index: 3;}
ul.s_box li{ width: 1.8rem; line-height: .6rem; margin: auto; border-radius: .3rem;  color: #5c5c5c; font-size: .32rem; margin-top: .08rem; text-align: center;}
ul.s_box li:nth-child(1){margin-top: .16rem;}
ul.s_box li.s_active{background-color: #f5f5f7;}

/*轮播图*/
.bd li{width: 6.8rem; height: 3.4rem; border-radius: .04rem; position: relative; overflow: hidden;}
.bd li img{width: 100%; height: 100%; object-fit: cover;}
.bd li .siteAdvObj{width: 100%; height: 100%;}
/*.slideinfo{position: relative;position: absolute; bottom: 0rem; left: 0; right: 0; width:100%; height: 1.8rem;}
.slideinfo h3 a{color: #fff; font-size: .34rem; display: block; max-width: 6.4rem !important; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: absolute;bottom:0.25rem;z-index: 10;}
.slideinfo .bg{position: absolute;top:0;left:0;right: 0;bottom:0;background-image: -moz-linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,.67) 100%);background-image: -webkit-linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,.67) 100%);background-image: -ms-linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,.67) 100%);}*/

.banner .slideinfo{position: absolute;bottom:0;height: 1.3rem;left:0;right: 0;padding:0 .2rem;}
.banner .slideinfo h3 a{font-size: .34rem;color:#fff;position: absolute; bottom:.24rem;z-index: 10;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; max-width: 90%;}
.banner .slideinfo .bg{position: absolute;top:0;left:0;right: 0;bottom:0;background-image: -moz-linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,.67) 100%);background-image: -webkit-linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,.67) 100%);background-image: -ms-linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,.67) 100%);}

/*新闻*/
.libox { border-bottom: solid .01rem #e8e8e8; position: relative;}
.libox a{display: block; padding: .32rem 0;}
.libox:nth-last-child(1){border: none;}
.libox h2{font-size: .34rem; line-height: .48rem;   display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
.libox p.art_info{font-size: .22rem; color: #9c9c9c; margin-top: .26rem;}
.no_img.libox p.art_info{margin-top: .4rem;}
.libox p.art_info i{margin-left: .18rem;}
.libox p.art_info i:before{content: ''; display: inline-block; width: .25rem; height: .2rem; background-image: url(../images/read.png); background-size: .25rem .2rem; margin-right: .08rem; background-repeat: no-repeat; vertical-align: middle; }
.ulbox{background-color: #fff; padding: 0 .26rem; margin-top: .12rem;}
.to_top .libox p.art_info:before{content: '置顶'; color: #f23d3d; margin-right: .2rem;}

/*单图*/
._right{float: right; width: 2.28rem; height: 1.5rem;margin-left: .14rem;}
._right img{width: 100%; height: 100%; object-fit: cover;}
._left{position: relative; height: 1.5rem;}
/*.single_img.libox p.art_info{position: absolute; bottom: 0; left: 0;}*/
/*专题*/
.topicbox,.mediabox{background-color: #fff;  padding-left: .26rem;}
.topicbox h1,.mediabox h1{font-size: .34rem; color: #2b2b2b; padding-top: .4rem; padding-bottom: .26rem;}
.topicbox h1:before,.tbox h2:before{content: '专题'; color: #fff; font-size: .22rem;  background-color: #f24141; padding: .07rem; border-radius: .04rem; line-height: 1.1em; margin-right: .12rem;}
.dlbox{white-space: nowrap; overflow: auto;}
.dbox{width: 3rem;  border: solid .01rem #ededed; border-radius: .08rem; overflow: hidden; box-shadow:0 .03rem .07rem rgba(26,30,61, .05); display: inline-block; margin-right: .1rem; height: 4.4rem;}
.dbox a{display: block;}
.dbox a .imgbox{height: 2rem;}
.dbox a img{width: 100%; height: 100%; object-fit: cover;}
.dbox h2{font-size: .32rem; color: #2b2b2b; margin: .25rem .2rem; line-height: .46rem; white-space: normal;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:3 ; overflow: hidden;}
.dbox p.art_info{color: #9c9c9c; font-size: .22rem; margin:.16rem .2rem .3rem .2rem;}
.go_topiclist{font-size: .28rem; color: #f23d3d; text-align: center; display: block; line-height: .8rem;}

/*多图*/
.pics_box li{width: 2.28rem; height: 1.5rem; float: left; margin-right: .06rem;}
.pics_box li:nth-last-child(1){margin: 0;}
.pics_box{ overflow: hidden; margin-top: .26rem;}
.pics_box li img{width: 100%; height: 100%; object-fit: cover;}
.ulbox.pics_box p.art_info{margin-top: .26rem;}

/*大图*/
.big_img .img_box{width: 100%; max-height: 3.92rem; margin-top: .24rem; overflow: hidden;}
.big_img .img_box img{width: 100%;}

/*广告*/
.advbox .art_info:before{content: '广告'; padding: .03rem .08rem; color: #c4c4c4; border-radius: .04rem; border: solid .02rem #e8e8e8; font-size: .2rem; box-sizing: border-box; margin-right: .2rem;}
.news_box{margin-bottom: 1.7rem;}

/*媒体号*/
.more{float: right; margin-right: .26rem; font-size: .28rem; color: #2b2b2b; font-weight: normal;  }
.more:after{content: ''; display: inline-block; width: .3rem; height: .3rem; background-size: .3rem; background-repeat: no-repeat; background-image: url(../images/more_to.png); vertical-align: middle; margin-left: .1rem; }
.headimg{width: 1.14rem; height: 1.14rem; border-radius: 50%; overflow: hidden; border: solid .01rem #ededed; margin:.25rem auto .2rem auto; }
.headimg img{width: 100%; height: 100%; object-fit: cover;}
.media_info h2{font-size: .28rem; font-weight: bold; text-align: center; margin: 0;}
.media_info .art_text{font-size: .24rem; color: #646464; margin: .1rem .32rem ; text-align: center; white-space: normal;}
.media_info .care{width: 1.22rem; height: .56rem; margin: auto; border-radius: .28rem; background-color: #f24141; color: #fff; display: block; margin: auto; line-height: .56rem; text-align: center;margin-top: .2rem; margin-bottom: .24rem;}
.media_info .care:before{content: ''; display: inline-block; width: .2rem; height: .2rem; background-size: .2rem; background-repeat: no-repeat; background-image: url(../images/add_1.png); vertical-align: middle; margin-right: .06rem;  }
.media_info .care.cared:before{display: none;}
.media_info .care.cared{background-color: #c4c4c4; color: #fff;}
/*.mediabox .dbox{padding-bottom: .24rem;}*/
.mediabox{padding-bottom: .26rem;}

/*视频*/
.vbox a .img_box{position: relative;}
.vbox a .img_box:before{content: ''; display: block; width: .96rem; height: .96rem; background-image: url(../images/v_icon.png); background-size: .96rem; background-repeat: no-repeat; background-position: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.vbox .time{background-color: rgba(0,0,0,.3); border-radius: .21rem; line-height: .42rem; color: #fff; position: absolute; right: .12rem; bottom: .14rem; font-size: .22rem; padding: 0 .2rem;}
.loading{padding:.6rem 0;text-align: center;}
.loading img{width: .4rem;}
.loading span{display: block;font-size: .26rem;color:#919191;margin:.2rem auto;}

/*导航所有内容*/
.nav_all{width: 100%; height: 100%; position: fixed; bottom: -100%; left: 0; background-color: #fff; z-index: 2; }
.close_btn{float: right; width: .28rem; height: .28rem; background-position: center; background-size: .28rem; background-repeat: no-repeat; background-image: url(../images/close.png); margin-top: .08rem;}
.nav_all h2{margin:.58rem .26rem; font-size: .32rem; color: #2b2b2b;}
.nav_all ul{ margin:0 .26rem; overflow: auto;}
.nav_all ul li{width: 1.6rem; height: .68rem; border-radius: .34rem; background-color: #f5f5f7; float: left; margin-right: .18rem; margin-bottom: .3rem;}
.nav_all ul li:nth-child(4n){margin-right: 0; }
.nav_all ul li a{display: block; color: #5c5c5c; text-align: center; line-height: .68rem; font-size: .32rem;}
.nav_all li.nav_on a{color: #f6293a;}


