
/*顶部*/
.top{height: 35px;line-height: 35px;background-color: #f6f6f6;border-bottom: 1px solid #dfdfdf;}
.top-box{width: 1000px;margin: 0 auto;}
.w1200 .top-box{width: 1200px;}
.top-box a.icon{background: url(../images/head_icon.png) no-repeat;padding-left: 20px;margin-right: 15px;}
.top-box a.icon-2{background-position: 0 -27px;}
.top-box a.icon-3{background-position: 0 -54px;}
.top-box a.icon-4{background-position: 0 -108px;}
.top .login-before{display: none;}

/*头部*/
.header{width: 1000px;margin: 20px auto;}
.w1200 .header{width: 1200px;}
.header-l{width: 380px;margin-top: 10px;}
.w1000 .header-l{width: 300px;}
.header-c{margin-top: 10px;}
.header-l .logo{height: 48px;}
.header-l .logo a{display: block;}
.header-l .logo a img{height: 48px;}
.header-l .logo-txt{height: 48px;border-left: 1px solid #cfcfcf;padding-left: 12px;margin-left: 12px;}
.header-l .logo-txt p{background: url(../images/head_icon.png) no-repeat;background-position: 0 -283px;padding-left: 30px;font-size: 20px;color: #d61f3d;    font-family: 'impact';}
.header-l .logo-txt span{color: #aaa;font-size: 14px;}
.header-r{width: 200px;overflow: hidden;}
.search-box{font-size: 14px;}
.search-nav{display: inline-block;width: 89px;padding: 9px 0;position: relative;float: left;}
.search-nav span{display: block;padding-left: 10px;cursor: pointer;background: url(../images/head_icon.png) right -252px no-repeat;border-right: 1px solid #ebebeb;}
.search-info{width: 336px;height: 38px;border: 1px solid #D51938;margin: 0 auto;}
.w1200 .search-info{width: 536px;}
.search-info input.search-txt{border: 0;display: block;height: 38px;margin-left: 10px;float: left;}
.search-info input.search-btn{border: 0;width: 80px;height: 38px;color: #fff;font-size: 16px;outline: 0;background: #D51938 url(../images/head_icon.png) 26px -324px no-repeat;float: right;}
.search-nav ul{width: 87px;position: absolute;left: -1px;top: 38px;border: 1px solid #D51938;border-top: none;background: #fff;z-index: 10;display: none;}
.search-nav ul li{line-height: 30px;padding-left: 10px;cursor: pointer;}
.search-nav ul li:hover{background: #f1f1f1;color: #333;}
.slideBox{height: 330px;overflow: hidden;	}
.slideBox img{display: block;margin: 0 auto;}
.banner{position: relative;text-align: center;}
.slideBox .hd{}
.slideBox .hd ul{position: absolute;bottom: 10px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.slideBox .hd li{float: left;width: 30px;height: 10px;background: rgba(255,255,255,.6);margin-right: 10px;text-indent: 99999px;}
.slideBox .hd li.on{background: #D51938;}

/*导航*/
.nav{background: #D51938;height: 50px;line-height: 50px;}
.nav-list{width: 1000px;margin: 0 auto;}
.w1200 .nav-list{width: 1200px;}
.nav-list ul li{float: left;text-align: center;width: 8%;}
.nav-list ul li:hover{background: #AA142D;}
.nav-list ul li a{display: block;color: #fff;font-size: 16px;}
.nav-list ul li a:hover{text-decoration: none;color: #fff!important;}
.nav-list ul li.active{background: #AA142D;}

/*面包屑*/
.bread{border-bottom: 1px solid #ddd; line-height: 40px; font-size: 14px; color: #666;}
.bread span{margin-right: 8px;}
.bread em{margin: 0 10px;}

/*第一层*/
.warp{width: 100%;}
.header-adv{height: 135px;background:#f5fbf9; margin-top: 20px;}
.try{display: block;float: left;}
.pic{float: right; width: 230px; overflow: hidden;}
.w1200 .pic{width: 430px;}
.zut{clear:both;}
.kanfa{width:240px;height: 60px;display:block;float:left;line-height: 30px;margin-top: 25px;border-right: 1px #c9cfcd solid;}
.kanfa p{text-align: center;font-size: 22px;color: #676662;}
.phone{display: block;float: left; height: 70px;}
.yiz{font-size: 30px;color: #ff5151; margin-left: 25px;}
.zit{font-size: 24px;color: #666;}
.col{font-size: 26px;color: #ff5151; font-weight: bold;}
.xina{margin:6px 0 0 95px;}
.yiy{display: block;float: left;margin-top:15px;margin-left:28px; font-size: 14px;}
.bl{color: #999;}
.nin{color: #ff5151;}

/*小隔间*/
.xgj{height: 45px;}

/*第二层*/
.middle{height:280px; border: 2px #f62c3c solid;}
.left{display: block;float: left;width: 380px;height: 280px;background:#f62c3c;text-align: center;}
.w1200 .left{width: 580px;}
.free{font-size: 40px;color: #fff;margin-top:35px;}
.tiex{color: #fff42b;font-size: 26px;margin-top:5px;}
.baom{font-size: 22px;color: #fff;}
.ppt{font-size: 12px;color: #fff;margin-left:0;}
.w1200 .ppt{margin-left: 65px;}
.gist{background:url(../images/kanfanicon.png) no-repeat; display:block;width:33px;height:34px;background-position: 0 -328px;}
.bus{background:url(../images/kanfanicon.png) no-repeat; display:block;width:33px;height:34px;background-position: 0 -383px;}
.umber{background:url(../images/kanfanicon.png) no-repeat; display:block;width:33px;height:35px;background-position: 0 -433px;}
.xiangy{display:inline-block;float: left;width: 126px;height: 74px;margin-top: 15px;border-right: 1px #ff616f solid;}
.w1200 .xiangy{width: 150px;}
.gist{margin:10px auto;}
.bus{margin:10px auto;}
.umber{margin:10px auto;}
.yee{border-right: none;}
.right{display: block;float: left;width: 570px;height: 280px;font-size: 14px;color: #656565;border: none;}
.zifa{line-height: 60px;height: 60px;}
.yix{line-height: 36px;height: 36px;margin-bottom: 15px;}
.inp-small{float: left;}
.yix dt{float: left;}
.yix dd{position: relative;}
.weiz{padding-left: 35px;}
.loup{width:333px;height: 36px;padding-left: 9px;border: 1px #e0e0e0 solid;line-height: 36px;outline: none;}
.tiank{width:66px;height: 36px;border: 1px #e0e0e0 solid;line-height: 36px;outline: none; text-indent: 10px;}
.guerr{margin-right: 5px;margin-top: 1px;}
.yijuj{margin-right: 10px}
.biaod{width: 571px;height: 35px; background:#fc2938;padding:10px 0 10px 10px; margin-top: -4px;}
.mingx{width: 147px;height: 27px;line-height:27px;padding-top:5px;padding-left: 8px;margin-right: 15px;border: none;padding-bottom: 5px;outline: none;}
.jis{margin-right: 25px;border: none;outline: none;}
.submit{width: 100px;height: 36px;background:#fcf205;color:#370100;border: none;vertical-align: top;outline: none;}
.inp-small{position: relative;}
.error{position: absolute; background: #da5c4f; color: #fff; padding: 5px 10px; height: 20px; line-height: 20px; border-radius: 4px; height: 20px; line-height: 20px; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; display: none;}
.biaod .error{top: -30px;}
.yix dd .error{left: 70px; top: -30px;}
.yix dd .wan{margin-left: 10px;}
.error i{position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #da5c4f; top: 30px; left: 15px; border-width: 7px 0 7px 9px;}


/*第三层*/
.baik{height: 60px;}
.baik p{display:inline-block;float:left;height: 60px;line-height: 60px;color:#333;font-size: 24px;}
.gengd{display: inline-block;float: right;font-size: 14px;padding-top: 30px;margin-right: 20px;}
.baik a{text-decoration:none;color: #999;}
.baik a:hover{color: #d12356}

.last{position: relative; width: 110%;}
.last li {position: relative;}
.last img:hover{opacity: .9;}
.last li{width: 310px; height: 230px; margin-right: 34px; float: left; position: relative;}
.w1200 .last li{width: 377px; height: 270px;}
.last a{display: block; }
.last a img{width: 310px; height: 230px;}
.w1200 .last a img{width: 377px; height: 270px;}
.last span{background: url(../images/bg1.png); position: absolute; left: 0; right: 0; bottom: 0;}
.last span a{color: #fff; text-align: center; font-size: 16px; display: block; line-height: 36px; height: 36px; overflow: hidden;}


/*底部*/
.footer{background: #eee;text-align: center;padding: 20px 0;color: #666; margin-top: 70px;}
.footer p a{color: #666;}
.footer p em{color: #666;margin: 0 5px;}
.footer p{line-height: 28px;}

/*浮动导航*/
.scroll{position: fixed;bottom: 150px;left: 53%;z-index: 99;margin-left: 465px;}
.w1200 .scroll{margin-left: 560px;}
.scroll a{background: #dddddd url(../images/kanfanicon.png) no-repeat;text-align: center;width: 35px;height: 37px;display: block;margin-bottom: 5px;color: #fff;margin-left: 10px;text-indent: -999px;overflow: hidden;padding: 3px 5px 0;line-height: 17px;}
.scroll a:hover{color: #fff!important;text-decoration: none;}
.scroll a.hover{background: #D51938;text-indent: 0; }
.scroll a.s-hot{background-position: 10px -776px;}
.scroll a.s-zx{background-position: 8px -819px;}
.scroll a.s-xf{background-position: 8px -854px;}
.scroll a.s-lp{background-position: 8px -894px;}
.scroll a.s-esf{background-position: 10px -936px;}
.scroll a.s-wx{background-position: -53px -865px;}
.scroll a.s-top{background-position: -64px -777px;line-height: 20px;background-color: #676767;}
.wx-down, .app-down{position: relative;}
.wx-down-box, .app-down-box{position: absolute;left: -175px;top: 0;width: 170px;height: 270px;background: #fff;border: 1px solid #e5e5e5;text-align: center; display: none;}
.wx-down-box img, .app-down-box img{width: 150px;height: 150px;}
.wx-down-box h3, .app-down-box h3{font-size: 18px;margin-bottom: 15px;}
.wx-down-box p, .app-down-box p{color: #666;font-size: 14px;}

/*遮罩层*/
.mask{background: #000; opacity: .3; filter: alpha(opacity=30); z-index: 9999; position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: none;}

/*弹出层*/
.layer{width: 560px; box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3); position: fixed; left: 50%; margin-left: -280px; top: 200px; background: #fff; z-index: 99999; border: 6px solid #ccc; padding-bottom: 20px; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; display: none;}
.layer .layer-tit a{display: block; width: 32px; height: 32px; background: #b2b2b2 url(../images/kanfanicon.png) no-repeat 6px -676px; margin: 10px 10px 0 0;}
.layer h1{font-size: 24px; margin: 0 0 30px 0; text-align: center; line-height: 30px; }
.layer .layer-icon{height: 80px; width: 80px; margin: 0 auto 30px; background: url(../images/kanfanicon.png) 0 -1070px no-repeat; }
.layer-failed .layer-icon{background-position: 0px -1171px;}
.layer h3{font-size: 20px; line-height: 26px; text-align: center; }
.layer a.btn{display: block; width: 130px; height: 46px; line-height: 46px; text-align: center; background: #da5c4f; margin: 40px auto 0; color: #fff; font-size: 14px;}
