.xc {padding: 25px 0;}
.xc-big {position: relative; height: 700px; border: 1px solid #eee; margin-bottom: 9px; background: #fafafa; overflow: hidden;}
.xc-big .big {position: relative; z-index: 1; overflow: hidden; display: block; height: 100%; background: url(/static/images/ajax-loader.gif) no-repeat center; text-align: center;}
.xc-big .big s {display: inline-block; height: 100%; vertical-align: middle;}
.xc-big .big img {display: inline; z-index: 0; vertical-align: middle; max-width: 100%; max-height: 100%; -ms-interpolation-mode: bicubic;}
.xc-big .l, .xc-big .r {display: none; position: absolute; z-index: 2; top: 50%; width: 45px; height: 80px; margin-top: -80px; background-color: #000; opacity: 0.5;}
.xc-big a:hover.l, .xc-big a:hover.r {background-color: #e43;}
.xc-big .l {left: 15px;}
.xc-big .r {right: 15px;}
.xc-big .l s, .xc-big .r s {position: absolute; left: 50%; top: 50%; width: 13px; height: 23px; margin: -11px 0 0 -6px; background: url(../images/hx-pic-icon.png) no-repeat;}
.xc-big .r s {background-position: -14px 0;}
.xc-big .info {position: absolute; z-index: 3; left: 0; right: 0; bottom: 0; height: 56px; background-color: rgba(0,0,0,.5); line-height: 56px; font-size: 24px; color: #fff;}
.xc-big .info s {position: absolute; height: 0; width: 0; border: 9px dashed transparent; top: -18px; left: 10px; border-bottom: 9px solid #bd140a;}
.xc-big .info .count {float: left; height: 56px; padding: 0 15px; background-color: #bd140a; font-size: 36px; font-family: Georgia; line-height: 50px;}
.xc-big .info p {position: relative; overflow: hidden; padding: 0 15px; text-overflow: ellipsis; white-space: nowrap;}

.xc-thumb {position: relative; height: 92px; padding: 0 23px 0 25px; overflow: hidden;}
.xc-thumb ul {position: relative; height: 92px; margin-left: 7px;}
.xc-thumb li {float: left; width: 118px; height: 90px; border: 1px solid #eee; margin: 0 15px 0 0; text-align: center; cursor: pointer; overflow: hidden;}
.w1200 .xc-thumb li {margin-right: 7px;}
.xc-thumb li.curr {border-color: #ee4433;}
.xc-thumb li s {display: inline-block; height: 100%; vertical-align: middle;}
.xc-thumb li img {display: inline; z-index: 0; vertical-align: middle; max-width: 100%; max-height: 100%; -ms-interpolation-mode: bicubic;}
.xc-thumb .l, .xc-thumb .r {position: absolute; top: 0; width: 20px; height: 92px; display: block; background-color: #f3f3f3;}
.xc-thumb .l {left: 0;}
.xc-thumb .r {right: 0;}
.xc-thumb .l s, .xc-thumb .r s {position: absolute; left: 50%; top: 50%; width: 5px; height: 9px; margin: -5px 0 0 -3px; background: url(../images/hx-pic-icon.png) -28px 0;}
.xc-thumb .r s {background-position: -34px 0;}
.xc-thumb a:hover.l, .xc-thumb a:hover.r {background-color: #f0f0f0;}
.xc-thumb a:hover.l s {background-position: -28px -10px;}
.xc-thumb a:hover.r s {background-position: -34px -10px;}