a:focus {
	outline:none
}
.w-slider-container {
	pointer-events:none
}
.w-slider:empty {
	background:rgba(211,211,211,.2) url(icon.png) no-repeat center center;
	min-width:140px;
	min-height:140px;
	cursor:pointer
}
@media(min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.w-slider:empty {
	background-image:url(icon@2x.png)
}
}