.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100000;
}
.nav{
	position: fixed;
	top: .93rem;
	left: 0;
	right: 0;
	background: #f4f5f6;
	height: .7rem;
	line-height: .7rem;
	z-index: 2;
}
.nav .nav_more{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: .8rem;
	height: .7rem;
	background: #f4f5f6;
	opacity: 1;
	z-index: 1;
}
.nav .nav_more .shadow{
	position: absolute;
	width: .2rem;
	height: .7rem;
	left: -0.2rem;
	background: url(../images/bac.png) no-repeat center right;
  background-size: contain;
  background-color: rgba(244, 245, 246, 0.3);
  z-index: 10000;
}
.nav .nav_more .more_btn{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/arrow.png) no-repeat center;
	background-size: .2rem;
}
.nav .menu_list{
	position: relative;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.nav .menu_list a{
	font-size: .3rem;
	display: inline-block;
	padding: 0 .2rem;
}
::-webkit-scrollbar {
	display: none;
}
.nav .menu_list a.menu_bc{
	color: #FA1F41;
}
.video_list{
	margin-top: 1.8rem;
	padding: 0 .28rem;
}
.video_list .video_box{
	margin-bottom: .3rem;
}
.video_list .video_box a{
	display: block;
}
.video_list .video_box .video_img{
	position: relative;
	height: 4.2rem;
}
.video_list .video_box .video_img img{
	width: 100%;
	height: 100%;
}
.video_list .video_box .video_img .video_mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.video_list .video_box .video_img h1{
	position: absolute;
    top: 0.15rem;
    left: 0.15rem;
    color: #fff;
    font-size: .28rem;
}
.video_list .video_box .video_img .video_btn{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/play.png) no-repeat center;
	background-size: .5rem;
}
.item{
	font-size: .24rem;
	margin-top: .1rem;
}
.item em{
	color: #999;
}
.item span{
	margin-left: 0.1rem;
	color: #999;
}
.refresh{
	width: 100%;
	position: fixed;
	top: .7rem;
	z-index: 1;
}
.refresh_box{
	background: #fff;
	width: .7rem;
	height: .7rem;
	margin: 0 auto;
	border-radius: 100%;
}
.refresh em{
	width: 100%;
	height: 100%;
	background: url(../images/refash.png) no-repeat center;
	background-size: .4rem;
	display: inline-block;
}
.loading{
	text-align: center;
	font-size: .28rem;
}
.shua{
    animation: spin 1s linear infinite;
}
@keyframes spin {
0% {
		transform:rotate(-360deg);
 }
 100% {
	 transform:rotate(0deg);
 }
}
.huoniao_iOS{
	margin-top: 20px;
}
.huoniao_iOS .head{
	padding-top: 20px;
}
.huoniao_iOS .nav {
	top: 1.2rem;
}
.huoniao_iOS .refresh{
	top: 1rem;
}
.huoniao_iOS .video_list{
	margin-top: 1.4rem;
}
.huoniao_iOS #navBox .navlist{
	margin-top: 0rem;
}
