*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;color: #000;}
body.show {opacity:1;}
a:hover, a:link{text-decoration: none;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}

/* chanel */
#maincontent {background:#fff;}
#test {position: fixed;top:20px;left:0;width: 100%;background: #fff;font-size: .3rem;padding:.4rem 0;z-index: 99999;}

/* picscroll */
.picscroll {position: relative;height: 3.5rem;overflow: hidden;}
.picscrollul {height: 3.5rem;}
.picscroll img {display: block;width: 100%;height: 3.5rem;}
.picscroll li span {position: absolute;left:0;bottom:0;width: 6.9rem;height:.9rem;line-height: 1rem;padding:0 .3rem;font-family: "\5fae\8f6f\96c5\9ed1";font-size: .32rem;color: #fff;background: -webkit-linear-gradient(top,rgba(0,0,0,0) 8%,rgba(0,0,0,0.24) 40%,rgba(0,0,0,0.29) 47%,rgba(0,0,0,0.65) 95%);background: linear-gradient(to bottom,rgba(0,0,0,0) 8%,rgba(0,0,0,0.24) 40%,rgba(0,0,0,0.29) 47%,rgba(0,0,0,0.65) 95%);}
.picscroll li span a {color: #fff;}
.picscroll .indicator {position: absolute;right: .1rem;bottom: 0; padding: .15rem .05rem .3rem 0; height: .1rem; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); z-index: 20;}
.picscroll .indicator i {cursor: pointer; display: inline; float: left; height: .1rem; width: .1rem; border-radius: .05rem; margin-right: .15rem; background-color: #ddd;}
.picscroll .indicator i.active {background-color: #f33;}

/*nice潮范*/
.qiqi{overflow: hidden;}

.pic_4{padding: .2rem 0;}
.pic_tit{display: block; text-align: center;}
.pic_tit span{background: url(../images/y.png) right center no-repeat; display: inline-block; background-size: .58rem; padding-right: .65rem;}
.pic_tit span img{width: 1.8rem;}

.nice_pic{width: 100%; background: #fff;position: relative;border-bottom: 1px solid #ebebeb; }
.pic_4 a img.by{width: 1.77rem;height: 0.9rem;position: absolute;left: 39%;z-index: 100;top: 0.2rem;}
.pic_4 a img.py{width: 0.58rem;height: 0.6rem;position: absolute;z-index: 100;left: 64%;top: 0.4rem;}
.title_chease a img{width: 0.64rem;height: 0.64rem;position: absolute;top:0;
left: 3%;}
.pic_5 a{float: left; overflow: hidden; width: 33%; height: 2.455rem; margin-bottom: 0.04rem; margin-right: .5%;}
.pic_5 a img{width: 100%; height: 100%;}
.pic_5 a.first{width: 66.5%;height: 4.95rem;display: block;}
.pic_5 a:nth-child(2){margin-right: 0;}
.pic_5 a:nth-child(3){margin-right: 0;}
.pic_5 a:nth-child(3n){margin-right: 0;}
.pic_13{width: 6.8rem;margin: 0 auto; padding: 0.2rem 0 .1rem;}
.pic_14{height: 0.52rem;width: 6.8rem;}
.pic_14 span{margin-left: 0.15rem;margin-right: 0.15rem;}
.pic_14 a{font-size: 0.28rem;color: #000;}
.pic_14 a.chanel_beauty{position: relative;}
.pic_14 a.chanel_beauty img{width: 0.18rem;height: 0.16rem;position: absolute;right: -0.1rem;}
/*nice潮范*/
.detail_pic{width: 100%;background: #fff; overflow: hidden;}
.picc_person{width: 7rem;margin: 0 auto;}
.miss_you{background: #fff;}
.value_per{padding: .24rem 0; line-height: .24rem; color: #282828; font-size: .281rem; font-weight: 400;width:6.8rem;overflow: hidden;}
.miss_you li img.l{width: 32%;height: 1.76rem;display: inline-block;float: left;margin-right: 0.08rem;}
.online_info{height: 0.7rem; line-height: 0.7rem; box-sizing: border-box; color: #999; font-size: .24rem; position: relative;border-bottom: 1px solid #ebebeb;width: 6.7rem;}
.tupian{position: relative;}
.which{width: 0.22rem;height: 0.22rem;position: absolute;right: 0.57rem;top: 1.37rem; background: url(../images/atlas-icon_9e2af50.png) center center no-repeat; background-size: contain;}
.tupian i{background: black;color: #fff;padding-left: 0.4rem;position: absolute;top: 1.3rem;right: 0.2rem;padding-right: 0.08rem;opacity: 0.5;filter: alpha(opacity=50);}
.one_picture{border-bottom: 1px #eee solid;}
.one_picture li img{width: 2.46rem;height: 1.92rem;}
.one_picture li{float: left;padding: 0.2rem 0;}
.one_picture li.two_hund{width: 3.9rem;margin-left: 0.3rem;font-size: 0.29rem;margin-top: 0.3rem;}
.one_picture li.two_hund p a.little_good{color: #999;font-size: 0.24rem;}
/* 导航 */
.nav_content {position: relative;max-width: 1080px;}
.tran02 {-webkit-transition:height .2s;transition:height .2s;}
.tran03 {-webkit-transition:all .3s ease-out;transition:all .3s ease-out;}
.nav {position: relative;height: .82rem;line-height: .82rem;z-index: 99;color: #fff;}
.navbox {position: relative;width: 100%;max-width:1080px;height: .82rem;padding:0 .1rem;box-sizing: border-box;background: #fff;overflow: hidden;}
#nav {float: left;overflow: hidden; padding-left: .5rem; width: 100%; box-sizing: border-box;}
#nav::-webkit-scrollbar{display:none}
#nav {overflow-x: scroll;-webkit-overflow-scrolling: touch;}
#nav_list {position: relative;white-space: nowrap;}
.nav .item {position: relative;display: inline-block;width: auto;height: .82rem;margin:0 .15rem;}
.nav a {font-size: .32rem;}
.nav a {color: #555;}
#nav .curr:before {content: ""; border: 1px solid #e8e8e8; position: absolute; bottom: -0.1rem; left: 40%; border-top: 0; border-left: 1px solid #e8e8e8; border-right: 1px solid #fff; border-bottom: 1px solid #e8e8e8; width: .16rem; height: .16rem; background: #fff; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); z-index: 233;}
.showmore #nav .curr:before {display: none;}
.nav .curr a {font-size: .36rem;color: #f33;}
.nav a ,.nav .tj {display: block;margin:.25rem 0;white-space: nowrap;line-height: .32rem;}
.nav a.new {position: relative;}
.nav.showmore .new:after {content: ""; display: block; position: absolute; top: 0; right: 0.1rem; background: url(../images/new_flag.png) no-repeat; background-size: contain; width: 0.45rem; height: .17rem; }
.nav .btn_l{position: absolute; left: 0; right: 0; width: .7rem; height: .8rem;}
.nav .btn_l a{display: block; margin: 0; width: 100%; height: 100%; background: #fff url(../images/header_back.png) center center no-repeat; background-size: .4rem auto;}
.nav .btn_r {position: absolute;right:0;top:0;width: 15%;background:#fff;z-index: 2;}
.nav .btn_r{content: " "; display: block; position: absolute; top: 0; height: .8rem; width: .4rem; z-index: 100; border-right: .08rem solid #fff; background: -webkit-linear-gradient(right,#fff 0,rgba(255,255,255,0) 100%); background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%); right: 0;}
.nav.showmore .btn_r {top:auto;bottom:1px;}
#btn_toggle {display: block;width: 0.46rem;height: .78rem;margin:0 auto;padding:0;background: url(../images/fx_up.png) center center no-repeat;background-size:contain;}
.bmline {position: absolute;bottom:0;left:0;width: 100%;height: 1px;background:#e8e8e8;}
#nav_all {clear: both;overflow: hidden;}
.btn_pb #nav_all {padding-bottom: 3rem;}
#nav_all span , #nav_all a {float: left;}
#nav_all {display: none;}
.showmore #nav {width: 100%;overflow-x: hidden;}
.showmore #nav_list {white-space: normal;}
#nav {display: block;}
.navfixbox {position: absolute;left:0;top:0;width: 100%;min-height:.8rem;background: #fff;z-index: 100;}
.fix {position: fixed;top:0;width: 7.5rem;}
.showmore #btn_toggle {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);-webkit-transform-origin: center center;}
.nav_content.open .navbox {height: auto;overflow: auto;}
.nav_content.open #nav {width: 100%;}
.nav_content.open #nav_list {white-space: normal;}
.nav_content.open .nav .btn_r {top:auto;bottom:0;-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); -webkit-transform-origin: center center;}
/* 导航 */
/*列表*/
.height{position: fixed;}
.frist_list{/*position: absolute;*/width: 100%;top: 0;left: 100%;z-index: 10000000000;}
.sho_w{display: block;}
.bgc_olor{background: #fff; padding-top: .08rem;}
.top{width: 100%;height: 0.7rem;background: #fff;position: relative;}
.top .back_btn{width: 0.3rem;height: 0.5rem;position: absolute;top: 0.12rem;left: 0.2rem;}
.top .back_btn img{width: 0.4rem;height: 0.5rem;}
.top p{font-size: 0.4rem;color: #333;position: absolute;left: 36%;top: 0.05rem;}
.top .class_btn{width: 0.45rem;height: 0.4rem;position: absolute;top: 0.1rem;right: 0.8rem;}
.top .class_btn img{width: 0.45rem;height: 0.5rem;}
.top .search_btn{width: 0.48rem;height: 0.46rem;position: absolute;top: 0.14rem;right: 0.2rem;}
.top .search_btn img{width: 0.48rem;height: 0.46rem;}
.good_one{width: 1.42rem;height: 1.3rem;position: relative;margin-right: 0.22rem !important;float:left;}
.good_one a img{width: 1.3rem;height: 1.3rem;border: 0.06rem solid transparent;}
.good_one s.angle{content: ""; border-top: 0.1rem solid #f8634a; border-left: 4px dashed transparent; border-right: 0.08rem dashed transparent; position: absolute; width: 0; height: 0; left: 50%; bottom: -0.18rem; margin-left: -0.09rem;}
.good_one p{font-size: 0.28rem; line-height: 0.28rem; position: absolute; width: auto; height: auto; left: 0.14rem; bottom: 0.1rem; color: #fff;}
.frist_list .on img{border: 0.06rem solid #f8634a; border-radius: 0.06rem;}
.total_size{padding-top: 0.22rem;padding-left: 0.22rem;margin-top: 0.22rem;padding-bottom: 0.3rem;}
.zui-wai{width: 100%}
.ju_zhong{width: 7.1rem;margin: 0 auto;}
.ju_zhong div{width: 7.1rem;position: relative;height: 3.5rem;}
.ju_zhong .c1 .c2{width: 3.5rem;height: 3.5rem;position: absolute;left: 0;top: 0}
.ju_zhong .c1 .c3{width: 3.5rem;height: 3.5rem;position: absolute;right: 0;top: 0}
.ju_zhong .c1{margin-bottom: 0.1rem;}
/*显示更多*/
.more_display{width: 6.6rem;height: 0.9rem;line-height: 0.9rem;margin: 0 auto;}
.more_display a{width: 6.6rem;text-align: center;display: block;    font-size: .3rem; color: #129bf0;}
.yan_jie_jie{width: 100%;background: #fff;border-bottom: 1px solid #d3d4ce;}
.more_display a img{width: 0.44;height: 0.44rem;vertical-align: middle;}
.tuan_tuan{width: 100%;height: 1.55rem;font-size: 0.26rem;color:#aaa;line-height: 1.55rem;}
.tuan_tuan p{width: 100%;text-align: center; }
/*列表*/
.by_day{width: 100%;position: fixed;bottom: 0rem;z-index: 99;background: black; }
.by_day ul{display: -webkit-box;}
.by_day ul li a{display: block; padding-bottom: .1rem;}
.by_day .only_one{-webkit-box-flex: 1;}
.by_day .only_one a{padding-left: .9rem;}
.by_day .only_one a img{width: 0.5rem;}
.by_day .only_one span{height: 0.3rem;line-height: 0.3rem;color: #fff;display: block;font-size: 0.2rem; padding-left: .05rem;}
.by_day .only_two{-webkit-box-flex: 1; text-align: right;}
.by_day .only_two a{padding-right: .9rem;}
.by_day .only_two a img{width: 0.5rem;}
.by_day .only_two span{height: 0.3rem;line-height: 0.3rem;color: #fff;display: block;font-size: 0.2rem; padding-right: .05rem;}
.font_scroll{overflow: auto; position: absolute; z-index: 9999102; left: 0; bottom: 0;padding-bottom: .8rem; width: 100%; text-align: left; line-height: .3rem;overflow-y: auto;background: rgba(0,0,0,.8);}
.font_scroll span{display: block; color: #fff; line-height: .33rem;text-indent: 0; padding: 0 0.3rem;margin:.2rem 0; height: .9rem;overflow-y: auto;max-height: 3rem;}
.font_scroll span em {font-size: .36rem;}
.last_layer .bg_bg{height: 30%;background: white;}
.bvb{position: relative;}

.max-with{display: none;}
.seo ul{width: 49.5%; float: left;}
.seo ul:first-child{margin-right: 1%;}
.seo ul li{margin-bottom: .08rem;}
.seo img{width: 100%; display: block;}
.artical{width: 100%;position: relative;}
.artical li{float: left;position: relative;margin-bottom: 0.03rem; width: 50%;}
.artical li:nth-child(2n+1){width: 49.5%; margin-right: .5%;}
.artical li img{width: 100%;}
.artical li a{height: 2.5rem;overflow: hidden;display: inline-block;width: 100%;}
.artical li a p{position: absolute; bottom: 0; left: 0; width: 100%; line-height: .5rem;font-size: 0.26rem; color: #fff; background-image: -webkit-linear-gradient(transparent 0,rgba(0,0,0,.7) 100%);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;text-indent: 0.09rem;}
.pic_4 .byb{width: 2rem; height: 0.9rem; position: absolute; left: 36%; z-index: 100; top: 0.2rem;}

.loading{font-size: .3rem; line-height: 1rem; text-align: center;}


.userinfo {position: fixed;top:1.36rem;left:0;color: #fff;z-index: 2;padding:0 .2rem;overflow: hidden;}
.userinfo dt {width:.68rem;height: .68rem;border-radius:50%;overflow: hidden;float: left;}
.userinfo dt img {width:100%;min-height: 100%;}
.userinfo dd {overflow: hidden;padding-left: .15rem;}
.userinfo dd h3 {font-size: .3rem;}
.userinfo dd h3 a {color: #fff;}
.userinfo dd p {color: #9d9d9d;}

.hideotherinfo .userinfo {height:0;}
.hideotherinfo .font_scroll {height:0;}