html {overflow-x: hidden; height: 100%;}
body{background: #fff; height: 100%;}

/*picture-list*/
.picbox{padding: 0 15px;padding-bottom: .8rem;color: #fff;}
.pic-box h3 {font-size: .3rem;color: #83868f;line-height: .8rem;padding-top: .16rem;font-weight: 100;}
.pic-box li{float: left;margin: 0 .04rem .04rem 0;width: 93px;height: 93px;overflow: hidden;background: #f4f4f4;}
.pic-box li img{display: block;width: 100%;height: 100%;}
.pic-btn{position: fixed;height: .8rem;width: 100%;bottom: 0;left: 0;background: rgba(32,32,32,1);z-index: 9;}
.pic-btn .btn-box{padding: .2rem 0;display: -webkit-box;overflow-x: auto;}
.pic-btn .btn-box a{color: #fff;line-height: .4rem;margin-right: .4rem;width: 1.3rem;display: block;font-size: .28rem;}
.pic-btn .btn-box a.active{font-size: .32rem;color: #ff6666!important;}
.pic-btn .btn-box a:first-child{margin-left: .3rem;}
.pic-btn .btn-box a:last-child{padding-right: .3rem;}

/*picture-slide*/
.photoBox{background:#000;width: 100%;height: 100%;}
.photo-head-h{height: .8rem;position: absolute;left: 0;top: 0;right:0;z-index: 2}
.photo-head a{display: block;width: .6rem;height: .6rem;text-align: center;background-color: rgba(0,0,0,.6);border-radius: 50%;}
.photo-head .back{float: left;margin: .1rem 0 0 .15rem;}
.huoniao_iOS .photo-head .back{margin-top: calc(.1rem + 20px);}
.photo-head .back i {display: block;width: .6rem;height: .6rem;background: url(../images/xq_icons.png) -1px 0 no-repeat;background-size: 2.56rem auto;}
.photo-head .icon-pic{float: right;margin: .1rem .16rem 0 0;}
.photo-head .icon-pic i {display: block;width: .6rem;height: .6rem;background: url(../images/head_pic.png) 0 0 no-repeat;background-size: .6rem auto;}

.swiper-container {color: #fff;text-align: center;}
.swiper-container .swiper-slide img {display: inline; z-index: 0; vertical-align: middle; max-width: 100%; max-height: 100%; -ms-interpolation-mode: bicubic;}
.swiper-wrapper{display: table;text-align: center;}
.swiper-container .swiper-slide{position: relative; text-align: center;width: 100%;display: table-cell; background: url('../images/loader.gif') no-repeat center center; height: 100%;border-width: 0;opacity: 0;transition: opacity .3s;}
.swiper-container .swiper-lazy-preloader {display: inline-block; height: 100%; vertical-align: middle;}
.photoBox .pic-int {position: absolute; top: .9rem; left: 0; width: 100%; height: .6rem; line-height: .6rem; color: #ffffff; font-size: .2rem; padding: 0 .3rem; overflow: hidden;font-size: 0.3rem;}
.huoniao_iOS .photoBox .pic-int {top:.2rem;}

/* 分享 */
.shearBox {position: fixed;bottom:-100%;width: 7.5rem;margin:0 auto;text-align: center;-webkit-transition: bottom .3s;transition: bottom .3s;z-index: 99999;}
.shearBox .bg {position: fixed;top:0;width: 7.5rem;height: 0;opacity:0;background:rgba(0,0,0,0.5);-webkit-transition:opacity .5s;transition:opacity .5s;z-index: 1;}
.sheark1 {position: relative;height: 50%;background:#fff;border-bottom: solid 1px #dcdcdc;z-index: 33; padding: .4rem;}
#shearBox a {display: block; height: 1.1rem;}
#shearBox li{width: 25%; text-align: center; font-size: .24rem; color: #ababab; float: left; margin-bottom: .4rem;}
#shearBox li span{float: none;}
#shearBox a:after {display: inline-block;width: 1rem;height: 1rem;content:"";}
#shearBox .jiathis_button_qzone .jtico_qzone{background:url(../images/share1.png) center center no-repeat;background-size: .6rem auto; display: block; width: .7rem; height: .7rem;}
#shearBox .jiathis_button_tsina .jtico_tsina{background:url(../images/share2.png) center center no-repeat;background-size: .6rem auto; display: block; width: .7rem; height: .7rem;}
#shearBox .jiathis_button_comment, #shearBox .jiathis_button_code, #shearBox .jiathis_button_tweixin, #shearBox .jiathis_button_ttqq{display: block; width: 1rem; height: 1rem !important; border: 1px solid #F2F7FC; box-sizing: border-box; border-radius: 100%; line-height: 1 !important; padding: 0 !important; margin: 0 auto .11rem;}
#shearBox .jiathis_button_comment:after{background:url(../images/share5.png) center center no-repeat;background-size: .6rem auto; display: block; width: 1rem; height: 1rem;}
#shearBox .jiathis_button_code:after{background:url(../images/share6.png) center center no-repeat;background-size: .6rem auto; display: block; width: 1rem; height: 1rem;}
#shearBox .jiathis_button_tweixin:after{background:url(../images/share3.png) center center no-repeat;background-size: .6rem auto; display: block; width: 1rem; height: 1rem;}
#shearBox .jiathis_button_ttqq:after{background:url(../images/share4.png) center center no-repeat;background-size: .6rem auto; display: block; width: 1rem; height: 1rem;}
#shearBox .shearBox .cancel {position: absolute;bottom:0;width: 7.5rem;height: .96rem;line-height: .96rem;font-size: .32rem;color: #000;background:#fff;z-index: 2;}
#shearBox .jiathis_style_32x32  .jtico{width: 1rem; height: 1rem !important; border: 1px solid #F2F7FC; box-sizing: border-box; border-radius: 100%; line-height: 1 !important; padding: 0 !important; margin: 0 auto;}
#cancelShear, #cancelcode{padding: .15rem 0; background: #F2F7FC; border-bottom: 1px solid #f0f5f9; margin: .1rem 0 0;}
.codeBox {position: fixed;bottom:-100%;width: 7.5rem;margin:0 auto;text-align: center;-webkit-transition: bottom .3s;transition: bottom .3s;z-index: 99999;background: #fff;}
.codeBox p{color: #999; font-size: .24rem; margin-bottom: .5rem;}

/*分享指引*/
.zhiyin{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10011; text-align: right; display: none;}
.zhiyin .bg{position: fixed;top:0;width: 7.5rem;height: 0;opacity:0;background:rgba(0,0,0,0.7);-webkit-transition:opacity .3s;transition:opacity .3s;z-index: 1;}
.zhiyin .zhibox{position: fixed; top: 0; right: 0; z-index: 2;}
.zhiyin .zhibox img{width: 1rem;}
.zhiyin .zhibox p{font-size: .3rem; padding-right: .2rem; color: #fff;}
