.fixedwrap {margin-bottom:0;}
/*banner*/
.slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative }
.wrapper {position:relative;overflow:hidden;}
.wrapper .swiper-container {color:#fff;text-align:center;}
.wrapper .swiper-container .slideshow-item {text-align:center;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.wrapper .swiper-pagination {position:absolute;z-index:20;left:0;bottom:13px !important;}
.swiper-pagination-bullet {background:#fff !important;}
.wrapper .swiper-pagination-bullet {opacity:0.58;}
.wrapper .swiper-pagination-bullet-active {background:#fff !important;opacity:1;}
.wrapper .swiper-pagination-bullet {width:8px;height:8px; margin-right: 10px!important;}
.wrapper .swiper-container .slideshow-item .slideinfo {display: none;}
.wrapper .swiper-container .slideshow-item a, .wrapper .swiper-container .slideshow-item a img {width:100%;}

/*内容分类*/
.view-con{margin-top: 30px;}
.nav-con{margin-bottom:20px;text-align: center;height: 27px;overflow-y: hidden;}
.nav-con ul.nav-tab{float: right;}
.nav-con ul li{cursor:pointer;color:#333;font-size: 14px;}
.nav-con ul.nav-list li{padding:2px 0;margin-right:50px;float: left;}
.nav-con ul.nav-list li.active{font-weight: 600;}
.nav-con ul.nav-tab li{float: left;}
.nav-con ul.nav-tab li{display:block;padding:2px 14px;margin-right:10px;border:solid 1px #dadada;border-radius: 12px;-webkit-border-radius: 12px;}
.nav-con ul.nav-tab li.active{color:#fff;background: #53aaf8;border:none;}

 




