.view-con{margin-top: 30px;}

/*列表内容*/
.main-con ul li{ width: 280px;float: left;padding:10px;}
.main-con ul li:hover{background: #f8f8f8;}
.main-con ul li .v-img{position:relative;width: 280px;height: 170px;}
.main-con ul li .v-img img{width: 280px;height: 170px;}
.main-con ul li .cover-img{display:none;position: absolute;top: 36%; left: 41%;}
.main-con ul li .cover-img img{width: 49px;height: 49px;}
.main-con ul li:hover .cover-img{display:block;}
.main-con ul li h5{font-weight: 600;font-size: 14px;color:#333;margin-top:20px;margin-bottom:10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main-con ul li p span{display: block;float: left;margin-right: 15px;}
.main-con ul li p i{display: block;width:13px;height:13px;float: left;margin:3px 6px 0 0;}
.main-con ul li p i.v-play{background: url(../images/v-play.png) no-repeat ; background-size: contain;}
.main-con ul li p i.v-comment{background: url(../images/v-comment.png) no-repeat;background-size: contain;}
.main-con ul li p i.v-time{background: url(../images/v-time.png) no-repeat;  background-size: contain;}
.loading,.empty{text-align: center;padding:20px 0;}


/* 分页 */
.view-con .pagination {height: 28px; margin-top: 23px; display: none;}
.view-con .pagination-pages {float: right;}
.view-con .pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 28px; padding: 0 5px; margin: 0 0 0 4px; background-color: #f8f8f8; text-align: center; line-height: 28px; font-size: 14px; cursor: pointer; color: #333; text-decoration: none;}
.view-con .pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.view-con .pagination-pages .curr {background: #999; color: #fff;}
.view-con .pagination-pages a:hover {background-color: #f60; color: #fff;}
.view-con .pagination-pages .prev, .next {padding: 0 8px;}
.view-con .pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}