{#include file="d_top.html"#}

    <div class="main">
      <div id="bc">
        <div class="wrapper" style=" width:100%;">
          <div id="bf7" style="display:block; ">

            {#$pageCurr = "intro"#}
            {#include file="d_head.html"#}

          </div>
          <div id="cc">
            <div class="w1000">
              <div id="bf0" class="frame" style="display:block; width:1000px;">
                <div id="module_25261117" class="module">
                  <div class="widget nav" style="display:" id="navBar">
                    <div class="con-box">
                      <div class="decoration" style="padding:0 0  0 14px;">
                        <p>当前位置:
                          <a href="{#getUrlPath service='business' template='list'#}">店铺大全</a>&gt;
                          <a href="{#getUrlPath service='business' template='detail' id={#$detail_id#}#}">{#$detail_title#}</a>&gt;
                          <a href="{#getUrlPath service='business' template='intro' bid={#$detail_id#}#}">{#$intro_title#}</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="bfa" class="clearfix  ">
                <div id="bf1" class="frame" style="display:block; width:232px;">
                    <div id="module_25261145" class="module">
                      <div class="widget product_category  ">
                        <div class="con-box">
                          <div class="zl_bg"></div>
                          <div class="con-title show_block">
                            <h2><span>公司介绍</span></h2>
                          </div>
                          <div class="zr_bg"></div>
                          <div class="bf-box_text moduleBoxbg">
                            <ul class="category" style="text-align:left;">
                              {#business action="introList" uid={#$detail_member['userid']#}#}
                              <li class="c_t_li clearfix">
                                <a href="{#$row.url#}" class="cate_title clearfix">
                                  <span class="cateBg_l fl"></span>
                                  <span class="cateBg_m fl">
                                    <i class="icon_cate_i">{#$row.title#}</i></span>
                                  <span class="cateBg_r fl"></span>
                                </a>
                              </li>
                              {#/business#}
                            </ul>
                            <div style="clear:both"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="module_25261109" class="module">
                      <!-- 未登陆弹框导入内部样式和js -->
                      <div class="widget company_files">
                        <div class="con-box">
                          <div class="com_dang sj-info moduleBoxbg">
                            <div class="com_da_T">
                              <span class="g_com_pdj fl">
                                <a target='_blank' href="#">
                                  <img src="{#$templets_skin#}images/b_dpt.png"></a>
                              </span>
                              <span class="g_com_span">单品通会员</span></div>
                            <div class="comBorder">
                              <div class="sj-line sjDiv1">
                                <p class="companyname">
                                  <span>{#$detail_title#}</span>
                                  <img src="{#$templets_skin#}images/s_tjh.png"></p>
                              </div>
                              <div class="sj-line sjDiv2" style="border-bottom:none; padding-bottom: 0px;">
                                <p class="p_rz clearfix">
                                  <span class="p_rzL">满意度：</span>
                                  <span class="p_rzR">{#$detail_rating#}</span></p>
                                <p class="p_rz clearfix">
                                  <span class="p_rzL">经营类目：</span>
                                  <span class="p_rzR">{#$detail_typename#}</span></p>
                                <p class="p_rz clearfix">
                                  <span class="p_rzL">营业时间：</span>
                                  <span class="p_rzR">{#$detail_opentime#}</span></p>
                                <p class="p_rz clearfix">
                                  <span class="p_rzL">人均消费：</span>
                                  <span class="p_rzR">{#$detail_amount#}</span></p>
                                <p class="p_rz clearfix">
                                  <span class="p_rzL">停车场：</span>
                                  <span class="p_rzR">{#$detail_parking#}</span></p>
                              </div><br />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="module_25261112" class="module">
                      <div class="widget contactus  ">
                        <div class="con-box">
                          <div class="zl_bg"></div>
                          <div class="con-title show_block">
                            <h2><span>联系我们</span></h2>
                          </div>
                          <div class="zr_bg"></div>
                          <div class="bf-box_text contact moduleBoxbg">
                            <div class="contactUl">
                              <ul>
                                <li class="picContact clearfix">
                                  <!-- 初始是默认显示开始2014.12.26 -->
                                  <!-- 初始是默认显示结束2014.12.26 -->
                                  <div class="contxt">
                                    <p>
                                      <span class="contxtSpan">手&nbsp;机：</span>
                                      <span class="phoneNumber">
                                        {#$detail_tel#}
                                        </span>
                                    </p>
                                    <p>
                                      <span class="contxtSpan">联系我：</span>
                                      {#if $detail_qq#}<a href="http://wpa.qq.com/msgrd?v=3&uin={#$detail_qq#}&Menu=yes" title="QQ在线交谈" target="_blank"><img src="http://wpa.qq.com/pa?p=2:{#$detail_qq#}:4" /></a>{#/if#}
                                    </p>
                                    <!-- 初始是默认显示开始2014.12.26 -->
                                    <!-- 初始是默认显示结束2014.12.26 --></div>
                                </li>
                                <li class="comIntro clearfix">
                                  <div class="comIntroL">{#$detail_member['company']#}</div>
                                </li>
                                <li class="addIntroW">
                                  <div class="addIntro_div clearfix">
                                    <div class="addIntroL">
                                      <ul>
                                        <li class="addIntro clearfix">
                                          <span class="addL">区&nbsp;&nbsp;域：</span>
                                          <span id="detialAddr" class="addR">{#$detail_addrname[0]#} {#$detail_addrname[1]#}</span></li>
                                        <li class="addIntro clearfix">
                                          <span class="addL">地&nbsp;&nbsp;址：</span>
                                          <span id="detialAddr" class="addR">{#$detail_address#}</span></li>
                                        <li class="addIntro clearfix">
                                          <span class="addL">公众号：</span>
                                          <span id="detialAddr" class="addR">{#$detail_wechatname#}({#$detail_wechatcode#})</span></li>
                                        </ul>
                                    </div>
                                    <div class="addIntroR">
                                      <img src="{#$detail_wechatqr#}" width="126" height="126" /></div>
                                  </div>
                                  </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="bf2" class="frame" style="display:none; width:232px;"></div>
                <div id="bfb" style="width:758px">
                  <div id="bf3" class="frame" style="display:block; width:758px;">
                    <div id="module_25261120" class="module">
                      <div class="widget company_detail  ">
                        <div class="con-box">
                          <div class="zl_bg"></div>
                          <div class="con-title" style="display:block">
                            <h2><span>{#$intro_title#}</span></h2>
                          </div>
                          <div class="zr_bg"></div>
                          <div class="bf-box_text clearfix moduleBoxbg">
                            <div class="m-comulDiv clearfix">
                                {#$intro_body#}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

{#include file="d_bottom.html"#}
