/* 重置默认设置 */
html, body {height: 100%;}
.wrap, .w1200 .wrap {width: 100%; min-width: 1000px;}
.top {padding: 0 10px;}
.userinfo, .topbar .logreg {float: right;}
.topbar .topbarlink {float: left;}
.topbar .topbarlink .index a {padding: 0 10px;}

/* 头部 */
.header {min-width: 1200px; height: 78px; background-color: #fff; border-bottom: 1px solid #b5b9c0; position: relative; z-index: 10; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);}

/* logo */
.header .logo {float: left; width: 180px; height: 48px; margin: 15px 20px;}
.header .logo a, .header .logo img {max-width: 180px; max-height: 48px; }


/* 搜索 */
.header .msearch {float: left; margin-left: 60px; line-height: 75px;}
#skey {height: 34px; line-height: 34px; width: 400px; border: 1px solid #dedede; border-radius: 2px 0 0 2px; border-right-width: 0; padding-left: 10px; padding-right: 6px; font-size: 12px; vertical-align: middle;}
#sbtn {display: inline-block; height: 36px; width: 36px; vertical-align: middle; background-color: #de1e30; border-radius: 0 2px 2px 0; text-align: center; cursor: pointer;}
#sbtn s {display: block; margin: 10px auto 0; width: 20px; height: 20px; background: url('../images/map_sprite.png') 3px 0;}

.ui-autocomplete {position: absolute; z-index: 100; cursor: default; background-color: #fff; border: 1px solid #dedede; border-top: 0;}
.ui-menu-item {display: block; padding: 0 10px; height: 30px; line-height: 30px; cursor: pointer;}
.ui-state-focus {background-color: #f1f1f1;}
.ui-helper-hidden-accessible {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}


/* 客服热线 */
.header .tel {float: right; position: relative; padding-left: 20px; margin-right: 20px; line-height: 78px; font-size: 15px; color: #de1e30; font-weight: 700;}
.header .tel s {position: absolute; left: 0; top: 30px; width: 19px; height: 19px; background: url('../images/map_sprite.png') -15px 0;}

/* 内容 */
.map-box {position: relative; height: 100%; margin-top: -118px;}
.map {position: absolute; left: 325px; top: 118px; right: 0; bottom: 0; z-index: 1;}


/* 区域气泡 */
.bubble {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out; transition: background-color .15s ease-in-out; cursor: pointer;}
.bubble p {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.bubble-1 {background-color: #4285f4; background-color: rgba(66,133,244,0.9); box-shadow: 0 2px 2px rgba(0,0,0,0.2); border-radius: 50%; overflow: hidden; width: 92px; height: 92px; line-height: 1.6;}
.bubble-1 .name {font-size: 14px; margin-top: 15px;}
.bubble-1 .count {font-size: 16px; font-weight: 800; font-family: tahoma;}
.bubble-1:hover {background-color:#e4393c; background-color:rgba(228,57,60,0.9)}


/* 商圈气泡 */
.bubble-2 {background-color: #4285f4; background-color: rgba(66,133,244,0.9); box-shadow: 0 2px 2px rgba(0,0,0,0.2); border-radius: 50%; overflow: hidden; width: 78px; height: 78px; line-height: 1.6;}
.bubble-2 .name {font-size: 12px; margin-top: 13px;}
.bubble-2 .count {font-size: 12px; font-weight: 500; font-family: tahoma;}


/* 小区气泡 */
.bubble-3 {height: 28px; line-height: 28px; cursor: pointer; text-align: center;}
.bubble-3 .num {padding: 0 6px; display: inline-block; background-color: #4285f4; border-radius: 2px; border: 1px solid #4285f4; min-width: 40px; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; font-style: normal;}
.bubble-3 .name {height: 30px; color: #333; position: absolute; z-index: -1; line-height: 30px; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition:all .15s ease-in-out; transition: all .15s ease-in-out; opacity: 0; visibility: hidden;}
.bubble-3 .name-des {background-color: #fff; display: inline-block; padding: 0 6px; border-radius: 0 3px 3px 0; box-shadow: 0 2px 2px rgba(0,0,0,0.2); font-style: normal;}
.bubble-3 .name-des a {color: #333}
.bubble-3 .name-des a:hover {text-decoration: underline;}
.bubble-3:hover .num,.bubble-3.clicked .num,.bubble-3.hovered .num {background-color: #de1e30; border-color: #de1e30; color: #fff; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.bubble-3:hover .name,.bubble-3.clicked .name,.bubble-3.hovered .name {visibility: visible; opacity: 1;}
.bubble-3:hover .arrow-up,.bubble-3.clicked .arrow-up,.bubble-3.hovered .arrow-up {border-top-color: #de1e30;}
.bubble-3:hover .arrow,.bubble-3.clicked .arrow,.bubble-3.hovered .arrow {border-top-color: #de1e30;}
.label-clicked {z-index:3!important;}
.arrow-up {opacity: .9999; zoom: 1;}
.arrow-up,.arrow {border: 6px solid transparent; border-top-color: #4285f4; border-top-width: 8px; display: block; width: 0; height: 0; margin: 0 auto; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out;}
.arrow {border-top-color: #4285f4; margin-left: -6px; margin-top: -9px; position: relative;}


/* 自定义缩放 */
.zoom-ctrl {font-size: 26px; line-height: 26px; position: absolute; z-index: 2; right: 20px; top: 140px; width: 26px; text-align: center; border: 1px solid #555; border-bottom-width: 0; background: #fff;}
.zoom-ctrl span {display: block; height: 26px; border-bottom: 1px solid #555; line-height: 23px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.zoom-ctrl .zoom-plus {font-size: 20px; line-height: 22px;}


/* 侧栏 */
.sidebar {position: absolute; left: 0; top: 118px; bottom: 0; z-index: 3; width: 350px; border-right: 1px solid #b5b9c0; background-color: #fff; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);}
.sidebar .map-os {position: absolute; right: -15px; top: 50%; margin-top: -56px; width: 14px; height: 56px; line-height: 56px; cursor: pointer; border: 1px solid #b5b9c0; border-left: 0; background-color: #fff; box-shadow: 3px 0 10px 0 rgba(0,0,0,0.2);}
.sidebar .map-os s, .sidebar .map-os i {position: absolute; width: 0; height: 0; border: 5px solid transparent;}
.sidebar .map-os s {top: 23px; left: -2px; border-right-color: #666;}
.sidebar .map-os i {top: -5px; left: -4px; border-right-color: #fff;}
.sidebar .map-os.open s {left: 4px; border-left-color: #666; border-right-color: transparent;}
.sidebar .map-os.open i {left: -6px; border-left-color: #fff; border-right-color: transparent;}


/* 筛选&排序 */
.f-o {position: relative; z-index: 5; height: 50px; border-bottom: 1px solid #ccc;}
.f-o>li {position: relative; z-index: 4; float: left; width: 50%; text-align: center; cursor: pointer;}
.f-o>li.curr {color: #de1e30;}
.f-o>li span {display: inline-block; max-width: 115px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 50px;}
.f-o>li s {display: inline-block; margin: 24px 0 0 4px; width: 0; height: 0; font-size: 0; border: 5px solid transparent; border-top-color: #dedede; vertical-align: top;}
.f-o>li.on s {margin-top: 18px; border-top-color: transparent; border-bottom-color: #999;}

/* 筛选 */
.filter {position: absolute; display: none; z-index: 4; left: 0; top: 51px; right: 0; bottom: 10px; padding: 5px 10px 0 0; overflow-y: auto; background-color: #fff; background-color: rgba(255,255,255,.98); -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.filter dl {margin-bottom: 15px;}
.filter dt {float: left; width: 50px; font-weight: 700; text-align: right; line-height: 12px; margin-right: 5px; padding: 4px 0;}
.filter dd {position: relative; overflow: hidden;}
.filter dd a {display: inline-block; height: 12px; padding: 5px 7px; margin: 0 12px 5px 0; text-decoration: none; line-height: 12px; border-radius: 2px; background: #f5f5f5;}
.filter dd a.on {color: #fff; border-color: #666; background: #666;}

/* 均价 */
.sj {margin-top: 15px;}
.sj dt {line-height: 15px;}
.sj dd, .mj dd {padding: 0 20px 0 8px; height: 55px;}
#sjObj, #mjObj {display: block; height: 5px; background: #ccc; position: relative; margin: 10px 0;}
#sjObj.ui-slider-horizontal .ui-slider-range, #mjObj.ui-slider-horizontal .ui-slider-range {background: #078ff8; height: 5px; position: absolute;}
.ui-slider-handle.ui-state-default.ui-corner-all {position: absolute; top: -5px; width: 17px; height: 14px; background: url('../images/sliderhor.png'); cursor: pointer;}
.ui-slider-horizontal .ui-slider-handle {margin-left: -8px;}
#sjTxt, #mjTxt {text-align: center; line-height: 30px; font-size: 14px;}

/* 筛选按钮 */
.filter-clean {text-align: right; padding-right: 10px;}
.filter-clean a {text-decoration: underline;}
.filter-btns {text-align: center; margin: 20px 10px;}
.filter-btns a {width: 110px; height: 40px; border-radius: 2px; line-height: 40px; font-size: 14px; letter-spacing: 2px; text-decoration: none; color: #666; background-color: #f5f5f5;}
.filter-btns a.filter-confirm {float: left; width: 150px; color: #fff; background-color: #de1e30;}
.filter-btns a.filter-cancel {float: right;}


/* 排序 */
.orderby {display: none; position: absolute; z-index: 1; top: 50px; left: -1px; right: 0; line-height: 30px; border-radius: 0 0 2px 2px; border: 1px solid #ddd; background-color: #fff; padding-top: 6px; padding-bottom: 6px; cursor: default; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.orderby a {display: block;}
.orderby a.on {color: #de1e30;}


/* 列表 */
.lcount {position: relative; z-index: 4; padding: 0 10px; margin-right: 11px; line-height: 35px; background-color: #fff;}
.lcount strong {color: #de1e30; padding: 0 5px;}
.list {position: relative; margin: -15px 0 0 0; overflow: hidden;}
.mCSB_inside>.mCSB_container {margin-right: 10px;}
.list .loading, .list .empty {line-height: 200px; text-align: center;}
.list .loading {background: url('/static/images/loading_16.gif') no-repeat 120px 93px;}
.list .loading-min {padding: 10px 0 10px 0; text-align: center; background: url('/static/images/loading_16.gif') no-repeat 115px 12px;}


.list-item {border-bottom: 1px solid #e4e4e4;}
.list-item a {display: block; padding: 22px 15px 22px 10px; color: #555555; font-size: 12px; position: relative; background-color: #ffffff; -webkit-transition: background-color .15s ease-in-out; transition: background-color .15s ease-in-out;}
.item-aside {float: left; width: 90px; height: 90px; margin-right: 10px;}
.item-aside img {width: 90px; height: 90px; display: block;}
.item-aside .item-btm {height: 22px; background-color: #494848; background-color: rgba(0,0,0,0.7); color: #fff; line-height: 22px; overflow: hidden; margin-top: -22px; margin-left: 0; position: absolute; z-index: 2;}
.item-aside .item-btm .item-img-icon {border: 2px solid #fff; height: 8px; width: 8px; margin-left: 5px; float: left; margin-top: 5px; padding: 0;}
.item-aside .item-btm .item-img-icon .i-icon-arrow {display: block; width: 0; height: 0; border: 3px solid transparent; border-width: 3px 3px 4px 5px; border-bottom-color: #fff;}
.item-aside .item-btm .item-img-icon .i-icon-dot {display: block; width: 2px; height: 2px; background-color: #fff; margin-top: -6px; margin-left: 1px;}
.item-aside .item-btm span {float: left; text-align: center; padding-left: 4px; padding-right: 4px;}
.item-main {height: 90px; position: relative;}
.item-main .item-tle {height: 42px; font-size: 14px; color: #262626; font-weight: 800; overflow: hidden; line-height: 21px;}
.item-main .item-des {position: absolute; left: 100px; bottom: 22px; right: 0; white-space: nowrap; line-height: 20px;}
.item-main .item-des span {margin-right: 5px;}
.item-main .item-des .item-side {margin-right: 0; font-size: 16px; position: absolute; right: 0; bottom: -1px; color: #e4393c; font-weight: 800; font-family: tahoma;}
.item-main .item-des .item-side span {font-size: 12px; font-weight: normal; margin-left: 2px; margin-right: 0;}
.item-main .item-tag-wrap span {display: inline-block; border: 1px solid; margin-right: 6px; padding: 1px 6px 2px; margin-top: 7px; line-height: 15px;}
.item-main .item-community {position: absolute; left: 100px; bottom: -2px; right: 0; height: 25px; line-height: 25px;}
.item-main .item-community span {float: left;}
.item-main .item-community em {float: right;}

/*.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #999;}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background-color: #999;}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {background-color: #999;}*/
