
body{opacity: 0;}
body.show{opacity: 1}

/* 头部 */
#header {position: relative;height: 0.98rem;background-color: #f33;}
#header .person {position: absolute;left:.25rem;top: .32rem;width: .4rem;height: .4rem;background:url(../images/icon-user.png) center center no-repeat;background-size: contain;z-index: 2;}
#header .btn_r {position: absolute;right:.25rem;top:.32rem;z-index: 2;}
#header .btn_r a {display: inline-block;width: .46rem;height: .36rem;float: left;background-size: contain;margin-left: .2rem}
.appdown {background:url(../images/down.png) center center no-repeat;}
.emaildown {background:url(../images/email.png) center center no-repeat;}
#header .logo {position: absolute;left:0;top:0;width: 100%;height: .5rem;margin:.25rem 0;z-index: 0;}
#header .logo a {display: block; width: 1rem; height: .8rem; margin: -.15rem auto 0;}

.ad img {display: block;width: 100%;}

.icon {background-image: url(../images/icon_list.png);background-repeat:no-repeat;}

.main_content {position: relative;max-width: 1080px;overflow: hidden;/*margin-bottom: .2rem;*/}

/* 导航 */
.tran02 {-webkit-transition:height .2s;transition:height .2s;}
.tran03 {-webkit-transition:all .3s ease-out;transition:all .3s ease-out;}
.nav {position: relative;height: .82rem;line-height: .82rem;z-index: 10;visibility: hidden;color: #fff;}
.navbox {position: relative;width: 100%;max-width:1080px;height: .82rem;padding:0 .1rem;box-sizing: border-box;background: #fff;overflow: hidden;}
#nav {width: 85%;float: left;overflow: hidden;}
#nav::-webkit-scrollbar{display:none}
#nav {overflow-x: scroll;-webkit-overflow-scrolling: touch;}
#nav_list {position: relative;white-space: nowrap;}
.nav .item {position: relative;display: inline-block;width: auto;height: .82rem;margin:0 .15rem;}
.nav a {font-size: .32rem;}
.nav a {color: #555;}
#nav .curr:before {content: ""; border: 1px solid #e8e8e8; position: absolute; bottom: -0.1rem; left: 40%; border-top: 0; border-left: 1px solid #e8e8e8; border-right: 1px solid #fff; border-bottom: 1px solid #e8e8e8; width: .16rem; height: .16rem; background: #fff; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); z-index: 233; }
.showmore #nav .curr:before {display: none;}
.nav .curr a {font-size: .36rem;color: #f33;}
.nav a ,.nav .tj {display: block;margin:.25rem 0;white-space: nowrap;line-height: .32rem;}
.nav a.new {position: relative;}
.nav.showmore .new:after {content: ""; display: block; position: absolute; top: 0; right: 0.1rem; background: url(../images/new_flag.png) no-repeat; background-size: contain; width: 0.45rem; height: .17rem; }
.nav .btn_r {position: absolute;right:0;top:0;width: 15%;background:#fff;z-index: 2;}
.nav.showmore .btn_r {top:auto;bottom:1px;}
#btn_toggle {display: block;width: 0.46rem;height: .78rem;margin:0 auto;padding:0;background: url(../images/fx_up.png) center center no-repeat;background-size:contain;}
.bmline {position: absolute;bottom:0;left:0;width: 100%;height: 1px;background:#e8e8e8;}

#nav_all {clear: both;overflow: hidden;}
.btn_pb #nav_all {padding-bottom: 3rem;}
#nav_all span , #nav_all a {float: left;}
#nav_all {display: none;}
.showmore #nav {width: 100%;overflow-x: hidden;}
.showmore #nav_list {white-space: normal;}
#nav {display: block;}
.navfixbox {width: 100%;min-height:.8rem;background: #fff;z-index: 100;}
.fix {position: fixed;top:0;width: 7.5rem;}
.showmore #btn_toggle {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);-webkit-transform-origin: center center;}

/* 子分类 */
#sub_navWrap {transition:height .2s;}
#sub_navWrap .sub_navbox:last-child {border-bottom: 1px solid #e8e8e8;}
.sub_nav_pd {margin-left: 4%;width: 92%;text-align: center;}
.sub_navbox {line-height: .6rem;}
.sub_navbox {white-space:nowrap;overflow-x: scroll; -webkit-overflow-scrolling: touch;}
.sub_navbox::-webkit-scrollbar{display:none}
.nav .sub_navbox .item {height: .6rem;}
.sub_navbox .item {margin:0;}
/*.sub_navbox .item:first-child {margin:0 .35rem;}*/
.sub_navbox .item a {margin:.14rem .2rem .14rem .5rem;font-size: .3rem;color: #999;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.sub_navbox .item:first-child a {margin-left: .1rem;}
.sub_navbox .item.curr a {font-size: .3rem;color: #09f;}
.sub_navbox .item:after {position: absolute; right: -0.25rem; top: 0; color: #e8e8e8;content: "/";}
.sub_navbox .item:last-child:after {display: none;}


/* chanel */
#maincontent {min-height: 480px;background:#fff;}
.swrip-panel {float: left;}
#test {position: fixed;top:20px;left:0;width: 100%;background: #fff;font-size: .3rem;padding:.4rem 0;z-index: 99999;}
/* background:linear-gradient(to right,rgba(0,0,0,0) 53%,rgba(87, 142, 189, 0.45) 98%) */

/* picscroll */
.picscroll {position: relative;height: 3.5rem;display: none;/*-webkit-transition:height .3s;transition:height .3s;*/overflow: hidden;}
.picscroll .bd a {display: block;width: 100%;overflow: hidden;}
.picscroll img {display: block;width: 100%;min-height: 3.5rem;}
.picscroll li span {position: absolute;left:0;bottom:0;width: 6.9rem;height:.9rem;line-height: 1rem;padding:0 .3rem;font-family: "\5fae\8f6f\96c5\9ed1";font-size: .32rem;color: #fff;background: -webkit-linear-gradient(top,rgba(0,0,0,0) 8%,rgba(0,0,0,0.24) 40%,rgba(0,0,0,0.29) 47%,rgba(0,0,0,0.65) 95%);background: linear-gradient(to bottom,rgba(0,0,0,0) 8%,rgba(0,0,0,0.24) 40%,rgba(0,0,0,0.29) 47%,rgba(0,0,0,0.65) 95%);}
.picscroll li span a {color: #fff;}
.picscroll .indicator {position: absolute;right: .1rem;bottom: 0; padding: .15rem .05rem .3rem 0; height: .1rem; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); z-index: 20;}
.picscroll .indicator i {cursor: pointer; display: inline; float: left; height: .1rem; width: .1rem; border-radius: .05rem; margin-right: .15rem; background-color: #ddd;}
.picscroll .indicator i.active {background-color: #f33;}

/* 新闻列表 */
.m_item {padding:.2rem .3rem;border-bottom: 1px solid #e5e5e5;-webkit-transition:background .3s;transition:background .3s;}
.m_item:hover,.m_item:focus {background:#f8f8f8;}
.m_item a {display: block;}
.m_item-img {position: relative;width: 27%;float: right;height: 1.4rem;margin-left: .2rem;overflow: hidden;}
.m_item-img img {display: block;width: 100%;min-height: 1.4rem;}
.m_item .tag {color: #fff; background: #5da3e9; font-size: .28rem; text-align: center; padding: .05rem 0.1rem; position: absolute; display: inline-block; left: 0; top: 0; opacity: .9;}
.m_item-txt {overflow: hidden;}
.m_news_bt ,.ad_item .bt {margin-bottom: .2rem;font-size: .3rem;color: #404040;text-overflow:ellipsis;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.m_item .m_des {font-size: .24rem;line-height: .24rem;}
.m_item .ab_l {float: left;}
.m_item .ab_l .souce{margin-right: .2rem; color: #999;}
.m_item .ab_r {float: right;color: #888;}
.m_item .tp {padding:.03rem .1rem;line-height: .24rem;margin-right: .1rem;}
.m_item .tptg {color:#555;border: 1px solid #DBDBDB;border-radius: 2px;}
.m_item .time {color: #888;}
.m_item .icon-pls {display: inline-block;width: .22rem;height: .22rem;margin-left: .08rem;margin-top: -1px;background: url(../images/file.png) center center no-repeat;background-size: contain;vertical-align: middle;}
.ad_item .bt {margin-bottom: 25px;}
.m_item .tpn {color:rgba(255,51,51,0.9);border: 1px solid rgba(255,51,51,0.3);border-radius: 2px;}

/* 单条新闻三张图片 */
.alonenews .pic {height: 1.65rem;margin:.22rem 0;overflow: hidden;}
.alonenews .pic img {display: block;width: 32%;float:left ;margin-right: 2%;min-height: 1.65rem;}
.alonenews .pic img:last-child {margin-right: 0;}


/* 返回顶部 反馈 */
.fixBtn {position: fixed;right:.3rem;bottom:1rem;display: none;}
.fixBtn .btn {display: block;width: .82rem;height: .82rem;line-height: .82rem;text-align: center;color: #fff;font-size: .24rem;margin-top:.1rem;border-radius:50%;background-color:#000;opacity:.6;}
#backTop {background:url(../images/backtop.png) center center no-repeat;background-size: contain;}
#feedback {display: block;}


/* 底部 */
#footer {background:#333;}
.copyright {padding:.25rem 0;font-size: .24rem;color: #999;text-align: center;}
