<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<style>
    .li-info {display: none!important;}
</style>
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
	modelType = "shop", adminPath = "{#$adminPath#}", pics = {#$pics#}, 
	addrid = {#$addrid#}, addrListArr = {#$addrListArr#}, industry = {#$industry#}, industryListArr = {#$industryListArr#},
	basehost = '{#$basehost#}', subdomain = '{#$subdomain#}';
var service = 'shop';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">店铺名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="30" data-regex=".{3,30}" />
      <span class="input-tips"><s></s>请输入店铺名称，3-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="shop_openid">扩展id：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="shop_openid" id="shop_openid" value="{#$shop_openid#}" maxlength="50" />
      <span class="input-tips" style="display:inline-block;"><s></s>此配置项为选填，如不清楚用途可直接忽略</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="referred">简称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="referred" id="referred" value="{#$referred#}" maxlength="20" data-regex=".{2,20}" />
      <span class="input-tips"><s></s>请输入公司简称，2-20位</span>
    </dd>
  </dl>
  <dl class="clearfix hide">
    <dt><label>访问方式：</label></dt>
    <dd class="radio">
      {#html_radios name="domaintype" values=$domaintype checked=$domaintypeChecked output=$domaintypeNames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $domaintypeChecked == 0#}
  <div id="domainObj" class="hide" style="background:#f5f5f5; padding:5px 0;">
  {#else#}
  <div id="domainObj" style="background:#f5f5f5; padding:5px 0;">
  {#/if#}
    <dl class="clearfix">
      <dt><label for="domain">绑定域名：</label></dt>
      <dd>
        <div class="input-prepend input-append">
          <span class="add-on">http://</span>
          {#if $domaintypeChecked == 1#}
          <input class="input-large" type="text" name="domain" id="domain" value="{#$domain#}" />
          <span class="add-on" style="display:none;">
          {#else#}
          <input class="input-mini" type="text" name="domain" id="domain" value="{#$domain#}" />
          <span class="add-on">
          {#/if#}
          {#if $customSubDomain == 0#}
          .{#$subdomain#}
          {#else#}
          .{#$subdomain#}.{#$basehost#}
          {#/if#}</span>
        </div>
        <span class="input-tips" style="display:inline-block; margin-bottom:10px;"><s></s>此功能只针对已认证中介</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="domainexp">过期时间：</label></dt>
      <dd><input class="input-medium" id="domainexp" name="domainexp" type="text" value="{#$domainexp#}" /></dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="domaintip">过期提示：</label></dt>
      <dd>
        <textarea name="domaintip" id="domaintip" class="input-xxlarge" rows="5">{#$domaintip#}</textarea>
      </dd>
    </dl>
  </div>
  <dl class="clearfix">
    <dt><label for="company">公司名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="company" id="company" value="{#$company#}" maxlength="60" data-regex=".{3,60}" />
      <span class="input-tips"><s></s>请输入公司名称，3-60位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="addrid">所在区域：</label></dt>
    <dd>
			<div class="cityName addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addrid split=' '#}" data-id={#$addrid#}>
				{#if $addrid != '' && $addrid != "''"#}{#getPublicParentInfo tab='site_area' id=$addrid type='typename' split='/'#}{#else#}请选择{#/if#}
			</div>
			<input type="hidden" name="addrid" id="addrid" value={#$addrid#}>
      <input type="hidden" name="cityid" id="cityid" value={#$cityid#}>
    </dd>
  </dl>
	<dl class="clearfix">
    <dt><label for="address">店铺地址：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="address" id="address" value="{#$address#}" maxlength="60" data-regex=".{0,60}" />
      <span class="input-tips"><s></s>请输入店铺地址</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="industry">经营行业：</label></dt>
    <dd>
      <span id="industryList">
        <select name="industry" id="industry" class="input-large"></select>
      </span>
      <span class="input-tips"><s></s>请选择经营行业</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="project">主营项目：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="project" id="project" value="{#$project#}" maxlength="100" data-regex=".{2,100}" />
      <span class="input-tips"><s></s>请输入主营项目，2-100位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺Logo：</dt>
		<dd class="thumb fn-clear listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="user">对应会员：</label></dt>
    <dd style="position:static;">
      <input class="input-medium" type="text" name="user" id="user" autocomplete="off" value="{#$username#}" />
      <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>此会员可以管理店铺信息</span>
      <div id="userList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="people">联系人：</label></dt>
    <dd>
      <input class="input-large" type="text" name="people" id="people" value="{#$people#}" maxlength="30" data-regex=".{2,30}" />
      <span class="input-tips"><s></s>请输入联系人，2-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="contact">联系电话：</label></dt>
    <dd>
      <input class="input-large" type="text" name="contact" id="contact" value="{#$contact#}" maxlength="30" data-regex=".{7,30}" />
      <span class="input-tips"><s></s>请输入联系电话，7-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="tel">客服电话：</label></dt>
    <dd>
      <input class="input-large" type="text" name="tel" id="tel" value="{#$tel#}" maxlength="30" data-regex=".{7,30}" />
      <span class="input-tips"><s></s>请输入客服电话，7-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="qq">客服QQ：</label></dt>
    <dd>
      <input class="input-large" type="text" name="qq" id="qq" value="{#$qq#}" maxlength="30" data-regex="[1-9]\d*" />
      <span class="input-tips"><s></s>请输入客服QQ，由数字组成</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="wechatcode">微信号：</label></dt>
    <dd>
      <input class="input-large" type="text" name="wechatcode" id="wechatcode" value="{#$wechatcode#}" maxlength="30" data-regex="*" />
      <span class="input-tips"><s></s>请输入微信号</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>微信二维码：</label></dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $wechatqr != ""#} hide{#/if#}" id="filePicker14" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $wechatqr != ""#}
			<ul id="listSection14" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_14_1"><a href='/include/attachment.php?f={#$wechatqr#}' target="_blank" title=""><img alt="" src="/include/attachment.php?f={#$wechatqr#}" data-val="{#$wechatqr#}" data-url="/include/attachment.php?f={#$wechatqr#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection14" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="wechatqr" value="{#$wechatqr#}" class="imglist-hidden" id="wechatqr">
		</dd>
  </dl>
  <dl class="clearfix">
      <dt>图集：</dt>
      <dd class="listImgBox hide">
          <div class="list-holder">
              <ul id="listSection2" class="clearfix listSection piece"></ul>
              <input type="hidden" name="imglist" value='{#$imglist#}' class="imglist-hidden">
          </div>
          <div class="btn-section clearfix">
              <div class="uploadinp filePicker" id="filePicker2" data-type="pics" data-count="999" data-size="{#$atlasSize#}"><div id="flasHolder"></div><span>添加图片</span></div>
              <div class="upload-tip">
                  <p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
              </div>
          </div>
      </dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺介绍：</dt>
    <dd>
      <script id="note" name="note" type="text/plain" style="width:85%;height:500px">{#$note#}</script>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="certi">认证状态：</label></dt>
    <dd class="radio">
      {#html_radios name="certi" values=$certiopt checked=$certi output=$certinames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>属性：</label></dt>
    <dd class="radio">
      <label><input type="checkbox" name="rec" id="rec" value="1"{#if $rec == 1#} checked{#/if#}>推荐</label>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
