<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
	adminPath = "{#$adminPath#}", modelType = 'paper';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="company">所属报刊：</label></dt>
    <dd>
      <span id="companyList">
        <select name="company" id="company" class="input-large">
          {#html_options options=$companyList selected=$company#}
        </select>
      </span>
      <span class="input-tips"><s></s>请选择所属报刊</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="date">报刊日期：</label></dt>
    <dd>
      <input class="input-small" type="text" name="date" id="date" value="{#$date#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>请选择报刊日期</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">版面名称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="title" id="title" value="{#$title#}" maxlength="60" data-regex=".{1,60}" />
      <span class="input-tips"><s></s>请输入版面名称，1-60位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="type">报刊类别：</label></dt>
    <dd class="radio">
      {#html_radios name="type" values=$typeopt checked=$type output=$typenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>版面图片：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=small" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="seotitle">SEO标题：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="seotitle" id="seotitle" value="{#$seotitle#}" maxlength="100" data-regex=".{0,100}" />
      <span class="input-tips"><s></s>请输入SEO标题，100字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="keywords">关键字：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="keywords" id="keywords" value="{#$keywords#}" maxlength="100" data-regex=".{0,100}" />
      <span class="input-tips"><s></s>请输入SEO关键字，100字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="description">描述：</label></dt>
    <dd>
      <textarea id="description" name="description" class="input-xlarge" rows="5" data-regex=".{0,200}">{#$description#}</textarea>
      <span class="input-tips"><s></s>请输入SEO描述，200字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>PDF：</dt>
    <dd class="thumb clearfix listImgBox">
      <div class="uploadinp filePicker thumbtn{#if $pdf != ""#} hide{#/if#}" id="filePicker_grant_tpl" data-type="filenail"  data-count="1" data-size="{#$softSize#}" data-imglist="" data-extensions="pdf" data-mime="application/pdf"><div></div><span></span></div>
      {#if $pdf != ""#}
      <ul id="listSection_grant_tpl" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_stpl_1"><a href="{#$cfg_attachment#}{#$pdf#}" target="_blank" title="" class="enlarge" data-val="{#$pdf#}"><span class="thumb-error">点击查看</span></a>&nbsp;&nbsp;<a class="li-rm" href="javascript:;">×</a></li></ul>
      {#else#}
      <ul id="listSection_grant_tpl" class="listSection thumblist fn-clear"></ul>
      {#/if#}
      <input type="hidden" name="pdf" value="{#$pdf#}" class="imglist-hidden" id="pdf">
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="weight">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
