.tbar {padding: 15px;}
.operater {float: left;}
.operater .label {display: inline-block; padding: 2px 8px 4px; background: #2d6987; color: #fff;}
.operater .label i {font-style: normal; font-weight: 700; font-size: 16px; margin-right: 3px;}
.operater a:hover.label {text-decoration: none;}
.opts {float: right; line-height: 30px;}

.cats-table {width: 100%;}
.cats-table th, .cats-table td {padding: 12px 8px; border-right: 1px solid #dddddd; text-align: center;}
.cats-table th {background: #434a54; color: #fff; border-color: #686868;}
.cats-table td {border-bottom: 1px solid #ddd;}
.cats-table tr th:last-child, .cats-table tr td:last-child {border-right: none;}
.cats-table th.tit, .cats-table td.tit {text-align: left;}
.cats-table th input, .cats-table td input {display: inline-block; vertical-align: middle;}
.cats-table a {color: #3376df; font-size: 14px;}
.cats-table .delchecked {color: #ff0; font-size: 12px; text-decoration: underline;}


/* 多选 */
.cats-table input[type=checkbox] {-webkit-appearance: none; appearance: none; width: 15px; height: 15px; background: #fff; border: 1px solid #d3cfc8; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.cats-table input[type=checkbox]:focus{outline: none;}
.cats-table input[type=checkbox]:hover{border: 2px solid #56ac0b; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);}
.cats-table input[type=checkbox]:checked{border: 2px solid #56ac0b; background: #56ac0b; color: #fff;}
.cats-table input[type=checkbox]:checked::after{content: '\2714'; font-family: 'Arial'; display: block; line-height: 10px; font-size: 16px;}
.cats-table input[type=checkbox][disabled=disabled]{border: 1px solid #e8e6e3;}
.cats-table input[type=checkbox][disabled=disabled]:hover{border: 1px solid #e8e6e3; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.cats-table input[type=checkbox][disabled=disabled]:checked{border: 2px solid #e8e6e3; background: #e8e6e3;}

/* 文本框 */
.cats-table input[type=text] {width: 250px; height: 20px; border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; line-height: 20px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;}
.cats-table input[type=text]:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}

/* 展开、折叠、子级 */
.fold, .unfold, .plus-icon {background: url('../images/icon_list.png') no-repeat;}
.fold {width: 20px; height: 20px; display: inline-block; margin-right: 10px; vertical-align: middle; overflow: hidden; cursor: pointer; background-position: 0 -20px; text-indent: -9999em;}
.unfold {background-position: 0 0;}
.plus-icon {display: inline-block; vertical-align: middle; background-position: 0 -70px; width: 40px; height: 24px; margin: 0 5px 0 25px;}
.add-type {display: inline-block; vertical-align: middle; color: #f50; margin: 0 0 -4px 0; background: url('../images/link_add.png') 3px 3px no-repeat; line-height: 18px; padding-left: 20px; color: #ff5500;}

/* 移动 */
.cats-table .up, .cats-table .down {width: 15px; height: 16px; display: inline-block; vertical-align: middle; margin: 0 3px; text-indent: -999em; background: url('../images/typeArrow.png') no-repeat;}
.cats-table .down {background-position: -18px 0;}
.cats-table a:hover.up {background-position: -54px 0;}
.cats-table a:hover.down {background-position: -36px 0;}
.cats-table tbody:first-of-type .sup .up, .cats-table tbody:first-of-type .sup a:hover.up {background-position: -72px 0;}
.cats-table tbody:last-of-type .sup .down, .cats-table tbody:last-of-type .sup a:hover.down {background-position: -90px 0;}
.cats-table .sub .up {background-position: -120px 0;}
.cats-table .sub .down {background-position: -106px 0;}
.cats-table .sub a:hover.up {background-position: -148px 0;}
.cats-table .sub a:hover.down {background-position: -134px 0;}
.cats-table tbody tr:nth-of-type(2) .up, .cats-table tbody tr:nth-of-type(2) a:hover.up {background-position: -162px 0;}
.cats-table tbody tr:nth-last-child(2).sub .down, .cats-table tbody tr:nth-last-child(2).sub a:hover.down {background-position: -176px 0;}


/* 保存提示 */
.stopdrag {display: none; position: fixed; top: 50px; left: 50%; z-index: 2; margin-left: -100px; padding: 10px 20px; background-color: rgba(255, 102, 0, .7); color: #fff; font-size: 16px;}
.stopdrag a {display: inline-block; height: 20px; line-height: 20px; margin: 2px 0 0 8px; padding: 0 5px; background-color: #fff; color: #333;}


/* 信息提示 */
.w-tip {position:fixed; right:20px; top:60px; z-index:160000; text-align:right;}
.w-tip .msg {padding:0 14px; color:#fff; display:-moz-inline-stack; display:inline-block; zoom:1; background:#999; overflow:hidden; -moz-box-shadow: 0px 0 5px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0 5px rgba(0,0,0,0.2); box-shadow:0px 0 5px rgba(0,0,0,0.2); -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.w-tip .loading {background-image:url(/static/images/loading_16.gif); background-repeat:no-repeat; background-position:15px center; text-indent:25px;}
.w-tip .warning {background-color:#d08900;}
.w-tip .success {background-color:#5eb015;}
.w-tip .error {background-color:#c52121}
