#selNature .sel-menu, #selIndustry .sel-menu {min-width: 370px;}
#selNature .sel-menu li, #selIndustry .sel-menu li {width: 180px;}

/* 地图层 */
#shadowlayer {display: none; position: fixed; _position: absolute; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=15); opacity: .15; top: 0; left: 0; z-index: 9000;}
.map-pop {position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 9001; display: none; width: 900px; height: 630px; margin: -320px 0 0 -450px;}
.map-pop a.pop-close {display: block; width: 22px; height: 22px; font-size: 25px; line-height: 22px; overflow: hidden; position: absolute; right: 12px; top: 8px; z-index: 1004; text-align: center; color: #666;}
.map-pop a.pop-close:hover {background-position: 0 -14px;}
.pop-border {background-color: #000; filter: alpha(opacity=30); opacity: .3; position: absolute; left: -5px; top: -5px; right: -5px; bottom: -5px; z-index: 1002; border-radius: 5px;}
.pop-main {width: 100%; height: 100%; background-color: #fff; position: relative; z-index: 1003;}
.pop-title {height: 39px; border-bottom: 1px solid #e0e0e0; color: #3d3d3d; background-color: #f7f7f7; padding-left: 15px; font: 700 14px/39px Microsoft Yahei;}
.pop-con {padding: 10px;}
#markDitu {width: 100%; height: 515px;}
.pop-con .btns {margin-top: 10px; border-top: 1px solid #e0e0e0; padding-top: 15px; font: 12px/18px '\5b8b\4f53';}
.pop-con .btns a {float: right; margin-left: 15px; color: #506eaa; line-height: 25px; padding: 0 20px; background-color: #efefef; letter-spacing: 2px; box-shadow: 0 1px 0 #ddd; border-radius: 3px;}
.pop-con .btns #okPop {background-color: #ff7e00; box-shadow: 0 1px 0 #eb5e00; color: #fff; font-weight: 700; font-size: 14px;}
