/*视频*/
.uploadVideo .uploadinp {width:140px;height:126px;background-image: none;background-color: #fff;border-color: #f1884e;}
.uploadVideo .list-holder, .uploadVideo .btn-section {float:left;}
.uploadVideo .list-holder {min-width: auto;}

.uploadVideo .list-holder li {width:auto;width:170px;height:126px;line-height: 65px;padding:0;text-align: center;background-color: rgba(0,0,0,.6);border-radius:0;overflow: hidden;border: 1px solid #e5e5e5;}
.uploadVideo .list-holder li video {width:100%;height:100%;}

.uploadVideo .list-holder li .cancel {position: absolute;right:0;top:0;display: block;height:20px;line-height: 20px;padding: 0 15px;background-color: rgba(0,0,0,.4);margin:0;color:#fff;cursor: default;z-index: 2;}
.uploadVideo .list-holder li .player {position: absolute;left:50%;top:50%;margin-left: -23px;margin-top: -23px;display: block;width:46px;height:46px;background-image: url('../images/player.png');background-repeat: no-repeat;background-position: center;cursor: default;}
.uploadVideo .list-holder li .player.ing {left:0;top:0;width:100%;height:100%;margin:0;background-image:none;}
.uploadVideo .list-holder li .info {position: absolute;left:0;right:0;bottom:0;padding:0 10px;height:26px;line-height: 26px;color: #e3e3e1;font-size: 12px;background-color: rgba(0,0,0,.4);}
.uploadVideo .list-holder li .info .time {float: right;}


.uploadVideo .list-holder li .thumb-error {position: absolute;left:52px;top:10px;display: none;text-indent: -99em;overflow: hidden;}
.uploadVideo .list-holder li.complete .thumb-error {display: block;width:46px;height:46px;margin:10px auto; background: url('/static/images/player.png') center no-repeat;border-radius:0;}

.uploadVideo .btn-section label {width: 170px !important;height: 126px !important;}
.uploadVideo .uploadinp em {position: absolute;left:0;right:0;top:30px;text-align: center;font-size: 64px;}
.uploadVideo .uploadinp em, .uploadVideo .uploadinp span {color: #f1884e;bottom:15px;}
.uploadVideo .progress {background: #ededed;height:6px;border-radius:0;}
.uploadVideo .progress span {background: #e56d5c;}


.list-holder li {width: 115px !important;height: 86px;}
.list-holder li .li-thumb {margin: -5px 0 0 0 !important;}
.list-holder li a.li-rm {margin: -17px -14px 0 0 !important;}


/* 全景专用 */
.qj360 {position:relative; width:876px; height:136px;}
.picbg {position:absolute; width:100%; left:0; top:0; z-index:-1;}
.qj360 .piece li {margin:20px 10px 0 0;}
.qj360 .piece li .li-rm {margin:-30px -10px 0 0!important;}
.qj360 .piece li .li-thumb {margin:-2px 0 0 0;}
.picbg li {cursor:default; width:135px !important; height:126px; padding:0 !important; text-align:center; line-height:25px !important; background:#eee;}

.tags {border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; width: 80%;}
.tags input[type="text"], .tags input[type="text"]:focus {border: 0 none; box-shadow: none; display: inline; line-height: 22px; margin: 0; outline: 0 none; padding: 4px 6px;}
.tags .tag {background-color: #91b8d0; color: #fff; display: inline-block; font-size: 12px; font-weight: normal; margin-bottom: 3px; margin-right: 3px; padding: 0 22px 0 9px; position: relative; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); transition: all 0.2s ease 0s; vertical-align: baseline; white-space: nowrap;}
.tags .tag .close {bottom: 0; color: #fff; float: none; font-size: 12px; line-height: 20px; opacity: 1; position: absolute; right: 0; text-align: center; text-shadow: none; top: 0; width: 18px;}
.tags .tag .close:hover {background-color: rgba(0, 0, 0, 0.2);}
.close {color: #000; float: right; font-size: 21px; font-weight: bold; line-height: 1; opacity: 0.2; text-shadow: 0 1px 0 #fff;}
.close:hover, .close:focus {color: #000; cursor: pointer; opacity: 0.5; text-decoration: none;}
button.close {background: transparent none repeat scroll 0 0; border: 0 none; cursor: pointer; padding: 0;}
.tags .tag-warning {background-color: #ffb752;}