.deposit {padding: 30px 0;}
.deposit dt {float: left; width: 95px; text-align: right; color: #666; font-size: 14px; line-height: 45px;}
.deposit dd {position: relative; overflow: hidden; padding: 0 0 22px 15px; font-size: 14px;}
/* .deposit .verifyAmount {display: none;} */
.deposit .verifyAmount dd {line-height: 45px; padding-left: 20px;}
.deposit .verifyAmount dd strong {font-size: 30px; color: #f60; padding-right: 10px; vertical-align: sub; font-weight: 500;}

.bank-icon {position: relative; float: left; height: 41px; padding: 1px; border: 1px solid #dedede; margin: 0 15px 15px 0; background-color: #fff; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;}
.bank-icon span {display: block; height: 26px; margin: 7px auto 0; background-image: url('../../images/bank.png?v=1'); background-repeat: no-repeat;}
.bank-icon.active {padding: 0; border: 2px solid #f60;}
.bank-icon.active b {position: absolute; right: 0; bottom: 0; width: 20px; height: 21px; background: url('../../images/pubSprite.png') -52px -35px;}

/* 支付方式 */
#payType {padding: 0 30px 10px 0;}
#payType a {width: 126px;}
#payType a .alipay, #payType a .globalalipay, #payType a .tenpay {width: 73px;}
#payType a .unionpay {width: 100px;}
#payType a .bankpayment {width: 105px;}
#payType a .mobile {width: 70px;}
#payType a .wechat {width: 101px;}
#payType a .baidu {width: 90px;}
#payType a .paypal {width: 87px;}
#payType a .jdpay {width: 95px;}
#payType a .yeepay {width: 91px;}
#payType a .mobilecard {width: 80px;}


/* 选择储蓄卡 */
.hasChooseBank {height: 48px;}
.hasChooseBank .bank-icon {width: 228px; height: 44px; margin: 0;}
.hasChooseBank .bank-icon span {margin-top: 8px;}
.hasChooseBank .chooseBankBtn {margin-left: 15px; display: inline-block; vertical-align: top; padding-left: 25px; position: relative; line-height: 48px; color: #0893d4;}
.hasChooseBank a:hover.chooseBankBtn {color: #cd0001; text-decoration: underline;}
.hasChooseBank .chooseBankBtn s {position: absolute; left: 0; top: 16px; width: 20px; height: 16px; background: #47a8ef url('../../images/pubSprite.png') -26px 0;}

/* 储蓄卡列表 */
#bankList, .bankList, #prepaidCard {display: none;}
.bankList {padding-top: 20px; margin-bottom: -10px;}
.bankList a {width: 178px; height: 42px; margin-right: 14px;}
#bankList .bank-icon span {margin-left: 17px;}

/* 储蓄卡支付提示 */
.bankTips {padding-top: 15px; font-size: 12px;}
.bankTips .line {position: relative; color: #909090; padding-left: 25px;}
.bankTips .line s {position: absolute; left: 3px; top: 1px; width: 16px; height: 16px; background: url('../../images/pubSprite.png') -88px -18px;}
.bankTips .line a {color: #0893d4;}
.bankTips .line a:hover {color: #cd0001; text-decoration: underline;}

/* 文本框 */
.inp {float: left; width: 140px; height: 40px; padding: 1px 10px; margin-top: 1px; border: 1px solid #e1e1e1; font-size: 24px; color: #666; font-family: 'microsoft yahei';}
.inp:focus {padding: 0 10px 0 9px; border: 2px solid #f60; width: 139px;}
.inp.error {padding: 0 10px 0 9px; border: 2px solid #ff5243; width: 139px; color: #ff5243;}

#paycard {width: 230px;}
#paycard:focus, #paycard.error {width: 229px;}


.tip-inline {display: none; float: left; position: relative; line-height: 44px; margin-left: 15px; padding-left: 22px; color: #999;}
.tip-inline s {position: absolute; left: 0; top: 14px; width: 16px; height: 16px; background: url('../../images/tips_16.png') no-repeat;}
.tip-inline.ok {font-size: 0px; text-indent: -999em;}
.tip-inline.ok s {background-position: 0 -16px;}
.tip-inline.error {color: #ff5243;}
.tip-inline.error s {background-position: 0 -32px;}

/* 支付协议 */
.agree {line-height: 30px;}
.agree input {vertical-align: middle; margin: -2px 5px 0 0;}
.agree a {color: #2b91e3;}
.agree span {padding-left: 19px;}

/* 提交按钮 */
#tj {width: 135px; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 18px; font-family: 'microsoft yahei'; background-color: #f60; border-radius: 3px; border: 0; cursor: pointer;}
#tj:hover {background-color: #f50;}


/* 平台支付icon定位 */
.globalalipay {background-position: -4px -938px;}  /* 支付宝 */
.alipay {background-position: -4px -938px;}  /* 支付宝 */
.unionpay {background-position: -4px -1008px;}  /* 银联在线 */
.bankpayment {background-position: -4px -1303px;}  /* 储蓄卡网银 */
.tenpay {background-position: -4px -974px;}  /* 财付通 */
.mobile {background-position: -4px -1083px;}  /* 手机支付 */
.wxpay {width: 101px; background-position: -3px -1045px;}  /* 微信支付 */
.baidu {background-position: -4px -1198px;}  /* 百度钱包 */
.paypal {background-position: -4px -1121px;}  /* PayPal */
.jdpay {background-position: -4px -1273px;}  /* 京东钱包 */
.yeepay {background-position: -4px -1236px;}  /* 易宝支付 */
.mobilecard {background-position: -3px -1159px;}  /* 充值卡 */

/* 银行icon定位 */
.icbc {width: 90px; background-position: -4px -580px;}  /* 中国工商银行 */
.ccb {width: 90px; background-position: -4px -148px;}  /* 中国建设银行 */
.boc {width: 89px; background-position: -4px -112px;}  /* 中国银行 */
.comm {width: 90px; background-position: -4px -399px;}  /* 交通银行 */
.abc {width: 90px; background-position: -4px -4px;}  /* 中国农业银行 */
.cmb {width: 90px; background-position: -4px -328px;}  /* 招商银行 */
.psbc {width: 91px; background-position: -4px -687px;}  /* 邮政储蓄银行 */
.ceb {width: 93px; background-position: -4px -219px;}  /* 中国光大银行 */
.cmbc {width: 90px; background-position: -4px -363px;}  /* 中国民生银行 */
.pingan {width: 93px; background-position: -4px -795px;}  /* 平安银行 */
.spdb {width: 91px; background-position: -4px -832px;}  /* 浦发银行 */
.ecitic {width: 89px; background-position: -4px -292px;}  /* 中信银行 */
.cib {width: 93px; background-position: -4px -255px;}  /* 兴业银行 */
.hxb {width: 92px; background-position: -4px -435px;}  /* 华夏银行 */
.cgb {width: 92px; background-position: -4px -507px;}  /* 广发银行 */
.beijing {width: 90px; background-position: -4px -40px;}  /* 北京银行 */
.bjrcb {width: 104px; background-position: -4px -76px;}  /* 北京农商银行 */
.bocd {width: 90px; background-position: -4px -184px;}  /* 成都银行 */
.fudian {width: 89px; background-position: -4px -471px;}  /* 富滇银行 */
.hzcb {width: 94px; background-position: -4px -544px;}  /* 杭州银行 */
.nbcb {width: 90px; background-position: -4px -616px;}  /* 宁波银行 */
.njcb {width: 91px; background-position: -4px -652px;}  /* 南京银行 */
.shanghai {width: 91px; background-position: -4px -723px;}  /* 上海银行 */
.srcb {width: 104px; background-position: -4px -760px;}  /* 上海农商银行 */
.wzcb {width: 91px; background-position: -4px -867px;}  /* 温州银行 */
.zjnx {width: 91px; background-position: -4px -903px;}  /* 浙江农信 */


/* 提交后提示层 */
#shadowlayer {display: none; position: fixed; _position: absolute; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=15); opacity: .15; top: 0; left: 0; z-index: 9000;}
.pay-pop {position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 9001; display: none; width: 504px; height: 234px; margin: -117px 0 0 -252px;}
.pay-pop a.pop-close {display: block; width: 14px; height: 14px; font-size: 0; line-height: 0; overflow: hidden; position: absolute; right: 12px; top: 12px; z-index: 1004; background: url('../../images/pay.png');}
.pay-pop a.pop-close:hover {background-position: 0 -14px;}
.pop-border {background-color: #000; filter: alpha(opacity=30); opacity: .3; position: absolute; left: -5px; top: -5px; right: -5px; bottom: -5px; z-index: 1002; border-radius: 5px;}
.pop-main {width: 100%; height: 100%; background-color: #fff; position: relative; z-index: 1003;}
.pop-title {height: 39px; border-bottom: 1px solid #e0e0e0; color: #3d3d3d; background-color: #f7f7f7; padding-left: 15px; font: 700 14px/39px Microsoft Yahei;}
.pop-con {padding: 5px 25px 0;}
.pop-con p {padding-top: 25px; height: 30px; font: 14px/30px Microsoft Yahei;}
.pop-con i {display: inline-block; width: 21px; height: 21px; margin: 4px 15px 0 0; float: left; background: url('../../images/pay.png');}
.pop-con i.icon01 {background-position: 0 -30px;}
.pop-con i.icon02 {background-position: 0 -51px;}
.pop-con p span {float: left; padding-right: 12px;}
.pop-con p a {float: left; height: 30px; border-radius: 3px; border-radius: 3px;}
.pop-con p a.red {background-color: #ff7e00; box-shadow: 0 1px 0 #eb5e00; padding: 0 15px; color: #fff;}
.pop-con p a.gray {background-color: #efefef; box-shadow: 0 1px 0 #ddd; padding: 0 12px; color: #506eaa;}
.pop-con p em {float: left; padding: 0 10px;}
.pop-con .question {margin-top: 30px; border-top: 1px solid #e0e0e0; padding-top: 15px; font: 12px/18px '\5b8b\4f53';}
.pop-con .question a {color: #506eaa;}
.pop-con .question span {padding: 0 10px;}


/* 支付方式 */
.payTab {height: 44px; border-bottom: 1px solid #e0e0e0; background: #f9f9f9;}
.payTab li {position: relative; float: left; width: 150px; height: 42px; line-height: 42px; border-right: 1px solid #e0e0e0; border: 1px solid #e0e0e0; border-top: 2px solid #e0e0e0; border-bottom: 0; text-align: center; font-size: 16px; color: #666; margin-right: -1px; cursor: pointer;}
.payTab li.curr {border-top-color: #0ab7f9; background: #fff; height: 43px;}
.qrpay, .payway {border: 1px solid #e0e0e0; border-top: 0;}
.qrpay {padding: 50px 20px; text-align: center;}
.qrpay dt {float: none; position: relative; width: 220px; height: 220px; padding: 10px; border: 1px solid #d8d8d8; margin: 0 auto;}
.qrpay dt .pay_top, .qrpay dt .pay_bottom {position: absolute; width: 15px; height: 16px;}
.qrpay dt .pay_top {left: -3px; top: -3px;}
.qrpay dt .pay_bottom {right: -3px; bottom: -3px;}
.qrpay dt img {width: 100%; height: 100%; display: block;}
.qrpay dd {font-size: 14px; line-height: 30px; text-align: center; margin-top: 15px;}
.qrpay dd img {width: 30px; height: 30px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.payway{padding: 35px 20px 20px;}
