.btn {width: 160px; height: 45px; line-height: 45px; font-size: 20px; color: #fff; border: 1px solid #76ae30; border-radius: 3px; background-color: #85c336; cursor: pointer; margin: 15px 0 30px; font-family: 'microsoft yahei';}
.btn:hover {background-color: #7eb933;}
.btn[disabled] {color: #333; background-color: #e6e6e6; border-color: #e6e6e6; cursor: no-drop; opacity: .65;}


/* 图集 */
.list-holder li {width:115px !important; height:86px;}
.list-holder li a.li-rm {margin:-17px -14px 0 0 !important;}
.list-holder li .li-name {margin:20px 0 5px 0 !important; width:94%;}
.list-holder li .li-progress {width:100%; margin:0;}
.list-holder li .li-thumb {margin:-5px 0 0 0 !important;}
