body, button, input, select, textarea {font-family: 'microsoft yahei';}

/* 表单 */
.w-form {font-size: 16px; color: #3b3b3b; line-height: 34px; padding: 30px 0;}
.w-form dt {float: left; width: 200px; padding: 8px 0; text-align: right;}
.w-form dt span {color: #f00;}
.w-form dd {margin-left: 205px; padding: 10px;}

.w-form .edui-editor {line-height: 20px;}

.mr10 {margin-right: 10px;}
.tip-price {float: left; margin-left: 15px; color: #2672ec;}

.module_box{display: none;}

/* 单选按钮组 */
.w-form .radio {float: left;}
.w-form .radio span {float: left; position: relative; z-index: 1; height: 32px; padding: 0 15px; line-height: 32px; font-size: 15px; color: #404040; margin: -1px -1px 0 0; text-shadow: 0 1px 1px rgba(255,255,255,.75); background-color: #efefef; border-width: 1px; border-style: solid; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); border-color: #ccc\9; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); cursor: pointer; -webkit-transition: all linear .2s; -moz-transition: all linear .2s; -o-transition: all linear .2s; transition: all linear .2s;}
.w-form .radio span.curr {background-color: #c1e9a0; -webkit-box-shadow: inset 1px 2px 2px rgba(0,0,0,.2); -moz-box-shadow: inset 1px 2px 2px rgba(0,0,0,.2); box-shadow: inset 1px 2px 2px rgba(0,0,0,.2);}

/* 多选按钮 */
.w-form .checkbox {float: left; margin: 0 15px;}
.w-form .checkbox label {float: left; margin-right: 15px; cursor: pointer;}
.w-form .checkbox input {float: left; margin: 10px 5px 0 0; -webkit-appearance: none; appearance: none; width: 15px; height: 15px; background: #fff; border: 1px solid #d3cfc8; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.w-form .checkbox input:focus{outline: none;}
.w-form .checkbox input:hover{border: 2px solid #56ac0b; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);}
.w-form .checkbox input:checked{border: 2px solid #56ac0b; background: #56ac0b; color: #fff;}
.w-form .checkbox input:checked::after{content: '\2714'; font-family: 'Arial'; display: block; line-height: 10px; font-size: 16px;}
.w-form .checkbox input[disabled=disabled]{border: 1px solid #e8e6e3;}
.w-form .checkbox input[disabled=disabled]:hover{border: 1px solid #e8e6e3; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.w-form .checkbox input[disabled=disabled]:checked{border: 2px solid #e8e6e3; background: #e8e6e3;}

/* 单行文本 */
.w-form .inp {float: left; height: 20px; border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; line-height: 20px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;}
.w-form .inp:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}

/* 多行文本 */
.w-form .text {height: auto; margin-bottom: 8px;}


.w-form select {float: left; padding: 4px 6px; font-size: 14px; color: #000; height: 35px; line-height: 35px; background-color: #fff; border: 1px solid #ccc;}


/* 下拉菜单 */
.w-form .sel-group {position: relative; float: left; display: inline-block; margin-right: 5px; font-size: 0; white-space: nowrap; vertical-align: middle;}
.w-form .sel {display: inline-block; *display: inline; padding: 4px 12px; margin-bottom: 0; *margin-left: .3em; font-size: 14px; line-height: 25px; color: #333; text-align: center; vertical-align: middle; cursor: pointer; outline: 0; background-color: #f5f5f5; *background-color: #e6e6e6; background-image: -moz-linear-gradient(top, #fff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #fff, #e6e6e6); background-image: -o-linear-gradient(top, #fff, #e6e6e6); background-image: linear-gradient(to bottom, #fff, #e6e6e6); background-repeat: repeat-x; border: 1px solid #ccc; *border: 0; border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e6e6e6', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); *zoom: 1; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.w-form .sel:hover, .w-form .sel:focus, .w-form .sel:active, .w-form .sel.active, .w-form .sel.disabled, .w-form .sel[disabled] {color: #333; background-color: #e6e6e6; *background-color: #d9d9d9;}
.w-form .sel:active,.w-form .sel.active {background-color: #ccc \9;}
.w-form .sel:first-child {*margin-left: 0;}
.w-form .sel:hover, .w-form .sel:focus {color: #333; text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear;}
.w-form .sel.active, .w-form .sel:active {background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}
.w-form .sel.disabled, .w-form .sel[disabled] {cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.w-form .sel .caret {display: inline-block; width: 0; height: 0; margin-top: 10px; margin-left: 3px; vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.sel-group.open .sel {background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}
.sel-group.open .sel {background-color: #e6e6e6;}
.sel-group .sel-menu {display: none; position: absolute; z-index: 1000; left: 0; top: 100%; min-width: 362px; max-height: 250px; overflow-y: auto; margin-top: -1px; border: 1px solid #c3c3c3; background-color: #fff; padding: 6px 0 0 6px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.sel-group.open .sel-menu {display: block;}
.sel-group .sel-menu li {float: left; width: 110px; height: 32px; margin: 0 5px 5px 0; line-height: 32px; font-size: 14px;}
.sel-group .sel-menu li a {display: block; color: #404040; padding-left: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sel-group .sel-menu li a:hover {color: #fff; background-color: #a8d300;}

/* 前缀和附加输入框 */
.input-append {float: left; font-size: 0; white-space: nowrap; vertical-align: middle;}
.input-append select {height: 34px;}
.input-append input, .input-append select {float: left; position: relative; margin-bottom: 0; *margin-left: 0; font-size: 16px; border: 1px solid #d8d8d8; padding: 0 10px; height: 32px; line-height: 32px; vertical-align: top; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;}
.input-append select {padding-right: 0;}
.input-prepend input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.input-append input:focus, .input-append select:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.input-append .add-bef, .input-append .add-aft, .input-append .add-center {float: left; display: block; width: auto; height: 24px; min-width: 20px; padding: 4px 5px; font-size: 14px; font-weight: normal; line-height: 24px; text-align: center; text-shadow: 0 1px 0 #fff; background-color: #eee; border: 1px solid #ccc; vertical-align: top;}
.input-append .add-bef {margin-right: -1px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.input-append .add-aft {margin-left: -1px; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}
.input-append .add-center {margin-left: -1px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.input-append .add-right {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-left: -1px;}

/* 上传缩略图 */
.w-form dd.thumb {padding-bottom: 0;}
.thumb .uploadinp {float: left; position: relative; width: 100px; height: 25px; background: url('/static/images/ui/swfupload/uploadbutton.png') no-repeat top; margin-right: 10px; border: 0;}
#licenseFiles, .reupload {position: relative}
#license {margin: 4px 0 0}
.thumb .uploading {top: -600px; left: -600px; position: absolute}
.progressBar, .progressBar .progress {width: 342px; background: url('/static/images/ui/swfupload/progress.png') no-repeat;}
.progressBar {display: none; margin-top: 7px; width: 302px; height: 17px; position: relative}
#cancelUploadBt {display: none; top: 0; right: -30px; font-size: 12px; color: #05a; line-height: 18px; text-decoration: none; position: absolute}
#cancelUploadBt:hover {text-decoration: underline}
.progressBar .progress {display: block; width: 0; height: 17px; line-height: 17px; background-position: 0 -17px; z-index: 2; position: absolute}
.progressBar span {top: 0; left: 142px; width: 32px; height: 17px; line-height: 18px; font-size: 12px; font-family: Arial,Helvetica,sans-serif; text-align: center; z-index: 3; position: absolute}
.progressBar span.white {color: #fff}
#licenseFiles {display: none; overflow: hidden; vertical-align: middle; max-width: 50%; margin-bottom: 10px;}
#licenseFiles a, #licenseFiles img {display: block; overflow: hidden; max-width: 300px; max-height: 300px;}
.sholder {display: inline-block;}
.sholder img {max-width: 400px;}
.reupload {width: 59px; height: 23px; margin-left: 10px; margin-bottom: 10px; line-height: 23px; text-align: center; text-decoration: none; font-size: 12px; color: #4d4d4d; background: url('/static/images/ui/swfupload/uploadbts.png') no-repeat; vertical-align: bottom; padding: 4px 6px; line-height: 45px;}

/* 上传按钮 */
.uploadinp {float: left; position: relative; position: relative; width: 85px; height: 85px; margin-bottom: 10px; background: #f7f7f7 url('/static/images/ui/picHolder.png') no-repeat center 10px; border: 1px solid #ddd; cursor: pointer;}
.uploadinp object {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 2; width: 100%; height: 100%; cursor: pointer;}
.uploadinp span {position: absolute; left: 0; right: 0; bottom: 0; z-index: 1; font-size: 14px; color: #7b7b7b; text-align: center;}
.upload-tip {float: left; margin: 0 0 0 20px; font-size: 14px; color: #404040; line-height: 85px;}
.upload-tip a {color: #2672ec;}
#deleteAllAtlas {display: none;}

/* 自动获取地址 */
.getlnglat {float: left; font-size: 14px; color: #666; border: 1px solid #d9d9d9; border-radius: 5px; height: 32px; line-height: 32px; padding: 0 10px; margin-left: 10px;}
.getlnglat s {float: left; width: 10px; height: 12px; margin: 9px 5px 0 0; background: url("/static/images/suggest-icon1.png") no-repeat;}

#verifycode {float: left; height: 34px; margin-left: 10px; cursor: pointer;}

/* 提交按钮 */
.submit {float: left; width: 160px; height: 45px; line-height: 45px; font-size: 20px; color: #fff; border: 1px solid #76ae30; border-radius: 3px; background-color: #85c336; cursor: pointer; margin: 15px 0 30px; font-family: 'microsoft yahei';}
.submit:hover {background-color: #7eb933;}
.disabled, .disabled:hover {background-color: #c2c2c2; border-color: #b0b0b0; cursor: no-drop;}

/* 取消 */
.cancel {float: left; line-height: 45px; margin: 15px 0 0 40px;}

/* 输入提示 */
.tip-inline {float: left; display: none; font-size: 14px; margin-left: 15px;}
.tip-inline s {float: left; width: 16px; height: 16px; margin: 9px 5px 0 0; background-image: url("/static/images/ui/inputTip.png"); background-position: no-repeat;}
.tip-inline.focus {color: #404040; display: block;}
.tip-inline.success {font-size: 0; display: block;}
.tip-inline.success s {background-position: 0 -16px;}
.tip-inline.error {color: #e43d03; display: block;}
.tip-inline.error s {background-position: 0 -32px;}
.tip-inline.loading {display: block;}
.tip-inline.loading s {background: url("/static/images/loading_16.gif");}

.tangram-suggestion-main {z-index: 1000; -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.3); -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.3); box-shadow: 3px 3px 6px rgba(0,0,0,0.3);}
.tangram-suggestion-main .tangram-suggestion {border-color: #ccc; background-color: rgba(255,255,255,.95)!important; background-color: #fff;}
.tangram-suggestion-main td {height: 20px; line-height: 20px; padding: 6px 5px 6px 30px; background: url('/static/images/suggest-icon.png') no-repeat 10px center; color: #333;}
.tangram-suggestion-main td b {color: #ff6000;}
.tangram-suggestion-main .tangram-suggestion-current {background-color: #ebebeb;}
.tangram-suggestion-main .tangram-suggestion-current .tangram-suggestion-grey {color: #c0c0c0;}

/* 自定义Autocomplete浮动层 */
.autocomplete-suggestions {margin: 0; border: 1px solid #e8e7e7; -moz-box-shadow: 0 10px 25px rgba(0,0,0,.3); -webkit-box-shadow: 0 10px 25px rgba(0,0,0,.3); box-shadow: 0 10px 25px rgba(0,0,0,.3);}
.autocomplete-suggestion {padding: 2px 10px;}
.autocomplete-suggestion strong {color: #f60;}

/* 图集 */
.list-holder li {width:115px !important; height:86px;}
.list-holder li a.li-rm {margin:-17px -14px 0 0 !important;}
.list-holder li .li-name {margin:20px 0 5px 0; width:94%;}
.list-holder li .li-progress {width:100%; margin:0;}
.list-holder li .li-thumb {margin:-5px 0 0 0 !important;}

/*配色*/
#peiseshow {display: inline-block;width: 100px;height: 35px;background:#F07CBB;vertical-align: middle; margin-left: 20px;}
#peiseshow.type_1 {background: #FE8127}
#peiseshow.type_2 {background: #01A9F0}
#peiseshow.type_3 {background: #F07CBB}
#peiseshow.type_4 {background: #269411}
#peiseshow.type_5 {background: #149495}
#peiseshow.type_6 {background: #E29D01}

/* 地图层 */
#shadowlayer {display: none; position: fixed; _position: absolute; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=15); opacity: .15; top: 0; left: 0; z-index: 9000;}
.map-pop {position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 9001; display: none; width: 900px; height: 630px; margin: -320px 0 0 -450px;}
.map-pop a.pop-close {display: block; width: 22px; height: 22px; font-size: 25px; line-height: 22px; overflow: hidden; position: absolute; right: 12px; top: 8px; z-index: 1004; text-align: center; color: #666;}
.map-pop a.pop-close:hover {background-position: 0 -14px;}
.pop-border {background-color: #000; filter: alpha(opacity=30); opacity: .3; position: absolute; left: -5px; top: -5px; right: -5px; bottom: -5px; z-index: 1002; border-radius: 5px;}
.pop-main {width: 100%; height: 100%; background-color: #fff; position: relative; z-index: 1003;}
.pop-title {height: 39px; border-bottom: 1px solid #e0e0e0; color: #3d3d3d; background-color: #f7f7f7; padding-left: 15px; font: 700 14px/39px Microsoft Yahei;}
.pop-con {padding: 10px;}
#markDitu {width: 100%; height: 515px;}
.pop-con .btns {margin-top: 10px; border-top: 1px solid #e0e0e0; padding-top: 15px; font: 12px/18px '\5b8b\4f53';}
.pop-con .btns a {float: right; margin-left: 15px; color: #506eaa; line-height: 25px; padding: 0 20px; background-color: #efefef; letter-spacing: 2px; box-shadow: 0 1px 0 #ddd; border-radius: 3px;}
.pop-con .btns #okPop {background-color: #ff7e00; box-shadow: 0 1px 0 #eb5e00; color: #fff; font-weight: 700; font-size: 14px;}

/*信息内容*/
.operater .label {display: inline-block; padding: 2px 13px 2px; background: #09c; color: #fff; font-size: 14px;}
.operater .label:hover {background-color: #28b5d6;}
.operater .label i {font-style: normal; font-weight: 700; font-size: 16px; margin-right: 3px;}
.operater a:hover {text-decoration: none;}
.btn-del{color: #fff; background-color: #51b7d5; padding: 6px 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 12px; border: 0; box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05); cursor: pointer; margin-left: 10px;}
.btn-del:hover{background-color: #2f96b4;}
.typebody .nav-tbody{margin-bottom: 5px; border-bottom: 1px solid #ddd;}
.typebody .nav-tbody li{float: left; margin-bottom: -1px; margin-right: 2px;}
.typebody .nav-tbody li a{padding: 6px 12px; border: 1px solid transparent; line-height: 20px; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.typebody .nav-tbody li.active a{border: 1px solid #ddd; border-bottom-color: transparent; background: #fff;}
.typebody .nav-tbody li a:hover{border-color: #eee #eee #ddd; background-color: #eee; text-decoration: none; color: #cd0200;}
.typebody .nav-tbody li.active a:hover{color: #555; cursor: default; background-color: #fff; border: 1px solid #ddd; border-bottom-color: transparent;}
.typebody{margin-top: 25px;}
.folding{cursor: pointer;}

.input-large {width: 200px;}
