i, em{font-style: normal;}
a:hover, a:link{text-decoration: none;}

/*开通模块*/
.container{padding: 0 0 0 40px; font-size: 14px;}
.thead{margin-top: 30px; color: #959595; text-align: center;}
.thead span{display: block; float: left; height: 50px; line-height: 50px; width: 200px;}
.open{border: 1px solid #ececec; margin-bottom: 30px; font-size: 16px;}
.open td{padding: 40px 0; width: 200px; text-align: center;}
.open td img {width: 80px; height: 80px; display: block; margin: 0 auto;}
.paybtn{padding: 9px 28px; border-radius: 50px; background: #23b8f6; color: #fff;}
.paybtn:hover{color: #fff; text-decoration: none;}
.year{margin: 0 12px;}

/*支付弹出层*/
.mask{background: #000; opacity: .4; -webkit-opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; filter:alpha(opacity=40); position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 98; display: none;}
.paybox{position: fixed; top: 50%; left: 50%; margin-left: -330px; margin-top: -360px; background: #fff; z-index: 99; padding: 12px 12px 45px 12px; font-size: 14px; border-radius: 4px; width: 650px; display: none;}
.paybox .close{float: right; width: 35px; height: 35px; background: url(../images/close.png?v=1) center center no-repeat; display: block;}
.reduce{padding: 3px 15px; background: url(../images/reduce_icon.png) center center no-repeat;}
.add{padding: 3px 15px; background: url(../images/add_icon.png) center center no-repeat;}
.paybox dl{margin-bottom: 15px; margin-left: 43px;}
.paybox dt{margin-right: 20px; width: 70px;}
.paybox dt.wid{width: auto;}
.paybox .total-price{color: #23b8f6;}
.paybox .budget dt{padding: 10px 0;}
.paybox .code{border: 1px solid #e7e7e7; padding: 10px 20px; border-radius: 4px; outline: 0;}
.code-submit{padding: 10px 20px; color: #fff; background: #23b8f6; font-size: 14px; border-radius: 4px; margin-left: 15px; margin-right: 18px;}
.code-submit:hover{color: #fff; background: #1bafec;}
.yue-btn{margin-right: 30px; position: relative; padding-left: 20px; cursor: pointer;}
.yue-btn .radio{position: absolute; border: 1px solid #ccc; width: 15px; height: 15px; border-radius: 50%; left: 0; top: 1px;}
.yue-btn .radio s{position: absolute; width: 11px; height: 11px; border-radius: 50%; top: 2px; left: 2px;}
.yue-btn.active .radio{border-color: #1bafec;}
.yue-btn.active .radio s{background: #1bafec;}
.payway{margin-top: 10px;}
.payway li{text-align: center; float: left; border: 1px solid #e7e7e7; width: 170px; line-height: 30px; padding: 15px 0; margin: 0 30px 15px 0; border-radius: 2px; cursor: pointer;}
.payway li.active{border-color: #23b8f6; background: url(../images/selected.png) right top no-repeat; }
.payway li a:hover{text-decoration: none;}
.payway li a img{height: 33px; vertical-align: middle; margin-right: 10px;}

/*下一步*/
.stepBtn{margin: 30px 0 0; text-align: center;}
.stepBtn a{font-size: 16px; border-radius: 4px; padding: 11px 50px; border: 1px solid #23b8f6; background: #23b8f6; color: #fff;}

/*未开通模块*/
.nopen{margin-top: 50px;}
.nopen li{width: 200px; text-align: center; float: left; border: 1px solid #ececec; margin: 0 55px 30px 0; border-radius: 4px; padding: 25px 0 25px 0; font-size: 16px;}
.nopen li img {width: 80px; height: 80px; display: block; margin: 0 auto;}
.nopen .openbtn{display: block; width: 90px; color: #fff; height: 38px; line-height: 38px; border-radius: 40px; background: #23b8f6; margin: 0 auto; margin-top: 15px;}
.nopen .openbtn:hover{text-decoration: none;}

/*订单记录*/
.mtop{margin-top: 40px;}
.order-item{border: 1px solid #e7e7e7; width: 1100px; margin-bottom: 20px; font-size: 16px;}
.order-item li{padding: 0 20px;}
.order-item li span{float: left; width: 20%; display: block; height: 40px; line-height: 40px;}
.order-item li .span-1{text-align: left;}
.order-item li .span-3{text-align: center;}
.order-item li .span-5{text-align: right;}
.order-item .title{background: #f7f7f7; margin-bottom: 5px; font-size: 14px;}
.order-item .line{border-top: 1px solid #e7e7e7; color: #acacac; font-size: 14px; padding-top: 10px; margin-top: 5px;}
.order-item .line span{line-height: 25px; height: 25px;}
.order-item .sum{margin-bottom: 10px;}
.blue{color: #1aa1e6; font-size: 12px;}
.blue i{font-size: 18px;}
