.container {padding: 30px 30px 0;}

/* 订单基本信息 */
.info-section {margin: 0 0 10px; padding: 8px 16px; font-size: 14px; border: 1px solid #f5d8a7; background: #fff6db; color: #666; overflow: hidden; zoom: 1; line-height: 1.8em;}
.info-text {font-weight: 700; color: #d00;}
.operation {margin-top: 5px; font-size: 15px; font-weight: 700;}
.operation a {margin-right: 15px;}
.apply-refund-link {float: right; font-size: 12px; font-weight: 700; color: #d00;}

/* 订单详细信息 */
.bunch-section {margin: 0 0 10px; font-size: 12px; background: #fff; border: 1px solid #e5e5e5; overflow: hidden; zoom: 1; font-size: 14px;}
.bunch-section dt {padding: 8px 10px; font-size: 14px; font-weight: 700; color: #333; background: #eee;}
.bunch-section dd {padding: 10px; line-height: 1.8em;}
.flow-list {list-style: 1.8em;}
.flow-list li {float: left; width: 25%; zoom: 1;}
.info-table {width: 100%; color: #666;}
.info-table th {font-weight: 700;}
.info-table th, .info-table td {padding: 5px; text-align: center;}
.info-table th.left, .info-table td.left {text-align: left;}
.info-table a {color: #027cff;}
.info-table .total {color: #f60;}


/* 修改收货地址 */
.fh {display: none;}
.fh .formfield {position: relative; padding: 8px 0 8px 120px; zoom: 1;}
.fh .formfield label {position: absolute; left: 0; width: 110px; padding-top: 3px; font-size: 14px; text-align: right; color: #333;}
.fh .formfield label em {font-weight: 700; color: #f76120;}
.fh .formfield input {padding: 5px; height: 18px; border: 1px solid #ccc; line-height: 20px; vertical-align: top;}
.fh .error input {border-color: #f76120;}
.fh .formfield .input-tips {display: none; padding-left: 10px; line-height: 30px; color: #666;}
.fh .formfield .input-tips s {display: inline-block; width: 17px; height: 17px; margin: -3px 5px 0 0; vertical-align: middle; background: url('../images/icon-status.png') 0 -296px;}
.fh .error .input-tips {display: inline-block;}

.btns {padding: 10px 0 15px 120px;}
.btns .cbtn {width: 90px; height: 35px; font-size: 16px; color: #fff; background-color: #434a54; border-radius: 3px; border: 0; cursor: pointer;}
.btns .cbtn:disabled {background-color: #d8d8d8;}
.btns .cancel {color: #027cff; margin-left: 20px;}


/* 退款 */
.retUl {margin: 10px 0 5px;}
.retUl.store {border-top: 1px solid #ccc; padding: 8px 0;}
.retUl li {position: relative; padding-left: 75px;}
.retUl li label {position: absolute; left: 0; top: 0;}
.retUl .retPics label {top: 5px;} 
.retPics {padding: 10px 0;}
.retPics img {display: inline-block; vertical-align: middle; width: 50px; height: 50px;}


/* 回复 */
.hf {display: none;}
.hf .formfield {position: relative; padding: 8px 0 8px 120px; zoom: 1; color: #999;}
.hf .formfield label {position: absolute; left: 0; width: 110px; padding-top: 3px; font-size: 14px; text-align: right; color: #333;}
.hf .formfield label em {font-weight: 700; color: #f76120;}
.hf .textarea {width: 80%; padding: 10px 10px 0; border: 1px solid #ccc; line-height: 1.6em;}
.hf .textarea textarea {width: 100%; resize: none; font-size: 13px; outline: 0; border: none;}
.hf .textarea .lim-count {display: block; margin-top: -5px; font-size: 12px; color: #999; line-height: 28px;}
.hf .textarea .lim-count strong {color: #f76120;}

/* 上传图片 */
.hf .widgt {overflow: hidden; padding: 8px 0; color: #999;}
.uploader-btn {padding-bottom: 10px;}
#filePicker {display: inline-block; position: relative; margin-right: 15px;}
.webuploader-pick {position: relative; display: inline-block; cursor: pointer; background: #00b7ee; padding: 10px 15px; color: #fff; text-align: center; border-radius: 3px; overflow: hidden; vertical-align: middle;}
.webuploader-pick-hover {background: #00a2d4;}
.uploader-btn .utip {display: inline-block; color: #999; vertical-align: middle;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px);}
.thumbnail {display: block; padding: 4px; margin-bottom: 20px; line-height: 1.428571429; background-color: #fff; border: 1px solid #ddd; border-radius: 4px;}
.thumbnail>img, .thumbnail a>img {display: block; height: 100px; width: 100px; margin-right: auto; margin-left: auto;}
#uploader-demo .thumbnail {width: 110px; height: 110px;}
#uploader-demo .thumbnail img {width: 100%;}
.uploader-list {width: 100%; overflow: hidden;}
#fileList li {float: left; position: relative; width: 100px; height: 100px; margin: 0 10px 10px 0; padding: 4px;}
#fileList li .error {position: absolute; bottom: 4px; left: 4px; right: 4px; background: red; color: white; text-align: center; height: 20px; font-size: 14px; line-height: 20px;}
.thumb-error {width: 100%; height: 100px; line-height: 100px; display: block; text-align: center;}
.file-panel {position: absolute; left: 4px; right: 4px; top: 4px; height: 20px;}
.file-panel span {float: left; width: 20px; height: 20px; margin-right: 2px; background-color: #333; color: #fff; text-align: center; line-height: 17px; font-size: 12px; cursor: pointer;}
.file-panel .cancel {float: right; margin-right: 0; line-height: 17px; font-size: 22px;}
.file-item .progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.file-item .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #d14 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}