@charset "utf8";

html,body {background: #f5f5f5;}
.hide {display: none !important;}
.header, .open.header, .open.transparent.header {border-bottom: none;}
.header-search {visibility: hidden; }
.pdc {padding-left:.16rem;padding-right: .16rem;}



.info{
    padding:.24rem;
    background: #fff;
    margin-top: 0.12rem;
}
.info .name_tit{
    font-size: 0.34rem;
    color: #171717;
    font-weight: bold;
    margin-bottom: .2rem;
}
.name_time{
    font-size: 0.24rem;
    color: #8b8b8b;
}
.name_detail{
    margin-top: .3rem;
}
.name_detail img{
    width: 100%;
}
.name_detail p{
    font-size: .24rem;
    color: #3b3b3b;
    padding: .18rem 0;
    line-height: .4rem;
}
