@charset "utf8";

html,body {background: #f6f6f6;}
.hide {display: none !important;}

.header .header-search a, .open.header .header-search a {background: none;}
.tran {-webkit-transition:all 0.1s linear;transition:all 0.1s linear;}
.container {background: #fff;margin-top: .15rem;}
.item {position: relative;border-bottom: 1px solid #eeeeee;}
.item.removeing {transform:translateX(-200%) !important;}
.item a {display: block;padding: 0.35rem 0;}
.item .visitors_img {position: relative;width:.8rem;height: .8rem;float: left;margin-left: .25rem;}
.item.is_new .visitors_img:before {content:"";position: absolute;right:-.01rem;top:.07rem;display: block;background: #ff3434;border-radius:50%;width: .2rem;height: .2rem;border-radius:50%;}
.item .visitors_img .img {width: .8rem;height: .8rem;border-radius:50%;overflow: hidden;}
.item .visitors_img img{display: block;width: .8rem;min-height: .8rem;}
.item .visitors_txt{overflow: hidden;}
.item .visitors_txt .txt_name{font-size: 0.28rem;color: #232323;margin: 0 .24rem .1rem .28rem}
.item .visitors_txt .txt_name em.shim{font-size: 0.2rem;color: #fff;width: 0.68rem;height: .27rem;background: #53c0ff;display: inline-block;border-radius: .06rem;line-height: .27rem;text-align: center;margin-left: 0.18rem;}
.item .visitors_txt .txt_time{font-size: 0.24rem;color: #a0a0a0;margin: 0 0.1rem 0 0.28rem;}
.item .visitors_txt .txt_time em{margin-right: 0.26rem;}
.item .visitors_txt .time {float: right;font-size: .22rem;color: #a0a0a0;}

.item .btns{position: absolute;left:100%;top:0;height: 100%;white-space: nowrap;}
.item .btns span {display: inline-block;width:1.76rem;background: #c0c0c0;color: #fff;text-align: center;line-height: 1.52rem;}
.item .btns span.del {background: #ff4545;}

.item.vip .txt_name em {color: #ff0e0e;}

.tofoot {display: none;}
