@charset "utf8";

html,body {background: #f5f5f5;}
/*body {padding-bottom: 1.24rem;}*/
html.md_fixed, html.md_fixed body {overflow: hidden;}
.header, .open.header, .open.transparent.header {border-bottom: none;}
.header .header-search a, .open.header .header-search a {background-image: url(../images/user_7.png?v=1);}
.pdc {padding-left:.16rem;padding-right: .16rem;}
.huoniao_iOS body {padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}

input::-webkit-input-placeholder{color:transparent;}
input::-moz-placeholder{color:transparent;}
input:-moz-placeholder{color:transparent;}
input:-ms-input-placeholder{color:transparent;}

.withdraw {position: relative;padding:.24rem .45rem;margin-top: .12rem;background:#fff;}
.withdraw span {font-size: .34rem;color: #343434;}
.withdraw span font {margin-left: .18rem;font-size: .6rem;color: #ff295b;vertical-align: middle;}
.withdraw a {position: absolute;right:.24rem;top:50%;margin-top: -.26rem;display: block;height: .52rem;line-height: .52rem;background: #ff295b;color: #fff;font-size: .28rem;text-align: center;padding:0 .6rem;border-radius:.26rem;}



/*搜索框*/
.searchWrap {margin: .12rem .24rem;}
.searchBox {position: relative;background: #fff;font-size: .3rem;border-radius:5px;overflow: hidden;display: inline-block;width: 86%;}
.searchWrap>span{float: right;line-height: .8rem;font-size: .3rem;color: #868585;}
.searchWrap>span a{color: #868585;}
.searchBox .title {color: #2e2e2e;text-align: center;padding:.1rem 0 .25rem;}
.searchBox .inpBox .inp {position: relative;width: 100%;float: left;overflow: hidden;}
.searchBox .inpBox input {position: relative;width: 100%;padding: .22rem .1rem .22rem .6rem;background: none;border:none;outline:0;border-radius:3px;z-index: 1;transition:all .2s;color: #929292;}
.searchBox .inpBox em {position: absolute;top:.2rem;display: block;height:.4rem;padding-left:.4rem;margin-left: .2rem;background: url('../images/search.png') left center no-repeat;background-size: .3rem;color: #929292;z-index: 0;transition:left .1s;}
.searchBox .inpBox input:focus +em {left:0;}

.searchBox .inpBox .submit {float: right;width:1.13rem;height: .78rem;line-height: .78rem;background: #ff295b;color: #fff;text-align: center;border-radius:3px;}
.searchBox .typeBox span {float: left;display: block;width:3.43rem;height: 1.28rem;line-height: 1.28rem;margin:.15rem .15rem 0 0;color: #717171;text-align: center;background: #f3f3f3;border-radius:3px;}
.searchBox .typeBox span:nth-child(2n) {margin-right: 0;}
.searchBox .typeBox span.active {background: #ff295b;color: #fff;}
.searchBox .cancel {height: .78rem;line-height: .78rem;text-align: center;color: #4f4f4f;background: #e7e7e7;margin-top: .43rem;}


/*列表部分*/
.info .item{background: #fff;}
.info .info_title{height: .8rem;border-bottom: 1px solid #e9e9e9;font-size: .3rem;color: #848484;padding-left: .26rem;line-height: .8rem;}
.info ul{margin-bottom: .13rem;}
.info ul li .img{width: .8rem;height: .8rem;border-radius: 50%;overflow: hidden;display: inline-block;float: left;}
.info ul li .img img{width: .8rem;height: .8rem;}
.info ul li{padding: .3rem .26rem;border-bottom: 1px solid #e9e9e9;line-height: .8rem;}
.info ul li:last-child{border-bottom:none;}
.info ul li .name{font-size: .28rem;color: #262626;margin-left: .44rem;float: left;}
.info ul li .shiming{font-size: 0.2rem;color: #fff;width: 0.68rem;height: .27rem;background: #53c0ff;display: inline-block;border-radius: .06rem;line-height: .27rem;text-align: center;margin-left: 0.18rem;}

.addNew {position: fixed; left: 0; bottom: 0; width: 100%; height: 1rem; line-height: 1rem; font-size: .3rem; color: #fff; text-align: center; background: #ff296d;}




