body, html{background: #f4f4f4; font-size: .3rem;}

/*头部*/
.header{position: fixed !important; left: 0; right: 0; top: 0; z-index: 999;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab {top: 0;}
.header-search a{background: none!important;}

/*选项卡*/
.tab ul{display: -webkit-box;}
.tab ul li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0; border-bottom: 1px solid #f4f4f4; font-size: .28rem; }
.tab ul li.curr{border-bottom: 2px solid #129bf0;}
.tab ul li.sel select{background: transparent; }
.huoniao_iOS .tab{top: 0;}

/*房屋总数*/
.count{border-bottom: 1px solid #f4f4f4; padding: .1rem 0; font-size: .26rem; padding-left: .4rem; margin-top: 1.8rem; font-weight: 600;}
.huoniao_iOS .count {margin-top: .8rem;}
.count span{font-size: .32rem; margin: 0 .1rem;}
.count li{display: none;}
.count li:first-child{display: block;}
.huoniao_iOS .count{margin-top: .8rem;}

/*商品列表*/
.list {margin-top: .9rem;}
.huoniao_iOS .list {margin-top: 0;}
.item{background: #fff; padding: .2rem; border: 1px solid #e7e7e7; border-left: 0; border-right: 0; margin-bottom: .2rem;}
.item .item-img{margin-right: .2rem; float: left;}
.item .item-img a{width: 2rem; height: 1.8rem; display: block;}
.item .item-img img{display: block; width: 100%; height: 100%;}
.item .name {margin-bottom: .1rem;}
.item .item-txt{position: relative; overflow: hidden;}
.item .post, .item .idea{color:#aaa; line-height: .4rem; height: .4rem;font-size: .28rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.item .operate{color: #aaa; font-size: .28rem;}
.item .operate span{margin-right: .2rem;}
.item .operate .edit{float: right; color: #333; padding-left: .35rem; background: url(../images/edit.png) left center no-repeat; background-size: .26rem auto; margin-right: .2rem;}
.item .operate .del{float: right; color: #333; padding-left: .35rem; background: url(../images/del.png) left center no-repeat; background-size: .34rem auto; margin-right: .2rem;}
.item .price{margin: .1rem 0;}
.item .price em{font-weight: 600;}

.loading{text-align: center; line-height: 1rem;}


.item-txt .state {position: absolute;right:0;top:50%;margin-top:-.4rem;display: block;width:1.5rem;height:.8rem;line-height:.8rem;text-align:center;background:#129bf0;color:#fff;border-radius:.05rem;}
.item-txt .state1 {background:#ccc;}