body {padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}

.Package {margin:0 .2rem;margin-top:.3rem;}
.PackageBox {margin-bottom:.3rem;}
.PackageBox .PackageBox_Lead {background:#9eaff7;height:.6rem;line-height:.6rem;border-radius:.1rem;padding:0.2rem .3rem;padding-right:.1rem;}
.PackageBox .PackageBox_Lead input {border:none;background:#9eaff7;outline:none;color:#fff;width:3.7rem;float:left;height:.6rem;line-height:.6rem;}
.PackageBox .PackageBox_Lead input::-webkit-input-placeholder {color:#6d81d6;}
.PackageBox_btn {float:right;}
.PackageBox_up {float:left;border-right:0.02rem solid #8197f4;width:.8rem;height:.6rem;line-height:.6rem;}
.PackageBox_up i {display:block;width:.8rem;height:.6rem;background:url(../images/up2.png) no-repeat center;background-size:.5rem;}
.PackageBox_down {float:left;border-right:0.02rem solid #8197f4;width:.8rem;height:.6rem;line-height:.6rem;}
.PackageBox_down i {display:block;width:.8rem;height:.6rem;background:url(../images/down4.png) no-repeat center;background-size:.5rem;}
.PackageBox_del {float:left;width:.8rem;height:.6rem;line-height:.6rem;}
.PackageBox_del i {display:block;width:.7rem;height:.6rem;background:url(../images/del2.png) no-repeat center;background-size:.5rem;}
.PackageBox_arrow {float:left;width:.5rem;height:.6rem;line-height:.6rem;}
.PackageBox_arrow i {display:block;width:0;height:0;border-left:.15rem solid transparent;border-right:.15rem solid transparent;border-top:0.2rem solid #fff;margin:0 auto;position:relative;top:.2rem;webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear;}
.PackageBox_arrow.rog i {transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.PackageBox_List {border:0.02rem solid #ededed;border-top:none;padding:0.1rem .25rem;position:relative;top:-0.05rem;overflow:hidden;}
.PackageBox_de {padding:0 .2rem;background:#f8f8f8;margin-top:.3rem;position:relative;}
.PackageBox_de .PackageBox_littledel {width:.6rem;height:.6rem;position:absolute;right:-0.2rem;top:-0.3rem;background:url(../images/cha1.png) no-repeat center;background-size:.4rem;}
.PackageBox_de .PL_Name {border-bottom:0.02rem dotted #cdcdcd;height:.8rem;line-height:.8rem;}
.PackageBox_de .PL_Name input {border:none;outline:none;width:5.5rem;height:.58rem;line-height:.58rem;background:#f8f8f8;font-size:.28rem;}
.PackageBox_de .PL_number {height:.8rem;line-height:.8rem;margin:.1rem 0;}
.PackageBox_de .PL_number input {border:none;outline:none;border-bottom:0.02rem dotted #cdcdcd;background:#f8f8f8;width:1rem;margin:0 .2rem;text-align:center;}
.PackageBox_ADD {width:2.6rem;margin:0 auto;height:.6rem;line-height:.6rem;margin-top:.25rem;margin-bottom:.15rem;}
.PackageBox_ADD i {display:inline-block;width:.6rem;height:.6rem;background:url(../images/add1.png) no-repeat 0.05rem 0.02rem;background-size:.5rem;margin-right:.15rem;vertical-align:middle;}
.Package_ADD {width:100%;background:#24a4f5;height:.9rem;line-height:.9rem;text-align:center;line-height:.9rem;font-size:.32rem;color:#fff;margin-top:.5rem;margin-bottom:.5rem;border-radius:.05rem;}


.saveType {position: fixed; left: 0; bottom: 0; width: 100%; height: 1rem;}
.saveType a {display: block; line-height: 1rem; background: #f65963; text-align: center; font-size: .4rem; color: #fff;}


.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}
.popErr:after {content:"";position: fixed;left:0;top:0;right:0;bottom:0;background:#000;opacity: .4;}