body,html{ font-size: .3rem; opacity: 1;}
* {-webkit-tap-highlight-color: transparent; -webkit-appearance: none;}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}

.header{position: fixed; left: 0; right: 0; top: 0; z-index: 9;}
.header-r{visibility: visible;}
.header .header-search{background: url(../images/search_icon.png) center center no-repeat; background-size: .5rem auto;}
#swiper-container1{position: fixed; left: 0; right: 0; top: .9rem; z-index: 9; border-top: 1px solid #f2f2f2; background: #fff}
.active-nav{ color: #000!important; border-bottom: 2px solid #00a0e9!important;}
.huoniao_iOS #swiper-container1{top: 0;}
#swiper-container2{ height: 100%!important; margin-top: 1.7rem;}
.huoniao_iOS #swiper-container2{margin-top: 1rem;}
.swiper-wrapper {height: auto !important;}
.stra_lead .swiper-slide{ width: 33.333%; height: 0.8rem; line-height: 0.8rem; font-size: 0.32rem; text-align: center; color: #666; border-bottom: 2px solid #f4f4f4; float: left; background: #f5f5f5;}

/*转账列表*/
.select{position: relative; padding: .2rem 0.3rem .1rem; text-align: right;}
.select em{padding-right: .35rem; background: url(../images/down.png) right center no-repeat; background-size: .22rem auto;}
.select ul{display: none; position: absolute; background: #fff; width: 2rem; text-align: center; right: 0.1rem; border: 1px solid #f2f2f2; top: .7rem;}
.select.show ul{display: block;}
.select ul li{padding: .1rem 0;}
.select ul li.curr{color: #00a0e9;}
.order-list{padding: 0 .2rem;}
.order-list a{display: block; padding: .2rem 0; border-bottom: 1px solid #f2f2f2; color: #000;}
.order-list .mount span{float: left;}
.order-list .mount em{float: right;}
.order-list .gray{color: #c5c5c5; font-size: .28rem;}

.stra_lead.vh {visibility: hidden;}


.loading {padding:.2rem 0;text-align: center;font-size: .24rem;}
.loading.vh {visibility: hidden;}
.header-search {visibility: hidden;}


/*详情部分*/
.detailcon {position: fixed;top:0;left:0;right:0;bottom:0;z-index: 1010;background: #fff;opacity: 0;-webkit-transform: scale(0);transform: scale(0);-webkit-transition: transform .2s, opacity .1s;transition: transform .2s, opacity .1s;}
.detailcon.isshow {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
.detailcon .header {position: static;}
.store{margin: .4rem 0 .3rem;}
.store a{position: relative; display: block; text-align: center; padding: .2rem 0;}
.store img{position: absolute; width: .5rem; height: .5rem; border-radius: .5rem;}
.store .name{padding: 0 .45rem 0 0.6rem; background: url(../images/gz_select.png) right center no-repeat; background-size: .28rem auto; font-size: .32rem;}
.count{text-align: center; font-size: .36rem;}
.count em{font-size: .45rem;}
.state{text-align: center; color: #b0b0b0;}
.info{padding: 0 .2rem; margin-top: .4rem;}
.info li{border-bottom: 1px solid #f2f2f2; padding: .2rem 0;}
.info li span{float: left; color: #b0b0b0;}
.info li em{float: right;}
.info li .phone{padding-right: .5rem; background: url(../images/phone_icon.png) right center no-repeat; background-size: .4rem auto;}


body.fixed {position: fixed;}