body, html{font-size: .3rem; background: #f4f4f4;}
a:hover, a:link{text-decoration: none;}

.header_{background: url(../images/top_bg.png) top center no-repeat; background-size: 8.4rem auto; text-align: center; color: #fff;}
.top{position: absolute; top: 0; left: 0; right: 0; display: -webkit-box; line-height: .9rem; z-index: 5;}
.top .top-l, .top .top-r{display: table-cell; width: .9rem; height: .9rem; vertical-align: middle;}
.top .top-l img, .top .top-r img{display: block; width: .55rem; margin: 0 auto;}
.top .top-m{-webkit-box-flex: 1; color: #fff; display: block; font-size: .34rem;}
.header_ .info{padding: 1.3rem 0 0.5rem; font-size: .28rem; position: relative;}
.header_ .info .promotion {position: absolute; right: .3rem; bottom: .3rem; width: .55rem;}
.header_ .info .promotion img {display: block; width: 100%;}
.header_ .price{font-size: .52rem; line-height: 1;}
.huoniao_iOS .top{display: none;}
.huoniao_iOS .header_ .info {padding-top: .6rem;}

/*账户信息*/
.account{background: #fff; text-align: center;}
.account li{float: left; width: 50%;}
.account li a{display: block; padding: .25rem 0;}
.account li a p{line-height: 1;}
.account li a .blue{margin-top: .2rem; font-size: .32rem;}
.account .line{border-right: 1px solid #b3b3b3;}
.account li:last-child .line{border-right: none;}

.icons{display: -webkit-box; background: #fff; padding: .4rem 0; margin: .2rem 0 .5rem;}
.icons a{display: block; -webkit-box-flex: 1; text-align: center;}
.icons img{display: block; width: 1.1rem; height: 1.1rem; margin: 0 auto .1rem;}

.bgfff{background: #fff;}
.times{position: relative; top: -.14rem;}
.times ul{text-align: center;}
.times li{float: left; width: 20%;}
.times li a{display: block; width: .28rem; height: .28rem; border-radius: .28rem; margin: 0 auto; background: #fff; border: 1px solid #f2f2f2;}
.times li.active a{background: #25a9f5; border-color: #25a9f5;}
.dom_select{position: relative; float: right; margin-right: .3rem; padding: .1rem 0 .1rem .4rem; background: url(../images/calendar.png) left center no-repeat; background-size: .3rem auto;}
.dom_select #date{position: absolute; top: 0; right: 0; opacity: 0; width: 1.7rem; padding: .1rem 0;}
#date{}

.totalCount{margin: 0 .3rem .2rem;}
.totalCount span{color: #00a0e9;}
.order-tab{padding: .2rem;}
.order-tab li{border-radius: .06rem; margin-bottom: .2rem;}
.order-tab li.loading {padding:.2rem 0;text-align: center;font-size: .24rem;color: #666;}
.order-tab .order-tuan{background: -webkit-linear-gradient(left, #3896ee, #39b4f4);}
.order-tab .order-tuan a{background: url(../images/tuan_bg.png) 6.2rem .5rem no-repeat; background-size: 1.2rem auto;}
.order-tab .order-shop{background: -webkit-linear-gradient(left, #8368f9, #9467f9);}
.order-tab .order-shop a{background: url(../images/shop_bg.png) 6rem .5rem no-repeat; background-size: 1.3rem auto;}
.order-tab .order-waimai{background: -webkit-linear-gradient(left, #35cfe5, #1becee);}
.order-tab .order-waimai a{background: url(../images/waimai_bg.png) 5.9rem .4rem no-repeat; background-size: 1.4rem auto;}
.order-tab a{display: block; color: #fff; padding: .35rem;}
.order-tab img{width: 1rem; height: 1rem; display: block; float: left; margin-right: .3rem;}
.order-tab .txtbox{float: left; width: 2.6rem; font-size: .28rem;}
.order-tab .txtbox .tit{font-size: .32rem; margin-top: .1rem;}
.order-tab .sum{font-size: .36rem; font-weight: normal; margin-top: .25rem;}
.order-tab .more{display: block; background: url(../images/order_more.png) center center no-repeat; background-size: .55rem auto; width: .6rem; height: 1rem;}
