body, html{background: #f8f8f8; font-size: .28rem;}

.state0 {padding:.2rem .24rem 0;color: #f00;}
/*.header-l{padding-right: .8rem;}*/
.header {border-color: #eee;}
.header-r{visibility: visible;}
.header .header-l a, .open.header .header-l a {background-image: none;}

/* 其他入口链接 */
.link {margin-top: .15rem;}
.link li {position: relative; background: #fff; height: 1rem; font-size: .28rem; line-height: 1rem;color: #333;border-bottom: 1px solid #eee;border-top: 1px solid #eee;margin-top: -1px;}
.link li a {display: block;padding-left: .24rem;}
.link li:not(.inp) a:active {background: #f2f2f2;}
.link li a .txt {position: absolute;right:.6rem;top:0;left:2rem;line-height: 1rem;color:#a0a0a0;border:0;outline:0;text-align: right;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;width:4.9rem;}
.link li a input::-webkit-input-placeholder{color:#a0a0a0; } .link li a input::-moz-placeholder{color:#a0a0a0; } .link li a input:-moz-placeholder{color:#a0a0a0; } .link li a input:-ms-input-placeholder{color:#a0a0a0; }
.link li i {display: inline-block; vertical-align: middle; width: .5rem; height: .5rem; background-size: cover; margin: -.08rem .2rem 0 .28rem;}
.link li::after {position: absolute; content: ''; right: .24rem; top: .38rem; width: .24rem; height: .24rem; border-right: 2px solid #d7d7d7; border-bottom: 2px solid #d7d7d7; transform: rotate(-45deg);}
.link li.inp:after {display: none;}
.link.allinp li input {width:5.2rem;}


/*店铺开关*/
.switch {margin-top: .15rem;background: #fff;padding: .1rem .24rem .3rem;border-bottom: 1px solid #eee;border-top: 1px solid #eee;}
.switch h3 {position: relative;font-size: .28rem;color: #333;height: 1rem;line-height: 1rem;}
.switch h3 .btn {position:absolute;top: .24rem;right:.24rem;}
.switch h3 .btn input {display: block;border:1px solid #cacaca;border-radius:.24rem;outline:0;transition: all .3s;}
.switch h3 .btn input:after {content:"";display: block;width:.38rem;height: .38rem;margin:.03rem .5rem .038rem .035rem;background: #cacaca;border-radius:50%;transition: all .2s;}
.switch h3 .btn input:checked {border-color: #f63110;}
.switch h3 .btn input:checked:after {background: #f63110;margin: .03rem .035rem .038rem .5rem;}
.switch h3 .btn.open {border-color: #f63110;}
.switch h4 p {font-size: .24rem;color: #f60;padding-bottom: .2rem;}
.switch p {font-size: .24rem;color: #a0a0a0;line-height: 1.6;}

/*上传图片*/
.up_img {padding:.36rem .24rem;background-color: #fff;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.up_img .up_con {position: relative;float: left;overflow: hidden;}
.up_img .up_none {width:1.6rem;height: 1.6rem;border:1px dashed #cacaca;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.up_img .up_con .sign {position: relative;display:block;width:.6rem;height: .6rem;margin:.28rem auto .15rem;}
.up_img .up_con .sign:before, .up_img .up_con .sign:after {content:"";position: absolute;display: block;background: #d4d4d4;border-radius:3px;}
.up_img .up_con .sign:before {left:0;top:50%;margin-top: -2px;width:100%;height:5px;}
.up_img .up_con .sign:after {left:50%;top:0;margin-left: -2px;width:5px;height:100%;}
.up_img .up_con .txt {font-size: .26rem;color: #a0a0a0;text-align: center;}
.up_img .up_txt {overflow: hidden;line-height: 1.6rem;padding-left: .35rem;font-size: .24rem;color: #a0a0a0;}
.up_img .up_con .Filedata {position: absolute;left:0;top:0;right:0;bottom:0;opacity: 0;}
.up_img .up_has {position: absolute;left:0;top:0;width:100%;height:100%;display: none;}
.up_img.has .up_has {display: block;}
.up_img .up_has img {width:100%;min-height: 1.6rem;display: block;}
.up_img .up_has .del {position: absolute;right:0;top:0;color: #fff;text-align: center;}
.up_img .up_has .del em {position: absolute;right:-.5rem;top:-.5rem;display: block;width:1rem;height:1rem;background-color: rgb(0, 0, 0);opacity:.4;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.up_img .up_has .del font {position: relative;line-height: 1;font-size: .4rem;padding:0 .05rem;}
.up_img .up_has .ing{position: absolute;left:0;top:0;width:100%;height:100%; background-color: #6DA807; box-shadow: 1vw 3vh 10vh rgba(109, 168, 7, 0.8); background-size: 3em 3em; background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #96D923 0.9em, #96D923 2.1em, transparent 2.1em, transparent 2.9em, #96D923 3.1em); -webkit-animation: warning-animation 750ms infinite linear; -moz-animation: warning-animation 750ms infinite linear; animation: warning-animation 750ms infinite linear;}
.up_img .up_has .ing:before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; border-radius: 10px; background-image: linear-gradient(to bottom, #6DA807, rgba(171, 226, 77, 0.6) 15%, transparent 60%, #6DA807); }
@-webkit-keyframes warning-animation {0% {background-position: 0 0; } 100% {background-position: 3em 0; } }
@-moz-keyframes warning-animation {0% {background-position: 0 0; } 100% {background-position: 3em 0; } }
@keyframes warning-animation {0% {background-position: 0 0; } 100% {background-position: 3em 0; } }

.up_img.qr .up_con {float: none;width:2.7rem;margin:0 auto;}
.up_img.qr .up_con .up_none {width:2.7rem;height: 2.7rem;}
.up_img.qr .up_con img {min-height: 2.7rem;}
.up_img.qr .tit {font-size: .28rem;color: #333;margin-bottom: .3rem;}
.up_img.qr .up_con .sign {width: 1rem;height: 1rem;margin: .85rem auto;}

.up_img.idcard {padding-bottom: .5rem;}
.up_img.idcard .up_con {float: none;width:3.75rem;margin:0 auto;}
.up_img.idcard .up_con .up_none {width:3.75rem;height: 2.3rem;}
.up_img.idcard .up_con img {min-height: 2.3rem;}
.up_img.idcard .tit {font-size: .28rem;color: #333;margin-bottom: .3rem;}
.up_img.idcard .up_con .sign {width: 1rem;height: 1rem;margin: .65rem auto;}

.up_img.litpic .info {margin:.6rem 0 .5rem;}
.up_img.litpic .info dt {font-size: .24rem;color: #333;padding-bottom: .2rem;}
.up_img.litpic .info dd {font-size: .24rem;color: #a0a0a0;line-height: .4rem;}

.up_img.license {padding-bottom: .5rem;}
.up_img.license .up_con {float: none;width:4.8rem;margin:0 auto;}
.up_img.license .up_con .up_none {width:4.8rem;height: 3.2rem;}
.up_img.license .up_con img {min-height: 3.2rem;}
.up_img.license .tit {font-size: .28rem;color: #333;margin-bottom: .3rem;}
.up_img.license .up_con .sign {width: 1rem;height: 1rem;margin: 1.1rem auto;}
.up_img.license .info {padding-top:.5rem;color: #a0a0a0;}

.mgt {margin-top: .15rem;}
.ml4r{background: #fff;}
.inptitbox p{margin-left: .4rem; padding: .15rem 0; font-size: .28rem; color: #aaa;}
.inptitle input{width: 100%; border: 0; outline: 0; padding: .25rem 0; font-size: .28rem; text-indent: 0.4rem; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.inpbox{font-size: .3rem; border-bottom: 1px solid #eee; line-height: .65rem; background: #fff;padding: 0 .24rem;}
.gz-addr-seladdr{padding: .2rem .24rem;}
.inpbox dt{width: 1.6rem; color: #83868f; float: left;}
.inpbox dt label{display: block;}
.inpbox dt span{color: #333; display: block; padding: .2rem 0 .2rem .4rem;}
.ml4r .inpbox dt span{padding: .2rem 0 .2rem 0;}
.ml4r .gz-addr-seladdr dt span{padding: 0;}
.inpbox dd{position: relative; font-size: .26rem; overflow: hidden;}
.inpbox dd.selgroup{text-align: right;}
.inpbox dd.selgroup p{text-align: right; background: url(../images/gz_select.png) center right no-repeat; background-size: .22rem; padding-right: .32rem;}
.inpbox dd input{width: 100%; border: 0; outline: 0; padding: .35rem .4rem .3rem 0; text-align: right; display: block;}
.inpbox dd .flexbox{color: #b3b6be;}
.inpbox dd .shortinp input{width: 1.6rem; border: 1px solid #f4f4f4; margin: 0 .1rem; height: .5rem; text-indent: .1rem;}
.inpbox dd .unit{position: absolute; right: .4rem; color: #b3b6be; top: 0;}
.inpbox .facility li{display: inline; padding: 0 .1rem; margin: 0 .1rem .2rem 0; color: #83868f; border: 1px solid #e3e7ed; border-radius: .04rem; white-space: nowrap;}
.inpbox .facility li.on{border: 1px solid #129bf0; color: #129bf0;}
.inpbox dd .textarea{width: 100%; height: 2rem; padding-top: .1rem; border: 0; outline: 0;}
.inpbox dd .radioBox a{display: inline-block; height: .6rem; margin-right: .4rem; color: #0c0d0e;}
.inpbox dd .radioBox a:before{content: ""; width: .32rem; height: .32rem; background: url(../images/radio2.png) center center no-repeat; background-size: contain; display: inline-block; vertical-align: -0.06rem; margin-right: .1rem;}
.inpbox dd .radioBox a.active:before{background-image: url(../images/radio1.png);}
.inpbox dd .code{position: absolute; right: .4rem; top: .2rem; height: .6rem; width: 1.8rem;}
.inpbox dd .area2{display: none;}
.autocomplete-suggestions{background: #fff; margin-top: .2rem; border: 1px solid #f4f4f4; box-shadow: 0px 6px 10px 4px rgba(0,0,0,0.3);}
.autocomplete-suggestions .autocomplete-suggestion{font-size: .26rem; line-height: .65rem; color: #b3b6be; text-indent: .2rem;}
.autocomplete-selected{background: #f0f0f0;}
select.w100{width: 100%;}
select.w30{width: 30%;}
.community-addr{display: none;}
.mb4r{margin-bottom: .4rem;}
.mb4r .inpbox{border-bottom: none;}
.btop{border-top: 1px solid #eee;}
.bbottom{border-bottom: 1px solid #eee;}

.gz-addr-seladdr dd {padding-right: 0;}


.submit {display: block; margin: .75rem .24rem 0;height: 0.74rem; line-height: 0.74rem; background: #f74c25; color: #fff; border-radius: .04rem; text-align: center; font-size: .3rem; }
