body{font-size: .3rem;}
i, em{font-style: normal;}
.fn-left{float: left;}
.fn-right{float: right;}
input{outline: 0; -webkit-appearance: none;}

.header{position: relative; background: -webkit-linear-gradient(left, #00a0e9, #00c5e9); padding: .7rem 0 .35rem;}
.header .back{position: absolute; left: .2rem; top: .2rem; display: block; width: .4rem; height: .4rem; background: url(../images/back_white.png) center center no-repeat; background-size: auto .4rem;}
.userphoto{width: 1.5rem; height: 1.5rem; border-radius: 1.5rem; background: #fff; padding: .04rem; box-shadow: 0 0 10px 0px rgba(22, 46, 74, 0.29); margin: 0 auto;}
.userphoto img{display: block; width: 1.5rem; height: 1.5rem; border-radius: 1.5rem; margin: 0 auto;}
.nickname{color: #fff; font-size: .34rem; text-align: center; margin-top: .1rem;}
.huoniao_iOS .header{padding-top: calc(.7rem + 20px);}
.huoniao_iOS .header .back{top: calc(.2rem + 20px);}

/*购买模块列表*/
.order-list{padding: 0 .2rem; margin-top: .2rem;}
.order-list li{position: relative; width: 33.3%; border: 1px dotted #dedede; border-radius: .08rem; width: 2.2rem; float: left; margin: 0 .18rem .2rem 0; text-align: center; padding: .3rem 0 .5rem 0;}
.order-list li:nth-child(3n){margin-right: 0;}
.order-list .order-tit{font-size: .32rem;}
.order-list .order-btn{display: -webkit-box; margin: .15rem 0 .1rem;}
.order-list .order-btn i{display: block; width: .4rem; height: .4rem; border-radius: .4rem;}
.order-list .order-btn i.reduce{background: url(../images/reduce_icon.png) center center no-repeat; background-size: .4rem auto; margin-left: .3rem;}
.order-list .order-btn i.add{background: url(../images/add_icon.png) center center no-repeat; background-size: .4rem auto;}
.order-list .order-btn .year{margin: 0 0.2rem; line-height: .4rem;}
.order-list .order-total{color: #00a0e9;}
.order-list .del{position: absolute; background: url(../images/del_icon.png) right bottom no-repeat; background-size: .75rem auto; display: block; width: .75rem; height: .75rem; right: 0; bottom: 0; z-index: 9;}

/*总计*/
.total-price{text-align: right; padding-right: .2rem; margin-bottom: .3rem;}
.total-price font{color: #00a0e9;}

/*优惠码*/
.codebox{padding-right: .2rem; line-height: .4rem;}
.code label{float: left; padding: .1rem .2rem;}
.code .code-inp{border: 1px solid #f2f2f2; border-radius: .04rem; width: 2rem; padding: .1rem .2rem;}
.code .submit{width: 1rem; text-align: center; color: #fff; border-radius: .04rem; background: #00a0e9; padding: .1rem 0; margin-left: .1rem; font-size: .26rem; line-height: .4rem; display: inline-block;}
.codebox .budget{padding: .1rem 0;}

/*账户余额*/
.yue{padding: 0 .2rem; margin-top: .3rem;}
.yue p{background: url(../images/xuan.png) left center no-repeat; background-size: .35rem auto; padding-left: .45rem;}
.yue p.active{background: url(../images/xuan-1.png) left center no-repeat; background-size: .35rem auto;}

/*实付款*/
.gray{padding: .2rem .2rem; background: #f4f4f4; margin-top: .3rem; margin-bottom: .1rem;}

/*实付款*/
.pay-list{padding: 0 .2rem;}
.pay-list dl{border-bottom: 1px solid #efefef; padding: .2rem 0;}
.pay-list dl:last-child{border-bottom: none;}
.pay-list dt{width: .5rem; float: left; padding: .1rem .2rem 0 0;}
.pay-list dt img{width: .55rem;}
.pay-list dd{float: left;}
.pay-list dl .radio{background: url(../images/xuan.png) center center no-repeat; background-size: .4rem auto; width: .5rem; height: .8rem; float: right;}
.pay-list dl.active .radio{background: url(../images/xuan-1.png) center center no-repeat; background-size: .4rem auto;}
.pay-list .tips{color: #c5c3c3; font-size: .26rem;}

/*下一步*/
.nextbtn{margin: .2rem .2rem .6rem;}
.nextbtn a{display: block; text-align: center; color: #fff; padding: .2rem 0; background: #00a0e9; border-radius: .04rem; font-size: .34rem;}
