
body, html{background: #f4f4f4;}
.edit-tip{background: #fffaeb; margin-bottom: .2rem; padding: .2rem; font-size: .28rem; color: #666; border-bottom: 1px solid #fff6db;}

.connect{background: #fff;}
.connect li{padding: .2rem; border-bottom: 1px solid #f4f4f4; }
.connect li img{vertical-align: middle; width: .4rem; height: .4rem; margin-right: .2rem;}
.connect .fail .l{color: #999;}
.connect .fail .l img{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4;}
a.orange{color: #ff6800;}
a.blue{color: #027cff;}

/*消息提示*/
.dialog_top, .dialog_msg .bg, .phone_msg .bg {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 10000;}
.dialog_msg .bg, .phone_msg .bg {background: rgba(0,0,0,.3);z-index: 1;}
.dialog_msg .box, .phone_msg .box {position: fixed;left:50%;top:50%;transform:translate(-50%, -50%);background:#fff;border-radius:.05rem;z-index: 2;font-size: .28rem;color:#333;width: 80%;text-align: center;overflow: hidden;}

.phone_msg .box .bdt {height:3px;background: #00e9f5;}
.phone_msg .box .bdt .bdr {float:right;width:50%;height:3px;background: #0076fe;}
.phone_msg .box .close {position: absolute;right:.18rem;top:.22rem;display: block;width: .5rem;height: .5rem;font-size: .5rem;color: #efefef;line-height: 1;border:1px solid #eee;border-radius:50%;}
.phone_msg .box .close:hover {color: #ccc;text-decoration:none;}
.phone_msg .box .content {padding:.4rem;}
.phone_msg .box .blur {color: #419afc;margin:0 3px;}
.phone_msg .box .btns {text-align: center;}
.phone_msg .box .btn {display: inline-block;padding:0 .7rem;margin:.6rem .2rem;height: .6rem;line-height: .7rem;background: #266cfd;color: #fff;border:1px solid #266cfd;border-radius:3px;}
.phone_msg .box .btn.cancel {background: #fff;border:1px solid #266cfd;color: #333;}
.phone_msg .box .info {margin-top: 50px;text-align: left:;}