html {background:#f4f4f4;}
body.showType {position: fixed;width: 7.5rem;}
.header {position: fixed;top:0;width: 7.5rem;z-index: 10010;}
body.showType .header {position:relative;z-index: 10010;}
.header-c s {display: inline-block;width: 0;height: 0;border:.1rem solid transparent;border-top-color:#fff;margin-left: .1rem;-webkit-transition:transform .3s;transition:transform .3s;}
.visit-type {position: absolute;left:0;top:.9rem;right:0;height: 0;background: #129bf0;opacity:.3;z-index: 10;transition:all .3s ease-out;overflow: hidden;}
.visit-type span {display: block;text-align: center;}
/*body.showType .header-c .visit-type {height: 5.4rem;opacity:1;}*/
/*body.showType .header-c .visit-type span {animation:topFadeIn .3s ease-out;}*/
body.showType .header-c s {-webkit-transform: rotate(180deg);transform: rotate(180deg);-webkit-transform-origin: center .05rem;transform-origin: center .05rem;}


/*头部下拉*/
.moreMenubox{background: #fff; position: fixed; left: 0; top: -100%; right: 0; z-index: 10003; padding: .3rem .2rem .1rem; border-bottom: 1px solid #e4e4e4;-webkit-transition:top .3s;transition:top .3s;}
.moreMenubox li{width: 31%; float: left; margin: 0 3% .2rem 0; border: 1px solid #e4e4e4; padding: .1rem 0; text-align: center; box-sizing: border-box; font-size: .28rem; border-radius: .04rem;}
.moreMenubox li:nth-child(3n){margin-right: 0;}
.moreMenubox li.active{border: 1px solid #129bf0; background: #daf1ff; color: #fff;}
.moreMenubox li.active a{color: #129bf0;}
.moreMenubox li a{display: block;}

body.showType .moreMenubox {top:.9rem;}


/*信息列表*/
#list {margin-top: .9rem;}
.item {margin: .2rem 0; background: #fff;}
.item.nr {background:#fdfae1;}
.item .title {font-size: .3rem; border-bottom: 1px solid #f4f4f4; padding: .1rem .2rem;}
.info-item {height: 1.8rem;padding: .2rem;}
.item .pic {width: 2.4rem;height: 1.8rem;margin-right: .2rem;overflow: hidden;}
.item .pic img {width: 100%;min-height: 1.8rem;}
.item .info {position: relative; overflow: hidden; display: block;}
.item .info p {margin-bottom: .2rem;color: #999;}
.item .info p.m {margin-bottom: .3rem;font-size: .3rem;color: #333;}
.item .info p.m a {margin-right: .1rem;}
.item .info p.note {margin:.1rem 0;line-height: .4rem;height: .8rem;overflow: hidden;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);box-shadow: 0px 0px 1px #8fc9ea inset;border-radius: 5px;}
.item .info p.note a {display: block;height: 100%;padding:0 .1rem;}
.item .info p.note a span {color: #999;}
.info-item dd {color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.item .o{padding: 0 .2rem .2rem .2rem;}
.item .o a { padding: .02rem .08rem 0 .4rem; border-radius: .04rem; margin-right: .2rem; color: #333; font-size: .24rem; float: right;}
.item .o a.t {color: #999;}
.item .o a.edit{background: url(../images/edit.png) center left no-repeat; background-size: .28rem auto;}
.item .o a.del{background: url(../images/del.png) center left no-repeat; background-size: .35rem auto;}
.item .o a.bid{background: url(../images/bid.png) center left no-repeat; background-size: .36rem auto;}
.item .o a.follow{background: url(../images/follow.png) center left no-repeat; background-size: .36rem auto;}
.loading{text-align: center; line-height: 1rem;}
.loading img {vertical-align: middle;}


/*发私信*/
.txt{
     width: 5rem;
    height: 6rem;
    position: fixed;
    background: #fff;
    top: 20%;
    z-index: 1000000;
    left: 50%;
    margin-left: -2.45rem;
    display: none;
    border: 1px solid #eee;
    border-radius: 0.1rem;
}
.txt p{
	background: url(../images/cha.png) center center no-repeat;
	background-size: 0.35rem;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
}
.txt .shuru{
    width: 4rem;
    height: 3.8rem;
    margin: 0.2rem auto;
    background: #e4e4e4;
    border-radius: 0.1rem;
    font-size: 0.25rem;
    box-shadow: inset 3px 3px 6px rgb(195, 195, 195);
    text-indent: 0.1rem;
    padding-top: 0.1rem;
}
.txt  a{
    display: block;
    margin: 0 auto;
    font-size: 0.3rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 0.06rem;
    -webkit-border-radius: 0.06rem;
    border-radius: 0.06rem;
    overflow: hidden;
    background: #ff6400;
    width: 2.5rem;
    margin-top: 0.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
}
.txt h1{
	text-align: center;
	font-size: 0.3rem;
	margin-top: 0.2rem;
}
.disk{
    position: fixed;
    display: none;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
}

