body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;}
body.show {opacity:1;}
html{background: #f5f5f5;}
i,em{font-style: normal;}

/*发布列表*/
.list{background: #fff; border-bottom: 1px solid #f4f4f4; display: none;}
.list ul{padding: 0 .2rem; }
.list:first-child{display: block;}
.list li a{display: -webkit-box;}
.list li .icon{display: block; width: 1rem; height: 1rem; margin-left: .1rem;}
.list li .icon1{background: url(../images/fa1.png) left center no-repeat; background-size: .5rem;}
.list li .icon2{background: url(../images/fa2.png) left center no-repeat; background-size: .5rem;}
.list li .icon3{background: url(../images/fa1.png) left center no-repeat; background-size: .5rem;}
.list li .icon4{background: url(../images/fa2.png) left center no-repeat; background-size: .5rem;}
.list li .icon5{background: url(../images/fa1.png) left center no-repeat; background-size: .5rem;}
.list li .title{-webkit-box-flex: 1; border-bottom: 1px solid #f4f4f4; font-size: .3rem; line-height: 1rem;}
.list li .arrow{display: block; width: .2rem; height: 1rem; background: url(../images/right.png) center center no-repeat; background-size: .2rem auto;}
.model img{width: 100%;}


select{appearance:none; -moz-appearance:none; -webkit-appearance:none; border: 0; outline: 0; background: transparent; margin-right: .2rem;}
input{-webkit-appearance: none;}
::-webkit-input-placeholder {color:#b3b6be;}
:-moz-placeholder {color:#b3b6be;}
::-moz-placeholder {color:#b3b6be;}
:-ms-input-placeholder {color:#b3b6be;}



/*.flist{background: #fff;}*/
.ml4r{background: #fff; padding-left: .4rem;}
.inptitbox p{margin-left: .4rem; padding: .15rem 0; font-size: .28rem; color: #aaa;}
.inptitle input{width: 100%; border: 0; outline: 0; padding: .25rem 0; font-size: .28rem; text-indent: 0.4rem; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.inpbox{font-size: .3rem; border-bottom: 1px solid #e5e5e5; width: 100%; line-height: .65rem; background: #fff;}
.gz-addr-seladdr{padding: .2rem 0;}
.inpbox dt{width: 1.6rem; color: #83868f; float: left;}
.inpbox dt label{display: block;}
.inpbox dt span{color: #333; display: block; padding: .2rem 0 .2rem .4rem;}
.ml4r .inpbox dt span{padding: .2rem 0 .2rem 0;}
.ml4r .gz-addr-seladdr dt span{padding: 0;}
.inpbox dd{position: relative; padding-right: .4rem; font-size: .26rem; overflow: hidden;}
.inpbox dd.selgroup{text-align: right;}
.inpbox dd.selgroup p{text-align: right; background: url(../images/gz_select.png) center right no-repeat; background-size: .22rem; padding-right: .32rem;}
.inpbox dd input{width: 100%; border: 0; outline: 0; padding: .35rem .4rem .3rem 0; text-align: right; display: block;}
.inpbox dd .flexbox{color: #b3b6be;}
.inpbox dd .shortinp input{width: 1.6rem; border: 1px solid #f4f4f4; margin: 0 .1rem; height: .5rem; text-indent: .1rem;}
.inpbox dd .unit{position: absolute; right: .4rem; color: #b3b6be; top: 0;}
.inpbox .facility li{display: inline; padding: 0 .1rem; margin: 0 .1rem .2rem 0; color: #83868f; border: 1px solid #e3e7ed; border-radius: .04rem; white-space: nowrap;}
.inpbox .facility li.on{border: 1px solid #129bf0; color: #129bf0;}
.inpbox dd .textarea{width: 100%; height: 2rem; padding-top: .1rem; border: 0; outline: 0;}
.inpbox dd .radioBox a{display: inline-block; height: .6rem; margin-right: .4rem; color: #0c0d0e;}
.inpbox dd .radioBox a:before{content: ""; width: .32rem; height: .32rem; background: url(../images/radio2.png) center center no-repeat; background-size: contain; display: inline-block; vertical-align: -0.06rem; margin-right: .1rem;}
.inpbox dd .radioBox a.active:before{background-image: url(../images/radio1.png);}
.inpbox dd .code{position: absolute; right: .4rem; top: .2rem; height: .6rem; width: 1.8rem;}
.inpbox dd .area2{display: none;}
.autocomplete-suggestions{background: #fff; margin-top: .2rem; border: 1px solid #f4f4f4; box-shadow: 0px 6px 10px 4px rgba(0,0,0,0.3);}
.autocomplete-suggestions .autocomplete-suggestion{font-size: .26rem; line-height: .65rem; color: #b3b6be; text-indent: .2rem;}
.autocomplete-selected{background: #f0f0f0;}
select.w100{width: 100%;}
select.w30{width: 30%;}
.community-addr{display: none;}
.mb4r{margin-bottom: .4rem;}
.mb4r .inpbox{border-bottom: none;}
.btop{border-top: 1px solid #e5e5e5;}
.bbottom{border-bottom: 1px solid #e5e5e5;}
#vdimgck{width: 3.5rem;}

/*多行文本*/
.mulinpbox .multit{margin-left: .4rem; padding: .15rem 0; font-size: .28rem; color: #aaa;}
.mulinpbox .mulcon{width: 100%; background: #fff; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;}
.mulinpbox .mulcon textarea{display: block; width: 100%; padding: 0.3rem .4rem; box-sizing: border-box; min-height: 2.5rem; border: 0; outline: 0; background: transparent; font-size: .28rem;}

/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.submit{padding: 20px 14px; background: #f5f5f5;}
.submit a{display: block; width: 100%; height: 0.8rem; line-height: 0.8rem; background: #129bf0; color: #fff; border-radius: .04rem; text-align: center; font-size: .3rem;}

.sel-group .unit{background: url(../images/down.png) right center no-repeat; background-size: .25rem auto; width: .3rem; height: .6rem;}
.area1, .area2{background: url(../images/down.png) right center no-repeat; background-size: .25rem auto; margin-right: .4rem;}
