
body, html{background: #f5f5f5;}

select{appearance:none; -moz-appearance:none; -webkit-appearance:none; border: 0; outline: 0; background: transparent;}
input{-webkit-appearance: none; background: #fff;}
::-webkit-input-placeholder {color:#b3b6be;}
:-moz-placeholder {color:#b3b6be;}
::-moz-placeholder {color:#b3b6be;}
:-ms-input-placeholder {color:#b3b6be;}

.ml4r{background: #fff; padding-left: .4rem;}
#itemList{margin-bottom: .4rem;}
#itemList .ml4r:first-child{border-top: 1px solid #e5e5e5;}
#itemList .ml4r:last-child{border-bottom: 1px solid #e5e5e5;}
#itemList .ml4r:last-child .inpbox{border-bottom: none;}
#itemList .ml4r:last-child .dom_select{border-bottom: none;}
.inptitbox p{margin-left: .4rem; padding: .15rem 0; font-size: .28rem; color: #aaa;}
.inptitle input{width: 100%; border: 0; outline: 0; padding: .25rem 0; font-size: .28rem; text-indent: 0.4rem; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.inpbox{font-size: .3rem; border-bottom: 1px solid #e5e5e5; width: 100%; line-height: .65rem; background: #fff;}
.bbottom .inpbox{border-bottom: none;}
.gz-addr-seladdr{padding: .2rem 0;}
.inpbox dt{width: 1.6rem; color: #83868f; float: left;}
.inpbox dt label{display: block;}
.inpbox dt span{color: #333; display: block; padding: .2rem 0 .2rem .4rem;}
.ml4r .inpbox dt span{padding: .2rem 0 .2rem 0;}
.ml4r .gz-addr-seladdr dt span{padding: 0;}
.inpbox dd{position: relative; padding-right: .4rem; font-size: .26rem; overflow: hidden;}
.inpbox dd.selgroup{text-align: right;}
.inpbox dd.selgroup p{text-align: right; background: url(../images/gz_select.png) center right no-repeat; background-size: .22rem; padding-right: .32rem;}
.inpbox dd input{width: 100%; border: 0; outline: 0; padding: .35rem .4rem .3rem 0; text-align: right; display: block; position: relative;}
.inpbox dd .flexbox{color: #b3b6be;}
.inpbox dd .shortinp{position: relative;}
.inpbox dd .shortinp input{width: 1.45rem; margin: 0 .3rem;}
.inpbox dd .shortinp1 .unit_br{right: .2rem;}
.inpbox dd .shortinp2 .unit_br{right: -.2rem;}


.inpbox .facility li{display: inline; padding: 0 .1rem; margin: 0 .1rem .2rem 0; color: #83868f; border: 1px solid #e3e7ed; border-radius: .04rem; white-space: nowrap;}
.inpbox .facility li.on{border: 1px solid #129bf0; color: #129bf0;}
.inpbox dd .textarea{width: 100%; height: 2rem; padding-top: .1rem; border: 0; outline: 0;}
.inpbox dd .radioBox{padding: .2rem 0;}
.inpbox dd .radioBox label{position: relative; float: right; margin-left: .4rem;}
.inpbox dd .radioBox a{display: inline-block; height: .6rem; color: #0c0d0e; padding-left: .15rem;}
/*.inpbox dd .radioBox a:before{content: ""; width: .32rem; height: .32rem; background: url(../images/radio2.png) center center no-repeat; background-size: contain; display: inline-block; vertical-align: -0.06rem; margin-right: .1rem;}
.inpbox dd .radioBox a.active:before{background-image: url(../images/radio1.png);}*/
.check-left{float: left;}
.check-left input[type=radio]{position: absolute;top: 0;left: 0;margin: 0;opacity: 0;z-index: 9;width: 100%;height: 100%;-webkit-appearance: none;}
.checkbox-icon-round {position: relative;display: block;width: .4rem;height: .4rem;border-radius: .4rem;background: #fff;-webkit-transition: background .1s;transition: background .1s;border: 1px solid #ddd; top: .1rem;}
input:checked+.checkbox-icon-round {background: #129bf0;border-color: #129bf0;background-clip: padding-box;}
.checkbox-icon-round:after{position: absolute;content: "";top: .06rem;right: .12rem;width: .12rem;height: .2rem;border: solid #fff;border-width: 0 .04rem .04rem 0;-webkit-transform: rotate(45deg) scale(0);transform: rotate(45deg) scale(0);-webkit-transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s,-webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;}
input:checked+.checkbox-icon-round:after{-webkit-transform: rotate(45deg) scale(1);transform: rotate(45deg) scale(1);}



.inpbox dd .code{position: absolute; right: .4rem; top: .2rem; height: .6rem; width: 1.8rem;}
.inpbox dd .area2{display: none;}
.autocomplete-suggestions{background: #fff; border: 1px solid #f4f4f4; display: none;}
.autocomplete-suggestions .autocomplete-suggestion{font-size: .26rem; line-height: .65rem; color: #b3b6be; text-indent: .2rem;}
.autocomplete-selected{background: #f0f0f0;}
/*.community-addr{display: none;}*/
.mb4r{margin-bottom: .4rem;}
.mb4r .inpbox{border-bottom: none;}
.btop{border-top: 1px solid #e5e5e5;}
.bbottom{border-bottom: 1px solid #e5e5e5;}
#vdimgck{width: 3.5rem;}
.dom_select{position: relative; font-size: .3rem; border-bottom: 1px solid #e5e5e5; width: 100%; line-height: .65rem; background: #fff; overflow: hidden;}
.dom_select label{width: 1.6rem; padding: .2rem 0 .2rem 0; float: left;}
.dom_select input{position: relative; font-size: .26rem; border: 0; outline: 0; padding: .35rem .4rem .3rem 0; width: 5.1rem; text-align: right; right: .4rem;}
.short_select{position: relative; width: 1.1rem; float: left; margin-right: .6rem;}
.right_icon{position: absolute; background: url(../images/right_icon.png) center center no-repeat; background-size: .3rem auto; top: .35rem; right: .4rem; display: block; width: .4rem; height: .4rem;}
.sharetype{display: none;}

/*多选样式*/
.checkbox{background: #fff;}
.checkbox p{padding: 0.2rem 0; border-bottom: 1px solid #e5e5e5; font-size: .3rem;}
.checkbox .facility{padding: .1rem 0 .4rem 0;}
.checkbox .facility li{min-width: 1rem; float: left; text-align: center; font-size: .28rem; background: #f2f2f2; margin-top: .2rem; margin-right: .2rem; padding: .05rem .1rem; color: #666;border-radius: .04rem;}
.checkbox .facility li.on{background: #129bf0; color: #fff;}

/*单位样式*/
.unit_br{position: absolute; right: .4rem; top: 0.4rem; font-size: .22rem; border: 1px solid #e5e5e5; line-height: 1; color: #aaa; padding: .02rem .08rem; border-radius: .04rem;}
.unit_box.inpbox dd{padding-right: .95rem;}
.short_select .unit_br{right: -.6rem;}

/*多行文本*/
.mulinpbox .multit{margin-left: .4rem; padding: .15rem 0; font-size: .28rem; color: #aaa;}
.mulinpbox .mulcon{width: 100%; background: #fff; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;}
.mulinpbox .mulcon textarea{display: block; width: 100%; padding: 0.3rem .4rem; box-sizing: border-box; min-height: 2.5rem; border: 0; outline: 0; background: transparent; font-size: .28rem;}


/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.submit{padding: 20px 14px; background: #f4f4f4;}
.submit a{display: block; width: 100%; height: 0.8rem; line-height: 0.8rem; background: #129bf0; color: #fff; border-radius: .04rem; text-align: center; font-size: .3rem;}

.sel-group .unit{background: url(../images/down.png) right center no-repeat; background-size: .25rem auto; width: .3rem; height: .6rem;}
.area1, .area2{background: url(../images/down.png) right center no-repeat; background-size: .25rem auto; margin-right: .4rem;}

input[type=date] {background-color:transparent; FILTER: alpha(opacity=0); appearance:none; -moz-appearance:none; -webkit-appearance:none;}
