html{background: #f4f4f4;}
.header{z-index: 1;}

/*图片上传*/
.kong{clear: both;}
.ml4r {background: #fff;padding-left: .4rem;overflow: hidden;}
.img_box .tit{font-size: .3rem;padding-bottom: .3rem;}
.img_box{padding:.3rem; margin-bottom: .2rem;background: #fff;}
.img_box h3{padding: .3rem 0;font-size: .3rem;}
.img_box h3 em{ color: #333;padding:0 .2rem;}
.img_box h3 i{color: #3c7eef;}
.img_box li{width: 1.42rem; height: 1.42rem; border-radius: .08rem; background-color: #f8f8f8; float: left; position: relative; margin-bottom: .2rem;border: 1px solid #e5e5e5;}
.img_box li{margin-right: .3rem;}
.img_box li:nth-child(4n){margin-right: 0;}
.img_show {width: 1.42rem; height: 1.42rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{width: .32rem; height: .32rem; border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.1rem; right: -.1rem; color: #fff; font-size: .4rem; text-align: center;  font-style: normal; line-height: .24rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .22rem; color: #a2a4ab; text-align: center;width: 1.1rem; margin: auto; line-height: 1.25em;}
.upload_btn img,.addbtn img{width: .5rem; height: .5rem; margin: .3rem auto .1rem; display: block; }
.upload_btn input{width: 1.42rem; height: 1.42rem;position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 1.38rem; height: 1.38rem;}

/*上传视频*/
.uploadVideo{margin-bottom: .2rem;background: #fff;}
.uploadVideo .tit{font-size: .3rem;padding: .3rem .3rem 0;}
.uploadVideo ul {padding-right: .4rem;text-align: center;display:inline-block;display: -webkit-box;overflow-x: auto;overflow-y: hidden;}
.uploadVideo ul li {position: relative;width:3.2rem;min-width:2rem;height:2.3rem;-webkit-box-flex: 1;margin:.2rem .2rem 0 0;background-color: rgba(0,0,0,.5);border-radius:3px;}
.uploadVideo ul li:last-child {margin-right: 0;}
.uploadVideo ul li video {width:100%;height:100%;}
.uploadVideo ul li .cancel {position: absolute;right:0;top:0;display: block;height:.35rem;line-height: .35rem;padding: 0 .3rem;background-color: rgba(0,0,0,.7);background-image: url('../images/cancel.png');background-repeat: no-repeat;background-position: center;background-size: .25rem;z-index: 2;}
.uploadVideo ul li.complete .cancel {background-image: url('../images/del_white.png');}
.uploadVideo ul li .player {position: absolute;left:50%;top:50%;transform:translate(-50%, -50%);display: block;width:.7rem;height:.7rem;line-height: .35rem;background-image: url('../images/player.png');background-repeat: no-repeat;background-position: center;background-size: .7rem;}
.uploadVideo ul li .player.ing {left:0;top:0;width:100%;height:100%;transform:translate(0, 0);background-image:none;}
.uploadVideo ul li .info {position: absolute;left:0;right:0;bottom:0;padding:0 .2rem;height:.4rem;line-height: .4rem;color: #e3e3e1;font-size: .24rem;background-color: rgba(0,0,0,.3);}
.uploadVideo ul li .info .time {float: right;}
.uploadVideo ul li .progress {position: absolute;left:0;bottom:0;right:0;height:.07rem;background: #ededed;}
.uploadVideo ul li .progress span {position: absolute;left:0;bottom:0;height:.07rem;background: #e56d5c;}

.uploadVideo .upwrap {background-color: #fff;padding:.5rem .4rem;text-align: center;}
.uploadVideo .upwrap .btn {position: relative;display: inline-block;padding:.2rem 1.1rem;border:1px solid #eee;border-radius:4px;}
.uploadVideo .upwrap span {display: inline-block;padding-left: .5rem;background:url('../images/add_2.png') no-repeat left center;background-size: .4rem;color: #7c7c7c;}

.uploadVideo .webuploader-pick {font-size: inherit;}
.uploadVideo .webuploader-container div {width:inherit;height:inherit;line-height: inherit;color:inherit;}


/*基本信息*/
.info{background: #fff;margin-bottom: .2rem;}
.info li{border-bottom: 1px solid #e5e5e5;padding: .3rem;font-size: .3rem;color: #45464f;position: relative;}
.info li .name{float: left;}
.info li input{float: right;text-align: right;border: 0;}
.info li input::placeholder{color: #a6a6a6; }
.info li .choose{float: right;}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/car/icon_next.png") no-repeat;background-size: contain;    margin: 0px 1px 2px 0;}
.info li .un{margin: -2px 1px 0px 7px;}
.info li:nth-last-child(1){border: none;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}
.gz-addr-seladdr dd{padding-right: .25rem;}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}
.gz-addr-seladdr dd:after{ width: .2rem !important; height: .2rem !important; border-right: solid .02rem #c8c9cc; border-top: solid .02rem #c8c9cc; transform: rotate(45deg); margin-top: -.08rem !important; }
.gz-addr-seladdr p{margin-top: .1rem;}
.type_car:before{float: right; content: '';width: .2rem; height: .2rem; border-right: solid .02rem #c8c9cc; border-top: solid .02rem #c8c9cc; transform: rotate(45deg); margin-top: .08rem; }
.describe{border: 0;margin: .2rem 0;padding: 0;background: #fff;}
.describe .tit{padding: .3rem;font-size: .3rem;border-bottom: 1px solid #e5e5e5;}
.describe .con{color: #a6a6a6;font-size: .3rem;padding: .3rem;height: 2.12rem;box-sizing: border-box;}
.describe .con textarea{width: 100%;height: 100%;border: 0;resize:none;font-family:"Microsoft YaHei"}
.describe .con textarea::-webkit-input-placeholder{color: #a6a6a6;font-size: .3rem;font-family:"Microsoft YaHei"}

.btn-box{height: 3rem;text-align: center;line-height: 3rem;}
.btn-box .btn-keep{display:inline-block;width: 7.06rem;height: .8rem;color:#fff;line-height:.8rem;font-size:.3rem;border-radius:.08rem;
 background: -webkit-linear-gradient(left, #f8a91f , #f46a0d); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f8a91f , #f46a0d); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f8a91f , #f46a0d); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f8a91f , #f46a0d); /* 标准的语法 */
 box-shadow: 0 .14rem .46rem rgba(245,119,17,.44);
}
.info li.permission{display: none;}
/*选择分类*/

.chosetype ul:after{content: ''; display: block; clear: both;}
.chosetype ul li{padding: 0 .2rem; float: left; text-align: center; color: #333; margin-right: .16rem; height: .6rem; font-size: .26rem; border-radius: .3rem; margin-top: .16rem; box-sizing: border-box; border:solid .01rem #dcdcdc; line-height: .6rem;}
.chosetype ul li>i{ display: inline-block; width: .2rem; height: .2rem; background-image: url(../images/travel/cha.png); background-repeat: no-repeat; background-size: contain; margin-left: .2rem;}

/*商家介绍*/
.container dl.intro,.chosetype{background-color: #fff !important; padding:.3rem; margin-bottom: .2rem;}
.container dl.intro dt,.chosetype h2{font-size: .3rem; color: #333 ;  }
.container dl.intro dd textarea{width: 100%; font-size: .3rem; height: 1.5rem; border: none; padding: .2rem 0;}

.info,dl.intro,.chosetype,.store-imgs,.uploadVideo{box-shadow: 0 .01rem .01rem rgba(213,213,213,.44);}


/*单选框*/

.radioBox{float: left; font-size: .3rem; color: #999aa1; }
.right_value .active{float: right;  position: relative; margin-left: .3rem;}
/*.right_value .active:nth-child(2){margin: 0;}*/
 .check_left span{display: block; width: .36rem; height: .36rem; border-radius: 50%; border: solid 1px #dfe0e5 ; background-color: #f5f5f5; margin-right: .14rem;}
 .chose_btn .check_left span:after{content: ''; display: block; width: .16rem; height: .16rem; border-radius: 50%; background-color: #f57a12; margin: auto; margin-top: .1rem;}
 .chose_btn .check_left span{background-color: #fff; border:solid 1px #f57a12;}
.check_left{float: left; overflow: hidden;}
.check_left input{position: absolute; width: 100%; height: 100%; opacity: 0;}
.right_value .active a{float: right; }
.result_val{float: right; color: #333; margin-left:.1rem ; margin-left: .4rem; }
.right_value{float: right; color: #999aa1; font-size: .3rem;}
.room-price i{ float: right; color: #a0a0a0; vertical-align: middle; margin-left: .1rem; line-height: 1.2em;}

/*酒店特色*/
.add_feature .add_btn ,.intro .add_btn { text-align: center; line-height: .8rem; background-color: #feedd1; color: #f8a81f; border-radius: .08rem; border: dashed .01rem #f8a81f; display: block; font-size: .3rem; margin-top: .56rem;}
.add_feature input{border: none ; background: none; max-width: 1.2rem; width: auto; text-align: center;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*房间信息*/
.room_list{margin-top: .3rem;}
.room_list .room_info{background-color: #f8f8f8; padding: .28rem 0; border-radius: .08rem; border: solid .01rem #e5e5e5; padding-left: .3rem; padding-right: .2rem; margin-bottom: .2rem;}
.room_list .room_info:after{content: ''; display: block; clear: both;}
.room_list .room_info ._left{float: left; }
.room_list .room_info ._left h3{color: #333; font-size: .28rem; margin-bottom: .14rem;}
.room_list .room_info ._left p{color: #a0a0a0; font-size: .245rem;}
.room_list .room_info ._left p span{margin-right: .2rem; }
.room_list .room_info ._right{float: right;}
.room_list .room_info ._right .price{color: #f53111; font-size: .24rem; vertical-align: middle; margin-right: 1rem; line-height: .8rem;}
.room_list .room_info ._right .price em{font-weight: bold; font-size: .3rem;}
.room_list .room_info ._right a{display: inline-block; width: .36rem; height: .36rem; border-radius: 50%; background-color: #b2b2b2; background-image: url(../images/travel/cha_0.png); background-size: contain; background-repeat: no-repeat; vertical-align: middle;} 
dd.info{box-shadow: none;}
.intro .add_btn {margin-top: 0.2rem;}

/*侧边显示车型*/

/*类别*/
.aside{position: fixed;top: 0;right: 0;width: 83%;height: 100%;-webkit-transition: all 0.5s; transition: all 0.5s;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);background: #fff;box-sizing: border-box;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d;z-index: 100002;}
.mask_car {position: fixed;left: 0;top: 0;width: 100%;height: 100%;transition: all 0.5s;background: rgba(0,0,0,0.7);opacity: 1;z-index: 100001;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d;}
.show{transform: translate3d(0, 0, 0);}
.mask-hide{display: none;}
.nav-final{ position: relative;height:.9rem;line-height:.9rem;font-size: .36rem;border-bottom: 1px solid #eaedef;box-sizing: border-box;z-index: 10000;background-color: #fff;}
.nav-final p{text-align: center;height:.9rem;line-height:.9rem;font-size: .36rem;color: #222c38;text-align: center;}
.nav-final .back {display: table-cell;height: .9rem;width: 1rem;position: absolute;top: 0;left: 0;font-size: .875rem;vertical-align: middle;background: url("../images/header_back.png") center center no-repeat;background-size: auto .48rem;}

/*品牌*/
.block-brand{height: 100%;background: #fff;}
.aside .jump-tag{position: absolute;top: 9.5%;right: 0;display: inline-block;width: .56rem;color: #a0a0a0;font-size: .27rem;height: 95%;z-index: 10000000;}
.aside .jump-tag .jump-li{display: block;text-align: center;height: .56rem;}
.aside .jump-tag .jump-li a{color: #a0a0a0;}
.aside .aside-main {position: relative;height: 100%;overflow: auto;-webkit-overflow-scrolling: touch;box-sizing: border-box;padding-bottom: 5.976656rem;}
.block-brand .aside-main h3.tt{background: none;padding: .36rem .36rem;font-size: .34rem;color: #333;}
.block-brand .list-brand, .block-cartype .list-brand {padding: 0 .36rem;}
.list-brand li {display: block;width: 20%;float: left;margin-bottom: .45rem;box-sizing:border-box;padding: 0 .1rem;}
.list-brand a {display: block;color: #333;font-size: .27rem;text-align: center;overflow: hidden;}
.list-brand a span{display: block;text-align: center;}
.list-brand li span.brand_icon{width: .8rem;height: .8rem;line-height: .8rem;}
.list-brand a span img{width: 100%;display: inline-block;}
.block-brand h3, .block-cartype h3 ,.block-area h3{background: #f8f8f8;height: .66rem;line-height: .66rem;padding: 0 .32rem;font-size: .30rem;color: #6e6e6e;}
.block-brand .list-line{margin-left: .32rem;}
.block-brand .list-line li {position: relative;padding: .14rem 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: .78rem;font-size: .32rem;color: #333;}
.block-brand .list-line li:before{content: "";position: absolute;width: 100%;height: 1px;background-color: #f3f3f3;bottom: 0;}
.block-brand .list-line li img {width: .78rem;height: .78rem;vertical-align: top;margin-right: .32rem;box-sizing: border-box;}

.list-line{padding-left: .32rem;}
.list-line li {position: relative;padding: .14rem 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: .78rem;font-size: .32rem;color: #333;}
.list-line li:before {content: "";position: absolute;width: 100%;height: 1px;background-color: #f3f3f3;bottom: 0;}
.list-line li img {width: .78rem;height: .78rem;vertical-align: top;margin-right: .32rem;box-sizing: border-box;}

.hide{display: none;}
.cartype-sub .aside-main{overflow: auto;background: #f5f5f5;}
.cartype-sub .tt{border-bottom: 1px solid #e9e9e9;padding: .3rem .32rem;font-size: .34rem;font-weight: 400;margin-top: .2rem;background: #fff;}
.cartype-sub .tt i{display: inline-block;width: .34rem;height: .2rem;background: url("../images/travel/icon_up_02.png") no-repeat;background-size: contain;margin: 0 0 -1px 2px;}
.cartype-sub .curr i{display: inline-block;width: .34rem;height: .2rem;background: url("../images/travel/icon_up.png") no-repeat;background-size: contain;margin: 0 0 -1px 2px;}
.cartype-sub .list-line{background: #fff;}

.gz-sel-addr-mask{bottom: 0 !important; }
/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.6) !important; border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30% !important; margin-top: -.2rem;}
