

a:hover{text-decoration: none;}


/*申请退款*/
.layer{position: fixed; top: 0; bottom: 0; left: 100%; right: 0; background: #fff; z-index: 999; }
.layer.show{display: block;}
.layer .top{height: 1rem; background: #129bf0; color: #fff; line-height: 1rem; font-size: .3rem; border-bottom: 1px solid #41aff3; display: -webkit-box;}
.layer .top-l{position: relative;}
.layer .top-l a{color: #fff; padding-left: .5rem;}
.layer .top-l a:before{content: ''; position: absolute; top: 50%; left: 10px; border: 2px solid #fff; border-width: 2px 0 0 2px; width: 8px; height: 8px; margin: -5px 0 0 0; -webkit-transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0); transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0);}
.layer .top-r{width: 1.1rem;}
.layer .top-c{-webkit-box-flex: 1; text-align: center;}


/*2019-3-28新写样式*/
/*派单*/
.dispatch{position:fixed;right:.3rem;bottom:1.43rem;z-index:9;width: .8rem;height: .8rem;line-height: .8rem;background-image: -moz-linear-gradient( 0deg, rgb(255,162,86) 0%, rgb(255,120,67) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,162,86) 0%, rgb(255,120,67) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,162,86) 0%, rgb(255,120,67) 100%);
  box-shadow: 0px 5px 11px 0px rgba(251, 100, 80, 0.57);border-radius: 50%;color: #fff;font-size: .26rem;text-align: center;}

.huoniao_iOS .jz_data {margin-top: .95rem}
/*页面内容*/
.jz_data {margin-top: 1.95rem}
.jz_data ul{padding: 0 .2rem .2rem;background: #edeef2}
.jz_data li{background: #fff;padding: 0 .23rem .2rem;border-radius: .12rem;margin-bottom: .2rem;}

.jz_order_company{height: .7rem;line-height: .7rem;border-bottom: 1px solid #dcdde3;font-size: .24rem;color: #404040}

.jz_order_company span{color: #404040;}
.jz_order_company .jz_order_type{float: right;font-size: .26rem;color: #f9412e;}
.content_top{margin-top: .3rem;position: relative;}
.courier{width: .92rem;height: .34rem;line-height: .34rem;text-align: center;border-radius: .04rem;color: #fff;background: #42444f;position: absolute;top: 0;left: 0;font-size: .24rem}
.content_top .left_b{width: 1.6rem;height: 1.6rem;float: left}
.content_top .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: .04rem}
.content_top .right_b{margin-left:1.84rem;}
.right_b .jz_order_title{font-size: .28rem;color: #404040;max-width: 4.8rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.right_b .jz_order_time{font-size: .26rem;color: #8f8f8f;margin-top: .15rem}
.right_b .jz_order_price{margin-top: .2rem}
.right_b .jz_order_price span:first-child{font-size: .24rem;color: #f9412e;font-weight: bold}
.right_b .jz_order_price span:nth-child(2){font-size: .32rem;color: #f9412e;font-weight: bold;margin-right: .17rem}
.right_b .jz_order_price span:last-child{font-size: .24rem;color: #fff;height: .34rem;line-height: .34rem;border-radius: .04rem;padding: 0 .1rem;background: #ff674e}
.content_bottom{margin-top: .17rem;float: right;}
.content_bottom span{display: inline-block;width: 1.5rem;height: .52rem;line-height: .52rem;text-align: center;border-radius: .26rem;border: 1px solid #c0c1c4;font-size: .24rem;color: #404040;margin-left: .3rem}
.content_bottom .sale_treat {    border: 1px solid #c0c1c4!important;}

.jz_order_free{margin-top: .2rem}

.content_bottom .jz_pay{background: #fa6352;border-color: #fa6352;color: #fff}
.content_bottom .contact_com{background: #fa6352;border-color: #fa6352;color: #fff}
.content_bottom .service_code{color: #fa6352;background: #fff;border-color: #fa6352;}
.content_bottom .contact_buyer{background: #fa6352;border-color: #fa6352;color: #fff}
.content_bottom .confirm_service{color: #fa6352;background: #fff;border-color: #fa6352;}
.right_b .jz_order_allpay{margin-top: .2rem}
.right_b .jz_order_allpay span:first-child{font-size: .24rem;color: #f9412e;font-weight: bold}
.right_b .jz_order_allpay span:nth-child(2){font-size: .32rem;color: #f9412e;font-weight: bold;margin-right: .17rem}



/*免预约*/
.right_b .jz_order_free span{font-size: .24rem;color: #fff;height: .34rem;line-height: .34rem;border-radius: .04rem;padding: 0 .1rem;background: #ff674e}

/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.submit{padding: 20px 14px;}
.submit a{display: block; width: 100%; height: .7rem; line-height: .7rem; background: #df3031; color: #fff; border-radius: .04rem; text-align: center; font-size: .28rem;}

.delivery {padding:0 .2rem;}
.youhuiInfo {padding: 0 .2rem;font-size: .3rem;color: #f60;}
.youhuiInfo p, .delivery p {margin-bottom: .2rem;}
.youhuiInfo p span, .delivery p span {float: right;}


.empty {padding:.2rem;text-align: center;}



/*删除订单弹出层*/
.alert_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.alert_tip .alert_content{position: fixed; left: 50%; margin-left: -2.2rem; top: 50%; margin-top: -1.2rem; width: 4.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.alert_tip .alert_content p{height: 1.5rem;line-height: 1.5rem;text-align: center;font-size: .3rem;color: #38383b}
.alert_tip .alert_content ul{border-top: 1px solid #dcdde0;font-size: 0;}
.alert_tip .alert_content ul li{display: inline-block;color: #4a7aff;font-size: .32rem;height: .9rem;line-height: .9rem;width: 49%;text-align: center;}
.alert_tip .alert_content ul li.active{background: #f2f3f7;}
.alert_tip .alert_content ul .cancel_order1{border-right: 1px solid #dcdde0}

/*验证成功*/
.confirm_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.confirm_tip .confirm_content{position: fixed; left: 50%; margin-left: -3.3rem; top: 50%; margin-top: -2.2rem; width: 6.6rem; background-color:#fff; border-radius: .16rem; z-index: 9999;    overflow: hidden;padding: .3rem .3rem .7rem .4rem;box-sizing: border-box;}
.confirm_content .work_close{width: .3rem;height: .3rem;float: right}
.m-box{width:1rem;height:1rem;position:relative;margin:.4rem auto 0;background:#51d26f;border-radius:50%;}
.m-duigou{width:.5rem;height:.3rem;position:absolute;left:50%;top:50%;margin:-.2rem 0 0 -.25rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);overflow:hidden}
.m-duigou:before,.m-duigou:after{content:"";position:absolute;background:#fff;border-radius:2px}
.m-duigou:before{width:.08rem;height:.3rem;left:0;-webkit-animation:dgLeft 0.3s linear 0s 1 both;animation:dgLeft 0.3s linear 0s 1 both}
.m-duigou:after{width:.5rem;height:.08rem;bottom:0;-webkit-animation:dgRight 0.3s linear 0.5s 1 both;animation:dgRight 0.3s linear 0.3s 1 both}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgLeft{0%{top:-100%}100%{top:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
@-webkit-keyframes dgRight{0%{left:-100%}100%{left:0%}}
.confirm_tip .confirm_content p{text-align: center;}
.confirm_tip .confirm_content p.t1{font-size: .3rem;color: #333;    margin-top: .34rem;font-weight: bold;}
.confirm_tip .confirm_content p.t2{font-size: .3rem;color: #333;font-weight: bold; }
.confirm_tip .confirm_content p.t3{font-size: .3rem;color: #fff;font-weight: bold; border-radius: .1rem;width: 5.8rem;margin-top:.68rem;background-color: rgb(66, 68, 79); box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);height: .88rem;line-height: .88rem}

/*服务码*/
.company_code{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.company_code .company_code_content{position: fixed; left: 50%; margin-left: -3.3rem; top: 50%; margin-top: -2.2rem; width: 6.6rem; background-color:#fff; border-radius: .16rem; z-index: 9999;    overflow: hidden;padding: .3rem .3rem .95rem .4rem;box-sizing: border-box;}
.company_code_content .work_close{width: .3rem;height: .3rem;float: right}
.company_code .company_code_content p.t1{font-size: .3rem;color: #333;    margin-top: .34rem;font-weight: bold;}
.company_code .company_code_content p.t2{font-size: .3rem;color: #333;font-weight: bold; }
.company_code .company_code_content p.t3{font-size: .3rem;color: #fff;font-weight: bold;text-align: center; border-radius: .1rem;width: 5.8rem;margin-top:.5rem;background-color: rgb(66, 68, 79); box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);height: .88rem;line-height: .88rem}
.company_code .company_code_content input{box-sizing: border-box;width: 5.8rem;height: .8rem;margin-top:.5rem;border-radius: .04rem;font-size: .3rem;padding-left: .2rem;border: none;border: 1px solid #c0c1c4;}
.company_code .company_code_content input::placeholder{color: #a2a5ab;}
/*顾客已线上付款*/

.fuwu_alert2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none}
.fuwu_alert2 .alert_content2{position: fixed; left: 50%; margin-left: -2.3rem; top: 50%; margin-top: -2.2rem; width: 4.6rem;padding-bottom: .7rem ;background:url("../images/homemaking/fuwu_bg.png") no-repeat;background-size: 100% 100%; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.fuwu_alert2 .alert_content2 p{text-align: center;}
.fuwu_alert2 .alert_content2 p.t1{font-size: .32rem;color: #fff;    margin-top: .4rem;}
.fuwu_alert2 .alert_content2 p.t2{font-size: .4rem;color: #2244c6;    margin-top: 1rem;}
.fuwu_alert2 .alert_content2 p.t3{font-size: .26rem;color: #8a8c91; margin-top: .3rem;}
.fuwu_alert2 .alert_content2 p.t4{margin: .7rem auto 0;color: #3161d0;font-size: .3rem;height: .68rem; width: 2.8rem;line-height: .68rem;border-radius: .34rem;border: 1px solid #3161d0}
.fuwu_alert2 .alert_content2 p.t6{font-size: .3rem;color: #fff;margin: .28rem auto 0;height: .68rem; width: 2.8rem;line-height: .68rem;background-color: rgb(49, 97, 208);border-radius: .34rem}
/*确认有效弹出层*/
.use_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.use_tip .use_content{position: fixed; left: 50%; margin-left: -2.2rem; top: 50%; margin-top: -1.2rem; width: 4.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.use_tip .use_content p{height: 1.5rem;line-height: 1.5rem;text-align: center;font-size: .3rem;color: #38383b}
.use_tip .use_content ul{border-top: 1px solid #dcdde0;font-size: 0;}
.use_tip .use_content ul li{display: inline-block;color: #4a7aff;font-size: .32rem;height: .9rem;line-height: .9rem;width: 49%;text-align: center;}
.use_tip .use_content ul li.active{background: #f2f3f7;}
.use_tip .use_content ul .use1{border-right: 1px solid #dcdde0}
/*确认无效弹出层*/
.nouse_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.nouse_tip .nouse_content{position: fixed; left: 50%; margin-left: -3.2rem; top: 50%; margin-top: -2.2rem; width: 6.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;padding: .34rem .3rem .35rem;box-sizing: border-box;}
.nouse_note{border: 1px solid #d9dade;}
.nouse_note textarea{width: 100%;height: 3rem;border-radius: .04rem;font-size: .32rem;padding: .24rem .33rem;box-sizing: border-box;border: none;}
.nouse_note textarea::placeholder{color: #c4c4c4}
.nouse_content p{padding-left: .36rem;margin-top: .33rem}
.nouse_content p span{display:inline-block;border-radius: .06rem;height: .68rem;line-height: .68rem;width: 2.2rem;text-align: center;color: #fff}
.nouse_cancel{background: #bebfc4;margin-right: .7rem}
.nouse_sure{background: #71a0ff;}







