body, html{background: #f0f0f2; font-size: .28rem;}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
img{max-width: 100%}


.wrap{padding:0 .3rem;padding-bottom: calc(1.6rem + env(safe-area-inset-bottom));padding-bottom: calc(1. 6rem + constant(safe-area-inset-bottom));}
.wrap .cont_ul .fuwu_peo{padding:.32rem;margin-top: .2rem;background: #fff}
.wrap ul li .left_b{width: 1.4rem;height: 1.4rem;float: left;}
.wrap ul li .left_b img{width: 100%; height: 100%; object-fit: cover;border-radius: .04rem}
.wrap ul li .right_b{margin-left: 1.7rem}
.wrap ul li .right_b .peo_manage{height: .43rem;line-height: .43rem}
.wrap ul li .right_b .peo_manage .peo_name{font-size: .34rem;color: #28292b}
.wrap ul li .right_b .peo_manage .mana{font-size: .3rem;color: #45464f;float: right}
.wrap ul li .right_b .info{display: block;overflow:hidden;}
.wrap ul li .right_b .info li{float: left;height: .25rem;line-height: .25rem;font-size:.26rem;color: #a6a6a6;padding: 0 .2rem;border-left: 1px solid #828282;margin-top: .15rem;margin-bottom: .2rem;}
.wrap ul li .right_b .info li:first-child{padding-left: 0;border-left:0;}
.wrap ul li .right_b .info li .order_num{color: #3b3b3b;padding-left: .08rem}
.wrap ul li .right_b .tel{color: #ff5d2f;font-size: .32rem;font-weight: bold;width: 2.3rem} 
.wrap ul li .right_b a{display: inline-block;}
.wrap .cont_ul li.active{background: #fffaf7;border: 1px solid #ff733b}



.baomu_manage_footer{display:none;padding: .24rem;  position: fixed;left: 0;bottom: 0;box-sizing: border-box;width: 100%;background: #fff;padding-bottom: calc(.24rem + env(safe-area-inset-bottom));padding-bottom: calc(.24rem + constant(safe-area-inset-bottom));}
.baomu_manage_footer p{width:100%;border-radius:.08rem;background-image:-moz-linear-gradient( 0deg,rgb(255,108,55) 0%,rgb(255,154,79) 100%);background-image:-webkit-linear-gradient( 0deg,rgb(255,108,55) 0%,rgb(255,154,79) 100%);background-image:-ms-linear-gradient( 0deg,rgb(255,108,55) 0%,rgb(255,154,79) 100%);box-shadow:0px 5px 5px 0px rgba(255,133,68,0.31);height:.88rem;line-height:.88rem;color:#fff;font-size:.3rem;text-align:center;}
/*信息提示框*/
.alert_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none }
.alert_tip .alert_content{position: fixed; left: 50%; margin-left: -2.2rem; top: 50%; margin-top: -1.2rem; width: 4.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.alert_tip .alert_content p{height: 1.5rem;line-height: 1.5rem;text-align: center;font-size: .3rem;color: #38383b}
.alert_tip .alert_content ul{border-top: 1px solid #dcdde0;font-size: 0;}
.alert_tip .alert_content ul li{display: inline-block;color: #4a7aff;font-size: .32rem;height: .9rem;line-height: .9rem;width: 49%;text-align: center;}
.alert_tip .alert_content ul li.active{background: #f2f3f7;}
.alert_tip .alert_content ul .yes{border-right: 1px solid #dcdde0}

/*添加提示框*/
.add_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none }
.add_tip .add_content{position: fixed; left: 50%; margin-left: -2.8rem; top: 50%; margin-top: -3rem; box-sizing:border-box;width: 5.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;padding: .5rem .55rem .68rem}
.add_tip .add_content p{height: .55rem;font-size: .3rem;color: #333;font-weight: bold}
.add_tip .add_content form input{background:#fff;border: none;width: 100%;height: .8rem;line-height: .8rem;margin-top:.2rem;text-indent:.2rem;font-size: .3rem;color: #a2a5ab;border-radius: .04rem;border:1px solid #c0c1c4;}
.add_tip .add_content ul{margin-top: .5rem;font-size: 0}
.add_tip .add_content ul li{display: inline-block;color: #fff;font-size: .3rem;height: .8rem;line-height: .8rem;width: 2rem;text-align: center;border-radius: .1rem;}
.add_tip .add_content ul .cancel{background-color: rgb(66, 68, 79);opacity: 0.502; box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);}
.add_tip .add_content ul .confirm{background-color: rgb(66, 68, 79);box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);margin-left: .3rem}

.loading{text-align: center;padding: .2rem;}


