body, html{background: #f4f4f4;}

/*头部*/
.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.header .header-l a, .open.header .header-l a {background-image:none;}
.huoniao_iOS .tab{top: 0;}

/*搜索*/
.search {position: fixed;left:0;right:0;top:.9rem;padding:.35rem .24rem;background: #fff;font-size: .28rem;}
.search form {position: relative;}
.search .keywords {width:100%;padding:.19rem 1.24rem .19rem .25rem;border:1px solid #f74c25;border-radius:3px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.search .keywords::-webkit-input-placeholder {color:    #a0a0a0; }
:-moz-placeholder {color:#a0a0a0;}
.search .keywords::-moz-placeholder {color:#a0a0a0;}
.search .keywords:-ms-input-placeholder {color:#a0a0a0;}
.search .sbtn {position: absolute;right:0;top:0;height: .74rem;line-height: .74rem;padding:0 .22rem;color: #fff;border:0;outline:0;background:#f74c25;border-top-right-radius:3px;border-bottom-right-radius: 3px;}

.list {position:absolute;top: 2.34rem;left:0;right:0;bottom:1.04rem;overflow-y: auto;}
.item {padding:.3rem .24rem;background: #fff;margin-top: .15rem;}
.item .pic {width:1.5rem;height: 1.8rem;float: left;padding-right: .32rem;overflow: hidden;}
.item .pic img {width:100%;min-height: 1.8rem;}
.item .info {overflow: hidden;}
.item .info .name {font-size: .32rem;color: #333;padding:.1rem 0;}
.item .info .tel {font-size: .28rem;color: #333;padding:.1rem 0;}
.item .info .time {font-size: .28rem;color: #a0a0a0;margin-top: .2rem;}
.item .info .o {float: right;}

.o a {position: relative; padding: .02rem 0 0 .4rem; border-radius: .04rem; margin-right: .2rem; color: #333; font-size: .26rem; float: right;}
.o a.edit{background: url(../images/edit.png) center left no-repeat; background-size: .28rem auto;}
.o a.del{background: url(../images/del.png) center left no-repeat; background-size: .35rem auto;margin-right: 0;}
.o a.load {background: url(/static/images/loading_16.gif) center no-repeat; background-size: .35rem auto;color:transparent;}
.o a.load:before {display: none;}

.state1 .date {color: #f74c25;}
.state1 .del {margin-right: 0;}
.state0 .bj {margin-right: 0;}


.loading{text-align: center; line-height: 1rem;}

.add, .submit {position: fixed;bottom:0;left:0;right:0;display: block; margin: .3rem .24rem 0;height: 0.74rem; line-height: 0.74rem; background: #f74c25; color: #fff; border-radius: .04rem; text-align: center; font-size: .3rem; }

/*确认删除弹出层*/
.model {display: none;position: fixed;left:50%;top:50%;border-radius: 2px;background-color: rgb(255, 255, 255);box-shadow: 0px 2px 7px 0px rgba(219, 217, 213, 0.42);border-top:3px solid #f75733;z-index: 100002;overflow: hidden;}
.model .close {position: absolute;right:.26rem;top:.34rem;display: block;width:.34rem;height:.34rem;line-height: .4rem;text-align: center;background: #f74c25;color:#fff;font-size: .28rem;z-index: 3;border-radius:50%;font-family: serif;box-shadow: 0px 2px 4px 0px rgba(230, 53, 62, 0.31);}
.model .model_m {position: relative;background-color: #fff;z-index: 2;height: 100%;}
.model.model_del {width:4.34rem;height:2.6rem;margin-left: -2.17rem;margin-top: -1.3rem;}
.model.model_del .model_title {padding:.8rem .2rem .4rem;text-align: center;font-size: .28rem;color: #333;}
.model.model_del .model_btns {text-align: center;}
.model.model_del .model_btns a {display: inline-block;width:1.45rem;height: .5rem;line-height: .5rem;text-align: center;border-radius:3px;margin:0 .24rem;font-size: .26rem;}
.model.model_del .cancel {background: #fff;color: #f74c25;border:1px solid #fba08b;}
.model.model_del .ok {background: #f74c25;color: #fff;border:1px solid #f74c25;box-shadow: 0px 2px 7px 0px rgba(219, 217, 213, 0.42);}

.desk {position: fixed;left:0;top:0;right:0;bottom:0;background: #000;opacity: .4;z-index: 100001;display: none;}