
body, html{background: #f4f4f4;}
#body {display: block;}
#detail {display: none;}

/*头部*/
.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}

/*选项卡*/
.tab ul{display: -webkit-box;}
.tab ul li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0; border-bottom: 1px solid #f4f4f4; font-size: .28rem; }
.tab ul li.curr{border-bottom: 2px solid #129bf0;}
.tab ul li.sel select{background: transparent; }
.huoniao_iOS .tab{top: calc(.9rem + 20px);}
.huoniao_iOS .count{margin-top: calc(1.8rem + 20px);}
.huoniao_iOS .cbody{top: calc(1.2rem + 20px);}


.header-r{visibility: visible;}
/*总数*/
.count{border-bottom: 1px solid #f4f4f4; padding: .1rem 0; font-size: .26rem; padding-left: .4rem; font-weight: 600; margin-top: 1.8rem;}
.count span{font-size: .32rem; margin: 0 .1rem;}
.count li{display: none;}
.count li:first-child{display: block;}

/*列表*/
.item{margin-bottom: .2rem; background: #fff;}
.item .title{font-size: .3rem; border-bottom: 1px solid #f4f4f4; padding: .1rem .2rem;}
.info-item{padding: .2rem;}
.info-item .info-img{width: 2.4rem;height: 1.8rem;margin-right: .2rem}
.info-item .info-img img{width: 100%;height: 100%}
.info-item dl{position: relative; overflow: hidden; display: block;}
.info-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.info-item dt{font-size: .3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.info-item dd.item-area{margin-top: .18rem;}
.info-item dd.item-type-2{margin-top: .04rem}
.info-item dd.item-type-1 em{margin-right: .1rem}
.o{padding: 0 .2rem .2rem .2rem;}
.o a { padding: .02rem .08rem 0 .4rem; border-radius: .04rem; color: #333; font-size: .24rem; float: right;}
.o a.edit{background: url(../images/edit.png) center left no-repeat; background-size: .28rem auto;}
.o a.del{background: url(../images/del.png) center left no-repeat; background-size: .35rem auto;}
.o a.detail{background: url(../images/search_icon.png) center left no-repeat; background-size: .35rem auto;}
.info-item dd .price{color: #ff4a47;font-size: .3rem;}
.info-box{border-bottom: 1px solid #f4f4f4;}
.loading{text-align: center; line-height: 1rem;}

.cbody {position: absolute; background: #fff; overflow-y: auto; left: .3rem; top: 1.2rem; right: .3rem; bottom: 1rem; -webkit-overflow-scrolling: touch; overflow-x: hidden; font-size: .28rem;}
.cbody .item {margin: 0 .3rem; padding: .3rem 0; border-bottom: 1px dashed #ddd; position: relative;}
.cbody .item:last-child {border-bottom: 0;}
.cbody .item:before, .cbody .item:after {position: absolute; content: ""; display: block; width: .26rem; height: .26rem; border-radius: 50%; border: 1px solid #e5e5e5; background: #f4f4f4;}
.cbody .item:before {left: -.45rem; bottom: -.15rem;}
.cbody .item:after {right: -.45rem; bottom: -.15rem;}
.cbody .item:last-child:before, .cbody .item:last-child:after {display: none;}
.cbody h3 {font-size: .3rem;}
.cbody .code {border-top: 1px solid #ddd; margin-top: 10px; padding-top: 10px; text-align: center;}
.cbody .code h2 {font-size: .4rem; line-height: .8rem;}
.cbody .code img {width: 3.5rem; height: 3.5rem; display: block; margin: 0 auto; border: 1px solid #eeeef4; padding: 3px;}
.cbody .code p {line-height: .5rem; color: #81d4ff;}
.cbody .item dl:last-child {border-bottom: 0;}
.cbody dl, .cbody .item dl.inline {position: relative; border-bottom: 1px solid #eee; padding: .2rem 0;}
.cbody dt {float: left; width: 1.57rem;}
.cbody .inline dt {width: 100%;}
.cbody dd {float: left;}
.cbody dd s {position: absolute; right: -.1rem; top: 50%; margin-top: -.15rem; width: .3rem; height: .3rem; background: url('../images/right.png'); background-size: cover;}
.cbody dd i {position: absolute; right: .5rem;}
.cbody dd span {display: inline-block; max-width: 2.7rem;}
.oper {position: absolute; bottom: 0; left: .3rem; right: .3rem; font-size: .32rem; line-height: 1rem;}
.oper a {position: relative; padding-left: .6rem;}
.oper a s {position: absolute; left: 0; top: .25rem; width: .46rem; height: .45rem; background: url('../images/c_s.png') no-repeat; background-size: cover;}
.oper .cancel {float: left;}
.oper .success {float: right;}
.oper .success s {width: .45rem; background-position: right center;}
