body {background: #f6f6f6; padding-bottom: 1.5rem;padding-bottom: calc(1.5rem + constant(safe-area-inset-bottom));}
body.huoniao_iOS {padding-bottom: 0;padding-bottom: constant(safe-area-inset-bottom);}
.popup_fixed {position: fixed; overflow: hidden; width: 100%;}

/* 背景 */
.mheader {position: relative; z-index: 1; padding-top: .58rem; height: 3.77rem; overflow: hidden; background-image: -moz-linear-gradient( 45deg, rgb(19,44,197) 0%, rgb(15,134,244) 100%); background-image: -webkit-linear-gradient( 45deg, rgb(19,44,197) 0%, rgb(15,134,244) 100%); background-image: -ms-linear-gradient( 45deg, rgb(19,44,197) 0%, rgb(15,134,244) 100%);}
/*.huoniao_iOS .mheader {padding-top: calc(20px + .58rem);}*/
.mheader::after {position: absolute; content: ''; left: 0; right: 0; bottom: 0; height: 2.84rem; background: url('../images/3.4/businessBannerBg.png'); background-size: 100% 2.84rem; opacity: .7; z-index: 1;}

.nlogin {position: relative; z-index: 2; height: 100%; text-align: center; font-size: .4rem;}
.nlogin a {color: #fff; display: block; line-height: 2rem;}

.minfo {margin: 0 .24rem;}
.minfo dt {float: left; width: 1rem; height: 1rem; border: 2px solid #fff; border-radius: 4px; box-shadow: 0px 0px 24px 0px rgba(101, 108, 105, 0.6);}
.minfo dt img {width: 1rem; height: 1rem; display: block;}
.minfo dd {position: relative; overflow: hidden; padding-left: .27rem; color: #fff;}
.minfo dd h2 a {color: #fff; font-size: .32rem; line-height: .6rem;}
.minfo dd .bindex {margin-top: .1rem;}
.minfo dd .bindex a {color: #a1b5ff;}

.qr {position: absolute; z-index: 10; right: .24rem; top: .65rem; width: .5rem; height: .5rem; background: url('../images/3.4/icon-qr.png'); background-size: cover;}

/* 账户信息 */
.account {position: relative;; z-index: 8; display: -webkit-box; margin: .45rem .5rem 0;}
.account li {position: relative; -webkit-box-flex: 1; text-align: center; font-size: .26rem; border-right: 1px solid #a1b5ff;}
.account li a {display: block; color: #fff; margin: 0 .2rem; padding: .05rem 0 .1rem; border-radius: .1rem;}
.account li a:active {background: rgba(242, 242, 242, .3);}
.account li strong {display: block; font-size: .38rem;}
.account li:last-child {border-right: 0;}

/* 主要入口 */
.nav {position: relative; z-index: 2; display: -webkit-box; margin: -.93rem .24rem 0; padding: .22rem .1rem .14rem; background-color: #fff; border-radius: .1rem;}
.nav li {-webkit-box-flex: 1; text-align: center; font-size: .28rem;}
.nav li a {display: block; padding: .1rem; border-radius: .1rem;}
.nav li a:active {background: #f2f2f2;}
.nav li i {display: block; margin: 0 auto .2rem; width: .9rem; height: .9rem; background-size: cover; border-radius: 50%;}
.nav li .icon-order {background-image: url('../images/3.4/icon-order.png'); box-shadow: 0px 3px 10px 0px rgba(14, 224, 163, 0.65);}
.nav li .icon-receipt {background-image: url('../images/3.4/icon-receipt.png'); box-shadow: 0px 3px 10px 0px rgba(130, 141, 255, 0.65);}
.nav li .icon-hexiao {background-image: url('../images/3.4/icon-hexiao.png'); box-shadow: 0px 3px 10px 0px rgba(250, 192, 20, 0.65);}
.nav li .icon-duizhang {background-image: url('../images/3.4/icon-duizhang.png'); box-shadow: 0px 3px 10px 0px rgba(61, 171, 249, 0.65);}
.nav li .icon-settlement {background-image: url('../images/3.4/icon-settlement.png'); box-shadow: 0px 3px 10px 0px rgba(255, 63, 121, 0.65);}

/* 二级入口 */
.snav {display: -webkit-box; margin: .2rem .24rem .14rem; padding-bottom: .15rem;}
.snav li {-webkit-box-flex: 1; text-align: center; height: 1.11rem; font-size: .32rem; background-size: cover; margin-right: .14rem; border-radius: .1rem;}
.snav li:nth-child(1) {background-image: url('../images/3.4/nav-bg4.png'); box-shadow: 0px 5px 15px 0px rgba(255, 103, 20, 0.65);}
.snav li:nth-child(2) {background-image: url('../images/3.4/nav-bg5.png'); box-shadow: 0px 5px 15px 0px rgba(126, 77, 249, 0.65);}
.snav li:nth-child(3) {background-image: url('../images/3.4/nav-bg6.png'); margin-right: 0; box-shadow: 0px 5px 15px 0px rgba(244, 24, 82, 0.65);}
.snav li a {display: block; line-height: 1.11rem; color: #fff;}

/* 管理中心 */
.manage {background: #fff; padding: .15rem .24rem 0; overflow: hidden;}
.manage dt {border-bottom: 1px solid #efefef; line-height: .65rem; font-size: .3rem;}
.manage dt a {float: right; font-size: .24rem; color: #1162e1; padding: 0 .2rem;}
.manage dt a:active {background: #f2f2f2;}
.manage dd {width: 110%; padding: .14rem 0;}
.manage dd a {float: left; width: 1.1rem; margin: 0 0 0 0; padding: .1rem .15rem; font-size: .28rem; text-align: center; border-radius: .1rem;white-space: nowrap;}
.manage dd a:active {background: #f2f2f2;}
.manage dd a img {display: block; width: 1rem; height: 1rem; margin: 0 auto .1rem;}
.manage .empty {height: 2rem; line-height: 2rem; text-align: center;}
.manage .empty a {float: none; font-size: .24rem; color: #1162e1;}


/* 其他入口链接 */
.link {margin-top: .15rem;}
.link li {position: relative; margin-bottom: .15rem; background: #fff; height: 1rem; font-size: .28rem; line-height: 1rem;}
.link li a {display: block;}
.link li a:active {background: #f2f2f2;}
.link li i {display: inline-block; vertical-align: middle; width: .5rem; height: .5rem; background-size: cover; margin: -.08rem .2rem 0 .28rem;}
.link li .icon-collect {background-image: url('../images/3.4/icon-collect1.png');}
.link li .icon-friend {background-image: url('../images/3.4/icon-friend.png');}
.link li .icon-invite {background-image: url('../images/3.4/icon-invite.png');}
.link li .icon-renew {background-image: url('../images/3.4/icon-renew.png');}
.link li .icon-help {background-image: url('../images/3.4/icon-help.png');}
.link li .icon-tel {background-image: url('../images/3.4/icon-tel.png');}
.link li .icon-security {background-image: url('../images/3.4/icon-security.png');}
.link li .icon-setting {background-image: url('../images/3.4/icon-setting.png');}
.link li::after {position: absolute; content: ''; right: .34rem; top: .38rem; width: .24rem; height: .24rem; border-right: 2px solid #d7d7d7; border-bottom: 2px solid #d7d7d7; transform: rotate(-45deg);}
.link li.hotline::after {right: .2rem; top: .2rem; width: .45rem; height: .45rem; background: #14e699 url('../images/3.4/icon-tel1.png'); background-size: cover; border: .07rem solid #b8f7e0; transform: rotate(0deg); border-radius: 50%;}


/* 个人版入口 */
.grEnter {position: fixed; z-index: 10; right: 0; top: 2.8rem; width: .47rem; padding: .1rem 0; text-align: center; color: #fff; line-height: 1.2em; border-radius: 3px 0 0 3px; background-image: -moz-linear-gradient( 45deg, rgb(230,120,13) 1%, rgb(255,217,5) 100%); background-image: -webkit-linear-gradient( 45deg, rgb(230,120,13) 1%, rgb(255,217,5) 100%); background-image: -ms-linear-gradient( 45deg, rgb(230,120,13) 1%, rgb(255,217,5) 100%); box-shadow: 0px 0px 16px 0px rgba(230, 150, 13, 0.57);}
.huoniao_iOS .grEnter {top: calc(20px + 2.8rem);}
.grEnter::after {position: absolute; content: ''; width: .47rem; height: .55rem; left: 0; bottom: 0; z-index: -1; background: url('../images/3.4/grBg.png'); background-size: cover;}
