*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .3rem;}
body.show {opacity:1;}
html{background: #f4f4f4;}
i,em{font-style: normal;}
a{color: #000;}
a:hover{text-decoration: none;}
.huoniao_iOS .header{padding-top: 20px;}

.header_bg{position: absolute; left: 0; right: 0; z-index: 3;}
.header_bg img{display: block; width: 100%; height: 2.6rem;}
.huoniao_iOS .header_bg img {height: calc(2.6rem + 20px);}

/*顶部*/
.header{position: relative; display: -webkit-box; line-height: .8rem; z-index: 4;}
.header .header-l{-webkit-box-flex: 1;}
.header .header-l span{font-size: .26rem; color: #fff; background: -webkit-linear-gradient(left, #70e7f5, #2ac3ee); padding: .1rem .2rem .1rem 0; border-top-right-radius: 1rem; border-bottom-right-radius: 1rem;}
.header .header-l span i{display: inline-block; background: url(../images/back_icon.png) left center no-repeat; background-size: .5rem auto; padding-left: .5rem;}
/* .header .header-r{width: 2.1rem;} */
.header .header-r span{display: table-cell; width: .8rem; height: .8rem; vertical-align: middle;}
.header .header-r span img{display: block; width: .38rem; margin: 0 auto;}
.header .header-r .cart{position: relative;}
.header .header-r .cart em{position: absolute; display: block; width: .3rem; height: .3rem; background: url(../images/cart_msg.png) center center no-repeat; background-size: .28rem auto; right: .05rem; top: .1rem;}

/*用户信息*/
.user-box{color: #fff; padding: .3rem; position: relative; z-index: 4;}
.user-box a{color: #fff;}
.userphoto-box{margin-right: .2rem;}
.userphoto{width: 1.1rem; height: 1.1rem; border-radius: 1.1rem; background: #fff; padding: 2px; box-shadow: 0 0 10px 0px rgba(22, 46, 74, 0.29);}
.userphoto img{display: block; width: 1.1rem; height: 1.1rem; border-radius: 1.1rem; margin: 0 auto;}
.nicekname{max-width: 5.5rem; line-height: .5rem; height: .5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: .15rem;}
.certify{font-size: .24rem; padding-left: .34rem; background: url(../images/certify_icon.png) left center no-repeat; background-size: .26rem auto;}
.userlevel{border: 1px solid #fff; padding: .04rem .1rem; border-radius: .04rem; font-size: .24rem; margin-top: .2rem; margin-left: .15rem;}
.yan li{float: left; width: .4rem; height: .4rem; margin-right: .06rem;}
.yan .real{background: url(../images/creal.png) center center no-repeat; background-size: auto .4rem;}
.yan .phone{background: url(../images/cphone.png) center center no-repeat; background-size: auto .4rem;}
.yan .email{background: url(../images/cemail.png) center center no-repeat; background-size: auto .4rem;}
.yan .save{background: url(../images/asave.png) center center no-repeat; background-size: auto .4rem;}
.yan .pay{background: url(../images/cpay.png) center center no-repeat; background-size: auto .4rem;}
.yan .question{background: url(../images/cquestion.png) center center no-repeat; background-size: auto .4rem;}

.yan .real.active{background: url(../images/areal.png) center center no-repeat; background-size: auto .4rem;}
.yan .phone.active{background: url(../images/aphone.png) center center no-repeat; background-size: auto .4rem;}
.yan .email.active{background: url(../images/aemail.png) center center no-repeat; background-size: auto .4rem;}
.yan .pay.active{background: url(../images/apay.png) center center no-repeat; background-size: auto .4rem;}
.yan .question.active{background: url(../images/aquestion.png) center center no-repeat; background-size: auto .4rem;}

/*账户信息*/
.gray{color: #737373;}
.blue{color: #66adef;}
.account{background: #fff; text-align: center; position: relative; z-index: 4;}
.account li{float: left; width: 33.3%;}
.account li a{display: block; padding: .25rem 0;}
.account li a p{line-height: 1;}
.account li a .blue{margin-top: .2rem; font-size: .32rem;}
.account .line{border-right: 1px solid #e2e2e2;}
.account li:last-child .line{border-right: none;}

/*我的口袋*/
.pocket{background: #fff;margin-top: .2rem;}
.pocket-tit{border-bottom: 1px solid #f4f4f4;}
.pocket-tit a{display: block;padding: 0 .2rem 0 0.3rem;line-height: .8rem;font-size: .34rem; position: relative;}
.pocket-tit a:before{content: ""; width: 3px; position: absolute; left: .1rem; top: .22rem; bottom: .22rem; background: #66adef;}
.pocket-tit a span{background: url(../images/arrow_icon.png) right center no-repeat;background-size: auto .22rem;float: right; font-size: .24rem; color: #bcbdbf; padding-right: .3rem;}
.pocket-box{padding: .2rem 0 .2rem 0;}
.pocket-box a{display: block;text-align: center;font-size: .3rem;line-height: .4rem;color: #000; width: 25%; float: left; position: relative;}
.pocket-box i{display: block; width: 100%; height:  0.8rem; margin-bottom: .08rem;}
.pocket-box i.info-1{background: url(../images/binfo1.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.info-2{background: url(../images/binfo2.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.info-3{background: url(../images/info3.png) center center no-repeat; background-size: .72rem auto;}
.tznum{position: absolute; width: .3rem; height: .3rem; display: block; left: 1rem; top: 0; background: #ff0c0e; color: #fff; border-radius: .3rem; line-height: 1.2;}
.pocket-box i.info-4{background: url(../images/info4.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.pocket-1{background: url(../images/pocket1.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.pocket-2{background: url(../images/pocket2.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.pocket-3{background: url(../images/pocket3.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.pocket-4{background: url(../images/pocket4.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.pocket-5{background: url(../images/record_icon.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.account-1{background: url(../images/account1.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.account-2{background: url(../images/account2.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.account-3{background: url(../images/account3.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.account-4{background: url(../images/account4.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.service-1{background: url(../images/service1.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.service-2{background: url(../images/service2.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.service-3{background: url(../images/service3.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.service-4{background: url(../images/service4.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.feature-1{background: url(../images/feature1.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.feature-2{background: url(../images/feature2.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.feature-3{background: url(../images/feature3.png) center center no-repeat; background-size: .72rem auto;}
.pocket-box i.feature-4{background: url(../images/feature4.png) center center no-repeat; background-size: .72rem auto;}


/*发布列表*/
.list{background: #fff; margin-top: .2rem;}
.list li a{display: block; padding-left: .2rem;}
.list li a .item{display: -webkit-box; border-bottom: 1px solid #f2f2f2; padding-right: .2rem;}
.list li .icon{display: table-cell; width: .6rem; height: .9rem; vertical-align: middle;}
.list li .icon img{display: block; height: .4rem;}
.list li p{-webkit-box-flex: 1; line-height: .9rem;}
.list li span{line-height: .9rem; display: block; font-size: .24rem; color: #bcbdbf; background: url(../images/arrow_icon.png) right center no-repeat; background-size: auto .24rem; padding-right: .3rem;}
.list li:last-child .item{border-bottom: none;}
.blank{height: 1.1rem;}
#appSetting{display: none;}

/*底部*/
.fixFooter{position: fixed; bottom: 0; left: 0; right: 0; height: .9rem; background: #fff; border-top: 1px solid #e4e4e3; font-size: .24rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out; z-index: 2;}
.fixFooter ul{display: -webkit-box;}
.fixFooter ul li{-webkit-box-flex: 1; text-align: center;}
.fixFooter ul li a{display: block;}
.fixFooter ul li i{display: block; width: .5rem; height: .5rem; margin: .05rem auto 0;}
.fixFooter ul li.ficon1 i{background: url(../images/ficon1.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon2 i{background: url(../images/ficon2.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon3 i{background: url(../images/ficon3.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon4 i{background: url(../images/ficon4.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon5 i{background: url(../images/ficon5.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon1.active i{background: url(../images/aficon1.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon2.active i{background: url(../images/aficon2.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon3.active i{background: url(../images/aficon3.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon4.active i{background: url(../images/aficon4.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon5.active i{background: url(../images/aficon5.png) center center no-repeat; background-size: .4rem auto;}

/* iPhoneX适配 */
.fixFooter{
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
