
body, html{background: #f4f4f4;}
.title{font-size: .3rem; padding: .2rem; border-bottom: 1px solid #f4f4f4; background: #fff;}

/*列表*/
.list .list-tit{font-size: .3rem;margin: 0 .2rem;line-height: .8rem;border-bottom: 1px solid #e5e5e5;}
.list .item{margin-top: .2rem; background: #fff;}
.list .item a{display: block;margin: .2rem 0 0 0;}
.list .item .img-box{width: 16%;margin: 0 .2rem;}
.list .item .img-box img{display: block;width: 1.2rem;height: 1.2rem;}
.list .item .img-txt{width: 76%;border-bottom: 1px solid #f1f1f1;padding-bottom: .2rem;}
.list .item .img-txt h3{font-size: .3rem;}
.list .item .img-txt h3 em{color: #ff8731;}
.list .item .img-txt .grey{color: #999;margin-top: .06rem;}
.list .item .img-txt .grey .time{color: #ccc;}
.list .item .img-txt .area span{margin-right: .1rem;}
.list .item .img-txt .info em{color: #ccc;margin: 0 .1rem;	}
.list .item dl{padding: 0 .3rem .2rem;}
.list .item dl .overtime{font-size: .3rem;}
.list .item dl .item-type-2{color: #ccc; margin-top: .1rem;}

.item .checkbox{padding: .1rem .2rem 0; border-bottom: 1px solid #f4f4f4;}
.item .inp{ background: url(../images/ra2.png) left center no-repeat; background-size: .4rem auto; display: inline-block; width: .4rem; height: .5rem; padding: 0 .2rem;}
.item .inp.on{background: url(../images/ra1.png) left center no-repeat; background-size: .4rem auto;}
.item .del{float: right; display: block; width: .8rem; line-height: .5rem; text-align: right;}

.loading{font-size: .3rem; text-align: center; line-height: 1rem;}


.title #selectAll{background: url(../images/ra2.png) left center no-repeat; background-size: .4rem auto; padding-left: .5rem;}
.title #selectAll.on{background: url(../images/ra1.png) left center no-repeat; background-size: .4rem auto; padding-left: .5rem;}
