
body, html{background: #f4f4f4;}
a:hover{text-decoration: none;}
.header{position: fixed; top: 0; left: 0; right: 0; z-index: 10001}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab{top: calc(.9rem + 20px);}

/*选项卡*/
.tab ul{display: -webkit-box;}
.tab ul li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0; border-bottom: 1px solid #f4f4f4; font-size: .28rem; }
.tab ul li.curr{border-bottom: 2px solid #129bf0;}
.tab ul li.sel select{background: transparent; }

/*房屋总数*/
.count{border-bottom: 1px solid #f4f4f4; padding: .1rem 0; font-size: .26rem; padding-left: .4rem; margin-top: 1.8rem; font-weight: 600; background: #fff;}
.huoniao_iOS .count{margin-top: calc(1.8rem + 20px);}
.count span{font-size: .32rem; margin: 0 .1rem;}
.count li{display: none;}
.count li:first-child{display: block;}

/*列表*/
.item{padding: .2rem; background: #fff; margin-bottom: .2rem;display: -webkit-box;}
.item a{display: block;}
.item .txtbox{-webkit-box-flex: 1;}
.item .name{font-size: .34rem; line-height: .5rem; height: .5rem; overflow: hidden;}
.item .company, .item .date{color: #666; line-height: .4rem; height: .4rem; overflow: hidden;}
.item .state{color: #999; margin-top: .1rem; text-align: right;}
.item .link{position: relative; color: #fff; background: #129bf0; width: 1.2rem; padding: .1rem 0; display: block; text-align: center; font-size: .3rem; border-radius: .08rem; margin-top: .2rem;}
.item .link select{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;}

.loading{line-height: 1rem; text-align: center;}
