/*图片*/
.model img{width: 100%; display: block;}
a:hover{text-decoration: none;}

/*底部*/
.fixFooter{position: fixed; bottom: 0; left: 0; right: 0; height: .9rem; background: #fff; border-top: 1px solid #e4e4e3; font-size: .24rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out; z-index: 99;}
.fixFooter ul{display: -webkit-box;}
.fixFooter ul li{-webkit-box-flex: 1; text-align: center;}
.fixFooter ul li a{display: block;}
.fixFooter ul li i{display: block; width: .5rem; height: .5rem; margin: .05rem auto 0;}
.fixFooter ul li.ficon1 i{background: url(../images/job-ficon1.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon2 i{background: url(../images/job-ficon2.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon3 i{background: url(../images/job-ficon3.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon4 i{background: url(../images/job-ficon4.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon1.active i{background: url(../images/job-aficon1.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon2.active i{background: url(../images/job-aficon2.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon3.active i{background: url(../images/job-aficon3.png) center center no-repeat; background-size: .5rem auto;}
.fixFooter ul li.ficon4.active i{background: url(../images/job-aficon4.png) center center no-repeat; background-size: .5rem auto;}
