
body, html{background: #f4f4f4;}

/*头部*/
.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99; display: block;}
.huoniao_iOS .tab{top: calc(.9rem + 20px);}

/*选项卡*/
.tab ul{display: -webkit-box;}
.tab ul li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0; border-bottom: 1px solid #f4f4f4; font-size: .28rem; }
.tab ul li.curr{border-bottom: 2px solid #129bf0;}
.tab ul li.sel select{background: transparent; }

/*房屋总数*/
.count{border-bottom: 1px solid #f4f4f4; padding: .1rem 0; font-size: .26rem; padding-left: .4rem; margin-top: 1.8rem; font-weight: 600;}
.huoniao_iOS .count{margin-top: calc(1.8rem + 20px);}
.count span{font-size: .32rem; margin: 0 .1rem;}
.count li{display: none;}
.count li:first-child{display: block;}

/*信息列表*/
.item{margin-bottom: .2rem; background: #fff;}
.item .title{font-size: .3rem; border-bottom: 1px solid #f4f4f4; padding: .1rem .2rem;}
.info-item{padding: .2rem;}
.info-item .info-img{width: 2.4rem;height: 1.8rem;margin-right: .2rem}
.info-item .info-img img{width: 100%;height: 100%}
.info-item dl{position: relative; overflow: hidden; display: block;}
.info-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.info-item dt{font-size: .3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.info-item dd.item-area{margin-top: .18rem;}
.info-item dd.item-type-2{margin-top: .04rem}
.info-item dd.item-type-1 em{margin-right: .1rem}
.o{padding: 0 .2rem .2rem .2rem;}
.o a { padding: .02rem .08rem 0 .4rem; border-radius: .04rem; margin-right: .2rem; color: #333; font-size: .24rem; float: right;}
.o a.edit{background: url(../images/edit.png) center left no-repeat; background-size: .28rem auto;}
.o a.del{background: url(../images/del.png) center left no-repeat; background-size: .35rem auto;}
.info-item dd .price{color: #ff4a47;font-size: .3rem;}
.info-box{border-bottom: 1px solid #f4f4f4;}
.loading{text-align: center; line-height: 1rem;}
