html{background: #f0f0f2;}
.content{padding-bottom: 2rem;}
/*选择筛选类型*/
.car-tab{background: #fff;height: .8rem;}
.car-tab .tab-box{display: -webkit-box;}
.car-tab .tab-box a{-webkit-box-flex: 1; display: block; text-align: center; font-size: .3rem;position: relative;}
.car-tab .tab-box a span{line-height: .8rem;display: inline-block;}
.car-tab .tab-box .active span{color:#f9412e;}
.car-tab .tab-box .active s{display:block;width:.28rem;height:.05rem;background:#f9412e;border-radius: 2.5px;margin:auto;position: relative;top: -.14rem;}
.car-tab .tab-box a em {display: none; position: absolute; bottom: 50%; left: 70%; min-width: .25rem; max-width: .6rem; height: .3rem; line-height: .28rem; padding: .01rem .04rem .01rem .04rem; background: #f9412e; border-radius: 10px; color: #fff; font-size: .2rem; overflow: hidden;}
.car-list{padding-bottom: 1.1rem;}
/*信息列表*/
.car-box{margin: .2rem; background: #fff;border-radius: .12rem;padding:0 .24rem;}
.car-box .title{height:.7rem;line-height:.7rem;border-bottom: 1px solid #dcdde3; }
.car-item{padding: .3rem 0;overflow: hidden;}
.car-item .car-img{width: 1.8rem;height: 1.8rem;margin-right: .2rem;float: left;position: relative;background: #f5f5f5;border-radius: .08rem;overflow: hidden;}
.car-item .car-img img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;}
.car-item dl{position: relative; overflow: hidden; display: block;}
.car-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.car-item dt{font-size: .3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.car-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.car-item dd.item-area{margin-top: .18rem;}
.info-item dd.item-area em,.info-item dd.item-type-1 em{margin-right: .1rem}
.info-item dd.item-area em{font-size: .24rem;color:#919191;}
.car-item dd.item-type-2{margin-top: .04rem}
.car-item dd.item-type-1 span{margin-right: .08rem}
.sp_type,.sp_room,.sp_type{margin-right: .24rem;position: relative;}
.sp_room:after{content: "";display:inline-block;width: 1px;height: .2rem;background: #919191;position: absolute;right: -.12rem;top: .06rem;}
.o{padding: 0 0 .3rem;}
.o a{border-radius: .04rem; color: #333; font-size: .24rem; float: right;padding:.1rem .36rem .1rem .72rem;border:solid 1px #c0c1c4;border-radius:.52rem;}
.o a.bid{background: url(../images/bid.png) center left no-repeat; background-size: .36rem auto;}
.o a.edit{border-radius:.52rem;background: url(../images/icon_edit.png) 28% center no-repeat; background-size: .26rem auto;margin-left:.3rem;}
.o a.del{background: url(../images/icon_del.png) 28% center no-repeat; background-size: .24rem auto;}
.o a.refresh{background: #fa6352 url(../images/icon_refresh.png) 28% center no-repeat; border:solid 1px #fa6352;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.refresh.disabled{background:#bbbec4 url(../images/icon_refresh.png) 28% center no-repeat;border:solid 1px #bbbec4;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.topping{background: url(../images/topping.png) center left no-repeat; background-size: .28rem auto;}
.o a.delayPay{background: url(../images/manage-pay.png) center left no-repeat; background-size: .35rem auto;color: #f60;}
.o a.load {background: url(/static/images/loading_16.gif) center no-repeat; background-size: .35rem auto;color:transparent;}
.o a.refresh.disabled {background: #bbbec4 url(../images/icon_refresh.png) 16% center no-repeat;border: solid 1px #bbbec4;color: #fff;background-size: .27rem auto;margin-left: .3rem;cursor: not-allowed;}

.o a.del:active,.o a.edit:active{background-color: #f5f5f7;}
.o a.refresh:active{background-color: #ed5e4e;}
.o a.refresh.disabled:active{background-color: #bbbec4;}

.car-item dd.price{color: #ff4a47;font-size: .3rem;font-weight: bold;padding-top: .2rem;}
.car-box{border-bottom: 1px solid #f4f4f4;}
.loading{text-align: center; line-height: 1rem;}

.car-box .title .topping{color: #ff4a47;}

.fabuBtn{height: 1.94rem;line-height: 1.94rem;text-align: center;position: fixed;bottom: 0;left: 0;right: 0;background: #f0f0f2;}
.fabuBtn a {display: inline-block;width: 7.06rem;height: .8rem;background-image: -moz-linear-gradient( 0deg, rgb(249,55,78) 0%, rgb(255,134,81) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(249,55,78) 0%, rgb(255,134,81) 100%);background-image: -ms-linear-gradient( 0deg,rgb(249,55,78) 0%, rgb(255,134,81) 100%);border-radius: .08rem;text-align: center;line-height: .8rem;color: #fff;font-size: .3rem;}

.empty{text-align: center;padding: .2rem;}

