html,body{background-color: #f8f8f8; width: 100%; height: 100%;}
/*订单状态*/
.order_state{height: 1.8rem; overflow: hidden;background: -webkit-linear-gradient(left, #f8ad1c , #fe8043); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f8ad1c , #fe8043); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f8ad1c , #fe8043); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f8ad1c , #fe8043); /* 标准的语法 */}
.order_state p{margin-left: .24rem; margin-top: .46rem; font-size: .26rem; color: #fff;}
.order_state p em{font-size: .32rem; font-weight: bold;}
.detailBox{position: relative;}
/*详情*/
.order_detail{margin-left: .24rem; margin-right: .24rem; border-radius: .08rem; background-color: #fff; box-shadow: 0 .1rem .16rem rgba(201,201,201,.3);}
.order_top{margin: 0 .24rem; border-bottom: dashed #e5e5e5 .01rem; padding: .4rem 0; position: relative;}
.order_top:after,.order_top:before{content: ''; display: block;  width: .32rem; height: .32rem; position: absolute; left: -.4rem; background-color: #f7f7f7; border-radius: 50%; bottom: -.16rem; box-shadow: -.1rem 0 .16rem rgba(236,236,236,.6) inset;}
.order_top h2{margin-right: .84rem; font-size: .3rem;}
.order_top:after{right:-.4rem !important; left: auto; box-shadow: .1rem 0 .16rem rgba(236,236,236,.6) inset;}
.order_top i{width: .44rem; height: .44rem; float: right; background-image: url(../images/btn_go.png); background-size: contain; background-repeat: no-repeat; margin-top: .2rem;}

/*用户*/
.order_info ul{padding:.28rem .44rem;}
.order_info .foruse{ overflow: hidden; margin-bottom: .3rem; }
.left_user{float: left;}
.right_num{float: right;}
.order_price{text-align: right; font-size: .26rem; color: #a0a0a0;}
.order_price span{color: #f75a40; font-size: .28rem;}
.order_price span em{font-size: .32rem; font-weight: bold;}

/*使用说明*/

.ticket_info li:after{clear: both; content: ' ' ; display: block; margin-bottom: .28rem;}
.ticket_info label{font-size: .3rem; color: #a0a0a0; width:1.32rem; float: left; line-height: .44rem;} 
.ticket_info p{margin-left: 1.26rem; font-size: .3rem; line-height: .44rem;}
.ticket_info .uselimit p{color: #f53111;}
.ticket_info li.qrcode i{width: .38rem; height: .38rem; background-image: url(../images/qr.png); background-size: cover; ; display: inline-block !important; vertical-align: middle; margin-left: .18rem;}
.qrcode{position: relative;}

/*退款按钮*/
.btn_tui{display: block; margin-left: .24rem; margin-right: .24rem; line-height: .8rem; background-color: #fff; border-radius: .08rem; border: solid .01rem #e5e5e5; text-align: center; font-size: .32rem; margin-top: .6rem; margin-bottom: 1rem;}

.orderbox{position: absolute; top: 1.12rem;}

/*二维码*/
/* .mask{width: 100%; height: 100%; position: fixed; top: 0; overflow: hidden; bottom: 0; right: 0; left: 0 ; background-color: rgba(0,0,0,.4); display: none;}
.ercode{width: 6rem; border-radius: .08rem; background-color: #fff; padding: .2rem; position: fixed; top: 50%; left: 50%; margin-left: -3.2rem; margin-top: -3.2rem; text-align: center; font-size: .32rem; line-height: .8rem; display: none;} */

.mask{
  background-color: #000;
  opacity: .7!important;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  position: fixed;
}
.ercode {
  position: fixed;
  top: 50%;
  left: 0.6rem;
  right: 0.6rem;
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  z-index: 1008;
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 0.08rem;
  text-align: center;
  font-size: 0.32rem;
  display: none;
}
.ercode dt{border-bottom: solid .01rem #e5e5e5;}
.ercode dt i{float: right; width: .26rem ; height: .26rem; background-image: url(../images/close.png); background-size: cover; background-repeat: no-repeat; margin-top: .1rem;}
.ercode dd{width: 6rem; height: 6rem; margin-top: .2rem; background-color: #f5f5f5;}
.ercode dd img{width: 100%;}
.ticket_info li{width: 6.2rem;}
