body, html{background: #edeef2; font-size: .28rem;}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
img{max-width: 100%}

.wrap_header{width: 100%;height: 1.6rem;color:#fff;background:url("../images/homemaking/order_bg.png") no-repeat;background-size: contain;box-sizing: border-box;padding: .45rem .5rem .36rem}
.wrap_header .head{height: .36rem;line-height: .36rem}
.wrap_header .head span{display: inline-block;}
.wrap_header .head span:first-child{font-size: .36rem}
.wrap_header .head span:last-child{font-size: .24rem;color: rgba(255, 255, 255, 0.702);margin-left: .23rem}
.wrap_header .describe{font-size: .24rem;margin-top: .2rem}

.wrap{background: #edeef2}

.wrap .wrap_content{padding: .4rem .24rem;box-sizing: border-box;background: #fff;margin-bottom: .2rem}
.wrap .wrap_content .title{font-size: .3rem;color: #333;font-weight: bold;margin-bottom: .36rem}
.wrap_content ul li{font-size: .28rem;margin-top: .3rem;}
.wrap_content ul li span:first-child{color: #808080}
.wrap_content ul li span:last-child{color: #3b3b3b;margin-left: .2rem}

.wrap_content ul .change_time span:first-child{color: #808080}
.wrap_content ul .change_time span:nth-child(2){color: #3b3b3b;margin-left: .2rem}
.wrap_content ul .change_time span:last-child{color: #fa6352;margin-left: .5rem;font-size: .26rem}

.wrap .wrap_content2{padding: 0 .24rem .3rem;box-sizing: border-box;background: #fff;margin-bottom: .2rem}
.jz_order_company{height: .7rem;line-height: .7rem;border-bottom: 1px solid #dcdde3;font-size: .26rem;}
.jz_order_company img{width: .3rem;height: .3rem;vertical-align: middle;margin-right: .13rem}
.jz_order_company span{color: #404040;vertical-align: middle;}
.jz_order_company .jz_order_type{float: right;font-size: .26rem;color: #f9412e;}
.content_top{margin-top: .3rem;position: relative;}
.content_top .left_b{width: 1.6rem;height: 1.6rem;float: left}
.content_top .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: .04rem}
.content_top .right_b{margin-left:1.84rem;}
.right_b .jz_order_title{font-size: .26rem;color: #404040;}
.right_b .jz_order_time{color: #404040;margin-top: .3rem}
.right_b .jz_order_time span:first-child{font-size: .3rem;font-weight: bold}
.right_b .jz_order_time span:last-child{font-size: .26rem;margin-left: .15rem;color: #919191}

.right_b .jz_order_price{position: absolute;bottom: 0;right: 0}
.right_b .jz_order_price span:first-child{font-size: .24rem;color: #404040;}
.right_b .jz_order_price span:nth-child(2){font-size: .26rem;color: #f9412e;font-weight: bold;margin-left: .15rem}
.right_b .jz_order_price span:last-child{font-size: .36rem;color: #f9412e;font-weight: bold;}

.wrap .wrap_content3{margin-bottom: 0}

.bottom{height: 1rem;line-height: 1rem;border-top:1px solid #dcdde3;background: #fff;margin-bottom: .3rem}
.bottom a{display: block;}
.bottom span{display: inline-block;font-size: .3rem;color: #3b3b3b;font-weight: bold;padding-left:.24rem; }
.arrow{display: inline-block;width: .14rem;height: .24rem;float: right;margin-right: .3rem;    margin-top: .4rem;}





.wrap_content4{padding: .24rem;background: #fff}
.content_bottom{float: right;}
.content_bottom span{display: inline-block;width: 1.5rem;height: .52rem;line-height: .52rem;text-align: center;border-radius: .26rem;border: 1px solid #c0c1c4;font-size: .24rem;color: #404040;margin-left: .3rem}
.content_bottom .jz_finish{background: #fa6352;border-color: #fa6352;color: #fff}


.contact_content{position: relative;}
.contact{width: 1.5rem;position: absolute;bottom: .7rem;right:.24rem;height: .52rem;line-height: .52rem;text-align: center;background: #fa6352;border-radius: .26rem;font-size: .24rem;color: #fff}

.contact a{color: #fff}
/*时间弹窗*/

#pickuptimeContener{position: fixed;left: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: 4;}
.pickuptime-close-empty{position: absolute;height: 100%;width: 100%;z-index: 0;}
#pickuptime{position: absolute;bottom: 0;left: 0;width: 100%;padding-bottom: .55rem;z-index: 1;background-color: #fff;}
.pickuptime-title{border-bottom: 1px solid #e6e7ed;}
.pickuptime-title p{padding: .35rem;height: .4rem;line-height: .4rem;text-align: center;font-size: .32rem;cursor: pointer;}
.pickuptime-title .pickuptime-close{float: left;}
.pickuptime-title .pickuptime-ok{float: right;color: #4884ff;}
.pickuptime-box{margin-top: .4rem;padding: 0 .25rem;font-size: 0;text-align: center;}
.pickuptime-box b{font-size: .3rem;font-weight: bold;text-align: left;display: block;}
.pickuptime-datap{box-sizing: border-box;width: calc(33.333% - .2rem);height:.68rem;line-height: .68rem;color: #39393b;border: 1px solid #eee;margin: .2rem .1rem 0;text-align: center;display: inline-block;font-size: .28rem;border-radius: .05rem;}
.pickuptime-datap.pickuptime-data-on{border-color:#fb6551;background-color:#fff8f7;color:#fb624e;}
.pickuptime-data .pickuptime-datap{height:auto;border:0;margin-top:0;border:1px solid #eee;margin-top:.2rem;}
.pickuptime-data .pickuptime-datap.pickuptime-data-on{border:1px solid #fb6551;background-color:#fff8f7;color:#fb624e;}

.pickuptime-data{margin-top: .1rem}
.pickuptime-time{margin-top: .1rem}

.left_pics{width: 1.6rem;height: 1.6rem;float: left;}