#clipArea {position: absolute;top:.9rem;bottom: 0rem;left:0rem;right:0rem;background: url('/static/images/ajax-loader.gif') center no-repeat;}
.huoniao_iOS #clipArea {top: calc(.9rem + 20px);}
.filebtn {position: absolute; left: 50%; top: 50%; display: block;z-index: 10;text-align: center;line-height: 200px;background: #fff;}

#Filedata {display: none;}

.header-r {position: relative;width: 1rem;visibility: visible;}
.header-r a {position: absolute;top:0;right:0;width: 1.5rem;font-size: .3rem;line-height: .9rem;text-align: center;}
.header-r .reset {display: none;right: 1rem;}
.header-r a.disabled {color: #D0CECE;}
