
body, html{background: #f4f4f4;}

.paypwd dt{width: 1.9rem;}
/*.editForm{display: none;}*/

.edit-tip{background: #fffaeb; margin-bottom: .2rem; padding: .2rem; font-size: .28rem; color: #666; border-bottom: 1px solid #fff6db;}
#passwordStrengthDiv span {width: 260px; height: 14px; display: block; margin: 13px 0; background: url('../images/pass_strong.png');}
#passwordStrengthDiv.is10 span, #passwordStrengthDiv.is20 span {background-position: 0 -15px;}
#passwordStrengthDiv.is30 span, #passwordStrengthDiv.is40 span {background-position: 0 -30px;}
#passwordStrengthDiv.is50 span, #passwordStrengthDiv.is60 span {background-position: 0 -45px;}
#passwordStrengthDiv.is70 span, #passwordStrengthDiv.is80 span {background-position: 0 -60px;}
#passwordStrengthDiv.is90 span, #passwordStrengthDiv.is100 span {background-position: 0 -75px;}

#getPhoneVerify, #getPhoneAuthVerify, #getEmailAuthVerify, .getPhoneVerify, .getPhoneAuthVerify, .getEmailAuthVerify{display: block; position: absolute; right: .2rem; color: #fff; top: 0; background: #df3031; padding: 0 .1rem; border-radius: .08rem;}
#getPhoneVerify.disabled, #getPhoneAuthVerify.disabled, #getEmailAuthVerify.disabled, .getPhoneVerify.disabled, .getPhoneAuthVerify.disabled, .getEmailAuthVerify.disabled{background: #999;}
.getPhoneVerify:hover, .getPhoneAuthVerify:hover, .getEmailAuthVerify:hover{color: #fff;}
