.header{position: relative; height: 1rem;line-height: 1rem;background: #fafafa;}
.header a{display: table-cell;height: 1rem;vertical-align: middle;width: 1rem;}
.header-l{position: absolute; left: 0; top: 0; width: 1rem; height: 1rem;}
.header-l img{height: .5rem;display: block;margin: 0 auto;}
.header-c{padding: 0 1rem; text-align: center; font-size: .36rem;}
.huoniao_iOS .header-l{top: 20px;}

.tip{margin-top: .8rem;}
.tip p{font-size: .28rem;padding: 0 .4rem;line-height: .45rem;margin-bottom: .1rem;color: #999;}
.tip p.active{color: #333;}
.btn{display: -webkit-box;margin: 0 .4rem;margin-top: .7rem;}
.btn a{-webkit-box-flex: 1;display: block;line-height: .8rem;font-size: .32rem;text-align: center;border-radius: .1rem;}
.btn a.repay{border: 1px solid #999;color: #999;margin-right: .2rem;}
.btn a.endpay{border: 1px solid #ff9019;color: #ff9019;}
.btn a:hover {text-decoration: none;}
.cp-cnt{position: relative;margin: .5rem auto .2rem;}
.cp-cnt,.cp-cnt svg{width:2rem;height:2rem}
.cp-cnt svg:nth-child(2){position:absolute;left:0;top:0;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.cp-cnt svg:nth-child(2) path{fill:none;stroke-width:25;stroke-dasharray:629;stroke:#fff;opacity:.9}
.cp-cnt-animation svg:nth-child(2) path{-webkit-animation:load 5s linear;animation:load 5s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.cp-text{position:absolute;left:0;top:0;width:100%;line-height:2rem;color:#999;font-size:20px}@-webkit-keyframes load{to{stroke-dashoffset:0}}@keyframes load{to{stroke-dashoffset:0}}
.wait-p{font-size: .32rem;text-align: center;}
.second{position: absolute;font-size: .42rem;left: .75rem;top: 0;color: #999;line-height: 2rem;}
