/* 头部 */
.header{position: relative; height: 1rem;line-height: 1rem;background: #fafafa;}
.header a{display: table-cell;height: 1rem;vertical-align: middle;width: 1rem;}
.header-l{position: absolute; left: 0; top: 0; width: 1rem; height: 1rem;}
.header-l img{height: .5rem;display: block;margin: 0 auto;}
.header-c{padding: 0 1rem; text-align: center; font-size: .36rem;}
.huoniao_iOS .header-l{top: 20px;}

/* 订单基本信息 */
.order-info{height: 1.8rem;background: url(../images/bg.png) repeat-x;background-size: auto 1.8rem;display: -webkit-box;}
.order-info-img{width: 1.8rem;height: 1.8rem;display: table-cell;vertical-align: middle;}
.order-info-img img{display: block;width: 1rem;height: 1rem;margin: 0 auto;vertical-align: middle;}
.order-info-txt{-webkit-box-flex: 1; padding-right: .5rem;}
.order-info-txt h3{font-size: .45rem;margin: .35rem 0 .05rem;}
.order-info-txt p{font-size: .28rem;line-height: .4rem;height: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.order-info-txt h3 span,.order-info-txt p a{border-bottom: 1px dashed #ccc; color: #000;}
.order-info-txt p a:hover {text-decoration: none;}

.balance label,.points label{background: #fff;display: -webkit-box;font-size: .3rem;padding: .3rem;margin-top: .2rem;line-height: .4rem;position: relative;}
.balance label em,.points label em{color: #999;-webkit-box-flex: 1;display: block;height: .4rem;overflow: hidden;margin-left: .1rem;}

/* 选择支付方式 */
.pay-check{background: #fff;margin-top: .2rem;}
.check-item{padding: .2rem;display: -webkit-box;border-bottom: 1px solid #e4e4e4;position: relative; visibility: hidden;}
.check-item .check-item-img{height: .8rem;width: .6rem;display: table-cell;vertical-align: middle;}
.check-item .check-item-img img{display: block;width: 100%;height: .6rem;}
.check-item .check-item-txt{-webkit-box-flex: 1;margin-left: .2rem;line-height: .4rem;}
.check-item .check-item-txt h3{font-size: .32rem;}
.check-item .check-item-txt p{color: #999; font-size: .24rem;}

.check-item-right{height: .8rem;display: table-cell;vertical-align: middle;padding-right: .1rem;}
.check-item-right input[type=radio],input[type=checkbox]{position: absolute;top: 0;left: 0;margin: 0;opacity: 0;z-index: 9;width: 100%;height: 100%;-webkit-appearance: none;}
.checkbox-icon-round{border-radius: .4rem;}
.checkbox-icon, .checkbox-icon-round {position: relative;display: block;width: .4rem;height: .4rem;background: #fff;-webkit-transition: background .1s;transition: background .1s;border: 1px solid #ddd;}
input:checked+.checkbox-icon, input:checked+.checkbox-icon-round {background: #129bf0;border-color: #129bf0;background-clip: padding-box;}
.checkbox-icon-round:after, .checkbox-icon:after {position: absolute;content: "";top: .06rem;right: .12rem;width: .12rem;height: .2rem;border: solid #fff;border-width: 0 .04rem .04rem 0;-webkit-transform: rotate(45deg) scale(0);transform: rotate(45deg) scale(0);-webkit-transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s,-webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;}
input:checked+.checkbox-icon-round:after, input:checked+.checkbox-icon:after {-webkit-transform: rotate(45deg) scale(1);transform: rotate(45deg) scale(1);}

/* 确认支付按钮 */
.confirm{margin-top: .4rem; visibility: hidden;}
.confirm a{background: #129bf0;color: #fff;font-size: .32rem;width: 85%;height: 1rem;text-align: center;line-height: 1rem;display: block;margin: 0 auto;border-radius: .06rem;}
.confirm a:hover {text-decoration: none;}

/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}
