
body, html{background: #f4f4f4;}

.header{position: fixed; top: 0; left: 0; right: 0;}
.tab{position: fixed; top: .9rem; left: 0; right: 0; border-bottom: 1px solid #f4f4f4;}
.huoniao_iOS .tab{top: calc(.9rem + 20px);}
.tab ul{display: -webkit-box; background: #fff;}
.tab ul li{-webkit-box-flex: 1; padding: .2rem .3rem; font-size: .3rem; text-align: center;}
.tab ul li.curr{border-bottom: 2px solid #129bf0;}

.item{background: #fff; border-top: 1px solid #f1f1f1; padding-right: .2rem; padding: .2rem; font-size: .28rem; display: -webkit-box;}
.item .lbox{color: #999; margin-right: .4rem; width: 2rem;}
.item .date{font-size: .26rem;}
.item .number{font-size: .3rem; line-height: .4rem;}
.item p.number.less{color: #ff6800;}
.item p.number.add{color: #30992e;}
.item .rbox{-webkit-box-flex: 1;}
.item .thing{color: #666; overflow: hidden; line-height: .4rem; height: .4rem; text-overflow: ellipsis; white-space: nowrap;}

.static{padding: .1rem .2rem; background: #fffaeb; border-bottom: 1px solid #fff6db; color: #666; font-size: .24rem; display: -webkit-box; margin-top: 1.8rem;}
.huoniao_iOS .static{margin-top: calc(1.8rem + 20px);}
.static span{display: inline-block; -webkit-box-flex: 1;}
.green{color: #30992e; font-size: .3rem; margin-right: .4rem;}
.orange{color: #ff6800; font-size: .3rem;}

.loading{line-height: 1rem; text-align: center; font-size: .3rem;}
