body, html{opacity: 1; font-size: .28rem; background: #f5f5f5;}

.header{position: fixed; top: 0; left: 0; right: 0; z-index: 100;}
.header-r{visibility: visible;}
.search{background: #f5f5f5; padding: .2rem; position: fixed; left: 0; right: 0; top: .9rem; z-index: 100;}
.search .inpbox{background: #fff; border-radius: 1rem; overflow: hidden; border: 1px solid #d4d4d4;}
.search .inpbox input{float: left; width: 5.8rem; padding: .1rem 0 .1rem .4rem; border: none; outline: 0;}
.search .inpbox .search-btn{float: left; display: block; width: .7rem; height: .4rem; background: url(../images/search_icon.png) center center no-repeat; background-size: .32rem auto; border-left: 1px solid #d4d4d4; margin-top: .1rem;}
.huoniao_iOS .search{top: calc(.9rem + 20px);}

/*导航条*/
.navblank{position: fixed; height: .75rem; border-bottom: 1px solid #f1f1f1; z-index: 100; left: 0; right: 0; top: 1.9rem;}
#swiper-container1{border-bottom: 1px solid #f1f1f1; border-top: 1px solid #f1f1f1; background: #fff;}
#swiper-container1.fixed{position: fixed; top: 0; left: 0; right: 0; z-index: 999;}
#swiper-container1 .swiper-slide{display: block;line-height: .7rem;font-size: .3rem;text-align: center;float: left; width: 1.2rem;}
#swiper-container1 .active-nav{border-bottom: 2px solid #66adef;}
#swiper-container1 .active-nav a{color: #66adef; font-size: .34rem; font-weight: 500;}
#swiper-container1 .nav-box{width: 10.5rem;}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide{height: auto;}
#swiper-container2{z-index: 99; margin: 2.65rem 0 0; height: 100%; padding-bottom: .2rem;}
#swiper-container2.pad{padding-bottom: 1.2rem;}
#swiper-container2 .swiper-wrapper.auto{height: auto !important;}
.huoniao_iOS .navblank{top: calc(1.9rem + 20px);}
.huoniao_iOS #swiper-container2{margin-top: calc(2.75rem + 20px);}

/*列表*/
.content .item{display: -webkit-box; padding: .2rem; background: #fff; margin: .2rem .2rem 0;}
.content .item .radio{width: .6rem; background: url(../images/xuan.png) left center no-repeat; background-size: .4rem auto; display: none;}
.content .item .radio.selected{background: url(../images/ok_icon.png) left center no-repeat; background-size: .4rem auto;}
.content .item .radio span{display: block; width: .5rem; height: .5rem; border-radius: .5rem;}
.content .item .item-a{display: block; -webkit-box-flex: 1;}
.content .imgbox{position: relative; overflow: hidden; width: 1.5rem; height: 1.5rem; margin-right: .2rem; float: left;}
.content .imgbox img{display: block; width: 100%; height: 100%;}
.content .txtbox .title{line-height: .4rem; max-height: .8rem; overflow: hidden;}
.content .price{color: #f28543; text-align: right; margin-top: .32rem;}

/*二级筛选*/
.content-tab{display: -webkit-box; border-bottom: 1px solid #f2f2f2; background: #fff;}
.content-tab li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0;}
.content-tab li.curr{color: #66adef;}
.content-ul{display: none;}

/*底部*/
.editBox{position: fixed; bottom: 0; left: 0; right: 0; background: #fff; padding: .2rem; font-size: .28rem; border-top: 1px solid #f2f2f2; z-index: 100; display: none;}
.editBox a{display: block; width: 1rem; text-align: center; padding: .1rem 0;}
.editBox .selectAll{padding-left: .3rem; float: left; background: url(../images/xuan.png) left center no-repeat; background-size: .4rem auto;}
.editBox .selectAll.selected{background: url(../images/ok_icon.png) left center no-repeat; background-size: .4rem auto;}
.editBox .delAll{background: #00a0e9; color: #fff; float: right;}
.editBox .already{background: #f4f4f4; float: right; margin-left: .4rem;}
