html{background: #f0f0f2;}
.content{padding-bottom: 2rem;}
/*选择筛选类型*/
.hotel-tab{ background-color: #fff;}
 ul.hotel-tab{justify-content: space-between; display: flex; padding: 0 .3rem;}
 ul.hotel-tab li{font-size: .3rem; line-height: .6rem; padding: .1rem 0;}
 .curr-line i{display: block; width: .28rem; height: .05rem; background-color: #f9412e; border-radius: .025rem; margin: auto;}
.curr-line { display: none;}
li.curr .curr-line{display: block !important;}
/*信息列表*/
.hotel-box{margin: .2rem; background: #fff;border-radius: .12rem;padding:0 .24rem;}
.hotel-box .title{height:.7rem;line-height:.7rem;border-bottom: 1px solid #dcdde3; }
.hotel-item{padding: .3rem 0;overflow: hidden;}
.hotel-item a{display: block; width: 100%; height: 1.8rem; position: relative;}
.hotel-item .hotel-img{width: 1.8rem;height: 1.8rem;border-radius:.08rem;margin-right: .2rem;float: left;position: relative;background: #f5f5f5; overflow: hidden;}
.hotel-item .hotel-img img{width: 100%;height: 100%;object-fit: cover;}
.hotel-item dl{position: relative; overflow: hidden; display: block;}
.hotel-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.hotel-item dt{font-size: .3rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;font-weight: bold;}
.hotel-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.hotel-item dd.msg{padding: .18em 0;}
.hotel-item dd.msg span{font-size: .22rem; color: #9aa2b7; border-radius:.04rem; background-color: #dfe2ea; padding: .04rem .06rem; margin-right: .1rem;}

/*.hotel-item dd.item-type-2{margin-top: .04rem}*/
/*.hotel-item dd.item-type-1 span{margin-right: .08rem}*/
.sp_type,.sp_room,.sp_type{margin-right: .24rem;position: relative;}
.sp_room:after{content: "";display:inline-block;width: 1px;height: .2rem;background: #919191;position: absolute;right: -.12rem;top: .06rem;}
.o{padding: 0 0 .3rem;}
.o a{border-radius: .04rem; color: #333; font-size: .24rem; float: right;padding:.1rem .36rem .1rem .72rem;border:solid 1px #c0c1c4;border-radius:.52rem;}
.o a.bid{background: url(../images/bid.png) center left no-repeat; background-size: .36rem auto;}
.o a.edit{border-radius:.52rem;background: url(../images/icon_edit.png) 28% center no-repeat; background-size: .26rem auto;margin-left:.3rem;}
.o a.del{background: url(../images/icon_del.png) 28% center no-repeat; background-size: .24rem auto;}
.o a.refresh{background: #fa6352 url(../images/icon_refresh.png) 28% center no-repeat; border:solid 1px #fa6352;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.refresh.disabled{background:#bbbec4 url(../images/icon_refresh.png) 28% center no-repeat;border:solid 1px #bbbec4;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.topping{background: url(../images/topping.png) center left no-repeat; background-size: .28rem auto;}
.o a.delayPay{background: url(../images/manage-pay.png) center left no-repeat; background-size: .35rem auto;color: #f60;}
.o a.load {background: url(/static/images/loading_16.gif) center no-repeat; background-size: .35rem auto;color:transparent;}
.o a.refresh.disabled {background: #bbbec4 url(../images/icon_refresh.png) 16% center no-repeat;border: solid 1px #bbbec4;color: #fff;background-size: .27rem auto;margin-left: .3rem;cursor: not-allowed;}

.o a.del:active,.o a.edit:active{background-color: #f5f5f7;}
.o a.refresh:active{background-color: #ed5e4e;}
.o a.refresh.disabled:active{background-color: #bbbec4;}
.msg{margin-top: .08rem;}
.hotel-item dd.price{position: absolute; bottom: 0; overflow: hidden;}
.hotel-item dd.price span{color: #ff4a47; }
.hotel-item dd.price span em{font-size: .32rem; font-weight: bold;}
.right_text{float: left;}
.left_text{float: right; color: #a0a0a0; font-size: .24rem;}
.hotel-box{border-bottom: 1px solid #f4f4f4;}
.loading{text-align: center; line-height: 1rem;}

.right_state{float: right; color: #f9412e;}

/*新增按钮*/
/*.add_btn{display: block; font-size: .28rem; line-height: .8rem; margin: 0 .24rem; text-align: center; border-radius: .08rem; background-color: #fff; border:solid .01rem #f9374e; color: #f9374e; font-weight: 500;}*/
.add_btn{width: 1rem; height: 1rem; display: block; border-radius: 50%; background-color: #fff4f4; line-height:1rem; text-align: center; font-size: .28rem; color: #f9374e; position: fixed; right: .3rem; bottom: 1rem; box-shadow: 0 .02rem .6rem rgba(255,163,174,.8); background-image: url(../images/travel/add.png);  background-repeat: no-repeat; background-size: .6rem; background-position: center;}

.fabuBtn {background-color: #edeef2;position: fixed;left:0;right: 0;bottom: 0;padding:.25rem 0;}
.fabuBtn a{width:6rem; height: 0.8rem;margin: auto;border-radius: .8rem;background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);box-shadow: 0px 3px 7px 0px rgba(101, 126, 255, 0.47);border-radius: .4rem;display: block; line-height: .8rem;  text-align: center; font-size: .3rem; font-weight:bold;color: #fff;}
.fabuBtn a:active{background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);}

.empty{text-align: center;padding: .5rem;}