body,html{
	font-size: .3rem;
	background: #fff;
}
* { 

-webkit-tap-highlight-color: transparent; 
-webkit-appearance: none; 
}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .4rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .4rem; margin: .28rem 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right; background: url(../images/header_la.png) center center no-repeat; background-size: auto .5rem;visibility: hidden;}



.card_list{
	padding: 0 .4rem;
	margin-top: .6rem;
}
.card_list .card.blue{
	background: linear-gradient(to right, #17aae7, #45c2f1); 
}
.card_list .card.perpro{
	background: linear-gradient(to right, #9f4cf5, #b174f5); 
}
.card_list .card.orange{
	background: linear-gradient(to right, #e79d3e, #edb726); 
}
.card_list .card.blue_1{
	background: linear-gradient(to right, #376add, #458ef1); 
}
.card_list .card{
	height: 2.3rem;
	padding-left: .7rem;
	margin-bottom: .2rem;
}
.card_list .card .infor{
	padding-top: .5rem;
	height: 1.1rem;
	line-height: 1.1rem;
}
.card_list .card .infor .pic{
	float: left;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 1.1rem;
	height: 1.1rem;
	overflow: hidden;
	margin-right: .1rem;
	box-shadow:0px 1px 6px #000;
}
.card_list .card .infor .pic img{
	width: 100%;
	height: 100%;
}
.card_list .card .infor em{
	color: #fff;
}
.card_list .card .infor span{
	padding:.04rem 0.12rem;
	border: 1px solid #fff;
	color: #fff;
	font-size: .24rem;
}
.card_list .card .zhe{
	float: right;
	color: #fff;
	margin-right: 0.3rem;
	font-size: .34rem;
}
.card_list .get{
	height: .8rem;
	line-height: .8rem;
	background: #efefef;
	text-align: center;
	font-size: .34rem;
	margin-top: .55rem;
}