body, html{font-size: .3rem; background: #f9f9f9;}

.header-box{background: #1498ec url(../images/withdraw_bg.png) right 1rem no-repeat; background-size: 2.5rem auto;}
.header{background: none; border-bottom: none; color: #fff;}
.header-box .txtbox{text-align: center; color: #fff; padding: .2rem 0 .6rem 0;}
.header-box .txtbox .account{margin-top: .1rem;}
.header-box .txtbox .account em{font-size: .52rem; font-weight: normal;}

.tab{margin-bottom: .2rem;}
.tab ul{display: -webkit-box; background: #fff;}
.tab ul li{-webkit-box-flex: 1; padding: .28rem .3rem; font-size: .3rem; text-align: center;}
.tab ul li.curr{border-bottom: 2px solid #00a0e9; color: #00a0e9;}
.tab ul li.curr a{color: #00a0e9;}

.price{padding: .2rem; background: #fff; border-top: 1px solid #f1f1f1; font-size: .28rem; border-bottom: 1px solid #f1f1f1; margin-bottom: .2rem;}
.price strong{font-size: .36rem; color: #ff6800; font-weight: normal;}

.bgfff{background: #fff; padding: 0 .3rem;}
.inpbox{display: table; font-size: .26rem; border-bottom: 1px solid #eaeaea; width: 100%; padding: .1rem 0; line-height: .6rem; background: #fff; margin-bottom: .2rem;}
.norecord .inpbox:last-child{border-bottom: 0;}
.inpbox dt{display: table-cell; width: 1.8rem; vertical-align: top;}
.inpbox dd{display: table-cell; padding-right: .4rem; position: relative;}
.inpbox dd input{width: 100%; border: 0; outline: 0; height: 100%;}

/*有记录样式*/
.historyBank{position: relative; margin: .2rem 0 .3rem; background: #fff; display: block; padding: .3rem; font-size: .32rem;}
.historyBank .gray{color: #a5a5a5; font-size: .3rem;}
.historyBank .arrow{position: absolute; background: url(../images/right1.png) right center no-repeat; display: block; background-size: .4rem auto; width: .4rem; height: 100%; right: .2rem; top: 0;}
.withdraw{padding: .3rem 0 .6rem;}
.withdraw .tit{margin-bottom: .2rem; font-size: .32rem;}
.withdraw input{border: none; border-bottom: 1px solid #eaeaea; outline: 0; width: 100%; padding: .2rem 0 0; text-indent: 25px;}
.inp-count{position: relative;}
.inp-count em{position: absolute; left: 0; bottom: -0.05rem; padding: 0 .1rem 0 0; background: #fff;}

a#tj{display: block; padding: .3rem 0; text-align: center; font-size: .3rem; background: #00a0e9; color: #fff; margin: 1rem .3rem 0; border-radius: 0.08rem;}
