/*html{background-color: #f8f8f8; height: 100%;}*/
.popupRightBottom .fastNav{display: none;}
body{background-color: #f8f8f8; height: 100%;}
.header{position: fixed !important; top: 0; left: 0; width: 100%;}
.contentBox{padding-top: .9rem;}

/*列表*/
.listBox{width: 100%; background-color: #fff; }
/*.listBox ul{margin-left: .24rem; margin-right: .24rem;}*/
.listBox ul .li_box{padding:.28rem .24rem 0 .24rem; /*border-bottom: solid .01rem #e5e5e5;*/}
.listBox ul .li_box:after{content: ''; display: block; clear: both;} 
.li_box>a{display: block; padding-bottom: .3rem; border-bottom: solid .01rem #f2f2f2;}
.listBox ul .li_box:nth-last-child(1) a{border: none;}
.li_box:active{background-color: #f5f5f5;}
/*--左边--*/
.li_box .left_b{width: 2.1rem; height: 2.1rem; border-radius: .08rem; overflow: hidden; position: relative; float: left;}
.li_box .left_b img{width: 100%; height: 100%; object-fit: cover;}
.li_box .left_b.videoshow:after{content: '';display: block; width: .6rem; height: .6rem; background-image: url(../images/v_icon.png); background-size: contain; position: absolute; left: 50%; top: 50%; margin-left: -.3rem; margin-top: -.3rem;}
.li_box .left_b .labshow{font-size: .2rem; color: #fff; width: .98rem; height: .36rem; line-height: .36rem; background-color: #fbba1f; top: 0; left: 0; position: absolute;text-align: center;}  /*标签样式*/
/*--右边--*/
.li_box .right_b{margin-left: 2.4rem; height: 2.1rem; position: relative;}
.right_b h2{font-size: .28rem; color: #333;  margin-bottom: .22rem; width: 100%;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;}
.info_view{font-size: .24rem; color: #a0a0a0; overflow: hidden; line-height: .36rem; position: absolute; bottom: 0.04rem; width: 100%; }
.go_shop{width: 1.34rem; height: .48rem; border-radius: .24rem; background-color: #f93b1c; text-align: center; color: #fff; line-height: .48rem; position: absolute; bottom: 0.1rem; right: 0.1rem; box-shadow: 0 .04rem .1rem rgba(247,86,43,.76);}

/*app的样式*/
.huoniao_iOS .contentBox{padding-top: 0 !important;}
.tip{text-align: center;padding: .2rem;}