body{background-color: #f0f0f2;padding-bottom: 1.1rem;}
/* 导航条 */
.nav {position: relative; background: #f8f8f8; border-bottom: 1px solid #dfdfdf; line-height: .84rem; min-height: .84rem; font-size: .32rem;clear: both;overflow: hidden;}
#nav li {float: left; text-align: center; position: relative; height: .84rem; display: inline-block; padding: 0 .24rem 0 .16rem;background-position: right -1.84rem;overflow: hidden;}
#nav li:first-child {width: 1.04rem; padding:0;border-right: 1px solid #dfdfdf;background:none;}
#nav li:last-child {background:none;}
.nav .login ,.nav .user {position: absolute; right: .8rem; top: .12rem;display: block; height: .6rem; width: .6rem;-webkit-border-radius: 50%; border-radius: 50%;}
.nav .login {background-position: 0 -3.28rem;}
.nav .daoh {width: .8rem; height: .84rem; position: absolute; top: 0; right: 0; background-position: .16rem -0.86rem; text-indent: 999em; overflow: hidden;}
.nav .user img {display: block; height: .6rem; line-height: .6rem; width: .6rem; -webkit-border-radius: 50%; border-radius: 50%;}

.content {clear: both; text-align: justify; margin-bottom: .2rem; font-size: .36rem;line-height: .54rem; background: #fff; overflow: hidden;}
/* 标题 */
.art_title {padding:.3rem;margin-bottom: .1rem;font-size: .48rem;clear: both;}
.art_title h2 {line-height: 1.4; font-weight: bold; padding-bottom: .5rem;color: #212121;}
.art_title_more {position: relative;}
.art_title_more ._left{float: left;}
.art_title_more ._left .imgbox{float: left;width: .7rem;height: .7rem;overflow: hidden;border-radius: 50%;margin-right: .2rem;}
.art_title_more ._left .imgbox img{width: 100%;height: 100%;display: block;}
.art_title_more ._left .imgInfo{position: relative;overflow: hidden;line-height: .35rem;}
.art_title_more ._left .imgInfo h5{font-size: .28rem;color:#212121;margin-bottom: .04rem;}
.art_title_more ._left .imgInfo p{font-size: .24rem;color:#919191;margin-bottom: 0;}
.art_title_more ._right{position: absolute;top:50%;right:0;margin-top: -.25rem;}
.btn_care{height: .51rem;line-height: .51rem;padding:0 .25rem;font-size:.24rem;color:#fff;display:block;background: -moz-linear-gradient( 0deg, rgb(255,187,24) 0%, rgb(255,135,27) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,187,24) 0%, rgb(255,135,27) 100%);background: -ms-linear-gradient( 0deg, rgb(255,187,24) 0%, rgb(255,135,27) 100%);box-shadow: 0px 0px 3px 0px rgba(255, 61, 16, 0.31);border-radius: 2.55rem;}
.btn_care s{display: inline-block;width: .21rem;height: .21rem;background: url(../images/ic_add.png) no-repeat center center;    background-size: cover;vertical-align: middle;margin-right: .1rem;margin-top:-.07rem;}
.btn_care.cared{background: #c4c4c4;color:#fff;box-shadow: none;}
.btn_care.cared s {display: none;}

.artMainCon img{max-width: 100% !important;display: block; width: 100%;}
.artMainCon .txtCon{padding:.4rem .24rem;}
.artMainCon .txtCon p{text-align: justify; }
.artMainCon p{margin-top: .2rem;}
/*.artMainCon img{width: 100%; max-height: ; height: auto;}*/
.artMainCon{padding: 0 .4rem .4rem;font-size: .3rem; line-height: .54rem;color: #3b3b3b;}

/*底部按钮*/
.btnbox {margin:.2rem auto;position:relative;display:-webkit-box;}
.btnbox > div {-webkit-box-flex:1;text-align:center;}
.btnbox > div i {width:.8rem;height:.8rem;display:block;margin:0 auto .1rem;}
.btnbox > div span {color:#a0a0a0;font-size:.28rem;}
.btnbox > div s {display:block;}
.btnbox > div s img {width:.9rem;height:.9rem;margin:auto;}
.btnbox .rewardbox i {background:url(../images/rewardIcon.png) no-repeat center center;background-size:.8rem;}
canvas {display:block;position:absolute;bottom:1.5rem;left:1rem;z-index:9999;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}

/*打赏列表*/
.rewardlist {margin:.4rem auto;padding:0 .24rem;}
.rwline{width: 100%; height: 1px; margin-bottom: .32rem; position: relative;background: -webkit-linear-gradient(left,rgba(225,238,227,0) 0, rgba(225,238,227,1) 10%,rgba(225,238,227,1) 90%, rgba(225,238,227,0.5) 100%); background: -o-linear-gradient(right,rgba(225,238,227,0) 0, rgba(225,238,227,1)  10%,rgba(225,238,227,1) 90%, rgba(225,238,227,0.5) 100%); background: -moz-linear-gradient(right,rgba(225,238,227,0) 0, rgba(225,238,227,1) 10%,rgba(225,238,227,1) 90%, rgba(225,238,227,0.5) 100%); background: linear-gradient(right,rgba(225,238,227,0) 0, rgba(225,238,227,1) 10%, rgba(225,238,227,1) 90%,rgba(225,238,227,0.5) 100%);
}
.rwline i{display: block; width: .28rem; height: .28rem; border-left: solid 1px #e1e4ed; border-top: solid 1px #e1e4ed; transform: rotate(45deg); position: absolute; left: 50%; top: -.14rem;margin-left:-.14rem; background: #fff;}

.rewardlist .dsCount{padding:0 .1rem 0 .1rem;height: .37rem;background-color: rgb(255, 247, 236);box-shadow: 0.707px 0.707px 5px 0px rgba(255, 123, 16, 0.23);float: left;position: relative;margin-top: .1rem;margin-right: .15rem;}
.rewardlist .dsCount:after{content: '';display: block;width: 0;height:0;border-top:.1rem solid transparent;border-bottom: .1rem solid transparent;border-left: .1rem solid rgb(255, 247, 236);position: absolute;top:.07rem;right: -.1rem; filter: drop-shadow(3px 3px 2px #ff7b103b);}
.rewardlist .dsCount span{float:left;color:#ffa62a;font-size: .24rem;line-height:.32rem;}
.rewardlist .dsIcon {float:left;width:.21rem;height:.2rem;background:url(../images/icon_per.png) no-repeat center center;background-size:contain;margin-right:.1rem;margin-top:.07rem;vertical-align: middle;}
.rewardlist ul {float:left;height:.6rem;overflow:hidden;}
.rewardlist ul li {float:left;width:.6rem;height:.6rem;border-radius:50%;overflow:hidden;margin-left:.15rem;}
.rewardlist ul li img {width:100%;height:.6rem;}
.morebox {float:right;width: .6rem;height: .6rem;}
.morebox i {display:inline-block;width:.6rem;height:.6rem;background:url(../images/moreIcon.png) no-repeat center center;background-size:.6rem;}


/*评论区域*/
.commentBox ,.recomBox{background: #fff;margin-bottom: .24rem;}
.headtop{padding:0 .25rem;}
.head-title {padding:.3rem 0;border-bottom:solid .02rem #dedede;}
.head-title p {font-size:.32rem;color:#4f4f4f;}
.head-title p span {padding:.3rem 0;border-bottom:solid .04rem #4d6fff;color:#919191;}
.commentList{padding:0 .25rem;}
.commentBox ul li {padding:.2rem 0;border-bottom:solid .02rem #dedede;overflow: hidden;}
.commentBox ul li .imgbox{float: left;width: .6rem;height: .6rem;position: relative;border-radius:100%;overflow: hidden;margin-right: .14rem;}
.commentBox ul li .imgbox img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}
.commentBox ul li .rightInfo{position: relative;overflow: hidden;}
.commentBox ul li .rightInfo h4{font-size: .26rem;color:#5a5c5e;line-height: .4rem;}
.commentBox ul li .rightInfo .txtInfo{font-size: .3rem;color:#393a3b;margin-top: .15rem;}
.commentBox ul li .rightInfo .replyCon{padding:.2rem;background: #f2f3f5;margin:.25rem 0 .3rem;}
.rightInfo .replyCon dl{line-height: .4rem;overflow: hidden;}
.rightInfo .replyCon dl dt{float: left;font-size: .28rem;}
.rightInfo .replyCon dl dd{font-size: .28rem;color:#666;}
.commentBox ul li .rightInfo .rbottom{overflow: hidden;font-size: .24rem;color:#999;}
.rightInfo .rbottom .rtime{float: left;}
.rightInfo .rbottom .rbInfo{float: right;}
.rightInfo .rbottom .rbInfo s{display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top:-.08rem;margin-right: .05rem;}
.rightInfo .rbottom .rbInfo .btnReply{margin-right: .4rem;}
.rightInfo .rbottom .rbInfo .btnReply s{background: url(../images/ic_reply.png) no-repeat center center;background-size: cover;}
.rightInfo .rbottom .rbInfo .btnUp s{background: url(../images/ic_up.png) no-repeat center center;background-size: cover;}
.rightInfo .rbottom .rbInfo .btnUp.active{color:#fc3a4a;}
.rightInfo .rbottom .rbInfo .btnUp.active s{background: url(../images/ic_up1.png) no-repeat center center;background-size: cover}
.spColor,.pmore{color:#498cde;}
.pmore{font-size: .28rem;display: block;}
.allmore{width:100%;height:.95rem;line-height:.95rem;text-align: center;font-size: .28rem;color:#666;background-color: #fff;}
.allmore a{display: block;color: #666;}
.allmore s{display: inline-block;width: .26rem;height: .26rem;background: url(../images/ic_more.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top:-.05rem;}


/*精彩推荐*/
.recomList ul li a{padding:.24rem;border-bottom:solid 1px #e8e8e8; display: block;}
.recomList ul li a:active{background:#f2f2f2;}
.recomList .vBox{border-bottom:none;}
.recomList ul li .aleft{position: relative; overflow: hidden;}
.recomList ul li .aright_{float: right;margin-left:.2rem;position: relative;width: 2.28rem;height: 1.5rem;border-radius: .06rem;overflow: hidden;}
.recomList ul li .aright_ img,.recomList ul li .imgBox .mBox img{width:100%;min-height:100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}

.recomList ul li h2{font-size: .34rem;color:#3b3b3b;line-height: .54rem;margin-bottom: .26rem; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;text-align: justify;}
.recomList ul li.singleBox h2{overflow: hidden;margin-bottom:.06rem;}
.recomList ul li p{font-size: .24rem;color:#bababa;margin-top: .15rem;overflow: hidden;}
.recomList ul li p span{margin-right: .2rem;}
.recomList ul li p span em{margin:0 .1rem;}
/*单图*/
.recomList .singleBox p span:first-child{max-width:1.6rem;float:left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.Icount{position: absolute;right: .1rem;bottom: .08rem;background-color: rgba(0,0,0,.31);height: .32rem;padding:0 .16rem;border-radius:.16rem; font-size: .24rem;color:#fff;}
/*多图*/
.recomList .multipleBox .imgBox {position: relative;}
.recomList .multipleBox .imgBox .mBox{margin-right:.09rem;float: left; position: relative;width: 2.28rem;height: 1.5rem;border-radius: .06rem;overflow: hidden;}
.recomList .multipleBox .imgBox .mBox.last{margin-right: 0;}
.recomList ul li .ihot{display: inline-block;width: .35rem;height: .35rem;background: url(../images/icon_hot.png) no-repeat center center;background-size: cover;vertical-align: -.05rem;margin:0 .05rem;}
/*大图*/
.recomList ul li.bigBox .imgBox{height: 3.6rem;width: 100%;position: relative;border-radius: .06rem;overflow: hidden;}
.recomList ul li.bigBox img{max-width:100%;max-height:100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}

.error{padding:.3rem .24rem .1rem;text-align: center;font-size: .26rem;color:#919191;background-color: #f0f0f2;}






/*底部导航*/
.nfooter{height: 1.08rem;line-height: 1.08rem;background: #fff;padding:0 .24rem;position: fixed;bottom: 0;left:0;right:0;transition: bottom 0.5s ease 0s;}
.nfooter a{display: block;position: relative;}
.nfooter a s{display: inline-block;vertical-align: middle;width: .5rem;height: .5rem;margin-top:-.1rem;}
.nfooter .f_write{font-size: .32rem;color:#5e5e5e;font-weight: bold;float: left;}
.nfooter .f_read{float: right;}
.nfooter .f_share{float: right;margin-left: .8rem; display: block !important; }
.nfooter .f_read span{display: block;position: absolute;bottom: 57%;left: 50%;min-width: .26rem;max-width: .6rem;height: .3rem;line-height: .28rem;padding: .01rem .04rem .01rem .04rem;background: #ff2938;border-radius: .2rem;color: #fff;font-size: .2rem;overflow: hidden;text-align: center;}
.nfooter .f_write s{background: url(../images/ic_write.png) no-repeat center center;background-size: cover;}
.nfooter .f_read s{background: url(../images/ic_read.png) no-repeat center center;background-size: cover;}
.nfooter .f_share s{background: url(../images/ic_share.png) no-repeat center center;background-size: cover;}

.nfooter{padding-bottom: calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}

/*打赏*/
.content p.shangbtn{margin-bottom: 1rem;}
.shangbtn span{display: block; width: 1rem; margin: 0 auto;}
.shangbtn span img{display: block; width: 100%;}
.shang-box{background: #fff;width: 80%;margin: 0 auto;border-radius: .1rem;position: fixed;left: 10%;top: 20%; display: none; z-index: 999999}
.shang-box em{font-style: normal; vertical-align: bottom;}
.shang-box .shang-money .close{display: block;width: .8rem;height: .8rem;background: url(../images/cha.png) center center no-repeat;background-size: .4rem .4rem;}
.shang-money .pic-box{width: 1.3rem;height: 1.3rem;border-radius: 1.3rem;overflow: hidden;margin: 0 auto}
.shang-money .pic-box img{display: block;width: 100%;}
.shang-money .shang-item{text-align: center;margin-bottom: .2rem;}
.shang-money .shang-item-cash{font-size: .5rem;line-height: .8rem;margin-top: .4rem;display: block;}
.shang-money .shang-item-cash em{font-size: 1rem; font-style: normal; vertical-align: 0}
.shang-money .shang-item .inp{display: block;color: #128fe9;font-size: .34rem;width: 2rem;margin: 0 auto;}
.shang-money .shang-item form{font-size: .5rem;border-bottom: 1px solid #ccc;margin: .4rem auto 0;display: none;width: 63%;}
.shang-money .shang-item form input{font-size: .58rem;border: none;width: 80%;}
.shang-money .shang-item form input:-ms-input-placeholder{font-size: .3rem;}
.shang-money .shang-item form input::-webkit-input-placeholder{font-size: .3rem;}
.shang-money .shang-item .error-tip{color: #df3e21;height: .4rem;line-height: .5rem;}
.shang-money .shang-item .error-tip span{display: none;}
.shang-money .shang-btn{margin-bottom: .4rem;}
.shang-money .shang-btn a{display: block;width: 80%;margin: 0 auto;height: .9rem;background: #e55f56;text-align: center;line-height: .9rem;color: #fff;font-size: .5rem;border-radius: .4rem;}
.shang-money .tip-p{font-size: .26rem;text-align: center;color: #cacaca;text-align: center;margin-bottom: .4rem;}
.shang-money .tip-em{font-size: .26rem;text-align: center;color: #a1a1a1;margin: .2rem 0;}
.shang-money .tip-em a{color: #179ae2;line-height: .8rem;}
.shang-else input {border: 0; margin: 0; padding: 0; font-size: 1em; line-height: 1em; background-color: transparent;}
.mask{position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002;display: none;}

/*支付方式*/
.paybox{position: fixed; bottom: -100%; left: 0; right: 0; z-index: 10003; background: #fff; display: none;}
.paybox.show{display: block;}
.paybox .tit{text-align: center; line-height: 1rem; font-size: .34rem;}
.paybox ul{padding: 0 .4rem;}
.paybox li{border-bottom: 1px solid #f4f4f4; padding: .3rem 0 .3rem 1rem; position: relative;}
.paybox li.pay1{background: url(../images/pay1.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay2{background: url(../images/pay2.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay3{background: url(../images/pay3.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay4{background: url(../images/pay4.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay5{background: url(../images/pay5.png) left center no-repeat; background-size: .7rem auto;}
.paybox li .radio{position: absolute; right: 0; top: .3rem; bottom: 0; background: url(../images/radio1.png) right center no-repeat; background-size: contain; width: .4rem; height: .4rem;}
.paybox li.on .radio{background-image: url(../images/radio2.png);}
.paybox .paybtn{display: block; border: 1px solid #fd7a40; width: 3rem; padding: .2rem 0; text-align: center; margin: .2rem auto; color: #fd7a40; border-radius: .08rem;}


/*大图展示*/
.bigBoxShow{width: 100%;height: 100%;position: fixed;top:0;left:0;z-index: -1;opacity:0;background: #000;transition: all .4s;}
.bigBoxShow .bigSwiper{position: relative;width: 100%;height: 100%;}
.bigBoxShow .bigSwiper .swiper-wrapper{width: 100%;height: 100%;}
.bigBoxShow .bigSwiper .swiper-wrapper .swiper-slide{width: 100%;height: 100%;}
.bigBoxShow .bigSwiper .swiper-wrapper .swiper-slide .swiper-img{width: 100%;height: 100%;text-align: center; display: -webkit-box;  -webkit-box-flex: 1;-webkit-box-orient: vertical;-webkit-box-align: center;-webkit-box-pack: center;}
.bigBoxShow .bigSwiper .swiper-wrapper .swiper-slide .swiper-img img{max-width: 100%;max-height: 80%;margin:0 auto;}
.bigBoxShow .bigPagination{color:#fff;font-size: .28rem;bottom:.5rem;}
.vClose{position: absolute;top: .2rem;left: .2rem;width: .5rem;height: .5rem;display: none;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.bigBoxShow .vClose{display:block;}



/* 分页 */
.page {position: relative; height: 30px; margin: 30px auto 40px; text-align: center;}
.page ul {height: 30px;}
.page ul li {display: inline-block; margin-right: 3px;margin-bottom: 10px;}
.page ul li span {display: inline-block; padding: 0 10px; border: 1px solid #ddd; background: #2d96e9; color: #fff; font-size: 14px; line-height: 28px; font-weight: 700;}
.page ul li span.disabled {border: 1px solid #ddd; background: #fff; color: #000; font-weight: normal;}
.page ul li a {display: inline-block; padding: 0 10px; border: 1px solid #ddd; font-size: 14px; line-height: 28px;}
.page ul li a:hover {border: 1px solid #2d96e9; background: #2d96e9; color: #fff;}