body{width: 100%; background-color: #f8f8f8;}
.first_content{background-color: #fff;}
/*.popupRightBottom .fastNav{display: none;}*/
/*图片轮播*/
.topSwiper{width: 100%; height: 3.86rem; background-color: #f5f5f5; position: relative; overflow: hidden;}
.bannerbox{height: 3.86rem;}
.tabbox span{display: inline-block; height: .36rem; width: 1rem; text-align: center; border-radius: .18rem; background-color: rgba(0,0,0,.4); margin:0 .14rem; color: #fff; font-size: .24rem; line-height: .36rem;}
.tabbox {text-align: center; position: absolute; bottom: .2rem;width: 100%; z-index: 2;}
.tabbox .on_tab{ background: -moz-linear-gradient(left, #f4840c 0%, #f8c12d 100%);background: -webkit-gradient(linear, left, right, color-stop(0%,#f4840c), color-stop(100%,#f8c12d)); background: -webkit-linear-gradient(left, #f4840c 0%,#f8c12d 100%);background: -o-linear-gradient(left, #f4840c 0%,#f8c12d 100%);background: -ms-linear-gradient(left, #f4840c 0%,#f8c12d 100%);background: linear-gradient(to right, #f4840c 0%,#f8c12d 100%);}
.imgplay{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.imgplay img{width: .9rem!important;height: .9rem;}
.li_img,.video-box{height: 3.86rem;}
.li_img img,.video-box img{width: 100%; height: 100%; object-fit: cover;}
.topSwiper .swiper-pagination{color: #fff; width: 1rem !important; right: 0 !important; left: auto; bottom: .32rem; font-size: .24rem !important;}
.topSwiper .swiper-pagination .swiper-pagination-total{font-size: .24rem;}
/*景点信息*/
.info_attr{margin-left: .24rem; margin-right: .24rem; margin-top: .3rem; padding-bottom: .26rem;}
.info_attr h2{font-size: .36rem; color: #333; margin-bottom: .1rem;  font-weight: bold;}
.info_attr>p{font-size: .26rem; color: #a0a0a0; margin-bottom: .3rem;}
.price_visa{font-size: .26rem; color: #a0a0a0;}
.price_visa a{color: #fd9f20;margin-left: .5rem;}
.price_visa span{color: #f53111; }
.price_visa span em{font-weight: bold; font-size: .36rem; font-weight: bold;}
/*签证信息*/
.info_visa{margin-top: .2rem; background-color: #fff; padding-top: .3rem;position: relative;}
.info_ul{display: flex; justify-content: space-between; flex-wrap: wrap; }
.info_visa:before,.info_visa:after{content: ''; display: block; width: 1px; height: 1.6rem; background-color: #e5e5e5; position: absolute; top: .36rem;}
.info_visa:before{left: 33%;}
.info_visa:after{right: 33%;}
.info_li{width: 30%; text-align: center; margin-bottom: .35rem;}
.info_li label{font-size: .24rem; color: #a0a0a0; margin-bottom: .1rem; display: block;}
.info_li p{font-size: .26rem; color: #333; font-weight: 500;}

.detail_visa{width: 100%;  margin-top: .2rem;}
.detail_nav{padding-left: .24rem; padding-right: .24rem; display: flex; justify-content: space-between; background-color: #fff; border-bottom: solid .01rem #f5f5f5;}
.detail_nav li{display: inline-block; font-size: .28rem; padding: 0 .14rem; line-height: .8rem; position: relative;}
.detail_nav li.on:after{content: ''; display: block; width: 100%; height: .04rem; background-color: #fdc224; position: absolute; bottom: 0; left: 0;}
.detail_nav li.on{color:#fdc224 ;}
/*产品详情*/
.detail_content{padding-bottom: 1.2rem; background-color: #fff;}
.changebox{background-color: #fff; margin-bottom: .2rem; padding-top: .34rem; display: none;animation: rightFadeIn .5s ease-out;}
.changebox.show{display: block;}
.conte-text{margin-left: .24rem; margin-right: .24rem; margin-top: .18rem; line-height: .48rem; padding-bottom: .4rem; font-size: .26rem; }
.headtop{padding:0 .24rem; font-size: .32rem; line-height: .4rem; font-weight: bold; }
.headtop em{color: #a0a0a0; font-size: .24rem; margin-left: .28rem; font-weight: normal;}

/*所需材料*/
dl.changebox{padding-bottom: .28rem;}
.dd_box{margin-left: .24rem; margin-right: .24rem; border-bottom: solid .01rem #f2f2f2;}
.dd_box:nth-last-child(1){border: none;}
.dd_box a{display: block; line-height: .84rem; overflow: hidden;}
.dd_box ._left{float: left; font-size: .28rem; color: #333;}
.dd_box ._right{float: right; font-size: .24rem; color: #a0a0a0; margin-right: .03rem;}
.dd_box ._right:after{content: ''; display: inline-block; width: .12rem; height: .12rem; border-top: solid .02rem #b9b9b9; border-right: solid .02rem #b9b9b9; transform: rotate(45deg); margin-left: .16rem; }
.email_btn{width: 2.3rem; height: .7rem; border-radius: .04rem; border: solid .01rem #e5e5e5; text-align: center; line-height: .7rem; margin: auto; margin-top: .28rem;}
.email_btn a{display: block;}

/*流程、须知*/
.processbox.changebox{background-color: #f8f8f8; padding-top: 0;}
.notice{padding-top: 0; background-color: #fff;}
.notice .headtop{display: block; line-height: .9rem;}
.notice .headtop:after{content: ''; display: inline-block; width: .12rem; height: .12rem; border-top: solid .02rem #b9b9b9; border-right: solid .02rem #b9b9b9; transform: rotate(45deg); margin-left: .16rem; float: right; margin-top: .36rem;}
.notice .headtop.know{border-top: solid .01rem #f2f2f2;}
.flowbox{background-color: #fff; margin-top: .2rem; padding-top: .32rem;}
.flowbox ul{margin-left: .42rem; margin-right: .24rem; border-left: solid .02rem #43b2a3;  margin-top: .3rem;}
.flowbox ul li{padding-left: .36rem; position: relative; }
.flowbox ul li>i{ display: block; width: .3rem; height: .3rem; border-radius: 50%; border:solid .02rem #43b2a3; text-align: center; position: absolute; left: -.17rem; top: 0; background-color: #fff; color: #43b2a3; font-size: .24rem;}
.flowbox ul p.conte-text{margin-left: 0; color: #666; font-size: .26rem;}
.flowbox label{font-size: .26rem;}
.more_detail{display: block; text-align: center; font-size: .26rem; padding: .2rem 0 .3rem 0;}
.more_detail:after{content: ''; display: inline-block; width: .12rem; height: .12rem; border-top: solid .02rem #b9b9b9; border-right: solid .02rem #b9b9b9; transform: rotate(135deg); margin-left: .26rem; margin-bottom: .08rem;}
/*评论*/
.commentBox{width: 100%; background-color: #fff; /*margin-top: .2rem;*/ padding-top: .26rem;}
/* 评论列表 */
/*.headtop{padding:0 .24rem; font-size: .28rem; line-height: .4rem; }*/
.head-title {padding:.2rem 0;}
.head-title p {font-size:.36rem;color:#333;font-weight: bold;}
.head-title p span {padding:.2rem 0;border-bottom:solid .04rem #4d6fff;color:#919191;}
.commentList{padding:0 .25rem;}
/*.commentBox{padding-bottom: 1.5rem;}*/
.commentBox ul li,.comntbox{padding:.2rem 0;border-bottom:solid .02rem #dedede;overflow: hidden;}
/*.commentBox ul li:last-child{border-bottom: 0;}*/
.commentBox ul li .imgbox,.comntbox .imgbox{float: left;width: .6rem;height: .6rem;position: relative;border-radius:100%;overflow: hidden;margin-right: .14rem;}
.commentBox ul li .imgbox img,.comntbox .imgbox img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}
.commentBox ul li .rightInfo,.comntbox .rightInfo{position: relative;overflow: hidden;}
.commentBox ul li .rightInfo h4,.comntbox .rightInfo h4{font-size: .26rem;color:#5a5c5e;line-height: .4rem;}
.commentBox ul li .rightInfo .txtInfo,.comntbox .rightInfo .txtInfo{font-size: .3rem;color:#393a3b;margin: .15rem 0;}
.commentBox ul li .rightInfo .replyCon,.comntbox .rightInfo .replyCon{padding:.2rem;background: #f2f3f5;margin:.25rem 0 .3rem;}
.rightInfo .replyCon dl{line-height: .4rem;overflow: hidden;}
.rightInfo .replyCon dl dt{float: left;font-size: .28rem;}
.rightInfo .replyCon dl dd{font-size: .28rem;color:#666;}
.commentBox ul li .rightInfo .rbottom{overflow: hidden;font-size: .24rem;color:#a6a6a6;}
.rightInfo .rbottom .rtime{float: left;}
.rightInfo .rbottom .rbInfo{float: right;}
.rightInfo .rbottom .rbInfo a {color: #a6a6a6;}
.rightInfo .rbottom .rbInfo s{display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top:-.08rem;margin-right: .05rem;}
.rightInfo .rbottom .rbInfo .btnReply{margin-right: .4rem;}
.rightInfo .rbottom .rbInfo .btnReply s{background: url(../images/ic_reply.png) no-repeat center center;background-size: contain; vertical-align: middle;}
.rightInfo .rbottom .rbInfo .btnUp s{background: url(../images/ic_up.png) no-repeat center center;background-size: contain;}
.rightInfo .rbottom .rbInfo .btnUp.active{color:#fc3a4a;}
.rightInfo .rbottom .rbInfo .btnUp.active s{background: url(../images/ic_up1.png) no-repeat center center;background-size: contain}
.spColor,.pmore{color:#498cde;}
.pmore{font-size: .28rem;display: block;}
.allmore{width:100%;height:.95rem;line-height:.95rem;text-align: center;font-size: .28rem;color:#666;background-color: #fff;}
.allmore a{display: block;color: #666;}
.allmore s{display: inline-block;width: .26rem;height: .26rem;background: url(../images/ic_more.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-top:-.05rem;}


/*附近景点*/
.near_attr{margin-top: .2rem;}
/*景点列表*/
.listBox{width: 100%; background-color: #fff; }
/*.listBox ul{margin-left: .24rem; margin-right: .24rem;}*/
.listBox ul .li_box{padding:.28rem .24rem 0 .24rem; /*border-bottom: solid .01rem #e5e5e5;*/}
.listBox ul .li_box:after{content: ''; display: block; clear: both;} 
.li_box a{display: block; padding-bottom: .3rem; border-bottom: solid .01rem #f2f2f2;}
.listBox ul .li_box:nth-last-child(1) a{border: none;}
.li_box:active{background-color: #f5f5f5;}
/*--左边--*/
.li_box .left_b{width: 2.78rem; height: 1.88rem; border-radius: .08rem; overflow: hidden; position: relative; float: left;}
.li_box .left_b img{width: 100%; height: 100%; object-fit: cover;}
.li_box .left_b.videoshow:after{content: '';display: block; width: .6rem; height: .6rem; background-image: url(../images/v_icon.png); background-size: cover; position: absolute; left: 50%; top: 50%; margin-left: -.3rem; margin-top: -.3rem;}
.li_box .left_b .labshow{font-size: .24rem; color: #fff; width: .98rem; height: .36rem; line-height: .36rem; background-color: #fbba1f; top: 0; left: 0; position: absolute;text-align: center;}  /*标签样式*/
/*--右边--*/
.li_box .right_b{margin-left: 3.02rem; height: 1.88rem; }
.right_b h2{font-size: .32rem; color: #333; line-height: 1em; margin-bottom: .22rem; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.right_b .lab_box{color: #9aa2b7; font-size: .24rem; margin-bottom: .24rem;}
.right_b .lab_box span{padding: .06rem .1rem; border-radius: .04rem; background-color: #dfe2ea; margin-right:.08rem ;}
.price {font-size: .26rem; color: #a0a0a0; margin-bottom: .14rem;}
.price span{color: #f53111;}
.price span>em{font-size: .32rem; font-weight: 700;}
.info_view{font-size: .24rem; color: #a0a0a0; overflow: hidden;}
.info_view .distance{float: left;}
.info_view .posi_view{float: right;}
.share_btn{display: inline-block !important;}

/*地图*/
.tangram-suggestion-main{z-index: 999999; }
.pageitem {position:fixed;display:none;height:100%;top:0;left:0;right:0;z-index:500000;}
.lead {position:relative;text-align:center;height:1rem;line-height:1rem;background:#fff;margin-bottom:0.2rem;}
.lead p {width:.5rem;height:.5rem;position:absolute;left:.15rem;top:.25rem;background:url(../images/Arrow_left.png) no-repeat center;background-size:.4rem;}
.lead span {font-size:.36rem;}
.lead b a {position:absolute;right:0.1rem;top:0rem;color:#e83829;font-size:0.28rem;width:1rem;}
.lead input {height:.7rem;border:1px solid #e8e8e8;border-radius:0.1rem;width:75%;margin-left:0.2rem;padding-left:0.5rem;background:url(../images/search_1.png) no-repeat 0.1rem;background-size:.4rem;text-indent:0.2rem;font-size:0.28rem;}
.map {position:relative;width:100%;height:5.5rem;background:#ccc;margin-top:-.2rem;}
#mapdiv {position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;}
.mapcenter {position:absolute;z-index:2;left:50%;top:50%;width:.6rem;height:.6rem;margin:-.4rem 0 0 -.3rem;background:url('../images/local1.png');background-size:cover;}
.mapresults {position:absolute;top:6.5rem;left:0;right:0;bottom:0;background:#fff;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.mapresults li {position:relative;padding:.1rem .2rem .1rem .6rem;border-bottom:1px solid #efefef;}
.mapresults li:before {position:absolute;content:"";left:.1rem;top:.2rem;width:.4rem;height:.4rem;background:url('../images/local1.png');background-size:cover;}
.mapresults li h5 {font-size:.3rem;line-height:.5rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.mapresults li p {font-size:.24rem;color:#999;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.elseStreet {display:block;width:80%;margin:.3rem auto;border:2px solid #f00;height:.6rem;line-height:.6rem;border-radius:.5rem;color:#f00;font-size:.3rem;text-align:center;}
.padTop20 .lead {padding-top:20px;}
.padTop20 .lead p {top:0.57rem;}
.padTop20 .mapresults {top:6.9rem;}
#address{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

/*开始预订*/
.up_order{width: 100%; background-color: #fff; box-shadow: 0 -.02rem .08rem rgba(228,228,228,.6); bottom: 0; position: fixed; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); }
.up_order:after{content: '' ; display: block; clear: both;}
.right_btn{width: 2rem; height: 1rem; float: right; line-height: 1rem; color: #fff; text-align: center; font-size: .28rem; background: -webkit-linear-gradient(right, #f46a0d , #f8a91f); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(left, #f46a0d , #f8a91f); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(left, #f46a0d , #f8a91f); /* Firefox 3.6 - 15 */background: linear-gradient(to left, #f46a0d , #f8a91f); /* 标准的语法 */}
.left_info{margin-right: 2.1rem; padding-top: .14rem; margin-left: .42rem;}

.left_info li{display: inline-block; text-align: center; margin-right: .82rem; }
.left_info li img{width: .44rem; display: block; margin: auto;}
.left_info li span{display: block; margin-top: .04rem;}

/*图片全屏*/
/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;left: .2rem !important;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.poppage.swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}

/*价格明细*/
.mask{width: 100%; height: 100%; background-color: rgba(0,0,0,.3); position: fixed; top: 0; left: 0; display: none; z-index: 2;}
.detail_price{width: 100%; background-color: #fff; position: fixed; z-index: 9;  bottom: -4rem;} 
.detail_price h2{font-size: .3rem; color: #333; background-color: #f8f8f8; text-align: center; line-height: .8rem; padding-left: .24rem; padding-right: .24rem;}
.detail_price h2 i{width: .26rem; height: .26rem; float: right; background-image: url(../images/close.png); background-size: cover; background-repeat: no-repeat; margin-top: .27rem;} 
.detail_price dl{margin: 0 .24rem; border-bottom: solid .01rem #f2f2f2; padding-top: .3rem;}
.detail_price dl dt{font-size: .3rem; color: #333; line-height: 1.2em; margin-bottom: .2rem; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.detail_price dl dd{font-size: .26rem; color: #a0a0a0; margin-bottom: .24rem; line-height: 1em;}
.detail_price dl dd i{float: right; color: #333;}
.detail_price  .detail_all{margin: 0 .24rem; text-align: right; color: #a0a0a0; font-size: .26rem; height: 1rem; line-height: 1rem;}
.detail_price  .detail_all span{color: #f53111; font-size: .24rem;}
.detail_price  .detail_all span em{font-size: .3rem; font-weight: 500;}

/*收藏*/
/*.soucan{position: absolute; left: .4rem; top: .14rem; font-size: .2rem; text-align: center;}*/
.soucan:before{content: ''; display: block; width:.44rem ; height: .44rem; background-image: url(../images/shoucan.png); background-size: contain; background-repeat: no-repeat; margin: auto;}
.soucan.curr{color: #fb951c;}
.soucan.curr:before{background-image: url(../images/shoucan_01.png)}
.soucan{display: block;}

/*办证须知*/
.noticeBox{width: 100%; height: 100%; background-color: #fff; position: relative; position: fixed; top: 0; right: -100%; bottom: 0;z-index: 1000001; overflow: auto;}
.top_cont ul{display: flex; justify-content: space-around; font-size: .34rem; color: #333; line-height: .8rem; margin-top: .2rem; border-bottom: solid .01rem #f2f2f2;}
.top_cont ul li{width: 1.5rem; text-align: center;}
.top_cont ul li.on{border-bottom: solid .04rem #fdc224;  font-weight: bold;}
.top_cont ul li.on a{color: #fdc224;}
.ul_box p{font-size: .26rem; color: #a0a0a0; line-height: 1.8em; margin-top: .1rem;}
.ul_box {margin:.24rem .3rem 1rem .3rem; display: none; animation: rightFadeIn .5s ease-out;}
.ul_box.show{display: block;}
.closetip{display: block; width: .8rem; height: .8rem; background-image: url(../images/cha.png); background-size: contain;  background-repeat: no-repeat; position: absolute; bottom:1rem ; right: 50%; margin-right: -.3rem;}
