html,body{width: 100%;  background-color: #fff;}
.popupRightBottom .fastNav{display: none;}
/*广告位*/
.BannerBox{width: 100%; height: 3.86rem; box-shadow: 0 .02rem .06rem rgba(226,226,226,.3); position: relative; background-color: #fff;}
.BannerBox .banner{height: 100%; }
.BannerBox li{width: 100%; height: 3.86rem; overflow: hidden; margin: auto; }
.BannerBox li img{width: 100%; height: 100%; object-fit: cover;}
/*.BannerBox  .swiper-slide.swiper-slide-prev,.BannerBox .bd .swiper-slide.swiper-slide-next{transform: scale(.98);}*/
/*--小点点的样式---*/
.BannerBox .banner .swiper-pagination{bottom: 0.1rem !important;}
.BannerBox  .swiper-pagination>.swiper-pagination-bullet{width: .1rem; height: .1rem !important;border-radius: 100%; background-color: #ececec !important; opacity: .6!important;}
.BannerBox  .swiper-pagination>.swiper-pagination-bullet-active{width: .28rem !important; background-color: #fdc224 !important; border-radius: .05rem !important; opacity: 1 !important;}
.country_box{background-color: #f8f8f8;}
/*热门国家*/
.area_nav{width: 100%; background-color: #fff;}
.area_nav ul{margin-left: .24rem; margin-right: .24rem; display: flex; justify-content: space-between;}
.area_nav ul li{display: inline-block; font-size: .28rem; padding: 0 .14rem; line-height: 1rem; position: relative;}
.area_nav ul li.on:after{content: ''; display: block; width: 100%; height: .04rem; background-color: #fdc224; position: absolute; bottom: 0; left: 0;}
.area_nav ul li.on{font-weight: bold;}
/*热门国家展示*/
.country_list{width: 100%; background-color: #fff; margin-top: .2rem; padding: .3rem 0;  }
.country_list ul{margin-left: .24rem; margin-right: .24rem;   display: none; animation: rightFadeIn .5s ease-out;}
.country_list ul li{float:left; margin-right:.13rem}
.country_list ul li:nth-child(3n){margin-right:0;}
.country_list ul.on_show{display: block;}
.country_list li{width: 2.24rem; height: 2.24rem; border-radius: .08rem; background-color: #ccc; margin-bottom: .16rem; position: relative; overflow: hidden;}
.country_list li img{width:100%; height: 100%; object-fit: cover;}
.country_list li a{display: block; width:100%; height:100%;}
.country_list li .text{display: block; color: #fff; position: absolute; bottom: .2rem; left: .24rem;}
.country_list li h3{font-size: .28rem;}
.country_list li p{font-size: .2rem;}
.country_list li p em{font-size: .24rem;}
.mask_01{width: 100%; height: 1.06rem; position: absolute; bottom: 0; left: 0; background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Firefox 3.6 - 15 */background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* 标准的语法 */}


/*底部按钮*/
.bottom_btn{width: 7rem; height: 1rem; background-image: url(../images/btn.png); background-size: cover; margin: auto; border-radius: .04rem;  box-shadow:  0 .08rem 0rem rgba(178,228,249,.77);}
.bottom_btn a{font-size: .28rem; color: #fff; text-shadow:  0 .03rem  rgba(53,99,239,.5); font-weight: bold; text-align: center; line-height: 1rem; display: block;}
.btn_box{background-color: #fff !important; padding-bottom: .78rem;}

.tip{text-align: center;padding: .2rem;}
