<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#$detail.title#}-{#$paper_title#}</title>
    <meta name="keywords" content="{#$paper_keywords#}" />
    <meta name="description" content="{#$paper_description#}" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/content_detail.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$paper_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}', cookiePre = '{#$cfg_cookiePre#}';
        var imgurl ="{#$templets_skin#}";
    </script>
</head>
<body class="w1200">
{#include file="../../siteConfig/top1.html"#}
{#include file="header.html"#}
<div class="container wrap">
    <div class="crumbs"><a href="{#$paper_channelDomain#}">首页</a> > <a href="{#$detail.companyUrl#}">{#$detail.company#}</a></div>
    <div class="content">
        <h3>{#$detail.title#}</h3>
        <p class="time"><a href="{#$detail.companyUrl#}">{#$detail.company#}</a><i>·</i>{#$detail.pubdate|date_format:"%Y-%m-%d"#}</p>

        <div class="text">
            {#$detail.body#}
        </div>
    </div>
</div>


{#include file='../../siteConfig/public_foot_v3.html' module='paper' theme='gray'#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/content_detail.js"></script>
</body>
</html>