<div class="header">
    <div class="wrap w1200">
        <div class="logo"><a href="{#$paper_channelDomain#}"><img src="{#$paper_logoUrl#}" alt="" /></a></div>
        <div class="kefu">
            <div class="img-box"><img src="{#$templets_skin#}images/icon_kefu.png" alt=""></div>
            <p>{#$paper_hotline#}</p>
        </div>
        <div class="search-box">
            <div class="form-box">
                <form id="sform" name="search" method="get" action='{#getUrlPath service="paper" template="search_list" #}'>
                    <input name="keywords" type="text" class="txt_search" id="search_keyword" value="{#$keywords#}" autocomplete="off"  placeholder="{#$langData['paper'][0][13]#}" data-role="input">{#*输入你要搜索的关键词 *#}
                    <button id="search_button" type="submit" class="btn-s"><i></i></button>
                    <input type="hidden" name="date" id="seach_date" value="{#$date#}">
                </form>
            </div>
            <ul class="choose-box fn-clear">
                <li {#if $date == 'today'#}class="active"{#/if#} date-time="today"><i></i> <span>{#$langData['paper'][0][5]#}</span></li>{#*今天 *#}
                <li {#if $date == 'week'#}class="active"{#/if#} date-time="week"><i></i> <span>{#$langData['paper'][0][6]#}</span></li>{#*一周 *#}
                <li {#if $date == 'month'#}class="active"{#/if#} date-time="month"><i></i> <span>{#$langData['paper'][0][7]#}</span></li>{#*一月 *#}
                <li {#if $date == 'halfyear'#}class="active"{#/if#} date-time="halfyear"><i></i> <span>{#$langData['paper'][0][8]#}</span></li>{#*半年 *#}

            </ul>
        </div>
    </div>


</div>