<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#$title#} - {#$paper_title#}</title>
    <meta name="keywords" content="{#$paper_keywords#}" />
    <meta name="description" content="{#$paper_description#}" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}/js/need/laydate.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
        var imgurl ="{#$templets_skin#}";
        var hideFileUrl = {#$cfg_hideUrl#}, searchUrl = '{#getUrlPath service="paper" template="list" id={#$id#} param="date=%1"#}';
    </script>
</head>
<body class="w1200">
{#include file="../../siteConfig/top1.html"#}
{#include file="header.html"#}
<div class="wrap">
    <div class="nav-box">
        <ul class="nav fn-clear">
            <li class="edit" id="edit"><i></i><span>{#$langData['paper'][0][14]#}</span></li>{#*选择报刊 *#}
            <li class="date"><i></i><input id="date" placeholder="{#$langData['paper'][0][15]#}" value="{#$date|date_format:"%Y-%m-%d"#}" class="laydate-icon" autocomplete="off"></li>
        </ul>
        <div class="choose-box">
            <ul class="choose-list">
                {#paper action='store' return='store' pageSize='100'#}
                <li {#if $id == $store.id#} class="active" {#/if#}><a href="{#$store.url#}">{#$store.title#}</a></li>
                {#/paper#}
            </ul>
        </div>
    </div>



    <div class="container mod-list" id="mod-item">
        <ul class="list fn-clear">
            {#$i = 0#}
            {#paper action='forumList' return='forum' company={#$id#} date={#$date#} keywords="{#$keywords#}" pageSize='1000'#}
            <li><a class="fn-clear" href="{#$forum.url#}" target="_blank">
                <div class="img-box"><div class="img"><img src="{#changeFileSize url="{#$forum.litpic#}" type="middle"#}"></div></div>
                <div class="info fn-clear">
                    <p class="time fn-right">{#$forum.date#}</p>
                    <p class="name">{#$title#}</p>
                </div>
            </a></li>
            {#$i = $i + 1#}
            {#/paper#}

        </ul>
        <div class="loading fn-hide">{#$langData['paper'][0][16]#}...</div>{#*加载中，请稍候 *#}
        <div class="pagination fn-clear"></div>
    </div>
</div>




{#include file='../../siteConfig/public_foot_v3.html' module='paper' theme='gray'#}



<script type="text/javascript" src="{#$templets_skin#}js/laydate.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>