    <!-- PASTE above -->
  </div>
</div>
<!-- /content -->
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="/static/js/wmsj/jquery.yiiactiveform.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery.ba-bbq.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery-migrate-1.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/static/js/wmsj/jquery-ui-i18n.min.js"></script>
<script type="text/javascript" src="/static/js/wmsj/apublic.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="/static/js/wmsj/public_select.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="/static/js/ui/chosen.jquery.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="/static/js/wmsj/common.js?v={#$cfg_staticVersion#}"></script>
<script type='text/javascript' src='/static/js/wmsj/jquery.dialog-4.2.0.js?v={#$cfg_staticVersion#}'></script>
<script src="/static/js/wmsj/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/js/wmsj/shop/checkLastOrder.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="/static/js/ui/jquery.ajaxFileUpload.js"></script>
{#if $jsFile#}
{#foreach $jsFile as $val#}
{#if substr($val, 0, 1) == "/" || substr($val, 0, 4) == "http"#}
<script type="text/javascript" src="{#$val#}"></script>
{#else#}
<script type="text/javascript" src="/static/js/wmsj/{#$val#}"></script>
{#/if#}
{#/foreach#}
{#/if#}
<script type="text/javascript">
$(function(){
    // collapse nav
    $(document).on('click', 'nav a', function (e) {
      var $this = $(e.target), $active;
      $this.is('a') || ($this = $this.closest('a'));

      $active = $this.parent().siblings(".active");
      $active && $active.toggleClass('active').find('> ul:visible').slideUp(200);

      ($this.parent().hasClass('active') && $this.next().slideUp(200)) || $this.next().slideDown(200);
      $this.parent().toggleClass('active');

      $this.next().is('ul') && e.preventDefault();

      setTimeout(function(){ $(document).trigger('updateNav'); }, 300);
    });

    $('[data-rel="tooltip"]').tooltip();
    $('[data-rel="popover"]').popover();
    jQuery('.chooseTime').timepicker(jQuery.extend(jQuery.datepicker.regional['zh-cn'], {'timeFormat':'hh:mm','hour':'09','minute':'40'}));
});
</script>
</body>
</html>
