/* 切换模板按钮 */
#changeSkinBtn {position: fixed; _position: absolute; right: 5px; top: 5px; width: 55px; height: 55px; background: url('../images/skin.png'); z-index: 9999; -webkit-animation: swingSkin 1.5s linear 0s infinite alternate; -moz-animation: swingSkin 1.5s linear 0s infinite alternate; animation: swingSkin 1.5s linear 0s infinite alternate;}

/* 模板浮动层 */
#changeSkinPopup {display: none; position: fixed; _position: absolute; top: 0; left: 50%; z-index: 9999; margin-left: -500px; background: #fff; background: rgba(255,255,255,.95); border-radius: 0 0 5px 5px; padding: 30px 0 0 30px; width: 970px; box-shadow: 0 10px 40px rgba(0,0,0,.35);}
.w1200 #changeSkinPopup {width: 1170px; margin-left: -600px;}
#changeSkinPopup.skin-show { -webkit-animation: topFadeInSkin .2s linear; -moz-animation: topFadeInSkin .2s linear; animation: topFadeInSkin .2s linear;}
#changeSkinPopup.skin-hide {-webkit-animation: bottomFadeOutSkin .2s linear; -moz-animation: bottomFadeOutSkin .2s linear; animation: bottomFadeOutSkin .2s linear;}
#closeSkinBtn {position: absolute; right: -60px; top: 0; width: 60px; height: 60px; line-height: 60px; text-align: center; color: #fff; background: #333; background: rgba(0,0,0,.7); font-size: 50px; font-family: sans-serif;}
#closeSkinBtn s {position: absolute; left: 0; top: 0; width: 60px; height: 60px; text-decoration: none; -moz-transition: -moz-transform .4s ease-in; -webkit-transition: -webkit-transform .4s ease-in; -o-transition: -o-transform .4s ease-in; transition: transform .4s ease-in;}
a:hover#closeSkinBtn s {-moz-transform: rotate(180deg); -moz-transform-origin: 50% 50%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 50%; -o-transform: rotate(180deg); -o-transform-origin: 50% 50%; transform: rotate(180deg); transform-origin: 50% 50%;}
#changeSkinPopup li {float: left; width: 116px; height: 170px; margin:  0 27px 20px 0;}
#changeSkinPopup li a {display: block;}
#changeSkinPopup li img {width: 110px; height: 120px; display: block; border: 3px solid #fff; box-shadow: 0 0 8px rgba(0,0,0,.35); border-radius: 3px;}
#changeSkinPopup li p {display: block; height: 45px; line-height: 45px; font-size: 14px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#changeSkinPopup li.curr img, #changeSkinPopup li a:hover img {border-color: #30b21b; box-shadow: 0 0 8px rgba(48,178,27,.35);}
#changeSkinPopup li.curr a {color: #30b21b;}
#changeSkinPopup li.last strong {width: 110px; height: 85px; display: block; border: 3px solid #fff; box-shadow: 0 0 8px rgba(0,0,0,.35); border-radius: 3px; text-align: center; padding-top: 35px; font-weight: 500; line-height: 25px;}


/* 摆动 */
@-moz-keyframes swingSkin{0%{transform:scale(1)}100%{transform:scale(.8)}}
@-webkit-keyframes swingSkin{0%{transform:scale(1)}100%{transform:scale(.8)}}
@keyframes swingSkin{0%{transform:scale(1)}100%{transform:scale(.8)}}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeInSkin{0%{opacity:0;	-webkit-transform:translateY(-40px);}100%{opacity:1;	-webkit-transform:translateY(0);}}
@-moz-keyframes topFadeInSkin{0%{opacity:0; -moz-transform:translateY(-40px);}100%{opacity:1; -moz-transform:translateY(0);}}
@keyframes topFadeInSkin{0%{opacity:0;	transform:translateY(-40px);}100%{opacity:1; transform:translateY(0);}}

/* 从下往上缓冲隐藏 */
@-webkit-keyframes bottomFadeOutSkin{0%{opacity:1;	-webkit-transform:translateY(0);}100%{opacity:0; -webkit-transform:translateY(-40px);}}
@-moz-keyframes bottomFadeOutSkin{0%{opacity:1; -moz-transform:translateY(0);}100%{opacity:0; -moz-transform:translateY(-40px);}}
@keyframes bottomFadeOutSkin{0%{opacity:1;	transform:translateY(0);}100%{opacity:0; transform:translateY(-40px);}}
