body{background-color:#f2f2f2;padding-bottom: .9rem;}
/*头部*/
.header .header-search a, .open.header .header-search a {background: none;}
.header-search a{display: table-cell;;height: .8rem;width: .8rem;vertical-align: middle;float: right; position: relative;}
.header-search img{display: block;width: .4rem;height: .4rem; margin: .25rem auto;}
.header-search a .num{position: absolute; right: 0; top: .1rem; color: #fff; background: #f00; min-width: .3rem; display: block; border-radius: 100%; line-height: .3rem; height: .3rem; font-size: .24rem; text-align: center;}
.btn-share {display: block!important;}

/*视频*/
.topSwiper{position: relative;height: 7.5rem;}
.topSwiper .swiper-slide img{width: 100%;}
.topSwiper .swiper-pagination{position: absolute;right: .25rem;bottom:.75rem;left:auto;width:auto; padding: .04rem .2rem; line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .26rem;z-index: 9;}

.markBox{width:50%;text-align:center;position: absolute;bottom:.7rem;right:25%; z-index: 1;}
.pmark{display:inline-block;width: 1.3rem;height: .46rem;color:#404040;line-height: .46rem;border-radius: .23rem;background: rgba(255,255,255,.502);margin:0 .125rem;font-size: .22rem;}
.pmark.curr{background: #f23b56;color:#fff;}
.ivIcon{display: inline-block;width: .2rem;height: .2rem;background: url(../images/ivIcon.png) no-repeat center;background-size:.2rem;margin-right: .1rem;vertical-align: middle;margin-top:-.05rem;}
.imgplay{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.imgplay img{width: .9rem!important;height: .9rem;}
/*全屏*/
.videoModal{position: fixed;z-index: -1;top: 0;left: 0;bottom:0;right:0;opacity: 0;visibility: hidden;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;right: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}


/*商品信息*/
.shopInfo{padding:.4rem .25rem;background: #fff;margin-bottom: .22rem;}
.info_price{line-height: .4rem;}
.info_price span,.info_price b{float: left;}
.info_price .jifen{font-size: .5rem;color:#ffb82a;}
.info_price .jifen i.jf{display: inline-block;width: .4rem;height: .4rem;background: url(../images/bjfIcon.png) no-repeat center;background-size:.4rem;margin-right: .08rem;vertical-align: middle;margin-top: -.115rem;}
.info_price .nprice{font-size: .4rem;color:#f23b56;margin-right: .2rem;}
.info_price .nprice em{font-size: .38rem;}
.info_price b{font-size: .32rem;color:#404040;margin:0 .2rem;}

.shopInfo h2{font-size: .34rem;color:#333;margin:.3rem 0; overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;}
.bo_info{font-size: .26rem;color:#999; display: -webkit-box;}
.bo_info span{display: block;-webkit-box-flex:1;}
.bo_info span.yunfei{text-align: center;}
.bo_info span.xiaol{text-align: right;}


/*图文详情*/
.goods_detail{margin-bottom: .22rem;}
.goods_detail .det-tab{padding:.25rem .25rem .15rem;display: -webkit-box;background: #fff;font-size: .28rem;color:#333;border-top:solid 1px #f2f2f2;border-bottom:solid 1px #f2f2f2;}
.goods_detail .det-tab li{-webkit-box-flex:1;text-align: center;}
.goods_detail .det-tab li.active s{display:block;width: .4rem;height: .04rem;background: #ff3451;margin:.1rem auto 0;border-radius: 2px;}
.det-con.picshow{background: #fff;}
.det-con.picshow img{width: 100%}
.det-con.picshow p{font-size: .28rem;color:#404040;padding:.2rem;line-height: .5rem;}


/*确定兑换*/
.footBox{position: fixed; left: 0; right: 0; bottom: -100%; background: #fff; z-index: 100002;border-radius: .12rem .12rem 0 0;}
.footBox.show{display: block;}
.footBox .deBox{padding: .3rem .2rem .3rem .3rem; }
.footBox .deBox img{width: 2rem; height: 2rem;}
.footBox .txtbox{margin-left: .2rem; padding: 0; font-size: .3rem; width: 4.5rem;margin-top: 1rem;}
.footBox .txtbox p{margin-bottom: .1rem;}
.footBox .txtbox .orange span.spJf{font-size: .32rem;color:#ffb82a;}
.footBox .txtbox .orange span.spJf i.jf{display: inline-block;width: .3rem;height: .3rem;background: url(../images/jfIcon.png) no-repeat center;background-size:.3rem;margin-right: .08rem;vertical-align: middle;margin-top: -.075rem;}
.footBox .txtbox .orange span.price{font-size: .32rem;color:#ff3451;}
.footBox .txtbox .orange span.price em{font-size: .28rem;}
.footBox .txtbox .ku{font-size: .26rem;color:#404040;}
.footBox .btnBox{padding: .3rem .3rem 0;}
.footBox .btnBox .fn-left{font-size: .28rem;color:#808080;line-height: .55rem;}
.footBox .btn{border:solid 1px #f2f2f2; border-radius: .08rem;font-size: .28rem;}
.footBox .btn span{display: inline-block;  height: .4rem;line-height: .4rem; text-align: center; vertical-align: middle;}
.footBox .btn .add.disabled{opacity: .2;}
.footBox .btn .add,.footBox .btn .reduce{font-size: .3rem; width: .4rem;background: #f5f5f5; border-radius: .08rem; display: inline-block; width: .51rem; height: .51rem; text-align: center;line-height: .5rem;}
.footBox .btn .count{width: .88rem;}

.footBox .select{padding: .3rem;}
.select .checkbox{background: url(../images/check_icon.png) left center no-repeat; background-size: .3rem auto; padding-left: .4rem;}
.select .checkbox.active{background-image: url(../images/active_check_icon.png);}
.select .radio{margin-top: .2rem;}
.select .radio a{border: 1px solid #f2f2f2; border-radius: .06rem; margin-right: .2rem; padding: .04rem .2rem;}
.select .radio a.active{background: #ff3451; border-color: #ff3451; color: #fff;}
.select .radio a.disabled {background: #ccc;color: #fff;}
.footBox .sureBtn{display: block; color: #fff;font-size:.32rem;background-image: -moz-linear-gradient( 0deg, rgb(255,58,114) 0%, rgb(255,52,81) 100%); background-image: -webkit-linear-gradient( 0deg, rgb(255,58,114) 0%, rgb(255,52,81) 100%); background-image: -ms-linear-gradient( 0deg, rgb(255,58,114) 0%, rgb(255,52,81) 100%); height:.9rem;line-height:.9rem;text-align: center; margin-top: 1rem;}
.closed{position: absolute; width: .25rem; height: .25rem; display: block; background: url(../images/mclose.png) center center no-repeat; background-size: .25rem auto; right: .22rem; top: .22rem;}
.want.disabled, .footBox .sureBtn.disabled { background-image: -moz-linear-gradient( 0deg, #acacac 0%, #838383 100%);background-image: -webkit-linear-gradient( 0deg, #acacac 0%, #838383 100%);background-image: -ms-linear-gradient( 0deg, #acacac 0%, #838383 100%);}

.sizeHide{animation: sizebox_hide .5s;-moz-animation: sizebox_hide .5s;-webkit-animation: sizebox_hide .5s;-o-animation: sizebox_hide .5s;animation-fill-mode: forwards;}
.sizeShow{animation: sizebox_show .5s;-moz-animation: sizebox_show .5s;-webkit-animation: sizebox_show .5s;-o-animation: sizebox_show .5s;animation-fill-mode: forwards;}

@keyframes sizebox_hide {0% {bottom: 0;}100% {bottom: -200%;}}
@keyframes sizebox_show {0% {bottom: -200%;}100% {bottom: 0;}}

/*底部*/
.want{display:block;height: .9rem;line-height:.9rem;font-size:.3rem;color:#fff;text-align:center;position: fixed;bottom: 0;left:0;right:0;z-index: 10;background-image: -moz-linear-gradient( 0deg, rgb(255,58,114) 0%, rgb(255,52,81) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,58,114) 0%, rgb(255,52,81) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,58,114) 0%, rgb(255,52,81) 100%);}

/*iphonex适配*/
.want,.footBox .sureBtn{padding-bottom:calc(-.5rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.5rem + env(safe-area-inset-bottom));}
.huoniao_iOS .videoModal .vClose{    margin-top: 20px;}
.huoniao_iOS .videoModal .swiper-pagination{    padding-top: 20px;}

/*大图展示*/
.bigBoxShow{width: 100%;height: 100%;position: fixed;top:0;left:0;z-index: -1;opacity:0;background: #000;transition: all .4s;}
.bigBoxShow .bigSwiper{position: relative;width: 100%;height: 100%;}
.bigBoxShow .bigSwiper .swiper-wrapper{width: 100%;height: 100%;}
.bigBoxShow .bigSwiper .swiper-wrapper .swiper-slide{width: 100%;height: 100%;}
.bigBoxShow .bigSwiper .swiper-wrapper .swiper-slide .swiper-img{width: 100%;height: 100%;text-align: center; display: -webkit-box;  -webkit-box-flex: 1;-webkit-box-orient: vertical;-webkit-box-align: center;-webkit-box-pack: center;}
.bigBoxShow .bigSwiper .swiper-wrapper .swiper-slide .swiper-img img{max-width: 90%;max-height: 80%;margin:0 auto;}
.bigBoxShow .bigPagination{color:#fff;font-size: .28rem;position: absolute;text-align: left;top: .2rem;left: .2rem;}
.vClose{position: absolute;top: .2rem;right: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}


@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-100vh);transform:translateY(-100vh)}60%{opacity:1;-webkit-transform:translateY(3vh);transform:translateY(3vh)}80%{-webkit-transform:translateY(-1vh);transform:translateY(-1vh)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@-moz-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-100vh);transform:translateY(-100vh)}60%{opacity:1;-webkit-transform:translateY(3vh);transform:translateY(3vh)}80%{-webkit-transform:translateY(-1vh);transform:translateY(-1vh)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-100vh);-ms-transform:translateY(-100vh);transform:translateY(-100vh)}60%{opacity:1;-webkit-transform:translateY(3vh);-ms-transform:translateY(3vh);transform:translateY(3vh)}80%{-webkit-transform:translateY(-1vh);-ms-transform:translateY(-1vh);transform:translateY(-1vh)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}