body, html{background: #f8f8f8; font-size: .28rem;}

.tab{position: relative; display: -webkit-box; text-align: center; z-index: 10; background: #fff;}
.tab a{display: block; -webkit-box-flex: 1; padding: .15rem 0;}
.tab a.active{color: #24a4f5;}
.tab .filter{padding-right: .3rem; background: url(../images/filter.png) .95rem center no-repeat; background-size: .3rem auto;}

/*筛选框*/
.choose{position: relative;z-index: 10;}
.choose-box{position: fixed;top: 1.59rem;left: 0;right: 0;z-index: 10;}
.huoniao_iOS .choose-box {top: calc(1.59rem + 20px);}
.choose-box .load {text-align: center; line-height: 6rem;}
.choose-local ul{min-height: 100%;}
.choose-local li{height: .8rem;line-height: .8rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #f7f7f7;position: relative;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dn{display: none;}
#choose-sort{max-height: 6rem;overflow: hidden;}
#choose-info-second,#choose-info,#choose-area-second,#choose-sort,#choose-area,#choose-more{height: 6rem;background: #fff;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 51%;float: left;display: none;}
.choose-local li.active{background: #f5f5f5;}
#choose-area li.on:before,#choose-sort li.on:before,#choose-info-second li.on:before,#choose-area-second li.on:before,#choose-sort-third li.on:before{content: '';position: absolute;width: 2px;height: 20px;background: #ff6666;left: 0;top: 50%;margin-top: -10px;}
.choose-local li.active:before {content: '';position: absolute;width: 2px;height: 20px;background: #ff6666;left: 0;top: 50%;margin-top: -10px;}
.choose-local li.current:before{content: '';position: absolute;width: 2px;height: 20px;background: #ff6666;left: 0;top: 50%;margin-top: -10px;}
.choose-more li span{margin-right: .2rem;color: #bbb;}
.choose-local{background: #fff; width: 100%; max-height: 6rem; border-top: 1px solid #f2f2f2;}
#info-box .fchoose{height: 6rem; background: #fff; border-right: 1px solid #f9f9f9; box-sizing: border-box;}
.choose-more-search{height: 4rem; padding: 0 .3rem;}
#choose-more{height: 4.8rem;}
#choose0{width: 100%;}
#choose0.half{width: 50%;}
#choose1{display: none; width: 50%;height: 6rem;}

/*遮罩层*/
.mask{width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;display: none;bottom: 0}

/*列表*/
.list{padding: .2rem .2rem 1rem;}
.list li{position: relative; background: #fff; padding: .3rem; margin-bottom: .3rem; overflow: hidden; box-shadow: 0px 0 6px 2px #ecececc4;}
.list .imgbox{width: 2rem; height: 2rem;}
.list .imgbox img{display: block; width: 100%; height: 100%;}
.list .txtbox{position: relative; z-index: 9; margin-left: 2.3rem;}
.list .txtbox .title{line-height: .4rem; height: 1.2rem; overflow: hidden; margin-bottom: .4rem;}
.list .gray{color: #b2b2b2;}
.list .gray .orange{color: #f04f0f;}
.list .tag{position: absolute; font-size: 2.2rem; color: #f1f1f1; font-family: cursive; right: 0; bottom: -.7rem;}


.loading {padding:.25rem 0;text-align: center;color: #999;}

.padTop20 .header{padding-top: 20px;}

/*底部*/
.fixFooter{position: fixed; bottom: 0; left: 0; right: 0; height: .9rem; background: #fff; border-top: 1px solid #e4e4e3; font-size: .24rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out; z-index: 9;}
.fixFooter ul{display: -webkit-box;}
.fixFooter ul li{-webkit-box-flex: 1; text-align: center;}
.fixFooter ul li a{display: block;}
.fixFooter ul li i{display: block; width: .5rem; height: .5rem; margin: .05rem auto 0;}
.fixFooter ul li.ficon1 i{background: url(../images/aficon1.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon2 i{background: url(../images/aficon2.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon3 i{background: url(../images/aficon3.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon4 i{background: url(../images/aficon4.png) center center no-repeat; background-size: .4rem auto;}

