/*2016.9.19 renzheng*/
.company_renzheng .m-comulL{float:left;margin-left:30px;position:relative}
.company_renzheng .m-comulL li{position:relative}
.company_renzheng .m-comulR{float:left;width:490px;padding-top:30px}
.company_renzheng .m-comulDiv{padding:20px 0}
.bfa-column_1 .company_renzheng .m-comulR{width:740px;}
.bfa-column_3 .company_renzheng .m-comulL{margin-left: 150px;}
.dht_binimg{position:absolute;z-index:222;top:340px;left:50%;margin-left:-347px;}
/* CSS Document */
.site_rz{ width:693px; height:auto;}
.site_rz_top,.site_rz_bottom,.site_rz_bottom2,.site_rz_bottom3,.site_rz_bottom5{ width:693px; height:202px; float:left; position:relative; }
.site_rz_top11{ width:693px; height:202px; float:left; position:relative; }
.site_rz_top22{ width:693px; height:202px; float:left; position:relative; background:url(../images/web_rz_bg2.gif) repeat-y scroll 0 0;}
.site_rz_middle{ width:693px; height:auto; float:left; position:relative; background:url(../images/web_rz_bg2.gif) repeat-y;}
.site_rz_bottom3{ background:url(../images/web_rz_bg3_2.gif) no-repeat center bottom; height:40px}
.site_rz_bottom31{ background:url(../images/web_rz_bg3_21.gif) no-repeat;float: left;height: 202px; width: 693px;}
.site_rz_bg{ width:693px; height:auto; float:left; position:relative; background:url(../images/site_bg.gif) no-repeat bottom center;}
.site_rz_name,.site_rz_title1,.site_rz_title2,.site_rz_detail{ float:left; position:relative; }
.site_rz_name{  font-size:20px; text-align:center; font-family:"宋体"; font-weight:700; padding-top:148px;}
.site_rz_title1{ font-size:14px;font-family: "Microsoft Yahei",'Hiragino Sans GB';padding-top:10px; text-align:center;}
.site_rz_title2{ font-size:14px; text-align:center; color:#c90a00; padding-top:20px;padding-bottom:20px;width:100%; text-align:center}
.site_rz_detail{ font-size:12px;}
.site_rz_detail ul{ float:left; position:relative; width:693px;}
.site_rz_detail ul li{ float:left; position:relative; line-height:20px;}
.site_rz_detail ul li.site_rz_left{ text-align:right; padding-right:10px; width:180px; padding-left:30px;}
.site_rz_detail ul li.site_rz_right{ width:405px; text-align:left; color:#666666;}
.site_rz_btn1{ width:73px; height:22px; float:left; position:relative; padding-top:60px; padding-left:160px;}
.site_rz_btn11{  float: left; height: 22px; padding-left: 160px; padding-top: 60px;  position: relative; width: 73px;}
.site_rz_btn2{ padding-left:375px;}
.site_rz_btn5{ position:relative;top:-50px;right:270px;float:right;}
.site_rz_btn21{ padding-left: 375px;}
.site_rz a:link{ color:#666666;}
.site_rz a:visited{ color:#666666;}
.site_rz a:hover{ color:#FF6600; text-decoration:underline;}
.site_rz a:active{ color:#666666;}
.site_rz_name1{ padding-top:120px;}
.credit_code{ width:auto; height:20px; font-size:14px;font-family: "Microsoft Yahei",'Hiragino Sans GB';padding-left:78px; padding-top:0; float:left;}
.credit_code1{ float:right; padding-right:80px;}
.site_rz_newtit{ text-align:center;width: 626px;height:20px;border-top:solid 3px #000; padding-left:0px; padding-top:5px; padding-bottom:5px; margin-left:33px!important; _margin-left:0px; margin-top:110px;_margin-top:110px; border-bottom:solid 1px #000;}
.site_rz_newtop{ height:auto;}
.site_rz_newtit span{font-weight:700;}
.site_rz_newtit span.spanc{padding:0 30px}
.shim_rz_top{ background:url(../images/rz_header_text2.gif) no-repeat center top; height:144px;}
