<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var addrid = {#$addr#}, addrListArr = {#$addrListArr#},
  industryListArr = {#$industryListArr#}, typeListArr = {#$typeListArr#}, adminPath = "{#$adminPath#}";
var service = 'job';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="company">所属公司：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="company" id="company" value="{#$company#}" autocomplete="off" />
      <input type="hidden" name="cid" id="cid" value="{#$cid#}" />
      <span class="input-tips"><s></s>请选择所属公司</span>
      <div id="comList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="user">所属会员：</label></dt>
    <dd style="position:static;">
      <input class="input-medium" type="text" name="user" id="user" value="{#$username#}" autocomplete="off" />
      <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
      <span class="input-tips"><s></s>请输入网站对应会员名</span>
      <div id="userList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="type">身份类型：</label></dt>
    <dd class="radio">
      {#html_radios name="type" values=$typeopt checked=$type output=$typenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="work">职位名称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="work" id="work" value="{#$work#}" maxlength="50" data-regex=".{2,50}" />
      <span class="input-tips"><s></s>请输入职位名称</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="addr">所在区域：</label></dt>
    <dd>
      <div class="cityName addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addr split=' '#}" data-id={#$addr#}>
        {#if $addr != '' && $addr != "''"#}{#getPublicParentInfo tab='site_area' id=$addr type='typename' split='/'#}{#else#}请选择{#/if#}
      </div>
      <input type="hidden" name="addr" id="addr" value={#$addr#}>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="status">招聘状态：</label></dt>
    <dd class="radio">
      {#html_radios name="status" values=$statusopt checked=$status output=$statusnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="industry">招聘行业：</label></dt>
    <dd>
      <div class="selectedTags">{#$industrySelected#}</div>
      <input type="hidden" name="industry" id="industry" value="{#$industry#}" />
      <button class="btn chooseData" type="button">选择</button>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="zhineng">招聘职能：</label></dt>
    <dd>
      <div class="selectedTags">{#$zhinengSelected#}</div>
      <input type="hidden" name="zhineng" id="zhineng" value="{#$zhineng#}" />
      <button class="btn chooseData" type="button">选择</button>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="note">招聘简介：</label></dt>
    <dd>
      <textarea class="input-xxlarge" rows="5" name="note" id="note" placeholder="10~500汉字之内" data-regex=".{0,500}">{#$note#}</textarea>
      <span class="input-tips"><s></s>10~500汉字之内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>  
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>