<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var adminPath = "{#$adminPath#}";
var cityid = {#$cityid#}, cityList = {#$cityList#};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <input type="hidden" name="type" id="type" value="{#$type#}" />
  <dl class="clearfix">
    <dt><label for="module">城市：</label></dt>
    <dd style="overflow: visible; padding-left: 140px;">
      <select class="chosen-select" id="cityid" name="cityid" style="width: auto; min-width: 150px;"></select>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">职位名称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="title" id="title" data-regex=".{2,60}" maxlength="60" value="{#$title#}" />
      <span class="input-tips"><s></s>请输入职位名称，2-60个字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="people">联系人：</label></dt>
    <dd>
      <input class="input-large" type="text" name="people" id="people" data-regex=".{2,10}" maxlength="10" value="{#$people#}" />
      <span class="input-tips"><s></s>请输入联系人，2-10个字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="contact">联系电话：</label></dt>
    <dd>
      <input class="input-large" type="text" name="contact" id="contact" data-regex=".{7,13}" maxlength="60" value="{#$contact#}" />
      <span class="input-tips"><s></s>请输入联系电话，7-13位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="password">管理密码：</label></dt>
    <dd>
      <input class="input-large" type="text" name="password" id="password" value="{#$password#}" data-regex="\S+" />
      <span class="input-tips"><s></s>请输入管理密码</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="note">说明：</label></dt>
    <dd>
      <textarea class="input-xxlarge" rows="5" name="note" id="note" placeholder="请输入说明" data-regex=".*">{#$note#}</textarea>
      <span class="input-tips"><s></s>请输入说明</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="weight">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
