<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>管理工资统计</title>
{#$cssFile#}
</head>

<body>
<div class="search">
  <label>搜索：<input class="input-xlarge" type="search" id="keyword" placeholder="公司名称或会员用户名、昵称或职位名"></label>
  <div class="btn-group" id="addrBtn" data-id="">
    <button class="btn dropdown-toggle" data-toggle="dropdown">全部区域<span class="caret"></span></button>
  </div>
  <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>
</div>

<div class="filter clearfix">
  <div class="f-left">
    <div class="btn-group" id="selectBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="check"></span><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="1">全选</a></li>
        <li><a href="javascript:;" data-id="0">不选</a></li>
      </ul>
    </div>
    <button class="btn" data-toggle="dropdown" id="delBtn">删除</button>
    <div class="btn-group" id="stateBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">全部信息(<span class="totalCount"></span>)<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="">全部信息(<span class="totalCount"></span>)</a></li>
        <li><a href="javascript:;" data-id="0">待审核(<span class="state0"></span>)</a></li>
        <li><a href="javascript:;" data-id="1">已审核(<span class="state1"></span>)</a></li>
        <li><a href="javascript:;" data-id="2">拒绝审核(<span class="state2"></span>)</a></li>
      </ul>
    </div>
    <div class="btn-group hide" id="batchAudit">
      <button class="btn dropdown-toggle" data-toggle="dropdown">批量审核<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="待审核">待审核</a></li>
        <li><a href="javascript:;" data-id="已审核">已审核</a></li>
        <li><a href="javascript:;" data-id="拒绝审核">拒绝审核</a></li>
      </ul>
    </div>
    <a href="javascript:;" class="btn btn-primary" id="addNew">新增工资统计</a>
  </div>
  <div class="f-right">
    <div class="btn-group" id="pageBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">每页10条<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="javascript:;" data-id="10">每页10条</a></li>
        <li><a href="javascript:;" data-id="15">每页15条</a></li>
        <li><a href="javascript:;" data-id="20">每页20条</a></li>
        <li><a href="javascript:;" data-id="30">每页30条</a></li>
        <li><a href="javascript:;" data-id="50">每页50条</a></li>
        <li><a href="javascript:;" data-id="100">每页100条</a></li>
      </ul>
    </div>
    <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
    <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
    <div class="btn-group" id="paginationBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:auto; right:0;">
        <li><a href="javascript:;" data-id="1">第1页</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="thead t100 clearfix">
  <li class="row3">&nbsp;</li>
  <li class="row25 left">公司名称</li>
  <li class="row10 left">发表会员</li>
  <li class="row10 left">区域</li>
  <li class="row13 left">职位</li>
  <li class="row7 left">工资</li>
  <li class="row12">状 态</li>
  <li class="row13">发表时间</li>
  <li class="row7">操 作</li>
</ul>

<div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>

<div id="pageInfo" class="pagination pagination-centered"></div>

<div class="hide">
  <span id="sKeyword"></span>
  <span id="sAddr"></span>
</div>

<script id="quickEdit" type="text/html">
  <form action="" class="quick-editForm" name="editForm">
    <dl class="clearfix">
      <dt>公司名称：</dt>
      <dd><input type="text" id="company" name="company" /></dd>
    </dl>
    <dl class="clearfix">
      <dt>会员：</dt>
      <dd><input type="text" id="user" name="user" /></dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="addr">所属地区：</label></dt>
      <dd>
        <div class="cityName addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addr split=' '#}" data-id={#$addr#}>
          {#if $addr != '' && $addr != "''"#}{#getPublicParentInfo tab='site_area' id=$addr type='typename' split='/'#}{#else#}请选择{#/if#}
        </div>
        <input type="hidden" name="addr" id="addr" value="{#$addr#}" />
        <span class="input-tips"><s></s>请选择所属地区</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>职位：</dt>
      <dd><input type="text" id="work" name="work" /></dd>
    </dl>
    <dl class="clearfix">
      <dt>工资：</dt>
      <dd><input class="input-small" type="text" id="wage" name="wage" /> {#echoCurrency type="short"#}</dd>
    </dl>
    <dl class="clearfix">
      <dt>状态：</dt>
      <dd>
        <select id="state" name="state">
          <option value="0">等待审核</option>
          <option value="1" selected="selected">审核通过</option>
          <option value="2">审核拒绝</option>
        </select>
      </dd>
    </dl>
  </form>
</script>

<script>
  var addrListArr = {#$addrListArr#}, adminPath = "{#$adminPath#}";
</script>
{#$jsFile#}
</body>
</html>
