<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var typeid = {#$typeid#}, typeListArr = {#$typeListArr#}, newstypeid = {#$newstypeid#}, newsListArr = {#$newsListArr#}, module = '{#$module#}', adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="name">标签说明：</label></dt>
    <dd>
      <input type="text" class="input-large" name="name" id="name" value="{#$name#}" />
      <span class="help-inline">为了方便管理，请输入标签说明！</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="type">栏目：</label></dt>
    <dd>
      <select name="type" id="type" class="input-medium">
        {#html_options options=$typeList selected=$type#}
      </select>
    </dd>
  </dl>
  <div id="postList" class="listitem{#if $type != "post" && $type != ""#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="posttype">职位类别：</label></dt>
      <dd>
        <select name="posttype" id="posttype" class="input-large"></select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="postexperience">工作经验：</label></dt>
      <dd>
        <select name="postexperience" id="postexperience" class="input-large">
          {#html_options options=$experienceList selected=$postexperience#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="posteducational">学历要求：</label></dt>
      <dd>
        <select name="posteducational" id="posteducational" class="input-large">
          {#html_options options=$educationalList selected=$posteducational#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="postnature">薪资范围：</label></dt>
      <dd>
        <select name="postnature" id="postnature" class="input-large">
          {#html_options options=$natureList selected=$postnature#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="resumeList" class="listitem{#if $type != "resume"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="resumetype">职位类别：</label></dt>
      <dd>
        <select name="resumetype" id="resumetype" class="input-large"></select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="resumeexperience">工作经验：</label></dt>
      <dd>
        <select name="resumeexperience" id="resumeexperience" class="input-large">
          {#html_options options=$experienceList selected=$resumeexperience#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="resumeeducational">学历要求：</label></dt>
      <dd>
        <select name="resumeeducational" id="resumeeducational" class="input-large">
          {#html_options options=$educationalList selected=$resumeeducational#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="resumenature">薪资范围：</label></dt>
      <dd>
        <select name="resumenature" id="resumenature" class="input-large">
          {#html_options options=$natureList selected=$resumenature#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="sentenceList" class="listitem{#if $type != "sentence"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="sentencetype">类别：</label></dt>
      <dd class="radio">
        {#html_radios name="sentencetype" values=$sentencetypeopt checked=$sentencetype output=$sentencetypenames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
  </div>
  <div id="newsList" class="listitem{#if $type != "news"#} hide{#/if#}" style="padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="newstype">信息分类：</label></dt>
      <dd>
        <select name="newstype" id="newstype" class="input-large"></select>
      </dd>
    </dl>
  </div>
  <dl class="clearfix">
    <dt><label for="start">开始时间：</label></dt>
    <dd>
      <input class="input-medium" type="text" name="start" id="start" date-language="ch" value="{#$start#}" />
      <span class="help-inline">如不限制，留空即可！</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="end">结束时间：</label></dt>
    <dd>
      <input class="input-medium" type="text" name="end" id="end" date-language="ch" value="{#$end#}" />
      <span class="help-inline">如不限制，留空即可！</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="expbody">过期显示内容：</label></dt>
    <dd><textarea rows="5" class="input-xxlarge" name="expbody" id="expbody">{#$expbody#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd>
      <button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button>
      <a class="btn btn-link ml30" href="javascript:;" id="preview">预览</a>
    </dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>