html,body {background: #fff;}
body {padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}

.header {border-bottom: none;background: #fff;}
.header-r {visibility: visible;}
.header-r a {font-size: .3rem;color: #2b73f8;}

.bar {height: .15rem;background: #f6f6f6;}

.content {background: #fff; padding: .4rem;-webkit-overflow-scrolling: touch;}
.content input {width:100%;border:none;outline: none;font-size: .3rem;}
input::-webkit-input-placeholder {color: #aaa;}

.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 100001; display: none;}

/* 错误提示 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.fabuBtn {position: fixed; left: 0; bottom: 0; width: 100%; height: 1rem;}
.fabuBtn a {display: block; line-height: 1rem; background: #129bf0; text-align: center; font-size: .4rem; color: #fff;}