html,body {background: #f6f6f6;height:100%;}
.header {border-bottom: none;background: #fff;}
.header-r {visibility: visible;}
.header-r a {font-size: .3rem;color: #2b73f8;}
body {padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}

.bar {height: .15rem;background: #f6f6f6;}

.content {background: #fff;-webkit-overflow-scrolling: touch;}

.inpbox{position: relative;background: #fff;}
.inpbox.bn{border-bottom: none;}
.inpbox {border-top: .15rem solid #f6f6f6;}
.inpbox dt{position: absolute; left: .3rem;}
.inpbox dt label{line-height: 1rem;display: block;font-size: .32rem;color: #333;}
.inpbox dd {min-height: 1rem;font-size: .32rem;}
.inpbox dd input, .inpbox dd .inp{width: 100%; padding: .3rem 0 .3rem 3rem; border: 0; outline: 0; text-align: right; padding-right: .6rem; box-sizing: border-box; background: transparent;font-size: .32rem;color: #a0a0a0;}
.inpbox dd #phone{padding-right: 2.4rem;}
.inpbox dd.selgroup p{width: 100%; padding: .32rem 0; border: 0; outline: 0; text-align: right; padding-right: .3rem; box-sizing: border-box; background: url(../images/gz_select.png) center right no-repeat; background-size: .22rem;height: 1.04rem;}
.inpbox .verify{position: absolute; color: #23b8f6; font-size: .28rem; border: 1px solid #23b8f6; padding: .08rem .15rem; right: .3rem; top: .2rem; border-radius: .05rem;}
.inpbox .verify.disabled{border-color: #a4a4a4; color: #fff; background: #a4a4a4;}
.nomust .blue{visibility: hidden;}
.gz-addr-seladdr dd{padding-right: .2rem;}
.address{border: 0; padding: .2rem .5rem; outline: 0; font-size: .28rem; box-sizing: border-box; width: 100%; resize: none;}
.yzm{display: none;}
.yzm.show{display: block;}

.inpbox dd .link {display: block;position: absolute;left:0;top:0;right:0;bottom:0;padding-right: .6rem;line-height: 1rem;text-align: right;color: #a0a0a0;}
.inpbox.arrow dd:after {content: "";position: absolute;right:.3rem;top:.5rem;display: block;width:.18rem;height: .18rem;border-top: 1px solid #d6d6d6;border-right: 1px solid #d6d6d6;transform: rotate(45deg);transition: transform .2s ease-out;transform-origin:70% 40%;}
.inpbox.arrow-down dd:after {transform: rotate(135deg);}

.switch {position: absolute;right:.3rem;top:.15rem;width:.9rem;height: .48rem;background: #eeeeee;border:1px solid #dedede;border-radius:.23rem;margin-top: .17rem;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.switch span {position: absolute;left:.42rem;top:-1px;display: inline-block;width:.48rem;height: .48rem;background: #fff;border-radius:50%;transition:all .2s ease-out;box-shadow: 0px 0px 8px 0px rgba(200, 200, 200, 0.75);}
.switch.open {background: #1e8bf1;border-color:#1e8bf1;}
.switch.open span {left:-.02rem;box-shadow: 0px 0px 8px 0px rgba(30, 139, 241, 0.75);}

#opentimeBox {display: none;}

.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 100001; display: none;}

/* 错误提示 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.fabuBtn {position: fixed; left: 0; bottom: 0; width: 100%; height: 1rem;}
.fabuBtn a {display: block; line-height: 1rem; background: #129bf0; text-align: center; font-size: .4rem; color: #fff;}