html{background: #f0f0f2;}
.adviser-list{padding: .2rem .24rem;}
.adviser-list li{width: 7.02rem;height: 2rem;background: #fff;padding: .32rem .34rem;box-sizing: border-box;position: relative;margin-bottom: .2rem;}
.adviser-list li .img{float: left;width: 1.4rem;height: 1.4rem;border-radius: .1rem;overflow: hidden;}
.adviser-list li .img img{width: 100%;}
.adviser-list li .info{margin-left: .25rem;float: left}
.adviser-list li .info p.name{font-size: .34rem;}
.adviser-list li .info p.name span{color: #5e94ff;font-size: .22rem;width: .98rem;height: .28rem;border-radius: .04rem;text-align: center;line-height: .28rem;border: 1px solid #5e94ff;padding: 0 .05rem;}
.adviser-list li .info p.num{padding: .12rem 0;}
.adviser-list li .info p.num,.adviser-list li .info p.tel{font-size: .26rem;color: #a6a6a6;}
.adviser-list li .btn-m{position: absolute;right:.45rem;top: .8rem;color: #45464f;font-size: .3rem;}

.add-btn{position: fixed;bottom:0;background-color: rgb(255, 255, 255);box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.13);height: 1.3rem;width: 100%;padding: .21rem .24rem;box-sizing: border-box;}
.add-btn a{display: inline-block;width: 7.02rem;height: .88rem;line-height: .88rem;text-align: center;color: #fff;font-size: .3rem;border-radius: .08rem; background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,154,79) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,154,79) 100%);background-image: -ms-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,154,79) 100%);box-shadow: 0px 5px 5px 0px rgba(255, 133, 68, 0.31);}

.loading{text-align: center;padding: .5rem;}


