html{background: #f0f0f2;}
.header{z-index: 1;}
.container{padding-top: .2rem;}
.info{padding: 0 .3rem;background: #fff;margin-bottom: .2rem;}
.info li{border-bottom: 1px solid #d8d9e3;padding: .3rem 0;font-size: .3rem;color: #45464f;position: relative;}
.info li.company-name input{ width: 80%;}
.info li .name{float: left;}
.info li input{float: right;text-align: right;border: 0;}
.info li input::placeholder{color: #a6a6a6; }
.info li .choose{float: right;}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/car/icon_next.png") no-repeat;background-size: contain;margin-left: .1rem;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}

.update-logo{margin-bottom: .2rem;background: #fff;}
.store-imgs{margin-bottom: .2rem;background: #fff;}
.store-imgs h3,.update-logo h3{font-size: .3rem;color: #333;padding:.4rem .32rem; }

.gz-addr-seladdr dd{padding-right: .25rem;}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}

.up-box .up{position: relative;padding:0 .3rem .45rem;}
.up-box .up dt {width:2.48rem;height: 2.48rem;border:1px dashed #cfcfcf;background:#f7f7f7;float: left;}
.up-box .up .btnwrap {position: absolute;left:1px;top:1px;overflow: hidden;}
.up-box .up dt input {opacity: 0;display: block;position:absolute;left:0;bottom:0;top:0;right:0;}
.webuploader-pick+div {left:0;top:0;right:0;bottom:0;}
.up-box .up dt i {display: block;width:.61rem;height: .53rem;margin:.5rem auto .15rem;background:url('../images/car/up_icon.png') center no-repeat;background-size:contain;border-radius: 3px;}
.up-box .up dt p {text-align: center;font-size: .26rem;color: #a0a0a0;padding:0 .3rem;}
.up-box .up dd {position: absolute;left:2.73rem;top:0;right:0;}
.up-box .up dd p {font-size: .26rem;color: #a0a0a0;}
.up-box .up dd .p1 {color: #333;font-weight: bold;padding-bottom: .05rem;}
.up-box .up dd .p2 {padding-top: .1rem;}
.up-box .up dt {width:2.08rem;height: 2.08rem;border:1px solid #f5f5f5;background:#f5f5f5;float: left;border-radius: .12rem;}
.webuploader-container div{width:3.96rem;height: 2.56rem;}
.up-box .pic {position: relative;width:2.08rem;height: 2.08rem;border:1px solid #cfcfcf;border-radius: .12rem;}
.up-box .pic img {width:100%;height: 100%;border-radius: .12rem;}
.up-box .pic .remove {position: absolute;right:-8px;top:-8px;width:27px;height: 27px;-webkit-transform: rotate(45deg);transform: rotate(45deg);background:rgba(0,0,0,.72);border-radius:50%;}
.up-box .pic .remove:before, .up-box .pic .remove:after {content: ''; position: absolute; background: #fff; left: 50%; top: 50%;}
.up-box .pic .remove:before {height: 16px; width: 2px; margin: -8px 0 0 -1px;}
.up-box .pic .remove:after {height: 2px; width: 16px; margin: -1px 0 0 -8px;}
.up-box .up dt{position: relative;}
.up-box .up dt .pic {position: absolute;left:0;top:0;}

.time-box  .choose .text{color: #a6a6a6}


/*图片上传*/
.img_box{padding: 0 .3rem .3rem .3rem; margin-bottom: .2rem;background: #fff;}
.img_box h3{padding: .3rem 0;font-size: .3rem;}
.img_box h3 em{ color: #333;padding:0 .2rem;}
.img_box h3 i{color: #3c7eef;}
.img_box li{width: 2.1rem; height: 2.1rem; border-radius: .12rem; background-color: #f5f5f5; float: left; position: relative; margin-bottom: .2rem;}
.img_box li:nth-child(3n-1){margin-left: .3rem; margin-right: .3rem;}
.img_show {width: 2.1rem; height: 2.1rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{width: .44rem; height: .44rem; border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.18rem; right: -.18rem; color: #fff; font-size: .5rem; text-align: center;  font-style: normal; line-height: .4rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .22rem; color: #a2a4ab; text-align: center;width: 1.1rem; margin: auto; line-height: 1.25em;}
.upload_btn img,.addbtn img{width: .5rem; height: .5rem; margin: auto; display: block; margin-top: .46rem; margin-bottom: .1rem;}
.upload_btn input{width: 2.1rem; height: 2.1rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 2.1rem; height: 2.1rem;}

/*店铺服务范围*/
.service-box{background: #fff;margin-bottom: .2rem;}
.service-box h3{font-size: .3rem;color: #333;padding:.4rem .32rem; }
.service-box .service{position: relative;padding: 0 .3rem;}
.service-box .service li{overflow:hidden;float: left;font-size:.26rem;background: #f5f5f7;width:1.98rem;height:.54rem;text-align:center;line-height:.54rem;margin-right: .3rem;margin-bottom:.3rem;box-sizing: border-box;}
.service-box .service li.active{border: 1px solid #5e94ff;color: #5e94ff;background: #f2f6ff;}

.service-box .service li i{display: inline-block;width: .3rem;height: .3rem;margin: 0 5px -2px 0;position: relative;}

.service-box .service li.cheliangzhihuan i{background: url("../images/car/icon_01.png") no-repeat;background-size: contain;}
.service-box .service li.jiagepinggu i{background: url("../images/car/icon_02.png") no-repeat;background-size: contain;}
.service-box .service li.fenqidaikuan i{background: url("../images/car/icon_03.png") no-repeat;background-size: contain;}
.service-box .service li.baobanguohu i{background: url("../images/car/icon_04.png") no-repeat;background-size: contain;}
.service-box .service li.daibanyanche i{background: url("../images/car/icon_05.png") no-repeat;background-size: contain;}
.service-box .service li.daibanshangpai i{background: url("../images/car/icon_06.png") no-repeat;background-size: contain;}
.service-box .service li.daibanzhuanji i{background: url("../images/car/icon_07.png") no-repeat;background-size: contain;}
.service-box .service li.cheliangjishou i{background: url("../images/car/icon_08.png") no-repeat;background-size: contain;}
.service-box .service li.yanchangzhibao i{background: url("../images/car/icon_09.png") no-repeat;background-size: contain;}

.service-box .service .cheliangzhihuan.active i{background: url("../images/car/icon_a_01.png") no-repeat;background-size: contain;}
.service-box .service .jiagepinggu.active i{background: url("../images/car/icon_a_02.png") no-repeat;background-size: contain;}
.service-box .service .fenqidaikuan.active i{background: url("../images/car/icon_a_03.png") no-repeat;background-size: contain;}
.service-box .service .baobanguohu.active i{background: url("../images/car/icon_a_04.png") no-repeat;background-size: contain;}
.service-box .service .daibanyanche.active i{background: url("../images/car/icon_a_05.png") no-repeat;background-size: contain;}
.service-box .service .daibanshangpai.active i{background: url("../images/car/icon_a_06.png") no-repeat;background-size: contain;}
.service-box .service .daibanzhuanji.active i{background: url("../images/car/icon_a_07.png") no-repeat;background-size: contain;}
.service-box .service .cheliangjishou.active i{background: url("../images/car/icon_a_08.png") no-repeat;background-size: contain;}
.service-box .service .yanchangzhibao.active i{background: url("../images/car/icon_a_09.png") no-repeat;background-size: contain;}

/*营业时间*/
.time-box{padding: 0 .3rem;background: #fff;}
.time-box .time{padding: .3rem 0;font-size: .3rem;color: #45464f;border-bottom: 1px solid #d8d9e3;}
.time-box .time .name{float: left;}
.time-box .time input{float: right;text-align: right;border: 0;margin: 1px 7px 0 0;}
.time-box .time .choose{float: right;}
.time-box .time .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/car/icon_next.png") no-repeat;background-size: contain;margin-left: .1rem;}
.time-box .time input{background: #fff;}

.btn-box{height: 3rem;text-align: center;line-height: 3rem;}
.btn-box .btn-keep{display:inline-block;width: 6.7rem;height: .88rem;color:#fff;line-height:.88rem;font-size:.3rem;border-radius:.1rem;background-color: rgb(66, 68, 79);box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);}


/*select隐藏*/
#paytype_{display: none;}
.gz-addr-wrap .intell_data{display: none !important;}
.gz-addr-wrap .chose_house{display: block !important;}
.search_box{display: none;}


/*信息提示框*/
.maskbg{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.3);z-index: 999999999999;display: none;}
.maskbg .msg-box{width: 5.2rem;padding:.6rem  .35rem;background: #fff;border-radius: .1rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
.maskbg .msg-box .btn-close{display: inline-block;width: .32rem;height: .32rem;background: url("../images/icon_close.png") no-repeat;background-size: contain;position: absolute;top: .2rem;right: .2rem;}
.maskbg .msg-box .msg{text-align: center;font-size: .3rem;color:#fb5845;}

.state0{color: #f00;text-align: center;padding-bottom: .2rem;}

    