.header {position: fixed;top:0;width: 7.5rem;z-index: 10010;}
.header-r {visibility: visible;}
.header-r a {color: #fff;font-size: .3rem;}

/* 私信详细 */
#wrapper {position: absolute;top:.9rem;left:0;bottom:0;width: 7.5rem;z-index:2;overflow: hidden;}
#scroller {position: absolute;top:0;bottom:0;width: 7.5rem;z-index: 2;overflow-y: auto;}

.li {position: relative; padding: .4rem .2rem; border-bottom: 1px dotted #ddd;}
.li.r {padding-right: 1.4rem;}
.li.l {padding-left: 1.4rem;}
.li .photo {position: absolute; top: .4rem; width: 1rem; height: 1.2rem;}
.li .photo img {width: 1rem; height: 1.2rem;}
.li.l .photo {left: .2rem;}
.li.r .photo {right: .2rem;}
.li .info {position: relative; border: 1px solid #d9d9d9; background: #f2f2f2; padding: 10px; border-radius: 5px; font-size: 14px;}
.li.l .info {background: #fff;}
.li .info s, .li .info s i {position: absolute; display: block; top: 20px; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.li.l .info s, .li.l .info s i {left: -6px;}
.li.r .info s, .li.r .info s i {right: -6px;}
.li.l .info s {border-width: 5px; border-left-width: 0; border-right-color: #d9d9d9;}
.li.l .info s i {border-width: 4px; top: -4px; left: 1px; border-left-width: 1px; border-right-color: #fff;}
.li.r .info s {border-width: 5px; border-right-width: 0; border-left-color: #d9d9d9;}
.li.r .info s i {border-width: 4px; top: -4px; left: -6px; border-right-width: 1px; border-left-color: #f2f2f2;}
.li .info h3 a {color: #f60;}
.li .info p {padding: 5px 0;word-break: break-all;}
.li .info em {font-size: 12px; color: #aaa;}

.reviewbox {position: fixed;bottom:-3.4rem;width: 7.5rem;z-index: 10003;}
.reviewbox.tran {-webkit-transition:bottom .3s;;transition:bottom .3s;}
.review {height: 2.2rem;padding: .3rem .2rem;border-top: 1px solid #d9d9d9; background: #f2f2f2; border-radius: 5px; font-size: 14px;}
.review h2 {position: relative;padding-bottom: .2rem;}
.review textarea {padding: .2rem 1%; width: 98%; height: 1rem; border: 1px solid #e1e1e1; resize: none;}
.review p {text-align: right;}
#send {position: absolute;right:0;top:0;padding: 0 .2rem; cursor: pointer;}

.loading{text-align: center; line-height: 1rem;}
.loading img {vertical-align: middle;}

.showreply .reviewbox {bottom:0;}
.showreply #wrapper {bottom:3.4rem;}

.mask {background: transparent;}
.op0 {opacity:0;}
