html {background:#f4f4f4;}

/* 错误提示 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}


/* 上传图片 */
.img-box {padding-bottom: 15px; position: relative; background: #fff; border-bottom: 1px solid #e5e5e5;}
.img-box ul {padding-left: .3rem;}
.img-box li {position: relative; float: left; margin: .3rem .3rem 0 0; width: 1.48rem; height: 1.48rem; background: #fff; box-shadow: 0 1px .2rem 1px rgba(0,0,0,.2);}

/* 上传按钮 */
.img-box li.uploadbtn {box-shadow: none; width: 1.4rem; height: 1.4rem; border: .04rem dashed #e5e5e5;}
.webuploader-pick {line-height: 1.4rem; text-align: center; font-size: 90px; color: #e5e5e5;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 1.4rem; height: 1.4rem;}

/* 图片队列 */
.img-box .imgtip{color: #d0d0d0; font-size: 0.3rem; position: absolute; left: 110px; top: 40px;}
.img-box .thumbnail img {width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-size: cover; background-position: center 20%;}

.img-box .thumbnail .file-panel {position: absolute; width: .6rem; height: .6rem; top: .12rem; right: -.2rem; margin-top: -.36rem;}
.img-box .thumbnail .file-panel .cancel {position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -12px; -webkit-transform: rotate(45deg); width: 27px; height: 27px; -webkit-border-radius: 13px; background-color: rgba(0,0,0,.7);}
.img-box .thumbnail .file-panel .cancel:before, .img-box .thumbnail .file-panel .cancel:after {content: ''; position: absolute; background: #d5d6d8; left: 50%; top: 50%;}
.img-box .thumbnail .file-panel .cancel:before {height: 16px; width: 2px; margin: -8px 0 0 -1px;}
.img-box .thumbnail .file-panel .cancel:after {height: 2px; width: 16px; margin: -1px 0 0 -8px;}


.img-box .thumbnail .progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.img-box .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

.submit{padding: .4rem .2rem;}
.submit a{display: block; width: 100%; height: .7rem; line-height: .7rem; background: #0099e9; color: #fff; border-radius: .04rem; text-align: center; font-size: .28rem;}
