
/*发布收费框*/
.fabuPay{position: fixed; z-index: 100001; background: #fff; left: 0; right: 0; top: 0; bottom: 0; font-size: .28rem; overflow: auto;display: none;}
.fabuPay .header{position: static;background: #fff;height: .9rem;display: -webkit-box;border-bottom: 1px solid #f2f2f2;}
.fabuPay .header-l a{display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.fabuPay .header-l a img{display: block;height: .5rem;width: auto;margin: 0 auto;}
.fabuPay .header-c{-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem;}
.fabuPay .header-r{display: -webkit-box; visibility: hidden;}
.fabuPay .header-r a{display: table-cell;width: .8rem;height: .9rem;vertical-align: middle;}
.fabuPay .header-r .yun img{display: block;width: .55rem;height: auto;margin: 0 auto;}
.fabuPay .header-r .screen img{display: block;width: .45rem;height: auto;margin: 0 auto;}

.fabuPay .payHeader{text-align: center; background: #0e7ff2 url(../images/payHeader_bg.png) center center no-repeat; color: #fff; padding: .4rem .3rem .3rem; background-size: 7.5rem auto;}
.fabuPay .payPrice{margin-bottom: .4rem;}
.fabuPay .payPrice em{font-size: .4rem; font-weight: normal;}
.fabuPay .payTip{text-align: left;}
.fabuPay .payMain{padding: .3rem .2rem; font-size: .3rem;}
.fabuPay .fabu_dl{margin-bottom: .2rem;}
.fabuPay .fabu_dl dt{float: left; padding-left: .5rem;}
.fabuPay .fabu_dl.yue dt{background: url(../images/card_icon.png) left center no-repeat; background-size: .38rem auto;}
.fabuPay .fabu_dl.yue dt.active{background-image: url(../images/acard_icon.png);}
.fabuPay .fabu_dl dd{float: right;}
.gray_bg{padding: .2rem .2rem; background: #f4f4f4; margin-top: .3rem; margin-bottom: .1rem;}
.fabuPay .pay-list dl{border-bottom: 1px solid #f2f2f2; padding: .25rem 0;}
.fabuPay .pay-list dl:last-child{border-bottom: none;}
.fabuPay .pay-list dt{width: .5rem; float: left; padding: 0 .2rem 0 0;}
.fabuPay .pay-list dt img{width: .55rem;}
.fabuPay .pay-list dd{float: left;}
.fabuPay .pay-list dd p{padding-top: .05rem;}
.fabuPay .pay-list dl .radio{background: url(../images/card_icon.png) center center no-repeat; background-size: .4rem auto; width: .5rem; height: .6rem; float: right;}
.fabuPay .pay-list dl.active .radio{background: url(../images/acard_icon.png) center center no-repeat; background-size: .4rem auto;}
.fabuPay .payBtn a{display: block; text-align: center; border-radius: .04rem; margin-top: .2rem; margin-bottom: .4rem;}
.fabuPay .payBtn a span{display: block; padding: .25rem 0;}
.fabuPay .payBtn .pay_btn{color: #00a0e9; border: 1px solid #00a0e9;}
.fabuPay .payBtn .upgrade_btn{color: #fff; background: #0e7ff2 url(../images/upgrade_btn_bg.png) center center no-repeat; background-size: 6rem auto; overflow: hidden;}
.fabuPay .payBtn .upgrade_btn span{background: url(../images/upgrade_btn_icon.png) right top no-repeat; background-size: .7rem auto;}
