html,body {background: #f8f8f8;}

.housetype {margin: .15rem;}
.housetype li {width:3.3rem;height: 3.3rem;margin: .15rem;text-align: center;background: #fff;float: left;border-radius:3px;overflow: hidden;}
.housetype li a {display: block;height: 100%;background:#fff;transition: all .2s;}
.housetype li .img {position: relative;display: inline-block;width:1.46rem;height: 1.46rem;margin:.67rem 0 .3rem;border-radius: 50%;transition: all .2s;}
.housetype li .img.img:after {content:"";position: absolute;left:0;top:0;width:100%;height:100%;background-repeat: no-repeat;background-position:center;background-size:60%;}
.housetype li p {font-size: .28rem;color: #333;transition: all .2s;}
.housetype li:nth-child(1) .img {
  background-image: -moz-linear-gradient( 45deg, rgb(122,237,155) 0%, rgb(169,252,231) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(122,237,155) 0%, rgb(169,252,231) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(122,237,155) 0%, rgb(169,252,231) 100%);
  box-shadow: 0px 9px 21px 0px rgba(135, 241, 178, 0.55);
}
.housetype li:nth-child(2) .img {
  background-image: -moz-linear-gradient( 45deg, rgb(149,104,246) 0%, rgb(174,199,250) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(149,104,246) 0%, rgb(174,199,250) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(149,104,246) 0%, rgb(174,199,250) 100%);
  box-shadow: 0px 9px 21px 0px rgba(161, 152, 248, 0.55);
}
.housetype li:nth-child(3) .img {
  background-image: -moz-linear-gradient( 45deg, rgb(239,153,108) 0%, rgb(247,202,146) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(239,153,108) 0%, rgb(247,202,146) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(239,153,108) 0%, rgb(247,202,146) 100%);
  box-shadow: 0px 9px 21px 0px rgba(241, 170, 121, 0.55);
}
.housetype li:nth-child(4) .img {
  background-image: -moz-linear-gradient( 45deg, rgb(246,104,195) 0%, rgb(249,218,56) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(246,104,195) 0%, rgb(249,218,56) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(246,104,195) 0%, rgb(249,218,56) 100%);
  box-shadow: 0px 9px 21px 0px rgba(234, 148, 175, 0.55);
}
.housetype li:nth-child(5) .img {
  background-image: -moz-linear-gradient( 45deg, rgb(107,124,248) 0%, rgb(117,231,248) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(107,124,248) 0%, rgb(117,231,248) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(107,124,248) 0%, rgb(117,231,248) 100%);
  box-shadow: 0px 3px 16px 0px rgba(111, 163, 248, 0.7);
}
.housetype li:nth-child(6) .img {
  background-image: -moz-linear-gradient( 45deg, rgb(107,124,248) 0%, rgb(117,231,248) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(254, 165, 102) 0%, rgb(252, 189, 117) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(107,124,248) 0%, rgb(117,231,248) 100%);
  box-shadow: 0px 3px 16px 0px rgb(254, 181, 112);
}

.housetype li:nth-child(1) .img:after {background-image: url('../images/house/ershou.png');}
.housetype li:nth-child(2) .img:after {background-image: url('../images/house/zu.png');}
.housetype li:nth-child(3) .img:after {background-image: url('../images/house/xzl.png');background-size:90%;}
.housetype li:nth-child(4) .img:after {background-image: url('../images/house/sp.png');}
.housetype li:nth-child(5) .img:after {background-image: url('../images/house/cf.png');background-size:50%;}
.housetype li:nth-child(6) .img:after {background-image: url('../images/house_cw.png');background-size: 100%;}


.housetype li a:active {background: #eee;}
.housetype li a:active .img {transform:scale(1.2);}
.housetype li a:active p {transform:scale(.7);color: #999;}