.fayuanid {overflow: hidden; border-bottom: solid 1px #e6e7ed; padding-bottom: .4rem; padding-top: .2rem;}
.fayuanid .left_label{float: left; }
.fayuanid .left_label label{font-size: .3rem !important; }
.fayuanid .right_value{float: right;}
.fayuanid .right_value input{border: none; background: none; text-align: right;}
.detail_house .about_house{border-bottom: none;}
.feature_box.checkbox.sale_feature dd:nth-last-child(1){margin: 0 !important;}


/*只有俩列*/
.title-box-sale{width: 90%;   overflow: hidden; position: absolute; top: 0; left: 5%; background-color: #fff; height: .6rem; }
.title-box-sale li{width: 50%; float: left; font-size: .24rem; color: #333; text-align: center; padding-top: .2rem;}