html{background: #f0f0f2;}
.header{z-index: 1;}

.huoniao_iOS .container{padding-top: 0;}
.baomu_info{background: #fff;padding-top: .3rem;}
.baomu_info2{padding-top: 0}
.info_title{font-size: .36rem;color: #28292b;font-weight: bold;padding-left: .3rem;position: relative;line-height: .7rem;}
.info_title:after {position: absolute;width: .66rem;height: .06rem;left: .3rem;bottom: 0;display: block;background-color: rgb(255, 101, 59);box-shadow: 0px 3px 5px 0px rgba(255, 101, 59, 0.47);content: ' ';}

.star{color: #ff4646;font-size: .32rem}

.info{padding: 0 .3rem;background: #fff;margin-bottom: .2rem;margin-top: .16rem}
.info li{border-bottom: 1px solid #d8d9e3;padding: .3rem 0;font-size: .3rem;color: #45464f;position: relative;}
.info3{margin-bottom: 0;}
.info li .name{float: left;}
.info li input{float: right;text-align: right;border: 0;color: #45464f}
.info li input::placeholder{color: #9fa1ab; }
.info li .choose{float: right;}
.info li .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/education/icon_next.png") no-repeat;background-size: contain;margin-left: .1rem;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}
.info li:last-child{border-bottom: none}
.class-p{float: right;}
.info li input[name='price']{color: #45464f;float: none;}
.info li input[name='price'] + label{color: #a6a6a6;}
.info li input[name='price']:focus + label,.info li input[name='price']:focus{color: #45464f;}

.class_origin2{display: none}

.update-logo{margin-bottom: .2rem;background: #fff;}
.store-imgs{margin-bottom: .2rem;background: #fff;}
.store-imgs h3,.update-logo h3{font-size: .3rem;color: #333;padding:.4rem .32rem; }

.gz-addr-seladdr dd{padding-right: .25rem;color: #45464f}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}


.up-box .up{position: relative;padding:0 .3rem .45rem;}
.up-box .up dt {width:2.48rem;height: 2.48rem;border:1px dashed #cfcfcf;background:#f7f7f7;float: left;}
.up-box .up .btnwrap {position: absolute;left:1px;top:1px;overflow: hidden;}
.up-box .up dt input {opacity: 0;display: block;position:absolute;left:0;bottom:0;top:0;right:0;}
.webuploader-pick+div {left:0;top:0;right:0;bottom:0;}
.up-box .up dt i {display: block;width:.61rem;height: .53rem;margin:.5rem auto .15rem;background:url('../images/car/up_icon.png') center no-repeat;background-size:contain;border-radius: 3px;}
.up-box .up dt p {text-align: center;font-size: .26rem;color: #a0a0a0;padding:0 .3rem;}
.up-box .up dd {position: absolute;left:2.73rem;top:0;right:0;}
.up-box .up dd p {font-size: .26rem;color: #a0a0a0;}
.up-box .up dd .p1 {color: #333;font-weight: bold;padding-bottom: .05rem;}
.up-box .up dd .p2 {padding-top: .1rem;}
.up-box .up dt {width:2.08rem;height: 2.08rem;border:1px solid #f5f5f5;background:#f5f5f5;float: left;border-radius: .12rem;}

.up-box .pic {position: relative;width:2.08rem;height: 2.08rem;border:1px solid #cfcfcf;border-radius: .12rem;}
.up-box .pic img {width:100%;height: 100%;border-radius: .12rem;}
.up-box .pic .remove {position: absolute;right:-8px;top:-8px;width:27px;height: 27px;-webkit-transform: rotate(45deg);transform: rotate(45deg);background:rgba(0,0,0,.72);border-radius:50%;}
.up-box .pic .remove:before, .up-box .pic .remove:after {content: ''; position: absolute; background: #fff; left: 50%; top: 50%;}
.up-box .pic .remove:before {height: 16px; width: 2px; margin: -8px 0 0 -1px;}
.up-box .pic .remove:after {height: 2px; width: 16px; margin: -1px 0 0 -8px;}
.up-box .up dt{position: relative;}
.up-box .up dt .pic {position: absolute;left:0;top:0;}


/*所属行业*/
.com-box{background: #fff;}

.com-box .choose .text{color: #9fa1ab}
/*学历*/

.edu{font-size: .3rem;color: #45464f;}
.edu .name{float: left;}
.edu input{float: right;text-align: right;border: 0;color: #45464f}
.edu .choose{float: right;}
.edu .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/education/icon_next.png") no-repeat;background-size: contain;margin-left: .17rem;}
.edu input{background: #fff;}
/*补充描述*/

 .class_spec{height: 3.75rem;   margin-top:0; }
 .class_spec textarea{width: 100%;height: 100%;border: none;padding-top:.45rem;box-sizing: border-box;font-size: .32rem;}
 .class_spec textarea::placeholder{color: #9fa1ab}

 .class_spec2{height: 1rem;   margin-top:0; }
 .class_spec2 input{width: 100%;height: 100%;padding-left: .08rem;border: none;box-sizing: border-box;font-size: .32rem;border-top: 1px solid #d8d9e3;}
 .class_spec2 input::placeholder{color: #9fa1ab}

  .class_spec3{  margin-top:0; padding-top: .5rem;padding-bottom: .44rem }
 .class_spec3 input{width: 100%;height: 100%;padding-left: .08rem;border: none;box-sizing: border-box;font-size: .32rem;}
 .class_spec3 input::placeholder{color: #9fa1ab}


/*从业经验*/
.age input{background: #fff;}

/*服务户数*/
.com-box{background: #fff;}
.fuwu_num{font-size: .3rem;color: #45464f;}
.fuwu_num .name{float: left;}
.fuwu_num input{float: right;text-align: right;border: 0;color: #45464f}
.fuwu_num .choose{float: right;}
.fuwu_num .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/education/icon_next.png") no-repeat;background-size: contain;margin-left: .17rem;}
.fuwu_num input{background: #fff;}
/*工作内容弹出层*/
.working .text{display: inline-block;max-width: 5rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.work_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.work_container{position: fixed; left: 0;bottom:0;width: 100%;    box-sizing: border-box;background-color:#fff;  padding: .3rem .3rem .48rem .4rem; z-index: 9999; border-top-right-radius: .2rem;border-top-left-radius: .2rem}
.work_container .work_close{width: .3rem;height: .3rem;float: right}
.work_title{font-size: .3rem;font-weight: bold;color: #333;margin-top: .4rem}
.work_type ul{margin-top: .4rem;font-size: 0}
.work_type ul li{height: .6rem;line-height: .6rem;border-radius:.3rem;display: inline-block;padding: 0 .44rem;font-size: .26rem;color: #28292b;background: #f5f5f7;border:1px solid #c0c1c4;margin-bottom: .3rem;margin-right: .18rem}
.work_type2{margin-top: .7rem}

.work_type ul li.active{background: #fa6352;color: #fff;border-color:#fa6352;}



.save{display:inline-block;width: 6.7rem;height: .88rem;color:#fff;line-height:.88rem;margin-top:.2rem;text-align:center;font-size:.3rem;border-radius:.1rem;background-color: rgb(66, 68, 79);box-shadow: 0px 3px 13px 0px rgba(0, 9, 43, 0.13);}
/*授课方式*/
.info .object_type{padding: .2rem 0;}
.info .object_type .name{margin-top: .15rem}
.class_type{display: inline-block;float: right;}
.class_type span{display: inline-block;height: .64rem;line-height: .64rem;color:#333;border-radius: .04rem;border: 1px solid #d7d9de;width: 2.2rem;font-size: .28rem;text-align: center;}
.class_type span.active{border: 1px solid #ff653b;color: #ff653b;background: #fff9f7}
.class_type span:first-child{margin-right: .2rem}
/*授课时间*/
.info li table{height: 2.8rem;border:solid #d7d7de; border-width:2px;width:100%;text-align: center;font-size: .28rem;margin-top: .7rem}
.info li table tr{background-size: #fff}
.info li table td{border:solid #d7d9de; border-width:0px 1px 1px 0px;color: #d7d7de;height: .7rem}
.info li table th{border:solid #d7d9de; border-width:0px 1px 1px 0px;text-align: center;color: #3377ff;font-weight: bold;height: .7rem}
.info li table tr img{width: .4rem;height: auto}
/*验证码*/


.phone_wrap{padding: .0 .3rem;background: #f7f7fc;}
 .test_btn{display:inline-block;width: 1.87rem;height: .68rem;line-height:.68rem;background-color:#42444f; border-radius: .06rem;text-align: center;}
 .test_btn button{border: none; background: none; font-size: .3rem; color: #fff; width: 100%; text-align: center; line-height: .68rem;}
.phone_confirm{padding: .18rem 0;border-bottom: 1px solid #d8d9e3;
    font-size: .32rem;
    color: #45464f;border-top: 1px solid #d8d9e3;}
 .phone_confirm input{line-height: .7rem;background: #f7f7fc;border: 0;color: #45464f;float: right;text-align: right;}
 .phone_confirm input::placeholder{color: #9fa1ab; }
.changephone_tip{font-size: .24rem;color: #919191;padding-left: .26rem;margin-top: .2rem}


/**/

/*保存按钮*/
.btn-box{text-align: center;padding: .64rem .24rem .4rem;}
.btn-box .btn-keep{display:inline-block;width: 6.7rem;height: .88rem;color:#fff;line-height:.88rem;font-size:.3rem;border-radius:.08rem;background: #42444f;}






/*select隐藏*/
#paytype_{display: none;}
.gz-addr-wrap .intell_data{display: none !important;}
.gz-addr-wrap .chose_house{display: block !important;}
.search_box{display: none;}


/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}
