.caseBox{position: relative;padding-top: 1rem;padding-bottom: .5rem;}
/*.caseBox .caseBox-bg{position: absolute;top: 0;left: 0;right: 0;height: 4rem;z-index: 1;background-image: -moz-linear-gradient( 90deg, rgb(240,240,242) 0%, rgb(255,255,255) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(240,240,242) 0%, rgb(255,255,255) 100%);background-image: -ms-linear-gradient( 90deg, rgb(240,240,242) 0%, rgb(255,255,255) 100%);}*/

h3{color: #38393b;font-size: .34rem;text-align: center;font-weight: bold;width: 100%;}
h3.c-tit{position:absolute;top:.45rem;z-index: 3;}


/*成功案例*/
.topSwiper{position: relative;}
.topSwiper .swiper-container{padding: .8rem 0;}
.topSwiper .swiper-slide{transition: all .3s ease-in-out;background-color: #ccc;width: 5rem;height: 8.88rem;}
.topSwiper .swiper-slide-active{transform: scale(1.1);}
.topSwiper .swiper-pagination{position: absolute;right: .25rem;bottom:.24rem;left:auto;width:auto; padding: .04rem .2rem; line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .26rem;z-index: 9;}
.topSwiper .pagination {position: absolute;z-index: 20;left: 0;bottom: -.35rem;width: 100%;text-align: center;}
.topSwiper .swiper-pagination-bullet{width: .12rem;height: .12rem;border-radius:50%;margin-right:.16rem;background: #c1c1c5;opacity:0.5;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.topSwiper .swiper-pagination-bullet-active{background: #32333f!important;opacity: 1!important;}
.topSwiper .swiper-slide .imgBox{width: 100%;height: 100%;overflow: hidden;position: relative;}
.topSwiper .swiper-slide .pimg{width: 100%;height: 100%;overflow: hidden;}
.topSwiper .swiper-slide .pimg img{width: 100%;height: 100%;object-fit: cover;}
.topSwiper .swiper-slide .code-img{width: 2.4rem;height: 2.4rem;overflow:hidden;}
.topSwiper .swiper-slide .code-img img{width: 100%;height: 100%;object-fit: cover;}

.topSwiper .swiper-slide:nth-child(1) .code-img{position: absolute;top: 52.5%;left: 50%;z-index: 11;margin-left: -1.2rem;}
.topSwiper .swiper-slide:nth-child(2) .code-img{position: absolute;top: 41%;left: 50%;z-index: 11;margin-left: -1.2rem;}
.topSwiper .swiper-slide:nth-child(3) .code-img{position: absolute;top: 37%;left: 50%;z-index: 11;margin-left: -1.2rem;}
.topSwiper .swiper-slide:nth-child(4) .code-img{position: absolute;top: 11.5%;left: 50%;z-index: 11;margin-left: -1.2rem;}
.topSwiper .swiper-slide:nth-child(5) .code-img{position: absolute;top: 34.5%;left: 50%;z-index: 11;margin-left: -1.2rem;}
.topSwiper .swiper-slide:nth-child(6) .code-img{position: absolute;top: 52.5%;left: 50%;z-index: 11;margin-left: -1.2rem;}
.topSwiper .swiper-slide:nth-child(7) .code-img{position: absolute;top: 41%;left: 50%;z-index: 11;margin-left: -1.2rem;}

/*生成图片*/
/*==修改*/
.drawImg{width: 100%; height: 100%; position:absolute ; top: 0; left: 0 ; right: 0; bottom: 0; text-align: center;z-index: 12; background-color: #fff; color: #666;}
.drawImg img{height: 100%;}
.drawImg .loading{width: .4rem; height: .4rem !important;display: block; margin: auto; margin-top:50%; }
.drawImg p{margin-top: .2rem; font-size: .3rem;}






