body, html{background: #f8f8f8;}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}

.orderlist .item {padding: .5rem .24rem;background: #fff;margin-top: .15rem;position: relative;}
.orderlist .item dt {font-size: .26rem;color: #333;text-align: center;margin-bottom: .4rem;}
.orderlist .item dt .money {padding:.1rem 0;}
.orderlist .item dt .state {position: absolute;left:.24rem;top:.2rem;font-size: .26rem;color: #333;}
.orderlist .item dt .money font {font-size: .38rem;font-weight: bold;}
.orderlist .item dt .des {font-size: .26rem;color: #a0a0a0;}
.orderlist .item dd {color: #a0a0a0;font-size: .24rem;line-height: .4rem;}
.orderlist .item dd span {width:1.2rem;text-align: right;color: #333;display: inline-block;}

.loading {padding:.5rem 0;text-align: center;color: #666;}