body, html{background: #f4f4f4;}

/*头部*/
.header{position: fixed; left: 0; right: 0; top: 0; z-index: 999;}
.header-r{visibility: visible;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab{top: 0;}

/*选项卡*/
.tab ul{display: -webkit-box;}
.tab ul li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0; border-bottom: 1px solid #f4f4f4; font-size: .28rem; }
.tab ul li.curr{border-bottom: 2px solid #f74c25;}
.tab ul li.sel select{background: transparent; }

.list {margin-top: 1.82rem;}
.item {padding:.2rem .24rem;background: #fff;margin-top: .15rem;}
.item .user {line-height: .6rem;}
.item .user .name {float: left;font-size: .34rem;color: #333;}
.item .user .name em {font-size: .32rem;}
.item .user .date {float: right;font-size: .26rem;}
.item .title {font-size: .24rem;color: #a0a0a0;padding:.1rem 0;}

.o{padding-top: .35rem;}
.o a {position: relative; padding: .02rem 0 0 .4rem; border-radius: .04rem; margin-right: .2rem; color: #333; font-size: .26rem; float: right;}
.o a.edit{background: url(../images/edit.png) center left no-repeat; background-size: .28rem auto;}
.o a.del{background: url(../images/del.png) center left no-repeat; background-size: .35rem auto;}
.o a.delayPay{background: url(../images/manage-pay.png) center left no-repeat; background-size: .35rem auto;color: #f60;}
.o a.load {background: url(/static/images/loading_16.gif) center no-repeat; background-size: .35rem auto;color:transparent;}
.o a.load:before {display: none;}
.o a.bj:before {content:"";position: absolute;left:.03rem;top:.06rem;width:.26rem;height: .26rem;border:1px solid #dbdbdb;background: #fff;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.o .time {font-size: .24rem;color: #333;}

.state1 .date {color: #f74c25;}
.state1 .del {margin-right: 0;}
.state0 .bj {margin-right: 0;}


.loading{text-align: center; line-height: 1rem;}