body, html{background: #f8f8f8; font-size: .28rem;}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}

/* 其他入口链接 */
.link li {position: relative; background: #fff; height: .9rem; font-size: .36rem; line-height: .9rem;color: #333;border-bottom: solid 1px #e8e8e8;}
.link li a {display: block;padding:0 .25rem;}
.link li a:active {background: #f2f2f2;}
.link li i {display: inline-block; vertical-align: middle; width: .65rem; height: .65rem; background-size: contain;background-repeat:no-repeat; margin: -.08rem .2rem 0 0;}
.link li .icon-config-house {background-image: url('../images/house/icon-config-house.png');}
.link li .icon-house_yuyue {background-image: url('../images/house/icon-house_yuyue.png');}
.link li .icon-house_entrust {background-image: url('../images/house/icon-house_receive_broker.png');}
.link li .icon-house_meallist {background-image: url('../images/house/icon-house_meallist.png');}
.link li .icon-house_yuyue_list {background-image: url('../images/house/icon-house_yuyue_list.png');}
.link li .icon-house_entrust_list {background-image: url('../images/house/icon-house_receive_broker_list.png');}
.link li .icon-house_manage {background-image: url('../images/house/icon-menu.png');}
.link li .icon-house_put {background-image: url('../images/house/icon-put.png');}
.link li .icon-house_collect {background-image: url('../images/house/icon-collect.png');}
.link li::after {content: '';position: absolute; right: .3rem; top: 0;display: block; width: .2rem; height: .9rem; background: url(../images/arrow_icon.png) center center no-repeat; background-size: auto .24rem;}