html {background: #f6f6f6;}
body {padding-bottom: 1.5rem;padding-bottom: calc(1.5rem + constant(safe-area-inset-bottom));}
.popup_fixed {position: fixed; overflow: hidden; width: 100%;}

/* 背景 */
.mheader {position: relative; height: 3.45rem; overflow: hidden; background-image: -moz-linear-gradient( 60deg, rgb(152,30,255) 0%, rgb(111,138,255) 100%); background-image: -webkit-linear-gradient( 60deg, rgb(152,30,255) 0%, rgb(111,138,255) 100%); background-image: -ms-linear-gradient( 60deg, rgb(152,30,255) 0%, rgb(111,138,255) 100%);}
.huoniao_iOS .mheader {padding-top: 20px;}
.mheader .hbg {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}
.mheader .hbg i:nth-child(1) {position: absolute; left: 0; right: 0; bottom: 0; height: .98rem; z-index: 6; background: url('../images/3.4/memberBannerBg.png'); background-repeat: no-repeat; background-position: left bottom; background-size: 100% .98rem;}
.mheader .hbg i:nth-child(1)::before {position: absolute; content: ''; z-index: 4; width: .86rem; height: .86rem; left: 5.47rem; top: -.4rem; opacity: .38; background-image: -moz-linear-gradient( 45deg, rgb(129,88,255) 23%, rgb(251,185,9) 99%); background-image: -webkit-linear-gradient( 45deg, rgb(129,88,255) 23%, rgb(251,185,9) 99%); background-image: -ms-linear-gradient( 45deg, rgb(129,88,255) 23%, rgb(251,185,9) 99%); border-radius: 50%;}
.mheader .hbg i:nth-child(1)::after {position: absolute; content: ''; z-index: 3; width: .99rem; height: .99rem; left: 5.9rem; top: -2.1rem; opacity: .322; background-image: -moz-linear-gradient( 45deg, rgb(116,126,255) 22%, rgb(17,235,186) 100%); background-image: -webkit-linear-gradient( 45deg, rgb(116,126,255) 22%, rgb(17,235,186) 100%); background-image: -ms-linear-gradient( 45deg, rgb(116,126,255) 22%, rgb(17,235,186) 100%); border-radius: 50%;}
.mheader .hbg i:nth-child(2) {position: absolute; content: ''; z-index: 5; width: 1.3rem; height: 1.3rem; left: -.16rem; bottom: -.12rem; opacity: .49; background-image: -moz-linear-gradient( 45deg, rgb(129,88,255) 23%, rgb(251,134,9) 99%); background-image: -webkit-linear-gradient( 45deg, rgb(129,88,255) 23%, rgb(251,134,9) 99%); background-image: -ms-linear-gradient( 45deg, rgb(129,88,255) 23%, rgb(251,134,9) 99%); border-radius: 50%;}
.mheader .hbg i:nth-child(2)::before {position: absolute; content: ''; z-index: 2; width: .65rem; height: .65rem; left: 1.7rem; top: -1.5rem; background-image: -moz-linear-gradient( 45deg, rgb(145,47,255) 21%, rgb(186,17,235) 100%); background-image: -webkit-linear-gradient( 45deg, rgb(145,47,255) 21%, rgb(186,17,235) 100%); background-image: -ms-linear-gradient( 45deg, rgb(145,47,255) 21%, rgb(186,17,235) 100%); border-radius: 50%;}
.mheader .hbg i:nth-child(2)::after {position: absolute; content: ''; z-index: 1; width: .64rem; height: .64rem; left: 3.5rem; top: -.5rem; opacity: .38; background-image: -moz-linear-gradient( 45deg, rgb(138,65,255) 21%, rgb(255,78,120) 99%); background-image: -webkit-linear-gradient( 45deg, rgb(138,65,255) 21%, rgb(255,78,120) 99%); background-image: -ms-linear-gradient( 45deg, rgb(138,65,255) 21%, rgb(255,78,120) 99%); border-radius: 50%;}

/* 会员基本信息 */
.mheader .minfo {position: relative; z-index: 2; padding: .8rem .24rem 0;}
.mheader .minfo dt {float: left; width: 1rem; height: 1rem; border-radius: 50%; overflow: hidden; border: 3px solid #fff; box-shadow: 0px 0px 24px 0px rgba(131, 11, 240, 0.6);}
.mheader .minfo dt img {width: 1rem; height: 1rem; display: block;}
.mheader .minfo dd {position: relative; overflow: hidden; padding-left: .25rem;}
.mheader .minfo h2 {font-size: .3rem; margin-bottom: .2rem;}
.mheader .minfo .nlogin {text-align: center; padding-top: .4rem; font-size: .4rem;}
.mheader .minfo h2 a {display: inline-block; vertical-align: middle; color: #fff;}
.mheader .minfo .userlevel {display: inline-block; vertical-align: middle; width: .33rem; height: .33rem;}
.mheader .minfo .userlevel img {width: .33rem; height: .33rem; display: block;}

.mheader .certify {height: .38rem;}
.mheader .certify span {display: inline-block; height: .38rem; margin-right: 2px; line-height: .38rem; padding: 0 .15rem; color: #fff; background: #c2b2ff; border-radius: 3px;}

.mheader .levelinfo {margin-top: .24rem; color: #fff;}
.mheader .levelinfo a {display: inline-block; line-height: .4rem; padding: 0 .17rem; background: #f5b800; border-radius: 1rem; color: #fff; margin-left: .2rem;}

.mheader .homepage {position: absolute; z-index: 3; right: .24rem; top: 50%; margin-top: -.4rem; color: #fff; font-size: .26rem; padding-right: .3rem;}
.mheader .homepage::after {position: absolute; content: ''; right: 0; top: .05rem; width: .19rem; height: .19rem; border-right: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(-45deg);}

/* 主要入口 */
.nav {display: -webkit-box; padding: .32rem .1rem .24rem; background-color: #fff;}
.nav li {-webkit-box-flex: 1; text-align: center; font-size: .28rem;}
.nav li a {display: block; padding: .1rem; border-radius: .1rem;}
.nav li a:active {background: #f2f2f2;}
.nav li i {display: block; margin: 0 auto .2rem; width: .9rem; height: .9rem; background-size: cover; border-radius: 50%;}
.nav li .icon-order {background-image: url('../images/3.4/icon-order.png'); box-shadow: 0px 3px 10px 0px rgba(14, 224, 163, 0.65);}
.nav li .icon-manage {background-image: url('../images/3.4/icon-manage.png'); box-shadow: 0px 3px 10px 0px rgba(130, 141, 255, 0.65);}
.nav li .icon-account {background-image: url('../images/3.4/icon-account.png'); box-shadow: 0px 3px 10px 0px rgba(250, 192, 20, 0.65);}
.nav li .icon-collect {background-image: url('../images/3.4/icon-collect.png'); box-shadow: 0px 3px 10px 0px rgba(255, 63, 121, 0.65);}
.nav li .icon-qiandao {background-image: url('../images/3.4/icon-qiandao.png'); box-shadow: 0px 3px 10px 0px rgba(61, 171, 249, 0.65);}

/* 其他入口链接 */
.link {margin-top: .15rem;}
.link li {position: relative; margin-bottom: .15rem; background: #fff; height: 1rem; font-size: .28rem; line-height: 1rem;}
.link li a {display: block;}
.link li a:active {background: #f2f2f2;}
.link li i {display: inline-block; vertical-align: middle; width: .5rem; height: .5rem; background-size: cover; margin: -.08rem .2rem 0 .28rem;}
.link li .icon-history {background-image: url('../images/3.4/icon-history.png');}
.link li .icon-friend {background-image: url('../images/3.4/icon-friend.png');}
.link li .icon-vip {background-image: url('../images/3.4/icon-vip.png');}
.link li .icon-task {background-image: url('../images/3.4/icon-task.png');}
.link li .icon-invite {background-image: url('../images/3.4/icon-invite.png');}
.link li .icon-sign {background-image: url('../images/3.4/icon-sign.png');}
.link li .icon-help {background-image: url('../images/3.4/icon-help.png');}
.link li .icon-tel {background-image: url('../images/3.4/icon-tel.png');}
.link li .icon-security {background-image: url('../images/3.4/icon-security.png');}
.link li .icon-setting {background-image: url('../images/3.4/icon-setting.png');}
.link li .icon-fenxiao {background-image: url('../images/3.4/icon-fenxiao.png');}
.link li::after {position: absolute; content: ''; right: .34rem; top: .38rem; width: .24rem; height: .24rem; border-right: 2px solid #d7d7d7; border-bottom: 2px solid #d7d7d7; transform: rotate(-45deg);}
.link li.hotline::after {right: .2rem; top: .2rem; width: .45rem; height: .45rem; background: #14e699 url('../images/3.4/icon-tel1.png'); background-size: cover; border: .07rem solid #b8f7e0; transform: rotate(0deg); border-radius: 50%;}

/* 企业版入口 */
.qyEnter {position: fixed; z-index: 10; right: 0; top: 2.4rem; width: .47rem; padding: .1rem 0; text-align: center; color: #fff; line-height: 1.2em; border-radius: 3px 0 0 3px; background-image: -moz-linear-gradient( 45deg, rgb(21,205,244) 1%, rgb(27,244,175) 100%); background-image: -webkit-linear-gradient( 45deg, rgb(21,205,244) 1%, rgb(27,244,175) 100%); background-image: -ms-linear-gradient( 45deg, rgb(21,205,244) 1%, rgb(27,244,175) 100%); box-shadow: 0px 0px 16px 0px rgba(103, 232, 255, 0.57);}
.huoniao_iOS .qyEnter {top: calc(20px + 2.4rem);}
.qyEnter::after {position: absolute; content: ''; width: .47rem; height: .55rem; left: 0; bottom: 0; z-index: -1; background: url('../images/3.4/qyBg.png'); background-size: cover;}
