/*图片*/
.model img{width: 100%; display: block;}
a:hover{text-decoration: none;}

/*列表*/
.joblist{background: #fff; font-size: .3rem;}
.joblist li a{display: block; }
.joblist li a:active {background: #f2f2f2;}
.joblist li a .item{display: -webkit-box; border-bottom: 1px solid #e8e8e8; padding:0 .2rem;}
.joblist li .icon{display: table-cell; width: 0.85rem; height: .9rem; vertical-align: middle;}
.joblist li .icon img{display: block; height: 0.65rem;margin:auto;}
.joblist li p{-webkit-box-flex: 1; line-height: .9rem;color:#333;font-size: .36rem;}
.joblist li span{line-height: .9rem; display: block; font-size: .26rem; color: #bcbdbf; background: url(../images/arrow_icon.png) right center no-repeat; background-size: auto .24rem; padding-right: .34rem; margin-right: .1rem;}
