.huoniao_iOS .tabHead{padding-top: calc(20px + .4rem);}

/*---新增---*/
body{overflow: auto;-webkit-overflow-scrolling: touch;position:fixed;z-index:9999;top:0;left:0;bottom:0;width:100%;height:100%;}
.tabHead{padding:.4rem .2rem;background: #fff;}
.tabHead ul{width: 5.5rem;height: .8rem;line-height:.8rem;margin:auto;border-radius: .4rem;background: #f8f8f8;}
.tabHead ul li{width:50%;float: left;text-align: center;}
.tabHead ul li a{display:block;font-size: .36rem;}
.tabHead ul li.active a{background: #f65963;color:#fff;border-radius: .4rem;}
.tabCon{display: none;-webkit-animation:rightFadeIn .3s ease-in;-moz-animation:rightFadeIn .3s ease-in;animation:rightFadeIn .3s ease-in;}
.tabCon.showform{display: block;}
/*登录*/
.login-box .formbox form{padding:.4rem .4rem 0;}
.login-box .formbox form i.icon-close{    position: absolute;right: 0;top: 0;z-index: 999;width: .8rem;height: .8rem;display: block;background:url(../images/login_touch_popup_3.4/noIcon.png) no-repeat center center;background-size:cover;}
.login-box .formbox form dl{height: .8rem;line-height: .8rem;position: relative;background-color:#f6f7f9;margin:.3rem 0;border-radius: .1rem;}
.login-box .formbox form dl dt{width:.8rem;height: .8rem;float:left;}
.login-box .formbox form dl dt i,.login-box .formbox form dl dd i{width:.5rem;height: .5rem;display: block;margin: .12rem .15rem;}
.login-box .formbox form dl dt .icon-user{background:url(../images/login_touch_popup_3.4/icon-user.svg) no-repeat center center;background-size:.4rem; }
.login-box .formbox form dl dt .icon-pass{background:url(../images/login_touch_popup_3.4/icon-pass.svg) no-repeat center center;background-size:.4rem; }
.login-box .formbox form dl dd{float:left;width:87%;}
.login-box .formbox form dl dd input{height: .8rem;width:75%;border:none;font-size:.3rem;padding-left:.2rem;background:none;color:#999;}
.login-box .formbox form dl dd .icon-clear{opacity:0;width:.4rem;height: .4rem;margin:.2rem .1rem;position: absolute;right:.7rem;top:0;background:url(../images/login_touch_popup_3.4/icon-clear.png) no-repeat center center;background-size:contain;}
.login-box .formbox form dl dd .icon-eye{position: absolute;right:0;top:0;background:url(../images/login_touch_popup_3.4/eye.png) no-repeat center center;background-size:cover;}
.login-box .formbox form dl dd .icon-eye.disabled{background:url(../images/login_touch_popup_3.4/eye-disabled.png) no-repeat center center;background-size:cover;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px #f6f7f9 inset;color:#000;}
.submit,.login-button{display: block;height: 0.4rem;line-height: 0.39rem; padding: .15rem 0;border-radius: 100px;text-align: center;font-size: .3rem;color: #fff;margin: .5rem .4rem 0;}
.submit,.login-button{border-color: #ED424B;background: #ED424B; }
.submit.disabled,.login-button.disabled{ border-color: rgba(255, 0, 0, 0.2);background: rgba(255, 0, 0, 0.2); }
p.flex{margin: .5rem .4rem 0;overflow: hidden;font-size: .28rem;}
p.flex a {float: left;}
p.flex a.blue {float: right;color: #2581FA;}
.other-login{margin:.6rem auto;}
.other-login ul{display: -webkit-box;}
.li-alipay {display: none;}
.other-login ul li {text-align: center;-webkit-box-flex:1;}
.other-login ul li .qq {background-image: url(../images/login_touch_popup_3.4/login_qq.svg);}
.other-login ul li .sms {background-image: url(../images/login_touch_popup_3.4/login_sms.svg);}
.other-login ul li .normal {background-image: url(../images/login_touch_popup_3.4/login_normal.png);}
.other-login ul li .wb {background-image: url(../images/login_touch_popup_3.4/login_wb.svg);}
.other-login ul li .wx {background-image: url(../images/login_touch_popup_3.4/login_wx.svg);}
.other-login ul li .ali {background-image: url(../images/login_touch_popup_3.4/login_alipay.svg);}
.other-login  ul li em{ display: block;margin: 0 auto; width: 1rem;height: 1rem;margin-bottom: 0.12rem; background-size: 100%;background-repeat: no-repeat;}
.other-login  ul li p{color:#333;font-size: .28rem;}
/*注册*/
.tabCon .reg-tab{padding:0 .4rem;}
.tabCon .reg-tab ul{display: -webkit-box;}
.tabCon .reg-tab ul li{-webkit-box-flex:1;text-align: center;line-height: .45rem;font-size: .3rem;padding:.1rem 0;}
.tabCon .reg-tab ul li.curr{color:#f65963;border-bottom:solid 1px #f65963;font-weight: 600;}
.get-yzm{font-size: .28rem;color:#f65963;/*background:#f65963; */}
.get-yzm.disabled{color:#666;background-color: #f6f7f9}
.regbox,.logbox {display: none;-webkit-animation:rightFadeIn .3s ease-in;-moz-animation:rightFadeIn .3s ease-in;animation:rightFadeIn .3s ease-in;}
.regbox.regshow,.logbox.logshow{display: block;}
.regbox .inp ,.logbox .inp{padding:.2rem .2rem .2rem 1.04rem;border:0;outline:none;width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;transition: border .3s;}
.regbox .f-mobile .inp,.logbox .f-mobile .inp  {padding-left: 1.2rem;}
.regbox .f-mobile label ,.logbox .f-mobile label{position: absolute;top:0;}
.regbox .f-mobile label span,.logbox .f-mobile label span {display: inline-block;width:.3rem;height:.3rem;margin-left: .2rem;vertical-align: middle;background-image: url('../images/login_touch_popup_3.4/arrow_bottom.png');background-position: center;background-repeat: no-repeat;background-size: contain;opacity: .4;}
.regbox dt i,.logbox dt i {display: inline-block;width:.5rem;height:.5rem;margin: .12rem .15rem;float: left;background-size:.4rem;background-repeat: no-repeat;background-position: center;}
.regbox dt .icon_mobile,.logbox dt .icon_mobile {background-image: url('../images/login_touch_popup_3.4/icon-mobile.svg');}
.regbox dt .icon_yzm ,.logbox dt .icon_yzm{background-image: url('../images/login_touch_popup_3.4/icon-yzm.svg');}
.regbox dt .icon_lock {background-image: url('../images/login_touch_popup_3.4/icon-pass.svg');}
.regbox dt .icon_email {background-image: url('../images/login_touch_popup_3.4/icon-email.svg');}
.regbox dt .icon_username {background-image: url('../images/login_touch_popup_3.4/icon-user.svg');}
.regbox dt .icon_realname {background-image: url('../images/login_touch_popup_3.4/icon-user.svg');}
.regbox dt .icon_vericode {background-image: url('../images/login_touch_popup_3.4/icon-yzm.svg');}
.f-agree {position: relative;line-height: .8rem;font-size: .28rem;color:#2c2c2c; padding: 0 .4rem;}
.agree {position: absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity: 0;}
.agree+span {display: inline-block;width:.3rem;height:.3rem;margin: -.05rem .2rem 0 .25rem;border:1px solid #a2a2a2;border-radius:50%;background: #fff;vertical-align: middle;}
.agree:checked + span {background-image: url('../images/login_touch_popup_3.4/ok.png');background-size:.26rem;background-repeat: no-repeat;background-position: center;background-color:#f65963;border:solid 1px #f65963;}
.f-agree a {position: relative;z-index: 2;color:#f65963;}
.f-submit {margin: .5rem .4rem 0;}
.regbox .get-yzm {position: absolute;right:.2rem;top:0;display: inline-block;background:#f6f7f9;color:#f65963;padding:.25rem;line-height: 1;border-radius:.3rem;}
.regbox .get-yzm.disabled, .regbox .get-yzm.not {background-color: #f6f7f9;color:#000;}
.regbox .vericode_img {position: absolute;right:.2rem;top:0;}

/*区号弹出层*/
.layer{background: #fff; z-index: 10001; position: fixed; top: 3rem!important; left: .3rem; right: .3rem; border-radius: .08rem; display: none;}
.layer_search{position: relative;}
.layer_search p{padding: .3rem; font-size: .34rem;width: 100%; box-sizing: border-box; border: 0; outline: 0; border-bottom: 1px solid #eaeaea; border-top-left-radius: .08rem; border-top-right-radius: .08rem; color: #000; font-weight: 500;}
.layer_search em{position: absolute; width: .5rem; height: .5rem;  right: -.2rem; top: -.4rem;}
.layer .layer_list{height: 6.5rem; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.layer li{padding: .3rem; border-bottom: 1px solid #eaeaea;font-size: .34rem;}
.layer li:last-child{border-bottom-left-radius: .08rem; border-bottom-right-radius: .08rem;}
.mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 10000; display: none;}
.mask.show{display: block;}
.inpClose{display: inline-block;width: .7rem;height: .7rem;position: absolute;right: 0;top: .12rem;background: #f65963;border-radius: 100%;-webkit-transition:all .2s;transition: all .2s;}
.inpClear{ display: inline-block;position: absolute;top: .1rem;right: .33rem;width: 0.03rem;height: .45rem;background: #fff; line-height: 0;font-size: 0;
    vertical-align: middle;-webkit-transform: rotate(45deg);}
.inpClear:after{ content: '/';display: block;width: 0.03rem;height: .45rem;background: #fff;-webkit-transform: rotate(-90deg);}

/*底部关闭*/
.closeBox {padding:1rem .4rem;position: relative;}
.closeBox a{display: block;}
.closeBox i{ margin: auto;width:1.5rem;height:1.5rem;display:block;background:url(../images/login_touch_popup_3.4/pclose.png) no-repeat center center;    background-size: cover;}

/*成功&&失败提示层*/
.tipBox-hide{opacity:0;visibility:hidden;-webkit-transform: translateY(-100%);transform: translateY(-100%);}
.tipBox{position: fixed;top:.2rem; right: .2rem;left: .2rem;bottom: auto; border-radius: .2rem;background: #fff; padding:.1rem .2rem;z-index: 999;-webkit-transition: all 0.3s;transition: all 0.3s;-webkit-animation:tip-down .3s ;-moz-animation:tip-down .3s;animation:tip-down .3s;}
.errBox,.sucBox{box-shadow: 0 0 .1rem rgba(0,0,0,.2); }
.erleft,.suleft{display: inline-block;width: .45rem;height: .45rem; position: absolute;left: .2rem;top: .2rem;}
.erleft{background:url(../images/login_touch_popup_3.4/icon-error.png) no-repeat center center;background-size: cover;}
.suleft{background:url(../images/login_touch_popup_3.4/icon-success.png) no-repeat center center;background-size: cover;}
.erright,.suright{ padding-left: 10%;line-height: .5rem;position: relative;}
.erright h5,.suright h5{font-size: .3rem;color:#333;}
.erright p,.suright p{font-size: .26rem;color:#333;}

.btn-close,.btn-close img{width: .3rem;height:.3rem;position: absolute;top: .1rem;right: 0; }

/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{
	0%{opacity:0;	-webkit-transform:translateX(10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes rightFadeIn{
	0%{opacity:0;	-moz-transform:translateX(10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes rightFadeIn{
	0%{opacity:0;	transform:translateX(10px);}
	100%{opacity:1; transform:translateY(0);}
}
