body, html{background: #edeef2; font-size: .28rem;height: 100%;opacity: 1;padding-bottom: 1.2rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
.header .join{background: url(../images/join_icon.png) right center no-repeat; background-size: .5rem auto;}
.header .search{background: url(../images/search_blue.png) center center no-repeat; background-size: .5rem auto;}
/*选择房源类型*/
.content{padding-bottom: .9rem;}
.house-type{background: #fff;}
.house-type .link li {position: relative; background: #fff; height: .9rem; font-size: .36rem; line-height: .9rem;color: #333;border-bottom: 1px solid #e8e8e8;}
.house-type .link li a {display: block;padding:0 .2rem;}
.house-type .link li a:active {background: #f2f2f2;}
.house-type .link li i {display: inline-block; vertical-align: middle; width: .65rem; height: .65rem; background-size: contain;background-repeat:no-repeat; margin: -.08rem .15rem 0 .05rem;}
.house-type .link li .icon-house_sale {background-image: url('../images/house/house_sale.png');}
.house-type .link li .icon-house_zu {background-image: url('../images/house/house_zu.png');}
.house-type .link li .icon-house_xzl {background-image: url('../images/house/house_xzl.png');}
.house-type .link li .icon-house_sp {background-image: url('../images/house/house_sp.png');}
.house-type .link li .icon-house_cf {background-image: url('../images/house/house_cf.png');}
.house-type .link li .icon-house_cw {background-image: url('../images/house/house_cw.png');}
.house-type .link li::after {content: '';position: absolute; right: .3rem; top: 0;display: block; width: .2rem; height: .9rem; background: url(../images/arrow_icon.png) center center no-repeat; background-size: auto .24rem;}

/*选择筛选类型*/
.house-tab{background: #fff;height: .8rem;border-top:solid 1px #dcdde3;}
.house-tab .tab-box{display: -webkit-box;}
.house-tab .tab-box a{-webkit-box-flex: 1; display: block; text-align: center; font-size: .3rem;position: relative;}
.house-tab .tab-box a span{line-height: .8rem;display: inline-block;}
.house-tab .tab-box .active span{color:#f9412e;}
.house-tab .tab-box .active s{display:block;width:.28rem;height:.05rem;background:#f9412e;border-radius: 2.5px;margin:auto;position: relative;top: -.14rem;}
.house-tab .tab-box a em {display: none; position: absolute; bottom: 50%; left: 70%; min-width: .25rem; max-width: .6rem; height: .3rem; line-height: .28rem; padding: .01rem .04rem .01rem .04rem; background: #f9412e; border-radius: 10px; color: #fff; font-size: .2rem; overflow: hidden;}

/*房屋信息列表*/
.house-box{margin: .2rem; background: #fff;border-radius: .12rem;padding:0 .24rem;}
.house-box .title{height:.7rem;line-height:.7rem;border-bottom: 1px solid #dcdde3; }
.house-item{padding: .3rem 0;overflow: hidden;}
.house-item .house-img{width: 2rem;height: 1.5rem;margin-right: .2rem;float: left;position: relative;background: #f5f5f5;}
.house-item .house-img img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;}
.house-item dl{position: relative; overflow: hidden; display: block;}
.house-item dt span{display: inline-block;font-size: .2rem;border: 1px solid #9abe54;color: #9abe54;border-radius: .08rem;margin-left: .1rem;padding: 0 .06rem;}
.house-item dt{font-size: .3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.house-item dd{color: #999;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: .4rem;line-height: .4rem;font-size: .23rem;}
.house-item dd.item-area{margin-top: .18rem;}
.info-item dd.item-area em,.info-item dd.item-type-1 em{margin-right: .1rem}
.info-item dd.item-area em{font-size: .24rem;color:#919191;}
.house-item dd.item-type-2{margin-top: .04rem}
.house-item dd.item-type-1 span{margin-right: .08rem}
.sp_type,.sp_room,.sp_type{margin-right: .24rem;}
.o{padding: 0 0 .3rem;}
.o a{border-radius: .04rem; color: #333; font-size: .24rem; float: right;padding:.1rem .36rem .1rem .72rem;border:solid 1px #c0c1c4;border-radius:.52rem;}
.o a.bid{background: url(../images/bid.png) center left no-repeat; background-size: .36rem auto;}
.o a.edit{border-radius:.52rem;background: url(../images/icon_edit.png) 28% center no-repeat; background-size: .26rem auto;margin-left:.3rem;}
.o a.del{background: url(../images/icon_del.png) 28% center no-repeat; background-size: .24rem auto;}
.o a.refresh{background: #fa6352 url(../images/icon_refresh.png) 28% center no-repeat; border:solid 1px #fa6352;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.refresh.disabled{background:#bbbec4 url(../images/icon_refresh.png) 28% center no-repeat;border:solid 1px #bbbec4;color:#fff;background-size: .27rem auto;margin-left:.3rem;}
.o a.topping{background: url(../images/topping.png) center left no-repeat; background-size: .28rem auto;}
.o a.delayPay{background: url(../images/manage-pay.png) center left no-repeat; background-size: .35rem auto;color: #f60;}
.o a.load {background: url(/static/images/loading_16.gif) center no-repeat; background-size: .35rem auto;color:transparent;}
.o a.refresh.disabled {background: #bbbec4 url(../images/icon_refresh.png) 16% center no-repeat;border: solid 1px #bbbec4;color: #fff;background-size: .27rem auto;margin-left: .3rem;cursor: not-allowed;}

.o a.del:active,.o a.edit:active{background-color: #f5f5f7;}
.o a.refresh:active{background-color: #ed5e4e;}
.o a.refresh.disabled:active{background-color: #bbbec4;}

.house-item dd .price{color: #ff4a47;font-size: .3rem;}
.house-box{border-bottom: 1px solid #f4f4f4;}
.loading{text-align: center; line-height: 1rem;}

#fabubtn{width:4rem;height:.8rem;line-height:.8rem;color: #fff; text-align: center; font-size: .3rem;border-radius:.4rem;margin:auto;background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);
  background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);
  background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);box-shadow: 0px 3px 7px 0px rgba(101, 126, 255, 0.47);}
.topping{float: right;font-size: .26rem;color:#f9412e;}
.topping s{display: inline-block;vertical-align: middle;width: .27rem;height: .27rem;background: url(../images/ic_right.png) no-repeat center center;background-size: cover;margin-left: .1rem;margin-top:-.05rem;}
.topcommon{float: right;font-size: .26rem;color:#f9412e;}
.topcommon s{display: inline-block;vertical-align: middle;width: .27rem;height: .27rem;background: url(../images/ic_right.png) no-repeat center center;background-size: cover;margin-left: .1rem;margin-top:-.05rem;}

/*发布弹出层*/
.fabuBox{position: fixed; bottom: 300%; left: 0; right: 0; z-index: 999999}
.fabuBox.open{display: block; bottom: 0;}
.fabuBox .fabu{position: relative; z-index: 3; bottom: 0}
.bg_1{background: rgba(248,248,248,0.96); position: fixed; left: 0; right: 0; bottom: -300%; z-index: 1;}
.bg_1.show{bottom: 0; top: 0;}
.fabuBox.open .bg{ top: 0; bottom: 0; z-index: 1;}
.fabuBox ul{margin-bottom: 2rem;}
.fabuBox li{width: 33%; text-align: center; font-size: .28rem; margin-bottom: .3rem; color: #666; transition: all 0.5s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.2);display: block; position: absolute; top: 0}
.fabuBox li.t2{left: 33.3%;}
.fabuBox li.t3{left: 66.6%;}
.fabuBox li.t4{top: 2rem;}
.fabuBox li.t5{top: 2rem; left: 33.3%;}
.fabuBox li.t6{top: 2rem; left: 66.6%;}
.fabuBox li.t7{top: 4rem;}
.fabuBox li.t8{top: 4rem; left: 33.3%;}
.fabuBox li.t9{top: 4rem; left: 66.6%;}
.fabuBox.open li.t1{ transition-delay: 0s; -webkit-transform: translateY(-9rem); transform: translateY(-9rem);}
.fabuBox.open li.t2{ transition-delay: 0.05s; -webkit-transform: translateY(-9rem); transform: translateY(-9rem);}
.fabuBox.open li.t3{ transition-delay: 0.1s; -webkit-transform: translateY(-9rem); transform: translateY(-9rem);}
.fabuBox.open li.t4{ transition-delay: 0.15s; -webkit-transform: translateY(-8.6rem); transform: translateY(-8.6rem);}
.fabuBox.open li.t5{ transition-delay: 0.2s; -webkit-transform: translateY(-8.6rem); transform: translateY(-8.6rem);}
.fabuBox.open li.t6{ transition-delay: 0.25s; -webkit-transform: translateY(-8.6rem); transform: translateY(-8.6rem);}
.fabuBox.open li.t7{ transition-delay: 0.3s; -webkit-transform: translateY(-8.2rem); transform: translateY(-8.2rem);}
.fabuBox.open li.t8{ transition-delay: 0.35s; -webkit-transform: translateY(-8.2rem); transform: translateY(-8.2rem);}
.fabuBox.open li.t9{ transition-delay: 0.4s; -webkit-transform: translateY(-8.2rem); transform: translateY(-8.2rem);}

.fabuBox.close li.t1{ transition-delay: 0.4s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t2{ transition-delay: 0.35s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t3{ transition-delay: 0.3s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t4{ transition-delay: 0.25s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t5{ transition-delay: 0.2s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t6{ transition-delay: 0.15s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t7{ transition-delay: 0.1s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t8{ transition-delay: 0.05s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox.close li.t9{ transition-delay: 0s; -webkit-transform: translateY(0px); transform: translateY(0px);}
.fabuBox li a{display: block; overflow: hidden; margin: 0 auto; width: 1.5rem; height: 1.5rem; border-radius: 1.5rem; vertical-align: middle;}
.fabuBox li img{ height: 1.5rem; display: block; margin: 0 auto;}
.fabuBox li p{margin-top: .1rem;}
.fabuBox .cancel{text-align: center; position: fixed; left: 0; right: 0; bottom: 0; display: none; background: #fff url(../images/guanbi.png) center center no-repeat; height: 1.2rem; background-size: .7rem;}
.fabuBox.open .cancel{display: block;}

/*类型弹出层*/
.typebox{position: fixed; top: 3rem; background: #fff; z-index: 10003; left: .3rem; right: .3rem; border-radius: .04rem; padding: .4rem .3rem .45rem; font-size: .3rem; display: none;}
.typebox .tit{margin-bottom: .2rem;}
.typebox .tit span{border-left: 2px solid #00a0e9; padding-left: .15rem;}
.typebox ul{display: none;}
.typebox ul li{border: 1px solid #f2f2f2; padding: .08rem .4rem; border-radius: .04rem; margin-right: .2rem; float: left;}
.typebox ul li.active{border-color: #00a0e9; color: #00a0e9;}
.typebox .btn{margin-top: .8rem;}
.typebox .btn a{display: block; float: left; width: 6.2rem; border: 1px solid #00a0e9; border-radius: .04rem; text-align: center; padding: .15rem 0; color: #00a0e9;}
.typebox .btn a.confirm{background: #00a0e9; color: #fff;}

.fabuBtn {background-color: #edeef2;position: fixed;left:0;right: 0;bottom: 0;padding:.25rem 0;}
.fabuBtn a{width:6rem; height: 0.8rem;margin: auto;border-radius: .8rem;background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);box-shadow: 0px 3px 7px 0px rgba(101, 126, 255, 0.47);border-radius: .4rem;display: block; line-height: .8rem;  text-align: center; font-size: .3rem; font-weight:bold;color: #fff;}
.fabuBtn a:active{background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);}