

a:hover{text-decoration: none;}


/*申请退款*/
.layer{position: fixed; top: 0; bottom: 0; left: 100%; right: 0; background: #fff; z-index: 999; }
.layer.show{display: block;}
.layer .top{height: 1rem; background: #129bf0; color: #fff; line-height: 1rem; font-size: .3rem; border-bottom: 1px solid #41aff3; display: -webkit-box;}
.layer .top-l{position: relative;}
.layer .top-l a{color: #fff; padding-left: .5rem;}
.layer .top-l a:before{content: ''; position: absolute; top: 50%; left: 10px; border: 2px solid #fff; border-width: 2px 0 0 2px; width: 8px; height: 8px; margin: -5px 0 0 0; -webkit-transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0); transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0);}
.layer .top-r{width: 1.1rem;}
.layer .top-c{-webkit-box-flex: 1; text-align: center;}


/*2019-3-28新写样式*/
.jz_data {margin-top: 1.95rem}
.huoniao_iOS .jz_data {
    margin-top: .95rem
}
.jz_data ul{padding: 0 .2rem .2rem;background: #edeef2}
.jz_data li{background: #fff;padding: 0 .23rem .2rem;border-radius: .12rem;margin-bottom: .2rem}

.jz_order_company{height: .7rem;line-height: .7rem;border-bottom: 1px solid #dcdde3;font-size: .26rem;}
.jz_order_company img{width: .3rem;height: .3rem;vertical-align: middle;margin-right: .13rem}
.jz_order_company span{color: #404040;vertical-align: middle;}
.jz_order_company .jz_order_type{float: right;font-size: .26rem;color: #f9412e;}
.content_top{margin-top: .3rem}
.content_top .left_b{width: 1.6rem;height: 1.6rem;float: left}
.content_top .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: .04rem}
.content_top .right_b{margin-left:1.84rem;}
.right_b .jz_order_title{font-size: .28rem;color: #404040;max-width: 4.8rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.right_b .jz_order_time{font-size: .26rem;color: #8f8f8f;margin-top: .15rem}
.right_b .jz_order_price{margin-top: .2rem}
.right_b .jz_order_price span:first-child{font-size: .24rem;color: #f9412e;font-weight: bold}
.right_b .jz_order_price span:nth-child(2){font-size: .32rem;color: #f9412e;font-weight: bold;margin-right: .17rem}
.right_b .jz_order_price span:last-child{font-size: .24rem;color: #fff;height: .34rem;line-height: .34rem;border-radius: .04rem;padding: 0 .1rem;background: #ff674e}

.content_bottom{margin-top: .17rem;float: right;}
.content_bottom span{display: inline-block;width: 1.5rem;height: .52rem;line-height: .52rem;text-align: center;border-radius: .26rem;border: 1px solid #c0c1c4;font-size: .24rem;color: #404040;margin-left: .3rem}
.content_bottom .jz_pay{background: #fa6352;border-color: #fa6352;color: #fff}
.content_bottom .contact_com{background: #fa6352;border-color: #fa6352;color: #fff}
.content_bottom .service_code{color: #fa6352;background: #fff;border-color: #fa6352;}
.content_bottom .sale_shouhou {    border: 1px solid #c0c1c4!important;}
.content_bottom .sale_repair {    border: 1px solid #c0c1c4!important;}
.content_bottom .nomoney_back {    border: 1px solid #c0c1c4!important;}
.content_bottom .money_back {    border: 1px solid #c0c1c4!important;}
.right_b .jz_order_allpay{margin-top: .2rem}
.right_b .jz_order_allpay span:first-child{font-size: .24rem;color: #f9412e;font-weight: bold}
.right_b .jz_order_allpay span:nth-child(2){font-size: .32rem;color: #f9412e;font-weight: bold;margin-right: .17rem}



/*免预约*/
.right_b .jz_order_free span{font-size: .24rem;color: #fff;height: .34rem;line-height: .34rem;border-radius: .04rem;padding: 0 .1rem;background: #ff674e}

/*申请退款弹出层*/
.work_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.work_container{position: fixed; left: 0;bottom:0;width: 100%;    box-sizing: border-box;background-color:#fff;  padding: .3rem .3rem .48rem .4rem; z-index: 9999; border-top-right-radius: .2rem;border-top-left-radius: .2rem}
.work_container .work_close{width: .3rem;height: .3rem;float: right}
.work_container p{font-size: .3rem;font-weight: bold;color: #333;color: #333;}
.work_container p.t1{margin-top: .4rem}
.work_container p.t2{margin-top: .15rem}
.work_container ul{font-size: 0;margin-top: .9rem;}
.work_container ul li{height: .88rem;line-height: .88rem;display: inline-block;color: #fff;width: 3.2rem;font-size:.3rem;text-align: center;border-radius: .1rem}
.work_container ul li:first-child{background: #a0a1a7;margin-right: .3rem}
.work_container ul li:last-child{background: #42444f;}
/*确认验收弹出层*/
.work_mask2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.work_container2{position: fixed; left: 0;bottom:0;width: 100%;    box-sizing: border-box;background-color:#fff;  padding: .3rem .3rem .48rem .4rem; z-index: 9999; border-top-right-radius: .2rem;border-top-left-radius: .2rem}
.work_container2 .work_close{width: .3rem;height: .3rem;float: right}
.work_container2 .t1{margin-top: .4rem;font-size: .32rem;font-weight: bold;color: #333}
.work_container2 .t2{margin-top: .5rem;text-align: center;}
.work_container2 .t2 .money{color: #f9412e;font-weight: bold;}
.work_container2 .t2 .money span:first-child{font-size: .5rem}
.work_container2 .t2 .money span:last-child{font-size: .72rem}
.work_container2 .t2 .t2_demo{color:#fa9084;font-size: .24rem }
.work_container2 .t3{margin-top: .6rem;font-size: .28rem;color: #a2a5ab}
.work_container2 .t4{margin-top: .25rem;font-size: .26rem;color: #6b7678;padding: .3rem;background: #ebf1f2;line-height: .42rem;border-radius: .04rem}
.work_container2 .t5{margin-top: .8rem;font-size: .28rem;color: #a2a5ab}
.work_container2 .yanshou_confirm{background: #42444f;color: #fff;text-align: center;line-height: .88rem;height: .88rem;border-radius: .1rem;margin-top: .37rem;font-size: .3rem;font-weight: bold;}

.work_mask3{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.work_container2 .yanshou_confirm2{background: #42444f;color: #fff;text-align: center;line-height: .88rem;height: .88rem;border-radius: .1rem;margin-top: .37rem;font-size: .3rem;font-weight: bold;}

/*删除订单弹出层*/
.alert_tip{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none }
.alert_tip .alert_content{position: fixed; left: 50%; margin-left: -2.2rem; top: 50%; margin-top: -1.2rem; width: 4.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.alert_tip .alert_content p{height: 1.5rem;line-height: 1.5rem;text-align: center;font-size: .3rem;color: #38383b}
.alert_tip .alert_content ul{border-top: 1px solid #dcdde0;font-size: 0;}
.alert_tip .alert_content ul li{display: inline-block;color: #4a7aff;font-size: .32rem;height: .9rem;line-height: .9rem;width: 49%;text-align: center;}
.alert_tip .alert_content ul li.active{background: #f2f3f7;}
.alert_tip .alert_content ul .cancel_order1{border-right: 1px solid #dcdde0}
/*取消预约弹出层*/
.alert_tip2{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none }
.alert_tip2 .alert_content2{position: fixed; left: 50%; margin-left: -2.2rem; top: 50%; margin-top: -1.2rem; width: 4.4rem; background-color:#fff; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.alert_tip2 .alert_content2 p{height: 1.5rem;line-height: 1.5rem;text-align: center;font-size: .3rem;color: #38383b}
.alert_tip2 .alert_content2 ul{border-top: 1px solid #dcdde0;font-size: 0;}
.alert_tip2 .alert_content2 ul li{display: inline-block;color: #4a7aff;font-size: .32rem;height: .9rem;line-height: .9rem;width: 49%;text-align: center;}
.alert_tip2 .alert_content2 ul li.active{background: #f2f3f7;}
.alert_tip2 .alert_content2 ul .yuyue_yes{border-right: 1px solid #dcdde0}

/*服务码弹出层*/
.fuwu_alert{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none }
.fuwu_alert .alert_content{position: fixed; left: 50%; margin-left: -2.3rem; top: 50%; margin-top: -2.2rem; width: 4.6rem;padding-bottom: .6rem ;background:url("../images/homemaking/fuwu_bg.png") no-repeat;background-size: 100% 100%; border-radius: .1rem; z-index: 9999;    overflow: hidden;}
.fuwu_alert .alert_content p{text-align: center;}
.fuwu_alert .alert_content p.t1{font-size: .32rem;color: #fff;    margin-top: .4rem;}
.fuwu_alert .alert_content p.t2{font-size: .56rem;color: #2244c6;    margin-top: 1rem;}
.fuwu_alert .alert_content p.t3,.fuwu_alert .alert_content p.t4,.fuwu_alert .alert_content p.t5{font-size: .26rem;color: #8a8c91}
.fuwu_alert .alert_content p.t3{margin-top: .4rem;}
.fuwu_alert .alert_content p.t4{margin-top: .2rem;}

.fuwu_alert .alert_content p.t6{font-size: .3rem;color: #fff;margin: .45rem auto 0;height: .68rem; width: 2.8rem;line-height: .68rem;background-color: rgb(49, 97, 208);border-radius: .34rem}
/*.courier {width: .92rem;height: .34rem;line-height: .34rem;text-align: center;border-radius: .04rem;color: #fff;background: #42444f;position: absolute;top: 0;left: 0;font-size: .24rem;}*/


