body{font-size: .3rem;}
.header{background: -webkit-linear-gradient(45deg, #6498ef, #586de4); padding: .6rem .2rem .55rem; color: #fff;}
.header dt{float: left; margin-top: .08rem;}
.header dt img{width: 0.55rem;}
.header dd{float: left; margin-left: .2rem; font-size: .32rem;}
.header dd .tip{font-size: .26rem;}
.huoniao_iOS .header{padding-top: calc(.6rem + 20px);}

/*订单信息*/
.order-info{padding: .3rem .3rem 0;}
.order-info table{width: 100%; text-align: center;}
.order-info thead th{padding: .2rem 0; font-weight: normal; color: #d1d1d1;}
.order-info tbody{border: 1px solid #f2f2f2;}
.order-info tbody tr{border-bottom: 1px solid #f2f2f2;}
.order-info table td{padding: .2rem 0;}
.gray{background: #f2f2f2; text-align: left;}
.gray span{padding-left: .2rem; font-size: .32rem;}

/*总计*/
.price-list{margin: .6rem .3rem .2rem; padding: 0 .3rem .1rem; border-bottom: 1px solid #f2f2f2;}
.price-list li{margin-bottom: .1rem;}
.price-list span{float: right;}

/*订单编号等*/
.time-list{padding: 0 .6rem; color: #a8a8a8; margin-bottom: 1rem;}
.time-list li{margin-bottom: .05rem; font-size: .28rem;}

/*返回*/
.nextbtn{margin: .2rem .3rem .6rem;}
.nextbtn a{display: block; text-align: center; color: #fff; padding: .2rem 0; background: #00a0e9; border-radius: .04rem; font-size: .34rem;}
