/* 刷新置顶 */
.bodyFixed {position: fixed; top: 0; right: 0; bottom: 0; left: 0;}
.refreshTopPopup {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 8888; background: #f8f8f8; overflow-y: auto; -webkit-overflow-scrolling: touch; display: none;}
.refreshTopPopup .rtHeader {position: relative; height: .9rem; border-bottom: 1px solid #f2f2f2; background: #fff;}
.huoniao_iOS .refreshTopPopup .rtHeader {padding-top: 20px; display: none;}
.refreshTopPopup .rtHeader .rtClose {position: relative; display: table-cell; vertical-align: middle; z-index: 2; height: .9rem; width: 1rem;}
.refreshTopPopup .rtHeader .rtClose img {display: block; height: .4rem; width: auto; margin: 0 auto;}
.refreshTopPopup .rtHeader h5 {position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; text-align: center; font-size: .34rem; line-height: .9rem;}

/* 免费刷新 */
.freeRefresh {position: absolute; left: 0; top: 0; right: 0; bottom: 0; padding-top: 1.6rem; text-align: center;}
.freeRefresh span[class^="icon-"] {display: block; width: 1rem; height: 1rem; margin: 0 auto .3rem; border-radius: 50%;}
.freeRefresh span[class^="icon-"] s {display: inline-block; width: .57rem; height: .56rem; margin: .22rem auto 0;}
.icon-refresh {background-color: rgb(255, 120, 0); box-shadow: 0px 3px 10px 0px rgba(255, 120, 0, 0.75);}
.icon-refresh s {background: url('../images/refreshTop_refresh.png'); background-size: cover;}

.icon-success {background-color: rgb(32, 221, 108); box-shadow: 0px 3px 8px 0px rgba(32, 221, 108, 0.42);}
.icon-success s {background: url('../images/refreshTop_success.png'); background-size: cover;}

.freeRefresh strong {font-size: .3rem; font-weight: 500;}
.freeRefresh p {font-size: .26rem; margin-top: .1rem; color: #a0a0a0;}
.freeRefresh button {width: 5rem; height: .7rem; line-height: .7rem; text-align: center; line-height: .7rem; border: 0; border-radius: 4px; background-color: rgb(255, 120, 0); box-shadow: 0px 3px 10px 0px rgba(255, 120, 0, 0.6); color: #fff; font-size: .3rem; margin-top: .5rem;}

/* 收费刷新 */
.normalTips {font-size: .26rem; color: #a0a0a0; padding: .1rem .2rem;}
.normalTips strong {color: #ff2740; font-weight: 500;}

.rtSmart>h5 {font-size: .3rem; padding: .2rem .2rem .1rem; background: #fff;}
.rtSmartPackage {background: #fff;}
.rtSmartPackage li {height: 1rem; border-bottom: 1px solid #e5e5e5; padding: 0 .2rem; line-height: 1rem;}
.rtSmartPackage div {float: left;}
.rtSmartPackage .tit {width: 50%; font-size: .28rem;}
.rtSmartPackage .tit span {font-size: .26rem; color: #a0a0a0; margin-left: 5px;}
.rtSmartPackage .tit em {position: relative; height: .4rem; display: inline-block; line-height: .4rem; color: #fff; font-size: .24rem; margin-left: 10px; padding: 0 .15rem; border-radius: 10px; background-image: -moz-linear-gradient( 0deg, rgb(255,88,0) 0%, rgb(255,37,9) 100%); background-image: -webkit-linear-gradient( 0deg, rgb(255,88,0) 0%, rgb(255,37,9) 100%); background-image: -ms-linear-gradient( 0deg, rgb(255,88,0) 0%, rgb(255,37,9) 100%); box-shadow: 0px 2px 8px 0px rgba(255, 42, 77, 0.57);}
.rtSmartPackage .tit em::before {position: absolute; left: -.16rem; top: 50%; width: 0; height: 0; margin-top: -.1rem; content: ''; border: .1rem solid transparent; border-right-color: rgb(255,88,0);}
.rtSmartPackage .pri {width: 30%; font-size: .32rem; color: #ff2a4d;}
.rtSmartPackage .rad {width: 20%;}
.rtSmartPackage .rad s {width: .46rem; height: .46rem; display: block; margin: .27rem auto; border-radius: 50%; border: 1px solid #bbb; overflow: hidden;}
.rtSmartPackage .rad s img {width: .23rem; height: .16rem; display: block; margin: .15rem auto;}
.rtSmartPackage .curr .rad s {background: #ff2740; border-color: #ff2740;}

.rtSett {padding: .1rem .2rem; margin-top: .17rem; background: #fff;}
.rtSett dt {border-bottom: 1px solid #eee; line-height: .65rem;}
.rtSett dt h5 {float: left;}
.rtSett dt span {float: right;}
.rtSett dt span em {font-size: .28rem; font-weight: 700;}
.rtSett dd {line-height: .8rem;}
.rtSett dd .yue-btn {float: left;}
.rtSett dd .yue-btn s {display: inline-block; vertical-align: middle; background: #ff0045; border-radius: 4px; width: .28rem; height: .28rem; margin: -2px 3px 0 0;}
.rtSett dd .yue-btn s img {width: .17rem; height: .1rem; margin: .09rem auto; display: none;}
.rtSett dd .yue-btn.active s img {display: block;}
.rtSett dd .rtPay {float: right;}
.rtSett dd .rtPay small {color: #ff2740;}
.rtSett dd .rtPay strong {font-size: .28rem; color: #ff2740;}
.refreshTopPopup .paySubmit {margin: .4rem .2rem; color: #fff; font-size: .3rem; height: .8rem; line-height: .8rem; text-align: center; border-radius: 4px; background-color: rgb(255, 39, 64); box-shadow: 0px 3px 10px 0px rgba(255, 39, 64, 0.75);}

.normalRefresh {padding: 0 .2rem .5rem; margin-top: .5rem;}
.normalRefresh p {font-size: .26rem; color: #a0a0a0;}
.normalRefresh .paySubmit1 {border: 1px solid #ff2740; border-radius: 4px; height: .8rem; line-height: .8rem; text-align: center; font-size: .3rem; color: #ff2740; margin-top: .2rem;}

/* 置顶 */
.rtToppingType {margin: .1rem 0; background: #fff; display: -webkit-box;}
.rtToppingType li {-webkit-box-flex: 1; text-align: center; font-size: .3rem;}
.rtToppingType li span {position: relative; display: inline-block; line-height: .9rem; padding: 0 5px;}
.rtToppingType li.curr {color: #ff2740;}
.rtToppingType li.curr span::after {position: absolute; content: ''; left: 0; bottom: 0; right: 0; height: 2px; background: #ff2740;}

/* 普通置顶 */
.rtToppingNormal>h5 {padding: .15rem .2rem .1rem;}
.rtToppingPackage {background: #fff;}
.rtToppingPackage li {height: 1rem; border-bottom: 1px solid #e5e5e5; padding: 0 .2rem; line-height: 1rem;}
.rtToppingPackage div {float: left;}
.rtToppingPackage .tit {width: 50%; font-size: .28rem;}
.rtToppingPackage .tit span {font-size: .26rem; color: #a0a0a0; margin-left: 5px;}
.rtToppingPackage .tit em {position: relative; height: .4rem; display: inline-block; line-height: .4rem; color: #fff; font-size: .24rem; margin: 0 5px 0 10px; padding: 0 .15rem; border-radius: 10px; background-image: -moz-linear-gradient( 0deg, rgb(255,88,0) 0%, rgb(255,37,9) 100%); background-image: -webkit-linear-gradient( 0deg, rgb(255,88,0) 0%, rgb(255,37,9) 100%); background-image: -ms-linear-gradient( 0deg, rgb(255,88,0) 0%, rgb(255,37,9) 100%); box-shadow: 0px 2px 8px 0px rgba(255, 42, 77, 0.57);}
.rtToppingPackage .tit em::before {position: absolute; left: -.16rem; top: 50%; width: 0; height: 0; margin-top: -.1rem; content: ''; border: .1rem solid transparent; border-right-color: rgb(255,88,0);}
.rtToppingPackage .pri {width: 30%; font-size: .32rem; color: #ff2a4d;}
.rtToppingPackage .rad {width: 20%;}
.rtToppingPackage .rad s {width: .46rem; height: .46rem; display: block; margin: .27rem auto; border-radius: 50%; border: 1px solid #bbb; overflow: hidden;}
.rtToppingPackage .rad s img {width: .23rem; height: .16rem; display: block; margin: .15rem auto;}
.rtToppingPackage .curr .rad s {background: #ff2740; border-color: #ff2740;}

/* 计划置顶 */
.rtToppingDate {background: #fff;}
.rtToppingDate dl {position: relative; padding: 0 .2rem; border-bottom: 1px solid #e5e5e5; height: 1rem; line-height: 1rem;}
.rtToppingDate dl dt {float: left; font-size: .28rem;}
.rtToppingDate dl dd {position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden;}
.rtToppingDate dl dd input {position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; width: 93%; background: transparent; border: 0; outline: 0; text-align: right; padding-right: 1rem; font-size: .26rem;}
.rtToppingDate dl dd em {position: absolute; right: .3rem; top: 50%; margin-top: -.08rem; content: ''; width: .16rem; height: .16rem; border-top: 1px solid #ababab; border-right: 1px solid #ababab; transform: rotate(45deg);}

.rtToppingPlan>h5 {padding: .15rem .2rem .1rem;}
.rtToppingPlanList {background: #fff; padding: .2rem 0 .1rem;}
.rtToppingPlanList dl {padding: 0 .2rem; margin-bottom: .14rem;}
.rtToppingPlanList dt {float: left; width: 1.6rem; line-height: .58rem; font-size: .34rem; font-weight: 700;}
.rtToppingPlanList dd {position: relative; overflow: hidden;}
.rtToppingPlanList dd span {display: inline-block; height: .58rem; line-height: .58rem; margin-right: .08rem; border: 1px solid #e0e0e0; border-radius: 4px; padding: 0 .28rem; font-size: .3rem;}
.rtToppingPlanList dd .curr {background: #eff2ff; border-color: #3f8cff; color: #3f8cff;}


/*支付方式*/
.refreshTopPaybox {position: fixed; bottom: -100%; left: 0; right: 0; z-index: 10011; background: #fff; display: none; font-size: .28rem;}
.refreshTopPaybox.show{display: block;}
.refreshTopPaybox .tit{text-align: center; line-height: 1rem; font-size: .34rem;}
.refreshTopPaybox ul{padding: 0 .4rem;}
.refreshTopPaybox li{border-bottom: 1px solid #f4f4f4; padding: .3rem 0 .3rem 1rem; position: relative;}
.refreshTopPaybox li.alipay{background: url(../images/alipay.jpg) left center no-repeat; background-size: .7rem auto;}
.refreshTopPaybox li.weixin{background: url(../images/wx.jpg) left center no-repeat; background-size: .7rem auto;}
.refreshTopPaybox li.wxpay{background: url(../images/wx.jpg) left center no-repeat; background-size: .7rem auto;}
.refreshTopPaybox li.tenpay{background: url(../images/tenpay.png) left center no-repeat; background-size: .7rem auto;}
.refreshTopPaybox li.paypal{background: url(../images/paypal.jpg) left center no-repeat; background-size: .7rem auto;}
.refreshTopPaybox li.unionpay{background: url(../images/unionpay.png) left center no-repeat; background-size: .7rem auto;}
.refreshTopPaybox li .radio{position: absolute; right: 0; top: .3rem; bottom: 0; background: url(../images/radio2.png) right center no-repeat; background-size: contain; width: .4rem; height: .4rem;}
.refreshTopPaybox li.on .radio{background-image: url(../images/radio1.png);}
.refreshTopPaybox .paybtn{display: block; border: 1px solid #fd7a40; width: 3rem; padding: .2rem 0; text-align: center; margin: .2rem auto; color: #fd7a40; border-radius: .08rem;}
.refreshTopMask {position: fixed;top: 0;position: fixed;background: rgba(0,0,0,.4);top: 0;bottom: 0;left: 0;right: 0;z-index: 10002; display: none;}

.refreshTopPrev {position: relative; z-index: 2; padding: .3rem 0; text-align: center;}




/*日历签到列表*/
.topCalendarBg {display: none; position: fixed; z-index: 888888; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.4);}
.topCalendar {display: none; position: fixed; z-index: 999999; left: 50%; top: 50%; width: 7rem; transform: translate(-50%, -50%); background: #fff; border-radius: 4px; overflow: hidden;}
.sign_succ_calendar_title {text-align:center;height:.8rem;line-height:.8rem; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7800), to(#ffb800)); background: -webkit-linear-gradient(left, #ff7800, #ffb800); background: -moz-linear-gradient(left, #ff7800, #ffb800); background: -o-linear-gradient(left, #ff7800, #ffb800); background: -ms-linear-gradient(left, #ff7800, #ffb800); background: linear-gradient(left, #ff7800, #ffb800); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #ff7800, endColorstr = #ffb800); color: #fff;}
.calendar_month_span {display:inline-block;font-size:.28rem;letter-spacing:2px;font-weight:bold; margin: 0 10px; vertical-align: middle;}
.calendar_month_next {display:inline-block;cursor:pointer; text-align: center; font-size: .3rem; vertical-align: middle;}
.calendar_month_prev {display:inline-block;cursor:pointer; text-align: center; font-size: .3rem; vertical-align: middle; margin-left: 40px;}
.calendar_close {float: right; width: .4rem; height: .4rem; background: url('../../images/topCalendarClose.png'); background-size: cover; margin: 10px 10px 0 0;}

.sign table {border-collapse:collapse;border-spacing:0;width:100%;}
.sign th,.sign td {height:.5rem;text-align:center;line-height:.5rem;border:1px solid #eeeeee;}
.sign th {font-size:16px; background: #f8f8f8;}
.sign td {color:#404040;vertical-align:middle;}
.sign .WeekDay td {height:.8rem;text-align:left;font-size:.25rem;vertical-align:top;padding-top:6px;position:relative;text-align: center;}
.sign .WeekDay td.empty,.sign .WeekDay td.on {cursor:default;}
.sign .WeekDay td.empty:hover,.sign .WeekDay td.on:hover {background:none;}
.sign .WeekDay td span {position:absolute;left:0;right:0;bottom:0px;color:#adadad;font-size:.24rem;text-align:center;text-indent:0;}
.sign .WeekDay td p {position:absolute;left:0;right:0;bottom:0px;color:#adadad;font-size:.24rem;text-align:center;text-indent:0;display:none;background:#ccc;color:#fff;height:.5rem;line-height:.5rem;}
.sign .WeekDay td.isTop0 {background: #d7d7d7;}
.sign .WeekDay td.today {background: #f5bb0c; color: #fff;}
.sign .WeekDay td.today span {color: #fff;}


.refreshTopPopup.check_zjuser .price_average,
.refreshTopPopup.check_zjuser .price_average *,
.refreshTopPopup.check_zjuser .pri,
.refreshTopPopup.check_zjuser .pri *,
.refreshTopPopup.check_zjuser .sm-off,
.refreshTopPopup.check_zjuser .sm-off *,
.refreshTopPopup.check_zjuser .rtTopping .topNormal li strong,
.refreshTopPopup.check_zjuser .rtTopping .topNormal li strong *
{text-decoration: line-through;color:#ccc;}
.refreshTopPopup.check_zjuser .zjuser_tj {display: block !important;}
.zjuser_info {display: none;margin:20px 0 0;font-size:14px;text-align: center;color: #a0a0a0;}
.refreshTopPopup.check_zjuser .zjuser_info {display: block;}
.hide_impt {display: none !important;}

.refreshTopPopup .house_zjuser_choose {display: none;margin-top: .5rem;}
.refreshTopPopup.check_zjuser .house_zjuser_choose {display: block;}
.refreshTopPopup .house_zjuser_choose li {height: 1rem; border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5; padding: 0 .2rem; line-height: 1rem;overflow: hidden;background: #fff;margin-top: -1px;}
.house_zjuser_choose .rad {width: 20%;float: right;}
.house_zjuser_choose .rad s {width: .46rem; height: .46rem; display: block; margin: .27rem auto; border-radius: 50%; border: 1px solid #bbb; overflow: hidden;}
.house_zjuser_choose .rad s img {width: .23rem; height: .16rem; display: block; margin: .15rem auto;}
.house_zjuser_choose .curr .rad s {background: #ff2740; border-color: #ff2740;}