.header-r{visibility: visible; width: 1rem; text-align: center;}
.header .header-post{background: url(../images/icon_post.png) center center no-repeat; background-size: .4rem auto;}

.list{font-size: .28rem; padding: .2rem .2rem 1.2rem; padding-bottom: calc(1.2rem + constant(safe-area-inset-bottom)); padding-bottom: calc(1.2rem + env(safe-area-inset-bottom));}
.item{border-bottom: 1px solid #ececec; padding: .2rem 0 0;}
.item dt{width: 1.1rem; height: 1.1rem; float: left;}
.item dt img{display: block; width: 100%; height: 100%; border-radius: 100%;}
.item dd{margin-left: 1.4rem;}
.item dd .nickname{font-size: .3rem;}
.item dd .date{color: #999; font-size: .26rem;}
.item dd .content{font-size: .26rem;}
.item dd .content img{width: 0.5rem; vertical-align: middle;}
.item .reply{background: url(../images/icon_comment.png) left .25rem no-repeat; background-size: .3rem; padding: .2rem 0 .2rem .4rem; color: #999; font-size: .26rem;}
.reply-txt{position: relative; border: 1px solid #ececec; padding-bottom: .4rem; margin-bottom: .4rem; display: none;}
.reply-txt .textarea{padding: .1rem .2rem; outline: 0; width: 100%; box-sizing: border-box; border: 0; resize: none; }
.reply-txt .submit{position: absolute; background: #34bdf6; color: #fff; padding: .06rem .25rem; border-radius: .06rem; right: .15rem; bottom: .15rem;}
.reply-txt .arrow{position: absolute; border-left: 10px solid #fff; border-right: 10px solid #fff; border-top: 8px solid #fff; border-bottom: 8px solid #ececec; display: block; width: 0; height: 0; right: 15px; top: -16px;}
.reply-txt .arrow i{position: absolute; z-index: 9; border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 8px solid transparent; border-bottom: 8px solid #fff; display: block; width: 0; height: 0; right: -9px; top: -6px;}
.replyed{position: relative; background: #f7f7f7; border-radius: .06rem; padding: .2rem; margin-top: .3rem;}
.replyed .arrow{position: absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 8px solid transparent; border-bottom: 8px solid #f7f7f7; display: block; width: 0; height: 0; left: 15px; top: -15px;}
.replyed .content img {width: .5rem; vertical-align: middle;}

    /*留言板弹出层*/
.layer{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #f7f7f7; z-index: 999; display: none;}
.layer .header-r a{background: none; font-size: .28rem;}
.layer_txt{margin: .1rem .2rem;}
.layer_txt .textarea{width: 100%; border: 0; outline: 0; display: block; padding: .2rem; box-sizing: border-box; font-size: .28rem;}
.layer_txt .layer_num{text-align: right; background: #fff; border-top: 1px solid #f5f5f5; padding: .2rem; color: #999; font-size: .28rem;}

.fabuBtn {position: fixed; left: 0; bottom: 0; width: 100%; height: 1rem; background: #fff; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);}
.fabuBtn a {display: block; line-height: 1rem; background: #129bf0; text-align: center; font-size: .3rem; color: #fff;}

.tjBtn {margin: 0 .2rem; height: 1rem;}
.tjBtn a {display: block; line-height: 1rem; background: #129bf0; text-align: center; font-size: .3rem; color: #fff;}