body, html {background: #f4f4f4;}

.inptitbox p{margin-left: .4rem; padding: .15rem 0; font-size: .28rem; color: #aaa;}
.inptitle input{width: 100%; border: 0; outline: 0; padding: .25rem 0; font-size: .28rem; text-indent: 0.4rem; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
.inpbox{font-size: .3rem; border-bottom: 1px solid #e5e5e5; width: 100%; line-height: .65rem; background: #fff;}

.addbox{text-align: right;}
.addbox .addbtn{display: inline-block; padding: .2rem;}

a#tj {display: block; margin: .4rem; text-align: center; font-size: .32rem; background: #ff6800; color: #fff; padding: .15rem 0; border-radius: .4rem;}

.bg{opacity: 0; position: fixed; background: rgba(0,0,0,.4); top: 0; bottom: 0; left: 0; right: 0; z-index: 10010; display: none;}

/*错误提示*/
.fixerror{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100019; display: none;}
.fixerror p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}
.tip-inline.error{color: #e70000;}
.tip-inline.success{color: #14a114;}
