
body, html{background: #f4f4f4;}
a:hover{text-decoration: none;}

.header-r{visibility: hidden;}

/*文字评价*/
.txtbox{display: -webkit-box; padding: .2rem; background: #fff;}
.txtbox dt{margin-right: .2rem;}
.txtbox dt img{width: 1.5rem; height: 1.5rem; display: block;}
.txtbox dd{-webkit-box-flex: 1;}
.txtbox dd textarea{width: 100%; min-height: 1.5rem; border: 0; outline: 0; font-size: .28rem;}

/*评价状态*/
.widgt{padding: .2rem 0; border-top: 1px solid #e4e4e4; background: #fff; margin-bottom: .2rem; border-bottom: 1px solid #e4e4e4;}
.widgt ul{display: -webkit-box;}
.widgt li{-webkit-box-flex: 1; text-align: center; font-size: .3rem;}
.widgt li a{color: #666;}
.widgt li.hao a{display: inline-block; padding-left: .6rem; background: url(../images/hua1.png) left center no-repeat; background-size: .5rem auto;}
.widgt li.cha a{display: inline-block; padding-left: .6rem; background: url(../images/hua3.png) left center no-repeat; background-size: .5rem auto;}
.widgt li.hao.on a{background: url(../images/hua2.png) left center no-repeat; background-size: .5rem auto; color: #ff6800;}
.widgt li.cha.on a{background: url(../images/hua4.png) left center no-repeat; background-size: .5rem auto; color: #ff6800;}
.imgbox{background: #fff; margin-bottom: 0; padding-bottom: .6rem; border-bottom: 0;}

/*店铺评分*/
.ping{background: #fff;}
.ping .title{font-size: .3rem; padding: .2rem;}
.ping li{padding: 0 .2rem .4rem;}
.ping li span{float: left; font-size: .28rem;}
.ping li .pingfen{float: right; height: .5rem;}
.ping li .pingfen i{ background: url(../images/star.png) center center no-repeat; background-size: contain; display: inline-block; width: .5rem; height: .5rem;}
.ping li .pingfen i.on{ background: url(../images/star1.png) center center no-repeat; background-size: contain;}

.addimg ul{padding: .4rem .2rem;}
.addimg .noimg{width: auto; margin: auto;}

#commonBtn{display: block; width: 100%; text-align: center; padding: .2rem 0; font-size: .3rem; background: #ff6800; color: #fff; margin-top: .2rem;}
.error{line-height: 1rem; font-size: .28rem; text-align: center;}
