
.header{position: fixed; top: 0; left: 0; right: 0;}
.list{padding-top: .9rem;}
.item{display: -webkit-box; padding: .2rem 0 0 .2rem; box-sizing: border-box;}
.item .lbox{width: 2.1rem; height: 2rem; padding: 0 .1rem 0 .2rem; display: table-cell; vertical-align: middle;}
.item .lbox a{display: table-cell; width: 1.7rem; height: 1.7rem; border-radius: 1.7rem; overflow: hidden; margin: 0 auto; vertical-align: middle;}
.item .lbox a.zhao1{background: #fcb203}
.item .lbox a.zhao2{background: #ff8800}
.item .lbox a.zhao3{background: #2db2ff}
.item .lbox a.zhao4{background: #fcb203}
.item .lbox a.zhao5{background: #1ed2c7}
.item .lbox a.zhao6{background: #ff7356}
.item .lbox a.zhao7{background: #2db2ff}
.item .lbox a.zhao8{background: #89d300}
.item .lbox a.zhao9{background: #fcb203}
.item .lbox a.zhao10{background: #ff6e56}
.item .lbox a.zhao11{background: #889fff}
.item .lbox a.zhao12{background: #06d276}
.item .lbox img{display: block; width: 1rem; height: 1rem; margin: 0 auto;}
.item .rbox{-webkit-box-flex: 1; border-bottom: 1px solid #f4f4f4; padding: 0 .2rem .3rem 0;}
.item .rbox .title{color: #000; font-size: .3rem; line-height: .5rem;}
.item .rbox .info{color: #999; font-size: .26rem;}
.item .rbox .btn{padding-right: .2rem; margin-top: .3rem; font-size: .26rem;}
.item .rbox .btn a{color: #ff6800; padding: .1rem .4rem; border: 1px solid #ff6800; display: inline-block; border-radius: .08rem;}
