.flash-panel-add {
	text-align:center
}
.flash-panel-add>.add {
	background-color:#25B86F;
	border:medium none;
	border-radius:2px;
	box-shadow:0 0 1px #787878 inset;
	color:#FFFFFF;
	cursor:pointer;
	height:30px;
	padding:6px 10px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
	transition:background-color 0.15s ease 0s;
	margin:10px 0;
	width:90%
}
.flash-panel-add>.add:hover {
	background-color:#20ab51
}
