.w-Flash:empty {
	background:rgba(211,211,211,.2) url(icon.png) no-repeat center center;
	min-width:140px;
	min-height:80px;
	cursor:pointer
}
.w-Flash embed {
	display:block
}
html.diy-design-mode .w-Flash embed {
	pointer-events:none
}
@media(min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.w-Flash:empty {
	background-image:url(icon@2x.png)
}
}