.ui-common-dialog .ui-common-dialog-content {
	color:#bbbbbb;
	padding:20px 20px 0;
	text-align:center
}
.ui-common-dialog .ui-common-dialog-content .text {
	margin:0 5px;
	width:200px
}
.ui-common-dialog .ui-common-dialog-content a,.ui-common-dialog .ui-common-dialog-content a:visited {
	color:#999;
	margin-right:10px;
	text-decoration:underline;
	cursor:pointer;
	font-size:13px
}
.ui-common-dialog .ui-common-dialog-content a:hover,.ui-common-dialog .ui-common-dialog-content a:active {
	color:#ccc
}
.ui-common-dialog .ui-dialog-footer a {
	display:inline-block;
	margin-right:10px;
	cursor:pointer;
	color:#bbb
}
.ui-common-dialog .ui-dialog-footer .input-control.button {
	float:none;
	display:inline-block;
	padding-left:15px;
	padding-right:15px
}
