body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;color: #000;}
i,em{font-style: normal;}
body.fixed{position: fixed; top: 0; bottom: 0; left: 0; right: 0;}
.blue{color: #13aeef;}
.padTop20{padding-top: 0!important;}

/*.header-search{visibility: hidden;}*/

.container{padding: .2rem;}
.userbox {padding-bottom: 0.2rem; border-bottom: 1px solid #f2f2f2;}
.userbox dt{width: 1rem; position: relative; overflow: hidden;}
.userbox dt img{width: .8rem; height: .8rem; border-radius: .8rem; display: block;}
.userbox dd{margin-left: 1rem;}
.userbox dd .name{height: .4rem;}
.userbox dd .name em{display: block; float: left; padding-right: .4rem; max-width: 3rem; line-height: .4rem; height: .4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.userbox .biaoqian{background: url(../images/biaoqian.png) left center no-repeat; background-size: .3rem auto; display: block; float: right; color: #66ADF1; font-size: .28rem; padding: 0 0 0 .4rem; max-width: 2rem; line-height: .4rem; height: .4rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.userbox .addr{color: #a3a3a3; font-size: .2rem; line-height: .4rem; overflow: hidden;}
.userbox .ipaddr{float: left; display: block; width: 3.8rem;}

/*正文*/
.main .title{font-size: .32rem; margin: .3rem auto;}
.main .content{color: #5d5d5d; font-size: .26rem; line-height: 1.8; overflow: hidden;}
.main .content img{max-width: 100%;}
.main .content .emotion-img, .main .list dd img{width: .4rem; height: .4rem; vertical-align: middle; margin-right: 3px;}
.reward{text-align: center; margin: .6rem 0 .4rem;}
.reward .reward_btn{width: 1.1rem; height: 1.1rem; border-radius: 100%; background: url(../images/reward_icon.gif) center center no-repeat; background-size: 1.1rem; margin: .1rem auto .04rem; display: block;}
.reward .amount{font-size: .28rem; color: #a3a3a3;}
.reward-user{text-align: center;}
.reward-user img{width: .6rem; height: .6rem; border-radius: 100%; padding: .04rem; background: #fff; box-shadow: 0 0 12px -4px #4c4c4c;}
.user-more{position: relative; width: 3rem;}
.reward-user-more img{margin-right: .06rem;}
.content .textarea, .content .placeholder {margin-bottom: .2rem;}
.user-more img{position: absolute;}
.user-more img.more-1{left: .1rem;}
.user-more img.more-2{left: .55rem;}
.user-more img.more-3{left: .8rem;}
.user-more img.more-4{left: 1.2rem;}
.user-more img.more-5{left: 1.6rem;}
.more-btn{display: block; position: absolute; display: block; width: .8rem; height: .7rem; background: url(../images/user-more.png) center center no-repeat; background-size: .45rem auto; right: -.1rem; top: 0;}

/*评论*/
.comment-count{color: #a3a3a3; border-bottom: 1px solid #f5f5f5; padding: .2rem 0;}
.list{padding: 0 .2rem 0; margin-bottom: 1.1rem;}
.item{border-bottom: 1px solid #f5f5f5; padding: .3rem 0;}
.item:last-child{border-bottom: none;}
.item dt{float: left; width: 1rem; margin-right: .3rem; position: relative; overflow: hidden;}
.item dt img{width: 1rem; height: 1rem; border-radius: 100%; display: block;}
.item dd{margin-left: 1.3rem;}
.item dd p{line-height: .4rem;}
.item dd p.txt{margin-top: .1rem; height: .4rem;}
.item dd p.content{margin-top: .1rem; color: #000;}
.item dd .emotion-img{width: .4rem; height: .4rem; margin-right: 3px;}
.item .name{float: left;/* padding-right: .35rem; background: url(../images/gold.png) right center no-repeat; background-size: .26rem auto;*/}
.item .comment{float: right; font-size: .24rem; text-indent: -9999em; background: url(../images/comment_icon.png) center center no-repeat; background-size: .33rem auto; display: block; width: .4rem;}
.item .time{color: #adadad; font-size: .28rem;}
.reply-box{position: relative; background: #f5f5f5; border-radius: .04rem; margin-top: .2rem; padding: .2rem; font-size: .28rem;}
.reply-box img{width: .6rem; height: .6rem; border: 0; vertical-align: middle;}
.reply-box .reply-arrow{position: absolute; border-left: .2rem solid transparent; border-right: .2rem solid transparent; border-top: transparent; border-bottom: .2rem solid #f5f5f5; top: -.15rem; left: .4rem;}
.reply-box .reply-more{color: #a3a3a3; font-size: .26rem; padding: .1rem 0; display: inline-block;}

/*底部评论*/
.footer{position: fixed; bottom: 0; left: 0; right: 0; padding: .2rem 0; background: #e5e5e5;}
.comment-btn{background: #fff; border: 0; outline: 0; padding: .1rem .4rem; border-radius: 1rem; margin-left: .2rem; width: 4.9rem; display: block; float: left;}
.footer a{text-indent: -9999px; display: inline-block; width: .7rem; height: .6rem; float: right;}
.footer a.zan{background: url(../images/footer-zan.png) center center no-repeat; background-size: .5rem auto;}
.footer a.zan.active{background-image: url(../images/afooter-zan.png);}
.footer a.share{background: url(../images/footer-share.png) center center no-repeat; background-size: .52rem auto;}
.footer a.share.active{background-image: url(../images/afooter-share.png);}
.footer a.collect{background: url(../images/footer-collect.png) center center no-repeat; background-size: .52rem auto;}
.footer a.collect.active{background-image: url(../images/afooter-collect.png);}

.mask{position: fixed; left: 0; bottom: 0; top: 0; right: 0; background: #000; opacity: .4; -webkit-opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; filter:alpha(opacity=40); z-index: 100001; display: none;}
.mask.show{display: block;}

/*打赏*/
.rewardBox{position: fixed; background: #fff url(../images/reward_bg.png) center 0 no-repeat; background-size: 6rem auto; width: 6rem; left: .75rem; z-index: 100002; top: 50%; margin-top: -3.6rem; border-radius: .1rem; padding-top: 3.1rem; display: none;}
.rewardBox.show{display: block;}
.rewardBox .close{position: absolute; background: url(../images/reward_close.png) center center no-repeat; display: block; width: .8rem; height: .8rem; background-size: .48rem auto; right: 0; top: 0;}
.reward-box{padding-left: .5rem;}
.reward-box a{display: block; margin-right: .2rem; width: 1.5rem; font-size: .24rem; text-align: center; padding: .1rem 0; border: 1px solid #d8d8d8; border-radius: .04rem; float: left; margin-bottom: .2rem; color: #929292;}
.reward-box a em{font-size: .3rem;}
.reward-box a.active{color: #f85959; border-color: #f85959;}
.reword-other{text-align: center; display: block; width: 2rem; margin: .3rem auto; padding: .1rem 0;}
.reward-inp{position: relative; width: 4.3rem; margin: .2rem auto .4rem; border: 1px solid #dedede; border-radius: .04rem; overflow: hidden;}
.reward-inp .inp-tag{position: absolute; left: .2rem; padding: .2rem 0;}
.reward-inp input{padding: .2rem .2rem .2rem 1rem; border: 0;}
.reword-sure{display: block; width: 4.3rem; padding: .2rem 0; border-radius: .04rem; margin: .4rem auto .8rem; text-align: center; background: #f85959; color: #fff;}
.reword-sure.disabled{background: #eeeeee; color: #9f9f9f;}

/*更多*/
.more-box{position: fixed; background: #fff; width: 6rem; left: .75rem; z-index: 100002; top: 50%; border-radius: .1rem; padding-bottom: .2rem; margin-top: -3rem; display: none;}
.more-box.show{display: block;}
.more-box .tit{position: relative; padding: .3rem .4rem .4rem;}
.more-box .close{position: absolute; display: block; width: .8rem; height: .8rem; background: url(../images/more_close.png) center center no-repeat; background-size: .48rem auto; right: 0; top: .1rem;}
.more-box .share{padding-bottom: .4rem;}
.more-box .share a{display: block; width: 33.3%; height: 1.2rem; float: left; padding: 0; margin: 0;}
.more-box .share a.weixin{background: url(../images/weixin.png) center center no-repeat; background-size: 1.2rem auto;}
.more-box .share a.quan{background: url(../images/quan.png) center center no-repeat; background-size: 1.2rem auto;}
.more-box .share a.weibo{background: url(../images/weibo.png) center center no-repeat; background-size: 1.2rem auto;}
.more-box .cbox{padding: .5rem 0 .4rem; border-top: 1px solid #f2f2f2;}
.more-box .cbox a{display: block; width: 33.3%; text-align: center; float: left; position: relative;}
.more-box .cbox a i{display: block; width: 1.2rem; height: 1.2rem; margin: 0 auto .15rem;}
.more-box .cbox a.collect i{background: url(../images/collect.png) center center no-repeat; background-size: 1.2rem auto;}
.more-box .cbox a.collect.active i{background-image: url(../images/collected.png);}
.more-box .cbox a.jubao i{background: url(../images/jubao.png) center center no-repeat; background-size: 1.2rem auto;}
.more-box .cbox .heart{position: absolute; width: .6rem; top: -0.8rem; right: 0; opacity: 0;}
.more-box .cbox .active .heart{position: absolute; width: .6rem; -webkit-animation: fadeOutUp 1.5s both; animation: fadeOutUp 1.5s both; top: -0.8rem; right: 0;}

/*举报*/
.jubaobox{background: #fff;width: 80%;margin: 0 auto;border-radius: .1rem;position: fixed;left: 10%;top: 20%; z-index: 999999; display: none;}
.jubaobox.show{display: block;}
.jubaobox .close{position: absolute; right: 0; top: 0; display: block; width: .8rem; height: .8rem; background: url(../images/close1.png) center center no-repeat; background-size: .4rem auto;}
.jubaobox .select p{border-bottom: 1px solid #f2f2f2; padding: .2rem;}
.jubaobox .select ul{padding: .2rem; font-size: .24rem;}
.jubaobox .select li{float: left; padding: .1rem .2rem; border: 1px solid #f2f2f2; margin: 0 .1rem .1rem 0; border-radius: .04rem;}
.jubaobox .select li.active{color: #23b8f6; border-color: #23b8f6;}
.jubaobox .remark{padding: .2rem; color: #bbb;}
.jubaobox .jubao-tit{color: #bbb; margin-bottom: .1rem;}
.jubaobox .jubao-tit em{font-size: .24rem;}
.jubaobox .jubao-tit span{color: #f60;}
.jubaobox .remark textarea{border: none; outline: none; width: 100%; font-size: .26rem; resize: none;}
.jubaobox .contact{padding: .2rem; margin-bottom: .2rem;}
.jubaobox .contact dl{font-size: .26rem;}
.jubaobox .contact dt{margin-right: .2rem; padding: .1rem 0;}
.jubaobox .contact dd input{border: none; outline: 0; width: 4.5rem; padding: .1rem 0;}
.jubaobox .submit{display: block; background: #23b8f6; color: #fff; text-align: center; padding: .15rem 0; border-bottom-left-radius: .1rem; border-bottom-right-radius: .1rem;}

/*错误信息*/
.error{color: #fff; background: #000; border-radius: .1rem; width: 3rem; display: block; position: fixed; z-index: 1000000; top: 50%; padding: .1rem .2rem; text-align: center; left: 50%; margin-left: -1.5rem; display: none; }

/*回复弹出层*/
.layer{position: fixed; top: 0; bottom: 0; left: 100%; right: 0; z-index: 100001; background: #fff;}
.layer.show{display: block;}
.layer .header-search{visibility: visible;}
.layer .header-search a{background: none;}
.layer .discuss{padding: .2rem .2rem 0; height: 100%; overflow: auto;}
.layer .editor{position: absolute; bottom: 0; left: 0; right: 0; background: #f9f9f9; height: 1rem; padding: 0 .2rem; z-index: 99; border-top: 1px solid #eee;}
.layer .txt{background: #fff; padding: 10px;}
.layer .txt .textarea{width: 100%; border: none; font-size: .3rem; overflow: auto; outline: 0; padding: .2rem 0 .3rem;-webkit-user-select:text}
.layer .txt .textarea .txt-gray{color: #aaa;}
.layer .txt .emotion-img{width: .4rem; height: .4rem; border: 0; vertical-align: middle;}
.layer .editor.emotion{bottom: 4.3rem; border-top: 1px solid #f2f2f2;}
.layer .editor .item{position: relative; float: left; height: 1rem; display: table-cell; vertical-align: middle; width: 1rem; text-align: center; line-height: 1rem; padding: 0;}
.layer .editor .emotion{background: url(../images/emotion1.png?v=2) center center no-repeat; background-size: .4rem auto; border: 0; outline: 0;}
.layer .editor .emotion.on{background: url(../images/emotion2.png) center center no-repeat; background-size: .4rem auto;}
.layer .editor .img{background: url(../images/img1.png) center center no-repeat; background-size: .4rem auto; text-indent: -999rem;}
.layer .editor .img.on{background: url(../images/img2.png) center center no-repeat; background-size: .4rem auto;}
.layer .editor .img input, .layer .editor .video input{position: absolute; width: 1rem; height: 1rem; left: 0; opacity: 0; top: 0;}

/*表情盒子*/
.emotion-box{padding: .2rem 0 0; position: fixed; bottom: 0; display: none; background: #fff; z-index: 9999;}
.emotion-box li{float: left; width: .75rem; text-align: center; margin-bottom: .2rem;}
.emotion-box li img{width: 70%; height: 70%;}

.layer .discuss .textarea .thumbnail img{width: 100%; height: 100%;}

/* 上传按钮 */
.img-box li.uploadbtn {box-shadow: none; width: 70px; height: 70px; border: 2px dashed #e5e5e5;}
.webuploader-pick {line-height: 55px; text-align: center; font-size: 90px; color: #e5e5e5;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 70px; height: 70px;}

/* 图片队列 */
.layer .thumbnail{position: relative; margin: 0 auto;}
.layer .thumbnail img {width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-size: cover; background-position: center 20%;}
.layer .inp-item{padding: .3rem 0; font-size: .3rem; outline: 0; border: 0;}

.layer .thumbnail .file-panel {position: absolute; width: 30px; height: 30px; top: 6px; right: -10px; margin-top: -18px;}
.layer .thumbnail .file-panel .cancel {position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -12px; -webkit-transform: rotate(45deg); width: 27px; height: 27px; -webkit-border-radius: 13px; background-color: rgba(0,0,0,.7);}
.layer .thumbnail .file-panel .cancel:before, .layer .thumbnail .file-panel .cancel:after {content: ''; position: absolute; background: #d5d6d8; left: 50%; top: 50%;}
.layer .thumbnail .file-panel .cancel:before {height: 16px; width: 2px; margin: -8px 0 0 -1px;}
.layer .thumbnail .file-panel .cancel:after {height: 2px; width: 16px; margin: -1px 0 0 -8px;}


.layer .thumbnail .progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.layer .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

/*语音*/
.audio-panel{position: relative; width: 2.5rem;}
.audio-panel .audio_arrow{position: absolute; width: 0; height: 0; display: block; border-top: .15rem solid transparent; border-right: .15rem solid #7dd43c; border-bottom: .18rem solid transparent; left: -0.1rem; top: 50%; margin-top: -.15rem;}
.audio-panel .audio_item{height: .9rem; border-radius: .06rem; background: #7dd43c url(../images/audio_bg.png) .3rem center no-repeat; background-size: .35rem auto; text-indent: 2.9rem; line-height: .9rem;}
.audio-panel audio{position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: .9rem; opacity: 0; z-index: -1;}
.iframe iframe{width: 100%;}

.loading, .load{text-align: center; line-height: 1rem; color: #aaa;}
/* 客户端发布内容自定义样式 */
.c-paragraph-text, .c-paragraph-image, .c-paragraph-audio, .c-paragraph-video {margin-bottom: .2rem;}
.c-paragraph-audio .audiojs {width: 100%;}
.c-paragraph-audio .audiojs .scrubber  {width: 150px;}
.main .content .c-emot {vertical-align: middle; display: inline-block; width: 25px; height: 25px; margin: -3px 3px 0;}
.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {width: 100%; height: 400px;}
.vjs_video_3-dimensions.vjs-fluid {padding-top: 0;}
.c-paragraph-iframe iframe {width: 100%; height: 400px;}


/*支付方式*/
.paybox{position: fixed; bottom: -100%; left: 0; right: 0; z-index: 100003; background: #fff; display: none;}
.paybox.show{display: block;}
.paybox .tit{text-align: center; line-height: 1rem; font-size: .34rem;}
.paybox ul{padding: 0 .4rem;}
.paybox li{border-bottom: 1px solid #f4f4f4; padding: .3rem 0 .3rem 1rem; position: relative;}
.paybox li.pay1{background: url(../images/pay1.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay2{background: url(../images/pay2.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay3{background: url(../images/pay3.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay4{background: url(../images/pay4.jpg) left center no-repeat; background-size: .7rem auto;}
.paybox li.pay5{background: url(../images/pay5.png) left center no-repeat; background-size: .7rem auto;}
.paybox li .radio{position: absolute; right: 0; top: .3rem; bottom: 0; background: url(../images/radio1.png) right center no-repeat; background-size: contain; width: .4rem; height: .4rem;}
.paybox li.on .radio{background-image: url(../images/radio2.png);}
.paybox .paybtn{display: block; border: 1px solid #fd7a40; width: 3rem; padding: .2rem 0; text-align: center; margin: .2rem auto; color: #fd7a40; border-radius: .08rem;}


.reward-user {position: relative;}
.reward-user img {transform: rotateY(90deg);opacity: 0;}

.reward-user img, .reward-user {transition: all .5s ease-out;}
.reward-user.show img {transform: rotateY(0);opacity: 1;}

.vh {visibility: hidden;}
