html {overflow-x: hidden;}
:focus{outline:0}
a *{*cursor:pointer}
a:hover {color: #cd0001; text-decoration: none;}

.wrap {width: 1000px; margin: 0 auto;}
.w1200 .wrap {width: 1200px;}
.ad {position: relative; margin: 10px auto; overflow: hidden;}
.ad .adClose {position: absolute; right: 0; top: 0; width: 30px; height: 16px;}
.ad .adClose i {color: #fff; font-weight: bold; font-size: 14px; float: left; text-align: center; width: 15px; line-height: 16px; font-style: normal;}
.ad .adClose span {width: 15px; height: 15px; float: right; background: url('../images/px.gif') 0 -15px no-repeat; cursor: pointer;}
.ad .adClose span.kai {background-position: 0 0;}
.ad img {margin-left: -100px;}
.w1200 .ad img, .wsidebar .ad img {margin-left: 0;}

/* 顶部菜单 */
.top {position: relative; z-index: 1001; height: 38px; border-bottom: 1px solid #e4e4e4; background: #f9f9f9; font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;}
.topbar li {float: left;}
.topbar li a {padding: 0 10px; font-size: 14px; line-height: 38px; display: block;}
.topbar li a:hover, .topbar li.hover a {color: #000; background-color: #ededed; text-decoration: none;}
.topbar .logreg {float: left;}
.topbar .topbarlink {float: right;}
.topbar .topbarlink li {position: relative;}
.topbar .topbarlink a {color: #656565; padding: 0 13px 0 30px; background: url('../images/icons.png') no-repeat;}
.topbar .topbarlink .mark a {background-position: 2px 2px;}
.topbar .topbarlink .pubno a {background-position: 0px -33px;}
.topbar .topbarlink .mobile a {background-position: 2px -69px;}
.topbar .topbarlink .ipad a {background-position: 2px -105px;}
.topbar .topbarlink .search {border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
.topbar .topbarlink .search a {padding: 0 40px 0 15px; background-position: 77px -140px;}
.topbar .topbarlink .index a {background: none; padding-left: 15px;}
.topbar .topbarlink .index a:hover {text-decoration: underline;}

/* 登录成功 */
.userinfo {float: left; line-height: 38px; margin-left: 5px; height: 38px; overflow: hidden;}
.userinfo #upic {float: left; width: 30px; height: 30px; margin: 4px 5px 0 0; line-height: 30px;}
.userinfo a {margin-right: 10px; padding: 0;}
.userinfo a:hover {text-decoration: underline;}
.userinfo #upic a, .userinfo #upic img {display: block; height: 30px; width: 30px; padding: 0;}
.userinfo #upic img {border-radius: 15px;}
.userinfo #uname {margin-bottom: -2px; font-size: 14px;}

/* 浮动菜单 */
.topbar .topbarlink li .pop {display: none; position: absolute; left: 0; top: 38px; width: 270px; background: #fff; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px 0; -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.2); -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.2); box-shadow: 4px 4px 0 rgba(0,0,0,.2); color: #101010; font-size: 14px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.topbar .topbarlink li .pop s {position: absolute; top: -8px; left: 55px; width: 16px; height: 9px; background: url('../images/icons.png') -10px -591px;}
.topbar .topbarlink li.pubno .pop s, .topbar .topbarlink li.mobile .pop s, .topbar .topbarlink li.ipad .pop s {left: 45px;}

/* 书签 */
.topbar .topbarlink li.mark .pop .t {padding: 0 10px;}
.topbar .topbarlink li.mark .pop .t strong {padding-right: 3px; color: #0a75c7;}
.topbar .topbarlink li.mark .pop .b {margin-top: 10px; padding: 10px 10px 0; border-top: 1px solid #e6e6e6; color: #656565;}
.topbar .topbarlink li.mark .pop .b a {display: inline; margin-left: 20px; padding: 2px 5px; color: #fff; background: #dd4232; font-size: 12px; line-height: 22px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}

/* 公众号 */
/*.topbar .topbarlink li.pubno .pop dt {padding: 0 10px; margin-bottom: 10px; font-size: 16px;}
.topbar .topbarlink li.pubno .pop dd span {float: left; width: 40%; margin-left: 10%;}
.topbar .topbarlink li.pubno .pop dd span img {vertical-align: middle; margin-right: 3px;}
.topbar .topbarlink li.pubno .pop dd .r {margin-left: 7%;}
.topbar .topbarlink li.pubno .pop dd .vcode {border-top: 1px solid #e6e6e6; clear: both; margin-top: 10px;}
.topbar .topbarlink li.pubno .pop dd .vcode img {margin: 10px 0 0 -9px;}*/

/* 公众号、手机、ipad */
.topbar .topbarlink li.pubno .pop, .topbar .topbarlink li.mobile .pop, .topbar .topbarlink li.ipad .pop {width: 170px; text-align: center; left: -31px;}
.topbar .topbarlink li.pubno .pop s, .topbar .topbarlink li.mobile .pop s, .topbar .topbarlink li.ipad .pop s {left: 75px;}
.topbar .topbarlink li.pubno .pop p, .topbar .topbarlink li.mobile .pop p, .topbar .topbarlink li.ipad .pop p {line-height: 20px;}
.topbar .topbarlink li.mobile .pop p a {padding: 0; background: none;}
.topbar .topbarlink li.pubno .pop p img, .topbar .topbarlink li.mobile .pop p img, .topbar .topbarlink li.ipad .pop p img {display: block; margin: 0 auto;}

/* 搜索 */
.topbar .topbarlink li.search .pop {right: -1px; left: auto; width: 390px;}
.topbar .topbarlink li.search .pop s {left: auto; right: 63px;}
.topbar .topbarlink li.search .pop .inp {padding: 10px 15px 5px;}
.topbar .topbarlink li.search .pop .inp .searchinp {width: 251px; height: 32px; padding: 0 10px; line-height: 32px; border: 1px solid #c8c8c8; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; outline: 0; color: #666;}
.topbar .topbarlink li.search .pop .inp #searchBtn {width: 80px; height: 34px; line-height: 34px; color: #fff; font-size: 18px; text-align: center; vertical-align: middle; border: 0; background: #dd4232; margin-top: -2px; *margin-top: -16px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.topbar .topbarlink li.search .pop .inp label {display: inline-block; margin: 10px 20px 0 0; *margin: 5px 20px 0 0; color: #494949;}
.topbar .topbarlink li.search .pop .inp label input {vertical-align: middle; margin: -3px 2px 0 0;}

/* 返回顶部 */
.btntop {width: 50px; right: 20px; position: fixed; bottom: 40px; _position: absolute; _top: expression(documentElement.scrollTop + documentElement.clientHeight-120); z-index: 100; overflow: hidden;}
.btntop a {display: block; font-size: 0; text-indent: -9999em;}
.btntop .top {height: 50px; width: 50px; background: url('../images/gotop.png'); filter: Alpha(Opacity=35); opacity: .35; border-bottom: 0; overflow: hidden;}
.btntop a:hover.top {filter: Alpha(Opacity=50); opacity: .5;}
.btntop .close {width: 50px; height: 18px; background: url('../images/gotop.png') 0 -53px; margin-top: 5px;}

/* 登录窗口 */
#login_iframe {display: none; position: fixed; _position: absolute; z-index: 9001; width: 1000px; height: 314px; left: 50%; top: 50%; margin: -200px 0 0 -500px;}
#login_iframe iframe {width: 1000px; height: 314px;}
#login_bg {overflow: hidden; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 9000; display: block; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
#login_bg .loadPage {position: fixed; _position: absolute;  z-index: 2;  left: 50%; top: 50%; margin: -200px 0 0 -500px; width: 1000px; height: 314px; line-height: 314px; font-size: 16px; text-align: center; color: #fff;}
#login_bg iframe {position: absolute; z-index: 1; width:100%; height:100%; filter:alpha(opacity=0); opacity=0; border-style:none;}

/* 文本框Autocomplete浮动层 */
.autocomplete-suggestions {border: 1px solid #999; background: #fff; font-size: 13px; cursor: default; overflow: auto; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; line-height: 25px;}
.autocomplete-suggestion {padding: 2px 5px; white-space: nowrap; overflow: hidden;}
.autocomplete-no-suggestion {padding: 2px 5px;}
.autocomplete-selected {background: #f0f0f0;}
.autocomplete-suggestions strong {font-weight: bold; color: #000;}
.autocomplete-group {padding: 2px 5px;}
.autocomplete-group strong {font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000;}

/* 页面加载进度提示 */
.pace{-webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.pace-inactive{display: none;}
.pace .pace-progress{background: #333333; position: fixed; z-index: 2000; top: 0; left: 0; height: 3px; -webkit-transition: width 0.1s; -moz-transition: width 0.1s; -o-transition: width 0.1s; transition: width 0.1s;}
