

.gz-rbtn:after, .gz-addr-active s:after, .gz-sel-addr-close:after, .gz-sel-addr-list li:after { background: url(/templates/member/touch/images/addressIcons.png?v=1) no-repeat; background-size: 1.57rem 1.08rem;}


/*sprite*/
.gz-address {position: absolute; z-index: 50; width: 100%; height: 100%; left: 0; top: 0; background: #3d3d3d;}
.gz-addr-wrap {position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; background: #f5f5f5;}


/* 新增地址按钮 */
.gz-addr-addnewbtn {position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: .96rem; background: #ff472e; text-align: center; line-height: .96rem; font-size: .35rem; color: #fff; border: 0;}

/* 新增地址 */
#gzAddNewObj {-webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s;}
.gz-addr-addnew {margin: .3rem 0; background: #fff;}
.gz-addr-addnew dl {border-bottom: 1px solid #eee; line-height: .65rem; padding: .23rem 0; font-size: .26rem;}
.gz-addr-addnew dt {float: left; width: 1.78rem; text-align: center; color: #333;}
.gz-addr-addnew dd {position: relative; overflow: hidden; padding: 0 .28rem;}
.gz-addr-addnew dd input {width: 100%; height: .65rem; border: 0; line-height: .65rem; font-size: .26rem; outline: 0;}
.gz-no-sel dd {color: #a9a9a9;}
.gz-addr-seladdr dd {padding-right: .5rem; white-space: nowrap; text-overflow: ellipsis;}
.gz-addr-seladdr dd:after {content: ''; position: absolute; right: .28rem; top: 50%; width: .09rem; height: .18rem; margin-top: -.09rem; background-position: -.09rem -.74rem;}
.gz-addr-safenewbtn {display: block; width: 100%; height: .96rem; background: #ff472e; text-align: center; line-height: .96rem; font-size: .35rem; color: #fff; border: 0;}

/* 选择区域 */
.gz-sel-addr {position: fixed; z-index: 3; left: 0; right: 0; bottom: 0; height: 8.3rem; background: #fff; font-size: .25rem; -webkit-transition: all 0.5s; transition: all 0.5s;}
.gz-sel-addr-hide {bottom: 0rem; transform: translate(0, 8.3rem); visibility: hidden; opacity: 0;}
.gz-sel-addr-header {position: relative; height: .9rem; line-height: .9rem;}
.gz-sel-addr-header h3 {position: absolute; left: .77rem; top: 0; right: .77rem; bottom: 0; text-align: center; font-size: .3rem; color: #848689;}
.gz-sel-addr-close {position: absolute; top: 0; right: 0; bottom: 0; width: .77rem; text-align: center; border: 0; background: none;}
.gz-sel-addr-close:after {content: ''; position: absolute; top: 50%; left: 50%; width: .21rem; height: .21rem; margin: -.1rem 0 0 -.1rem; border: 0; background-position: -.76rem -.72rem;}
.gz-sel-addr-nav {width: 1000%; height: .58rem; border-bottom: 1px solid #d9d9d9; line-height: .58rem;}
.gz-sel-addr-nav li {float: left; padding: 0 .3rem;}
.gz-sel-addr-nav li span {display: block; padding: 0 .07rem;}
.gz-sel-addr-nav .gz-curr span {border-bottom: 1px solid #f23131; color: #f23131;}
.gz-sel-addr-list {position: absolute; left: 0; top: 1.7rem; right: 0; bottom: .05rem; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.gz-sel-addr-list li.loading {height: 5rem; line-height: 5rem; text-align: center;}
.gz-sel-addr-list li.loading:after, .gz-sel-addr-list li.n:after {display: none;}
.gz-sel-addr-list li {position: relative; height: .76rem; padding: 0 .32rem; line-height: .76rem;}
.gz-sel-addr-list li:after {content: ''; position: absolute; top: 50%; right: .32rem; width: .08rem; height: .15rem; margin: -.07rem 0 0 -.04rem; border: 0; background-position: -.42rem -.76rem;}
.gz-sel-addr-list li.gz-curr {color: #f23131;}


/* 遮罩 */
#gzAddNewObj.gz-sel-addr-active {-webkit-transform: scale(.85,.85); transform: scale(.85,.85) translateY(-.3rem); overflow: hidden;}
.gz-sel-addr-mask {display: none; position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
