body, button, input, select, textarea {font-family: 'microsoft yahei';}


/* 多行文本 */
.w-form .text {height: auto; margin-bottom: 8px;}

.w-form select {float: left;padding: 4px 6px;font-size: 14px;color: #000;height: 35px;line-height: 35px;background-color: #fff;border: 1px solid #ccc;}
/* 下拉菜单 */
.w-form .sel-group {position: relative; float: left; display: inline-block; margin-right: 5px; font-size: 0; white-space: nowrap; vertical-align: middle;}
.w-form .sel {display: inline-block; *display: inline; padding: 4px 12px; margin-bottom: 0; *margin-left: .3em; font-size: 14px; line-height: 25px; color: #333; text-align: center; vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color: #e6e6e6; background-image: -moz-linear-gradient(top, #fff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #fff, #e6e6e6); background-image: -o-linear-gradient(top, #fff, #e6e6e6); background-image: linear-gradient(to bottom, #fff, #e6e6e6); background-repeat: repeat-x; border: 1px solid #ccc; *border: 0; border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e6e6e6', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); *zoom: 1; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.w-form .sel:hover, .w-form .sel:focus, .w-form .sel:active, .w-form .sel.active, .w-form .sel.disabled, .w-form .sel[disabled] {color: #333; background-color: #e6e6e6; *background-color: #d9d9d9;}
.w-form .sel:active,.w-form .sel.active {background-color: #ccc \9;}
.w-form .sel:first-child {*margin-left: 0;}
.w-form .sel:hover, .w-form .sel:focus {color: #333; text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear;}
.w-form .sel.active, .w-form .sel:active {background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}
.w-form .sel.disabled, .w-form .sel[disabled] {cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.w-form .sel .caret {display: inline-block; width: 0; height: 0; margin-top: 10px; margin-left: 3px; vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.sel-group.open .sel {background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}
.sel-group.open .sel {background-color: #e6e6e6;}
.sel-group .sel-menu {display: none; position: absolute; z-index: 1000; left: 0; top: 100%; min-width: 362px; max-height: 250px; overflow-y: auto; margin-top: -1px; border: 1px solid #c3c3c3; background-color: #fff; padding: 6px 0 0 6px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.sel-group.open .sel-menu {display: block;}
.sel-group .sel-menu li {float: left; width: 110px; height: 32px; margin: 0 5px 5px 0; line-height: 32px; font-size: 14px;}
.sel-group .sel-menu li a {display: block; color: #404040; padding-left: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sel-group .sel-menu li a:hover {color: #fff; background-color: #a8d300;}

/* 前缀和附加输入框 */
.input-append {float: left; font-size: 0; white-space: nowrap; vertical-align: middle;}
.input-append select {height: 34px;}
.input-append input, .input-append select {float: left; position: relative; margin-bottom: 0; *margin-left: 0; font-size: 16px; border: 1px solid #d8d8d8; padding: 0 10px; height: 32px; line-height: 32px; vertical-align: top; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;}
.input-append select {height: 34px; line-height: 34px;}
.input-append select {padding-right: 0;}
.input-prepend input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.input-append input:focus, .input-append select:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.input-append .add-bef, .input-append .add-aft {float: left; display: block; width: auto; height: 24px; min-width: 20px; padding: 4px 5px; font-size: 14px; font-weight: normal; line-height: 24px; text-align: center; text-shadow: 0 1px 0 #fff; background-color: #eee; border: 1px solid #ccc; vertical-align: top;}
.input-append .add-bef {margin-right: -1px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.input-append .add-aft {margin-left: -1px; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}

/* 上传缩略图 */
.w-form dd.thumb {padding-bottom: 0;}
.thumb .uploadinp {float: left; position: relative; width: 100px; height: 25px; background: url('/static/images/ui/swfupload/uploadbutton.png') no-repeat top; margin-right: 10px; border: 0;}
#licenseFiles, .reupload {position: relative}
#license {margin: 4px 0 0}
.thumb .uploading {top: -600px; left: -600px; position: absolute}
.progressBar, .progressBar .progress {width: 342px; background: url('/static/images/ui/swfupload/progress.png') no-repeat;}
.progressBar {display: none; margin-top: 7px; width: 302px; height: 17px; position: relative}
#cancelUploadBt {display: none; top: 0; right: -30px; font-size: 12px; color: #05a; line-height: 18px; text-decoration: none; position: absolute}
#cancelUploadBt:hover {text-decoration: underline}
.progressBar .progress {display: block; width: 0; height: 17px; line-height: 17px; background-position: 0 -17px; z-index: 2; position: absolute}
.progressBar span {top: 0; left: 142px; width: 32px; height: 17px; line-height: 18px; font-size: 12px; font-family: Arial,Helvetica,sans-serif; text-align: center; z-index: 3; position: absolute}
.progressBar span.white {color: #fff}
#licenseFiles {display: none; overflow: hidden; vertical-align: middle; max-width: 50%; margin-bottom: 10px;}
#licenseFiles a, #licenseFiles img {display: block; overflow: hidden; max-width: 300px; max-height: 300px;}
.sholder {display: inline-block;}
.sholder img {max-width: 400px;}
.reupload {width: 59px; height: 23px; margin-left: 10px; margin-bottom: 10px; line-height: 45px; text-align: center; text-decoration: none; font-size: 12px; color: #4d4d4d; background: url('/static/images/ui/swfupload/uploadbts.png') no-repeat; vertical-align: bottom; padding: 4px 6px;}


/* 自动获取地址 */
.getlnglat {float: left; font-size: 14px; color: #666; border: 1px solid #d9d9d9; border-radius: 5px; height: 32px; line-height: 32px; padding: 0 10px; margin-left: 10px;}
.getlnglat s {float: left; width: 10px; height: 12px; margin: 9px 5px 0 0; background: url("/static/images/suggest-icon1.png") no-repeat;}

#verifycode {float: left; height: 34px; margin-left: 10px; cursor: pointer;}


/* 输入提示 */
.tip-inline {float: left; display: none; font-size: 14px; margin-left: 15px;}
.tip-inline s {float: left; width: 16px; height: 16px; margin: 9px 5px 0 0; background-image: url("/static/images/ui/inputTip.png"); background-position: no-repeat;}
.tip-inline.focus {color: #404040; display: block;}
.tip-inline.success {font-size: 0; display: block;}
.tip-inline.success s {background-position: 0 -16px;}
.tip-inline.error {color: #e43d03; display: block;}
.tip-inline.error s {background-position: 0 -32px;}
.tip-inline.loading {display: block;}
.tip-inline.loading s {background: url("/static/images/loading_16.gif");}

.tangram-suggestion-main {z-index: 1000; -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.3); -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.3); box-shadow: 3px 3px 6px rgba(0,0,0,0.3);}
.tangram-suggestion-main .tangram-suggestion {border-color: #ccc; background-color: rgba(255,255,255,.95)!important; background-color: #fff;}
.tangram-suggestion-main td {height: 20px; line-height: 20px; padding: 6px 5px 6px 30px; background: url('/static/images/suggest-icon.png') no-repeat 10px center; color: #333;}
.tangram-suggestion-main td b {color: #ff6000;}
body .tangram-suggestion .route-icon {background: none;}
.tangram-suggestion-main .tangram-suggestion-current {background-color: #ebebeb;}
.tangram-suggestion-main .tangram-suggestion-current .tangram-suggestion-grey {color: #c0c0c0;}

/* 自定义Autocomplete浮动层 */
.autocomplete-suggestions {margin: 0; border: 1px solid #e8e7e7; -moz-box-shadow: 0 10px 25px rgba(0,0,0,.3); -webkit-box-shadow: 0 10px 25px rgba(0,0,0,.3); box-shadow: 0 10px 25px rgba(0,0,0,.3);}
.autocomplete-suggestion {padding: 2px 10px;}
.autocomplete-suggestion strong {color: #f60;}

/* 发布直播 */
.list_main {  overflow: hidden;  padding: 20px;  border: solid 1px #f7f7f7;  }
.list_main form {  width: 80%;  }
.list_main .list_box {  padding: 10px 0;  overflow: hidden;  }
.list_main .list_box label {  width: 110px;  height: 40px;  line-height: 40px;  display: block;  font-size: 14px;  text-align: right;  margin-right: 20px;  float: left;  font-weight: 600;  }
.list_main .list_upload {  height: 100px !important;  line-height: 100px !important;  }
.list_main #up-banner {  width: 200px;  height: 100px;  float: left;  background: #f0f0f0 url("../images/picture.png") no-repeat center center;  }
.list_main input[type=date]::-webkit-inner-spin-button {  visibility: hidden;  }
.list_main .list_box span {  float: left;  line-height: 40px;  margin-left: 20px;  }
.list_main .list_box span p {  color: #a0a0a0;  margin-bottom: 15px;  }
.list_main .btn_sel {  width: 90px;  height: 30px;  border: solid 1px #eee;  background: #fff;  border-radius: 2px;  }
.list_main input, .list_main select {  width: 61%;  height: 40px;  border-radius: 2px;  border: solid 1px #eee;  padding-left: 15px;  }
.list_main select {  width: 63% !important;  }
.list_main .live_sel {  position: relative;  }
.list_main .live_sel label {  width: auto;  float: none;  display: inherit;  text-align: left;  }
.h_live, .v_live {  display: inline-block;  }
.h_screen {  display: inline-block;  width: 20px;  height: 20px;  border: solid 1px #c9c9c9;  border-radius: 50%;  margin-right: 10px;  vertical-align: middle;  }
.h_screen.active {border:solid 1px #766cf7;background:#766cf7 url("../images/radio_check.png") no-repeat center center;background-size:70%;}
.li_pass,.li_collect {display:none;}
.li_collect {position:relative;color:#333;}
.li_collect label {color:#a0a0a0;font-weight:500;}
.li_collect input[type="text"] {color:#333;width:40px;float:left;text-align:center;padding:0 !important;}
.li_collect span {margin:0;}
.money_collect {position:absolute;right:20%;}
.symbol {cursor:pointer;font-size:14px;margin:0 10px !important;}
.create-live {width:90px;margin:50px auto;}
.btn-create {width:90px;height:35px;margin:auto;color:#fff;font-size:14px;border:none;background:#766cf7;border-radius:2px;}
.list_main .thumblist img{width: 200px;height: 120px;}
/*弹出框*/
.sel_modal {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);z-index:99;}
.modal_box {position:fixed;top:31%;left:35%;width:620px;background:#fff;border-radius:4px;padding:15px;}
.modal_upload {width:100%;height:72px;background:#f8f8f8 url("../images/modal_sel.png") no-repeat 30% 50%;position:relative;text-align:center;}
.modal_up {width:40px;height:40px;background:url("../images/modal_sel.png") no-repeat center center;background-size:cover;}
.file_up {width:100%;height:72px;padding:0;opacity:0;z-index:-1;}
.modal_tip {position:absolute;top:20%;left:37%;text-align:left;}
.modal_tip h5 {font-size:14px;font-weight:600;}
.modal_tip p {font-size:12px;color:#a0a0a0;}
.modal_main {height:340px;background:#fff;}
.modal_main ul {overflow-y:scroll;height:340px;margin:10px 0;}
.modal_main ul::-webkit-scrollbar {width:5px;}
.modal_main ul::-webkit-scrollbar-track {background-color:#f2f2f2;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.modal_main ul::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.1);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.modal_main ul li {position:relative;width:190px;margin:5px;display:inline-block;}
.modal_main ul li img {width:100%;}
.modal_main ul li.active:after {content:'';width:36px;height:36px;background:url("../images/select.png") no-repeat center;background-size:cover;position:absolute;top:33%;left:42%;z-index:9999;opacity:0.8;}
.picture_box > div img {width:100%;}
.btn_con {width:100%;height:30px;margin-top:10px;text-align:right;}
.btn_con button {width:80px;height:30px;}
.btn_confirm {color:#fff;border:none;background:#766cf7;margin-right:10px;}
.btn_cancel {color:#766cf7;background:none;border:solid 1px #766cf7;}