<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
	atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}", atlasMax = 0;  //图集配置
var imglist = {"list1": {#$imglist#},},
	typeListArr = {#$typeListArr#}, action = '{#$action#}', modelType = '{#$action#}',
	cfg_term = "pc", adminPath = "{#$adminPath#}", staticPath = '{#$cfg_staticPath#}';
var pointRatio = {#$cfg_pointRatio#};
var cityid = {#$cityid#}, cityList = {#$cityList#};
</script>
<style>
.input-tips-keep {vertical-align: middle; position: relative; padding: 0 10px 0 0; margin: 0; line-height: 20px;font-size: 13px;color: #666;}
</style>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="module">城市：</label></dt>
    <dd style="overflow: visible; padding-left: 140px;">
      <select class="chosen-select" id="cityid" name="cityid" style="width: auto; min-width: 150px;"></select>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">商品标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{1,60}" maxlength="60" value="{#$title#}" />
      <div class="color_pick"><em style="background:{#$color#};"></em></div>
      <span class="input-tips"><s></s>请输入商品标题</span>
      <input type="hidden" name="color" id="color" value="{#$color#}" />
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>商品分类：</dt>
    <dd style="overflow:visible;">
      <div class="btn-group" id="typeBtn" style="margin-left:10px;">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{#$typename#}<span class="caret"></span></button>
      </div>
      <input type="hidden" name="typeid" id="typeid" value="{#$typeid#}" />
      <span class="input-tips"><s></s>请选择商品分类</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>缩略图：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt>上传视频：</dt>
    <dd>
		<input name="video" type="hidden" id="video" value="{#$video#}" />
		<div class="spic{#if $video == ""#} hide{#/if#}">
			<div class="sholder" id="videoPreview">
				 <a href="/include/videoPreview.php?f=" data-id="{#$video#}">预览视频</a>
			</div>
			<a href="javascript:;" class="reupload">重新上传</a>
		</div>
		<iframe src ="/include/upfile.inc.php?mod=tuan&type=video&obj=video&filetype=video" style="width:100%; height:25px;{#if $video != ""#} display: none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="mprice">原价：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
       <input class="input-middle" type="text" name="mprice" id="mprice" value="{#$mprice#}" data-regex="0|\d*\.?\d+">
       <span class="add-on">元</span>
       <span class="input-tips input-error" style="display:none"><s></s>数字类型</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="price">现价：</label></dt>
    <dd>
      <div class="input-prepend input-append">
        <span class="add-on">现金</span>
        <input class="input-middle" type="text" name="price" id="price" value="{#if $price != ''#}{#$price#}{#else#}0{#/if#}" data-regex="0|\d*\.?\d+" placeholder="可选">
        <span class="add-on">元</span>
        <span class="input-tips" style="display:inline-block;"><s></s>数字类型</span>
      </div>
      <br>
      <div class="input-prepend input-append">
        <span class="add-on">积分</span>
        <input class="input-middle" type="number" name="point" id="point" value="{#$point#}" placeholder="0表示积分可全额抵扣" data-regex="0|\d*\.?\d+">
        <span class="add-on">份</span>
        <span class="input-tips" style="display:inline-block;"><s></s>数字类型</span>
        <span class="input-tips-keep" id="pointTomoney">抵扣{#$point/$cfg_pointRatio#}元</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="inventory">库存：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
        <input class="input-mini" type="number" name="inventory" id="inventory" value="{#$inventory#}" min="0" data-regex="0|[1-9]\d*">
        <span class="add-on">份</span>
        <span class="input-tips" style="display:none;"><s></s>数字类型</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="freight">配送：</label></dt>
    <dd>
      <label for="delivery">
        <input type="checkbox" name="delivery" id="delivery" value="1"{#if $delivery#} checked{#/if#}>配送上门
      </label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="input-prepend input-append" style="margin:0;">
        <span class="add-on">运费</span>
        <input class="input-mini" type="text" name="freight" id="freight" value="{#$freight#}" min="0" data-regex="0|[1-9]\d*">
        <span class="add-on">元</span>
        <span class="input-tips" style="display:none;"><s></s>数字类型</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="description">商品简介：</label></dt>
    <dd>
      <textarea name="description" id="description" placeholder="10~200汉字之内" data-regex=".{0,200}">{#$description#}</textarea>
      <span class="input-tips"><s></s>10~200汉字之内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>商品描述：</dt>
    <dd>
      <ul class="nav nav-tabs" style="margin-bottom:5px;">
        <li class="active"><a href="#pc">电脑端</a></li>
        <li><a href="#mobile">移动端</a></li>
      </ul>
      <div id="pc">
      	<script id="body" name="body" type="text/plain" style="width:85%;height:500px">{#$body#}</script>
      </div>
      <div id="mobile" class="hide">
      	<script id="mbody" name="mbody" type="text/plain" style="width:85%;height:500px">{#$mbody#}</script>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>商品图集：</dt>
		<dd class="listImgBox hide">
			<div class="list-holder">
				<ul id="listSection2" class="clearfix listSection piece"></ul>
				<input type="hidden" name="imglist" value='{#$imglist#}' class="imglist-hidden">
			</div>
			<div class="btn-section clearfix">
				<div class="uploadinp filePicker" id="filePicker2" data-type="album" data-count="5" data-size="{#$atlasSize#}" data-imglist="list1"><div id="flasHolder"></div><span>添加图片</span></div>
				<div class="upload-tip">
					<p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
				</div>
			</div>
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="flag">自定义标签：</label></dt>
    <dd class="radio">
      {#html_checkboxes name="flag" values=$flagopt checked=$flag output=$flagnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="1" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
