<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>积分商城统计</title>
{#$cssFile#}
<script>
var action = "{#$action#}", adminPath = "{#$adminPath#}";
</script>
<style media="screen">
.tab-content {overflow: visible;}
</style>
</head>

<div class="main-content">

  <div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">

      <div class="">
        <div class="col-sm-12">
          <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
              <li{#if $action == "productSale"#} class="active"{#/if#}><a href="?action=productSale">已兑换商品统计</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active"> 
  
                {#* 已兑换商品统计s *#}

                {#if $action == "productSale"#}
                <div class="widget-box">
                  <div class="widget-header"><h5>已兑换商品统计-条件选择</h5></div>
                  <div class="widget-body" style="padding:20px;">
                      <form id="exportorder-form" class="clearfix">
                        <input type="hidden" name="action" value="{#$action#}" />
                        <input type="hidden" name="dopost" value="getresults" />
                        <label>统计时间段</label>
                        <input id="beginDate" type="text" class="chooseDate" value="{#$lastMonthDate#}" name="beginDate" />至
                        <input id="endDate" type="text" class="chooseDate" value="{#$nowDate#}" name="endDate" />
                        <br />
                        <br />
                        <div class="span12" style="margin-left: 0;"><button type="submit" class="btn btn-success">查看统计</button></div>
                      </form>
                    </div>
                </div>
                <div class="">
                  <div class="col-xs-10">
                    <div id="shopList" class="grid-view">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th id="shopList_c0">商品名称</th>
                            <th id="shopList_c1">分类</th>
                            <th id="shopList_c2">销售量</th>
                            <th id="shopList_c3">单价</th>
                            <th id="shopList_c4">总价</th>
                          </tr>
                        </thead>
                        <tbody>
                          {#$sale = 0#}
                          {#$totalPrice = 0#}
                          {#$totalPoint = 0#}
                          {#foreach from=$dataArr item=data#}
                          {#$sale = $sale + $data.sale#}
                          {#$totalPrice = $totalPrice + $data.totalPrice#}
                          {#$totalPoint = $totalPoint + $data.totalPoint#}
                          <tr>
                            <td style="width: 400px">{#$data.title#}</td>
                            <td style="width: 120px">{#$data.typename#}</td>
                            <td style="width: 120px">{#$data.sale#}</td>
                            <td style="width: 120px">现金：{#$data.price#} + 积分：{#$data.point#}</td>
                            <td style="width: 120px">现金：{#$data.totalPrice#} + 积分：{#$data.totalPoint#}</td>
                          </tr>
                          {#/foreach#}
                          <tr>
                              <td style="width: 120px">总计</td>
                              <td>&nbsp;</td>
                              <td>{#$sale#}</td>
                              <td>&nbsp;</td>
                              <td>现金：{#$totalPrice#} + 积分：{#$totalPoint#}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <a class="btn btn-success" href="?action={#$action#}&dopost=getresults&do=export&shop_id={#$shop_id#}&beginDate={#$lastMonthDate#}&endDate={#$nowDate#}">导出成excel</a></div>
                </div>
                {#/if#}
                {#* 已兑换商品统计e *#}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{#$jsFile#}
