<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var adminPath = "{#$adminPath#}", modelType = 'website';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="tempid" id="tempid" value="{#$tempid#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">页面名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="name" id="name" data-regex=".{2,30}" maxlength="30" value="{#$name#}" />
      <span class="input-tips"><s></s>请输入页面名称，2-30个汉字</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">文件名：</label></dt>
    <dd>
      <div class="input-prepend input-append">
        <input class="input-small" type="text" name="alias" id="alias" value="{#$alias#}" data-regex=".{2,30}">
        <span class="add-on" style="margin-right:10px;">.html</span>
        <span class="input-tips"><s></s>请输入文件名，1-30个字符</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">seo标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{0,100}" maxlength="100" placeholder="用于搜索引擎，100汉字以内" value="{#$title#}" />
      <span class="input-tips"><s></s>用于搜索引擎，100汉字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="keywords">关键字：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="keywords" id="keywords" data-regex=".{0,100}" maxlength="100" placeholder="用于搜索引擎，100汉字以内" value="{#$keywords#}" />
      <span class="input-tips"><s></s>用于搜索引擎，100汉字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="description">描述：</label></dt>
    <dd>
      <textarea name="description" id="description" placeholder="用于搜索引擎，200汉字之内" data-regex=".{0,200}">{#$description#}</textarea>
      <span class="input-tips"><s></s>用于搜索引擎，200汉字之内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="sort">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="sort" id="sort" min="0" data-regex="[1-9]\d*" value="{#$sort#}">
      <span class="input-tips"><s></s>必填，排序越大，越排在后面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="pagedata">页面内容：</label></dt>
    <dd><textarea name="pagedata" id="pagedata" class="input-xxlarge" rows="10" placeholder="请从设计界面获取源代码">{#$pagedata#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="appname">系统模块名：</label></dt>
    <dd>
      <input class="input-small" type="text" name="appname" id="appname" value="{#$appname#}">
      <span class="input-tips" style="display:inline-block"><s></s>系统模块专用字段，如新闻列表可填写：新闻</span>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>