<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",
	adminPath = "{#$adminPath#}", modelType = 'website';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="website" id="website" value="{#$website#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">案例标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{2,60}" maxlength="60" value="{#$title#}" />
      <span class="input-tips"><s></s>请输入案例标题，2-60个汉字</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>缩略图：</dt>
    <dd>
      <input name="litpic" type="hidden" id="litpic" value="{#$litpic#}" />
      {#if $litpic != ""#}
      <div id="license" class="uploadinp uploading"><span id="uploadBt"></span></div>
      <div id="licenseFiles" style="display:inline-block;"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank"><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=small" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;" style="display:inline-block;">删除图片</a>
      {#else#}
      <div id="license" class="uploadinp"><span id="uploadBt"></span></div>
      <div id="licenseFiles"><a href="#" target="_blank" title=""><img alt="" src="" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;">删除图片</a>
      {#/if#}
      <div id="licenseProgress" class="progressBar">
        <i id="licenseProgressBar" class="progress"></i>
        <span id="licensePercent">0%</span>
        <a id="cancelUploadBt" href="javascript:;">取消</a>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="keywords">关键字：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="keywords" id="keywords" data-regex=".{0,50}" maxlength="50" placeholder="用于搜索引擎，50汉字以内" value="{#$keywords#}" />
      <span class="input-tips"><s></s>用于搜索引擎，50汉字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="description">内容摘要：</label></dt>
    <dd>
      <textarea name="description" id="description" placeholder="10~200汉字之内" data-regex=".{0,200}">{#$description#}</textarea>
      <span class="input-tips"><s></s>10~200汉字之内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>案例内容：</dt>
    <dd>
      <script id="body" name="body" type="text/plain" style="width:85%;height:500px">{#$body#}</script>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>