<!DOCTYPE html>
<html class="webkit chrome">
<head>
<meta charset="utf-8" />
<title>设计面板</title>
<script type="text/javascript" src="/design/detection.js"></script>
<script>
    var DESIGN_VERSION = '2.0.1';
    var PROJECTID = '{#$PROJECTID#}';
	var Module = 'website';
    var PAGES_URL = '{#$cfg_basehost#}/website/', cfg_attachment = '/include/attachment.php?f=';
    var baidu_mapkey = '{#$site_map_baidu_key#}';
</script>
<script type="text/javascript" id="seanode" src="/design/diy.js?v={#$cfg_staticVersion#}"></script>
</head>

<body></body>
</html>
