

/*面包屑*/
.bread{width:100%; height:40px; border-bottom:1px solid #ececec; background: #fff;}
.bread p{width: 1000px; margin: 0 auto; line-height: 40px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 14px; color: #333; margin: 0 3px;}

/*内容部分*/
.content{width:1000px; margin: 15px auto;  }
.w1200 .content{width:1200px;  }
.pp-left{width: 178px; height:auto; border:1px solid #ececec; background: #fff }
.w1200 .pp-left{width:248px}
.pp-left li{position: relative; width:168px; padding-left: 10px; height: 49px; border-bottom: 1px solid #ececec; border-left:1px solid #fff; line-height: 49px; color: #333; font-size: 14px;}
.w1200 .pp-left li{width:238px}
.pp-left li a{display: block; width: 100%; height: 100%}
.pp-left li.bt{font-size: 16px; color: #000}
.pp-left li.on{border-left:1px solid #ff2832; }
.pp-left li.on a{color: #ff2832}
.pp-left i.arrow-right {display: none; position: absolute; right: 20px; top:20px; width: 0px; height: 0px; border:6px solid transparent; border-left-color:#333;}
.pp-left i.arrow-right em{content: "";display: block; position: absolute; right:-5px; top:-6px; width: 0px; height: 0px; border:6px solid transparent;  border-left-color:#fff}
.pp-left li.on .arrow-right{display: block; border-left-color:#ff2832;}
.pp-right{width:806px; }
.w1200 .pp-right{width: 930px}
.pp-right .select{width:804px; height: 44px; border:1px solid #ececec;background: #fff  }
.w1200 .pp-right .select{width:928px}
.pp-right .select span.left{position: relative; padding:0 25px; font-size: 14px; line-height: 44px; color: #333; }
.pp-right .select ul{position: absolute; left:0px; top:-2px; width: 130px; overflow: hidden; z-index:2000; padding: 7px 0; background: #fff; border:2px solid #e8e8e8;}
.pp-right .select span.left:hover{z-index: 1}
.pp-right .select ul li{padding:0 21px; line-height: 30px; text-align: center;}
.pp-right .select ul li a{font-size:14px;}
.pp-right .select span em.on,.pp-right .select span.on a{color: #ff2832}
.pp-right .select a.on{color: #ff2832}
.pp-right .select font{color: #e0e0e0; margin-top: 11px;}
.pp-right .right{margin-right:12px; line-height: 44px; display: none;}
.pp-right .right span{margin-right: 10px;}
.pp-right .right em{color: #ff2832}
.pp-right .right a{display: inline-block; text-align: center; line-height: 19px; width:23px; height: 19px; border: 1px solid #ececec;  color: #9c9c9c}
.pp-right .right a.pre{border-right:none;}
.pp-right .right a.on{color: #9c9c9c;background: #f7f7f7}
.pp-right i.arrow-bottom{ position: absolute; right:10px; top:20px; width: 0px; height: 0px; border:4px solid transparent; border-top-color:#333;}
.pp-right i.arrow-bottom em{content: ""; position: absolute;left:-4px; top:-5px; width: 0px; height: 0px; border:4px solid transparent;  border-top-color:#fff}
.pp-right ul.list{width: 804px; border: 1px solid #ececec; margin-top: 15px; background: #fff }
.w1200 .pp-right ul.list{width: 928px}
.pp-right ul.list li{position: relative; float: left; width: 201px; overflow: hidden; -webkit-transition:all 0.4s; -moz-transition:all 0.4s; -ms-transition:all 0.4s; transition:all 0.4s;}
.w1200 .pp-right ul.list li{width: 232px}
.pp-right ul.list li .img{padding: 10px;}
.pp-right ul.list li.empty {display: block; border: none; height: 500px; line-height: 300px; text-align: center; font-size: 14px; width: 100%;}
.pp-right ul.list li.empty:hover {box-shadow: none;}
.pp-right ul.list li a {display: block; padding-bottom: 10px;}
.pp-right ul.list li img{display: block; width: 100%; height: 150px;}
.w1200 .pp-right ul.list li img{ height: 175px; }
.pp-right ul.list li p{width: 96%; margin: 0 auto; height: 40px; line-height:20px; color: #333; font-size:14px; overflow: hidden; padding-top:10px; }
.pp-right ul.list li span{display: block;  width:96%; margin:6px auto; font-size: 15px; color: #ff2832}
.pp-right ul.list li s{font-size: 12px; color: #999; margin-left: 10px;}
.pp-right ul.list li em{display: block; position: absolute; width: 40px; height: 40px; top:14px; right: 5px; background: url(../images/hot.png)}
.pp-right ul.list li em.hide{display: none;}
.pp-right ul.list li:hover{box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.15); z-index: 10}
