

/*面包屑*/
.bread{width:100%; height:40px; border-bottom:1px solid #ececec; background: #fff;}
.bread p{width: 1000px; margin: 0 auto; line-height: 40px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 14px; color: #333; margin: 0 3px;}

/* 购物车为空 */
.null{width: 100%; overflow:hidden}
.null img{display:block;  margin:120px auto;}

/* 购物车有商品时 */
.have{width: 1000px; margin:0 auto 38px; overflow:hidden ;}
.w1200 .have{width: 1200px}
.have .state{width: 100%; height: 85px;}
.have .state span{width: 115px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; margin-top:25px; border-radius:5px; background:#139bce}
.have .state  a{ color: #fff; font-size: 14px}
.have .state ul{width: 570px; height: 85px;}
.have .state li{position: relative; float: left; width: 190px;}
.have .right li div{position: relative; padding-top:20px;}
.have .right li i{ display: block; width: 22px; height:26px; margin:0px auto; line-height:30px; text-align: center; font-size: 14px; color: #fff; background: url(../images/icon.png) no-repeat;  background-position:-22px 0; }
.have .right li em{display: block; line-height: 45px; text-align: center; font-size: 14px; color:#333}
.have .right li s{position: absolute;right:0; top:0; height: 32px; border-bottom: 4px solid #d5d5d5}
.have .right li.one s{width: 95px;}
.have .right li.two s{width: 190px;}
.have .right li.three s{width: 190px}
.have .right li.on s{border-color: #e11f28}
.have .right li.on i{background-position:0px 0; }

.goods{width:998px; border:1px solid #ececec; background:#fff}
.w1200 .goods{width: 1198px}
.goods ul{overflow:hidden; position: relative;}
.goods ul.title,.name{padding-left: 25px}
.goods ul.title{width: 973px;}
.goods ul.title i{margin-top:20px;}
.w1200 .goods ul.title{width: 1173px}
.goods ul.title li{float:left; height:56px; line-height: 56px; font-size: 14px; color: #333; text-align:center}
.goods li.t0{width: 20px}
.goods li.t1{text-align: left; width:8%; }
.goods ul.title .t1{text-align: left;}
.goods li.t2{width:16%; margin:0 20px; font-size: 14px;}
.goods li.t3{width:16%; margin-left:7%;}
.goods li.t4{width:13%; text-align: center}
.goods li.t5{width:14%;}
.goods li.t6{width:10%;}
.goods li.t7{width:8%;}
.goods li.t7 a{display: block;}
.goods i{display: inline-block;  width: 12px; height: 12px; border:1px solid #ccc; background: #fff; margin-right: 10px;}
.goods i.on{background: url(../images/listSprite.png) 1px -32px no-repeat; }
.goods span{font-size: 14px;}
.goods font{color: #999; font-size: 14px;}
.goods s{display: inline-block; vertical-align: middle; width: 16px; height:16px; background: url(../images/icon.png) -84px 0; margin:0 10px;}
.goods s a {display: block; height: 16px;}
.name{height: 40px; line-height: 40px; background: #f7f7f7}
.name em,.sp em{color: #e11f28}
.sp{padding: 20px 0 34px 25px}
.sp li{float: left;}
.sp i{margin-right: 15px; vertical-align: middle; margin-top:28px;}
.sp img{float: right; vertical-align: top; width:95%; margin-left: 10px; }
.sp label{font-size: 14px; color: #999}
.sp span{font-size: 14px; color:#333;}
.sp .t6{text-align: center; font-size: 16px; color:#e11f28;}
.sp .t6 span {color: #e11f28;}
.sp .t6 small {font-size: 12px; color: #999;}
.sp .t7{text-align: center;}
.sp .t5 div{width:99px; height: 26px; border:1px solid #ccc; margin:0 auto}
.sp .t5 a{float: left; width:26px; height: 26px; background: url(../images/icon.png) -51px 7px no-repeat }
.sp .t5 a.minus{background-position:-51px -14px}
.sp .t5 input{float: left; width: 45px; height: 26px;line-height: 26px; border:none; border:1px solid #ececec; text-align: center;  border-top:none; border-bottom:none; }

.sum{padding-left: 25px; height:60px; line-height:60px; font-size: 14px; border-top:1px solid #ececec; }
.sum .left a{color: #999; margin-left: 20px; }
.sum .right span{display: inline-block; line-height: 55px; font-size: 14px; color: #333}
.sum .right em,.sum .right font{color:#e11f28 }
.sum .right font{font-size: 26px; }
.sum .right a{display: inline-block; font-size:18px; background: #e11f28; color: #fff; margin:0 15px; width:126px; height: 40px; text-align: center; line-height: 40px;}
.sum .right a.disabled {background: #c7c7c7; cursor: no-drop;}
