body{background: #f7f7f7}

/*面包屑*/
.bread{width:100%; height:40px; border-bottom:1px solid #ececec; background: #fff;}
.bread p{width: 1000px; margin: 0 auto; line-height: 40px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 14px; color: #333; margin: 0 3px;}

.content{width: 1000px; margin:15px auto;}
.w1200 .content{width: 1200px;}
.news-left,.news-right{width:734px;  overflow: hidden;}
.w1200 .news-left{width:860px;}
.news-right{width: 248px; }
.w1200 .news-right{width:320px;}
.news-left .all{border:1px solid #ececec; background: #fff}
.news-left .all ul{margin-top: -1px;}
.news-left .all li{width:702px; overflow: hidden; padding:15px 15px 35px 15px; border-top:1px dashed #ececec; }
.w1200 .news-left .all li{width:828px;}
.news-left .all li.empty {height: 500px; line-height: 300px; font-size: 14px; text-align: center;}
.news-left .all li h3{line-height: 50px; font-size: 20px; }
.news-left .all li dl{width: 100%}
.news-left .all li dt,.news-left li dd{width: 150px; height: 100px;}
.news-left .all li dd{width: 520px;}
.w1200 .news-left li dd{width: 640px}
.news-left .all li dt { margin-right: 18px;}
.news-left .all li dt img{width: 100%; height: 100%}
.news-left .all li dd p{width: 100%; height: 75px; line-height:25px; overflow: hidden; font-size: 14px; color: #333}
.news-left .all li dd a{color: #ff2832}
.news-left .all li dd span{display: block; font-size: 12px; color: #999; margin-top:5px;}
.news-left .all li:hover{background: #F7F7F7; border-top: 1px solid #ececec}


.select{background: #fff; margin:0 auto; border:1px solid #ececec; margin-bottom: 10px;}
.select p{width:96%; height:44px;margin:0 auto -1px; line-height: 44px; font-size: 14px; border-bottom:1px solid #ececec;}
.select p span{padding: 0 4%;}
.select p font{color: #e0e0e0}
.select p a{margin:0 15px; }
.select p a.on{color:#ff2832 }
.select p.bot{border: none}


/*分页*/
.page{width: 100%; overflow: hidden; text-align: center; padding: 35px 0 20px;}
.page a{font-size: 14px;color: #333; }
.page a.pg{display: inline-block; width:26px; height: 26px; line-height:26px; text-align: center; }
.page a.pg1{ cursor: auto; }
.page a.on{background: #333; color: #fff}
.page a.next{margin: 0 15px;}

.news-right .hot{width:246px; background: #fff;overflow: hidden; padding: 5px 0 10px 0; margin-bottom: 15px;border:1px solid #ececec; }
.w1200 .news-right .hot{width:318px}
.news-right .hot h3{position:relative; width:90%; margin:0 auto; line-height:40px; border-bottom: 1px solid #ececec;font-size: 16px; }
.news-right .hot ul{width: 90%; margin:10px auto;}
.news-right .hot li{width: 100%; height: 35px; line-height: 35px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../images/list.png) 8px center no-repeat;}
.news-right .hot li.empty {text-align: center; background: none; color: #999; line-height: 80px; height: 80px;}
.news-right .hot i{font-size:18px; margin-right: 20px; color: #999}
.news-right .hot i.on{color: #ff2832}
.news-right .hot h3 span{position: absolute; left:30px; bottom:-1px; width: 0px; height: 0px; border:8px solid transparent; border-bottom-color:#ddd; }
.news-right .hot h3 em{ position: absolute;left:31px; bottom:-1px; width: 0px; height: 0px; border:7px solid transparent;  border-bottom-color:#fff}

.news-right .banner1,.news-right .banner2{display: block; width: 100%; margin-top: 15px;}
.news-right .banner1 img,.news-right .banner2 img{display:block; width: 100%}



/* 资讯详细页 */
.newsD{width:732px; background: #fff; border:1px solid #ececec;}
.w1200 .newsD{ width:858px;}
.news-left .title,.article,.news-left h3.about,.about-list{width: 95%; margin:5px auto;}
.news-left .title{padding-bottom: 10px;}
.news-left .title h3{font-size: 22px; line-height: 70px;}
.news-left .title p{color: #666}
.news-left .info{width: 100%; height: 20px;}
.news-left .info span{color: #666; line-height: 27px; }
.news-left .info .right{color: #ececec;height: 27px}
.news-left .info font{color: #000}
.news-left .info em{color: #999; margin-right:30px; display: inline-block; float: left;}
.news-left .info i{font-family: "Georgia";font-size: 18px; color: #e11f28}
.news-left .article{border-top:1px dashed #ececec;}
.news-left .article p{width: 100%; margin-top:32px; text-indent: 2em; font-size: 16px; line-height: 28px; color:#333;}
.news-left .article img{ max-width: 100%; margin:20px 0; }
.news-left .banner3{display: block; width:95%; margin:30px auto;}
.news-left .banner3 img{width: 100%}
.news-left h3.about{line-height: 40px; font-size:18px; color:#000; border-bottom:1px dashed #ececec;}
.about-list{margin:20px auto;}
.about-list li{width: 80%;height: 30px; line-height: 30px; }
.about-list li i{float: left; width: 4px; height: 4px; border-radius: 2px; background:#999; margin:13px 10px;}
.about-list li a{float: left; width: 60%; height:30px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333}
.about-list li span{float: right; font-size: 12px; color: #999;}
