

/*面包屑*/
.bread{width:100%; height:40px; border-bottom:1px solid #ececec; background: #fff;}
.bread p{width: 1000px; margin: 0 auto; line-height: 40px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 14px; color: #333; margin: 0 3px;}


.content{width: 1000px; margin:0 auto;}
.w1200 .content{width: 1200px}
.part1{position:relative; height: 92px; border-bottom: 1px solid #ececec}
.part1 span.left{position: absolute; left: 0; bottom:-1px; border-bottom: 1px solid #000; font-size: 22px; line-height: 50px;}
.part1 .flow ul{width: 570px; height: 85px; overflow: hidden;}
.part1 .flow li{position: relative; float: left; width: 190px;}
.part1 .flow li div{position: relative; padding-top:20px; }
.part1 .flow li i{ display: block; width: 22px; height:26px; margin:0px auto; line-height:30px; text-align: center; font-size: 14px; color: #fff; background: url(../images/icon.png) no-repeat;  background-position:-22px 0; }
.part1 .flow li em{display: block; line-height: 45px; text-align: center; font-size: 14px; color:#333}
.part1 .flow li s{position: absolute;right:0; top:0; height: 32px; border-bottom: 4px solid #d5d5d5}
.part1 .flow li.one s{width: 95px;}
.part1 .flow li.two s{width: 190px;}
.part1 .flow li.three s{width: 190px}
.part1 .flow li.on s{border-color: #e11f28}
.part1 .flow li.on i{background-position:0px 0; }

.part1Con{width: 100%; margin:15px 0;}
.part1Con .loading {width: 100%; height: 132px; text-align: center; font-size: 14px; line-height: 132px;}
.part1Con dl{ float: left; margin: 10px 15px 0 0;}
.part1Con dt{position: relative; width:190px; height: 110px; padding: 10px 15px; border:1px dashed #b6b6b6; background: #fff; cursor: pointer;}
.part1Con dt i{position: absolute; right: -1px; bottom:-1px; width: 33px; height: 25px;background: url(../images/address.png) -46px 0; display: none;}
.part1Con dt p.name{font-size: 16px; color: #000;line-height: 30px;}
.part1Con dt p.address,.part1Con dt p.detail{font-size: 14px; color: #333; line-height: 24px;}
.part1Con dt p span{margin-right: 5px;}
.part1Con dd{width: 220px; text-align: center; margin:10px 0; }
.part1Con dd a{display: inline-block; height:20px; line-height: 20px; padding:0 8px; margin:0 3px; background:#fff; border:1px solid #ccc;}

.part1Con dl.on dt{border-color: #e11f28}
.part1Con dl.on dt i{display: block;}
.part1Con dl.on a.setAddress{color:#333; cursor: no-drop; background: #f5f5f5}
.part1Con .add{ width:130px; height: 130px; border:1px dashed #fff; background: #139bce; margin-top: 10px;}
.part1Con .add span{display: block; width: 40px; height: 40px; margin:25px auto 15px; background: url(../images/address.png);}
.part1Con .add p{text-align: center; color: #fff}

.part2{height:50px;}
.goods{width: 998px;border:1px solid #ececec; background:#fff; margin-top:15px;}
.w1200 .goods{width: 1198px;}
.goods ul{overflow:hidden;}
.goods ul.title {border-bottom: 2px solid #b2d1ff; margin-bottom: 10px;}
.goods ul.title li{float:left; height:46px; line-height: 46px; font-size: 14px; color: #333; text-align:center}
.goods li.t0{width: 20px}
.goods li.t1{text-align: left; width:8%; }
.goods ul.title .t1{text-align: left;}
.goods li.t2{width:24%; margin:0 20px; font-size: 14px;}
.goods ul.title .t11 {width: 32%; margin-right: 40px; text-align: left;}
.goods li.t3{width:16%; margin-left:7%;}
.goods li.t4{width:13%; text-align: center}
.goods li.t5{width:14%;}
.goods li.t6{width:10%;}

.goods .name span{font-size: 14px; margin-left:20px;}
.goods font{color: #999; font-size: 14px;}
.goods s{display: inline-block; vertical-align: middle; width: 16px; height:16px; background: url(../images/icon.png) -84px 0; margin:0 10px;}
.goods s a {display: block; height: 16px;}
.goods .name{height: 40px; line-height: 40px; background: #f7f7f7}
.goods .name em,.sp em{color: #e11f28}
.sp{padding: 10px 0 10px 0;}
.sp li{float: left; }
.sp i{margin-right: 15px; vertical-align: middle; margin-top:28px;}
.sp img{float: right; vertical-align: top; width:95%; margin-left: 10px; }
.sp label{font-size: 14px; color: #999}
.sp span{font-size: 14px; color:#333;}
.sp .t1{margin-left: 20px;}
.sp .t6{text-align: center; font-size: 16px; color:#e11f28;}
.sp .t6 span {color: #e11f28;}
.sp .t6 small {font-size: 12px; color: #999;}


.sp .t5 div{width:100%; height: 26px; text-align: center;}
.sp .t5 a{float: left; width:26px; height: 26px; background: url(../images/icon.png) -51px 7px no-repeat }
.sp .t5 a.minus{background-position:-51px -14px}
.sp .t5 input{float: left; width: 45px; height: 26px;line-height: 26px; border:none; border:1px solid #ececec; text-align: center;  border-top:none; border-bottom:none; }

.sj {margin-top: 15px;}
.sj .bz {margin-top: 10px; padding: 10px 20px; background: #f2f6ff;}
.sj .bz input{ width: 393px; height: 25px; line-height: 25px; padding: 0 10px;  border:1px solid #ececec;}

.sum{padding-left: 25px; font-size: 14px; margin-top: 30px; background:#fff; }
.sum .right{margin-right: 20px; float: none; text-align: right; margin-top: 10px;}
.sum .right span{display: inline-block; line-height: 55px; font-size: 14px; color: #333}
.sum .right em,.sum .right font{color:#e11f28 }
.sum .right font{font-size: 26px; }

.part3Con{  margin:15px 0 20px; padding-bottom: 20px;}
.part3Con .blist {border:1px solid #ececec; border-top:none; padding-bottom: 15px;background: #fff;}
.part3Con .bank-icon {position: relative; display: inline-block; width: 178px; height: 42px; padding: 1px; border: 1px solid #dedede; margin:12px 0 0 12px; background-color: #fff;}
.part3Con .bank-icon span {display: block; height: 26px; margin: 7px auto 0 17px; background-image: url('../images/bank.png?v=1'); background-repeat: no-repeat;}
.part3Con .active {padding: 0; border: 2px solid #f60;}
.part3Con .active b {position: absolute; right: 0; bottom: 0; width: 20px; height: 21px; background: url('../images/bankActive.png');}

.part3Con .terrace .bank-icon span {margin: 7px auto 0;}
/* 平台支付icon定位 */

.globalalipay {width: 73px; background-position: -4px -938px;}  /* 支付宝 */
.alipay {width: 73px; background-position: -4px -938px;}  /* 支付宝 */
.unionpay {width: 100px; background-position: -4px -1008px;}  /* 银联在线 */
.bankpayment {width: 105px; background-position: -4px -1303px;}  /* 储蓄卡网银 */
.tenpay {width: 73px; background-position: -4px -974px;}  /* 财付通 */
.wxpay {width: 101px; background-position: -3px -1045px;}  /* 微信支付 */
.baidu {width: 90px; background-position: -4px -1198px;}  /* 百度钱包 */
.paypal {width: 87px; background-position: -4px -1121px;}  /* PayPal */
.jdpay {width: 95px; background-position: -4px -1273px;}  /* 京东钱包 */
.yeepay {width: 91px; background-position: -4px -1236px;}  /* 易宝支付 */

/* 银行icon定位 */
.icbc {width: 90px; background-position: -4px -580px;}  /* 中国工商银行 */
.ccb {width: 90px; background-position: -4px -148px;}  /* 中国建设银行 */
.boc {width: 89px; background-position: -4px -112px;}  /* 中国银行 */
.comm {width: 90px; background-position: -4px -399px;}  /* 交通银行 */
.abc {width: 90px; background-position: -4px -4px;}  /* 中国农业银行 */
.cmb {width: 90px; background-position: -4px -328px;}  /* 招商银行 */
.psbc {width: 91px; background-position: -4px -687px;}  /* 邮政储蓄银行 */
.ceb {width: 93px; background-position: -4px -219px;}  /* 中国光大银行 */
.cmbc {width: 90px; background-position: -4px -363px;}  /* 中国民生银行 */
.pingan {width: 93px; background-position: -4px -795px;}  /* 平安银行 */
.spdb {width: 91px; background-position: -4px -832px;}  /* 浦发银行 */
.ecitic {width: 89px; background-position: -4px -292px;}  /* 中信银行 */
.cib {width: 93px; background-position: -4px -255px;}  /* 兴业银行 */
.hxb {width: 92px; background-position: -4px -435px;}  /* 华夏银行 */
.cgb {width: 92px; background-position: -4px -507px;}  /* 广发银行 */
.beijing {width: 90px; background-position: -4px -40px;}  /* 北京银行 */
.bjrcb {width: 104px; background-position: -4px -76px;}  /* 北京农商银行 */
.bocd {width: 90px; background-position: -4px -184px;}  /* 成都银行 */
.fudian {width: 89px; background-position: -4px -471px;}  /* 富滇银行 */
.hzcb {width: 94px; background-position: -4px -544px;}  /* 杭州银行 */
.nbcb {width: 90px; background-position: -4px -616px;}  /* 宁波银行 */
.njcb {width: 91px; background-position: -4px -652px;}  /* 南京银行 */
.shanghai {width: 91px; background-position: -4px -723px;}  /* 上海银行 */
.srcb {width: 104px; background-position: -4px -760px;}  /* 上海农商银行 */
.wzcb {width: 91px; background-position: -4px -867px;}  /* 温州银行 */
.zjnx {width: 91px; background-position: -4px -903px;}  /* 浙江农信 */

.part3Con .pay-style{cursor: pointer; position: relative; height: 50px; line-height:50px; font-size:18px; color: #000; border:1px solid #ececec; background: #f5f5f5; margin-top: -1px; padding:0 15px;}
.part3Con .pay-style span{color: #999; font-size: 12px; margin-left: 10px; }
.part3Con .pay-style i{position: absolute; left:43px; bottom:-1px; width: 0px; height: 0px; border:8px solid transparent; border-bottom-color:#ddd; }
.part3Con .pay-style em{ position: absolute;left:-7px; bottom:-8px; width: 0px; height: 0px; border:7px solid transparent;  border-bottom-color:#fff}

.part3Con .result{width: 100%; height: 40px; margin:20px 5px; text-align: right ; line-height: 40px;}
.part3Con .result a{display: inline-block; text-align: center; width: 155px; height: 38px; font-size: 16px; color: #fff; margin-right: 10px; background: #e11f28 }
.part3Con .result a.returnCart{height: 40px; border:1px solid #ececec; background: #fff; color: #333}
.part3Con .none p i,.part3Con .none p em{display: none;}
.part3Con .none .blist{display: none}



/* 积分 */
.use-account {padding: 10px 0 0 0; margin-bottom: 5px;}
.account-summary {float: right; text-align: right; width: 300px; padding-right: 20px;}
.account-summary label {display: block;}
.account-summary .bbottom {border-bottom: 1px dashed #ccc; padding-bottom: 10px; margin-bottom: 15px;}
.account-summary input {vertical-align: -2px; margin-right: 3px; border: 1px solid #e6e6e6; padding: 5px; border-radius: 2px;}
.use-input, .use-tip {display: none;}
#usePcount, #useBcount {width: 70px; vertical-align: 0; padding: 5px; border: 1px solid #e6e6e6; border-radius: 2px;}
.use-tip {padding: 5px 0; text-align: right; color: #999;}
.use-tip label {color: #333;}
.account-summary input[type=checkbox] { display: inline-block; vertical-align: middle; width: 15px; height: 15px; margin-left: 5px; -webkit-appearance: none; background-color: transparent; border: 0; outline: 0 !important; line-height: 15px; color: #d8d8d8; border-radius: 2px; padding: 0;}
.account-summary input[type=checkbox]:checked{ background-color: #37AF6E; border-color: #37AF6E;}
.account-summary input[type=checkbox]:after { content: ""; display:block; width: 15px; height: 15px; text-align: center; line-height: 14px; font-size: 13px; color: #fff; border: 1px solid #ddd; background-color: #fff; box-sizing:border-box; border-radius: 2px;}
.account-summary input[type=checkbox]:checked:after { content: "L"; transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0); -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0); border: 0; background: transparent;}
.account-summary .discharge{margin-left: 25px; display: none;}
.account-summary .discharge.show{display: inline;}
.account-summary .discharge em{font-size: 14px;}
.paypwd{margin-top: 20px;}


/* 弹出层 */
#bg{position: fixed; left:0; top:0; width: 100%; height: 100%; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; z-index:1002;display: none;}
.popup,.popup1{position: fixed; _position: absolute; left: 50%; top:50%; width: 742px; height: 462px; margin-left:-372px; margin-top:-207px; background: url(../images/bg.png);display: none; z-index: 2000 }
.popCon{ width: 730px; height: 450px; margin:6px; background: #fff;   }
.popCon .tip,.popCon ul{width:700px;margin:0 auto;}
.popCon .tip{ height: 44px;  font-size: 16px; border-bottom: 1px solid #ececec; line-height: 44px}
.popCon .tip i{width:12px; height: 12px; background: url(../images/address.png) 0 -54px; margin: 16px 10px 0 0; cursor:pointer; ;}
.popCon ul{margin-top:35px;}
.popCon ul li{width: 100%; line-height: 35px; font-size: 14px; margin-top: 20px;}
.popCon ul li dl{overflow: hidden;}
.popCon ul li dt{float: left; width: 100px; height: 35px; text-align: right}
.popCon ul li dd{position: relative; overflow: hidden;}
.popCon ul li font{color: #e54e54; margin-right: 5px}
.popCon ul li input{float: left; width: 200px; height: 33px; line-height: 33px; border:1px solid #ececec; padding:0 5px; margin-right: 10px;}
#address {width: 400px;}
#addrlist {float: left; margin-right: 10px;}
.popCon ul li dd.cue{font-size: 12px; color: #999}
.popCon ul li dd.confirm a{display: block; width: 125px; height: 36px; border-radius: 5px; text-align: center; line-height: 36px; color: #fff; font-size: 14px; background: #e11f28}
.popCon ul li dd select{height: 33px; line-height: 33px; border:1px solid #ececec; padding:0 6px; margin-right:  2px; max-width: 140px;}

.input-tips {float: left; display:none; color: #666; font-size: 12px;}
.input-tips s {display: inline-block; width: 17px; height: 17px; margin: -3px 5px 0 0; vertical-align: middle; background: url('../images/icon-status.png') 0 -296px;}
.popCon ul li.error .input-tips{display: inline-block;}
.popCon ul li.error input {border-color: #f76120;}
