

/*面包屑*/
.bread{width:100%; height:40px; border-bottom:1px solid #ececec; background: #fff;}
.bread p{width: 1000px; margin: 0 auto; line-height: 40px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 14px; color: #333; margin: 0 3px;}


/* 购物车有商品时 */
.have{width: 1000px; margin:0 auto 38px; overflow:hidden ;}
.w1200 .have{width: 1200px}
.have .state{width: 100%; height: 85px;}
.have .state span{width: 115px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; margin-top:25px; border-radius:5px; background:#139bce}
.have .state  a{ color: #fff; font-size: 14px}
.have .state ul{width: 570px; height: 85px;}
.have .state li{position: relative; float: left; width: 190px;}
.have .right li div{position: relative; padding-top:20px;}
.have .right li i{ display: block; width: 22px; height:26px; margin:0px auto; line-height:30px; text-align: center; font-size: 14px; color: #fff; background: url(../images/icon.png) no-repeat;  background-position:-22px 0; }
.have .right li em{display: block; line-height: 45px; text-align: center; font-size: 14px; color:#333}
.have .right li s{position: absolute;right:0; top:0; height: 32px; border-bottom: 4px solid #d5d5d5}
.have .right li.one s{width: 95px;}
.have .right li.two s{width: 190px;}
.have .right li.three s{width: 190px}
.have .right li.on s{border-color: #e11f28}
.have .right li.on i{background-position:0px 0; }


.swrap {padding: 40px 0 50px; margin: -100px 0 50px; background: #fafafa;}
.s-title {position: relative; padding: 0 0 0 70px; font-size: 35px; font-weight: 700; list-style: 40px;}
.s-title small {display: block; font-size: 14px; color: #666; font-weight: 500;}
.s-title s {position: absolute; left: 0; top: 3px; width: 50px; height: 50px; background: url('../images/icon-status.png') no-repeat;}
.success s {top: 5px; background-position: 0 -367px;}

.s-con p.s-addr {padding-left: 72px;}

.s-con {padding-top: 35px; font-size: 16px; color: #666;}
.s-con p {padding: 5px 0;}
.s-con a:hover {text-decoration: underline;}
.s-con .price {color: #ff667f;}
.s-con em {padding: 0 5px; color: #ccc; font-size: 14px;}

.s-con .prolist {position: relative; padding-left: 80px;}
.s-con .prolist strong {position: absolute; left: 0; top: 5px;}

.m-pop {position: relative; display: inline-block; margin-top: 5px; border: 1px solid #cbcbcb; background-color: #fff; padding: 10px 13px;}
.m-pop s, .m-pop i {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.m-pop s {border-width: 7px; left: 215px; top: -8px; border-top-width: 0; border-bottom-color: #cbcbcb;}
.m-pop i {border-width: 6px; top: 1px; left: -6px; border-top-width: 1px; border-bottom-color: #fff;}
.m-pop p {font-size: 12px; line-height: 25px; padding: 0;}


.s-con ul{overflow:hidden;}
.s-con ul.title {border-bottom: 2px solid #b2d1ff; margin-bottom: 10px;}
.s-con ul.title li{float:left; height:46px; line-height: 46px; font-size: 14px; color: #333; text-align:center}
.s-con li.t0{width: 10px}
.s-con ul.title li.om {float: right;}
.s-con li.t1{text-align: left; width:8%; }
.s-con ul.title .t1{text-align: left;}
.s-con li.t2{width:24%; margin-left: 20px; font-size: 12px;}
.s-con li.t2 small {font-size: 12px; color: #999; margin-top: 5px; display: block;}
.s-con ul.title .t11 {width: 32%; margin-right: 40px; text-align: left;}

.s-con .name span{font-size: 14px; margin-left:20px;}
.s-con font{color: #999; font-size: 14px;}
.s-con s{display: inline-block; vertical-align: middle; width: 16px; height:16px; background: url(../images/icon.png) -84px 0; margin:0 10px;}
.s-con s a {display: block; height: 16px;}
.s-con .name{height: 40px; line-height: 40px; background: #f7f7f7}
.sp{padding: 10px 0 10px 0;}
.sp li{float: left; }
.sp img{float: right; vertical-align: top; width:95%;}
.sp label{font-size: 14px; color: #999}
.sp span{font-size: 14px; color:#333;}
.sp .t1{margin-left: 10px;}
.sp .t3{float: right;}
.sp .t3 span, .sp .t3 i {display: inline-block; vertical-align: middle;}
.sp .t3 span {width: 75px; text-align: center; line-height: 25px;}
.w1200 .sp .t3 span {width: 90px;}
.sp .t3 span em {display: block; color: #999; font-size: 12px;}
.sp .t3 span strong {font-weight: 500;}

.sj {margin-top: 50px;}
.sj .bz {margin-top: 10px; padding: 10px 20px; background: #f2f6ff; font-size: 12px;}


.sum{padding-left: 25px; font-size: 14px; margin-top: 30px; background:#fff; }
.sum .right{margin-right: 10px; float: none; text-align: right; margin-top: 10px;}
.sum .right span{display: inline-block; line-height: 55px; font-size: 14px; color: #333}
.sum .right em,.sum .right font{color:#e11f28 }
.sum .right font{font-size: 26px; }
