<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}-互联网招聘求职网-{#$job_title#}</title>
<meta name="keywords" content="{#$detail_title#},招聘网,招聘信息,互联网招聘" />
<meta name="description" content="{#$detail_title#},招聘网,求职网,互联网招聘,{#$cfg_shortname#}招聘是互联网领域垂直招聘网站,互联网职业机会尽在{#$cfg_shortname#}招聘" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/company_zp.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$job_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var pageUrl = '{#$detail_domain#}';
	var pointLon = {#$detail_lnglat[0]#}, pointLat = {#$detail_lnglat[1]#}, title = '{#$detail_title#}', pointAddr = '{#$detail_addr[0]#} {#$detail_addr[1]#} {#$detail_address#}';
	var site_map = '{#$site_map#}';
</script>
</head>

<body>
{#$pageMark = "company"#}
{#include file="top.html"#}

<div class="wrap">
	<div class="box box1 fn-clear">
		<div class="logo"><i></i><img src="{#$detail_logo#}" alt="{#$detail_title#}" /></div>
		<div class="txt">
			<div class="title fn-clear">
				<div class="cname">{#$detail_title#}</div>
				<div class="ctaglist">
					{#if $detail_license#}<a class="ctag ctag-renzhen" title="认证企业" style="cursor:default;"></a>{#/if#}
					<a class="ctag ctag-pic"></a>
					<!-- <a class="ctag ctag-shipin"></a>
					<a class="ctag ctag-weixin"></a>
					<a class="ctag ctag-qq"></a>
					<a class="ctag ctag-ewm"></a> -->
				</div>
			</div>
			<p><span>行业：{#$detail_industry[1]#}</span><span>规模：{#$detail_scale#}</span><span>性质：{#$detail_nature#}</span><span>主页：<a href="http://{#$detail_site#}" target="_blank">{#$detail_site#}</a></span></p>
			<p>地址：{#$detail_addr[0]#} {#$detail_addr[1]#} {#$detail_address#}</p>
			<div class="link">
				<a href="{#$detail_domain#}" class="curr">企业首页</a>
				{#if $detail_pics|@count > 0#}<a href="{#getUrlPath service='job' template='company-album' id={#$detail_id#}#}">企业相册({#$detail_pics|@count#})</a>{#/if#}
				{#if $detail_pcount > 0#}<a href="{#getUrlPath service='job' template='company-job' id={#$detail_id#}#}">招聘职位({#$detail_pcount#})</a>{#/if#}
				<a href="{#getUrlPath service='job' template='company-salary' id={#$detail_id#}#}">工资({#$detail_wcount#})</a>
			</div>
		</div>
		<div class="ewm"></div>
	</div>
	<div class="box box2">
		<div class="pt pt1">
			<h2 class="title">企业简介</h2>
			{#$detail_body#}<br /><br />
		</div>
		{#if $detail_pics|@count > 0#}
		<div class="pt">
			<h2 class="title">企业相册</h2>
			<ul class="photo fn-clear">
				{#foreach from=$detail_pics item=pic key=k#}
				{#if $k < 6#}
				<li><a href="{#$pic.pic#}" target="_blank" title="{#$pic.title#}"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$pic.pic#}" alt="{#$pic.title#}"></a></li>
				{#/if#}
				{#/foreach#}
			</ul>
			<div class="more"> <a href="{#getUrlPath service='job' template='company-album' id={#$detail_id#}#}">查看所有照片({#$detail_pics|@count#})&gt;&gt;</a> </div>
		</div>
		{#/if#}
		{#if $detail_lnglat[0] && $detail_lnglat[1]#}
		<div class="pt" id="map">
			<h2 class="title">企业地图</h2>
			<div id="dituContent"></div>
		</div>
		{#/if#}
		{#if $detail_pcount > 0#}
		<div class="pt">
			<h2 class="title">招聘职位</h2>
			<ul class="joblist fn-clear">
				{#job action="post" return="post" company={#$detail_id#} page=1 pageSize=10#}
				<li>
					<div class="inner">
						<a href="{#$post.url#}#jobDetail" class="name">{#$post.title#}</a>
						<p>{#$post.educational#}&nbsp;|&nbsp;{#$post.experience#}经验</p>
						<p class="pi"><i class="icon-wage"></i>{#$post.salary#}</p>
						<p class="pi"><i class="icon-place"></i>{#$post.addr[0]#}&nbsp;&nbsp;{#$post.addr[1]#}</p>
					</div>
					<div class="bg"></div>
				</li>
				{#/job#}
			</ul>
			<div class="more"> <a href="{#getUrlPath service='job' template='company-job' id={#$detail_id#}#}">全部职位({#$detail_pcount#})&gt;&gt;</a> </div>
		</div>
		{#/if#}
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/companyh.js"></script>
</body>
</html>
