<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>高端设计</title>
<meta name="keywords" content="{#$website_keywords#}"/>
<meta name="description" content="{#$website_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all"/>
<link rel="stylesheet" href="{#$templets_skin#}css/common.css">
<link rel="stylesheet" href="{#$templets_skin#}css/sheji.css">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
</head>
<body class="w1200">

  {#$pageCurr = 'design'#}
  {#include file="top.html"#}

  <!-- 顶部banner s-->
  <div class="banner"><img src="{#$templets_skin#}images/5.jpg" alt=""></div>
  <!-- 顶部banner e-->

  <div class="sheji">
    <p class="title">高端设计能为您带来什么</p>
    <ul class="txt-list fn-clear">
      <li>提升品牌形象</li>
      <li class="orange">提升品牌价值</li>
      <li>包装企业品牌网站</li>
      <li class="orange">针对企业品牌宣传定位</li>
    </ul>
  </div>

  <div class="gray">
    <div class="confidence fn-clear">
      <div class="map fn-left"><img src="{#$templets_skin#}images/map.png" alt=""></div>
      <div class="txtbox fn-right">
        <p class="title">您的信心来源</p>
        <p>{#$cfg_shortname#}在全国有500名优秀设计师，200名顶尖资深设计师为您量身打造品牌网站</p>
        <p>{#$cfg_shortname#}有17年的行业经验累积，服务超过30万客户</p>
        <p>{#$cfg_shortname#}在全国70多个城市，有近80家分公司</p>
      </div>
    </div>
  </div>

  <div class="bgfff mtop">
    <div class="wrapper">
      <ul class="tab fn-clear">
        <li class="curr"><span>PC官网设计服务</span></li>
        <li><span>移动官网设计服务</span></li>
      </ul>
      <div class="content">
        <ul class="fn-clear">
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i1.png" alt=""></dt>
              <dd>
                <p class="fw">指定设计师服务</p>
                <p>{#$cfg_shortname#}的高级设计师、资深设计师都是拿过设计大赛奖项，并且从业年限五年以上，创意设计规划经验丰富。可根据客户需求策划网站，提供设计策划创意理念。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i2.png" alt=""></dt>
              <dd>
                <p class="fw">形象首页</p>
                <p class="subp">3-5个工作日</p>
                <p>根据企业品牌VI整体风格，进行网站整站风格创意设计，使用在网站首页和各频道页。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i3.png" alt=""></dt>
              <dd>
                <p class="fw">内容页面(PC官网)</p>
                <p class="subp">1-2个工作日</p>
                <p>根据企业网站展示内容的需要，定制设计独特的内容展示区创意。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i4.png" alt=""></dt>
              <dd>
                <p class="fw">Html5 JS特效</p>
                <p class="subp">5-10个工作日</p>
                <p>宣传品牌、产品，制作的特效使网页增加互动性。JavaScript使有规律的、重复的HTML文段简化，减少下载时间。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i5.png" alt=""></dt>
              <dd>
                <p class="fw">交互型Flash</p>
                <p class="subp">5-10个工作日</p>
                <p>根据客户主题思路和提供的素材，设计师进行动画的制作，包含1个主场景动画、4个互动场景动画。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i6.png" alt=""></dt>
              <dd>
                <p class="fw">Flash动画</p>
                <p class="subp">3-5个工作日</p>
                <p>10秒为一个单位，不足10秒按10秒计算。根据客户主题思路和提供的素材，设计师进行动画的制作，多用于展示，不包含手绘、程序开发</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i7.png" alt=""></dt>
              <dd>
                <p class="fw">广告设计</p>
                <p class="subp">1-2个工作日</p>
                <p>宣传品牌、产品，网站通栏广告创意设计。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i8.png" alt=""></dt>
              <dd>
                <p class="fw">图片处理</p>
                <p class="subp">50张/1个工作日</p>
                <p>根据企业提供的产品图片资料，进行图片的处理。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i9.png" alt=""></dt>
              <dd>
                <p class="fw">视频格式转换</p>
                <p class="subp">1-2个工作日</p>
                <p>根据企业提供的视频，进行格式转换，能在网站页面上播放。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i10.png" alt=""></dt>
              <dd>
                <p class="fw">免费修改服务</p>
                <p class="subp">1个工作日</p>
                <p>免费内容：联系方式、公司名称、公司介绍。（在不改变动画效果、页面设计布局、不新增页面的情况下，进行文字和图片的修改。一年内不计修改次数）</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i11.png" alt=""></dt>
              <dd>
                <p class="fw">翻译服务</p>
                <p class="subp">3-5个工作日</p>
                <p>中互译英、法、德、日、韩、俄、西班牙、葡萄牙；以WORD文档中“审阅”-“字数统计”-“字符数（不计空格）”数</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i12.png" alt=""></dt>
              <dd>
                <p class="fw">资料拍照</p>
                <p class="subp">3-5个工作日</p>
                <p>3-5个工作日 新签网站首次免费。包括：1、企业形象、企业文化含：办公大楼、厂区全景、生产车间、办公环境、员工餐厅宿舍、厂区绿化、生产设备等；2、总裁照片、员工形象3、企业形象、资质证书等（8张以内）；4、ICP备案负责人照片（1张）。</p>
              </dd>
            </dl>
          </li>
        </ul>
        <ul class="fn-clear fn-hide">
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i1.png" alt=""></dt>
              <dd>
                <p class="fw">指定设计师服务</p>
                <p>{#$cfg_shortname#}的高级设计师、资深设计师都是拿过设计大赛奖项，并且从业年限五年以上，创意设计规划经验丰富。可根据客户需求策划网站，提供设计策划创意理念。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i13.png" alt=""></dt>
              <dd>
                <p class="fw">手机版首页</p>
                <p class="subp">3-5个工作日</p>
                <p>根据企业品牌VI整体风格，进行网站整站风格创意设计，使用在网站首页和各频道页。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i14.png" alt=""></dt>
              <dd>
                <p class="fw">客户端欢迎页</p>
                <p class="subp">1-2个工作日</p>
                <p>根据企业网站展示内容的需要，定制设计独特的内容展示区创意。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i15.png" alt=""></dt>
              <dd>
                <p class="fw">内容页面（移动官网）</p>
                <p class="subp">5-10个工作日</p>
                <p>宣传品牌、产品，制作的特效使网页增加互动性。JavaScript使有规律的、重复的HTML文段简化，减少下载时间。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i16.png" alt=""></dt>
              <dd>
                <p class="fw">客户端图标</p>
                <p class="subp">5-10个工作日</p>
                <p>根据客户主题思路和提供的素材，设计师进行动画的制作，包含1个主场景动画、4个互动场景动画。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i17.png" alt=""></dt>
              <dd>
                <p class="fw">Flash动画</p>
                <p class="subp">3-5个工作日</p>
                <p>10秒为一个单位，不足10秒按10秒计算。根据客户主题思路和提供的素材，设计师进行动画的制作，多用于展示，不包含手绘、程序开发</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i18.png" alt=""></dt>
              <dd>
                <p class="fw">图片处理</p>
                <p class="subp">50张/1个工作日</p>
                <p>根据企业提供的产品图片资料，进行图片的处理。</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i19.png" alt=""></dt>
              <dd>
                <p class="fw">免费修改服务</p>
                <p class="subp">1个工作日</p>
                <p>免费内容：联系方式、公司名称、公司介绍。（在不改变动画效果、页面设计布局、不新增页面的情况下，进行文字和图片的修改。一年内不计修改次数）</p>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="fn-clear">
              <dt><img src="{#$templets_skin#}images/i20.png" alt=""></dt>
              <dd>
                <p class="fw">翻译服务</p>
                <p class="subp">3-5个工作日</p>
                <p>中互译英、法、德、日、韩、俄、西班牙、葡萄牙；以WORD文档中“审阅”-“字数统计”-“字符数（不计空格）”数</p>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="step">
        <p>服务流程</p>
        <img src="{#$templets_skin#}images/step.png" alt="">
      </div>
      <div class="type">
        <p>套餐类型</p>
        <ul class="fn-clear">
          <li class="icon1">
            <i></i>
            <div class="cat-name">经济型</div>
            <div class="cat-des">适用于企业展示的内容不多的企业</div>
          </li>
          <li class="icon2">
            <i></i>
            <div class="cat-name">标准型</div>
            <div class="cat-des">适用于中小规模或初创型企业，以展示产品、介绍服务为主</div>
          </li>
          <li class="icon3">
            <i></i>
            <div class="cat-name">营销型</div>
            <div class="cat-des">适用于以产品展示营销为主；首页展示的内容丰富；</div>
          </li>
          <li class="icon4">
            <i></i>
            <div class="cat-name">高端品牌型</div>
            <div class="cat-des">适用于中等或较大规划企业，对网站的设计和功能有很高的要求 </div>
          </li>
        </ul>
      </div>
      <div class="case">
        <p class="title">我们的案例</p>
        <p class="subtit">行业领先的性价比，打造优质高端官网，提升品牌形象，让您把钱花在刀刃上。</p>
        <div class="casebox">
          <a href="javascript:;" class="prev btn"></a>
          <a href="javascript:;" class="next btn"></a>
          <div class="slide">
            <ul class="fn-clear">
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c1.jpg" alt="">
                  <p class="trade">服装行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c2.jpg" alt="">
                  <p class="trade">房地产业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c3.jpg" alt="">
                  <p class="trade">餐饮行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c4.jpg" alt="">
                  <p class="trade">服装行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c5.jpg" alt="">
                  <p class="trade">餐饮行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c6.jpg" alt="">
                  <p class="trade">服装行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c7.jpg" alt="">
                  <p class="trade">餐饮行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c8.jpg" alt="">
                  <p class="trade">餐饮行业</p>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="{#$templets_skin#}images/c9.jpg" alt="">
                  <p class="trade">服装行业</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 底部 s -->
	{#include file="bottom.html"#}
  <!-- 底部 e -->

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$templets_skin#}js/sheji.js" charset="utf-8"></script>
</body>
</html>
