body, html{font-size: .28rem;}

.header-search{visibility: hidden;}
.container{padding: .3rem; color: #000;}
.title{font-size: .32rem; margin-bottom: .2rem;}
.time{text-align: right; color: #919191; font-size: .26rem; margin-top: .1rem;}
