body, html{font-size: .3rem;}

.header-search{visibility: hidden;}
.list{padding: 0 .3rem;}
.item{border-bottom: 1px solid #f2f2f2; padding: .3rem 0 .15rem;}
.item .title{height: .4rem; line-height: .4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: .15rem; color: #000;}
.item .desc{color: #919191; font-size: .28rem; line-height: .38rem; max-height: .76rem; overflow: hidden; margin-bottom: .05rem;}
.item .time{text-align: right; font-size: .24rem; color: #919191;}
.empty, .loading{line-height: 1rem; text-align: center;}
