<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var flashSize = {#$flashSize#}, flashType = "*.swf;",
	thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",
	adminPath = "{#$adminPath#}", modelType = 'house';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="loupan" id="loupan" value="{#$loupan#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">全景标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{2,60}" maxlength="60" value="{#$title#}" />
      <span class="input-tips"><s></s>请输入全景标题，2-60个汉字</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>缩略图：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic_" value="{#$litpic#}" class="imglist-hidden" id="litpic_">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label>全景类型：</label></dt>
    <dd class="radio">
      <input name="litpic" type="hidden" id="litpic" value="{#$file#}" />
      {#html_radios name="typeidArr" values=$typeidArr checked=$typeid output=$typeidNames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $typeid == 0#}
  <dl class="clearfix" id="type0">
  {#else#}
  <dl class="clearfix hide" id="type0">
  {#/if#}
    <dt>上传图片：</dt>
		<dd class="listImgBox hide">
			<div class="btn-section clearfix">
				<div class="uploadinp filePicker" id="filePicker2" data-type="quanj" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>添加图片</span></div>
				<div class="upload-tip">
					<p><a href="/include/360panorama.php?f=" class="btn-mini btn-link{#if ($typeid == 0 && $file == "") || ($typeid == 1)#} hide{#/if#}" id="previewQj">预览</a>&nbsp;&nbsp;{#$thumbType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M，最多6张图片<span class="fileerror"></span></p>
				</div>
			</div>
			<div class="list-holder qj360">
				<ul id="listSection2" class="clearfix listSection piece"></ul>
        <ul class="picbg"><li>前</li><li>右</li><li>后</li><li>左</li><li>顶</li><li>底</li></ul>
				<input type="hidden" name="imglist" value='' class="imglist-hidden">
			</div>
		</dd>
  </dl>
  {#if $typeid == 1#}
  <dl class="clearfix" id="type1">
  {#else#}
  <dl class="clearfix hide" id="type1">
  {#/if#}
    <dt>上传文件：</dt>
		<dd>
			<input name="" type="hidden" id="videoUrl" value="{#$file#}" />
			<div class="spic{#if $file == ""#} hide{#/if#}">
				{#if $typeid == 1 && $file != ""#}
				<div class="sholder"><embed src="{#$cfg_attachment#}{#$file#}" type="application/x-shockwave-flash" quality="high" wmode="transparent"></div>
				<a href="javascript:;" class="reupload">重新上传</a>
				{#else#}
				<div class="sholder"></div>
				<a href="javascript:;" class="reupload"{#if $typeid != 1#} style="display: none;"{#/if#}>重新上传</a>
				{#/if#}
			</div>
			<iframe src ="/include/upfile.inc.php?mod=house&type=thumb&obj=videoUrl&filetype=flash" style="width:100%; height:25px; {#if $typeid == 1 && $file != ""#} display:none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>
		</dd>
  </dl>
  {#if $typeid == 2#}
  <dl class="clearfix" id="type2">
  {#else#}
  <dl class="clearfix hide" id="type2">
  {#/if#}
    <dt><label for="url">远程地址：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="url" id="url" value="{#$file#}" data-regex="[a-zA-z]+:\/\/[^\s]+" />
      <span class="input-tips"><s></s>请输入网址，以http://开头</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
