<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}", atlasMax = 0;  //图集配置
var imglist = {"list1": {#$imglist#},},
	adminPath = "{#$adminPath#}", modelType = 'house';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="loupanid" id="loupanid" value="{#$loupanid#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="action" id="action" value="{#$action#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">相册名称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="title" id="title" value="{#$title#}" maxlength="60" data-regex=".{2,60}" />
      <span class="input-tips"><s></s>请输入相册名称，2-60位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>上传图片：</dt>
		<dd class="listImgBox hide">
			<div class="list-holder">
				<ul id="listSection2" class="clearfix listSection"></ul>
				<input type="hidden" name="imglist" value='{#$imglist#}' class="imglist-hidden">
			</div>
			<div class="btn-section clearfix">
				<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="999" data-size="{#$atlasSize#}" data-imglist="list1"><div id="flasHolder"></div><span>添加图片</span></div>
				<div class="upload-tip">
					<p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
				</div>
			</div>
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="weight">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
