<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var flashSize = {#$flashSize#}, flashType = "*.swf;",
	thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",
	adminPath = "{#$adminPath#}", modelType = 'house';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="loupan" id="loupan" value="{#$loupan#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">视频标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{2,60}" maxlength="60" value="{#$title#}" />
      <span class="input-tips"><s></s>请输入视频标题，2-60个汉字</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>缩略图：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label>视频类型：</label></dt>
    <dd class="radio">
      {#html_radios name="videotype" values=$videotypeArr checked=$videotype output=$videotypeNames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $videotype == 0#}
  <dl class="clearfix" id="type0">
  {#else#}
  <dl class="clearfix hide" id="type0">
  {#/if#}
    <dt>上传视频：</dt>
    <dd>
      <input name="video" type="hidden" id="video" value="{#if $videotype == 0#}{#$videourl#}{#/if#}" />
      <div class="spic{#if $videotype == 1 || ($video == 0 && $videourl == "")#} hide{#/if#}">
        <div class="sholder" id="videoPreview">
          {#if $videotype == 0 && $videourl != ""#}
            <a href="/include/videoPreview.php?f=" data-id="{#$videourl#}">预览视频</a>
          {#/if#}
        </div>
        <a href="javascript:;" class="reupload">重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod={#$action#}&type=video&obj=video&filetype=video" style="width:100%; height:25px;{#if $videotype == 0 && $videourl != ""#} display: none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </dd>
  </dl>
  {#if $videotype == 1#}
  <dl class="clearfix" id="type1">
  {#else#}
  <dl class="clearfix hide" id="type1">
  {#/if#}
    <dt><label for="videourl">视频地址：</label></dt>
    <dd><input class="input-xxlarge" type="text" name="videourl" id="videourl" value="{#if $videotype == 1#}{#$videourl#}{#/if#}" placeholder="目前仅支持第三方平台的通用代码播放" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
