<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var addr = {#$addrid#}, addrListArr = {#$addrListArr#}, newstypeid = {#$houseNewstypeid#}, newsListArr = {#$newsListArr#}, module = '{#$module#}', adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="name">标签说明：</label></dt>
    <dd>
      <input type="text" class="input-large" name="name" id="name" value="{#$name#}" />
      <span class="help-inline">为了方便管理，请输入标签说明！</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="type">栏目：</label></dt>
    <dd>
      <select name="type" id="type" class="input-medium">
        {#html_options options=$typeList selected=$type#}
      </select>
    </dd>
  </dl>
  <dl class="clearfix{#if $type == "houseNews"#} hide{#/if#}" id="addrList">
    <dt><label for="addr">所属区域：</label></dt>
    <dd><select name="addr" id="addr" class="input-large"></select></dd>
  </dl>
  <div id="loupanList" class="listitem{#if $type != "loupan" && $type != ""#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="loupanprice1" name="loupanprice1" type="text" value="{#$loupanprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="loupanprice2" name="loupanprice2" type="text" value="{#$loupanprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="loupanprotype">物业类型：</label></dt>
      <dd>
        <select name="loupanprotype" id="loupanprotype" class="input-large">
          {#html_options options=$protypeList selected=$loupantypeid#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="loupanorderby">排序：</label></dt>
      <dd>
        <select name="loupanorderby" id="loupanorderby" class="input-large">
          {#html_options options=$loupanorderbyList selected=$loupanorderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="listingList" class="listitem{#if $type != "listing"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="listingprice1" name="listingprice1" type="text" value="{#$listingprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="listingprice2" name="listingprice2" type="text" value="{#$listingprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="listingroom">房型：</label></dt>
      <dd>
        <select name="listingroom" id="listingroom" class="input-large">
          {#html_options options=$roomList selected=$listingroom#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="listingorderby">排序：</label></dt>
      <dd>
        <select name="listingorderby" id="listingorderby" class="input-large">
          {#html_options options=$listingorderbyList selected=$listingorderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="communityList" class="listitem{#if $type != "community"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="communityprice1" name="communityprice1" type="text" value="{#$communityprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="communityprice2" name="communityprice2" type="text" value="{#$communityprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="communityprotype">物业类型：</label></dt>
      <dd>
        <select name="communityprotype" id="communityprotype" class="input-large">
          {#html_options options=$protypeList selected=$communitytypeid#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="communityorderby">排序：</label></dt>
      <dd>
        <select name="communityorderby" id="communityorderby" class="input-large">
          {#html_options options=$communityorderbyList selected=$communityorderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="saleList" class="listitem{#if $type != "sale"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="saleprice1" name="saleprice1" type="text" value="{#$saleprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="saleprice2" name="saleprice2" type="text" value="{#$saleprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="saleroom">房型：</label></dt>
      <dd>
        <select name="saleroom" id="saleroom" class="input-large">
          {#html_options options=$roomList selected=$saleroom#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>面积范围：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="salearea1" name="salearea1" type="text" value="{#$salearea1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="salearea2" name="salearea2" type="text" value="{#$salearea2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>建筑年代：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="salebuildage1" name="salebuildage1" type="text" value="{#$salebuildage1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="salebuildage2" name="salebuildage2" type="text" value="{#$salebuildage2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="saleprotype">物业类型：</label></dt>
      <dd>
        <select name="saleprotype" id="saleprotype" class="input-large">
          {#html_options options=$protypeList selected=$saleprotype#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>楼层范围：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="salefloor1" name="salefloor1" type="text" value="{#$salefloor1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="salefloor2" name="salefloor2" type="text" value="{#$salefloor2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="salenature">性质：</label></dt>
      <dd class="radio">
        {#html_radios name="salenature" values=$natureopt checked=$saletype output=$naturenames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="saleorderby">排序：</label></dt>
      <dd>
        <select name="saleorderby" id="saleorderby" class="input-large">
          {#html_options options=$saleorderbyList selected=$saleorderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="zuList" class="listitem{#if $type != "zu"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="zuprice1" name="zuprice1" type="text" value="{#$zuprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="zuprice2" name="zuprice2" type="text" value="{#$zuprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="zuroom">房型：</label></dt>
      <dd>
        <select name="zuroom" id="zuroom" class="input-large">
          {#html_options options=$roomList selected=$zuroom#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="zuprotype">物业类型：</label></dt>
      <dd>
        <select name="zuprotype" id="zuprotype" class="input-large">
          {#html_options options=$protypeList selected=$zuprotype#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="zuzhuangxiu">装修情况：</label></dt>
      <dd>
        <select name="zuzhuangxiu" id="zuzhuangxiu" class="input-large">
          {#html_options options=$zhuangxiuList selected=$zuzhuangxiu#}
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="zurentype">出租方式：</label></dt>
      <dd class="radio">
        {#html_radios name="zurentype" values=$zurentypeopt checked=$zurentype output=$zurentypenames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="zunature">性质：</label></dt>
      <dd class="radio">
        {#html_radios name="zunature" values=$natureopt checked=$zutype output=$naturenames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="zuorderby">排序：</label></dt>
      <dd>
        <select name="zuorderby" id="zuorderby" class="input-large">
          {#html_options options=$zuorderbyList selected=$zuorderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="xzlList" class="listitem{#if $type != "xzl"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="xzldemandopt">供求：</label></dt>
      <dd class="radio">
        {#html_radios name="xzldemandopt" values=$xzldemandopt checked=$xzltype output=$xzldemandnames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="xzlprice1" name="xzlprice1" type="text" value="{#$xzlprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="xzlprice2" name="xzlprice2" type="text" value="{#$xzlprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>面积范围：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="xzlarea1" name="xzlarea1" type="text" value="{#$xzlarea1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="xzlarea2" name="xzlarea2" type="text" value="{#$xzlarea2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="xzlorderby">排序：</label></dt>
      <dd>
        <select name="xzlorderby" id="xzlorderby" class="input-large">
          {#html_options options=$xzlorderbyList selected=$xzlorderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="spList" class="listitem{#if $type != "sp"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="spdemandopt">供求：</label></dt>
      <dd class="radio">
        {#html_radios name="spdemandopt" values=$spdemandopt checked=$sptype output=$spdemandnames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="spprice1" name="spprice1" type="text" value="{#$spprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="spprice2" name="spprice2" type="text" value="{#$spprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>面积范围：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="sparea1" name="sparea1" type="text" value="{#$sparea1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="sparea2" name="sparea2" type="text" value="{#$sparea2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="sporderby">排序：</label></dt>
      <dd>
        <select name="sporderby" id="sporderby" class="input-large">
          {#html_options options=$xzlorderbyList selected=$sporderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="cfList" class="listitem{#if $type != "cf"#} hide{#/if#}" style="background:#f5f5f5; padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="cfdemandopt">供求：</label></dt>
      <dd class="radio">
        {#html_radios name="cfdemandopt" values=$cfdemandopt checked=$cftype output=$cfdemandnames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>价格区间：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="cfprice1" name="cfprice1" type="text" value="{#$cfprice1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="cfprice2" name="cfprice2" type="text" value="{#$cfprice2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>面积范围：</dt>
      <dd>
        <div class="input-prepend input-append" style="margin:0">
          <span class="add-on">从</span>
          <input class="input-mini" id="cfarea1" name="cfarea1" type="text" value="{#$cfarea1#}" />
          <span class="add-on">到</span>
          <input class="input-mini" id="cfarea2" name="cfarea2" type="text" value="{#$cfarea2#}" />
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="cforderby">排序：</label></dt>
      <dd>
        <select name="cforderby" id="cforderby" class="input-large">
          {#html_options options=$xzlorderbyList selected=$cforderby#}
        </select>
      </dd>
    </dl>
  </div>
  <div id="houseNewsList" class="listitem{#if $type != "houseNews"#} hide{#/if#}" style="padding:5px 0;">
    <dl class="clearfix">
      <dt><label for="newstype">信息分类：</label></dt>
      <dd>
        <select name="newstype" id="newstype" class="input-large"></select>
      </dd>
    </dl>
  </div>
  <dl class="clearfix">
    <dt><label for="start">开始时间：</label></dt>
    <dd>
      <input class="input-medium" type="text" name="start" id="start" date-language="ch" value="{#$start#}" />
      <span class="help-inline">如不限制，留空即可！</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="end">结束时间：</label></dt>
    <dd>
      <input class="input-medium" type="text" name="end" id="end" date-language="ch" value="{#$end#}" />
      <span class="help-inline">如不限制，留空即可！</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="expbody">过期显示内容：</label></dt>
    <dd><textarea rows="5" class="input-xxlarge" name="expbody" id="expbody">{#$expbody#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd>
      <button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button>
      <a class="btn btn-link ml30" href="javascript:;" id="preview">预览</a>
    </dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
