/* 重置默认设置 */
html, body {height: 100%;}
.wrap, .w1200 .wrap {width: 100%; min-width: 1000px;}
.top {padding: 0 10px;}
.userinfo, .topbar .logreg {float: right;}
.topbar .topbarlink {float: left;}
.topbar .topbarlink .index a {padding: 0 10px;}

/* 头部 */
.header {min-width: 1200px; height: 78px; background-color: #fff; border-bottom: 1px solid #b5b9c0; position: relative; z-index: 10; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);}

/* logo */
.header .logo {float: left; width: 180px; height: 48px; margin: 15px 20px;}
.header .logo a, .header .logo img {max-width: 180px; max-height: 48px; }

/* 搜索 */
.header .msearch {float: left; margin-left: 60px; line-height: 75px;}
#skey {height: 34px; line-height: 34px; width: 400px; border: 1px solid #dedede; border-radius: 2px 0 0 2px; border-right-width: 0; padding-left: 10px; padding-right: 6px; font-size: 12px; vertical-align: middle;}
#sbtn {display: inline-block; height: 36px; width: 36px; vertical-align: middle; background-color: #de1e30; border-radius: 0 2px 2px 0; text-align: center; cursor: pointer;}
#sbtn s {display: block; margin: 10px auto 0; width: 20px; height: 20px; background: url('../images/map_sprite.png') 3px 0;}

.ui-autocomplete {position: absolute; z-index: 100; cursor: default; background-color: #fff; border: 1px solid #dedede; border-top: 0;}
.ui-menu-item {display: block; padding: 0 10px; height: 30px; line-height: 30px; cursor: pointer;}
.ui-state-focus {background-color: #f1f1f1;}
.ui-helper-hidden-accessible {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}


/* 客服热线 */
.header .tel {float: right; position: relative; padding-left: 20px; margin-right: 20px; line-height: 78px; font-size: 15px; color: #de1e30; font-weight: 700;}
.header .tel s {position: absolute; left: 0; top: 30px; width: 19px; height: 19px; background: url('../images/map_sprite.png') -15px 0;}

/* 内容 */
.map-box {position: relative; height: 100%; margin-top: -118px;}
.map {position: absolute; left: 325px; top: 118px; right: 0; bottom: 0; z-index: 1;}


/* 区域气泡 */
.bubble {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out; transition: background-color .15s ease-in-out; cursor: pointer;}
.bubble p {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.bubble-1 {background-color: #4285f4; background-color: rgba(66,133,244,0.9); box-shadow: 0 2px 2px rgba(0,0,0,0.2); border-radius: 50%; overflow: hidden; width: 92px; height: 92px; line-height: 1.6;}
.bubble-1 .name {font-size: 14px; font-weight: 800; margin-top: 24px;}
.bubble-1:hover {background-color:#e4393c; background-color:rgba(228,57,60,0.9)}


/* 楼盘气泡 */
.bubble-2 {color: #333;}
.bubble-2 .bubble-wrap {position: absolute; bottom: 28px; display: none; left: -10px; text-align: left; z-index: 10;}
.bubble-2:hover .bubble-wrap, .bubble-2.hover .bubble-wrap {display: block;}
.bubble-2 .bubble-inner {padding: 4px 0; background-color: #fff; border-radius: 2px; box-shadow: 0 10px 8px 0 rgba(0,0,0,0.1);}
.bubble-2 .bubble-inner p {padding: 2px 10px;}
.bubble-2 .bubble-inner .name {height: 20px; line-height: 20px; font-weight: 800;}
.bubble-2 .bubble-inner .num {height: 20px; line-height: 20px; position: relative; z-index: 2;}
.bubble-2 .bubble-inner .house-type {font-weight: 800; margin-right: 6px;}
.bubble-2 .bubble-inner .price {font-family: Tahoma; color: #de1e30; margin-left: 2px; margin-right: 2px; font-weight: 800;}
.bubble-2 .bubble-inner i {font-style: normal;}
.bubble-2 .bubble-inner .gt {display: none; color: #999999; position: absolute; right: 5px; font-size: 14px; -webkit-transform: scale(1, 1.2); -moz-transform: scale(1, 1.2); -ms-transform: scale(1, 1.2); transform: scale(1, 1.2);}
.bubble-2 .arrow {position: absolute; left: 10px; bottom: -8px; display: block; border: 8px solid transparent; border-left-color: #fff; width: 0; height: 0; margin: 0 auto; z-index: 1;}
.bubble-2 .arrow .arrow-i {display: none; border: 6px solid transparent; border-top-color: #fff; width: 0; height: 0; position: absolute; top: -7px; left: -6px;}
.bubble-2 .cycle {background-color: #4285f4; border-radius: 50%; width: 20px; height: 20px; border: 1px solid #1658c4; position: absolute; left: 50%; margin-left: -10px; bottom: 6px;}
.bubble-2.clicked .bubble-wrap {display: block;}

.bubble-3 .bubble-wrap {display: block;}
.bubble-3 .bubble-wrap .name {font-size: 12px; font-weight: 700; text-align: center; background-color: #fff; text-indent: 0;}
.bubble-3 .bubble-wrap .num {display: none;}
.bubble-3:hover .num, .bubble-3.clicked .num, .bubble-3.hover .num {display: block;}
.bubble-3:hover .name,.bubble-3.clicked .name, .bubble-3.hover .name {text-align: left;}

/* 周边信息气泡 */
.bubble-4 {color: #333; width: 18px; height: 18px;}
.bubble-4 .close {position: absolute; z-index: 1; right: -110px; top: -105px; width: 20px; height: 20px; line-height: 20px; font-size: 14px; text-align: center; color: #fff; border-radius: 50%; background: #666;}
.bubble-4 .bubble-inner {width: 198px; padding: 10px; border-radius: 2px; position: absolute; bottom: 18px; left: 50%; margin-left: -107px; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2); background: #fff;}
.bubble-4 .bubble-inner .tle {height: 18px; line-height: 18px; color: #000; font-weight: 700; text-indent: 24px; text-align: left; margin-bottom: 6px; background: #fff url('../images/around.png') no-repeat 0 -119px;}
.bubble-4 .bubble-inner .around-container {width: 208px;}
.bubble-4 .bubble-inner .around-li {float: left; width: 70px; height: 18px; margin-right: 10px; padding-left: 24px; line-height: 18px; text-align: left; background: #fff url('../images/around.png') no-repeat; color: #333;}
.bubble-4 .bubble-inner .arrow {position: absolute; left: 50%; bottom: -8px; display: block; border: 8px solid transparent; border-left-color: #fff; width: 0; height: 0; z-index: 1;}
.bubble-4 .bubble-inner .arrow .arrow-i {display: none; border: 6px solid transparent; border-top-color: #fff; width: 0; height: 0; position: absolute; top: -7px; left: -6px;}
.bubble-4 .cycle {background-color: #4285f4; border-radius: 50%; width: 20px; height: 20px; border: 1px solid #1658c4; position: absolute; left: 50%; margin-left: -10px;}



/* 自定义缩放 */
.zoom-ctrl {font-size: 26px; line-height: 26px; position: absolute; z-index: 2; right: 20px; top: 140px; width: 26px; text-align: center; border: 1px solid #555; border-bottom-width: 0; background: #fff;}
.zoom-ctrl span {display: block; height: 26px; border-bottom: 1px solid #555; line-height: 23px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.zoom-ctrl .zoom-plus {font-size: 20px; line-height: 22px;}


/* 侧栏 */
.sidebar {position: absolute; left: 0; top: 118px; bottom: 0; z-index: 3; width: 324px; border-right: 1px solid #b5b9c0; background-color: #fff; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);}
.sidebar .map-os {position: absolute; right: -15px; top: 50%; margin-top: -56px; width: 14px; height: 56px; line-height: 56px; cursor: pointer; border: 1px solid #b5b9c0; border-left: 0; background-color: #fff; box-shadow: 3px 0 10px 0 rgba(0,0,0,0.2);}
.sidebar .map-os s, .sidebar .map-os i {position: absolute; width: 0; height: 0; border: 5px solid transparent;}
.sidebar .map-os s {top: 23px; left: -2px; border-right-color: #666;}
.sidebar .map-os i {top: -5px; left: -4px; border-right-color: #fff;}
.sidebar .map-os.open s {left: 4px; border-left-color: #666; border-right-color: transparent;}
.sidebar .map-os.open i {left: -6px; border-left-color: #fff; border-right-color: transparent;}


/* 筛选&排序 */
.f-o {position: relative; z-index: 3; height: 50px; border-bottom: 1px solid #ccc;}
.f-o>li {position: relative; z-index: 2; float: left; width: 50%; text-align: center; cursor: pointer;}
.f-o>li.curr {color: #de1e30;}
.f-o>li span {display: inline-block; max-width: 115px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 50px;}
.f-o>li s {display: inline-block; margin: 24px 0 0 4px; width: 0; height: 0; font-size: 0; border: 5px solid transparent; border-top-color: #dedede; vertical-align: top;}
.f-o>li.on s {margin-top: 18px; border-top-color: transparent; border-bottom-color: #999;}

/* 筛选 */
.filter {position: absolute; display: none; z-index: 2; left: 0; top: 51px; right: 0; bottom: 10px; padding: 20px 10px 0 0; overflow-y: auto; background-color: #fff; background-color: rgba(255,255,255,.98); -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.filter dl {margin-bottom: 15px;}
.filter dt {float: left; width: 50px; font-weight: 700; text-align: right; line-height: 12px; padding: 4px 0; margin-right: 5px;}
.filter dd {position: relative; overflow: hidden;}
.filter dd a {display: inline-block; height: 12px; padding: 5px 7px; margin: 0 12px 5px 0; text-decoration: none; line-height: 12px; border-radius: 2px; background: #f5f5f5;}
.filter dd a.on {color: #fff; border-color: #666; background: #666;}

/* 均价 */
.sj {margin-top: 15px;}
.sj dt {line-height: 15px;}
.sj dd {padding: 0 20px 0 8px; height: 55px;}
#sjObj {display: block; height: 5px; background: #ccc; position: relative; margin: 10px 0;}
#sjObj.ui-slider-horizontal .ui-slider-range {background: #078ff8; height: 5px; position: absolute;}
.ui-slider-handle.ui-state-default.ui-corner-all {position: absolute; top: -5px; width: 17px; height: 14px; background: url('../images/sliderhor.png'); cursor: pointer;}
.ui-slider-horizontal .ui-slider-handle {margin-left: -8px;}
#sjTxt {text-align: center; line-height: 30px; font-size: 14px;}

/* 筛选按钮 */
.filter-clean {text-align: right; padding-right: 10px;}
.filter-clean a {text-decoration: underline;}
.filter-btns {text-align: center; margin: 20px 10px;}
.filter-btns a {width: 100px; height: 40px; border-radius: 2px; line-height: 40px; font-size: 14px; letter-spacing: 2px; text-decoration: none; color: #666; background-color: #f5f5f5;}
.filter-btns a.filter-confirm {float: left; width: 140px; color: #fff; background-color: #de1e30;}
.filter-btns a.filter-cancel {float: right;}


/* 排序 */
.orderby {display: none; position: absolute; z-index: 1; top: 50px; left: -1px; right: 0; line-height: 30px; border-radius: 0 0 2px 2px; border: 1px solid #ddd; background-color: #fff; padding-top: 6px; padding-bottom: 6px; cursor: default; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.orderby a {display: block;}
.orderby a.on {color: #de1e30;}


/* 列表 */
.lcount {position: relative; z-index: 2; padding: 0 10px; margin-right: 11px; line-height: 35px; background-color: #fff;}
.lcount strong {color: #de1e30; padding: 0 5px;}
.list {position: relative; margin: -15px 0 0 0; overflow: hidden;}
.mCSB_inside>.mCSB_container {margin-right: 10px;}
.list .loading, .list .empty {line-height: 200px; text-align: center;}
.list dl {margin: 0 10px;}
.list dl, .hxlist .loupan {padding: 20px 0; border-bottom: 1px solid #dfdfdf; cursor: pointer;}
.list dl:hover, .hxlist .loupan:hover {background-color: #f5f5f5;}
.list dt, .hxlist .loupan dt {float: left; width: 120px; height: 100px; margin-right: 15px;}
.list dt img, .hxlist .loupan img {width: 120px; height: 100px; display: block;}
.list dd, .hxlist .loupan dd {position: relative; overflow: hidden;}
.list dd h2, .hxlist .loupan dd h2 {font-size: 18px; font-weight: 700; margin-bottom: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.list dd p, .hxlist .loupan dd p {line-height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #666;}
.list dd p.price, .hxlist .loupan dd p.price {line-height: 28px;}
.list dd p.price strong, .hxlist .loupan dd p.price strong {font-weight: 700; color: #de1e30; font-size: 15px; padding: 0 2px; vertical-align: -1px;}

/* 户型列表 */
.hxlist {position: absolute; z-index: 5; background: #fff; left: -324px; top: 0; bottom: 0; width: 304px; padding: 20px 10px 10px;}
.hxlist .closehx {position: absolute; right: -41px; top: -1px; width: 40px; height: 40px; text-align: center; line-height: 35px; font-size: 40px; color: #fff; background: #8c8c8c; text-decoration: none; font-family: georgia; overflow: hidden; cursor: pointer; transition: all 0.2s linear;}
.hxlist a:hover.closehx {background-color: #333;}
.hxlist .loupan {border-bottom: 0; padding: 0;}
.hxlist .hcount {height: 25px; line-height: 25px; background-color: #f1f1f1; padding: 0 5px; margin-top: 10px;}
.hxlist .hcount strong {color: #de1e30; padding: 0 5px;}
.hxlist .con {position: absolute; left: 10px; top: 165px; right: 5px; bottom: 10px; overflow-y: auto;}
.hxlist .con .hx-list {padding-right: 10px;}
.hxlist .con dl {margin-bottom: 15px; padding: 10px 0 20px; border-bottom: 1px solid #dfdfdf;}
.hxlist .con dl:last-child {border-bottom: 0;}
.hxlist .con dt {float: left; position: relative; width: 100px; height: 75px; margin-right: 10px;}
.hxlist .con dt img {width: 100px; height: 75px; display: block;}
.hxlist .con dt span {padding: 0 5px; margin: 3px 0 0 3px; height: 20px; color: #fff; display: inline-block; background: #333; filter: alpha(opacity=80); opacity: .8; font-size: 12px; line-height: 20px; text-align: center; position: absolute; left: 0; top: 0;}
.hxlist .con dd {position: relative; overflow: hidden; color: #333;}
.hxlist .con dd h3 {font-size: 14px; font-weight: 700;}
.hxlist .mCSB_inside>.mCSB_container {margin-right: 20px;}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #999;}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background-color: #999;}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {background-color: #999;}
