.w-videolist-container {
	zoom:1;
	display:inline-block;
	*display:inline;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	padding:0;
	margin:0;
	list-style:none
}
.w-videolist-container li {
	overflow:hidden;
	position:relative
}
.w-videolist-container li .text {
	overflow:hidden
}
.w-videolist-container li .text .title {
	font-size:14px;
	line-height:1.8em
}
.w-videolist-container li .text .title a {
	color:#0B3B8D;
	outline:0 none;
	text-decoration:none
}
.w-videolist-container li .text .title a:hover {
	color:#CC0000;
	text-decoration:underline
}
.w-videolist-container li .text .title a.category {
	color:#333;
	padding-right:5px
}
.w-videolist-container li .text .time {
	float:right;
	color:#999;
	font-size:12px
}
.w-videolist-container li .text p {
	line-height:1.5;
	font-size:12px;
	color:#666
}
.w-videolist-container li img {
	padding:3px;
	border:1px solid #eee
}
.w-videolist-container .li-image {
	padding:5px
}
.w-videolist-container .li-image .image {
	float:left;
	margin-right:10px
}
.w-videolist-container .li-group {
	float:left;
	margin:5px
}
.w-videolist-container .li-group .image {
	display:block
}
.w-videolist-container .li-group .text {
	display:block;
	text-align:center
}
.w-videolist-container .li-group .text a {
	font-size:12px
}



/* 分页 */
.pagination {
	margin:20px 0;
	text-align:center;
}
.pagination li a {
	color: #222;
}
.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a, .pagination ul>.active>span {
	background-color: #f5f5f5;
	color: #222;
	text-decoration: none;
}
.pagination ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul>li {
	display: inline;
	line-height: 25px;
}
.pagination li em {
	float: left;
	padding: 8px 10px 15px;
	color: #ccc;
	background: #fff;
	border: 1px solid #ddd;
	border-left: none;
	line-height: 10px;
}
.pagination ul>li>a, .pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 25px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
	color: #999;
	cursor: default;
	background-color: transparent;
}
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}
.pagination ul>.active>a, .pagination ul>.active>span {
	color: #999;
	cursor: default;
}