.ui-share-dialog {
	}.ui-share-dialog-content {
	padding:0 20px
}
.ui-share-dialog .ui-tab-triggers {
	overflow:hidden;
	zoom:1;
	padding:8px 0
}
.ui-share-dialog .ui-tab-trigger {
	display:inline-block;
	font-size:14px;
	line-height:14px;
	height:14px;
	padding:8px 15px;
	color:#FFF;
	margin-right:10px;
	cursor:pointer
}
.ui-share-dialog .ui-tab-trigger:hover,.ui-share-dialog .ui-tab-trigger.active.active {
	background-color:#252525
}
.ui-share-dialog .ui-tab-trigger:first-child {
	margin-left:0
}
.ui-share-dialog .ui-tab-trigger:last-child {
	margin-right:0
}
.ui-share-dialog .ui-tab-content {
	display:none;
	padding:0 0 10px;
	width:400px;
	height:220px
}
.ui-share-dialog .ui-tab-content.slide {
	margin-left:-10px;
	margin-right:-10px
}
.ui-share-dialog .ui-tab-content:first-of-type {
	display:block
}
.w-share-item {
	background:#ffffff;
	border:solid 1px #cccccc;
	margin-bottom:10px;
	padding:3px 5px 3px 8px;
	overflow:hidden;
	zoom:1;
	float:left
}
.w-share-item:hover {
	border-color:#20AB51;
	box-shadow:0 0 5px #20AB51
}
.w-share-item.active {
	border-color:#25B86F;
	box-shadow:0 0 5px #25B86F
}
.w-share-item input {
	float:left;
	margin-right:5px
}
.w-share-item i {
	float:right
}
.w-share-item.icon-1 input {
	margin-top:6px
}
.w-share-item.icon-2 input {
	margin-top:6px
}
.w-share-item.icon-3 input {
	margin-top:15px
}
.w-share-item.button-2,.w-share-item.button-4 {
	float:right;
	margin-right:20px
}
.w-share-item.button-6,.w-share-item.button-8 {
	float:right
}
.w-share-item.button input {
	margin-top:9px
}
.w-share-item.text input {
	margin-top:5px
}
.w-share-item.slide {
	margin:0 10px 10px
}
.w-share-item.slide input {
	margin-top:40px
}
.ui-share-dialog .ui-dialog-footer a {
	float:left;
	margin-top:3px;
	cursor:pointer;
	color:#bbb
}
