body {font-family: 'microsoft yahei';}
.mt20 {margin-top: 20px;}

/* 头部 */
.header {padding: 0 0 10px;}
.header .logo {float: left; width: 227px; height: 60px; margin-top: 5px;}
.header .logo a, .header .logo img {height:60px; display: block;}
.header .weatherInfo {float: left; height: 25px; overflow: hidden; margin: 20px 0 0 25px;}
.header .weatherInfo li {float: left; margin-right: 10px;}
.header .weatherInfo li .date {display: none;}
.header .weatherInfo li .pic img {width: 20px; height: 22px; vertical-align: middle; margin: 0 2px;}
.header .weatherInfo li span {padding-right: 5px;}
.header .service {float: right; _width: 400px;}
.header .service li {float: left; width: 65px; height: 65px; margin-left: 25px; text-align: center; line-height: 20px; font-size: 14px;}
.header .service li a {display: block;}
.header .service li a i {width: 46px; height: 46px; display: block; margin: 0 auto; background: url('../images/sprite.png') no-repeat; _background: url('../images/sprite_.png') no-repeat;}
.header .service li.sale a i {background-position: 0 -44px;}
.header .service li.lease a i {background-position: 0 -89px;}
.header .service li.renter a i {background-position: 0 -134px;}

/* 导航条 */
.nav {position: relative; z-index: 20; height: 57px; line-height: 57px; background: url('../images/bgx.png') repeat-x; border-bottom: 1px solid #c3c3c3;}
.nav .navbg {position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 57px; background: url('../images/bgnav.png') no-repeat center top;}
.nav .wrap {position: relative; z-index: 2;}
.nav li {position: relative; float: left; line-height: 57px; font-size: 16px; margin-right: 1px;}
.w1200 .nav li {font-size: 18px;}
.nav li a {padding: 0 13px; display: block; color: #fff;}
.w1200 .nav li a {padding: 0 18px;}
.nav li a:hover {color: #fff;}
.nav li.current a, .nav li.on a {background: #ad1010;}
.nav li dl {display:none; position: absolute; left: 0; top: 57px; width: 110px; padding: 5px 0; background: rgba(0,0,0,.6)!important; background: #666; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.nav li.current dl {display: block;}
.nav li dd {display: block; line-height: 30px;}
.nav li dd a {font-size: 14px;}
.nav li dd a:hover {text-decoration: underline;}
.nav li.current dd a {background: none;}


/* 面包屑 */
.crumb {height: 25px; line-height: 25px; padding: 15px 0; font-size: 14px;}
.crumb a {color: #666;}


/* 底部链接 */
.footer {height: 220px; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #eee; margin-top: 30px; background: #f5f5f5; box-shadow: 1px 2px 3px rgba(0,0,0,.06) inset; -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.06) inset; -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.06) inset;}
.footer li {float: left; width: 170px; border-right: 1px solid #ddd; margin: 44px 25px 0 0;}
.w1200 .footer li {width: 190px; margin: 44px 49px 0 0;}
.footer li.last {width: 210px; margin-right: 0; border-right: 0;}
.footer li dt {width: 100%; float: left; font-size: 24px; color: #000; margin-bottom: 10px; text-align: left;}
.footer li dd {width: 100%; float: left; line-height: 30px;}
.footer li dd a {float: left;}
.footer li dd em {float: left; font-style: normal; margin: 0 13px; color: #ccc;}

/* 版权 */
.copyright {padding: 10px 0 20px; text-align: center; line-height: 24px; color: #aaa;}
.copyright .link {padding: 10px 0; color: #ddd;}
.copyright .link a {padding: 0 10px 0 8px;}
