.Business{
	width: 675px;
	float: left;
	margin:0 22px;
}
/*幻灯片*/
.flash{
	width: 675px;
	height: 350px;
	overflow: hidden;
	margin-top: 20px;
	position: relative;
}
.flash img{
	position: absolute;
}
.flash .slideshow-item{
	position: relative;
	height: 350px;
}
.flash .slideinfo{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.flash .slideinfo h3{
	z-index: 2;
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.flash .slideinfo h3 a{
	color: #fff;
	font-size: 18px;
	width: 450px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.flash .hd{
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 2;
}
.flash .hd ul li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #7d7c77;
	margin-right: 10px;
	cursor: pointer;
}
.flash .hd ul li.on{
	background: #fff;
}



/*公用导航栏*/
.NewsNav {
	background: #f4f4f4;
	height: 50px;
	line-height: 50px;
	width: 675px;
}
.NewsNav ul li {
	float: left;
	width: 100px;
	text-align: center;
	font-size: 16px;
	position: relative;
}
.NewsNav ul li:after{
	content:"";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 2px;
	background: #23b8f6;
	display: none;
}
.NewsNav ul li.NewsNav_bc:after{
	display: block;
}

.NewsNav ul li:hover i{
	background-position: -32px -65px;
}
.NewsNav span{
	float: left;
	width: 75px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	font-size: 16px;
}
.NewsNav span a{
	display: block;
	font-weight: 600;
	font-weight: normal;
}
.NewsNav span i{
    width: 17px;
    height: 10px;
    background: url(../images/artile.png) no-repeat;
    background-position: -6px -7px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}
.NewsNav span:hover .more_list{
	display: block;
}
.more_list{
	position: absolute;
	right: 0;
	top: 50px;
	width: 675px;
	z-index: 3;
	background: rgba(244, 244, 244, 0.86);
	display: none;
    -webkit-animation: topFadeIn .3s ease-out;
    -moz-animation: topFadeIn .3s ease-out;
    animation: topFadeIn .3s ease-out;
}
.more_list ul li{
	float: left;
}
.more_list ul li a{
	font-weight: normal;
}


/*商家列表*/
.BN_list{
	margin-top: 10px;
}
.BN_detail{
	padding: 25px 5px;
	border-bottom: 1px solid #e6e6e6;
}
.BN_detail:hover{
	background: rgba(241, 241, 241, 0.39);
}
.BN_detail .BN_pic{
	float: left;
	width: 166px;
	height: 130px;
	margin-right: 20px;
  border: 1px solid #ededed;
}
.BN_detail .BN_pic a{
	display: block;
}
.BN_detail .BN_pic img{
	width: 166px;
	height: 130px;
}
.BN_detail .BN_title{
    position: relative;
    overflow: hidden;
    height: 30px;
}
.BN_detail .BN_title a{
	font-size: 20px;
	font-weight: bold;
	float: left;
	height: 28px;
	line-height: 28px;
}
.BN_detail .BN_title i{
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/infor.png) no-repeat;
}
.BN_detail .BN_title i.wai{
	background-position:-5px -175px;
}
.BN_detail .BN_title i.pin{
	background-position:-45px -175px;
}
.BN_detail .BN_title i.tuan{
	background-position:-84px -175px;
}
.BN_detail .BN_title i.qi{
	background-position:-124px -175px;
}
.BN_detail .BN_title i.ding{
	background-position:-164px -175px;
}
.BN_detail .BN_title i.bao{
	background-position:-206px -175px;
}
.evaluate{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin-top: 5px;
}
.evaluate .star{
	width: 120px;
	height: 25px;
	background: url(../images/star_1.png) repeat-x ;
	float: left;
	margin-right: 10px;
	vertical-align: text-bottom;
}
.evaluate .star i{
	width: 50%;
	height: 25px;
	background: url(../images/star.png) repeat-x ;
	display: block;
}
.evaluate em{
	margin-right: 5px;
}
.BN_detail .tel{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	overflow: hidden;
	margin-top: 10px;
}
.BN_detail .tel i{
	width: 25px;
	height: 30px;
	display: inline-block;
	background: url(../images/infor.png) no-repeat;
	background-position:-46px -141px;
	vertical-align: middle;
	margin-right: 5px;
}
.detail_foot{
	font-size: 14px;
	margin-top: 8px;
}
.detail_foot .place{
	float: left;
	width: 300px;
}
.detail_foot .place em{
	color: #34bdf6;
}
.detail_foot .place span{
	margin: 0 5px;
}
.detail_foot i{
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #ededed;
	display: block;
}
.detail_foot .share_box{
	float: right;
}
.detail_foot .Share:hover i{
	background: #23b8f6;
}
.detail_foot .Share{
	position: relative;
	width: 26px;
	height: 26px;
    float: left;
    margin-right: 6px;
}
.detail_foot .Share a{
	width: 26px;
	height: 26px;
	display: inline-block;
	border-radius: 100%;
	background: url(../images/infor.png) no-repeat;
    padding: 0;
    margin: 0;
}
.detail_foot .Share a:hover{
	opacity: 1;
}
.detail_foot .Share_QQ a{
	background-position: -224px -7px;
}
.detail_foot .Share_weixin a{
	background-position: -299px -7px;
}
.detail_foot .Share_weibo a{
	background-position: -261px -7px;
}


.load-add{
	width: 100%;
	height: 53px;
	line-height: 53px;
	text-align: center;
	font-size: 14px;
	background: #f8f8f8;
	color: #bfbfbf;
	margin-top: 30px;
	cursor: pointer;
}
.load-add:hover{
	background: #23b8f6;
	color: #fff;
}
.loading{
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
}
.loading img{
    vertical-align: text-bottom;
    margin-right: 10px;
}



/*右侧资讯汇总*/
.Information{
	float: left;
	width: 351px;
	overflow: hidden;
}
.issue{
	width: 371px;
	height: 62px;
	margin-top: 20px;
	width: 351px;
	height: 62px;
	background: url(../images/btn_bc.png) no-repeat center;
	background-size: 355px;
	text-align: center;
	line-height: 62px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}
.issue a{
	display: block;
}
.Infor_list{
	margin-top: 20px;
	width: 351px;
}
.Infor_list .Infor_lead{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	border-left: 3px solid #23b8f6;
	padding-left: 10px;
}
.carousel{
	height: 338px;
	overflow: hidden;
}
.carousel_lead{
	margin-bottom: 10px;
}
.Coupon{
	padding: 0 20px;
	background: #f8f8f8;
	margin-top: 10px;
}
.Coupon .Coupon_TxT {
	padding: 10px 0;
	font-size: 14px;
	position: relative;
	border-bottom: 1px dashed #cacaca;
}
.Coupon .Coupon_TxT .cou_pic{
	float: left;
	width: 66px;
	height: 66px;
	border-radius: 100%;
	margin-right: 10px;
	background: url(../images/pic.png) no-repeat center;
}
.Coupon .Coupon_TxT .cou_pic img{
	width: 66px;
	height: 66px;
	border-radius: 100%;
}
.Coupon .Coupon_TxT .cou_name .get{
	position: absolute;
	right: 0;
	bottom: 30px;
	padding: 0 10px;
	border: 1px solid #23b8f6;
	border-radius: 5px;
}
.Coupon .Coupon_TxT .cou_name .get a{
	color: #23b8f6;
}
.Coupon .Coupon_TxT .cou_name .get:hover{
	background: #23b8f6;
	border: 1px solid #fff;
}
.Coupon .Coupon_TxT .cou_name .get:hover a{
	color: #fff;
}
.Coupon .Coupon_TxT .cou_name ul{
	margin-top: 8px;
}
.Coupon .Coupon_TxT .cou_name ul li{
	height: 25px;
	line-height: 25px;
	width: 172px;
	overflow: hidden;
}
.shop_list{
    padding: 5px 0px;
    background: #f8f8f8;
    margin-top: 10px;
}
.shop{
	padding: 10px 20px;
	border-bottom: 1px dashed #cacaca;
	font-size: 14px;
}
.shop h1{
	position: relative;
	overflow: hidden;
	height: 20px;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.shop .shop_pic{
	float: left;
	width: 128px;
	height: 82px;
	margin-right: 10px;
	/*background: url(../images/per.png) no-repeat center;*/
}
.shop .shop_pic img{
	width: 128px;
	height: 82px;
}
.shop .tel{
	margin: 8px 0;
	height: 24px;
}
.shop .tel i{
	width: 25px;
	height: 24px;
	display: inline-block;
	background: url(../images/infor.png) no-repeat;
	background-position: -46px -143px;
	vertical-align: middle;
	margin-right: 5px;
}
.shop .location em{
	float: left;
}
.shop .location span{
	float: right;
	color: #b1b1b1;
}
.shop .online {
	color: #b9b9b9;
	margin: 7px 0 12px;
}
.shop .online em{
	color: #000;
	margin-left: 5px;
}
.shop .minute a{
	float: right;
	color: #23b8f6;
}
.Qrcode{
	margin-top: 20px;
}
.Qrcode ul{
	width: 380px;
}
.Qrcode ul li{
	width: 165px;
	height: 200px;
	float: left;
	margin-right: 18px;
}
.Qrcode ul li img{
	width: 146px;
	height: 146px;
	padding: 10px;
	border: 1px solid #e1e1e1;
}
.Qrcode ul li p{
	text-align: center;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}
.mnbtn{
	height: 100px;
	font-size: 16px;
	text-align: center;
	display: block;
	line-height: 100px;
}
