body{background: #f5f5f5;}
select{border: 0;outline: 0;background:transparent;width: 100%}

/*正文开始*/
.nav-box{background: #fff;}
.nav-wrap{display: -webkit-box;height: .8rem;}
.nav-wrap a{display: block;line-height: .8rem;font-size: .3rem;border-bottom: 1px solid #e9e9e9;height: .8rem;width: 33%;text-align: center;}
.nav-wrap a.active{border-bottom: 2px solid #e43;color: #e43;height: .76rem}
.calculator-tab{display: -webkit-box;padding: .4rem .32rem;background-color: #f8f8f8;}
.calculator-tab .tab-item{-webkit-box-flex: 1;width: 0;height: .55rem;line-height: .55rem;box-sizing: border-box;border: 1px solid #E43;text-align: center;font-size: .25rem;color: #e43;}
.calculator-tab .active{background: #e43;color: #fff;}
.calculator-tab .tab-item:first-child {border-top-left-radius: .06rem;border-bottom-left-radius: .06rem;}
.calculator-tab .tab-item:last-child {border-top-right-radius: .06rem;border-bottom-right-radius: .06rem;}
.form-item{display: -webkit-box;padding: 0 .3rem;height: .8rem;line-height: .8rem;font-size: .26rem;background-color: #fff;border-bottom: 1px solid #eee;}
.form-item .item-label{display: block;width: 1.6rem;color: #999;}
.form-item .item-input-box, .form-item .item-select-box, .form-item .item-radio-box, .form-item .item-value-box {position: relative;-webkit-box-flex: 1;}
.item-select-box .select-value{display: block;}
.form-item input{display: block;width: 100%;padding: .14rem 0;line-height: .52rem;font-size: .26rem;border: 0;outline: 0;}
.form-item .item-unit{color: #999;position: absolute;right: 0;top: 0;}
.h-select{position: absolute;width: 100%;height: 100%;left: 0;top: .8rem;background: #fff;z-index: 101;display: none;}
.h-select li{background: #fff;}
.form-section{margin-bottom: .3rem;}
.form-btn-box{padding: 0 .3rem;height: 1.6rem;}
.generate-btn{height: .8rem;line-height: .8rem;font-size: .3rem;color: #fff;text-align: center;background: #e43;margin: .4rem 0 0 0;border-radius: .06rem;}
.generate-btn a{color: #fff;}
.form-much{display: none;}
.fund,.double{display: none;}
.double .form-item .item-label{width: 2rem;}
.double .form-section:first-child{margin-top: .3rem;}

/*计算结果*/
.result-tab{display: -webkit-box;border-bottom: 1px solid #e9e9e9;}
.result-tab .active{color: #E43;border-bottom: 2px solid #E43!important;}
.result-tab .tab-item {-webkit-box-flex: 1;width: 0;height: 1rem;line-height: 1rem;font-size: .3rem;text-align: center;border-bottom: 2px solid transparent;}
.shoufu,.last-month,.month{display: -webkit-box;padding: 0 .3rem;background-color: #FFF;border-bottom: 1px solid #e9e9e9;line-height: 1.1rem;}
.shoufu .shoufu-l,.last-month .last-month-l,.month .month-l{display: block;font-size: .26rem;}
.shoufu .shoufu-r,.last-month .last-month-r,.month .month-r{-webkit-box-flex: 1;margin-left: .4rem;font-size: .5rem;color: #E43;}
.result-info {padding: .6rem .3rem .3rem .3rem;}
.result-info-item{position: relative;}
.result-info-item .money-tit{position: absolute;left: 0;top: 0;padding-left: .18rem;font-size: .24rem;color: #666;background: url(../images/dot.png) left center no-repeat;background-size: .08rem .08rem;}
.jqm-round-wrap-1 {position: relative;width: 3.12rem;height: 3.12rem;margin: 0 auto .76rem auto;}
.jqm-round-sector{width: 3.12rem;height: 3.12rem;position: absolute;}
.jqm-round-circle {position: absolute;background-color: #f5f5f5;width: 3rem;height: 3rem;left: .06rem;top: .06rem;z-index: 10;border-radius: 50%;-webkit-border-radius: 50%;}
.jqm-round-circle .num {font-size: .4rem;line-height: 3.12rem;text-align: center;width: 100%;}
.jqm-round-circle .title {text-align: center;font-size: .28rem;position: absolute;left: 0;bottom: -0.26rem;width: 100%;}
.jqm-round-box {display: -webkit-box;padding-bottom: .8rem;}
.jqm-round-box .jqm-box-item {-webkit-box-flex: 1;}
.jqm-round-box .jqm-round-wrap-2 {position: relative;width: 2.16rem;height: 2.16rem;margin: 0 auto;}
.jqm-round-box .jqm-round-wrap-2 .jqm-round-sector {position: absolute;width: 2.16rem;height: 2.16rem;}
.jqm-round-box .jqm-round-wrap-2 .jqm-round-circle {position: absolute;background-color: #f5f5f5;width: 2.04rem;height: 2.04rem;left: .06rem;top: .06rem;z-index: 10;border-radius: 50%;-webkit-border-radius: 50%;}
.jqm-round-wrap-2 .jqm-round-circle .num {line-height: 2.16rem;}
.jqm-round-circle .title {text-align: center;font-size: .28rem;position: absolute;left: 0;bottom: -0.26rem;width: 100%;}
.jqm-round-circle .title-2 {margin-top: .2rem;}
.tips-info-item {font-size: .22rem;color: #999;line-height: .4rem;}
.tips-info-title {padding-bottom: .1rem;font-size: .24rem;color: #666;line-height: 100%;padding-left: .18rem;background: url(../images/dot.png) left center no-repeat;background-size: .08rem .08rem;}
.result-info-item-2 {margin-top: .5rem;}
.result-bottom {display: -webkit-box;padding: 0 .2rem;margin-top: .2rem;}
.result-bottom .result-bottom-item:first-child {margin-right: .3rem;}
.result-bottom .result-bottom-item {-webkit-box-flex: 1;width: 0;height: .56rem;line-height: .56rem;text-align: center;border: 1px solid #999;border-radius: .3rem;font-size: .24rem;}
.result-bottom .result-bottom-item {-webkit-box-flex: 1;width: 0;height: .56rem;line-height: .56rem;text-align: center;border: 1px solid #999;border-radius: .3rem;font-size: .24rem;}
.first-month,.last-month{display: none;}
.dis{display: webkit-box;}
#bj-info{display: none;}
.result-box{display: none;}
.form-item-sy{display: none;}
