body {background:#f4f4f4;margin-bottom:1.4rem!important;}
.basic {margin-bottom:.2rem;}
.zf_title {background:#fff;padding:0 .24rem;border-bottom:1px solid #eeeeee;}
.zf_title .title {font-size:.4rem;font-weight:bold;padding:.4rem 0 0 0;}
.zf_title .price {font-size:.4rem;color:#f1370b;padding:.24rem 0;}
.zf_title .price span.price_l {font-size:.22rem;color:#a0a0a0;}
.zf_title .price span {font-size:.28rem;padding-left:.3rem;}
.zf_title .txt {border-bottom:1px solid #eeeeee;padding:0 0 .28rem 0;}
.zf_title .txt span {width:25%;display:inline-block;text-align:center;font-size:.27rem;color:#9fa0ab;}
.zf_title .txt span.jubao {background:url(../images/jb_icon.png) .26rem center no-repeat;background-size:auto .28rem;}
.zf_title .txt span.fenxiang {background:url(../images/fx_icon.png) .26rem center no-repeat;background-size:auto .28rem;}
.zf_title .classification {padding:.3rem 0;border-bottom:1px solid #eeeeee;}
.zf_title .classification div {display:inline-block;width:33.33%;text-align:center;}
.zf_title .classification div p:first-child {font-size:.35rem;color:#333;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.zf_title .classification div p:last-child {font-size:.27rem;color:#9fa0ab;padding-top:.1rem;}
.zf_title .zf_address {display:block;padding:.3rem .3rem .3rem 0;color:#9fa0ab;font-size:.28rem;background:url(../images/right_icon.png) right center no-repeat;background-size:auto .28rem;}
.information {background:#fff;padding:.4rem .24rem;}
.information .im_img {width:.92rem;height:.92rem;overflow:hidden;border-radius:50%;float:left;}
.information .im_img img {width:.92rem;height:.92rem;}
.information .im_name {margin-left:.34rem;float:left;}
.information .im_name p:first-child {font-size:.3rem;font-weight:bold;margin-bottom:.1rem;}
.information .im_name p:first-child span {vertical-align:middle;height:.4rem;line-height:.4rem;display:inline-block;max-width:3.5rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.information .im_name p:first-child i {display:inline-block;width:.4rem;height:.4rem;margin-left:.06rem;}
.information .im_name p:first-child i.rz_01 {background:url(../images/rz_01.png) center no-repeat;background-size:auto .36rem;vertical-align:middle;}
.information .im_name p:first-child i.rz_02 {background:url(../images/rz_02.png) center no-repeat;background-size:auto .36rem;vertical-align:middle;}
.information .im_name p:last-child {color:#848cb4;padding:.06rem .16rem;display:inline-block;background:#f0f0f4;border-radius:.06rem;}
.information .im_icon {float:right;}
.information .im_icon span {display:inline-block;width:.66rem;height:.66rem;border-radius:50%;margin-top:.13rem;margin-left:.3rem;}
.information .im_icon .im_qq {background:#fee3dd url(../images/qq_icon.png) center no-repeat;background-size:auto .36rem;}
.information .im_icon .im_wx {background:#fee3dd url(../images/wx_icon.png) center no-repeat;background-size:auto .36rem;}
.information .im_icon .im_iphone {background:#fee3dd url(../images/iphone_icon.png) center no-repeat;background-size:auto .36rem;}
/*房源信息*/
.housing,.peitao,.zhoubian {background:#fff;padding:0 .24rem;margin-bottom:.2rem;}
.classify_title {font-size:.36rem;font-weight:bold;padding:.3rem 0;}
.housing .mode div {width:50%;float:left;font-size:.28rem;padding:.1rem 0;}
.housing .mode {padding:0 0 .3rem 0;border-bottom:1px solid #eeeeee;}
.housing .mode div span:first-child {color:#919191;vertical-align:middle;}
.housing .mode div span:last-child {display:inline-block;max-width:2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.housing .housing_txt {font-size:.28rem;padding:.3rem 0;line-height:.46rem;}
/*周边推荐*/
.periphery {background:#fff;margin-bottom:.2rem;}
.periphery .periphery_title {font-size:.36rem;font-weight:bold;padding:.3rem .24rem;background:#f4f4f4;}
.periphery ul {padding:0 .24rem;}
.periphery ul li {padding:.25rem 0;border-bottom:1px solid #eeeeee;}
.periphery ul li .rleft {width:1.93rem;height:1.46rem;position:relative;float:left;margin-right:.2rem;}
.periphery ul li .rleft img {position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;}
.periphery ul li .rright {position:relative;overflow:hidden;}
.periphery ul li .rright .rtitle {font-size:.32rem;}
.periphery ul li .rright .rtitle i {display:block;width:.6rem;height:.32rem;margin:.05rem .1rem 0 0;background:url(../images/topIcon.png) no-repeat center;background-size:cover;float:left;}
.periphery ul li .rright .rtitle p {max-width:3rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline-block;}
.periphery ul li .rright .rtitle em {font-size:.2rem;padding:.04rem .1rem;margin-left:.08rem;color:#fff;border-radius:.04rem;margin-top:.04rem;background:#bed7fa;}
.periphery ul li .rright .comment {font-size:.24rem;font-weight:300;line-height:.35rem;margin:.14rem 0;}
.periphery ul li .rright .comment span {color:#a0a0a0;}
.periphery ul li .rright .comment span.area {margin-left:.14rem;}
.periphery ul li .rright .addr span.addr_right {font-size:.3rem;color:#f35712;font-weight:bold;float:right;}
.periphery ul li .rright .addr span.addrdet {float:left;max-width:3.2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.periphery ul li .rright .addr {font-size:.24rem;color:#333;height:.4rem;line-height:.4rem;}
/*弹框*/
.desk {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:#000;opacity:.6 !important;z-index:1000;}
.wx_frame {width:5.18rem;height:5.18rem;background:#fff;position:fixed;z-index:1008;top:50%;margin-top:-2.59rem;left:50%;margin-left:-2.59rem;border-radius:.1rem;text-align:center;display:none;}
.wx_frame .ewm {width:3.6rem;height:3.6rem;overflow:hidden;display:inline-block;}
.wx_frame .ewm img {width:3.6rem;height:3.6rem;}
.wx_frame .ewm_title {font-size:.28rem;padding:.3rem 0 .2rem 0;}
.wx_frame .ewm_txt {font-size:.26rem;color:#a0a0a0;padding-top:.1rem;}
.wx_frame .wx_cuo {background:#f1370b url(../images/cuo.png) center center no-repeat;background-size:auto .26rem;display:inline-block;width:.5rem;height:.5rem;position:absolute;border-radius:50%;top:.2rem;right:.2rem;box-shadow:0px 2px 5px #f57c5f;}
/*qq*/
.qq_frame {width:5rem;height:3.16rem;z-index:1008;position:fixed;background:#fff url(../images/q_bg.png) 0 0 no-repeat;background-size:100%;top:50%;margin-top:-1.58rem;left:50%;margin-left:-2.5rem;border-radius:.1rem;overflow:hidden;display:none;text-align:center;}
.qq_frame .qq_icon {position:absolute;width:1.12rem;height:1.12rem;top:.5rem;left:50%;margin-left:-.56rem;border-radius:50%;box-shadow:0px 2px 7px #fdf7c2;background:#fff url(../images/qq_icon.png) center center no-repeat;background-size:auto .6rem;}
.qq_frame p {text-align:center;padding-top:2rem;font-size:.34rem;}
.qq_frame .qq_cuo {background:#fff url(../images/cuo_red.png) center center no-repeat;background-size:auto .26rem;display:inline-block;width:.5rem;height:.5rem;position:absolute;border-radius:50%;top:.3rem;right:.2rem;box-shadow:0px 2px 5px #fdf7c2;}
/*电话*/
.phone_frame {width:5rem;height:4rem;z-index:1008;position:fixed;background:#fff url(../images/q_bg.png) 0 0 no-repeat;background-size:100%;top:50%;margin-top:-2rem;left:50%;margin-left:-2.5rem;border-radius:.1rem;overflow:hidden;display:none;text-align:center;}
.phone_frame .phone_icon {position:absolute;width:1.12rem;height:1.12rem;top:.5rem;left:50%;margin-left:-.56rem;border-radius:50%;box-shadow:0px 2px 7px #fdf7c2;background:#fff url(../images/phone_p.png) center center no-repeat;background-size:auto .6rem;}
.phone_frame a {background:#f1370b;color:#fff;font-size:.32rem;height:.6rem;display:inline-block;line-height:.6rem;width:2rem;text-align:center;border-radius:.06rem;margin-top:.4rem;}
/*位置周边*/
.zhoubian .periphery ul li {border-bottom:none;}
.periphery .nav-wrapper {padding:0 0 .2rem;white-space:nowrap;overflow:auto}
.periphery .nav-wrapper .nav-item {display:inline-block;height:0.375rem;padding:.06rem .3rem;font-size:.22rem;line-height:0.375rem;color:#9399A5;margin:0 .14rem;}
.periphery .nav-wrapper .nav-item.disable {pointer-events:none}
.periphery .nav-wrapper .nav-item.active {color:#fff;font-weight:700;background:#f1502a;border-radius:.4rem;}
.periphery .map-wrapper {height:0;padding-bottom:62.7%}
.periphery .label-wrapper {position:relative}
.periphery .map-wrapper .self-label {font-family:PingFangSC-Regular;position:relative;padding:.16rem .25rem;font-size:.2rem;line-height:1;color:#101D37;letter-spacing:0;overflow:hidden;max-width:6.625rem;text-overflow:ellipsis;background:#FFF;box-shadow:0 0 .375rem 0 rgba(0,0,0,.2);-webkit-border-radius:1.46875rem;-moz-border-radius:1.46875rem;-ms-border-radius:1.46875rem;-o-border-radius:1.46875rem;border-radius:1.46875rem}
.periphery .more {font-family:PingFangSC-Medium;font-weight:700;display:inline-block;width:100%;height:3.125rem;line-height:3.125rem;margin-top:1.1875rem;font-size:1rem;color:#3072F6;letter-spacing:0;text-align:center;background:rgba(48,114,246,.05);border-radius:.3125rem;-webkit-border-radius:.3125rem;-moz-border-radius:.3125rem;-ms-border-radius:.3125rem;-o-border-radius:.3125rem}
.periphery .label-bottom-icon {position:absolute;content:'';bottom:-.125rem;left:50%;margin-left:-.25rem;width:0;height:0;transform:rotate(45deg);border:.25rem solid #FFF;border-top-color:transparent;border-left-color:transparent}
.periphery .map-link {position:absolute;width:100%;height:100%;z-index:100}
.periphery .map-container {position:relative;}
.periphery .bounce {animation-name:bounce;transform-origin:center bottom;animation-duration:.3s;animation-fill-mode:both}
.periphery .label-container {display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;width:7.875rem}
@keyframes bounce {0% {-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
100% {-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}

/*201903*/
.information .im_name p:first-child .sex {font-size: .24rem;margin-left: .1rem;color: #666;}
.wx_frame .ewm p:first-child {font-size: .4rem;padding:1rem 0;}
.wx_frame .ewm p:nth-child(2n) {font-size: .28rem;color: #a0a0a0;}