html{background-color: #fff;}
/*顶部*/
.top{ width: 100%; height: .9rem; background-color: #fff; position: relative;}
.page_title{width: 2.5rem; margin: auto; text-align: center; font-size: .34rem; color: #333; line-height: .9rem;}
.go_back{ position: absolute; left: .3rem; top: .26rem;}
.go_back i{display: inline-block; width: .3rem; height: .3rem; border-left:solid .03rem #9d9ea3 ;border-top:solid .03rem #9d9ea3 ; border-radius: 2px; transform: rotate(-45deg);}
 
 /*表单部分*/
.content-box{width: 100%; background-color: #fff;padding-top: .16rem; padding-bottom: .2rem;}
.content-box>dl{ margin-left: .3rem; margin-right: .3rem; margin-bottom: .4rem; overflow: hidden;}
.content-box>dl>dt{font-size: .36rem; color: #333; font-weight: bold; margin-bottom: .3rem; }
/*选择框的样式*/
.checkbox dd{ width: 2.12rem; height: .6rem; border: solid 1px #dcdde3; margin-bottom: .26rem;background-color: #fff; text-align: center; font-size: .26rem; line-height: .6rem; box-sizing: border-box; border-radius: .04rem; float: left;}
.checkbox dd:nth-child(3n){margin-left: .26rem; margin-right: .26rem;}
.checkbox dd.on{border: solid 1px #ffac54; background-color: #fff8ed;}
/*需求描述*/
.rep_box>dd{border:  solid 1px #dcdee3; border-radius: .04rem; box-sizing: border-box; margin-bottom: .24rem;}
.rep_box>dd input,.rep_box dd textarea{background: none; border: none; font-size: .28rem; margin-top: .26rem; }
.rep_box .descripe_req{border-top: solid 1px #dcdee3; padding-left: .14rem; padding-right: .14rem;}
.rep_box>dd >p{padding-bottom: .26rem; padding-left: .14rem; padding-right: .14rem;}
.rep_box>dd textarea{width: 100%; height: 2.2rem; resize: none; }
.rep_box .inpbox{max-width: 4rem; padding: 0; border: none; line-height: .26rem; float: left;}
.rep_box .inpbox>p{font-size: .24rem;float: left;}
.rep_box .num{float: right;color: #bbbcc4; font-size: .24rem;}
.rep_box .inpbox i{float:left;width: .22rem; height: .3rem; background-image: url(../images/posi.png) ; background-repeat: no-repeat; background-size: cover; margin-right: .1rem; vertical-align: middle;}
.position_box{width: 100%; overflow: hidden; font-size: .24rem; margin-bottom: .2rem;}
/*.position_box p:nth-child(1){float: left;}
.position_box p i{display: inline-block; width: .22rem; height: .3rem; background-image: url(../images/posi.png) ; background-repeat: no-repeat; background-size: cover; margin-right: .1rem; vertical-align: middle;}
.position_box p span{vertical-align: middle;}
.position_box p:nth-child(2){float: right; color: #bbbcc4; font-size: .24rem;}*/
.inpubox{float: left; width: 3.6rem; height: .32rem; border-radius: .04rem; border: solid 1px #dcdee3; padding: .16rem .10rem .24rem .18rem;overflow: hidden;}
.inpubox input{border: none; background: none; font-size: .3rem;  }
.radioBox{float: right; font-size: .3rem; color: #999aa1; }
.active{float: right;  position: relative;}
.active:nth-child(2){margin-right: .4rem;}
.check_left span{display: block; width: .36rem; height: .36rem; border-radius: 50%; border: solid 1px #dfe0e5 ; background-color: #f5f5f5; margin-top: .18rem; margin-right: .14rem;}
.chose_btn .check_left span:after{content: ''; display: block; width: .16rem; height: .16rem; border-radius: 50%; background-color: #ffae58; margin: auto; margin-top: .1rem;}
.chose_btn .check_left span{background-color: #fff8ed; border:solid 1px #ffae58;}
.check_left{float: left; overflow: hidden;}
.check_left input{position: absolute; width: 100%; height: 100%; opacity: 0;}
.active a{float: right; line-height: .72rem;}
.test_code{clear: both; padding-top: .26rem; display: none;}
.get_code p{float: left;}
.code_input{width: 3.8rem; border: solid 1px #dcdde3; border-right: none; box-sizing: border-box; line-height: .72rem; border-top-left-radius: .04rem; border-bottom-left-radius: .04rem;}
.code_input input{border: none; background: none; font-size: .3rem; width: 3.5rem; margin-left: .18rem;}
.test_btn{width: 3.1rem; border-top-right-radius: .04rem; border-bottom-right-radius: .04rem;
  background: -webkit-linear-gradient(left, #6781f7 , #81acfd); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #6781f7 , #81acfd); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #6781f7 , #81acfd); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #6781f7 , #81acfd); /* 标准的语法 */}
.test_btn button{border: none; background: none; font-size: .3rem; color: #fff; display: block; width: 100%; text-align: center; line-height: .76rem;}
.test_code .tip i{display: inline-block;vertical-align: middle; width: .08rem; height: .22rem; background-image: url(../images/tan.png); background-size: cover; background-repeat: no-repeat; margin-right: .1rem; }
.test_code .tip{font-size: .22rem; color: #bbbcc4;  margin-bottom: .1rem;}
.get_code{overflow: hidden;}
.ways_contact dd{overflow: hidden; margin-bottom: .28rem;}
.manage_psd dd{width:100%; box-sizing: border-box; border: solid 1px #dcdde3; height: .72rem; border-radius: .04rem;}
.manage_psd input{font-size: .3rem; border: none; background: none; margin-top: .14rem; width: 6.6rem; margin-left: .18rem;}
.sub_btn button{font-size: .32rem; color: #fff; border: none; background: none; display: block; width: 100%; line-height: .96rem;}
.sub_btn{margin-left: .3rem; margin-right: .3rem; height: .96rem; border-radius: .08rem; 
background: -webkit-linear-gradient(left, #ff9907 , #ffba16); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ff9907 , #ffba16); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ff9907 , #ffba16); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ff9907 , #ffba16); /* 标准的语法 */}
.changeinfo{display: none;}
