@charset "utf8";
html {background:#fff;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
.detail_title {background:#f4f4f4;padding:.4rem 0.3rem .28rem .3rem;}
.detail_title h2 {font-size:.42rem;font-weight:bold;padding-bottom:.22rem;}
.detail_title p {font-size:.26rem;color:#9fa1ab;}
.detail_title p span {padding-right:.3rem;}
.main-txt {font-size:.3rem;line-height:.52rem;padding:.2rem .28rem .4rem;word-wrap:break-word;color:#5a5b5e;text-align:justify;}
/*.main-txt p {text-indent:.6rem;padding:0 0 .3rem;}*/
/*.main-txt p,.main-txt span {font-size:.3rem!important;line-height:.52rem!important;color:#5a5b5e!important;}*/

.main-txt img {max-width:100%;}