@charset "utf8";
html {background:#f2f2f2;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
/*楼盘动态*/
.main_title {padding-bottom:.2rem;}
.dynamic_main .dynamic_list {background:#fff;padding:0 .24rem;margin-bottom:.2rem;}
.dynamic_main .dynamic_list .dy_list_title {font-weight:700;font-size:.32rem;padding-bottom:.2rem;padding-top:.34rem;}
.dynamic_main .dynamic_list .dy_list_txt {font-size:.3rem;color:#54565e;line-height:.44rem;}
.dynamic_main .dynamic_list .dy_list_type {padding:.3rem 0 .4rem 0;}
.dynamic_main .dynamic_list .dy_list_type .type_icon {font-size:.24rem;background:#fa6754;color:#fff;padding:.06rem .14rem;border-radius:.06rem;}
.dynamic_main .dynamic_list .dy_list_type span:last-child {float:right;font-size:.24rem;color:#9fa1ab;}
.loading {text-align:center;line-height:1rem;}
