body{background-color: #f5f5f5;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;	content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}

/*面包屑*/
.bread{height: .8rem;background-color: #f5f5f5;padding-left: .1rem;}
.bread a{display: inline-block;height: .8rem;line-height: .8rem;float: left;font-size: .28rem;margin: 0 .15rem 0 .1rem;}
.bread a.active{color: #999;}
.bread i{background: url(../images/bread.png) no-repeat;display: inline-block;width: .25rem;height: .8rem;background-size: .2rem .8rem;float: left;}

/*头部幻灯片*/
.wrapper .swiper-container,.wrapper .swiper-slide img{width: 100%;height: 4rem;}
.swiper-pagination{width: .7rem;height: .4rem;background-color: rgba(0,0,0,.6);color: #fff;border-radius: .4rem;line-height: .4rem;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{width: .7rem!important;right: .2rem;}


.head-info,.esf-info-item{padding: .3rem .3rem .2rem .3rem;margin-bottom: .16rem;background-color: #fff;}
.head-info h1{font-size: .32rem;color: #0c0d0e;line-height: .4rem;font-weight: bold;}
.head-info .feature{width: 100%;margin: .3rem 0 0 0;}
.head-info .feature span{box-sizing: border-box;padding: .04rem .06rem;height: .3rem;line-height: .3rem;color: #76cc52;font-size: .2rem;border: 1px solid #76cc52;border-radius: .04rem;}
.esf-info-price{padding-top: .1rem;}
.esf-info-price .p-red{color: #df3031;font-size: .34rem;}
.esf-info-price .p-gray{color: #83868f;font-size: .22rem;}
.esf-info-feature{padding: .2rem 0;overflow: hidden;width: 100%;}
.esf-info-feature li{float: left;min-width: 50%;font-size: .26rem;line-height: .5rem;word-wrap: break-word;overflow: hidden;}
.esf-info-feature li span,.esf-info-time span{float: left;color: #83868f;}
.esf-info-feature li p{overflow: hidden;color: #0c0d0e;}
.esf-info-time{border-top: 1px solid #ededed;padding: .2rem 0 0 0;}
.zf-detail-time{border: 0;}
.zf-detail-time p{color: #83868f!important;}
.zf-detail-time em{color: #83868f!important;line-height: 0.38rem;}
.esf-info-time p{overflow: hidden;color: #0c0d0e;float: left;line-height: 0.38rem;}
.esf-info-time em{color: #83868f;margin-left: .1rem;}
.esf-info-tit h2{font-size: .28rem;color: #83868f;white-space: nowrap;font-weight: 100;padding-bottom: .2rem;}
.esf-info-con .con-short p{line-height: .4rem;overflow: hidden;}
.esf-info-con.close .con-short p {max-height: 2rem;}
.esf-info-con .con-long{display: none;}
.esf-info-con .con-long p{line-height: .4rem;}
.more_xq {display: block;width: 100%;height: .8rem;line-height: .9rem;background: url(../images/center_more.png) center center no-repeat;background-size: .3rem auto;-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.close .more_xq {-webkit-transform: rotate(0);transform: rotate(0);}
.mb0{padding-bottom: 0;}
.esf-map-tit a{display: block;color: #83868f;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;position: relative;padding-right: .3rem;}
.esf-map-tit a span{color: #0c0d0e;}
.esf-map-tit a:after {position: absolute;content: '';right: 0;top: 50%;margin-top: -0.11rem;width: .14rem;height: .24rem;background: url(../images/icons_c.png) 0 0 no-repeat;background-size: .4rem auto;}
.esf-map-tit{margin-bottom: .2rem;}

.zf-ptss{padding-top: .2rem;border-top: 1px solid #ededed;}
.zf-ptss span {float: left;padding-left: .3rem;line-height: .5rem;width: 20%;background: url(../images/ptss_on.png) left .12rem no-repeat;background-size: .2rem auto;color: #0c0d0e;}
.zf-ptss-tit{margin-bottom: .16rem;color: #83868f;}
.page{position: absolute;bottom: .2rem;right: .2rem;background-color: rgba(0,0,0,.6);color: #fff;padding: .1rem .2rem;border-radius: .2rem;}

/*底部手机悬浮*/
.mobile{height: .9rem;width: 100%;position: fixed;bottom: 0;left: 0;background-color: #f4f4f4;display: table;z-index: 10;}
.mobile-img{width: .9rem;padding-left: .15rem;font-size: .22rem;display: table-cell;vertical-align: middle;}
.mobile-img img{width: .8rem;height: .8rem;}
.mobile-info{padding-left: .15rem;font-size: .22rem;display: table-cell;vertical-align: middle;}
.mobile-info p:first-child{color: #83868f;}
.mobile-info p:last-child{color: #3c3f46;margin-top: .1rem;}
.mobile-call{overflow: hidden;width: 1.2rem;display: table-cell;vertical-align: middle;}
.mobile-call a {display: block;height: .9rem;background: #df3031;color: #ffffff;text-align: center;font-size: .22rem;padding-top: .12rem;line-height: 1;}
.mobile-call a.phone i {display: block;width: .4rem;height: .4rem;margin: 0 auto 0.14rem;background: url(../images/tel_icons.png) no-repeat;background-size: 1.2rem auto;}

.xq .mobile-call a{background: #f4f4f4;color: #0c0d0e;}
.mobile-call a i {background: url(../images/footer1.png) no-repeat;background-size: .5rem auto;display: block;width: .5rem;height: .5rem;margin: 0 auto .14rem;}
.mobile-call a i.zf,.mobile-call a i.mf{background-image: url(../images/footer2.png);}



/*小区*/
.xq-info dl{padding: .1rem .2rem .1rem 0;}
.xq-info.close dl.more {display: none;}
.xq-info dt{float: left;width: 1.4rem;color: #83868f;font-size: .28rem;}
.xq-info dd{position: relative;overflow: hidden;font-size: .28rem;min-height: .4rem}
.gray{font-size: .28rem;color: #83868f;padding: 0 0 .2rem 0;display: block;}
.xq .esf-info-item{padding-bottom: 0;}
.dn{display: none;}

.esf .footer,.cf .footer,.zf .footer{margin-bottom: .9rem;}

.xq-a{padding-bottom: .1rem;}


.esf-map-con a {display: block;overflow: hidden;}


.collect {padding: .02rem 0;white-space: nowrap;float: right;color: #999;}
.collect:hover, .collect:active {color: #999;}
.collect i {display: inline-block;width: .3rem;height: .3rem;margin: -.03rem .1rem 0 0;background-image: url('../images/collect_no.png');background-size:contain;background-repeat:no-repeat;background-position:center;vertical-align: middle;}
.collect.has i {background-image: url('../images/collect_has.png');}





