@charset utf8;

a:hover {text-decoration: none;}
/*头部*/
#header {display:box;display:-webkit-box;height: .7rem;line-height: .7rem;padding:.1rem;border-bottom: 1px solid #f8f8f8;}
#header .header_left {display: block;width:1.5rem;height: .7rem;background-image: url('../images/header_back.png');background-position: .16rem center;background-repeat: no-repeat;background-size: .48rem;}
#header .title {text-align:center;-webkit-box-flex: 1;font-size: .34rem;color: #212121;}
#header .header_right {display: block;width:1.5rem;white-space: nowrap;}
#header .header_right span {padding: .1rem .1rem .1rem .4rem;background-image: url('../images/folder.png');background-size: .24rem;background-position: .1rem center;background-repeat: no-repeat;border:1px solid #e1e0e1;border-radius: 3px;}

/*分类*/
.topnav {height:.73rem;padding:0 .1rem;border-bottom: 1px solid #d9d9d9;overflow: hidden;}
.topnavcon {height: 1rem;overflow-x: auto;}
.topnav ul {white-space: nowrap;}
.topnav ul li {display: inline-block;border-bottom: 2px solid transparent;}
.topnav ul li a {display: inline-block;padding:0 .1rem;line-height: .7rem;font-size: .28rem;}
.topnav ul li.active {border-bottom-color: #007aff;}
.topnav ul li.active a {color: #007aff;}

.subnav {height:1.1rem;padding:0 .1rem;border-bottom: 1px solid #d9d9d9;overflow: hidden;background: #f8f8f8;}
.subnavcon {height: 1.5rem;overflow-x: auto;}
.subnav ul {white-space: nowrap;text-align: center;margin:.2rem 0;}
.subnav ul li {display: inline-block;line-height: .7rem;}
.subnav ul li a {display: inline-block;padding:0 .3rem;font-size: .28rem;border:1px solid #007aff;margin-left: -1px;}
.subnav ul li.active a {background: #007aff;color:#fff;}
.subnav ul li:first-child a {border-top-left-radius:3px;border-bottom-left-radius:3px;margin-left: 0;}
.subnav ul li:last-child a {border-top-right-radius:3px;border-bottom-right-radius:3px;}


/*列表*/
.main {padding-bottom: 1rem;}
.container .item {padding:.4rem .24rem;background: #fff;border-bottom: 1px solid #f0f0f0;}
.container .item .type {float: left;width: .76rem;height: .76rem;line-height: .76rem;text-align: center;background: #e56d5c;font-size: .3rem;color: #fff;border-radius:50%;}
.container .item .info {padding-left: .24rem;overflow: hidden;}
.container .item .title {font-size: .3rem;color: #000;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;line-height: .4rem;}
.container .item .time {float: right;padding-left: .3rem;color:#969696;font-size: .24rem;}
.container .item .about span {margin-right: .26rem;}
.container .item .about .tpname {font-size: .24rem;color: #df361e;}
.container .item .about .user {font-size: .2rem;color: #969696;}
.container .item .about .click {float: right;display: inline-block;padding-left: .45rem;background-image: url('../images/eye.png');background-repeat: no-repeat;background-position: left center;background-size: .3rem;color:#969696;font-size: .24rem;}

.loading {padding:.4rem 0;text-align: center;}


/*详情*/
.detail .container {margin-top: .3rem;}
.detail .container .item {border-bottom: none;padding:.1rem .24rem;}
.detail .container .item.asker .about {padding-bottom: .46rem;border-bottom: 1px solid #f0f0f0;}
.container .item.asker .title {white-space: inherit;margin-bottom: .2rem;}
.container .item.answer .title {font-size: .26rem;}
.container .item.answer .type {width: .5rem;height: .5rem;line-height: .5rem;margin:0 .13rem;font-size: .24rem;background: #48a2ff;}
.container .item.answer .info {font-size: .26rem;color: #000;line-height: .4rem;}

.fabuBtn {position: fixed; bottom: 0; left: 0; right: 0; height: 1rem; line-height: 1rem; text-align: center; background: #f1370b; z-index: 10; font-size: .3rem;}
.fabuBtn a {color: #fff;}