/*二居*/
.hx_top {background:#f2f2f2;}
.hx_top ul li {float:left;font-size:.32rem;width:20%;text-align:center;position:relative;padding:.3rem 0;}
.hx_top ul li.active {color:#ee4c26;}
.hx_top ul li.active i {position:absolute;width:.26rem;height:.05rem;background:#ee4c26;bottom:.16rem;left:50%;margin-left:-.13rem;}
.huxing_main {display:none;padding:.24rem 0 .24rem .24rem;}
.huxing_main .huxing_list .list_img {width:3.42rem;height:2.5rem;position:relative;}
.huxing_main .huxing_list .list_img img {position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;}
.huxing_main .huxing_list .list_img span {position:absolute;left:0;top:0;background:#a6c7ec;color:#fff;padding:.06rem .16rem;border-bottom-right-radius:.2rem;display:inline-block;}
.huxing_main .huxing_list {width:3.42rem;display:inline-block;margin-right:.12rem;margin-bottom:.2rem;}
.huxing_main .huxing_list .list_title {font-size:.32rem;padding:.18rem 0;width:3.4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.huxing_main .huxing_list .list_price {font-size:.32rem;color:#f1370b;}
.huxing_main .huxing_list .list_price span {font-size:.26rem;padding-left:.06rem;}
.huxing_main .huxing_list .list_txt {font-size:.28rem;padding:.18rem 0 .4rem 0;}
.huxing_main .huxing_list .list_txt em {padding:0 .16rem;}
