@charset "utf8";
body {padding-bottom:1rem;}
html {background:#f8f8f8;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
/*头部幻灯片部分*/
.banner .wrapper {position:relative;}
.banner .wrapper .swiper-container {color:#fff;text-align:center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;}
.banner .wrapper .swiper-wrapper img {display:block;}
.banner .wrapper .swiper-wrapper .slideinfo {display:none;}
.banner .wrapper .pagination {position:absolute;z-index:20;left:0;bottom:.1rem;width:100%;}
.banner .wrapper .swiper-pagination-switch {display:inline-block;width:0.12rem;height:0.12rem;border-radius:0.16rem;background:#555;margin-right:5px;opacity:0.8;border:1px solid #fff;cursor:pointer;}
.banner .wrapper .swiper-active-switch {background:#fff;}
.banner .wrapper .swiper-dynamic-links {text-align:center;}
.banner .wrapper .swiper-pagination-bullet {opacity:0.5;}
.banner .wrapper .swiper-pagination-bullet-active {width:.37rem!important;height:.1rem;border-radius:1rem;background:#fff!important;opacity:1!important;}
.banner .wrapper .swiper-pagination-bullet {width:.07rem;height:.07rem;background:#fff;opacity:.5;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 3px;}
/* 搜索 */
.search-form {background:#fff;padding:.28rem .24rem;margin-bottom:.13rem;}
.search-form .sobj {height:.7rem;border:1px solid #4a8af7;border-radius:3px;line-height:.7rem;display:-webkit-box;}
.search-form .area {position:relative;-webkit-box-flex:1;}
.search-form .area:after {position:absolute;content:"";right:.1rem;top:50%;width:1px;height:.46rem;margin-top:-.23rem;background:linear-gradient(#f6f6f6,#a9a9a9,#f6f6f6);}
.search-form .area a {display:block;font-size:.24rem;color:#333;}
.search-form .area i {display:inline-block;width:.28rem;height:.28rem;margin-top:-.02rem;vertical-align:middle;margin-left:.1rem;background:url('../images/pos.png') no-repeat center;background-size:70%;}
.search-form .area label {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:-.03rem;}
.search-form .area s {display:inline-block;vertical-align:middle;border-right:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0;width:.1rem;height:.1rem;transform:rotate(45deg);margin:-.08rem 0 0 .1rem;}
.search-form .inp {-webkit-box-flex:6;}
.search-form .inp a {position:relative;display:block;color:#a0a0a0;padding-left:.1rem;}
.search-form .inp s {position:relative;width:.24rem;height:.24rem;margin-top:-.02rem;display:inline-block;vertical-align:middle;}
.search-form .inp s:before {position:absolute;content:"";left:0;top:0;width:.16rem;height:.16rem;border:1px solid #a0a0a0;border-radius:50%;}
.search-form .inp s:after {position:absolute;content:"";left:.19rem;top:.15rem;transform:rotate(-45deg);width:1px;height:.08rem;overflow:hidden;background:#a0a0a0;}
.search-form .inp span {position:absolute;right:0;top:0;width:1rem;height:.7rem;background:#4a8af7;color:#fff;font-size:.26rem;text-align:center;}
/*房产资讯*/
.pubBox {padding:.4rem .2rem;margin-bottom:.15rem;box-sizing:border-box;background:#fff;}
.tcNews {height:1.4rem;padding:.18rem .25rem;}
.tcNews .lBox,.pubBox .mBox,.pubBox .rBox {float:left;}
.tcNews .lBox {padding:.1rem 0;margin-right:.2rem;}
.tcNews .lBox img {width:.8rem;}
.tcNews .mBox .mlBox,.tcNews .mBox .mrBox {float:left;}
.tcNews .mBox .mlBox p {max-width:4.5rem;line-height:.54rem;padding:0 .1rem;font-size:.24rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tcNews .mBox .mlBox p span {color:#4a8af7;margin-right:.1rem;}
.tcNews .mBox .mrBox img {width:1.3rem;height:1rem;}
.tcNews .mBox .swiper-wrapper {height:1rem;}
/*图标导航*/
.tcInfo {padding:0;background:#fff;}
.tcInfo .tabBox {padding:.2rem;border-bottom:solid .03rem #f6f6f6;}
.tcInfo .tabBox ul li {width:33.33%;float:left;text-align:center;}
.tcInfo .tabBox ul li a {font-size:.32rem;padding:.2rem .1rem;}
.tcInfo .tabBox ul li.active a {color:#4a8af7;border-bottom:solid .05rem #4a8af7;}
.tcInfo .tabMain {padding:.2rem;}
/*滑动导航*/
.tabMain {position:relative;overflow:hidden;height:3.2rem;}
.tabMain ul {height:2.8rem;overflow:hidden;}
.tabMain li,.convenience li {width:20%;float:left;text-align:center;}
.tabMain li a,.convenience li a {display:block;}
.tabMain li span.icon-circle,.convenience li span.icon-circle {display:block;width:1.5rem;margin:0 auto;padding-top:.1rem;padding-bottom:.12rem;}
.tabMain li span.icon-txt,.convenience li span.icon-txt {font-size:.24rem;}
.tabMain li span img,.convenience li span img {display:block;height:.85rem;margin:0 auto;}
.tabMain .swiper-wrapper {height:auto !important;margin-bottom:.1rem;}
.tabMain .swiper-pagination-bullet {width:.07rem;height:.07rem;background:#e4e4e4;opacity:1;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .3s ease-in-out;}
.tabMain .swiper-pagination-bullet-active {width:.4rem!important;height:.08rem;border-radius:1rem;background:#4a8af7!important;opacity:1!important;}
/*发布按钮*/
.fbbox {margin:.1rem .2rem;}
.fbbox ul {display:-webkit-box;}
.fbbox ul li {position:relative;-webkit-box-flex:1;text-align:center;border-radius:5px;height:1.3rem;line-height:1.3rem;margin:0 .05rem;}
.fbbox ul li a {display:block;font-size:.32rem;color:#fff;font-weight:bold;}
.fbbox ul li.fb_zu {background:url(../images/zu_bg.png) no-repeat center center;background-size:cover;}
.fbbox ul li.fb_sale {background:url(../images/sale_bg.png) no-repeat center center;background-size:cover;}
.fbbox ul li.rz_store {background:url(../images/store_bg.png) no-repeat center center;background-size:cover;}
/*常用工具*/
.pubBox h3 {font-size:.32rem;text-align:center;background:url(../images/titleBg.png) no-repeat center;background-size:35%;margin-bottom:.2rem;}
.manageBox {margin-top:.4rem;}
.maBox {float:left;width:20%;text-align:center;}
.maBox img {height:.54rem;}
.maBox p {margin-top:.17rem;}
/*列表公共样式*/
.recomBus ul li {padding:.25rem 0;border-bottom:1px solid #eeeeee;position:relative;}
.recomBus ul li:last-child {border-bottom:0;}
.recomBus ul li .rleft {width:1.93rem;height:1.46rem;position:relative;float:left;margin-right:.2rem;}
.recomBus ul li .rleft img {width:100%;height:1.46rem;}
.recomBus ul li .rleft i {background:url(../images/ss.png) no-repeat center;background-size:cover;width:.56rem;height:.56rem;display:block;position:absolute;top:.45rem;left:0.685rem;}
.recomBus ul li .rright {width:70%;float:left;position:relative;}
.recomBus ul li .rright .rtitle {font-size:.32rem;}
.recomBus ul li .rright .rtitle i,.recomBus ul li .rright .rtitle p,.recomBus ul li .rright .rtitle em {float:left;}
.recomBus ul li .rright .rtitle p {max-width:3.5rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.recomBus ul li .rright .rtitle i {display:block;width:.6rem;height:.32rem;margin:.05rem .1rem 0 0;background:url(../images/topIcon.png) no-repeat center;background-size:cover;}
.recomBus ul li .rright .rtitle em {font-size:.2rem;padding:.04rem .1rem;margin-left:.08rem;color:#fff;border-radius:.04rem;margin-top:.04rem;}
.recomBus ul li .rright .addr {font-size:.24rem;color:#a0a0a0;}
/*最新楼盘*/
.properties ul li .rright .rtitle em.zaishou {background:#bed7fa;}
.properties ul li .rright .rtitle em.quanjing {background:#f1ba25;}
.properties ul li .rright .rtitle em.shapan {background:#af9bfa;}
.properties ul li .rright .comment {font-size:.24rem;color:#a0a0a0;font-weight:300;line-height:.35rem;margin:.18rem 0;}
.properties ul li .rright .comment span em {font-size:.3rem;color:#f35712;font-weight:bold;}
.properties ul li .rright .comment span:last-child {margin-left:.1rem;}
.properties ul li .tel {position:absolute;right:0;top:.8rem;text-align:right;}
.properties ul li .tel img {width:.6rem;}
.properties ul li .rright .addr span {margin-left:.5rem;}
.properties ul li .rright .rtitle p {max-width:2.4rem;}
/*最新二手房源 最新出租房源*/
.second_hand h3 {background:url(../images/titleBg_01.png) no-repeat center;background-size:40%;}
.second_hand ul li .rright .rtitle em.quanjing {background:#bed7fa;}
.second_hand ul li .rright .comment {font-size:.24rem;font-weight:300;line-height:.35rem;margin:.18rem 0;}
.second_hand ul li .rright .comment em {font-size:.3rem;color:#f35712;font-weight:bold;float:right;}
.second_hand ul li .rright .comment span.area {margin-left:.14rem;}
.second_hand ul li .rright .addr .addr_right {float:right;}
.second_hand ul li .rright .addr .addr_ess {margin-left:0.12rem;}
.pns ul li .rright .rtitle p {max-width:4.2rem;}
.pns {padding-bottom:.9rem;margin-bottom:0;}
/*查看更多*/
.pubBox .btnMore {display:block;height:.66rem;line-height:.66rem;text-align:center;background:#f8f8f8;border-radius:.04rem;font-size:.24rem;color:#bfbfbf;margin-top:.2rem;}
/*遮罩层*/
.desk {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:#000;opacity:.6 !important;z-index:10000;}
/*电话弹出框*/
.phone {position:fixed;left:50%;margin-left:-2.5rem;top:34%;z-index:10001;width:5.1rem;text-align:center;display:none;background:#fff;border-radius:.08rem;}
.phone .phone_bg {height:0.04rem;}
.phone .phone_bg span {display:inline-block;height:100%;width:50%;float:left;}
.phone .phone_bg span:first-child {background:#f45118;border-top-left-radius:0.08rem;}
.phone .phone_bg span:last-child {background:#f4b318;border-top-right-radius:0.08rem;}
.phone ul {padding:0 .16rem;}
.phone ul li:first-child {font-size:.32rem;}
.phone ul li {height:.86rem;line-height:.86rem;border-bottom:1px solid #eeeeee;font-size:.3rem;}
.phone ul li:last-child {border-bottom:none;}
.phone i {background:url(../images/signout.png) no-repeat center;background-size:100%;height:.54rem;width:.54rem;display:inline-block;position:absolute;right:.16rem;top:.16rem;}
/*客服弹出层*/
.phone_frame {width:5rem;height:4rem;z-index:10008;position:fixed;background:#fff url(../images/q_bg.png) 0 0 no-repeat;background-size:100%;top:50%;margin-top:-2rem;left:50%;margin-left:-2.5rem;border-radius:.1rem;overflow:hidden;display:none;text-align:center;}
.phone_frame .phone_icon {position:absolute;width:1.12rem;height:1.12rem;top:.5rem;left:50%;margin-left:-.56rem;border-radius:50%;box-shadow:0px 2px 7px #fdf7c2;background:#fff url(../images/phone_p.png) center center no-repeat;background-size:auto .6rem;}
.phone_frame a {background:#f1370b;color:#fff;font-size:.32rem;height:.6rem;display:inline-block;line-height:.6rem;width:2rem;text-align:center;border-radius:.06rem;margin-top:.4rem;}
.phone_frame p {text-align:center;padding-top:2rem;font-size:.34rem;}
.phone_frame .phone_cuo {background:#fff url(../images/cuo_red.png) center center no-repeat;background-size:auto .26rem;display:inline-block;width:.5rem;height:.5rem;position:absolute;border-radius:50%;top:.3rem;right:.2rem;box-shadow:0px 2px 5px #fdf7c2;}
/*底部*/
.footer {height:1rem;padding:.1rem 0;background:#fff;box-shadow:0 0 .32rem rgba(192,192,192,.28);position:fixed;bottom:0;left:0;right:0;z-index:1000;}
.footer ul {height:1rem;background:#fff;z-index:9}
.footer ul li {width:20%;float:left;text-align:center;position:relative;}
.footer ul li a {display:block;height:1rem;}
.footer ul li p {font-size:0.22rem;color:#333333;}
.footer ul li span {position:relative;display:inline-block;vertical-align:middle;}
.footer ul li img {width:.6rem;height:.6rem;display:block;margin:0 auto;}
.footer .fabuBg {width:1.3rem;height:.7rem;background:#fff;box-shadow:0 0 0.32rem rgba(192,192,192,.28);border-radius:1.2rem 1.2rem 0 0;position:absolute;left:50%;top:-.6rem;z-index:-1;margin-left:-.65rem;}
.footer .fabu {position:relative;}
.footer .fabu img {width:1.3rem;height:1.3rem;position:absolute;left:50%;top:-.65rem;margin-left:-.65rem;}
.footer .fabu p {margin-top:.6rem;}
.footer em {display:block;position:absolute;bottom:61%;left:56%;min-width:.28rem;max-width:.6rem;padding:.03rem .03rem;background:#ff2938;border-radius:.155rem;color:#fff;font-size:.2rem;}
/* iPhoneX适配 */
.footer {padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
/*客服弹出层*/
.phone_frame {width:5rem;height:4rem;z-index:10008;position:fixed;background:#fff url(../images/q_bg.png) 0 0 no-repeat;background-size:100%;top:50%;margin-top:-2rem;left:50%;margin-left:-2.5rem;border-radius:.1rem;overflow:hidden;display:none;text-align:center;}
.phone_frame .phone_icon {position:absolute;width:1.12rem;height:1.12rem;top:.5rem;left:50%;margin-left:-.56rem;border-radius:50%;box-shadow:0px 2px 7px #fdf7c2;background:#fff url(../images/phone_p.png) center center no-repeat;background-size:auto .6rem;}
.phone_frame a {background:#f1370b;color:#fff;font-size:.32rem;height:.6rem;display:inline-block;line-height:.6rem;width:2rem;text-align:center;border-radius:.06rem;margin-top:.4rem;}
.phone_frame p {text-align:center;padding-top:2rem;font-size:.34rem;}
.phone_frame .phone_cuo {background:#fff url(../images/cuo_red.png) center center no-repeat;background-size:auto .26rem;display:inline-block;width:.5rem;height:.5rem;position:absolute;border-radius:50%;top:.3rem;right:.2rem;box-shadow:0px 2px 5px #fdf7c2;}
