body {padding-bottom: .96rem;}
.contentBox{margin-left: .3rem; margin-right: .3rem;}
.contentBox p{text-align: center; color: #9399A5;  font-size: .26rem; padding-top: .2rem; padding-bottom: .2rem;}
.contentBox .nin{color: #ff5151;}
.form-baomin dt{width: 25%; font-size: .3rem; color: #333; font-weight: normal; float: left;}
.form-baomin dd{width: 75%; float: right; font-size: .3rem; text-align: right;}
.form-baomin dd input[type="text"],.form-baomin dd input[type="number"]{border: none; background:none; width: 90%; text-align: right; margin-right: 2%;}
.form-baomin dl{padding: .3rem 0; border-bottom: solid .01rem #dcdde3;}
.form-baomin dl:after{display: block; content: ''; clear: both;}
/*.form-baomin .housetype{width: 100%; float:none;}*/

.subbtn{width: 100%; position: fixed; bottom: 0; left: 0; height: .96rem; /*border-radius: .08rem;*/ font-size: .32rem; text-align: center; color: #fff;line-height: .96rem;
background: -webkit-linear-gradient(left, #ff9907 , #ffba16); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ff9907 , #ffba16); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ff9907 , #ffba16); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ff9907 , #ffba16); /* 标准的语法 */}

.yijuj input[type="checkbox"]{opacity: 0; position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
.yijuj {position: relative; padding: .12rem .22rem; background-color: #f4f4f4; float: left; margin-left: .2rem; margin-bottom: .2rem; border-radius: .06rem; border: solid .01rem #f4f4f4;}
.form-baomin .chosehx{padding-bottom: 0.1rem;}
.errorMsg{width: 4rem;  background-color: rgba(0,0,0,.5); position: fixed; top: 30%; color: #fff; left: 50%; margin-left: -2rem;border-radius: .1rem; display:none;font-size: .3rem; text-align: center; padding: .3rem .2rem;}
.chosed{border:solid .01rem #ee4c26; background:#fff url(../images/dui.png) right bottom no-repeat; background-size: .3rem auto; }
