body{background:#f5f5f5;height: 100%;margin-bottom:1.4rem!important;}
/*视频*/
.topSwiper {height:5.5rem!important;}
.topSwiper .swiper-slide {height:5.5rem!important;}
/*标题*/
.bottomBg {height:2.5rem;position:absolute;bottom:0;left:0;right:0;background:-webkit-linear-gradient(top,rgba(0,0,0,.43),transparent);background:-o-linear-gradient(top,rgba(0,0,0,.43),transparent);background:-moz-linear-gradient(top,rgba(0,0,0,.43),transparent);background:linear-gradient(to top,rgba(0,0,0,.43),transparent);z-index:1;}
.titbox {position:absolute;bottom:.75rem;left:.2rem;z-index:10;color:#fff;}
.titbox div {overflow:hidden;margin-bottom:.2rem;}
.titbox h2 {float:left;line-height:.42rem;max-width:4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.42rem;font-weight:bold;}
.titbox p {font-size:.26rem;overflow:hidden;text-overflow:ellipsis;max-width:4rem;white-space:nowrap;}
.titbox .mark {float:left;height:.3rem;line-height:.32rem;padding:0 .1rem;border-radius:4px;margin-left:.1rem;}
.m_zs {background-color:#a4d54a;}
.m_ds {background-color:#ffb03b;}
.m_wp {background-color:#ff6666;}
.m_sk {background-color:#999aa1;}
.m_qf {background-color:#333333;}
.m_xf {background-color:#6072a5;}
.list_icon {background:#fff;padding:.45rem 0;margin-bottom:.2rem;}
.list_icon>div {display:inline-block;width:20%;float:left;text-align:center;}
.list_icon>div a {display:inline-block;width:100%;}
.list_icon>div img {height:.66rem;}
.list_icon>div p {color:#4b4c4f;font-size:.24rem;padding-top:.16rem;}
.building_details {padding:0 .24rem;background:#fff;font-size:.286rem;padding-top:.5rem;margin-bottom:.2rem;}
.building_details .list_d {margin-bottom:.2rem;}
.building_details .list_d span:first-child {color:#9fa1ab;}
.building_details .jiage .j_price {font-size:.42rem;color:#f1502a;font-weight:bold;}
.building_details .jiage {margin-bottom:.3rem;}
.building_details .jiage a {float:right;color:#3f77e8;background:url(../images/jsq.png) .18rem center no-repeat;background-size:auto .3rem;padding-left:.6rem;}
.building_details .dizhi {background:url(../images/right_icon.png) right center no-repeat;background-size:auto .3rem;}
.building_details .dizhi a {display:block;}
.building_details .label {padding-bottom:.1rem;}
.building_details .label span {background:#ececec;margin-right:.2rem;color:#6f7178;font-size:.24rem;padding:.06rem .18rem;border-radius:.08rem;}
.building_details .label .fenxiang {background:url(../images/fx_icon.png) .04rem center no-repeat;background-size:auto .28rem;display:inline-block;float:right;padding-left:.4rem;color:#9fa0ab;}
.building_details .gengduo {display:block;padding:.2rem 0;text-align:center;color:#3f77e8;font-size:.32rem;margin:.2rem 0;border-radius:8px;background-color:rgb(244,248,255);}
.building_details .building_phone {height:1.52rem;overflow:hidden;position:relative;box-shadow:2px 4px 8px #dddeee;border-radius:.1rem;}
.building_details .building_phone>img {height:1.52rem;}
.building_details .building_phone .p_detail_01 {position:absolute;top:.3rem;font-size:.42rem;color:#2953a9;font-weight:bold;left:.38rem;}
.building_details .building_phone .p_detail_01 em {font-size:.3rem;padding:0 .04rem;}
.building_details .building_phone .p_detail_02 {position:absolute;top:.86rem;left:.38rem;font-size:.26rem;color:#2953a9;}
.building_details .building_phone span {position:absolute;top:50%;height:.8rem;width:.8rem;border-radius:50%;margin-top:-.4rem;right:.38rem;background:#fff url(../images/phone_01.png) center center no-repeat;background-size:auto .48rem;}
.building_details .building_btn .notice,.building_details .building_btn .remind {float:left;width:50%;text-align:center;padding:.46rem 0;}
.building_details .building_btn .notice span {width:.46rem;height:.46rem;display:inline-block;border-radius:50%;vertical-align:middle;margin-right:.1rem;background:#e7e9f1 url(../images/notice.png) center center no-repeat;background-size:auto .24rem;}
.building_details .building_btn .remind span {width:.46rem;height:.46rem;display:inline-block;background:#f2f3f7;border-radius:50%;vertical-align:middle;margin-right:.1rem;background:#f2f3f7 url(../images/remind.png) center center no-repeat;background-size:auto .24rem;}
.building_details .building_btn .notice a,.building_details .building_btn .remind a {display:block;}
/*倒计时*/
.count_down {background:#fff;margin:0 .24rem .2rem .24rem;height:2.2rem;border-radius:.1rem;overflow:hidden;}
.count_down .count_img {width:2.6rem;height:2.2rem;position:relative;float:left;}
.count_down .count_img img {top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;}
.count_down .count_txt {position:relative;overflow:hidden;padding-left:.2rem;}
.count_down .count_txt .txt_01 {font-size:.3rem;font-weight:bold;padding:.26rem 0;width:4.1rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.count_down .count_txt .txt_02 {font-size:.28rem;color:#333;padding-bottom:.2rem;}
.count_down .count_txt .txt_03 {color:#6f7178;font-size:.28rem;}
.count_down .count_txt .txt_03 span {background:#33353b;color:#fff;padding:.04rem;border-radius:.04rem;}
/*火热报名*/
.fiery {background:#fff;margin:0 .24rem .2rem .24rem;height:.8rem;border-radius:.1rem;overflow:hidden;font-size:.3rem;color:#4b4c4f;text-align:center;line-height:.8rem;}
.fiery span {display:inline-block;height:.4rem;width:.4rem;border-radius:50%;vertical-align:middle;margin-right:.2rem;background:#fdeae5 url(../images/huo.png) center center no-repeat;background-size:auto .24rem;}
.main_title {padding:.48rem 0 .4rem 0;font-size:.36rem;font-weight:bold;}
.main_title a {float:right;font-size:.28rem;color:#9fa1ab;font-weight:100;background:url(../images/right_icon.png) right center no-repeat;background-size:auto .26rem;padding-right:.36rem;}
/*户型介绍*/
.huxing {background:#fff;margin-bottom:.2rem;padding:0 .24rem;}
.huxing .huxing_main .huxing_list .list_img {width:3.42rem;height:2.5rem;position:relative;}
.huxing .huxing_main .huxing_list .list_img img {top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;}
.huxing .huxing_main .huxing_list .list_img span {position:absolute;left:0;top:0;background:#a6c7ec;color:#fff;padding:.06rem .16rem;border-bottom-right-radius:.2rem;display:inline-block;}
.huxing .huxing_main .huxing_list {width:3.42rem;display:inline-block;}
.huxing .huxing_main .huxing_list .list_title {font-size:.32rem;padding:.18rem 0;width:3.4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.huxing .huxing_main .huxing_list .list_price {font-size:.32rem;color:#f1370b;}
.huxing .huxing_main .huxing_list .list_price span {font-size:.26rem;padding-left:.06rem;}
.huxing .huxing_main .huxing_list .list_txt {font-size:.28rem;padding:.18rem 0 .4rem 0;}
.huxing .huxing_main .huxing_list .list_txt em {padding:0 .16rem;}
.huxing .huxing_main .huxing_list:first-child {float:right;}
/*楼盘动态*/
.dynamic {background:#fff;margin-bottom:.2rem;padding:0 .24rem;}
.dynamic .main_title {padding-bottom:.2rem;}
.dynamic .dynamic_main .dynamic_list .dy_list_title {font-size:.32rem;padding-bottom:.2rem;padding-top:.34rem;}
.dynamic .dynamic_main .dynamic_list .dy_list_txt {font-size:.3rem;color:#54565e;line-height:.44rem;}
.dynamic .dynamic_main .dynamic_list .dy_list_type {padding:.3rem 0;}
.dynamic .dynamic_main .dynamic_list .dy_list_type .type_icon {font-size:.24rem;background:#fa6754;color:#fff;padding:.06rem .14rem;border-radius:.06rem;}
.dynamic .dynamic_main .dynamic_list .dy_list_type span:last-child {float:right;font-size:.24rem;color:#9fa1ab;}
.dynamic .dynamic_main .dynamic_list {border-bottom:1px solid #ededed;}
/*新房顾问*/
.adviser {margin-bottom:.2rem;padding:0 .24rem;}
.adviser .adviser_main .adviser_list {background:#fff;padding:.15rem;margin-bottom:.2rem;border-radius:.14rem;}
.adviser .adviser_main .adviser_list .ad_list_img {width:1.4rem;height:1.7rem;float:left;}
.adviser .adviser_main .adviser_list .ad_list_img img {top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;}
.adviser .adviser_main .adviser_list .ad_list_right {float:left;padding-left:.2rem;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_name {padding-top:.1rem;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_name span {font-size:.32rem;font-weight:bold;max-width:3.6rem;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_name em {font-size:.24rem;color:#6f7178;padding:.06rem .1rem;background:#f2f3f7;line-height:1;border-radius:.08rem;margin-left:.2rem;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_title {font-size:.28rem;padding:.16rem 0;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_title span {margin-right:.2rem;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_txt {color:#f1370b;font-size:.3rem;font-weight:bold;}
.adviser .adviser_main .adviser_list .ad_list_right .list_right_txt span {font-size:.26rem;padding:0 .1rem;}
/*楼盘全部顾问*/
.adviserbox {padding-top:.2rem;}
/*沙盘*/
.shapan {background:#fff;}
.shapan .main_title {padding:.48rem .24rem .4rem .24rem;font-size:.36rem;font-weight:bold;}
.nikan-area {width:100%;height:4rem;border:1px solid #eee;position:relative;color:#fff;background:#fafafa;overflow:hidden;}
#shapan-box img {height:auto;width:auto;max-width:none;}
#shapan-box .map-mark {display:block;position:absolute;top:0;height:26px;min-width:38px;cursor:pointer;text-align:center;line-height:26px;box-shadow:0 0 8px rgba(0,0,0,0.5);background:#fff;border-radius:3px;}
#shapan-box .map-mark  em {color:#333;display:inline-block;padding:0 .18rem;}
#shapan-box .map-mark-active {-webkit-animation:swing .5s linear 0s infinite alternate;-moz-animation:swing .5s linear 0s infinite alternate;animation:swing .5s linear 0s infinite alternate;z-index:99;}
#shapan-box .forsale span {background:rgb(255,154,31);}
#shapan-box .forsale_01 span {background:#999aa1;}
#shapan-box .forsale_02 span {background:#a4d54a;}
#shapan-box .forsale_03 span {background:#ff6666;}
#shapan-box .map-mark i {position:absolute;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:6px solid #1f87ff;top:26px;left:.35rem;}
#shapan-box .map-mark span {border-top-left-radius:4px;border-bottom-left-radius:4px;display:inline-block;padding:0 .18rem;}
#shapan-box .forsale i {border-top-color:rgb(255,154,31);}
#shapan-box .forsale_01 i {border-top-color:#999aa1;}
#shapan-box .forsale_02 i {border-top-color:#a4d54a;}
#shapan-box .forsale_03 i {border-top-color:#ff6666;}
@-moz-keyframes swing {0% {transform:translate3d(0,-4px,0)}
100% {transform:translate3d(0,4px,0)}
}
@-webkit-keyframes swing {0% {transform:translate3d(0,-4px,0)}
100% {transform:translate3d(0,4px,0)}
}
@keyframes swing {0% {transform:translate3d(0,-4px,0)}
100% {transform:translate3d(0,4px,0)}
}
.shapanSwiper {background-color:#f5f5f5;}
.shapanSwiper .swiper-slide {background:#CDDC39;background:#fff;width:6.2rem !important;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;margin:.2rem;box-shadow:0px 1px 16px 5px #dedede;border-radius:.2rem;}
.shapanSwiper .swiper-slide a {display:inline-block;width:100%;}
.shapanSwiper .swiper-slide .s_title {font-size:.32rem;font-weight:bold;padding:.3rem 0 .3rem .2rem;}
.shapanSwiper .swiper-slide .s_time {display:inline-block;width:100%;background:#f57354;color:#fff;font-size:.28rem;padding:.14rem 0;text-align:center;margin-bottom:.3rem;}
.shapanSwiper .swiper-slide .s_time span:first-child {margin-right:.2rem;}
.shapanSwiper .swiper-slide ul li {float:left;width:43%;margin-bottom:.2rem;padding-left:.4rem;font-size:.28rem;}
.shapanSwiper .swiper-slide ul li span {color:#9fa1ab;}
/*周边*/
.zhoubian {background:#fff;padding:0 .24rem .2rem .24rem;margin-bottom:.2rem;margin-top:.2rem;}
.classify_title {font-size:.36rem;font-weight:bold;padding:.3rem 0;}
.periphery {margin-bottom:.2rem;}
.zhoubian .periphery ul li {border-bottom:none;}
.periphery .nav-wrapper {padding:0 0 .2rem;white-space:nowrap;overflow:auto}
.periphery .nav-wrapper .nav-item {display:inline-block;float:none;width:auto;height:0.375rem;padding:.06rem .3rem;font-size:.22rem;line-height:0.375rem;color:#9399A5;margin:0 .14rem;}
.periphery .nav-wrapper .nav-item.disable {pointer-events:none}
.periphery .nav-wrapper .nav-item.active {color:#fff;font-weight:700;background:#f1502a;border-radius:.4rem;}
.periphery .map-wrapper {height:0;padding-bottom:62.7%}
.periphery .label-wrapper {position:relative}
.periphery .map-wrapper .self-label {font-family:PingFangSC-Regular;position:relative;padding:.16rem .25rem;font-size:.2rem;line-height:1;color:#101D37;letter-spacing:0;overflow:hidden;max-width:6.625rem;text-overflow:ellipsis;background:#FFF;box-shadow:0 0 .375rem 0 rgba(0,0,0,.2);-webkit-border-radius:1.46875rem;-moz-border-radius:1.46875rem;-ms-border-radius:1.46875rem;-o-border-radius:1.46875rem;border-radius:1.46875rem}
.periphery .more {font-family:PingFangSC-Medium;font-weight:700;display:inline-block;width:100%;height:3.125rem;line-height:3.125rem;margin-top:1.1875rem;font-size:1rem;color:#3072F6;letter-spacing:0;text-align:center;background:rgba(48,114,246,.05);border-radius:.3125rem;-webkit-border-radius:.3125rem;-moz-border-radius:.3125rem;-ms-border-radius:.3125rem;-o-border-radius:.3125rem}
.periphery .label-bottom-icon {position:absolute;content:'';bottom:-.125rem;left:50%;margin-left:-.25rem;width:0;height:0;transform:rotate(45deg);border:.25rem solid #FFF;border-top-color:transparent;border-left-color:transparent}
.periphery .map-link {position:absolute;width:100%;height:100%;z-index:100}
.periphery .map-container {position:relative;}
.periphery .bounce {animation-name:bounce;transform-origin:center bottom;animation-duration:.3s;animation-fill-mode:both}
.periphery .label-container {display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;width:7.875rem}
@keyframes bounce {0% {-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
100% {-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}
.btn_all {display:block;padding:.2rem 0;text-align:center;color:#3f77e8;font-size:.32rem;margin:.2rem 0 0;border-radius:8px;background-color:rgb(244,248,255);}

/*视频全景*/
.qvbox{background-color: #fff;padding:0 .25rem .35rem;margin-bottom: .2rem;}
.qvbox .tab_top{padding:.35rem 0;text-align: center;overflow: hidden;}
.qvbox .tab_top li{font-size: .36rem;color:#26272b;font-weight: bold;float:left;width:50%;padding:.2rem 0;}
.qvbox .tab_top li.active a{padding:.2rem .48rem;color:#fff;background-color: rgb(75, 129, 250);box-shadow: 0px 10px 16px 0px rgba(75, 129, 250, 0.3);border-radius: .72rem;line-height: .485rem;}
.qvbox .mainbox{-webkit-animation: rightFadeIn .3s ease-out;-moz-animation: rightFadeIn .3s ease-out;animation: rightFadeIn .3s ease-out;}
.qvbox .mainbox li{width: 3.4rem;height: auto;float: left;margin-right: .2rem;}
.qvbox .mainbox li:nth-child(2n){margin-right: 0;}
.qvbox .mainbox li .imgbox{width: 100%;position: relative;height: 2.4rem;overflow: hidden;background-color: #f5f5f5;}
.qvbox .mainbox li .imgbox img.picImg{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom:0;margin:auto;display: block;}
.qvbox .mainbox li .imgbox .vrIcon{width:.7rem;height:.7rem;}
.qvbox .mainbox li .imgbox .viIcon{width:.6rem;height:.6rem;}
.qvbox .mainbox li .imgbox .vrIcon,.qvbox .mainbox li .imgbox .viIcon{position: absolute;top:50%;left:50%;}
.qvbox .mainbox li .imgbox .vrIcon{margin-top: -.35rem;margin-left: -.35rem;}
.qvbox .mainbox li .imgbox .viIcon{margin-top: -.3rem;margin-left: -.3rem;}
.qvbox .mainbox li .imgbox .vrIcon img,.qvbox .mainbox li .imgbox .viIcon img{width:100%!important;height:100%!important;display: block;}
.qvbox .mainbox li .infobox{padding:.22rem 0;font-size: .32rem;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
