.qvbox{background-color: #fff;padding:0 .25rem;}
.qvbox .mainbox li{width: 3.4rem;height: auto;float: left;margin-right: .2rem;}
.qvbox .mainbox li:nth-child(2n){margin-right: 0;}
.qvbox .mainbox li .imgbox{width: 100%;position: relative;height: 2.4rem;overflow: hidden;background-color: #f5f5f5;}
.qvbox .mainbox li .imgbox img.picImg{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom:0;margin:auto;display: block;}
.qvbox .mainbox li .imgbox .vrIcon,.qvbox .mainbox li .imgbox .viIcon{width:.7rem;height:.7rem;position: absolute;top:50%;left:50%;margin-top: -.35rem;margin-left: -.35rem;}
.qvbox .mainbox li .imgbox .vrIcon img,.qvbox .mainbox li .imgbox .viIcon img{width:100%!important;height:100%!important;display: block;}
.qvbox .mainbox li .infobox{padding:.22rem 0;font-size: .32rem;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*楼盘全景列表*/
.container{background-color: #f5f5f5;}
.container .qvbox{margin-top: .15rem;}
.container .qvbox .mainbox{padding:.33rem 0;}
/*楼盘全景详情*/
.qvdetail .mainBox iframe,.qvdetail .mianBox embed{width: 100%; border: 0;}
