@charset "utf8";
html {background:#f2f2f2;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
body {margin-bottom:1rem;}
/*弹出框*/
.protips {display:none;z-index:110;padding:20px 10px;width:64%;background:rgba(0,0,0,0.8);line-height:29px;position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px;text-align:center;opacity:.8;}
.main {padding:0.2rem .24rem;}
.main_title {font-size:.3rem;border-left:4px solid #f3512b;padding-left:.1rem;margin:.3rem 0;}
.main .order_time {padding-bottom:.2rem;}
.main .order_time .time_txt {font-size:.28rem;color:#797a82;}
.main .order_time .time_txt>div {margin-bottom:.2rem;padding-left:.26rem;}
.main .order_time .time_txt p {display:inline-block;}
.main .order_time .time_txt p span {margin-right:.6rem;height:.4rem;display:inline-block;vertical-align:middle;}
.main .order_time .time_txt p span:last-child {margin-right:0;}
.main .order_time .time_txt p span i {display:inline-block;width:.23rem;height:.23rem;vertical-align:middle;border:2px solid #d3d5de;}
.main .order_time .time_txt p span i.active {background:#f1370b;}
.main .order_time .time_txt p span em {vertical-align:middle;padding-left:.1rem;}
.main .order_explain {padding-bottom:.2rem;}
.main .order_explain>input {width:5.3rem;height:.7rem;font-size:.28rem;padding:0 .2rem;border:1px solid #ededed;margin-bottom:.2rem;-webkit-appearance:none;}
.main .order_explain span {height:auto;display:inline-block;width:5.7rem;background:#fff;border:1px solid #ededed;margin-bottom:.2rem;}
.main .order_explain span em {font-size:.28rem;color:#787878;display:inline-block;width:1.2rem;text-align:right;}
.main .order_explain span input {width:4rem;height:.7rem;font-size:.28rem;padding:0 .2rem;border:none;-webkit-appearance:none;}
textarea::-webkit-input-placeholder {color:#c4c4c4 !important;}
textarea:-moz-placeholder {color:#c4c4c4 !important;}
textarea::-moz-placeholder {color:#c4c4c4 !important;}
textarea:-ms-input-placeholder {color:#c4c4c4 !important;}
input::-webkit-input-placeholder {color:#c4c4c4 !important;}
input:-moz-placeholder {color:#c4c4c4 !important;}
input::-moz-placeholder {color:#c4c4c4 !important;}
input:-ms-input-placeholder {color:#c4c4c4 !important;}
.main .order_contact .contact_name {width:5.3rem;height:.7rem;font-size:.28rem;padding:0 .2rem;border:none;margin-bottom:.2rem;-webkit-appearance:none;}
.main .order_contact .contact_phone {width:3.3rem;height:.7rem;font-size:.28rem;padding:0 .2rem;border:1px solid #ededed;margin-bottom:.2rem;-webkit-appearance:none;}
.main .order_contact .yzm span,.main .order_contact .yzm .getCodes {height:.7rem;display:inline-block;line-height:.7rem;width:1.98rem;text-align:center;font-size:.28rem;background:#9899a3;color:#fff;border:1px solid #ededed;}
.main .order_contact .contact_yzm {width:5.3rem;height:.7rem;font-size:.28rem;padding:0 .2rem;border:1px solid #ededed;margin-bottom:.2rem;-webkit-appearance:none;}
