body {background:#f4f4f4;margin-bottom:1.4rem!important;}
.introduce {background:#fff;margin:.2rem .24rem;border-radius:.1rem;overflow:hidden;}
.introduce_d {padding:.3rem;}
.introduce_d .d_detail {float:left;width:2rem;height:2rem;overflow:hidden;}
.introduce_d .d_detail img {width:2rem;height:2rem;}
.introduce_d .d_txt {float:left;margin-left:.2rem;width:65%;}
.introduce_d .d_txt .d_txt_title {font-size:.42rem;font-weight:bold;margin-bottom:.36rem;}
.introduce_d .d_txt .d_txt_list ul li {float:left;width:33.3%;text-align:center;position:relative;}
.introduce_d .d_txt .d_txt_list ul li i {width:2px;height:.3rem;display:inline-block;background:#dedede;position:absolute;right:0;top:50%;margin-top:-.15rem;}
.introduce_d .d_txt .d_txt_list ul li p:first-child {font-size:.36rem;color:#f1370b;}
.introduce_d .d_txt .d_txt_list ul li p.list_txt {font-size:.24rem;color:#919191;}
.site {padding:.3rem;font-size:.28rem;background:url(../images/right_icon.png) 6.6rem center no-repeat;background-size:auto .3rem;}
.site span:first-child {color:#919191;}
.building_phone {height:1.52rem;overflow:hidden;position:relative;box-shadow:2px 4px 8px #dddeee;}
.building_phone>img {height:1.52rem;}
.building_phone .p_detail_01 {position:absolute;top:.3rem;font-size:.42rem;color:#2953a9;font-weight:bold;left:.38rem;}
.building_phone .p_detail_01 em {font-size:.3rem;padding:0 .04rem;}
.building_phone .p_detail_02 {position:absolute;top:.86rem;left:.38rem;font-size:.26rem;color:#2953a9;}
.building_phone span {position:absolute;top:50%;height:.8rem;width:.8rem;border-radius:50%;margin-top:-.4rem;right:.38rem;background:#fff url(../images/phone_01.png) center center no-repeat;background-size:auto .48rem;}
.main {background:#fff;}
.main .main_titleList ul {overflow-x:scroll;white-space:nowrap;}
.main .main_titleList ul li {font-size:.28rem;padding:.3rem .25rem;display:inline-block;position:relative;}
.main .main_titleList ul li.active i {position:absolute;width:.5rem;height:.1rem;background:#f1502a;display:inline-block;border-radius:0.2rem;bottom:.1rem;left:50%;margin-left:-.25rem;}
.main .main_titleList {height:1rem;}
.main .main_titleList .main_titleList_l {border-bottom:1px solid #eeeeee;}
.choose-top {position:fixed;top:0;right:0;left:0;background:#fff;z-index:100001;width:100%;}
.f_title {padding:.2rem .24rem;}
.f_title span:first-child {font-size:.36rem;font-weight:bold;}
.f_title a {float:right;background:url(../images/right_icon.png) right center no-repeat;background-size:auto .26rem;display:inline-block;padding-right:.3rem;color:#9fa1ab;}
.f_title span:last-child {font-size:.26rem;color:#9fa1ab;padding-left:.2rem;}
.esf,.czf,.sp {padding:.24rem 0;}
/*二手列表*/
.house-box {border-bottom:1px solid #eeeeee;position:relative;padding:.2rem 0;margin:0 .24rem;}
.house-item .house-img {width:1.92rem;height:1.46rem;margin-right:.2rem;position:relative;}
.l {float:left;}
.house-item .house-img .house_disk {display:inline-block;width:100%;height:100%;position:absolute;background:#000;opacity:.6;background:-webkit-linear-gradient(top,#000,transparent);background:-o-linear-gradient(top,#000,transparent);background:-moz-linear-gradient(top,#000,transparent);background:linear-gradient(to top,#000,transparent);}
.house-item .house-img img {width:100%;height:100%;}
.house-item .house-img .play_img {background:url(../images/play_icon.png) no-repeat center;background-size:.5rem;display:inline-block;width:.5rem;height:.5rem;position:absolute;top:50%;margin-top:-.25rem;left:50%;margin-left:-.25rem;}
.house-item .house-img .VR_img {background:url(../images/VR_icon.png) no-repeat center;background-size:.5rem;display:inline-block;width:.5rem;height:.5rem;position:absolute;bottom:.1rem;left:.1rem;}
.house-item dl {width:69%;}
.house-item dt {font-size:.3rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:.46rem;line-height:.46rem;}
.house-item dt .set_top {background:url(../images/topIcon.png) no-repeat center;background-size:.6rem;display:inline-block;width:.6rem;height:.46rem;vertical-align:middle;margin-right:.1rem;}
.house-item dt em {vertical-align:middle;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:2.1rem;display:inline-block;}
.house-item dt span {vertical-align:middle;font-size:.2rem;height:.34rem;display:inline-block;padding:0 .1rem;color:#fff;line-height:.38rem;margin-left:.1rem;}
.house-item dt span.label_01 {background:#bed7fa;}
.house-item dd {color:#333333;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:.4rem;line-height:.4rem;font-size:.24rem;}
.house-item dd.item-area {margin-top:.1rem;margin-bottom:.1rem;}
.esf-list .house-item dd.item-area em {margin-right:.2rem;}
.house-item dd .price {color:#f35712;font-size:.3rem;font-weight:bold;}
.r {float:right;}
.house-item dd {color:#333333;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:.4rem;line-height:.4rem;font-size:.24rem;}
.house-item dd.item-type-1 em {color:#a0a0a0;font-size:.24rem;}
.clear {clear:both;}
.gd {background:#f4f4f4;padding:.2rem .24rem;}
.gd a {display:inline-block;width:100%;text-align:center;height:.8rem;line-height:.8rem;background:#e3ebf8;border-radius:.1rem;font-size:.3rem;color:#3f77e8;}
.esf-list .house-item dd.item-area em {margin-right:.2rem;}
.house-item dd.item-type_zu em {margin-right:.2rem;}
/*精英团队*/
.tuandui .tuandui_list {height:4.6rem;overflow:hidden;border-bottom:.2rem solid #f4f4f4;}
.tuandui .tuandui_list ul {overflow-x:scroll;white-space:nowrap;height:5rem;}
.tuandui .tuandui_list ul li:first-child {margin-left:.24rem;}
.tuandui .tuandui_list ul li {width:3.2rem;display:inline-block;background:#f4f4f4;text-align:center;padding-top:.4rem;margin-right:.18rem;border-radius:.1rem;position:relative;}
.tuandui .tuandui_list ul li>i {display:inline-block;width:.8rem;height:.48rem;position:absolute;top:.24rem;right:.5rem;}
.tuandui .tuandui_list ul li>i.dz {background:url(../images/dz.png) center center no-repeat;background-size:.7rem;}
.tuandui .tuandui_list ul li>i.jl {background:url(../images/jl.png) center center no-repeat;background-size:.7rem;}
.tuandui .tuandui_list ul li .td_img {width:1.3rem;height:1.3rem;overflow:hidden;display:inline-block;border-radius:50%;}
.tuandui .tuandui_list ul li .td_img img {width:1.3rem;height:1.3rem;}
.tuandui .tuandui_list ul li .td_title {font-size:.28rem;font-weight:bold;padding:.2rem 0;}
.zjLevel {margin-top: .1rem; height: .2rem;}
.tuandui .tuandui_list ul li .td_achievement>div {display:inline-block;float:left;width:33.3%;position:relative;}
.tuandui .tuandui_list ul li .td_achievement>div p:first-child {font-size:.3rem;color:#f1370b;}
.tuandui .tuandui_list ul li .td_achievement>div p.ac_txt {font-size:.24rem;color:#919191;}
.tuandui .tuandui_list ul li .td_achievement>div i {width:2px;height:.3rem;display:inline-block;background:#dedede;position:absolute;right:0;top:50%;margin-top:-.15rem;}
.tuandui .tuandui_list ul li .link {padding:0 .3rem;display:inline-block;margin:.3rem 0;background:#737685;font-size:.24rem;color:#fff;height:.46rem;line-height:.46rem;border-radius:.4rem;}
/*商铺*/
.house-item dd.sp-item-type-1 em:first-child {color:#333;max-width:3.2rem;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;display:inline-block;}
.house-item dd.sp_item-area {color:#a0a0a0;}
/* 精英团队（经纪人）  */
.house-list .house-box .jy_img {position: relative; width:1.8rem;height:2.2rem;margin-right:.2rem;}
.house-list .house-box .jy_img .dz {position: absolute; width: .8rem; height: .48rem; left: 0; top: -.2rem; background:url(../images/dz.png) center center no-repeat;background-size:.7rem;}
.house-list .house-box .jy_img img {width:1.8rem;height:2.2rem;}
.house-item dt span.sf_rz {background:#fffae7;color:#f3850f;font-size:.24rem;border:1px solid #f1a80b;border-radius:.06rem;}
.house-item dt span.mp_rz {background:#ffece7;color:#f1370b;font-size:.24rem;border:1px solid #f1370b;border-radius:.06rem;}
.house-item  dd.jy-level {height: .2rem; padding: .1rem 0;}
.house-item  dd.jy-level img {height: .2rem;}
.house-item  dd.jy_item-area {font-size:.26rem;padding:.2rem 0 .2rem 0;}
.house-item  dd.jy_item-area>em {padding:0 .26rem;color:#d6d6d6;}
.house-item  dd.jy_item-area span em:first-child {color:#a0a0a0;padding-right:.18rem;}
.house-item  dd.jy_item-area span em:last-child {color:#f1370b;}
.house-item dd.jy-item-type-1 em:first-child {color:#a0a0a0;}
.house-item dd.jy-item-type-1 {height:.5rem;line-height:.5rem;}
.house-item dd.jy-item-type-1 button {width:1.5rem;height:.5rem;font-size:.28rem;background:#f1370b;border:none;color:#fff;border-radius:.1rem;}
