<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $list_seotitle != ""#}{#$list_seotitle#}{#else#}{#$list_typename#}{#/if#} - {#$video_channelName#} - {#$cfg_webname#}</title>
<meta name="keywords" content="{#$video_keywords#}" />
<meta name="description" content="{#$video_description#}" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$video_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
	var criticalPoint = 1200, criticalClass = "w1450";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var hideFileUrl = 0, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body class="w1200">
{#include file="_header.html"#}
<!-- 列表 -->
<div class="suger_candy">
	<div class="shut_up fn-clear">
		{#video action="alist" return="alist" typeid=$typeid title="{#$keywords#}" page=$page pageSize="60"#}
		<ul class="kl{#if $_bindex.alist % 6 == 0#} kl_4{#/if#}">
			<li class="kl_1">
				<a href="{#$alist.url#}" class="pic" title="{#$alist.title#}" target="_blank"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$alist.litpic#}"><i></i><s></s></a>
			</li>
			<li class="kl_2"><a href="#">{#$alist.title#}</a></li>
			<li class="kl_3">{#$alist.subtitle#}</li>
		</ul>
		{#/video#}
		{#if $pageInfo.totalCount == 0#}
		<div class="empty">暂无相关视频</div>
		{#/if#}
	</div>
	<!-- 列表 -->
	<!-- 分页器 -->
	{#getPageList service='video' template='list' typeid={#$list_id#}#}
	<!-- 分页器 -->
</div>

{#include file="_footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=2"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v=2"></script>
</body>
</html>
