#sidebar-dock {
	position:fixed;
	left:-43px;
	width:48px;
	top:0;
	bottom:0;
	background-color:#333;
	border-right:1px solid rgba(0,0,0,0.2);
	box-shadow:2px 0 3px 0 rgba(0,0,0,0.2);
	z-index:27;
	text-shadow:0 -1px 0 #000;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-transition:left .5s ease-in-out;
	transition:left .5s ease-in-out
}
html:not(.diy-design-mode) #sidebar-dock:after {
	display:block;
	content:'';
	position:absolute;
	right:-15px;
	width:15px;
	top:0;
	bottom:0;
	background:transparent
}
html.diy-design-mode #sidebar-dock {
	left:0
}
html:not(.diy-design-mode) #sidebar-dock:hover {
	-webkit-transition:left .3s ease-in-out;
	transition:left .3s ease-in-out;
	left:0
}
#sidebar-dock > .top {
	position:absolute;
	top:0;
	left:0;
	right:0
}
#sidebar-dock > .bottom {
	position:absolute;
	bottom:14px;
	left:0;
	right:0
}
#sidebar-dock .button {
	display:block;
	cursor:pointer
}
#sidebar-dock .button.disable {
	cursor:default
}
#sidebar-dock [class*=icon-] {
	color:#A4A4A4;
	text-align:center;
	height:46px
}
#sidebar-dock [class*=icon-]:hover,#sidebar-dock [class*=icon-].active {
	color:#FFFFFF;
	background-color:#3f3f3f
}
#sidebar-dock [class*=icon-].higilight {
	color:#189659
}
#sidebar-dock [class*=icon-].higilight:hover,#sidebar-dock [class*=icon-].higilight.active {
	color:#1cac66
}
#sidebar-dock [class*=icon-].disable,#sidebar-dock [class*=icon-].disable:hover {
	color:#4c4c4c
}
#sidebar-dock [class*=icon-].small {
	height:36px
}
#sidebar-dock [class*=icon-].large {
	height:50px
}
#sidebar-dock [class*=icon-]:after {
	font-family:"icon";
	font-size:26px;
	font-style:normal;
	font-weight:normal;
	vertical-align:-50%
}
.icon-nfss-logo:after {
	content:"\E600"
}
.icon-home:after {
	content:"\E601"
}
.icon-page:after {
	content:"\E602"
}
.icon-add:after {
	content:"\E603"
}
.icon-temp:after {
	content:"\E640"
}
.icon-preview:after {
	content:"\E604"
}
.icon-save:after {
	content:"\E605"
}
.icon-source:after {
	content:"\E641"
}
.icon-undo:after {
	content:"\E606"
}
.icon-redo:after {
	content:"\E607"
}
.icon-publish:after {
	content:"\E608"
}
.icon-help:after {
	content:"\E609"
}
