<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>网站公告-{#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/notice.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>

<body>
{#include file="../siteConfig/top1.html"#}

<!-- head s -->
<div class="wrap header fn-clear">
	<div class="logo">
		<a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
			<img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
		</a>
			<div class="shortname"><h2>{#$cfg_shortname#}</h2><p>地方最大最全生活网</p></div>
	</div>
	<dl class="kefu fn-clear">
		<dt><img src="{#$templets_skin#}../member/images/kf_tel.png" alt=""></dt>
		<dd>
			<p class="p1">客服热线</p>
			<p class="p2">{#$cfg_hotline#}</p>
		</dd>
	</dl>
</div>
<div class="split-line"></div>
<!-- head e -->

	<!-- 正文内容 s-->
	<div class="wrap fn-clear">
		<div class="notice_lead">站内公告</div>

		{#siteConfig action='notice' return='notice' page={#$page#} pageSize='20'#}
		<div class="notice_com">
			<div class="nc_lead fn-clear">
				<div class="nc_title"><i>•</i><a href="{#$notice.url#}" target="_blank">{#if $notice.color#}<font color="{#$notice.color#}">{#$notice.title#}</font>{#else#}{#$notice.title#}{#/if#}</a> </div>
				<div class="nc_time">{#$notice.pubdate|date_format:"%Y.%m.%d"#}</div>
			</div>
			{#if $notice.description#}<div class="nc_text">{#$notice.description#}</div>{#/if#}
		</div>
		{#/siteConfig#}

		{#if $pageInfo.totalCount == 0#}
		<div class="empty" style="text-align:center; line-height: 300px; font-size: 14px;">暂无相关信息！</div>
		{#/if#}

		{#getPageList service='siteConfig' template='notice' pageType='dynamic' param="page=#page#"#}

	</div>
	<!-- 正文内容 e-->

	<div class="split-line"></div>

	<!-- 底部 s -->
	<div class="footer-login">
		<p>
			{#siteConfig action="singel"#}
			<a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}">{#$row.title#}</a><span class="pice">|</span>
			{#/siteConfig#}
			<a href="{#getUrlPath service='siteConfig' template='help'#}">帮助中心</a><span class="pice">|</span>
            <a href="{#getUrlPath service='siteConfig' template='feedback'#}">意见反馈</a>
		</p>
		{#$cfg_powerby#}
	</div>
	<!-- 底部 e -->
	{#$cfg_statisticscode#}
	<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
	</body>
	</html>
