.hud {
	position:absolute;
	pointer-events:none;
	display:none
}
.hud > .margin-box,.hud > .padding-box {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0
}
.hud .dim {
	position:absolute;
	background-color:rgba(255,255,255,0.12);
	border:1px solid #40b0ff
}
.hud > .padding-box > .dim {
	border-color:#37d24c
}
.hud .dim.negative {
	border-color:#ff5f40
}
.hud .dim.top {
	left:0;
	right:0;
	bottom:auto;
	border-width:1px 0 0
}
.hud .dim.right {
	top:0;
	bottom:0;
	left:auto;
	border-width:0 1px 0 0
}
.hud .dim.bottom {
	left:0;
	right:0;
	top:auto;
	border-width:0 0 1px
}
.hud .dim.left {
	top:0;
	bottom:0;
	right:auto;
	border-width:0 0 0 1px
}
.hud .dim.aliquot {
	left:0;
	top:0;
	bottom:0;
	right:0;
	border-width:0
}
.hud > .padding-box > .dim.top,.hud .dim.top.negative {
	top:0;
	border-width:0 0 1px
}
.hud > .padding-box > .dim.right,.hud .dim.right.negative {
	right:0;
	border-width:0 0 0 1px
}
.hud > .padding-box > .dim.bottom,.hud .dim.bottom.negative {
	bottom:0;
	border-width:1px 0 0
}
.hud > .padding-box > .dim.left,.hud .dim.left.negative {
	left:0;
	border-width:0 1px 0 0
}
.hud .dim>.line {
	position:absolute
}
.hud .dim.top>.line,.hud .dim.bottom>.line {
	height:100%;
	width:15px;
	left:50%;
	margin-left:-7.5px
}
.hud .dim.right>.line,.hud .dim.left>.line,.hud .dim.aliquot>.line {
	width:100%;
	height:15px;
	top:50%;
	margin-top:-7.5px
}
.hud .dim>.line:after,.hud .dim>.line:before {
	content:'';
	position:absolute;
	background-color:#40b0ff
}
.hud > .padding-box > .dim>.line:before,.hud > .padding-box > .dim>.line:after {
	background-color:#37d24c
}
.hud .dim.negative>.line:before,.hud .dim.negative>.line:after {
	background-color:#ff5f40
}
.hud .dim.aliquot>.line:after {
	background-color:black
}
.hud .dim.top>.line:before,.hud .dim.bottom>.line:before {
	height:1px;
	width:100%
}
.hud .dim.right>.line:before,.hud .dim.left>.line:before {
	height:100%;
	width:1px
}
.hud .dim.top>.line:after,.hud .dim.bottom>.line:after {
	top:1px;
	bottom:1px;
	width:1px;
	left:7px
}
.hud .dim.left>.line:after,.hud .dim.right>.line:after,.hud .dim.aliquot>.line:after {
	left:1px;
	right:1px;
	height:1px;
	top:7px
}
.hud .dim.top>.line:before {
	left:0;
	bottom:0
}
.hud .dim.right>.line:before {
	top:0;
	left:0
}
.hud .dim.bottom>.line:before {
	top:0;
	left:0
}
.hud .dim.left>.line:before {
	top:0;
	right:0
}
.hud >.padding-box > .dim.top>.line:before,.hud .dim.top.negative>.line:before {
	top:0;
	bottom:auto
}
.hud >.padding-box > .dim.right>.line:before,.hud .dim.right.negative>.line:before {
	right:0;
	left:auto
}
.hud >.padding-box > .dim.bottom>.line:before,.hud .dim.bottom.negative>.line:before {
	top:auto;
	bottom:0
}
.hud >.padding-box > .dim.left>.line:before,.hud .dim.left.negative>.line:before {
	right:auto;
	left:0
}
.hud .dim>.line>i {
	display:block;
	position:absolute;
	overflow:hidden
}
.hud .dim.top>.line>i,.hud .dim.bottom>.line>i {
	width:100%;
	height:7px
}
.hud .dim.right>.line>i,.hud .dim.left>.line>i,.hud .dim.aliquot>.line>i {
	width:7px;
	height:100%
}
.hud .dim.top>.line>i,.hud > .padding-box > .dim.bottom>.line>i,.hud .dim.bottom.negative>.line>i {
	top:0;
	bottom:auto
}
.hud .dim.right>.line>i,.hud > .padding-box > .dim.left>.line>i,.hud .dim.left.negative>.line>i,.hud .dim>.line>i.right {
	right:0;
	left:auto
}
.hud .dim.bottom>.line>i,.hud > .padding-box > .dim.top>.line>i,.hud .dim.top.negative>.line>i {
	bottom:0;
	top:auto
}
.hud .dim.left>.line>i,.hud > .padding-box > .dim.right>.line>i,.hud .dim.right.negative>.line>i,.hud .dim>.line>i.left {
	left:0;
	right:auto
}
.hud .dim>.line>i:after {
	content:'';
	position:absolute;
	display:block;
	height:20px;
	width:20px;
	border:1px solid #40b0ff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.hud > .padding-box > .dim>.line>i:after {
	border-color:#37d24c
}
.hud .dim.negative>.line>i:after {
	border-color:#ff5f40
}
.hud .dim.aliquot>.line>i:after {
	border-color:black
}
.hud .dim.top>.line>i:after,.hud > .padding-box > .dim.bottom>.line>i:after,.hud .dim.bottom.negative>.line>i:after {
	left:50%;
	top:0;
	right:auto;
	bottom:auto;
	-webkit-transform-origin:left top;
	transform-origin:left top
}
.hud .dim.right>.line>i:after,.hud > .padding-box > .dim.left>.line>i:after,.hud .dim.left.negative>.line>i:after,.hud .dim>.line>i.right:after {
	top:50%;
	right:0;
	left:auto;
	bottom:auto;
	-webkit-transform-origin:right top;
	transform-origin:right top
}
.hud .dim.bottom>.line>i:after,.hud > .padding-box > .dim.top>.line>i:after,.hud .dim.top.negative>.line>i:after {
	right:50%;
	bottom:0;
	left:auto;
	top:auto;
	-webkit-transform-origin:right bottom;
	transform-origin:right bottom
}
.hud .dim.left>.line>i:after,.hud > .padding-box > .dim.right>.line>i:after,.hud .dim.right.negative>.line>i:after,.hud .dim>.line>i.left:after {
	bottom:50%;
	left:0;
	right:auto;
	top:auto;
	-webkit-transform-origin:left bottom;
	transform-origin:left bottom
}
.hud .dim>.line>label {
	color:#fff;
	text-shadow:0 -1px 0 #225a88;
	position:absolute;
	display:block;
	z-index:23;
	height:20px;
	line-height:20px;
	width:75px;
	font-size:12px;
	font-weight:600;
	font-family:'Open Sans';
	box-sizing:border-box;
	-moz-box-sizing:border-box
}
.hud .dim>.line>label>span {
	padding:2px 8px;
	background-color:#5ab2fb;
	white-space:nowrap;
	box-shadow:0 0 0 1px rgba(0,0,0,0.3);
	-webkit-transition:background-color .2s linear;
	transition:background-color .2s linear
}
.hud>.padding-box>.dim>.line>label>span {
	background-color:#6db062
}
.hud .dim.negative>.line>label>span {
	background-color:#ff5f40
}
.hud .dim.aliquot>.line>label>span {
	background-color:black;
	color:white
}
.hud .dim.top>.line>label,.hud .dim.bottom>.line>label {
	margin-left:-30px;
	text-align:center;
	-webkit-transition:top .25s ease-out;
	transition:top .25s ease-out
}
.hud .dim.right>.line>label,.hud .dim.left>.line>label {
	margin-top:-2.5px;
	text-align:left;
	-webkit-transition:left .25s ease-out;
	transition:left .25s ease-out
}
.hud .dim.top>.line>label {
	top:100%
}
.hud .dim.right>.line>label {
	left:-75px;
	text-align:right
}
.hud .dim.bottom>.line>label {
	top:-20px
}
.hud .dim.left>.line>label {
	left:100%
}
.hud .dim.aliquot>.line>label {
	left:50%;
	width:120px;
	margin-left:-60px;
	margin-top:-2.5px;
	text-align:center
}
.hud > .padding-box > .dim.top>.line>label,.hud .dim.top.negative>.line>label {
	top:-20px
}
.hud > .padding-box > .dim.right>.line>label,.hud .dim.right.negative>.line>label {
	left:100%;
	text-align:left
}
.hud > .padding-box > .dim.bottom>.line>label,.hud .dim.bottom.negative>.line>label {
	top:100%
}
.hud > .padding-box > .dim.left>.line>label,.hud .dim.left.negative>.line>label {
	left:-75px;
	text-align:right
}
