[id^="xunlei_com_thunder"] {
	display:none
}
@font-face {
	font-family:"icon";
	src:url('images/icon.woff?2014011104') format('woff');
	font-weight:normal;
	font-style:normal
}
html {
	overflow-y:scroll !important;
	overflow-x:auto !important
}
html.diy-design-mode body {
	padding-bottom:50px
}
html.diy-design-mode body:empty:before {
	display:block;
	position:absolute;
	width:186px;
	height:107px;
	left:50%;
	top:50%;
	margin-left:-93px;
	margin-top:-53.5px;
	background:url(images/drag-tips.png) no-repeat;
	background-size:contain
}
html.diy-design-mode .w-area:not(body):empty {
	min-height:50px !important;
	outline:1px dashed rgba(0,0,0,0.35);
	outline-offset:-1px;
	box-shadow:inset 0 0 0 4px rgba(0,0,0,0.07)
}
html.diy-design-mode .w-area.affected:not(body):empty {
	min-height:0 !important
}
html.diy-move-mode {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
body {
	min-height:100%
}
.diy-outline-masker {
	pointer-events:none;
	overflow:hidden;
	max-height:100px !important
}
.diy-marker {
	font-size:0;
	height:10px;
	overflow:visible;
	position:relative;
	background-image:-webkit-linear-gradient(left,#55B9FF,#55B9FF);
	background-image:linear-gradient(to left,#55B9FF,#55B9FF);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 2px;
	-mox-box-sizing:border-box;
	box-sizing:border-box
}
.diy-marker:only-child {
	height:50px
}
.diy-marker:before,.diy-marker:after {
	content:'';
	position:absolute;
	height:10px;
	width:2px;
	top:50%;
	margin-top:-5px;
	font-size:0;
	display:block;
	background-color:#55B9FF
}
.diy-marker:before {
	left:0
}
.diy-marker:after {
	right:0
}
[contenteditable="true"],[contentEditable="true"] {
	outline:none
}
html.diy-cursor-move,html.diy-cursor-move * {
	cursor:-webkit-grabbing !important;
	cursor:-moz-grabbing !important;
	cursor:grabbing !important
}
html.diy-cursor-copy,html.diy-cursor-copy * {
	cursor:copy !important
}
html.diy-cursor-no-drop,html.diy-cursor-no-drop * {
	cursor:no-drop !important
}
html.diy-cursor-col-resize,html.diy-cursor-col-resize * {
	cursor:col-resize !important
}
