<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$news_typename#}-{#$detail_title#}-{#$business_title#}</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}../../siteConfig/default/css/index_public.css?v=1" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=3" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/news.css?v=3" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$business_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#include file="../../siteConfig/public_top_v1.html"#}

{#$pageCurr = "news"#}
{#include file="nav.html"#}

  <div class="wrap">
    <div class="main fn-clear">
      <div class="slidebar fn-left">
        <ul>
		  {#business action="news_type" return="type" uid={#$detail_id#}#}
          <li{#if $id == $type.id#} class="curr"{#/if#}><a href="{#$type.url#}">{#$type.typename#}</a></li>
		  {#/business#}
        </ul>
      </div>
      <div class="main-con fn-left">
        <h3>{#$news_typename#}</h3>
        <div class="main-body">
			<ul class="newsList">
				{#business action="news_list" return="list" uid={#$detail_id#} typeid={#$id#} page={#$page#} pageSize="20"#}
				<li><span>[{#$list.typename#}]</span><a href="{#$list.url#}" target="_blank">{#$list.title#}</a><em>{#$list.pubdate|date_format:"%Y-%m-%d"#}</em></li>
				{#/business#}
			</ul>
        </div>

		<!-- 分页 -->
		<div class="fn-clear">
		    {#getPageList service='business' template='news' bid={#$detail_id#} typeid={#$id#} pageType='dynamic' param="{#$pageParam#}&page=#page#"#}
		</div>

      </div>
    </div>
  </div>

{#include file="footer.html"#}
</body>
</html>
