html{height: 100%;}
body{height: 100%;}
.header{z-index: 10;}
.guide-mask {width: 100%;height: 100%;display: none;background: url("../images/index_guide.png") no-repeat rgba(0,0,0,0.7) -.06rem -.28rem;background-size: 100% auto;position: fixed;z-index: 101;top: 0;left: 0;}
.main .main-inside {width: 200%;position: relative;left: 0;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;}
.main .show{transform: translate3d(-50%, 0, 0);}
.main .control {width: 22px;height: 52px;background: url("../images/mobile_gl.png") no-repeat;background-size: 100%;position: fixed;z-index: 102;top: 46%;right: 0;}
.main .btn_go_right{width: 22px;height: 52px;background: url("../images/mobile_gl_r.png") no-repeat;background-size: 100%;position: fixed;z-index: 102;top: 46%;left: 0;}
.main .swiper-wrap {width: 50%;background: #f2f2f2;height: 100%;}
.main .news-list-wrap {width: 50%;height:100%;overflow-y: scroll;background: #f8f8f8;-webkit-overflow-scrolling: touch;}
/*.cut{overflow: hidden;}*/

.nav{padding: .2rem .25rem;position: relative;z-index: 102;display: flex;flex-wrap: nowrap;justify-content: space-between;height: 1rem;line-height: 1rem;box-sizing: border-box;}
.nav li{background: #fff;text-align: center;min-width: 1.78rem;zoom:1;height: .56rem;line-height: .56rem;border-radius: .28rem;font-size: .28rem;color: #333;border: .02rem solid #000;}
.nav li.edit{border: 0;color: #fff; width:1.78rem;padding:0 .35rem;overflow:hidden;box-sizing:border-box;background-image: -moz-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);background-image: -ms-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);}
.nav li.pdf a{display: block;width: 100%;height: 100%;line-height: .56rem;}
.nav li.pdf i{display: inline-block;width: .3rem;height: .3rem;background: url("../images/icon_pdf.png") no-repeat;background-size: contain;margin: 0 .18rem -.04rem -.22rem;}
.nav li.date{position: relative;}
.nav li.date span{position: absolute;z-index: 1;right: .34rem;}
.nav li.date input{position: absolute;z-index: 2;opacity: 0;right: .34rem;}
.nav li.date i{display: inline-block;width:.3rem;height: .3rem;background: url("../images/icon_date.png") no-repeat;background-size: contain;position: absolute;left: .3rem;top: .12rem;}
.nav li.date input{width: .8rem;border: 0;}
.nav .share{background-color: rgb(252, 220, 220);width: .7rem;height: .6rem;border-radius: .3rem;text-align: center;}
.nav .share a{display: inline-block!important;width: .26rem;height: .26rem;overflow: hidden;background: url("../images/icon_share.png") no-repeat;background-size: contain;margin-bottom: .18rem;}
.nav li.disabled {visibility: hidden;}

.line{width: 100%;border-bottom: .02rem solid #d7d9de;}
.topSwiper{position: relative;overflow: hidden;background: #fff;}
.topSwiper .swiper-slide{transition: all .3s ease-in-out;background-color: #fff;width:100%;height:100%;overflow: hidden;}
.topSwiper .swiper-slide img{width: 100%;}
.topSwiper .swiper-pagination{position: absolute;right: .25rem;bottom:.24rem;left:auto;width:auto; padding: .04rem .2rem; line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .26rem;z-index: 9;}
.topSwiper .pagination {position: absolute;z-index: 20;left: 0;bottom: .38rem;width: 100%;text-align: center;opacity: 0;}
.topSwiper .swiper-pagination-bullet{width: .3rem;height: .04rem;margin-right:.05rem;border-radius:0;background: #ccc;opacity:0.5;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.topSwiper .swiper-pagination-bullet-active{background: #0a75c7;}

.news-list-wrap{background: #fff;}
.news-list-wrap .nav{border-bottom: .02rem solid #d7d9de;padding: .2rem .25rem;background: #fff;}
.news-list-wrap .nav li{float:left;margin-right:.2rem;text-align: center;min-width: 1.7rem;height: .56rem;line-height: .56rem;border-radius: .28rem;font-size: .28rem;color: #333;border: .02rem solid #000;}
.news-list-wrap .nav li.edit{border: 0;color: #fff; background-image: -moz-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);background-image: -ms-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);}
.news-list-wrap .container{background: #fff;height: 100%;}
.news-list-wrap .container .list{height: 100%;background: #fff;text-align: center;overflow: scroll;}
.news-list-wrap .container .list li{background: #fff;border-bottom: .02rem solid #e3e3e3;padding: .38rem .26rem;text-align: left;}
.news-list-wrap .container .list li h3{font-size: .36rem ;color: #333;margin-bottom: .2rem;}
.news-list-wrap .container .list li .con-box .img-box{width: 2.28rem ;height: 1.5rem;overflow: hidden;border-radius: .06rem;position: relative;margin-left: .25rem;}
.news-list-wrap .container .list li .con-box .img-box img{width: 100%;height: 100%;object-fit: cover;}
.news-list-wrap .container .list li .con-box .img-box em{position: absolute;right: .15rem;bottom: .15rem;font-size:.24rem;height: .32rem;line-height: .32rem;border-radius: .16rem;background: rgba(0,0,0,0.3);color: #fff;text-align: center;padding: 0 .2rem;}
.news-list-wrap .container .list li .con-box .info p{text-align: justify;color: rgb(166, 167, 171);font-size: .26rem;}
.news-list-wrap .loading{text-align: center;color: #a6a6a6;padding: .5rem 0;}
.news-list-wrap .loading img{width: .4rem ;height: .4rem;}



.edit-box{position: fixed;top: .9rem;bottom: 0;left: 0;width: 3.2rem;background: #de3336;z-index: 105;padding: .35rem .2rem;transform: translate3d(-100%,0,0);transition: all .3s ease-out;-webkit-transition: all .3s ease-out;}
.edit-box ul li{display:inline-block;height: .6rem;line-height: .6rem;padding:0 .3rem;color: #fff;font-size: .3rem;margin-bottom: .1rem;border-radius: .3rem;}
.edit-box ul li a{color: #fff;}
.edit-box ul li.active{background: #fff;color: #de3336;}
.edit-box ul li.active a{color: #de3336;}
.edit-bg{position: fixed;top: .9rem;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.5);z-index: 103;display: none;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;}
.show{transform: translate3d(0, 0, 0);}
.out{display: block;}

.md_mask.show{opacity: 0.5!important;}

