{#$cssFile = array("mobiscroll.css", "tongji-filter.css")#}
{#if $action == 'Chartrevenue'#}
{#$pageTitle = $langData['waimai'][1][4]#}
{#elseif $action == 'Chartorder'#}
{#$pageTitle = $langData['waimai'][1][23]#}
{#elseif $action == 'Chartordertime'#}
{#$pageTitle = $langData['waimai'][1][30]#}
{#/if#}
{#include file='../_header.html' pageTitle=$pageTitle cssFile=$cssFile goBack=1#}

  <div class="container">
    <form class="" action="/wmsj/statistics/waimaiStatistics{#$action#}.php" method="post">
      <div data-role="fieldcontain" class="dom_select">
        <label for="">{#$langData['siteConfig'][17][34]#}</label>
        <input name="beginDate" class="demo-test-date" placeholder="{#$langData['siteConfig'][7][2]#}" value=""/>
        <em class="arrow"></em>
      </div>
      <div data-role="fieldcontain" class="dom_select">
        <label for="">{#$langData['siteConfig'][19][310]#}</label>
        <input name="endDate" class="demo-test-date" placeholder="{#$langData['siteConfig'][7][2]#}" value=""/>
        <em class="arrow"></em>
      </div>
      <div data-role="fieldcontain" class="dom_select">
        <label for="">{#$langData['waimai'][1][8]#}</label>
        <select class="demo-test-select" data-role="none" name="shop_id">
          <option value="0">{#$langData['waimai'][1][9]#}</option>
          {#foreach from=$shopArr item=shop#}
          <option value="{#$shop.id#}"{#if $shop_id == $shop.id#} selected{#/if#}>{#$shop.shopname#}</option>
          {#/foreach#}
        </select>
        <em class="arrow"></em>
      </div>
      <a href="javascript:;" class="submit">{#$langData['waimai'][1][10]#}</a>
    </form>
    <p class="tips"></p>
  </div>


{#$jsFile = array("zepto.deferred.js", "mobiscroll.js", "mobiscroll.datetime.js", "mobiscroll.select.js", "tongji-filter.js?v=2")#}
{#include file='../_footer.html' jsFile=$jsFile curr='statistics'#}

</body>
</html>
