body,html{background: #f4f4f4;padding-bottom: 1rem;}
.pubBox{margin-bottom: .12rem;background: #fff;}
/*头部幻灯片部分*/
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.11rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #fff;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}
/* 搜索 */
.search-form {background:#fff;padding:.28rem .24rem;margin-bottom:.12rem;}
.search-form .sobj {height:.74rem;border:2px solid #4d6fff;border-radius:3px;line-height:.74rem;display:-webkit-box;width:6rem;float:left;}
.search-form .area {position:relative;-webkit-box-flex:1;}
.search-form .area:after {position:absolute;content:"";right:.1rem;top:50%;width:1px;height:.46rem;margin-top:-.23rem;background:linear-gradient(#f6f6f6,#a9a9a9,#f6f6f6);}
.search-form .area a {display:block;font-size:.24rem;color:#333;}
.search-form .area i {display:inline-block;width:.28rem;height:.28rem;margin-top:-.02rem;vertical-align:middle;margin-left:.1rem;background:url('../images/pos.png') no-repeat center;background-size:70%;}
.search-form .area label {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:-.03rem;}
.search-form .area s {display:inline-block;vertical-align:middle;border-right:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0;width:.1rem;height:.1rem;transform:rotate(45deg);margin:-.08rem 0 0 .1rem;}
.search-form .inp {-webkit-box-flex:6;}
.search-form .inp a {position:relative;display:block;color:#a0a0a0;padding-left:.1rem;}
.search-form .inp s {position:relative;width:.24rem;height:.24rem;margin-top:-.02rem;display:inline-block;vertical-align:middle;}
.search-form .inp s:before {position:absolute;content:"";left:0;top:0;width:.16rem;height:.16rem;border:1px solid #a0a0a0;border-radius:50%;}
.search-form .inp s:after {position:absolute;content:"";left:.19rem;top:.15rem;transform:rotate(-45deg);width:1px;height:.08rem;overflow:hidden;background:#a0a0a0;}
.search-form .inp span {position:absolute;right:0;top:0;width:1rem;height:.74rem;background:#4d6fff;color:#fff;font-size:.26rem;text-align:center;}
.search-form .qiandao {float:left;margin-left:.3rem;font-size:.24rem;}
.search-form .qiandao img {width:.45rem;}

/*图标列表*/
.swiper-nav {position:relative;overflow:hidden;height:3.7rem;padding:.2rem 0 .15rem;}
.swiper-nav .swiper-wrapper {height:auto !important;margin-bottom:.1rem;}
.swiper-nav ul {height: 3.2rem;overflow:hidden;}
.swiper-nav li {width:20%;float:left;text-align:center;margin-bottom:.2rem;}
.swiper-nav li a {display:block;}
.swiper-nav li span.icon-circle {display:block;width:1.5rem;margin:0 auto;padding:.1rem 0;}
.swiper-nav li span img {display:block;height:.85rem;margin:0 auto;}
.swiper-nav li span.icon-txt {font-size:.28rem;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 3px;}
.swiper-nav .swiper-pagination-bullet-active {width:.3rem!important;height:.1rem!important;border-radius:1rem;background:#4d6fff!important;opacity:1!important;}
.swiper-nav .swiper-pagination-bullet {width:.1rem;height:.1rem;background:#eeeeee;opacity:1;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .3s ease-in-out;}

/*总数*/
.account{background: #fff; text-align: center; position: relative;}
.account li{float: left; width: 33.3%;}
.account li a{display: block; padding: .24rem 0;}
.account li a p{line-height: 1;font-size: .26rem;color:#a0a0a0;}
.account li a p em{color:#333;font-size: .28rem;}

/*推荐切换*/
.recomTab{background: #fff;position: relative;z-index: 1;}
.recomTab.topfixed{position: fixed;top:0;left:0;right:0;z-index: 99;border-bottom:solid 1px #eee;}
.recomTab ul{display: -webkit-box;overflow: hidden;height: 0.85rem;line-height: .85rem;margin:0 auto;padding:0 .24rem;}
.recomTab li{width:25%;-webkit-box-flex:1;height:.8rem;line-height: .8rem;font-size: 0.28rem;text-align: center;}
.recomTab li a{display: inline-block;font-size: .28rem; }
.recomTab li.active{border-bottom: 0.04rem solid #4d6fff;}
.recomTab li.active a{color: #4d6fff;transition:0.1s;font-weight: bold;}
#tabs_container .swiper-slide{background: #f5f5f5;}
/*发布*/
.fabu-btn{display:block;position:fixed;bottom: 2.5rem;right: .2rem;width: .8rem;height: .8rem;border-radius: 50%;background: -webkit-linear-gradient(45deg, #5e62ff, #6d59ff); background: -o-linear-gradient(45deg, #5e62ff, #6d59ff); background: -moz-linear-gradient(45deg, #5e62ff, #6d59ff); background: linear-gradient(45deg, #5e62ff, #6d59ff); z-index: 99;box-shadow: 0 0 .1rem #5e62ff;}
.fabu-btn i{display:block;width: .8rem;height: .8rem;background: url(../images/fabuIcon.png);background-size:.8rem; }

/* iPhoneX适配 */
.fabu-btn{bottom: calc(2.5rem + constant(safe-area-inset-bottom));bottom: calc(2.5rem + env(safe-area-inset-bottom));}
.loading,.empty{text-align: center;margin:.5rem auto;}

#tabs-container .swiper-wrapper {height: auto !important;}