body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;color: #000; overflow: hidden;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}

a {color: #000;}

/*头部*/
.header{position: relative; height: 1rem;line-height: 1rem;background: #f4f4f4;}
.header a{display: table-cell;height: 1rem;vertical-align: middle;width: 1rem;}
.header-l{left: 0; top: 0; width: 1rem; height: 1rem;}
.header-l img{height: .5rem;display: block;margin: 0 auto;}
.header-c{padding: 0 1rem; text-align: center; font-size: .36rem;}
.header-search{visibility: hidden;}

/*头部导航*/
.nav{background: #fff;position: fixed;top: 1rem;left: 0;right: 0;z-index: 11;display: none;}
.nav ul{padding: .2rem 0 .1rem 0;border-bottom: 1px solid #efefef;}
.nav li{width: 20%;float: left;text-align: center;}
.nav li:nth-child(5n) a span{border-right: none;}
.nav li a{display: block;padding: .3rem 0;font-size: .26rem;}
.nav li a span{display: block;border-right: 1px solid #efefef;line-height: .25rem;}

/*订单内容*/
.content{background: #fff; padding-bottom: .5rem;}
.title{text-align: center; padding: .5rem 0;}
.title span{background: url(../images/success.png) left center no-repeat; background-size: .4rem auto; line-height: .4rem; margin: 0 auto; font-size: .3rem; padding: .3rem 0 .3rem .5rem; color: #666;}
.title.err span {background: url(../images/error.png) left center no-repeat; background-size: .4rem auto;}
.content li{line-height: .7rem; padding: 0 .2rem; font-size: .28rem; color: #666; height: .7rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.content li span{color: #999; margin-right: .3rem;}
.content li strong{font-size: .4rem; font-weight: normal; color: #000;}
.content .errinfo {text-align: center;}
