<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>分站城市管理</title>
{#$cssFile#}
<style>
    .setting, .setting label {display: inline-block;}
    .setting {margin-left: 50px;}
    .setting label {margin: 0 10px 0 0;}
    .setting label input[type=radio] {margin-right: 0;}
</style>
</head>

<body>
<div class="search">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">批量操作<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" data-id="0">主域名</a></li>
      <li><a href="javascript:;" data-id="1">子域名</a></li>
      <li><a href="javascript:;" data-id="2">子目录</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-success">保存全部</button>
  <button type="button" class="btn btn-primary ml30">开通城市</button>
    <div class="setting">
        <label class="statusTips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="举例说明：开通了苏州分站，再开通昆山（归属于苏州管辖的县级市）分站，此时是否需要隐藏苏州分站下的昆山区域"><i class="icon-question-sign" style="margin-top: 4px;"></i>
        重复区域：</label>
        <label><input type="radio" name="state" value="1"{#if $cfg_sameAddr_state#} checked{#/if#} /> 显示</label>
        <label><input type="radio" name="state" value="0"{#if !$cfg_sameAddr_state#} checked{#/if#} /> 隐藏</label>
        <button class="btn btn-small btn-success" id="save">保存</button>
    </div>
</div>
<ul class="thead clearfix" style="position:relative; top:0; left:0; right:0; margin:10px 10px 0;">
  <li class="row5">ID</li>
  <li class="row15 left">城市名称</li>
  <li class="row10 left">类型</li>
  <li class="row30 left">域名</li>
  <li class="row40 left">操作</li>
</ul>
<div class="list mt124" id="list"><table><tbody><tr><td style="height:200px;" align="center">加载中...</td></tr></tbody></table></div>
<div class="search">
  <div class="btn-group dropup">
    <button class="btn dropdown-toggle" data-toggle="dropdown">批量操作<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" data-id="0">主域名</a></li>
      <li><a href="javascript:;" data-id="1">子域名</a></li>
      <li><a href="javascript:;" data-id="2">子目录</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-success">保存全部</button>
  <button type="button" class="btn btn-primary ml30">开通城市</button>
</div>

<script id="addCity" type="text/html">
  <form action="" class="quick-editForm" name="editForm">
    <dl class="clearfix">
      <dt>所属城市：</dt>
      <dd>
        <select id="pBtn" name="pBtn" style="width:130px;">
          <option value="">--省份--</option>
          {#if $province#}
          {#foreach from=$province item=p#}
          <option value="{#$p.id#}" data-pinyin="{#$p.pinyin#}">{#$p.typename#}</option>
          {#/foreach#}
          {#/if#}
        </select>
        <select id="cBtn" name="cBtn" style="width:130px;">
          <option value="">--城市--</option>
        </select>
        <select id="xBtn" name="xBtn" style="width:130px;">
          <option value="">--区县--</option>
        </select>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>域名类型：</dt>
      <dd class="clearfix">
        {#html_radios name="domaintype" values=$domaintype checked=$domaintypeChecked output=$domaintypeNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>绑定域名：</dt>
      <dd>
        <div class="input-prepend input-append">
          <span class="add-on">http://{#$basehost#}</span>
          <input class="input-mini" type="text" name="domain" id="domain" />
          <span class="add-on" style="display:none;"></span>
        </div>
      </dd>
    </dl>
  </form>
</script>


<script>var adminPath = "{#$adminPath#}", subdomain = '{#$basehost#}', token = '{#$token#}', domainArr = {#$domainArr#};</script>
{#$jsFile#}
<script type="text/javascript">
    $(function(){
        $('.statusTips').tooltip();
    })
</script>
</body>
</html>
