<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="module">模块：</label></dt>
    <dd>
      <span id="moduleList">
        <select name="module" id="module">
          <option value="member"{#if $module == "member"#} selected="selected"{#/if#}>会员</option>
          {#html_options values=$moduleVal selected=$module output=$moduleList#}
        </select>
      </span>
      <span class="input-tips"><s></s>请选择所属模块</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="temp">模板名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="temp" id="temp" data-regex=".{1,100}" maxlength="100" value="{#$temp#}"{#if $system#} readonly="readonly"{#/if#} />
      <span class="input-tips"><s></s>请输入模板名称，100个字以内</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="temp">短信平台模板ID：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="tempid" id="tempid" data-regex=".*" maxlength="100" value="{#$tempid#}" />
      <span class="input-tips"><s></s>请输入短信平台设置好的模板ID，适用于阿里大于。</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="content">短信内容：</label></dt>
    <dd>
      <textarea class="input-xxlarge" rows="10" name="content" id="content" data-regex=".*">{#$content#}</textarea>
      <span class="input-tips"><s></s>请输入短信内容</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>系统参数：</dt>
    <dd class="systemLabel">
      <label data-val="$basehost">网站域名：$basehost</label>
      <label data-val="$webname">网站名称：$webname</label>
      <label data-val="$shortname">网站简称：$shortname</label>
      <label data-val="$weblogo">网站Logo：$weblogo</label>
      <label data-val="$hotline">400电话：$hotline</label>
      <label data-val="$time">当前时间：$time</label>
      <label data-val="$code">验证码：$code</label>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
