body{overflow-x: hidden;}
.topInfo .wrap {width: 1200px!important; margin: 0 auto;}
.topInfo{
	margin: 0!important;
}
.head_ {position: relative; height: 46px;}
.head{
	    height: 46px;
    background-color: #3d445c;
    text-align: center;
}
.head .header{
	width: 1200px;
	margin: 0 auto;
}
.head .header a img{
	float: left;
    height: 46px;
}
.head .header p{
	    width: 220px;
    height: 30px;
    background-color: #7e8291;
    float: right;
    margin: 8px 10px 0 0;
    border-radius: 3px;
    position: relative;
}
.head .header p a{
	    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin: 5px 0 0 10px;
}
.head .header p a img{
	    width: 20px;
    height: 40px;
}
.head .header input{
	    width: 160px;
    height: 18px;
    background-color: #7e8291;
    border: 1px solid #7e8291;
    color: #e5e6e9;
    font-size: 14px;
    float: left;
    margin: 5px 5px 0 10px;
}
.header ul{
	float: right;
}
.header ul li {
	float: left;
	    height: 46px;
    padding: 0 5px;
}
.header ul li:hover{
        background-color: #343c4e;
}
.header ul .find{
	    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 8px;
    color: #666;
    float: left;
}
.header ul .find:hover{
        background-color: #dbdbdb;
}
.header ul li a{
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    font-size: 16px;
    color: #FFF;
}
.navigation{
	width: 1200px;
	margin: 0 auto;
}
.na-left{
	float: left;
	    width: 198px;
    height: 760px;
    background-color: #FFF;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    float: left;
    position: relative;
	overflow: hidden;
}
.na-left img{
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 99;
}
.na-left ul{
	width: 168px;
    overflow: hidden;
    margin: 0 15px;
	margin-top: -2px;
}
.na-left ul li {
	    border-top: 1px dashed #ccc;
    width: 100%;
    overflow: hidden;
}
.na-left ul li a{
	    display: block;
    width: 100%;
    height: 53px;
    overflow: hidden;
    margin: 5px 0 4px;
}
.na-left ul .na-1 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
        background-position: 2px -40px;
}
.na-left ul .na-1 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position: 2px -40px;
}
.na-left ul .na-2 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
    background-position: 5px -351px;
}
.na-left ul .na-2 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:5px -351px;
}
.na-left ul .na-3 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
   background-position: 2px -195px;
}
.na-left ul .na-3 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:2px -195px;
}
.na-left ul .na-4 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
      background-position: 0 -445px;
}
.na-left ul .na-4 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:0 -445px;
}
.na-left ul .na-5 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
        background-position: 7px -145px;
}
.na-left ul .na-5 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:7px -145px;
}
.na-left ul .na-6 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    color: #5e5e5e;
     background: url(../images/index_iconAll2.png) no-repeat 0 -50px
}
.na-left ul .na-6 p:hover{
        background: url(../images/index_iconAll3.png) no-repeat 0 -50px;
 color: #0099e9;
    cursor: pointer;
}
.na-left ul .na-7 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
        background-position: 5px -546px;
}
.na-left ul .na-7 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:5px -546px;
}

.na-left ul .na-8 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
     background-position: 3px -296px;
}
.na-left ul .na-8 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:3px -296px;
}
.na-left ul .na-9 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
     background-position:5px -246px;
}
.na-left ul .na-9 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:5px -246px;
}
.na-left ul .na-10 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
     background-position:0 -95px;
}
.na-left ul .na-10 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:0 -95px
}
.na-left ul .na-11 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
     background-position:5px -497px;
}
.na-left ul .na-11 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:5px -497px;
}
.na-left ul .na-12 p{
	    font-size: 16px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding-left: 37px;
    margin: 10px 0 0 25px;
    background: url(../images/index_icon_new.png) no-repeat;
    color: #5e5e5e;
     background-position:6px 4px
}
.na-left ul .na-12 p:hover{
        background: url(../images/index_icon_new_on.png) no-repeat;
    color: #0099e9;
    cursor: pointer;
    background-position:6px 4px;
}
.na-right{
	float: right;
    width: 970px;
    position: relative;
}
.nar-img{
	position: relative;
    width: 970px;
    height: 340px;
    float: left;
    margin-top: 20px;
	overflow: hidden;
}
.nar-img img{
    width: 970px;
    height: 340px;
}
.nar-down  ul{
	margin-top: 21px;
	float: left;
        overflow: hidden;
    width: 1500px;
}
.nar-down  ul li{
	float: left;
	    margin-right: 20px;
    width: 308px;
    height: 378px;
        background-color: #FFF;
    border: 1px solid #e0e0e0;
    position: relative;
}
.nar-down  ul li a img{
	   width: 308px;
    height: 212px;
}
.nar-down  ul li a:hover img{
        opacity: 0.8;
}
.nar-down  ul li a p{
	font-size: 15px;
    color: #000;
    padding: 0 8px 0;
    height: 44px;
  }
.nar-down  ul li a p:hover{
        color: #0099e9;
  }
.erwei-1{
        background: url(../images/trans_75.png) repeat;
    position: absolute;
        width: 310px;
    height: 270px;
    left:0px;
    top:0px;
    display: none;
}
.nar-list1 i .erwei-1 img{
        width: 150px;
    height: 150px;
    border: 4px solid #FFF;
    border-radius: 5px;
        margin-left: 75px;
    margin-top: 30px;
}
.erwei-1 p{
        padding: 5px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFF;
    font-style: normal;
    margin-left: 78px;
    margin-top: 10px;
    float: left;
}
.nar-list1{
	float: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.nar-list1 b{
	float: left;
	    line-height: 20px;
    font-size: 14px;
    color: #999;
    float: left;
    margin-left: 5px;
    font-weight: normal;
        height: 20px;
    margin-top: 15px;
    overflow: hidden;
    padding: 0 8px;
    width: 287px;
}
.nar-list1 b i{
	    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/index_iconAll2.png) no-repeat -1px -601px;
    float: right;
}
.nar-list1 b img{
    width: 13px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.list-b2 {
	margin-top: 5px!important;
}
.nar-list2{
	    margin-top: 8px;
    float: left;
    width: 296px;
    margin-left: 5px;
	line-height: 25px;
}
.nar-list2 img{
	    width: 27px;
    height: 27px;
    border-radius: 50%;
    float: left;
}
.nar-list2 a{
	display: inline-block;
    max-width: 200px;
    height: 27px;
    line-height: 25px;
    float: left;
    font-size: 14px;
    color: #000;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.nar-list2 a:hover{
        color: #0099e9;
}
.nar-list2 b{
	color: #b71414;
    font-weight: normal;
    font-size:14px;
    float: right;
}
.nar-list2 p{
    display: inline-block;
    font-size: 14px;
    color: #444;
    float: right;
}
.nar-list2 span{
    background: url(../images/rz_icon.png) no-repeat 0px -60px;
        width: 12px;
    height: 14px;
    display: inline-block;
    margin-top: 5px;
    float: left;
}
.models{
    width: 1200px;
    margin: 0 auto;
}
.models p{
        height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
    border-left: 4px #0099e9 solid;
    margin: 20px 0 15px 0;
}
.models ul {
	width: 110%;
}
.models li {
        width: 395px;
    height: 215px;
    float: left;
    position: relative;
    margin-right: 7px;
    overflow: hidden;
}
.models li span {
	display: none;
}
.models-1{
    margin: 0!important;
}
.models a img{
        width: 395px!important;
    height: 215px;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.content-left-lead{
        height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
    border-left: 4px #0099e9 solid;
    margin: 20px 0 15px 0;
}
.content-left{
    float: left;
	width: 840px;
}
.content-left .hlist li{
    width: 838px;
    height: 168px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #dcdcdf;
    background-color: #FFF;
}
.content-left .hlist li.empty {
	text-align: center;
	line-height: 168px;
}
.content-left .hlist li a img{
        display: block;
    width: 223px;
    height: 130px;
    float: left;
    margin: 20px 0 0 20px;
}
.content-left .hlist li a img{
    width: 223px;
    height: 130px;
}
.content-left .hlist li h1 a {
    font-size: 18px;
    color: #000;
    display: inline-block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    max-width: 558px;
    height: 20px;
        width: 100%;
    height: 20px;
    line-height: 18px;
    margin: 22px 0 0 0;
    overflow: hidden;
    margin-left: 20px;
}
.content-left .hlist li h1 a:hover{
        color: #0099e9;
}
.content-left .hlist li span{
    width: 558px;
    margin-left: 20px;
    float: left;
    margin-top: 15px;
}
.content-left .hlist li span img{
        width: 23px;
    height: 23px;
    border-radius: 50%;
    float: left;
    cursor: pointer
}
.content-left .hlist li span a{
    height: 23px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    float: left;
    cursor: pointer;
}
.content-left .hlist li span a:hover{
    color: #0099e9;
}
.content-left .hlist li span p{
    background: url(../images/rz_icon.png) no-repeat 0px -60px;
        width: 12px;
    height: 14px;
    display: inline-block;
    margin: 4px 0 0 5px;
    float: left;
}
.content-left .hlist li i{
    font-style: normal;
    line-height: 20px;
    font-size: 14px;
    color: #999;
    float: left;
    margin-left: 20px;
    margin-top: 13px;
    width: 560px;
}
.content-left .hlist li i img{
    width: 13px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.pice{
    position: absolute;
    font-size: 14px;
    right: 26px;
    top: 128px;
    color: #ff9933;
}
.pice em{
    font-size: 12px;
    float: left;
    line-height: 29px;
}
.pice p{
    font-size: 18px;
    float: left;
}
.pice b{
    font-size: 12px;
    float: left;
    line-height: 29px;
    margin-left: 3px;
}
.pice span{
    display: block;
    width: 15px!important;
    height: 19px;
    background: url(../images/qr_new_down_15.png) no-repeat bottom;
    margin-top: 2px!important;
    margin-left: 10px!important;
}
.erwei{
    background: url(../images/trans_75.png) repeat;
    width: 188px;
    height: 170px;
    position: absolute;
        top: -129px;
    right: -26px;
    display:none;
}
.content-left ul li span .erwei img{
        width: 112px;
    height: 112px;
    border: 3px solid #FFF;
    border-radius: 5px;
    margin-top: 17px;
    margin-left: 35px;
    float: left;
}
.content-left ul li span .erwei p{
    float: left;
        font-size: 14px;
    width: 100%;
    line-height: 16px;
    color: #FFF;
    display: block;
    margin-top: 5px;
    cursor: default;
    text-align: center;
    background: none;
}
.content-foot a{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #0099e9;
    font-size: 14px;
    background-color: #eff8ff;
    border-radius: 5px;
    float: left;
}
.content-foot a:hover{
        background-color: #ddd
}
.conten-right{
    float: right;
}
.conten-right-lead{
    width: 330px;
        height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
    border-left: 4px #0099e9 solid;
    margin: 20px 0 15px 0;
}
.conten-right ul{
        overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #FFF;
}
.conten-right ul li{
        width: 286px;
    margin: 0 22px;
    border-bottom: 1px dashed #dedede;
    overflow: hidden;
    padding:10px 0 10px 0;
}
.conten-right ul li:last-child {
	border-bottom: 0;
}
.conten-right ul li a img {
        width: 72px;
    height: 72px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.conten-right ul li span a h2{
	width: 200px;
    font-size: 16px;
    color: #000;
    float: left;
    margin: 10px 0 0 10px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.conten-right ul li span a h2:hover{
    color: #0099e9
}
.conten-right ul li span a i{
        float: right;
    font-size: 14px;
    color: #0099e9;
    font-style: normal;
}
.conten-right ul li span a i:hover{
        color: #80ccf4;
}
.conten-right ul li p{
    font-size: 14px;
    color: #999;
    float: left;
    width: 200px;
    margin-top: 5px;
    overflow: hidden;
    text-align: left;
    line-height: 18px;
    margin-left: 10px;
}
/* 底部 */
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice-1 {margin:0 14px;color: #ddd;}
.ig-1{
    display: none;
}
.list{
    position: relative;
}
.hd{
    position: absolute;
        top: 334px;
    left: 456px;
}
.hd ul li{
        width: 10px;
    height: 10px;
    line-height: 105px;
    color: #FFFFFF;
    background: #FFFFFF;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    overflow: hidden;
    opacity: 0.7;
}
.hd li.on{
    background-color:  #0099e9;
}
.next{
    width: 43px;
    height: 71px;
    background: url(../images/zbf_scrollBtn.png) no-repeat;
    position: absolute;
    top: 156px;
        right: 0;
    background-position: -54px -1px;
    z-index: 99;
}
.prev{
       width: 43px;
    height: 71px;
    background: url(../images/zbf_scrollBtn.png) no-repeat;
    position: absolute;
    top: 156px;
    z-index: 99;
}
.fixed{
        position: fixed;
    top: 0;
	left: 0;
	right: 0;
    z-index: 999999999;
}
.content-left ul li a:hover img{
    opacity: 0.8;
}
.footer-login{
    margin-top: 100px;
    padding-top: 30px;
    border-top: 1px solid #e4e4e4;
}
