<div class="header wrap fn-clear">
    <div class="logo"><a href="{#$vote_channelDomain#}" title="{#$vote_channelName#}"><img src="{#$vote_logoUrl#}" alt="{#$vote_channelName#}"></a></div>
    <div class="kefu">
        <s><img src="{#$templets_skin#}images/toupiao_tel.png"></s>
        <p>客服热线</p>
        <em>{#$vote_hotline#}</em>
    </div>
    <div class="app-con fn-clear">
        <div class="icon-box app">
            <a href="{#$cfg_basehost#}/mobile.html" target="_blank"><img src="{#$templets_skin#}images/app.png"></a>
            <p><a href="{#$cfg_basehost#}/mobile.html" target="_blank">移动端</a></p>
            <div class="down app-down fn-clear">
                <div class="con-box">
                    <img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}">
                    <p>扫码访问</p>
                </div>
                <div class="con-box">
                    <img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}">
                    <p>扫码访问</p>
                </div>
            </div>
        </div>
        <div class="icon-box wx">
            <img src="{#$templets_skin#}images/weixin.png" >
            <p>微信端</p>
            <div class="down wx-down fn-clear">
                <div class="con-box">
                    <img src="{#$cfg_weixinQr#}">
                    <p>扫码访问</p>
                </div>
                <div class="con-box">
                    <img src="{#$cfg_weixinQr#}">
                    <p>微信公众平台：<br>{#$cfg_weixinName#}</p>
                </div>
                <div class="con-box">
                    <img src="{#$cfg_miniProgramQr#}">
                    <p>微信小程序：<br>{#$cfg_miniProgramName#}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="searchbox">
        <form id="myform" action="{#getUrlPath service='vote' template='search'#}">
            <input type="text" class="searchkey" name="keywords" placeholder="请输入你要搜索的关键词" value="{#$keywords#}">
            <i class="isearch"></i>
        </form>
    </div>
</div>