<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#$vote_title#}</title>
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" href="{#$templets_skin#}css/header.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" href="{#$templets_skin#}css/search.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$vote_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
    </script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}
{#include file="header.html"#}

    <div class="s-nav">
        <div class="navbox">
            <span id="total">共找到0个结果</span>
            <div class="selectbox fn-clear">
                <dl class="sort">
                    <dt>{#if $orderby==2#}总访问量{#elseif $orderby==1#}累计票数{#else#}默认排序{#/if#}</dt>
                    <em></em>
                    <dd>
                        <div class="ModuleBox">
                            <a href="{#getUrlPath service='vote' template='search' state={#$state#}  param="keywords={#$keywords#}&orderby=2"#}">总访问量</a>
                            <a href="{#getUrlPath service='vote' template='search' state={#$state#}  param="keywords={#$keywords#}&orderby=1"#}"><span>累计票数</span></a>
                        </div>
                    </dd>
                </dl>

                <dl class="state">
                    <dt>{#if $state==1#}正在进行{#elseif $state==2#}已结束{#else#}活动状态{#/if#}</dt>
                    <em></em>
                    <dd>
                        <div class="ModuleBox">
                            <a href="{#getUrlPath service='vote' template='search' state='1' param="keywords={#$keywords#}&orderby={#$orderby#}"#}"><span>正在进行</span></a>
                            <a href="{#getUrlPath service='vote' template='search' state='2' param="keywords={#$keywords#}&orderby={#$orderby#}"#}"><span>已结束</span></a>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>
    </div>
    <div class="container" >
        <div class="cont">
            <a href="{#$vote_channelDomain#}">首页</a><i>></i><a href="{#getUrlPath service='vote' template='search'#}">投票频道</a><!--<i>></i><a href="#">摄影大赛</a>-->
        </div>

        <div class="panic fn-clear">
            <ul>
                {#vote return="list" action="vlist" state={#$state#} keywords={#$keywords#} orderby={#$orderby#} page={#$page#} pageSize="18"#}
                <li><a href="{#$list.url#}">
                    <div class="eg-box">{#if $list.litpic#}<img src="{#$list.litpic#}" alt="{#$list.title#}">{#/if#}</div>
                    <p>{#$list.title#}</p>
                    <div class="see"><i class="b"></i><span>{#$list.join#}</span><i class="s"></i><span>{#$list.click#}</span></div>
                </a></li>
                {#/vote#}
            </ul>

        </div>

        {#getPageList service='vote' template='search' pageType='dynamic' state={#$state#} param="page=#page#{#if $orderby != ""#}&orderby={#$orderby#}{#/if#}{#if $keywords != ""#}&keywords={#$keywords#}{#/if#}"#}

    </div>

{#include file='../../siteConfig/public_foot_v3.html' module='vote' theme='gray'#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/searchbox.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/search.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/header.js?v={#$cfg_staticVersion#}"></script>
<script>
var total = '{#$pageInfo.totalCount#}';
</script>
</body>
</html>