<!-- 头部 s -->
<div class="header">
  <div class="header-l">
    <a href="javascript:;" onclick="history.go(-1)" class="goBack"><img src="{#$templets_skin#}images/header_back.png"></a>
  </div>
  <div class="header-c">
    <span class="orderbtn">
      {#if $template == "deposit"#}{#$langData['siteConfig'][19][292]#}{#/if#}    {#* 在线充值 *#} 
      {#if $template == "withdraw"#}{#$langData['siteConfig'][19][293]#}{#/if#}    {#* 我要提现 *#}
      {#if $template == "withdraw_log"#}{#$langData['siteConfig'][19][294]#}{#/if#}    {#* 提现记录 *#}
      {#if $template == "withdraw_log_detail"#}{#$langData['siteConfig'][19][715]#}{#/if#}    {#* 提现记录详情 *#}
      {#if $template == "convert"#}{#$langData['siteConfig'][19][231]#}{#/if#}    {#* 现金与积分兑换 *#}
      {#if $template == "transfer"#}{#$langData['siteConfig'][19][232]#}{#/if#}    {#* 积分转赠 *#}
      {#if $template == "point"#}{#$langData['siteConfig'][19][688]#}{#/if#}    {#* 积分明细 *#}
      {#if $template == "record"#}{#$langData['siteConfig'][19][226]#}{#/if#}<em></em>     {#* 交易记录明细 *#}
    </span>
  </div>
  <div class="header-r">
    <a href="javascript:;" class="screen"><img src="{#$templets_skin#}images/screen.png"></a>
  </div>

  <div class="nav">
    <ul class="fn-clear">
      {#siteConfig action="siteModule" return="<module></module>1"#}
      <li><a href="{#$module1.url#}" target="_blank"><span>{#$module1.name#}</span></a></li>
      {#/siteConfig#}
    </ul>
  </div>
</div>
<!-- 头部 s -->


<div class="orderbox">
  <ul class="fn-clear">
    <li{#if $template == "deposit"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='deposit'#}">{#$langData['siteConfig'][19][292]#}</a></li>     {#* 在线充值 *#} 
    <li{#if $template == "withdraw"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='withdraw'#}">{#$langData['siteConfig'][19][293]#}</a></li>     {#* 我要提现 *#} 
    <li{#if $template == "withdraw_log"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='withdraw_log'#}">{#$langData['siteConfig'][19][294]#}</a></li>     {#* 提现记录 *#} 
    <li{#if $template == "convert"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='convert'#}">{#$langData['siteConfig'][19][231]#}</a></li>     {#* 现金与积分兑换 *#} 
    <li{#if $template == "transfer"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='transfer'#}">{#$langData['siteConfig'][19][232]#}</a></li>     {#* 积分转赠 *#} 
    <li{#if $template == "point"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='point'#}">{#$langData['siteConfig'][19][688]#}</a></li>     {#* 积分明细 *#} 
    <li{#if $template == "record"#} class="curr"{#/if#}><a href="{#getUrlPath service='member' type='user' template='record'#}">{#$langData['siteConfig'][19][226]#}</a></li>     {#* 交易记录明细 *#} 
  </ul>
</div>


<div class="mask"></div>
