<!DOCTYPE html>
<html>
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>顾问管理</title>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/adviser_car_add.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
        var service = 'car';
        var gourl = '{#getUrlPath service=member type="user" template="car-broker"#}';
    </script>
</head>
<body>
{#$pageTitle = "{#$langData['car'][5][45]#}"#}{#*顾问管理 *#}
{#include file="top.html"#}
<form action="" id="zjuserForm">
<div class="content">
    <div class="info-top">
        <div class="uploadImg up-box">
            <dl class="up fn-clear" data-type="thumb">
                <dt>
                    <i></i>
                    <p>{#$langData['car'][4][50]#}</p>{#*点击上传头像 *#}
                    {#if $detail_litpic#}
                    <div class="pic"><img src="{#$detail_litpic#}" alt="{#$detail_litpicSource#}" data-val="{#$detail_litpicSource#}"><a href="javascript:;" class="remove"></a></div>
                    {#/if#}
                    <dd><input type="hidden" name="photo" id="photo" value="{#$detail_litpicSource#}"></dd>
                </dt>
            </dl>
        </div>
       <div class="name_text"><input name="nickname" value="{#$detail_name#}" type="text" placeholder="{#$langData['car'][4][52]#}"></div>{#*请输入姓名 *#}
    </div>
    <ul class="info-b">
        <li class="tel fn-clear"><span class="name fn-left">{#$langData['car'][4][48]#}</span> <input class="fn-right" type="text" value="{#$detail_tel#}" name="phone" id="phone" placeholder="{#$langData['car'][4][51]#}"></li>{#*联系方式 *#}{#*请填写手机号 *#}
        <li class="stages fn-clear{#if $detail_quality==1#} chose_btn{#/if#}"><span class="name"><i></i>{#$langData['car'][4][44]#}</span></li>{#*金牌顾问 *#}
        <input type="hidden" name="quality" id="quality" class="quality" value="{#if $detail_quality==1#}{#$detail_quality#}{#else#}0{#/if#}">
        <input type="hidden" name="id" id="userid" value="{#$detail_id#}">
    </ul>
</div>

<div class="add-btn"><span>{#$langData['car'][4][49]#}</span></div>{#*保存 *#}
</form>

<div class="maskbg">
    <div class="msg-box">
        <span class="btn-close"></span>
        <div class="msg"><span></span></div>
    </div>
</div>

<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload-sigle-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/adviser_car_add.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
