<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][10][10]#}</title>   {#* 我的余额 *#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/money.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/balance.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=100"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
</script>
</head>
<body>

  <!-- 头部 s -->
  <div class="header">
    <div class="header-l">
      <a href="javascript:;" onclick="history.go(-1)" class="goBack"><img src="{#$templets_skin#}images/header_back.png"></a>
    </div>
    <div class="header-c">{#$langData['siteConfig'][10][10]#}</div>   {#* 我的余额 *#}
    <div class="header-r">
      <a href="javascript:;" class="screen"><img src="{#$templets_skin#}images/screen.png"></a>
    </div>
  </div>
  <!-- 头部 s -->

	{#if 'balance'|in_array:$cfg_ucenterLinks#}
  <!-- 余额总览 s -->
  <div class="bgbox">
    <p class="tit">{#$langData['siteConfig'][19][386]#}</p>   {#* 账户余额 *#}
    <p class="count">{#($userinfo.money)|string_format:"%.2f"#}</p>
  </div>
  <!-- 余额总览 d -->
	{#/if#}

  <!-- 列表 s -->
  <div class="operate">
    <ul>

      {#* 充值 *#}
			{#if 'deposit'|in_array:$cfg_ucenterLinks#}
      <li><a href="{#getUrlPath service='member' type='user' template='deposit'#}"><i class="icon1"></i>{#$langData['siteConfig'][15][0]#}</a></li>
			{#/if#}
  
      {#* 提现 *#}
			{#if 'withdraw'|in_array:$cfg_ucenterLinks#}
      <li><a href="{#getUrlPath service='member' type='user' template='withdraw'#}"><i class="icon2"></i>{#$langData['siteConfig'][16][12]#}</a></li>
			{#/if#}
      
      {#* 积分兑换 *#}
			{#if $cfg_pointState#}
			{#if 'convert'|in_array:$cfg_ucenterLinks#}
			<li><a href="{#getUrlPath service='member' type='user' template='convert'#}"><i class="icon3"></i>{#$langData['siteConfig'][16][11]#}</a></li>
			{#/if#}

      {#* 积分转赠 *#}
			{#if 'transfer'|in_array:$cfg_ucenterLinks#}
      <li><a href="{#getUrlPath service='member' type='user' template='transfer'#}"><i class="icon4"></i>{#$langData['siteConfig'][19][232]#}</a></li>
			{#/if#}
      
      {#* 积分明细 *#}
			{#if 'point'|in_array:$cfg_ucenterLinks#}
      <li><a href="{#getUrlPath service='member' type='user' template='point'#}"><i class="icon5"></i>{#$langData['siteConfig'][19][688]#}</a></li>
			{#/if#}
			{#/if#}
      
      {#* 提现记录 *#}
			{#if 'withdraw'|in_array:$cfg_ucenterLinks#}
      <li><a href="{#getUrlPath service='member' type='user' template='withdraw_log'#}"><i class="icon6"></i>{#$langData['siteConfig'][19][294]#}</a></li>
			{#/if#}
      
      {#* 交易记录明细 *#}
			{#if 'record'|in_array:$cfg_ucenterLinks#}
      <li><a href="{#getUrlPath service='member' type='user' template='record'#}"><i class="icon7"></i>{#$langData['siteConfig'][19][226]#}</a></li>
			{#/if#}
    </ul>
  </div>
  <!-- 列表 e -->

</body>
</html>
