<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][18][88]#}</title>  {#* 店铺相册 *#}
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link href="{#$templets_skin#}css/mobiscroll.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/gz-fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/business-config_album.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/mobiscroll.js" type="text/javascript"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
  var hideFileUrl = {#$cfg_hideUrl#}, atlasSize = 5 * 1024 *1024, atlasMax = 2;

  var service = "business";
</script>
</head>

<body>
<div class="header">
  <div class="header-l" data-prev="0">
    <a href="javascript:;" onclick="history.go(-1)"><img src="{#$templets_skin#}images/header_back.png"></a>
  </div>
  <div class="header-c">{#$langData['siteConfig'][18][88]#}</div>  {#* 店铺相册 *#}
  <div class="header-r">
    <a href="javascript:;">&nbsp;</a>
  </div>
</div>
{#* 请选择所属分类 *#}
<div class="titleinfo fn-clear">{#$langData['siteConfig'][20][41]#}<a href="javascript:;">{#$langData['siteConfig'][21][135]#}</a></div>  {#* 店铺相册 *#}
<div class="typeList">
  
  {#business action='albumstype' return='type1'#}
  <div class="item" data-id="{#$type1.id#}" data-weight="{#$type1.weight#}">
    <div class="type_info fn-clear">
      <div class="choose_state"><span></span></div>
      <div class="inpbox"><input type="text" class="type_title" value="{#$type1.typename#}" readonly="readonly"></div>
      <div class="btns">
        <span class="arrow arrow_up"></span>
        <span class="arrow arrow_down"></span>
        <span class="edit"></span>
        <span class="del"></span>
      </div>
    </div>
    <div class="upload-file slideshow">
      <ul class="fn-clear">
        <li class="addbtn up_slideShow"></li>
        {#business action='albums_list' typeid=$type1.id u=1 return=album#}
        {#if $album.face == "1"#}
        <li data-id="{#$album.id#}" data-face="1">
          <img src="{#$album.litpic#}" data-url="{#$album.litpicSource#}" alt="">
          <a href="javascript:;" class="close">×</a>
          <a href="javascript:;" class="face on">{#$langData['siteConfig'][19][908]#}</a>  {#* 封面 *#}
        </li>
        {#else#}
        <li data-id="{#$album.id#}" data-face="0">
          <img src="{#$album.litpic#}" data-url="{#$album.litpicSource#}" alt="">
          <a href="javascript:;" class="close">×</a>
          <a href="javascript:;" class="face">{#$langData['siteConfig'][19][909]#}</a>   {#* 设为封面 *#}
        </li>
        {#/if#}
        {#/business#}
      </ul>
    </div>
  </div>
  {#/business#}
  {#*
  <div class="item">
    <div class="type_info fn-clear">
      <div class="choose_state"><span></span></div>
      <div class="inpbox"><input type="text" class="type_title" value="店铺内景" readonly="readonly"></div>
      <div class="btns">
        <span class="arrow arrow_up"></span>
        <span class="arrow arrow_down"></span>
        <span class="edit"></span>
        <span class="del"></span>
      </div>
    </div>
    <div class="upload-file slideshow">
      <ul class="fn-clear">
        <li class="addbtn up_slideShow"></li>
      </ul>
    </div>
  </div>
  *#}
</div>

<div class="submit"><a href="javascript:;">{#$langData['siteConfig'][6][128]#}</a></div>

<div class="uploadFile fn-hide">
  <div id="uploadFile" data-extensions="jpg,jpeg,bmp,png,gif" data-mimetypes="image/jpg,image/jpeg,image/png,image/gif"></div>
</div>

<div class="error"></div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js" type="text/javascript"></script>
<script src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/business-config_album.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
