<!DOCTYPE html>
<html>
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>预约到店</title>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/carappoint.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
    <script>
    var store = '{#$store#}', templets_skin = '{#$templets_skin#}';
    </script>
</head>
<body>
{#$pageTitle = "{#$langData['car'][5][46]#}"#}{#*预约到店 *#}
{#include file="top.html"#}
<ul class="appo-list" id="appo-list">
    
</ul>


<div class="tel-box-bg">
    <div class="tel-box">
        <p></p>
        <div class="btns"><span class="cancel">{#$langData['car'][1][14]#}</span><span class="sure"><a id="surephone" data-id="" href="#">{#$langData['car'][1][15]#}</a></span></div>{#*取消 *#}{#*确定 *#}
    </div>
</div>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$templets_skin#}js/carappoint.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
