<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>店铺配置</title>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config_car.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript"  src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
        var modelType = 'car';
        var service  = 'car';
        var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = {#$storeatlasMax#};
    </script>
</head>

<body>
{#$pageTitle = "{#$langData['car'][5][44]#}"#}{#*店铺配置*#}
{#include file="top.html"#}
<div class="container">
    {#if $storeState == 1#}
		{#if $detail_state == 0#}
		<p class="state0">{#$langData['siteConfig'][27][16]#}</p>
		{#elseif $detail_state == 2#}
		<p class="state0">{#$langData['siteConfig'][27][17]#}</p>
		{#/if#}
	{#/if#}
    <form name="fabuForm" id="fabuForm" method="post" action="" data-action="/include/ajax.php?service=car&action=storeConfig">
    <ul class="info">
        <li class="fn-clear company-name">
            <span class="name">{#$langData['car'][4][21]#}</span>{#*公司名称*#}
            <input type="text" name="title" value="{#$detail_title#}" id="comname" placeholder="{#$langData['car'][4][14]#}">{#*请输入公司名称*#}
        </li>
        <li class="fn-clear">
            <span class="name">{#$langData['car'][4][22]#}</span>{#*选择所在地 *#}
            <span class="choose">  <i></i></span>

            <div class="position_box" >
                <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}" >
                    <dd ><i></i><p><font style="color: #aaa;">{#if $detail_addrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split=' '#}{#else#}{#$langData['car'][3][23]#}{#/if#}</font></p></dd>
                    <input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" />
                    <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
                </dl>
            </div>
        </li>

        <li class="fn-clear">
            <span class="name">{#$langData['car'][4][23]#}</span>{#*详细地址 *#}
            <input type="text" name="address" value="{#$detail_address#}" id="address" placeholder="{#$langData['car'][4][15]#}">{#*请填入详细地址*#}
        </li>
        <li class="fn-clear">
            <span class="name">{#$langData['car'][4][24]#}</span>{#*联系方式 *#}
            <input type="text" name="tel" value="{#$detail_tel#}" id="phone"  placeholder="{#$langData['car'][4][16]#}">{#*请输入联系方式 *#}
        </li>
    </ul>

    <div class="update-logo up-box">
        <h3>{#$langData['car'][4][34]#}</h3>{#*店铺LOGO *#}
        <dl class="up fn-clear" data-type="thumb">
            <dt>
                <i></i>
                <p>{#$langData['car'][4][27]#}</p>{#*点击上传 *#}
                {#if $detail_litpic#}
                <div class="pic"><img src="{#$detail_litpic#}" alt="{#$detail_litpicSource#}" data-val="{#$detail_litpicSource#}"><a href="javascript:;" class="remove"></a></div>
                {#/if#}
                <dd>
                    <input type="hidden" name="litpic" value="{#$detail_litpicSource#}" id="litpic">
                </dd>
            </dt>
        </dl>
    </div>

    <div class="store-imgs img_box">
        <h3>{#$langData['car'][4][35]#}</h3>{#*店铺图集 *#}
        <ul class="uploader-list fn-clear" id="fileList">
            {#if $detail_pics#}
            {#foreach from=$detail_pics key=k item=pic#}
            <li id="WU_FILE_3_{#$k#}" class="thumbnail imgshow_box litpic"><div class="img_show"><img src="{#$pic.pic#}" data-val="{#$pic.picSource#}" data-url="{#$pic.pic#}"></div><i class="del_btn">+</i></li>
            {#/foreach#}
			{#/if#}
            <li class="upload_btn" id="uploadbtn">
                <div id="filePicker" class="webuploader-container">
                    <img src="{#$templets_skin#}images/add.png" />
                    <p>{#$langData['car'][3][3]#}</p>
                    <p>最多{#$storeatlasMax#}张</p>
                </div>
            </li>
            <div class="kong"></div>
        </ul>
        <input type="hidden" name="pics" id="pics" value="" class="imglist-hidden">
    </div>

    <!--店铺服务范围-->
    <div class="service-box">
        <h3>{#$langData['car'][4][36]#}</h3>{#*店铺服务范围 *#}
        <ul class="service fn-clear">
            {#foreach from=$carTag_state item=tag#}
            <li class="{#$tag.py#}{#if $tag.active#} active{#/if#}" data-id="{#$tag.name#}"><i></i>{#$tag.name#}</li>
            {#/foreach#}
            <input type="hidden" name="tag" id="tag" value="{#$detail_tag#}"/>
        </ul>
    </div>

    <!--营业时间-->
    <div class="time-box">
        <div class="time fn-clear"><span class="name">{#$langData['car'][4][37]#}</span> <span class="choose"> {#if $detail_opentimename#}<span class="text">{#$detail_opentimename#}</span>{#else#}<span class="text">{#$langData['car'][3][23]#}</span><i></i>{#/if#} </span><input id="open-time" type="text" disabled="disabled"></div>
        <input type="hidden" name="openStart" id="openStart" value="{#$detail_openStart#}"/>
        <input type="hidden" name="openEnd" id="openEnd" value="{#$detail_openEnd#}"/>
    </div>

    <div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['car'][4][38]#}</span></div>
    </form>
</div>

<!--所在地弹出层-->
<div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
    <div class="gz-sel-addr-header">
        <h3>{#$langData['siteConfig'][7][2]#}</h3>
        <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
    </div>
    <ul class="gz-sel-addr-nav"></ul>
    <div class="gz-sel-addr-list"></div>
</div>

<div class="gz-sel-addr-mask"></div>



<div class="maskbg">
    <div class="msg-box">
        <span class="btn-close"></span>
        <div class="msg"><span></span></div>
    </div>
</div>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var wxconfig = {
        "appId": '{#$wxjssdk_appId#}',
        "timestamp": '{#$wxjssdk_timestamp#}',
        "nonceStr": '{#$wxjssdk_nonceStr#}',
        "signature": '{#$wxjssdk_signature#}'
    };
</script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}" ></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload-sigle-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/config_car.js?v={#$cfg_staticVersion#}"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
</body>
</html>
