<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>名片认证</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config-house.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
  var hideFileUrl = 0;
  var module = 'house';
</script>
</head>

<body>
{#$pageTitle = '名片认证'#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}

<form action="" id="subForm">
  <input type="hidden" name="type" value="card">
  <div class="up_img idcard litpic fn-clear mgt{#if $detail_litpicSource#} has{#/if#}">
    <input type="hidden" name="litpic" id="litpic" value="{#$detail_litpicSource#}">
    <p class="tit">名片</p>
    <div class="up_con">
      <div class="up_none">
        <span class="sign"></span>
        <input type="file" name="Filedata" value="" class="Filedata" id="Filedata_litpic">
      </div>
      <div class="up_has">{#if $detail_litpicSource#}<img src="{#$detail_litpic#}" class="img" /><span class="del"><em></em><font>×</font></span>{#/if#}</div>
    </div>
    <dl class="info">
      <dt>请按以下要求上传：</dt>
      <dd>1. 姓名，手机号码，公司清晰可辨，无涂抹痕迹。</dd>
      <dd>2. 建议使用像素800w以上数码相机，手机拍摄。</dd>
      <dd>3. 信息内容：名片信息与填写信息一致</dd>
      <dd>4. 独立经纪人请上传身份证照片</dd>
    </dl>
  </div>

  <a href="javascript:;" class="submit">保存</a>
</form>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.ajaxFileUpload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/config-house_qr.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
