<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>服务区域</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/gz-fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config-house.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
  var hideFileUrl = 0;
  var module = 'house';
</script>
</head>

<body>

<div class="gz-address">

  <div class="gz-addr-wrap" id="gzAddNewObj">

    {#$pageTitle = '服务区域'#}
    {#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
    {#include file="top.html"#}

    <form action="" id="subForm">
      <input type="hidden" name="type" value="area">
      
      <div class="ml4r mgt">
        <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">
          <dt><span><label for="addr">{#$langData['siteConfig'][19][8]#}</label></span></dt>
          <dd class="selgroup"><p>{#if $detail_addrid#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split=' '#}{#else#}<font style="color: #aaa;">{#$langData['siteConfig'][7][2]#}</font>{#/if#}</p></dd>
          <input type="hidden" name="addr" id="addr" value="{#$detail_addrid#}">
          <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}">
        </dl>
      </div>
      <a href="javascript:;" class="submit">保存</a>
    </form>

  </div>

  <div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
    <div class="gz-sel-addr-header">
      <h3>{#$langData['siteConfig'][7][2]#}</h3>
      <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
    </div>
    <ul class="gz-sel-addr-nav"></ul>
    <div class="gz-sel-addr-list"></div>
  </div>

  <div class="gz-sel-addr-mask"></div>

</div>

<div class="error"></div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/config-house_area.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
