<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$langData['education'][1][42]#}</title>  {#*报名管理 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/education-order.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var module = 'education';
</script>
</head>
<body>
{#$pageTitle = {#$langData['education'][1][42]#}#}  {#*报名管理 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}

<div class="wrap">
	<ul class="cont_ul" id="list">
	</ul>
	<p class="tip"></p>
</div>

<!--删除弹窗-->
<div class="alert_tip">
	<div class="alert_content">
		<p>{#$langData['education'][5][35]#}</p>  {#*确定删除该报名信息？ *#}
		<ul>
			<li class="yes">{#$langData['education'][3][23]#}</li>  {#*是 *#}
			<li class="no">{#$langData['education'][3][24]#}</li>  {#*否 *#}
		</ul>
	</div>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$templets_skin#}js/education-order.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
