<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$langData['education'][4][41]#}</title>  {#*授课设置 *#}
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-education-setup.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript"  src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';templatePath = '{#$templets_skin#}';
var service = '{#$module#}';
var modelType = '{#$module#}';
var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1;
var id = '{#$id#}';
var userinfo = {
		phone: '{#$userinfo.phone#}',
		phoneCheck: {#$userinfo.phoneCheck#}
};
var detail = {
    contact: '{#$detail_tel#}'
}
var geetest = {#$cfg_geetest#};
</script>
</head>
<body>
{#$pageTitle = {#$langData['education'][4][41]#}#}  {#*授课设置 *#}
{#include file="top.html"#}
<div class="container">
    {#if $educationState == 1#}
    {#if $detail_state == 0#}
    <p class="state0">{#$langData['education'][7][9]#}</p>
    {#elseif $detail_state == 2#}
    <p class="state0">{#$langData['education'][7][10]#}</p>
    {#/if#}
    {#/if#}
    <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=operTutor&type=2">
    <div class="baomu_info">
        <p class="info_title">{#$langData['education'][4][42]#}</p>  {#*基本设置 *#}
        <ul class="info ">
            {#*价格 *#}
            <li class="fn-clear">
                <span class="name"><span class="star">*</span>{#$langData['education'][5][6]#}</span>
                <p class="class-p">
                <input type="text" id="price" value="{#$detail_price#}" name="price" class="price">
                <label for="price">{#$langData['education'][5][4]#}</label>  {#*元/小时 *#}
                </p >
            </li>  
            {#*授课方式*#}
            <li class="fn-clear object_type">
                <span class="name"><span class="star">*</span>{#$langData['education'][5][7]#}</span>
                <span class="class_type">
                    <span data-id='0' class="{#if $detail_typeid==0#}active{#/if#} type1">{#$langData['education'][5][9]#}</span>  {#*老师上门*#}
                    <span data-id='1' class="{#if $detail_typeid==1#}active{#/if#} type2">{#$langData['education'][5][8]#}</span>     {#*老师提供场地*#}
                </span>
            </li> 
            <input type="hidden" value="{#if $detail_typeid==1#}{#$detail_typeid#}{#else#}0{#/if#}" name="typeid" id="typeid">
            {#*授课区域 *#} 
            <li class="fn-clear class_origin1" {#if $detail_typeid==1#}style="display: none;"{#else#}style="display: block;"{#/if#}>
                <span class="name"><span class="star">*</span>{#$langData['education'][5][10]#}</span>
                <span class="choose">  <i></i></span>

                <div class="position_box" >
                    <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_areaaddrid split=' '#}" data-id="{#$detail_areaaddrid#}" >
                        <dd ><i></i><p><font style="color: #a6a6a6;">{#if $detail_areaaddrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_areaaddrid type='typename' split=' '#}{#else#}{#$langData['education'][3][27]#}{#/if#}</font></p></dd>
                        <input type="hidden" name="areaaddrid" id="areaaddrid" value="{#$detail_areaaddrid#}">
                        <input type="hidden" name="areacityid" id="areacityid" value="{#$detail_areacityid#}">
                    </dl>
                </div>
            </li> 
            {#*授课地址*#}
            <li class="fn-clear class_origin2" {#if $detail_typeid==0#}style="display: none;"{#else#}style="display: block;"{#/if#}>
                <span class="name"><span class="star">*</span><label for="class_address">{#$langData['education'][5][11]#}</label></span>
                <input type="text" id="class_address" placeholder="{#$langData['education'][5][12]#}" name="area" value="{#$detail_area#}">{#*请填写授课地址*#}
            </li>  
            {#*授课时间*#}
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="class_address">{#$langData['education'][5][13]#}</label></span>
                <table>               
                    <tr>  
                        <th>{#$langData['education'][2][20]#}</th>    {#* 周一 *#} 
                        <th>{#$langData['education'][2][21]#}</th>    {#* 周二 *#}  
                        <th>{#$langData['education'][2][22]#}</th>    {#* 周三 *#}  
                        <th>{#$langData['education'][2][23]#}</th>    {#* 周四 *#}  
                        <th>{#$langData['education'][2][24]#}</th>    {#* 周五 *#}  
                        <th>{#$langData['education'][2][25]#}</th>    {#* 周六 *#}  
                        <th>{#$langData['education'][2][26]#}</th>    {#* 周日 *#} 
                    </tr> 
                    <tr>
                        {#for $foo=1 to 7#}
                        <td{#if $detail_teachingtimeAll[{#$foo#}][1] == 1#} class="on"{#/if#}><span {#if $detail_teachingtimeAll[{#$foo#}][1] == 1#}style="display: none;" {#/if#} data-name="teachingtime[{#$foo#}][1]" data-id="1">上午</span>{#if $detail_teachingtimeAll[{#$foo#}][1] == 1#}<img src="{#$templets_skin#}images/education/book.png" alt="" class="td_img">{#/if#}</td>
                        {#/for#}
                    </tr>
                    <tr>
                        {#for $foo=1 to 7#}
                        <td{#if $detail_teachingtimeAll[{#$foo#}][2] == 2#} class="on"{#/if#}><span {#if $detail_teachingtimeAll[{#$foo#}][2] == 2#}style="display: none;" {#/if#} data-name="teachingtime[{#$foo#}][2]" data-id="2">下午</span>{#if $detail_teachingtimeAll[{#$foo#}][2] == 2#}<img src="{#$templets_skin#}images/education/book.png" alt="" class="td_img">{#/if#}</td>
                        {#/for#}
                    </tr>
                    <tr>
                        {#for $foo=1 to 7#}
                        <td{#if $detail_teachingtimeAll[{#$foo#}][3] == 3#} class="on"{#/if#}><span {#if $detail_teachingtimeAll[{#$foo#}][3] == 3#}style="display: none;" {#/if#} data-name="teachingtime[{#$foo#}][3]" data-id="3">晚上</span>{#if $detail_teachingtimeAll[{#$foo#}][3] == 3#}<img src="{#$templets_skin#}images/education/book.png" alt="" class="td_img">{#/if#}</td>
                        {#/for#}
                    </tr>
                </table>
            </li>   
        </ul>
    </div>
    <div class="baomu_info">
        <p class="info_title">{#$langData['education'][1][30]#}</p>  {#* 教师简介 *#} 
        <div class="info class_spec">
            {#* 补充说明教育背景，教育理念，教学特长等 *#} 
            <textarea name="note" id="note" placeholder="{#$langData['education'][5][14]#}">{#$detail_note#}</textarea>
        </div>
    </div>
    <div class="baomu_info">
        <p class="info_title">{#$langData['education'][2][10]#}</p>  {#* 联系方式 *#}
        <ul class="info info3">
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="contact">{#$langData['education'][2][33]#}</label></span>{#*手机号*#}
                <input type="text" id="contact" placeholder="{#$langData['education'][5][15]#}" name="tel" value="{#if $detail_tel != ""#}{#$detail_tel#}{#else#}{#$userinfo.phone#}{#/if#}">{#*请输入手机号*#}
            </li>
        </ul>
    </div>
    <div class="phone_wrap test_code">
        <div class="phone_confirm">
            <p class="test_btn"><button type="button">{#$langData['education'][5][16]#}</button></p>  {#*发送验证码*#}             
            <input type="text" name="vercode" placeholder="{#$langData['education'][5][17]#}" id="phone_confirm">  {#*请输入验证码*#}             
        </div>
    </div>
    <p class="changephone_tip">! {#$langData['education'][5][18]#}</p>  {#*更改联系方式需重新验证*#}
    <div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['education'][5][19]#}</span></div>  {#*保存*#}
</form>
</div>

<!--所在地弹出层-->
<div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
    <div class="gz-sel-addr-header">
        <h3>{#$langData['siteConfig'][7][2]#}</h3>  {#*请选择*#}
        <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
    </div>
    <ul class="gz-sel-addr-nav"></ul>
    <div class="gz-sel-addr-list"></div>
</div>

<div class="gz-sel-addr-mask"></div>

<!--错误提示弹出层-->
<div class="error"></div>
<script type="text/javascript">
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}'
	};
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/codetest.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu-education-setup.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
