<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#$langData['education'][4][45]#}</title>  {#* 家教信息 *#}
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-education-tutor.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript"  src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';templatePath = '{#$templets_skin#}';
var service = '{#$module#}';
var modelType = '{#$module#}';
var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1;
var id = '{#$id#}';
</script>
</head>
<body>
{#$pageTitle = {#$langData['education'][4][45]#}#}  {#* 家教信息 *#}
{#include file="top.html"#}
<div class="container">
    {#if $educationState == 1#}
    {#if $detail_state == 0#}
    <p class="state0">{#$langData['education'][7][9]#}</p>
    {#elseif $detail_state == 2#}
    <p class="state0">{#$langData['education'][7][10]#}</p>
    {#/if#}
    {#/if#}
    <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=operTutor&type=1">
    <div class="baomu_info">
        <p class="info_title">{#$langData['education'][4][16]#}</p>  {#* 基本信息 *#}
        <ul class="info info3">
            {#*姓名*#}
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="comname">{#$langData['education'][0][40]#}</label></span>
                <input type="text" id="comname" placeholder="{#$langData['education'][0][8]#}" name="username" value="{#$detail_username#}">{#*请填写姓名*#}
            </li> 
            <li class="fn-clear ways_contact">
                <span class="name"><span class="star">*</span>性别</span></span>
                <div class="radio radioBox user_sex">
                    <div class="active {#if $detail_sex == 0#}chose_btn{#/if#}">
                    <div class="check_left">
                        <input type="radio" name="sex" value="" />
                        <span class="check_icon_round"></span>
                    </div>
                    <a href="javascript:;" data-id = "0">女</a>
                    </div>
                    <div class="active {#if $detail_sex == 1#}chose_btn{#/if#}">
                    <div class="check_left">
                        <input type="radio" name="sex" value="" />
                        <span class="check_icon_round"></span>
                    </div>
                    <a href="javascript:;" data-id = "1">男</a>
                    </div>
                    <input type="hidden" name="sex" value="{#$detail_sex#}" id="usersex" />
                </div>
            </li>
            {#*所在地区*#}   {#*请选择*#} 
            <li class="fn-clear">
                <span class="name"><span class="star">*</span>{#$langData['education'][5][22]#}</span>
                <span class="choose">  <i></i></span>
                <div class="position_box" >
                    <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}" >
                        <dd ><i></i><p><font style="color: #a6a6a6;">{#if $detail_addrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split=' '#}{#else#}{#$langData['education'][3][27]#}{#/if#}</font></p></dd>
                        <input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}">
                        <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}">
                    </dl>
                </div>
            </li>    
            <li class="fn-clear">
                <div class="com-box">
                    <div class="cat fn-clear">
                        <span class="name"><span class="star">*</span>{#$langData['education'][7][11]#}</span><span class="choose"><span class="text">{#if empty($detail_catname)#}{#$langData['education'][3][27]#}{#/if#}</span><i></i></span> 
                          <input id="catname" type="text" value="{#$detail_catname#}" disabled="disabled">
                      </div>       
                </div>
            </li>
            <input type="hidden" name="catid" id="catid" value="{#$detail_catid#}">
        </ul>
        {#*上传头像(请保证照片清晰)*#}
        <div class="store-imgs img_box">
            <h3><span class="star">*</span>{#$langData['education'][5][21]#}</h3>
            <ul class="uploader-list fn-clear" id="fileList">
                {#if $detail_photo#}
                <li id="WU_FILE_0_1_{#$k#}" class="thumbnail imgshow_box litpic"><div class="img_show"><img src="{#$detail_photoSource#}" data-val="{#$detail_photo#}" data-url="{#$detail_photoSource#}"></div><i class="del_btn">+</i></li>
                {#/if#}
                <li class="upload_btn" id="uploadbtn">
                    <div id="filePicker" class="webuploader-container">
                        <img src="{#$templets_skin#}images/education/add.png" />
                        <p>{#$langData['education'][5][23]#}</p>   {#*点击上传照片*#}
                    </div>
                </li>
                <div class="kong"></div>
            </ul>
            <input type="hidden" name="photo" id="photo" value="{#$detail_photo#}">
        </div>
    </div>
    <div class="baomu_info">
        <p class="info_title">{#$langData['education'][1][20]#}</p>  {#*教育背景*#}
        <ul class="info">
            {#*毕业院校*#}
            <li class="fn-clear">
                <span class="name"><span class="star">*</span><label for="university">{#$langData['education'][2][15]#}</label></span>
                <input type="text" id="school_name" placeholder="{#$langData['education'][5][24]#}" name="university" value="{#$detail_university#}">{#*请填写毕业院校*#}
            </li> 
            {#*最高学历*#} {#*请选择*#}
            <li class="fn-clear">
                <div class="com-box">
                    <div class="edu fn-clear">
                        <span class="name"><span class="star">*</span>{#$langData['education'][2][16]#}</span><span class="choose"><span class="text">{#if empty($detail_educationname)#}{#$langData['education'][3][27]#}{#/if#}</span><i></i></span> 
                          <input id="education" type="text" value="{#$detail_educationname#}" disabled="disabled">
                      </div>       
                </div>
            </li>
            <input type="hidden" name="education" id="educations" value="{#$detail_education#}">
            {#*教龄*#}  {#*请选择*#}
            <li class="fn-clear">
                <div class="com-box">
                    <div class="age fn-clear">
                        <span class="name"><span class="star">*</span>{#$langData['education'][1][17]#}</span><span class="choose"><span class="text">{#if empty($detail_teachingagename)#}{#$langData['education'][3][27]#}{#/if#}</span><i></i></span> 
                          <input id="age" type="text" value="{#$detail_teachingagename#}" disabled="disabled">
                      </div>       
                </div>
            </li> 
            <input type="hidden" name="teachingage" id="teachingage" value="{#$detail_teachingage#}">
        </ul>
    </div>
    <div class="baomu_info">
        <p class="info_title">{#$langData['education'][1][27]#}</p> {#*教学科目*#}
        <div class="info class_spec3">
            {#*请填写教学科目，多个科目之间用“，”隔开*#}
            <input type="text"  placeholder="{#$langData['education'][5][25]#}" id="subject" name="subjects" value="{#$detail_subjects#}">
        </div>
    </div>

    <div class="more_info ">
        <div class="identify baomu_info allarea_box">
            <p class="info_title">{#$langData['education'][5][26]#}</p>  {#*认证资料*#}
            <div class="qjimg_box">
                <div class="qj_title"><span>{#$langData['education'][5][27]#}</span></div>  {#*实名认证*#}
                 <ul class="fn-clear" id="qjshow_box"{#if $detail_qj_type#} style="display:none;"{#/if#}>
                    <li>
                    <div class="addbtn img_show" id="up_qj" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                    {#if $detail_idcardFront#}<div class="img" id="WU_FILE_has_0"><img src="{#$detail_idcardFrontSource#}" data-url="{#$detail_idcardFront#}"></div><i class="del_btn">+</i>{#/if#}
                    <p class="txt">{#$langData['education'][5][28]#}</p>  {#*点击上传身份证正面*#}
                    </li>
                    <li>
                    <div class="addbtn img_show addbtn_more" id="up_qj2" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                    {#if $detail_idcardBack#}<div class="img" id="WU_FILE_has_1"><img src="{#$detail_idcardBackSource#}" data-url="{#$detail_idcardBack#}"></div><i class="del_btn">+</i>{#/if#}
                    <p class="txt">{#$langData['education'][5][29]#}</p>  {#*点击上传身份证背面*#}
                    </li>
                </ul>
                <input type="hidden" name="idcardFront" id="idcardFront" value="{#$detail_idcardFront#}">
                <input type="hidden" name="idcardBack" id="idcardBack" value="{#$detail_idcardBack#}">
            </div>

            <div class="qjimg_box">
                <div class="qj_title"><span>{#$langData['education'][5][30]#}</span></div> {#*学历认证*#}
                 <ul class="fn-clear" id="other_box"{#if $detail_qj_type#} style="display:none;"{#/if#}>
                    <li>
                    <div class="addbtn img_show" id="up_other" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                    {#if $detail_degree#}<div class="img" id="WU_FILE_has_0"><img src="{#$detail_degreeSource#}" data-url="{#$detail_degree#}"></div><i class="del_btn">+</i>{#/if#}
                    <p class="txt">{#$langData['education'][5][31]#}</p>  {#*点击上传学位证*#}
                    </li>
                    <li>
                    <div class="addbtn img_show addbtn_more" id="up_other2" data-extensions="jpg,jpeg,bmp,png" data-mimetypes="image/jpg,image/jpeg,image/png"></div>
                    {#if $detail_diploma#}<div class="img" id="WU_FILE_has_1"><img src="{#$detail_diplomaSource#}" data-url="{#$detail_diploma#}"></div><i class="del_btn">+</i>{#/if#}
                    <p class="txt">{#$langData['education'][5][32]#}</p>  {#*点击上传毕业证*#}
                    </li>
                </ul>
                <input type="hidden" name="degree" id="degree" value="{#$detail_degree#}">
                <input type="hidden" name="diploma" id="diploma" value="{#$detail_diploma#}">
            </div>
        </div>
    </div>

    <div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['education'][5][33]#}</span></div>  {#*提交审核*#}
</form>

</div>

<!--所在地弹出层-->
<div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
    <div class="gz-sel-addr-header">
        <h3>{#$langData['siteConfig'][7][2]#}</h3>  {#*请选择*#}
        <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
    </div>
    <ul class="gz-sel-addr-nav"></ul>
    <div class="gz-sel-addr-list"></div>
</div>
<div class="gz-sel-addr-mask"></div>

<!--错误提示弹出层-->
<div class="error"></div>
<script type="text/javascript">
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}'
	};
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}" ></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload-sigle-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu-education-tutor.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
