<link href="{#$templets_skin#}css/mobiscroll.css" rel="stylesheet" type="text/css" />
<script src="{#$templets_skin#}js/mobiscroll.js" type="text/javascript"></script>
<script type="text/javascript">
  var payReturn = "{#getUrlPath service='member' type='user' template='manage' action='article'#}";
  var mold = {#$detail_mold|default:0#};
  var detail = {
    videotype: {#$detail_videotype|default:0#}
  }
</script>
<style>
  .variable {display: none;}
  .variable-{#$detail_mold|default:0#} {display: block;}
</style>

  <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=article&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' type='user' template='manage' action='article'#}">
    <input type="hidden" name="mold" id="mold" value="{#$detail_mold|default:0#}">
    <ul class="choose_mold fn-clear">
      <li data-id="0"{#if !$detail_mold#}class="curr"{#/if#}>头条</li>
      <li data-id="1"{#if $detail_mold == 1#}class="curr"{#/if#}>图集</li>
      <li data-id="2"{#if $detail_mold == 2#}class="curr"{#/if#}>视频</li>
      <li data-id="3"{#if $detail_mold == 3#}class="curr"{#/if#}>短视频</li>
    </ul>
    <div class="upbox">
      <dl class="up fn-clear" data-type="thumb">
        <dt>
          <i></i>
          <p>缩略图</p>
          {#if $detail_litpic#}
          <div class="pic"><img src="{#$detail_litpic#}" alt="{#$detail_litpicSource#}" data-val="{#$detail_litpicSource#}"><a href="javascript:;" class="remove"></a></div>
          {#/if#}
        </dt>
        <dd>
          <div class="btns">
            {#if $detail_litpic#}
            <a href="javascript:;" class="bindbtn edit" data-up-title="上传缩略图" data-edit-title="修改缩略图"><span></span>修改缩略图</a>
            {#else#}
            <a href="javascript:;" class="bindbtn" data-up-title="上传缩略图" data-edit-title="修改缩略图"><span></span>上传缩略图</a>
            {#/if#}
          </div>
          <div class="tips">
            <div class="variable variable-2 variable-3">本地上传视频可以不上传缩略图，系统将会选取视频第一帧作为封面（会有一定延迟）</div>
          </div>
          <input type="hidden" name="litpic" id="litpic" value="{#$detail_litpicSource#}">
        </dd>
      </dl>
    </div>
    <div class="upbox upboxspec variable variable-1">
      <dl class="fn-clear inpbox-v arrow dropdown" data-drop="tuji_box">
        <dt><label for="">上传图集</label></dt>
        <dd></dd>
      </dl>
      <div class="drapdown-box" id="tuji_box">
        <div class="upload-file">
          <div class="tab-body">
            <div class="tab-body-item{#if !$detail_videotype#} curr{#/if#}">
              <div class="upbox up-group fn-clear up-group-prove">
                {#foreach from=$detail_imglist key=k item=i#}
                <div class="pic"><img src="{#$i.path#}" alt="{#$i.pathSource#}" data-val="{#$i.pathSource#}" data-des="{#$i.info#}"><a href="javascript:;" class="remove"></a></div>
                {#/foreach#}
                <dl class="up fn-clear up-prove" data-count="{#$atlasMax#}" data-type="atlas">
                  <dt>
                    <i></i>
                    {#if $detail_imglist|count#}
                    <p class="tit" data-title="图集">{#$detail_imglist|count#}/{#$atlasMax#}</p>
                    {#else#}
                    <p class="tit" data-title="图集">图集</p>
                    {#/if#}
                  </dt>
                  <dd>
                    <!-- <input type="hidden" name="imglist" id="imglist" value=""> -->
                  </dd>
                  {#if $detail_imglist|count >= $atlasMax#}<div class="stopup"></div>{#/if#}
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {#*视频 s*#}
    <div class="upbox upboxspec variable variable-2">
      <dl class="fn-clear inpbox-v arrow dropdown" data-drop="videoSource_choose">
        <dt><label for="">上传视频</label></dt>
        <dd></dd>
      </dl>
      <div class="drapdown-box" id="videoSource_choose">
        <div class="upload-file">
          <div class="tab-nav fn-clear">
            <label><input type="radio" name="videotype" value="0"{#if !$detail_videotype#} checked="checked"{#/if#}><span></span>本地</label>
            <label><input type="radio" name="videotype" value="1"{#if $detail_videotype == 1#} checked="checked"{#/if#}><span></span>远程</label>
          </div>
          <div class="tab-body">
            <div class="tab-body-item{#if !$detail_videotype#} curr{#/if#}">
              <div class="upbox">
                <dl class="up fn-clear" data-type="thumb" data-file="video" data-extensions="mp4,mov" data-mimeTypes="video/mp4,video/mov">
                  <dt>
                    <i></i>
                    <p>视频</p>
                    {#if !$detail_videotype && $detail_videoSource#}
                    <div class="pic"><p class="video" data-val="{#$detail_videoSource#}">无法预览</p><a href="javascript:;" class="remove"></a></div>
                    {#/if#}
                  </dt>
                  <dd>
                    <div class="btns">
                      {#if $detail_videoSource#}
                      <a href="javascript:;" class="bindbtn edit" data-up-title="上传视频" data-edit-title="重新上传"><span></span>重新上传</a>
                      {#else#}
                      <a href="javascript:;" class="bindbtn" data-up-title="上传视频" data-edit-title="重新上传"><span></span>上传视频</a>
                      {#/if#}
                    </div>
                    <input type="hidden" name="video" value="{#if !$detail_videotype#}{#$detail_videoSource#}{#/if#}">
                  </dd>
                </dl>
              </div>
            </div>
            <div class="tab-body-item{#if $detail_videotype == 1#} curr{#/if#}">
              <input type="text" name="videourl" value="{#if $detail_videotype == 1#}{#$detail_videoSource#}{#/if#}" placeholder="请输入视频地址">
            </div>
          </div>
        </div>
      </div>
    </div>
    {#*短视频 s*#}
    <div class="upbox upboxspec variable variable-3">
      <dl class="fn-clear inpbox-v arrow dropdown" data-drop="videoSource_choose3">
        <dt><label for="">上传视频</label></dt>
        <dd></dd>
      </dl>
      <div class="drapdown-box" id="videoSource_choose3">
        <div class="upload-file">
          <div class="tab-body">
            <div class="tab-body-item{#if !$detail_videotype#} curr{#/if#}">
              <div class="upbox">
                <dl class="up fn-clear" data-type="thumb" data-file="video" data-extensions="mp4,mov" data-mimeTypes="video/mp4,video/mov">
                  <dt>
                    <i></i>
                    <p>视频</p>
                    {#if $detail_videoSource#}
                    <div class="pic"><p class="video" data-val="{#$detail_videoSource#}">无法预览</p><a href="javascript:;" class="remove"></a></div>
                    {#/if#}
                  </dt>
                  <dd>
                    <div class="btns">
                      {#if $detail_videoSource#}
                      <a href="javascript:;" class="bindbtn edit" data-up-title="上传视频" data-edit-title="重新上传"><span></span>重新上传</a>
                      {#else#}
                      <a href="javascript:;" class="bindbtn" data-up-title="上传视频" data-edit-title="重新上传"><span></span>上传视频</a>
                      {#/if#}
                    </div>
                    <input type="hidden" name="video" value="{#$detail_videoSource#}">
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {#*
    <div class="img-box">
      <ul class="uploader-list fn-clear" id="fileList">
        <li class="uploadbtn">
          <div id="filePicker" class="webuploader-container">
            <div class="webuploader-pick">+</div>
            <div id="rt_rt_1b5mb0qo71j791ejf1ilj2mt1ie81" style="position: absolute; top: 0px; left: 0px; overflow: hidden; bottom: 0px; right: 0px;">
              <input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/jpeg,image/png,image/gif">
              <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
            </div>
          </div>
        </li>
        {#if $detail_litpic != ''#}
				<li class="item litpic thumbnail" id="item_0"><img src="{#$detail_litpic#}" data-val="{#$detail_litpicSource#}" data-url="{#changeFileSize url="{#$detail_litpic#}" type="small"#}" alt=""><i class="cancel"></i><div class="file-panel"><span class="cancel"></span></div></li>
				{#/if#}
				{#foreach from=$detail_imglist key=k item=i#}
				<li class="thumbnail" id="item_{#$k+1#}"><img src="{#changeFileSize url="{#$i.path#}" type="small"#}" data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" alt=""><div class="file-panel"><span class="cancel"></span></div></li>
				{#/foreach#}
      </ul>
			{#if $do == '' || ($detail_litpic == '' && $detail_imglist == '')#}
	    <p class="imgtip">{#$langData['siteConfig'][20][294]#}</p>
			{#/if#}
    </div>
    *#}
    <div class="flist">
      <div class="inptitbox">
        <p>{#$langData['siteConfig'][19][0]#}</p>
        <div class="inptitle">
          <input type="text" placeholder="{#$langData['siteConfig'][19][0]#}" id="title" autocomplete="off" maxlength="50" name="title" value="{#$detail_title#}">
        </div>
      </div>
      <div class="mulinpbox mb4r variable variable-0{#if $id && ($detail_body)#} variable-1{#/if#}">
        <p class="multit">{#$langData['siteConfig'][19][1]#}</p>
        <div class="mulcon">
          <textarea placeholder="{#$langData['siteConfig'][20][329]#}" name="body" class="textarea" id="textarea">{#$detail_body#}</textarea>
        </div>
      </div>

      <div class="ml4r btop">
        <div data-role="fieldcontain" class="dom_select">
  				<label for="cityid">{#$langData['siteConfig'][19][892]#}</label>
  				<select id="cityid" name="cityid" class="demo-test-select" data-role="none">
  					<option value="0">{#$langData['siteConfig'][7][2]#}</option>
  					{#siteConfig action="siteCity" return="city"#}
  					<option value="{#$city.cityid#}"{#if $detail_cityid == $city.cityid#} selected="selected"{#/if#}>{#$city.name#}</option>
  					{#/siteConfig#}
  				</select>
  				<span class="right_icon"></span>
  			</div>
      </div>
      <div class="ml4r">
        <dl class="inpbox fn-clear gz-addr-seladdr"data-ids="{#getPublicParentInfo tab='articletype' id=$detail_typeid split=' '#}" data-id="{#if $detail_typeid#}{#$detail_typeid#}{#/if#}" data-action="type" data-param='{#if $id#}&mold={#$detail_mold#}{#else#}&mold=0{#/if#}' style="border-bottom:0;">
          <dt><span><label for="typeid">{#$langData['siteConfig'][19][393]#}</label></span></dt>
          <dd class="selgroup"><p>{#if $do == "edit"#}{#$detail_typeName#}{#else#}<font style="color: #aaa;">{#$langData['siteConfig'][7][2]#}</font>{#/if#}</p></dd>
          <input type="hidden" name="typeid" id="typeid" value="{#$detail_typeid#}">
        </dl>
      </div>
      {#if $ac_type == 3 || $ac_type == 4#}
      <div class="ml4r btop">
        <div data-role="fieldcontain" class="dom_select">
          <label for="media_arctype">栏目</label>{#*栏目*#}
          <select id="media_arctype" name="media_arctype" class="demo-test-select" data-role="none">
            <option value="0">{#$langData['siteConfig'][7][2]#}</option>
            {#article action="mediaArcType" id=$ac_id return="type"#}
            <option value="{#$type.id#}"{#if $detail_media_arctype == $type.id#} selected="selected"{#/if#}>{#$type.typename#}</option>
            {#/article#}
          </select>
          <span class="right_icon"></span>
        </div>
      </div>
      {#/if#}
      <div class="ml4r">
        <dl class="inpbox fn-clear">
          <dt><span><label for="keywords">{#$langData['siteConfig'][19][18]#}</label></span></dt>
          <dd><input type="text" placeholder="{#$langData['siteConfig'][20][33]#}" id="keywords" name="keywords" value="{#$detail_keywords#}"></dd>
        </dl>
      </div>
      <div class="ml4r mb4r bbottom">
        <dl class="inpbox fn-clear">
          <dt><span><label for="description">{#$langData['siteConfig'][19][335]#}</label></span></dt>
          <dd><input type="text" placeholder="{#$langData['siteConfig'][20][35]#}" name="description" value="{#$detail_description#}" id="description"></dd>
        </dl>
      </div>
      <div class="ml4r btop">
        <dl class="inpbox fn-clear">
          <dt><span><label for="writer">{#$langData['siteConfig'][19][3]#}</label></span></dt>
          <dd><input type="text" placeholder="{#$langData['siteConfig'][20][38]#}" id="writer" name="writer" value="{#if $do == "edit"#}{#$detail_writer#}{#else#}{#$ac_name#}{#/if#}"></dd>
        </dl>
      </div>
      <div class="ml4r">
        <dl class="inpbox fn-clear">
          <dt><span><label for="source">{#$langData['siteConfig'][19][5]#}</label></span></dt>
          <dd><input type="text" placeholder="{#$langData['siteConfig'][20][39]#}" id="source" name="source" value="{#if $do == "edit"#}{#$detail_source#}{#else#}{#$langData['siteConfig'][19][824]#}{#/if#}"></dd>
        </dl>
      </div>
      <div class="ml4r">
        <dl class="inpbox fn-clear">
          <dt><span><label for="sourceurl">{#$langData['siteConfig'][19][24]#}</label></span></dt>
          <dd><input type="text" placeholder="{#$langData['siteConfig'][20][340]#}" id="sourceurl" name="sourceurl" value="{#if $do == "edit"#}{#$detail_sourceurl#}{#/if#}"></dd>
        </dl>
      </div>
    </div>
  </form>

  <div class="submit">
    <a href="javascript:;" id="submit">{#$langData['siteConfig'][6][69]#}</a>
  </div>
  
  <script id="model_html" type="text/html">
    <!-- 确认确认层 -->
    <div class="model model_del">
      <a href="javascript:;" class="close">×</a>
      <div class="model_m">
        <div class="model_title"></div>
        <div class="model_btns">
          <a href="javascript:;" class="cancel">取消</a>
          <a href="javascript:;" class="ok">确定</a>
        </div>
      </div>
    </div>
    <div class="desk"></div>
  </script>

<script>var typeidLevel = '{#if $do == "edit"#}{#$detail_typeName#}{#/if#}', typeid = '{#$detail_typeid#}'</script>
<script src="{#$templets_skin#}js/mobiscroll.select.js" type="text/javascript"></script>
