<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>发布房源</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu_house.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
    var hideFileUrl = 0;
    var module = 'house';
</script>
</head>

<body>
{#$pageTitle = '发布房源'#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}

<ul class="housetype fn-clear">
  <li>
    <a href="{#getUrlPath service='member' type='user' template='fabu-house-sale'#}">
      <div class="img"></div>
      <p>二手房</p>
    </a>
  </li>
  <li>
    <a href="{#getUrlPath service='member' type='user' template='fabu-house-zu'#}">
      <div class="img"></div>
      <p>租房</p>
    </a>
  </li>
  <li>
    <a href="{#getUrlPath service='member' type='user' template='fabu-house-xzl'#}">
      <div class="img"></div>
      <p>写字楼</p>
    </a>
  </li>
  <li>
    <a href="{#getUrlPath service='member' type='user' template='fabu-house-sp'#}">
      <div class="img"></div>
      <p>商铺</p>
    </a>
  </li>
  <li>
    <a href="{#getUrlPath service='member' type='user' template='fabu-house-cf'#}">
      <div class="img"></div>
      <p>厂房/仓库</p>
    </a>
  </li>
  <li>
    <a href="{#getUrlPath service='member' type='user' template='fabu-house-cw'#}">
      <div class="img"></div>
      <p>车位</p>
    </a>
  </li>

</ul>

</body>
</html>
