<script type="text/javascript">
  var totalBalance = "{#$userinfo.money#}";
</script>

<div class="fabuPay">
  <div class="header">
    <div class="header-l">
      <a href="javascript:;" class="payBack"><img src="{#$cfg_basehost#}/templates/member/touch/images/header_back.png"></a>
    </div>
    <div class="header-c">{#$langData['siteConfig'][6][69]#}</div>
    <div class="header-r">
      <a href="javascript:;" class="screen"><img src="{#$cfg_basehost#}/templates/member/touch/images/screen.png"></a>
    </div>
  </div>
  <div class="payHeader">
    <p>{#$langData['siteConfig'][19][812]#}</p><p class="payPrice">{#echoCurrency type='symbol'#} <em class="payPrice">{#$cfg_fabuAmount[$module]#}</em></p>
    <p class="payTip">{#$langData['siteConfig'][19][813]#}</p>
  </div>
  <div class="payMain">
    {#if $userinfo.money > 0#}
    <dl class="fabu_dl yue fn-clear">
      <dt class="yue-btn active">{#$langData['siteConfig'][19][386]#}（{#echoCurrency type='symbol'#} {#$userinfo.money#}）</dt>
      <dd>-{#echoCurrency type='symbol'#} <em class="reduce-yue">5.00</em></dd>
    </dl>
	  {#/if#}
    <dl class="fabu_dl fn-clear">
      <dt>{#$langData['siteConfig'][19][316]#}</dt>
      <dd>{#echoCurrency type='symbol'#} <em class="pay-total">5.00</em></dd>
    </dl>
    <div class="pay-list" id="paytypeObj">
      <p class="gray_bg">{#$langData['siteConfig'][20][203]#}</p>
      {#siteConfig action="payment"#}
      {#if $row.pay_code == "wxpay"#}
      <dl class="fn-clear" id="wxpay">
        <dt><img src="/templates/member/touch/images/wxpay.png" alt=""></dt>
        <dd><p>{#$langData['siteConfig'][19][712]#}</p></dd>
        <dd class="radio"></dd>
      </dl>
      {#elseif $row.pay_code == "globalalipay"#}
      <dl class="fn-clear" id="globalalipay">
        <dt><img src="/templates/member/touch/images/alipay.png" alt=""></dt>
        <dd><p>{#$langData['siteConfig'][19][302]#}</p></dd>
        <dd class="radio"></dd>
      </dl>
      {#elseif $row.pay_code == "alipay"#}
      <dl class="fn-clear" id="alipay">
        <dt><img src="/templates/member/touch/images/alipay.png" alt=""></dt>
        <dd><p>{#$langData['siteConfig'][19][302]#}</p></dd>
        <dd class="radio"></dd>
      </dl>
      {#elseif $row.pay_code == "paypal"#}
      <dl class="fn-clear" id="paypal">
        <dt><img src="/templates/member/touch/images/paypal.png" alt=""></dt>
        <dd><p>{#$langData['siteConfig'][19][714]#}</p></dd>
        <dd class="radio"></dd>
      </dl>
      {#/if#}
      {#/siteConfig#}
    </div>
    <div class="payBtn">
      <a href="javascript:;" class="pay_btn"><span>{#$langData['siteConfig'][19][327]#}</span></a>
      <a href="{#getUrlPath service='member' type='user' template='upgrade'#}" class="upgrade_btn"><span>{#$langData['siteConfig'][16][31]#}</span></a>
    </div>
  </div>
</div>

<form action="/include/ajax.php" method="get" id="payform">
	<input type="hidden" name="service" id="service" value="member">
  <input type="hidden" name="action" id="action" value="fabuPay">
  <input type="hidden" name="module" id="module" value="{#$module#}">
  <input type="hidden" name="type" id="type" value="{#$type#}">
  <input type="hidden" name="paytype" id="paytype" value="{#$paytype#}">
  <input type="hidden" name="aid" id="aid" value="" />
  <input type="hidden" name="amount" id="amount" value="" />
  <input type="hidden" name="useBalance" id="useBalance" value="" />
  <input type="hidden" name="tourl" id="tourl" value="" />
</form>
