<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#$langData['car'][6][4]#}</title>
    <meta name="keywords" content="{#$article_keywords#}">
    <meta name="description" content="{#$article_description#}">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-pay.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-car.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.deferred.js" type="text/javascript"></script>
    <script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js" type="text/javascript"></script>

    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
        var modelType = 'car';
        var id = {#$detail_id|default:0#};
        var geetest = {#$cfg_geetest#};
        var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = {#$atlasMax#};
        var userinfo = {
            phone: '{#$userinfo.phone#}',
            phoneCheck: '{#$userinfo.phoneCheck#}',
        };
        var detail = {
		  	contact: '{#$detail_contact#}'
		  }
    </script>
</head>
<body>
{#$pageTitle = "{#$langData['car'][5][33]#}"#}{#*发布卖车信息 *#}
{#include file="top.html"#}
<div class="main">
    <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=car&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' type='user' template='manage' action='car'#}">
    <!--车辆图片-->
    <div class="img_box">
        <h3 class="img-top"><em>{#$langData['car'][3][0]#}</em>{#$langData['car'][3][1]#}- <i>{#$langData['car'][3][2]#}</i> </h3>{#*车辆照片 *#}{#*至少上传一张正45°主图照片 *#}{#*图片参考 *#}
        <ul class="uploader-list fn-clear" id="fileList">
            {#foreach from=$detail_imglist key=k item=i#}
                <li id="WU_FILE_1_{#$k#}" class="thumbnail imgshow_box {#if $k==0#}litpic{#/if#}"><div class="img_show"><img src="{#changeFileSize url="{#$i.path#}" type="small"#}" data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}"></div><i class="del_btn">+</i></li>
            {#/foreach#}
            <li class="upload_btn" id="uploadbtn">
                <div id="filePicker" class="webuploader-container">
                    <img src="{#$templets_skin#}images/add.png" />
                    <p>{#$langData['car'][3][3]#}</p>{#*上传照片 *#}
                    <p>最多{#$atlasMax#}张</p>{#*最多20张 *#}
                </div>
            </li>
            <div class="kong"></div>
        </ul>
        <input type="hidden" name="imglist" id="pics" value="{#$detail_pics#}" class="imglist-hidden">
    </div>

    <div class="info-box">
        <ul>
            <li class="brand fn-clear"><span class="name">{#$langData['car'][0][12]#}</span>  <span class="choose"> <span>{#if !$detail_title#}{#$langData['car'][3][23]#}{#/if#}</span> <i></i></span><input type="text" value="{#$detail_title#}" name="title" id="brand-text" readonly="readonly"></li>{#*品牌 *#}{#*请选择 *#}
            <input type="hidden" name="brand" id="brand" value="{#$detail_brand#}" />
            <input type="hidden" name="model" id="model" value="{#$detail_model#}" />
            <li class="color fn-clear"><span class="name">{#$langData['car'][3][5]#}</span> <span class="choose"> <span>{#if !$detail_colorname#}{#$langData['car'][3][23]#}{#/if#}</span> <i></i></span> <input type="text" name="colorname" value="{#$detail_colorname#}" id="color-text" readonly="readonly"></li>{#*颜色 *#}
            <li class="area fn-clear"><span class="name">{#$langData['car'][0][18]#}</span> <span class="choose">  <i></i></span>

                <div class="position_box" >
                    <dl class="inpbox fn-clear gz-addr-seladdr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}" >
                        <dd ><i></i><p><font style="color: #aaa;">{#if $detail_addrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split=' '#}{#else#}{#$langData['car'][3][23]#}{#/if#}</font></p></dd>
                        <input type="hidden" name="addr" id="addr" value="{#$detail_addrid#}" />
                        <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
                        <input type="hidden" name="location" id="location" value="{#$detail_location#}" />
                    </dl>
                </div>

            </li>{#*车牌所在地 *#}
            <li class="time fn-clear"><span class="name">{#$langData['car'][3][6]#}</span> <span class="choose"> <span></span> <i></i></span>
                <input type="text" name="cardtime" id="card-time" class="demo-test-date" placeholder="{#$langData['car'][3][23]#}" value="{#if $detail_cardtime#}{#$detail_cardtime|date_format:"%Y-%m-%d"#}{#/if#}"></li>{#*上牌时间 *#}

            <li class="trip fn-clear"><span class="name">{#$langData['car'][3][7]#}</span> <em>{#$langData['car'][3][11]#}</em><input name="mileage" value="{#$detail_mileage#}" type="text" id="trip"></li>{#*行程里程 *#}{#*万公里 *#}

            <li class="guohu"><span class="name">{#$langData['car'][7][52]#}</span><em>{#$langData['car'][7][53]#}</em><input type="text" name="transfertimes" value="{#$detail_transfertimes#}" id="guohu_text" placeholder=""> </li> {#*过户次数*#}{#*次*#}
            <li class="time fn-clear"><span class="name">{#$langData['car'][7][54]#}</span> <span class="choose"> <span></span> <i></i></span>{#*年检时间*#}
                <input type="text" name="njendtime" id="yearly-time" class="yearly-time" placeholder="{#$langData['car'][3][23]#}" value="{#if $detail_njendtime#}{#$detail_njendtime|date_format:"%Y-%m-%d"#}{#/if#}"></li>
            <li class="time fn-clear"><span class="name">{#$langData['car'][7][55]#}</span> <span class="choose"> <span></span> <i></i></span>{#*交强险到期时间*#}
                <input type="text" name="jqxendtime" id="compulsory-time" class="compulsory-time" placeholder="{#$langData['car'][3][23]#}" value="{#if $detail_jqxendtime#}{#$detail_jqxendtime|date_format:"%Y-%m-%d"#}{#/if#}"></li>
            <li class="time fn-clear"><span class="name">{#$langData['car'][7][56]#}</span> <span class="choose"> <span></span> <i></i></span>{#*商业险到期时间*#}
                <input type="text" name="businessendtime" id="commercial-time" class="commercial-time" placeholder="{#$langData['car'][3][23]#}" value="{#if $detail_businessendtime#}{#$detail_businessendtime|date_format:"%Y-%m-%d"#}{#/if#}"></li>


            <li class="property fn-clear"><span class="name">{#$langData['car'][3][8]#}</span>{#*车辆性质 *#}
                <div class="ppty-box fn-clear">
                    <span data-id="1" {#if $detail_nature == 1#} class="active"{#/if#}><i></i> {#$langData['car'][3][9]#}</span>{#*营运 *#}
                    <span data-id="0" {#if $detail_nature == 0#} class="active"{#/if#}><i></i> {#$langData['car'][3][10]#}</span>{#*非营运 *#}
                    <input type="hidden" name="nature" id="propertyture" value="{#if $detail_nature==1#}1{#else#}0{#/if#}"/>
                </div>
            </li>
            <li class="price fn-clear"><span class="name">{#$langData['car'][0][13]#}</span> <em>{#$langData['car'][3][12]#}</em><input name="price" value="{#$detail_price#}" type="text" id="price_text"></li>{#*价格 *#}{#*万元 *#}
            <li class="remarks">
                <div class="tit">{#$langData['car'][3][13]#}</div>{#*车辆说明 *#}
                <div class="con">
                    <textarea name="note" id="explain" placeholder="{#$langData['car'][5][31]#}...">{#$detail_note#}</textarea>{#*请输入 *#}
                </div>
            </li>
            <li class="contact-name fn-clear"><span class="name">{#$langData['car'][3][14]#}</span><input type="text" name="person" value="{#if $detail_username != ""#}{#$detail_username#}{#else#}{#$userinfo.nickname#}{#/if#}" id="contactname" placeholder="{#$langData['car'][5][32]#}"></li>{#*联系人 *#}{#*请输入2-6个字 *#}
            <li class="phone fn-clear"><span class="name">{#$langData['car'][3][15]#}</span><input type="text" name="tel" value="{#if $detail_contact != ""#}{#$detail_contact#}{#else#}{#$userinfo.phone#}{#/if#}" id="contact" placeholder="请输入手机号"></li>{#*手机号 *#}
            <li class="code fn-clear test_btn"><button type="button" class="getCodes">{#$langData['car'][3][16]#}</button><input type="text" name="testcode" id="code" placeholder="请输入验证码"></li>{#*发送验证码 *#}
            <li class="codemsg fn-clear"><span>! {#$langData['car'][3][17]#}</span></li>{#*更改联系方式需重新验证 *#}
            <li class="stages fn-clear {#if $detail_staging==1#}chose_btn{#/if#}"><span class="name"><i></i>{#$langData['car'][3][18]#}</span></li>{#*可分期 *#}
            <input type="hidden" name="staging" id="staging" value="{#$detail_staging|default:0#}" />
            <li class="payments fn-clear" {#if $detail_staging==1#}style="display: list-item;"{#/if#}><span class="name">{#$langData['car'][3][19]#}</span> <span class="pay_price"><i>{#if !empty($detail_price)  && $detail_downpayment>0#}{#round($detail_downpayment*$detail_price,2)#}{#else#}0.00{#/if#}</i>{#$langData['car'][3][22]#}</span> <span class="choose"><span>{#if !$detail_downpayment#}{#$langData['car'][3][20]#}{#/if#}</span><i></i></span><input value="{#$detail_downpayment#}" name="downpayment" type="text" id="payments-text"></li>{#*首付金额 *#}{#*请选择首付比例 *#}
        </ul>

        <div class="fabu_btn"> <span class="btn">{#if $id#}{#$langData['car'][5][41]#}{#else#}{#$langData['car'][3][21]#}{#/if#}</span> </div>
    </div>
    </form>

</div>
<!--所在地弹出层-->
<div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
    <div class="gz-sel-addr-header">
        <h3>{#$langData['siteConfig'][7][2]#}</h3>
        <button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
    </div>
    <ul class="gz-sel-addr-nav"></ul>
    <div class="gz-sel-addr-list"></div>
</div>

<div class="gz-sel-addr-mask"></div>

<!--颜色-->
<div class="color-select">
    <div class="graybg"></div>
    <div class="content">
        <div class="btnBar">
            <div class="cancel">{#$langData['car'][1][14]#}</div>{#*取消 *#}
            <div class="ensure">{#$langData['car'][1][15]#}</div>{#*确定 *#}
        </div>
        <div class="panel">
            <ul class="fn-clear">
                <li class=""><span class="black"></span><p>黑</p></li>
                <li><span class="write"></span><p>白</p></li>
                <li><span class="gray"></span><p>银/灰</p></li>
                <li><span class="red"></span><p>红</p></li>
                <li><span class="blue"></span><p>蓝</p></li>
                <li><span class="champagne"></span><p>香槟</p></li>
                <li><span class="brown"></span><p>褐</p></li>
                <li><span class="orange"></span><p>橙</p></li>
                <li><span class="yellow"></span><p>黄</p></li>
                <li><span class="purple"></span><p>紫</p></li>
                <li><span class="green"></span><p>绿</p></li>
                <li><span class="others"></span><p>其他</p></li>
            </ul>
        </div>
    </div>
</div>

<!--图片参考-->
<div class="refer-img-bg">
    <div class="refer-img-box">
        <p>图片参考</p>
        <span class="close"><i></i></span>
        <div class="refer-img"><img src="{#$templets_skin#}images/refer_eg.png.jpg" alt=""></div>
    </div>
</div>

<div class="mask_car mask-hide"></div>

<!--品牌 s-->
<div class="aside block-brand ">
    <nav class="nav-final"><p>选择地区</p><a class="back" href="#"></a></nav>
    <div class="aside-main">
        <h3 class="tt">{#$langData['car'][1][1]#}</h3>{#*热门品牌 *#}
        <ul class="list-brand fn-clear">
            {#car action="type" return='type' hot="1" pageSize=10 #}
            <li data-id="{#$type.id#}"><a>
                <span class="brand_icon"><img src="{#$type.iconturl|default: '/static/images/type_default.png'#}" alt=""></span>
                <span class="bread_text">{#$type.typename#}</span>
            </a></li>
            {#/car#}
        </ul>
        {#$firstword=''#}
        {#$isfirstword=0#}
        {#car action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
        {#if $firstword==$type.firstword #}
            <li data-id="{#$type.id#}"><span class="brand_icon"><img src="{#$type.icon|default: '/static/images/type_default.png'#}" alt=""></span><span class="bread_text">{#$type.typename#}</span></li>
        {#else#}
            </ul>
            {#$firstword=$type.firstword#}
            {#$isfirstword=$isfirstword+1#}
            <h3 id="brand-jump-{#$type.firstword#}" data-tips="{#$type.firstword#}">{#$type.firstword#}</h3>
            <ul class="list-line list-line-logo">
                <li data-id="{#$type.id#}"><span class="brand_icon"><img src="{#$type.icon|default: '/static/images/type_default.png'#}" alt=""></span><span class="bread_text">{#$type.typename#}</span></li>
        {#/if#}
        {#/car#}
    </div>
    <div class="jump-tag navbar">
        <ul class="jump-ul">
            {#$firstword=''#}
            {#car action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
            {#if $firstword==$type.firstword #}

            {#else#}
                {#$firstword=$type.firstword#}
                <li class="jump-li"><a href="javascript:;" data-typeid="{#$type.id#}" data-id="brand-jump-{#$type.firstword#}">{#$type.firstword#}</a></li>
            {#/if#}
            {#/car#}
        </ul>
    </div>

    <div class="letter">A</div>
</div>
<!--品牌 e-->

<!--车系 s-->
<div class="aside block-cartype">
</div>
<!--车系 e-->

<!--车型 s-->
<div class="aside cartype-sub">
    
</div>
<!--车型 e-->

<div class="maskbg">
    <div class="msg-box">
        <span class="btn-close"></span>
        <div class="msg"><span></span></div>
    </div>
</div>
{#include file="fabu-pay.html"#}
<script type="text/javascript">
    var wxconfig = {
        "appId": '{#$wxjssdk_appId#}',
        "timestamp": '{#$wxjssdk_timestamp#}',
        "nonceStr": '{#$wxjssdk_nonceStr#}',
        "signature": '{#$wxjssdk_signature#}'
    };
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/jquery.smartScroll.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/codetest.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.datetime.js" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.select.js" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}" ></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu-pay.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/upload-img.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu-car.js?v={#$cfg_staticVersion#}"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
</body>
</html>