<!DOCTYPE html>
<html>
<head>
	<meta charset="{#$cfg_soft_lang#}">
	<title>{#$langData['travel'][11][56]#}</title>{#* 发布攻略 *#}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-travel-stategy.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/gz-fabu.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_staticPath#}js/core/zepto.deferred.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
		var modelType = '{#$module#}';
		var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = {#$atlasMax#};
		var id = {#$detail_id|default:0#};	
		var hideFileUrl = {#$cfg_hideUrl#};
	</script>
</head>
<body>
	{#$pageTitle = $langData['travel'][11][56]#}
	{#include file="top.html"#}
	<div class="container">
		<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=travel&action=operStrategy&oper={#if $id#}update&id={#$id#}{#else#}add{#/if#}" data-url="{#getUrlPath service='member' type='user' template='travel-strategy'#}">
			<div class="store-imgs img_box">
				<div class="tit">{#$langData['travel'][11][57]#}</div>{#* 发布攻略 *#}
				<ul class="uploader-list" id="fileList">
					{#if $detail_pics#}
					{#foreach from=$detail_pics key=k item=pic#}
					<li id="WU_FILE_3_{#$k#}" class="thumbnail imgshow_box litpic"><div class="img_show"><img src="{#$pic.path#}" data-val="{#$pic.pathSource#}" data-url="{#$pic.path#}"></div><i class="del_btn">+</i></li>
					{#/foreach#}
					{#/if#}
					<li class="upload_btn" id="uploadbtn">
						<div id="filePicker" class="webuploader-container">
							<img src="{#$templets_skin#}images/add.png" />
							<p>{#$langData['travel'][11][18]#}</p>	{#* 上传图片 *#}
						</div>		
					</li>		
					<div class="kong"></div>
				</ul>
				<input type="hidden" name="pics" id="pics" value="" class="imglist-hidden">
			</div>
			<div class="info">
				<ul>
					<li class="fn-clear type_chose">
						<label class="name" for="lei">{#$langData['travel'][11][58]#}</label>{#* 选择分类 *#}
						<p class="chose"><input type="text" id="lei" name="lei" value="{#$detail_typename#}" placeholder="{#$langData['travel'][1][18]#}" readonly="readonly" /></p>
						<input type="hidden" id="typeid" name="typeid" value="{#$detail_typeid#}">
					</li>
					<li class="fn-clear">
						<label class="name">{#$langData['travel'][11][23]#}</label>{#* 标题 *#}
						<input type="text" id="title_str" name="title" value="{#$detail_title#}" placeholder="{#$langData['travel'][11][22]#}" />{#* 请输入 *#}
					</li>
				</ul>
			</div>
			<div class="text_content">
				<h2>
					{#$langData['travel'][11][59]#}
					<!--<a href="javascript:;" class="addimg">添加图片</a>-->
				</h2>{#* 图文内容 *#}
				<div class="inputbox" contenteditable placeholder="{#$langData['travel'][11][25]#}" id="detail_text">{#$detail_note#}</div>{#* 请输入内容 *#}
				<!--上传图片-->
				<div class="img_box">
					<ul class="uploader-list" id="fileList_pro">
						{#if $detail_litpic#}
						{#foreach from=$detail_litpic key=k item=v#}
						<li id="WU_FILE_A{#$k#}_pro" class="thumbnail imgshow_box litpic"><div class="img_show"><img src="{#$v.path#}" data-val="{#$v.pathSource#}" data-url="{#$v.path#}"></div><i class="del_btn">+</i></li>
						{#/foreach#}
						{#/if#}
						<li class="upload_btn" id="uploadbtn_pro">
							<div id="filePicker_pro" class="webuploader-container">
								<img src="{#$templets_skin#}images/add.png" />
								<p>{#$langData['travel'][11][18]#}</p>	{#* 上传图片 *#}
							</div>		
						</li>		
						<div class="kong"></div>
					</ul>
					<input type="hidden" name="litpic" id="litpic" value="" class="imglist-hidden">
				</div>
			</div>
			<div class="btn-box"><span class="btn-keep" id="btn-keep">{#$langData['travel'][11][31]#}</span></div>{#* 提交 *#}
		</form>
		
	</div>
	<div class="gz-sel-addr gz-sel-addr-hide" id="gzSelAddr">
			<div class="gz-sel-addr-header">
				<h3>{#$langData['siteConfig'][7][2]#}</h3>
				<button class="gz-sel-addr-close" id="gzSelAddrCloseBtn"></button>
			</div>
			<ul class="gz-sel-addr-nav"></ul>
			<div class="gz-sel-addr-list"></div>
		</div>
	
		<div class="gz-sel-addr-mask"></div>
<script type="text/javascript">
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}'
	};
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}" ></script>
<script src="{#$templets_skin#}js/common_3.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/upload-img.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/imgupload_pro.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/fabu-travel-strategy.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
