<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>房产频道</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/househome.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = 0;
	var module = 'house';
</script>
</head>

<body>
{#$pageTitle = '房产频道'#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}

<ul class="link">
  <li><a href="{#getUrlPath service='member' type='user' template='config-house'#}"><i class="icon-config-house"></i>我的店铺</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='house_yuyue'#}"><i class="icon-house_yuyue"></i>预约看房</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='house_entrust'#}"><i class="icon-house_entrust"></i>我的委托</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='house_meallist'#}"><i class="icon-house_meallist"></i>套餐服务</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='house'#}"><i class="icon-house_manage"></i>房源管理</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='fabu_house'#}"><i class="icon-house_put"></i>发布房源</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='house_yuyue_list'#}"><i class="icon-house_yuyue_list"></i>预约记录</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='house_entrust_list'#}"><i class="icon-house_entrust_list"></i>委托记录</a></li>
  <li><a href="{#getUrlPath service='member' type='user' template='collect' param='module=house'#}"><i class="icon-house_collect"></i>收藏关注</a></li>
</ul>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
</body>
</html>
