  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index_3.4.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
</script>
</head>

<body>
<div class="mheader">
  <dl class="minfo fn-clear">
    {#if $userinfo#}
    <dt><a href="{#getUrlPath service='member' type='user' template='profile'#}"><img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}"#}{#/if#}" /></a></dt>
    <dd>
      <h2>
        <a href="{#getUrlPath service='member' type='user' template='profile'#}">{#$userinfo.nickname#}</a>
        <span class="userlevel">{#if $userinfo.level#}<img src="{#$userinfo.levelIcon#}" />{#/if#}</span>
      </h2>
      <div class="certify">
        {#if $userinfo.certifyState == 1#}<span>{#$langData['siteConfig'][19][255]#}</span>{#/if#}{#* 实名认证 *#}
        {#if $userinfo.phoneCheck == 1#}<span>{#$langData['siteConfig'][3][7]#}</span>{#/if#}{#* 手机认证 *#}
      </div>
      {#if $userinfo.level#}
      <div class="levelinfo">[{#$userinfo.levelName#}]于{#$userinfo.expired|date_format:"%Y.%m.%d"#}到期<a href="{#getUrlPath service='member' type='user' template='upgrade'#}">续费</a></div>
      {#/if#}
    </dd>
    {#else#}
    <h2 class="nlogin">
      <a href="{#$cfg_basehost#}/login.html">{#$langData['siteConfig'][2][0]#}/{#$langData['siteConfig'][1][0]#}</a>
    </h2>
    {#/if#}
  </dl>
  {#if $userinfo#}<a href="{#$cfg_basehost#}/user-{#$userinfo.userid#}.html" class="homepage">{#$langData['siteConfig'][0][13]#}</a>{#/if#}{#* 个人主页 *#}
  <div class="hbg"><i></i><i></i></div>
</div>

<ul class="nav">
  {#if 'order'|in_array:$cfg_ucenterLinks#}
  <li><a href="{#getUrlPath service='member' type='user' template='order'#}"><i class="icon-order"></i>{#$langData['siteConfig'][19][359]#}</a></li>{#* 订单 *#}
  {#/if#}
  <li><a href="{#getUrlPath service='member' type='user' template='manage'#}"><i class="icon-manage"></i>{#$langData['siteConfig'][6][22]#}</a></li>{#* 管理 *#}
  {#if !$is_ios_app || !$cfg_ios_shelf#}
  <li><a href="{#getUrlPath service='member' type='user' template='pocket'#}"><i class="icon-account"></i>{#$langData['siteConfig'][19][874]#}</a></li>{#* 账户 *#}
  {#/if#}
  <li><a href="{#getUrlPath service='member' type='user' template='collect'#}"><i class="icon-collect"></i>{#$langData['siteConfig'][19][240]#}</a></li>{#* 收藏 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='qiandao'#}"><i class="icon-qiandao"></i>{#$langData['siteConfig'][22][132]#}</a></li>{#* 签到 *#}
</ul>

<ul class="link">
  {#*<li><a href="{#getUrlPath service='member' type='user' template='history'#}"><i class="icon-history"></i>浏览历史</a></li>*#}
  {#*<li><a href="{#getUrlPath service='member' type='user' template='friend'#}"><i class="icon-friend"></i>我的好友</a></li>*#}
  {#if !$is_ios_app || !$cfg_ios_shelf#}
  {#if !$userinfo || $userinfo.userType == 1#}<li><a href="{#getUrlPath service='member' type='user' template='upgrade'#}"><i class="icon-vip"></i>会员中心</a></li>{#/if#}
  {#/if#}
  {#*<li><a href="{#getUrlPath service='member' type='user' template='task'#}"><i class="icon-task"></i>任务中心</a></li>*#}
  {#*<li><a href="{#getUrlPath service='member' type='user' template='invite'#}"><i class="icon-invite"></i>邀请返利</a></li>*#}
  {#if !$is_ios_app || !$cfg_ios_shelf#}
  {#if !$userinfo || $userinfo.userType == 1#}<li><a href="javascript:;" class="sjSign"><i class="icon-sign"></i>签约商家</a></li>{#/if#}
  {#/if#}
  <li><a href="{#getUrlPath service='siteConfig' template='help'#}"><i class="icon-help"></i>{#$langData['siteConfig'][19][273]#}</a></li>{#* 帮助中心 *#}
  <li class="hotline"><a href="tel:{#$cfg_hotline#}"><i class="icon-tel"></i>{#$langData['siteConfig'][16][169]#}</a></li>{#* 网站客服 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='security'#}"><i class="icon-security"></i>{#$langData['siteConfig'][0][8]#}</a></li>{#* 安全中心 *#}
  <li id="appSetting" class="fn-hide"><a href="{#getUrlPath service='member' type='user' template='setting'#}"><i class="icon-setting"></i>系统设置</a></li>
  {#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks#}
  <li><a href="{#getUrlPath service='member' type='user' template='fenxiao'#}"><i class="icon-fenxiao"></i>{#$cfg_fenxiaoName#}</a></li>
  {#/if#}
</ul>
{#if $userinfo#}
{#*个人升级到商家*#}
{#if $userinfo.userType == 1#}
{#if !$is_ios_app || !$cfg_ios_shelf#}
<a href="{#getUrlPath service='member' type='user' template='enter'#}#join" class="qyEnter">{#$langData['siteConfig'][16][170]#}</a>{#* 企业版 *#}
{#/if#}
{#else#}
<a href="{#$member_busiDomain#}/?currentPageOpen=1" class="qyEnter">{#$langData['siteConfig'][16][170]#}</a>{#* 企业版 *#}
{#/if#}
{#else#}
<a href="{#$cfg_basehost#}/login.html" class="qyEnter">{#$langData['siteConfig'][16][170]#}</a>{#* 企业版 *#}
{#/if#}
{#include file="../../siteConfig/touch_bottom_3.4.html" active="member"#}
<script type="text/javascript" src="{#$templets_skin#}js/index_3.4.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
