
<div class="content">
  <div class="house-tab">
    <div class="tab-box">
      {#* 全部 *#}
      <a href="javascript:;" class="active" data-state=""><span>{#$langData['education'][4][9]#}</span><s></s></a>
      {#* 待审核 *#}
      <a href="javascript:;" data-state="0"><span>{#$langData['education'][4][10]#}</span><em id="gray"></em><s></s></a>
      {#* 审核通过 *#}
      <a href="javascript:;" data-state="1"><span>{#$langData['education'][4][11]#}</span><em id="audit"></em><s></s></a>
      {#* 审核拒绝 *#}
      <a href="javascript:;" data-state="2"><span>{#$langData['education'][4][12]#}</span><em id="refuse"></em><s></s></a>
    </div>
  </div>

	<div class="house-list sale-list" id="list">

  </div>
</div>
<div class="fabuBtn"><a href="class_fabu.html"></a></div>  {#* 发布课程 *#}
