
  <div class="tab">
    <ul>
      <li data-id="" class="type curr"><a href="javascript:;">{#$langData['siteConfig'][19][391]#}</a></li>
      <li class="type" data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#}</a></li>
      <li class="type" data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#}</a></li>
      <li class="type" data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#}</a></li>
    </ul>
  </div>

  <div class="count">
		<ul>
      <li>{#$langData['siteConfig'][20][258]|replace:'1':'<span id="total">0</span>'#}</li>
			<li>{#$langData['siteConfig'][20][258]|replace:'1':'<span id="audit">0</span>'#}</li>
			<li>{#$langData['siteConfig'][20][258]|replace:'1':'<span id="gray">0</span>'#}</li>
			<li>{#$langData['siteConfig'][20][258]|replace:'1':'<span id="refuse">0</span>'#}</li>
		</ul>
	</div>
