
<div class="tab">
  <ul>
    {#if $type == 'diancan'#}
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
  	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][11]#} (<span id="totalGray">0</span>)</a></li>
  	<li data-id="3"><a href="javascript:;">{#$langData['siteConfig'][9][12]#} (<span id="totalAudit">0</span>)</a></li>
    {#elseif $type == 'dingzuo'#}
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
    <li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][11]#} (<span id="totalGray">0</span>)</a></li>
    <li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][12]#} (<span id="totalAudit">0</span>)</a></li>
    <li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][13]#} (<span id="totalCancel">0</span>)</a></li>
    {#elseif $type == 'paidui'#}
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
    <li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][7][5]#} (<span id="totalGray">0</span>)</a></li>
    <li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][507]#} (<span id="totalAudit">0</span>)</a></li>
    <li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][13]#} (<span id="totalCancel">0</span>)</a></li>
    {#elseif $type == 'maidan'#}
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
    {#*<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][24]#} (<span id="totalAudit">0</span>)</a></li>
    <li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][22]#} (<span id="totalGray">0</span>)</a></li>*#}
    {#/if#}
  </ul>
</div>

<style>
.order-info {float: none;padding:.1rem 0;}
.shop-list {padding:.1rem 0;margin-left: .12rem;}
</style>