
<div class="tab">
    <ul data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='info' id="%id%"#}" data-refund="{#getUrlPath service='member' type='user' template='orderdetail' module='info' id="%id%" param='rates=1'#}" data-comment="{#getUrlPath service='member' type='user' template='write-comment' module='info' id="%id%"#}">
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a><p class="curr-line"><i></i></p></li>
    <li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][22]#} (<span id="unpaid">0</span>)</a><p class="curr-line"><i></i></p></li>
    <li data-id="1"><a href="javascript:;">待发货 (<span id="rates">0</span>)</a><p class="curr-line"><i></i></p></li>
    <li data-id="3"><a href="javascript:;">已发货 (<span id="recei">0</span>)</a><p class="curr-line"><i></i></p></li>
    <li data-id="6"><a href="javascript:;">申请退款 (<span id="refund">0</span>)</a><p class="curr-line"><i></i></p></li>
    <li data-id="7"><a href="javascript:;">{#$langData['siteConfig'][9][34]#} (<span id="closed">0</span>)</a><p class="curr-line"><i></i></p></li>
    <li data-id="4"><a href="javascript:;">已完成 (<span id="used">0</span>)</a><p class="curr-line"><i></i></p></li>
    </ul>
</div>
