<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$title#}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/public-pay.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
</head>
<body>
<div class="container">
	<div class="header">
		<div class="header-l"><a href="{#$backUrl#}"><img src="{#$cfg_basehost#}/templates/member/touch/images/header_back.png"></a></div>
		<div class="header-address">{#$title#}</div>
	</div>
	<form action="{#$cfg_basehost#}/include/ajax.php" method="get" id="payform">
		<input type="hidden" name="service" id="service" value="{#$service#}" />
		<input type="hidden" name="action" id="action" value="pay" />
		<input type="hidden" name="ordernum" id="ordernum" value="{#$ordernum#}" />
		{#$paramsHtml#}
		<div class="order-info">
			<div class="order-info-img"><img src="{#$cfg_basehost#}/templates/member/touch/images/shop.png"></div>
			<div class="order-info-txt">
				<h3><span class="mprice">{#echoCurrency type='symbol'#}{#$totalAmount#}</span></h3>
				{#if $ordernum#}
				<p><a href="{#if $orderurl#}{#$orderurl#}{#else#}{#getUrlPath service='member' type='user' template='order' action={#$service#}#}{#/if#}">{#$langData['siteConfig'][19][308]#}：{#$ordernum#}</a></p>
				{#else#}
				<p><a href="javascript:;">{#$orderTitle#}</a></p>
				{#/if#}
			</div>
		</div>
		{#if $service == 'integral'#}
		<div class="points">
			<label>
				<span>使用{#$cfg_pointName#}</span>
				<em>总积分：{#$userinfo.point#}</em>
				<input type="checkbox" name="usePoint" id="usePoint" value="1">
				<span class="checkbox-icon"></span>
			</label>
		</div>
		<div class="balancePwd">
			<input type="password" name="paypwd" id="paypwd" placeholder="请输入支付密码" /><input type="hidden" name="usePcount" id="usePcount" />
		</div>
		<div class="fogetpwd">
			<a href="{#getUrlPath service='member' type='user' template='security-paypwdEdit'#}">{#$langData['siteConfig'][6][4]#}{#$langData['siteConfig'][5][7]#}</a>
		</div>
		{#/if#}

		{#if $service != 'integral' && $userinfo.point > 0 && $allowUsePoint !== false#}
		<div class="points">
			<label>
				<span>使用{#$cfg_pointName#}</span>
				<em>{#$userinfo.point#}</em>
				<input type="checkbox" name="usePinput" id="usePoint" value="1">
				<span class="checkbox-icon"></span>
				<input type="hidden" name="point" id="usePcount" />
			</label>
		</div>
		{#/if#}
		{#if $service != 'integral' && $userinfo.money > 0 && $allowUseMoney !== false#}
		<div class="balance">
			<label>
				<span>{#$langData['siteConfig'][19][833]#}</span>
				<em>{#echoCurrency type='symbol'#}{#$userinfo.money#}</em>
				<input type="checkbox" name="useBalance" id="useBalance" value="1">
				<span class="checkbox-icon"></span>
			</label>
		</div>
		<div class="balancePwd"><input type="password" name="paypwd" id="paypwd" placeholder="{#$langData['siteConfig'][20][213]#}" /><input type="hidden" name="balance" id="useBcount" /></div>
		<div class="fogetpwd">
			<a href="{#getUrlPath service='member' type='user' template='security-paypwdEdit'#}">{#if $userinfo.paypwdCheck == 0#}{#$langData['siteConfig'][6][173]#}{#else#}{#$langData['siteConfig'][6][4]#}{#$langData['siteConfig'][5][7]#}{#/if#}</a>
		</div>
		{#/if#}
		<div class="pay-check">
			{#siteConfig action="payment"#}
			{#if $row.pay_code == "devpay"#}
			<div class="check-item" id="devpayObj">
				<div class="check-item-img"><img src="{#$cfg_basehost#}/api/payment/devpay/devpay.png"></div>
				<div class="check-item-txt"><h3>{#$row.pay_name#}</h3><p>推荐智慧城市用户使用</p></div>
				<div class="check-item-right"><input type="radio" name="paytype" value="devpay"><span class="checkbox-icon-round"></span></div>
			</div>
			{#/if#}
			{#if $row.pay_code == "wxpay"#}
			<div class="check-item" id="wxpayObj">
				<div class="check-item-img"><img src="{#$cfg_basehost#}/templates/member/touch/images/wxpay.png"></div>
				<div class="check-item-txt"><h3>{#$langData['siteConfig'][19][712]#}</h3><p>{#$langData['siteConfig'][19][809]#}</p></div>
				<div class="check-item-right"><input type="radio" name="paytype" value="wxpay"><span class="checkbox-icon-round"></span></div>
			</div>
			{#elseif $row.pay_code == "globalalipay"#}
			<div class="check-item" id="alipayObj">
				<div class="check-item-img"><img src="{#$cfg_basehost#}/templates/member/touch/images/alipay.png"></div>
				<div class="check-item-txt"><h3>{#$langData['siteConfig'][19][713]#}</h3><p>{#$langData['siteConfig'][19][810]#}</p></div>
				<div class="check-item-right"><input type="radio" name="paytype" value="globalalipay"><span class="checkbox-icon-round"></span></div>
			</div>
			{#elseif $row.pay_code == "alipay"#}
			<div class="check-item" id="alipayObj">
				<div class="check-item-img"><img src="{#$cfg_basehost#}/templates/member/touch/images/alipay.png"></div>
				<div class="check-item-txt"><h3>{#$langData['siteConfig'][19][713]#}</h3><p>{#$langData['siteConfig'][19][810]#}</p></div>
				<div class="check-item-right"><input type="radio" name="paytype" value="alipay"><span class="checkbox-icon-round"></span></div>
			</div>
			{#elseif $row.pay_code == "paypal"#}
			<div class="check-item" id="paypalObj">
				<div class="check-item-img"><img src="{#$cfg_basehost#}/templates/member/touch/images/paypal.png"></div>
				<div class="check-item-txt"><h3>{#$langData['siteConfig'][19][714]#}</h3><p>{#$langData['siteConfig'][19][811]#}</p></div>
				<div class="check-item-right"><input type="radio" name="paytype" value="paypal"><span class="checkbox-icon-round"></span></div>
			</div>
			{#/if#}
			{#/siteConfig#}
			<div class="check-item fn-hide" id="moneyObj" style="padding:0;display:none !important;"><input type="radio" name="paytype" value="money"></div>
			{#if $service == "waimai" && $ordertype == "waimai" && $delivery#}
			<div class="check-item" id="deliveryObj">
				<div class="check-item-img"><img src="{#$cfg_basehost#}/templates/member/touch/images/delivery.png"></div>
				<div class="check-item-txt"><h3>{#$langData['siteConfig'][16][51]#}</h3><p>{#$langData['siteConfig'][19][834]#}</p></div>
				<div class="check-item-right"><input type="radio" name="paytype" value="delivery"><span class="checkbox-icon-round"></span></div>
			</div>
			{#/if#}

		</div>
		<div class="confirm"><a href="javascript:;" id="payBtn">{#$langData['siteConfig'][6][42]#}<span>{#echoCurrency type='symbol'#}{#$totalAmount#}</span></a></div>
	</form>
</div>

<script type="text/javascript">
	var masterDomain = "{#$cfg_basehost#}", totalAmount = {#$totalAmount#}, totalBalance = {#$userinfo.money|default:0#}, totalPoint = {#$userinfo.point|default:0#}, orderTotalAmount = {#$totalAmount#}, pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script src="{#$cfg_basehost#}/templates/member/touch/js/public-pay.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
