html{width: 100%;height: 100%;}
body{width: 100%;height: 100%}
.bdshare_dialog_box{display: none!important;}

.container{min-width: 1500px;height: 100%;position: relative;}
.nav-box{background-color: rgb(31, 32, 33);width: 100%;height: 48px;line-height: 48px;color: #fff;}
.nav-l{padding: 0 40px;box-sizing: border-box;margin-right: 360px;font-size: 16px;}
.nav-l li{display: inline-block;width: 33%}
.nav-l .edit .btn-edit{display: inline-block;border: 1px solid #fff;font-size: 12px;height: 26px;line-height: 26px;border-radius: 13px;padding: 0 12px;margin-right: 18px;cursor: pointer;}
.nav-l .edit .btn-edit:hover{background: #fff;color: #333;}
.nav-l li.page{text-align: center;}
.nav-l li.page span{margin: 0 40px;}
.nav-l li.page i{margin: 0 0 -7px 0;}
.nav-l li.page .prev-btn{display: inline-block;width: 28px;height: 28px;background: url("../images/btn_prev.png") no-repeat;background-size: contain;cursor: pointer;}
.nav-l li.page .prev-btn:hover{display: inline-block;width: 28px;height: 28px;background: url("../images/btn_prev2.png") no-repeat;background-size: contain;}
.nav-l li.page .next-btn{display: inline-block;width: 28px;height: 28px;background: url("../images/btn_next.png") no-repeat;background-size: contain;cursor: pointer;}
.nav-l li.page .next-btn:hover{display: inline-block;width: 28px;height: 28px;background: url("../images/btn_next2.png") no-repeat;background-size: contain;}
.nav-l li.page a.disabled {visibility: hidden;}
.nav-l li.date{text-align: right;position: relative;}
.nav-l li.date .btn-date{display: inline-block;border: 1px solid #fff;font-size: 12px;height: 26px;line-height: 26px;border-radius: 13px;padding: 0 12px;margin-right: 18px;cursor: pointer;}
.nav-l li.date .btn-date:hover{background: #fff;color: #333;}
.nav-l li.date input.laydate-icon{cursor: pointer;text-align:right;border:0;width:193px;sposition: absolute;top: -29px;right: 0;height: 48px;background: url("../images/btn_past.png") no-repeat left center;color: #fff;padding-left: 30px;box-sizing: border-box;}
.nav-l li.date input.laydate-icon::placeholder{color: #fff;}
.nav-l li.date input.laydate-icon:hover{background: url("../images/btn_past2.png") no-repeat left center;}

.nav-r{color: #fff;float: right;font-size: 14px;}
.nav-r{width: 360px;}
.nav-r a{display: inline-block;width:120px;text-align: center;box-sizing: border-box;color: #fff;float: left;}
.nav-r a.pdf i{display: inline-block;width: 15px;height: 17px;background: url("../images/icon_pdf.png") no-repeat;background-size: contain;}
.nav-r a.full i{display: inline-block;width: 16px;height: 16px;background: url("../images/icon_fulscren.png") no-repeat;background-size: contain;}
.nav-r a.share i{display: inline-block;width: 16px;height: 16px;background: url("../images/icon_share.png") no-repeat;background-size: contain;}
.nav-r a i{margin: 0 5px -4px 0;}
.nav-r a.disabled {opacity: .3;filter:alpha("opacity=30");}

.content{background:#3f4145;position: absolute;top: 48px;bottom: 0;right: 0;left: 0;}
.content .content-l{padding: 40px;height:100%;overflow: auto;box-sizing: border-box;}
.content .content-l::-webkit-scrollbar {width: 10px;height: 13px;background: #37393b;}
.content .content-l::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 10px #737578;background: #737578;}
.content .content-l::-webkit-scrollbar-track {background: none;}
.content .content-l .img-box{width: 100%;text-align: center;vertical-align: middle;margin: 0 auto;}
.content .content-l .img-box img{max-width: 100%;display: inline-block;}

.content .content-r{float: right;width: 360px;background: #535659;height:100%;overflow: scroll;padding-top: 30px;box-sizing: border-box;}
.content .content-r::-webkit-scrollbar {width: 10px;height: 13px;background: #37393b;}
.content .content-r::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 10px #737578;background: #737578;}
.content .content-r::-webkit-scrollbar-track {background: none;}
.content .content-r .tit{padding: 0 20px;height: 40px;position: relative;}
.content .content-r .tit .btn_choose{cursor:pointer;display: inline-block;height:34px;line-height:34px;font-size:14px;color:#fff;padding:0 20px;border-radius:17px;background-image: -moz-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);background-image: -ms-linear-gradient( 90deg, rgb(237,57,62) 0%, rgb(249,105,90) 100%);}
.content .content-r .tit .btn_choose:after{content: "";display: inline-block;font-size: 0;width:0;height:0;border-width:6px 6px 0;border-style:solid;border-color:#fff transparent transparent;margin:0 5px;position:relative;}
.content .content-r .tit .list-box{border-radius: 17px;background: #fff;display: inline-block;overflow: hidden;position: absolute;left: 20px;top: 0;}
.content .content-r .choose-list{max-height: 266px;overflow: auto;display: none;}
.content .content-r .show{display: block;}
.content .content-r .choose-list::-webkit-scrollbar {width: 4px;height: 13px;background: #fff;}
.content .content-r .choose-list::-webkit-scrollbar-thumb {border-radius:4px;-webkit-box-shadow: inset 0 0 5px #898d91;background: #898d91;}
.content .content-r .choose-list::-webkit-scrollbar-track {background: none;}
.content .content-r .choose-list li{cursor: pointer;font-size: 14px;color: rgb(31,32, 33);padding: 9px 20px;}
.content .content-r .choose-list li:hover a{color: #c3141b;}
.content .content-r .choose-list li.active a{color: #c3141b;}


.content .content-r ul.article-list li{padding: 0 20px;cursor: pointer;}
.content .content-r ul.article-list li.active{background: #616569;}
.content .content-r ul.article-list li:hover{background: #616569;}
.content .content-r ul.article-list li p.title{width:100%;font-size: 18px;font-weight: bold;color: #fff;margin-bottom: 20px;padding-top: 30px;max-height: 54px;overflow: hidden;}
.content .content-r ul.article-list li .info .con{color: rgb(195, 197, 201);line-height: 1.429;font-size: 14px;text-align: justify;height: 78px;overflow: hidden;}
.content .content-r ul.article-list li .info .img{border-radius: 4px;background-color: rgb(0, 0, 0);width: 118px;height: 78px;overflow: hidden;margin-left: 16px;}
.content .content-r ul.article-list li .info .img img{width: 100%;}
.content .content-r ul.article-list li .info {border-bottom: 1px solid #727578;padding-bottom: 30px;}

/*文章*/
.content .article-box{position: absolute;right: 0;top: 0;bottom:0;width: 500px;background: #535659;overflow: auto;padding: 50px 30px;display: none;animation: rightFadeIn .5s ease-out;}
.content .article-box::-webkit-scrollbar {width: 10px;height: 13px;background: #37393b;}
.content .article-box::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 10px #737578;background: #737578;}
.content .article-box::-webkit-scrollbar-track {background: none;}
.content .article-box .btn_close{display: inline-block;width: 80px;height: 80px;border-radius: 50%;background: #737678;position: absolute;top: -40px;left: -40px;cursor: pointer;}
.content .article-box .btn_close i{display: inline-block;width: 12px;height: 12px;background: url("../images/btn_close.png")no-repeat;background-size: contain;margin: 49px 0 0 48px ;}
.content .article-box .con-box .title{ font-size: 28px;;color: #fff;font-weight: bold;}
.content .article-box .con-box .time{color: #d7d9de;font-size: 15px;}
.content .article-box .con-box .time span.point{margin: 0 10px;}
.content .article-box .con-box p{margin-bottom: 30px;font-size: 17px;color: #d7d9de;text-align: justify;}
.content .article-box .con-box .img-box{max-width: 100%;max-height:500px;overflow:hidden;margin-bottom: 30px;}
.content .article-box .con-box img{max-width: 100%;max-height:500px;overflow:hidden; margin-bottom: 30px;}

/*版式选择框*/
.content .choose-box{position: absolute;top: 0px;bottom: 0;width: 280px;overflow:auto;box-shadow: 5px 0px 23px 0px rgba(4, 6, 51, 0.13);background: #fff;display: none;animation: leftFadeIn .5s ease-out;}
.content .show{display: block;}
.content .choose-box li a{display:inline-block;width:100%;height:40px;line-height:40px;color: rgb(31, 32, 33);font-size:15px;box-sizing:border-box;padding-left: 40px;padding-right:15px;cursor:pointer;overflow: hidden;}
.content .choose-box li a:hover{background: #1f2021;color: #fff;}
.content .choose-box li.active a{background: #1f2021;color: #fff;}




