.body {
	width: 1000px;
	margin: 0 auto;
}
.body h1{
	font-size: 20px;
	font-weight: bold;
}
.body  a{
	display: block;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 10px;
}