.deletefather{
	position:relative;float:left;margin-left:5px;margin-bottom:5px;width:180px;height:auto;background:#cccccc;
}
.deletebody{
	position: absolute; width: 180px; height: 180px; line-height: 180px; text-align: center; background: rgb(238, 238, 238); top: 0px; left: 0px; cursor: pointer; color: red; border: 1px solid red; display: none;
}
.deletefather:hover .deletebody{display:block;}