.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 90%;
	border: 1px solid #ccc;
}
.disk{
    background: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    z-index: 1040;
    height: 100%;
    width: 100%;
    display: none;
}


/* 提示信息 */
.w-tip {position:fixed; right:80px; top:13px; z-index:160000; text-align:right;}
.w-tip .msg {padding:0 14px; color:#fff; display:-moz-inline-stack; display:inline-block; zoom:1; background:#999; overflow:hidden; -moz-box-shadow: 0px 0 5px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0 5px rgba(0,0,0,0.2); box-shadow:0px 0 5px rgba(0,0,0,0.2); -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.w-tip .loading {background-image:url(../../../static/images/ui/loading.gif); background-repeat:no-repeat; background-position:15px center; text-indent:25px;}
.w-tip .warning {background-color:#d08900;}
.w-tip .success {background-color:#5eb015;}
.w-tip .error {background-color:#c52121}


/* 分页边线 */
.pagination ul>li.page_current>span {border-color: #ccc !important;}