
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}

.mask{width: 100%;height:100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;bottom: 0;display: none;}
/*默认排序*/
.huoniao_iOS .content{position: fixed;left: 0;right: 0;top:0;}
.huoniao_iOS .class_plan{margin-top: .7rem;}

.content{position: fixed;left: 0;right: 0;top:.9rem;background: #f0f0f2;z-index: 10}
.content .content_tab{padding: 0 .3rem;height: .9rem;line-height: .9rem;}
.content div{color: #39393b;font-size: .28rem;}
.content .choose_li{float: left;}
.content .class_num{float: right;}
.content .order1{position: relative;padding-right: .4rem}

.content li .order1:after{width: 0;height: 0;border-left: .1rem solid transparent;border-right: .1rem solid transparent;border-top: .12rem solid #c3c3c3;content: "";position: absolute;right: .05rem;top: .15rem;}
.content li.active .order1:after{width: 0;height: 0;border-left: .1rem solid transparent;border-right: .1rem solid transparent;border-top:0;border-bottom: .12rem solid #c3c3c3;content: "";position: absolute;right: .05rem;top: .15rem;}

.choose_order{background: #fff;max-height: 5.8rem;overflow-y: auto;display: none}
.choose_order.active{display: block;}
.choose_order ul{padding-bottom: .9rem}
.choose_order li{height: 1rem;line-height: 1rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #e3e3e3;}
.sort{text-align: center;height: .9rem;width:100%;position: absolute;bottom: 0;background: #fff;border-top: 1px solid #dfdfdf}
.sort:after{content: ''; display: inline-block; width: .2rem; height: .2rem; border-top:.05rem solid  #b3b3b3; border-right: solid .05rem #b3b3b3; transform: rotate(-45deg);position: absolute;bottom: .2rem;left: 50% }
/*课程安排*/
.class_plan{background: #f0f0f2;margin-top: 1.7rem;}
 .title{height: .9rem;line-height: .9rem;position: relative;padding-left: .24rem;font-size: .32rem;font-weight: bold;color: #38393b}
 .title:after{content: ''; display: inline-block;position: absolute;left:.24rem;top:.85rem;width: 1.26rem;height: .06rem;
      background-image: -moz-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  box-shadow: 0px 3px 5px 0px rgba(29, 130, 255, 0.47);
}
.class_plan ul li{margin-bottom: .2rem;background: #fff;}
.class_plan ul li:active{background:#f2f2f2;}

.comp_content{padding: .4rem .24rem 0;}
.comp_content .com_name{font-size: .32rem;   color: #3377ff;font-weight: bold}
.comp_content .comp_bottom{margin-top: .14rem;margin-bottom: .28rem;}
.comp_content .comp_bottom p{display: inline-block;}
.comp_content .comp_bottom p.p1{color: #ff5d2f;font-size: .32rem}
.comp_content .comp_bottom p.p1 span:first-child{font-weight: bold;}
.comp_content .comp_bottom p.p1 span:nth-child(2){font-size: .4rem;font-weight: bold;margin-right: .15rem}
.comp_content .comp_bottom p.p1 span:last-child{font-size: .24rem;margin-right: .15rem;color: #9595ab;border-radius: .04rem;height: .4rem;line-height: .4rem;padding: 0 .12rem;background: #ededf7}
.comp_content .comp_bottom p.p2{float: right;font-size: .26rem;color: #747578;line-height: .55rem}


.class_plan ul li .plan_class{}
.class_plan ul li .plan_class h3{font-size: .32rem;color: #3377ff;font-weight: bold;display: inline-block;}
.class_plan ul li .plan_class p{font-size: .24rem;color: #ff5d2f;font-weight: bold;display: inline-block;float: right;}
.class_plan ul li .plan_class p span{font-size: .32rem;}

.class_plan ul li .plan_time{padding: 0 .24rem}
.class_plan ul li .plan_time img{width: .23rem;height: .23rem;vertical-align:middle;margin-right: .13rem}
.class_plan ul li .plan_time p{font-size: .26rem;color: #747578;display: inline-block;line-height: .23rem}
.class_plan ul li .plan_time p.time_hour{float: right;}
.class_plan ul li .plan_time p span{display: inline-block;line-height: .23rem;vertical-align:middle;margin-right: .12rem}

.class_plan ul li .plan_address{margin-top: .24rem;padding: 0 .24rem;color: #747578}
.class_plan ul li .plan_address span{font-size: .26rem;line-height: .29rem;vertical-align:middle;}
.class_plan ul li .plan_address img{width: .23rem;height: .29rem;vertical-align:middle;margin-right: .13rem}


.class_plan ul li .plan_teacher{margin-top: .24rem;padding: .2rem .24rem;border-top: 1px solid #dcdcde}
.class_plan ul li .plan_teacher .tec_nan{display: inline-block;margin-right: .5rem}
.class_plan ul li .plan_teacher .tec_nan img{width: .64rem;height: .64rem;vertical-align: middle;margin-right: .13rem}
.class_plan ul li .plan_teacher .tec_nan span{display: inline-block;vertical-align: middle;height: .64rem;line-height: .64rem;color: #747578;font-size: .26rem}




