body, html{background: #f0f0f2; font-size: .28rem;}

.header{position: fixed;left: 0;right: 0;}
img{max-width: 100%}

.huoniao_iOS .wrap{margin-top: 0;}
.wrap{margin-top:1.1rem;}
.wrap .content1{background: #fff;margin-bottom: .2rem}


.wrap .content1 h2{font-size: .26rem;color: #9fa1ab;height: .8rem;line-height: .8rem;padding-left: .24rem}
.wrap .content1 .left{width: 2rem;height: 1.5rem;float: left;}
.wrap .content1 .left img{width: 100%;height: 100%;object-fit: cover;}
.wrap .content1 .right{margin-left: 2.26rem}
.wrap .content1 .right p{font-size: .3rem;font-weight: bold;color: #333}

.wrap .content1 .right p.describ{margin-top: .25rem }

.wrap .content2{padding: .3rem .24rem;border-top:1px solid #dedfe3;}

.wrap .content3{padding-top: .4rem;background: #fff}
.wrap .content3 div{padding-left: .24rem}
.wrap .content3 h1{font-size: .32rem;font-weight: bold;color: #333;padding-left: .24rem}
.wrap .content3 label{font-size: .3rem;color: #333}
.wrap .content3 input{height: 1rem;line-height: 1rem;font-size: .3rem;color: #333;margin-left: .5rem;border: none}
.wrap .content3 input::placeholder{color: #9fa1ab}
.wrap .content3 .input_name{border-bottom:1px solid #dedfe3;margin-top: .4rem}

.footer{position: fixed;bottom: 0;left: 0;background: #fff;width: 100%;padding: .2rem .3rem;box-sizing: border-box;line-height: .86rem; padding-bottom: calc(.2rem + env(safe-area-inset-bottom));padding-bottom: calc(.2rem + constant(safe-area-inset-bottom));}
.footer span:first-child{font-size: .24rem;color: #333;margin-right: .2rem;}
.footer span:nth-child(2){font-size: .24rem;color: #ff5d2f;font-weight: bold;}
.footer span:nth-child(3){font-size: .44rem;color: #ff5d2f;font-weight: bold;vertical-align: bottom;}
.footer span:last-child{background-color: rgb(255, 103, 78);border-radius: .06rem;width:3rem;height: .88rem;line-height: .88rem;color: #fff;font-size: .32rem;display: inline-block;text-align: center;float: right;}






