.topfixed{position: fixed!important;top:0;left:0;right:0;z-index: 100!important;    box-shadow: 0 0 0.1rem #eee;}
.header{position: fixed;left: 0;right: 0;}
body{background: #f5f5f7}
/*头部幻灯片部分*/
.huoniao_iOS .banner{padding-top: 0}
.banner{padding-top: .9rem}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.11rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #d6e5f6;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

.banner .wrapper .swiper-wrapper a{color: #fff}



.huoniao_iOS .pos_sz{position: absolute;  left: .25rem;  top: .2rem; }
.pos_sz{position: absolute;  left: .25rem;  top: 1.2rem;  box-sizing:border-box;padding-left:.24rem;color:#fff;width: 1.3rem;  height: .44rem; line-height: .44rem; z-index: 42;background-color: rgb(0, 0, 0);  opacity: 0.369; border-radius: .5rem;font-size: .28rem}
.pos_sz:after{content: ''; display: inline-block; width: .1rem; height: .1rem; border-top:.02rem solid  #fff; border-right: solid .02rem #fff; transform: rotate(135deg); margin-left: .13rem; margin-bottom: .08rem;}
.head-search-box{width: 100%; max-width: 10rem; margin: auto; position: absolute; top: 1.2rem; z-index: 2;}
.head-search{margin-left: .24rem; margin-right: .24rem; color: #fff; overflow: hidden;}
/* 搜索 */
.search-form {padding: .18rem .24rem;}
.search-form .sobj { height: .7rem;  border-radius: 3px; line-height: .7rem; display: -webkit-box;}
.search-form .inp {-webkit-box-flex: 6;position: relative; }
.search-form .inp a {display: inline-block; color: #a0a0a0; padding-left: .1rem;}
.search-form .inp p{width: 6.04rem;background: #fff;border-radius: .5rem;box-sizing: border-box;padding-left: .3rem}
.search-form .inp s {position: relative; width: .24rem; height: .24rem; margin-top: -.02rem; display: inline-block; vertical-align: middle;}
.search-form .inp s:before {position: absolute; content: ""; left: 0; top: 0; width: .16rem; height: .16rem; border: 1px solid #a0a0a0; border-radius: 50%;}
.search-form .inp s:after {position: absolute; content: ""; left: .19rem; top: .15rem; transform: rotate(-45deg); width: 1px; height: .08rem; overflow: hidden; background: #a0a0a0;}
.search-form .inp span {position: absolute; right: .15rem; top: 0; height: .7rem;  color: #787878; font-size: .3rem; text-align: center;}
.search-form .inp p input{border:none;padding-left: .15rem;font-size: .26rem}



.head-box{width: 100%; overflow: hidden;z-index: 1;background: #f5f5f7}
.head-box .head-search{ margin-left: .25rem; margin-right: .4rem; overflow: hidden; margin-top: .16rem;    margin-bottom: .16rem;}
.head-search .back-btn{float: left; margin-top: .17rem;}	
.head-search .back-btn i{display: inline-block;width: .2rem; height: .2rem; border-top: solid 2px #ababab; margin-left: .03rem; border-right: solid 2px #ababab; transform: rotate(-135deg); border-bottom-right-radius: .02rem;}
.textIn-box{width: 6rem; height: .7rem; background-color: #fff; border-radius: .32rem; float: left;}
.textIn-box i{display: inline-block; width: .28rem; height: .28rem; background-image: url(../images/search_icon.png); background-position: left top; vertical-align: middle; background-repeat: no-repeat; background-size: cover; margin-left: .26rem;  margin-top: .18rem;}
.textIn-box input{display: inline-block; width: 5.1rem; border: none; background: none; margin-left: .18rem; vertical-align: middle; font-size: .26rem; margin-top: .2rem;}
.btn-go button{font-size: .3rem; color: #787878; border: none; background: none; outline: none; line-height: .64rem;}
.btn-go{float: right;}
.search-btn{display: none;}

/*公共class*/
.pubBox{padding:.24rem;margin-bottom:.14rem;box-sizing: border-box;background:#fff;box-shadow: 0 0 .3rem rgba(231,231,231,.75);}


/*滚动信息*/ 
.tcNews{height:1.4rem;padding:.18rem .25rem;margin-bottom: 0}
.tcNews .lBox{padding:.1rem 0; width: .88rem;float: left}
.tcNews .lBox img{width: .88rem;}
.tcNews .mBox a{display: block;position: relative;}
.tcNews .mBox p{float:left;line-height:.5rem;padding:0 .1rem; font-size:.26rem;height: .5rem}
.tcNews .mBox a span{display: inline-block;vertical-align: top;}
.tcNews .mBox p span:first-child{margin-left: .2rem;margin-right: .15rem}
.tcNews .mBox p span:nth-child(3){max-width:2.6rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #ffa321}



.tcNews .mBox .swiper-wrapper{height: 1rem;}
.tcNews .pagination{display: none;}
/*滑动导航*/
.tcInfo{padding: 0.35rem 0;position: relative;overflow: hidden; padding-bottom: .26rem;margin-bottom: 0;padding-top: 0;height: 4.3rem}
.tcInfo ul{overflow: hidden;}
.tcInfo li{ margin-top: .35rem;}
.tcInfo li,.convenience li{width: 20%;float: left;text-align: center;}
.tcInfo li a,.convenience li a{display: block;}
.tcInfo li span.icon-circle{padding-bottom: .16rem!important;}
.tcInfo li span.icon-circle,.convenience li span.icon-circle{display: block;width: 1.5rem;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.tcInfo li span.icon-txt,.convenience li span.icon-txt{font-size: .24rem;}
.tcInfo li span img,.convenience li span img{display: block;width: .88rem;height: .88rem;margin: 0 auto;border-radius: 50%;}
.tcInfo .swiper-wrapper{height: auto !important;margin-bottom: .1rem;}
.tcInfo .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #e4e4e4;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tcInfo .swiper-pagination-bullet-active{width: .22rem!important;height:.11rem;border-radius: 1rem;background: #33d1bf!important;opacity: 1!important;}

/*教育机构*/
.edu_wrap1{padding:0 .24rem;background: #fff}
.edu_wrap1 ul{font-size: 0;display: flex;justify-content: space-between;}
.edu_wrap1 ul li{position: relative;width: 2.2rem;height: 1.5rem;text-align: center;}
.edu_wrap1 ul li a{display: inline-block;}
.edu_wrap1 ul li p{position: absolute;top:0;left:0;color: #fff;font-size: .34rem;width:100%;height: 1.5rem;line-height: 1.5rem;font-weight: bold}
.edu_wrap1 ul li img{max-width: 100%;border-radius: .1rem}
/*广告位*/

.jia_adv{padding: .4rem .24rem;background: #fff}
.jia_adv li{width: 3.42rem;height: 1.21rem;float: left}
.jia_adv li img{width: 3.42rem;height: 100%;object-fit:cover;}
.jia_adv li:first-child{margin-bottom: .18rem;margin-right: .18rem}
.jia_adv li:nth-child(2){margin-bottom: .18rem}
.jia_adv li:nth-child(3){margin-right: .18rem}

  /*免预约 今日可达公共样式*/
.service_order{padding: 0 .13rem;height:.3rem;font-size:.24rem;line-height:.32rem;background-color: #ff674e;color: #fff;border:1px solid #ff674e;border-radius:.04rem;margin-right: .1rem}
.service_order a{color: #fff;}
.service_arrive{padding: 0 .13rem;height:.3rem;line-height:.32rem;font-size:.24rem;background-color: #fff;color: #ff674e;border:1px solid #ff674e;border-radius: .04rem}
.service_arrive a{color: #ff674e;}
  /*免预约 今日可达公共样式 e*/

.tt-shop h4{font-size: .34rem;color: #333}
.new_recom{position: absolute;left: .24rem;top:.23rem;width: .61rem;height: .44rem;z-index: 2}
.edu_wrap2 .new_recom{position: absolute;left: 0;top:-.05rem;width: .61rem;height: .44rem;}
 /*推荐机构*/
.edu_wrap2{padding:.3rem .24rem 0;background: #fff;margin-top: .2rem}

.edu_wrap2 .content ul li{position: relative;padding:0 0 .4rem;box-shadow: 0px 3px 13px 0px rgba(26, 31, 59, 0.07);margin-top: .3rem;border-radius: .16rem}
.edu_wrap2 .content ul li:active{background: #f2f2f2}
.edu_wrap2 .content ul li .command_top{width: 100%;height: 3.9rem;position: relative;}
.edu_wrap2 .content ul li .command_top img{width: 100%;height: 100%;object-fit: cover;border-top-left-radius: .16rem;border-top-right-radius: .16rem}
.edu_wrap2 .content ul li .command_top .command_tip{position: absolute;bottom: .2rem;left: .2rem}
.edu_wrap2 .content ul li .command_top .command_tip span{display: inline-block;height: .36rem;line-height: .36rem; border-radius: .04rem;background-color: rgb(0, 4, 38);opacity: 0.569;padding: 0 .15rem;font-size: .24rem;color: #fff;margin-right: .1rem}
.edu_wrap2 .content ul li .command_bot{padding-left: .22rem}
.edu_wrap2 .content ul li .command_bot .command_add1{font-size: .32rem;color: #28292b;margin-top: .38rem;line-height: .38rem;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.edu_wrap2 .content ul li .command_bot .command_add2{font-size: .24rem;color: #747578;margin-top: .2rem;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.edu_wrap2 .content .command_bot .command_add2 i{display: inline-block;width: .19rem;height: .24rem;background:url(../images/place.png) no-repeat center center;background-size:.19rem .24rem;vertical-align: middle;margin-right: .1rem;margin-top: -.05rem;}
.edu_wrap2 .content ul li .command_bot .command_add1 .tag1{border-radius: .04rem;display:inline-block;vertical-align:top;margin-left:.18rem;width: 1.1rem;height: .32rem;line-height: .32rem;background: #3377ff;font-size: .24rem;color: #fff;text-align: center;}
.command_click{text-align: center;height: .96rem;line-height: .96rem;background: #fff}
.command_click a{display: inline-block;color:#3b76ff;font-size: .28rem; }

/*推荐商家*/
.jz_recom{background: #fff;padding: .3rem 0 0;margin-top: .2rem;}
.jz_recom .content ul{background:#f5f5f7 }
.jz_recom .content ul li{margin-bottom: .1rem;background: #fff;padding: .28rem .24rem .26rem;position: relative;}
.jz_recom .content ul li:active{background: #f2f2f2}
.jz_recom .content ul li .left_b{width: 2.4rem;height: 1.86rem;float: left;}
.jz_recom .content ul li .new_descrip_img{width: 100%; height: 100%; object-fit: cover;}
.jz_recom .content ul li .right_b{margin-left: 2.64rem;height: 1.86rem;}
.jz_recom .content ul li .right_b .class_title{max-width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .32rem;color: #28292b}
.jz_recom .content ul li .recom_zu{margin: .12rem auto 0;color: #8d8e91}
.jz_recom .content ul li .right_b .class_price{margin-top: .12rem}
.jz_recom .content ul li .right_b .class_price span{color: #ff5d2f;font-size: .24rem;}
.jz_recom .content ul li .right_b .class_price span:first-child{font-size: .32rem;font-weight: bold;vertical-align: bottom;line-height: .35rem}
.jz_recom .content ul li .right_b .class_price span:nth-child(2){font-weight: bold;}
.jz_recom .content ul li .right_b .class_price span:last-child{display:inline-block;margin-left:.14rem;padding:0 .07rem;border-radius: .04rem;height: .28rem;line-height: .3rem;border: 1px solid #3377ff;color: #3377ff;}
.jz_recom .content ul li .bm_salary{font-size: .24rem;height: .5rem;line-height: .5rem;margin-top: .2rem;color: #8d8e91;border-top: 1px dashed #dedfe3}
.jz_recom .content ul li .bm_salary .recom_sistance{float: right;color: #a6a6a6;}


.jz_recom  .jz_recom_bot{background: #f0f0f2;padding-top:.1rem }


/*查看全部商家*/
.service_more{background: #f0f1f7;text-align: center;    margin-right: .24rem;border-radius: .04rem}
.service_more a{color: #878b91;height: .72rem;line-height: .72rem;font-size: .28rem}


/*底部菜单*/
.mask {display: none;width: 100%;background: #fff;position: fixed;top: 0;right: 0;z-index: 202;  bottom: 0;opacity: .8!important;}
.mask.show{display: block;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;}
.footMenu{position: fixed;bottom:2.1rem;right: .3rem;width:.8rem;height:.8rem;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease; z-index: 203}
.footMenu .menu{position: absolute;right: 0;top: 0;width:.8rem;height:.8rem;border-radius:50%; -webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.footMenu .menu i{display:block;width: .8rem;height: .8rem;    border-radius: 50%;background:url(../images/add.png) no-repeat center center;background-size: contain;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; }
.mIcon{width:.8rem;position: absolute;top:0;right: 0;background:#fff;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;border-radius: 50%; }
.mIcon i{display:block;width:.8rem;height: .8rem;border-radius: 50%;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);}
.mIcon.wx i{background:url(../images/wxIcon.png) no-repeat center center;background-size:cover;}
.mIcon.my i{background:url(../images/icon_my.png) no-repeat center center;background-size: cover;}
.mIcon.gt i{background:url(../images/gt.png) no-repeat center center;background-size: .3rem .36rem;}
.mIcon span{text-align: center;padding:.05rem 0;display: block;font-size: .28rem;color:#333;font-weight: 600;}

.footMenu>.menu.m_active i{background:#fff url(../images/icon_add.png) no-repeat center center;background-size: contain;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.mIcon.gt.m_curr{transform: translate(0px, -150px);-webkit-transition: all .1s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.mIcon.wx.m_curr{transform: translate(0px, -100px);-webkit-transition: all .3s ease;-moz-transition: all .1s ease;transition: all .1s ease; }
.mIcon.my.m_curr{transform: translate(0px, -50px);-webkit-transition: all .6s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.footMenu>.mIcon.close{ opacity: 0}



/* iPhoneX适配 */
.footMenu{bottom: calc(2.1rem + constant(safe-area-inset-bottom));bottom: calc(2.1rem + env(safe-area-inset-bottom));}


 /*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;padding-bottom: .5rem;}

.empty{text-align: center; line-height: 1rem;}
