/*头部*/
/*__更新 start__*/
.header{position: fixed;left: 0;right: 0;}
/*__更新 end__*/

/* 搜索 */
.search-form {background: #fff; margin: .22rem .24rem; }
.search-form .sobj {height: .7rem; border: 1px solid #f88031; border-radius: 3px; line-height: .7rem; display: -webkit-box;}
.search-form .inp {-webkit-box-flex: 6;}
.search-form .inp form {position: relative; display: block; color: #a0a0a0; padding-left: .1rem;}
.search-form .inp s {position: relative; width: .4rem; height: .4rem; margin: 0 .2rem; display: inline-block; vertical-align: middle;}
.search-form .inp s:before {position: absolute; content: ""; left: 0; top: 0; width: .2rem; height: .2rem; border: 2px solid #a0a0a0; border-radius: 50%;}
.search-form .inp s:after {position: absolute; content: ""; left: .25rem;top: .18rem; transform: rotate(-45deg); width: 2px; height: .16rem; overflow: hidden; background: #a0a0a0;}
.search-form .inp span {position: absolute; right: 0; top: 0; width: 1rem; height: .7rem; background: #f88031; color: #fff; font-size: .3rem; text-align: center;}
.search-form .inp .txtSearch{height: .5rem;border:none;font-size: .28rem;}

/*__更新 start__*/
.list{position: relative;padding-top: 1.7rem; min-height: 7rem;}
/*__更新 end__*/

/*筛选框*/
/*__更新 start__*/
.choose-tab {position: fixed;left: 0;right: 0;z-index: 10;top: .9rem;border-top: solid 1px #eee;}
.huoniao_iOS .choose-tab{top:0;}
.huoniao_iOS .list{padding-top: .75rem;}
/*__更新 end__*/

.choose-tab ul{height: .8rem;background: #fff;display: -webkit-box;border-bottom: 1px solid #dddddd;}
.choose-tab ul li{display: block;-webkit-box-flex: 2;line-height: .8rem;text-align: center;font-size: .28rem;position: relative;}
.choose-tab ul li.window{-webkit-box-flex: 1;}
.choose-tab ul li.window i{width: .4rem;height: .4rem;display: inline-block;background: url(../images/w2.png) no-repeat center;background-size: .4rem;position: relative;top: .1rem;}
.choose-tab ul li.window.on i{width: .4rem;height: .4rem;display: inline-block;background: url(../images/w1.png) no-repeat center;background-size: .4rem;position: relative;top: .1rem;}

.choose-tab ul li.choice_name:last-child:after{background: none;}
.choose-tab ul li.active{color: #ff653b;}
.choose-tab ul li.active span{}
.choose-tab ul li span{padding-right: .4rem;position: relative;}
.choose-tab ul li span:after{width: 0;height: 0;border-left: .1rem solid transparent;border-right: .1rem solid transparent;border-top: .12rem solid #d6dae1;content: "";position: absolute;right: 0.05rem;top: .13rem;}
.choose{position: relative;z-index: 9999;    border-top: solid 1px #eee;}

/*__更新 start__*/
.choose-box{position:fixed;top: 1.74rem;left: 0;right: 0;z-index: 10; }
.huoniao_iOS .choose-box{top:.73rem;}
/*__更新 end__*/

.choose-local{background: #fff;overflow: hidden;-webkit-overflow-scrolling: touch;}
.choose-local li{height: 1rem;line-height: 1rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #e3e3e3;}
.dn{display: none;}
/*区域*/
#area-box{max-height: 6.8rem;}
#choose-area{max-height: 6.8rem;}
#choose-area-second{height: 5.8rem;}

/*家具*/
#info-box{max-height: 7rem;padding-bottom: .8rem}
#choose-info{max-height: 7rem;position: relative;}
#choose-info-second{max-height: 7rem;}

/*排序*/
#paixu-box{max-height: 6.8rem;}
#choose-sort{height: 6rem;}

#choose-info-second li,#choose-area-second li{
	text-indent: 0.2rem;border-bottom: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf;
}

.choose-stage-l{    border-right: 1px solid #dfdfdf;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 50%;float: left;display: none;background: #f7f7f7}
#choose-info,#choose-area{background: #fff;}

/*选中之后效果*/
#choose-info li.active,#choose-area li.active{background: #f7f7f7;border-color: #dfdfdf;color: #fd8261}
#choose-area li.on,#choose-sort li.on,#choose-info-second li.on,#choose-area-second li.on{color: #fe6f48;}
#choose-info li.current,#choose-area li.current{color: #ff653b;border-bottom: 1px solid #f74342;}


/*更多筛选*/

/* .choose-li{display:none;-webkit-overflow-scrolling: touch;}
 .choose-li{position: fixed;top: 1.74rem;bottom: 0;left: 0;right: 0;overflow: auto;transform:none!important;max-height: 8rem;}*/
 .huoniao_iOS .choose-li{position: fixed;top: .74rem;bottom: 35%;left: 0;right: 0;}
 .choose-li{width: 100%;
    background-color: #fff;
    position: fixed;
    box-sizing: border-box;
    top: 1.74rem;bottom: 28%;
}
.choose-more{    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    padding-bottom: .8rem;
    box-sizing: border-box;
    top: 0;
    bottom: 10%;
    padding-top: .16rem;}
 .btns{
 	overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
   box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.07);
   background: #fff
 }   

/*.choose-more{background: #fff;position: relative;height: 100%}*/
.choose-more .more-child{background: #fff;padding: 0 .24rem .2rem;font-size: .3rem;}
.choose-more .first_more_child .title{display: inline-block;}

.choose-more .more-child .title{padding: .2rem 0;}
.choose-more .more-child ul li{float: left;text-indent: 0;height: .66rem; line-height:.66rem;width:28%;margin:2%;border: 1px solid #e3e4e8;text-align: center;position: relative;border-radius: .06rem;}
.choose-more .more-child ul li.select{border-color: rgb(255, 101, 59); background-color: #fff8f7;color: #fd521d;}

.choose-more .country ul li{width: 22%;margin: 1%;}
.choose-more .config ul li{width: 45%;margin: 2%;}
.choose-more .panel{background: #fff;margin-bottom: .2rem;font-size: .3rem;}
.choose-more .panel .title{padding: .2rem .24rem;}
.choose-more .panel ul{padding: .2rem .24rem;}
.choose-more .panel ul li{float: left;width:14%;margin:1%;text-align: center;}
.choose-more .panel ul li span{display: inline-block;width: .8rem;height: .8rem;border-radius: 50%;border: 1px solid #e8e9ed;box-sizing: border-box;}
.choose-more .panel ul li span.black{background: #000;}
.choose-more .panel ul li span.gray{background-image: -moz-linear-gradient( 45deg, rgb(169,169,170) 0%, rgb(241,241,241) 100%);background-image: -webkit-linear-gradient( 45deg, rgb(169,169,170) 0%, rgb(241,241,241) 100%);background-image: -ms-linear-gradient(45deg, rgb(169,169,170) 0%, rgb(241,241,241) 100%);}
.choose-more .panel ul li span.red{background: #dd152e;}
.choose-more .panel ul li span.blue{background: #1962dc;}
.choose-more .panel ul li span.champagne{background-image: -moz-linear-gradient( 45deg, rgb(179,138,46) 0%, rgb(255,239,173) 100%);background-image: -webkit-linear-gradient( 45deg, rgb(179,138,46) 0%, rgb(255,239,173) 100%);background-image: -ms-linear-gradient(45deg, rgb(179,138,46) 0%, rgb(255,239,173) 100%);}
.choose-more .panel ul li span.brown{background: #663a07;}
.choose-more .panel ul li span.orange{background: #ffa312;}
.choose-more .panel ul li span.yellow{background: #ffdc34;}
.choose-more .panel ul li span.purple{background: #7f2cba;}
.choose-more .panel ul li span.green{background: #117204;}
.choose-more .panel ul li p{padding-top: .2rem;}
.choose-more .panel ul li.select p{color: #fd521d;}



.choose-more .more-child .baomu_price li{width: 38%}
.choose-more .more-child .baomu_price li input{text-align: center;color:#45464f;line-height: .66rem;width: 100%}
.choose-more .more-child .baomu_price li input::placeholder{color:#b2b2b6}
.choose-more .more-child .baomu_price .price_dis{width: .45rem;text-align: center;border:none;}

 /*.btns{height: .96rem;box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.07);background: #fff;position: absolute;bottom: 0;left: 0;right: 0;}*/
 .btns span{display: inline-block;width: 50%;height: .96rem;line-height: .96rem;text-align: center;font-size: .32rem;}
 .btns span.cancel{color: #8d8e91;}
 .btns span.sure{background: #fb604c;color: #fff;}
.baomu_reset{background: #ebebf2;color:#909099;padding: .1rem .34rem;border:0;margin-top: .2rem;float: right;}
/*小箭头*/
.sort{text-align: center;height: .9rem;width:100%;position: absolute;bottom: 0;background: #fff;border-top: 1px solid #dfdfdf}
.sort:after{content: ''; display: inline-block; width: .2rem; height: .2rem; border-top:.05rem solid  #b3b3b3; border-right: solid .05rem #b3b3b3; transform: rotate(-45deg);position: absolute;bottom: .2rem;left: 50% }

.new_recom{position: absolute;left: .24rem;top:.23rem;width: .61rem;height: .44rem;z-index: 2}
/*保姆列表*/
.jz_baomu{background: #fff;}
.jz_baomu .content ul{background:#f5f5f7 }
.jz_baomu .content ul li{margin-bottom: .1rem;background: #fff;padding: .28rem .24rem .26rem;position: relative;}
.jz_baomu .content ul li:active{background: #f2f2f2}
.jz_baomu .content li a{display: block}
.jz_baomu .content ul li .left_b{width: 2.4rem;height: 1.86rem;float: left;}
.jz_baomu .content ul li .new_descrip_img{width: 100%; height: 100%; object-fit: cover;border-radius: .06rem}
.jz_baomu .content ul li .right_b{margin-left: 2.64rem;height: 1.86rem;}
.jz_baomu .content ul li .right_b .class_title{max-width: 4.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .32rem;color: #28292b;}
.jz_baomu .content ul li .recom_zu{margin: .12rem auto 0;color: #8d8e91}
.jz_baomu .content ul li .right_b .class_price{margin-top: .05rem}
.jz_baomu .content ul li .right_b .class_price span{color: #ff5d2f;font-size: .24rem;}
.jz_baomu .content ul li .right_b .class_price span:first-child{font-size: .32rem;font-weight: bold;vertical-align: bottom;line-height: .35rem}
.jz_baomu .content ul li .right_b .class_price span:nth-child(2){font-weight: bold;}
.jz_baomu .content ul li .right_b .class_price span:last-child{display:inline-block;margin-left:.14rem;padding:0 .07rem;border-radius: .04rem;height: .28rem;line-height: .3rem;border: 1px solid #3377ff;color: #3377ff;}
.jz_baomu .content ul li .bm_salary{font-size: .24rem;height: .5rem;line-height: .5rem;margin-top: .15rem;color: #8d8e91;border-top: 1px dashed #dedfe3}
.jz_baomu .content ul li .bm_salary .recom_sistance{float: right;color: #a6a6a6;}

.bm_all{text-align: center;padding: .35rem 0 .5rem;background-color: #f0f0f2;color: #a6a6a6;font-size: .26rem}



/*遮罩层*/
/*__更新 start__*/
.mask{width: 100%;height:100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;bottom: 0;display: none;}
/*__更新 end__*/
/*筛选*/
/*__更新 start__*/
.screen {background: #fff;border-bottom: 0.02rem solid #eaeaea;padding-bottom: .15rem;}
/*__更新 end__*/

.screen .screen_tab{position: relative;}
.screen .screen_tab_top{overflow-x: auto;white-space: nowrap;margin:0 .1rem;}
.screen .screen_box{display: inline-block;width: 1.43rem;height: .6rem;line-height: .6rem;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: 0.02rem solid #eaeaea;background: #f8f8f8;font-size: .28rem;border-radius: .1rem;margin: 0 .1rem;margin-top: .15rem;}
.screen .screen_box.on{background: #fff;padding-bottom: .15rem;border-bottom: none;position: relative;z-index: 2;border-radius: 0;color: #ff4f37;}
.screen .screen_tab_sub{background: #fff;width: 100%;position: absolute;left: 0;right: 0;top: .9rem;max-height: 3rem;overflow: auto;}
.screen .screen_list{border-top: 0.02rem solid #eaeaea;border-bottom: 0.02rem solid #eaeaea;padding: 0.15rem 0;}
.screen .screen_list li{float: left;width: 2rem;height: .6rem;line-height: .6rem;border: 0.02rem solid #000;text-align: center;margin: 0.15rem .23rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .28rem;}
.screen .screen_list li.on{border-color: #ff4f37;color: #ff4f37;}
a.scrollTop{display: block;width: 1rem;height: 1rem;border-radius: 1rem;background: rgba(0,0,0,.6);bottom: .3rem;right: .3rem;position: fixed;}
a.scrollTop i{display: block;width: .5rem;background: url(../images/top.png) no-repeat;height: .5rem;background-size: .5rem auto;margin: .2rem auto;}
.screen-info{position: relative;}

.empty{text-align: center; line-height: 1rem;}
