
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}



.huoniao_iOS .tec_header{margin-top: 0;}
.tec_header{    box-sizing: border-box;margin-top: .9rem;background: url(../images/tec_bg.png) no-repeat center center;text-align: center;color:#fff;padding-top: .7rem;padding-bottom: .7rem}
.tec_header .tec_img{width: 1.6rem;height: 1.6rem;border-radius: 50%}
.tec_header .tec_name{margin-top: .25rem}
.tec_header .tec_name h1{font-size: .38rem;display: inline-block;}
.tec_header .tec_name span.sex_nv{margin-left:.1rem;background: #ff7498 url(../images/sex_nv.png) no-repeat center center;display: inline-block;width: .3rem;height: .3rem;border-radius: 50%;background-size: .18rem .2rem}
.tec_header .tec_name span.sex_nan{margin-left:.1rem;background: #3377ff url(../images/sex_nan.png) no-repeat center center;display: inline-block;width: .3rem;height: .3rem;border-radius: 50%;background-size: .18rem .2rem}
.tec_header .tec_skill{margin-top: .2rem}
.tec_header .tec_skill span{height: .32rem;line-height: .32rem;color: #fff;padding: 0 .07rem;margin-right: .12rem;border-radius: .04rem;font-size: .24rem}
.tec_header .tec_skill span.sk1{background: #3377ff}
.tec_header .tec_skill span.sk2{background: #02d5a5}
.tec_header .tec_age{font-size: 0;margin-top: .37rem}
.tec_header .tec_age li{display: inline-block;font-size: .24rem;margin-right: .53rem}
/*课程安排*/

 .title{height: .9rem;line-height: .9rem;position: relative;padding-left: .24rem;font-size: .32rem;font-weight: bold;color: #38393b;background: #fff;    margin-top: .2rem;}
 .title:after{content: ''; display: inline-block;position: absolute;left:.24rem;top:.85rem;width: 1.26rem;height: .06rem;
      background-image: -moz-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  box-shadow: 0px 3px 5px 0px rgba(29, 130, 255, 0.47);
}


.tec_content{background: #fff;margin-top: -.3rem;border-top-right-radius: .3rem;border-top-left-radius: .3rem;padding-bottom: .5rem}
.tec_content  h2{font-size: .32rem;font-weight: bold;color: #38393b;padding-top: .5rem;margin-bottom: .3rem;}
.tec_content p{font-size: .3rem;color: #4d4d4f;line-height: .5rem}
.tec_content .content_demo{padding: 0 .3rem;}
.tec_content .info1{padding: 0 .3rem .3rem;}
.tec_content .content_demo{padding-bottom: .5rem;border-bottom: 1px solid #dcdcde}


/*教师详情*/
.teacher_info {background: #fff;border-top: 1px solid #dcdcde}
/*开设课程*/
.new_recom{position: absolute;left: .24rem;top:.23rem;width: .61rem;height: .44rem;z-index: 2}
.teacher_info ul{background:#f5f5f7; }
.teacher_info ul li{margin-bottom: .1rem;background: #fff;padding: .28rem .24rem .26rem;position: relative;}
.teacher_info ul li:active{background: #f2f2f2}
.teacher_info ul li .left_b{width: 2.4rem;height: 1.86rem;float: left;}
.teacher_info ul li .new_descrip_img{width: 100%; height: 100%; object-fit: cover;}
.teacher_info ul li .right_b{margin-left: 2.64rem;height: 1.86rem;}
.teacher_info ul li .right_b .class_title{max-width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .32rem;color: #28292b}
.teacher_info ul li .recom_zu{margin: .12rem auto 0;color: #8d8e91}
.teacher_info ul li .right_b .class_price{margin-top: .35rem}
.teacher_info ul li .right_b .class_price span{color: #ff5d2f;font-size: .24rem;}
.teacher_info ul li .right_b .class_price span:first-child{font-size: .32rem;font-weight: bold;vertical-align: bottom;}
.teacher_info ul li .right_b .class_price span:nth-child(2){font-weight: bold;}
.teacher_info ul li .right_b .class_price span:last-child{display:inline-block;margin-left:.14rem;padding:0 .07rem;border-radius: .04rem;height: .3rem;line-height: .3rem;border: 1px solid #3377ff;color: #3377ff;}



/*课程详情*/
.class_info{background: #fff;margin-top: .2rem;margin-bottom: 1.6rem}
.class_info .info_wrap{padding: .55rem .24rem .6rem;border-top: 1px solid #dcdcde;}


.class_info .info_wrap .info_content p{font-size: .3rem;color: #5a5b5e;line-height: .48rem}


.tip{font-size: .28rem;text-align: center;}

/*底部收藏店铺*/
.peo_footer{padding: .2rem .23rem;width:100%;background: #fff;position: fixed;bottom: 0;box-sizing: border-box;z-index: 999; padding-bottom: calc(.23rem + env(safe-area-inset-bottom));padding-bottom: calc(.23rem + constant(safe-area-inset-bottom));}
.peo_footer ul{display: flex;align-items: center;justify-content: space-between;flex-wrap: nowrap;}
.peo_footer ul li{float: left;width: 15%;text-align: center;}


.peo_footer ul li.foot_li{height: .9rem;line-height: .9rem;width: 83%;font-size: .3rem}
.peo_footer ul li .zixun{  
    display: inline-block;
  background-image: -moz-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(67,182,236) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(67,182,236) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(67,182,236) 100%);
  border-radius: .06rem;width: 2.8rem;text-align: center;float: left;color: #fff
}
.peo_footer ul li .class_choose{  
    display: inline-block;
    background-image: -moz-linear-gradient( 0deg, rgb(68,180,239) 0%, rgb(45,227,179) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(68,180,239) 0%, rgb(45,227,179) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(68,180,239) 0%, rgb(45,227,179) 100%);
  border-radius: .06rem;width: 2.8rem;text-align: center;float: right;color: #fff
}

/*选择班级弹出层*/
.work_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.work_container{position: fixed; left: 0;bottom:0;width: 100%;    box-sizing: border-box;background-color:#fff;  padding: .3rem .3rem .48rem .4rem; z-index: 9999; border-top-right-radius: .2rem;border-top-left-radius: .2rem}
.work_container .work_close{width: .3rem;height: .3rem;float: right}
.work_container p{font-size: .3rem;font-weight: bold;color: #333;color: #333;}
.work_container p.t1{margin-top: .4rem}
.work_container p.t2{margin-top: .5rem;display: none}

.work_container .choose{margin-top: .5rem}
.work_container .choose .choose_items{max-height: 4.4rem;overflow-y: auto;}
.work_container .choose ul li{margin-bottom: .2rem;border-radius: .04rem;height: .86rem;line-height: .86rem;border: 1px solid #d7d9de;color:#39393b;padding: 0 .24rem;font-size: .32rem}
.work_container .choose ul li.active{border: 1px solid #3377ff;color:#3377ff; background-color: rgb(247, 250, 255);}
.work_container .choose ul li p{display: inline-block;float: right;color: #ff5d2f;font-weight: bold;}
.work_container .choose ul li p span:first-child{font-size: .24rem}
/*班级选择之后*/
.work_container .choose .choose_item {display: none}
.work_container .choose .choose_item li{margin-top: .2rem;border-radius: .04rem;height: .86rem;line-height: .86rem;border: 1px solid #3377ff;color:#3377ff;padding: 0 .24rem;font-size: .32rem;background-color: rgb(247, 250, 255);}
.work_container .choose .choose_item li p{display: inline-block;float: right;color: #ff5d2f;font-weight: bold;}
.work_container .choose .choose_item li p span:first-child{font-size: .24rem}

.person{margin-top: .3rem;display: none}
.person input{box-sizing:border-box;font-size: .32rem;height: .86rem;line-height: .86rem;width: 100% ;border-radius: .04rem;border: 1px solid #d7d9de;padding-left: .24rem;margin-top: .2rem}
.person input::placeholder{color: #a6a7ab}
.work_container .step ul{font-size: 0;margin-top: .55rem;}
.work_container .step ul li{height: .88rem;line-height: .88rem;display: inline-block;color: #fff;width: 3.2rem;font-size:.3rem;text-align: center;border-radius: .1rem}
.work_container .step ul li:first-child{background: #a0a1a7;margin-right: .3rem}
.work_container .step ul li:last-child{background: #42444f;}

.step2{display: none}
.tip{padding: .2rem;text-align: center;}


