
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}



.huoniao_iOS .tec_header{margin-top: 0;}
.tec_header{    box-sizing: border-box;margin-top: .9rem;background: url(../images/tec_bg.png) no-repeat center center;text-align: center;color:#fff;padding-top: .7rem;padding-bottom: .7rem}
.tec_header .tec_img{width: 1.6rem;height: 1.6rem;border-radius: 50%}
.tec_header .tec_name{margin-top: .25rem}
.tec_header .tec_name h1{font-size: .38rem;display: inline-block;}
.tec_header .tec_name span.sex_nv{margin-left:.1rem;background: #ff7498 url(../images/sex_nv.png) no-repeat center center;display: inline-block;width: .3rem;height: .3rem;border-radius: 50%;background-size: .18rem .2rem}
.tec_header .tec_name span.sex_nan{margin-left:.1rem;background: #3377ff url(../images/sex_nan.png) no-repeat center center;display: inline-block;width: .3rem;height: .3rem;border-radius: 50%;background-size: .18rem .2rem}
.tec_header .tec_skill{margin-top: .2rem}
.tec_header .tec_skill span{height: .32rem;line-height: .32rem;color: #fff;padding: 0 .07rem;margin-right: .12rem;border-radius: .04rem;font-size: .24rem}
.tec_header .tec_skill span.sk1{background: #3377ff}
.tec_header .tec_skill span.sk2{background: #02d5a5}
.tec_header .tec_age{font-size: 0;margin-top: .37rem}
.tec_header .tec_age li{display: inline-block;font-size: .24rem;margin-right: .53rem}
/*课程安排*/

 .title{height: .9rem;line-height: .9rem;position: relative;padding-left: .24rem;font-size: .32rem;font-weight: bold;color: #38393b;background: #fff;    margin-top: .2rem;}
 .title:after{content: ''; display: inline-block;position: absolute;left:.24rem;top:.85rem;width: 1.26rem;height: .06rem;
      background-image: -moz-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(66,182,255) 100%);
  box-shadow: 0px 3px 5px 0px rgba(29, 130, 255, 0.47);
}


.tec_content{background: #fff;margin-top: -.3rem;border-top-right-radius: .3rem;border-top-left-radius: .3rem;margin-bottom: calc(1.8rem + env(safe-area-inset-bottom));margin-bottom: calc(1.8rem + constant(safe-area-inset-bottom));}
.tec_content  h2{font-size: .32rem;font-weight: bold;color: #38393b;padding-top: .36rem;margin-bottom: .3rem;}
.tec_content p{font-size: .28rem;color: #4d4d4f;line-height: .5rem}
.tec_content .content_demo{padding: 0 .3rem;}
.tec_content .info1{padding: 0 .3rem .5rem;border-top: 1px solid #dcdcde}
.tec_content .content_demo{padding-bottom: .5rem;}

.tec_content .content_demo p{display: inline-block;margin-right: .42rem}
.tec_content .info_yuyue h2{display: inline-block;}
.tec_content .info_yuyue .yue span{display: inline-block;
    background-image: -moz-linear-gradient( 0deg, rgb(56,220,220) 0%, rgb(45,227,179) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(56,220,220) 0%, rgb(45,227,179) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(56,220,220) 0%, rgb(45,227,179) 100%);
  height: .56rem;line-height: .56rem;padding: 0 .3rem;color: #fff;border-radius: .28rem;float: right;margin-top: .36rem
}
.tec_content .info_yuyue table{height: 2.8rem;border:solid #d7d7de; border-width:2px;width:100%;text-align: center;font-size: .28rem}
.tec_content .info_yuyue table tr{background-size: #fff}
.tec_content .info_yuyue table td{border:solid #d7d9de; border-width:0px 1px 1px 0px;color: #d7d7de;}
.tec_content .info_yuyue table th{border:solid #d7d9de; border-width:0px 1px 1px 0px;text-align: center;color: #3377ff;font-weight: bold;}

.tec_content .info_yuyue table tr img{width: .45rem;height: auto}

.tec_content .info_yuyue ul li{font-size: .32rem;margin-top: .2rem;color: #8a8d91}
.tec_content .info_yuyue ul li span:first-child{font-weight: bold;color: #38393b;margin-right: .3rem}
.tec_content .info_yuyue ul li.price{margin-top: .5rem}
.tec_content .info_yuyue ul li.price span:nth-child(2){font-weight: bold;font-size: .36rem;color: #ff523b}
.tec_content .info_yuyue ul li.price span:last-child{font-weight: bold;font-size: .26rem;color: #ff523b}

.tec_content .info3 p{color:#8a8d91;font-size: .32rem }


/*教师详情*/




/*底部收藏店铺*/
.peo_footer{padding: .2rem .23rem;width:100%;background: #fff;position: fixed;bottom: 0;box-sizing: border-box;z-index: 999; padding-bottom: calc(.23rem + env(safe-area-inset-bottom));padding-bottom: calc(.23rem + constant(safe-area-inset-bottom));}
.peo_footer ul{display: flex;align-items: center;justify-content: space-between;flex-wrap: nowrap;}
.peo_footer ul li{float: left;width: 15%;text-align: center;}


.peo_footer ul li.foot_li{height: .9rem;line-height: .9rem;width: 83%;font-size: .3rem}
.peo_footer ul li .zixun{  
    display: inline-block;
  background-image: -moz-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(67,182,236) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(67,182,236) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(80,111,255) 0%, rgb(67,182,236) 100%);
  border-radius: .06rem;width: 2.8rem;text-align: center;float: left;color: #fff
}
.peo_footer ul li .class_yuyue{  
    display: inline-block;
    background-image: -moz-linear-gradient( 0deg, rgb(68,180,239) 0%, rgb(45,227,179) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(68,180,239) 0%, rgb(45,227,179) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(68,180,239) 0%, rgb(45,227,179) 100%);
  border-radius: .06rem;width: 2.8rem;text-align: center;float: right;color: #fff
}

/*选择班级弹出层*/
.work_mask{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000;display: none}
.work_container{position: fixed; left: 50%; margin-left: -3rem; top: 50%; margin-top: -2.2rem; width: 6rem;  box-sizing: border-box;background-color:#fff;  z-index: 9999; border-radius: .2rem;overflow:hidden;}
.work_container .work_close{width: .3rem;height: .3rem;float: right}
.work_container p{text-align: center;}
.work_container p.t1{color: #38383b;font-size: .34rem}
.work_container p.t2{color: #ababab;font-size: .28rem;    margin-bottom: .2rem;}
.person{padding: .5rem .5rem 0}
.person input{box-sizing:border-box;font-size: .28rem;height: .8rem;line-height: .8rem;width: 100% ;border-radius: .04rem;border: 1px solid #d7d9de;padding-left: .24rem;margin-top: .2rem}
.person input::placeholder{color: #c4c4c4}
.work_container .step ul{font-size: 0;margin-top: .4rem;border-top: 1px solid #dcdde0}
.work_container .step ul li{height: .9rem;line-height: .9rem;display: inline-block;color: #919191;font-size:.32rem;text-align: center;width: 49%;}

.work_container .step ul li.cancel{border-right: 1px solid #dcdde0}
.work_container .step ul li:active{background: #f2f3f7;color: #4a7aff}

/*信息提示框*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.noyue{background: #a2a5ab!important;}

