body, html{background: #83b2f3; font-size: .28rem;}

.header{position: fixed;left: 0;right: 0;}
img{max-width: 100%}


.wrap{padding:1.2rem .2rem 0;background: #83b2f3}
.wrap .wrap2{background: #fff;border-radius: .2rem;padding: .56rem .36rem 1.6rem;margin-bottom: .36rem}
.wrap .wrap2 .repair_title{font-size: .4rem;color: #3377ff;font-weight: bold}
.wrap .wrap2 .word_time{font-size: .24rem;color: #a6a7ab;margin-top: .2rem}
.wrap .wrap2 .word_time .month{margin-right: .2rem}

.wrap_content{margin-top: .4rem;background: #f5f6f7;}
.wrap_content li{font-size: .28rem;color: #38393b;padding: .26rem .36rem;border-bottom: 1px dashed #dedfe3}
.wrap_content li span:first-child{color: #8a8d91;margin-right: .36rem}
.wrap_content li.contact{border-bottom: none;padding: 0 .36rem;height: .8rem;line-height: .8rem}
.wrap_content li.contact span.contact_span{    margin-top: .1rem;display:inline-block;float:right;height: .6rem;line-height: .55rem;padding:0 .24rem;border-radius:.3rem;color:#fff;background-image: -webkit-linear-gradient(bottom, rgb(56,220,220) 0%, rgb(45,227,179) 100%);background-image: -o-linear-gradient(bottom, rgb(56,220,220) 0%, rgb(45,227,179) 100%);background-image: linear-gradient(to top, rgb(56,220,220) 0%, rgb(45,227,179) 100%);}
.wrap_content li.contact span.contact_span img{width: .26rem;height: .26rem;margin-right: .14rem;vertical-align: middle;}
.wrap_content li.contact span.contact_span a{color: #fff;display: inline-block;font-size: .26rem}
.wrap_content li.contact span.contact_span span{height: .26rem;line-height: .26rem;vertical-align: middle;}
.wrap_content2{margin-top: .6rem}
.wrap_content2 p.t1{color: #38393b;font-size: .32rem;font-weight: bold}
.wrap_content2 p.t2{color: #8a8d91;font-size: .28rem;margin-top: .26rem}

.wrap_content li.time{display: inline-flex;align-items: flex-start;}
.wrap_content li.time span{display: inline-block;}
.wrap_content li.time span:last-child{width: 4rem;line-height: .45rem}



