body,html{background-color: #f5f5f7;}
.nos ,.nos body{overflow: hidden;}
.detail.crumb{position: relative;}
.btnShare{position: absolute;right: 0;}
.btnShare i{width: 16px;height: 16px;display: inline-block;vertical-align: middle;margin-right: 2px;}

.crumbbox{background-color: #fff;padding:0;}
.crumtop{padding:20px;position: relative;-webkit-box-shadow: 0px 2px 5px 0px rgba(173, 173, 173, 0.23);-moz-box-shadow: 0px 2px 5px 0px rgba(173, 173, 173, 0.23);box-shadow: 0px 2px 5px 0px rgba(173, 173, 173, 0.23);border:solid 1px rgb(230, 233, 242);}
.crumtop .imgbox{width:130px;height:160px;position: relative;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);margin-right: 22px;}
.crumtop .imgbox .dz {position: absolute; width: 50px; height: 29px; right: 0; top: -15px; z-index: 10;}
.crumtop .imgbox .photo{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom:0;margin:auto;}
.crumtop .dinfo .name{font-size: 22px;color:#1a1c21;font-weight: bold;}
.crumtop .midbox{margin:20px 0;}
.crumtop .midbox p{float: left;text-align: center;}
.crumtop .midbox p .ncount{font-size: 20px;color:#f1370b;display: block;}
.crumtop .midbox p span{font-size: 14px;color:#919191;}
.crumtop .midbox em{font-size: 15px;color:#dedede;float: left;margin:17px 20px;}

.crumtop .bottbox{overflow: hidden;}
.crumtop .bottbox p{float: left;margin-right: 30px;font-size: 16px;color:#3b3b3b;}
.crumtop .bottbox p span{color:#919191;}
.mobile_kf{right: 20px;}
.crumbottom{border:solid 1px rgb(230, 233, 242);padding:20px 30px;background-color: #fff;-webkit-box-shadow: 0px 5px 5px 0px rgba(173, 173, 173, 0.23);-moz-box-shadow: 0px 5px 5px 0px rgba(173, 173, 173, 0.23);box-shadow: 0px 5px 5px 0px rgba(173, 173, 173, 0.23);}
.crumbottom a{color:#3b3b3b;font-size: 16px;}
.crumbottom .l a{margin-right: 20px;display: inline-block;line-height: 42px;}
.crumbottom .l a:hover{color:#2974ff;}
.crumbottom a i{display: inline-block;width: 20px;height: 20px;vertical-align: middle;}
.crumbottom a.piTel i{background:url(../images/broker_tel.png) no-repeat center center;background-size:cover;}
.crumbottom a.piWx i{background:url(../images/broker_wx.png) no-repeat center center;background-size:cover;}
.crumbottom a.piQq i{background:url(../images/broker_qq.png) no-repeat center center;background-size:cover;}
.crumbottom a.btnWt{width: 190px;height: 42px;display: inline-block;line-height: 42px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;text-align: center; vertical-align: middle;}
.crumbottom a.btnWt:hover{background-color: #ffc261!important;}

.mainCon{margin-top:30px;}
.sidebar{width: 260px;background-color: #fff;margin-right: 10px;float: left;}
.sidebar .header{height: 60px;line-height:60px;padding:0 20px;border:solid 1px #e6e9f2;font-size: 16px;color:#3b3b3b;font-weight: bold;}
.sidebar .sideNav{padding:10px 20px;border:solid 1px #e6e9f2;}
.sideNav h4{font-size: 14px;color:#3b3b3b;font-weight: bold;line-height: 42px;cursor:pointer;}
.sideNav .sicon{display: inline-block;width: 11px;height: 11px;vertical-align: middle;margin-top:-3px;margin-right: 5px;}
.sideNav .sicon.add{background:url(../images/ic_add.png) no-repeat center center;background-size:cover;}
.sideNav .sicon.reduce{background:url(../images/ic_reduce.png) no-repeat center center;background-size:cover;}
.nav_item .ubox,.sub_nav{display: none;}
.nav_item .ubox.ushow,.sub_nav.ushow{display: block;}
.nav_item h4.on .add{background:url(../images/ic_add1.png) no-repeat center center;background-size:cover;}
.nav_item h4.on .reduce{background:url(../images/ic_reduce1.png) no-repeat center center;background-size:cover;}
.sidebar .sideNav ul{padding-left: 18px;}
.sidebar .sideNav ul li.curr a{color:#f1370b;}
.sidebar .sideNav ul .litit{line-height: 42px;font-size: 14px;color:#4f4f4f;font-weight: bold;}
.sidebar .sideNav ul a{line-height: 28px;font-size: 13px;color:#4f4f4f;}
.sidebar .sideNav ul a em{color:#919191;}

/*.sub_nav li.curr a{color:#f1370b;}*/

.rightCon{float: left;width: 928px;background-color: #fff;border:solid 1px #e6e9f2;}
.rightCon .header{padding:0 30px;height: 60px;line-height: 60px;}
.rightCon .header ul li{float: left;font-size: 16px;color:#3b3b3b;margin-right: 30px;cursor: pointer;}
.rightCon .header ul li span{display: inline-block;height:56px;}
.rightCon .header ul li.curr span{border-bottom: solid 4px #f1370b;font-weight: bold;}
.rightCon .boxCon ul{-webkit-animation: leftFadeIn .3s ease-out;-moz-animation: leftFadeIn .3s ease-out;animation: leftFadeIn .3s ease-out;}
.rightCon .boxCon li{padding:20px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.rightCon .boxCon li:hover{background-color:#fafafc;}
.rightCon .boxCon li .imgbox{width: 300px;height: 216px;position: relative;overflow: hidden;margin-right: 20px;}
.rightCon .boxCon li .imgbox img{max-width: 100%;max-height: 100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;-webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.rightCon .boxCon li .imgbox:hover img{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform:scale(1.1)}
.rightCon .boxCon li .ivplay{width: 50px;height: 50px;display: block;background: url(../images/video.png) no-repeat center center;background-size: cover;position: absolute;top:50%;left:50%;margin-top:-25px;margin-left: -25px;}
.rightCon .boxCon li .ivr{width: 60px;height: 60px;display: block;background: url(../images/vr.gif) no-repeat center center;background-size: cover;position: absolute;left:0;bottom:0;}
.rightCon .boxCon li .markbox{position: absolute;top:0;left:0;font-size: 12px;color:#fff;}
.rightCon .boxCon li .markbox .m_mark{width: 50px;height: 24px;line-height: 22px;-webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;border-radius: 0 0 10px 0;color:#fff;text-align: center;display: block;position: absolute;left:0;z-index: 2;}
.rightCon .boxCon li .markbox .m_cz{background: -moz-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -ms-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);}
.rightCon .boxCon li .markbox .m_cs{background: -moz-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -ms-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);}
.rightCon .boxCon li .markbox .m_zr{background: -moz-linear-gradient( 0deg, rgb(255,108,51) 0%, rgb(255,146,67) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,108,51) 0%, rgb(255,146,67) 100%);background: -ms-linear-gradient( 0deg, rgb(255,108,51) 0%, rgb(255,146,67) 100%);}

/*列表信息右侧*/
.rightCon .boxCon li .infobox{width: 548px;height:214px;position: relative;padding:0 10px;}
.rightCon .boxCon li .infobox .lptit{height: 33px;line-height: 33px;margin-bottom: 16px;}
.rightCon .boxCon li .infobox .lptit a{display: block;overflow: hidden;float: left;}
.rightCon .boxCon li .infobox h2{font-size: 22px;color:#212121;max-width: 310px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;margin-right: 7px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.rightCon .boxCon li:hover .infobox h2{color:#2974ff;}
.rightCon .boxCon li .infobox .lptit i.mtop{margin-right: 5px;}
.rightCon .boxCon li .infobox .lpprice{float: right;color:#f1370b;font-size: 14px;font-weight: bold;height: 33px;line-height: 33px;}
.rightCon .boxCon li .infobox .lpprice.noprice b{font-size: 22px;}
.rightCon .boxCon li .infobox .lpprice b{font-size: 28px;}
.rightCon .mJiaji, .rightCon .mtop{margin-top: 7px;}
.rightCon .boxCon li .infobox .lpinf{font-size: 14px;color:#797a82;line-height: 30px;}
.rightCon .boxCon li .infobox p.lpinf{max-width: 400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.rightCon .boxCon li .infobox .lpinf em{font-size: 12px;color:#d3d4de;margin: 0 7px;}
.rightCon .boxCon li .infobox .lpinf .sp_r{color:#9fa1ab;}
.rightCon .boxCon li .infobox .lpinf span i{display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin-right: 5px;margin-top: -4px;}
.rightCon .boxCon li .infobox .lpinf span i.iname{background:url(../images/icon_inf.png) no-repeat center center;background-size: cover;}
.rightCon .boxCon li .infobox .lpinf span i.itel{background:url(../images/lp_tel.png) no-repeat center center;background-size: cover;}
.rightCon .boxCon li .infobox .lpbottom{position: absolute;bottom: 0;left: 10px;right: 10px;}


/*房源委托浮动*/
.modal-wt{display:none;position: fixed; left: 50%; top: 100px; margin-left: -276px; z-index: 11001; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-400+"px"); width:528px; background-color: #fff; padding: 0;  -webkit-animation:flipInY .5s ease-out; -moz-animation:flipInY .5s ease-out; animation:flipInY .5s ease-out;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;overflow: hidden;}
.modal-wt .lp_title{height:42px;background-color: #f3512b;border:none;color:#fff;padding-left: 20px;line-height: 42px;font-size: 16px;font-weight: bold;margin-bottom: 4px;}
.modal-wt .close {display: block; position: absolute; right:0; top: 0; width: 42px; height: 42px; text-align: center;  overflow: hidden; cursor: pointer; transition: all 0.2s linear;background: url(../images/close.png) no-repeat center center;background-size: 13px;}
.modal-wt .dc {padding: 30px 40px; border: 0;position: relative;}
.modal-wt .dc .tab_wt{margin:10px 0;}
.modal-wt .dc .tab_wt li {height: 32px; line-height: 32px; cursor: pointer;float: left;margin-right: 30px;position: relative; font-size: 12px; color: #797a82;margin-top: 0!important}
.modal-wt .dc .tab_wt .checkbox {position: relative; display: inline-block; width: 9px; height: 9px; vertical-align: -1px; margin-right: 5px; border: 1px solid #d3d5de; background-color: #f2f3f7; cursor: pointer;}
.modal-wt .dc .tab_wt .checkbox i{display: block;width:5px;height: 5px;position: absolute; top:50%;left:50%;margin-top: -2.5px;margin-left:-2.5px;}
.modal-wt .dc .tab_wt li.curr .checkbox i{background: #f1370b;}

.modal-wt .dc ul{ margin: 0 0 20px;}
.modal-wt .dc li {height: 32px; margin-top: 18px;}
.modal-wt .dc li span{margin-left: 20px; line-height: 32px;cursor: pointer;}
.modal-wt .dc span .checkbox{margin-right:5px;}
.modal-wt .dc li input {float: left; width: 280px; border: 1px solid #ededed; outline:none;height: 30px; padding: 0 10px; line-height: 30px;background: #fafafa}
.modal-wt .dc li input:focus{border: 1px solid #c4c4c4;}
.modal-wt .dc li .placeholder {color: #c4c4c4;}
.modal-wt .con-tit{height: 20px;line-height: 20px;border-left:solid 4px #f3512b;font-size: 14px;color:#4f4f4f;padding-left:9px;}
.modal-wt li{position: relative;}
.modal-wt .getCodes{width: 100px;height: 32px;line-height: 32px;text-align: center; position: absolute;left: 202px;top: 0;background-color: #9899a3;font-size: 14px;color:#fff;}
/*房源信息*/
.fyInfo li{width: 285px;position: relative;}
.fyInfo li em{line-height: 32px;position: absolute;right:0;}
.sbj,.mprice,.zrprice{display: none;}
.sexbox label{float: left;margin-left: 20px;line-height: 28px;}
.sexbox input{width: 15px!important;margin-right: 10px;}
/*提交按钮*/
.tj {height: 40px!important; color: #999;margin-top: 35px!important;}
.tj a{color:#666;}
#tj {width: 200px; height: 38px; outline:none;color: #fff; border: 0; background-color: #f3512b; cursor: pointer; font-size: 16px; line-height: 38px; text-align: center;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-right: 15px;}
#vercode {width: 176px;}
#verifycode {float: right; width:90px;height: 32px; margin-left: 10px; cursor: pointer;}
.popup_bg {display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 10000; opacity: 0.6; filter: Alpha(Opacity=60); background-color: #000;}
p.ptip{ width: 280px;height: 68px;line-height:68px;text-align:center;color:#fff;font-size:16px;border:solid 1px rgb(220, 220, 222);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: rgba(0,0,0,.5);position: absolute;top:50%;left:50%;margin-top:-34px;margin-left:-140px;}

/*微信二维码弹出层*/
.modalbox{width: 100%;height: 100%;top:0;right: 0;left:0;bottom: 0;}
.modal-bg{position: fixed;top:0;right: 0;left:0;bottom: 0;background: rgba(0,0,0,.5);opacity: 0;z-index: -1;}
.modal-main{display:none;width: 600px;height: 500px;position: fixed;top: 50%;left: 50%;margin-top: -250px;margin-left: -300px;background: url(../images/modal-bg.png) no-repeat center center;background-size: contain;z-index: 1004;-webkit-animation:leftFadeIn .3s ease-out; -moz-animation:leftFadeIn .3s ease-out; animation:leftFadeIn .3s ease-out;}
.main-code img{width: 180px;height: 180px;position: absolute;top: 50%;left: 50%;margin-top: -24px;margin-left: -77px;}
.main-code p{text-align: center;line-height: 620px;font-size: 24px;color: #fff;}
.ptext{text-align: center;line-height: 60px;font-size: 20px;color:#fff;position: absolute;bottom: 0;left: 0;right: -25px;}
.closebox{cursor:pointer;width: 50px;height: 50px;position: absolute;right: -18%;top:-15%;}
.closebox img{width: 50px;height: 50px;}
.curr .modal-main{display: block;}
.curr>.modal-bg{opacity: 1;z-index: 1003;}


/*联系按钮*/
.chat_to-Link{width: 126px; height: 42px;box-shadow: 0 3px 5px rgba(10,9,47,.04) !important; border-radius: 4px; border: solid 1px #e6e9f2; background-color: #f5f5f7; color: #565656; font-size: 14px; display: inline-block; vertical-align: middle; line-height: 42px; text-align: center; box-sizing: border-box; }
.chat_to-Link:before{content: '' ; display: inline-block; width: 18px; height: 18px; background: url(../images/msg_icon1.png) no-repeat;background-size: cover; vertical-align: middle; margin-right: 6px; }
.chat_to-Link:hover{background-color: #ebebed;}
