/* 列表 */
.article {margin-top: 12px;}
.article dl {padding: 0 0 30px;margin-bottom: 27px;border-bottom: 1px solid #dedede;}
.article dt {float: right; width: 200px; height: 130px; margin-left: 20px;}
.article dt a, .article dt img {width: 200px; height: 130px; display: block;}
.article dd h3 {font-size: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.article dd a {color: #000;}
.article dd a:hover {color: #ff5b34;}
.article dd p {padding: 10px 0; font-size: 14px; color: #666;}
.article dd p a {margin-left: 10px; color: #ff5b34;}
.article .bt {color: #999; height: 20px;overflow: hidden;margin-top: 5px;}
.article .bt span.time {float: right;font-size: 14px;color:#9fa1ab;}
.article .bt span.mark{float: left;width: 68px;height: 20px;line-height: 20px;text-align: center;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background-color: #ef4e27;color: #fff;}


.empty {text-align: center; line-height: 200px; font-size: 16px; font-weight: 700;}

/* 分页 */
.pagination {padding: 10px 0 30px; text-align: center; line-height: 28px; font-size: 14px; color: #797a82; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#f2f3f7;}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#797a82;}
.pagination li a:hover ,.pagination li.page_current span {background: #f1370b; color: #fff;}
.pagination li.page_more span {background: #fff;color: #797a82; cursor: default;}
.pagination .page_info {display: none;}


/* 详细 */
.news_dbox{margin-top:30px;}
.news_dbox .sidebar{margin-top:0;}
.news-detail{width: 930px;float: left;}
.news-detail .title {font-size: 24px; color: #3b3b3b; padding-bottom: 10px;padding-top: 22px;}
.news-detail .st {padding-bottom: 22px; border-bottom: 1px solid #eee; font-size: 14px; color: #9fa1ab;}
.news-detail .st span {position: relative; float: left; margin-right: 20px;}
.news-detail .st span.time {padding-right: 20px;}
.news-detail .st span s,.news-detail .st a s{display: inline-block;width: 20px;height: 20px;vertical-align: middle;margin-top:-4px;margin-right: 5px;}
.news-detail .st span.time s {background: url('../images/ic_time.png') no-repeat center center;background-size: 20px;}
.news-detail .st span.see s{background: url('../images/ic_see.png') no-repeat center center;background-size: 20px;}
.news-detail .st a.share{float: right;display: block;color:#9fa1ab;font-size: 14px;}
.news-detail .st a.share s{background: url('../images/icon_share.png') no-repeat center center;}
.news-detail .content{padding: 30px 0;  font-size: 14px;}
.news-detail .content,.news-detail .content p,.news-detail .content span{line-height: 26px!important;color:#58585e!important;}
.bdsharebuttonbox {float: right; line-height: 28px; font-size: 14px;}

.nlist {border-top: 1px solid #eee; margin-top: 20px; padding-top: 15px;}
.nlist h2 {font-size: 18px; color: #000; margin-bottom: 5px;}
.nlist li {float: left; width: 49%; padding-right: 1%; height: 35px; line-height: 35px; position: relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.nlist li s {position: absolute; left: 0; top: 0; font-family: '宋体'; text-decoration: none;}
.nlist li a {margin-left: 15px; font-size: 14px; padding-right: 15px;}
