/*最新活动*/
.newAct{margin: 40px auto 0;}
.newAct .nAtop{font-size: 18px;color:#ff562e;font-weight: bold;margin: 25px 0;}
.newAct .nAtop i.inew{display:inline-block;width: 24px;height: 24px;background: url(../images/icon_new.png) no-repeat center center;background-size: cover;vertical-align: middle;margin-right: 5px;}
.newAct .nAmain{height: 200px;background-color: #fff;-webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.13);box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.13);border:solid 1px #f5f5f5;}
.newAct .nAmain .imgbox{width: 250px;height: 200px;position: relative;}
.newAct .nAmain .imgbox img{position: absolute;top:0;left:0;right:0;bottom: 0;max-width: 100%;max-height: 100%;margin:auto;}
.newAct .nAmain .infbox{padding:20px;width: 908px;position: relative;}
.newAct .nAmain .infbox h2{font-size: 22px;font-weight: bold;color:#2d323b;margin-bottom: 45px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.newAct .nAmain .infbox .ptime{font-size: 16px;color:#51545e;}
.newAct .nAmain .infbox .ptime b{color:#2d323b;}
.newAct .nAmain .infbox .time{font-size: 16px;color:#51545e;margin-top: 22px;}
.newAct .nAmain .infbox .time span {line-height: 36px; font-size: 14px; color: #333;}
.newAct .nAmain .infbox .time em {color: #fff; width: 36px; height: 36px; display: inline-block; background-color: rgb(51, 53, 59); -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; margin: 0 4px; text-align: center;font-weight: bold;}

.newAct .nAmain .infbox .tcount{font-size: 16px;color:#1a1c21;font-weight: bold;position: absolute;top:50%;right:297px;margin-top: -13px;}
.newAct .nAmain .infbox .tcount .itnum{display: inline-block;vertical-align: middle;width: 21px;height: 16px;background: url(../images/icon_peo.png) no-repeat center center;margin-top: -4px;}
.newAct .nAmain .infbox .tcount b{font-size: 18px;color:#f1370b;}

.newAct .nAmain .bm{display: block;width:128px;height: 38px;background-color:#f1370b;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;text-align: center;line-height: 38px;color:#fff;font-size: 16px;position: absolute;right: 40px;top:50%;margin-top: -19px;-webkit-transition:all .3 ease-in-out;-moz-transition:all .3 ease-in-out;transition:all .3 ease-in-out;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);}
.newAct .nAmain .bm:hover{background: #fff;color:#f1370b;border:solid 1px #f1370b;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);}

/*楼盘动态*/
.lptrend{overflow: hidden;}
.lptrend .lpleft{position: relative;overflow: hidden;}
.lptrend .lpTop{margin:80px 0 35px;}
.lpTop{margin:60px 0 35px;font-size: 22px;font-weight: bold;color:#1a1c21;}
.lpTop .lpmore{color:#9fa1ab;font-size: 14px;font-weight: 500;float: right;line-height: 33px;}
.lpleft dl{margin-bottom: 20px;}
.lpleft dl:last-child{margin-bottom: 0;}
.lpleft dl dt{width: 68px;height: 20px;line-height: 20px;text-align: center;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background-color: rgb(239, 78, 39);color:#fff;margin-right: 25px;margin-top: 5px;float: left;}
.lpleft dl dd{position: relative;overflow: hidden;margin-left: 93px;}
.lpleft dl dd .dtop{font-size: 18px;color:#3b3b3b;overflow: hidden;margin-bottom: 12px;}
.lpleft dl dd .dtop a{float:left;max-width: 500px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.lpleft dl dd .dtop a:hover{color:#f1370b;}
.lpleft dl dd .dtop em{float: right;font-size: 14px;color:#9fa1ab;}
.lpleft dl dd .dmain{font-size: 15px;color:#878891;line-height: 26px;text-align: justify;}
.lpleft dl dd .dmain .read_all{color:#f1370b;}


/*楼盘户型*/
.lphx .lpTop{margin:80px 0 35px;}
.lphx .lpTop span{float: left;}
.lphx .lpTop ul{float: left;overflow: hidden;margin-left:45px;}
.lphx .lpTop ul li{float: left;margin:0 25px;}
.lphx .lpTop ul li a{font-size: 16px;font-weight: bold;color:#919191;padding:5px 0;display: block;}
.lphx .lpTop ul li.curr a{border-bottom:solid 4px #f1370b;color:#3b3b3b;}

/*新房顾问*/
.xfAdviser{background-color: #f5f5f7;padding:60px 0;margin-top: 50px;}
.xfAdviser .lpTop{margin:0 auto 30px;}
.xfAdviser .lpTop span{font-size: 14px;color:#919191;font-weight: 500;margin-left:20px;}
.adviBox{position: relative;}
.adviBox .slide{width: 1140px;margin:auto;}
.adviBox .bd .slideshow-item{position: relative;}
.adviBox .hd{display: none;}
.adviBox .prev,.adviBox .next{width: 11px;height: 11px;position: absolute;top:50%;margin-top: -9px;vertical-align: middle;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";}
.adviBox .prev{left: 0;border-bottom: 3px solid #3b3b3b;border-left: 3px solid #3b3b3b;}
.adviBox .next{right: 0;border-top: 3px solid #3b3b3b;border-right: 3px solid #3b3b3b;}
.adviBox .prev.prevStop{border-bottom: 3px solid #999;border-left: 3px solid #999;cursor: default;}
.adviBox .next.nextStop{border-top: 3px solid #999;border-right: 3px solid #999;cursor: default;}

.adviBox .bd .slitem{width: 330px;height: 120px;float:left;margin-right:45px;padding:10px;background-color: #fff;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.adviBox .bd .slitem:nth-child(3n){margin-right: 0;}
.adviBox .bd .slitem:hover{-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);-moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);}
.adviBox .bd .slitem a{display: block;}
.adviBox .bd .itemImg{margin-right: 15px;}
.adviBox .bd .itemImg img{width: 100px;height: 120px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);}
.adviBox .bd .slitem:hover .itemImg img{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.ittag{display: block;float: left;text-align:center;height: 18px;line-height:18px;background-color: rgb(242, 243, 247);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;font-size: 12px;color:#87a3c4;margin-left: 10px;margin-top:3px;white-space: nowrap;padding:0 5px;text-align: center;width: auto!important;}
.adviBox .itemInfo p.pitem{margin-top:5px;}
.adviBox .itemInfo .itname{float: left;max-width: 160px;font-size: 16px;color:#3b3b3b;font-weight: bold;overflow: hidden;white-space:  nowrap;text-overflow: ellipsis;}
.adviBox .itemInfo .scount{margin: 20px 0;font-size: 14px;color:#3b3b3b;}
.adviBox .itemInfo .scount span{margin-right: 10px;}
.adviBox .itemInfo .contel{font-size: 14px;color:#f1370b;}
.adviBox .itemInfo .contel b{font-size: 16px;}


/*楼盘相册*/
.lpAlbum .lpTop span{float: left;}
.lpAlbum .lpTop .tab_nav{float: left;overflow: hidden;margin-left:45px;}
.lpAlbum .lpTop .tab_nav li{float: left;margin:0 25px;}
.lpAlbum .lpTop .tab_nav li a{font-size: 16px;font-weight: bold;color:#919191;padding:5px 0;display: block;}
.lpAlbum .lpTop .tab_nav li.curr a{color:#3b3b3b;}
.lpAlbum .lpTop .tab_nav li.curr s{display: block;width: 50px;height: 4px;margin:auto;background-color:#f1370b; }

/* 大图幻灯 */
.lpAlbum .lp_slide {width: 1000px; height: 680px;position: relative;}
.w1200 .lpAlbum .lp_slide {width: 1200px;}
.lpAlbum .lp_slide .album {position: relative; width: 1200px;height: 680px; overflow: hidden;}
.lpAlbum .lp_slide .album li {float: left; position: relative; width: 100%; height: 680px;}
.lpAlbum .lp_slide .album li a {display: block; text-align: center;background-color: #0e0e0f;}
.lpAlbum .lp_slide .album li img {max-width: 1000px; height: 680px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.w1200 .lpAlbum .lp_slide .album li img {max-width: 1200px;}
.lpAlbum .lp_slide .thumb {width:900px;margin:auto;position: relative; bottom:102px;z-index: 99;}
.lpAlbum .lp_slide .plist {width:800px; height: 82px; overflow: hidden; margin: 0 auto;}
.lpAlbum .lp_slide .plist ul{height: 82px;}
.lpAlbum .lp_slide .plist li {float: left; width: 124px; height: 86px; margin:0 0 0 8px;}
.lpAlbum .lp_slide .plist i { display: block;position: absolute;top: 0;left: 0;bottom: 0;z-index: 999;background: rgba(0,0,0,.45);width: 100%;height: 100%;}
.lpAlbum .lp_slide .plist a {position:relative;width: 120px;  overflow: hidden; outline: 0; text-align: center; text-decoration: none; display: block; border: 2px solid transparent; cursor: pointer;}
.lpAlbum .lp_slide .plist .on a {border-color: #fff;}
.lpAlbum .lp_slide .plist .on a i{opacity: 0;}
.lpAlbum .lp_slide .plist img {width: 120px; height: 78px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.lpAlbum .lp_slide .sprev, .lpAlbum .lp_slide .snext {position: absolute; top:0;  height: 82px; width: 30px; line-height: 82px; overflow: hidden;background: rgba(0,0,0,.77);}
.pageState{position: absolute;bottom: 20px;right: 20px;height: 30px;line-height: 30px;padding:0 25px;text-align: center;background:rgba(0,0,0,.5);-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 16px;color:#fff;z-index: 9;}

.lpAlbum .lp_slide .sprev {left: 0;}
.lpAlbum .lp_slide .snext {right: 0;}
.w1200 .lpAlbum .lp_slide .sprev {left: 20px;}
.w1200 .lpAlbum .lp_slide .snext {right: 20px;}
.lpAlbum .lp_slide .sprev i, .lpAlbum .lp_slide .snext i {width: 11px;height: 11px;position: absolute;top:50%;margin-top: -6px;vertical-align: middle;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";}

.lpAlbum .lp_slide .sprev i {left: 10px;border-bottom: 3px solid #fff;border-left: 3px solid #fff;}
.lpAlbum .lp_slide .snext i {right: 10px;border-top: 3px solid #fff;border-right: 3px solid #fff;}
.lpAlbum .sprev.prevStop i{border-bottom: 3px solid #f6f6f6;border-left: 3px solid #f6f6f6;cursor: default;}
.lpAlbum .snext.nextStop i{border-top: 3px solid #f6f6f6;border-right: 3px solid #f6f6f6;cursor: default;}

.thumb_bg{width: 1200px;height: 179px;background: -moz-linear-gradient( 90deg, rgb(0,0,0,.57) 0%, rgb(0,0,0,0) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(0,0,0,.57) 0%, rgb(0,0,0,0) 100%);background: -ms-linear-gradient( 90deg, rgb(0,0,0,.57) 0%, rgb(0,0,0,0) 100%);position: absolute;bottom: 0;z-index: 1;}



/*全景看房*/
.quanjing .ullist{overflow: hidden;}
.quanjing .ullist li{width: 290px;height: auto;float: left;margin-right: 13px;}
.quanjing .ullist li:nth-child(4n){margin-right: 0;}
.quanjing .ullist li .imgbox{width: 100%;position: relative;height: 220px;overflow: hidden;background-color: #f5f5f5;}
.quanjing .ullist li .imgbox img.picImg{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom:0;margin:auto;display: block;-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.quanjing .ullist li .imgbox:hover img.picImg{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform:scale(1.1)}
.quanjing .ullist li .imgbox .cover{width: 100%;height:100%;position: absolute;top:0;left:0;right: 0;bottom:0;margin:auto;background-color: rgba(0,0,0,.3);}
.quanjing .ullist li .imgbox .vrIcon,.quanjing .ullist li .imgbox .viIcon{width:60px;height:60px;position: absolute;top:50%;left:50%;margin-top: -30px;margin-left: -30px;}
.quanjing .ullist li .imgbox .vrIcon img,.quanjing .ullist li .imgbox .viIcon img{width:100%!important;height:100%!important;display: block;}
.quanjing .ullist li .infobox{padding:22px 0;font-size: 18px;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.qvbox .ullist{margin-top: 30px;}






/*周边楼盘*/
.lpAround .midbox ul li{background: #fff;width: 285px;height: auto;float:left;margin-right:20px;-webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}
.lpAround .midbox ul li:nth-child(4n){margin-right: 0;}
.lpAround .midbox ul li:hover{box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.07);}
.lpAround .midbox ul li a{display: block;}
.lpAround .midbox ul li .imgbox{width: 285px;height: 210px;overflow: hidden;position: relative;}
.lpAround .midbox ul li .imgbox img{position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);}
.lpAround .midbox ul li .imgbox img:hover{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);-moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.lpAround .vrIcon{width:60px;height:60px;position: absolute;left:0;bottom:0;}
.lpAround .vrIcon img{width:60px!important;height:60px!important;}
.lpAround .viIcon{width:50px;height:50px;position: absolute;left:50%;top:50%;margin-top: -25px;margin-left:-25px;}
.lpAround .viIcon img{width:50px!important;height:50px!important;}
.lpAround .midbox ul li .txtbox{padding: 20px 0;}
.lpAround .midbox ul li .txtbox h4{font-size: 18px;color:#212121;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.lpAround .midbox ul li:hover h4{color:#2974ff;}
.lpAround .midbox ul li .txtbox .pprice{font-size: 12px;color:#f1370b;font-weight: bold;margin:6px 0;}
.lpAround .midbox ul li .txtbox .pprice span{float: left;margin-right: 10px;}
.lpAround .midbox ul li .txtbox .pprice b{font-size: 20px;}
.lpAround .midbox ul li .txtbox .parea{font-size: 14px;color:#797a82;}
.lpAround .midbox ul li .txtbox .parea em{font-size: 12px;color:#d3d4de;margin:0 10px;}

