body,html{background-color: #fff;}

/* 多选 */
.filter .item-check {float: left; margin-left: 40px;}
.filter .icheck {position: relative; float: left; margin-right: 20px; padding: 14px 0 0 23px;}
.filter .icheck s {position: absolute; left: 0; top: 15px; width: 14px; height: 14px; border: 1px solid #bbb; background-color: #fff;}
.filter .icheck.on s {border-color: #808080; background-position: -39px -6px;}

.checklist{float: left;overflow: hidden;margin-left: 50px;}
.checklist li{float: left; margin: 5px 30px 10px 0;height: 23px;line-height: 23px;}
.checklist .checkbox {position: relative; display: inline-block; width: 9px; height: 9px; vertical-align: -1px; margin-right: 15px; border: 1px solid #d3d5de; background-color: #f2f3f7; cursor: pointer;}
.checklist .checkbox.checked i {display: block;width:5px;height: 5px;background: #f1370b;position: absolute; top:50%;left:50%;margin-top: -2.5px;margin-left:-2.5px;}
/*价格*/
.filter .spbox{margin:0;}
.filter .inpbox{float: left;}
.filter .inpbox .p1, .filter .inpbox .p2 {width: 40px; padding: 0 4px; height: 24px; border: solid 1px #f0f2f7; line-height: 24px;  margin: 0 4px;background: #fff;color:#bbbcc4;outline: none;}
.filter .inpbox .btn {width:45px;height: 24px; display: inline-block;text-align:center; background: #f1370b; color: #fff; margin: 7px 0 0 5px;vertical-align: top; line-height: 24px; cursor: pointer; white-space: nowrap; -webkit-background-clip: padding-box;-moz-background-clip: padding;  background-clip: padding-box; border: 0;font-size: 14px;outline: none;}
.filter .inpbox input::-webkit-input-placeholder {color: #bbbcc4;}
.filter .inpbox input::-moz-input-placeholder {color: #bbbcc4;}
.filter .inpbox input::-ms-input-placeholder {color: #bbbcc4;}

/* 侧栏 */
.sidebar {float: right; width: 230px; margin-left: 40px; font-size: 14px;margin-top: 40px;}
.sidebar .salehbox{width: 230px;height: 202px;overflow: hidden;margin-bottom: 20px;}
.sidebar .salehbox img{width: 100%;height: 100%;display: block;}
.sidebar .mapbox{width: 230px;height: 239px;margin-bottom:20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow: hidden;}
.sidebar .mapbox a,.sidebar .salehbox a{display: block;}
.sidebar .mapbox img{display: block;width: 100%;height: 200px;}
.sidebar .mapbox span{display: block;font-size: 14px;color:#fff;height: 39px;line-height: 39px;text-align: center;background-color: rgb(255, 177, 53);}
.sidebar .lp_box{margin-bottom: 20px;}
.sidebar .lp_box .lp_title{width: 218px;height: 36px;background-color:#f5f5f7;line-height: 36px;border-left:solid 4px #f1370b;padding-left:9px;font-size: 16px;color:#37383b;font-weight: bold;margin-bottom: 2px;}
.sidebar .lp_box ul{width: 228px;height: auto;border:solid 1px #ebebed;background-color:#fff;padding:15px 0;}
.sidebar .lp_box ul li{padding:6px 10px;}
.sidebar .lp_box ul li a{display: block;}
.sidebar .lp_box ul li:hover{background: #fafafa;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.sidebar .lp_box ul li:hover a{color:#2974ff;}
.sidebar .lp_box ul li p{font-size: 14px;color:#58595e;line-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sidebar .lp_box ul li p em{font-size: 12px;color:#d3d4de;margin:0 10px;}
.sidebar .lp_box ul li p span{float: right;font-size: 12px;color:#9fa1ab;}
.sidebar .lp_box .lp_news a{font-size: 14px;color:#58595e;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sidebar .lp_box .lp_news a em{color:#878891;margin-right: 8px;}
/* 内容 */
.main_con {float: left; width: 716px;}
.w1200 .main_con {width: 916px;}

.main_con .m-t {position: relative; z-index: 1; height: 40px; line-height: 40px; border-bottom:solid 2px #f1370b;background-color: #fff;}
.main_con .m-t ul {float: left; position: relative;}
.main_con .m-t ul li {float: left;}
.main_con .m-t ul a {display: block; padding: 0 28px; font-size: 16px; font-weight:bold;margin-right: 1px;}
.main_con .m-t ul .curr a { height: 40px; line-height: 40px; color: #fff; background-color: #f1370b;  }

/* 排序 */
.m-o {height: 42px; line-height: 42px;background: #f7f8fc;margin-bottom: 10px;}
.m-o .m-l {float: left;}
.m-o .m-r {float: right;}
.m-o a {position: relative;}
.m-o .m-l a {padding: 0 20px;font-size: 14px;font-weight: bold;color:#94959c;}
.m-o a.curr {color: #f1370b;}
.m-o .ob s {position: absolute; right: 5px; top: 2px; width: 16px; height: 16px;background:url(../images/icon_down.png) no-repeat center center;}
.m-o .ob.curr s {background:url(../images/icon_down1.png) no-repeat center center;}
.m-o .ob.up s {background:url(../images/icon_up.png) no-repeat center center;}
.m-o .ob.up.curr s {background:url(../images/icon_up1.png) no-repeat center center;}
 
/* 列表 */
.main .lplist li{padding:20px 0;border-bottom: solid 1px #f0f1f7;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.main .lplist li:hover{background-color:#f7f8fa;}
.main .lplist li:last-child{border-bottom: 0;}
.main .lplist li .imgbox{width: 300px;height: 216px;position: relative;overflow: hidden;margin-right: 20px;}
.main .lplist li .imgbox img{max-width: 100%;max-height: 100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display: block;-webkit-transform: scale(1);-moz-transform: scale(1);transform:scale(1);-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.main .lplist li .imgbox:hover img{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);transform:scale(1.1)}
.main .lplist li .ivplay{width: 50px;height: 50px;display: block;background: url(../images/video.png) no-repeat center center;background-size: cover;position: absolute;top:50%;left:50%;margin-top:-25px;margin-left: -25px;}
.main .lplist li .ivr{width: 60px;height: 60px;display: block;background: url(../images/vr.gif) no-repeat center center;background-size: cover;position: absolute;left:0;bottom:0;}
.main .lplist li .markbox{position: absolute;top:0;left:0;font-size: 12px;color:#fff;}
.main .lplist li .markbox .m_mark{width: 50px;height: 24px;line-height: 22px;-webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;border-radius: 0 0 10px 0;color:#fff;text-align: center;display: block;position: absolute;left:0;z-index: 2;}
.main .lplist li .markbox .m_zj{background: -moz-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);background: -ms-linear-gradient( 0deg, rgb(255,162,0) 0%, rgb(255,195,11) 100%);}
.main .lplist li .markbox .m_gr{background: -moz-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);background: -ms-linear-gradient( 0deg, rgb(34,112,255) 0%, rgb(87,142,255) 100%);}



/*列表信息右侧*/
.main .lplist li .infobox{width: 576px;height:214px;position: relative;padding:0 10px;}
.main .lplist li .infobox .lptit{height: 33px;line-height: 33px;margin-bottom: 16px;}
.main .lplist li .infobox .lptit a{display: block;overflow: hidden;float: left;}
.main .lplist li .infobox h2{font-size: 22px;color:#212121;max-width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;margin-right: 7px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.main .lplist li .infobox h2:hover{color:#2974ff;}
.main .lplist li .infobox .lptit i.mtop{margin-right: 5px;}
.main .lplist li .infobox .lpprice{float: right;color:#f1370b;font-size: 14px;font-weight: bold;height: 33px;line-height: 33px;}
.main .lplist li .infobox .lpprice.noprice b{font-size: 22px;}
.main .lplist li .infobox .lpprice b{font-size: 28px;}
.main .mJiaji, .main .mtop{margin-top: 7px;}
.main .lplist li .infobox .lpinf{font-size: 14px;color:#797a82;line-height: 30px;}
.main .lplist li .infobox p.lpinf{max-width: 400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main .lplist li .infobox .lpinf em{font-size: 12px;color:#d3d4de;margin: 0 7px;}
.main .lplist li .infobox .lpinf .sp_r{color:#9fa1ab;}
.main .lplist li .infobox .hinf{display: none;position: absolute;bottom: 40px;left:10px;right: 10px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-animation: bottomFadeIn .3s ease-out;-moz-animation: bottomFadeIn .3s ease-out;animation: bottomFadeIn .3s ease-out;}
.main .lplist li .infobox .hilef span{margin-right: 30px;font-weight: bold;}
.main .lplist li .infobox .lpinf span i{display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin-right: 5px;margin-top: -4px;}
.main .lplist li .infobox .lpinf span i.iname{background:url(../images/icon_inf.png) no-repeat center center;background-size: cover;}
.main .lplist li .infobox .lpinf span i.itel{background:url(../images/lp_tel.png) no-repeat center center;background-size: cover;}
.main .lplist li .infobox .lpbottom{position: absolute;bottom: 0;left: 10px;right: 10px;height: 28px;overflow: hidden;}
.main .lplist li .infobox .hirig{height: 28px; line-height: 28px;}
.main .lplist li .infobox .hirig a{display: block;float: left;font-size: 14px;color:#9fa1ab;}
.main .lplist li .infobox .hirig a i{width: 16px;height: 16px;display: inline-block;vertical-align: middle;    margin-top: -3px;}
.main .hirig .btn_sc{margin-right: 35px;}
.main .hirig .btn_sc i.isc{background: url(../images/icon_sc.png) no-repeat center center;}
.main .hirig .btn_sc.btn_ysc i.isc{background: url(../images/icon_ysc.png) no-repeat center center;}
.main .hirig .btn_share i.ishare{background: url(../images/icon_share.png) no-repeat center center;}

.main .lplist li:hover .hinf{display: block;}



