body,html {background-color: #f0f0f2;}

/*.mbox {min-height:10rem;padding:.24rem .24rem 0 .24rem;}*/

/* 头部评论框 */
.comment_top {overflow: hidden; margin:.12rem .24rem; position: relative;}
.comment_top input {display: block;border: 0; font-size: .28rem; color:#a6a8ab;height: .64rem; padding: .1rem .2rem; width:6rem;; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;border: 1px solid #dedfe3; border-radius: 6px 0 0 6px;}
.submit_top {position: absolute;right: 0;top: 0;display: block; width: 1.3rem; height: .64rem; line-height: .64rem; text-align: center; color: #fff; font-size: .28rem; background: #5286f7;border-radius: 0 6px 6px 0px; padding: 0;}



/* 评论列表 */
.commentBox ,.recomBox{background: #fff;margin-bottom: .24rem;}
.headtop{padding:0 .25rem;}
.head-title {padding:.2rem 0;}
.head-title p {font-size:.36rem;color:#333;font-weight: bold;}
.head-title p span {padding:.2rem 0;border-bottom:solid .04rem #4d6fff;color:#919191;}
.commentList{padding:0 .25rem;}
.commentBox ul li,.comntbox{padding:.2rem 0;border-bottom:solid .02rem #dedede;overflow: hidden;}
.commentBox ul li:last-child{border-bottom: 0;}
.commentBox ul li .imgbox,.comntbox .imgbox{float: left;width: .6rem;height: .6rem;position: relative;border-radius:100%;overflow: hidden;margin-right: .14rem;}
.commentBox ul li .imgbox img,.comntbox .imgbox img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}
.commentBox ul li .rightInfo,.comntbox .rightInfo{position: relative;overflow: hidden;}
.commentBox ul li .rightInfo h4,.comntbox .rightInfo h4{font-size: .26rem;color:#5a5c5e;line-height: .4rem;}
.commentBox ul li .rightInfo .txtInfo,.comntbox .rightInfo .txtInfo{font-size: .3rem;color:#393a3b;margin: .15rem 0;}
.commentBox ul li .rightInfo .replyCon,.comntbox .rightInfo .replyCon{padding:.2rem;background: #f2f3f5;margin:.25rem 0 .3rem;}
.rightInfo .replyCon dl{line-height: .4rem;overflow: hidden;}
.rightInfo .replyCon dl dt{float: left;font-size: .28rem;}
.rightInfo .replyCon dl dd{font-size: .28rem;color:#666;}
.commentBox ul li .rightInfo .rbottom{overflow: hidden;font-size: .24rem;color:#a6a6a6;}
.rightInfo .rbottom .rtime{float: left;}
.rightInfo .rbottom .rbInfo{float: right;}
.rightInfo .rbottom .rbInfo a {color: #a6a6a6;}
.rightInfo .rbottom .rbInfo s{display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top:-.08rem;margin-right: .05rem;}
.rightInfo .rbottom .rbInfo .btnReply{margin-right: .4rem;}
.rightInfo .rbottom .rbInfo .btnReply s{background: url(../images/ic_reply.png) no-repeat center center;background-size: contain; vertical-align: middle;}
.rightInfo .rbottom .rbInfo .btnUp s{background: url(../images/ic_up.png) no-repeat center center;background-size: contain;}
.rightInfo .rbottom .rbInfo .btnUp.active{color:#fc3a4a;}
.rightInfo .rbottom .rbInfo .btnUp.active s{background: url(../images/ic_up1.png) no-repeat center center;background-size: contain}
.spColor,.pmore{color:#498cde;}
.pmore{font-size: .28rem;display: block;}


/*评论详情*/
.commentFbox{padding:0 .25rem;}
.detailList{background-color: #f6f7f9;}
.detailList .rightInfo h4 em{color:#ababab;}

/*加载更多*/
.loading{padding:.6rem 0;text-align: center;}
.loading img{width: .4rem;}
.loading span{display: block;font-size: .26rem;color:#919191;margin:.2rem auto;}


/* 底部 */
.footer {clear: both; overflow: hidden; border-top: 1px solid #dfdfdf; text-align: center; padding: .3rem .08rem .2rem; background: #f8f8f8;}
.foot_nav .backTop ,.goback {background: url(../images/head_foot_ico.png) no-repeat 0 0;background-size: 1rem auto;}
.foot_nav {clear: both; line-height: .56rem; padding: .14rem 0; font-size: .28rem;}
.goback {float: left; height: .6rem; width: .7rem; background-position: -0.04rem -4.84rem; overflow: hidden; text-indent: 999em; margin-top: .07rem;}
.foot_nav .backTop {float: right; height: .6rem; width: .7rem; background-position: -0.3rem -5.62rem; overflow: hidden; text-indent: 999em;}
.foot_nav a {margin: 0 .2rem; display: inline-block;color: #1a1a1a;}
.foot_nav .goback {margin:0;}
.footer_times {line-height: .8rem; font-size: .24rem; font-family: helvetica,arial,sans-serif;}

/* 底部评论 */
.f_cmnt_num .num {background-image:url(../images/msg.png);background-repeat:no-repeat;background-size:.3rem .3rem;}
.footer_comment {height: .96rem;border-top: 1px solid #cdcdcd; position: fixed; left: 50%; right: 0; bottom: 0; width: 7.5rem; margin-left: -3.75rem; background: rgba(249,249,249,.9); -webkit-transition:height .3s;transition:height .3s;z-index: 1001;}
.f_cmntbox {clear: both; padding: .18rem 0 .18rem .4rem; display: -webkit-box; display: box;}
.footer_comment.open {height: 3.7rem;}
.footer_comment.open .f_cmntbox {display: none;}
.f_cmnt_input {-webkit-box-flex: 2; flex: 2; margin: 0; height: .56rem; line-height: .58rem; background: #fff; border: 1px solid #ccc; color: #666; border-radius: 2px;}
.f_cmnt_input p {padding: 0 .2rem; font-size: .28rem;}
.f_cmnt_num {-webkit-box-flex: 1; flex: 1; margin: 0 .12rem; height: .6rem; line-height: .52rem; color: #3990e6; text-align: center; border-radius: 2px;}
.f_cmnt_num .num {font-size: .24rem; display: inline-block; background-position:left center;background-size: .5rem auto; padding-left: .6rem; color: #3990e6;font-family: simsun;}
.f_shear {display: block;-webkit-box-flex: 1; flex: 1; height: .6rem; line-height: .6rem; background-position: .08rem -0.82rem;background-size: .44rem auto;background-image:url(../images/shear.png);background-position: center center;background-repeat:no-repeat;background-size: .5rem;}

/* 写评论 */
.write_comment {margin:0 .2rem .2rem;display: none;}
.footer_comment.open .write_comment {display: block;}
.write_comment .hd_btn {padding:.2rem 0;}
.write_comment .hd_btn a {display: inline-block;width: 1.2rem;height: .6rem;line-height: .6rem;padding: 0;text-align: center;font-size: .28rem;color: #666;cursor: pointer;border-radius:3px;}
.write_comment .hd_btn .wcmt_cancel {background:#eee;}
.write_comment .hd_btn .wcmt_send {background:#00a0fe;color: #fff;}
.write_comment .fl {float: left;}
.write_comment .fr {float: right;}
.write_comment .user_info {line-height: .64rem;}
.write_comment .user_info ,.write_comment .user_info a {font-size: .28rem;color: #347ed2;}
.write_comment .user_info img {width: .64rem;height: .64rem;margin-right: .32rem;border-radius:50%;vertical-align: middle;}
/*.comment_top {border: 1px solid #d8d8d8; overflow: hidden; margin:.2rem 0; position: relative;}
.comment_top textarea {display: block;border: 0; font-size: .32rem; height: 1.6rem; padding: .1rem .2rem; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*/

input ,select ,button {font-family: 'XinGothic-SinaWeibo','Microsoft YaHei',helvetica,arial,sans-serif;
    font-size: 100%;
    vertical-align: middle;
    outline: 0;}


/* 错误提示 */
.error {padding:.4rem;text-align: center;font-size: .24rem;color: #999;}

/* 分享 */
.shearBox {position: fixed;top:-100%;width: 7.5rem;margin:0 auto;text-align: center;-webkit-transition: top .6s;transition: top .6s;z-index: 1000;}
.shearBox .bg {position: fixed;top:0;width: 7.5rem;height: 0;opacity:0;background:rgba(0,0,0,0.8);-webkit-transition:opacity .5s;transition:opacity .5s;z-index: 1;}
.sheark1 {position: relative;height: 50%;background:#e6e6e6;border-bottom: solid 1px #dcdcdc;z-index: 2;}
#shearBox .jiathis_style_32x32 span {display: none !important;}
#shearBox a {display: inline-block;margin:1rem 4% 2rem;}
#shearBox a:after {display: inline-block;width: 1rem;height: 1rem;content:" ";}
.jiathis_button_qzone:after {background:url(../images/qqzone.png) no-repeat;background-size: 1rem;}
.jiathis_button_tsina:after {background:url(../images/sina.png) no-repeat;background-size: 1rem;}
.jiathis_button_weixin:after {background:url(../images/weixin.png) no-repeat;background-size: 1rem;}
.shearBox .cancel {position: absolute;bottom:0;width: 7.5rem;height: .96rem;line-height: .96rem;font-size: .32rem;color: #000;background:#fff;z-index: 2;}
