html{background:#f8f8f8;}
/*.popupRightBottom{display: none;}*/
body{padding-bottom: 1rem;}

/*视频*/
.topSwiper{position: relative;overflow: hidden;height: 3.5rem;}
.topSwiper .swiper-slide img{width: 100%;height: 100%;object-fit: cover;}
.topSwiper .swiper-pagination{position: absolute;right: .25rem;bottom:.24rem;left:auto;width:auto; padding: .04rem .2rem; line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .26rem;z-index: 9;}
.topSwiper .pagination {position: absolute;z-index: 20;left: 0;bottom: .38rem;width: 100%;text-align: center;}
.topSwiper .swiper-pagination-bullet{width: .3rem;height: .04rem;margin-right:.05rem;border-radius:0;background: #fff;opacity:0.5;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.topSwiper .swiper-pagination-bullet-active{background: #fff!important;opacity: 1!important;}


.markBox{width:50%;text-align:center;position: absolute;bottom:.24rem;right:25%; z-index: 1;}
.pmark{display:inline-block;width: 1.3rem;height: .46rem;color:#404040;line-height: .46rem;border-radius: .23rem;background: #FFF;margin:0 .125rem;font-size: .22rem;}
.pmark.curr{background-image: -moz-linear-gradient( 0deg, rgb(244,132,12) 0%, rgb(248,193,45) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(244,132,12) 0%, rgb(248,193,45) 100%);background-image: -ms-linear-gradient( 0deg, rgb(244,132,12) 0%,rgb(248,193,45) 100%);color:#fff;}
.imgplay{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.imgplay img{width: .9rem!important;height: .9rem;}
/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;right: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}


/*商家信息*/
.planInfo{box-shadow: 0px 2px 6px 0px rgba(179, 179, 179, 0.2);margin-bottom: .2rem;background: #fff;padding: .3rem .24rem;position: relative;}
.planInfo h2{font-size: .4rem; color: #333;font-weight: bold;padding-bottom: .2rem;}
.planInfo .msg{background: #f8f8f8;border-radius: .2rem;padding: .15rem .4rem;}
.planInfo .msg ul{display: flex;flex-wrap: wrap;justify-content: space-between;}
.planInfo .msg ul li{width: 30%;font-size: .24rem;padding: .1rem 0;}
.planInfo .msg ul li span{color: #a0a0a0;}


h3{font-size: .32rem;padding: .3rem .24rem;font-weight: bold;}
.more{height: .78rem;line-height: .78rem;border-top: 1px solid #e5e5e5;text-align: center;color: #a0a0a0;font-size: .28rem;}
.more a{color: #a0a0a0;display: inline-block;width:100%;height: .78rem;line-height: .78rem;}
/*商家介绍*/
.seller-intro{background: #fff;box-shadow: 0px 2px 6px 0px rgba(179, 179, 179, 0.2);margin-bottom: .2rem;}
.seller-intro .intro-brief{padding: 0 .24rem .24rem;font-size: .26rem;   }
.seller-intro .intro-brief .introBox{ animation: rightFadeIn .3s ease-out;    overflow: hidden;font-size: 0;}
.seller-intro .intro-brief img{max-width:100%!important;height:auto;}
.seller-intro .intro-brief .readMore{margin-top: .25rem;}

/*精选套餐*/
.meal{background: #fff;box-shadow: 0px 2px 6px 0px rgba(179, 179, 179, 0.2);margin-bottom: .2rem;}
.meal-list li{padding: 0 .24rem;margin-bottom: .25rem;}
.meal-list li .img-box{width: 3rem;height: 2.1rem;border-radius: .08rem;overflow: hidden;padding-right: .25rem;position: relative;}
.meal-list li .img-box i{display: inline-block;width: .98rem;height: .39rem;position: absolute;right: .24rem;bottom: 0;}
.meal-list li .img-box i.hot{background: url("../images/icon_hot.png") no-repeat;background-size: contain;}
.meal-list li .img-box i.zhi{background: url("../images/icon_zhi.png") no-repeat;background-size: contain;}
.meal-list li .img-box i.rqi{background: url("../images/icon_rqi.png") no-repeat;background-size: contain;}
.meal-list li .img-box img{width: 100%;height:100%;border-radius: .08rem;}
.meal-list li .info{position: relative;overflow: hidden;height: 2.1rem;position: relative;}
.meal-list li .info .name{font-size: .3rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.meal-list li .info .price{position:absolute;bottom: 0;font-size: .3rem;color: #f9374e;font-weight: bold;}
.meal-list li .info .price i{font-size: .26rem;font-weight: 500;}



/*底部按钮*/
.foot_contact {height: 1rem;padding:.15rem .24rem;box-sizing:border-box;box-shadow: 0px 0px 10px 0px rgba(202, 202, 202, 0.24);position: fixed;bottom: 0;left: 0;right: 0;background: #fff;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.foot_contact .coll-box{font-size: .24rem;color: #fc3a4a;text-align: center;float: left;width: .9rem;height: 1.3rem;box-sizing: border-box;}
.foot_contact .coll-box s{display: block;width: .41rem;height: .38rem;background: url("../images/collection_01.png") center center;background-size: cover;margin: 0 auto;}
.foot_contact .has s{background: url("../images/collection_02.png") center center no-repeat;background-size: contain;}
.foot_contact .has{color: #fc3a4a;}
.foot_contact .share{display:inline-block!important;margin-right:.25rem;display: inline-block;width: 2.9rem;height: .7rem;border-radius: .04rem;font-size: .24rem;background-image: -moz-linear-gradient( 0deg, rgb(244,166,14) 0%, rgb(245,195,20) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(244,166,14) 0%, rgb(245,195,20) 100%);background-image: -ms-linear-gradient( 0deg, rgb(244,166,14) 0%, rgb(245,195,20) 100%);color: #fff;text-align: center;line-height: .7rem;}
.foot_contact .tel{float:right;display: inline-block;width: 2.9rem;height: .7rem;border-radius: .04rem;font-size: .24rem;color: #fff;text-align: center;line-height: .7rem;background-image: -moz-linear-gradient( 0deg, rgb(249,55,78) 0%, rgb(249,106,56) 100%);    background-image: -webkit-linear-gradient( 0deg, rgb(249,55,78) 0%, rgb(249,106,56) 100%);    background-image: -ms-linear-gradient( 0deg, rgb(249,55,78) 0%, rgb(249,106,56) 100%);}


