.transparent  .header-address{color: #fff !important;}
.transparent.header{z-index: 9;}
.bannerbox{width: 100%; position: relative; padding-bottom: .7rem;}
.bannerbox .banner{height: 4.5rem;}
.bannerbox img{width: 100%; height: 100%; object-fit: cover; }
/*搜索-定位*/
.search_box{position: absolute; width: 6.8rem; left: 50%; top:.2rem; margin-left: -3.4rem;   height: .88rem;border-radius: .1rem;background-color: #fff; box-shadow: 0 .07rem .37rem rgba(8,12,33,.07); top: 4rem;}
.search{margin-left: 2.12rem; padding-top: .26rem;}
.search input{font-size: .28rem; border: none; outline: none; }
.search_icon{display: inline-block; width: .8rem ; height: .3rem; background-image: url(../images/search_icon.png); background-size: .3rem; background-repeat: no-repeat; background-position:right  center;}
.search_icon:before{width: .02rem; height: .24rem; content: ''; display: inline-block;  background-color: #d7d8de;}
.posi{width:1.8rem; margin-left: .32rem; float: left;}
.posi i{display: inline-block; width: .22rem; height: .28rem; background-image: url(../images/posi_icon.png); background-size: .22rem .28rem; background-repeat: no-repeat; background-position: center; vertical-align: middle;}
.posi span{font-size: .28rem; color: #313233; vertical-align: middle; margin-left: .1rem; line-height: .88rem;}

/*菜单*/
.menu_box ul{display: flex; justify-content: space-between; padding: .2rem .4rem .8rem .5rem ; }
.menu_box li{width: 1.32rem; font-size: .24rem;}
.menu_box li a{display: block; text-align: center; font-size: .24rem; border-radius: .1rem;}
.menu_box li a:hover{background-color: #f7f7f7;}
.menu_box li a p{line-height: 1.1em;}
.menu_box li a img{width: 100%;}

/*列表*/
.video_list h2 .on_chose{font-size: .36rem; color: #000; font-weight: bold;}
.video_list h2 span{font-size: .3rem; color: rgba(0,0,0,.3);font-weight: bold;}
.video_list h2 span:nth-last-child(1){ margin-left: .5rem;}
.video_list{padding: 0 .24rem;}
/*推荐*/
.live_box{display: flex;justify-content: space-between; margin-top: .3rem;}
.live_box a{display: block; width: 3.42rem;  }
.live_box a img{width: 100%; height: 100%; object-fit: cover; }
.live_box a i,.live_box2 a i{position: absolute; background-color: #0787ff; border-radius: .04rem; color: #fff; font-size: .18rem; font-weight: bold; top: .2rem; left: .2rem; width: .9rem; height: .32rem; background-image: url(../images/onfair2.gif); background-size: contain; }
.live_box a i, .live_box2 a i{content: '精彩回放'; background: #87cc24; text-align: center; line-height: .34rem; font-size: .18rem;padding: .02rem .1rem;}
/*.live_box a i:after{content: ''; display: inline-block; width: .15rem; height: .13rem; background-image: url(../images/live.png); background-size: .15rem .13rem; background-position: center; background-repeat: no-repeat; margin-left: .1rem; }*/
.live_box a .video_img{position: relative; height: 1.95rem; border-radius: .1rem; overflow: hidden; }
.live_box a h3{font-size: .28rem; color: #313233; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: .12rem;}
/*回顾*/

.video_box{ width: 100%; margin-top: .3rem; }
.video_box a{display: block; height: 4rem; overflow: hidden; position: relative;margin-bottom: .2rem;}
.video_box a .video_img{height: 4rem;}
.video_box a img{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.info_box{background-color: rgba(0,0,0,.57); position: relative; position: absolute; bottom: 0; left: 0; right: 0;padding-bottom: .26rem; padding-top: .28rem; border-radius:0  0 .1rem .1rem;}
.info_box .video_info{margin-left: 1.2rem; margin-right: 1.5rem; }
.info_box .video_info h3{color: #fff; font-size: .28rem; font-weight: normal; margin-bottom: .1rem;}
.info_box .video_info p{font-size: .22rem; color: rgba(255,255,255,.5);}
.info_box .look_num{float: right; color: #fff; font-size: .2rem; margin-right: .34rem; margin-top: .18rem;}
.info_box .look_num:before{content: ''; display: inline-block; width: .28rem; height: .22rem; background: no-repeat url(../images/vlook.png); background-size: .28rem .22rem; vertical-align: middle; margin-right: .12rem;}
.info_box .head{width: .72rem; height: .72rem; border-radius: 50%; position: absolute; top: -.24rem; left: .3rem; border:solid .01rem #f0f1f2;}
.info_box .head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.info_box .label{border-radius: .04rem; background-color: #87cc24; color: #fff; font-size: .22rem; line-height: .32rem; position: absolute; top: -.18rem; left: 1.22rem; padding:.02rem .1rem;}
.more_btn{display: block; border-radius: .1rem; line-height: .76rem; background-color: #f5f6f8; color: #333; font-size: .28rem; text-align: center; margin-top: .3rem;}

/*预约轮播*/
.yuyue_list{margin-top: .6rem;padding-bottom: .24rem; padding-top: .7rem;}
.yuyue_list .swiper-wrapper{z-index: 11;}
.yuyue_li a{display: block; height: 1.4rem;padding:0 .24rem;}
.yuyue_list .live_time{font-size: .36rem; color: #000; font-weight: bold; margin-bottom: .26rem; padding-left: .24rem; display: inline-block; position: absolute; top: .05rem; left: 0; }
.right_yuyue{width: 3.42rem; height: 1.4rem; float: right; border-radius: .1rem; overflow: hidden;}
.right_yuyue>img{width: 2.44rem; height: 100%; object-fit: cover; float: left;}
.right_yuyue .yuyue_btn{width: .98rem; height: 1.4rem; font-size: .24rem; color: #fff; text-align: center; float: right;
background: -webkit-linear-gradient(#0084ff, #4eb7ff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#0084ff, #4eb7ff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#0084ff, #4eb7ff); /* Firefox 3.6 - 15 */
  background: linear-gradient(#0084ff, #4eb7ff); /* 标准的语法 */}
.right_yuyue .yuyue_btn.yued{background: #bebfc4 !important;}
.right_yuyue .yuyue_btn img{width: .38rem; display: block; margin: auto; margin-top: .3rem; margin-bottom: .12rem;}
.left_info{margin-right: 3.62rem; position: relative; height: 1.4rem;}
.left_info h4{ display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; font-size: .28rem; line-height: .4rem;}
.left_info p{position: absolute; bottom: 0; color: #8d8e91; font-size: .24rem;}
.yuyue_pagination{text-align: right; top: .1rem; margin-left: -.24rem; height: .5rem; z-index: 999;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{right: .24rem;}
.yuyue_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width: .3rem; height: .3rem; border-radius: 50%; background-color: #000; color: #fff; text-align: center; font-size: .22rem; vertical-align: middle;}
.yuyue_pagination .swiper-pagination-bullet i{display: none;}
.yuyue_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active i{display: block !important;}


/*热门直播*/
.hot_list{padding-bottom: 1.62rem; margin-top: .4rem;}
.hot_list h2{padding: 0 .24rem; font-size: .36rem; color: #000; font-weight: bold; margin-bottom: .24rem; margin-top: .7rem;}
.hot_list .libox{margin-bottom: .6rem; list-style: none !important;}
.hot_list a{display: block; position: relative;}
.hot_list a .video_img{margin: 0 .24rem; height: 4rem; border-radius: .1rem; position: relative; background: #ccc; overflow: hidden;}
.hot_list a .video_img:after{content: ''; display: inline-block; width: 2.2rem; height: 1.5rem; background: url(../images/bg.png) no-repeat; background-size: cover; position: absolute; bottom: 0; left: 0;}
.hot_list a .video_img img{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.living .video_img i.live_icon{position: absolute; background-color: #0787ff; border-radius: .04rem; color: #fff; font-size: .18rem; font-weight: bold; top: .2rem; left: .2rem; width: .8rem; height: .32rem; background-image: url(../images/onfair2.gif); background-size: contain; }
.hot_list .more_btn{margin: 0 .24rem; margin-top: .6rem; font-size: 500;}
.hot_list .more_btn:after,.rec_video .more_btn:after{content: '';display: inline-block;width: .24rem; height: .28rem; background-image: url(../images/go_left.png); background-size: .24rem; background-repeat: no-repeat; vertical-align: middle; margin-left: .02rem;  background-position: center;}
/*.living .video_img i.live_icon:after{content: ''; display: inline-block; width: .15rem; height: .13rem; background-image: url(../images/live.png); background-size: .15rem .13rem; background-position: center; background-repeat: no-repeat; margin-left: .1rem; }*/
.lived .video_img i.live_icon{border-radius: .04rem; background-color: #87cc24; color: #fff; font-size: .22rem; line-height: .32rem; position: absolute; top: .2rem; left: .2rem; padding:.02rem .1rem;}
.libox .look_num{ color: #fff; font-size: .2rem; margin-right: .34rem; margin-top: .18rem; position: absolute; bottom: .28rem; left: .28rem; z-index: 9;}
.libox  .look_num:before{content: ''; display: inline-block; width: .28rem; height: .22rem; background: no-repeat url(../images/vlook.png); background-size: .28rem .22rem; vertical-align: middle; margin-right: .12rem;}

.live_info {margin-left: .24rem; margin-right: 2.4rem;}
.live_info h3{font-size: .32rem; color: #313233; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: .4rem; margin-top: .26rem;}
.live_info p{ font-size: .24rem; color: #333; margin-top: .04rem;}
.live_info p em{color: #bababf; vertical-align: middle;}
.live_info p span{display: inline-block; max-width: 3.3rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: middle; margin-right: .24rem;}

.liver_info{width: 1.28rem; position: absolute; bottom: 0; right: .54rem;}
.liver_info .head{width: 1.28rem; height: 1.28rem; border-radius:50% ; border: solid .01rem #f0f1f2;}
.liver_info .head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.liver_info p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: .26rem; font-weight: 500; color: #313233; text-align: center; margin-top: .13rem; font-weight: bold;}
.wlive .video_img i.live_icon{position: absolute; top: .2rem; left: .2rem; background-color: rgba(0,0,0,.5); color: #fff;}
.wlive .video_img i.live_icon:before{content: '预告'; display: inline-block; width: .64rem; height: .32rem; background-color: #ff853b; text-align: center; border-radius: .04rem; margin-right: .16rem;}

/*热门主播*/
.hotanchor_box{margin-bottom: .24rem; margin-top: .4rem;}
.hotanchorbox{margin: 0 .24rem; box-shadow: 0 .07rem .37rem rgba(8,12,13,.09); position: relative; border-radius: .12rem;}
.hotanchor_box h2{padding: 0 .24rem; font-size: .36rem; color: #000; font-weight: bold; margin-bottom: .3rem;}
.hotanchor_list .swiper-slide{padding-top: .4rem; padding-bottom: .46rem; position: relative;}
.hotanchor_list .swiper-slide .head{width: 1.08rem; height: 1.08rem; border-radius: 50%; margin: auto; position: relative;}
.hotanchor_list .swiper-slide .head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }
.hotanchor_list .swiper-slide p{font-size: .26rem;margin: auto; color: #333; margin-top: .16rem; text-align: center; overflow: hidden;white-space: nowrap; text-overflow: ellipsis; max-width: 1.3rem; }
.hotanchor_list .swiper-slide.living .head:after{content: ''; display: block; width:.32rem ; height: .32rem; background-color: #128bff; background-image: url(../images/onfair1.gif); background-size: .32rem auto; background-position: center; background-repeat: no-repeat; right: 0; bottom: .05rem; position: absolute; border-radius: 50%;}
.hotanchor_list li.first .head:before{content: ''; display: block; width: .46rem; height: .42rem; background-image: url(../images/first.png); position: absolute; left: 0; top: -.2rem; background-size: contain; background-repeat: no-repeat;}
.hotanchor_list li.second .head:before{content: ''; display: block; width: .46rem; height: .42rem; background-image: url(../images/second.png); position: absolute; left: 0; top: -.2rem; background-size: contain; background-repeat: no-repeat;}
.hotanchor_list li.third .head:before{content: ''; display: block; width: .46rem; height: .42rem; background-image: url(../images/third.png); position: absolute; left: 0; top: -.2rem; background-size: contain; background-repeat: no-repeat;}
.hotanchor_list .swiper-slide{width: 1.7rem !important;}
.hotanchor_list ul{ margin-left: .2rem;}
.hotanchor_list {width: 5.5rem; margin-left: 0; position: relative;}
.hotanchor_list:after{content: ''; display: block; width: .7rem; height: 2.4rem; background-color: #ccc; position: absolute; top: 0; right: 0; z-index: 99; pointer-events: none;
background: -webkit-linear-gradient(left, rgba(255,255,255,0) , rgba(255,255,255,1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,0) , rgba(255,255,255,1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, rgba(255,255,255,0) , rgba(255,255,255,1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1)); /* 标准的语法 */}
 .hotanchorbox .more_btn .head{width: 1.36rem; height: 1.36rem; background:none;}
 .hotanchorbox .more_btn img{width: 1.36rem;}
 .hotanchorbox .more_btn p{font-size: .26rem; line-height: .42rem;}
 .hotanchorbox .more_btn {position: absolute; right: .3rem; top: 0;}
 .hotanchorbox .more_btn{background: none;}
.hotanchorbox .more_btn  a{display: block;}
.hotanchor_pagination .swiper-pagination-bullet{width: .4rem; height: .04rem; background: #000; border-radius: 0 !important;}
.hotanchor_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #000;}
.hotanchor_list .hotanchor_pagination.swiper-pagination-bullets{bottom: .1rem !important; left: .8rem; }

.nodata{font-size: .26rem; margin-top: .5rem; text-align: center; color: #999;}

/*回首页*/
.back_to_index{display: block; width: 1.1rem; line-height: .52rem; border-radius:0 .26rem .26rem 0; text-align: center; color: #fff; font-size: .22rem; position: fixed; left: 0; bottom: 2.8rem; box-shadow: 0 .03rem .23rem rgba(0,9,50,.17);z-index: 999; display: none;
background: -webkit-linear-gradient(45deg, #ff3c4a , #ff7054); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(45deg, #ff3c4a , #ff7054); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(45deg, #ff3c4a , #ff7054); /* Firefox 3.6 - 15 */
  background: linear-gradient(45deg, #ff3c4a , #ff7054); /* 标准的语法 */}

/*分类*/
.nav_all{width: 100%;  position: fixed; bottom: -100%; left: 0; background-color: #fff; z-index: 999; overflow: auto; height: 100%;  }
.close_btn{float: right; width: .28rem; height: .28rem; background-position: center; background-size: .28rem; background-repeat: no-repeat; background-image: url(/static/images/close_2.png); margin-top: .08rem;}
.nav_all h2{margin:.58rem .26rem; font-size: .32rem; color: #2b2b2b;}
.nav_all h2 span{font-weight: bold;}
.nav_all ul{ margin:0 .26rem; overflow: auto;}
.nav_all ul li{width: 2rem; height: .76rem; border-radius: .12rem; background-color: #f5f5f7; float: left; margin-right: .3rem; margin-bottom: .3rem;}

.nav_all ul li {display: block; color: #5c5c5e; text-align: center; line-height: .76rem; font-size: .28rem;}
.nav_all li.on_li{color: #f7482d; border:solid .02rem #fca19f; background: #fff6f5;}
/*.nav_all ul.addnav li a:before{content:'+'; font-size: .45rem;margin-right: .1rem; margin-top: -.04rem;  line-height: .68rem; }*/
.nav_all ul.addnav li{overflow: hidden;}
.nav_all ul.addnav{padding-bottom: 1.2rem;}


/*toast*/
.popMsg p .gou{width: .56rem; vertical-align: middle;margin-right: .16rem;}
.popMsg{padding: .2rem .6rem; border-radius: .2rem; background-color: rgba(0,0,0,.77); position: fixed; left: 50%; top: 30%; transform: translate(-50%,-50%); font-size: .3rem; color: #fff; line-height: .56rem; text-align: center; line-height: .56rem;}
.popMsg{top: 40% !important; z-index: 9;}
.popMsg em{vertical-align: middle; font-weight: normal !important;}

.box_all{display: none; animation: rightFadeIn .5s ease-out;}
.box_all.show{display: block;}
