.header{box-shadow: 0 .03rem .13rem rgba(25,30,59,.05);}
/*附近主播*/
.hotanchor_box{margin-top: .4rem;}
.hotanchorbox{ position: relative;}
.hotanchor_box h2{padding:0 .24rem; font-size: .36rem; color: #000; font-weight: bold; margin-bottom: .06rem; pa}
.hotanchor_box h2 .all_link{font-size: .28rem; color: #313233; float: right; font-weight: normal;}
.hotanchor_box h2 .all_link:after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: no-repeat url(../images/go_left.png); background-size: contain; vertical-align: middle; margin-left: .06rem;}
.hotanchor_list .swiper-slide{width: 2.4rem !important; height: 3.2rem; border-radius: .1rem; box-shadow: 0 .07rem .37rem rgba(8,12,33,.07); text-align: center; margin-right: .2rem;}
.rec_box .hotanchor_list .swiper-slide{height: 3.5rem;}
.hotanchor_list ul{padding: .24rem 0 .4rem .24rem;}
.hotanchor_list .swiper-slide a{display: block;}
.hotanchor_list .swiper-slide .head{width: 1.08rem; height: 1.08rem; border-radius: 50%; margin: auto; margin-top: .3rem; position: relative;}
.hotanchor_list .swiper-slide .head img{width: 100%; height: 100%; border-radius: 50%; display: block;}
.hotanchor_list .swiper-slide.living .head:after{content: ''; display: block; width:.32rem ; height: .32rem; background-color: #128bff; background-image: url(../images/onfair1.gif); background-size: .32rem auto; background-position: center; background-repeat: no-repeat; right: 0; bottom: .05rem; position: absolute; border-radius: 50%;}
.hotanchor_list .swiper-slide h3{color: #313233;  font-size: .26rem;margin: auto ; margin-top: .1rem; font-weight: 600; max-width: 1.6rem;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.hotanchor_list .swiper-slide p{font-size: .22rem; color: #8d8e91;margin-top: .04rem;}
.rec_box .hotanchor_list .swiper-slide p{ max-width: 1.8rem; text-align: center; margin: auto;}
.hotanchor_list .swiper-slide .carebtn{width: 1.1rem; height: .52rem; color: #fff; border-radius: .26rem; border: none; margin-top: .22rem; line-height: .52rem; font-size: .24rem; box-shadow: 0 .03rem .13rem rgba(255,1,0,.23);
background: -webkit-linear-gradient(35deg,  #ff7b63 , #ff4849); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(35deg,  #ff7b63 , #ff4849); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(35deg,  #ff7b63 , #ff4849); /* Firefox 3.6 - 15 */
  background: linear-gradient(35deg,  #ff7b63 , #ff4849); /* 标准的语法 */}
.hotanchor_list .swiper-slide .carebtn:before{content: ''; display: inline-block; width: .24rem; height: .24rem; background: no-repeat center url(../images/add.png); background-size: contain; vertical-align: middle; margin-right: .04rem; margin-bottom: .04rem;}
.hotanchor_list .swiper-slide .carebtn em{vertical-align: middle;}
.hotanchor_list .swiper-slide .carebtn.cared{background: #dcdcde; box-shadow: none;}
.hotanchor_list .swiper-slide .carebtn.cared:before{display: none;}

.ulbox{padding: 0 .24rem;}
.video_box{ width: 100%; margin-bottom: .4rem; }
.video_box>a{display: block; height: 4rem; overflow: hidden; position: relative;margin-bottom: .2rem;border-radius: .1rem;}
.video_box>a .video_img{height: 4rem; position: relative;}
.video_box>a img{width: 100%; height: 100%; object-fit: cover;  border-radius: .1rem;}
.info_box{background-color: rgba(0,0,0,.57); position: relative; position: absolute; bottom: 0; left: 0; right: 0;padding-bottom: .24rem; padding-top: .24rem;}
.info_box .video_info{margin-left: .28rem; margin-right: 1.5rem; }
.info_box .video_info h3{color: #fff; font-size: .28rem; font-weight: normal; margin-bottom: .06rem; margin-top: .04rem; text-overflow:ellipsis; white-space: nowrap; overflow: hidden;}
.info_box .video_info p{font-size: .22rem; color: rgba(255,255,255,.5);}
.info_box .look_num{float: right; color: #fff; font-size: .2rem; margin-right: .34rem; margin-top: .18rem;}
.info_box .look_num:before{content: ''; display: inline-block; width: .28rem; height: .22rem; background: no-repeat url(../images/vlook.png); background-size: .28rem .22rem; vertical-align: middle; margin-right: .12rem;}
.info_box .head{width: .72rem; height: .72rem; border-radius: 50%; position: absolute; top: -.24rem; left: .3rem; border:solid .01rem #f0f1f2;}
.info_box .head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.info_box .label{border-radius: .04rem; background-color: #87cc24; color: #fff; font-size: .22rem; line-height: .32rem; position: absolute; top: -.18rem; left: 1.22rem; padding:.02rem .1rem;}
.more_btn{display: block; border-radius: .1rem; line-height: .76rem; background-color: #f5f6f8; color: #333; font-size: .28rem; text-align: center; margin-top: .3rem;}

.video_state{position: absolute; top: .2rem; left: .2rem; color: #fff; font-size: .22rem;  display: block; border-radius: .04rem;}
.video_state.live_before {background-color: rgba(0,0,0,.5);}
.video_state.live_before em{padding-right: .14rem;}
.video_state.live_before:before{content: '预告'; border-radius: .04rem; background-color: #ff853b; padding: .06rem .1rem; margin-right: .14rem; display: inline-block;}
.video_state.living{width: .8rem; height: .32rem; background: url(../images/onfair2.gif) no-repeat center; background-size: contain;}
.video_state.live_after:before{content: '精彩回放'; display: block;border-radius: .04rem; background-color: #87cc24; color: #fff; font-size: .22rem; line-height: .32rem; padding:.02rem .1rem;}
.loading{ height: .28rem; margin: auto; padding: .4rem; text-align: center; padding-bottom: 1.4rem;}
.loading img{display: block; width: 2rem ; margin: auto;}
.loading span{font-size: .26rem; color: #999; text-align: center;}

.anchor_img{width: .64rem; height: .64rem; border-radius: 50%; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: .1rem;}
.anchor_img img{width: 100%; height: 100%; object-fit: cover;}
.anchor_info h2{display: inline-block; font-size: .26rem !important; font-weight: 600 !important;vertical-align: middle; line-height: .3rem; }
.anchor_info h2 span{display: inline-block; max-width: 2.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.anchor_info h2 img{width: .28rem; vertical-align: middle; margin-left: .08rem;}
.anchor_info a{float: left;}
.anchor_info .carebtn{float: right;}
.anchor_info{padding-bottom:.2rem;}
.anchor_info .carebtn{width: 1.1rem; height: .52rem; border-radius: .32rem; border:solid .02rem #919191; text-align: center; margin-top: .06rem;}
.anchor_info .carebtn span{line-height: .52rem;}
.anchor_info .carebtn:before{content: ''; display: inline-block; width: .32rem; height: .32rem;background: url(../images/more.png) no-repeat center; background-size:contain ; vertical-align: middle; margin-top: -.04rem;}
.anchor_info .carebtn.cared:before{display: none;}
.anchor_info .carebtn.cared{color: #9c9c9c;}

/*取消关注*/
.carebox {position: fixed; bottom: 0;z-index: 1000002; left: .2rem; right: .2rem; text-align: center; display: none;animation: bottomFadeIn .3s ease-out;}
.carebox li.nocare{color: #fc492d;}
.carebox li{margin-bottom: .2rem; background-color: #fff; border-radius: .2rem; line-height: 1.08rem; font-size: .34rem; color: #0877ff;}
.mask0.show,.carebox.show{display: block !important;z-index: 1000001; }
.mask0.show:before{display: none;}
.mask0{position: relative; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); display: none;}