* {
	margin:0;
	padding:0
}
html,body {
	width:100%;
	height:100%;
	font-size:12px;
	background-color:#3b3b3b
}
.map-container {
	position:absolute;
	left:0;
	right:0;
	top:5px;
	bottom:0
}
.map-header {
	height:35px
}
.map-search {
	float:right;
	margin-left:20px;
	margin-top:2px
}
.map-search input[type=text] {
	width:250px;
	border:solid #1B1B1B;
	border-width:1px 0 1px 1px;
	padding:6px 10px 5px;
	vertical-align:middle
}
.map-search .btn {
	vertical-align:middle
}
.map-search-result {
	background:#FFFFFF;
	border:1px solid #676767;
	display:none;
	max-height:310px;
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	text-align:center;
	z-index:99999
}
.map-search-result li {
	background:#FFFFFF;
	cursor:default;
	height:25px;
	line-height:25px;
	padding:0 10px;
	text-align:left
}
.map-search-result li {
	border-bottom:dotted 1px #CCC
}
.map-search-result li:hover {
	background:#25B86F;
	color:#ffffff
}
.map-search-result li.active {
	background:#20AB51;
	color:#ffffff
}
.map-search-result li:last-of-type {
	border-bottom:none
}
.map-city {
	overflow:hidden;
	zoom:1;
	height:30px;
	line-height:30px;
	color:#ffffff
}
.map-city-current {
	cursor:default
}
.map-city-trigger {
	cursor:pointer;
	display:inline-block;
	margin-left:10px;
	color:#25B86F
}
.map-city:hover .map-city-trigger {
	color:#20AB51
}
.map-content {
	position:absolute;
	top:40px;
	bottom:0;
	left:0;
	right:0
}
.map-city-list,.map-canvas {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%
}
.map-city-list {
	background:#ffffff;
	display:none;
	overflow-x:hidden;
	overflow-y:auto;
	z-index:1111
}
