.part {position: relative;}


/* 第一栏焦点图 */
.picFocus {position:relative;width:540px;height:342px;float: left;overflow:hidden;zoom:1;}
.picFocus .title {position: absolute;bottom:88px;left:26px;right:26px;font-size: 18px;height: 28px;line-height: 28px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;color: #fff;z-index: 3;}
.picFocus .hd {position: absolute;left:0;bottom:0;width:100%;height: 122px; padding-top:5px;overflow:hidden;}
.picFocus .hd .bg {position: absolute;left:0;top:0;width: 100%;height: 100%;background: #000;opacity: .4;filter:alpha(opacity=40);z-index: 1;}
.picFocus .hd ul {position: relative;margin-top: 45px;padding:0 20px;overflow:hidden; zoom:1;z-index: 2;}
.picFocus .hd ul li {width: 110px;height: 65px;margin:0 5px;float:left;border:2px solid transparent;}
.picFocus .hd ul li img {width:110px;height: 65px;}
.picFocus .hd ul li span {display: none;}
.picFocus .hd ul li.on {border-color: #f05c35;}
.picFocus .hd ul li.on img {border-color:#f60;}
.picFocus .bd li {vertical-align:middle;}
.picFocus .bd img {width:100%;min-height: 360px;display:block;}
.picFocus .bd li span {display: none;}
.picFocus .btn {position: absolute;top:50%;margin-top: -20px;display: block;width: 40px;height: 40px;background: url('../images/scroll.png');}
.picFocus .btn.prev {left:5px;background-position: -60px 0;}
.picFocus .btn.prev:hover {background-position: -60px -40px;}
.picFocus .btn.next {right:5px;}
.picFocus .btn.next:hover {background-position: 0 -40px;}

/* 热搜词 */
.hot-key {width: 182px;height: 342px;float: right;overflow: hidden;}
.hot-key .title {position: relative;font-size: 18px; font-weight: 400; line-height: 40px; height: 40px; padding-left: 34px; color: #fff; border-bottom: 1px solid #df522d;background: #ea5731;}
.hot-key .title i {position: absolute;left:10px;top:10px;display: block;width: 13px;height: 20px;}
.hot-key ul li {position: relative; float: left; border-bottom: 1px solid #e1e1e1; text-align: center;}
.hot-key ul li a {display: block;width: 89px;margin: 2px 1px 0; padding: 9px 0;  height: 22px; line-height: 22px;font-size: 16px; color: #666;  background-color: #f3f3f3;}
.hot-key ul li a:hover {display: block;background-color: #ea5731; color: #fff;}
.hot-key ul li a:hover i {opacity: 0;filter:alpha(opacity=0);}
.hot-key ul li.row2 a {height: 23px;padding:30px 0;}
.hot-key ul li span {position: relative; display: inline-block; line-height: 20px;}
.hot-key ul li span i {position: absolute;top:-4px;right:-12px;width: 12px;height: 10px;border-radius:45%;background-position: -14px 0;}
.hot-key i {transition:all .2s;background-image: url('../images/index_icon.png');background-repeat: no-repeat;}

/*  */
.part {margin-bottom: 30px;overflow: hidden;}
.content .item {position: absolute;width: 236px;height:342px;border-radius:2px;overflow: hidden;}
.content .item .item {height: 165px;margin-left: 0;margin-bottom:12px;}
.content .item-2 {width: 484px;}
.content .item img {width: 236px;height: 342px;}
.content .item .title {position: absolute;bottom:0;left:0;right:0;height: 32px;line-height: 32px;font-size: 13px;color: #fff;}
.content .item .title .t {position: relative;display: block;padding:0 10px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;z-index: 1;}
.content .item .title .bg {position: absolute;left:0;right:0;top:0;bottom:0;background: #000;opacity: .3;filter:alpha(opacity=30);}

.part1 .item_1 {left:248px;top:0;}
.part1 .item_2 {left:496px;top:0;}
.part1 .item_3 {left:744px;top:0;}
.part1 .item_4 {left:992px;top:0;}
.part1 .item_5 {left:1240px;top:0;}
.part1 .item_6 {left:1488px;top:0;}


.part2 .item_1 {left:248px;top:0;width: 484px;}
.part2 .item_1 img {width: 484px; height: 342px;}
.part2 .item_2 {left:744px;top:0;height: 165px;}
.part2 .item_3 {left:744px;top:177px;height: 165px;}
.part2 .item_4 {left:992px;top:0;}
.part2 .item_5 {left:1240px;top:0;height: 165px;}
.part2 .item_6 {left:1240px;top:177px;height: 165px;}
.part2 .item_2 img, .part2 .item_3 img, .part2 .item_5 img, .part2 .item_6 img {width: 236px; height: 165px;}
.part2 .item_7 {left:1488px;top:0;}

.part3 .item_1 {left:248px;top:0;height: 165px;}
.part3 .item_2 {left:248px;top:177px;height: 165px;}
.part3 .item_3 {left:496px;top:0;}
.part3 .item_4 {left:744px;top:0;height: 165px;}
.part3 .item_5 {left:744px;top:177px;height: 165px;}
.part3 .item_6 {left:992px;top:0;}
.part3 .item_7 {left:1240px;top:0;}
.part3 .item_8 {left:1488px;top:0;}
.part3 .item_1 img, .part3 .item_2 img, .part3 .item_4 img, .part3 .item_5 img {width: 236px; height: 165px;}

.part4 .item_1 {left:248px;top:0;height: 165px;}
.part4 .item_2 {left:248px;top:177px;height: 165px;}
.part4 .item_3 {left:496px;top:0;}
.part4 .item_4 {left:744px;top:0;}
.part4 .item_5 {left:992px;top:0;}
.part4 .item_6 {left:1240px;top:0;}
.part4 .item_7 {left:1488px;top:0;}
.part4 .item_1 img, .part4 .item_2 img {width: 236px; height: 165px;}

.part5 .item_1 {left:248px;top:0;width: 484px;}
.part5 .item_2 {left:744px;top:0;height: 165px;}
.part5 .item_3 {left:744px;top:177px;height: 165px;}
.part5 .item_4 {left:992px;top:0;height: 165px;}
.part5 .item_5 {left:992px;top:177px;height: 165px;}
.part5 .item_6 {left:1240px;top:0;}
.part5 .item_7 {left:1488px;top:0;}
.part5 .item_1 img {width: 484px; height: 342px;}
.part5 .item_2 img, .part5 .item_3 img, .part5 .item_4 img, .part5 .item_5 img {width: 236px; height: 165px;}

.part6 .item_1 {left:248px;top:0;height: 165px;}
.part6 .item_2 {left:248px;top:177px;height: 165px;}
.part6 .item_3 {left:496px;top:0;}
.part6 .item_4 {left:744px;top:0;}
.part6 .item_5 {left:992px;top:0;}
.part6 .item_6 {left:1240px;top:0;}
.part6 .item_7 {left:1488px;top:0;}
.part6 .item_1 img, .part6 .item_2 img {width: 236px; height: 165px;}



.toppart {position: relative;}
.toppart .item {position: relative;float: left;padding-bottom: 4px;padding-right: 2px;margin-left: 10px;}
.toppart .item .pic {display: block;height: 342px;overflow: hidden;}
.toppart .item img {width:100%;min-height: 342px;}
.toppart .item img:hover {opacity: .8; filter: alpha(opacity=80);}
.toppart .item .tag {position: absolute;bottom:20px;left:0;right:0;text-align: center;}
.toppart .item .tag a {position: relative;display: inline-block;padding:0 15px;height:32px;line-height: 32px;font-size: 16px;color: #444;border-radius:16px;overflow: hidden;}
.toppart .item .tag a .bg {position: absolute;left: 0;top:0;right:0;bottom:0;background: #fff;opacity: .8;filter:alpha(opacity=80);}
.toppart .item .tag a .txt {position: relative;z-index: 1;}
.toppart .item .tag a i {display: inline-block;width: 12px;height: 11px;float: left;margin:11px 4px 10px;background: url('../images/index_icon.png') -28px 0 no-repeat;}
.toppart .item .line {position: absolute;width: 234px; height: 0; border-bottom: 1px solid #cfcfcf; }
.toppart .item .line-1 {bottom:0;right:0;}
.toppart .item .line-2 {bottom:2px;right:2px;}


/* 分类开始 */
.lefttype {position: relative;width: 228px;height: 334px;float: left;padding:4px;border-radius:2px;}
.lefttype .type a {display: block;margin-top: 10px;text-align: center;color: #fff;}
.lefttype .type .name {font-size: 34px;}
.lefttype .type span {font-size: 12px;opacity: .6;filter:alpha(opacity=60); text-transform: uppercase;}
.lefttype .subtype {position: absolute;left:4px;bottom:4px;right: 4px;}
.lefttype .subtype a {position: relative;display: block;width: 76px;height: 60px;float: left;font-size: 16px;line-height: 60px;color: #fff;text-align: center;overflow: hidden;}
.lefttype .subtype a .bg {position: absolute;left:0;right:0;top:0;bottom: 0;opacity:.3;filter:alpha(opacity:=30);}
.lefttype .subtype a .name {position: relative;z-index: 1;}
.lefttype .subtype a.sub_2 .bg, .lefttype .subtype a.sub_4 .bg, .lefttype .subtype a.sub_6 .bg, .lefttype .subtype a.sub_8 .bg {opacity: .5;filter:alpha(opacity:=50);}
.lefttype .subtype a:hover .bg {opacity: .4;filter:alpha(opacity:=40);}



.part1 .lefttype {background: url('../images/type-1.jpg') no-repeat;}
.part2 .lefttype {background: url('../images/type-2.jpg') no-repeat;}
.part3 .lefttype {background: url('../images/type-3.jpg') no-repeat;}
.part4 .lefttype {background: url('../images/type-4.jpg') no-repeat;}
.part5 .lefttype {background: url('../images/type-5.jpg') no-repeat;}
.part6 .lefttype {background: url('../images/type-6.jpg') no-repeat;}
.part7 .lefttype {background: url('../images/type-7.jpg') no-repeat;}

.part1 .lefttype .subtype a .bg {background:#FFAF98;}
.part2 .lefttype .subtype a .bg {background:#FF9B9B;}
.part3 .lefttype .subtype a .bg {background:#70C1C1;}
.part4 .lefttype .subtype a .bg {background:#FFD00B;}
.part5 .lefttype .subtype a .bg {background:#55B8CE;}
.part6 .lefttype .subtype a .bg {background:#E4976A;}
.part7 .lefttype .subtype a .bg {background:#9788CB;}

.part1 .lefttype .subtype a:hover .bg {background: #ce5b39;}
.part2 .lefttype .subtype a:hover .bg {background: #da5757;}
.part3 .lefttype .subtype a:hover .bg {background: #338f91;}
.part4 .lefttype .subtype a:hover .bg {background: #d1a700;}
.part5 .lefttype .subtype a:hover .bg {background: #3098af;}
.part6 .lefttype .subtype a:hover .bg {background: #ba6b3d;}
.part7 .lefttype .subtype a:hover .bg {background: #7062aa;}
