/* 筛选 */
.select {background-color:#fbfbfb;border:1px solid #f2f2f2;margin-bottom:20px;}
.select-nav {border-bottom:1px solid #f2f2f2;font-size:15px;overflow:hidden;padding:20px 0 5px;zoom:1;}
.select-nav-list {margin-bottom:15px;overflow:hidden;padding:0 20px;position:relative;}
.select-nav-list ul {border-radius:2px 2px 0 0;overflow:hidden;zoom:1;}
.select-nav-list li {float:left;white-space:nowrap;width:auto;margin:5px 0;_width:1%;}
.select-nav-list a {border-radius:2px;color:#666;display:block;font-size:12px;height:20px;line-height:19px;margin:0 1px;overflow:hidden;padding:0 12px;text-align:center;}
.select-nav-list .current a,.select-nav-list a:hover {background:#00bb50;color:#fff;}
.type-third-list {height:64px;width:100%;}
#listType {font-size:14px;margin:20px 0;padding-left:20px;width:136px;}
#listType,#listType a {float:left;height:20px;overflow:hidden;}
#listType a {border-radius:2px;color:#666;font-size:12px;line-height:19px;margin:0 1px;padding:0 12px;text-align:center;}
#listType,#listType a {float:left;height:20px;overflow:hidden;}
#listType a.on {background:#00bb50;color:#fff;}
.thirdNav {float:left;height:20px;margin-top:20px;padding-right:7px;_position:relative;_z-index:1000;}
.wf_group {font-size:12px;line-height:1.5;*zoom:1}
.wf_col {float:left;padding:0 5px;width:326px}
.wf_col li {border-radius:2px;border:1px solid #eee\9;box-shadow:0 1px 3px 0 rgba(0,0,0,0.3);margin-bottom:14px;*margin-bottom:10px}
.wf_col li,.wf_col .img_link {overflow:hidden;position:relative;width:100%}
.wf_group:after {clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
.wf_col .img_link {background:#fff;color:#333;display:block;height:100%}
.wf_col .img_info {background:#fff;font-size:14px;line-height:22px;padding:8px 10px}
.wf_col .img_text {height:22px;overflow:hidden;zoom:1}
.wf_col .img_num {color:#999;float:right}
.wf_col .img_tit {overflow:hidden;padding-right:12px;text-overflow:ellipsis;white-space:nowrap;_white-space:pre-wrap;word-break:keep-all;_word-wrap:break-word}
.wf_col .img_time {color:#999}
.wf_col .img_text_time {height:22px;width:100%}
.wf_col .img_video {-webkit-filter:blur(5px);-moz-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px)}
.wf_col .tag_video,.img_info .img_tags {height:20px;margin-top:6px;overflow:hidden;}
.img_info .img_tag {background-color:#f2f2f2;color:#666;float:left;height:20px;line-height:19px;margin-right:6px;padding:0 5px}
.img_info .img_tag.active {color:#00bb50;}

/* 全部加载完毕 */
.toend {display:none;padding:20px 0 73px;text-align:center}
.toend .border {border-top:1px dashed #ccc;font-size:0;line-height:0;overflow:hidden;}
.toend .text {background:url('../images/toend.png') no-repeat 0 0;height:43px;margin:-7px auto 0;position:relative;width:124px;}
#empty {color:#666;display:none;font-size:14px;line-height:50px;padding:130px 0 250px;text-align:center;}

/* 底部标签 */
.bottomTags {display:none;position:fixed;left:100px;right:100px;bottom:30px;height:52px;background-color:#37434a;border-radius:2px;opacity:0.9;filter:alpha(opacity=90);box-shadow:0 0 4px rgba(0,0,0,.3);-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);z-index:2001}
.bottomTags .close {border:1px solid #788488;color:#788488;font-size:20px;height:16px;line-height:12px;position:absolute;right:15px;text-align:center;text-decoration:none;top:17px;width:16px;}
.bottomTags .close:hover {color:#e5e7e8;}
.bottomTags .list {height:20px;margin-left:15px;margin-top:16px;overflow:hidden;text-align:center;}
.bottomTags li {display:inline-block;font-size:12px;line-height:20px;margin-right:36px}
.bottomTags li a {color:#fff;text-decoration:none}
.bottomTags .bottomTags-list ul {font-size:0}
.bottomTags li.hot {background-color:#00bb50;border-radius:2px;color:#fff;padding:0 10px}

/* 返回顶部 */
#moreTabs {bottom:25px;display:none;height:66px;overflow:hidden;position:fixed;_position:absolute;right:12px;width:66px;z-index:2000;}
.gotop {float:right;}
.gotop .btn_gotop {background:url(../images/backtop.png) no-repeat;_background:url(../images/backtop.png.gif) no-repeat 0 0;display:block;height:66px;overflow:hidden;text-indent:-999em;width:66px;}
#moreTabs .floatcate_box {_display:none;-webkit-transition:opacity .2s ease-out;}
.floatcate_box,.loadingBox {height:32px;margin-top:40px;text-align:center;}
.loadingBox .border {border-top:1px dashed #ccc;font-size:0;line-height:0;overflow:hidden;}
.loadingBox .loader {background:#f9f9f9 url('../images/loading.gif') no-repeat 10px 10px;height:32px;margin:-26px auto;padding:10px;width:32px}

.floatcate_box {background:rgba(0,0,0,.6) url(../images/bg.png) repeat-x;border-radius:3px;font-size:14px;height:44px;margin:8px 80px 0;position:relative;}
.footer {display:none;}
