.contain{padding-top: 30px;padding-bottom: 70px;background: #f6f9fc;}
.con{position: relative;min-height: 330px;}
/*左边导航*/
.navlist.topfixed{position: fixed!important;top:60px;z-index: 10;}
.navlist{position: absolute;top:0;width: 140px;z-index: 1;background-color: #fff;margin-right: 15px;}
.navlist .hd {height: 44px;line-height: 44px;color: #fff;background: #4889f3;border-radius: 3px 3px 0 0;}
.ch2-list {border: 1px solid #f0f0f0;overflow: hidden;}
.navlist .hd h2 {text-align: center;font-size: 15px;font-weight: 400;}
.ch2-list .item {border-top: 1px solid #f0f0f0;}
.ch2-list .item:first-child {border-top: none;}
.ch2-list .item a{position: relative;display: block;color: #666;font-size: 16px;height: 56px;line-height: 56px;text-align: center;background-color: #fff;}
.ch2-list .item a:hover{color: #4889f3;}
.ch2-list .item a.active{color: #4889f3;}

/*自媒体列表*/
.arithmetic-list{float: right;margin-left: 165px;}
.media-list{width: 1035px;}
.media-list .item{float: left;margin-right: 15px;padding-left:128px;width: 508px;box-sizing:border-box;height: 139px;background: #fff;box-shadow: 0px 0px 16px 0px rgba(188, 188, 188, 0.3); border: 1px solid #eee;border-radius: 4px;position: relative;overflow: hidden;margin-bottom: 20px;}
.media-list .item:before{content: "";position: absolute;left: 0;top:0;bottom:0;width: 0;border-right: 2px solid #ffcd21;}
.media-list .item:nth-child(2n){margin-right: 0;}
.media-list .item .pic{width: 86px;height: 86px;border: 1px solid #eee;border-radius: 6px;overflow: hidden;position: absolute;top: 28px;left: 25px;}
.media-list .item .pic img{width: 86px;height: 86px;}
.media-list .item .btn{width: 78px;height: 38px;position:absolute;right:30px;top:50px;line-height: 34px;font-size:16px;color:#0e89fb;font-weight:600;text-align: center;border: 1px solid #137ef9;box-sizing: border-box;border-radius: 4px;}
.media-list .item .info{width: 210px;height:139px;box-sizing:border-box;padding-top: 32px;}
.media-list .item .info .name{font-size: 18px;color: #000;font-weight: 600;margin-bottom: 30px;}
.media-list .item .info .items{font-size: 14px;color: #a0a0a0;}
.media-list .item .info .items span{font-size: 18px;color: #000;font-weight: 600;margin-left: 6px;}
.media-list .item .info .items span em{font-size: 16px;font-weight: 600;}
.media-list li:hover .btn{background: #0e89fb;color: #fff}
.media-list li:hover{box-shadow: 0px 0px 16px 0px rgba(64, 64, 64, 0.3);}

.arithmetic-list .empty {padding:150px 0;text-align: center;font-size: 14px;color: #bfbfbf;}