.contain{padding-top: 45px;background: #f2f3f7;padding-bottom: 70px;min-height: 500px;}
.nav_box{background: #f2f3f7;}
.part-fir{margin-bottom: 30px;}
.part-fir .fir-l{width: 660px;height: 560px;background: #fff;}
.part-fir .fir-r{width: 512px;height: 560px;}

.part-fir .fir-l .focusBox {position: relative;width: 660px;height: 560px;overflow: hidden;font: 12px/1.5 Verdana, Geneva, sans-serif;text-align: left;background: white;}
.part-fir .fir-l .focusBox .pic img {width: 660px;height: 440px;display: block;}
.part-fir .fir-l .focusBox .txt {position: absolute;bottom: 0;z-index: 2;height: 120px;width: 100%;overflow: hidden;}
.part-fir .fir-l .focusBox .txt li {width: 660px;height: 120px;padding:10px 16px;box-sizing: border-box;position: absolute;}
.part-fir .fir-l .focusBox .txt li a {display: block;color: #333;padding: 0 0 0 10px;font-size: 12px;font-weight: bold;text-decoration: none;}
.part-fir .fir-l .focusBox .txt li p.title{font-size: 24px;color: #313233;font-weight: bold;line-height: 56px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.part-fir .fir-l .focusBox .txt li p.title i{display: inline-block;width: 40px;height: 26px;background: url("../images/ic_1.png") no-repeat;background-size: contain;margin: 0 14px -4px 0;}
.part-fir .fir-l .focusBox .txt li p.con{font-size: 16px;color: #8d8e91;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 32px;font-weight: 500;}
.part-fir .fir-l .focusBox .num {position: absolute;z-index: 3;bottom: 128px;right: 8px;}
.part-fir .fir-l .focusBox .num li {float: left;position: relative;width: 8px;height: 8px;line-height: 8px;overflow: hidden;text-align: center;margin-right: 10px;cursor: pointer;}
.part-fir .fir-l .focusBox .num li a,.part-fir .fir-l .focusBox .num li span {position: absolute;z-index: 2;display: block;color: white;width: 100%;height: 100%;top: 0;left: 0;}
.part-fir .fir-l .focusBox .num li span {z-index: 1;background: #fff;filter: alpha(opacity=57);opacity: 0.57;}
.part-fir .fir-l .focusBox .num li.on a,.part-fir .fir-l .focusBox .num a:hover {background: #f55047;}

.part-fir .fir-r .r-title{margin-bottom: 24px;}
.part-fir .fir-r .r-title span{display: inline-block;width: 104px;height: 26px;background: url("../images/ic_tj.png") no-repeat;background-size: contain;}
.part-fir .fir-r .r-title p{width: 390px;height: 12px;background: url("../images/tj_bg.png") no-repeat;background-size: contain;margin-top: 8px;}
.part-fir .fir-r .r-list{height: 510px;background: #fff;}
.part-fir .fir-r .r-list li{height: 170px;position: relative;}
.part-fir .fir-r .r-list li .bg{width: 512px;height: 170px;position: absolute;top: 0;left: 0;z-index: 10;background:#000;filter: alpha(opacity=47);opacity: 0.47;transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;-o-transition: all 0.3s;}
.part-fir .fir-r .r-list li.on .bg{opacity: 0;filter: alpha(opacity=0);}
.part-fir .fir-r .r-list li .img-box{width: 256px;height: 170px;overflow: hidden;}
.part-fir .fir-r .r-list li .img-box img{width: 256px;height: 170px;}
.part-fir .fir-r .r-list li .info{width:256px;height:170px;background: #e3463d;color: #fff;position: relative;padding: 25px 20px;box-sizing: border-box;}
.part-fir .fir-r .r-list li .info.r:after{content: "";  display:inline-block;width:0;height:0;border-top: 13px solid transparent;border-right: 12px solid #e3463d;border-bottom: 13px solid transparent;position: absolute;top: 50%;left: -12px;margin-top: -7px;z-index: 2}
.part-fir .fir-r .r-list li .info.l:after{content: "";  display:inline-block;width:0;height:0;border-top: 13px solid transparent;border-left: 12px solid #e3463d;border-bottom: 13px solid transparent;position: absolute;top: 50%;right: -12px;margin-top: -7px;z-index: 2}
.part-fir .fir-r .r-list li .info p.tit{color: #fff;font-size: 18px;font-weight: bold;margin-bottom: 12px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.part-fir .fir-r .r-list li .info .con{font-size: 14px;margin-bottom: 10px;height: 0;transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;-o-transition: all 0.3s;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.part-fir .fir-r .r-list li .info p.line{ width: 40px;height: 4px;background: #94c1ff;}
.part-fir .fir-r .r-list li.on .info .con{height: 40px;}


/*都在关注*/
.part-sec .sec-l{width: 830px;height: 460px;background: #fff;}
.part-sec .sec-l h3.title{ padding: 25px 0 30px;}
.part-sec .sec-l h3.title span{color: #313233;font-size: 18px;font-weight: bold;margin-right: 16px;}
.part-sec .sec-l h3.title  a{font-size: 14px;font-weight: bold;color: #bebfc4;}
.part-sec .sec-l h3.title  a:hover{color: #e3463d;}
.part-sec .sec-l .follow{width: 415px;height: 460px;float: left;padding: 6px 30px;box-sizing: border-box;}
.part-sec .sec-l .follow ul.fol-list li{height: 72px;border-bottom: 1px solid #f2f3f7;line-height: 72px;}
.part-sec .sec-l .follow ul.fol-list li:last-child{border-bottom: 0;}
.part-sec .sec-l .follow ul.fol-list li:hover{background: #fcfcfd;}
.part-sec .sec-l .follow ul.fol-list li:hover p{color: #e3463d}
.part-sec .sec-l .follow ul.fol-list li em{font-size: 16px;color: #cacdde;font-family: "Impact";float: left;}
.part-sec .sec-l .follow ul.fol-list li p{float:left;max-width:319px;font-size: 16px;color: #313233;padding-left: 15px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.part-sec .sec-l .follow ul.fol-list li.red em{color: #f55047;}
.part-sec .sec-l .follow ul.fol-list li.fir .img-box{width: 108px;height: 72px;overflow: hidden;position: relative;}
.part-sec .sec-l .follow ul.fol-list li.fir .img-box em{display: inline-block;height: 30px;width: 30px;background: url("../images/one.png") no-repeat;position: absolute;top: 0;left: 0;}
.part-sec .sec-l .follow ul.fol-list li.fir .img-box img{width: 100%;height: 100%;object-fit: cover;}
.part-sec .sec-l .follow ul.fol-list li.fir .info{width: 220px;}
.part-sec .sec-l .follow ul.fol-list li.fir .info p{line-height: 30px;width: 220px;}
.part-sec .sec-l .follow ul.fol-list li.fir .info p.con{color: #a6a7ab;font-size: 14px;}
.part-sec .sec-l .hot{width: 415px;height: 460px;float: right;padding-right: 30px;box-sizing: border-box;}
.part-sec .sec-l .hot .hot-list li{height: 48px;line-height: 48px;margin-bottom: 2px;}
.part-sec .sec-l .hot .hot-list li em{float: left;background: #ebecf2;display: inline-block;width: 48px;color: #b3b6c4;font-size: 16px;font-family: "Impact";text-align: center;}
.part-sec .sec-l .hot .hot-list li p{float: left;background: #ebecf2;color: #a2a4ab;font-size: 14px;width: 245px;padding-right: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;-o-transition: all 0.3s;}
.part-sec .sec-l .hot .hot-list li.fir{height: 72px;}
.part-sec .sec-l .hot .hot-list li.fir em{display: inline-block;width: 72px;height: 72px;line-height:72px;background: #ff6666;font-size: 30px;color: #fff;border-radius: 13px 0 0 0;}
.part-sec .sec-l .hot .hot-list li.fir p{font-size: 16px;color: #fff;background: #ff8c8c;height: 72px;line-height: 72px;width: 310px;box-sizing: border-box;padding-left: 20px;padding-right: 14px;}
.part-sec .sec-l .hot .hot-list li.fir i{display: inline-block;width: 38px;height: 18px;background: url("../images/icon_hot2.png") no-repeat;background-size: contain;margin: 0 0 -4px 6px;}
.part-sec .sec-l .hot .hot-list li.sec{height: 62px;}
.part-sec .sec-l .hot .hot-list li.sec em{display: inline-block;width: 62px;height: 62px;line-height:62px;background: #ff876b;font-size: 24px;color: #fff;}
.part-sec .sec-l .hot .hot-list li.sec p{font-size: 16px;color: #fff;background: #ffa591;height: 62px;line-height: 62px;width: 290px;box-sizing: border-box;padding-left: 20px;padding-right: 14px;}
.part-sec .sec-l .hot .hot-list li.thr{height: 52px;}
.part-sec .sec-l .hot .hot-list li.thr em{display: inline-block;width: 52px;height: 52px;line-height:52px;background: #ffb63d;font-size: 18px;color: #fff;}
.part-sec .sec-l .hot .hot-list li.thr p{font-size: 16px;color: #fff;background: #ffcd78;height: 52px;line-height: 52px;width: 270px;box-sizing: border-box;padding-left: 20px;padding-right: 14px;}
.part-sec .sec-l .hot .hot-list li:hover p{width: 310px;}

.part-sec .sec-r{width: 350px;}
.part-sec .sec-r li{width: 350px;height: 86px;background: #fff;margin-bottom: 8px;padding: 10px;box-sizing: border-box;position: relative;}
.part-sec .sec-r li .img-box{width: 96px;height: 64px;overflow: hidden;}
.part-sec .sec-r li .img-box img{width: 100%;height: 100%;object-fit: cover;}
.part-sec .sec-r li .info{width: 227px;}
.part-sec .sec-r li .info p{width: 227px;font-size: 15px;color: #313233;font-weight: bold;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: 24px;padding-top:2px;padding-left: 10px;box-sizing: border-box;}
/*.part-sec .sec-r li:hover{background: #fff2f2;color: #e3463d;}*/
.part-sec .sec-r li:hover em{content:"";display: inline-block;width: 4px;height: 86px;background:#f55047;position: absolute;top: 0;left: 0;z-index: 2}

/*中间部分*/
.midBox{width: 100%;height: 400px;background: #c43c35;}
.qunar {width: 1200px;height: 400px;position: relative;overflow: hidden;padding: 60px 0;box-sizing: border-box;}
.qunar .img-box{width: 420px;height: 280px;overflow: hidden;}
.qunar .img-box img{width: 100%;height: 100%;object-fit: cover;}
.qunar .e_pic_wrap {z-index: 1;white-space: nowrap;width: 1200px;}
.qunar .e_pic_wrap li {position: relative;display: inline;width: 1200px;overflow: hidden;}
.qunar .e_flt_inf {position: absolute;right: 0;top: 0;width: 724px;height: 280px;border: 8px solid #951e18;z-index: 20;;white-space: normal;word-wrap: break-word;padding: 28px 157px 35px 35px;box-sizing: border-box;color: #ffdbab;}
.qunar .e_flt_inf:after{content: "";  display:inline-block;width:0;height:0;border-top: 18px solid transparent;border-right: 15px solid #951e18;border-bottom: 18px solid transparent;position: absolute;top: 37px;left: -23px;}
.qunar .e_flt_inf h2 {font-size: 28px;color: #ffdbab;font-weight: bold;margin-bottom: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.qunar .e_flt_inf h2 a {color: #ffdbab;}
.qunar .e_flt_inf .t_info {height: 84px;font-size: 14px;color: #edccb7;overflow: hidden;line-height: 27px;margin-bottom: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.qunar .e_flt_inf .t_info a {color: #edccb7;}
.qunar .e_flt_inf div.tab a{display: inline-block;padding: 9px 17px;color: #edccb7;font-size: 14px;background: #d26856;margin-right: 10px;}
.qunar .prev, .qunar .next {position: absolute;z-index: 30;display: block;}
.qunar .prev {bottom: 75px;right: 72px;}
.qunar .next {bottom: 75px;right: 20px;}
.qunar .prev a{display: block;width: 40px;height: 40px;overflow: hidden;background: url("../images/arrow_pic2.png") no-repeat scroll 0 0;}
.qunar .next a{display: block;width: 40px;height: 40px;overflow: hidden;background: url("../images/arrow_pic2.png") no-repeat scroll 0 0;}
.qunar .prev a {background-position: 0 0;}
.qunar .prev a:hover {background-position: -90px 0;}
.qunar .next a {background-position: -45px 0;}
.qunar .next a:hover {background-position: -135px 0;}

/*专题列表*/
.listBox{padding-top: 70px;padding-bottom: 55px;}
.listBox ul.zt-list li{float: left;width: 360px;min-height: 30px;margin-bottom: 50px;margin-right: 60px;}
.listBox ul.zt-list li:nth-child(3n){margin-right: 0;}
.listBox ul.zt-list li div.tit{border-bottom: 2px solid #dee1e3;line-height: 36px;}
.listBox ul.zt-list li div.tit em{display: inline-block;    max-width: 302px;
    padding-right:35px;height: 36px;    background: #f55047 url(../images/ic.png?v=2) no-repeat right 0;background-size: contain;}
.listBox ul.zt-list li div.tit em{font-size: 20px;line-height:36px;color: #fff;font-weight: bold;padding-left: 18px;box-sizing: border-box;}
.listBox ul.zt-list li div.tit a{color: #bebfc4;font-weight: bold;font-size: 14px;}
.listBox ul.zt-list li div.tit a:hover{color: #fa736b;}
.listBox ul.zt-list .itemlist{margin-bottom: 15px;padding-top: 10px;height: 185px;}
.listBox ul.zt-list .itemlist a{display: block;position:relative;padding-left:12px;box-sizing:border-box;font-size: 16px;line-height:37px;color: #313233;width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.listBox ul.zt-list .itemlist a:hover{color: #f55047;}
.listBox ul.zt-list .itemlist a:before{content: "";display: inline-block;width: 5px;height: 5px;border-radius: 50%;background: #f55047;position: absolute;left: 0;top:17px;}
.listBox .loading{text-align: center;}
.listBox .loading a{display: inline-block;width: 158px;height: 44px;border-radius: 6px;text-align: center;line-height: 44px;border: 1px solid #8d8e91;font-size: 16px;color: #313233;}
.listBox .loading a:hover{background: #f2f2f2;}

.dad {/*height: 80px;*/margin-bottom: 15px;overflow: hidden;}
.dad img{*height:80px;min-height: 80px;width: 1200px;}