.contain{background: #f2f3f7;padding-bottom: 130px;}
.nav_box{background: #f2f3f7;}
.footer.gray{background: #fff;margin-top: 0;}
/*面包屑*/
.bread{width:100%; height:62px;}
.bread p{width: 1000px; margin: 0 auto; line-height: 60px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 14px; color: #747578; margin: 0 3px;}
.bread p a:hover{color: #ed4037;}

.category{background: #fafafc;border-bottom: 1px solid #f2f3f7;}
.category .fir{width: 100px;text-align: center;color: #313233;background: #fafafc;height: 56px;line-height: 56px;font-size: 14px;}
.category .cate-r{background: #fff;width: 1100px;}
.category .cate-r ul li{float: left;height: 56px;line-height: 56px;font-size: 14px;}
.category .cate-r ul li a{display: inline-block;line-height: 56px;padding: 0 30px;color: #747578;}
.category .cate-r ul li a:hover, .category .cate-r ul li.curr a{color: #ed4037;}
.filter{background: #fff;height: 56px;line-height: 56px;}
.filter .fil a{display:inline-block;height:56px;line-height: 56px;padding: 0 22px;font-size: 16px;color: #37373b;font-weight: bold;position: relative;cursor: pointer;}
.filter .fil a:hover{color: #ed4037;}
.filter .fil a.curr{color: #ed4037;}
.filter .fil a.curr:after{content: "";display:inline-block;width: 65px;height: 4px;background: #f44e45;position: absolute;bottom: 0;left: 22px;}
.filter em{font-size: 14px;color: #bebfc4;padding-right: 20px;}

/*专题列表*/
.listBox{padding-top: 40px;}
.listBox ul.list li{width: 386px;height: 460px;background: #fff;float: left;margin-right: 20px;margin-bottom: 33px;}
.listBox ul.list li:nth-child(3n){margin-right: 0;}
.listBox ul.list li .img-box{width: 386px;height: 256px;overflow: hidden;position: relative;}
.listBox ul.list li .img-box img{width: 100%;height: 100%;object-fit: contain;display:block;}
.listBox ul.list li .img-box em{display: inline-block;width: 60px;height: 30px;padding-left:12px;box-sizing:border-box;line-height:30px;font-size: 14px;color: #fff;background-image: -moz-linear-gradient( 180deg, rgb(234,75,66) 0%, rgb(255,93,84) 100%);background-image: -webkit-linear-gradient( 180deg, rgb(234,75,66) 0%, rgb(255,93,84) 100%);background-image: -ms-linear-gradient( 180deg, rgb(234,75,66) 0%, rgb(255,93,84) 100%);border-radius: 0 20px 0 0 ;position: absolute;left: 0;bottom: 0;}
.listBox ul.list li .info{padding: 26px;box-sizing: border-box;position: relative;height: 204px;}
.listBox ul.list li .info p.tit{font-size: 20px;color: #313233;width:100%;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 12px;}
.listBox ul.list li .info p.con{font-size: 15px;color: #747578; width:100%;line-height:23px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.listBox ul.list li .info p.num{position: absolute;bottom: 26px;left: 26px;font-size: 14px;color: #bebfc4;}
.listBox ul.list li:hover{box-shadow: 0px 7px 23px 0px rgba(7, 13, 47, 0.07);}

.pagination{    margin-top: 50px;}
.pagination .inner {position:relative;    text-align: center;}
.pagination .inner li{  display: inline-block;  vertical-align: middle;  min-width: 18px;  color: #797a82;  margin: 0 0 0 10px;  text-align: center;  font-size: 14px;  cursor: pointer;  text-decoration: none;  border-radius: 3px;}
.pagination .inner li a{color:#797a82;}
.pagination .inner li a:hover{color:#ff0f3f;}
.pagination .inner li.page_current{color: #ff0f3f;}
.pagination .inner li.page_disabled{color:#bebebe;}
.pagination .inner .page_info{display:none;}

