*{padding: 0;margin: 0;}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;height:100%;max-width: 1080px;margin: 0 auto;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{background-color: #f5f5f5;height:100%;}
a,li{text-decoration: none;list-style: none;color: #333;outline: 0;}
.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}
.mt10{margin-top: .2rem;}
.padTop20 .l_btn{height: 1rem;margin-top: 20px;}
.padTop20 .r_btn{height: 1rem;margin-top: 20px;}
#p1{transform:none!important;}
#p2 {height: 100%;}

/*提示*/
.add-tip{height: .8rem;background: rgb(255,245,225);position: relative;}
.add-tip p{padding: .2rem 1rem .2rem .2rem;line-height: .36rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .28rem;}
.add-tip i{display: inline-block;width: .64rem;height: 100%;background: url(../images/close.png) center center no-repeat;background-size: .32rem .32rem;position: absolute;top: 0;right: .3rem;}

/*地址信息*/
.address{width: 100%;background: #fff;overflow: hidden;font-size: .28rem;}
.address a{display: block;height: 1rem}
.address .address-box{padding: 0 .9rem 0 .24rem;position: relative;border-top: 1px solid #f1f1f1}
.address .icon-map{width: .31rem;height: .38rem;display: inline-block;background: url(../images/ic_address.png) no-repeat;background-size: contain;float: left;margin-top: .3rem;}
.address .address-info{padding-left: .5rem;}
.address .address-info.empty {padding-top: .3rem;font-size: .32rem;font-weight: bold;}
.address .address-info .name{float: left;}
.address .address-info .tel{float: left;margin-left: .3rem;}
.address .address-info .address-txt{width: 100%;display: block;color: #595959;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.address .address-info .address-txt-top{float: left;margin-top: .1rem;}
.address .icon-right{width: .14rem;height: .24rem;position: absolute;right: .4rem;top: .38rem;background: url(../images/right_icon.png);background-size: .14rem auto;}
/*服务时间*/
.address .icon-map2{width: .32rem;height: .32rem;display: inline-block;background: url(../images/ic_time.png) no-repeat;background-size: contain;float: left;margin-top: .3rem;}
.time_box span{display: inline-block;font-weight: bold;}
.time_box{height: .7rem;font-size: .32rem}
.time_box.active{line-height: 1rem}
.time_choose{float: right}
/*商品详情*/
.cart-main{margin: .2rem 0 1.8rem 0;}
.cart-main li{background: #fff;}
.cart-list{margin-top: .2rem;}


.cart-main li a{display: block;}
.cart-main li .shop-name{height: .8rem;line-height: .8rem;border-bottom: 1px solid #f1f1f1;border-top: 1px solid #f1f1f1;padding-left: .2rem;}
.shop-name-circle{padding: .2rem;float: left;}
.shop-list .shop-name-circle{padding: .8rem .2rem;}
.shop-name-circle span{display: block;width: .34rem;height: .34rem;background: url(../images/spw.png);background-size: .34rem .34rem;}
.shop-name-circle.active span{background: url(../images/spw1.png);background-size: .34rem .34rem;}
.shop-name .shop-name-info a{display: -webkit-box;}
.shop-name .shop-name-info span{display: block;font-size: .28rem;max-width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.shop-name .shop-name-info i{width: .4rem;height: .8rem;display: block;background: url(../images/right.png) center center no-repeat;background-size: .4rem .4rem;}
.shop-list ul{padding: 0 .2rem;}
.shop-list ul li{padding: .2rem 0;}
.shop-info a{display: -webkit-box;}
.shop-info .shop-info-img{width: 2rem;height: 2rem;float: left;margin-right: .2rem;}
.shop-info .shop-info-img img{display: block;width: 100%;height: 100%;}
.shop-info .shop-info-txt{height: 2rem;}
.shop-info .shop-info-txt h3{font-weight: bold;font-size: .3rem;margin-bottom: .2rem;}
.shop-info .shop-info-txt .shop-info-color{color: #9b9b9b;height: .34rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: .2rem;}
.shop-info .shop-info-txt .shop-info-price{margin-top: .5rem;color: #9b9b9b;}
.shop-info .shop-info-txt .shop-info-price .price{margin-right: .2rem;color: #fff;font-size: .24rem;background: #ff674e;padding: .05rem .1rem;font-weight: bold;}
.shop-info .shop-info-txt .shop-info-num{color: #9b9b9b;}
.cart-list .shop-item{color: #60656f;border-top: 1px solid #f1f1f1;padding: .24rem .2rem;font-size: .28rem;margin-top: .3rem;}


/*商品数量加减*/
.goods_tp{background: #fff;margin-bottom: .22rem;width: 2.2rem;float: right;}
.goods_box{font-size: .26rem;color:#999;line-height: .5rem;position: relative;display: inline-block;}
.goods_box input[type="text"]{height: .5rem;width: 83%;line-height: .5rem;border:none;font-size: .26rem;padding-left: .2rem;margin-left: .3rem;-webkit-appearance: none;}
input[type="text"]::-webkit-input-placeholder { color:#404040;}
input[type="text"]:-moz-placeholder { color:#404040;}
input[type="text"]::-moz-placeholder { color:#404040;}
input[type="text"]:-ms-input-placeholder {color:#404040;}

#shop-info-price a{display: inline-block;}

.sizeBtn{float: right;}
.sizeBtn .numbtn{font-size: .3rem; border:1px solid #c5c6c9; border-radius: 50%; display: inline-block; width: .5rem; height: .5rem; text-align: center;line-height: .5rem;}
.sizeBtn .shop-count,.sizeBtn .count{ -webkit-appearance: none;display: inline-block;border:none;width: .88rem;text-align: center; font-size: .28rem;line-height: .5rem;}
.sizeBtn .numbtn{color: #f43e3e}

/*点击录音*/
.cart-main ul .voice_li{padding:.38rem .24rem .24rem;font-size: .3rem;color: #828282;margin-top: .2rem}
.cart-main ul .vo_name{font-size: .3rem;color: #333;font-weight: bold}
.cart-main ul .voice_li span{display: inline-block;padding: .2rem 0;}
.cart-main ul .voice_li .vo_info{padding: .2rem .4rem;float: right;border:1px solid #c0c1c4;border-radius: .4rem;color: #333}
.cart-main ul .note_li{padding: .38rem .24rem .38rem .24rem;}
/*图片上传*/
.img_box{margin:.38rem .3rem 0 0}
.img_box li,.video_box dd,.allarea_box dd{width: 2rem; height: 2rem; border-radius: .12rem; background-color: #f5f5f5; float: left; position: relative; margin-bottom: .2rem;}
.img_box li:nth-child(3n-1){margin-left: .3rem; margin-right: .3rem;}
.img_show {width: 2rem; height: 2rem; border-radius: .12rem; overflow: hidden; position: relative;}
.del_btn{width: .44rem; height: .44rem; border-radius: 50%; background-color: rgba(0,0,0,.67); position: absolute;top: -.18rem; right: -.18rem; color: #fff; font-size: .5rem; text-align: center;  font-style: normal; line-height: .38rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .24rem; color: #a2a4ab; text-align: center;width: 1.1rem; margin: auto; line-height: 1.25em;}
.upload_btn img,.addbtn img{width: .61rem; height: .53rem; margin: auto; display: block; margin-top: .36rem; margin-bottom: .2rem;}
.upload_btn input{width: 2.1rem; height: 2.1rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 2rem; height: 2rem;}
/*商家备注*/
.voice_li textarea{display: block; width: 100%; padding: 0.2rem;color:#828282; box-sizing: border-box; min-height: 2.5rem; border: 0; outline: 0; background: transparent; font-size: .3rem;}
.voice_li .textra_div{border:1px solid #c0c1c4;border-radius:.04rem;margin-top: .38rem;     width: 100%;}

/*时间弹窗*/

#pickuptimeContener{position: fixed;left: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: 4;}
.pickuptime-close-empty{position: absolute;height: 100%;width: 100%;z-index: 0;}
#pickuptime{position: absolute;bottom: 0;left: 0;width: 100%;padding-bottom: .55rem;z-index: 1;background-color: #fff;}
.pickuptime-title{border-bottom: 1px solid #e6e7ed;}
.pickuptime-title p{padding: .35rem;height: .4rem;line-height: .4rem;text-align: center;font-size: .32rem;cursor: pointer;}
.pickuptime-title .pickuptime-close{float: left;}
.pickuptime-title .pickuptime-ok{float: right;color: #4884ff;}
.pickuptime-box{margin-top: .4rem;padding: 0 .25rem;font-size: 0;text-align: center;}
.pickuptime-box b{font-size: .3rem;font-weight: bold;text-align: left;display: block;}
.pickuptime-datap{box-sizing: border-box;width: calc(33.333% - .2rem);height:.68rem;line-height: .68rem;color: #39393b;border: 1px solid #eee;margin: .2rem .1rem 0;text-align: center;display: inline-block;font-size: .28rem;border-radius: .05rem;}
.pickuptime-datap.pickuptime-data-on{border-color:#fb6551;background-color:#fff8f7;color:#fb624e;}
.pickuptime-data .pickuptime-datap{height:auto;border:0;margin-top:0;border:1px solid #eee;margin-top:.2rem;}
.pickuptime-data .pickuptime-datap.pickuptime-data-on{border:1px solid #fb6551;background-color:#fff8f7;color:#fb624e;}

.pickuptime-data{margin-top: .1rem}
.pickuptime-time{margin-top: .1rem}


/*底部*/
.footer{position: fixed;bottom: 0;background: #fff;height: .88rem;left: 0;right: 0;border-top: 1px solid #ebebeb;padding: .2rem .24rem;    padding-bottom: calc(.2rem + env(safe-area-inset-bottom));    padding-bottom: calc(.2rem + constant(safe-area-inset-bottom))}
.footer .shop-name-circle{display: -webkit-box;line-height: .8rem;}
.footer .shop-name-circle span{background: url(../images/spw.png) center no-repeat;height: .8rem;background-size: .34rem .34rem;}
.footer .shop-name-circle.active span{background: url(../images/spw1.png) center no-repeat;background-size: .34rem .34rem;}
.footer .shop-name-circle em{margin-left: .2rem;font-size: .3rem;}
.footer .account-btn{height: .88rem;background: #ff674e;line-height: .88rem;text-align: center;width: 100%;margin: 0 auto;}
.footer .disabled{background: #b6b6b6;}
.footer .account-btn a{display: block;font-size: .32rem;color: #fff;padding: 0 1rem;}




.hide {display: none;}
/* 头部 */
.header {background: #fff;border-bottom: 1px solid #d2d2d2;}
.header .title h2 {font-size: .3rem;color: #666;}
.header {height: 1rem;text-align: center;}
.header.bbline {border-bottom: 1px solid #d2d2d2;}
.header.bgcf9 {background: #f9f9f9;}
.header .l_btn , .header .r_btn {position: absolute;top:0;height: 100%;line-height: 1rem;z-index: 2;color: #999;font-size: .3rem;}
.header .l_btn a , .header .r_btn a {color: #999;}
.header .l_btn {left:0;line-height: 1rem;}
.header .r_btn {right: 0;}
.header .l_btn .goback {display: block;}
.header .l_btn .goback img {width: .28rem;margin:0 .2rem;vertical-align: middle;}
.header .l_btn .goback1 img {width: .48rem;margin:0.28rem 0.28rem;}
.header .r_btn a {display: inline-block;}
.header .title {width: 100%;font-size: .36rem;}
.header .title h2 {line-height: 1rem;padding:0 1.5rem;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-size: .34rem}
.header .title.fs3fc6 {font-size: .3rem;color: #666;}
.header .title input {border:0;outline:0;}
.header .keyword {width: 100%;height: .6rem;line-height: .6rem;margin:.2rem 0;padding:0 .2rem;background: #fff;border-radius:.4rem;font-size: .26rem;}
.header .submit {position: absolute;right:0.2rem;top:50%;margin-top: -.13rem;display: block;width: .26rem;height: .26rem;background: url(../images/search.png) center center no-repeat;background-size: contain;font-size: 0;}
.header .logo {display: block;height: 100%;}
.header .logo img {width: 1.12rem;height: auto;margin:0 .1rem;vertical-align: middle;}
.r_btn .icon-list {display: block;width: .4rem;height: .4rem;margin:.3rem .2rem;background: url(../images/list.png) center center no-repeat;background-size: contain;}
.r_btn .icon-list-h {display: block;width: .4rem;height: .4rem;margin:.3rem .2rem;background: url(../images/list_h.png) center center no-repeat;background-size: contain;}
.r_btn .icon-showbtm {display: block;width: .4rem;height: .4rem;margin:.3rem .2rem;background: url(../images/list2.jpg) center center no-repeat;background-size: contain;}



/* 选择收货地址 */
.header .r_btn a {padding:0 .2rem;color: #666;font-size: .3rem;padding-right: 0.3rem;font-size: .24rem;}


/* 地址列表 */
.null {padding-top: 1.6rem;text-align: center;}
.null p {font-size: .3rem;color: #666;}
.add_address {background-color: #e53a3c; border-radius: 5px; width: 2.54rem; height: .6rem; line-height: .6rem; overflow: hidden; display: block; margin: .16rem auto 0; color: #fff; text-align: center;}

.addresslist .item {border-bottom: 1px solid #eee;padding: .4rem 1.17rem .4rem .3rem;font-size: .24rem;overflow: hidden; background-color: #fff; position: relative;}
.addresslist .item .a_set_addr {display: block;}
.addresslist .item p {line-height: .44rem;color: #535353;}
.addresslist .item p span {margin-right: .3rem;font-size: .3rem;}
.addresslist .item p span.tel_num {margin-right: .1rem;font-size: .24rem;}
.btn_address {margin-top: .1rem; line-height: .44rem;overflow: hidden;}
.btn_address span {color: #999;float: right;background:rgb(208, 25, 0);color: #fff;padding: 3px 8px;border-radius: 5px;}
.addresslist .item .edit{position:absolute;right:0;top:.4rem;bottom:.4rem;width:1.17rem;border-left:1px solid #eee;text-align:center;}
.addresslist .item .edit:after{content:'';position:absolute;top:50%;left:50%;width:.36rem;height:.38rem;margin:-.19rem 0 0 -.19rem;border:0;background: url(/templates/member/touch/images/addressIcons.png?v=1) no-repeat;
    background-size: 1.57rem 1.08rem;background-position: -.53rem -.1rem;}
.addresslist .item .edit.del:after{background-position: -1.11rem -.1rem;}

/* 管理 */
.manager .btn_address a {float: right;margin-right: .3rem;line-height: .44rem;color: #999;}
.manager .btn_address a i {display: inline-block;width: .5rem;height: .32rem;float: left;margin-top:.06rem;background-position:center center;background-repeat: no-repeat;background-size: contain;}
.edit_btn i {background-image:url(../images/edit.png);}
.del_btn i {background-image:url(../images/del2.png);}

.addresslist .empty {margin-top: 1.6rem;text-align: center;}
.addresslist .empty p {font-size: .3rem;color: #666;}
.add_address {background-color: #e53a3c; border-radius: 5px; width: 2.54rem; height: .6rem; line-height: .6rem; overflow: hidden; display: block; margin: .16rem auto 0; color: #fff; text-align: center;}

.addaddress .edit {margin-top: .3rem;background: #fff;}
.addaddress .edit li {    border-bottom: 1px solid #eee;line-height: .65rem;padding: .23rem 0.15rem;font-size: .26rem;}

.addaddress .edit li label {float: left; width: 1.5rem; text-align: right; font-size: .26rem;}
.addaddress .edit li span {display: block;margin-left: 1.6rem; padding-right: 1rem; position: relative;}
.addaddress .edit li span * {color: #666;}
.addaddress .edit input ,.addaddress .edit input:focus {width: 100%;border:0;outline:0;}
.addaddress .edit select {margin-right: .1rem;padding:.05rem 0;outline:medium;border:1px solid rgb(169, 169, 169);font-size: .26rem;font-family: "Microsoft Yahei";}
.edit_ft {margin-top: .3rem;}
.edit_ft a {display:block;width:100%;height:.96rem;background:#ff472e;text-align:center;line-height:.96rem;font-size:.35rem;color:#fff;border:0;}

.addAddress{position:fixed;;bottom:0;left:0;right:0;width:100%;height:.96rem;background:#ff472e;text-align:center;line-height:.96rem;font-size:.35rem;color:#fff;border:0;}
.addresslist{margin-bottom: .96rem;}
/*.fixed body {position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0;}

h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500}
a.gz-addr-header-btn:hover{color: #fff;}*/

/* sprite */
/*.gz-addr-header-back:after{background: url('../images/header_back.png') no-repeat; background-size: .4rem auto;}
.gz-rbtn:after,
.gz-addr-active s:after,
.gz-addr-seladdr dd:after,
.gz-sel-addr-close:after,
.gz-sel-addr-list li:after {background: url('/templates/member/touch/images/addressIcons.png?v=1') no-repeat; background-size: 1.57rem 1.08rem;}

.gz-address {position: absolute; z-index: 50; width: 100%; height: 100%; left: 0; top: 0; overflow: hidden; background: #3d3d3d;}
.gz-addr-wrap {position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; background: #eee;}*/

/* 头部 */
/*.gz-addr-header {position: relative; height: 1rem; line-height: 1rem; background: #fff; border-bottom: 1px solid #f2f2f2;}
.gz-addr-header-back {position: absolute; left: 0; top: 0; bottom: 0; width: 1rem;}
.gz-addr-header-back:after {content: ''; display: block; height: .5rem; margin: 0.33rem 0 0 .3rem;}
.gz-addr-header h2 {padding: 0 1.5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: center; font-size: .34rem;}
.gz-addr-header-btn {position: absolute; right: 0; top: 0; bottom: 0; width: 1.2rem; text-align: center; font-size: .24rem;}
a:hover.gz-addr-header-btn {text-decoration: none;}*/

/* 地址列表 */
.gz-addr-list {position: absolute; left: 0; top: 1rem; right: 0; bottom: .96rem; margin-top: 1px; overflow-y: auto;}
.gz-addr-list .empty {position: relative; top: 4rem; height: .4rem; line-height: .4rem; font-size: .3rem; text-align: center;}
.gz-addr-list article {position: relative; background: #fff; border-bottom: 1px solid #eee; padding: .4rem 1.17rem .4rem .3rem;}
.gz-linfo {padding-right: .3rem;}
.gz-linfo s {display: none;}
.gz-linfo h5 {height: .6rem; line-height: .6rem; font-size: .3rem;}
.gz-linfo h5 sup {font-size: .26rem; margin-left: .24rem; top: -.05em;}
.gz-linfo p {font-size: .24rem; line-height: .32rem; color: #666;}
.gz-rbtn {position: absolute; right: 0; top: .4rem; bottom: .4rem; width: 1.17rem; border-left: 1px solid #eee; text-align: center;}
.gz-rbtn:after {content: ''; position: absolute; top: 50%; left: 50%; width: .36rem; height: .38rem; margin: -.19rem 0 0 -.19rem; border: 0;}
.gz-rbtn-edit:after {background-position: -.53rem -.1rem;}
.gz-rbtn-del:after {background-position: -1.11rem -.1rem;}

/* 地址选中 */
.gz-addr-list .gz-addr-active {padding-left: 1rem;}
.gz-addr-active s {display: block; position: absolute; left: .3rem; top: .4rem; bottom: .4rem; width: .65rem;}
.gz-addr-active s:after {position: absolute; left: 0; top: 50%; content: ''; width: .4rem; height: .28rem; margin-top: -.07rem; background-position: -1.11rem -.68rem;}
.gz-addr-active .gz-linfo h5, .gz-addr-active .gz-linfo h5 sup {color: #ff472e;}

/* 新增地址按钮 */
.gz-addr-addnewbtn {position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: .96rem; background: #ff472e; text-align: center; line-height: .96rem; font-size: .35rem; color: #fff; border: 0;}

/* 新增地址 */
 {-webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s;}
.gz-addr-addnew {margin: .3rem 0; background: #fff;}
.gz-addr-addnew dl {border-bottom: 1px solid #eee; line-height: .65rem; padding: .23rem 0; font-size: .26rem;}
.gz-addr-addnew dt {float: left; width: 1.78rem; text-align: center; color: #333;}
.gz-addr-addnew dd {position: relative; overflow: hidden; padding: 0 .28rem;}
.gz-addr-addnew dd input {width: 100%; height: .65rem; border: 0; line-height: .65rem; font-size: .26rem; outline: 0;}
.gz-no-sel dd {color: #a9a9a9;}
.gz-addr-seladdr dd {padding-right: .5rem; white-space: nowrap; text-overflow: ellipsis;}
.gz-addr-seladdr dd:after {background: url('/templates/member/touch/images/addressIcons.png?v=1') no-repeat; background-size: 1.57rem 1.08rem;content: ''; position: absolute; right: .28rem; top: 50%; width: .09rem; height: .18rem; margin-top: -.09rem; background-position: -.09rem -.74rem;}
.gz-addr-safenewbtn {display: block; width: 100%; height: .96rem; background: #ff472e; text-align: center; line-height: .96rem; font-size: .35rem; color: #fff; border: 0;}


/* 选择区域 */
.gz-sel-addr {position: absolute; z-index: 100002; left: 0; right: 0; bottom: 0; height: 8.3rem; background: #fff; font-size: .25rem; -webkit-transition: all 0.5s; transition: all 0.5s;}
.gz-sel-addr-hide {bottom: -8.3rem;}
.gz-sel-addr-header {position: relative; height: .9rem; line-height: .9rem;}
.gz-sel-addr-header h3 {position: absolute; left: .77rem; top: 0; right: .77rem; bottom: 0; text-align: center; font-size: .3rem; color: #848689;}
.gz-sel-addr-close {position: absolute; top: 0; right: 0; bottom: 0; width: .77rem; text-align: center; border: 0; background: none;}
.gz-sel-addr-close:after {content: ''; position: absolute; top: 50%; left: 50%; width: .21rem; height: .21rem; margin: -.1rem 0 0 -.1rem; border: 0; background-position: -.76rem -.72rem;}
.gz-sel-addr-nav {width: 1000%; height: .58rem; border-bottom: 1px solid #d9d9d9; line-height: .58rem;}
.gz-sel-addr-nav li {float: left; padding: 0 .3rem;}
.gz-sel-addr-nav li span {display: block; padding: 0 .07rem;}
.gz-sel-addr-nav .gz-curr span {border-bottom: 1px solid #f23131; color: #f23131;}
.gz-sel-addr-list {position: absolute; left: 0; top: 1.7rem; right: 0; bottom: .05rem; overflow-y: auto;}
.gz-sel-addr-list li.loading {height: 5rem; line-height: 5rem; text-align: center;}
.gz-sel-addr-list li.loading:after, .gz-sel-addr-list li.n:after {display: none;}
.gz-sel-addr-list li {position: relative; height: .76rem; padding: 0 .32rem; line-height: .76rem;}
.gz-sel-addr-list li:after {content: ''; position: absolute; top: 50%; right: .32rem; width: .08rem; height: .15rem; margin: -.07rem 0 0 -.04rem; border: 0; background-position: -.42rem -.76rem;}
.gz-sel-addr-list li.gz-curr {color: #f23131;}


/* 遮罩 */
.gz-sel-addr-active {-webkit-transform: scale(.85,.85); transform: scale(.85,.85) translateY(-.3rem);}
.gz-sel-addr-mask {display: none; position: absolute; z-index: 100001; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}

/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.huoniao_iOS .gz-addr-header{padding-top: 20px;}
.huoniao_iOS .gz-addr-list{top: calc(1rem + 20px);}
.huoniao_iOS .gz-addr-header-btn, .huoniao_iOS .gz-addr-header-back{top: 20px;}

#p3{position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0;background: #eee;}
.add_bac{position: absolute;z-index: 50;  width: 100%;height: 100%;left: 0;top: 0;overflow: hidden;background: #3d3d3d;display: none;}
.add_list{    -webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;}
