.topfixed{position: fixed!important;top:0;left:0;right:0;z-index: 100!important;    box-shadow: 0 0 0.1rem #eee;}
body{background: #f5f5f7}
/*头部幻灯片部分*/
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .37rem!important;height:.11rem;border-radius: 1rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .11rem;height: .11rem;background: #d6e5f6;opacity: .5;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

.banner .wrapper .swiper-wrapper a{color: #fff}

.pos_sz{position: absolute;  left: .25rem;  top: 1.2rem;  box-sizing:border-box;padding-left:.24rem;color:#fff;width: 1.3rem;  height: .44rem; line-height: .44rem; z-index: 42;background-color: rgb(0, 0, 0);  opacity: 0.369; border-radius: .5rem;font-size: .28rem}
.pos_sz a{color: #fff;}
.pos_sz:after{content: ''; display: inline-block; width: .1rem; height: .1rem; border-top:.02rem solid  #fff; border-right: solid .02rem #fff; transform: rotate(135deg); margin-left: .13rem; margin-bottom: .08rem;}
.head-search-box{width: 100%; max-width: 10rem; margin: auto; position: absolute; top: 1.2rem; z-index: 2;}
.head-search{margin-left: .24rem; margin-right: .24rem; color: #fff; overflow: hidden;}
/* 搜索 */
.search-form {padding: .18rem .24rem;}
.search-form .sobj { height: .7rem;  border-radius: 3px; line-height: .7rem; display: -webkit-box;}
.search-form .inp {-webkit-box-flex: 6;position: relative; }
.search-form .inp a {display: inline-block; color: #a0a0a0; padding-left: .1rem;}
.search-form .inp p{width: 6.04rem;background: #fff;border-radius: .5rem;box-sizing: border-box;padding-left: .3rem}
.search-form .inp s {position: relative; width: .24rem; height: .24rem; margin-top: -.02rem; display: inline-block; vertical-align: middle;}
.search-form .inp s:before {position: absolute; content: ""; left: 0; top: 0; width: .16rem; height: .16rem; border: 1px solid #a0a0a0; border-radius: 50%;}
.search-form .inp s:after {position: absolute; content: ""; left: .19rem; top: .15rem; transform: rotate(-45deg); width: 1px; height: .08rem; overflow: hidden; background: #a0a0a0;}
.search-form .inp span {position: absolute; right: .15rem; top: 0; height: .7rem;  color: #787878; font-size: .3rem; text-align: center;}
.search-form .inp p input{border:none;padding-left: .15rem;font-size: .26rem}



.head-box{width: 100%; overflow: hidden;z-index: 1;background: #f5f5f7}
.head-box .head-search{ margin-left: .25rem; margin-right: .4rem; overflow: hidden; margin-top: .16rem;    margin-bottom: .16rem;}
.head-search .back-btn{float: left; margin-top: .17rem;}	
.head-search .back-btn i{display: inline-block;width: .2rem; height: .2rem; border-top: solid 2px #ababab; margin-left: .03rem; border-right: solid 2px #ababab; transform: rotate(-135deg); border-bottom-right-radius: .02rem;}
.textIn-box{width: 6rem; height: .7rem; background-color: #fff; border-radius: .32rem; float: left;}
.textIn-box i{display: inline-block; width: .28rem; height: .28rem; background-image: url(../images/search_icon.png); background-position: left top; vertical-align: middle; background-repeat: no-repeat; background-size: cover; margin-left: .26rem;  margin-top: .18rem;}
.textIn-box input{display: inline-block; width: 4.24rem; border: none; background: none; margin-left: .18rem; vertical-align: middle; font-size: .26rem; margin-top: .2rem;}
.btn-go button{font-size: .3rem; color: #787878; border: none; background: none; outline: none; line-height: .64rem;}
.btn-go{float: right;}
.search-btn{display: none;}

/*公共class*/
.pubBox{padding:.24rem;margin-bottom:.14rem;box-sizing: border-box;background:#fff;box-shadow: 0 0 .3rem rgba(231,231,231,.75);}


/*滚动信息*/ 
.tcNews{height:1.4rem;padding:.18rem .25rem;margin-bottom: 0}
.tcNews .lBox{padding:.1rem 0; width: .88rem;float: left}
.tcNews .lBox img{width: .88rem;}
.tcNews .mBox a{display: block;position: relative;}
.tcNews .mBox p{float:left;line-height:.5rem;padding:0 .1rem; font-size:.26rem;height: .5rem}
.tcNews .mBox a span{display: inline-block;vertical-align: top;}
.tcNews .mBox p span:first-child{margin-left: .2rem;margin-right: .15rem}
.tcNews .mBox p span:nth-child(3){max-width:2.6rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #ffa321}



.tcNews .mBox .swiper-wrapper{height: 1rem;}
.tcNews .pagination{display: none;}
/*滑动导航*/
.tcInfo{padding: 0.35rem 0;position: relative;overflow: hidden; padding-bottom: 0;margin-bottom: 0}
.tcInfo ul{overflow: hidden;}
.tcInfo li{ margin-bottom: .35rem;}
.tcInfo li,.convenience li{width: 20%;float: left;text-align: center;}
.tcInfo li a,.convenience li a{display: block;}
.tcInfo li span.icon-circle{padding-bottom: .16rem!important;}
.tcInfo li span.icon-circle,.convenience li span.icon-circle{display: block;width: 1.5rem;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.tcInfo li span.icon-txt,.convenience li span.icon-txt{font-size: .24rem;}
.tcInfo li span img,.convenience li span img{display: block;width: .88rem;height: .88rem;margin: 0 auto;border-radius: 50%;}
.tcInfo .swiper-wrapper{height: auto !important;margin-bottom: .1rem;}
.tcInfo .swiper-pagination-bullet{width: .09rem;height: .09rem;background: #e4e4e4;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tcInfo .swiper-pagination-bullet-active{width: .4rem!important;height:.11rem;border-radius: 1rem;background: #f88031!important;opacity: 1!important;}

/*发布信息、商家入驻*/
.publish{padding:.2rem .24rem;}
.publish li{text-align: center;float: left;width: 3.4rem;}
.publish li span{color:#fff;line-height: .8rem;font-size: .3rem;}
.publish li:first-child{margin-right: .18rem}
.publish .news-img{background: linear-gradient(45deg, #ffc851, #ffa82e );border-radius: 0.04rem;}
.merchant{background: linear-gradient(45deg, #ff7b63, #ff4849 );border-radius: 0.04rem;}
/*广告位*/

.jia_adv{padding: .3rem .24rem;background: #fff}
.jia_adv li{width: 3.4rem;height: 1.2rem;float: left}
.jia_adv li img{width: 3.4rem;height: 100%;object-fit:cover;}
.jia_adv li:first-child{margin-bottom: .18rem;margin-right: .18rem}
.jia_adv li:nth-child(2){margin-bottom: .18rem}
.jia_adv li:nth-child(3){margin-right: .18rem}
/*家政服务横向滚动*/
.jz_service{background: #fff;margin: .24rem auto;padding:.3rem 0 .3rem .3rem;}
 .jz_service .swiper-container {width: 100%;padding-bottom: .3rem;overflow:visible;margin-top: .3rem}
 .jz_service .swiper-slide {width:2.4rem;font-size: .28rem;}
  .jz_service .swiper-slide ul li{height: auto}
.jz_service .swiper-slide ul li:first-child a{display:block;width:100%;height:2.4rem;}
 .jz_service .swiper-slide ul li img{width: 100%;border-radius: .04rem;height:100%;object-fit:cover;}
 .jz_service .swiper-slide ul li:nth-child(2){margin-left: 2px;font-size: .28rem;margin-top:.15rem }
 .jz_service .swiper-slide ul li:nth-child(3){color: #ff5d2f;font-size: .32rem;margin-left: 2px;line-height: .7rem;font-weight: bold}
  .jz_service .swiper-slide ul li:last-child a{padding: .02rem .1rem;font-size: .24rem}
    .jz_service .swiper-slide ul li:last-child  .service_order{float:left;}
        .jz_service .swiper-slide ul li:last-child  .service_arrive{display:inline-block;}
    .jz_service .swiper-slide ul li .service_order{height: auto}
        .jz_service .swiper-slide ul li .service_arrive{height: auto}
  /*免预约 今日可达公共样式*/
.service_order{padding: 0 .13rem;height:.3rem;font-size:.24rem;line-height:.32rem;background-color: #ff674e;color: #fff;border:1px solid #ff674e;border-radius:.04rem;margin-right: .1rem}
.service_order a{color: #fff;}
.service_arrive{padding: 0 .13rem;height:.3rem;line-height:.32rem;font-size:.24rem;background-color: #fff;color: #ff674e;border:1px solid #ff674e;border-radius: .04rem}
.service_arrive a{color: #ff674e;}
  /*免预约 今日可达公共样式 e*/




 .jz_service .swiper-slide ul{position:relative; }
 .jz_service .swiper-slide ul li .hot{position: absolute;left: 0;top:-3px;width: .66rem;height: .44rem}


 /*最新发布*/
.newst_public{background: #fff;margin-bottom: .24rem;padding-top: .3rem}
.newst_public .content ul{background:#f5f5f7 }
.newst_public .content ul li{margin-top: .1rem;background: #fff;padding: .3rem .24rem;position: relative;}
.newst_public .content ul li:active{background: #f2f2f2}
.new_recom{position: absolute;left: .24rem;top:.23rem;width: .61rem;height: .44rem}
.newst_public .content ul li .left_b{width: 2rem;height: 2rem;float: left;}
.newst_public .content ul li .new_descrip_img{width: 100%; height: 100%; object-fit: cover;border-radius: .06rem}
.newst_public .content ul li .new_descrip_content{margin-left: 2.24rem}
.new_descrip{font-size: .32rem;max-width:4.78rem;line-height:.36rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
 .sale_after{font-size: .24rem;margin-top: .1rem}
 .sale_after img{width: .24rem;height: .27rem;vertical-align:middle;}
 .sale_after span{height: 100%;vertical-align:middle;padding-left: .1rem;color: #828282}
.newst_public .content ul li .new_descrip_content .sale_after .sale_after_span{margin-left: .23rem}
.newst_public .content ul li .new_descrip_content .new_order {margin-top:.16rem;font-size: .24rem;line-height: .25rem;vertical-align: top;height: .38rem}
.newst_public .content ul li .new_descrip_content .new_order span{display: inline-block;float: left}
.newst_public .content ul li .new_descrip_content .new_price{font-size: .28rem;color: #ff5d2f;font-weight:bold;line-height: .35rem}
.newst_public .content ul li .new_descrip_content .new_order span:first-child .price_num{font-size: .32rem;color: #ff5d2f;margin-right: .1rem;}
.newst_public .content ul li .new_descrip_content .new_order span:nth-child(2){margin-right: .1rem;}
.newst_public .content ul li .new_descrip_content .new_order span:nth-child(3){margin-right: .1rem;}
.newst_public .content ul li .new_descrip_content .new_order span:last-child{color: #a6a6a6;float: right;line-height: .35rem;margin-right: 0}

.newst_public .content ul li .new_descrip_content .new_company{font-size: .26rem;line-height:.26rem;border-top: 1px dashed #dedfe3;margin-top: .2rem;padding-top: .18rem;color: #828282;}
/*推荐商家*/
.jz_recom{background: #fff;margin-bottom: .24rem;padding: .3rem 0;}
.jz_recom .content ul{background:#f5f5f7 }
.jz_recom .content ul li{margin-top: .1rem;background: #fff;padding: .28rem .24rem .26rem;position: relative;}
.jz_recom .content ul li:active{background: #f2f2f2}
.jz_baomu .baomu_content li a{display: block}
.jz_recom .content ul li .left_b{width: 2.4rem;height: 1.6rem;float: left;}
.jz_recom .content ul li .new_descrip_img{width: 100%; height: 100%; object-fit: cover;}
.jz_recom .content ul li .new_descrip_content{margin-left: 2.64rem}
.jz_recom .content ul li .recom_zu{margin: .25rem auto 0;}
.jz_recom .content ul li .recom_zu span{padding: .05rem .15rem;background: #f0f0f5;color: #9f9fab;border-radius: .05rem}
.jz_recom .content ul li .recom_zu span{margin-right: .15rem}

.jz_recom .content ul li .sale_after .recom_sistance{float: right;line-height: .7rem;}
.jz_recom .content ul li .bm_salary{font-size: .24rem;height: .5rem;margin-top: .2rem}
.jz_recom .content ul li .bm_salary a{color: #ff5d2f;display: inline-block;}
.jz_recom .content ul li .bm_salary span{font-size: .28rem;height: 100%;line-height:.5rem;vertical-align:middle;padding-left: .1rem;font-weight: 600}
 .bm_salary img{width: .24rem;height: .26rem;vertical-align:middle;}
.jz_recom .content ul li .bm_salary .recom_sistance{float: right;font-size: .24rem;color: #a6a6a6;font-weight: 400;line-height: .4rem}
.jz_recom  .service_more{margin-left: .24rem;margin-right: .24rem}


/*查看全部商家*/
.service_more{background: #f0f1f7;text-align: center;    margin-right: .24rem;border-radius: .04rem}
.service_more a{color: #878b91;height: .72rem;line-height: .72rem;font-size: .28rem}


/*底部菜单*/
.mask {display: none;width: 100%;background: #fff;position: fixed;top: 0;right: 0;z-index: 202;  bottom: 0;opacity: .8!important;}
.mask.show{display: block;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;}
.footMenu{position: fixed;bottom:2.1rem;right: .3rem;width:.8rem;height:.8rem;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease; z-index: 203}
.footMenu .menu{position: absolute;right: 0;top: 0;width:.8rem;height:.8rem;border-radius:50%; -webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.footMenu .menu i{display:block;width: .8rem;height: .8rem;    border-radius: 50%;background:url(../images/add.png) no-repeat center center;background-size: contain;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; }
.mIcon{width:.8rem;position: absolute;top:0;right: 0;background:#fff;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;border-radius: 50%; }
.mIcon i{display:block;width:.8rem;height: .8rem;border-radius: 50%;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);}
.mIcon.wx i{background:url(../images/wxIcon.png) no-repeat center center;background-size:cover;}
.mIcon.my i{background:url(../images/icon_my.png) no-repeat center center;background-size: cover;}
.mIcon.gt i{background:url(../images/gt.png) no-repeat center center;background-size: .3rem .36rem;}
.mIcon span{text-align: center;padding:.05rem 0;display: block;font-size: .28rem;color:#333;font-weight: 600;}

.footMenu>.menu.m_active i{background:#fff url(../images/icon_add.png) no-repeat center center;background-size: contain;box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.mIcon.gt.m_curr{transform: translate(0px, -150px);-webkit-transition: all .1s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.mIcon.wx.m_curr{transform: translate(0px, -100px);-webkit-transition: all .3s ease;-moz-transition: all .1s ease;transition: all .1s ease; }
.mIcon.my.m_curr{transform: translate(0px, -50px);-webkit-transition: all .6s ease;-moz-transition: all .1s ease;transition: all .1s ease ; }
.footMenu>.mIcon.close{ opacity: 0}



/* iPhoneX适配 */
.footMenu{bottom: calc(2.1rem + constant(safe-area-inset-bottom));bottom: calc(2.1rem + env(safe-area-inset-bottom));}


 /*微信客服*/
.m-wx{text-align: center;}
.m-wx .modal-main .weixin h4{font-size: .28rem;color:#333;}
.m-wx .modal-main .weixin img{margin:.34rem auto;width:50%;border:solid 1px #eee;}
.m-wx .modal-main .weixin h5{font-size: .26rem;color:#a0a0a0;padding-bottom: .5rem;}

.empty{text-align: center; line-height: 1rem;}
