
/*顶部固定*/
.header{position: fixed;left: 0;right: 0;}

.huoniao_iOS .content1{padding-top: .3rem}
/*家政人员头部*/
.content1{padding: .27rem .23rem;background: #fff;padding-top: 1.3rem}
.content1 .nanny_img{width:2.4rem;height:3.2rem;float:left}
.content1 .peo_img{width: 100%;height:100%;object-fit:cover;border-radius:.06rem;}
.content1 .nanny_right{margin-left:2.8rem}
.content1 .nanny_right .peo_name{font-size: .4rem;font-weight: bold;color:#28292b;}
.content1 .nanny_right .peo_salary{font-size: .24rem;color: #ff5d2f;margin-top:.3rem;font-weight: bold;}
.content1 .nanny_right .peo_salary span{font-size: .36rem;}
.content1 .nanny_right ul{display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;}
.content1 .nanny_right ul li{width: 45%;font-size: .26rem;color: #8a8b91;margin-top:.3rem;float: left;}
.content1 .nanny_right ul li span{color: #5a5a5e}

/*家政人员认证*/
.content2{padding: .5rem .23rem;background: #fff;margin-top: .2rem}

 .ren_title{font-size: .36rem;font-weight: bold;color:#28292b;}

.content2 .renzheng ul{display: flex;align-items: center;justify-content: space-between;margin-top: .48rem}
.content2 .renzheng ul li{width: 33%;font-size: .24rem;color: #5a5a5e;float: left;text-align: center;}
.content2 .renzheng ul li img{width: .48rem;height: .4rem}
.content2 .renzheng ul li p{margin-top: .2rem}
/*家政人员服务经验*/
.content2 .serv{margin-top: .8rem}
.content2 .serv ul{margin-top: .5rem}
.content2 .serv ul li{margin-top: .3rem;display: flex}
.content2 .serv ul li span{font-size: .28rem}
.content2 .serv ul li .peo_list{color: #8a8b91}
.content2 .serv ul li .peo_detail{color:#5a5a5e;width: 80% }

/*家政人员工作经历*/
.content2 .work{margin-top: .8rem}
.content2 .work ul{margin-top: .5rem}
.content2 .work ul li{margin-top: .3rem;display: flex}
.content2 .work ul li span{font-size: .28rem}
.content2 .work ul li .peo_list{color: #8a8b91}
.content2 .work ul li .peo_detail{color:#5a5a5e;width: 80% }

/*家政人员公司*/
.content3{padding: .5rem .23rem;background: #fff;margin-top: .2rem;border-bottom: .2rem solid #f0f0f2;margin-bottom: 1.4rem}
.content3 .cont3_company{margin:.35rem auto;}
.content3 .cont3_company:active{background: #f2f2f2}
.content3 .cont3_company .detail_img{width: 2.4rem;height:1.6rem;float:left;}
.content3 .cont3_company .detail_img img{width:100%;height:100%;object-fit:cover}
.content3 .cont3_company .detail_right{margin-left:2.6rem}
.content3 .cont3_company .detail_right .com_adress{font-size: .26rem;color: #5e5e5e}
.content3 .cont3_company .detail_right .com_type{font-size: .24rem;color: #9f9fab}
.content3 .cont3_company .detail_right .com_type span{background: #f0f0f5;padding: .07rem .22rem;display: inline-block;margin-top: .35rem;margin-right: .1rem}
.content3 .peo_store{text-align: center;background-color: #fff0ed;line-height: .72rem}
.content3 .peo_store a{color: #ff5d2f;font-size: .28rem;display: block;}

.space{width: 100%;height: .2rem}

/*底部收藏店铺*/
.peo_footer{padding: .2rem .23rem;width:100%;background: #fff;position: fixed;bottom: 0;box-sizing: border-box;padding-bottom: calc(.23rem + env(safe-area-inset-bottom));padding-bottom: calc(.23rem + constant(safe-area-inset-bottom));}
.peo_footer ul{display: flex;align-items: center;justify-content: space-between;}
.peo_footer ul li{float: left;width: 11%;text-align: center;}
.peo_footer ul li a{display: block}
.peo_footer ul li a img{width: .36rem}
.peo_footer ul li a p{padding-top: .12rem}
.peo_footer ul li:last-child{width: 70%;background: #ff674e;height: .9rem;line-height: .9rem;border-radius: .05rem}
.peo_footer ul li:last-child a{color: #fff;font-size: .32rem}
