<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_nickname#}电话：{#$detail_phone#},{#$detail_nickname#}网上店铺发布二手房房源- {#$house_title#}</title>
<meta name="keywords" content="{#$detail_nickname#},{#$detail_nickname#}网上店铺,{#$detail_phone#}" />
<meta name="description" content="{#$detail_nickname#}经纪人店铺提供经纪人发布的二手房房源、租房房源信息，另外提供经纪人详细的信息，如个人介绍、电话号码：{#$detail_phone#}、服务档案、提问过的问答等信息，让您全面了解经纪人情况。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/broker.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#include file="../../siteConfig/top.html"#}

<div class="wrap ad">{#myad id="75"#}</div>

{#$pageCurr = "broker"#}
{#include file="top.html"#}

<div class="wrap detail crumb">
	<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='broker'#}">经纪人</a> > <a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#}#}">{#$detail_nickname#}的店铺</a>
</div>

<div class="wrap fn-clear">

	<div class="sidebar">

		<dl class="profile fn-clear">
			<dt><img src="{#$detail_litpic#}" /></dt>
			<dd>
				<h2>{#$detail_nickname#}的个人店铺</h2>
				<ul class="fn-clear">
					{#if $detail_certify == 1#}<li><s></s>身份认证</li>{#/if#}
					{#if $detail_flag == 1#}<li class="mc"><s></s>名片认证</li>{#/if#}
				</ul>
			</dd>
		</dl>
		<div class="tel"><s></s>{#$detail_phone#}</div>

		<dl class="item">
			<dt><span>服务信息</span></dt>
			<dd>
				<div class="p fn-clear">
					<label>所属门店：</label>
					<p><a href="{#getUrlPath service='house' template='store-detail' id={#$detail_zjcom#}#}" target="_blank">{#$detail_zjcomName#}</a> {#$detail_store#}</p>
				</div>
				<div class="p fn-clear">
					<label>服务区域：</label>
					<p><a href="{#getUrlPath service='house' template='broker' addrid={#$detail_areaid#}#}" target="_blank">{#$detail_address[0]#}</a> <a href="{#getUrlPath service='house' template='broker' addrid={#$detail_areaid#} business={#$detail_addrid#}#}" target="_blank">{#$detail_address[1]#}</a></p>
				</div>
				{#if $detail_community#}
				<div class="p fn-clear">
					<label>主营小区：</label>
					<p>
						{#foreach from=$detail_communityArr item=community key=k#}
						<a href="{#getUrlPath service='house' template='community-detail' id={#$community#}#}" target="_blank">{#$detail_communityName[$k]#}</a>
						{#/foreach#}
					</p>
				</div>
				{#/if#}
			</dd>
		</dl>

	</div>

	<div class="main">

		{#$tplCurr = $tpl#}

		{#if $detail_total > 0#}
		<ul class="orderby fn-clear">
			{#if $detail_saleCount > 0#}<li{#if $tpl == "sale" || $tpl == ""#}{#$tplCurr = "sale"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#} tpl='sale'#}">二手房({#$detail_saleCount#})</a></li>{#/if#}
			{#if $detail_zuCount > 0#}<li{#if $tpl == "zu" || ($detail_saleCount == 0 && $tpl == "")#}{#$tplCurr = "zu"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#} tpl='zu'#}">出租房({#$detail_zuCount#})</a></li>{#/if#}
			{#if $detail_xzlCount > 0#}<li{#if $tpl == "xzl" || ($detail_saleCount == 0 && $detail_zuCount == 0 && $tpl == "")#}{#$tplCurr = "xzl"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#} tpl='xzl'#}">写字楼({#$detail_xzlCount#})</a></li>{#/if#}
			{#if $detail_spCount > 0#}<li{#if $tpl == "sp" || ($detail_saleCount == 0 && $detail_zuCount == 0 && $detail_xzlCount == 0 && $tpl == "")#}{#$tplCurr = "sp"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#} tpl='sp'#}">商铺({#$detail_spCount#})</a></li>{#/if#}
			{#if $detail_cfCount > 0#}<li{#if $tpl == "cf" || ($detail_saleCount == 0 && $detail_zuCount == 0 && $detail_xzlCount == 0 && $detail_spCount == 0 && $tpl == "")#}{#$tplCurr = "cf"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#} tpl='cf'#}">厂房/仓库({#$detail_cfCount#})</a></li>{#/if#}
		</ul>

		{#if $detail_saleCount > 0 && ($tpl == "sale" || $tpl == "")#}
		<!-- 二手房 -->
		<ul class="list sale">
			{#house action="saleList" return="sale" zj={#$detail_id#} page={#$page#} pageSize="20"#}
			<li class="fn-clear">
				<a href="{#$sale.url#}" target="_blank" class="pic"><img src="{#changeFileSize url={#$sale.litpic#} type='small'#}" alt="{#$sale.title#}" /><i></i></a>
				<div class="info">
					<h2><a href="{#$sale.url#}" target="_blank" title="{#$sale.title#}">{#$sale.title#}</a></h2>
					<div class="fn-clear">
						<div class="col1">
							<p class="w">
								<a href="{#getUrlPath service='house' template='sale' addrid=0 business={#$sale.addrid#}#}" title="{#$sale.addr[0]#} {#$sale.addr[1]#}">{#$sale.addr[0]#} {#$sale.addr[1]#}</a>
								<span>{#$sale.room#}</span><span>{#$sale.direction#}</span><span>{#$sale.zhuangxiu#}</span><span>{#$sale.area#}m²</span>
							</p>
							<p class="o">
								<a href="{#$sale.communityUrl#}" target="_blank" title="{#$sale.community#}">{#$sale.community#}</a>
								<span>/</span>第{#$sale.bno#}层,共{#$sale.floor#}层<span>/</span>{#$sale.buildage#}年
							</p>
							<div class="tags fn-clear">
								{#foreach from=$sale.flags item=flag key=key#}
								<span class="t{#$key#}">{#$flag#}</span>
								{#/foreach#}
							</div>
						</div>
						<div class="col2">
							<div class="price"><strong>{#$sale.price#}</strong>万</div>
							<p>{#$sale.unitprice#} {#echoCurrency type='short'#}/m²</p>
						</div>
					</div>
				</div>
			</li>
			{#/house#}
		</ul>
		{#/if#}

		{#if $detail_zuCount > 0 && ($tpl == "zu" || ($detail_saleCount == 0 && $tpl == ""))#}
		<!-- 出租房 -->
		<div class="zu">
			{#house action="zuList" return="zu" zj={#$detail_id#} page={#$page#} pageSize="20"#}
			<div class="l-item fn-clear">
				<div class="more">
					<div class="price"><em>{#echoCurrency type='symbol'#}</em><strong>{#$zu.price#}</strong>{#echoCurrency type='short'#}/月</div>
					<p>{#$zu.room#}</p>
				</div>
				<dl class="fn-clear">
					<dt><a href="{#$zu.url#}" target="_blank"><img src="{#changeFileSize url={#$zu.litpic#} type='small'#}" alt="{#$zu.title#}" title="{#$zu.title#}" /></a></dt>
					<dd>
						<h3><a href="{#$zu.url#}" target="_blank" title="{#$zu.title#}">{#$zu.title#}</a></h3>
						<p><a href="{#getUrlPath service='house' template='zu' addrid=0 business={#$zu.addrid#}#}" target="_blank">{#$zu.addr[0]#}-{#$zu.addr[1]#}</a>-<a href="{#$zu.communityUrl#}" target="_blank">{#$zu.community#}</a><span class="addr-icon"></span>{#$zu.address#}</p>
						<p>{#$zu.rentype#}<i>|</i>{#$zu.area#}㎡(建筑面积)<i>|</i>{#$zu.zhuangxiu#}<i>|</i>{#$zu.bno#}/{#$zu.floor#}层<i>|</i>朝{#$zu.direction#}</p>
						<p class="u"><span class="upd"></span>{#$zu.timeUpdate#}更新</p>
					</dd>
				</dl>
			</div>
			{#/house#}
		</div>
		{#/if#}

		{#if $detail_xzlCount > 0 && ($tpl == "xzl" || ($detail_saleCount == 0 && $detail_zuCount == 0 && $tpl == ""))#}
		<!-- 写字楼 -->
		<div class="xzl">
			{#house action="xzlList" return="xzl" zj={#$detail_id#} page={#$page#} pageSize="20"#}
			<div class="l-item fn-clear">
				<div class="more">
					{#if $xzl.type == 0#}
					<div class="price"><em>{#echoCurrency type='symbol'#}</em><strong>{#$xzl.price#}</strong>{#echoCurrency type='short'#}/m²•月</div>
					<p>{#($xzl.price * $xzl.area)|string_format:"%.2f"#}{#echoCurrency type='short'#}/月</p>
					{#else#}
					<div class="price"><em>{#echoCurrency type='symbol'#}</em><strong>{#$xzl.price#}</strong>万</div>
					<p>{#($xzl.price / $xzl.area * 10000)|string_format:"%.2f"#}{#echoCurrency type='short'#}/m²</p>
					{#/if#}
				</div>
				<dl class="fn-clear">
					<dt><a href="{#$xzl.url#}" target="_blank"><img src="{#changeFileSize url={#$xzl.litpic#} type='small'#}" alt="{#$xzl.title#}" title="{#$xzl.title#}" /></a></dt>
					<dd>
						<h3><a href="{#$xzl.url#}" target="_blank" title="{#$xzl.title#}">{#$xzl.title#}</a></h3>
						<p><span class="addr-icon"></span><a href="{#getUrlPath service="house" template="xzl" type={#$xzl.type#} addrid=0 business={#$xzl.addrid#}#}" target="_blank">{#$xzl.addr[0]#}-{#$xzl.addr[1]#}</a>-{#$xzl.address#}{#if $xzl.nearby != ""#}&nbsp;&nbsp;[靠近：{#$xzl.nearby#}]{#/if#}</p>
						<p>{#$xzl.loupan#}<i>|</i>{#$xzl.zhuangxiu#}<i>|</i>{#$xzl.protype#}<i>|</i>{#$xzl.area#}平米</p>
						<p class="u"><span class="upd"></span>{#$xzl.timeUpdate#}更新{#foreach from=$xzl.config item=config key=k#}<span class="tag t{#$k#}">{#$config#}</span>{#/foreach#}
						</p>
					</dd>
				</dl>
			</div>
			{#/house#}
		</div>
		{#/if#}

		{#if $detail_spCount > 0 && ($tpl == "sp" || ($detail_saleCount == 0 && $detail_zuCount == 0 && $detail_xzlCount == 0 && $tpl == ""))#}
		<!-- 商铺 -->
		<div class="sp">
			{#house action="spList" return="sp" zj={#$detail_id#} page={#$page#} pageSize="20"#}
			<div class="l-item fn-clear">
				<div class="more">
					{#if $sp.type == 0 || $sp.type == 2#}
					<div class="price"><em>{#echoCurrency type='symbol'#}</em><strong>{#($sp.price/10000)|string_format:"%.2f"#}</strong>万/月</div>
					{#/if#}
					{#if $sp.type == 1#}
					<div class="price"><em>{#echoCurrency type='symbol'#}</em><strong>{#$sp.price|string_format:"%.0f"#}</strong>万</div>
					<p>{#($sp.price / $sp.area)|string_format:"%.2f"#}万/m²</p>
					{#/if#}
					{#if $sp.type == 2#}<p>转让费：{#$sp.transfer#}万</p>{#/if#}
				</div>
				<dl class="fn-clear">
					<dt><a href="{#$sp.url#}" target="_blank"><img src="{#changeFileSize url={#$sp.litpic#} type='small'#}" alt="{#$sp.title#}" title="{#$sp.title#}" /></a></dt>
					<dd>
						<h3><a href="{#$sp.url#}" target="_blank" title="{#$sp.title#}">{#$sp.title#}</a></h3>
						<p><span class="addr-icon"></span><a href="{#getUrlPath service="house" template="sp" type={#$sp.type#} addrid=0 business={#$sp.addrid#}#}" target="_blank">{#$sp.addr[0]#}-{#$sp.addr[1]#}</a>-{#$sp.address#}{#if $sp.nearby != ""#}&nbsp;&nbsp;[靠近：{#$sp.nearby#}]{#/if#}</p>
						<p>{#$sp.protype#}<i>|</i>{#$sp.zhuangxiu#}<i>|</i>第{#$sp.bno#}层 / 共{#$sp.floor#}层<i>|</i>{#$sp.area#}平米</p>
						<p class="u"><span class="upd"></span>{#$sp.timeUpdate#}更新</p>
					</dd>
				</dl>
			</div>
			{#/house#}
		</div>
		{#/if#}

		{#if $detail_cfCount > 0 && ($tpl == "cf" || ($detail_saleCount == 0 && $detail_zuCount == 0 && $detail_xzlCount == 0 && $detail_spCount == 0 && $tpl == ""))#}
		<!-- 厂房/仓库 -->
		<div class="cf">
			{#house action="cfList" return="cf" zj={#$detail_id#} page={#$page#} pageSize="20"#}
			<div class="l-item fn-clear">
				<div class="more">
					<div class="price"><em>{#echoCurrency type='symbol'#}</em>{#if $cf.type != 2#}<strong>{#($cf.price/10000)|string_format:"%.2f"#}</strong>万/月{#else#}<strong>{#$cf.price|string_format:"%.0f"#}</strong>万{#/if#}</div>
					{#if $cf.type == 1#}<p>转让费：{#$cf.transfer#}万</p>{#/if#}
				</div>
				<dl class="fn-clear">
					<dt><a href="{#$cf.url#}" target="_blank"><img src="{#changeFileSize url={#$cf.litpic#} type='small'#}" alt="{#$cf.title#}" title="{#$cf.title#}" /></a></dt>
					<dd>
						<h3><a href="{#$cf.url#}" target="_blank" title="{#$cf.title#}">{#$cf.title#}</a></h3>
						<p><span class="addr-icon"></span><a href="{#getUrlPath service="house" template="cf" type={#$cf.type#} addrid=0 business={#$cf.addrid#}#}" target="_blank">{#$cf.addr[0]#}-{#$cf.addr[1]#}</a>-{#$cf.address#}</p>
						<p>{#$cf.protype#}<i>|</i>{#$cf.area#}平米{#if $cf.nearby != ""#}<i>|</i>靠近：{#$cf.nearby#}{#/if#}</p>
						<p class="u"><span class="upd"></span>{#$cf.timeUpdate#}更新</p>
					</dd>
				</dl>
			</div>
			{#/house#}
		</div>
		{#/if#}

		{#getPageList service='house' template='broker-detail' id={#$detail_id#} tpl={#$tplCurr#}#}

		{#else#}
		<div class="empty">该经纪人暂未发布房源信息！</div>
		{#/if#}

	</div>

</div>

{#include file="footer.html"#}
</body>
</html>
