{#$pageTitle = ""#}
{#if $do == "sy"#}
	{#$pageTitle = "商业贷款计算器"#}
{#elseif $do == "gjj"#}
	{#$pageTitle = "公积金贷款计算器"#}
{#elseif $do == "zh"#}
	{#$pageTitle = "组合贷款计算器"#}
{#/if#}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$pageTitle#} - 房贷计算器 - {#$house_title#}</title>
<meta name="keywords" content="{#$house_keywords#}" />
<meta name="description" content="{#$house_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/calculator.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#include file="../../siteConfig/top.html"#}

<div class="wrap ad">{#myad id="75"#}</div>

{#include file="top.html"#}

<div class="wrap crumb">
	<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='calculator' do={#$do#}#}">{#$pageTitle#}</a>
</div>

<div class="wrap fn-clear">

	<h2 class="title">购房计算器</h2>
	<div class="sub-nav">
		<ul>
			<li{#if $do == "sy"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='calculator-sy'#}">商业贷款计算器</a></li>
			<li{#if $do == "gjj"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='calculator-gjj'#}">公积金贷款计算器</a></li>
			<li{#if $do == "zh"#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='calculator-zh'#}">组合贷款计算器</a></li>
		</ul>
	</div>

	<form class="calculator fn-clear">

		<span class="split"><s><i></i></s></span>

		{#if $do == "sy"#}
		<!-- 商业贷款计算器 -->
		<div class="write">
			<div class="ct"><span>填写信息</span></div>
			<dl class="fn-clear">
				<dt>计算方式：</dt>
				<dd class="fn-clear">
					<label><input type="radio" name="mode" data-type="rate" value="1" checked /> 按贷款额度算</label>
					<label><input type="radio" name="mode" data-type="area" value="2" /> 按面积算</label>
				</dd>
			</dl>
			<div class="mode-item rate" style="display: block;">
				<dl class="fn-clear">
					<dt>贷款总额：</dt>
					<dd class="fn-clear">
						<input type="text" name="zonge" maxlength="9" data-type="number" id="zonge" />
						<em>万{#echoCurrency type='short'#}</em>
						<div class="error_msg">请输入正确的贷款总额</div>
					</dd>
				</dl>
			</div>
			<div class="mode-item area">
				<dl class="fn-clear">
					<dt>单价：</dt>
					<dd class="fn-clear">
						<input type="text" name="danjia" maxlength="9" data-type="number" id="danjia" />
						<em>{#echoCurrency type='short'#}/平米</em>
						<div class="error_msg">请输入正确的房屋单价</div>
					</dd>
				</dl>
				<dl class="fn-clear nm">
					<dt>面积：</dt>
					<dd class="fn-clear">
						<input type="text" name="mianji" maxlength="9" data-type="number" id="mianji" />
						<em>平方米</em>
						<div class="error_msg">请输入正确的房屋面积</div>
					</dd>
				</dl>
				<dl class="fn-clear nm">
					<dt>首付比例：</dt>
					<dd class="fn-clear">
						<label class="sel"><span id="shoufu_rate">3成</span><s><i></i></s></label>
						<ul class="sel-con">
							<li><a href="javascript:;">2成</a></li>
							<li class="curr"><a href="javascript:;">3成</a></li>
							<li><a href="javascript:;">4成</a></li>
							<li><a href="javascript:;">5成</a></li>
							<li><a href="javascript:;">6成</a></li>
							<li><a href="javascript:;">7成</a></li>
							<li><a href="javascript:;">8成</a></li>
							<li><a href="javascript:;">9成</a></li>
						</ul>
						<div class="error_msg">&nbsp;</div>
					</dd>
				</dl>
			</div>
			<dl class="fn-clear nm">
				<dt>贷款利率：</dt>
				<dd class="fn-clear">
					<div class="ll">
						<input type="text" name="lilv" maxlength="5" data-type="number" id="lilv" value="4.9" />
						<em>%</em>
					</div>
					<div class="error_msg">请输入正确的贷款利率</div>
				</dd>
			</dl>
			<dl class="fn-clear nm">
				<dt>贷款年限：</dt>
				<dd class="fn-clear">
					<label class="sel"><span id="time">30年（360期）</span><s><i></i></s></label>
					<ul class="sel-con">
						<li><a href="javascript:;">1年（12期）</a></li>
						<li><a href="javascript:;">2年（24期）</a></li>
						<li><a href="javascript:;">3年（36期）</a></li>
						<li><a href="javascript:;">4年（48期）</a></li>
						<li><a href="javascript:;">5年（60期）</a></li>
						<li><a href="javascript:;">6年（72期）</a></li>
						<li><a href="javascript:;">7年（84期）</a></li>
						<li><a href="javascript:;">8年（96期）</a></li>
						<li><a href="javascript:;">9年（108期）</a></li>
						<li><a href="javascript:;">10年（120期）</a></li>
						<li><a href="javascript:;">11年（132期）</a></li>
						<li><a href="javascript:;">12年（124期）</a></li>
						<li><a href="javascript:;">13年（156期）</a></li>
						<li><a href="javascript:;">14年（168期）</a></li>
						<li><a href="javascript:;">15年（180期）</a></li>
						<li><a href="javascript:;">16年（192期）</a></li>
						<li><a href="javascript:;">17年（204期）</a></li>
						<li><a href="javascript:;">18年（216期）</a></li>
						<li><a href="javascript:;">19年（228期）</a></li>
						<li><a href="javascript:;">20年（240期）</a></li>
						<li><a href="javascript:;">21年（252期）</a></li>
						<li><a href="javascript:;">22年（264期）</a></li>
						<li><a href="javascript:;">23年（276期）</a></li>
						<li><a href="javascript:;">24年（288期）</a></li>
						<li><a href="javascript:;">25年（300期）</a></li>
						<li><a href="javascript:;">26年（312期）</a></li>
						<li><a href="javascript:;">27年（324期）</a></li>
						<li><a href="javascript:;">28年（336期）</a></li>
						<li><a href="javascript:;">29年（348期）</a></li>
						<li class="curr"><a href="javascript:;">30年（360期）</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd>
					<input type="button" value="开始计算" class="subtn" />
					<a href="javascript:;" id="reset">清空重填</a>
				</dd>
			</dl>
		</div>
		<div class="result">
			<div class="ct"><span>计算结果</span></div>
			<div class="fn-clear">
				<div class="item l">
					<h3>等额本息还款
						<span class="tips">
							<i>?</i>
							<div class="tips_div">
								<div class="tips_con">
									<em><s></s></em>
									<p>指借款人每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。</p>
								</div>
							</div>
						</span>
					</h3>
					<div class="r-con">
						<dl class="fn-clear">
							<dt>贷款总额</dt>
							<dd><span id="total_loan_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>还款总额</dt>
							<dd><span id="total_pay_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>支付利息</dt>
							<dd><span id="interest_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>贷款月数</dt>
							<dd><span id="loan_month_bx"></span>月</dd>
						</dl>
						<dl class="fn-clear">
							<dt>月均还款</dt>
							<dd><span id="average_pay_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
					</div>
				</div>
				<div class="item">
					<h3>等额本金还款
						<span class="tips">
							<i>?</i>
							<div class="tips_div">
								<div class="tips_con">
									<em><s></s></em>
									<p>指借款人每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。</p>
								</div>
							</div>
						</span>
					</h3>
					<div class="r-con">
						<dl class="fn-clear">
							<dt>贷款总额</dt>
							<dd><span id="total_loan_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>还款总额</dt>
							<dd><span id="total_pay_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>支付利息</dt>
							<dd><span id="interest_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>贷款月数</dt>
							<dd><span id="loan_month_bj"></span>月</dd>
						</dl>
						<dl class="fn-clear">
							<dt>首月还款</dt>
							<dd><span id="average_pay_bj"></span>{#echoCurrency type='short'#}<a href="javascript:;" class="mx">明细</a></dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bz">
				<h4>备注：（以上结果仅供参考）</h4>
				<p>目前商贷执行首套、二套差别化贷款原则；</p>
				<p>购买首套房时，最低首付为3成，利率为基准利率；</p>
				<p>购买二套房时，最低首付为6成，利率上浮1.1倍；</p>
			</div>
		</div>
		{#elseif $do == "gjj"#}
		<!-- 公积金贷款计算器 -->
		<div class="write">
			<div class="ct"><span>填写信息</span></div>
			<dl class="fn-clear">
				<dt>计算方式：</dt>
				<dd class="fn-clear">
					<label><input type="radio" name="mode" data-type="rate" value="1" checked /> 按贷款额度算</label>
					<label><input type="radio" name="mode" data-type="area" value="2" /> 按面积算</label>
				</dd>
			</dl>
			<div class="mode-item rate" style="display: block;">
				<dl class="fn-clear">
					<dt>贷款总额：</dt>
					<dd class="fn-clear">
						<input type="text" name="zonge" maxlength="9" data-type="number" id="zonge" />
						<em>万{#echoCurrency type='short'#}</em>
						<div class="error_msg">请输入正确的贷款总额</div>
					</dd>
				</dl>
			</div>
			<div class="mode-item area">
				<dl class="fn-clear">
					<dt>单价：</dt>
					<dd class="fn-clear">
						<input type="text" name="danjia" maxlength="9" data-type="number" id="danjia" />
						<em>{#echoCurrency type='short'#}/平米</em>
						<div class="error_msg">请输入正确的房屋单价</div>
					</dd>
				</dl>
				<dl class="fn-clear nm">
					<dt>面积：</dt>
					<dd class="fn-clear">
						<input type="text" name="mianji" maxlength="9" data-type="number" id="mianji" />
						<em>平方米</em>
						<div class="error_msg">请输入正确的房屋面积</div>
					</dd>
				</dl>
				<dl class="fn-clear nm">
					<dt>首付比例：</dt>
					<dd class="fn-clear">
						<label class="sel"><span id="shoufu_rate">2成</span><s><i></i></s></label>
						<ul class="sel-con">
							<li><a href="javascript:;">2成</a></li>
							<li class="curr"><a href="javascript:;">3成</a></li>
							<li><a href="javascript:;">4成</a></li>
							<li><a href="javascript:;">5成</a></li>
							<li><a href="javascript:;">6成</a></li>
							<li><a href="javascript:;">7成</a></li>
							<li><a href="javascript:;">8成</a></li>
							<li><a href="javascript:;">9成</a></li>
						</ul>
						<div class="error_msg">&nbsp;</div>
					</dd>
				</dl>
			</div>
			<dl class="fn-clear nm">
				<dt>贷款利率：</dt>
				<dd class="fn-clear">
					<div class="ll">
						<input type="text" name="lilv" maxlength="5" data-type="number" id="lilv" value="3.25" />
						<em>%</em>
					</div>
					<div class="error_msg">请输入正确的贷款利率</div>
				</dd>
			</dl>
			<dl class="fn-clear nm">
				<dt>贷款年限：</dt>
				<dd class="fn-clear">
					<label class="sel"><span id="time">30年（360期）</span><s><i></i></s></label>
					<ul class="sel-con">
						<li><a href="javascript:;">1年（12期）</a></li>
						<li><a href="javascript:;">2年（24期）</a></li>
						<li><a href="javascript:;">3年（36期）</a></li>
						<li><a href="javascript:;">4年（48期）</a></li>
						<li><a href="javascript:;">5年（60期）</a></li>
						<li><a href="javascript:;">6年（72期）</a></li>
						<li><a href="javascript:;">7年（84期）</a></li>
						<li><a href="javascript:;">8年（96期）</a></li>
						<li><a href="javascript:;">9年（108期）</a></li>
						<li><a href="javascript:;">10年（120期）</a></li>
						<li><a href="javascript:;">11年（132期）</a></li>
						<li><a href="javascript:;">12年（124期）</a></li>
						<li><a href="javascript:;">13年（156期）</a></li>
						<li><a href="javascript:;">14年（168期）</a></li>
						<li><a href="javascript:;">15年（180期）</a></li>
						<li><a href="javascript:;">16年（192期）</a></li>
						<li><a href="javascript:;">17年（204期）</a></li>
						<li><a href="javascript:;">18年（216期）</a></li>
						<li><a href="javascript:;">19年（228期）</a></li>
						<li><a href="javascript:;">20年（240期）</a></li>
						<li><a href="javascript:;">21年（252期）</a></li>
						<li><a href="javascript:;">22年（264期）</a></li>
						<li><a href="javascript:;">23年（276期）</a></li>
						<li><a href="javascript:;">24年（288期）</a></li>
						<li><a href="javascript:;">25年（300期）</a></li>
						<li><a href="javascript:;">26年（312期）</a></li>
						<li><a href="javascript:;">27年（324期）</a></li>
						<li><a href="javascript:;">28年（336期）</a></li>
						<li><a href="javascript:;">29年（348期）</a></li>
						<li class="curr"><a href="javascript:;">30年（360期）</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd>
					<input type="button" value="开始计算" class="subtn" />
					<a href="javascript:;" id="reset">清空重填</a>
				</dd>
			</dl>
		</div>
		<div class="result">
			<div class="ct"><span>计算结果</span></div>
			<div class="fn-clear">
				<div class="item l">
					<h3>等额本息还款
						<span class="tips">
							<i>?</i>
							<div class="tips_div">
								<div class="tips_con">
									<em><s></s></em>
									<p>指借款人每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。</p>
								</div>
							</div>
						</span>
					</h3>
					<div class="r-con">
						<dl class="fn-clear">
							<dt>贷款总额</dt>
							<dd><span id="total_loan_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>还款总额</dt>
							<dd><span id="total_pay_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>支付利息</dt>
							<dd><span id="interest_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>贷款月数</dt>
							<dd><span id="loan_month_bx"></span>月</dd>
						</dl>
						<dl class="fn-clear">
							<dt>月均还款</dt>
							<dd><span id="average_pay_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
					</div>
				</div>
				<div class="item">
					<h3>等额本金还款
						<span class="tips">
							<i>?</i>
							<div class="tips_div">
								<div class="tips_con">
									<em><s></s></em>
									<p>指借款人每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。</p>
								</div>
							</div>
						</span>
					</h3>
					<div class="r-con">
						<dl class="fn-clear">
							<dt>贷款总额</dt>
							<dd><span id="total_loan_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>还款总额</dt>
							<dd><span id="total_pay_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>支付利息</dt>
							<dd><span id="interest_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>贷款月数</dt>
							<dd><span id="loan_month_bj"></span>月</dd>
						</dl>
						<dl class="fn-clear">
							<dt>首月还款</dt>
							<dd><span id="average_pay_bj"></span>{#echoCurrency type='short'#}<a href="javascript:;" class="mx">明细</a></dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bz">
				<h4>备注：（以上结果仅供参考）</h4>
				<p>目前公积金贷款执行首套、二套差别化贷款原则；</p>
				<p>购买首套房时，面积小于90（含）时，首付最低为2成，利率为基本利率 ；<br />面积大于90时，首付最低为3成，利率不变。<br />购买二套房时，首付最低为6成，利率上浮1.1倍。</p>
			</div>
		</div>
		{#elseif $do == "zh"#}
		<!-- 组合贷款计算器 -->
		<div class="write">
			<div class="ct"><span>填写信息</span></div>
			<dl class="fn-clear">
				<dt>商业贷款总额：</dt>
				<dd class="fn-clear">
					<input type="text" name="shangdai" maxlength="9" data-type="number" id="shangdai" />
					<em>万{#echoCurrency type='short'#}</em>
					<div class="error_msg">请输入正确的商业贷款总额</div>
				</dd>
			</dl>
			<dl class="fn-clear nm">
				<dt>公积金贷款总额：</dt>
				<dd class="fn-clear">
					<input type="text" name="gongdai" maxlength="9" data-type="number" id="gongdai" />
					<em>万{#echoCurrency type='short'#}</em>
					<div class="error_msg">请输入正确的公积金贷款总额</div>
				</dd>
			</dl>
			<dl class="fn-clear nm">
				<dt>商业贷款利率：</dt>
				<dd class="fn-clear">
					<div class="ll">
						<input type="text" name="lilv_shang" maxlength="5" data-type="number" id="lilv_shang" value="4.9" />
						<em>%</em>
					</div>
					<div class="error_msg">请输入正确的贷款利率</div>
				</dd>
			</dl>
			<dl class="fn-clear nm">
				<dt>公积金贷款利率：</dt>
				<dd class="fn-clear">
					<div class="ll">
						<input type="text" name="lilv_gong" maxlength="5" data-type="number" id="lilv_gong" value="3.25" />
						<em>%</em>
					</div>
					<div class="error_msg">请输入正确的贷款利率</div>
				</dd>
			</dl>
			<dl class="fn-clear nm">
				<dt>贷款年限：</dt>
				<dd class="fn-clear">
					<label class="sel"><span id="time">30年（360期）</span><s><i></i></s></label>
					<ul class="sel-con">
						<li><a href="javascript:;">1年（12期）</a></li>
						<li><a href="javascript:;">2年（24期）</a></li>
						<li><a href="javascript:;">3年（36期）</a></li>
						<li><a href="javascript:;">4年（48期）</a></li>
						<li><a href="javascript:;">5年（60期）</a></li>
						<li><a href="javascript:;">6年（72期）</a></li>
						<li><a href="javascript:;">7年（84期）</a></li>
						<li><a href="javascript:;">8年（96期）</a></li>
						<li><a href="javascript:;">9年（108期）</a></li>
						<li><a href="javascript:;">10年（120期）</a></li>
						<li><a href="javascript:;">11年（132期）</a></li>
						<li><a href="javascript:;">12年（124期）</a></li>
						<li><a href="javascript:;">13年（156期）</a></li>
						<li><a href="javascript:;">14年（168期）</a></li>
						<li><a href="javascript:;">15年（180期）</a></li>
						<li><a href="javascript:;">16年（192期）</a></li>
						<li><a href="javascript:;">17年（204期）</a></li>
						<li><a href="javascript:;">18年（216期）</a></li>
						<li><a href="javascript:;">19年（228期）</a></li>
						<li><a href="javascript:;">20年（240期）</a></li>
						<li><a href="javascript:;">21年（252期）</a></li>
						<li><a href="javascript:;">22年（264期）</a></li>
						<li><a href="javascript:;">23年（276期）</a></li>
						<li><a href="javascript:;">24年（288期）</a></li>
						<li><a href="javascript:;">25年（300期）</a></li>
						<li><a href="javascript:;">26年（312期）</a></li>
						<li><a href="javascript:;">27年（324期）</a></li>
						<li><a href="javascript:;">28年（336期）</a></li>
						<li><a href="javascript:;">29年（348期）</a></li>
						<li class="curr"><a href="javascript:;">30年（360期）</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd>
					<input type="button" value="开始计算" class="subtn" />
					<a href="javascript:;" id="reset">清空重填</a>
				</dd>
			</dl>
		</div>
		<div class="result">
			<div class="ct"><span>计算结果</span></div>
			<div class="fn-clear">
				<div class="item l">
					<h3>等额本息还款
						<span class="tips">
							<i>?</i>
							<div class="tips_div">
								<div class="tips_con">
									<em><s></s></em>
									<p>指借款人每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。</p>
								</div>
							</div>
						</span>
					</h3>
					<div class="r-con">
						<dl class="fn-clear">
							<dt>贷款总额</dt>
							<dd><span id="total_loan_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>还款总额</dt>
							<dd><span id="total_pay_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>支付利息</dt>
							<dd><span id="interest_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>贷款月数</dt>
							<dd><span id="loan_month_bx"></span>月</dd>
						</dl>
						<dl class="fn-clear">
							<dt>月均还款</dt>
							<dd><span id="average_pay_bx"></span>{#echoCurrency type='short'#}</dd>
						</dl>
					</div>
				</div>
				<div class="item">
					<h3>等额本金还款
						<span class="tips">
							<i>?</i>
							<div class="tips_div">
								<div class="tips_con">
									<em><s></s></em>
									<p>指借款人每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。</p>
								</div>
							</div>
						</span>
					</h3>
					<div class="r-con">
						<dl class="fn-clear">
							<dt>贷款总额</dt>
							<dd><span id="total_loan_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>还款总额</dt>
							<dd><span id="total_pay_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>支付利息</dt>
							<dd><span id="interest_bj"></span>{#echoCurrency type='short'#}</dd>
						</dl>
						<dl class="fn-clear">
							<dt>贷款月数</dt>
							<dd><span id="loan_month_bj"></span>月</dd>
						</dl>
						<dl class="fn-clear">
							<dt>首月还款</dt>
							<dd><span id="average_pay_bj"></span>{#echoCurrency type='short'#}<a href="javascript:;" class="mx">明细</a></dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bz">
				<h4>备注：（以上结果仅供参考）</h4>
			</div>
		</div>
		{#/if#}

	</form>

</div>

<div class="wrap gzlist mlist">
	<h2>热门楼盘</h2>
	<ul class="fn-clear">
		{#house action="loupanList" nid={#$detail_id#} orderby="4" pageSize=6#}
		<li>
			<a href="{#$row.url#}" target="_blank" title="{#$row.title#}" class="pic"><img src="{#$row.litpic#}" alt="{#$row.title#}" /></a>
			<p class="title"><a href="{#$row.url#}" title="{#$row.title#}">{#$row.title#}</a></p>
			<p class="price">均价<strong>{#if $llist.price == 0#}待定{#else#}{#$llist.price#}{#echoCurrency type='short'#}/㎡{#/if#}</strong></p>
			<p class="addr">{#$row.addr[0]#} {#$row.addr[1]#}</p>
		</li>
		{#/house#}
	</ul>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/calculator.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/calculator-{#$do#}.js"></script>
</body>
</html>
