body {font-family: 'microsoft yahei';}

.form {color: #3b3b3b; line-height: 25px; padding: 20px 0;}
.form dt {float: left; width: 95px; padding: 5px 0; text-align: right;}
.form dt span {color: #f00;}
.form dd {margin-left: 95px; padding: 5px 0 5px 10px;}

#type {float: left; min-width: 100px; font-size: 14px; border: 1px solid #cecece; padding: 5px 4px 5px 3px; color: #4b4b4b; outline: 0;}
#desc {float: left; width: 300px; height: 75px; padding: 5px; border: 1px solid #cecece; outline: 0; font-size: 14px; resize: none;} 
.form .inp {float: left; height: 28px; padding: 0 5px; border: 1px solid #cecece; line-height: 28px; font-size: 14px; outline: 0;}
#vdimgck {width: 60px;}
#verifycode {float: left; height: 30px; margin-left: 5px; cursor: pointer;}
#submit {height: 30px; line-height: 30px; padding: 0 15px; color: #fff; background-color: #f97d11; border: 0; font-family: 'microsoft yahei'; font-size: 14px; cursor: pointer; outline: 0;}

/* 输入提示 */
.tip-inline {float: left; display: none; font-size: 14px; margin-left: 15px;}
.tip-inline s {float: left; width: 16px; height: 16px; margin: 5px 5px 0 0; background-image: url("/static/images/ui/inputTip.png"); background-position: no-repeat;}
.tip-inline.focus {color: #404040; display: block;}
.tip-inline.success {font-size: 0; display: block;}
.tip-inline.success s {background-position: 0 -16px;}
.tip-inline.error {color: #e43d03; display: block;}
.tip-inline.error s {background-position: 0 -32px;}