.tip {height: 16px; padding: 30px 0 25px 30px; line-height: 16px; font-size: 14px; color: #666;}
.tip s {float: left; width: 16px; height: 16px; margin-right: 5px; background: url('../images/pubSprite.png') -36px -37px;}

.connect {width: 600px; margin: 0 0 30px 20px;}
.connect li {height: 60px; padding: 0 20px; line-height: 60px; font-size: 16px; border-bottom: 1px solid #e8e8e8; background-color: #f6f6f6;}
.connect li:hover {background-color: #f1f1f1; border-color: #d5d5d5;}
.connect .l {float: left;}
.connect .fail .l {color: #999;}
.connect .l img {vertical-align: middle; margin-right: 12px;}
.connect .fail .l img {-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; filter:alpha(opacity=40);	-moz-opacity:0.4;	-khtml-opacity: 0.4; opacity: 0.4;}
.connect .r {float: right; height: 40px; margin-top: 10px; line-height: 40px; font-size: 14px; border-left: 1px solid #e7e7e7;}
.connect li:hover .r {border-color: #d5d5d5;}
.connect .r a {color: #f60; display: block; padding: 0 40px 0 45px;}
.connect .r a:hover {text-decoration: underline;}
.connect .fail .r a {color: #027cff;}
.connect .r a.disabled {color: #adadad; padding: 0 33px 0 35px;}
.connect .r a.disabled img {vertical-align: middle; margin-top: -3px;}
.connect .r a:hover.disabled {text-decoration: none;}