/*基本信息*/
.door-form{margin-top: 35px;}
.door-form dl{margin-top: 20px;}
.door-form dl dt{float: left;font-size: 16px;margin-right: 10px;line-height: 35px;width:65px;}
.door-form .inp{float: left;border: 1px solid #d8d8d8;border-radius: 5px;padding: 10px 10px;line-height: 16px;-webkit-transition: border linear .2s,box-shadow linear .2s;-moz-transition: border linear .2s,box-shadow linear .2s;-o-transition: border linear .2s,box-shadow linear .2s;transition: border linear .2s,box-shadow linear .2s;font-size: 14px;color:#a0a0a0;}
.door-form dl dt span{color:red;}
.door-form dl dd {overflow: hidden;}
.door-form dl dd img{}
.door-form dl dd button.delete{margin-left: 10px;margin-bottom: 10px;float: left;margin-top: 146px;}
.door-form .inp:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.tip-container{float: left;}
.tip-container a{background: #337df6;color:#fff;padding:7px 10px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;vertical-align: bottom;line-height: 37px;}
.door-form .map-wrap{width:731px;height: 300px;margin-left: 75px;}

.apply-title{text-align: center;font-size: 14px;padding:25px 0 20px 0;color:#a0a0a0;}
.apply-title .all{width:245px;text-align: left;}
.apply-title .sex{width:75px;}
.apply-title .tel{width:185px;}
.apply-title .money{width:175px;}
.apply-title .time{width:125px;}
.apply-title .state{width:145px;}
.member-list {padding:18px 0 18px 18px;border:1px solid #eee;margin-top: 20px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
.member-list .member{width:225px;text-align: left;}
.member-list .mem-sex{width:75px;text-align: center;font-size: 16px;line-height: 52px;}
.member-list .mem-tel{width:185px;text-align: center;line-height: 52px;font-size: 18px;}
.member-list .mem-money{width:175px;text-align: center;line-height: 52px;font-size: 18px;}
.member-list .mem-time{width:125px;text-align: center;line-height: 52px;font-size: 18px;}
.member-list .mem-state{width:150px;text-align: center;    margin-top: 16px;}
.member-list .mem-state .sign{color:#f71f52;font-size: 14px;border:1px solid #f71f52;padding:5px 10px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
.member-list .mem-state .done{color:#fff;font-size: 14px;border:1px solid #d3d3d3;padding:5px 10px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;background: #d3d3d3;}
.member-list .member img{width:60px;height:60px;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;float: left;}
.member-list .member .con{margin-left: 15px;}
.member-list .member .name{margin-top: 5px;}
.member-list .member .name a{font-size: 18px;display: inline-block;max-width:95px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.member-list .member .name span{font-size: 14px;color:#fff;background: #337df6;padding:3px 7px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;margin-left: 10px;display: inline-block;vertical-align: top;}
.member-list .member .name span.grey{background: #d3d3d3;}
.member-list .member .loc a{font-size: 14px;color:#a0a0a0;line-height: 28px;}

.apply-title .select .selectType{width:57px;height:28px;border:1px solid #337df6;position: relative;display: inline-block;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;line-height: 28px;}
.apply-title .select .selectType .int{margin-left: 10px;color:#337df6;display: inline-block;width:57px;}
.apply-title .select .selectType em{display: inline-block;width: 0;height: 0;border:5px solid transparent;border-top-color: #337df6;vertical-align: middle;margin-left: 8px;transition: all .3s;position: absolute;right:5px;top:11px;}
.apply-title .select .selectType.hover em{-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin: center 2px;transform-origin: center 2px;}
.apply-title .select .selectType .selectmenu{position: absolute;top:29px;left:0;width:57px;line-height: 28px;background: #fff;-moz-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.49);-webkit-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.49);box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.49);-moz-border-radius: 2px; -webkit-border-radius: 2px;border-radius: 2px;display: none;}
.apply-title .select .selectType .selectmenu a{color:#a0a0a0;}
.apply-title .select .selectType .selectmenu a:hover{background: #f8f8f8;}
.apply-title .selectType .selectmenu a{display: block;text-align: center;}
/*添加新会员弹窗*/
/*.add-member-popup{position: fixed;z-index: 1003;top:30%;left:50%;width:570px;margin-left: -320px;background: #fff;padding:20px;-moz-border-radius: 6px; -webkit-border-radius: 6px;border-radius: 6px;}
.add-member-popup .friend p{margin-left: 89px;}
.add-member-popup .add{padding:7px 18px;color:#fff;background: #337df6;font-size: 16px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;border:none;cursor: pointer;margin-top: 45px;}
.desk{position: fixed;z-index: 1003;top:0;bottom:0;left:0;right:0;background: #000;opacity: 0.6;filter: alpha(opacity=60);}
.add-member-popup .friend .sure{margin-left: 0;text-align: center;}
.close{position: absolute;top:15px;right:15px;}
.add-member-popup .error{position: absolute;bottom:75px;left:100px;z-index: 1003;}
.add-member-popup .error p{width: 349px;padding:0px 5px;background:#ff940a;color: #fff;font-size: 12px;height: 24px;line-height: 24px;display: none;}
.w-form {font-size: 16px; color: #3b3b3b; line-height: 34px; padding-top: 20px;}
.w-form dt {float: left; width: 150px; padding: 6px 0 8px; text-align: right;}
.w-form dt span {color: #f00;}
.w-form dd {margin-left: 155px; padding: 8px 0 8px 10px;}
a.link {color: #08f;margin-left: 20px;}*/
/* 单选按钮组 */
.w-form .radio {float: left;}
.w-form .radio span {float: left; position: relative; z-index: 1; height: 32px; padding: 0 15px; line-height: 32px; font-size: 15px; color: #404040; margin-right: -1px; text-shadow: 0 1px 1px rgba(255,255,255,.75); background-color: #efefef; border-width: 1px; border-style: solid; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); border-color: #ccc\9; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.1); cursor: pointer; -webkit-transition: all linear .2s; -moz-transition: all linear .2s; -o-transition: all linear .2s; transition: all linear .2s;}
.w-form .radio span.curr {background-color: #c1e9a0; -webkit-box-shadow: inset 1px 2px 2px rgba(0,0,0,.2); -moz-box-shadow: inset 1px 2px 2px rgba(0,0,0,.2); box-shadow: inset 1px 2px 2px rgba(0,0,0,.2);}
/* 单行文本 */
.w-form .inp {float: left; height: 16px; border: 1px solid #d8d8d8; border-radius: 5px; padding: 8px 10px; line-height: 16px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;}
.w-form .inp:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}

div.tagsinput{border: 1px solid #d8d8d8;border-radius: 5px;padding:10px 10px;}

.state {color:#f00;font-size: 16px;text-align: center;padding-bottom: 20px;}