body,html{background-color: #f5f5f5;}
/*顶部信息*/
.topInfo .menu li i img {display: inline-block; width: 22px; height: 22px; margin-top: -2px; vertical-align: middle;}
.icon-img img{width:auto;height:auto;margin-top: 4px;}
.topInfo .picon{vertical-align: middle;}
.picon {background-image: url(../images/public_icons.png);background-repeat: no-repeat;}
.topInfo .loginbox a{margin-right: 5px;}
ul.menu li:hover .pop{display: block;}
.topInfo .pop s{background: url(../images/icons.png) -10px -591px;}
/*个人会员中心*/
.header {position: relative; z-index: 1000; height: 100px; background-color: #027cff; border-top: 1px solid #e4e4e4;}
.header .logo {float: left; margin-top: 23px; width: 230px;}
.header .logo s {display: none; float: left; width: 61px; height: 54px; margin-right: 10px;}
.header .logo h1 {overflow: hidden; font-size: 30px; color: #fff; line-height: 31px;}
.header .logo span {color: #fff; font-size: 14px; line-height: 25px; padding-left: 3px;}

.header .nav {float: right;}
.header .nav li {float: left; position: relative; font-size: 18px;}
.header .nav li>a {display: block; padding: 0 15px; color: #fff; line-height: 100px;}
.w1200 .header .nav li>a {padding: 0 25px;}
.header .nav li.mobile>a {padding: 0 10px;}
.header .nav li>a:hover, .header .nav li.current>a {background-color: #0065d1; color: #fff;}
.header .nav li>a s, .header .nav li>a i {display: inline-block; vertical-align: middle; overflow: hidden;}
.header .nav li>a .mob {width: 11px; height: 11px; background-position: -1px -1px; margin: -3px 5px 0 0;}
.header .nav li>a .quit {width: 19px; height: 20px; background-position: 0 -13px; margin: -3px 5px 0 0;}
.header .nav li>a i {height: 13px; padding: 0 3px; border-radius: 2px; margin: -3px 0 0 5px; line-height: 14px; background-color: #f54321; text-transform: uppercase; font-size: 10px; font-style: normal; font-family: arial;}
.header .nav li>a .arrow, .header .nav li>a .arrow em {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.header .nav li>a .arrow {display: none; border-width: 5px; right: 2px; top: 47px; border-bottom-width: 0; border-top-color: #fff;}
.w1200 .header .nav li>a .arrow {right: 10px;}
.header .nav li>a .arrow em {border-width: 4px; top: -6px; left: 0; margin-left: -4px; border-bottom-width: 1px; border-top-color: #027cff;}
.header .nav li.current>a .arrow {display: block;}
.header .nav li.current>a .arrow em {border-top-color: #0065d1;}
.header .subnav {display: none; position: absolute; left: 0; top: 100px; padding: 10px 0; background-color: #fff; box-shadow: 0 3px 10px #999; border-radius: 0 0 5px 5px; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.header .mobile .subnav {padding: 0;}
.header .current .subnav {display: block;}
.header .subnav dt {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; border-width: 6px; left: 56px; top: -12px; border-bottom-color: #fff;}
.header .subnav dd {position: relative; height: 35px; font-size: 14px;}
.header .subnav dd a {display: block; padding: 0 25px; line-height: 35px; white-space: nowrap;}
.header .subnav dd a:hover, .header .subnav dd.curr>a {color: #fff; background-color: #027cff;}
.header .subnav dd strong {font-size: 18px; color: #f00;}
.header .subnav dd a:hover strong {color: #fff;}
.header .subnav dd.qrcode {height: 120px; padding: 5px;}
.header .subnav dd.qrcode img {width: 120px; height: 120px;}
.header .subnav dd dl {display: none; position: absolute; right: -145px; top: -5px; width: 150px; padding: 5px 0; background-color: #fff; box-shadow: 0 3px 10px #999; border-radius: 0 0 5px 5px;}
/*网站首页、会员中心*/
.crumbs .cont {float: left; height: 30px; padding: 13px 0; font-size: 14px; line-height: 30px;}
.crumbs .cont s, .crumbs .cont i {display: inline-block; width: 0; height: 0; border-style: solid; border-color: transparent;}
.crumbs .cont s {position: relative; border-width: 5px; border-left-color: #ccc; margin: 0 -3px 0 3px;}
.crumbs .cont i {position: absolute; border-width: 5px; top: -5px; left: -7px; border-left-color: #f5f5f5;}
.crumbs .qiandao {float: right; margin-left: 15px;}
.crumbs .qiandao a {display: block; width: 97px; height: 33px; margin-top: 12px; background: url('../images/qiandao_btn.png') no-repeat; line-height: 33px; text-align: center; font-size: 14px; color: #fff;}
.crumbs .notice {float: right; height: 30px; margin: 13px 0; line-height: 30px; overflow: hidden;}
.crumbs .notice ul {overflow: hidden;}
.crumbs .notice li {font-size: 14px;}
.crumbs .notice li a {display: block; max-width: 430px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: right;}
.crumbs .notice li s {display: inline-block; width: 16px; height: 16px; background-position: -20px -37px; vertical-align: middle; margin: -2px 5px 0 0;}
.crumbs .notice li s {background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}
/* 内容 */
.container {padding: 28px 20px; border: 1px solid #ededed; background-color: #fff;}

/* 侧栏目 */
.sidebar {float: left; width: 175px;}
.sidebar dl {margin-bottom: 5px;}
.sidebar dt {position: relative; height: 40px; padding-left: 25px; line-height: 40px; margin-bottom: 5px; background-color: #efefef; font-size: 16px; color: #666; cursor: pointer;}
.sidebar dt:hover {background-color: #eee;}
.sidebar dt s, .sidebar dt i {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.sidebar dt s {border-width: 5px; right: 20px; top: 18px; border-bottom-width: 0; border-top-color: #ccc;}
.sidebar dt i {border-width: 4px; top: -6px; left: 0; margin-left: -4px; border-bottom-width: 1px; border-top-color: #efefef;}
.sidebar .curr dt s {border-top-width: 0; border-bottom-width: 5px; border-left-color: transparent; border-bottom-color: #ccc;}
.sidebar .curr dt i {top: 2px; border-top-width: 0; border-bottom-width: 4px; border-left-color: transparent; border-bottom-color: #efefef;}
.sidebar dt:hover i {border-top-color: #eee;}
.sidebar .curr dt:hover i {border-bottom-color: #eee;}
/*.sidebar .curr dt s {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}*/
.sidebar dt .setting {display: inline-block; vertical-align: middle; margin: -5px 0 0 10px; font-size: 12px; line-height: 35px; color: #037cff;}
.sidebar dd {position: relative; z-index: 10; height: 30px; line-height: 30px; margin-bottom: 5px;}
.sidebar dd.curr {z-index: 11;}
.sidebar dd a {display: block; position: relative; z-index: 1; padding-left: 27px; font-size: 14px;}

.sidebar dd s, .sidebar dd i {position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.sidebar dd s {border-width: 5px; right: 22px; top: 13px; border-right-width: 0; border-left-color: #ccc;}
.sidebar dd i {border-width: 4px; top: -4px; left: 0; margin-left: -6px; border-right-width: 1px; border-left-color: #fff;}
.sidebar dd.curr s {border-left-color: #027cff;}
.sidebar dd.curr i {border-left-color: #027cff;}

.sidebar dd a:hover, .sidebar dd.curr>a {background: #027cff; color: #fff;}
.sidebar dd a em {display: inline-block; height: 15px; padding: 0 4px; margin: -3px 0 0 5px; vertical-align: middle; overflow: hidden; border-radius: 10px; font-size: 12px; line-height: 15px; color: #fff; background-color: #ff6803;}
.sidebar dd ul {display: none; position: absolute; z-index: 2; left: 100px; top: 20px; width: 130px; padding: 5px 0; background-color: #f0f0f0; border-radius: 5px; box-shadow: 0 2px 10px #999; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.sidebar dd.curr ul {display: block;}
.sidebar dd li {height: 35px; line-height: 35px;}
.sidebar dd li a {display: block; padding: 0 25px; margin: 0; line-height: 35px; font-size: 14px; color: #333; font-family: 'microsoft yahei';}
.sidebar dd li a:hover {background-color: #027cff; color: #fff;}
.sidebar .module dd {float: left; width: 40%; margin-left: 7%;}
.sidebar .module dd.fb {float: none; width: 88%; margin: 0 0 10px 6%;}
.sidebar .module dd a {padding-left: 20px;}
.sidebar .module dd.fb>a {padding-left: 22px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; background-image: url('../images/fb_bg.png'); background-repeat: no-repeat; background-position: 15px 6px;}
.sidebar .module dd.fb>a:hover, .sidebar .module dd.curr.fb>a {background-image: none;}
.sidebar .module dd ul {left: 60px; width: 110px;}
.sidebar .module dd.fb ul {left: 140px; width: 110px;}
.sidebar .module dd s {right: 17px;}

/* 内容 */
.main {position: relative; overflow: hidden; padding-left: 18px;}
/* 内容一级TAB */
.main-tab {min-height: 40px; line-height: 39px; border-bottom: 2px solid #f60;}
.main-tab li {position: relative; z-index: 1; float: left; margin-right: -1px;}
.main-tab li.curr {z-index: 2;}
.main-tab li a {display: block; padding: 0 22px; border: 1px solid #e6e6e6; border-bottom: 0; background-color: #f3f3f3; color: #666; font-size: 14px;}
.main-tab li.curr a, .main-tab li.curr a:hover {background-color: #f60; border-color: #f60; color: #fff;}
.main-tab li a:hover {background-color: #e6e6e6;}
.main-tab li.add {float: right; position: relative; z-index: 5; }
.main-tab li.add a {border: 0; line-height: 30px;}
/*.main-tab li.add a:hover {background-color: #51a351;}*/
.main-tab li.add dl {position: absolute; left: 0; top: 0; background-color: #5bb75b; display: none;}
.main-tab li.add .in{float: left;background: #fff;border:1px solid #f90e34;width:100px;height:33px;padding:0;text-align: center;line-height: 33px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;display: inline-block;margin-bottom: 5px;color:#f71f52;font-weight: bold;}
.main-tab li.add .add-maker{float: right;margin-left: 10px;width:82px;height:33px;line-height: 33px;background: #f90e34;border:1px solid #f90e34;padding:0;color:#fff;text-align: center;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
/* 内容二级TAB */
.main-sub-tab {height: 45px; font-size: 14px; line-height: 45px; border-bottom: 2px solid #ddd; margin-top: 10px; overflow: hidden;}
.main-sub-tab li {position: relative; float: left;}
.main-sub-tab li a {display: block; padding: 0 13px;}
.main-sub-tab li.curr a {color: #027cff; border-bottom: 2px solid #027cff;}
.main-sub-tab li.sel {margin: 0 10px 0 10px;}
.main-sub-tab li.sel label {margin-right: 20px; cursor: pointer;}
.main-sub-tab li.sel label s {display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin: -2px 3px 0 0; background-position: -72px -1px;}
.main-sub-tab li.sel label.curr s {background-color: #5480bc; background-position: -72px -20px;}

.main-sub-tab li.static {font-weight: 700; color: #30992e;}
.main-sub-tab li.static label {color: #4d4d4d; font-weight: 500;}

.list .loading {padding: 100px 0; text-align: center; font-size: 14px;}
.list .loading img {margin-right: 5px; display: inline-block; vertical-align: middle;}

.list table {width: 100%;}
.list .fir {width: 20px;}
.list thead {border-bottom: 2px solid #e8e8e8; font-size: 14px; line-height: 45px;}
.list .thead {background: #ececec; color: #8e8e8e; line-height: 35px;}
.list tbody tr {line-height: 45px; font-size: 14px; border-bottom: 1px solid #eee;}
.list tbody tr:hover td {background-color: #ecf5fc;}
.list tbody tr:hover td.empty {background-color: #fff;}
.list tbody td {line-height: 20px; padding: 12px 0;}
.list tbody td.add {color: #30992e; font-size: 16px; font-weight: 700;}
.list tbody td.less {color: #b1000f; font-size: 16px; font-weight: 700;}
.list tbody td a s {display: inline-block; width: 13px; height: 13px; vertical-align: middle; margin: -2px 2px 0 0; background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}
.list tbody td a.edit s {background-position: 0 -54px;}
.list tbody td a.del {margin-left: 10px;}
.list tbody td a.del s {background-position: -13px -54px;}
.list tbody td a.link {color: #027cff;}
/*添加标签*/
.tip-input {position: relative;float: left;margin: 0px 10px;}
.house-tip {display: block;border: 1px solid #F4F4F4;width: 70px;height: 38px;padding:0 20px 0 10px;outline: none;}
.del {position: absolute;right: 0px;top: 14px;width: 20px;height: 20px;background: url('../images/tip-delete.png') no-repeat;background-size: 12px 12px;}
.del:hover{cursor: pointer;}
.desk{position: fixed;top:0;bottom:0;left:0;right:0;background: #000;opacity: 0.6;filter: alpha(opacity=60);z-index: 1003;}

/*添加红娘*/
.desk-add-maker .error {position: absolute;left: 57px;bottom: 99px;}
.desk-add-maker .error p {width: 282px;height:20px;color: #f90e34;display: none;padding:0 10px;text-align: center;}
.desk-add-maker{position: fixed;top:50%;left:50%;z-index: 1004;background: #fff;padding:20px 40px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;margin-left: -216px;margin-top: -196px;}
.desk-add-maker .sure-add{text-align: center;margin: 40px 0 30px 0;}
.desk-add-maker .sure-add input{font-size: 16px;color:#fff;background: #f90e34;padding:7px 15px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;outline: none;border:none;cursor: pointer;}
.add-maker-form dl dt{width:80px;text-align: right;float: left;}
.add-maker-form dl dd{float: left;}
.add-maker-close{position: relative;}
.add-maker-close img{position: absolute;top:-6px;right:-24px;}

.door-form{margin-top: 35px;}
.door-form dl{margin-top: 20px;}
.door-form dl dt{float: left;font-size: 16px;margin-right: 10px;line-height: 35px;}
.door-form .inp{float: left;border: 1px solid #d8d8d8;border-radius: 5px;padding: 10px 10px;line-height: 16px;-webkit-transition: border linear .2s,box-shadow linear .2s;-moz-transition: border linear .2s,box-shadow linear .2s;-o-transition: border linear .2s,box-shadow linear .2s;transition: border linear .2s,box-shadow linear .2s;font-size: 14px;color:#a0a0a0;}
.door-form dl dt span{color:red;}
/*.door-form dl dd img{width:283px;height:169px;float: left;}*/
.door-form dl dd button.delete{margin-left: 10px;margin-bottom: 10px;float: left;margin-top: 146px;}
.door-form .inp:focus{outline: none;}
.door-form .door-submit,.w-form .door-submit{width:62px;height:32px;line-height: 32px;text-align: center;background: #337df6;font-size: 16px;color:#fff;border:none;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;cursor: pointer;margin-top: 20px;}
.tags {background-color: #fff;border: 1px solid #d5d5d5;color: #777;padding: 4px 6px;width: 721px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
.tags:hover {border-color: #f59942;outline: 0 none;}
.tags[class*="span"] {float: none;margin-left: 0;}
.tags input[type="text"], .tags input[type="text"]:focus {border: 0 none;box-shadow: none;display: inline;line-height: 22px;margin: 0;outline: 0 none;padding: 4px 6px; }
.tags .tag {background-color: #91b8d0;color: #fff;display: inline-block;font-size: 12px;font-weight: normal;margin-bottom: 3px;margin-right: 3px;padding: 4px 22px 5px 9px;position: relative;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);transition: all 0.2s ease 0s;vertical-align: baseline;white-space: nowrap;}
.tags .tag .close {bottom: 0;color: #fff;float: none;font-size: 12px;line-height: 20px;opacity: 1;position: absolute;right: 0;text-align: center;text-shadow: none;top: 0;width: 18px;}
.tags .tag .close:hover {background-color: rgba(0, 0, 0, 0.2);}

button.close {background: transparent none repeat scroll 0 0;border: 0 none;cursor: pointer;padding: 0;}
.tags .tag-warning {background-color: #ffb752;}
/* 版权 */
.footer {background: transparent; padding: 15px 0 20px; text-align: center; line-height: 30px; font-size: 14px; color: #333;}
.footer a {color: #333;}
.footer a:hover {color: #037cff; text-decoration: underline;}



.reupload {width: 59px; height: 23px; margin-left: 10px; margin-bottom: 10px; line-height: 45px; text-align: center; text-decoration: none; font-size: 12px; color: #4d4d4d; background: url('/static/images/ui/swfupload/uploadbts.png') no-repeat; vertical-align: bottom; padding: 4px 6px;}