
i, em{font-style: normal;}
a{transition: all 0s; -moz-transition: all 0s; -webkit-transition: all 0s; -o-transition: all 0s;}
a:hover{text-decoration: none;}

/*步骤*/
.step{position: relative; margin: 107px 0 30px;}
.step .line{position: absolute; left: 10%; right: 10%; background: #f1f1f1; height: 3px;}
.step .active-line{position: absolute; left: 10%; background: #23b8f6; height: 3px; width: 20%;}
.step ul{position: relative; z-index: 10;}
.step li{float: left; width: 20%; text-align: center; margin-top: -27px;}
.step li a{display: block; background: #f1f1f1; width: 38px; height: 38px; border-radius: 50%; color: #fff; line-height: 38px; padding: 7px; margin: 0 auto; font-size: 16px;}
.step li a em{display: block; width: 38px; height: 38px; background: #dfdfdf; border-radius: 50%;}
.step li.active a{background: #d3f2ff;}
.step li.active a em{background: #23b8f6;}
.step li p{color: #949494; font-size: 14px; margin-top: 5px;}

/*内容*/
.border-box{border: 1px solid #e7e7e7; font-size: 14px; margin-top: 20px; padding-bottom: 40px;}
.title{background: #f8f8f8; padding: 10px; margin-bottom: 40px;}
.title span{color: #23b8f6; font-weight: bold; margin-right: 5px;}
.title em{color: #aaa; margin-left: 12px;}
.inpbox{margin-bottom: 22px;}
.inpbox dt{float: left; width: 280px; text-align: right; padding: 15px 0; margin-right: 20px;}
.dt-title span{color: #23b8f6; margin-right: 5px;}
.inpbox dd{float: left;}
.inpbox dd input, .inpbox dd select {border: 1px solid #e7e7e7; padding: 15px 20px; border-radius: 4px; width: 350px; outline: 0;}
.w1200 .inpbox dd input, .w1200 .inpbox dd select {width: 550px;}
.inpbox dd .zhu{color: #8d8d8d; font-size: 12px; margin-top: 4px;}
#yzm{width: 215px;}
.w1200 #yzm{width: 415px;}
#tel{width: 422px;}
#phone {width: 223px;}
.w1200 #phone {width: 423px;}
.verify{background: #23b8f6; color: #fff; border-radius: 4px; padding: 15px 25px; margin-left: 15px;}
.verify:hover{color: #fff;}
.verify.disabled{background: #ccc; padding: 15px;}

/*开通模块*/
.module{margin: 50px 0 50px 60px;}
.module .dt-title .sum{color: #23b8f6; margin-left: 15px;}
.module .dt-title .sum i{font-size: 17px;}
.module-box{margin-top: 20px;}
.module-box li{float: left; text-align: center; border: 1px solid #e7e7e7; border-radius: 4px; width: 80px; height: 86px; margin: 0 20px 20px 0; cursor: pointer;}
.module-box li img{display: block; margin: 7px auto 0; height: 34px;}
.module-box li .module-price{background: #f8f8f8; margin-top: 4px; font-size: 12px; padding: 1px 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.module-box li.active{border-color: #23b8f6; background: url(../images/selected.png) right top no-repeat;}

/*入驻人基本信息*/
.checkbox{width: 200px;}
.checkbox li{padding: 15px 0; float: left; margin-right: 30px; cursor: pointer;}
.checkbox li i{display: inline-block; float: left; border: 1px solid #e7e7e7; border-radius: 4px; width: 15px; height: 15px; margin: 3px 8px 0 0;}
.checkbox li.active i{background: url(../images/checked.png) center center no-repeat; border-color: #23b8f6;}
.picker{position: relative; border: 1px dashed #e7e7e7; text-align: center; color: #c7c7c7; padding: 22px 31px; width: 80px;}
.picker .input-img{position: absolute; left: 0; top: 0; width: 100%; padding: 0; height: 100%; opacity: 0; -webkit-opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; filter:alpha(opacity=0);}
.w1200 .picker .input-img {width: 100%;}
.picker .uploader-list{position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;}
.picker .uploader-list li{width: 100%; height: 100%;}
.picker .uploader-list li img{width: 100%; min-height: 100%;}
.certfy-upload .picker{float: left;}
.certfy-upload .demo{float: left;}
.certfy-upload .demo p{line-height: 140px; margin: 0 30px 0 20px;}
.certfy-upload .dt-title{line-height: 114px;}
.zhizhao .certfy-upload{float: left;}
.zhizhao .certfy-upload .dt-title{width: 145px;}
.zhi-demoBtn{margin-left: 20px; border: 1px solid #e7e7e7; padding: 15px 20px; border-radius: 4px;}
.ldate{line-height: 52px;}

/*选择城市*/
.cityName{display: block !important; margin-bottom: 20px; height: 53px !important; width: 305px;}
.cityName .addrBtn{height: 53px !important; line-height: 53px!important; border-radius: 4px; border-color: #e7e7e7 !important;}
.input-time .inp-date{width: 210px; }
.input-time .inp-span{margin: 0 15px;}
.input-time .radio{position: relative; padding: 15px 0 15px 23px; margin-left: 30px; cursor: pointer;}
.input-time .radio i{position: absolute; display: inline-block; float: left; border: 1px solid #e7e7e7; border-radius: 4px; width: 15px; height: 15px; margin: 0 8px 0 0; left: 0; top: 16px;}
.input-time .radio.active i { background: url(../images/checked.png) center center no-repeat; border-color: #23b8f6;}
.inpbox .textarea{border: 1px solid #e7e7e7; border-radius: 4px; padding: 15px 20px; max-width: 580px; outline: 0;}
.cityName .error{position: absolute; left: 300px; width: 300px; top: 18px;}
.dropdown-menu{margin-right: 15px; position: relative;}
.dropdown-menu .droptab{position: relative; min-width: 110px; border: 1px solid #e8e8e8; background: #f5f5f5; border-radius: 4px; height: 51px; line-height: 51px; display: block;}
.dropdown-menu .droptab:hover{text-decoration: none;}
.dropdown-menu .droptab label{display: block; cursor: pointer; margin: 0 25px 0 15px; color: #333;}
.dropdown-menu .droptab .droparrow{position: absolute; border: 5px solid transparent; border-bottom-width: 0; border-top-color: #c6c6c6; display: block; right: 12px; top: 50%; margin-top: -2.5px;}
.dropdown-list{position: absolute; background: #fff; border: 1px solid #ccc; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; width: 320px; height: 250px; overflow: auto; top: 52px; display: none;}
.dropdown-list li{padding: 0 10px; line-height: 30px; height: 30px;}
.dropdown-list li:hover, .dropdown-list li.active{background: #f2f2f2;}

/*第三步*/
.apply-box{margin: 0 auto; width: 300px; background: url(../images/apply_icon.png) left center no-repeat; padding: 100px 0 150px 100px;}
.apply-box .apply-tit{font-size: 18px;}
.apply-box .apply-tip{color: #a4a4a4;}

/*第四步*/
.store-info{padding: 8px 80px;}
.store-info dl{margin-bottom: 15px;}
.store-info dt{margin-right: 20px; width: 70px;}
.store-info dt.wid{width: auto;}
.selected-module{margin-top: 10px;}
.selected-module li{position: relative; float: left; text-align: center; border: 1px solid #e7e7e7; border-radius: 4px; width: 92px; margin: 0 20px 20px 0;}
.selected-module li .del{position: absolute; display: block; width: 25px; height: 25px; background: url(../images/pc_del.png) center center no-repeat; right: 0; top: -1px; cursor: pointer;}
.selected-module li img{display: block; margin: 7px auto 0; height: 34px;}
.selected-module li .module-price{font-size: 14px; padding: 1px 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.selected-module li .order-btn{font-size: 12px; background: #f8f8f8; padding: 5px 0; line-height: 14px; margin-top: 4px;}
.selected-module li .reduce{color: #fff; background: url(../images/reduce_icon.png) center center no-repeat; display: block; width: 15px; height: 15px; border-radius: 50%; float: left; margin-left: 8px; cursor: pointer;}
.selected-module li .add{color: #fff; background: url(../images/add_icon1.png) center center no-repeat; display: block; width: 15px; height: 15px; border-radius: 50%; line-height: 12px; float: right; margin-right: 8px; cursor: pointer;}
.store-info .total-price{color: #23b8f6;}
.store-info .budget dt{padding: 10px 0;}
.store-info .code{border: 1px solid #e7e7e7; padding: 10px 20px; border-radius: 4px; outline: 0;}
.code-submit{padding: 10px 20px; color: #fff; background: #23b8f6; font-size: 14px; border-radius: 4px; margin-left: 15px; margin-right: 18px;}
.code-submit:hover{color: #fff; background: #1bafec;}
.paybox{margin-top: 10px;}
.paybox li{text-align: center; float: left; border: 1px solid #e7e7e7; width: 175px; line-height: 30px; padding: 15px 0; margin-right: 30px; margin-bottom: 15px; border-radius: 2px; cursor: pointer;}
.paybox li.active{border-color: #23b8f6; background: url(../images/selected.png) right top no-repeat; }
.paybox li a img{height: 28px; vertical-align: middle; margin-right: 10px;}
.yue-btn{margin-right: 30px; position: relative; padding-left: 20px; cursor: pointer;}
.yue-btn .radio{position: absolute; border: 1px solid #ccc; width: 15px; height: 15px; border-radius: 50%; left: 0; top: 1px;}
.yue-btn .radio s{position: absolute; width: 11px; height: 11px; border-radius: 50%; top: 2px; left: 2px;}
.yue-btn.active .radio{border-color: #1bafec;}
.yue-btn.active .radio s{background: #1bafec;}

/*等待审核*/
.apply-box{margin: 0 auto; width: 300px; background: url(../images/apply_icon.png) left 75px no-repeat; padding: 100px 0 80px 100px;}
.apply-box .apply-tit{font-size: 18px;}

/*审核成功*/
.success-box{margin: 0 auto; width: 300px; background: url(../images/success_icon.png) left center no-repeat; padding: 100px 0 80px 100px;}
.success-box .success-tit{font-size: 18px;}
.enter-btn{display: block; margin: 0 auto; width: 200px; text-align: center; border-radius: 4px; color: #fff; background: #23b8f6; height: 50px; line-height: 50px; font-size: 14px;}
.enter-btn:hover{color: #fff; background: #1bafec;}

/*下一步*/
.stepBtn{margin: 50px 0 10px; text-align: center;}
.stepBtn a.next-btn{font-size: 16px; border-radius: 4px; padding: 11px 42px; border: 1px solid #23b8f6; background: #23b8f6; color: #fff;}
.stepBtn a.prev-btn{margin-right: 66px; background: #fff; color: #d6d6d6; border-color: #d0d0d0;}
.stepBtn a.next-btn.disabled{background: #d0d0d0; border-color: #d0d0d0;}
.stepBtn a.jump-btn{margin-left: 66px; background: #fff; color: #d6d6d6; border-color: #d0d0d0;}

/*错误信息*/
.error{color: #f60; margin-left: 15px; display: none;}
p.error{margin-left: 0;}

/*示例*/
.mask{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: #000; opacity: .4; -webkit-opacity: .4; -moz-opacity: .4; -khtml-opacity: .4; filter:alpha(opacity=40); z-index: 9999; display: none;}
.shili{position: fixed; top: 50%; left: 50%; z-index: 10000; background: #fff; width: 715px; text-align: center; border-radius: 6px; margin-top: -400px; margin-left: -350px; display: none;}
.shili .shili-tit{position: relative; font-size: 20px; line-height: 50px; border-bottom: 1px solid #f2f2f2;}
.shili .shili-tit .close{position: absolute; right: 10px; top: 0; color: #aaa;}
.shili-content{padding: 20px 0;}
.shili-content img{display: block; width: 415px; margin: 0 auto;}
.shili .shili-btn{padding: 20px 0; border-top: 1px solid #f2f2f2;}
.shili .shili-btn a{display: block; margin: 0 auto; width: 100px; height: 34px; line-height: 34px; text-align: center; color: #fff; background: #23b8f6; border-radius: 4px;}


/*底部*/
.footer-login {margin-top: 40px; background: #f8f8f8; padding: 50px 0 30px;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice {margin:0 14px;color: #ddd;}
