#companyList {max-height: 400px;overflow-y: auto;}
#companyList li {position: relative;cursor: pointer;}
#companyList .m {position: absolute;left:0;top:0;right:0;bottom:0;z-index: 2;}
#companyList .m:hover {background: rgba(255,255,255,.4) url('../images/apply_success.png') 90% center no-repeat;}