.choBtn {float: left; height: 34px; line-height: 34px; padding: 0 10px;}
.choBtn s {width: 11px; height: 11px; display: block; margin-top: 10px; background: url('/static/images/admin/glyphicons-halflings.png') -241px -1px;}
.choBtn.loading s {width: 16px; height: 16px; display: block; margin-top: 6px; background: url('/static/images/loading_16.gif') 0 0;}

/* 选择数据库 */
.chooseData {padding:15px 45px 10px 0; margin-bottom:10px;}
.choose-item {float:left; width:200px; margin-left: 45px;}
.choose-item h2 {font-size:16px; margin:0; line-height: 2em;}
.choose-item h2 small {line-height: 17px;}
.choose-container {border:1px solid #b3b3b3;}
.choose-container .pinp_rit {width:160px;}
.choose-container .pinp_main_zm a {position:relative; font-size:14px; height:30px; line-height:30px;}
.choose-container .pinp_main_zm a s {position:absolute; right:10px; top:7px;}
.choose-container .pinp_main_zm a:hover s, .choose-container .pinp_main_zm a.cur s {background-image:url("/static/images/admin/glyphicons-halflings-white.png");}
.choose-container .pinp-zm-item ul {margin:0; list-style:none; background:#f5f5f5; padding:4px;}
.choose-container .pinp-zm-item ul li {position:relative; line-height:28px; padding-left:10px; cursor:pointer;}
.choose-container .pinp-zm-item ul li.cur {background:#f93; color:#fff;}
.choose-container li s {position:absolute; right:10px; top:6px; cursor:pointer;}
.choose-container li:hover {background:#fff;}

.choose-container .pinp_main {height:343px; overflow-y:auto;}
.choose-container .pinp_main_zm {border-top:1px solid #e7e7e7; margin-top:-1px; margin-right:4px; padding:3px 0; font-size:12px; margin-left:3px;}
.choose-container .pinp_main_zm p {margin:0px;}
.choose-container .pinp_main_zm a {height:24px; line-height:24px; overflow:hidden; display:block; padding:0 5px 0 3px; white-space:nowrap; text-overflow:ellipsis;}
.choose-container .pinp_main_zm a, .choose-container .pinp_main_zm a:link, .choose-container .pinp_main_zm a:visited {text-decoration:none; color:#333; padding:0 5px 0 3px!important;}
.choose-container .pinp_main_zm a:hover, .choose-container .pinp_main_zm a.cur {text-decoration:none; color:#fff; background-color:#f93;}
.choose-container .pinp_main_zm a.on, .choose-container .pinp_main_zm a.on:link, .choose-container .pinp_main_zm a.on:visited, .choose-container .pinp_main_zm a.on:hover {text-decoration:none; color:#fff; background-color:#f93;}
.choose-container .cxtit {height:29px; line-height:29px; overflow:hidden; border-bottom:1px solid #e7e7e7; background-color:#fdfdfd; color:#999; font-size:12px; font-weight:bold; text-align:center;}
.choose-container .pinp_main_zm {border-top:1px solid #e7e7e7; margin-top:-1px; margin-right:4px; padding:3px 0; font-size:12px; margin-left:3px;}
.choose-container .pinp_main_zm p {margin:0px;}
.choose-container .pinp_main_zm i {font-weight:bold; color:#333; float:none; font-style:normal; display:block; padding:10px 0 5px 3px;}

/*样式修改20190311*/
.rentype{margin-right: 16px;}
.upload-split{display: block !important;}
.wxUploadObj .wxUpload{display: block !important;}
.payway{margin-left: 16px; position: relative;}
.choseGroup:after{content: ''; clear: both; display: block;}
.choseGroup .selectGroup{float: left;}
.upsex{margin-left: 16px;}
.codebtn{float: left; width: 110px; height: 34px; border-radius: 4px; background-color: #a8d300; color: #fff; text-align: center; font-size: 16px; margin-left: 26px;}
.codebtn:hover{color: #fff;}
.leftSelect{float: left;}
.leftSelect label{float: left; width: 150px; text-align: right;}
