/* 选择类目 */
.seltype {margin-top: 20px;}
.seltype .slide {float: left; width: 210px; padding: 20px 0 20px 20px; background-color: #f5f5f5;}
.seltype .slide li {margin-bottom: 5px;}
.seltype .slide li.curr {background-color: #fff; border-radius: 5px 0 0 5px;}
.seltype .slide a {display: block; line-height: 50px; font-size: 18px; color: #000;}
.seltype .slide a i {float: left; margin: 13px 20px 0 10px; width: 25px; height: 25px; background: none;}
.seltype .slide .t1 i {background-position: 0 0;}
.seltype .slide .t2 i {background-position: 0 -26px;}
.seltype .slide .t3 i {background-position: 0 -52px;}
.seltype .slide .t4 i {background-position: 0 -78px;}
.seltype .slide .t5 i {background-position: 0 -104px;}
.seltype .slide .t6 i {background-position: 0 -130px;}
.seltype .slide .t7 i {background-position: 0 -156px;}
.seltype .slide .t8 i {background-position: 0 -182px;}
.seltype .slide .t9 i {background-position: 0 -208px;}
.seltype .slide .t10 i {background-position: 0 -234px;}
.seltype .slide .t1.curr i {background-position: -26px 0;}
.seltype .slide .t2.curr i {background-position: -26px -26px;}
.seltype .slide .t3.curr i {background-position: -26px -52px;}
.seltype .slide .t4.curr i {background-position: -26px -78px;}
.seltype .slide .t5.curr i {background-position: -26px -104px;}
.seltype .slide .t6.curr i {background-position: -26px -130px;}
.seltype .slide .t7.curr i {background-position: -26px -156px;}
.seltype .slide .t8.curr i {background-position: -26px -182px;}
.seltype .slide .t9.curr i {background-position: -26px -208px;}
.seltype .slide .t10.curr i {background-position: -26px -234px;}

/* 类目搜索 */
.sform {position: relative; margin-bottom: 20px; z-index: 10;}
#skey {width: 240px; height: 44px; padding: 0 10px; font-size: 14px; border: 1px solid #e3e3e3; background: #fff url('../images/infoskeybtn.png') no-repeat 230px center;}
.ui-autocomplete {position: absolute; cursor: default; padding: 18px 0 15px; background-color: #f5f5f5;}
.ui-menu-item {display: block; padding: 0 35px; color: #999; height: 35px; margin-bottom: 3px; line-height: 35px; font-size: 16px; cursor: pointer;}
.ui-state-focus {background-color: #a9d300; color: #fff;}
.ui-helper-hidden-accessible {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}

/* 类目列表 */
.stype {margin-left: 250px;}
.stype ul {width: 101%; display: none; -webkit-animation:leftFadeIn .3s ease-out; -moz-animation:leftFadeIn .3s ease-out; animation:leftFadeIn .3s ease-out;}
.stype li {float: left; position: relative; height: 40px; width: 120px; margin: 0 10px 15px 0;}
.stype li a {display: block; text-align: center; line-height: 40px; border: 1px solid #ddd; padding: 0 5px; background-color: #fff; border-radius: 3px; font-size: 15px; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.stype li a:hover, .stype li.curr a {color: #fff; border-color: #a8d300; background-color: #a8d300;}
.stype li .subnav {display: none; position: absolute; left: -63px; top: 42px; z-index: 1; width: 230px; padding: 6px 1px 6px 6px; background-color: #fff; border: 1px solid #c3c3c3; -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.13); -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,.13); box-shadow: 0 0 10px 3px rgba(0,0,0,.13);}
.w1200 .stype li .subnav {left: -62px;}
.stype li .subnav i {position: absolute; z-index: 1; left: 50%; top: 0; height: 0; width: 0; margin: -16px 0 0 -4px; overflow: hidden; border: solid 8px transparent; border-bottom-color: #ffffff;}
.stype li .subnav a {width: 95px; float: left; margin: 0 5px 0 0; padding-left: 10px; text-align: left; line-height: 35px; border: 0; border-radius: 0;}
.stype li.curr .subnav a {color: #000; background-color: #fff;}
.stype li.curr .subnav a:hover {color: #fff; border-color: #a8d300; background-color: #a8d300;}
.priceswitch{margin-left: 30px;}