.banner .conbg, .mon-dwea .money s {background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}

/* 会员基本信息 */
.banner {position: relative; z-index: 10; height: 170px; background-image: url('../images/banner.jpg'); background-size: cover; text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);}
.banner .conbg {position: absolute; right: 10px; top: 10px; width: 20px; height: 20px; overflow: hidden; font-size: 0; text-indent: -999em; background-position: 0 -34px; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.banner a:hover.conbg {-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);}
.banner .uinfo {padding: 33px 0 0 50px;}
.banner .uinfo dt {float: left; width: 80px; height: 80px; border: 2px solid #fff; overflow: hidden;border-radius: 50%;-webkit-box-shadow:0 0 8px rgba(0,0,0,.4);-moz-box-shadow:0 0 8px rgba(0,0,0,.4);-o-box-shadow:0 0 8px rgba(0,0,0,.4);box-shadow:0 0 8px rgba(0,0,0,.4);}
.banner .uinfo dt a {display: block; position: relative;}
.banner .uinfo dt img {position: relative; z-index: 1; width: 80px; height: 80px;border-radius:50%;}
.banner .uinfo dt span {position: absolute; z-index: 2; left: 0; right: 0; bottom: -20px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #fff; background-color: #3e3f40; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.banner .uinfo dt a:hover span {bottom: 4px;}
.banner .uinfo dd {padding-left: 100px;}
.banner .name {height: 23px; line-height: 23px; margin-top: 10px;}
.banner .name h2 {float: left; position: relative; }
.banner .name span {position: relative; z-index: 2; font-size: 16px; color: #fff;}
.banner .name .qiye {font-size: 12px;padding:8px 10px;color:#fff;margin-left:15px;background: url(../images/qiye-bg.png) no-repeat center;}
.banner .uinfo ul {padding-top: 15px; height: 60px;}
.banner .uinfo li {float: left;}
.banner .uinfo li a {color: #fff; display: block;margin-right: 10px;}
.banner .uinfo li a s {display: block; margin: 0 auto 4px; width: 24px; height: 24px;  -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.banner .uinfo li a.disable s {background-position: -30px 0; opacity: .4; filter:alpha(opacity=40);}
.banner .uinfo li a.mobile s {background: url('../images/m-mobile.png') no-repeat center; }
.banner .uinfo li a.real s {background: url('../images/m-real.png') no-repeat center;}
.banner .uinfo li a.email s {background: url('../images/m-email.png') no-repeat center;}

.banner .bot {position: absolute; left: 0; right: 0; bottom: 0; height: 40px; line-height: 40px; color: #fff;}
.banner .bot .l {position: relative; z-index: 2; float: left; font-size: 12px; margin-left: 20px;}
.banner .bot .l a {color: #13e3f0;}
.banner .bot .l a:hover {text-decoration: underline;}
.banner .bot .r {position: relative; z-index: 2; float: left; font-size: 12px; margin-left: 30px;}
.banner .bot .r a {height: 20px; line-height: 20px; color: #fff;font-size: 12px;padding: 4px 10px; margin-left: 15px; background-color: #ccc;}
.banner .bot .r a.l1 {background-color: #81cb50;}
.banner .bot .r a.l2 {background-color: #4e23ee;}
.banner .bot .jifen {display:block;float:right;margin-right:15px;width:75px;height:30px;line-height:30px;text-align:center;color:#fff;border-radius:2px;background-color: #f3b021; text-shadow: none;}


/*账户资产*/
.main .acc-info{background: #fff; border: solid 1px #f2f2f2;text-align: center;box-shadow: 0 0 6px rgba(0,0,0,.1)}
.main .acc-info .info-con{width: 25%;line-height:50px;float: left;color:#a0a0a0;}
.main .acc-info .info-con span{color:#333333;margin-left: 10px;font-weight: 600}
.main .acc-info .info-con span b{font-size: 16px;}
.main .acc-info .info-con span .d{padding:2px 6px;font-size:12px;margin-left:10px;border: solid 1px #347df6;color:#347df6;}


/* 自定义封面图片 */
.gradeBtn{display: block; color: #fff; float: left; width: 80px; text-align: center; background: #027cff; border-radius: 4px; margin-left: 10px;}
.gradeBtn:hover{color: #fff;}
.custom-cover {position: absolute; left: 0; top: 365px; background-color: #fff; border: 1px solid #ececec\9; *border: 1px solid #ececec; _border: 1px solid #ececec; border-radius: 0 0 4px 4px; -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -ms-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -o-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.custom-cover .tit {height: 40px; line-height: 40px; padding: 0 15px; background-color: #f9f9f9; border-bottom: 1px solid #efefef;}
.custom-cover .tit h5 {float: left; font-size: 16px; color: #696969;}
.custom-cover .tit .close {float: right; width: 21px; height: 21px; font-size: 0; text-indent: -999em; margin: 10px 0 0 0; background: url('../images/pubSprite.png') -20px -16px; -moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in;}
.custom-cover .tit a:hover.close {-moz-transform:rotate(180deg); -moz-transform-origin:50% 50%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 50%; -o-transform:rotate(180deg); -o-transform-origin:50% 50%; transform:rotate(180deg); transform-origin:50% 50%;}

.custom-cover .loading {height: 300px; line-height: 300px; text-align: center; font-size: 14px;}
.custom-cover .loading img {margin: -3px 5px 0 0; vertical-align: middle;}

/* 封面图片分类 */
.custom-cover .cont {padding: 15px 0 0 16px;}
.w1200 .custom-cover .cont {padding: 15px 0 0 35px;}
.custom-cover .cover-type {padding-bottom: 10px;}
.custom-cover .cover-type li {float: left; margin: 0 2px 5px 0;}
.custom-cover .cover-type li a {height: 21px; display: block; padding: 0 12px; line-height: 21px;}
.custom-cover .cover-type li.curr a, .custom-cover .cover-type li a:hover {color: #fff; background: #ff6701;}

/* 封面图片列表 */
.custom-cover .cover-list li {float: left; width: 209px; height: 71px; margin: 0 10px 15px 0; cursor: pointer;}
.w1200 .custom-cover .cover-list li {width: 249px; height: 84px; margin: 0 30px 20px 0;}
.custom-cover .cover-list li a {display: block; position: relative; width: 205px; height: 67px; border: 2px solid #fff;}
.w1200 .custom-cover .cover-list li a {width: 245px; height: 80px;}
.custom-cover .cover-list li img {position: relative; z-index: 1; width: 205px; height: 67px; display: block;}
.w1200 .custom-cover .cover-list li img {width: 245px; height: 80px;}

.custom-cover .cover-list li .txt {display: none; position: absolute; z-index: 2; left: 0; right: 0; bottom: 0; width: 100%; height: 25px; line-height: 25px; text-align: center;}
.custom-cover .cover-list li .txt p {position: absolute; z-index: 2; width: 100%; color: #fff; font-size: 12px;}
.custom-cover .cover-list li .txt span {position: absolute; z-index: 1; left: 0; width: 100%; height: 25px; background-color: #4a4a4a; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.custom-cover .cover-list li.curr i {position: absolute; z-index: 3; right: 0; bottom: 0; width: 20px; height: 21px; background: url('../images/pubSprite.png') -52px -35px;}
.custom-cover .cover-list li.curr a, .custom-cover .cover-list li a:hover {border-color: #f60;}

.custom-cover .pagination {margin: 0 19px 20px 0;}
.w1200 .custom-cover .pagination {margin: 0 40px 20px 0;}
.custom-cover .foot {padding: 15px; text-align: right; background-color: #f6f6f6; border-top: solid 1px #e9e9e9; text-align: center;}
.custom-cover .foot input {display: inline-block; font-size: 12px; padding: 3px 20px 3px 22px; padding: 5px 20px 2px 22px\0; margin-left: 10px; cursor: pointer; display: inline-block; text-align: center; height: 25px; letter-spacing: 3px; overflow: visible; color: #333; border-radius: 2px; border: solid 1px #c4c4c4; background: #fafafa; background: linear-gradient(top,#fff,#f4f4f4); background: -moz-linear-gradient(top,#fff,#f4f4f4); background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#f4f4f4)); background: -o-linear-gradient(top,#fff,#f4f4f4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4f4f4', GradientType='0'); -moz-transition: -moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s;}
.custom-cover .foot input.save {color: #fff; border-color: #106bab #106bab #0d68a9; text-shadow: 0 -1px #1c5e91; background: #1771b2; background: linear-gradient(top,#2981c4,#1771b2); background: -moz-linear-gradient(top,#2981c4,#1771b2); background: -webkit-gradient(linear,0% 0%,0% 100%,from(#2981c4),to(#1771b2)); background: -o-linear-gradient(top,#2981c4,#1771b2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2981c4',endColorstr='#1771b2');}


/* 模块集合 */
.modules {margin-top: 20px;}
.modules ul {width: 110%;}
.w1200 .modules ul {width: 110%;}
.modules li {position: relative;float: left;  width: 28.2%; margin-right: 3.1%; margin-bottom:3.1%;text-align: center;}
.w1200 .modules li {width: 28.2%; margin-right: 3.1%; margin-bottom:3.1%;text-align: center;position: relative;}
.modules .m-content {height: 144px; background-color: #fff;    border: solid 1px #f2f2f2;box-shadow:0 0 4px rgba(0,0,0,.1);}
.w1200 .modules .m-content {position: relative;}
.modules img { margin-top: 30px; width: 55px; height: 50px;}
.modules h5 {font-size: 14px; color: #333;}
.modules .m-content > div{width: 100%;padding:10px 0;position: absolute;bottom:0;}
.modules .m-content > div a{position: relative; color: #a0a0a0; display: block;}
.modules .m-content .inline {display: block; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;}
.modules p {float: left;  margin: 0 .8%;  font-size: 12px; border-right:solid 1px #eee;}
.modules .item1 {width: 100%; font-size: 12px;  border-right:solid 1px #eee;}
.modules .item1 p{width: 100%;}
.modules .item2 p{width: 48%;}
.modules .item3 p{width: 31%;}
.modules .item4 p{width: 23%;}
.modules .item5 p{width: 18%;}
.modules p:last-child {border:none;}
.modules p .m-state{ display: block;  position: absolute;  top:-12px  ;right: 50%; margin-right: -10px; width: 20px;height: 20px;  background: url(../images/icon/m-tip.png) no-repeat right; }
.modules .cover{display: none; position: absolute; top:0;left:0;right:0;bottom:0;-webkit-animation:leftFadeIn .3s ease-out; -moz-animation:leftFadeIn .3s ease-out; animation:leftFadeIn .3s ease-out;}
.modules .cover div{margin-top: 10px;width: 100%;  padding: 10px 0;  position: absolute;  bottom: 0;}
.modules .cover div a,.modules .cover h5,.modules .cover p a{position: relative; color:#fff; display: block;}
.modules li p span{position: relative;}
.modules .c1 {background: url(../images/icon/m-bg01.png) no-repeat center;}
.modules .c2 {background: url(../images/icon/m-bg02.png) no-repeat center;}
.modules .c3 {background: url(../images/icon/m-bg03.png) no-repeat center;}
.modules .c4 {background: url(../images/icon/m-bg04.png) no-repeat center;}
.modules .c5 {background: url(../images/icon/m-bg05.png) no-repeat center;}
.modules .c6 {background: url(../images/icon/m-bg06.png) no-repeat center;}
.modules .c7 {background: url(../images/icon/m-bg07.png) no-repeat center;}
.modules .c8 {background: url(../images/icon/m-bg08.png) no-repeat center;}
.modules .c9 {background: url(../images/icon/m-bg09.png) no-repeat center;}
.modules .c10 {background: url(../images/icon/m-bg10.png) no-repeat center;}
.modules .c11 {background: url(../images/icon/m-bg11.png) no-repeat center;}
.modules .c12 {background: url(../images/icon/m-bg12.png) no-repeat center;}
