.preview {position: absolute; right: 0px; top: 5px; line-height: 30px; background-color: #5bb75b; color: #fff; padding: 0 22px;}
a:hover.preview {background-color: #51a351; color: #fff;}

.hello-box{margin-top: 10px;display: none;}
.hello-box.show{display: block;}
.hello-box .hello-list{border-bottom: 1px solid #eee;padding:20px 0;position: relative;}
.hello-box .hello-list .portrait{width:51px;height:51px;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;float: left;}
.hello-box .hello-list .con{margin-left: 20px;}
.hello-box .hello-list .con .name{margin-bottom: 5px;margin-top: 1px;font-size: 16px;display: inline-block;max-width: 160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hello-box .hello-list .con .name .user {font-size: 16px;display: inline-block;max-width: 160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hello-box .hello-list .con .name a.red{color:#ff0e0e;}
.hello-box .hello-list .con .name span{font-size: 12px;color:#fff;padding:2px 8px;background: #53c0ff;-moz-border-radius: 2px; -webkit-border-radius: 2px;border-radius: 2px;margin-left: 10px;vertical-align: top;display: inline-block;margin-top: 2px;}
.hello-box .hello-list .con .text{width:385px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hello-box .hello-list .con .text a{font-size: 14px;color:#8d8d8d;}
.hello-box .hello-list .time{font-size: 14px;color:#a0a0a0;}
.hello-box .hello-list img.hello-delete{width:20px;height:20px;}
.hello-box .hello-list .hello-delete{position: absolute;right:7px;z-index: 22;top:56px;}
.hello-desk{position: fixed;top:0;left:0;width: 100%;height:100%;z-index: 6666;background: #000;opacity: 0.6;filter:alpha(opacity=60); }
.hello-popup{width:340px;border-top: 2px solid #f90d34;position: fixed;z-index: 66666;background: #fff;top:35%;left:50%;margin-left:-200px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;padding:10px 10px 35px 10px;}
.hello-popup .delete-sure{font-size: 18px;margin-top: 53px;text-align: center;}
.hello-btn{margin-top: 45px;}
.hello-btn .cancel{font-size: 16px;color:#f90d34;padding:8px 52px;border:1px solid #f90d34;text-align: center;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;margin-left: 15px;}
.hello-btn .sure{font-size: 16px;color:#fff;padding:9px 52px;border:1px solid #f90d34;text-align: center;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;background: #f90d34;margin-right: 15px;}

/*发消息弹窗*/
.send-wrap{background: #f8f8f8;-moz-border-radius:6px; -webkit-border-radius:6px;border-radius:6px;}
.send-popup{position: fixed;z-index: 6666;width:460px;top:50%;left:50%;margin-left: -230px;margin-top: -160px;}
.send-popup .send-title{background: url(../images/send-popup.png) no-repeat;height:44px;color:#fff;font-size: 16px;text-align: center;line-height: 44px;position: relative;}
.send-popup .send-title .close{position: absolute;z-index: 22;right:10px;top:9px;}
.send-popup .send-con{background: #f8f8f8;padding:25px 20px;min-height: 180px;}
.send-popup .send-con .send-mes img{width:38px;height:38px;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;}
.send-popup .send-con .send-mes span{font-size: 14px;padding:7px 10px 7px 10px;background: #fff;-moz-border-radius: 20px; -webkit-border-radius: 20px;border-radius: 20px;margin-left: 15px;margin-top: 4px;position: relative;}
.send-popup .send-con .send-mes i{width: 0;height: 0;border:5px solid transparent;border-right-color: #fff;vertical-align: middle;margin-left: 8px;transition: all .3s;position: absolute;left: -17px;
    top: 13px;}
.send-popup .send-con .send-mes-r{float: right;}
.send-popup .send-con .send-mes-r img{width:38px;height:38px;-moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius: 50%;}
.send-popup .send-con .send-mes-r span{font-size: 14px;padding:7px 10px 7px 10px;background: #fff;-moz-border-radius: 20px; -webkit-border-radius: 20px;border-radius: 20px;margin-right: 15px;margin-top: 4px;position: relative;}
.send-popup .send-con .send-mes-r i{width: 0;height: 0;border:5px solid transparent;border-left-color: #fff;vertical-align: middle;transition: all .3s;position: absolute;left: 47px;
    top: 13px;}
.comment_box{position: relative;-moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px;}
.comment_box .write{ position: relative;padding: 10px 110px 10px 10px;height: 26px;background: #fff;}

.comment_box .write .textarea{ height: 25px; width: 100%; font-size: 14px; overflow: auto; -webkit-user-modify: read-write-plaintext-only;}
.comment_box .write .textarea:empty:before{ content: attr(placeholder); color: #ccc;}
.comment_box .write .textarea:focus { outline: none;}
.comment_box .write .textarea img{ width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin-right: 3px;}
.comment_foot {position: absolute;top:0;right:0;width: 95px;margin:8px 10px 0 0;}
.comment_foot .editor_btn .editor{ border: none; float: left; width: 25px; height: 25px; background: url(../images/xiaolian.png) no-repeat center; background-size: 25px; cursor: pointer;margin-top: 3px;outline:none;}
.comment_foot .editor_btn .editor.ed_bc{ background: url(../images/xiaolian_1.png) no-repeat center; background-size: 25px;}
.comment_foot .com_btn{ float: right; width: 62px; height: 30px; border-radius: 15px; background: #ff2645; color: #fff; text-align: center; line-height: 30px; cursor: pointer; font-size: 16px;-moz-box-shadow: 0px 3px 8px 0px rgba(255, 38, 69, 0.53);-webkit-box-shadow: 0px 3px 8px 0px rgba(255, 38, 69, 0.53);box-shadow: 0px 3px 8px 0px rgba(255, 38, 69, 0.53);}
.comment_foot .face_box{ position: absolute; right: -35px; top: 38px; z-index: 111; background: #fff; width: 480px; border: 1px solid #e3e3e3; border-radius: 5px; padding: 10px; display: none;}
.comment_foot .face_box i{ position: absolute; right: 100px; top: -18px; background: url(../images/jiao_2.png) no-repeat center; background-size: 30px; width: 30px; height: 30px;}
.comment_foot .face_box ul li{ float: left; width: 30px; height: 30px; overflow: hidden; margin-right: 10px; margin-bottom: 10px; cursor: pointer;}
.comment_foot .face_box ul li a img{ width: 100%; height: 100%;}

