.content {padding: 35px 0 50px;}
.w1200 .content {padding: 35px 20px 50px;}

.m-left {position: relative; overflow: hidden; height: 520px;}
.crop {position: relative; width: 450px; height: 450px; background-color: #e2e2e2; text-align: center; line-height: 450px; overflow: hidden;}
.crop .loading {position: absolute; left: 50%; top: 50%; margin: -16px 0 0 -16px;}
.crop .crop-img {vertical-align: middle; max-height: 450px; max-width: 450px; visibility: hidden;}
.btns {padding-top: 25px; line-height: 38px; color: #999;}
.normal {margin: -340px 0 0 155px;}
.btns .save {float: left; width: 130px; height: 34px; line-height: 34px; font-size: 14px; color: #fff; border: 1px solid #76ae30; background-color: #85c336; cursor: pointer; margin: 0 20px 30px 0; font-family: 'microsoft yahei';}
.btns .save:hover {background-color: #7eb933;}
.btns .save:disabled, .btns .save:disabled:hover {background-color: #c2c2c2; border-color: #b0b0b0; cursor: no-drop;}
.normal .save {display: none;}

.upload-form {float: left; position: relative; width: 130px; height: 34px; overflow: hidden; margin-right: 20px;}
.normal .upload-form {width: 140px; height: 120px;}
.btns .choose {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1; width: 100%; height: 100%; line-height: 100%; font-size: 14px; color: #666; border: 1px solid #c2c2c2; background-color: #fbfbfb; cursor: pointer; margin: 0 20px 30px 0; font-family: 'microsoft yahei';}
.normal .choose {font-size: 18px;}
#Filedata {position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; opacity: 0; filter:alpha(opacity=0); cursor: pointer;}

.m-left .tips {padding-top: 15px; color: #999;}

.m-right {float: right; position: relative; width: 240px;}
.w1200 .m-right {width: 290px; border-left: 1px solid #e5e5e5;}
.w1200 .m-right {padding: 0 40px;}
.m-right .preview {width: 240px; padding: 25px 15px 0; background-color: #f2f2f2; color: #9b9b9b;}
.w1200 .m-right .preview {padding: 25px 25px 0;}
.m-right .preview p {padding-top: 5px;}
.m-right .avatar-big, .m-right .avatar-middle, .m-right .avatar-small {float: left; padding-bottom: 20px;}
.m-right .avatar-big .pic {width: 240px; height: 320px; display: block; overflow: hidden; margin-left: -15px;}
.w1200 .m-right .avatar-big .pic {margin-left: 0;}
.m-right .avatar-big img {display: block;}
/* .m-right .avatar-small {margin-top: 135px;} */
.m-right .avatar-middle {margin-left: 10px;}
.w1200 .m-right .avatar-middle {margin-left: 40px;}
.m-right .avatar-middle .pic {width: 150px; height: 200px; display: block; overflow: hidden;}
.m-right .avatar-middle img {display: block;}
.m-right .avatar-small .pic {width: 50px; height: 65px; display: block; overflow: hidden;}
.m-right .avatar-small img {display: block;}
