/*置顶刷新浮动窗*/
.refreshTopMask{background: #000; opacity: .4; filter:Alpha(opacity=40); position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1001; display: none;}
.refreshTopPopup{position: fixed; left: 50%; top: 50%; z-index: 1002; background: #fff; width: 660px; margin-left: -330px; margin-top: -320px; border-radius: 5px; overflow: hidden; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; display: none;}
.rtHeader {height: 50px; line-height: 50px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7800), to(#ffb800)); background: -webkit-linear-gradient(left, #ff7800, #ffb800); background: -moz-linear-gradient(left, #ff7800, #ffb800); background: -o-linear-gradient(left, #ff7800, #ffb800); background: -ms-linear-gradient(left, #ff7800, #ffb800); background: linear-gradient(left, #ff7800, #ffb800); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #ff7800, endColorstr = #ffb800);}
.rtHeader h5 {float: left; color: #fff; font-size: 18px; color: #fff; margin-left: 30px;}
.rtHeader .rtClose {float: right; width: 50px; height: 50px; text-align: center; color: #fff; font-size: 45px; line-height: 45px; margin-right: 10px;}

.rtBody {padding: 30px; background: #fff;}
.rtTab {height: 36px; border-bottom: 1px solid #ffb772;}
.rtTab li {float: left; padding: 0 25px; height: 36px; line-height: 36px; cursor: pointer; font-size: 16px; border: 1px solid transparent; border-bottom: 0; margin-bottom: -1px;}
.rtTab li.curr {background: #ffecd7; border: 1px solid #ffb772; border-bottom: 0;}

.rtCon {padding: 10px 0;}

/* 普通刷新 */
.normalTips {font-size: 14px; line-height: 1.5em;}
.normalTips strong {color: #f60;}
.normalTips em {color: #f00; font-weight: 700; padding: 0 3px;}

/* 免费刷新 */
.freeRefresh .oper {text-align: center; font-size: 16px; padding-bottom: 30px;}
.freeRefresh .refreshNow, .freeRefresh .refreshConfirm {border-radius: 4px; background-color: rgb(255, 120, 0); box-shadow: 0px 3px 10px 0px rgba(255, 120, 0, 0.6); padding: 0 35px; height: 45px; border: 0; outline: 0; cursor: pointer; font-size: 18px; color: #fff; margin: 60px auto 25px;}
.freeRefresh .refreshNow:disabled, .freeRefresh .refreshConfirm:disabled {background-color: rgb(169, 169, 169); box-shadow: 0px 3px 10px 0px rgba(197, 197, 197, 0.6);}
.freeRefresh .refreshConfirm {margin-top: 20px;}
.freeRefresh .oper p {color: #a0a0a0;}
.freeRefresh .icon-success {position: relative; border-radius: 50%; background-color: rgb(32, 221, 108); box-shadow: 0px 3px 8px 0px rgba(32, 221, 108, 0.42); width: 80px; height: 80px; text-align: center; display: block; margin: 60px auto 20px;}
.freeRefresh .icon-success s {position: absolute; left: 50%; top: 50%; width: 41px; height: 27px; margin: -13px 0 0 -20px; background: url('/templates/member/images/refreshTop_success.png');}
.freeRefresh .oper .sc p {line-height: 1.8em;}

/* 普通收费刷新 */
.normalRefresh {font-size: 18px; padding: 15px 0 0; color: #f60; font-weight: 700;}

/* 智能刷新 */
.rtSmart {font-size: 16px;}
.rtSmart li {position: relative; line-height: 35px; padding-left: 40px; cursor: pointer;}
.rtSmart li:hover {background: #f5f5f5;}
.rtSmart li .radio {position: absolute; border: 1px solid #ccc; width: 17px; height: 17px; border-radius: 50%; left: 10px; top: 9px;}
.rtSmart li .radio s {position: absolute; width: 8px; height: 8px; border-radius: 50%; top: 4px; left: 4px;}
.rtSmart li.checked .radio {border-color: #ff7800; width: 16px; height: 16px; border-width: 2px;}
.rtSmart li.checked .radio s {background: #ff7800;}
.rtSmart li span {float: left;}
.rtSmart li span strong {color: #f00;}
.rtSmart li .sm-tit {width: 30%;}
.rtSmart li .sm-pri {width: 45%;}
.rtSmart li .sm-off {width: 25%;}
.rtSmart li .sm-tit em {color: #a0a0a0;}
.rtSmart li .sm-pri em {color: #f00;}

/* 置顶 */
.rtTopping {font-size: 14px;}
.rtTopping dl {margin-bottom: 15px;}
.rtTopping dt {float: left; width: 80px; font-weight: 700;}
.rtTopping dd {position: relative; overflow: hidden;}
.rtTopping .topType label {float: left; margin-right: 15px; cursor: pointer;}
.rtTopping .topType em {width: 20px; height: 20px; display: inline-block; margin-right: 5px; border-radius: 50%; border: 1px solid #c0c0c0; text-align: center; line-height: 20px}
.rtTopping .topType .checked em {border-color: #ff3e54; background-color: #ff3e54;}
.rtTopping .topType em img {width: 15px; height: 10px; display: inline-block; vertical-align: middle; margin-top: -3px;}

/* 置顶时长 */
.rtTopping .topDays li {position: relative; float: left; margin: 0 10px 10px 0; border: 1px solid #dcdcdc; width: 118px; height: 90px; border-radius: 4px; overflow: hidden; text-align: center; cursor: pointer;}
.rtTopping .topDays li:hover {border-color: #ff3e54;}
.rtTopping .topDays li.checked {width: 116px; height: 88px; border: 2px solid #ff3e54;}
.rtTopping .topDays li sup {position: absolute; left: 0; top: 0; font-size: 12px; color: #fff; background: #ff4261; line-height: 22px; padding: 0 5px;}
.rtTopping .topDays li p {padding-top: 25px; font-size: 16px;}
.rtTopping .topDays li strong {color: #ff3e54; font-size: 20px;}
.rtTopping .topDays li em {position: absolute; right: 0; bottom: -20px; z-index: 1; width: 0; height: 0; border: 20px solid transparent;}
.rtTopping .topDays li img {position: absolute; right: 1px; bottom: 4px; width: 9px; z-index: 2;}
.rtTopping .topDays li.checked em {border-right-color: #ff3e54;}
.rtTopping .topDays li.checked sup {top: -1px; left: -1px;}
.rtTopping .topDays li.checked p {padding-top: 24px;}

/* 置顶日期 */
.rtTopping .rtDate {float: left; position: relative; height: 38px; line-height: 38px; border: 1px solid #e5e5e5; border-radius: 4px; padding: 0 35px 0 0; cursor: pointer;}
.rtTopping .rtDate input {width: 90px; height: 38px; border: 0; outline: 0; padding-left: 12px;}
.rtTopping .rtDate em {position: absolute; right: 12px; top: 50%; width: 0; height: 0; margin-top: -2.5px; border: 5px solid transparent; border-top-color: #b0b0b0;}
.rtTopping .rtSplit {float: left; margin: 0 10px; width: 12px; height: 1px; background: #5c5c5c; overflow: hidden; margin-top: 20px;}

/* 置顶时段 */
.rtTopping .rtPlanList {width: 100%; border-left: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; font-size: 14px;}
.rtTopping .rtPlanList th, .rtTopping .rtPlanList td {border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; text-align: center; height: 40px;}
.rtTopping .rtPlanList td em {display: block; height: 40px; cursor: pointer;}
.rtTopping .rtPlanList td:hover em {background-color: #f5f5f5;}
.rtTopping .rtPlanList td.curr em {background: url('/templates/member/images/radio_check_red.png') no-repeat center center;}

/* 使用余额 */
.rtBody .fabu_dl{margin-bottom: 10px; font-size: 16px;}
.rtBody .fabu_dl dt{float: left; padding-left: 25px; width: 427px;}
.rtBody .fabu_dl dd{float: left;}
.rtBody .yue-btn{position: relative; cursor: pointer;}
.rtBody .yue-btn .radio{position: absolute; width: 17px; height: 17px; left: 0; top: 3px; border-radius: 4px; background-color: rgb(255, 0, 69);}
.rtBody .yue-btn .radio s{display: none; position: absolute; width: 15px; height: 10px; top: 3px; left: 1px; background: url('/templates/member/images/refreshTop_checked.png');}
.rtBody .yue-btn.active .radio s{display: block;}
.rtBody .pay-total {color: #f00; font-weight: 700; font-size: 18px;}

/* 支付方式 */
.rtPayObj {margin-top: 10px;}
.rtBody .payTab {height: 40px; border-bottom: 1px solid #e0e0e0; background: #f9f9f9;}
.rtBody .payTab li {position: relative; float: left; padding: 0 25px; height: 39px; line-height: 39px; border-right: 1px solid #e0e0e0; border: 1px solid #e0e0e0; border-top: 2px solid #e0e0e0; border-bottom: 0; text-align: center; font-size: 16px; color: #666; margin-right: -1px; cursor: pointer;}
.rtBody .payTab li.curr {border-top-color: #ff7800; background: #fff;}
.rtBody .qrpay, .rtBody .payway {border: 1px solid #e0e0e0; border-top: 0;}
.rtBody .qrpay {padding: 30px 20px; text-align: center;}
.rtBody .qrpay dt {position: relative; width: 150px; height: 150px; padding: 10px; border: 1px solid #d8d8d8; margin: 0 auto;}
.rtBody .qrpay dt .pay_top, .rtBody .qrpay dt .pay_bottom {position: absolute; width: 15px; height: 16px;}
.rtBody .qrpay dt .pay_top {left: -3px; top: -3px;}
.rtBody .qrpay dt .pay_bottom {right: -3px; bottom: -3px;}
.rtBody .qrpay dt img {width: 100%; height: 100%; display: block;}
.rtBody .qrpay dd {font-size: 14px; line-height: 30px; text-align: center; margin-top: 15px;}
.rtBody .qrpay dd img {width: 30px; height: 30px; display: inline-block; vertical-align: middle; margin-right: 5px;}

.rtBody .payway{padding: 30px 18px 20px; font-size: 16px;}
.rtBody .payway li{text-align: center; float: left; border: 1px solid #e7e7e7; width: 173px; line-height: 30px; padding: 10px 0; margin: 0 12px 14px 0; border-radius: 4px; cursor: pointer;}
.rtBody .payway li.active{border-color: #0ab7f9; background: url('/templates/member/images/selected.png') right top no-repeat; }
.rtBody .payway li a:hover{text-decoration: none; color: #333;}
.rtBody .payway li a img{height: 44px; vertical-align: middle; margin-right: 5px;}

.rtBody .paySubmit{display: block; width: 175px; border-radius: 4px; background-color: rgb(255, 120, 0); box-shadow: 0px 3px 10px 0px rgba(255, 120, 0, 0.6); height: 45px; line-height: 45px; text-align: center; font-size: 18px; color: #fff; margin: 20px auto 0;}

/*日历签到列表*/
.topCalendarBg {display: none; position: fixed; z-index: 8888; left: 0; top: 0; right: 0; bottom: 0; background: #000; filter: alpha(opacity=40); opacity: .4;}
.topCalendar {display: none; position: fixed; z-index: 9999; left: 50%; top: 50%; width: 600px; height:566px; margin: -290px 0 0 -283px; background: #fff; border-radius: 4px; overflow: hidden;}
.sign_succ_calendar_title {text-align:center;height:50px;line-height:50px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7800), to(#ffb800)); background: -webkit-linear-gradient(left, #ff7800, #ffb800); background: -moz-linear-gradient(left, #ff7800, #ffb800); background: -o-linear-gradient(left, #ff7800, #ffb800); background: -ms-linear-gradient(left, #ff7800, #ffb800); background: linear-gradient(left, #ff7800, #ffb800); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #ff7800, endColorstr = #ffb800); color: #fff;}
.calendar_month_span {display:inline-block;font-size:16px;letter-spacing:2px;font-weight:bold; margin: 0 10px; vertical-align: middle;}
.calendar_month_next {display:inline-block;cursor:pointer; text-align: center; font-size: 20px; vertical-align: middle;}
.calendar_month_prev {display:inline-block;cursor:pointer; text-align: center; font-size: 20px; vertical-align: middle; margin-left: 40px;}
.calendar_close {float: right; width: 30px; height: 30px; background: url('../images/topCalendarClose.png'); cursor: pointer; margin: 10px 10px 0 0;}

.sign table {border-collapse:collapse;border-spacing:0;width:100%;}
.sign th,.sign td {width:30px;height:40px;text-align:center;line-height:40px;border:1px solid #eeeeee;}
.sign th {font-size:16px; background: #f8f8f8;}
.sign td {color:#404040;vertical-align:middle;}
.sign .WeekDay td {height:70px;text-align:left;font-size:20px;vertical-align:top;padding-top:8px;position:relative;text-align: center;}
.sign .WeekDay td.empty,.sign .WeekDay td.on {cursor:default;}
.sign .WeekDay td.empty:hover,.sign .WeekDay td.on:hover {background:none;}
.sign .WeekDay td i {position:absolute;right:15px;top:32px;width:8px;height:8px;border-radius:8px;background:#f25b11;display:none;}
.sign .WeekDay td span {position:absolute;left:0;right:0;bottom:0px;color:#adadad;font-size:16px;text-align:center;text-indent:0;}
.sign .WeekDay td p {position:absolute;left:0;right:0;bottom:0px;color:#adadad;font-size:16px;width:120px;text-align:center;text-indent:0;display:none;background:#ccc;color:#fff;height:36px;line-height:36px;}
.sign .WeekDay td.isTop0 {background: #d7d7d7;}
.sign .WeekDay td.today {background: #f5bb0c; color: #fff;}
.sign .WeekDay td.today span {color: #fff;}


/*房产经纪人相关*/
.refreshTopPopup.check_zjuser .price_average,
.refreshTopPopup.check_zjuser .price_average *,
.refreshTopPopup.check_zjuser .sm-pri,
.refreshTopPopup.check_zjuser .sm-pri *,
.refreshTopPopup.check_zjuser .sm-off,
.refreshTopPopup.check_zjuser .sm-off *,
.refreshTopPopup.check_zjuser .rtTopping .topNormal li strong,
.refreshTopPopup.check_zjuser .rtTopping .topNormal li strong *
{text-decoration: line-through;color:#ccc;}
.refreshTopPopup.check_zjuser .zjuser_tj {display: block !important;}
.zjuser_info {display: none;margin:20px 0 0;font-size:14px;text-align: center;color: #a0a0a0;}
.refreshTopPopup.check_zjuser .zjuser_info {display: block;}
.hide_impt {display: none !important;}