html {background: #E9E9E9; color: #969696;}

#close, .login-qq, .login-sina, .form-horizontal li .login-input {background: url('../images/pub.png') no-repeat;}

.reg-pup {width: 390px; background-color: #fff; border: 1px solid #c9c9c9; margin: 0 auto; position: relative; top: 60px;}
#close {position: absolute; z-index: 1000; right: 20px; top: 22px; width: 15px; height: 15px; display: block; background-position: -100px -91px; font-size: 0; text-indent: -999em;}
.reg-pup h2 {height: 60px; position: relative; border-bottom: 1px solid #ebebeb; padding: 0 20px; font-size: 18px; line-height: 60px; color: #444;}

/* 错误提示 */
.inptip {position: absolute; left: 270px; top: 0; border: 1px solid #bbb; background: #fff; font-size: 14px; border-radius: 4px; padding: 10px; padding-left: 32px; word-wrap: break-word; line-height: 19px;}
.inptip s {position: absolute; left: -10px; top: 11px; width: 11px; height: 18px; overflow: hidden; background: url('../images/pub.png') -30px -90px;}
.inptip i {position: absolute; left: 7px; top: 10px; width: 20px; height: 20px; overflow: hidden; background: url('../images/tips_20.png') no-repeat;}
.error i {background-position: 0 -20px;}
.tip i {background-position: 0 -40px;}
.success p {color: green;}
.error p {color: red;}

/* 表单 */
.form-horizontal {padding: 15px 40px 30px;}
.form-horizontal li {position: relative; height: 42px; margin-bottom: 10px;}
.form-horizontal li.mtype {line-height: 42px; font-size: 16px;}
.form-horizontal li.mtype label {cursor: pointer; margin-right: 15px;}
.form-horizontal li.mtype label input {vertical-align: middle; margin-right: 3px; cursor: pointer;}
.form-horizontal li.question {height: 20px; line-height: 20px; margin: 10px 0 5px; font-size: 14px;}
.form-horizontal li.xieyi {height: 30px; padding-top: 10px;}
.form-horizontal li.xieyi input {vertical-align: middle;}
.form-horizontal li .login-input {width: 280px; height: 20px; border: 1px solid #ccc; padding: 9px 10px 10px 15px; background-repeat: repeat-x; outline: 0; font-size: 16px;}
.form-horizontal li .err {background-position: 0 -45px; border-color: #e8b0af;}
.form-horizontal li .login-input.focus {background-position: 0 0; border-color: #4ca5ea;}
.form-horizontal li span {position: absolute; z-index: 100; left: 15px; top: 0; width: 300px; height: 42px; line-height: 42px; font-size: 16px;}
.form-horizontal li.vdcode .login-input {width: 133px;}
.form-horizontal li.vdcode span {width: 150px;}
.form-horizontal li.vdcode img {display: inline-block; vertical-align: middle; margin: -5px 0 0 27px; *margin: -25px 0 0 24px; cursor: pointer;}
.form-horizontal li.submit label {float: left; margin-top: 15px;}
.form-horizontal li.submit input {vertical-align: middle; margin-right: 3px;}
.form-horizontal li.submit .login-btn {display: block; width: 100%; height: 43px; overflow: hidden; line-height: 43px; text-align: center; font-size: 16px; background-color: #419ce3; border: 1px solid #419ce3; color: #ffffff;}
.form-horizontal li.submit a:hover.login-btn {background-color: #61b1ef; text-decoration: none;}
.form-horizontal li.submit .disabled, .form-horizontal li.submit a:hover.disabled {background-color: #ccc; border-color: #bbb;}
.form-horizontal li.submit .unlogin {background-color: #f7f7f7; border: 1px solid #d1d1d1; color: #7e7e7e; cursor: default;}
.form-horizontal li.submit a:hover.unlogin {background-color: #f7f7f7; border: 1px solid #d1d1d1; color: #7e7e7e; cursor: default;}


.login-foot {clear: both; height: 20px; background: #f4f4f4; border-top: 1px solid #c9c9c9; padding: 20px 38px; font-size: 14px;}
.login-foot a {color: #529bef;}
