::-webkit-scrollbar{ display: none}
body,html{ background: #f9f9f9;}
.topInfo{ margin-bottom: 0;}
.top_box{ height: 400px; background:url(../images/bac.png) no-repeat center;}
.logo{ line-height: 45px; padding-top: 24px;}
.logo img{ width: 49px; height: 45px; float: left;}
.logo h1{ float: left; font-size: 18px; color: #fff; margin-left: 10px;}
.per_img{ width: 148px; height: 148px; margin: 0 auto; background: rgba(255, 255, 255, 0.1); border-radius: 100%; position: relative;}
.per_img .circle_out{ width: 120px; height: 120px; background: rgba(255, 255, 255, 0.2); border-radius: 100%; position: absolute; top: 10%; left: 50%; margin-left: -59px;}
.per_img .circle_in{ width: 100px; height: 100px; border-radius: 100%; border: 2px solid #fff; overflow: hidden; position: absolute; top: 7%; left: 49%; margin-left: -50px;}
.per_img .circle_in img{ width: 100%; min-height: 100px;}
.vip_tips { width: 28px; height: 28px; overflow: hidden; position: absolute; top: 73%; right: 10%; border-radius: 100%;}
.vip_tips img{ width: 28px; height: 28px;}
.per_name{ text-align: center; font-size: 18px; color: #fff; margin-top: 5px;}
.per_name em{ font-size: 14px; margin-left: 10px;}
.attion{ width: 94px; line-height: 39px; height: 39px; background: #008cf4; color: #fff; border-radius: 18px; margin: 0 auto; font-size: 16px; cursor: pointer; margin-top: 10px; text-align: center;}
.attion em{ font-size: 27px; float: left; height: 39px; margin-left: 16px; line-height: 34px; margin-right: 5px;}
.attion span{ float: left;}
.attion.attioned{ background: #dadada;}
.per_number{ text-align: center; color: #fff; font-size: 16px; margin-top: 25px;}
.per_number a{ color: #fff;}
.per_number a:hover{ color: #34bdf6;}
.per_number span{ margin: 0 50px; font-size: 22px;}
.per_number em{ margin-left: 10px;}
.main{ margin-top: 50px; overflow: visible;}
.main_left{ float: left; width: 300px;}
.main_left .nav_box{ background: #fff; padding: 30px 20px;}
.main_left .nav_box ul li{ text-align: center; border-bottom: 1px solid #f1f1f1; height: 55px; line-height: 55px;}
.main_left .nav_box ul li a{ display: block; font-size: 16px; position: relative;}
.main_left .nav_box ul li.bbnone{ border-bottom: none;}
.main_left .nav_box ul li a i{ position: absolute; width: 20px; height: 20px; background: url(../images/jiao.png) no-repeat center; background-size: 20px; right: 55px; top: 18px; display: none;}
.main_left .nav_box ul li.nav_bc a{ color: #34bdf6;}
.main_left .nav_box ul li.nav_bc a i{ display: block;}
.visitor{ background: #fff; margin-top: 20px;}
.visitor .visitor_lead{ padding: 0 20px; border-bottom: 1px solid #f3f3f3; padding-top: 10px; height: 40px; line-height: 40px;}
.visitor .visitor_lead em{ float: left; font-size: 16px;}
.visitor .visitor_lead a{ float: right; font-size: 14px;}
.visitor .visitor_list{ padding: 20px 20px 5px 20px;}
.visitor .visitor_list ul li{ float: left; width: 33.33%; text-align: center; margin-bottom: 15px;}
.visitor .visitor_list ul li a:hover { text-decoration: none;}
.visitor .visitor_list ul li .vis_pic{ width: 65px; height: 65px; border-radius: 100%; overflow: hidden; margin: 0 auto;}
.visitor .visitor_list ul li .vis_pic img{ width: 100%; min-height: 65px;}
.visitor .visitor_list ul li h1{ width: 90%; margin: 5px auto 0; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.visitor .visitor_list ul li h2{ color: #b6b6b6;}
.main_right{ float: right; width: 870px;}
.main_right .main_box{ display: none;}
.main_right .tieba_box .tie_detail{ padding: 20px 40px; background: #fff; margin-bottom: 15px;}
.main_right .tieba_box .tie_detail .tie_lead { height: 35px;}
.tie_detail .tie_lead .tie_title{ float: left; width: 85%; height: 35px; line-height: 35px; overflow: hidden; font-size: 20px; text-overflow: ellipsis; white-space: nowrap;}
.tie_detail .tie_lead .tie_title a{ font-weight: bold; margin-right: 5px;}
.tie_detail .tie_lead .tie_title i{ width: 30px; height: 30px; display: inline-block; background: url(../images/infor.png) no-repeat; vertical-align: text-bottom;}
.tie_detail .tie_lead .tie_title i.top{ background-position: -82px -3px;}
.tie_detail .tie_lead .tie_title i.jing{ background-position: -143px -111px;}
.tie_detail .tie_lead  .tie_tips{ float: right; color: #23b8f6; font-size: 16px; font-weight: bold;}
.tie_detail .tie_lead  .tie_tips i{ width: 25px; height: 25px; display: inline-block; background: url(../images/infor.png) no-repeat; background-position: -1px -106px; vertical-align: text-bottom; margin-right: 3px;}
.tie_detail h1{ font-size: 16px; margin-top: 10px;}
.tie_detail ul{ width: 800px; margin-top: 15px;}
.tie_detail ul li{ float: left; width: 148px; height: 148px; overflow: hidden; margin-right: 12px;}
.tie_detail ul li a{ display: block; position: relative; height: 148px;}
.tie_detail ul li a img{ width: 148px; height: 148px;}
.tie_detail ul li a .Pic_Number{ position: absolute; bottom: 0; left: 0; right: 0; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(.8, #000)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8)); background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)); background: #333\0; height: 30px; text-align: right; color: #fff; padding-right: 5px; line-height: 25px; font-size: 14px; font-weight: bold;}
.tie_detail .tie_foot{ font-size: 14px; color: #b5b5b5; margin-top: 10px;}
.tie_detail .tie_foot em{ margin-right: 15px;}
.tie_detail .tie_video{ width: 148px; height: 148px;}
.tie_detail .tie_video{ width: 148px; height: 148px; position: relative; margin-top: 15px;}
.tie_detail .tie_video img{ width: 148px; height: 148px;}
.tie_detail .tie_video i{ width: 53px; height: 53px; position: absolute; left: 49px; top: 47px; background: url(../images/artile.png) no-repeat; background-position: -139px -4px;}

.pagination{ float: left; min-width: 450px; font-size: 14px;}
.pagination .page_info { display: none;}
.pagination-pages .curr{background: #2d96e9; border-color: #2d96e9;}
.pagination-pages a, .pagination-pages span{background: #fff; border: 1px solid #ededed; }
.pagination-pages a:hover{color: #2d96e9; background: #fff; border-color: #2d96e9;}

.inner{ float: left; min-width: 450px; margin-left: -50%;}
.inner ul li{ width: auto; margin-right: 3px; background: #fff; float: left;}
.inner ul li a , .inner ul li span{ position: relative; height: 35px; line-height: 33px; display: block; padding: 0 15px; border: 1px solid #ededed; color: #3e3e3e;}
.inner ul li a:hover{ text-decoration: none; border-color: #2d96e9; color: #2d96e9; z-index: 1;}
.inner ul li span{ background: #fff; color: #9a9a9a; border-color: #ddd;}
.inner ul li.page_current span{ background: #2d96e9; color: #fff; border-color: #2d96e9; font-weight: 700;}
.inner ul li.page_more span{ background: none; border: none; font-size: 10px; padding: 0 5px;}
.leave_message{ margin-top: 20px; background: #fff;}
.leave_message .message_con { padding: 0 30px;}
.leave_message h1{ font-size: 16px; height: 35px; line-height: 35px; border-bottom: 1px solid #f3f3f3; padding-top:10px;}
.comment_box{ margin-top: 30px;}
.comment_box .write{ position: relative; padding: 10px; border: 1px solid #e3e3e3; border-radius: 5px; height: 25px;}
.comment_box .write .textarea{ height: 25px; width: 100%; font-size: 14px; overflow: auto; -webkit-user-modify: read-write-plaintext-only;}
.comment_box .write .textarea:empty:before{ content: attr(placeholder); color: #ccc;}
.comment_box .write .textarea:focus { outline: none;}
.comment_box .write .textarea img{ width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin-right: 3px;}
.comment_box .write em{ position: absolute; right: 10px; top: 13px; color: #d4d4d4;}
.comment_foot { margin-top: 10px; position: relative;}
.comment_foot .editor_btn .editor{ border: none; float: left; width: 25px; height: 25px; background: url(../images/xiaolian.png) no-repeat center; background-size: 25px; cursor: pointer;}
.comment_foot .editor_btn .editor.ed_bc{ background: url(../images/xiaolian_1.png) no-repeat center; background-size: 25px;}
.comment_foot .com_btn{ float: right; width: 106px; height: 39px; border-radius: 5px; background: #d4d4d4; color: #fff; text-align: center; line-height: 39px; cursor: pointer; font-size: 16px;}
.comment_foot .com_btn:hover{ background: #34bdf6;}
.comment_foot .face_box{ position: absolute; left: -5px; top: 40px; z-index: 111; background: #fff; width: 480px; border: 1px solid #e3e3e3; border-radius: 5px; padding: 10px; display: none;}
.comment_foot .face_box i{ position: absolute; left: 2px; top: -18px; background: url(../images/jiao_2.png) no-repeat center; background-size: 30px; width: 30px; height: 30px;}
.comment_foot .face_box ul li{ float: left; width: 30px; height: 30px; overflow: hidden; margin-right: 10px; margin-bottom: 10px; cursor: pointer;}
.comment_foot .face_box ul li a img{ width: 100%; height: 100%;}
.all_message{ margin-top: 20px; font-size: 16px;}
.all_message em{ margin-left: 10px; color: #d4d4d4;}
.messages_box .message_txt{ padding: 30px 0; border-bottom: 1px solid #f1f1f1; position: relative;}
.messages_box .message_txt:last-child { border-bottom: 0;}
.messages_box .message_txt .mes_first{ padding-left: 65px;}
.messages_box .message_txt .mes_pic img{ width: 50px; height: 50px; border-radius: 100%; position: absolute; left: 0; top: 30px;}
.messages_box .message_txt .com_infor .com_per .name{ float: left; font-size: 16px;}
.messages_box .message_txt .com_infor .com_per .time{ float: right; color: #d4d4d4; font-size: 14px;}
.messages_box .message_txt .com_infor .connect{ font-size: 14px; margin-top: 5px;}
.messages_box .message_txt .com_infor .connect img { width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin-right: 3px;}
.reply { margin: 20px 0 0 65px;;}
.reply i{ float: right; width: 20px; height: 20px; background: url(../images/re.png) no-repeat center; background-size: 20px; cursor: pointer;}
.reply .comment_box{ margin-top: 10px; display: none;}
.reply_txt{ margin-left: 65px; padding: 20px 25px; background: #f6f6f6; margin-top: 25px; border-radius: 5px; position: relative;}
.reply_txt p{ font-size: 14px; margin-bottom: 5px;}
.reply_txt span{ color: #666;}
.reply_txt i{ position: absolute; top: -20px; left: 25px; width: 30px; height: 30px; background: url(../images/jiao_1.png) no-repeat center; background-size: 30px;}
.reply_txt img { width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin-right: 3px;}
.messages_box .message_txt .com_infor .connect{ font-size: 14px; margin-top: 5px;}
.load_more{ height: 40px; line-height: 40px; font-size: 16px; color: #b7b7b7; text-align: center; margin-top: 20px; cursor: pointer; padding-bottom: 20px;}
.load_more:hover{ color: #34bdf6;}
.footer-login{ background: #fff; padding: 30px 0; padding-top: 40px; margin-top: 50px;}
.empty { line-height: 150px; text-align: center; padding-bottom: 20px;}

.news_detail{ padding: 20px 40px; background: #fff; margin-bottom: 15px;}
.news_detail .news_lead{ height: 35px;}
.news_detail .news_lead .news_title{ float: left; width: 85%; height: 35px; line-height: 35px; overflow: hidden; font-size: 20px; text-overflow: ellipsis; white-space: nowrap;}
.news_detail .news_lead .news_title a{ font-weight: bold; margin-right: 5px;}
.news_detail .news_lead .news_tips{ float: right; color: #23b8f6; font-size: 16px; font-weight: bold;}
.news_detail .news_lead .news_tips i{ width: 25px; height: 25px; display: inline-block; background: url(../images/infor.png) no-repeat; background-position: -1px -106px; vertical-align: text-bottom; margin-right: 3px;}
.news_detail .desc{ font-size: 16px; margin-top: 10px;}
.news_detail ul { width: 800px; margin-top: 15px;}
.news_detail ul li{ float: left; width: 250px; height: 178px; overflow: hidden; margin-right: 12px;}
.news_detail ul li a img{ width: 100%; height: 100%;}
.news_foot{ margin-top: 15px; font-size: 14px;}
.news_foot em{ float: left; color: #afafaf;}
.news_foot .com{ float: left; padding-left: 20px; background: url(../images/pinglun.png) no-repeat left; background-size: 15px; margin-left: 10px;}
.news_foot .com a{ color: #afafaf;}
.news_foot .share_btn{ width: 40px; height: 20px; float: left; background: url(../images/share.png) no-repeat left; background-size: 15px; margin-left: 8px; cursor: pointer; position: relative;}
.news_foot .share_btn:hover .share_box{ display: block;}
.news_foot .share_btn .share_box{ position: absolute; right: -88px; top: -5px; width: 96px; height: 27px; background: #fff; border-radius: 5px; padding-left: 5px; padding-top: 2px; padding-bottom: 2px; display: none;}
.news_foot .share_btn .share_box .Share{ position: relative; width: 26px; height: 26px; float: left; margin-right: 6px;}
.news_foot .share_btn .share_box .Share a{ 	position: relative; 	z-index: 9; width: 26px; height: 26px; display: inline-block; border-radius: 100%; background: url(../images/infor.png) no-repeat; padding: 0; margin: 0;}
.news_foot .share_btn .share_box .Share i{ 	position: absolute; 	top: 0; 	left: 0; width: 26px; height: 26px; border-radius: 100%; background: #ededed; display: block;}
.news_foot .share_btn .share_box .Share:hover i{ background: #23b8f6;}
.news_foot .share_btn .share_box .Share_QQ a{ background-position: -224px -7px;}
.news_foot .share_btn .share_box .Share_weixin a{ background-position: -299px -7px;}
.news_foot .share_btn .share_box .Share_weibo a{ background-position: -261px -7px;}
.news_foot .share_btn .share_box .Share a:hover{ opacity: 1;}
.info_detail{ padding: 20px 40px; background: #fff; margin-bottom: 15px;}
.info_detail .info_lead{ height: 35px;}
.info_detail .info_lead .news_title{ float: left; width: 80%; height: 35px; line-height: 35px; overflow: hidden; font-size: 20px; text-overflow: ellipsis; white-space: nowrap;}
.info_detail .info_lead .news_title a{ font-weight: bold; margin-right: 5px;}
.info_detail .info_lead .news_title i{ width: 30px; height: 30px; display: inline-block; background: url(../images/infor.png) no-repeat; vertical-align: text-bottom;}
.info_detail .info_lead .news_title i.jian{ background-position: -345px -6px;}
.info_detail .info_lead .news_title i.ji{ background-position: -128px -3px;}
.info_detail .info_lead .tel{ float: right; font-size: 18px; color: #34bdf6; height: 35px; line-height: 35px;}
.info_detail .info_lead .tel i{ width: 25px; height: 25px; background: url(../images/infor.png) no-repeat; background-position: -225px -215px; display: inline-block; vertical-align: text-bottom; margin-right: 5px;}
.info_detail .tel_location{ text-align: right; font-size: 14px;}
.info_detail h1{ font-size: 16px;}
.info_detail .info_foot{ font-size: 14px; color: #b5b5b5; margin-top: 10px;}
.info_detail ul { width: 800px; margin-top: 15px;}
.info_detail ul li{ float: left; width: 250px; height: 178px; overflow: hidden; margin-right: 12px;}
.info_detail ul li a img{ width: 100%; height: 100%;}
.huodong_detail{ padding: 25px 20px; background: #fff; margin-bottom: 15px;}
.huodong_detail .huodong_info{ position: relative;}
.huodong_detail .huodong_pic{ float: left; width: 240px; height: 168px; margin-right: 23px; position: relative; z-index: 9;}
.huodong_detail .huodong_pic img{ width: 100%; height: 100%;}
.huodong_detail .hodong_title{ font-size: 20px; font-weight: bold; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 10px;}
.huodong_detail ul li{ font-size: 16px; height: 30px; line-height: 30px;}
.huodong_detail ul li em{ color: #b2b2b2; display: inline-block; width: 90px;}

.huodong_foot{ margin-top: 13px;}
.huodong_foot em{ color: #b2b2b2; width: 90px; float: left; font-size: 16px;}
.huodong_foot .share_box{ float: left;}
.huodong_foot .share_box .Share{ position: relative; width: 26px; height: 26px; float: left; margin-right: 6px;}
.huodong_foot .share_box .Share a{ 	position: relative; 	z-index: 9; width: 26px; height: 26px; display: inline-block; border-radius: 100%; background: url(../images/infor.png) no-repeat; padding: 0; margin: 0;}
.huodong_foot .share_box .Share i{ 	position: absolute; 	top: 0; 	left: 0; width: 26px; height: 26px; border-radius: 100%; background: #ededed; display: block;}
.huodong_foot .share_box .Share:hover i{ background: #23b8f6;}
.huodong_foot .share_box .Share_QQ a{ background-position: -224px -7px;}
.huodong_foot .share_box .Share_weixin a{ background-position: -299px -7px;}
.huodong_foot .share_box .Share_weibo a{ background-position: -261px -7px;}
.huodong_foot .share_box .Share a:hover{ opacity: 1;}
.huodong_detail .huodong_info .huodong_btnbox{ position: absolute; right: 0; bottom: -5px; width: 235px;}
.huodong_detail .huodong_info .huodong_btnbox .in_btn { float: right;}
.huodong_detail .huodong_info .huodong_btnbox .in_btn a{ width: 88px; height: 36px; line-height: 36px; background: #5e17f1; color: #fff; display: block; text-align: center; font-size: 14px; border-radius: 5px;}
.huodong_detail .huodong_info .huodong_btnbox .in_btn span{ width: 88px; height: 36px; line-height: 36px; background: #dadada; color: #fff; display: block; text-align: center; font-size: 14px; border-radius: 5px;}
.huodong_detail .huodong_info .huodong_btnbox .per_num{ font-size: 20px; float: left; line-height: 36px; color: #34bdf6;}
.huodong_detail .huodong_info .huodong_btnbox .per_num em{ color: #b2b2b2; font-size: 16px; display: inline-block; margin-right: 10px;}
.house_nav{ height: 54px; background: #f4f4f4; line-height: 54px; border-radius: 5px; overflow: hidden; margin-bottom: 26px;}
.house_nav ul li{ float: left; width: 174px; height: 54px; text-align: center; font-size: 16px; cursor: pointer;}
.house_nav ul li.HN_bc{ background: #008cf4; color: #fff;}
.house_detail { padding: 20px 20px; background: #fff; margin-bottom: 15px;}
.house_detail .house_pic{ float: left; width: 194px; height: 194px; margin-right: 23px;}
.house_detail .house_pic img{ width: 100%; height: 100%;}
.house_detail .house_info .hosue_title{ font-size: 20px; font-weight: bold; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.house_detail .house_info .hosue_tips{ margin-top: 10px;}
.house_detail .house_info .hosue_tips em{ font-size: 14px; color: #008cf4; border: 1px solid #008cf4; padding: 0 5px;}
.house_detail .house_type{ font-size: 14px; margin-top: 16px;}
.house_detail .house_type em{ color: #b0b0b0;}
.house_detail .house_price{ font-size: 14px; margin-top: 10px;}
.house_detail .house_price em{ font-size: 18px;}
.house_detail .house_location{ font-size: 14px; line-height: 22px; margin-top: 5px;}
.house_detail .house_location i{ width: 19px; height: 20px; display: inline-block; background: url(../images/location.png) no-repeat -1px 1px; background-size: 15px; vertical-align: middle;}
.house_detail .hosue_foot .house_time { font-size: 14px; margin-top: 5px; float: left;}
.house_detail .hosue_foot .house_time i{ width: 19px; height: 20px; display: inline-block; background: url(../images/time.png) no-repeat 0px 2px; background-size: 15px; vertical-align: middle;}
.house_detail .hosue_foot .house_sell_price{ float: right; color: #008cf4; font-size: 16px;}
.house_detail .hosue_foot .house_sell_price em{ font-size: 22px;}
.house_detail.zu .house_location{ margin-top: 30px;}
.house_detail.zu .house_type{ margin-top: 20px;}
.house_detail.zu .house_pic{ position: relative;}
.house_detail.zu .house_pic .zhongjie{ position: absolute; right: -10px; top: -11px; width: 100px; height: 100px; background: url(../images/house_1.png) no-repeat center;}
.house_detail.zu .house_pic .geren{ position: absolute; right: -10px; top: -11px; width: 100px; height: 100px; background: url(../images/house_2.png) no-repeat center;}

.loading{text-align: center; font-size: 16px; margin-top: 40px;}
