.main-tab li.tmoney {float: right; height: 40px; overflow: hidden; font-size: 14px; color: #666; line-height: 35px;}
.main-tab li.tmoney strong {font-size: 30px; color: #f60; vertical-align: sub; font-weight: 500; padding-right: 5px;}

.withdraw {padding: 30px 0 30px 50px;}
.withdraw dt {float: left; width: 95px; text-align: right; color: #666; font-size: 14px; line-height: 45px;}
.withdraw dd {position: relative; overflow: hidden; padding: 0 0 22px 15px; font-size: 14px;}
.withdraw dd.singel {padding-top: 12px;}
.withdraw dd label {display: inline-block; margin-right: 15px; padding-bottom: 10px; cursor: pointer;}

.withdraw .price {font-size: 25px; color: #f60; vertical-align: sub; font-weight: 500; padding: 4px 0 10px 15px;}

/* 单选 */
.withdraw input[type=radio] {-webkit-appearance: none; width: 0; height: 0; visibility: hidden; border: none;}
.withdraw input[type=radio]+label i {display: inline-block; zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 16px; height: 16px; margin-top: 3px; margin-right: 3px; border: 1px solid #b8b8b8; background-color: #fafafa; vertical-align: top; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;}
.withdraw input[type=radio]:checked+label i {background-image: url(../images/pubSprite.png); background-position: -47px -57px; border: 0;}


/* 文本框 */
.inp {float: left; height: 40px; padding: 1px 10px; margin-top: 1px; border: 1px solid #e1e1e1; font-size: 24px; color: #666; font-family: 'microsoft yahei';}
.inp:focus {padding: 0 9px 0 9px; border: 2px solid #f60;}
.inp.error {padding: 0 9px 0 9px; border: 2px solid #ff5243; color: #ff5243;}


#paycard {width: 230px;}
#paycard:focus, #paycard.error {width: 229px;}

.historyBank, .historyAlipay {float: left; position: relative; line-height: 44px; margin-left: 15px; padding-right: 15px;}
.historyBank i, .historyAlipay i {position: absolute; height: 0; width: 0; line-height: 0; font-size: 0; border: 4px dashed transparent; top: 20px; right: 4px; border-top: 4px solid #666; z-index: 10;}

.tip-inline {display: none; float: left; position: relative; line-height: 44px; margin-left: 15px; padding-left: 22px; color: #999;}
.tip-inline s {position: absolute; left: 0; top: 14px; width: 16px; height: 16px; background: url('../images/tips_16.png') no-repeat;}
.tip-inline.ok {font-size: 0px; text-indent: -999em;}
.tip-inline.ok s {background-position: 0 -16px;}
.tip-inline.error {color: #ff5243;}
.tip-inline.error s {background-position: 0 -32px;}

/* 支付协议 */
.agree {line-height: 30px;}
.agree input {vertical-align: middle; margin: -2px 5px 0 0;}
.agree a {color: #2b91e3;}
.agree span {padding-left: 19px;}

/* 提交按钮 */
#tj {width: 135px; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 18px; font-family: 'microsoft yahei'; background-color: #f60; border-radius: 3px; border: 0; cursor: pointer;}
#tj:hover {background-color: #f50;}
#tj:disabled {background-color: #ccc;}

.tips {margin-top: 30px;}
.tips p {padding: 5px 0; color: #999;}


/* 历史记录 */
.history-list {position: absolute; width: 270px; overflow: hidden; padding: 4px; background: #e8e8e8; border: 1px #d2d2d2 solid; border-radius: 5px;}
.history-main {height: 200px; overflow: hidden; overflow-y: auto; padding-top: 3px; background: #fff; border: 1px #d2d2d2 solid; border-width: 0 1px 1px 1px; position: relative;}
.history-main .load, .history-main .empty {height: 200px; text-align: center; line-height: 200px;}
.history-main li {height: 32px; overflow: hidden; border-bottom: 1px #DEDEDE solid; word-break: break-all; line-height: 20px; line-height: 20px;}
.history-main li a {display: block; height: 20px; white-space: nowrap; overflow: hidden; padding: 5px 10px; color: #4d4d4d; position: relative; zoom: 1;}
.history-main li a:hover {text-decoration: none; color: #4d4d4d; background: #feffce;}
.history-main li a em {position: absolute; display: none; right: 5px; top: 0; padding: 7px; font-size: 15px; background: #fff; line-height: 15px; font-size: 20px;}
.history-main li a:hover em {display: block;}