/* 状态 */
.info-section {margin: 10px 0 10px; padding: 8px 16px; font-size: 14px; border: 1px solid #f5d8a7; background: #fff6db; color: #666; overflow: hidden; zoom: 1; line-height: 1.8em;}
.info-text {font-weight: 700; color: #d00;}

/* 详细信息 */
.bunch-section {margin: 0 0 10px; font-size: 12px; background: #fff; border: 1px solid #e5e5e5; overflow: hidden; zoom: 1; font-size: 14px;}
.bunch-section dt {padding: 8px 10px; font-size: 14px; font-weight: 700; color: #333; background: #eee;}
.bunch-section dd {padding: 10px;}
.bunch-section dd li {line-height: 2em;}