
		<!--发帖框 s-->
		<div class="content-box">
			{#if ($pageCurr == "detail" && $detail_isreply) || $pageCurr != "detail"#}
			
			<div class="editor-box-all">
				{#if $pageCurr != "detail"#}<h3><i></i><span>发表新帖</span></h3>{#/if#}
				{#if $userinfo#}
				
				<div class="editor" data-type="{#$pageCurr#}" data-typeid="{#$typeid#}">
					{#if $pageCurr == "index" || $pageCurr == "list"#}
					<div class="editor-title"><input type="text" placeholder="请填写标题"></div>
					<div class="editor-label">
						<select class="citychose">
							<option class="default" value="">请选择城市</option>
							{#tieba action="city" return="city"#}
			                <option value="{#$city.id#}" {#if $siteCityInfo['cityid'] == $city.id#} selected{#/if#}>{#$city.name#}</option>
			                {#/tieba#}
						</select>
						{#if $pageCurr == "index"#}
						<select  id="typechose">
							<option class="default" value="">请选择分类</option>
							{#tieba action="type"#}
			                <option value="{#$row.id#}">{#$row.typename#}</option>
			                {#/tieba#}
						</select>
						
						{#/if#}
					</div>
					{#/if#}
					<div class="editor-box">
						<div class="ueditor-box">
							<script id="container" name="content" type="text/plain" style="width:100%; height:350px"> </script>
						</div>
						
					</div>
					<div class="captcha_in">
						 <input type="text" id="pubCode" placeholder="请填写验证码" class="pf-tit">
            			 <img width="90" height="30" src="/include/vdimgck.php" title="看不清？点击换一张" id="verifycode" />
					</div>
					<div class="sub_btn">发表</div>
				</div>
				{#else#}
      			<div class="login"><a href="javascript:;" id="login">请先登录</a></div>
				{#/if#}
			</div>
			
			{#/if#}
		</div>
		<!--发帖框 e-->
		
		
		
		
		<script type='text/javascript' src='/include/ueditor/ueditor.config.js?v={#$cfg_staticVersion#}'></script>
		<script type='text/javascript' src='/include/ueditor/ueditor.all.js?v={#$cfg_staticVersion#}'></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
		
		<script type="text/javascript" src="{#$templets_skin#}js/pubjs.js?v={#$cfg_staticVersion#}"></script>
		<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>