<!--右侧浮动导航s-->
		<div class="fudong-right-box">
			
			<ul class="fudong-right">
				<li><a href="{#getUrlPath service='tieba' template='fabu'#}">
					<!--[if lt IE 9]>发帖<![endif]-->
				</a></li>
				<li class="qrcode-box">
					<!--[if lt IE 9]>点我<![endif]-->
					<div class="qrcode"></div>
				</li>
				<li class="top-icon"><a href="javascript:;"></a></li>
				
			</ul>	
			
		</div>	
		<!--右侧浮动导航e-->
		
		
		<!--底部s-->
		<div class="footer-box">
			<ul class="footer-text">
				<li>{#$cfg_powerby#}</li>
				<li>{#$cfg_statisticscode#}</li>
			</ul>
		</div>
		<!--底部e-->
			
			
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js?v={#$cfg_staticVersion#}"></script>	
		