<div class="pannel-box ">
			<!--顶部搜索s-->
			<div class="top-box ">
				<div class="top">
					{#$headHotLine = $cfg_hotline#}
					{#$headBaseHost = $cfg_basehost#}
					{#$headWebName = $cfg_webname#}
					{#$headWebLogo = $cfg_weblogo#}
					{#$headShortName = $cfg_shortname#}

					
					{#$headHotLine = $tieba_hotline#}
					{#$headBaseHost = $tieba_channelDomain#}
					{#$headWebName = $tieba_channelName#}
					{#$headWebLogo = $tieba_logoUrl#}
					{#$headShortName = $tieba_channelName#}

					<div class="logo-img"><img src="{#$headWebLogo#}" alt="{#$headWebName#}"></div>
					<div class="tel-box">
						<i></i>
						<p>
							<span>客服电话</span>
							<span class="tel">{#$headHotLine#}</span>
						</p>
					</div>
					
					<div class="terminal-box ">
						<ul class="terminal-box-ul">
							<li>
								<a target="_blank" href="{#getUrlPath service="siteConfig" template="mobile"#}">
									<i><img src="{#$templets_skin#}images/app-icon.png"></i>
									<span>移动端</span>
								</a>
								<div class="down app-down fn-clear">
									<div class="con-box">
										<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" />
										<p>扫码访问</p>
									</div>
									{#if $cfg_app_ios_download || $cfg_app_android_download#}
									<div class="con-box">
										<img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='siteConfig' template='mobile'#}" />
										<p>移动端app下载<br/>{#$cfg_appname#}</p>
									</div>
									{#/if#}
								</div>
							</li>
							<li class="wx">
								<i><img src="{#$templets_skin#}images/wechat_icon.png"></i>
								<span>微信端</span>
								<div class="down wx-down fn-clear">
									<div class="con-box">
										<img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" />
										<p>扫码访问</p>
									</div>
									{#if $cfg_weixinQr#}
									<div class="con-box">
										<img src="{#$cfg_weixinQr#}" />
										<p>微信公众平台：<br/>{#$cfg_weixinName#}</p>
									</div>
									{#/if#}
									{#if $cfg_miniProgramQr#}
									<div class="con-box">
										<img src="{#$cfg_miniProgramQr#}" />
										<p>小程序：<br/>{#$cfg_miniProgramName#}</p>
									</div>
									{#/if#}
								</div>
							</li>
							
						</ul>
						
					</div>
					<div class="search-box">
						<form method="get" action="{#getUrlPath service="tieba" template="list"#}">
							<div class="label-box">
								<span {#if empty($username) || $keywords#}class="onlabel"{#/if#}>帖子</span>
								<span {#if $username#}class="onlabel"{#/if#}>用户</span>
							</div>
							<div class="search">
								<i></i>
								<input placeholder="请输入你要搜索的关键字" id="keywords" name="keywords" value="{#$keywords#}{#$username#}"/>
								<input type="hidden" value="" />
								<span class="sub-btn"><button type="submit">搜索</button></span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--顶部搜索e-->
			<!--导航栏s-->
			<div class="nav-box">
				<ul class="nav">
					<li {#if  $typeid=='' && $ispic=='' && $orderby==""#}class="onnav"{#/if#}><a href="{#$tieba_channelDomain#}">首页</a></li>
					<li {#if $orderby=='pubdate'#}class="onnav"{#/if#}><a href="{#getUrlPath service='tieba' template='list' param="orderby=pubdate"#}">最新发帖</a></li>
					<li {#if $ispic==2#}class="onnav"{#/if#}><a href="{#getUrlPath service='tieba' template='list' param="ispic=2"#}">视频帖子</a></li>
					<li {#if $ispic==1#}class="onnav"{#/if#}><a href="{#getUrlPath service='tieba' template='list' param="ispic=1"#}">图片帖子</a></li>
					{#tieba action="type" return="list"#}
					{#if $_bindex.list<6#}
					<li {#if $typeid == $list.id#}class="onnav"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$list.id#}#}">{#$list.typename#}</a></li>
					{#/if#}
					{#/tieba#}
				</ul>
			</div>
			<!--导航栏e-->
		</div>