<!DOCTYPE html>
<html>
	<head>
		<meta charset="{#$cfg_soft_lang#}">
		<title>{#if $seoTitle != ""#}{#$seoTitle#} - {#/if#}{#$tieba_title#}</title>
		<meta name="keywords" content="{#$tieba_keywords#}" />
		<meta name="description" content="{#$tieba_description#}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public-tieba.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/swiper.min.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
		<script>
		var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}', channelDomain = '{#$tieba_channelDomain#}', modelType = 'tieba';

		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "w1000");
		var id = 0;
		
		var payReturn = "{#getUrlPath service='member' type='user' template='manage' action='tieba'#}";
		</script>
		
	</head>
	{#$pageCurr = "list"#}
	<body>
		{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}
		<!--顶部 s-->
		{#include file="_top_search.html"#} 
		<!--顶部 e-->
		<div class="content-box">
			
			<div class="content">
				<!--左边内容s-->
				<div class="left-content">
					<!--排序方法s-->
					<div class="sort-box">
						<ul>
							<li {#if $orderby=='lastreply'#}class="onsort"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$typeid#} param="{#if $keywords#}keywords={#$keywords#}{#/if#}&orderby=lastreply{#if $username#}&username={#$username#}{#/if#}"#}">最新回复</a></li>
							<li {#if $orderby=='pubdate'#}class="onsort"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$typeid#} param="{#if $keywords#}keywords={#$keywords#}{#/if#}&orderby=pubdate{#if $username#}&username={#$username#}{#/if#}"#}">最新发帖</a></li>
							<li {#if $orderby=='reply'#}class="onsort"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$typeid#} param="{#if $keywords#}keywords={#$keywords#}{#/if#}&orderby=reply{#if $username#}&username={#$username#}{#/if#}"#}">最多回复</a></li>
							<li {#if $orderby=='click'#}class="onsort"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$typeid#} param="{#if $keywords#}keywords={#$keywords#}{#/if#}&orderby=click{#if $username#}&username={#$username#}{#/if#}"#}">最多浏览</a></li>
							<li {#if $ispic==1#}class="onsort"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$typeid#} param="{#if $keywords#}keywords={#$keywords#}{#/if#}&ispic=1{#if $username#}&username={#$username#}{#/if#}"#}">图片帖子</a></li>
							<li {#if $ispic==2#}class="onsort"{#/if#}><a href="{#getUrlPath service='tieba' template='list' typeid={#$typeid#} param="{#if $keywords#}keywords={#$keywords#}{#/if#}&ispic=2{#if $username#}&username={#$username#}{#/if#}"#}">视频帖子</a></li>
						</ul>
					</div>
					<!--排序方法e-->
					<!--广告图s-->
					<div class="banner-box">
				        <div class="slideBox slideBox1 ">
				            <div class="slidewrap banner">
				                <div class="slide">
				                    <div class="bd">
				                        <div class="slideobj">{#myad title="贴吧社区_模板三_电脑端_广告三" type="slide"#}</div>
				                    </div>
				                    <div class="hd"><ul></ul></div>
				                </div>
				                <a href="javascript:;" class="prev"></a>
				                <a href="javascript:;" class="next"></a>
				            </div>
				        </div>
				    </div>
					<!--广告图e-->
					
					<!--新闻part1s-->
					<div class="news-part1">
						<dl>
						</dl>
					</div>
					<!--新闻part1e-->
					
					<!--新闻list s-->
					<div class="news-box">
						
						<!--新闻内容s-->
						<div class="news-content-box">
							 {#tieba action='tlist' typeid={#$typeid#} username={#$username#} keywords={#$keywords#} orderby={#$orderby#} ispic={#$ispic#} page={#$atpage#} pageSize="20"#}
						        {#$style = ""#}
						        {#if $row.color != ""#}
						        {#$style = $style|cat:" color: "|cat:$row.color|cat:";"#}
						        {#/if#}
						        {#if $row.bold == 1#}
						        {#$style = $style|cat:" font-weight: 700;"#}
						        {#/if#}
						        
						     	{#if $row.imgGroup #}	
						       	 	{#if $row.imgGroup|@count==1 #}  
						       	 	<!--一张图s-->
							       	<div class="pic-news-box news-content">
											<div class="pic-box">
												<img src="{#$row.imgGroup[0]#}" />
											</div>
											<div class="newscontent-box">
												<h3>
													<a target="_blank" href="{#$row.url#}" target="_blank">
														<span>{#$row.title#}</span>
														{#if $row.top#}
															<div class="to-top">
																<i>置顶</i>
																<s class="bg1"></s>
																<s class="bg2"></s>
															</div>
														{#/if#}
													</a>
												</h3>
												<div class="news-info">
													<div class="left-info">
														
														{#if $row.photo#}
														<i class="user-headicon"><img src="{#$row.photo#}"></i>
														{#else#}
														<i class="user-headicon"><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg"></i>
														{#/if#}
														
														<span class="user-name">
															<a target="_blank" href="{#$cfg_basehost#}/user/{#$row.uid#}#tieba" target="_blank">
																{#if $row.photo#}
																	{#$row.username#}
																{#else#}
																  	佚名
																{#/if#}
															</a>
														
														</span> ·
														<span class="tieba-channel">[{#$row.typename[0]#}]</span> ·
														<span class="tiezi-time">{#$row.pubdate|date_format:"%H:%M"#}</span>
													</div>
													<ul class="right-info">
														<li><i></i><span>{#$row.click#}</span></li>
														<li><i></i><span>{#$row.reply#}</span></li>
														<li><a href="javascript:;" data-title="{#$row.title#}" data-url="{#$row.url#}" data-pic="{#$row.imgGroup[0]#}" class="sharebtn"><i></i></a></li>
													</ul>
													
												</div>
											</div>
										</div>
									<!--一张图e-->
								    {#else#}
				                    <!--多图新闻s-->
									<div class="pics-news-box news-content">
										<div class="pics-news">
											<h3>
												<a target="_blank" href="{#$row.url#}">
													<span>{#$row.title#}</span>
													{#if $row.top#}
														<div class="to-top">
															<i>置顶</i>
															<s class="bg1"></s>
															<s class="bg2"></s>
														</div>
													{#/if#}
												</a>
											</h3>
											<ul class="pics-box">
												  {#foreach from=$row.imgGroup item="img" key="k"#}
							                      {#if $k < 4#}<li><a href="javascript:;"><img src="{#$img#}" alt="{#$row.title#}" /></a></li>{#/if#}
							                      {#/foreach#}
												{#if count($row.imgGroup)>=4#}
												<span>{#count($row.imgGroup)#}图</span>
												{#/if#}
											</ul>
											<ul class="pic_big">
												{#foreach from=$row.imgGroup item="img" key="k"#}
							                      {#if $k < 4#}<li><a href="javascript:;"><img src="{#$img#}" alt="{#$row.title#}" /></a></li>{#/if#}
							                    {#/foreach#}
							                    <i class="left"></i>
							                    <i class="right"></i>
											</ul>
											<div class="news-info">
												<div class="left-info">
													{#if $row.photo#}
														<i class="user-headicon"><img src="{#$row.photo#}"></i>
														{#else#}
														<i class="user-headicon"><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg"></i>
														{#/if#}
													<span class="user-name"><a target="_blank" href="{#$cfg_basehost#}/user/{#$row.uid#}#tieba" target="_blank">{#$row.username#}</a></span> ·
													<span class="tieba-channel">[{#$row.typename[0]#}]</span> ·
													<span class="tiezi-time">{#$row.pubdate|date_format:"%H:%M"#}</span>
												</div>
												<ul class="right-info">
													<li><i></i><span>{#$row.click#}</span></li>
													<li><i></i><span>{#$row.reply#}</span></li>
													<li><a href="javascript:;" data-title="{#$row.title#}" data-url="{#$row.url#}" data-pic="{#$row.imgGroup[0]#}" class="sharebtn"><i></i></a></li>
												</ul>
												
											</div>
										</div>
										
									</div>
									<!--多图新闻e--> 	
									{#/if#}
						       	{#else #}
						       	 <!--没图s-->
						       	  <div class="nopics-news-box news-content">
										<div class="nopics-news">
											<h3>
												<a target="_blank" href="{#$row.url#}">
													<span>{#$row.title#}</span>
													{#if $row.top#}
														<div class="to-top">
															<i>置顶</i>
															<s class="bg1"></s>
															<s class="bg2"></s>
														</div>
													{#/if#}
												</a>
											</h3>
											
											<div class="news-info">
												<div class="left-info">
													<i class="user-headicon">
														{#if $row.photo#}
												<i class="user-headicon"><img src="{#$row.photo#}"></i>
												{#else#}
												<i class="user-headicon"><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg"></i>
												{#/if#}
													</i>
													<span class="user-name"><a target="_blank" href="{#$cfg_basehost#}/user/{#$row.uid#}#tieba" target="_blank">{#$row.username#}</a></span> ·
													<span class="tieba-channel">[{#$row.typename[0]#}]</span> ·
													<span class="tiezi-time">{#$row.pubdate|date_format:"%H:%M"#}</span>
												</div>
												<ul class="right-info">
													<li><i></i><span>{#$row.click#}</span></li>
													<li><i></i><span>{#$row.reply#}</span></li>
													<li><a href="javascript:;" data-title="{#$row.title#}" data-url="{#$row.url#}" data-pic="{#$row.imgGroup[0]#}" class="sharebtn"><i></i></a></li>
												</ul>
												
											</div>
										</div>
										
									</div>
						       	 <!--没图e-->	
						       	{#/if #}
						     
						     {#/tieba#}
							
							
						</div>
						<!--新闻内容e-->
						<!--<div>{#$pageInfo|@print_r#}</div>-->
						{#if $row|@count==0 #}
						      	<div class="empty">
						      		<div class="empty_img">
						      			<img src="{#$templets_skin#}images/no_img.png" />
						      		</div>
						      		<p>没有找到符合条件的结果</p>
						      	</div>
						{#/if#}
					    {#getPageList service='tieba' template='list' typeid={#$typeid#} pageType='dynamic' param="page=#page#{#if $username != ""#}&username={#$username#}{#/if#}{#if $ispic != ""#}&ispic={#$ispic#}{#/if#}{#if $orderby != ""#}&orderby={#$orderby#}{#/if#}{#if $keywords != ""#}&keywords={#$keywords#}{#/if#}"#}
					</div>
					<!--新闻list e-->
					
				</div>
				<!--左边内容e-->
				<!--右边内容s-->
				<div class="right-content">
					<!--签到 s-->
					<div class="sign-box">
						<div class="sign-title">
							<h3><i></i><span>今日{#$siteCityInfo['name']#}</span></h3>
						</div>
						<ul class="count-box">
							<li>
								<h3 id="todaynum"></h3>
								<p>今日发帖</p>
							</li>
							<li>
								<h3 id="tiezinum"></h3>
								<p>帖子数</p>
								<i class="left-line"></i>
								<i class="right-line"></i>
							</li>
							<li>
								<h3 id="membernum"></h3>
								<p>注册用户</p>
							</li>
						</ul>
						<div class="sign-tieba">
							<div class="sign-button">
								{#if $cfg_qiandao_state#}<button><a target="_blank" href="{#getUrlPath service='member' type='user' template='qiandao'#}"><i></i><span>今日签到</span></a></button>{#/if#}
							</div>
							<div class="sign-count">
								<i></i><s id="qiandaonum"></s>
							</div>
						</div>
						<div class="out-tiezi">
							<a href="{#getUrlPath service='tieba' template='fabu'#}">我要发帖</a>
						</div>
						
					</div>
					<!--签到 e-->
					
					<!--热门话题s-->
						<div class="pub-style">
							<div class="top-title hot-topic-title">热门话题</div>
							<ul class="content-list topic-list">
								{#tieba action='tlist' return='hot' orderby='click' page='1' pageSize='3'#}
							     	<li>
							     		<a href="{#$hot.url#}">
							     			<div class="lImg">
							     				<img src="{#$hot.imgGroup[0]#}" />
							     			</div>
							     			<div class="rContent">
												<h3>{#$hot.title#}</h3>
												<p><span>回复：{#$hot.reply#}</span><span>浏览：{#$hot.click#}</span></p>
											</div>
							     		</a>
							     	</li>
							     {#/tieba#}
							</ul>
						</div>
					<!--热门话题e-->
					
					<!--活跃会员s-->
						<div class="pub-style">
							<div class="top-title person-live-title">活跃会员</div>
							<ul class="content-list activist-list">
								{#$n=1#}
								{#tieba action='tlist' return='list' orderby='active' page='1' pageSize='4'#}
								<li>
									<a target="_blank" href="{#$cfg_basehost#}/user/{#$list.uid#}#tieba">
										<div class="activist">
											<div class="lImg">
												<img src="{#if $list.photo#}{#$list.photo#}{#else#}{#$cfg_basehost#}/static/images/404.jpg{#/if#}" />
											</div>
											<div class="rContent">
												<h3>{#$list.username#} </h3>
												<p>
													<span>粉丝：{#$list.totalFans#}</span>
													<i>|</i>
													<span>发帖：{#$list.tiziTotal#}</span>
												</p>
											</div>
											{#if $list.isfollow==1#}
											<div data-uid="{#$list.uid#}" class="concerned-btn follow"><button>已关注</button></div>
											{#else#}
											<div data-uid="{#$list.uid#}" class="concern-btn follow"><button>关注</button></div>
											{#/if#}
										</div>
									</a>
									{#if $n<4#}
									<span class="top{#$n#} listtop">{#$n#}</span>
									{#/if#}
									{#$n=$n+1#}
								</li>
								{#/tieba#}
							</ul>
						</div>
					<!--活跃会员e-->
					{#if in_array("huodong", $installModuleArr)#}
					<!--同城活动s-->
						<div class="pub-style">
							<div class="top-title city-activity-title">同城活动</div>
							<ul class="content-list activity-list city-activity">
								{#huodong action='hlist' pageSize='2'#}
								<li>
									<div class="lImg">
										<img src="{#changeFileSize url="{#$row.litpic#}" type="middle"#}" />
									</div>
									<div class="rContent">
										<h3><a target="_blank" href="{#$row.url#}">{#$row.title#}</a></h3>
										<div class="tongji">
											<span>已参加：{#$row.baoming#}人</span>
											<div class="join-button">
												<a target="_blank" href="{#$row.url#}">
												<button>我要参加</button>
												</a>
											</div>
										</div>
									</div>
								</li>
								{#/huodong#}
							</ul>
						</div>
					<!--同城活动e-->
					{#/if#}
					<!--联系我们s-->
						<div class="pub-style ">
							<div class="top-title contact-us-title">联系我们</div>
							<div class="contact-us">
								{#myad title="贴吧社区_模板三_电脑端_广告四" #}
								
							</div>
						</div>
					<!--联系我们e-->
				</div>
				<!--右边内容s-->
				<!--作为clear:both  s-->
				<div class="kong"></div>
				<!--作为clear:both  e-->
				<!--左侧浮动导航s-->
				{#include file="_left.html"#}
				<!--左侧浮动导航e-->
			</div>
			
		</div>
		{#include file="_footer.html"#} 
		<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
		<script type="text/javascript" src="{#$templets_skin#}js/pubjs.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
	</body>
</html>
