/* LGOO */
.header {margin:40px auto 20px;}
.header .logo {float: left;width: 270px;height: 61px; margin-top: -5px;}
.header .logo a {display: block;overflow: hidden;}
.header .logo a:hover {text-decoration: none;}
.header .logo h2 {float: none;margin-bottom: 6px;line-height: 1;font-size: 24px;color: #333; margin-top: 8px;}
.header .shortname p{font-size: 16px; color: #b5b5b5;}
.header .logo span {font-size: 13px;color: #999;}
.header .logo img {float: left;margin-right: 10px;vertical-align: middle;}

.header .kefu {float: right;}
.header .kefu dt ,.header .kefu dd {float: left;}
.header .kefu dd {margin-left: 15px;}
.header .kefu dt img {margin-top: 3px;width: 44px;height: 43px;}
.header .kefu p {white-space: nowrap;}
.header .kefu .p1 {font-size: 14px;color: #333;}
.header .kefu .p2 {font-size: 20px;color: #ff8800;}


/*成功信息*/
.rewordS-success{padding: 100px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.rewordS-success .rewordS-success-txt{background: url(../images/success.png) no-repeat; padding-left: 90px; height: 70px; width: 300px; margin: 0 auto 60px;}
.rewordS-success .rewordS-success-txt h1{font-size: 30px;}
.rewordS-success .rewordS-success-txt p{color: #999; font-size: 14px;}
.rewordS-list{width: 650px; margin: 0 auto;}
.rewordS-list ul{border-bottom: 2px solid #e4e4ee; width: 654px;}
.rewordS-list li{width: 650px; height: 75px; line-height: 75px; font-size: 16px; border: 2px solid #e4e4ee; border-bottom: none; overflow: hidden;}
.rewordS-list li .rewordS-list-tit{width: 145px; text-align: center; background: #f2f2f5; display: inline-block; float: left;}
.rewordS-list li .rewordS-list-info{width: 470px; padding-left: 30px; display: inline-block; overflow: hidden;}
.rewordS-list li .blue, .rewordS-list li .blue a{color: #00aaee;}
.rewordS-list li .blue a:hover {text-decoration: underline;}
.rewordS-list li .orange{color: #ff6600; font-size: 22px;}


/*错误信息*/
.rewordS-error{border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.rewordS-error .rewordS-error-txt{background: url(../images/error.png) no-repeat; padding-left: 90px; height: 70px; width: 260px; margin: 250px auto;}
.rewordS-error .rewordS-error-txt h1{font-size: 30px;}
.rewordS-error .rewordS-error-txt p{color: #999; font-size: 14px;}


/* 底部 */
.footer-login {margin-top: 40px;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice {margin:0 14px;color: #ddd;}
