.popupRightBottom{display: none;}
.huoniao_iOS .im-chat_content{padding-top: .2rem !important;}
.huoniao_iOS .im-tip_box{top: 0;}
.header{z-index: 9 !important; position: fixed; top: 0; left: 0; right: 0;}
body,html{height: 100%; width: 100%;}
/*顶部s*/
.im-head{height: .9rem; background-color: #fff;border-bottom: solid 1px #ededed; text-align: center; color: #333; font-size: .34rem; line-height: .9rem; position: fixed; top: 0; left: 0; right: 0; z-index: 2;}
.im-back_btn{display: block; float: left; width: .8rem; height: .9rem; background-image: url(../images/back_btn.png); background-repeat: no-repeat; background-size: .2rem; background-position: center;}
.im-head span{margin-right: .8rem;}

/*聊天框*/
.im-chat_content_box{width: 100%; height:100%; background-color: #f2f2f2; position: relative; overflow: auto; -webkit-overflow-scrolling : touch; /*position: fixed; bottom: 0; right: 0; left: 0;*/}
.im-tip_box{width: 100%;position: relative; position: fixed; top: .9rem; background-color: #e6e9f7; height: .88rem; text-align: center; z-index: 8; display: none; }
.im-tip_box a{color: #5380ff; line-height: .88rem; font-size: .34rem; display: block;}
.im-tip_box a.im-add_f:before{content: '' ; display: inline-block; width: .4rem; height: .4rem; background-image: url(../images/add_btn.png); background-size:.36rem .4rem; background-position: center; background-repeat: no-repeat; vertical-align: middle; margin-right: .18rem;}
.im-agree_f button{background: none; border: none; display: inline-block; width: 1.2rem; height: .6rem; color: #fff; background-color: #5380ff; border-radius: .06rem; font-size: .34rem; outline: none; margin-left: .2rem;}
.im-agree_f i{float: right; width: .4rem; height: .4rem; background-image: url(../images/cha.png); background-repeat: no-repeat; background-size: .22rem; background-position: center; position: absolute; top: .24rem; right: .2rem;}

/*聊天记录*/
.im-chat_content{ padding: 1.2rem .23rem 1.3rem .23rem;}
.im-Linkbox{width: 6.4rem; border-radius: .16rem; background-color: #fff; display: block; margin: auto; padding:.2rem 0 ; margin-bottom: .56rem;}
.im-Linkbox .im_left{width: 1.4rem; height: 1.4rem; border-radius: .06rem; overflow: hidden; float: left; margin:0 .2rem;}
.im-Linkbox .im_left img{width: 100%; height: 100%; object-fit: cover;}
.im-pro_text{margin-right: .4rem; position: relative; height: 1.4rem;}
.change_p.im-pro_text{margin-left: .2rem;}
.change_p.im-pro_text p{left: 0;}
.im-pro_text h3{font-size: .28rem; color: #3b3b3b;   display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;}
.im-pro_text p{color: #ff4e3b; font-size: .28rem; position: absolute; bottom: 0; left: 1.8rem;}
.im-msg_time{color: #808080; font-size: .22rem; text-align: center; line-height: .4rem; margin-bottom: .24rem;}
.im-apply_msg span{ color: #00d550;}
.apply_timeout span{color: #999;}
/*xiaoxi */
.im-to_other .im-m_head{float: right;}
.im-to_other .im-m_content{float: right; margin-right: .2rem;}
.im-to_other .im-m_content:after{right: -.08rem;}
.im-from_other .im-m_head{float: left;}
.im-from_other .im-m_content{float: left;  margin-left: .2rem;}
.im-from_other .im-m_content:after{left: -.08rem;}
.im-to_other,.im-from_other{margin-bottom: .4rem;}
.im-m_head{width: .8rem; height: .8rem; border-radius: 50%; overflow: hidden;}
.im-m_head img{width: 100%; height: 100%; display: block; object-fit: cover;}
.im-m_content{background-color: #fff; border-radius: .14rem; padding: .22rem .3rem; max-width: 4.2rem; position: relative; line-height: .4rem; font-size: .3rem; min-height: .36rem; cursor: pointer;}

.im-m_content:after{display: block;content: ''; width: 0; height: 0; border: solid .1rem #fff; position: absolute; transform: rotate(45deg); top: .3rem;}
.im-m_content .im-text_msg img{width: .36rem; vertical-align: middle; margin: 0 .06rem;}


/*视频、图片消息*/
.im-m_content.im-file_content{padding: 0; max-width: 3rem; max-height: 3rem; /*border: solid .01rem #d7d9de;*/ background-color: #f2f2f2; overflow: hidden;}
.im-m_content.im-file_content:after{display: none;}
.im-m_content.im-file_content img{max-width: 100%; max-height: 100%; display: block; }
.im-m_content.im-file_content .im-video_msg{min-width: 2rem; min-height: 2rem; background-color: #000 !important;}
.im-m_content.im-file_content .im-video_msg,.im-m_content.im-file_content .im-img_msg{position: relative;border-radius: .08rem; overflow: hidden;height: auto; background-image: url(../images/loading.gif); background-size: .3rem; min-width: .3rem; background-repeat: no-repeat; background-position: top; height: 100%;} 
.im-m_content.im-file_content .im-video_msg,.im-m_content.im-file_content .im-img_msg img{background-color: #f2f2f2; border-radius: .14rem;}
.im-m_content.im-file_content .im-video_msg{max-height: 3rem;}
.im-m_content.im-file_content .im-video_msg video{max-height: 3rem; max-width: 3rem; object-fit: cover; object-position: center;}
.im-m_content.im-file_content .im-video_msg:after{content: ''; display: block; width: .88rem; height: .88rem; background-position: center; background-repeat: no-repeat; background-size: .88rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background-image: url(../images/video_btn.png);} 
.im-m_content.im-file_content .im-video_msg:before{position: absolute; bottom: 0; right: 0; width: 100%; height:.5rem; content: ''; display: block; /*opacity: .57;*/
 background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.57)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.57)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.57)); /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.57)); /* 标准的语法 */}
.im-m_content.im-file_content .im-video_msg i{color: #fff; position: absolute; bottom: .14rem; right: .18rem; font-size: .24rem;}

/*红包样式*/
.im-hb_content.im-m_content{padding: 0;  border-radius: 0px; background: none;max-width: 4.6rem;  }
.im-hb_content.im-m_content:after{display: none;}
.im-hb:before{content: ''; float: left; width: .66rem; height: .78rem; background: no-repeat; background-image: url(../images/hongbao.png); margin-left: .32rem; margin-right: .28rem; background-size: .66rem .78rem; }
.im-hb_null.im-hb{background-color: #ffd09c; border: solid 1px #eec191; }
.im-hb{background-color: #fa9d3b; color: #fff; min-height:.8rem; padding:.28rem 0;  border: solid 1px #f2922c;width: 4.6rem; border-radius: .08rem .08rem 0 0 ;}
.im-hb h2{font-size: .32rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 164px; font-weight: normal; font-weight: 500; }
.im-hb_type{color: #97989c; font-size: .24rem; line-height: .48rem;  border: solid 1px #e4e4e3; width: 100%; width: 4.6rem; border-top: none; border-radius: 0 0 .08rem .08rem;} 
.im-hb_type span{ padding-left: .28rem;}
.im-hb h2,.im-hb>p{margin-right: .32rem;}
/*红包领取提示*/
.im-hb_tip{text-align: center; margin-bottom: .2rem;}
.im-hb_tip p{font-size: .24rem; color: #2e2e33; text-align: center; background: rgba(0,0,0,0.13); padding: .07rem .22rem .07rem .22rem; border-radius: .1rem;display: inline-block; line-height: .46rem;}
.im-hb_tip p:before{display: inline-block; width: .28rem; height: .32rem; background-image: url(../images/hn.png); background-size: .28rem .32rem; background-repeat: no-repeat;background-position: center; content: ''; vertical-align: middle; margin-right: .1rem;}

/*语音消息*/
.im-s_content.im-m_content{padding: 0 .22rem; height: .8rem;  line-height: .8rem; min-width: .7rem; color: #4b4c4f; font-size: .26rem;}
.im-s_content.im-m_content em{font-weight: normal; moz-user-select: -moz-none; -moz-user-select: none; -o-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -ms-user-select:none; user-select:none;}
.im-s_content.im-m_content:after{top: .25rem;}
.im-m_content div.im-speak_msg:before{content: ''; display: block; width: .26rem; height: .28rem; background-image: url(../images/media_01.png);  background-repeat: no-repeat;  float: right;  background-position:left; margin-top: .26rem; background-size: auto .28rem; }
.im-from_other .im-m_content div.im-speak_msg.im-voicePlay:before{animation: voicePlay 1s steps(3) infinite;}
.im-to_other .im-m_content div.im-speak_msg.im-voicePlay:before{animation: voicePlay1 1s steps(3) infinite;}
.im-from_other .im-m_content div.im-speak_msg:before{background-image: url(../images/media2_01.png); float: left; background-position: 99% ;}
.im-from_other .im-m_content div.im-speak_msg{text-align: right; }
.im-m_content div.im-speak_msg{min-width: .7rem;}
.im-s_content:active{background-color: #f9f9f9;}
/*定位消息*/
.im-post_content{width: 4.8rem; padding: 0; max-height: 2.7rem; overflow: hidden;}
.im-post_content a{display: block;}
.im-post_content .im-post_text {line-height: .44rem; padding: .2rem .3rem;}
.im-post_content .im-post_text h2{font-size: .3rem; color: #3b3b3b;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.im-post_content .im-post_text p{font-size: .24rem; color: #919191; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.im-post_content .im-area_show img{width: 100%; height: 100%; object-fit: cover; display: block; border-radius: 0 0 .14rem .14rem;}

/*好友推荐*/
.im-recf_content dt{font-size: .24rem; color: #bebfc4; border-bottom: solid .01rem #e1e1e5; line-height: 1.2em; padding-bottom: .2rem;}
.im-recf_content dd{margin-top: .32rem;}
.im-recf_content dd .im-recf_head,.im-pop_recf .im-recf_head{float: left; width: 1.1rem; height: 1.1rem; position: relative; }
.im-recf_content dd .im-recf_head img,.im-pop_recf .im-recf_head img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
.im-recf_content dd .im-recf_head i,.im-pop_recf .im-recf_head i{display: block; width: .26rem; height: .28rem; position: absolute; right: .04rem; bottom: .04rem;}
.im-recf_content dd .im-recf_info ,.im-pop_recf .im-recf_info{margin-left: 1.34rem; width: 2.8rem;}
.im-recf_content dd .im-recf_info h2,.im-pop_recf .im-recf_info h2{width: 100%; font-size: .3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left;}
.im-recf_content dd .im-recf_info p,.im-pop_recf .im-recf_info p{font-size: .26rem; color: #8d8e91; margin-top: .15rem; text-align: left;}
/*输入框*/
/*position: fixed; bottom: 0rem; left: 0; right: 0;   position: fixed; bottom: 0;*/
.im-input_box{ border-top: solid .01rem #d4d4d6;  background-color: #f0f0f2; position: relative;  display: flex; justify-content: space-between; padding: .14rem;}
.im-input_box a{display: inline-block; height: 1rem; width: .565rem;background-size: .55rem .55rem; background-position:left center; background-repeat: no-repeat; position: absolute; top: .05rem;}
.im-input_box a.im-yuyin{background-image: url(../images/btn_yuyin.png); left: .2rem; }
.im-input_box a.im-yuyin.disabled{pointer-events:auto !important;}
.im-input_box a.im-biaoq{background-image: url(../images/btn_biaoqin.png); right: .94rem;}
.im-input_box a.im-upload{background-image: url(../images/btn_up.png);right: .2rem; display: none; }
.im-input_box a.im-yuyin.im-keyboard{background-image: url(../images/jianpan.png);left: .2rem;}
.im-input_box a.im-biaoq.im-keyboard{background-image: url(../images/jianpan.png);right: .94rem;}
.im-input_box a.im-send_btn{display: block; width: .7rem; border-radius: .04rem; text-align: center; background-color: #4a7aff; color: #fff; font-size: .24rem; height: .56rem; line-height: .56rem; top: .28rem; right: .14rem; display: none;}
/*.im-btn_gtoup{position: absolute; bottom: 0; left: 0.2rem; right: 0.2rem;}*/
.im-input{display: inline-block; width: 4.7rem;   padding:.16rem; background-color: #fff; border-radius: .08rem; border: solid .01rem #ddd; font-size: .34rem; max-height: 1.16rem;  user-select:text; -webkit-user-select:text; overflow: auto; box-sizing: border-box; margin-left: .96rem; }
.im-input img{width: .4rem; vertical-align: middle;}
/*文件按钮，表情*/
.im-bottom_box{width: 100%; background-color: #fff;   /*display: none;*/}
.im-bottom_box>div{border-top: solid .01rem #d4d4d6;}
.im-filebtn_box {height: 100%;overflow-y: auto;}
.im-filebtn_box ul{padding: 0 .25rem; padding-bottom: .3rem; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out; }
.im-filebtn_box ul:after{display: block; content: '';clear: both;}
.im-filebtn_box ul li{float: left; width: 20%; margin-top: .3rem;}
.im-filebtn_box ul li a,.im-filebtn_box ul li label{display: block; text-align: center;}
.im-filebtn_box ul li label{margin-top: .18rem; color: #808080; font-size: .24rem;}
.im-filebtn_box ul li a{width: .92rem; height: .92rem; border-radius: .06rem; border: solid .01rem #ddd; margin: auto; background-position: center; background-repeat: no-repeat;}
.im-filebtn_box ul li a.im-btn_img{background-image: url(../images/img_up.png); background-size: .48rem .4rem;}
.im-filebtn_box ul li a.im-btn_img input{width: 100%; height: 100%; opacity: 0;}
.im-filebtn_box ul li a.im-btn_photo{background-image: url(../images/phtot.png); background-size: .5rem .4rem; }
.im-filebtn_box ul li a.im-btn_photo input{width: 100%; height: 100%; opacity: 0;}
.im-filebtn_box ul li a.im-btn_hb{background-image: url(../images/hb.png); background-size: .4rem .46rem;}
.im-filebtn_box ul li a.im-btn_posi{background-image: url(../images/posi.png); background-size: .4rem .48rem;}
.im-filebtn_box ul li a.im-btn_gift{background-image: url(../images/gift.png); background-size: .44rem .47rem;}
.im-filebtn_box ul li a.im-btn_rec{background-image: url(../images/rec_f.png); background-size: .45rem .48rem;}
.im-filebtn_box ul li a:active{background-color: #f2f2f2;}

.im-bq_chose{height: 100%; overflow: auto; -webkit-overflow-scrolling : touch;}
.im-emoji-list{padding: 0 .24rem; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.im-emoji-list li a{display: block; width: .5rem; height: .5rem; padding: .04rem; border-radius: .04rem;}
.im-emoji-list li a:active{background-color: #f5f5f5;}
.im-emoji-list li a img{width: 100%; height: 100%; }
.im-emoji-list li{float: left; margin-right: .46rem; margin-top: .34rem;}
.im-emoji-list li:nth-child(7n){margin-right: 0;}

/*录音*/
.audiobox{position: fixed; bottom: 0; left: 0; right: 0; z-index: 100002; background: #fff;  -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.audiobox .tit{border-bottom: 1px solid #f2f2f2; margin-bottom: .2rem; padding: 0 .3rem;}
.audiobox .tit a{display: inline-block; padding: .2rem 0;}
.audiobox .tit .reset{float: left;}
.audiobox .tit .finish{float: right;}
.swiper-audio .swiper-slide{height: 3.2rem;}
.audiobox .second{text-align: center; margin-bottom: .1rem; height: .5rem; background: url(../images/gif.png?v=1) center -0.2rem no-repeat; background-size: 1.7rem; display: none; line-height: .56rem;}
.audiobox .second.stop{background: url(../images/gif.png?v=1) center -0.2rem no-repeat; background-size: 1.7rem;}
.audiobox .second.pause{background: url(../images/gif.gif?v=1) center -0.2rem no-repeat; background-size: 1.7rem; display: block;}
.audiobox .audioBtn.pause{padding: .6rem 0;}
.audiobox .audioBtn span{display: block; margin: 0 auto; width: 1.4rem; height: 1.4rem; border-radius: 1.4rem; background: #638dff url(../images/audio1.png) center center no-repeat; background-size: .5rem auto;}
.audiobox .nolock  .audioBtn span:after{content: ''; display: block; width: .88rem; height: .88rem; border-radius: 50%; background-color: #f54d40; margin: auto; margin-top: .26rem;}
.audiobox .nolock .audioBtn span.record_end:after{width: .54rem; height: .54rem; border-radius: .08rem !important; margin-top: .43rem;}
.audiobox .nolock .audioBtn span{background: #fff  center center no-repeat; background-size: .5rem auto; border:solid 1px #d4d4d6;}

.audiobox .audioBtn span.stop{background: #fff url(../images/audio3.png?v=1) .56rem center no-repeat; background-size: .43rem auto; border:solid .04rem #dcdcde;}
.audiobox .audioBtn span.stop:after,.audiobox .audioBtn span.pause:after{display: none;}
.audiobox .audioBtn span.pause{background: #fff url(../images/audio2.png) center center no-repeat; background-size: .46rem auto; border:solid .04rem #dcdcde;}
.audiobox .tips{text-align: center; margin-bottom: .1rem; height: .5rem;}
.swiper-tab{position: absolute; padding-bottom: .2rem; bottom: 0; left: 50%; margin-left: -1rem; height: .5rem;z-index: 0;}
.swiper-tab .swiper-slide{float: left; width: 1rem; text-align: center; font-size: .24rem;}
.swiper-tab .active-nav{color: #2896f8; transform: scale(1.17);}
.audio-panel{position: relative; width: 2.5rem;}
.audio-panel .audio_arrow{position: absolute; width: 0; height: 0; display: block; border-top: .15rem solid transparent; border-right: .15rem solid #17b5ee; border-bottom: .18rem solid transparent; left: -0.1rem; top: 50%; margin-top: -.15rem;}
.audio-panel .audio_item{height: .9rem; border-radius: .06rem; background: #17b5ee url(../images/audio_bg.png) .3rem center no-repeat; background-size: .35rem auto; text-indent: 2.9rem; line-height: .9rem;}
.audio-panel.play .audio_item{background-image: url(../images/audio_bg.gif);}
.audio-panel .cancel{position: absolute; top: 0; right: -.2rem; margin: -12px 0 0 -12px; -webkit-transform: rotate(45deg); width: 27px; height: 27px; -webkit-border-radius: 13px; background-color: rgba(0,0,0,.6);}
.audio-panel .cancel:before, .audio-panel .cancel:after {content: ''; position: absolute; background: #d5d6d8; left: 50%; top: 50%;}
.audio-panel .cancel:before {height: 16px; width: 2px; margin: -8px 0 0 -1px;}
.audio-panel .cancel:after {height: 2px; width: 16px; margin: -1px 0 0 -8px;}
.audio-panel audio{position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: .9rem; opacity: 0; z-index: -1;}

.im-holdon .audioBtn span:active{ background-color: #4a7aff;}
.im-btn_group {overflow: hidden; position: absolute; bottom: 0; background-color: #fff; width: 100%; z-index: 3; border-top: solid .01rem #ddd; display: none;}
.im-btn_group a{display: block; width: 50%; line-height: .8rem; text-align: center;  float: left; color: #5985ff;}
.im-btn_group a.reset{box-sizing: border-box; border-right: solid .01rem #ddd;color: #a2a4ab;}
/*底部定位==输入框、表情框、菜单框*/
.im-bottom_all{position: fixed; bottom: 0; left: 0; right: 0;z-index: 10;}
.im-menu_box{height: 3.8rem; display: none;}
.im-show{display: block !important;}
/*.im-menu_box{position: absolute; bottom:-3.8rem; width: 100%; }*/
/*.im-box_show.im-menu_box{bottom: 0;}*/
.im-bottom_box{ position: relative; /*display: none;*/}

/*遮罩层*/
.im-special_mask{width: 100%; height: 100%; background-color: rgba(0,0,0,.7); position: fixed; top:0; left: 0; right: 0; bottom: 0; z-index: 9; display: none;}
.im-special_mask0{width: 100%; height: 100%; background-color: rgba(0,0,0,0); position: fixed; top:0; left: 0; right: 0; bottom: 0; z-index: 9; display: none;  cursor: pointer;}
/*别人发红包，未领取*/
.im-hb_box_form{width: 6rem; height: 8rem; border-radius: .2rem; background-color: #cd533d;position: relative; position: fixed; top: 50%; left: 50%; margin-left: -3rem; margin-top: -4rem; z-index: 10; overflow: hidden; display: none; animation: popup .3s ease-out; transform-origin: right bottom;}
.im-hb_box_form i{display: block; width: .4rem ; height: .4rem; background-position: center; background-repeat: no-repeat; background-image: url(../images/hb_close.png); background-size: .3rem; position: absolute; top: .22rem; left: .22rem; cursor: pointer;}
.im-hb_info{height: 5.04rem; background-color: #d85940; width: 100%; overflow: hidden;}
.im-hb_bg img{display: block; width: 100%;}
.im-from_head{width: 1.1rem; height: 1.1rem; border-radius: .08rem; overflow: hidden; border: solid 1px #fae3b7; margin: auto; margin-bottom: .3rem; margin-top: .76rem;}
.im-from_head img{width: 100%; height: 100%; object-fit: cover;}
.im-hb_info p{text-align: center; color: #fae3b7; font-size: .28rem; font-size: 300;}
.im-hb_info .im-form_nickname{font-size: .26rem; display: block; margin-bottom: .1rem;}
.im-hb_text{font-size: .44rem; text-align: center; color: #fae3b7; margin-top: .7rem;}
.im-gethb_btn{display: block; width: 2rem; height: 2rem; position: absolute; left: 50%; top: 4.7rem; margin-left: -1rem;}
.im-gethb_btn img{display: block; width: 100%;}
.im-hb_num.im-hb_text{display: none;}
/*别人发红包，已领取，以上未领取的样式可公用*/
.im-hb_box_null .im-gethb_btn{ display: none;}
.im-hbbox_tip{font-size: .28rem; color: #fae3b7; text-align: center; position: absolute; left: 0; right: 0 ;bottom: .6rem;}
.im-hbbox_tip a{color: #fae3b7; text-decoration: underline;}
.im-hb_box_null .im-hb_num.im-hb_text{font-size: .9rem; display: block;}
.im-hb_num.im-hb_text span{font-size: .3rem;}

/*自己发红包*/
.im-fahb_page{width: 100%; height: 100%; position: relative; background-color: #f7f7f7; position: fixed;  left: 0; right: 0; bottom: -100%; z-index: 11;}
.im-fahb_page .im-head{position: absolute;}
.im-fahb_page .im-hb_cancel{float: left;color: #ababab; font-size: .32rem; margin-left: .42rem;}
.im-fahb_box{padding: 0 .24rem; padding-top: 1.5rem; }
.im-fahb_num{background-color: #fff; font-size: .3rem; color: #333; padding: .34rem .3rem; text-align: right; border-radius: .04rem;}
.im-fahb_num label{width: 2rem; display: inline-block; text-align: left; float: left;}
.im-fahb_num input{border: none; text-align: right; margin-right: .2rem;}
.im-fahb_text:before{content: '恭喜发财，大吉大利'; color: #b2b2b2; }
.im-fahb_text:focus:before{content: none;}
.im-fahb_text{font-size: .3rem; background-color: #fff; border-radius: .04rem; margin-top: .5rem; padding: .34rem; box-sizing: border-box; height: 1.4rem; overflow: auto;}
.im-fahb_num_show{font-size: .9rem; font-weight: bold; text-align: center; margin-top: .62rem;}
.im-fahb_num_show em{font-size: .5rem;}
.im-hb_money_in{display: block; margin: 0 .24rem; margin-top: 2rem; background-color: #f44343; color: #fff; border-radius: .04rem; text-align: center; font-size: .32rem; line-height: .88rem;}

/*红包详情*/
.im-hbdetail_page{width: 100%; height: 100%;position: relative; position:fixed; bottom: -100%; background: #f7f7f7; left: 0; right: 0; z-index: 11; }
.im-hbdetail_page .im-head{position: absolute;}
.im-hbbox_info{width: 100%; background-color: #d85940; padding-top: 2.2rem;color: #fae3b7; text-align: center; font-size: .34rem; padding-bottom: .26rem;}
.im-hbbox_info h2{ font-size: .9rem; text-align: center; margin-bottom: .2rem;}
.im-hbbox_info h2 em{font-size: .5rem;}
.im-hb_bian{margin-bottom: .74rem}
.im-hb_bian img{width: 100%; display: block;}
.im-hbget_left_info{float: left; height: .88rem;}
.im-hbget_left_head{width: .88rem; height: .88rem; border-radius: .06rem; overflow: hidden; float: left;}
.im-hbget_left_head img{width: 100%; height: 100%; object-fit: cover;}
.im-hbget_left_text{float: left; margin-left: .22rem;}
.im-hbget_left_text h3{font-size: .3rem; color: #333;}
.im-hbget_left_text p{color: #808080; font-size: .24rem; margin-top: .14rem;}
.im-hbget_list li{padding: 0 .4rem;}
.im-hbget_list li span{color: #d85940; font-weight: 500; font-size: .3rem; float: right; margin-top: .2rem;}
.im-hbdetail_null{display: none;}
.im-hbdetail_full{padding-top: 2.3rem; text-align: center;}
.im-hbdetail_full h2{font-size: .9rem; margin-top: 1rem;}
.im-hbdetail_full h2 em{font-size: .5rem;}
.im-hbdetail_full .im-hbnoget_tip{font-size: .26rem; color: #333; margin-top: .4rem;}
.im-hbdetail_full .im-hbnoget_tip a{text-decoration: underline; color: #5380ff;}
.im-hbfor_tip{ font-size: .34rem; color: #333; margin-top: .4rem;}
.im-clock_icon{width: 1.4rem; height: 1.4rem; margin: auto;}
.im-clock_icon img{width: 100%; height: 100%;}

/*选择好友列表*/
.im-friendlist_page{width: 100%; height: 100%; position: fixed; background-color: #fff;z-index: 10; bottom: -100%;}
.im-friendlist_page .im-head{position: absolute; z-index: 11;}
.im-friend_list{background-color: #f2f2f2; width: 100%; height: 100%; overflow: auto;}
.im-searchf_box{padding:.18rem .24rem; background-color: #fff; margin-top: .9rem; overflow: hidden;}
.im-searchf_box input.im-search_f{background: none;  border: none; outline: none;box-shadow: none; font-size: .28rem; width: 100%;text-indent: 2em;}
.im-searchf_box p{background-color: #f5f5f7; border-radius: .32rem; margin-right: 1rem; padding: .16rem .32rem; box-sizing: border-box; position: relative;}
.im-searchf_box p:before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/search_1.png) no-repeat center center; background-size: .3rem; position: absolute; left: .32rem; top: .17rem;}
.im-searchf_btn{float: right; font-size: .28rem; color: #333; line-height: .64rem;}
.im-f_list{background-color: #fff;}
.im-f_list li{padding-left: .24rem; padding-top: .16rem; cursor: pointer;}
.im-f_list li:active{background-color: #f5f5f7;}
.im-f_head{width: .78rem; height: .78rem; position: relative; float: left;}
.im-f_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 100%;}
.im-f_head i{display: block; width: .26rem; height: .28rem; position: absolute; right:-.02rem; bottom: -.02rem;}
.im-f_nickname{margin-left: 1rem;border-bottom: solid .01rem #ededed; line-height: .78rem; padding-bottom: .16rem; font-size: .32rem; color: #333; padding-right: .24rem;}
.im-pop_recf{padding-left: .42rem; padding-right: .42rem; padding-top: .3rem;}
.im-pop_recf .im-recf_info{padding-top: .14rem; font-size: .26rem;}
.im-pop_recf .im-recf_info h2{font-size: .26rem;}
/*推荐好友样式弹出层修改*/
.im-recf_modal .alert-title{font-size: .36rem; color: #333;  line-height: normal !important; margin-top: .36rem;text-align: left !important; margin-left: .48rem; max-width: 4.3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.im-recf_modal .alert-content {line-height: 1.3em !important; }
.im-recf_modal .alert-btn-p1{color: #a2a4ab !important;}

.im-popMsg p .gou{width: .8rem; display: block; margin: auto; margin-bottom: .2rem; padding: 0 .58rem;}
.im-popMsg{top: 40% !important;}


/*语音动画*/
@keyframes voicePlay {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes voicePlay1 {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@-webkit-keyframes popup{
	0%{-webkit-transform:scale(0); transform-origin: center center;}
	60%{-webkit-transform:scale(1.1); transform-origin: center center;}
	100%{-webkit-transform:scale(1); transform-origin: center center;}
}

@-moz-keyframes popup{
	0%{-moz-transform:scale(0); transform-origin: center center;}
	60%{-moz-transform:scale(1.1); transform-origin: center center;}
	100%{-moz-transform:scale(1); transform-origin: center center;}
}

@keyframes popup{
	0%{transform:scale(0); transform-origin: center center;}
	60%{transform:scale(1.1); transform-origin: center center;}
	100%{transform:scale(1); transform-origin: center center;}
}

/*以下是聊天记录样式*/
.im-date_chose{text-align: center; font-size: .28rem; color: #333; line-height: .9rem; position: fixed; top: .91rem; width: 100%; z-index: 4; background: #fff;}
.im-date_chose span:after{content: ''; display: inline-block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); border-top:solid .1rem #ababab; vertical-align:sub; margin-left: .16rem;}
/*.im-chat_record .im-chat_content{padding-top: 2.2rem;}*/
#chosedate{border: none; background:none; text-align: center; display: inline; width: 1.8rem;}
.md_datearea li{font-size: .24rem !important;}
.md_datearea li.current{background-color: #ff7e57 !important;}
.md_foot{display: none;}
.chose_date{background-color: #6ac1ff; color: #fff;}
.im-chat_record .im-no_list{text-align: center;font-size: .26rem; color: #999; margin-top: 20%;}
.im-chat_record .im-no_list p{margin-top: .2rem;}
.laoding{width: 1rem; margin: auto; text-align: center; margin-bottom: .2rem;}
.laoding img{width: 50%;}

/*礼物样式*/
.im-gift_money:before{content: ''; display: inline-block; width: .24rem; height: .24rem;  background:url(../images/interg.png) no-repeat bottom; background-size: .24rem; margin-right: .1rem;  }
.im-gift_money{font-size: .24rem; color: #c4c4c4; line-height: .24rem; margin-top: .1rem;}
.im-gift_name{font-size: .24rem; color: #777;}
.im-gift_box{height: 6.24rem; background-color: #fff; display: none;}
.im-gift_animatebox{animation: bottomFadeIn .3s ease-out;}
.im-gift_box a.im-gift_get{color: #ff5b84; font-size: .26rem; display: block; text-align: right; padding-top: .2rem; padding-bottom: .3rem; margin-right: .24rem;}
.im-gift_warp{padding: 0 .2rem; height: 4.2rem; overflow-y: auto;}
.im-gift_warp li{width: 25%; float: left;height: 1.76rem; margin-bottom: .1rem; text-align: center; border: solid 1px #fff;box-sizing: border-box; cursor: pointer;}
.im-gift_warp li.im-gift_chose{border: solid 1px #ffa8be; border-radius: .1rem;}
.im-gift_warp li span{display: block; width: 1rem; height: 1rem; position: relative; margin: auto;}
.im-gift_warp li span img{max-height: 100%; max-width: 100%; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.im-acc_left{float: left; font-size: .3rem; color: #ababab; line-height: .7rem;}
.im-acc_left:before{content: ''; display: inline-block; width: .3rem; height: .3rem;  background:url(../images/interg.png) no-repeat center; background-size: .3rem; margin-right: .1rem; }
.im-acc_left a{color: #ff5b84;}
.im-give_right{float: right;}
.im-gift_btngroup{ padding: 0.25rem .24rem; overflow: hidden;}
.im-give_right a{display: inline-block; width: 2.4rem; height: .7rem; border-radius: .04rem; background-color: #ff5b84; color: #fff; font-size: .28rem; line-height: .7rem; text-align: center;}
.im-give_right input{width: 1.2rem; height: .7rem; border: solid 1px #ff5b84; border-radius: .04rem; color: #ff5b84; font-size: .28rem; text-align: center; box-sizing: border-box; margin-right: .16rem; box-shadow: none;}
.im-gift_num{font-size: .26rem; color: #ff5b84; margin-right: .1rem;}
.im-gift_num i{display: inline-block; width: .5rem; height: .5rem; border-radius: 100%;  vertical-align: middle; background: no-repeat center; cursor: pointer;}
.im-gift_num i.im-gift_add{background-image: url(../images/add_1.png); background-size: .5rem;}
.im-gift_num i.im-gift_sub{background-image: url(../images/sub.png); background-size: .5rem;}
.im-gift_num input{margin: 0 .1rem; vertical-align: middle; display: inline-block; width: .4rem; text-align: center; border: none;}

.im-text_msg{word-wrap:break-word}
/*大图显示*/
/*.pswp--open.pswp--visible.pswp--animated-in{display: block !important;}*/
/*.pswp--open.pswp--visible.pswp--open{display: none;}*/
.pswp__img--placeholder{display: none !important;}

/*视频播放遮罩*/
.im-video_mask{width: 100%; height: 100%; background: rgba(0,0,0,.7); position: absolute; top: 0; left: 0; z-index: 10;}
.video_box{width: 100%; height: 100%; display: none;position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 11;}
/*.video_box video{width: 100%; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 11;}*/
.prism-player{width: 100%; height: 100%; position: absolute; z-index: 11;}
.prism-marker-text{display: none;}
/*视频关闭按钮*/
.im-close_video{width: .5rem; height: .5rem;  position: absolute; z-index: 12; left: .1rem; top: .1rem; background-image: url(../images/close.png); background-position: center; background-repeat: no-repeat; background-size: .4rem;}
.chat_audio audio{opacity: 0; height: .6rem;}

.im-audio_box audio{opacity: 0; position: absolute; z-index: -1;}

/*iphonex适配*/
.im-bottom_all{padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom)); padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); background-color: #f0f0f2;}

.header.open{z-index: 100000 !important;}

.im-pro_text p.pro_description{position: static; color: #999; }
