html,body{min-height: 100%; background-color: #ededed;}
.left_head{width: .8rem; height: .8rem; border-radius: 50%; float: left; position: relative;}
.left_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.left_head i{display: block; width: .26rem; height: .28rem; position: absolute; bottom: 0; right: 0;}
.left_head i img{width: 100%; height: 100%; object-fit: cover;}
.commt_li{padding-top: .32rem; background: #fff; margin-top: .2rem; position: relative;}
.f_info{padding: 0 .24rem;}
.commt_li .right_info{margin-left: .98rem;}
.commt_li .right_info h2{font-size: .3rem; font-weight: 500;}
.commt_li .right_info p{font-size: .24rem; color: #999; margin-top: .06rem;}
.commt_li a{display: block;}

.commt_con h3{font-size: .32rem; padding: .2rem .24rem; line-height: .44rem; font-weight: normal;}
.con_box{ background-color: #fff;}
.mycon.con_box,.mycon.commt_con{background-color: #f7f7f7;}
.con_box{height: 1.5rem;}
.left_img{width: 1.5rem; height: 1.5rem; float: left;}
.left_img img{width: 100%; height: 100%; object-fit: cover; }
.right_box{margin-left: 1.7rem; padding-right: .2rem;}
.con{width: 100%; display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.right_box h2{font-size: .3rem; padding-top: .14rem;}
.right_box p.con{font-size: .24rem; color: #999; line-height: .36rem; margin-top: .1rem;}
.commt_con{overflow: hidden;}
.con_box{margin: 0 .24rem; margin-bottom: .26rem; border: solid 1px #f2f2f2;}

.reply_btn{background: none; box-shadow: none;color: #4d6fff; font-size: .28rem; width: 1.1rem; text-align: center; border-radius: .26rem; border: solid 1px #4d6fff; position: absolute; top: .34rem; right: .24rem; line-height: .46rem;} 

/*加载更多*/
.loading{padding:.6rem 0;text-align: center;}
.loading img{width: .4rem;}
.loading span{display: block;font-size: .26rem;color:#919191;margin:.2rem auto;}

/*回复*/
.textarea img{width: .5rem; vertical-align: middle;}
.textarea:empty::before{color:lightgrey;content:attr(placeholder);}
.reply_page{width: 100%; height: 100%; position: relative;position: fixed; bottom: -100%; background: #fff;z-index: 1000001;}
.top_head{height: .9rem; background-color: #fff;border-bottom: solid 1px #ededed; text-align: center; color: #333; font-size: .34rem; line-height: .9rem; }
.top_head a.back_btn{display: block; float: left; width: .8rem; height: .9rem; background-image: url(../images/back_btn.png); background-repeat: no-repeat; background-size: .2rem; background-position: center;}
.top_head a.addf_btn{display: block; float: right; width: 1.26rem; line-height: .54rem; margin-top: .18rem; border-radius: .27rem; margin-right: .24rem; background-color: #f5f5f5; color: #999; text-align: center;}
.top_head a.addf_btn.btn_full{background-color: #7fa8fc; color: #fff;}
.top_head span{display: block; margin-left: 1.5rem; margin-right: 1.5rem; }

.textarea{min-height: 3rem; padding: 0 .24rem; padding-top: .4rem; font-size: .32rem; }
.bottom_op{ position: absolute; bottom: 0; left: 0; right: 0; }
.bottom_op .btn_group{height: 1rem; background-color: #f2f2f2;}
.emoje_btn{width: .5rem; height: 1rem; background-position: center; background-repeat: no-repeat; background-image: url(../images/btn_biaoqin.png); background-size: contain; display: block; margin-left: .3rem;}
.emoje_btn.keyboard_btn{background-image: url(../images/jianpan.png);}
.im-bq_chose{height: 100%; overflow: auto; -webkit-overflow-scrolling : touch;}
.im-emoji-list{padding: 0 .24rem; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;}
.im-emoji-list li a{display: block; width: .54rem; height: .54rem; padding: .03rem; border-radius: .04rem; cursor: pointer;}
.im-emoji-list li a:active{background-color: #f5f5f5;}
.im-emoji-list li a img{width: 100%; height: 100%; }
.im-emoji-list li{float: left; margin-right: .46rem; margin-top: .34rem;}
.im-emoji-list li:nth-child(7n){margin-right: 0;}
.im-bq_chose{height: 3.8rem; overflow: auto; display: none;}


.im-popMsg{padding: .56rem .46rem; border-radius: .16rem; background-color: rgba(0,0,0,.5); position: fixed; left: 50%; top: 30%; transform: translate(-50%,-50%); font-size: .3rem; color: #fff; line-height: .5rem; text-align: center;z-index: 1000002;}
.im-popMsg p .gou{width: .8rem; display: block; margin: auto; margin-bottom: .2rem; padding: 0 .58rem;}
.im-popMsg{top: 40% !important;}