body,html{background-color: #f7f7f7;}
/*顶部s*/
.im-head{height: .9rem; background-color: #fff;border-bottom: solid 1px #ededed; text-align: center; color: #333; font-size: .34rem; line-height: .9rem; width: 100%; position: fixed; top: 0;z-index: 2; left: 0; right: 0;}
.im-back_btn{display: block; float: left; width: .8rem; height: .9rem; background-image: url(../images/back_btn.png); background-repeat: no-repeat; background-size: .2rem; background-position: center;}
.im-head span{margin-right: .8rem;}

/*内容*/
.im-invest_con{padding-top: .9rem;}
.im-integral_acc{background-color: #fff; padding: .3rem .24rem;}
.im-acc_head{width: .8rem; height: .8rem; float: left;}
.im-acc_head img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.im-integral_acc p{margin-left: 1.02rem; font-size: .3rem; color: #333; line-height: .8rem;}
.im-integral_acc p>span.im-integral_num{font-size: .36rem; font-weight: bold; color: #ffab47; margin-left: .16rem;}

/*列表*/
.im-get_integral{float: left; font-size: .3rem; color: #333; line-height:.6rem ;}
.im-get_integral:before{content: ''; display: inline-block; width: .48rem; height: .48rem; background-image: url(../images/interg.png); background-size: .48rem; background-repeat: no-repeat; vertical-align: middle ; margin-right: .16rem; margin-top: -.04rem;}
.im-button_money{float: right; font-size: .3rem; width: 1.5rem; line-height: .6rem; border-radius: .3rem; border:solid .02rem #f75252; text-align: center; color: #f75252;}
.im-integral_box{margin-top: .4rem;}
.im-integral_box dt{font-size: .24rem; color: #919191; padding-bottom: .3rem; border-bottom: solid 1px #e3e3e3; padding-left: .24rem;}
.im-integral_box dd{padding:  .2rem .4rem; background-color: #fff;border-bottom: solid 1px #e3e3e3;}
.im-integral_box dd:active{background-color: #f8f8f8;}
.im-integral_box dd:active .im-button_money,.im-integral_box dd.active .im-button_money{background-color: #f75252; color: #fff;}

/*弹出层样式调整*/
.alert-content{line-height: .46rem !important; padding-top: .46rem;}
