.ui-link-dialog {
	}.ui-link-dialog .input-control.button {
	float:none;
	display:inline-block
}
.ui-link-dialog-content {
	color:#bbbbbb
}
.ui-link-dialog-row {
	padding:10px 20px 5px;
	border-top:solid 1px #292929;
	background-color:#3b3b3b;
	overflow:hidden
}
.ui-link-dialog-row:last-child {
	border-bottom:solid 1px #292929
}
.ui-link-dialog-row:hover,.ui-link-dialog-row.check {
	background-color:#4e4e4e
}
.ui-link-dialog-row input[type=text] {
	margin:5px 0;
	padding:5px
}
.ui-link-dialog-row .radio {
	float:left;
	width:20px
}
.ui-link-dialog-row .ui-radio {
	display:inline-block;
	border-radius:50%;
	background-color:rgb( 34,34,34 );
	box-shadow:0.5px 0.866px 0 0 rgb( 97,99,102 );
	width:14px;
	height:14px;
	position:relative;
	cursor:pointer
}
.ui-link-dialog-row .ui-radio b {
	display:none;
	border-radius:50%;
	background-color:rgb( 37,184,111 );
	box-shadow:0.5px 0.866px 1px 0 rgb( 0,0,0 );
	width:6px;
	height:6px
}
.ui-link-dialog-row .ui-radio.on b {
	display:inline-block;
	position:absolute;
	left:4px;
	top:4px
}
.ui-link-dialog-row .input {
	padding-left:5px;
	padding-bottom:5px;
	overflow:hidden;
	zoom:1
}
.ui-link-dialog .ui-dialog-footer .clear {
	vertical-align:middle;
	margin-right:20px;
	cursor:pointer
}
.ui-link-dialog .ui-dialog-footer .clear:after {
	font-family:"icon";
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	vertical-align:-1px;
	content:'\E623'
}
.ui-link-dialog .ui-dialog-footer .button {
	padding-left:15px;
	padding-right:15px
}
.link-dialog-file {
	margin-top:5px
}
.link-dialog-file .btn {
	font-size:12px;
	width:78px;
	height:28px;
	float:left;
	margin-right:10px
}
.link-dialog-label {
	display:block;
	text-overflow:ellipsis;
	padding:7px 15px;
	height:14px;
	line-height:14px;
	white-space:nowrap;
	overflow:hidden;
	zoom:1;
	border-radius:2px;
	background-color:#252525;
	color:#bbbbbb;
	font-size:12px;
	cursor:default
}
