.header {margin:40px auto 20px;}
.header .logo {float: left;width: 400px;max-width: 400px;height: 61px; margin-top: -5px;}
.header .logo a {display: block;overflow: hidden;float: left;}
.header .logo a:hover {text-decoration: none;}
.header .logo h2 {float: none;margin-bottom: 6px;line-height: 47px;font-size: 24px;color: #333; margin-top: 8px; display: none;}
.header .shortname {display: none;}
.header .shortname p{font-size: 16px; color: #b5b5b5; display: none;}
.header .logo span {font-size: 13px;color: #999;}
.header .logo img {float: left;margin-right: 10px;vertical-align: middle;}

.split-line {
	height: 1px; overflow: hidden; background: #e5e5e5;
}
.header{
	margin: 40px auto 40px;
}
.notice_lead{
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	background: url(../images/notice_bc.jpg) no-repeat center;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.notice_com{
	padding: 20px 0px;
	border-bottom: 1px solid #ededed;
}
.notice_com .nc_lead{
	margin-bottom: 7px;
}
.notice_com .nc_lead .nc_title{
	font-size: 16px;
	float: left;
	width: 90%;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.notice_com .nc_lead .nc_title i{
	font-weight: bold;
	font-style: normal;
	display: inline-block;
	margin-right: 5px;
	height: 25px;
	line-height: 25px;
}
.notice_com .nc_lead .nc_time{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #b5b5b5;
	float: left;
	width: 10%;
	text-align: right;
}
.notice_com .nc_text{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #b5b5b5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pagination{
    float: left;
    min-width: 450px;
    font-size: 14px;
    margin: 100px 0 100px 50%;
}
.pagination .page_info {display: none;}
.inner{
    float: left;
    min-width: 450px;
    margin-left: -50%;
}
.inner ul li{
    width: auto;
    margin-right: 3px;
    background: #fff;
    float: left;
}
.inner ul li a , .inner ul li span{
    position: relative;
    height: 35px;
    line-height: 33px;
    display: block;
    padding: 0 15px;
    border: 1px solid #ededed;
    color: #3e3e3e;
}
.inner ul li a:hover{
    text-decoration: none;
    border-color: #2d96e9;
    color: #2d96e9;
    z-index: 1;
}
.inner ul li span{
    background: #fff;
    color: #9a9a9a;
    border-color: #ddd;
}
.inner ul li.page_current span{
    background: #2d96e9;
    color: #fff;
    border-color: #2d96e9;
    font-weight: 700;
}
.inner ul li.page_more span{
    background: none;
    border: none;
    font-size: 10px;
    padding: 0 5px;
}
.bb_none{
	border-bottom: none!important;
}
