body{background: #f8f8f8;}
/*头部back--内页*/
.top-header{height: .9rem;background: #fff;border-top:solid 1px #eee;padding:0 .2rem;z-index: 9;}
.top-header .btnBack{display: block;width:.5rem;height: .45rem;position: absolute;left:.2rem;top:.22rem;}
.top-header .btnBack i{ position: absolute;left: .1rem;top: .05rem;width: .3rem;height: .3rem;border-top: .025rem solid #a0a0a0;border-right: .025rem solid #a0a0a0;transform: rotate(225deg);}
.topCenter{line-height: .9rem;font-size: .32rem; text-align: center;}

/*内容*/
.scoreBox{padding:0 .25rem;background: #fff;}
.huoniao_iOS .scoreBox{padding-top: 20px;}
.scoreTop{font-size: .28rem;color:#333;line-height: 1rem;border-bottom:solid .02rem #eee;}
.scoreTop .left{margin-right: .2rem;}
.scoreTop>div{float: left;}
.scoreTop .center{position: relative;width: 3rem;height: .6rem;  margin-top: .2rem;background: url(../images/star-icon.png) no-repeat;background-size: 3rem; z-index: 10;}
.scoreTop .center span{display: block;position: absolute;left:0;top:0;height: .6rem;}
.scoreTop .center span.active{background: url(../images/star-icon.png) no-repeat;  background-size: 3rem;}
.scoreTop .center .star1{ width:.6rem;background-position: 0 -.6rem!important; z-index: 50; }
.scoreTop .center .star2{ width:1.2rem;background-position: 0 -1.2rem!important;  z-index: 40;}
.scoreTop .center .star3{ width:1.8rem;background-position: 0 -1.8rem!important;  z-index: 30;}
.scoreTop .center .star4{ width:2.4rem;background-position: 0 -2.4rem!important;  z-index: 20;}
.scoreTop .center .star5{ width:3rem;background-position: 0 -3rem!important;  z-index: 10;}
.scoreTop .right{font-size: .28rem;color:#a0a0a0;margin-left: .25rem;}

/*评论*/
.scoreMain{height: 3rem; overflow: auto;}
.scoreMain textarea {display: block;width:100%;height:calc(100% - .6rem);border:none;outline:0;margin:.3rem 0;font-size: .28rem; font-family: inherit;}
::-webkit-input-placeholder {color:    #c4c4c4; } :-moz-placeholder {color:    #c4c4c4; } ::-moz-placeholder {color:    #c4c4c4; } :-ms-input-placeholder {color:    #c4c4c4; }
.txt{background: #fff; padding:.1rem 0;}
.txt .textarea{width: 100%; border: none; font-size: .28rem; overflow: auto; outline: 0; padding: .2rem 0 .3rem;}
.txt .textarea .txt-gray{color: #c4c4c4;}

.editor{padding:.3rem; margin-top: .2rem;background: #fff;}
.editor .item{width: 1.34rem;height: 1.34rem;background: #f8f8f8;border:dashed .02rem #e5e5e5;float: left;text-align: center;margin-right: .32rem;font-size: .28rem;position: relative;overflow: hidden;}
.editor .item img{width: .6rem;height: .6rem;margin-top:.18rem;}
.editor .img input, .editor .video input{position: absolute; width: 1rem; height: 1rem; left: 0; opacity: 0; top: 0;}
.uploadBox .upBox{float:left;margin-right:.3rem;margin-bottom: .2rem;width: 1.5rem;height: 1.5rem;position: relative;background:#000;}
.uploadBox .upBox:last-child, .uploadBox .upBox:nth-child(4n) {margin-right: 0;}
.uploadBox .upBox img,.uploadBox .upBox video{width: 1.5rem;height: 1.5rem;}
.uploadBox .upBox video{background:url(../upfile/upImg02.png) no-repeat center center;background-size: 1.5rem;}

.editor .voiceBox i{width:.3rem;height:.3rem;display:block;position: relative; top: -.1rem;left: 2.7rem;background: url(../images/v-del.png) no-repeat top right;background-size: .3rem;}
.vtime{margin-top: -.2rem;}

.delBox{ width: 0; height: 0;border-top: .6rem solid #868686; border-left: .6rem solid transparent; position: absolute;top:0;right:0;}
.delBox img{width: .2rem!important;height: .2rem!important;position: absolute;    top: -.5rem;right: .07rem;}
.fabuBox{padding:0 .25rem; }
.fabuBox .anonymous{position: relative; float: right;line-height: .9rem; margin-top: .2rem;}
.fabuBox a{display: inline-block; height: .6rem; color: #a0a0a0; font-size:.26rem;padding-left: .15rem;}
.check-left{float: left;margin-top: .2rem;}

.check-left input[type=checkbox]{position: absolute;top: 0;left: 0;margin: 0;opacity: 0;z-index: 9;width: 100%;height: 100%;-webkit-appearance: none;}
.checkbox-icon-round {position: relative;display: block;width: .34rem;height: .34rem;border-radius: .4rem;background: #fff;-webkit-transition: background .1s;transition: background .1s;border: 1px solid #ddd; top: .1rem;}
input:checked+.checkbox-icon-round {background: #f65963;border-color: #f65963;background-clip: padding-box;}
.checkbox-icon-round:after{position: absolute;content: "";top: .03rem;right: .11rem;width: .08rem;height: .16rem;border: solid #fff;border-width: 0 .04rem .04rem 0;-webkit-transform: rotate(45deg) scale(0);transform: rotate(45deg) scale(0);-webkit-transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: -webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;transition: transform .2s cubic-bezier(.18,.89,.32,1.28) .1s,-webkit-transform .2s cubic-bezier(.18,.89,.32,1.28) .1s;}
input:checked+.checkbox-icon-round:after{-webkit-transform: rotate(45deg) scale(1);transform: rotate(45deg) scale(1);}
.fabuBox .btnFb,.btnConfirm{ width: 100%;height: .8rem;line-height: .8rem;border:none;font-size: .32rem;color:#fff;background: #f79810;border-radius: .04rem; box-shadow: 0 .08rem .2rem #f6b456;margin:.58rem 0 1rem;}

.suc .modal-main{padding: .51rem 0 .32rem;}
.suc .modal-main img{width: .68rem;height: .68rem;}
.suc .modal-main p{padding:0;margin-top: .18rem;border-bottom: 0;font-size: .3rem;color:#333;}
.btnConfirm{width: 2.7rem;margin:.54rem 0 0;}
.del .modal-main p,.delAudio .modal-main p{border-bottom: 0;}
.del .confirmBox,.delAudio .confirmBox{padding:.2rem;margin-top:.5rem;}
.del .confirmBox span,.delAudio .confirmBox span{ display: block; float: left;text-align: center;font-size: .28rem;}
.del .confirmBox .cancel,.delAudio .confirmBox .cancel{width: 50%;border-right: solid .02rem #eee;}
.del .confirmBox .comfirm,.delAudio .confirmBox .comfirm{display: inline-block;width: 49%;color:#f79810;}
.m-audio .btnAudio{width:2rem;height: 2rem;margin:auto;border-radius:100%;background: #ff5600 url(../images/audio1.png) no-repeat center center;background-size:1rem;}

/*上传照片*/
.photoBox{display: none;position: fixed;top:0;left:0;bottom:0;right:0;background-color:#fff;width:100%;height: 100%;z-index: 9999;-webkit-animation:cd-move-in .3s ease-in;-moz-animation:cd-move-in .3s ease-in;animation:cd-move-in .3s ease-in; }
.photoBox.showBox{display: block;}
.top-header .btnconf{display: block;width:1.16rem;height:.54rem;line-height:.54rem; text-align:center;position: absolute;right:.2rem;top:.17rem;border-radius: .04rem;color:#faeedd;background-color: #f7d29c;font-size: .3rem;}
.top-header .btnconf.bactive{background:#f79810;color:#fff;width:1.4rem;}
.mainBox{padding:.25rem;border-top:solid .02rem #eee;}
.mainBox ul li{width: 1.6rem;height: 1.6rem;float: left;margin:0 .2rem .2rem 0;position: relative;}
.mainBox ul >div.local{width: 1.6rem;height: 1.6rem;float: left;margin:0 .2rem .2rem 0;background:#efefef url(../images/photo.png) no-repeat center center;background-size:.62rem;}
.mainBox ul >div.local input{width: 1.6rem;height: 1.6rem;opacity: 0;}
.mainBox ul li img{width: 1.6rem;height: 1.6rem;}
.mainBox ul li:nth-child(4n){margin-right: 0;}
.mainBox ul li .selBox{position: absolute;top: .12rem;right: .12rem;width: .44rem;height: .44rem;border-radius: 100%;border:solid .03rem #fff;background: rgba(0,0,0,.3);}
.mainBox ul li.active .selBox{background:#f79810 url(../images/ok.png) no-repeat center center;background-size:.3rem;border:solid .03rem #f79810;}



/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 100001; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.editor .item input {opacity: 0;}