body, html{background: #f7f7f7;}

/*头部*/
.header{height: .8rem;display: -webkit-box;font-size: .36rem;line-height: .8rem;z-index: 10;width: 100%;max-width: 1080px;background: #ff8437;}
.header-l img{display: block;width: .55rem;height: .5rem;margin: .15rem 0 0 .2rem}
.header-l{-webkit-box-flex: 1;}
.header-address{-webkit-box-flex: 1;text-align: center;color: #fff;}
.header-search{-webkit-box-flex: 1;}
.header a{display: inline-block;}
.header-search a{display: block;;height: .8rem;width: .8rem;float: right;}
.header-search img{display: block;width: .5rem;height: .5rem;margin: .15rem .2rem 0 0;}

/*头部幻灯片部分*/
.wrapper .swiper-container {height: 6rem;color: #fff;text-align: center; background: #fff;}
.wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.wrapper .swiper-slide img {width: 100%; height: 100%;}
.wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: 0;width: 100%;}
.wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.wrapper .swiper-active-switch {background: #fff;}
.wrapper .swiper-dynamic-links {text-align: center;}
.wrapper .swiper-pagination-bullet-active{background: #fff!important;opacity: .8}
.wrapper .swiper-pagination-bullet{width: 6px;height: 6px;}

/*头部简介*/
.car_t1 { position: relative; padding: .2rem .1rem .2rem .2rem; border-bottom: 1px solid #ececec; background: #fff;}
.car_t1 .label { position: absolute; left: .12rem; top: .1rem; height: .3rem; line-height: .35rem; padding: 0 .1rem; background: #f39733; color: #fff; font-size: .2rem; z-index: 2;}
.car_t1 .label:before{ content: ""; position: absolute; top: .3rem; left: 0; width: 0; height: 0; border-top: .1rem solid #bf6400; border-left: .1rem solid transparent;}
.car_t1 .label:after { content: ""; position: absolute; top: 0; width: 5px; right: -5px; bottom: 0; display: block; background-size: 5px 5px; background-repeat: repeat-y; background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #f39733), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #f39733), color-stop(.25, transparent), to(transparent));}
.car_t1 .car_pic{ position: absolute; left: .2rem; top: .15rem; z-index: 1; height: 1.4rem; overflow: hidden;}
.car_t1 .car_pic img{ width: 1.5rem;}
.car_t1 h1{ font-size: .3rem; padding-right: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.car_t1 h3{ font-size: .24rem; color: #999; padding: .1rem 0; line-height: .4rem;}
.car_t1 h4{ font-size: .24rem; color: #999; padding: .1rem 0 0; line-height: .26rem;}
.car_t1 .nature_ { position: absolute; right: .1rem; top: .3rem; color: #f60; border-radius: 10px; border: 1px solid #f60; font-size: .18rem; padding: 0 3px; display: block; overflow: hidden;}
.car_t1 span { line-height: .4rem;}
.car_t1 span i { font-style: normal; font-size: .2rem;}
.car_t1 span em{ float: left; font-size: .28rem; font-weight: bold; color: #e83828;}
.car_t1 span p{ float: right; font-size: .28rem; width: 40%; text-align: right;}
.car_t1 .nostock { float: right; font-size: .24rem; color: #666; text-decoration: none;}
.car_t1 span p .num-account{ width: 24%; text-align: center; display: inline-block; vertical-align: middle; height: .4rem; line-height: .4rem; font-weight: normal;}
.car_t1 span p i{ width: .4rem; height: .4rem; border: 1px solid #d6d6d6; display: inline-block; border-radius: 100%; vertical-align: middle; background: url(../images/jianhao.png) no-repeat center; background-size: .3rem; margin-right: 0.04rem;}
.car_t1 span p b{ width: .4rem; height: .4rem; border: 1px solid #e83828; display: inline-block; border-radius: 100%; vertical-align: middle; background: url(../images/jiahao.png) no-repeat center; background-size: .3rem; margin-left: 0.04rem;}

/*进入店铺*/
.store-tit{border-top: 1px solid #ececec; background: #fff; margin-top: .2rem; border-bottom: 1px solid #ececec;}
.store-tit a{display: block; padding: .2rem;}
.store-tit .store_icon{background: url(../images/shop.png) center center no-repeat; background-size: .3rem auto; display: block; width: .3rem; height: .3rem; float: left; margin-right: .1rem;}
.store-tit span{display: block; float: left;}
.store-tit em{float: right; background: url(../images/arrow_right.png) right center no-repeat; background-size: .3rem auto; padding-right: .35rem; display: block;}

/*商品详情*/
.food-desc{margin-top: .2rem;}
.food-desc .tit{color: #f60; padding: .2rem; background: #fff; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec;}
.food-content{background: #fff; padding: 0 .2rem 1.1rem;}
.food-content img{max-width: 100%;}

/*购物车*/
.price{ position: fixed; bottom: 0; left: 0; right: 0; background: #fff; height: .8rem; line-height: .8rem; padding: 0 0 0 0.2rem; z-index: 120; border-top: 1px solid #efefef;}
.price .gou{ float: left; position: relative; margin-top: -0.35rem;}
.price .gou.swing { animation: swing .3s linear;-webkit-animation: swing .3s linear;-moz-animation: swing .3s linear;}
@-webkit-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@-moz-keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}
@keyframes swing{0%{transform:scale(.8);}100%{transform:scale(1)}}

.price .gou em{ width: 1rem; height: 1rem; background: #fff; border-radius: 100%; display: inline-block;}
.price .gou em i{ width: 1rem; height: 1rem; background: #e8643e url(../images/gouwuche_2.png?v=1) no-repeat center; background-size: .6rem; border-radius: 100%; display: block;}
.price .gou b{ min-width: .35rem; height: .35rem; line-height: .3rem; text-align: center; position: absolute; top: .1rem; right: -.15rem; background: #fd915b; color: #fff; border-radius: 100%;}
.price .zong_p{ font-size: .3rem; margin-left: 0.2rem; float: left;}
.price .ok{ float: right;}
.price .ok a{ width: 1.3rem; text-align: center; background: #e8643e; color: #fff; font-size: .3rem; display: block; font-weight: bold; padding: 0 .2rem;}
.bottom-box{position: relative;}
.cart-box{background: #fff;position: fixed;width: 100%;bottom: .8rem;max-height: 8rem;overflow: auto;z-index: 120; display: none; -webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.cart-box .con {max-height: 5.5rem; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.cart-list{padding: .3rem .2rem .3rem .3rem;border-bottom: 1px solid #efefef;}
.menu-select-bottom .starting a.grey{background: #787878;color: #fff;padding: 0 .1rem;}
.cart-box .title{background: #ececee; height: .8rem;}
.cart-box .title h3 {float: left; margin-left: .2rem; font-size: .3rem; color: #666; border-left: 3px solid #0096ff; height: .4rem; line-height: .4rem; overflow: hidden; padding-left: .1rem; margin-top: .2rem;}
.cart-box .title a {float: right; margin-right: .2rem; color: #666; font-size: .24rem;}
.cart-box .info {float: left; width: 55%; font-size: .22rem; color: #999;}
.cart-box .info h3 {font-size: .3rem; color: #333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.cart-box .info p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: -.2rem;}
.cart-box .sale-price {float: left; width: 20%; font-size: .3rem;}
.cart-box .r{float: right;}
.num-rec { display: inline-block; width: .4rem; height: .4rem; border-radius: 50%; border: 1px solid #efefef; font-size: .32rem; text-align: center; line-height: .45rem;}
.num-add { display: inline-block; width: .4rem; height: .4rem; border-radius: 50%; border: 1px solid #efefef; font-size: .32rem; text-align: center; line-height: .45rem;}
.right{ font-size: .3rem; margin: 0.2rem 0;}
.num-account { display: inline-block; width: .6rem; height: .4rem; text-align: center; font-size: .32rem;}
.cart-tips{position: fixed; z-index: 1; bottom: 0.8rem; background: #fef1ce; color: #000; left: 0; right: 0; padding: 0.08rem 0 0.08rem 0; font-size: .26rem; text-indent: 1.4rem;}

/*购物车遮罩层*/
.mask_cart {height: 100%;width: 100%;background: rgba(0,0,0,.4);position: fixed;top: 0;right: 0;z-index: 100; display: none;}
.mask_nature {height: 100%;width: 100%;background: rgba(0,0,0,.4);position: fixed;top: 0;right: 0;z-index: 150; display: none;}

/* 多规格浮动层 */
.nature { position: fixed; z-index: 200; width: 80%; height: 5rem; left: 10%; top: 50%; display: none; margin-top: -3rem; background: #fff; border-radius: 5px; box-shadow: 0 0 20px rgba(0, 0, 0, .15); -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.nature h2 { position: relative; padding: 0 .3rem; height: 1rem; text-align: center; line-height: 1rem; font-weight: 700; color: #333; font-size: .35rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.nature h2 s { position: absolute; right: 0; top: 0; width: 1rem; height: 1rem; font-family: arial; line-height: .8rem; text-align: center; font-size: .7rem; color: #ccc; font-weight: 500; text-decoration: none;}
.nature .con { height: 3rem; margin: 0 .3rem; overflow: auto; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.nature .con dl { margin-bottom: .2rem;}
.nature .con dt { color: #666; margin-bottom: 5px;}
.nature .con dd a { float: left; margin: 0 .2rem .15rem 0; border-radius: .3rem; border: 1px solid #dcdcdc; font-size: .28rem; padding: .03rem .2rem;}
.nature .con dd a.curr { color: #e84538; border-color: #e84538;}
.nature .fot { height: 1rem; padding: 0 .3rem; background: #fcfcfc; line-height: 1rem; border-top: 1px solid #f9f9f9;}
.nature .fot span { float: left; color: #e84538; font-size: .4rem; font-weight: 700;}
.nature .fot span i { font-size: .3rem; font-weight: 500; font-style: normal; margin-right: .06rem;}
.nature .fot .confirm { float: right; height: .6rem; line-height: .6rem; padding: 0 .5rem; color: #fff; font-weight: 4rem; background: #e84538; border: 0; border-radius: 3px; margin-top: .2rem;}
.nature .fot .confirm:disabled { background: #ccc;}

.flyer-img{width: .8rem;height: .8rem;border-radius: 1rem; z-index: 9999999;}
