/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .48rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .9rem; margin: 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right; text-align: center;}


::selection             { background:none; }
::-moz-selection    { background:none; }
::-webkit-selection { background:none;}
body,html{
	-webkit-tap-highlight-color: rgba(240,240,240,0);
	background: #f0f0f0;
}
.header{
    border-bottom: 1px solid #d7d7d7;
}
.succeed_box{
	height: .9rem;
	line-height: .9rem;
	background: #fff;
    border-bottom: 1px solid #d7d7d7;
    font-size: .28rem;
    padding-left: .3rem;
    margin-bottom: .15rem;
}
.succeed_box i{
    width: .5rem;
    height: .8rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/yuan_1.png) no-repeat 0rem 0.2rem;
    background-size: .4rem;
}
.quxiao_box{
	height: .9rem;
	line-height: .9rem;
	background: #fff;
    border-bottom: 1px solid #d7d7d7;
    font-size: .28rem;
    padding-left: .3rem;
    margin-bottom: .15rem;
}
.quxiao_box i{
    width: .5rem;
    height: .8rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/yuan_2.png) no-repeat 0rem 0.2rem;
    background-size: .4rem;
}
.shop_detail{
    margin-bottom: .15rem;
	background: #fff;
}
.shop_detail .shop_name{
	height: .9rem;
	line-height: .9rem;
	font-size: .28rem;
	padding: 0 .3rem;
    border-bottom: 1px solid #d7d7d7;
}
.shop_detail .shop_name a{
	display: block;
}
.shop_detail .shop_name em{
	float: left;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.shop_detail .shop_name i{
    display: inline-block;
    width: .34rem;
    height: .5rem;
    background: url(../images/arrow_right.png) no-repeat 0.11rem 0.05rem;
    vertical-align: middle;
    background-size: .25rem;
}
.shop_detail .shop_info{
	background: #fff;
	padding: 0.2rem .4rem;
}
.shop_detail .shop_info ul li{
	font-size: .28rem;
	color: #7c7c7c;
}
.shop_location{
	height: .9rem;
	line-height: .9rem;
	background: #fff;
	font-size: .28rem;
	padding-left: .3rem;
}
.shop_location a{
	display: block;
}
.shop_location em{
	padding-left: .5rem;
	float: left;
	width: 84%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    background: url(../images/location.png) no-repeat left;
    background-size: .5rem;
}
.shop_location i{
	display: inline-block;
    width: .34rem;
    height: .5rem;
    background: url(../images/arrow_right.png) no-repeat 0.11rem 0.05rem;
    vertical-align: middle;
    background-size: .25rem;
}
.kefu{
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	color: #969696;
	margin-bottom: 2rem;
}
.foot_btn{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: .2rem .3rem;
	font-size: .3rem;
	border-top: 0.02rem solid #dcdcdc;
	background: #fafafa
}

.foot_btn .edit{
	float: right;
	width: 3.2rem;
	height: .84rem;
	line-height: .84rem;
	text-align: center;
	border: 0.02rem solid #dcdcdc;
	background: #fff;
	border-radius: .08rem;
}
.foot_btn .cancel, .foot_btn .del{
	width: 6.5rem;
	height: .84rem;
	line-height: .84rem;
	text-align: center;
	border: 0.02rem solid #dcdcdc;
	background: #fff;
	border-radius: .08rem;
	margin: 0 auto;
}
.disk{
    background: #000;
    opacity: .5!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100001;
    display: none;
}
.warning_box{
    position: fixed;
    top: 35%;
    left: 50%;
    margin-left: -2.75rem;
    width: 5.5rem;
    height: 2.5rem;
    background: #fff;
    z-index: 100005;
    border-radius: 0.1rem;
    display: none;
}
.warning_box h1{
	padding: 0 .3rem;
	font-size: .28rem;
	margin: 0.4rem 0;
}
.warning_box .know{
	text-align: center;
	font-size: .28rem;
	border-top: 0.02rem solid #dcdcdc;
	height: .85rem;
	line-height: .85rem;
}
.warning{
	position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -2.5rem;
    width: 5rem;
    height: 3rem;
    background: #fff;
    text-align: center;
    z-index: 100005;
    border-radius: 0.1rem;
     display: none; 
}
.warning h1{
    font-size: .28rem;
    margin: 0.87rem 0;
}
.warning ul{
    border-top: 1px solid #d7d7d7;
}
.warning ul li{
    float: left;
    width: 49.8%;
    height: .8rem;
    line-height: .8rem;
    font-size: .28rem;
}
.warning ul li:last-child {
    border-left: 1px solid #d7d7d7;
}