/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .48rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .9rem; margin: 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right;text-align: center;}

::selection             { background:none; }
::-moz-selection    { background:none; }
::-webkit-selection { background:none;}
body,html{
	-webkit-tap-highlight-color: rgba(240,240,240,0);
	background: #f0f0f0;
}
.header{
    border-bottom: 1px solid #d7d7d7;
}
.shop_info{
	margin: 0.15rem 0;
	background: #fff;
	padding: 0.15rem .3rem;
}
.shop_info .shop_logo{
	float: left;
    width: 1.8rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 0.1rem;
    margin-right: .3rem;
}
.shop_info .shop_logo img{
	width: 100%;
	height: 100%;
}
.shop_info h1{
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
}
.choice_box{
	background: #fff;
	margin-bottom: .15rem;
}
.choice_box .time{
	padding: 0 .3rem;
	border-bottom: 1px solid #dcdcdc;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
}
.choice_box .time a{
	display: block;
}
.choice_box .time em{
	float: left;
}
.choice_box .time span{
	float: right;
}
.choice_box .time span i{
    width: .34rem;
    height: .5rem;
    background: url(../images/arrow_right.png) no-repeat 0.11rem 0.05rem;
    background-size: .25rem;
    display: inline-block;
    vertical-align: middle;
}
.choice_box .per_num{
	padding: 0 .3rem;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
}
.choice_box .per_num p{
	float: right;
	width: 22%;
}
.choice_box .per_num p .num-account{
	width: 25%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	height: .4rem;
	line-height: .4rem;
	font-weight: normal;
}
.choice_box .per_num p i{
	width: .4rem;
	height: .4rem;
	border: 1px solid #d6d6d6;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	background: url(../images/jianhao.png) no-repeat center;
	background-size: .3rem;
	margin-right: 0.04rem;
}
.choice_box .per_num p b{
	width: .4rem;
	height: .4rem;
	border: 1px solid #e83828;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	background: url(../images/jiahao.png) no-repeat center;
	background-size: .3rem;
	margin-left: 0.04rem;
}
.table_choice{
	background: #fff;
	margin-bottom: .15rem;
}
.table_choice .tc_btn{
	padding: 0 .3rem;
	border-bottom: 1px solid #dcdcdc;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
}
.table_choice .tc_btn em{
	float: left;
	font-size: .28rem;
}
.table_choice .open_btn{
	float: right;
	margin-top: .13rem;
}
.table_choice .open_btn label{
	position: relative;
}
input[type="checkbox"]  
{  
    position: absolute;  
    opacity: 0;  
    left: 0;
    width: 50px;
    height: 25px;
    z-index: 1;
}  
  
/* Normal Track */  
input[type="checkbox"].ios-switch + div  
{  
    vertical-align: middle;  
    width: 40px;  
    height: 20px;  
    border: 1px solid #E5E5E5;  
    border-radius: 999px;  
    background-color: #fff;  
    -webkit-transition-duration: .4s;  
    -webkit-transition-property: background-color, box-shadow;  
    box-shadow: inset 0 0 0 0px #E5E5E5;  
}  
  
/* Checked Track (Blue) */  
input[type="checkbox"].ios-switch:checked + div  
{  
    width: 40px;  
    background-position: 0 0;  
    background-color: #3b89ec;  
    border: 1px solid #0e62cd;  
    box-shadow: inset 0 0 0 10px rgba(59,137,259,1);  
}  
  
/* Tiny Track */  
input[type="checkbox"].tinyswitch.ios-switch + div  
{  
    width: 34px;  
    height: 18px;  
}  
  
/* Big Track */  
input[type="checkbox"].bigswitch.ios-switch + div  
{  
    width: 47px;
    height: 29px;
}  
  
/* Green Track */  
input[type="checkbox"].green.ios-switch:checked + div  
{  
    background-color: #4CD864;  
    border: 1px solid #4CD864;  
    box-shadow: inset 0 0 0 10px #4CD864;  
}  
  
/* Normal Knob */  
input[type="checkbox"].ios-switch + div > div  
{  
    float: left;  
    width: 18px;  
    height: 18px;  
    border-radius: inherit;  
    background: #ffffff;  
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);  
    -webkit-transition-duration: 0.4s;  
    -webkit-transition-property: transform, background-color, box-shadow;  
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);  
    -moz-transition-duration: 0.4s;  
    -moz-transition-property: transform, background-color;  
    box-shadow:0px 1px 8px rgba(0,0,0,0.4), 0px 0px 2px rgba(0,0,0,0.3);
    pointer-events: none;  
    margin-top: 1px;  
    margin-left: 1px;  
}  
  
/* Checked Knob (Blue Style) */  
input[type="checkbox"].ios-switch:checked + div > div  
{  
    -webkit-transform: translate3d(20px, 0, 0);  
    -moz-transform: translate3d(20px, 0, 0);  
    background-color: #ffffff;  
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4), 0px 0px 2px rgba(0,0,0,0.3);
}  
  
/* Tiny Knob */  
input[type="checkbox"].tinyswitch.ios-switch + div > div  
{  
    width: 16px;  
    height: 16px;  
    margin-top: 1px;  
}  
  
/* Checked Tiny Knob (Blue Style) */  
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div  
{  
    -webkit-transform: translate3d(16px, 0, 0);  
    -moz-transform: translate3d(16px, 0, 0);  
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);  
}  
  
/* Big Knob */  
input[type="checkbox"].bigswitch.ios-switch + div > div  
{  
    width: 26px;
    height: 26px;
    margin-top: 1px;
}  
  
/* Checked Big Knob (Blue Style) */  
input[type="checkbox"].bigswitch.ios-switch:checked + div > div  
{  
    -webkit-transform: translate3d(20px, 0, 0);  
    -moz-transform: translate3d(16px, 0, 0);  s
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);  
}  
.table_num{
	display: none;
	padding: 0.15rem 0;
}
.table_num .last{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
	padding: 0 .3rem;
	padding-bottom: 0.1rem;
}
.table_num .last em{
	float: left;
}
.table_num .last i{
	float: right;
	font-style: normal;
	color: #969696;
}
.table_num .tn_list{
	height: .8rem;
	line-height: .7rem;
	font-size: .28rem;
	padding-left: .3rem;
	overflow: hidden;
}
.table_num .tn_list .info {padding-right: .3rem;color:#f60;}
.table_num .tn_list em{
	float: left;
	margin-right: 0.15rem;
}
.table_num .tn_list ul li{
	float: left;
	width: 1.5rem;
	text-align: center;
	border: 1px solid #dcdcdc;
	font-size: .3rem;
	border-radius: .05rem;
	background: rgba(220, 220, 220, 0.13);
}
.table_num .tn_list ul li.tn_bc{
	border: 1px solid #ed3e42;
	background: rgba(237, 62, 66, 0.13);
	color: #ed3e42;
}
.table_num .tn_list ul li:nth-child(2){
	margin: 0 .15rem;
}
.tn_list a{
	float: right;
	width: .9rem;
	height: .7rem;
	background: url(../images/arrow_right.png) no-repeat center;
	background-size: .3rem;
}
.accept{
}
.warninginfo{
	display: none;
	padding: 0 .3rem;
	font-size: .28rem;
	height: .8rem;
	line-height: .8rem;
	border-bottom: 1px solid #dcdcdc;
}
.warninginfo em{
	float: left;
}
.warninginfo i {
	float: right;
	color: #969696;
	font-style: normal;
	font-size: .24rem;
}
.accept .accept_box{
	padding: 0 .3rem;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
	overflow: hidden;
}
.accept .accept_box i{
	width: .5rem;
	height: .8rem;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/yuan.png) no-repeat 0rem 0.15rem;
	background-size: .5rem;
	margin-right: .1rem;
}
.accept .accept_box i.check{
	background: url(../images/yuan_1.png) no-repeat 0rem 0.15rem;
	background-size: .5rem;
}
.proposer{
	background: #fff;
	margin-bottom: .15rem;
}
.proposer .name{
	padding: 0 .3rem;
	border-bottom: 1px solid #dcdcdc;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
}
.proposer .name em{
	float: left;
}
.proposer .name input{
	float: left;
	border: none;
	margin-top: .2rem;
	text-indent: 0.1rem;
	width:3rem;
}
.proposer .name  ul {
	float: left;
}
.proposer .name  ul li{
	float: left;
	margin-right: .2rem;
}
.proposer .name  ul li i{
	width: .5rem;
	height: .8rem;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/yuan.png) no-repeat 0.1rem 0.2rem;
	background-size: .4rem;
	margin-right: .1rem;
}
.proposer .name  ul li.check i{
	background: url(../images/yuan_1.png) no-repeat 0.1rem 0.2rem;
	background-size: .4rem;
}
.remark{
	background: #fff;
	padding: 0.2rem .3rem;
	margin-bottom: 1.1rem;
}
.remark em{
	float: left;
	font-size: .28rem;
}
.remark textarea{
	font-size: .28rem;
	width: 6rem;
	height: 2.5rem;
	border: none;
	resize:none;
}
.submit{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #f03c3c;
	color: #fff;
	font-size: .32rem;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
}
.submit a {display: block;color: #fff;}
.submit a.disabled {background: #ccc}
.TableChoice_box{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 100001;
	display: none;
	overflow: auto;
}
.TableChoice_box .header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.TableChoice_box .warning{
	height: .7rem;
	line-height: .7rem;
	padding: 0 .3rem;
	background: #fff7d6;	
	border-bottom: 1px solid #dcdcdc;
	color: #c6ab72;
	position: fixed;
	top: .9rem;
	left: 0;
	right: 0;
}
.TableChoice_box .table_box{
	margin-bottom: 1.1rem;
	margin-top: 1.6rem;
}
.TableChoice_box .table_list{
	padding: 0.3rem .3rem;
	border-bottom: 1px solid #dcdcdc;
}
.TableChoice_box .table_list .tit{
	font-size: .32rem;
	margin-bottom: 0.3rem;
}
.TableChoice_box .table_list ul li{
	float: left;
	height: .7rem;
	line-height: .7rem;
	padding: 0 .4rem;
    border: 1px solid #dcdcdc;
    font-size: .3rem;
    border-radius: .05rem;
    background: rgba(220, 220, 220, 0.13);
    margin: 0 .2rem .2rem 0;
}
.TableChoice_box .table_list ul li.tl_bc{
	border: 1px solid #ed3e42;
    background: rgba(237, 62, 66, 0.13);
    color: #ed3e42;
}
.table_sure{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #f03c3c;
	color: #fff;
	height: 1rem;
	line-height: 1rem;
	font-size: .32rem;
	text-align: center;
}
.fix{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}