{#include file='../../siteConfig/public_foot_v3.html' module='shop' theme='gray'#}

<div class="btntop">
  <a href="javascript:;" class="top" title="{#$langData['shop'][5][0]#}">{#$langData['shop'][5][0]#}</a>
  <a href="javascript:;" class="close" title="{#$langData['siteConfig'][6][15]#}">{#$langData['siteConfig'][6][15]#}</a>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
