<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['shop'][5][51]#}-{#$shop_title#}</title>
<meta name="keywords" content="{#$shop_keywords#}"/>
<meta name="description" content="{#$shop_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/news.css?v={#$cfg_staticVersion#}" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
</script>
</head>

<body>
{#include file="top.html"#}

<div class="bread">
	<p><a href="{#$shop_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>><a href="{#getUrlPath service='shop' template='news'#}">{#$langData['shop'][5][51]#}</a>{#if $pid != 0#}><a href="{#getUrlPath service='shop' template='news' typeid={#$pid#}#}">{#$pname#}</a>{#/if#}{#if $tid != 0#}><a href="{#getUrlPath service='shop' template='news' typeid={#$tid#}#}">{#$tname#}</a>{#/if#}</p>
</div>

<div class="content clearfix">
	<div class="news-left left">
		<div class="select">
			<p><span>分类</span><font>|</font>
				<a{#if $pid == 0#} class="on"{#/if#} href="{#getUrlPath service='shop' template='news'#}">{#$langData['siteConfig'][22][96]#}</a>
				{#shop action="newsType" return="type" pageSize="10"#}
				<a{#if $pid == {#$type.id#}#} class="on"{#/if#} href="{#getUrlPath service='shop' template='news' typeid={#$type.id#}#}">{#$type.typename#}</a>
				{#/shop#}
			</p>
			{#if $pid != 0 && $child > 0#}
			<p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><font>&nbsp;</font>
				<a{#if $tid == 0#} class="on"{#/if#} href="{#getUrlPath service='shop' template='news' typeid={#$pid#}#}">{#$langData['siteConfig'][22][96]#}</a>
				{#shop action="newsType" return='type' type={#$pid#}#}
				<a{#if $tid == {#$type.id#}#} class="on"{#/if#} href="{#getUrlPath service='shop' template='news' typeid={#$type.id#}#}">{#$type.typename#}</a>
				{#/shop#}
			</p>
			{#/if#}
		</div>
		<div class="all">
			<ul>
				{#shop action="news" typeid={#$typeid#} page={#$page#} pageSize="20"#}
				<li>
					<h3><a href="{#$row.url#}" title="{#$row.title#}" target="_blank">{#$row.title#}</a></h3>
					<dl>
						{#if $row.litpic != ""#}<dt class="left"><a href="{#$row.url#}" target="_blank" title="{#$row.title#}"><img src="{#$row.litpic#}"></a></dt>{#/if#}
						<dd class="left"><p>{#$row.note#}... <a href="{#$row.url#}" target='_blank'>[{#$langData['siteConfig'][19][568]#}]</a></p><span>{#$row.pubdate|date_format:"%Y-%m-%d"#}</span></dd>
					</dl>
				</li>
				{#/shop#}
				{#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][57]#}</li>
				{#/if#}
			</ul>
		</div>
		<!-- 分页 -->
		{#getPageList service='shop' template='news' typeid={#$typeid#}#}

	</div>

	<div class="news-right right">
		<div class="hot">
			<h3>{#$langData['siteConfig'][18][20]#}<span></span><em></em></h3>
			<ul>
				{#shop action="slist" return="l1" flag="0" pageSize="10"#}
				<li><i{#if $_bindex.l1 < 4#} class="on"{#/if#}>{#$_bindex.l1#}</i><a href="{#$l1.url#}" title="{#$l1.title#}" target="_blank">{#$l1.title#}</a></li>
				{#/shop#}
				{#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][54]#}</li>
				{#/if#}
			</ul>
		</div>
		<div class="hot">
			<h3>{#$langData['shop'][5][55]#}<span></span><em></em></h3>
			<ul>
				{#shop action="slist" return="l2" flag="1" pageSize="10"#}
				<li><i{#if $_bindex.l2 < 4#} class="on"{#/if#}>{#$_bindex.l2#}</i><a href="{#$l2.url#}" title="{#$l2.title#}" target="_blank">{#$l2.title#}</a></li>
				{#/shop#}
				{#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][54]#}</li>
				{#/if#}
			</ul>
		</div>
		<div class="hot">
			<h3>{#$langData['shop'][5][56]#}<span></span><em></em></h3>
			<ul>
				{#shop action="slist" return="l3" flag="2" pageSize="10"#}
				<li><i{#if $_bindex.l3 < 4#} class="on"{#/if#}>{#$_bindex.l3#}</i><a href="{#$l3.url#}" title="{#$l3.title#}" target="_blank">{#$l3.title#}</a></li>
				{#/shop#}
				{#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][54]#}</li>
				{#/if#}
			</ul>
		</div>
	</div>
</div>


{#include file="bottom.html"#}
</body>
</html>
