<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['shop'][5][61]#}-{#$shop_title#}</title>
<meta name="keywords" content="{#$shop_keywords#}"/>
<meta name="description" content="{#$shop_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/business.css?v={#$cfg_staticVersion#}" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
</script>
</head>

<body>
{#$pageCurr = 'store'#}
{#include file="top.html"#}

<div class="bread">
	<p><a href="{#$shop_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>><a href="{#getUrlPath service='shop' template='store'#}">{#$langData['shop'][5][61]#}</a></p>
</div>

<div class="content">
	<div class="select">
		<div class="tab"><span class="left">{#$langData['siteConfig'][19][108]#}</span><font class="left">|</font>
			<p>
				<a{#if $typeid == 0#} class="on"{#/if#} href="{#getUrlPath service='shop' template='store' typeid=0 addrid={#$addrid#} business={#$business#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$langData['siteConfig'][22][96]#}</a>
				{#shop action="type" return="type"#}
				<a{#if $typeid == {#$type.id#}#} class="on"{#/if#} href="{#getUrlPath service='shop' template='store' typeid={#$type.id#} addrid={#$addrid#} business={#$business#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$type.typename#}</a>
				{#/shop#}
			</p>
		</div>
		<div class="tab"><span class="left">{#$langData['siteConfig'][19][8]#}</span><font class="left">|</font>
			<p>
				<a{#if $addrid == 0#} class="on"{#/if#} href="{#getUrlPath service='shop' template='store' typeid={#$typeid#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$langData['siteConfig'][22][96]#}</a>
				{#shop action="addr" return='addr'#}
				<a{#if $addrid == {#$addr.id#}#} class="on"{#/if#} href="{#getUrlPath service='shop' template='store' typeid={#$typeid#} addrid={#$addr.id#} business=0 param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$addr.typename#}</a>
				{#/shop#}
			</p>
		</div>
		{#if $addrid != 0#}
		<div class="tab">
			<span class="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><font class="left">&nbsp;</font>
			<p>
				<a{#if $business == 0#} class="on"{#/if#} href="{#getUrlPath service='shop' template='store' typeid={#$typeid#} addrid={#$addrid#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$langData['siteConfig'][22][96]#}</a>
				{#shop action="addr" return='addr' type={#$addrid#}#}
				<a{#if $business == {#$addr.id#}#} class="on"{#/if#} href="{#getUrlPath service='shop' template='store' typeid={#$typeid#} addrid={#$addrid#} business={#$addr.id#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}">{#$addr.typename#}</a>
				{#/shop#}
			</p>
		</div>
		{#/if#}
	</div>
	<div class="selectX">
			<span class="left zh{#if $orderby == 0#} on{#/if#}"><a href="{#getUrlPath service='shop' template='store' typeid={#$typeid#} addrid={#$addrid#} business={#$business#}#}">{#$langData['shop'][2][88]#}</a></span><font class="left">|</font>
			<span class="left zh{#if $orderby == 1#} on{#/if#}"><a href="{#getUrlPath service='shop' template='store' typeid={#$typeid#} addrid={#$addrid#} business={#$business#} param="orderby=1"#}">人气</a></span><font class="left">|</font>
			<div class="right">
				<span><em>{#$page#}</em>/<label id="totalPage">1<label></label></label></span><a class="pre" href="javascript:;">&lt;</a><a class="next" href="javascript:;">&gt;</a>
			</div>
		</div>

		<ul class="sjList clearfix">
			{#$addr = $addrid#}
			{#if $business != 0#}
			{#$addr = $business#}
			{#/if#}
			{#shop action="store" industry={#$typeid#} addrid={#$addr#} orderby={#$orderby#} page={#$page#} pageSize="30"#}
			<li>
				<dl class="clearfix">
					<dt class="left"><a href="{#$row.url#}" target="_blank" title="{#$row.title#}"><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$row.logo#}#}"></a></dt>
					<dd class="title"><a href="{#$row.url#}" target="_blank" title="{#$row.title#}">{#$row.title#}</a>{#if $row.rec == 1#}<em>{#$langData['siteConfig'][23][109]#}</em>{#/if#}</dd>
					<dd>{#$langData['siteConfig'][18][32]#}：{#$row.rating#}</dd>
					<dd>{#$langData['siteConfig'][3][1]#}：{#$row.tel#}</dd>
					<dd>{#$langData['siteConfig'][19][9]#}：
						{#foreach from=$row.addr item=addr#}
						{#$addr#}
						{#/foreach#} {#$row.address#}</dd>
					<dd class="clearfix"><span class="left"><s></s>{#$langData['siteConfig'][16][25]#}<a href="{#$row.url#}" target="_blank">({#$row.productCount#}{#$langData['shop'][3][1]#})</a></span><span class="left r"><s></s>{#$langData['siteConfig'][6][114]#}<a href="{#$row.url#}" target="_blank">({#$row.reviewCount#}{#$langData['siteConfig'][13][49]#})</a></span></dd>
				</dl>
			</li>
			{#/shop#}

			{#if $pageInfo.totalCount == 0#}
			<li class="empty">{#$langData['shop'][5][62]#}</li>
			{#/if#}
		</ul>

		{#getPageList service='shop' template='store' industry={#$typeid#} addrid={#$addrid#} business={#$business#} param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}

</div>

{#include file="bottom.html"#}
<script>var totalCount = {#$pageInfo.totalCount|string_format:"%d"#}, totalPage = {#$pageInfo.totalPage|string_format:"%d"#}, atPage = {#$page#}, pageUrl = '{#getUrlPath service="shop" template="store" industry={#$typeid#} addrid={#$addrid#} business={#$business#} page="%page%" param="{#if $orderby != ""#}orderby={#$orderby#}{#/if#}"#}';</script>
<script type="text/javascript" src="{#$templets_skin#}js/brandlistD.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
