#tiptip_holder {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:99999
}
#tiptip_content {
	font-size:11px;
	color:#fff;
	padding:4px 8px;
	border:1px solid #CFCFCF;
	background-color:rgb(255,255,255);
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:0 0 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:0 0 2px 2px rgba(0,0,0,0.1)
}
#tiptip_arrow,#tiptip_arrow_inner {
	position:absolute;
	border:dashed transparent 6px;
	height:0;
	width:0;
	line-height:0
}
#tiptip_holder.tip_top {
	padding-bottom:5px
}
#tiptip_holder.tip_top #tiptip_arrow,#tiptip_holder.tip_top #tiptip_arrow_inner {
	border-top-style:solid;
	border-bottom:none;
	border-left-color:transparent;
	border-right-color:transparent
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color:#CFCFCF
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top:-7px;
	margin-left:-6px;
	border-top-color:#FFFFFF
}
#tiptip_holder.tip_bottom {
	padding-top:5px
}
#tiptip_holder.tip_bottom #tiptip_arrow,#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	border-top:none;
	border-bottom-style:solid;
	border-left-color:transparent;
	border-right-color:transparent
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color:#CFCFCF
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top:1px;
	margin-left:-6px;
	border-bottom-color:#FFFFFF
}
#tiptip_holder.tip_right {
	padding-left:5px
}
#tiptip_holder.tip_right #tiptip_arrow,#tiptip_holder.tip_right #tiptip_arrow_inner {
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-left:none;
	border-right-style:solid
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color:#CFCFCF
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top:-7px;
	margin-left:-6px;
	border-right-color:#FFFFFF
}
#tiptip_holder.tip_left {
	padding-right:5px
}
#tiptip_holder.tip_left #tiptip_arrow,#tiptip_holder.tip_left #tiptip_arrow_inner {
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-left-style:solid;
	border-right:none
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color:#CFCFCF
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-7px;
	border-left-color:#FFFFFF
}
