<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  modelType = "travel", adminPath = "{#$adminPath#}", mapCity = "{#$cfg_mapCity#}";
  var cityid = {#$cityid#}, cityList = {#$cityList#}, addr = {#$addrid#};
  var imglist = {"imgpics": {#$pics#}};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">景点名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" data-regex=".{1,60}"/>
      <span class="input-tips"><s></s>请输入2-30字</span>
    </dd>
  </dl>
  <dl id="companyInfo" class="clearfix">
    <dt><label for="zjcom">旅游公司：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="zjcom" id="zjcom" value="{#$zjcom#}" autocomplete="off" />
      <input type="hidden" name="comid" id="comid" value="{#$comid#}" />
      <span class="input-tips"><s></s>请选择所在旅游公司</span>
      <div id="comList" class="popup_key"></div>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="addrid">所属地区：</label></dt>
    <dd>
			<div class="cityName addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addrid split=' '#}" data-id="{#$addrid#}">{#if $addrid != ""#}{#getPublicParentInfo tab='site_area' id=$addrid type='typename' split='/'#}{#else#}请选择{#/if#}</div>
			<input type="hidden" name="addrid" id="addrid" value="{#$addrid#}" />
		<input type="hidden" name="cityid" id="cityid" value={#$cityid#}>
      <span class="input-tips"><s></s>请选择所属地区</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="address">详细地址：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="address" id="address" value="{#$address#}" maxlength="60" data-regex=".{2,60}" />
      <img src="{#$adminPath#}../static/images/admin/markditu.jpg" id="mark" style="cursor:pointer;" title="标注地图位置" />
      <span class="input-tips"><s></s>请输入详细地址，2-60位</span>
      <input type="hidden" name="lnglat" id="lnglat" value="{#$lnglat#}" />
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="opentime">开放时间：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="opentime" id="opentime" maxlength="100" data-regex=".{1,100}" value="{#$opentime#}">
      <span class="input-tips"><s></s>请填写开放时间</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="travelname">所属旅行社：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="travelname" id="travelname" maxlength="100" data-regex=".{1,100}" value="{#$travelname#}">
      <span class="input-tips"><s></s>请填写所属旅行社</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="tag">景点特色：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="tag" id="tag" maxlength="60" value="{#$tag#}">
      <span class="input-tips"><s></s>多个请用|分隔</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>景点图片：</dt>
		<dd class="listImgBox hide">
			<div class="list-holder">
				<ul id="listSection4" class="clearfix listSection piece"></ul>
				<input type="hidden" name="pics" value='{#$pics#}' class="imglist-hidden">
			</div>
			<div class="btn-section clearfix">
				<div class="uploadinp filePicker" id="filePicker4" data-type="album" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist="imgpics"><div id="flasHolder"></div><span>添加图片</span></div>
				<div class="upload-tip">
					<p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
				</div>
			</div>
		</dd>
  </dl>

  <dl class="clearfix" id="type0">
    <dt>景点视频：</dt>
    <dd>
		<input name="video" type="hidden" id="video" value="{#$video#}" />
		<div class="spic{#if $video == ""#} hide{#/if#}">
			<div class="sholder" id="videoPreview">
				 <a href="/include/videoPreview.php?f=" data-id="{#$video#}">预览视频</a>
			</div>
			<a href="javascript:;" class="reupload">重新上传</a>
		</div>
		<iframe src ="/include/upfile.inc.php?mod=travel&type=video&obj=video&filetype=video" style="width:100%; height:25px;{#if $video != ""#} display: none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>购买须知：</dt>
    <!-- <dd><script id="note" name="note" type="text/plain" style="width:85%;height:500px">{#$note#}</script></dd> -->
    <dd><textarea class="input-xxlarge" name="note" id="note" rows="10">{#$note#}</textarea></dd>
  </dl>

  <dl class="clearfix">
      <dt><label for="rec">是否推荐：</label></dt>
      <dd class="radio">
        <label><input type="checkbox" name="rec" value="1"{#if $rec == 1#} checked{#/if#} />推荐</label>
      </dd>
    </dl>

  <dl class="clearfix">
      <dt><label>景区星级：</label></dt>
      <dd>
          {#html_radios name="flag" values=$flagopt checked=$flag output=$flagnames separator="&nbsp;&nbsp;"#}
    </dd>
    </dl>
 
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
