<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}", atlasMax = 0;  //图集配置
var typeid = {#$typeid#}, action = '{#$action#}', modelType = '{#$action#}',
	cfg_term = "pc", adminPath = "{#$adminPath#}";
var service = 'travel';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="typename">国家名称：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="typename" id="typename" data-regex=".{1,60}" maxlength="60" value="{#$typename#}" />
      <span class="input-tips"><s></s>请输入国家名称。</span>
    </dd>
  </dl>
  {#if $id#}
  <dl class="clearfix">
    <dt><label for="pinyin">分类全拼：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="pinyin" id="pinyin" data-regex=".{1,60}" maxlength="60" value="{#$pinyin#}" />
      <span class="input-tips"><s></s>请输入分类全拼。</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="py">分类首字母：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="py" id="py" data-regex=".{1,60}" maxlength="60" value="{#$py#}" />
      <span class="input-tips"><s></s>请输入分类首字母。</span>
    </dd>
  </dl>
  {#/if#}
  <dl class="clearfix">
    <dt>照片：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $icon != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $icon != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$icon#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$icon#}" data-val="{#$icon#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="icon" value="{#$icon#}" class="imglist-hidden" id="icon">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="continent">所属洲：</label></dt>
    <dd class="radio">
      {#html_radios name="continent" values=$continentopt checked=$continent output=$continentnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="typeid">签证类型：</label></dt>
    <dd class="radio">
      {#html_radios name="typeid" values=$typeidopt checked=$typeid output=$typeidnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl id="prices" class="clearfix {#if $typeid!=1#}hide{#/if#}">
    <dt><label for="price">价格：</label></dt>
    <dd><span><input class="input-mini" type="number" name="price" min="0" id="price" value="{#$price#}" /></span></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="duration">停留期限：</label></dt>
    <dd>
        <textarea class="input-xxlarge" rows="5" name="duration" id="duration">{#$duration#}</textarea>
      <span class="input-tips"><s></s>请输入停留期限。</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="condition">条件说明：</label></dt>
    <dd>
      <textarea class="input-xxlarge" rows="5" name="condition" id="condition">{#$condition#}</textarea>
      <span class="input-tips"><s></s>请输入条件说明。</span>
    </dd>
  </dl>
  <dl id="expensess" class="clearfix {#if $typeid!=1#}hide{#/if#}">
      <dt><label for="expenses">办理费用：</label></dt>
      <dd>
        <textarea class="input-xxlarge" rows="5" name="expenses" id="expenses">{#$expenses#}</textarea>
        <span class="input-tips"><s></s>请输入办理费用。</span>
      </dd>
    </dl>
  
  <dl class="clearfix">
    <dt><label>属性：</label></dt>
    <dd class="radio">
      <label><input type="checkbox" name="hot" value="1"{#if $hot == 1#} checked{#/if#} />热门</label>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>
{#$jsFile#}
</body>
</html>
