<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  modelType = "travel", adminPath = "{#$adminPath#}", mapCity = "{#$cfg_mapCity#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">视频标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" value="{#$title#}" data-regex=".{1,60}"/>
      <span class="input-tips"><s></s>请输入2-30字</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label>来源：</label></dt>
    <dd class="radio">
      {#html_radios name="usertype" values=$typeopt checked=$usertype output=$typenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>

  {#if $usertype == 0#}
  <div id="userType0">
  {#else#}
  <div id="userType0" class="hide">
  {#/if#}
    <dl class="clearfix">
      <dt><label for="users">对应会员：</label></dt>
      <dd style="position:static;">
        <input class="input-large" type="text" name="users" id="users" value="{#$user#}" autocomplete="off" />
        <span class="input-tips"><s></s>请从列表中选择个人会员</span>
        <div id="userListP" class="popup_key"></div>
        <!-- <div id="userPhoneP"></div> -->
      </dd>
    </dl>
  </div>
  {#if $usertype == 1#}
  <div id="userType1">
  {#else#}
  <div id="userType1" class="hide">
  {#/if#}
    <dl class="clearfix">
      <dt><label for="user">商家：</label></dt>
      <dd style="position:static;">
        <input class="input-medium" type="text" name="user" id="user" value="{#$user#}" autocomplete="off" />
        <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
        <span class="input-tips"><s></s>请从列表中选择商家</span>
        <div id="userList" class="popup_key"></div>
        <!-- <div id="userPhone"></div> -->
      </dd>
    </dl>
  </div>

  <!-- <dl id="companyInfo" class="clearfix">
    <dt><label for="zjcom">旅游公司：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="zjcom" id="zjcom" value="{#$zjcom#}" autocomplete="off" />
      <input type="hidden" name="comid" id="comid" value="{#$comid#}" />
      <span class="input-tips"><s></s>请选择所在旅游公司</span>
      <div id="comList" class="popup_key"></div>
    </dd>
  </dl> -->

  <dl class="clearfix">
    <dt>封面：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=small" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>

  <dl class="clearfix" id="type0">
    <dt>上传视频：</dt>
    <dd>
		<input name="video" type="hidden" id="video" value="{#$video#}" />
		<div class="spic{#if $video == ""#} hide{#/if#}">
			<div class="sholder" id="videoPreview">
				 <a href="/include/videoPreview.php?f=" data-id="{#$video#}">预览视频</a>
			</div>
			<a href="javascript:;" class="reupload">重新上传</a>
		</div>
		<iframe src ="/include/upfile.inc.php?mod=travel&type=video&obj=video&filetype=video" style="width:100%; height:25px;{#if $video != ""#} display: none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </dd>
  </dl>
 
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
