.wrap{width: 1200px; margin: 0 auto;}
a:hover{text-decoration: none;}

.bgfff{background: #fff;}
.header{padding-bottom: 25px; }
.header .logo {float: left;max-width: 270px;height: 61px;margin-top: 16px;overflow: hidden;}
.header .logo a {display: block;overflow: hidden;}
.header .logo h2 {float: left;line-height: 60px;font-size: 24px;color: #333;}
.header .logo img {float: left; height: 61px; margin-right: 10px;vertical-align: middle;}

.navbar{float: right; margin-top: 37px;}
.navbar a{font-size: 16px; padding: 10px 20px; }

.copyright{color: #fff; text-align: center; font-size: 12px; margin-top: 60px;}
.copyright a{color: #fff;}
