html{background: #f5f5f5;}
/*图片轮播*/
.topSwiper{position: relative;height: 5rem;}
.topSwiper .swiper-container{width: 100%;height: 100%;}
.topSwiper .swiper-slide img{width: 100%;height: 100%;object-fit: cover;}
.topSwiper .swiper-pagination{position: absolute;right: .25rem;bottom:.25rem;left:auto;width:auto; padding: .04rem .2rem; line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .24rem;z-index: 9;}
.topSwiper .swiper-pagination .swiper-pagination-current{font-size: .36rem;}

/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;left: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}

/*店铺信息*/
.store-info{position: relative;padding: 0 .24rem;background: #fff;margin-bottom: .2rem;}
.store-info .logo-box{position: absolute;width: 1.2rem;height: 1.2rem;left: .32rem;top: -1.04rem;z-index: 2;box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.15);}
.store-info .logo-box img{width: 100%;height: 100%;}
.store-info h3{font-size: .4rem;color: #333;    padding: .4rem 0 .3rem;font-weight: bold;}
.store-info h3 i{display: inline-block;width: .32rem;height: .36rem;margin-bottom: -3px;}
.store-info h3 i.icon_ying{background: url("../images/icon_ying.png") no-repeat;background-size: contain;margin-left: .15rem;}
.store-info h3 i.icon_bao{background: url("../images/icon_bao.png") no-repeat;background-size: contain;margin-left: .15rem;}
.store-info p{color: #a6a6a6;font-size: .26rem; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 6.5rem;padding-bottom: .2rem;}
.store-info p i{display: inline-block;width: .22rem;height: .2rem;margin: 0 .12rem 0 0;}
.store-info p.tim i{background: url("../images/icon_tim.png") no-repeat center center;background-size: contain;}
.store-info p.num i{background: url("../images/icon_car.png") no-repeat center center;background-size: contain;}
.store-info p.adr i{background: url("../images/icon_adr.png") no-repeat center center;background-size: contain;}

.store-info .service-box{position: relative;}
.store-info .service{width: 90%}
.store-info .service li{float: left;background: #f5f5f7;width:28%;margin:1%;padding:.15rem .1rem;box-sizing: border-box;font-size: .26rem;text-align: center;}
.store-info .service li i{display: inline-block;width: .3rem;height: .3rem;margin: 0 5px -4px 0;}
.store-info .service li.cheliangzhihuan i{background: url("../images/icon_01.png") no-repeat;background-size: contain;}
.store-info .service li.jiagepinggu i{background: url("../images/icon_02.png") no-repeat;background-size: contain;}
.store-info .service li.fenqidaikuan i{background: url("../images/icon_03.png") no-repeat;background-size: contain;}
.store-info .service li.baobanguohu i{background: url("../images/icon_04.png") no-repeat;background-size: contain;}
.store-info .service li.daibanyanche i{background: url("../images/icon_05.png") no-repeat;background-size: contain;}
.store-info .service li.daibanshangpai i{background: url("../images/icon_06.png") no-repeat;background-size: contain;}
.store-info .service li.daibanzhuanji i{background: url("../images/icon_07.png") no-repeat;background-size: contain;}
.store-info .service li.cheliangjishou i{background: url("../images/icon_08.png") no-repeat;background-size: contain;}
.store-info .service li.yanchangzhibao i{background: url("../images/icon_09.png") no-repeat;background-size: contain;}
.store-info .service-box .more-ser{display: none;}
.store-info .service-box .btn-more{position: absolute;top:.08rem;right:0;padding: .15rem .4rem;background: #f5f5f7;display: inline-block;}
.store-info .service-box .btn-more s{margin: 0px 0 3px 0;display: inline-block;width: .34rem;height: .06rem;background: url("../images/icon_den.png") no-repeat center center;background-size: contain;}


.store-info .others{display: flex;font-size: .3rem;}
.store-info .others a{display: inline-block;width: 3.52rem;text-align: center;flex-grow:1;position: relative;padding: .4rem 0;}
.store-info .others a.make:before{content: "";display:inline-block;width: .02rem;height: .3rem;background: #c2c2c4;position: absolute;left: 0;}

/*上新*/
.up-new{background: #fff;padding: 0 .24rem;margin-bottom: .2rem;}
.up-new .up-new-title{font-size: .32rem;padding: .35rem 0;}
.up-new .up-new-title i{display: inline-block;width: .4rem;height: .3rem;background: url("../images/icon_xu.png") no-repeat;background-size: contain;margin: 0 6px -2px 0;}
.up-new ul{overflow-x: auto;box-sizing: border-box;white-space: nowrap;padding-bottom: .3rem; -webkit-overflow-scrolling: touch;}
.up-new ul li{display: inline-block;margin-right: .16rem;}
.up-new li .imgbox{width: 2.96rem;height: 2.23rem;text-align: center;line-height: 2.23rem;overflow: hidden;margin-bottom: .1rem;position: relative;}
.up-new li .imgbox i{position: absolute;display: inline-block;top: .1rem;left: .2rem;width: .56rem;height: .28rem;background: url("../images/new.png") no-repeat;background-size:contain}
.up-new li .imgbox img{max-width: 100%;display: inline-block;}
.up-new li h4{font-size: .28rem;color: #28292b;width:2.96rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: .12rem 0;}
.up-new li .price{font-size: .32rem;color: #ff653b;}

/*相关推荐*/
.recommend{margin-bottom: .2rem;background: #fff;}
.recommend .recom-title{font-size: .32rem;padding: .35rem .24rem 0 .24rem;}
.recommend .recom-title i{display: inline-block;width: .4rem;height: .3rem;background: url("../images/icon_xu.png") no-repeat;background-size: contain;margin: 0 6px -2px 0;}
.recommend .recom-list{;padding: 0 .25rem;}
.recommend .recom-list li{border-bottom: 1px solid #dcdcde;padding: .25rem 0;}
.recommend .recom-list li .img{width: 2.4rem;height: 1.8rem;overflow: hidden;border-radius: 6px;float: left;padding-right: .2rem;}
.recommend .recom-list li .img img{width: 100%;border-radius: 6px;height: 100%;}
.recommend .recom-list li .info{position: relative;overflow: hidden;}
.recommend .recom-list li .info .tit_tex{font-size: .32rem;color: #28292b;}
.recommend .recom-list li .info .tit .new{display: inline-block;width: .56rem;height: .28rem;background: url("../images/new.png") no-repeat;background-size: contain;margin: 0 0 -1px 5px;}
.recommend .recom-list li .info .tit .z_new{display: inline-block;width: .72rem;height: .28rem;background: url("../images/z_new.png") no-repeat;background-size: contain;margin: 0 0 0 0;}
.recommend .recom-list li .info .by_time{font-size: .24rem;color: #a6a6a6;padding: .13rem 0;}
.recommend .recom-list li .info .price{font-size: .32rem;color: #ff653b;}
.recommend .more{display: block;font-size: .28rem;color: #999;text-align: center;height: .9rem;line-height: .9rem;}

/*售车顾问*/
.adviser{margin-bottom: 1.7rem;background: #fff;padding: .05rem;}
.adviser .adviser-title{font-size: .32rem;padding: .35rem .24rem;}
.adviser .adviser-title i{display: inline-block;width: .4rem;height: .3rem;background: url("../images/icon_xu.png") no-repeat;background-size: contain;margin: 0 6px -2px 0;}
.adviser .adviser-list{padding: 0 .24rem;}
.adviser .adviser-list li{background: #f5f5f7;padding: .35rem;position: relative;margin-bottom: .3rem;}
.adviser .adviser-list li .user-img{float:left;width: 1rem;height: 1rem;overflow: hidden;border-radius: .1rem;}
.adviser .adviser-list li .user-img img{width: 100%;height: 100%;}
.adviser .adviser-list li .info{float: left;margin-left: .2rem;}
.adviser .adviser-list li .info .name{font-size: .34rem;padding-bottom: .2rem;}
.adviser .adviser-list li .info .name span{color: #5e94ff;font-size: .22rem;width: .98rem;height: .28rem;border-radius: .04rem;text-align: center;line-height: .28rem;border: 1px solid #5e94ff;padding: 0 .05rem;}
.adviser .adviser-list li .info .num{font-size: .26rem;color: #a6a6a6;}
.adviser .adviser-list li .tel{position: absolute;right: .35rem;display: inline-block;width: .89rem;height: .89rem;background: url("../images/icon_tel.png") no-repeat 0 0;background-size: contain;}

/*底部联系栏*/
.foot_contact{position: fixed;height: 1.3rem;bottom: 0;left: 0;right: 0;background: #fff;z-index: 100000;}
.foot_contact .coll-box{font-size: .24rem;color: #5e5e5e;text-align: center;float: left;width: 1.6rem;height: 1.3rem;padding-top: .3rem;box-sizing: border-box;}
.foot_contact .coll-box s{display: block;width: .37rem;height: .3rem;background: url("../images/collection_01.png") center center;background-size: cover;margin: 0 auto;}
.foot_contact .contact{float:left;width: 5.6rem;height: .88rem;border-radius: .08rem;margin-top:.24rem;font-size: .3rem;color: #fff;text-align: center;line-height: .88rem; background-image: -moz-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,154,79) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(255,108,55) 0%, rgb(255,154,79) 100%);background-image: -ms-linear-gradient( 0deg,rgb(255,108,55) 0%, rgb(255,154,79) 100%);box-shadow: 0px 5px 5px 0px rgba(255, 133, 68, 0.31);}
.foot_contact .has s{background: url("../images/collection_02.png") center center no-repeat;background-size: contain;}
.foot_contact .has{color: #ff7054;}
.foot_contact .contact a{color: #fff;}

/*预约弹窗*/
.pop-bg{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.57);z-index: 100001;display: none;}
.pop-bg .pop-box{box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.23);width: 6rem;height: 4rem;background: #fff;border-radius: .2rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
.pop-bg .pop-box .title{text-align: center;}
.pop-bg .pop-box .title p{font-size: .34rem;color: #38383b;padding-top: .45rem;}
.pop-bg .pop-box .title span{display:block;color: #ababab;font-size: .28rem;padding-top: .16rem;}
.pop-bg .pop-box .text {margin: .35rem auto;width: 5rem;height: .8rem;border: 1px solid #dcdde0;border-radius: .06rem;}
.pop-bg .pop-box .text input{width: 5rem;height: .8rem;padding-left: .24rem;box-sizing: border-box;border: 0;}
.pop-bg .pop-box .text input::-webkit-input-placeholder{color: #c4c4c4;font-size: .28rem;}
.pop-bg .pop-box .btns{height: .9rem;position: absolute;bottom: 0;border-top: 1px solid #dcdde0;left: 0;right: 0;}
.pop-bg .pop-box .btns span{display: inline-block;width: 50%;text-align: center;line-height: .9rem;font-size: .32rem;}
.pop-bg .pop-box .btns span.cancel{color: #919191;border-right: 1px solid #dcdde0;box-sizing: border-box;}
.pop-bg .pop-box .btns span.sure{color: #4a7aff}
#surephone{color: #4a7aff}



/*拨打提示*/
.tel-box-bg{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.57);z-index: 999999999;display: none;}
.tel-box-bg>div{width: 4.4rem;height: 2.4rem;border-radius: .1rem;background: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.23);}
.tel-box-bg>div p{font-size: .3rem;color: #38383b;text-align: center;height: 1.5rem;line-height: 1.5rem;}
.tel-box-bg>div .btns{height: .91rem;border-top: 1px solid #dcdde0;position: absolute;bottom: 0;left: 0;right: 0;}
.tel-box-bg>div .btns span{display: inline-block;width: 50%;box-sizing: border-box;text-align: center;line-height: .91rem;font-size: .32rem;}
.tel-box-bg>div .btns span.cancel{border-right: 1px solid #dcdde0;color: #919191;}
.tel-box-bg>div .btns span.sure{background: #f2f3f7;color: #4a7aff;}


