<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $community_seotitle != ""#}{#$siteCityInfo['name']#}{#$community_seotitle#}小区{#else#}【{#$siteCityInfo['name']#}小区_{#$siteCityInfo['name']#}二手房小区_{#$siteCityInfo['name']#}小区大全】{#/if#}-{#$house_title#}</title>
<meta name="keywords" content="{#$siteCityInfo['name']#}小区频道,{#$siteCityInfo['name']#}小区信息,{#$siteCityInfo['name']#}新开楼盘,在售楼盘,热门小区信息,高档小区信息,小区详细地址及价格等信息" />
<meta name="description" content="{#$siteCityInfo['name']#}小区频道，提供{#$siteCityInfo['name']#}信息，包括{#$siteCityInfo['name']#}新开楼盘，在售楼盘，热门小区信息，高档小区信息，小区详细地址及价格等信息。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/community.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var atpage = 1, totalCount = 0, pageSize = 10;
    var detail = {
        addrid : {#$addrid|default:0#},
        business : {#$business|default:0#},
        subway : {#$subway|default:0#},
        station : {#$station|default:0#},
    }
    var keywords = '{#$keywords#}';
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'community'#}
{#include file="top.html"#}

<div class="wrap">
	<div class="crumb fn-clear">
		<div class="location">
			<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='community'#}">小区</a>
		</div>
	</div>
	<div class="filter">
      <div class="filterlist">
      		<dl class="t-fi fn-clear">
                <dt>位置</dt>
                <dd class="fn-clear">
                    <ul class="t-fi-item fn-clear">
                        <li class="area{#if $from == "" && $subway == 0#} curr{#/if#}"><a href="javascript:;">区域找房<i class="idown"></i></a></li>
                        {#if $cfg_subway_state#}<li class="subway{#if $from == "subway" || $subway != 0#} curr{#/if#}"><a href="javascript:;">{#$cfg_subway_title#}<i class="idown"></i></a></li>{#/if#}
                    </ul>

                </dd>
                <div class="sub-fi areabox"{#if $from == "" && $subway == 0#} style="display: block;"{#/if#}>
                    <s><i></i></s>
                    <div class="pos-item">
                        <a href="javascript:;" data-id="0"{#if $addrid == 0#} class="all curr"{#/if#}>不限</a>
                        {#house action="addr" return='addr'#}
                        <a href="javascript:;" data-id="{#$addr.id#}"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
                        {#/house#}
                    </div>
                    {#if $addrid != 0#}
                    <div class="pos-sub-item" style="display:block;">
                        <a href="javascript:;" data-id="0"{#if $business == 0#} class="all curr"{#/if#}>不限</a>
                        {#house action="addr" type=$addrid return='addr'#}
                        <a href="javascript:;" data-business="{#$addr.id#}"{#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
                        {#/house#}
                    </div>
                    {#else#}
                    <div class="pos-sub-item"></div>
                    {#/if#}
                </div>
                <div class="sub-fi subwaybox"{#if $from == "subway" || $subway != 0#} style="display:block"{#/if#}>
                    <s><i></i></s>                    
                    <div class="pos-item">
                        <a href="javascript:;" data-id="0"{#if $subway == 0#} class="all curr"{#/if#}>不限</a>
                        {#siteConfig action="subway" return='sub' city={#$siteCityInfo['cityid']#}#}
                        <a href="javascript:;" data-id="{#$sub.id#}"{#if $subway == $sub.id#} class="curr"{#/if#}>{#$sub.title#}</a>
                        {#/siteConfig#}
                    </div>
                    <div class="pos-sub-item">
                        <div class="pos-sub-title subway-sub-title">
                            <div class="direction-line left-direction"></div>
                            <div class="direction-line  right-direction"></div>
                        </div>
                    </div>

                </div>
            </dl>
            <dl class="o-fi fn-clear">
                <dt>均价</dt>
                <dd class="fn-clear">
                    <a href="javascript:;" data-id=""{#if $price == ""#} class="all curr"{#/if#}>不限</a>
                    <a href="javascript:;" data-id=",8"{#if $price == ",8"#} class="curr"{#/if#}>8千以下</a>
                    <a href="javascript:;" data-id="8,10"{#if $price == "8,10"#} class="curr"{#/if#}>8千-1万</a>
                    <a href="javascript:;" data-id="10,15"{#if $price == "10,15"#} class="curr"{#/if#}>1-1.5万</a>
                    <a href="javascript:;" data-id="15,20"{#if $price == "15,20"#} class="curr"{#/if#}>1.5-2万</a>
                    <a href="javascript:;" data-id="20,25"{#if $price == "20,25"#} class="curr"{#/if#}>2-2.5万</a>
                    <a href="javascript:;" data-id="25,30"{#if $price == "25,30"#} class="curr"{#/if#}>2.5-3万</a>
                    <a href="javascript:;" data-id="30,"{#if $price == "30,"#} class="curr"{#/if#}>3万以上</a>
                    <div class="price">
                        <div class="inp_price">
                            <input type="input" class="p1" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                            <input type="input" class="p2" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">万
                            <input type="button" class="btn" value="确定">
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="o-fi fn-clear" data-type="typeid">
                <dt>类型</dt>
                <dd class="fn-clear">
                    <a href="javascript:;" data-id=""{#if $typeid == 0#} class="all curr"{#/if#}>不限</a>
                    {#house action="item" return="item" type="1"#}
                    <a href="javascript:;" data-id="{#$item.id#}"{#if $typeid == $item.id#} class="all curr"{#/if#}>{#$item.typename#}</a>
                    {#/house#}
                </dd>
            </dl>
            <dl class="o-fi fn-clear" data-type="buildage">
                <dt>楼龄</dt>                                       
                <dd class="fn-clear">
                    <a href="javascript:;" data-id="" class="all curr">不限</a>
                    <a href="javascript:;" data-id=",2">2年以内</a>
                    <a href="javascript:;" data-id="2,5">5年以内</a>
                    <a href="javascript:;" data-id="5,10">10年以内</a>
                    <a href="javascript:;" data-id="10,15">15年以内</a>
                    <a href="javascript:;" data-id="15,20">20年以内</a>
                    <a href="javascript:;" data-id="20,">20年以上</a>
                </dd>
            </dl>
            <dl class="o-fi fn-clear" data-type="tags">
                <dt>特色</dt>
                <dd class="fn-clear">
                    <a href="javascript:;" data-id=""{#if $tags == 0#} class="all curr"{#/if#}>不限</a>
                    {#house action="item" return="item" type="76"#}
                    <a href="javascript:;" data-id="{#$item.id#}"{#if $tags == $item.id#} class="curr"{#/if#}>{#$item.typename#}</a>
                    {#/house#}
                </dd>
            </dl>
      </div>
      <div class="deletebox">
			<dl class="fi-state fn-clear">
				<dt>已选条件</dt>
				<dd class="fn-clear"></dd>
				<span class="btn_clear">清空条件</span>
			</dl>
		</div>
	</div>
</div>

<div class="wrap totalCount">
	共找到 <b>0</b> 个符合条件的小区
</div>

<div class="wrap fn-clear">
	<div class="sidebar">
      	<div class="SearchBox">
			<form action="{#getUrlPath service='house' template='community'#}" method="get">
				<input type="search" placeholder="搜小区..." name="keywords" class="inp"/>
				<input type="submit" value="搜索" class="submit">
			</form>
		</div>
		<div class="lp_box">
			<div class="lp_title">最近浏览的小区</div>
			<ul>
				{#$_bindex.loupan = ""#}
				{#house action=loupanHistory type=community pageSize=3 return=loupan#}
				{#if $_bindex.loupan < 4#}
				<li>
					<a href="{#$loupan.url#}" target="_blank">
						<p title="{#$loupan.title#}">{#$loupan.title#}</p>
						<p>{#if $loupan.price == 0#}待定{#else#}{#$loupan.price#}{#echoCurrency type='short'#}/㎡{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
					</a>
				</li>
				{#/if#}
				{#/house#}
			</ul>
		</div>
		<div class="lp_box">
			<div class="lp_title">热门小区</div>
			<ul>
				{#house action=communityList orderby=click pageSize=3#}
				<li>
					<a href="{#$row.url#}" target="_blank">
						<p title="{#$row.title#}">{#$row.title#}</p>
						<p>{#if $row.price#}{#$row.price#}{#echoCurrency type='short'#}/㎡{#else#}价格面议{#/if#} <span>{#$row.addr[$row.addr|count-2]#}</span></p>
					</a>
				</li>
				{#/house#}
			</ul>
		</div>
		<div class="lp_box">
			<div class="lp_title">楼盘动态</div>
			<ul class="lp_news">
				{#house action="loupanNewsList" return="list" rand="1" page="1" pageSize="8"#}
				<li><a href="{#$list.url#}" title="{#$list.title#}" target="_blank"><em>•</em>{#$list.title#}</a></li>
				{#/house#}
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="m-t fn-clear">
			<ul>
				<li class="curr" data-id=""><a href="javascript:;">全部小区</a></li>
				<li data-id="hot"><a href="javascript:;">热门小区</a></li>
			</ul>
		</div>
		<div class="m-o">
			<div class="m-l">
				<a href="javascript:;" class="curr">默认排序</a>
				<a href="javascript:;" class="ob" data-id="price">均价<s></s></a>
				<a href="javascript:;" class="ob" data-id="opendate">竣工时间<s></s></a>
			</div>
		</div>
		<div class="lplist">
			<ul></ul>
		</div>
		
		<div class="pagination"></div>
	</div>
</div>


{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/community.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
