<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}{#$hx_title#}-{#$detail_title#}户型图-{#$house_title#}</title>
<meta name="keywords" content="{#$detail_title#}{#$hx_title#},{#$detail_title#}{#numberDaxie number=$hx_room#}居室" />
<meta name="description" content="{#$siteCityInfo['name']#}{#$detail_title#}详情信息频道为您提供{#$detail_title#}售楼处电话、地址、物业费、物业电话、开盘时间、入住时间、地图、周边楼盘等最新{#$detail_title#}新楼盘信息，找新房上{#$siteCityInfo['name']#}{#$cfg_shortname#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/loupan_public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/loupan_hx.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var pageData = {
		id: {#$detail_id#},
		panName: '{#$detail_title#}',
		lat: '{#$detail_latitude#}',
		lng: '{#$detail_longitude#}',
		url: '{#getUrlPath service="house" template="loupan-detail" id={#$detail_id#}#}'
	};
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'loupan'#}
{#include file="top.html"#}

{#$loupanNav = 3#}
{#$crumbTitle = "户型图"#}
{#include file="loupan_top.html"#}


<div class="wrap">
	<div class="hx-detail fn-clear">
		<div class="hx-info">
			<div class="hx-item hx-title">
				<h1>{#$hx_title#}</h1>
				{#if $detail_price != 0#}
				<div class="item-p"><label>参考价格：</label>
					{#if $detail_ptype == 1#}

					<strong class="price">{#($detail_price * $hx_area / 10000)|string_format:"%.2f"#} <em>万/套起</em></strong>&nbsp;&nbsp;( <span class="num">{#$detail_price#}</span>{#echoCurrency type='short'#}/㎡ )
					{#else#}
					<strong class="price">{#$detail_price|string_format:"%.2f"#}</strong>万{#echoCurrency type='short'#}/套
					{#/if#}
				</div>
				<div class="item-p"><a href="{#getUrlPath service='house' template='calculator' do='zh'#}" class="jsq" title="房贷计算器"><s></s>房贷计算器</a><a href="javascript:;" class="bj" title="变价通知"><s></s>变价通知</a></div>
				{#/if#}
			</div>
			<div class="hx-item fn-clear">
				<dl class="l"><dt>居&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室：</dt><dd>{#$hx_room#}室{#$hx_hall#}厅{#$hx_guard#}卫</dd></dl>
				<dl><dt>层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：</dt><dd>{#$hx_high#} m</dd></dl>
				<dl class="l"><dt>户型朝向：</dt><dd>{#$hx_direction#}</dd></dl>
				<dl><dt>建筑面积：</dt><dd>{#$hx_area#} 平米</dd></dl>
			</div>
			<dl class="note fn-clear">
				<dt>户型解析：</dt>
				<dd>{#$hx_note#}</dd>
			</dl>
			{#if $detail_tuan == 1 && $detail_tuanState == 2#}
			<div class="hx-item">
				<h2 title="{#$detail_tuantitle#}">{#$detail_tuantitle#}</h2>
				<div class="item-p"><span class="bm-num">已有<strong>{#$detail_tuanCount#}</strong>人报名</span></div>
				{#if $detail_tuan == 1 && $detail_tuanState == 2#}<a href="javascript:;" class="bm-btn">立即报名</a>{#/if#}
			</div>
			{#/if#}
		</div>
		<div class="hx_slide">
			<ul class="album">
				{#foreach from=$hx_imglist item=imglist key=i#}
				<li><a href="javascript:;"><i></i><img src="{#$cfg_staticPath#}images/blank.gif" _src="{#changeFileSize url="{#$imglist.path#}" type="large"#}"/></a></li>
				{#/foreach#}
			</ul>
			<div class="pageState"></div>
			<div class="thumb">
				<div class="plist">
					<ul >
						{#foreach from=$hx_imglist item=imglist key=i#}
						<li><a href="javascript:;"><i></i><img src="{#changeFileSize url="{#$imglist.path#}" type="small"#}"/></a></li>
						{#/foreach#}
					</ul>
				</div>
				<a href="javascript:;" class="sprev"><i></i></a>
				<a href="javascript:;" class="snext"><i></i></a>
			</div>
		</div>
		
	</div>
</div>


<div class="dy fn-hide modal-bm">
	<s class="close"></s>
	<div class="lp_title">报名</div>
	<div class="dc">
		<div class="fn-hide">
			<dl><dd><s class="checkbox cbj" data-val="1"><i></i></s>变价通知<span>及时优惠折扣，不容错过</span></dd></dl>
			{#if $detail_tuan == 1 && $detail_tuanState == 2#}
			<dl><dd><s class="checkbox csqbtn" data-val="3"><i></i></s>看房团报名<span>多线路多楼盘，免费大巴</span></dd></dl>
			{#/if#}
		</div>
		<ul>
			<li><input type="text" id="name" placeholder="您的姓名" title="请输入您的姓名" value="{#$userinfo.realname#}" />
				<div class="sexbox fn-clear">
					<label><input type="radio" name="sex1" data-type="male" value="1"{#if !$userinfo || $userinfo.sex == 1#} checked{#/if#}> 先生</label>
					<label><input type="radio" name="sex1" data-type="female" value="2"{#if !$userinfo || $userinfo.sex == 0#} checked{#/if#}> 女士</label>
				</div>
			</li>
			<li><input type="text" id="phone" placeholder="您的手机号码" maxlength="11" title="请输入您的手机号码" value="{#$userinfo.phone#}" /></li>
			<li><input type="text" id="vercode" placeholder="验证码" maxlength="4" title="请输入验证码" /><img src="{#$cfg_basehost#}/include/vdimgck.php" title="看不清？点击换一张" id="verifycode" /></li>
			<li class="tj"><button id="bm">立即报名</button><s class="checkbox checked xy"><i></i></s>同意[<a href="#" target="_blank">免责协议</a>]</li>
		</ul>
	</div>
</div>

<div class="popup_bg"></div>

{#include file="footer.html"#}

<script>
var pics = [], at = 0;
{#foreach from=$hx_imglist item=imglist key=i#}
pics[{#$i#}] = {"small": "{#changeFileSize url="{#$imglist.path#}" type="small"#}", "big": "{#$imglist.path#}"};
{#/foreach#}
</script>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/loupan_public.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/loupan_hx_detail.js"></script>
</body>
</html>
