
/*主体*/
.center{
    background-color: #EDEDED;
    padding-bottom: 100px;
    padding-top: 400px;
}
.con{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.center h2{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.cont i {
    padding: 0 6px 0 6px;
}

.mg_bottom{
    margin-bottom: 50px;
}
/*投票详情*/
.center .voting{
    padding: 45px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}
.center .v1{
    padding: 37px 41px;
    background-color: #fff;
}

.title{
    font-size: 22px;
}

.submit_btn{
    position: fixed;
    margin-left: 1158px;
    bottom: 500px;
    width: 80px;
    height: 80px;
    background-color:#EF5350;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 7px 23px 0px rgba(255, 78, 0, 0.31);
    color: #fff;
    cursor: pointer;
    animation: topFadeIn .5s ease-out;
    display: none;

}
.submit_btn>span{
    display: inline-block;
    margin-top: 13px;
    font-size: 18px;
}

.dalog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 9;
    display: none;
}
.dalog>div{
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.dalog>div .close_icon{
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 14px;
    width: 30px;
    height: 30px;
    background: url(../images/icon.png) no-repeat;
    background-position: -52px -116px;
    cursor: pointer;

}

.dalog>div .msg{
    margin-top: 80px;
    text-align: center;
    height: 50px;
    font-size: 18px;
    color: #333;
}
.dalog>div .btns{
    text-align: center;
    margin-top: 50px;
}

.dalog>div span{
    display: inline-block;
    width: 155px;
    height: 45px;
    line-height: 45px;
    margin-right: 40px;
    border-radius: 23px;
    font-size: 18px;
    cursor: pointer;

}
.dalog>div .cancel{
    background-color: #F2F2F2;
    box-shadow: 0px 3px 7px 0px rgba(197, 198, 205, 0.47);
    color: #666;
}
.dalog>div .cancel:hover{
    background-color: rgb(237, 238, 240);
}
.dalog>div .submit{
    background-color: #EF5350;
    box-shadow: 0px 3px 7px 0px rgba(255, 78, 0, 0.31);
    color: #fff;
}
.dalog>div .submit:hover{
    background-color: rgb(222, 76, 73);
}

.disabled{
    background: #ccc;
    pointer-events: none;
    color: #ddd;
}



/*第四次尝试*/
.wrap{
    width: 1200px;
    box-sizing: border-box;
}


/*选项列表*/
.item .icon {display: inline-block;background-image: url('../images/join_vote.png');background-repeat:no-repeat;vertical-align: middle;}
.item .pic .pic_box{
    display: inline-block;
    overflow: hidden;
    width: 300px;
    height: 200px;
}
.item .pic .pic_box  img{
    width: 100%;
    height: 100%;
}

.title .px{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #878991;
    color: #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    font-size: 18px;
}
.title .tit{
    font-size: 20px;
    color: rgb(59, 59, 59);
    font-weight: bold;
 
}
.item:last-child {border-bottom: none;}
.item .result .title {font-size: 20px;color: #333;margin-bottom: 20px;}
.item .result .type {font-size: 14px;color: #477eee;}
.item .result .body {font-size: 14px;}
.item .result .body {font-size: 14px;}
.item.horizontal .result .body .xuan {float:left;width:33%;}
.item.vertical .result .body .xuan {width:80%;white-space: nowrap;}
.item.vertical .result .body .xuan .txt {
    margin-bottom: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
}
.vote_before .item .txt {width:50%;padding: 20px 0;}
.item .tj {float: left;width:50%;padding: 10px 0;}
.item.vertical .result .body .xuan .pic img {display: block;max-width:90%;margin-bottom: 15px;height: 100%;}
.item .result .body .xuan .choose {display: block;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;cursor: pointer;font-size: 16px;color: rgb(59, 59, 59);
}
.item .result .body .xuan .icon {margin:-4px 5px 0 0;vertical-align: middle;}
.item .result .body .xuan .count {margin: 0 50px 0 20px;color: rgb(128, 128, 128);font-size: 14px;}

.vote_before .item{
    margin: 50px 0;
    background-color: #fff;
    padding: 45px 50px;
}
.icon_radio, .icon_radioed {width:16px;height:16px;}
.icon_radio {background-position: -8px -8px;}
.icon_radioed, .vote_before .xuan:hover .icon_radio, .active .icon_radio {background-position: -25px -8px;}
.icon_check {width:15px;height:15px;background-position: -8px -29px;}
.icon_checked, .icon_check {width:16px;height:16px;}
.icon_checked, .vote_before .xuan:hover .icon_check, .active .icon_check {background-position: -24px -29px;}
.vote_before .xuan:hover .icon {opacity: .3;}
.vote_before .xuan .pic {margin-left: 24px;}
.xuan:hover .choose.active .icon {opacity: 1;}


.vote_after {}
.vote_after .item {margin: 50px 0;padding-bottom: 16px;padding: 45px 50px;background-color: #f7f7f7;}
.vote_after .item .txt {float: left;width:50%;padding: 10px 0;}
.vote_after .item .tj {float: left;width:50%;padding: 10px 0;}
.vote_after .item .tj .progress {display: block;float: left;margin-top:10px;width:406px;height: 8px;border-radius:4px;background: #e8e8e8;border:1px solid #f9f9f9;overflow: hidden;}
.vote_after .item .tj .progress b {display: block;height:100%;background: #EF5350;border-radius:4px;}
.vote_after .result .body .xuan .count {margin:0 0 0 20px;float: left;}
.vote_after .xuan .pic_box{width: 300px;height: 200px;}
.vote_after .xuan .pic{margin-left: 0px;}

.vote_after .item .result .body .xuan {
    line-height: 30px;
    margin-bottom: 10px;
}







.footer{
    margin-top: 0;
}


