.navbg{
    position: relative;
    height: 150px;
    width: 100%;
    background: url(../images/nav_bg.jpg) no-repeat center;
}

.cont{
    width: 1200px;
    margin: 0 auto;
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    color: #fff;
}
.cont a,.contact_btn a{
    color: #fff;
}

/*主题*/
.themebox{
    width: 1200px;
    height: 450px;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 3px 5px 30px #ccc;
}

.themebox .left{
    float: left;
    width: 750px;
    height: 450px;
}
.themebox .left img{
    width: 100%;
    height: 100%;
}
.themebox .right{
    float: right;
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
}
.themebox .right .title{
    width: 390px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    height: 59px;
    text-overflow:-o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.themebox .right .count{
    padding: 38px 0;
}

.count>div{
    display: inline-block;
    width: 120px;
}
.count>div h4{
    text-align: center;
    font-size: 24px;
}
.count>div p{
    text-align: center;
    color: #999;
}
.themebox .right .state{
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #F7F7F7;
    font-size: 18px;
    margin-bottom: 20px;
}
.themebox .right .contact{
    height: 120px;
    position: relative;
}


.contact img{
   position: absolute;
    right: 0px;
    bottom: 0px;
}
.contact span{
    display: inline-block;
    height: 60px;
    writing-mode: vertical-lr;
    font-size: 14px;
    position: absolute;
    right: 116px;
    bottom: 0px;
}
.contact .contact_btn{
    position: absolute;
    bottom: 0px;
    left: 6px;
    width: 150px;
    height: 46px;
    line-height: 46px;
    border-radius: 24px;
    background-color: #EF5350;
    text-align: center;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 7px 23px 0px rgba(255, 78, 0, 0.31);
}

.contact img{
    width: 100%;
    width: 110px;
    height: 110px;
}
.contact_btn a{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-left: 18px;
}
.contact .contact_btn i{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 40px;
    background: url(../images/icon.png) no-repeat;
    background-position: -8px -76px;
}
