{#include file='../../siteConfig/public_foot_v3.html' module='tuan' theme='gray'#}

<div class="btntop">
  <a href="javascript:;" class="top" title="返回顶部">返回顶部</a>
  <a href="javascript:;" class="close" title="关闭">关闭</a>
</div>

{#if $template != "buy" && $template != "payreturn" && $template != "editorder"#}
<div class="glocart{#if $template == "cart" || $template == "pay"#} fn-hide{#/if#}" id="glocart">
<div class="cartbtn">
  <a class="cartpop" href="javascript:;">
    <span>我的购物车<b>0</b>件</span>
    <sub></sub><sup></sup>
  </a>
  <a href="{#getUrlPath service="tuan" template="cart"#}" class="cartlink">结算<s></s></a>
</div>
<div class="cartcontent"><div class="cartwrap">
  <div class="empty">暂时没有商品</div>
  <div class="cartlist">
    <ul></ul>
    <div class="statics">共计：<span>{#echoCurrency type='symbol'#}<strong>0.00</strong></span>&nbsp;&nbsp;(不含运费)</div>
  </div>
</div></div>
</div>
{#/if#}
