<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>{#$cityname#}{#$tuan_channelName#}</title>
    <meta name="keywords" content="{#$tuan_keywords#}" />
    <meta name="description" content="{#$tuan_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$tuan_channelDomain#}', cfg_staticPath = '{#$cfg_staticPath#}';

        var criticalPoint = 1240, criticalClass = "w1200";
        $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', sy = true, cookieDomain = '{#$cfg_cookieDomain#}';
    </script>
</head>
<body class="w1200">
{#$preCurr='index'#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}

<!--头部 s-->
{#include file="top.html"#}
<!--头部 e-->

<div class="wrap fn-clear ma_bottom">
    <!--广告轮播 s-->
  <div class="adbox" id="adbox">
 	<div class="slideBox" id="slideBox">

        <div class="wrap">
            <div class="hd">
                <ul></ul>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
        </div>
        <div class="bd">
            <ul>
                {#myad title="团购秒杀_模板三_电脑端_广告一" type="slide"#}
            </ul>
        </div>
    </div>
   </div>
    <!--广告轮播 e-->

    <!--最新入驻 s-->
    <div class="setted">
        <h3>最新入驻</h3>
        <div class="setbox">
                <div class="slideBox slideBox4">
                    <div class="bd">
                        <ul class="fn-clear">
                            {#tuan action="storeList" return='slist' orderby="2" pageSize="15"#}
                            <li class="fn-clear item"><a target="_blank" href="{#$slist.url#}"><div class="li-box"><img src="{#changeFileSize url="{#$slist.litpic#}" type="small"#}" alt=""><p>{#$slist.company#}</p></div></a></li>
                            {#/tuan#}
                        </ul>
                    </div>
                    <div class="hd"><ul class="fn-clear"></ul></div>
                </div>
        </div>
    </div>
    <!--最新入驻 e-->
</div>

<!--限时抢购 s-->
<div class="wrap fn-clear ma_bottom">
    <div class="two-left">{#myad title="团购秒杀_模板三_电脑端_广告二"#}</div>
    <div class="two-center">
        <div class="title fn-clear">
            <h2><i></i>限时抢购</h2>
            <ul class="time-list fn-clear" id="limit">  </ul>
            <a class="more" href="{#getUrlPath service="tuan" template="secKill"#}">更多>></a>
        </div>
        <div class="slide">
            <ul class="list fn-clear" id="limitlist"> </ul>
        </div>
    </div>
    <div class="two-right">
        <div class="btns"><a target="_blank" href="{#getUrlPath service='member' type='user' template='enter'#}" class="btnenter">入驻商家</a> <a target="_blank" href="{#getUrlPath service='member' template='config' action='tuan'#}" class="btnshop">店铺管理</a></div>
        <div class="cashqua">
            <h3>商家代金券 <a class="more" href="{#getUrlPath service="tuan" template="voucher"#}">更多>></a></h3>
            <div class="cashqua_c">
                {#tuan action="tlist" return='dlist' iscity="iscity" packtype="1" orderby="2" pageSize="5"#}
                {#if $dlist.voucherstate==2#}
                <p><a target="_blank" href="{#getUrlPath service="tuan" template="buy" id=$dlist.id count="1"#}?voucher=1">{#$dlist.packagename#}</a><span>{#$dlist.packageprice#}</span></p>
                {#/if#}
                {#/tuan#}
            </div>
        </div>
    </div>
</div>
<!--限时抢购 s-->

<div class="wrap ma_bottom">
    {#myad title="团购秒杀_模板三_电脑端_广告三"#}
</div>

<!--火热拼团 s-->
<div class="wrap hotpt ma_bottom fn-clear">
    <div class="l"><img src="{#$templets_skin#}images/hotpt.png"></div>
    <div class="ptnow">
        <div class="slideGroup">
            <div class="parBd">
                <div class="slideBox">
                    <a class="sPrev" href="javascript:void(0)"></a>
                    <div class="tempWrap">
                        <ul class="fn-clear">
                            {#tuan action="tlist" return="list" pin="1" iscity="1" orderby="1" pageSize="5"#}
                            <li class="clone">
                                <a target="_blank" href="{#$list.url#}">
                                <div class="img">
                                    <img src="{#changeFileSize url="{#$list.litpic#}" type="small"#}">
                                    <span>{#$list.pinnum#}人在拼</span>
                                </div>
                                <p class="name">{#$list.title#}</p>
                                <p class="price"><i>{#echoCurrency type='symbol'#}</i><span>{#$list.price#}</span> <strong>单买价 :</strong> <em><i>{#echoCurrency type='symbol'#}</i>{#$list.market#}</em></p>
                                {#if $list.state==1#}
                                <span class="btn">已结束</span>
                                {#elseif $list.state==2#}
                                <span class="btn">已抢完</span>
                                {#elseif $list.state==3#}
                                <span class="btn">去拼单</span>
                                {#/if#}
                                </a>
                            </li>
                            {#/tuan#}
                        </ul>
                    </div>
                    <a class="sNext" href="javascript:void(0)"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--火热拼团 e-->
<div class="wrap ma_bottom">
    {#myad title="团购秒杀_模板三_电脑端_广告四"#}
</div>
<!--最新商家 s-->
<div class="wrap fn-clear">
    <div class="nbusiness_t fn-clear ma_bottom"><h2><i></i>最新商家</h2> <a class="more" href="{#getUrlPath service="tuan" template="haodian"#}">更多>></a></div>
    <div class="nbusiness_c fn-clear">
        {#tuan action="storeList" return="list" rec="1" iscity="1" orderby="1" pageSize="10"#}
        <div class="nc_item">
            <a href="{#$list.url#}">
            <div class="img"><img src="{#changeFileSize url="{#$list.litpic#}" type="small"#}"></div>
            <div class="info">
                <p class="name">{#$list.company#}</p>
                <p class="tuan"><span >发布团购</span><em>{#$list.tuannum#}</em></p>
                <p class="tel"><i></i>{#$list.tel#}</p>
                <p class="btn"><span >进入店铺</span></p>
            </div>
            <img class="code" src="{#$templets_skin#}images/nb_icon.png" alt="">
            <div class="code-img"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$list.url#}" alt=""></div>
            </a>
        </div>
        {#/tuan#}
    </div>
</div>
<!--最新商家 e-->

<div class="wrap ma_bottom">
        {#myad title="团购秒杀_模板三_电脑端_广告五"#}
</div>

<!--推荐团购 s-->
<div class="wrap ma_bottom">
    <div class="ttuan_t fn-clear ma_bottom"><h2><i></i>推荐团购</h2> <a class="more" href="{#getUrlPath service="tuan" template="list"#}">更多>></a></div>
    <div class="ttuan_c fn-clear">
        {#tuan action="tlist" return="list" rec="1" iscity="1" orderby="1" pageSize="8"#}
        <div class="tc_item">
            <a href="{#$list.url#}">
            <div class="img"><img src="{#changeFileSize url="{#$list.litpic#}" type="small"#}"></div>
            <div class="info">
                <p class="name">{#$list.title#}</p>
                <p class="count">{#$list.sale#}人已团</p>
                <p class="price"><i>{#echoCurrency type='symbol'#}</i><span>{#$list.price#}</span><s><i>{#echoCurrency type='symbol'#}</i>{#$list.market#}</s></p>
                {#if $list.state==1#}
                <p class="btn"><a >已结束</a></p>
                {#elseif $list.state==2#}
                <p class="btn"><a >已抢完</a></p>
                {#elseif $list.state==3#}
                <p class="btn">去抢购</p>
                {#/if#}

            </div>
            {#if $list.istop==1#}<div class="tj_icon">推荐</div>{#/if#}
            </a>
        </div>
        {#/tuan#}
    </div>
</div>

<!--推荐团购 e-->
{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cycle.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>