<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>{#if $list_seotitle != ""#}{#$list_seotitle#}{#else#}{#$list_typename#}{#/if#} - {#$cityname#}{#$tuan_channelName#} - {#$cfg_webname#}</title>
    <meta name="keywords" content="{#$tuan_keywords#}" />
    <meta name="description" content="{#$tuan_description#}" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$tuanDomain#}', cfg_staticPath = '{#$cfg_staticPath#}';

        var criticalPoint = 1240, criticalClass = "w1200";
        $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}',sy = true, cookieDomain = '{#$cfg_cookieDomain#}', templets_skin = '{#$templets_skin#}';
    </script>
</head>
<body class="w1200">

{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}

<!--头部 s-->
{#include file="top.html"#}
<!--头部 e-->
{#if $search_keyword != ""#}
{#$skeyword = "search_keyword=$search_keyword"#}
{#/if#}

<div class="crumbs wrap fn-clear">
    <div class="cont"><a href="{#$tuan_channelDomain#}">首页</a><s></s><a href="{#getUrlPath service="tuan" template="list"#}">店铺</a></div>
</div>

<div class="wrap fn-clear">
    <div class="left">
        <!-- 分类 -->
        <div class="list-sort fn-clear">
            <div class="filter filter-first fn-clear">
                <div class="filter-left">
                    <div class="sort-head">分类</div>
                    {#if $list_id != $list_parid#}
                    <div class="sort-all {#if $list_id == ''#}on{#/if#}"><a href="{#getUrlPath service="tuan" template="list" typeid=$list_parid addrid=$list_addrid business=$list_business subway=$list_subway station=$list_station param="{#$skeyword#}"#}#w-filter" class="qb"><span>全部</span></a></div>
                    {#else#}
                    <div class="sort-all {#if $list_id == ''#}on{#/if#}"><a href="{#getUrlPath service="tuan" template="list" typeid="0" addrid=$list_addrid business=$list_business subway=$list_subway station=$list_station param="{#$skeyword#}"#}#w-filter" class="qb"><span>全部</span></a></div>
                    {#/if#}
                </div>
              <div class="filter-right filter-right-sort">
                    <ul class="one-filter">
                        {#if $list_id != $list_parid#}
                            {#tuan action="type" return='type' type="{#$list_parid#}"#}
                            <li {#if $list_id == $type.id#} class="on"{#/if#}><a href="{#getUrlPath service="tuan" template="list" typeid="{#$type.id#}" addrid=$list_addrid business="0" subway="0" param="{#$skeyword#}"#}#w-filter"><span>{#$type.typename#}</span></a><!--i></i-->
                            </li>
                            {#/tuan#}
                        {#else#}
                            {#tuan action="type" return='type'#}
                            <li {#if $list_id == $type.id#} class="on"{#/if#}><a href="{#getUrlPath service="tuan" template="list" typeid="{#$type.id#}" addrid=$list_addrid business="0" subway="0" param="{#$skeyword#}"#}#w-filter"><span>{#$type.typename#}</span></a><!--i></i-->
                                <!-- <ul class="two-filter">
                                    <div class="arrow"><em></em><i></i></div>
                                    {#tuan action="type" return='subtype1' type="{#$type.id#}"#}
                                    <li {#if $list_id == $subtype1.id#} class="on"{#/if#}><a href="{#getUrlPath service="tuan" template="list" typeid="{#$subtype1.id#}" addrid=$list_addrid business=$list_business subway=$list_subway station=$list_station param="{#$skeyword#}"#}#w-filter">{#$subtype1.typename#}</a></li>
                                    {#/tuan#}
                                </ul> -->
                            </li>
                            {#/tuan#}
                        {#/if#}
                    </ul>
                </div>
            </div>
            <div class="filter filter-second fn-clear">
                <div class="filter-left">
                    <div class="sort-head">区域</div>
                    <div class="sort-all {#if $list_addrid == 0#}on{#/if#}"><a href="{#getUrlPath service="tuan" template="list" typeid="{#$list_id#}" addrid="" business=$list_business subway=$list_subway station=$list_station param="{#$skeyword#}"#}#w-filter" class="qb"><span>全部</span></a></div>
                </div>
                <div class="filter-right">
                    <ul class="one-filter">
                        {#tuan action="addr" return='addr'#}
                        <li {#if $list_addrid == $addr.id#} class="on"{#/if#}><a href="{#getUrlPath service="tuan" template="list" typeid="{#$list_id#}" addrid={#$addr.id#} business="0" subway="0" param="{#$skeyword#}"#}#w-filter"><span>{#$addr.typename#}</span></a><i></i>
                            <ul class="two-filter">
                                <div class="arrow"><em></em><i></i></div>
                                {#tuan action="addr" return="addr1" type={#$addr.id#}#}
                                <li {#if $list_addrid == $addr1.id#} class="on"{#/if#}><a href="{#getUrlPath service="tuan" template="list" typeid="{#$list_id#}" addrid={#$addr1.id#} business="0" subway="0" param="{#$skeyword#}"#}#w-filter">{#$addr1.typename#}</a></li>
                                {#/tuan#}
                            </ul>
                        </li>
                        {#/tuan#}
                    </ul>
                </div>
            </div>
        </div>


        <div class="w-sort-bar">
            <div class="bar-area" id="bar-area">
                <div class="wrap fn-clear">
                <div class="w-sort-bg">
                    <div class="l">
                        <a href="javascript:;" class="active" data-sort="">默认</a>
                        <a href="javascript:;" class="sort-down" data-sort="1">销量<s></s></a>
                        <a href="javascript:;" class="price" data-sort="3">价格<s></s><i></i></a>
                        <a href="javascript:;" class="sort-up" data-sort="5">最新发布<s></s></a>
                    </div>
                    <div class="r">
                        <div class="flags">
                            <label data-val="dujia"><s></s>独家</label>
                            <label data-val="yuyue"><s></s>免预约</label>
                            <label data-val="quan"><s></s>代金券</label>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!--商家列表 s-->
        <div class="mod-list" id="mod-item" style="padding-top: 0;">
            <ul class="fn-clear">
            </ul>
            {#if $pageInfo.totalCount == 0#}
            <div class="loading">暂无相关信息！</div>
            {#else#}
            <div class="loading fn-hide">加载中，请稍候...</div>
            {#/if#}
            <div class="pagination fn-clear"></div>
        </div>
        <!--商家列表 e-->
    </div>

    {#include file="rightcommon.html"#}
</div>

{#include file="footer.html"#}
<script>
    var city = '{#$city#}',
    parid = {#$list_parid#},
    typeid = {#$list_id#},
    addrid = {#$list_addrid#},
    business = {#$list_business#},
    subway = {#$list_subway#},
    station = {#$list_station#},
    keywords = '{#$search_keyword#}',
    atpage = {#$page#},
    totalCount = {#if $pageInfo.totalCount == 0#}0{#else#}{#$pageInfo.totalCount#}{#/if#},
    totalPage = {#if $pageInfo.totalPage == 0#}0{#else#}{#$pageInfo.totalPage#}{#/if#},
    pageSize = 12,
    qrcodeurl = '{#$cfg_basehost#}/include/qrcode.php?data=';
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.cycle.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>