{#$headHotLine = $cfg_hotline#}
{#$headBaseHost = $cfg_basehost#}
{#$headWebName = $cfg_webname#}
{#$headWebLogo = $cfg_weblogo#}
{#$headShortName = $cfg_shortname#}

{#if $tuan_hotline#}
{#$headHotLine = $tuan_hotline#}
{#/if#}
{#if $tuan_channelDomain#}
{#$headBaseHost = $tuan_channelDomain#}
{#/if#}
{#if $tuan_channelName#}
{#$headWebName = $tuan_channelName#}
{#/if#}
{#if $tuan_logoUrl#}
{#$headWebLogo = $tuan_logoUrl#}
{#/if#}
<div class="wrap header fn-clear">
    <h1 class="logo"><a href="{#$headBaseHost#}" title="{#$headWebName#}"><img src="{#$headWebLogo#}" alt="{#$headWebName#}" /></a></h1>
    <div class="search">
        <form name="search" method="get" action="{#getUrlPath service="tuan" template="list"#}">
        <input name="search_keyword" type="text" class="txt_search" id="search_keyword" value="{#$search_keyword#}" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="请输入商品名称、地址..." data-role="input" />
        <input id="search_button" type="submit" value="搜索" class="btn-s" />
        </form>
    </div>

    <div class="map">
        <a target="_blank" href="{#getUrlPath service="tuan" template="map"#}"><img src="{#$templets_skin#}images/map_icon.png" alt=""><p>地图找好店</p></a>
    </div>
    <div class="kefu">
        <s><img src="{#$templets_skin#}images/tuan_tel.png" alt=""></s>
        <p>客服热线</p>
        {#$headHotLine#}
    </div>
</div>

<div class="nav-box">
    <div class="wrap fn-clear">
        <div class="lnav">
        <div class="t-category">全部分类</div>
            <div class="category-popup">
                <ul class="fn-clear">
                    {#tuan action="type" return='type'#}
                    {#if $_bindex.type > 8#}
                    <li class="fn-hide">
                        {#else#}
                    <li>
                        {#/if#}
                        <div class="fix">
                            <div class="name"><a href="{#$type.url#}">{#$type.typename#}</a></div>
                            <!--{#tuan action="type" return='subtype' type="{#$type.id#}" page="1" pageSize="2"#}-->
                            <!--<a href="{#$subtype.url#}" class="item">{#$subtype.typename#}</a>-->
                            <!--{#/tuan#}-->
                            {#if $type.lower > 0#}<i class="arrow"></i>{#/if#}
                        </div>
                        {#if $type.lower > 0#}
                        <div class="sub-category">
                            <dl>
                                <dt><h2 class="title"><a href="{#$type.url#}">{#$type.typename#}</a></h2></dt>
                                <dd class="fn-clear">
                                    {#tuan action="type" return='subtype1' type="{#$type.id#}"#}
                                    <a href="{#$subtype1.url#}">{#$subtype1.typename#}</a>
                                    {#/tuan#}
                                </dd>
                            </dl>
                        </div>
                        {#/if#}
                    </li>
                    {#/tuan#}
                </ul>
				{#if $_bindex.type >= 10#}
                <div class="more"><div class="name">更多分类</div><i class="arrow"></i></div>
                {#/if#}
            </div>
        </div>

        <ul class="nav fn-clear">
            <li {#if $preCurr=='index'#}class="active"{#/if#}><s></s><a href="{#$tuan_channelDomain#}">首页</a></li>
            <li {#if $preCurr=='secKill'#}class="active"{#/if#}><s></s><a href="{#getUrlPath service="tuan" template="secKill"#}">限时秒杀</a></li>
            <li {#if $preCurr=='pintuan'#}class="active"{#/if#}><s></s><a href="{#getUrlPath service="tuan" template="pintuan"#}">拼团优惠</a></li>
            <li {#if $preCurr=='haodian'#}class="active"{#/if#}><s></s><a href="{#getUrlPath service="tuan" template="haodian"#}">发现好店</a></li>
            <li {#if $preCurr=='voucher'#}class="active"{#/if#}><s></s><a href="{#getUrlPath service="tuan" template="voucher"#}">代金券</a></li>
            <li {#if $preCurr=='shangquan'#}class="active"{#/if#}><s></s><a href="{#getUrlPath service="tuan" template="shangquan"#}">热门商圈</a></li>
        </ul>
    </div>
</div>

