<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$travel_channelName#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
</head>
<body>

  <div class="bgfff">
    <div class="wrap">
      <div class="header fn-clear">
        <div class="logo">
  				<a href="{#$cfg_basehost#}" title="{#$cfg_webname#}"><img src="{#$travel_logoUrl#}" alt="{#$cfg_webname#}"><h2>{#$cfg_shortname#}</h2></a>
  			</div>
        <div class="navbar">
          <a href="{#$cfg_basehost#}">{#$langData['siteConfig'][0][5]#}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="bg bg1"></div>
    <div class="bg bg2"></div>
    <div class="wrap">
      <div class="fn-clear">
        <div class="slideBox" id="slideBox">
          <div class="bd">
            <ul>
              <li><a href=""><img src="{#$templets_skin#}images/slide1.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide2.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide3.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide4.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide5.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide6.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide7.png?v={#$cfg_staticVersion#}" alt=""></a></li>
              <li><a href=""><img src="{#$templets_skin#}images/slide8.png?v={#$cfg_staticVersion#}" alt=""></a></li>
            </ul>
          </div>
          <div class="slide_bg"></div>
        </div>
        <div class="rightBox fn-right">
          <p class="title">下载{#$cfg_appname#}APP，享受更多服务~</p>
          <ul class="fn-clear">
            <li>
              <p class="tit">{#$langData['waimai'][0][4]#}</p>
              <p class="gray">ios/Android</p>
              <img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='siteConfig' template='mobile'#}" alt="" class="code">
              <p class="info">{#$langData['waimai'][0][7]#}</p>
            </li>
            <li>
              <p class="tit">{#$langData['waimai'][0][5]#}</p>
              <p class="gray">{#$cfg_weixinCode#}</p>
              <img src="{#$cfg_weixinQr#}" alt="" class="code">
              <p class="info">{#$langData['waimai'][0][8]#}</p>
            </li>
            <li>
              <p class="tit">{#$langData['waimai'][0][6]#}</p>
              <p class="gray">{#$cfg_basehost#}</p>
              <img src="{#$cfg_basehost#}/include/qrcode.php?data={#$cfg_basehost#}" alt="" class="code">
              <p class="info">{#$langData['waimai'][0][9]#}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">{#$cfg_powerby#}</div>
    </div>
  </div>

<script src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
