.content-box{width: 100%;  background-color: #edeef2;}
.content{width: 1200px; margin: auto; overflow: hidden;}
/*指路导航*/
.label-nav-box {margin-top: 20px; margin-bottom: 20px; color: #5e5a5a; font-size: 15px;}
.label-nav-box a{ color: #5e5a5a; margin-right: 6px;}

/*帖子信息*/
.tiezi-info{overflow: hidden;  margin-bottom: 14px;}
.tiezi-tongji{float: left; margin-top: 6px;}
.tiezi-tongji ul{overflow: hidden;}
.tiezi-tongji i{display: inline-block;width: 18px; height: 18px; margin-right: 6px;background-position: center center; background-repeat: no-repeat; vertical-align: middle;}
.tiezi-tongji span{vertical-align: middle; color: #8d8d91; display: inline-block; line-height: 10px;}
.tiezi-tongji li:nth-child(1) i{background-image: url(../images/eye.png);}
.tiezi-tongji li:nth-child(2) i{background-image: url(../images/msg.png);}
/*.tiezi-tongji li:nth-child(3) i{background-image: url(../images/share.png); }*/
.tiezi-tongji li{float: left; margin-right: 20px;}
.tiezi-tongji li span{padding-right: 20px; border-right: solid 1px #787878; font-size: 12px;}
.tiezi-tongji  .reply_num span{border-right: none;}
/*页码*/
.tiezi-pages{float: right;}
.pagination{overflow: hidden; width:100%; margin-bottom:50px ;}
.page_info{line-height: 30px; display: none;}
.page_disabled{display: none !important;}
.page_current  span{color: #67a3ff !important;}
.pagination .inner li{float: left; line-height: 30px; margin-left: 6px; background-color: #fff; min-width: 30px; text-align: center; font-size: 14px;}
.pagination .inner ul{overflow: hidden; }
.pagination .inner{float: right;}
.pagination .page_info{float: right; line-height: 30px; display: none;}
.pagination .inner span{text-align: center; padding-left: 10px; padding-right: 10px;  font-size: 14px;color: #4f4f4f;}
.pagination .inner a{display: block; padding-left: 10px; padding-right: 10px;  font-size: 14px; color: #4f4f4f;}
/*重写*/
.tiezi-pages .inner li{float: left; line-height: 30px; margin-left: 6px; background-color: #fff; min-width: 30px; text-align: center; font-size: 14px; }
.tiezi-pages .inner ul{overflow: hidden; }

.tiezi-pages .page_info{float: right; line-height: 30px; display: none;}
.tiezi-pages .inner span{text-align: center; padding-left: 10px; padding-right: 10px;  font-size: 14px;color: #4f4f4f;}
.tiezi-pages .inner a{display: block; padding-left: 10px; padding-right: 10px;  font-size: 14px; color:#4f4f4f}
/*帖子标题*/
.tiezi-title{width: 100%; max-width: 1200px; margin: auto; background-color: #fff; margin-bottom: 14px; overflow: hidden; box-shadow: 0 3px 3px rgba(0,26,71,.1); padding-top: 18px; padding-bottom: 18px; position: relative;z-index: 9;}
.tiezi-title h3{float: left;  font-size: 20px; max-width: 860px;color: #39393b; font-weight: bold; margin-left: 20px; }
.tiezi-title h3 i{display: inline-block; width: 24px; height: 26px; background-image: url(../images/icon_area.png); background-repeat: no-repeat; vertical-align: middle; margin-right: 10px;}

.btn-group button{background: none; border: none; outline: none; cursor: pointer; height: 30px; line-height: 30px; font-size: 14px; color: #8a8b91;display: block; }
.btn-group {position: absolute; overflow: hidden; right: 18px; bottom: 10px; z-index: 10;}
.btn-group>a{float: left; height: 30px; padding-left: 10px; padding-right: 10px; border-radius: 4px; margin-left: 20px;box-sizing: border-box;}
.change-btn,.store-btn,.comment-btn{background-color: #f8f8f8; border: solid 1px #edeef2; font-size: 14px; color:#8a8b91 !important;}
/*.btn-group  div.comment-btn {background-color: #fff;  }*/
.change-btn:hover,.store-btn:hover,.comment-btn:hover{background-color: #ff5565;}
.change-btn:hover>button,.store-btn:hover>button,.comment-btn:hover>button{color: #fff;}
/*.btn-group button:hover> i{display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat;  vertical-align: middle; margin-right: 6px;}*/
.comment-btn:hover button em{background-image: url(../images/msg_icon.png); }
.store-btn:hover button em{background-image: url(../images/star2_icon.png); }

.btn-group button> em{display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat;  vertical-align: middle; margin-right: 6px;}
.comment-btn button em{background-image: url(../images/msg_icon2.png); background-position: center left; background-repeat: no-repeat; }
.store-btn button em{background-image: url(../images/star_icon.png); background-position: top left; background-repeat: no-repeat; }
.qr_btn{display: block;width: 40px; height: 40px; background-image: url(../images/qr_code.png); background-repeat: no-repeat; background-position: right top; margin-top: 10px; margin-right:10px ; cursor: pointer;}
.qr_img{display: none; width: 74px; height: 74px;  }
.QRcode{position: absolute; top: 0; right: 0; max-height: 84px; max-width: 84px; cursor: pointer;background-color: #fff; }
.qr_img img{display:block; width: 100%;}
.QRcode:hover>.qr_btn{display: none;}
.QRcode:hover>.qr_img{display:block;}
.QRcode:hover{box-shadow: 0 0 7px 1px rgba(0,44,125,0.23); padding: 10px;}
/*帖子建楼*/
.left-content{width: 910px; float: left;  }
.floor-box{background-color: #fff; border: solid #e1e4ed 1px; width: 100%; overflow: hidden; margin-bottom: 16px;}
.floorer-info-box{width: 190px;  padding-top: 20px; padding-bottom: 30px; float: left; box-sizing: border-box; background-color: #f7f8fa;}
.head_icon{width: 86px; height: 86px; margin: auto; position: relative; margin-bottom: 14px;}
.headimg-circ{width: 100%; height: 100%; border-radius: 50%; overflow: hidden;}
.headimg-circ img{display: block; width: 100%;}
.head_icon i.top_icon{display: block; width: 40px; height: 40px; background-image: url(../images/topfloor.png); background-repeat: no-repeat; background-position: right top; position: absolute; right: 0; top: 0;}
.head_icon i.top_icon a{display: block; width: 40px; height: 40px;}

.floorer_name a{display: block; text-align: center; margin: auto;  max-width: 140px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 16px; color: #4a89ff;}
.floorer{color: #5e5a5a; margin-left: 20px; font-size: 12px; margin-bottom: 12px;}
.floorer i{display: inline-block; width: 16px; height: 16px; vertical-align: middle; margin-right: 6px; background-position: center center; background-repeat: no-repeat;}
.r_time i{background-image: url(../images/time.png);}
.t_good i{background-image: url(../images/jinghua.png);}
.t_num i{background-image: url(../images/text.png);}
.floorer_headicon{margin-bottom: 14px; }
.focus-btn button{background: none; border: none; outline: none; display: block; line-height: 30px; font-size: 14px; width: 100%; cursor: pointer;}
.focus-btn {width: 80px; height: 30px; border-radius: 4px; margin: auto; text-align: center; }
.no-focus {background-color: #ff5e52; }
.no-focus button{color: #fff; }
.al-focus{background-color: #e6e8ed; display: none;}
.al-focus button{color:#8d8e91}

/*--内容--*/
.floor-content{float: left; width: 720px; min-height: 290px; border-left: solid 1px #e1e4ed; box-sizing: border-box; padding-bottom: 30px;}
.floor-info-box{height: 46px; border-bottom: solid #e1e4ed 1px ;}
.floor-info{margin-left: 18px; margin-right: 18px; overflow: hidden;}
.floor-time{float: left; font-size: 12px; color: #4f4f4f;}
.floor-time span{margin-right: 26px; line-height: 46px;}
.floor-info ul{float: right; overflow: hidden; margin-top: 11px;}
.floor-info ul li{float: left; line-height: 24px; box-sizing: border-box;}
.floor-info ul li a{font-size: 12px;}
.floor-info .inform_btn a{color:#67a3ff ;}
.zan_btn a,.ping_btn a,.reply_shou a{display: block; height: 24px;  padding-left: 8px; padding-right: 8px;  }
/*按钮鼠标上移 s*/
.ping_btn a:hover,.zan_btn a:hover,.zan_btn1 a:hover,.reply_shou a:hover{color: #ff5565;}
.ping_btn a:hover>i,.reply_shou a:hover>i{background-image: url(../images/conmment2.png);}
.zan_btn1 a:hover>i,.zan_btn a:hover>i{background-image: url(../images/zan_icon2.png);}
.zan_btn a.userclick{color: #ff5565;}
.zan_btn a.userclick>i{background-image: url(../images/zan_icon2.png);}
/*.reply-shou{display: none;}*/
/*按钮鼠标上移 e*/
.zan_btn1 i{background-image: url(../images/zan_icon2.png) !important;}
.zan_btn1 a{color: #ff5e52 !important;}
.zan_btn,.ping_btn,.reply_shou{ margin-left: 10px; border: solid 1px #e1e4ed;}
.zan_btn i,.ping_btn i,.reply_shou i{display: inline-block;  width: 12px; height: 12px; margin-right: 6px; background-position: center; background-repeat: no-repeat;}
.zan_btn i{background-image: url(../images/zan_icon1.png);}
.ping_btn i,.reply_shou i{background-image: url(../images/conmment1.png);}
/*.zan_btn span,.ping_btn span{vertical-align: middle; ;}*/
.inform_btn{margin-right: 12px;}
.floor_num{margin-left: 12px; }
.three-floor{color: #ff5565;}

.F_content{ position: relative; width: 100%;}
.F_content >div{width: 660px; margin: auto;}
.F_content .F_title{overflow: hidden;}
.F_content .F_title h3{font-weight: bold;font-size: 24px; color: #39393b; margin-top: 30px; margin-bottom: 10px;}
.content_p{ padding-top: 20px;  margin-bottom: 10px !important; font-size: 16px;}
.content_p p{ color: #4b4c4f; margin-bottom: 34px; }
.content_p img{max-width: 100%;}
/*语音*/

.media_msg{width: 140px; height: 30px; cursor: pointer; border: solid 1px #e1e4ed; border-radius: 4px; background-color: #fff; line-height: 30px; text-align: right;} 
.media_msg span{float: right;}
.media_msg i{float: left; width: 14px; height: 16px; margin-top: 7px; margin-left: 10px;background-image: url(../images/yuyin.png); overflow: hidden; background-repeat: no-repeat; background-position: -46px 0; vertical-align: middle; margin-right: 80px;}
/*.content_p o:nth-last-child{margin: 0;}*/
.content_p{margin-bottom: 28px;}
.imgbox,.videobox{width: 100%; margin-bottom: 14px;}
.imgbox img,.videobox img{width: 100%; border: none; }
.tab_label{width: 100%; padding-bottom: 20px; }
.line{width: 100%; height: 1px; margin-top: 20px; position: relative;
background: -webkit-linear-gradient(left,rgba(225,238,227,0) 0, rgba(225,238,227,1) 10%,rgba(225,238,227,1) 90%, rgba(225,238,227,0.5) 100%); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(right,rgba(225,238,227,0) 0, rgba(225,238,227,1)  10%,rgba(225,238,227,1) 90%, rgba(225,238,227,0.5) 100%); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(right,rgba(225,238,227,0) 0, rgba(225,238,227,1) 10%,rgba(225,238,227,1) 90%, rgba(225,238,227,0.5) 100%); /* Firefox 3.6 - 15 */
background: linear-gradient(right,rgba(225,238,227,0) 0, rgba(225,238,227,1) 10%, rgba(225,238,227,1) 90%,rgba(225,238,227,0.5) 100%); /* 标准的语法 */
}
.line i{display: block; width: 14px; height: 14px; border-left: solid 1px #e1e4ed; border-top: solid 1px #e1e4ed; transform: rotate(45deg); position: absolute; left: 86px; top: -7px; background: #fff;}
.tab_label>ul{display: flex; flex-wrap: nowrap ;justify-content:space-between; margin-left: 35px; margin-right: 35px;}
.tab_label_ul>li img{display: block; margin: auto; width: 60%; margin-top: 10px; margin-bottom: 20px;}
.tab_label_ul>li{ text-align: center; width: 120px; height: 130px; border-radius:4px ;}
.tab_label_ul>li:hover{background-color:#f5f5f7 ;}
.li_zan{position: relative;}
.li_share a{display: block; width: 100%; height: 100%;}
.li_zan i{display: block; width: 16px; height: 15px; background-image: url(../images/heart.png);background-repeat: no-repeat; background-size: contain; position: absolute; top: 15px; right: 32px; opacity: 1; transform: scale(1);}
.mylabel{display: none; margin-bottom: 20px;}
/*点赞头像展示*/
.zan_headicon{overflow: hidden; margin-top: 40px; margin-bottom: 20px;}
.zan_headicon dt,.zan_headicon dd{width: 32px; height: 32px; overflow: hidden; border-radius: 50%; margin-left: 12px;background-color: #dfdfdf; float: right; cursor: pointer;}
.zan_headicon dd img{width: 100%;}
.zan_headicon dd:nth-last-child(1){min-width: 60px; height:30px; background:none; border:none;  padding-right: 12px;border-radius: 0; position: relative; background-image: url(../images/bg-arrow.png); background-repeat: no-repeat; background-position: right center;}
.label-zan i{display: inline-block; width: 12px; height: 12px; background-image:url(../images/zan_icon2.png) ; background-repeat: no-repeat; background-position: center; margin-left: 10px; margin-right: 8px;}
.label-zan p{line-height: 30px; background-color: #ffefed;}
.zan_headicon dt i{display: inline-block; width: 4px; height: 4px; border-radius: 50%; background-color: #fff; margin-left: 1px; margin-right: 1px;}
.zan_headicon dt{text-align: center; line-height: 26px;}
.mytextarea{width: 430px; height: 110px; border: solid 1px #e1e4ed; padding: 10px; outline: none; resize: none;overflow: auto; line-height: 20px; font-size: 14px;}
.mytextarea img{width: 20px; height: 20px; vertical-align: middle;}
 /*textarea{width: 100%; height: 100%; border: solid 1px #e1e4ed; ;}*/
.textarea-box{overflow: hidden; display: none;}
.subbtn {width: 150px; height: 30px; border-radius: 4px; background-color: #ff5e52;margin-top: 6px;}
.subbtn button{font-size: 14px; color: #fff; display: block; width: 100%; line-height: 30px; text-align: center; background: none; border: none; outline: none;}
.textarea_in{float: left;}
/*emoji标签*/
.emoje-box{width:200px; height: 130px; overflow: auto;  float: right; border: solid 1px #e1e4ed;}
.emoje-box ul{margin: 4px 6px 0 6px; display: flex; justify-content: flex-start; flex-wrap: wrap ;}

.emoje-box ul li a{display: block; width: 26px; height: 26px; padding: 4px;}
.emoje-box ul li a img{width: 100%;}
.emoje-box ul li a:hover{background-color: rgba(103,163,255,.2);}
/* 打赏 */
.rewardS{border-left: 4px solid #ff6537; padding: 0 25px; background-color: whitesmoke; margin: 15px 0 35px; border-radius: 2px;}
.rewardS a:hover{text-decoration: none;}
.rewardS-pay a:hover{text-decoration: none;}
.rewardS h3{font-size: 18px; margin-bottom: 10px;}
.rewardS .rewardS-txt{padding: 20px 0;}
.rewardS .rewardS-support{margin: 15px 15px 10px 0; font-size: 16px;}
.rewardS .rewardS-support .money{background: #ff6537; display: block; padding: 5px 12px; line-height: 20px; text-align: center; color: #fff; border-radius: 4px; margin-right: 15px; float: left;}
.rewardS .rewardS-support .num{color: #666; font-size: 12px; display: inline-block; line-height: 30px; margin-left: 10px; cursor: pointer;}
.rewardS .rewardS-support .num font{color: #5188a6;}
.rewardS .rewardS-user{float: left; margin: 4px 0;}
.rewardS .rewardS-user li{float: left; width: 24px; height: 24px; margin: 0 5px 0 0;}
.rewardS .rewardS-user li img{width: 24px; height: 24px; border-radius: 24px;}
.rewardS .rewardS-user li p, .rewardS .rewardS-user li span{display: none;}


/*回复*/
.reply-text-box{overflow: hidden; margin-bottom: 26px; width: 620px; background-color: #f7f8fa; }
.reply-text-box ul{margin-left: 20px; margin-right: 20px;}
.reply-text-box .head_img{width: 42px; height: 42px; border-radius: 50%; overflow: hidden; float: left; }
.reply-text-box .head_img img{width: 100%;}
.reply-text-box .reply-text{float: left; width: 570px; margin-left: 8px;}
.reply-info { font-size: 16px; color: #8a8c91;  overflow: hidden; margin-top: 8px; }
.reply-info .reply-user span{color: #4a89ff;}
.reply-user{float: left; line-height: 30px;}
.reply_time{float: right; color: #919191; font-size: 12px;}
.reply_time span{margin-right: 20px; line-height: 30px;}
.reply_time .reply_btn{color: #4a89ff; cursor: pointer;}
.reply-p{font-size: 16px; color: #4b4c4f; margin-top: 6px;}
.reply-p img{width: 20px; height: 20px; vertical-align: middle;}
.reply-text-box li{margin-top: 20px; overflow: hidden;}
.reply-action{overflow: hidden; margin-top: 20px; margin-left: 20px; margin-right: 20px;}
.reply-action .look-more{float: left; font-size: 12px; color: #919191; line-height: 24px;}
.reply-action .look-more span{color: #4a89ff !important; cursor: pointer;}
.reply-action .reply-me{float: right; margin-bottom: 20px;}
.reply-me i{display: inline-block; width: 12px; height: 12px; background-image: url(../images/conmment1.png); background-repeat: no-repeat; background-position: center; vertical-align: middle; margin-right: 6px;}
.reply-me {border: solid 1px #e1e4ed; padding-left: 10px; padding-right: 10px; line-height: 24px; cursor: pointer;}
.left-content .tiezi-info{margin-bottom: 50px; margin-top: 30px;}
.pagination-pages a{color: #4a89ff; padding: 0 5px; font-size: 14px; cursor: pointer;}
.pagination-pages .curr{padding: 0 5px; font-size: 14px; font-weight: bold; color: #666;}
/*回复建楼*/
.floor_in-box{width: 910px; min-height: 300px;  background-color: #f7f8fa; margin-bottom: 58px; border: solid 1px #e1e4ed; overflow: hidden; padding-bottom: 20px; }
.login{text-align: center; font-size: 18px; margin-top: 100px;}
/*.editor-box-all h3{}*/
.floor_in-box .content-box{background-color:#f7f8fa ;}
.floor_in-box button{line-height: 40px;}
.ueditor-box{margin:20px 18px; height: 400px; border: solid 1px #e1e4ed;}
.captcha_in{margin-left: 20px;}
.captcha_in input{background: none; width: 150px; height: 32px; padding-left:10px; border: solid 1px #e1e4ed; box-sizing: border-box; vertical-align: middle;}
.captcha_in img{vertical-align: middle;}
.floor_in-box .sub_btn{width: 200px; height: 40px; cursor: pointer; border-radius: 4px; background-color: #ff5e52; color: #fff; margin-left: 20px; font-size: 16px; line-height: 40px; text-align: center; margin-top: 20px;}
/*右侧部分*/
.right-content{width: 280px; float: right;}
.recent_tiezi{width: 100%; background-color: #fff; margin-bottom: 14px;}
.recent_tiezi dt,.all_read_title,.hot_activity dt{width: 100%; border-bottom: solid 1px #e1e4ed; height: 46px; line-height: 46px;}
.right_title{ margin-left: 20px; font-size: 16px; font-weight: bold; color: #39393b;}
.recent_tiezi dd{margin-left: 10px; margin-right: 10px; border-bottom: dashed 1px #e1e4ed; padding-bottom: 12px;}
.recent_tiezi dd:nth-last-child(1){border: none;}
.recent_tiezi dd h3 s{text-decoration: none; margin-right: 10px;}
.recent_tiezi dd h3{ margin-right: 10px; font-size: 16px; color: #39393b; margin-top: 10px; margin-bottom: 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 250px;}
.recent_tiezi dd p{color: #8b8a91; font-size: 12px; margin-left: 12px;}
.recent_tiezi dd p span{margin-right: 22px;}
.recent_tiezi a:hover>h3{color: #4a89ff;}
.all_read{width: 100%; background-color: #fff; padding-bottom: 24px; margin-bottom: 14px;}

.small_banner_img{ height: 170px !important; margin: auto; overflow: hidden;}
.small_banner_box .small_banner_img img{width: 100% !important;}
.bannerbox{width: 260px; margin: auto; margin-top: 10px;}
.bannerbox .mypagination{text-align: center; margin-top: 6px; margin-bottom: 14px;}
.bannerbox .mypagination .swiper-pagination-bullet{width: 10px !important; height: 10px !important; border-radius: 5px !important;}
.bannerbox .mypagination .swiper-pagination-bullet-active{width: 20px !important; background-color: #4a89ff; border-radius: 5px;}
.news_list_box{width: 260px; margin: auto;}
.news_list_box li{line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.news_list_box li s,.hot_activity s{text-decoration: none; margin-right: 8px;}
.news_list_box li a{color: #5a5a5e; font-size: 14px;}
.news_list_box li a:hover{color: #4a89ff;}
.hot_activity{width: 100%; background-color: #fff; padding-bottom: 16px;}
.hot_activity dt{height: 46px; line-height: 46px; margin-bottom: 14px;}
.hot_activity dd{margin-left:10px ; margin-right: 10px; width:260px ; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.hot_activity dd a{color: #4f4f4f; font-size: 14px; line-height: 30px;}
.hot_activity dd a:hover{color: #4a89ff;}

/*-----隐藏emoji表情------*/
.emoji-hide{display: none;}

/*遮罩层*/
.rewardS-mask{position: fixed; top: 0; left: 0; background-color: rgb(0, 0, 0); opacity: .5; filter: alpha(opacity=50); width: 100%; height: 100%; z-index: 99998; display: none;}
.rewardS-pay{position: fixed; z-index: 99999; background: #fff; left: 50%; margin-left: -300px; top: 100px; width: 645px; border-top: 2px solid #ff6537; display: none; border-radius: 2px 2px 0 0; -webkit-animation:popup .4s ease-out; -moz-animation:popup .4s ease-out; animation:popup .4s ease-out;}
.rewardS-pay-tit{border-bottom: 1px solid #e7e7e7; height: 40px; line-height: 40px; font-size: 16px; padding: 0 15px;}
.rewardS-pay-tit .close{font-size: 34px;}
.rewardS-pay-box{padding: 30px;}
.rewardS-pay-box .rewardS-pay-money{padding: 15px 10px 15px 20px; background: whitesmoke; border: 1px solid #eee; color: #999; margin-bottom: 30px;}
.rewardS-pay-box .rewardS-pay-money span{vertical-align: super;}
.rewardS-pay-box .rewardS-pay-money .icon{font-size: 32px; color: orange;}
.rewardS-pay-box .rewardS-pay-money .inp{font-size: 32px; line-height: 38px; width: 25%; background: whitesmoke; border: none; outline: 0;}
.rewardS-pay-box .rewardS-pay-money .rewardS-pay-select{float: right; margin-top: 7px; color: #666;}
.rewardS-pay-box .rewardS-pay-money .rewardS-pay-select li{float: left; border: 1px solid #999; padding: 8px 10px; margin-right: 8px; cursor: pointer;}
.rewardS-pay-box .rewardS-pay-way h3{font-size: 16px;}
.rewardS-pay-box .rewardS-pay-way ul{margin-top: 20px;}
.rewardS-pay-box .rewardS-pay-way ul li{width: 126px; height: 41px; position: relative; border: 1px solid #dedede; margin: 0 15px 15px 0; background: #fff; padding: 1px; float: left; cursor: pointer;}
.rewardS-pay-box .rewardS-pay-way ul li a{display: block; height: 26px; margin: 7px auto 0; background: url(../images/bank.png) no-repeat;}
.rewardS-pay-box .rewardS-pay-way ul li.on{border: 2px solid #f60; padding: 0;}
.rewardS-pay-box .rewardS-pay-way ul li.on em{position: absolute; right: 0; bottom: 0; display: block; width: 20px; height: 21px; background: url('../images/pubSprite.png') -52px -35px;}
.rewardS-pay-box .rewardS-pay-way ul li .wxpay{background-position: -3px -1045px; width: 101px;}
.rewardS-pay-box .rewardS-pay-way ul li .globalalipay{background-position: -4px -938px; width: 73px;}
.rewardS-pay-box .rewardS-pay-way ul li .alipay{background-position: -4px -938px; width: 73px;}
.rewardS-pay-box .rewardS-pay-way ul li .tenpay{background-position: -4px -974px; width: 73px;}
.rewardS-pay-box .rewardS-pay-way ul li .unionpay{background-position: -4px -1008px; width: 100px;}
.rewardS-pay-box .rewardS-pay-way ul li .paypal{background-position: 2px -1120px; width: 100px;}
.rewardS-pay .rewardS-sumbit{background: whitesmoke; padding: 20px 0;}
.rewardS-pay .rewardS-sumbit a{display: block; width: 110px; height: 35px; color: #fff; margin: 0 auto; font-size: 16px; background: #ff6537; text-align: center; line-height: 35px; border-radius: 4px;}

/*打赏列表*/
.pop_main_box { position: fixed; top: 50%; left: 50%; z-index: 99999; background: #fff; margin-left: -250px; margin-top: -270px; display: none;}
.pop-close { position: absolute; top: -6px; right: -6px; width: 24px; height: 24px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; color: #999; text-align: center; line-height: 24px; background: #fff url(../images/pop_close.png) center center no-repeat; cursor: pointer;}
.pop-close:hover { color: #f04848}
.pop-title { height: 60px; line-height: 60px; overflow: hidden; padding: 0 20px; border-bottom: 1px solid #dcdcdc; max-width: 1050px}
.pop-title .pop_name { font-size: 20px; float: left}
.pop_name .grey { font-weight: 400; font-size: 12px; padding-left: 10px}
.pop-title a.a_underline { float: right; font-size: 12px}

i.icon-loginright,i.icon-logintanhao { width: 32px; height: 32px; font-size: 20px; background-color: #7bc7ac; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; text-align: center; line-height: 32px; color: #fff; display: inline-block; margin-right: 20px}
.gratuity_list li { width: 100%; clear: both; height: 24px; margin: 10px 0; display: none;}
.gratuity_list li img { float: left; height: 24px; width: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px}
.gratuity_list li p { float: left; width: 290px; height: 24px; overflow: hidden; line-height: 24px; padding-left: 10px; margin: 0; clear: none!important; text-overflow: ellipsis; white-space: nowrap}
.gratuity_list li p a { color: #333}
.gratuity_list li span { float: right; text-align: right; height: 24px; overflow: hidden; line-height: 24px; color: #999}
#page-list-content { padding: 25px 30px 40px; text-align: left; font-size: 12px; position: relative; padding-bottom: 10px;}
.rwPage { text-align: center; margin: 20px 0; overflow: hidden}
.rwPage .btn { cursor: pointer;}
.rwPage li { display: inline; min-width: 24px; height: 24px; line-height: 24px; padding-right: 10px; color: #5188a6; margin: 0}
.rwPage li.jumpToPage { color: #999; padding-left: 10px}
.rwPage a { display: inline-block; padding: 0 8px; color: #5188a6; line-height: inherit!important; border: 0}
.rwPage .pageCurrent,.rwPage .pageCurrent:hover,.rwPage a:hover { background-color: #f04848; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; color: #fff!important; font-weight: 700}
.rwPage .pagedown,.rwPage .pageup { border: 0}
.rwPage .pagedown a:hover,.rwPage .pageup a:hover { background-color: #fff; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; color: #5188a6!important; font-weight: 400; text-decoration: underline}
.rwPage .noClick a,.rwPage .noClick a:hover { background-color: #fff; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; color: #999; font-weight: 400; text-decoration: none}
.rwPage span { font-family: SimSun; font-size: 12px}
.input_num { height: 22px; line-height: 22px; border: 1px solid #dcdcdc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding: 0 5px; color: #666; width: 26px; margin: 0 5px}
.rwPage .a_jumpTo { width: 36px; height: 24px; line-height: 24px; background-color: #f04848; color: #fff; padding: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px}
.rwPage .a_jumpTo:hover { font-weight: 400}


/*关注*/
.attion{ width: 80px; line-height: 30px; height: 30px; background: #ff5e52; color: #fff; border-radius: 4px; margin: 0 auto; font-size: 14px; cursor: pointer; margin-top: 20px; text-align: center;}
.attion em{ font-size: 27px; float: left; height: 30px; margin-left: 16px; line-height: 30px; margin-right: 5px;}
.attion span{ float: left;}
.attion.attioned{ background: #e6e8ed; color: #8d8e91;}

/* 视频显示样式 */
.c-paragraph-video .video-js{max-height: 300px; max-width: 100%; margin-top: 10px} 
.c-paragraph-audio{margin-top: 10px}
