{#$pageTitle = $langData['waimai'][1][236]#}

{#if empty($action)#}

{#$pageCurr = "order/waimaiOrderSearch"#}
{#include file="../_header.html"#}

<script>
var action = "{#$action#}", adminPath = "{#$adminPath#}";
</script>
<style>
.pagination {display: block; text-align: right;}
.pagination div {margin: 0;}
.pagination .page_info {display: inline-block; line-height: 35px; margin-left: 15px;}
.pagination ul>li.page_current span {background: #e8e8e8;}
.chzn-container {vertical-align: middle;}
.tab-content {overflow: visible;}
td hr {margin:5px 0;}


.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {float: left;}
.col-sm-2 {width: 16.66666667%;}
.form-group {width:600px;float: left;margin:0 -12px 15px 0;}
.form-group select {width:216px;}

.resultiframe {width:100%;}
.resultiframe.fixheight {height: 1000px !important;min-height: 1000px !important;}
</style>

<div class="main-content">

  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <i class="ace-icon fa fa-bar-chart-o bar-chart-o-icon"></i>
      <li class="active">{#$langData['siteConfig'][17][1]#}</li>
      <li class="active">{#$langData['siteConfig'][19][447]#}</li>
    </ul>

    {#include file="../_uinfo.html"#}

  </div>

  <div class="page-content">

    <div class="page-content">
      <div class="page-content-area">
        <style>.col-sm-input{ width:60px; }</style>
        <div class="row">
          <div class="col-xs-12">
            <form class="form-horizontal searchform" id="yw0" action="" method="get" target="resultiframe">
              <input type="hidden" name="action" id="action" value="search">
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_trade_no">{#$langData['siteConfig'][19][50]#}</label>
                <input name="ordernum" id="waimaiOrder_trade_no" type="text"></div>
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_lewaimai_customer_id">{#$langData['waimai'][1][175]#}</label>
                <input name="personId" id="waimaiOrder_lewaimai_customer_id" type="text" maxlength="10"></div>
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_nickname">{#$langData['siteConfig'][19][4]#}</label>
                <input name="person" id="waimaiOrder_nickname" type="text" maxlength="20"></div>
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_phone">{#$langData['siteConfig'][3][1]#}</label>
                <input name="tel" id="waimaiOrder_phone" type="text" maxlength="20"></div>
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_init_date">{#$langData['waimai'][1][214]#}</label>
                <input id="waimaiOrder_start_time" type="text" name="paydate[]"> {#$langData['siteConfig'][13][7]#}
                <input id="waimaiOrder_end_time" type="text" name="paydate[]"></div>
              <div class="form-group" style="height:38px">
                <label class="col-sm-2" for="Order_courier_id">{#$langData['siteConfig'][17][12]#}</label>
                <select class="chosen-select" name="shopid" id="form-field-select-1">
                  <option value="">{#$langData['waimai'][1][9]#}</option>
                  {#foreach from=$shop item=l#}
                  <option value="{#$l.id#}">{#$l.shopname#}</option>
                  {#/foreach#}
                </select>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="Order_courier_id">{#$langData['waimai'][1][221]#}</label>
                <select class="chosen-select" name="peisongid" id="form-field-select-2">
                  <option value="">{#$langData['siteConfig'][7][2]#}</option>
                  {#foreach from=$courier item=c#}
                  <option value="{#$c.id#}">{#$c.name#}</option>
                  {#/foreach#}
                </select>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="Order_charge_type">{#$langData['siteConfig'][16][296]#}</label>
                <select class="chosen-select" name="paytype" id="form-field-select-3">
                  <option value="">{#$langData['siteConfig'][7][2]#}</option>
                  <option value="delivery">{#$langData['siteConfig'][16][51]#}</option>
                  <option value="money">{#$langData['waimai'][6][19]#}</option>
                  <option value="online">{#$langData['waimai'][1][17]#}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="Order_order_status">{#$langData['siteConfig'][16][50]#}</label>
                <select class="chosen-select" name="state" id="form-field-select-4">
                  <option value="">{#$langData['siteConfig'][7][2]#}</option>
                  <option value="2">{#$langData['waimai'][1][203]#}</option>
                  <option value="3">{#$langData['waimai'][1][217]#}</option>
                  <option value="4">{#$langData['siteConfig'][16][114]#}</option>
                  <option value="5">{#$langData['siteConfig'][16][115]#}</option>
                  <option value="1">{#$langData['siteConfig'][9][5]#}</option>
                  <option value="7">{#$langData['siteConfig'][9][6]#}</option>
                  <option value="6">{#$langData['siteConfig'][9][13]#}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_amount">{#$langData['waimai'][4][9]#}</label>
                <input class="col-sm-input" type="number" name="amount[]" id="waimaiOrder_amount1" type="text">&nbsp;&nbsp;{#$langData['siteConfig'][13][51]#}&nbsp;&nbsp;
                <input class="col-sm-input" type="number" name="amount[]" id="waimaiOrder_amount2" type="text"> {#echoCurrency type='short'#}</div>
              <div class="form-group">
                <label class="col-sm-2" for="waimaiOrder_complete">{#$langData['waimai'][1][226]#}</label>
                <select class="chosen-select" name="comtime" id="form-field-select-5">
                  <option value="">{#$langData['siteConfig'][7][2]#}</option>
                  {#foreach from=$comtime item=t#}
                  <option value="{#$t#}">{#$t#}</option>
                  {#/foreach#}
                </select>
                {#$langData['waimai'][1][242]#}
              </div>
              <div style="clear:both;"></div>
              <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                  <button class="btn btn-info" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>{#$langData['waimai'][1][243]#}</button>&nbsp; &nbsp; &nbsp;
                  <button class="btn" type="reset" id="reset">
                    <i class="icon-undo bigger-110"></i>{#$langData['waimai'][1][244]#}</button>&nbsp; &nbsp; &nbsp;
                  <button class="btn btn-danger" type="button" id="export_btn">{#$langData['waimai'][1][245]#}</button>
                  <input type="hidden" value="0" name="is_export" id="lewaimaiorder_export">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <iframe src="" name="resultiframe" id="resultiframe" frameborder="0" class="resultiframe"></iframe>

  </div>

</div>

{#include file="../_footer.html" jsFile=$jsFile#}


{#else#}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{#$langData['siteConfig'][16][48]#} - {#$pageTitle#}</title>
<link rel="stylesheet" type="text/css" href="/static/css/wmsj/jquery-ui.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="/static/css/wmsj/styles.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" href="/static/css/wmsj/chosen.min.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" href="/static/css/wmsj/ace-fonts.min.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" href="/static/css/wmsj/select.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="/static/css/wmsj/ace.min.css?v={#$cfg_staticVersion#}" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="/static/css/wmsj/bootstrap.css?v={#$cfg_staticVersion#}" type="text/css" />
<link rel="stylesheet" href="/static/css/wmsj/animate.css?v={#$cfg_staticVersion#}" type="text/css" />
<link rel="stylesheet" href="/static/css/wmsj/font-awesome.min.css?v={#$cfg_staticVersion#}" type="text/css" />
<link rel="stylesheet" href="/static/css/wmsj/simple-line-icons.css?v={#$cfg_staticVersion#}" type="text/css" />
<link rel="stylesheet" href="/static/css/wmsj/font.css?v={#$cfg_staticVersion#}" type="text/css" />
<link rel="stylesheet" href="/static/css/wmsj/app.css?v={#$cfg_staticVersion#}" type="text/css" />
<script src="/static/js/wmsj/jquery.min.js"></script>
<script src="/static/js/wmsj/bootstrap.js"></script>
<script>
  var adminPath = "{#$adminPath#}", cfg_attachment = '{#$cfg_attachment#}';
</script>

<script>
var action = "{#$action#}", adminPath = "{#$adminPath#}";
</script>
<style>
.col-xs-12 {padding:0;}
#list {margin-bottom: 0;}
.page-content-area {overflow: hidden;}
.pagination {display: block; text-align: right;}
.pagination div {margin: 0;}
.pagination .page_info {display: inline-block; line-height: 35px; margin-left: 15px;}
.pagination ul>li.page_current span {background: #e8e8e8;}
.chzn-container {vertical-align: middle;}
.tab-content {overflow: visible;}
td hr {margin:5px 0;}


.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {float: left;}
.col-sm-2 {width: 16.66666667%;}
.form-group {width:600px;float: left;margin:0 -12px 15px 0;}
.form-group select {width:216px;}

.resultiframe {width:100%;}
.resultiframe.fixheight {height: 1000px !important;min-height: 1000px !important;}
</style>

<div class="main-content">

  <div class="page-content">

    <style>body{overflow-y: hidden;}.page-content {padding:8px 0 24px;}</style>
    <div class="page-content-area">
      <div class="col-xs-12">
        <div class="tabbable">

          <div id="order-grid-open" class="grid-view">
            <table id="list" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="checkbox-column" id="order-grid-open_c0"><input type="checkbox" value="1" name="order-grid-open_c0_all" id="order-grid-open_c0_all"></th>
                  <th id="order-grid-open_c1">{#$langData['siteConfig'][19][50]#}</th>
                  <th id="order-grid-open_c2">{#$langData['siteConfig'][17][12]#}</th>
                  <th id="order-grid-open_c3">{#$langData['waimai'][1][175]#}</th>
                  <th id="order-grid-open_c4">{#$langData['siteConfig'][19][4]#}</th>
                  <th id="order-grid-open_c5">{#$langData['siteConfig'][3][1]#}</th>
                  <th id="order-grid-open_c6">{#$langData['waimai'][1][209]#}</th>
                  <th id="order-grid-open_c7">{#$langData['waimai'][1][210]#}</th>
                  <th id="order-grid-open_c8">{#$langData['waimai'][1][211]#}</th>
                  <th id="order-grid-open_c9">{#$langData['waimai'][1][212]#}</th>
                  <th id="order-grid-open_c10">{#$langData['waimai'][1][213]#}</th>
                  <th id="order-grid-open_c11">{#$langData['waimai'][1][221]#}</th>
                  <th id="order-grid-open_c15">{#$langData['waimai'][1][222]#}</th>
                  <th id="order-grid-open_c11">{#$langData['siteConfig'][16][50]#}</th>
                  <th id="order-grid-open_c12">{#$langData['waimai'][1][229]#}</th>
                  <th id="order-grid-open_c13">{#$langData['waimai'][1][214]#}</th>
                  <th id="order-grid-open_c16">{#$langData['waimai'][1][226]#}</th>
                  <th id="order-grid-open_c17">{#$langData['waimai'][1][227]#}</th>
                  <th id="order-grid-open_c14">{#$langData['siteConfig'][19][52]#}</th>
                  <th class="button-column" id="order-grid-open_c15">{#$langData['siteConfig'][6][11]#}</th></tr>
              </thead>
              <tbody>
                {#foreach from=$list item=l#}
                  {#if $l.state == 1#}
                  {#$state = $langData['siteConfig'][9][5]#}
                  {#else if $l.state == '2'#}
                  {#$state = $langData['waimai'][5][2]#}
                  {#else if $l.state == '3'#}
                  {#$state = $langData['siteConfig'][9][12]#}
                  {#else if $l.state == '4'#}
                  {#$state = $langData['siteConfig'][16][114]#}
                  {#else if $l.state == '5'#}
                  {#$state = $langData['siteConfig'][16][115]#}
                  {#else if $l.state == '6'#}
                  {#$state = $langData['siteConfig'][9][13]#}
                  {#else if $l.state == '7'#}
                  {#$state = $langData['siteConfig'][9][6]#}
                  {#/if#}
                <tr>
                  <td width="30"><input value="{#$l.id#}" id="order-grid-open_c0_0" type="checkbox" name="selectorderl[]"></td>
                  <td width="60">{#if $l.ordernumstore != ""#}{#$l.shopname#}{#$l.ordernumstore#}{#else#}{#$l.ordernum#}{#/if#}</td>
                  <td width="70" style="word-break: break-all;">{#$l.shopname#}</td>
                  <td width="60"><a href="javascript:;" class="userinfo" data-id="{#$l.uid#}">{#$l.username#}</a></td>
                  <td width="90">{#$l.person#}</td>
                  <td width="90">{#$l.tel#}</td>
                  <td style="word-break: break-all;" width="100">{#$l.address#}</td>
                  <td width="120">
                    {#foreach from=$l.food item=food#}
                    <div style="background:#ddd;padding:1px;margin:3px 0px;">{#$food.title#}【{#$food.count#}】</div>
                    {#/foreach#}
                  </td>
                  <td style="word-break: break-all;" width="80">{#$l.note#}</td>
                  <td width="80" style="word-break: break-all;">
                    {#foreach from=$l.preset item=preset#}
                    <div style="background:#ddd;padding:1px;margin:3px 0px;">{#$preset.title#}：{#$preset.value#}</div>
                    {#/foreach#}
                  </td>
                  <td width="50">{#$l.amount#}</td>
                  <td width="100">{#if $l.peisongname#}{#$l.peisongname#}({#$l.peisongtel#}){#else#}-{#/if#}</td>
                  <td width="100">{#$l.peisongidlog#}</td>
                  <td width="100">{#$state#}</td>
                  <td width="100">{#$l.failed#}</td>
                  <td width="40">{#$l.pubdate|date_format:"%y-%m-%d %H:%M:%S"#}</td>
                  <td width="40">{#$l.okdate|date_format:"%y-%m-%d %H:%M:%S"#}</td>
                  <td width="50">{#if $l.state == "1"#}{#ceil(($l.okdate-$l.pubdate)/60)#}{#/if#}</td>
                  <td width="50"><b style="color:green">{#$l.paytype#}</b></td>
                  <td width="80" class="button-column">
                    <a title="{#$langData['siteConfig'][6][175]#}" class="green orderdetail" data-id="{#$l.id#}" data-num="{#$l.ordernum#}" style="padding-right:8px;" href="waimaiOrderDetail.php?id={#$l.id#}" target="_blank"><i class="ace-icon fa fa-search bigger-130"></i></a>
                  </td>
                </tr>
                {#/foreach#}

                {#if $list|@count == 0#}
                <tr>
                  <td colspan="20" style="height: 200px; line-height: 200px; text-align: center;">{#$langData['siteConfig'][27][2]#}.</td>
                </tr>
                {#/if#}
              </tbody>
            </table>

            {#$pagelist#}

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(function(){
    var conHeight = 0, timer = null, listen = false;
    setParIframeHeight();
    parent.winScroll();

    $(window).resize(function(){
      if(!listen) return;
      clearTimeout(timer)
      timer = setTimeout(function(){
        setParIframeHeight();
      },1000)
    })

    function setParIframeHeight(){

      var h = parseInt($(".main-content").height());
      if(Math.abs(h-conHeight) < 50){
        conHeight = h;
        return;
      }
      conHeight = h;
      $('#resultiframe', window.parent.document).css('height', conHeight+'px');
      listen = true;
    }
  })
</script>

{#include file="../_footer.html"#}

{#/if#}
