@charset "utf8";
html {background:#fcfcfc;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}

/*全屏*/
.video-box{
    position: relative;
    height: 4.2rem;
}
.video-box video,.vIframe{height: 4.2rem;}
.fullscreen-box{width:100%;height:100%;background:#000;}
.fullscreen-box{position:fixed;z-index:1000000;top:0;left:0;bottom:0;-webkit-animation:bounceInDown .6s ease-out;-moz-animation:bounceInDown .6s ease-out;animation:bounceInDown .6s ease-out;}
.fullscreen-box video,.fuuscreen-box .video-box {height:100%;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.fullscreen-box .vClose,.videoModal .vClose {position:absolute;top:.2rem;right:.2rem;width:.5rem;height:.5rem;display:block;background:url(../images/vclose.png) no-repeat center center;background-size:.5rem;z-index:11;}
@-webkit-keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-moz-keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
/*视频播放*//*控制条*/
#video-control {width:100%;position:absolute;bottom:0;left:0;display:flex;display:-webkit-flex;align-items:center;-webkit-box-align:center;padding:5px 0;background-image:linear-gradient(-180deg,rgba(0,0,0,.3),rgba(0,0,0,.5));}
.btn-control {width:5%;float:left;padding-left:10px}
#video-control .play {width:.3rem;height:.3rem;background:url(../images/m_detail_video_icon.png) no-repeat;background-size:1.2rem;background-position:0 0;}
#video-control .pause {width:.3rem;height:.3rem;background:url(../images/m_detail_video_icon.png) no-repeat;background-size:1.2rem;background-position:0 -.4rem;}
.time {color:#fff;float:left;width:9%;font-size:.26rem;margin-left:.1rem;}
#progress {float:left;width:55%;height:5px;background:#fff;border-radius:5px;margin-left:.2rem;position:relative}
#bar {width:0;height:100%;background:#0598e7;border-radius:3px;display:inline-block;position:absolute;top:0;left:0}
#control {width:.2rem;height:.2rem;position:absolute;border-radius:100%;left:0;top:-2.2px;background:#fff}
.soundon {width:.4rem;height:.4rem;background:url(../images/soundon.png) no-repeat;background-size:.4rem;margin-left:.2rem;}
.soundoff {width:.5rem;height:.5rem;background:url(../images/soundoff.png) no-repeat;background-size:.5rem;margin-left:.2rem;}
#volume {float:left;width:15%;height:5px;background:#fff;box-shadow:1px 1px 2px 2px #232;border-radius:5px;margin-left:2px;position:relative}
#volume-bar {width:10%;height:100%;background:#ccc;border-radius:3px;display:inline-block;position:absolute;top:0;left:0}
#volume-control {width:15px;height:15px;position:absolute;border-radius:100%;left:0;top:-4px;background:#fff;box-shadow:1px 1px 2px 2px #132}
.full {width:.5rem;height:.5rem;float:left;margin-left:.5rem;transition:.3s all;background:url(../images/m_detail_video_icon.png) no-repeat;background-position:0 -.85rem;background-size:1.4rem;}
.full.small {width:.5rem;height:.5rem;float:left;margin-left:.5rem;transition:.3s all;background:url(../images/m_detail_video_icon.png) no-repeat;background-position:0 -1.3rem;background-size:1.4rem;}
video::-webkit-media-controls-enclosure {overflow:hidden}
video::-webkit-media-controls-panel {width:calc(100% + 35px)}
/*按钮组合*/
.video-btn {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}
.load-box,.play-box,.reload-box {background:rgba(0,0,0,.4);border-radius:50%;text-align:center;width:1rem;height:1rem;position:relative}
.pause-icon,.play-icon {display:block;width:.4rem;height:.4rem;background:url(../images/m_detail_video_icon.png)no-repeat;background-size:1.48rem}
.play-icon {background-position:0 0;margin-left:.4rem;position:absolute;top:.3rem}
.pause-icon {background-position:0-.45rem;margin-left:.32rem;position:absolute;top:.3rem}
.load-icon {width:.5rem;height:.5rem;display:block;position:absolute;top:.24rem;left:.23rem;background:url(../images/load.png)no-repeat;background-size:.52rem;animation:loading 2s linear infinite;-webkit-animation:loading 2s linear infinite}
@keyframes loading {0% {transform:rotate(1turn)}
to {transform:rotate(0deg)}
}
.reload-icon {display:block;position:relative;top:50%;left:25%;transform:translateY(-50%);width:.5rem;height:.5rem;background:url(../images/m_detail_video_icon.png)no-repeat;background-size:1.48rem;background-position:0-1.94rem}
.reload-box p {display:none;white-space:nowrap;line-height:.16rem;color:#fff;font-size:.15rem;margin-left:.1rem}
.error-box .reload-box {border:1px solid#fff;border-radius:100px;padding:.08rem.5rem;display:flex;display:-webkit-flex;align-items:center;width:auto;height:auto;background:none}
.error-box .reload-icon {top:auto;left:auto;transform:translateY(0)}
.err-info {font-size:.14rem;color:#fff;line-height:.16rem;margin-bottom:.2rem}
.error-box p {display:block}


/*主体部分*/
.name_title{
    padding: .18rem .2rem;
    box-shadow: 0px 4px 8px #ececec;
        background: #fff;
}
.name_title .user_img, .name_title .user_txt{
    float: left;
}
.name_title .user_img{
    height: .7rem;
    width: .7rem;
    overflow:hidden;
    border-radius: 50%;
}
.name_title .user_img img{
    height: .7rem;
    width: .7rem;
}
.name_title .guanzhu{
    float: right;
    border-radius: .8rem;
    padding: .06rem .24rem;
    color: #fff;
    background: -webkit-linear-gradient(left, #ffa63c , #ff4d5d);
    background: -o-linear-gradient(right, #ffa63c, #ff4d5d);
    background: -moz-linear-gradient(right, #ffa63c, #ff4d5d);
    background: linear-gradient(to right, #ffa63c , #ff4d5d);
    height: .34rem;
    line-height: .34rem;
    margin-top: .12rem;
}
.name_title .user_txt{
    font-size: .24rem;
    margin-left: .2rem;
}
.name_title .user_txt p:first-child{
    font-size: .28rem;
}
.name_title .user_txt p:last-child{
    color: #808080;
    font-size: .22rem;
    padding-top: .04rem;
}
.name_title .user_txt p:last-child span{
    margin-right: .2rem;
}

/*评论列表*/
.comment_list{
    overflow: auto;
}
.comment_list ul li{
    border-bottom: 1px solid #f2f2f2;
    margin: 0 .2rem;
    padding-top: .3rem;
}
.comment_list ul li .com_img{
    float: left;
    height: .8rem;
    width: .8rem;
    overflow: hidden;
    border-radius: 50%;
}
.comment_list ul li .com_img img{
    height: .8rem;
    width: .8rem;
}
.comment_list ul li .con_txtList{
        padding-left: .92rem;
}
.comment_list ul li .con_txtList .txt_name{
    font-size: .26rem;
    color: #808080;
    padding: .06rem 0;
}
.comment_list ul li .con_txtList .txt_title{
    color: #404040;
    font-size: .27rem;
    padding: .12rem 0 .16rem 0;
}
.comment_list ul li .con_txtList .reply_list{
    background: #f2f2f2;
    padding: 0 .2rem .2rem .2rem;
}
.comment_list ul li .con_txtList .reply_list p{
    padding-top: .2rem;
        font-size: .25rem;
    color: #666666;
    line-height: .39rem;
}
.comment_list ul li .con_txtList .reply_list p span{
    color: #3b86bf;
}
.comment_list ul li .con_txtList .while{
    color: #999999;
    padding: .2rem 0;
    font-size: .23rem;
}
.comment_list ul li .con_txtList .while .t_date, .comment_list ul li .con_txtList .while .t_time{
    float: left;
    margin-right: .2rem;
}
.comment_list ul li .con_txtList .while .dianzan{
    float: right;
    background: url(../images/dianzan.png) no-repeat left center;
    background-size: .28rem;
    padding-left: .4rem;
}
.comment_list ul li .con_txtList .while span.active{
        background: url(../images/dianzan_s.png) no-repeat left center;
    background-size: .28rem;
}

/*底部评论输入框*/
.Bottom_inputBox{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: #fff;
    box-shadow: 0px -2px 8px #ececec;
    padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);
    z-index: 10000000;
}

.Bottom_inputBox .search {
    height: .68rem;
    width: 5.4rem;
    border-radius: .6rem;
    line-height: .68rem;
    float: left;
    margin-left: .2rem;
    overflow: hidden;
    margin-top: .16rem;
}
.Bottom_inputBox .search input {
    border: none;
    height: .6rem;
    width: 5rem;
    outline: 0;
    padding-left: .4rem;
    background: #f2f2f2;
    background-size: .26rem;
    font-size: .25rem;
    border-radius: .6rem;
}
input::-webkit-input-placeholder {
color: #b2b2b2 !important;
}
input:-moz-placeholder {
color: #b2b2b2 !important;
}
input::-moz-placeholder {
color: #b2b2b2 !important;
}
input:-ms-input-placeholder {
  color: #b2b2b2 !important;
}
.Bottom_inputBox .information, .Bottom_inputBox .fabulous{
    float: left;
        margin-top: .16rem;
    margin-left: .34rem;
}
.Bottom_inputBox .information img, .Bottom_inputBox .fabulous img{
    height: .38rem;
}
.Bottom_inputBox .information p, .Bottom_inputBox .fabulous p{
    font-size: .2rem;
    color: #999999;
}
.Bottom_inputBox .fasong{
    float: left;
    height: .58rem;
    line-height: .58rem;
    width: 1.4rem;
    background: #34b0ff;
    color: #fff;
    border-radius: .6rem;
    text-align: center;
    margin-top: .22rem;
    margin-left: .2rem;
    display: none;
}



.Bottom_inputBox .information{
    position: relative;
        margin-right: .1rem;
}
.Bottom_inputBox .information span{
    position: absolute;
    top: -.1rem;
    left: 0.2rem;
    display: inline-block;
    background: linear-gradient(to right, #ffa63c , #ff4d5d);
    color: #fff;
    line-height: 1;
    padding: .04rem .1rem;
    font-size: .2rem;
    border-radius: .3rem;
    border: 1px solid #fff;
}
.Bottom_inputBox .information i{
    background: url(../images/xinxi.png) no-repeat center;
    background-size: .38rem;
        display: inline-block;
    height: .38rem;
    width: .38rem;
}
.Bottom_inputBox .fabulous i{
    background: url(../images/dianzan.png) no-repeat center;
        background-size: .38rem;
        display: inline-block;
    height: .38rem;
    width: .38rem;
}
.Bottom_inputBox .fabulous i.active{
    background: url(../images/dianzan_s.png) no-repeat center;
        background-size: .38rem;
}

/*图层蒙版*/
.mask {
    position: fixed;
    top: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100002;
    display: none;
}


