#sidebar-dock.preview-mode .button {
	pointer-events:none;
	color:#4c4c4c
}
#sidebar-dock.preview-mode .button.icon-preview {
	pointer-events:auto
}
#sidebar-dock.preview-mode .button.icon-preview:hover,#sidebar-dock.preview-mode .button.icon-preview.active {
	color:#FFFFFF;
	background-color:#3f3f3f
}
