.diy-control.border {
	display:block;
	color:#cccccc;
	font-size:12px
}
.diy-control.border,.diy-control.border > .sides,.diy-control.border > .control {
	height:84px
}
.diy-control.border > .sides {
	position:relative;
	float:left;
	width:84px;
	margin-right:12px
}
.diy-control.border > .sides > .side,.diy-control.border > .sides > .all {
	display:block;
	cursor:pointer
}
.diy-control.border > .sides > .side.active,.diy-control.border > .sides > .all.active {
	}.diy-control.border > .sides > .side {
	position:absolute;
	border:solid 12px transparent
}
.diy-control.border > .sides > .side:before,.diy-control.border > .sides > .side:after {
	content:'';
	display:block;
	border:solid 10px transparent;
	position:absolute
}
.diy-control.border > .sides > .side i {
	display:block;
	border:solid 8px transparent;
	position:absolute
}
.diy-control.border > .sides > .top,.diy-control.border > .sides > .bottom {
	left:3px;
	width:55px;
	height:0
}
.diy-control.border > .sides > .left,.diy-control.border > .sides > .right {
	top:3px;
	width:0;
	height:55px
}
.diy-control.border > .sides > .top {
	top:0;
	border-top-color:#000000;
	border-bottom-width:0
}
.diy-control.border > .sides > .bottom {
	bottom:0;
	border-bottom-color:#000000;
	border-top-width:0
}
.diy-control.border > .sides > .left {
	left:0;
	border-left-color:#000000;
	border-right-width:0
}
.diy-control.border > .sides > .right {
	right:0;
	border-right-color:#000000;
	border-left-width:0
}
.diy-control.border > .sides > .top:before,.diy-control.border > .sides > .bottom:before {
	width:55px;
	left:-10px
}
.diy-control.border > .sides > .left:before,.diy-control.border > .sides > .right:before {
	height:55px;
	top:-10px
}
.diy-control.border > .sides > .top:before {
	top:-11px;
	border-top-color:#555555;
	border-bottom-width:0
}
.diy-control.border > .sides > .bottom:before {
	bottom:-11px;
	border-bottom-color:#555555;
	border-top-width:0
}
.diy-control.border > .sides > .left:before {
	left:-11px;
	border-left-color:#555555;
	border-right-width:0
}
.diy-control.border > .sides > .right:before {
	right:-11px;
	border-right-color:#555555;
	border-left-width:0
}
.diy-control.border > .sides > .top i,.diy-control.border > .sides > .bottom i {
	width:55px;
	left:-8px
}
.diy-control.border > .sides > .left i,.diy-control.border > .sides > .right i {
	height:55px;
	top:-8px
}
.diy-control.border > .sides > .top i {
	top:-10px;
	border-top-color:#474747;
	border-bottom-width:0
}
.diy-control.border > .sides > .bottom i {
	bottom:-10px;
	border-bottom-color:#474747;
	border-top-width:0
}
.diy-control.border > .sides > .left i {
	left:-10px;
	border-left-color:#474747;
	border-right-width:0
}
.diy-control.border > .sides > .right i {
	right:-10px;
	border-right-color:#474747;
	border-left-width:0
}
.diy-control.border > .sides > .top.active:before {
	border-top-color:#252525
}
.diy-control.border > .sides > .bottom.active:before {
	border-bottom-color:#252525
}
.diy-control.border > .sides > .left.active:before {
	border-left-color:#252525
}
.diy-control.border > .sides > .right.active:before {
	border-right-color:#252525
}
.diy-control.border > .sides > .top.active i {
	border-top-color:#2c2c2c
}
.diy-control.border > .sides > .bottom.active i {
	border-bottom-color:#2c2c2c
}
.diy-control.border > .sides > .left.active i {
	border-left-color:#2c2c2c
}
.diy-control.border > .sides > .right.active i {
	border-right-color:#2c2c2c
}
.diy-control.border > .sides > .all {
	border:solid 1px #1b1b1b;
	position:absolute;
	width:22px;
	height:22px;
	left:30px;
	top:30px;
	background-color:#474747;
	box-shadow:0 1px 1px 0 #6b6b6b inset
}
.diy-control.border > .sides > .all.active {
	background-color:#2c2c2c;
	box-shadow:0 1px 1px 0 #171717 inset
}
.diy-control.border > .sides > .all i {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align:center
}
.diy-control.border > .control {
	width:123px;
	float:left;
	clear:right;
	text-align:left
}
.diy-control.border > .control > .row {
	height:23px;
	line-height:23px;
	margin-bottom:7px
}
.diy-control.border > .control > .row:last-child {
	margin-bottom:0
}
.diy-control.border > .control > .row > .label {
	float:left;
	width:34px;
	text-align:left;
	vertical-align:middle
}
.diy-control.border > .control > .row > .diy-control {
	display:block;
	float:left;
	width:87px
}
.diy-control.border > .control > .row > .diy-control.options .option:last-child {
	border-right:1px solid #131313
}
.diy-control.border .row.style .option i {
	display:inline-block;
	text-align:center
}
.diy-control.border > .sides > .all i:after,.diy-control.border .row.style .option i:after {
	font-family:"icon";
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	vertical-align:middle
}
.diy-control.border > .sides > .all i:after {
	content:'\E61D';
	vertical-align:-7px
}
.diy-control.border .row.style .option.border-style-solid i:after {
	content:'\E619'
}
.diy-control.border .row.style .option.border-style-dashed i:after {
	content:'\E61A'
}
.diy-control.border .row.style .option.border-style-dotted i:after {
	content:'\E61B'
}
.diy-control.border .row.style .option.border-style-none i:after {
	content:'\E633'
}
