.diy-control.font-style > .option > i {
	display:inline-block;
	text-align:center
}
.diy-control.font-style > .option > i:after {
	font-family:"icon";
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	vertical-align:middle
}
.diy-control.font-style > .option.font-style-normal > i:after {
	content:'\E62E'
}
.diy-control.font-style > .option.font-style-italic > i:after {
	content:'\E629'
}
