.diy-control.offset {
	display:block;
	position:relative;
	color:#999999;
	font-size:12px;
	overflow:hidden
}
.diy-control.offset > .box {
	width:160px;
	height:107px;
	margin:16px 30px;
	position:relative
}
.diy-control.offset > .box > .padding {
	position:absolute;
	top:18px;
	bottom:18px;
	left:18px;
	right:18px
}
.diy-control.offset > .box .handle {
	position:absolute;
	display:block;
	font-size:0;
	border:solid 14px transparent
}
.diy-control.offset > .box .handle:before {
	content:'';
	position:absolute;
	display:block;
	font-size:0;
	border:solid 12px transparent
}
.diy-control.offset > .box .handle.left,.diy-control.offset > .box .handle.right {
	width:0;
	top:3px;
	cursor:col-resize
}
.diy-control.offset > .box .handle.left:before,.diy-control.offset > .box .handle.right:before {
	width:0;
	top:-12px;
	cursor:col-resize
}
.diy-control.offset > .box .handle.top,.diy-control.offset > .box .handle.bottom {
	height:0;
	left:3px;
	cursor:row-resize
}
.diy-control.offset > .box .handle.top:before,.diy-control.offset > .box .handle.bottom:before {
	height:0;
	left:-12px;
	cursor:row-resize
}
.diy-control.offset > .box .handle.left {
	left:0;
	border-left-color:#141414;
	border-right-width:0
}
.diy-control.offset > .box .handle.left:before {
	left:-13px;
	border-left-color:#272727;
	border-right-width:0
}
.diy-control.offset > .box .handle.right {
	right:0;
	border-right-color:#141414;
	border-left-width:0
}
.diy-control.offset > .box .handle.right:before {
	right:-13px;
	border-right-color:#272727;
	border-left-width:0
}
.diy-control.offset > .box .handle.top {
	top:0;
	border-top-color:#141414;
	border-bottom-width:0
}
.diy-control.offset > .box .handle.top:before {
	top:-13px;
	border-top-color:#272727;
	border-bottom-width:0
}
.diy-control.offset > .box .handle.bottom {
	bottom:0;
	border-bottom-color:#141414;
	border-top-width:0
}
.diy-control.offset > .box .handle.bottom:before {
	bottom:-13px;
	border-bottom-color:#272727;
	border-top-width:0
}
.diy-control.offset > .box .handle.bottom b {
	position:absolute;
	display:block;
	width:40px;
	height:12px;
	left:0;
	bottom:-12px;
	font-size:12px;
	color:#666666;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-o-transform:scale(0.9);
	transform:scale(0.9)
}
@media(min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.diy-control.offset > .box .handle.bottom b {
	bottom:-13px
}
}.diy-control.offset > .box > .handle.left,.diy-control.offset > .box > .handle.right,.diy-control.offset > .box > .handle.left:before,.diy-control.offset > .box > .handle.right:before {
	height:74px
}
.diy-control.offset > .box > .handle.top,.diy-control.offset > .box > .handle.bottom,.diy-control.offset > .box > .handle.top:before,.diy-control.offset > .box > .handle.bottom:before {
	width:126px
}
.diy-control.offset > .box > .padding > .handle.left,.diy-control.offset > .box > .padding > .handle.right,.diy-control.offset > .box > .padding > .handle.left:before,.diy-control.offset > .box > .padding > .handle.right:before {
	height:38px
}
.diy-control.offset > .box > .padding > .handle.top,.diy-control.offset > .box > .padding > .handle.bottom,.diy-control.offset > .box > .padding > .handle.top:before,.diy-control.offset > .box > .padding > .handle.bottom:before {
	width:90px
}
.diy-control.offset.margin-disabled > .box > .handle,.diy-control.offset.margin-disabled > .box > .handle:before,.diy-control.offset.padding-disabled > .box > .padding > .handle,.diy-control.offset.padding-disabled > .box > .padding > .handle:before {
	cursor:not-allowed;
	color:#5e5e5e
}
.diy-control.offset.margin-disabled > .box > .handle.left,.diy-control.offset.padding-disabled > .box > .padding > .handle.left {
	border-left-color:#2e2e2e
}
.diy-control.offset.margin-disabled > .box > .handle.left:before,.diy-control.offset.padding-disabled > .box > .padding > .handle.left:before {
	border-left-color:#424242
}
.diy-control.offset.margin-disabled > .box > .handle.right,.diy-control.offset.padding-disabled > .box > .padding > .handle.right {
	border-right-color:#2e2e2e
}
.diy-control.offset.margin-disabled > .box > .handle.right:before,.diy-control.offset.padding-disabled > .box > .padding > .handle.right:before {
	border-right-color:#424242
}
.diy-control.offset.margin-disabled > .box > .handle.top,.diy-control.offset.padding-disabled > .box > .padding > .handle.top {
	border-top-color:#2e2e2e
}
.diy-control.offset.margin-disabled > .box > .handle.top:before,.diy-control.offset.padding-disabled > .box > .padding > .handle.top:before {
	border-top-color:#424242
}
.diy-control.offset.margin-disabled > .box > .handle.bottom,.diy-control.offset.padding-disabled > .box > .padding > .handle.bottom {
	border-bottom-color:#2e2e2e
}
.diy-control.offset.margin-disabled > .box > .handle.bottom:before,.diy-control.offset.padding-disabled > .box > .padding > .handle.bottom:before {
	border-bottom-color:#424242
}
.diy-control.offset > .box .handle i {
	position:absolute;
	display:block;
	text-align:center;
	pointer-events:none
}
.diy-control.offset > .box .handle i:after {
	font-family:"icon";
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	vertical-align:middle
}
.diy-control.offset > .box .handle.left i,.diy-control.offset > .box .handle.right i {
	width:12px;
	height:16px;
	top:50%;
	margin-top:-6px
}
.diy-control.offset > .box > .handle.left i {
	left:-15px
}
.diy-control.offset > .box > .handle.right i {
	right:-12px
}
.diy-control.offset > .box > .padding > .handle.left i {
	left:-14px
}
.diy-control.offset > .box > .padding > .handle.right i {
	right:-11px
}
.diy-control.offset > .box .handle.top i,.diy-control.offset > .box .handle.bottom i {
	width:16px;
	height:12px;
	left:50%;
	margin-left:-8px
}
.diy-control.offset > .box .handle.top i {
	top:-14px;
	vertical-align:top
}
.diy-control.offset > .box .handle.bottom i {
	bottom:-12px;
	vertical-align:bottom
}
.diy-control.offset > .box > .handle.left i:after,.diy-control.offset > .box > .padding > .handle.right i:after {
	content:"\E617"
}
.diy-control.offset > .box > .handle.right i:after,.diy-control.offset > .box > .padding > .handle.left i:after {
	content:"\E616"
}
.diy-control.offset > .box > .handle.top i:after,.diy-control.offset > .box > .padding > .handle.bottom i:after {
	content:"\E614"
}
.diy-control.offset > .box > .handle.bottom i:after,.diy-control.offset > .box > .padding > .handle.top i:after {
	content:"\E615"
}
.diy-control.offset > .box .label {
	position:absolute;
	width:26px;
	height:12px;
	padding:2px 1px
}
.diy-control.offset > .box .label:hover {
	color:#25B86F;
	text-decoration:underline
}
.diy-control.offset > .box .label input {
	display:block;
	width:100%;
	height:100%;
	border:none;
	background:#181818;
	font-size:12px;
	color:#c2c2c2;
	border-radius:12px;
	text-align:center;
	outline:none;
	box-shadow:none;
	padding:1px 0
}
.diy-control.offset > .box .label.left,.diy-control.offset > .box .label.right {
	top:50%;
	margin-top:-8px
}
.diy-control.offset > .box .label.top,.diy-control.offset > .box .label.bottom {
	left:50%;
	margin-left:-15px;
	text-align:center
}
.diy-control.offset > .box > .label.left {
	left:-30px;
	text-align:right
}
.diy-control.offset > .box > .label.right {
	right:-30px;
	text-align:left
}
.diy-control.offset > .box > .label.top {
	top:-17px
}
.diy-control.offset > .box > .label.bottom {
	bottom:-16px
}
.diy-control.offset > .box > .padding > .label.left {
	left:15px;
	text-align:left
}
.diy-control.offset > .box > .padding > .label.right {
	right:15px;
	text-align:right
}
.diy-control.offset > .box > .padding > .label.top {
	top:15px
}
.diy-control.offset > .box > .padding > .label.bottom {
	bottom:15px
}
.diy-control.offset.margin-disabled > .box > .label,.diy-control.offset.padding-disabled > .box > .padding > .label {
	display:none
}
.diy-control.offset > .control {
	position:absolute;
	right:1px;
	top:0;
	bottom:0
}
.diy-control.offset > .control > .action {
	position:absolute;
	display:block;
	right:0;
	width:21px;
	height:21px;
	border:solid 1px #141414;
	box-shadow:0 1px 1px 0 #6B6B6B inset;
	background-color:#474747;
	color:#848484;
	cursor:pointer;
	text-align:center
}
.diy-control.offset > .control > .action.active {
	border-color:#4d4d4d;
	box-shadow:0 0 0 1px #1f1f1f inset;
	background-color:#2c2c2c;
	cursor:default
}
.diy-control.offset > .control > .center {
	top:16px
}
.diy-control.offset > .control > .reset {
	bottom:16px
}
.diy-control.offset > .control > .center > i,.diy-control.offset > .control > .reset > i {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:block
}
.diy-control.offset > .control > .center > i:after,.diy-control.offset > .control > .reset > i:after {
	font-family:"icon";
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	vertical-align:-50%
}
.diy-control.offset > .control > .center > i:after {
	content:"\E610"
}
.diy-control.offset > .control > .reset > i:after {
	content:"\E618"
}
