.diy-control.switcher {
	display:inline-block
}
.diy-control.switcher > .switch {
	width:40px;
	height:19px;
	border:1px solid #212121;
	position:relative;
	overflow:hidden
}
.diy-control.switcher > .switch > .control {
	border:1px solid #1b1b1b;
	height:19px;
	width:8px;
	background-color:#474747;
	position:absolute;
	top:-1px;
	box-shadow:1px 0px 2px #212121;
	z-index:10
}
.diy-control.switcher > .switch > .control:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	border:1px solid #545454;
	width:6px;
	height:17px
}
.diy-control.switcher > .switch > .on,.diy-control.switcher > .switch > .off {
	position:absolute;
	width:29px;
	height:17px;
	background-color:#292929;
	border:1px solid #262626;
	cursor:pointer
}
.diy-control.switcher > .switch > .off:before {
	content:'';
	position:absolute;
	width:8px;
	height:8px;
	border-radius:8px;
	border:1px solid #606060;
	left:10px;
	top:4px;
	box-shadow:-1px 0px 0px #000,1px 0px 0px #000
}
.diy-control.switcher > .switch > .on:before {
	content:'';
	position:absolute;
	width:3px;
	height:10px;
	background-color:#2bb559;
	left:13px;
	top:3px;
	box-shadow:1px 0px 3px #365f44,-1px 0px 3px #365f44,0 1px 3px #365f44,0 -1px 3px #365f44
}
.diy-control.switcher > .switch > .control {
	transition:right 0.3s ease-in-out
}
.diy-control.switcher > .switch > .on {
	transition:left 0.3s ease-in-out
}
.diy-control.switcher > .switch > .off {
	transition:right 0.3s ease-in-out
}
.diy-control.switcher > .switch.on > .control {
	right:-1px
}
.diy-control.switcher > .switch.on > .on {
	left:0
}
.diy-control.switcher > .switch.on > .off {
	right:-29px
}
.diy-control.switcher > .switch.off > .control {
	right:31px
}
.diy-control.switcher > .switch.off > .on {
	left:-29px
}
.diy-control.switcher > .switch.off > .off {
	right:0
}
