html, body {overflow:hidden; padding-bottom: 0;}
.business s, .r-nav li a s, .noticify .tit .sound {background:url(../../images/admin/pubIcon.png?v=5) no-repeat;}
.wrap {min-width:980px;}

.oldie .wrap {display: none;}

/* header 导航 */
.header {position:relative; z-index:666; padding:0 10px; height:40px; line-height:40px; background:#2672ec; color:#fff;}
.header a {color:#fff;}
.header a:hover {text-decoration:none;}
.h-left {float:left; position:relative; height:40px;}
.business {position:relative; float:left; height:21px; padding:0 10px 0 30px; margin-top:9px; background:#f00; line-height:21px; color:#fff; font-size:12px;}
.business s {position:absolute; left:5px; top:-1px; width:23px; height:32px; background-position:-6px -2px;}
.h-nav {float:left; margin-left:30px;}
.h-nav li {position:relative; float:left; margin-right:1px; list-style:none; font-size:18px;}
.h-nav li a {padding:0 15px; display:block; line-height:40px;}
.h-nav li a:hover, .h-nav li.cur a, .h-nav li:hover a {background:#1e5dc2;}
.h-right {float:right; position:relative; height:40px;}
.r-nav li {float:left; margin-left:1px; list-style:none; font-size:18px;}
.r-nav li a {padding:0 5px; display:block; line-height:35px;}
.r-nav li.home a {padding:0 15px;}
.r-nav li:hover {background:#1e5dc2;}
.r-nav li a:hover, .r-nav li.cur a {background:#1e5dc2; line-height: 35px;}

.r-nav li.notice a i {display: inline-block; height: 16px; padding: 0 5px; border-radius: 3px; margin-left: 5px; line-height: 16px; color: #fff; background: #f00; font-size: 12px; vertical-align: middle; font-style: normal;}

.r-nav li a s {width:33px; height:40px; display:inline-block; text-align:center; overflow:hidden; text-indent:-888em; vertical-align: middle;}
.r-nav li.notice a s {background-position:-247px -66px;}
.r-nav li.preview a s {background-position:-309px 3px;}
.r-nav li.config a s {background-position:-37px 3px;}
.r-nav li.sear a s {background-position:-72px 3px;}
.r-nav li.exit a s {background-position:-108px 3px;}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeIn{
	0%{opacity:0;	-webkit-transform:translateY(-10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes topFadeIn{
	0%{opacity:0;	-moz-transform:translateY(-10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes topFadeIn{
	0%{opacity:0;	transform:translateY(-10px);}
	100%{opacity:1; transform:translateY(0);}
}

/* 消息通知 */
.noticify {position: absolute; left: -130px; top: 40px; width: 375px; background: #fff; border: 1px solid #b5b5b5; border-radius: 5px; box-shadow: 0 5px 15px rgba(0,0,0,.3); display: none; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; border-top: none;}
.noticify .arrow, .noticify .arrow:after {position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid;}
.noticify .arrow {top: -6px; left: 50%; border-width: 6px; margin-left: -5px; border-bottom-color: #999; border-bottom-color: rgba(0,0,0,0.25); border-top-width: 0;}
.noticify .arrow:after {border-width: 5px; content: ""; top: 1px; margin-left: -5px; border-bottom-color: #f7f7f7; border-top-width: 0;}
.noticify .tit {height: 37px; background: #f7f7f7; border-bottom: 1px solid #ebebeb; border-radius: 5px 5px 0 0;}
.noticify .tit h3 {float: left; font-size: 14px; color: #666; line-height: 37px; padding: 0; margin: 0; margin-left: 10px;}
.noticify .tit .sound {float: right; width: 18px; height: 15px; margin: 10px 15px 0 0; padding: 0; background-position: -309px -79px;}
.noticify .tit .sound.un {background-position: -284px -79px;}
.noticify .con {padding: 25px 0 15px 30px;}
.noticify ul {padding: 0; margin: 0;}
.noticify li {float: left; width: 60px; height: 60px; border-radius: 50%; background: #f7f7f7; text-align: center; margin: 0 25px 15px 0;}
.noticify li a {position: relative; padding: 0; margin: 0; line-height: 18px; font-size: 14px; display: block; height: 38px; padding: 11px 10px; border-radius: 50%; color: #2a2a2b;}
.noticify li.f2 a {font-size: 18px; padding: 11px 0; line-height: 38px;}
.noticify li:hover, .noticify li a:hover {background: #e1e1e1;; line-height: 18px;}
.noticify li.f2:hover, .noticify li.f2 a:hover {line-height: 38px;}

/* 摆动 */
@-moz-keyframes swing{0%{transform:translate3d(0,0,0)}100%{transform:translate3d(0,-5px,0)}}
@-webkit-keyframes swing{0%{transform:translate3d(0,0,0)}100%{transform:translate3d(0,-5px,0)}}
@keyframes swing{0%{transform:translate3d(0,0,0)}100%{transform:translate3d(0,-5px,0)}}

.noticify li:hover {-webkit-animation: swing .7s linear 0s infinite alternate; -moz-animation: swing .7s linear 0s infinite alternate; animation: swing .7s linear 0s infinite alternate;}
.noticify li a em {position: absolute; right: -3px; top: -5px; min-width: 18px; height: 18px; line-height: 18px; border: 1px solid #fff; color: #fff; background: #f00; border-radius: 10px; font-size: 11px; font-style: normal;}


/* 二级导航 */
.sub-nav {position:absolute; left:0; z-index:100; display:none; padding:15px 0 15px 20px; margin:0; background:rgba(251, 251, 251, 1); border-radius:0 0 5px 5px; box-shadow:0 10px 30px rgba(0, 0, 0, .3);}
.sub-nav dl {padding:0; margin:0;}
.sub-nav dl dt {margin-bottom:5px;}
.sub-nav dl dt span {width:120px; display:inline-block; margin-right:20px; font-size:14px; color:#fff; background:#666; font-weight:700; text-indent:10px; line-height:21px;}
.sub-nav dl dd {float:left; margin:0 20px 0 0; width:120px;}
.sub-nav dl dd a {padding:0; line-height:25px; color:#555; font-size:14px; text-indent:10px;}
.h-nav li:hover .sub-nav dl dd a {background:none;}
.h-nav li:hover .sub-nav dl dd a:hover {color:#cd0200;}
.sub-nav dl dd a:hover {text-decoration:underline;}

.r-nav .form-search a {display:inline-block; font-size:12px; color:#333;}
.r-nav .form-search a:hover {background:none;}
.icon-align-justify {background-image:url("../../images/admin/glyphicons-halflings.png");}

/* 预览模块列表 */
.r-nav .preview .sub-nav {padding: 5px; left: auto;}
.r-nav .preview .sub-nav a {display: block; color: #333; font-size: 14px; line-height: 25px;}
.r-nav .preview .sub-nav a:hover {color: #fff;}

/* 模块二级导航 */
.sub-top {height:21px;}
.sub-top .tab {float:left; margin:0;}
.sub-top .tool-r {float:right; margin-right:20px;}
.sub-nav .sub-top a {padding:0 10px; line-height:21px; font-size:14px; margin-right:5px;}
.sub-nav .sub-top .tool-r a {margin-left:5px;}
.h-nav li .sub-top a {background:none; color:#333; -webkit-transition:none; -moz-transition:none; transition:none;}
.h-nav li .sub-top .selected a {background:#1e5dc2; color:#fff;}
.h-nav li .sub-top .red a {background:#f00; color:#fff;}

/* 分类图标 */
.model-list {padding:10px 20px 0 0;}
.model-list ul {margin:0;}
.model-list ul li {width:60px; padding:5px 0 0; margin-right: 15px; text-align:center;}
/*.model-list ul li.cur {background-color:#feffd5;}*/
.model-list ul li.placeHolder {padding:9px 0 4px; border:1px dashed #bcbcbc; background:#ffffec; border-radius:3px;}
.model-list ul li s {width:58px; height:58px; border-radius:5px; display:block; background-color: #fafafa; border:1px solid #eee; margin:0 auto;}
.model-list ul li s img {width: 40px; height: 40px; display: block; margin: 9px auto;}
.model-list ul li.cur s {background-color:#f3f3f3;}

.h-nav .model-list ul li a {padding:0; color:#666; font-size:14px; line-height:32px; background:none; overflow: hidden; display: block; white-space: nowrap; text-overflow: ellipsis;}
.h-nav li:hover .model-list ul a {background:none;}
.h-nav .edit ul li:hover {padding:9px 0 4px; border:1px dashed #bcbcbc; border-radius:3px;}
.h-nav .edit ul li, .h-nav .edit ul li a {cursor:move;}

/* 模块三级导航 */
.h-nav .model-info {padding:0 20px 0 0;}
.h-nav .model-info dl {float:none; width:100%;}
.h-nav .model-info dt {position:relative; background:none; text-indent:0; border-bottom:1px solid #e0e0e0; margin-bottom:10px; line-height:30px;}
.h-nav .model-info dt span {display:inline-block; width:auto; background:none; text-indent:0; cursor:pointer; margin:0 0 -1px; padding:0 15px; font-size:14px; color:#555; line-height:30px;}
.h-nav .model-info dt span.cur {background:#e9e9e9;}
.h-nav .model-info dd {position:relative; float:none; margin:0; width:auto; overflow:hidden; background:#feffd5; padding:5px 0 5px 8px;}
.h-nav .model-info dd a {float:left; line-height:25px; text-indent:0; padding:0 10px; margin-right:10px;}

/* 欢迎提示 */
.welcome {padding:10px; line-height:36px; font-size:16px; color:#666;}
.welcome p {margin:0; padding:0 10px;}
.welcome p strong {color:#ff3c00;}

.welcome-nav {padding:0 10px 9px;}
.welcome-nav dl {margin:0 0 10px;}
.welcome-nav dl:last-child {margin:0;}
.welcome-nav dt {position:relative; background:none; text-indent:0; border-bottom:1px solid #e0e0e0; margin-bottom:5px; line-height:30px;}
.welcome-nav dt span {display:inline-block; cursor:pointer; margin-bottom:-1px; padding:0 15px; font-size:14px; color:#555; line-height:30px;}
.welcome-nav dt span.cur {background:#e9e9e9;}
.welcome-nav dd {position:relative; overflow:hidden; margin-left:8px;}
.welcome-nav dd a {float:left; font-size:14px; color:#555; margin:5px 10px 0 0; padding:0 10px; line-height:21px;}
.welcome-nav dd a.on {background:#616ed3; color:#fff; border-radius:3px;}

/* 主导航条 */
.default-nav {position:relative; padding:0 10px; border-bottom:3px solid #2672ec; margin-bottom:2px;}
.default-nav .navul {float:left; overflow:hidden;}
.default-nav ul {float:left; height:34px; z-index:1; overflow:hidden; list-style:none; margin:0;}
.default-nav li {position:relative; z-index:3; float:left; display:block; margin:0 0 -1px -1px; color:#6a6a6a; border-radius:4px 4px 0 0; border:1px solid #ddd; background-color:#f8f9f9; background-image:-webkit-gradient(linear, left top, left bottom, from(#fdfefe), to(#f4f5f5)); background-image:-webkit-linear-gradient(#fdfefe, #f4f5f5); background-image:-moz-linear-gradient(#fdfefe, #f4f5f5); background-image:-ms-linear-gradient(#fdfefe, #f4f5f5); background-image:-o-linear-gradient(#fdfefe, #f4f5f5); background-image:linear-gradient(#fdfefe, #f4f5f5); list-style:none;}
.default-nav li:hover {background-image:-webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#fdfefe)); background-image:-webkit-linear-gradient(#f4f5f5, #fdfefe); background-image:-moz-linear-gradient(#f4f5f5, #fdfefe); background-image:-ms-linear-gradient(#f4f5f5, #fdfefe); background-image:-o-linear-gradient(#f4f5f5, #fdfefe); background-image:linear-gradient(#f4f5f5, #fdfefe);}
.default-nav li.cur {background:#2672ec; color:#fff; border:1px solid #2672ec;}
.default-nav li b {position:absolute; width:8px; height:8px; left:6px; top:13px; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAIAQMAAAALP6d4AAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAADnQAAA50AWsks9YAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzQGstOgAAAAEElEQVQImWNQYFBg+MEAJwEVkAKx1echuQAAAABJRU5ErkJggg==); cursor:move;}
.default-nav li label {padding:0 30px 0 20px; margin:0; line-height:33px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:16px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none;}
.default-nav li.firstnav {border-bottom:none; z-index:4;}
.default-nav li.firstnav label {padding:0 20px;}
.default-nav li label s {position:absolute; top:11px; right:10px; width:13px; height:13px; border-radius:3px; text-align:center; line-height:13px; color:#bdc2e9; text-decoration:none; font-family:arial; font-size:18px; font-weight:500; -moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in;}
.default-nav li label s:hover {background:#1052bd; color:#fff;}
.default-nav li.lastnav {display:none; z-index:2; border-radius:0 4px 0 0; border-bottom:none; height:28px; line-height:28px; margin:5px 0 0 -2px; padding:0 12px;}
.default-nav li.lastnav s {position:absolute; content:""; width:0; height:0; border-bottom:#transparent 4px solid; border-left:transparent 4px solid; border-top:#6a6a6a 4px solid; border-right:transparent 4px solid; top:11px; left:8px;}

/* 浮动菜单 */
.menu-scroll {overflow-x:hidden;}
.dropdown-menu li.closeall a:before {content:"×"; position:absolute; left:8px; top:5px; -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; border-radius:2px; background-color:#e75e48; border:1px solid #b3503c; width:13px; height:13px; text-indent:0; text-align:center; line-height:13px; color:#fff; font-weight:700;}
.dropdown-menu li a {position:relative; text-indent:10px;}
.dropdown-menu li.cur a:before {content:"●"; position:absolute; left:2px; top:2px;}
.dropdown-menu li a s {position:absolute; right:10px; top:3px; font-weight:700; text-decoration:none; display:none;}
.dropdown-menu li a:hover s {display:block;}

/* 刷新、全屏 */
.options {position:absolute; z-index:555; top:10px; right:15px; height:22px; border:1px solid #eee; border-right:0; background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f4f5)); background-image:-webkit-linear-gradient(#ffffff, #f3f4f5); background-image:-moz-linear-gradient(#ffffff, #f3f4f5); background-image:-ms-linear-gradient(#ffffff, #f3f4f5); background-image:-o-linear-gradient(#ffffff, #f3f4f5); background-image:linear-gradient(#ffffff, #f3f4f5);}
.options a {float:left; width:12px; height:12px; padding:5px 8px; overflow:hidden; line-height:12px; text-indent:-999em; border-right:1px solid #eee;}
.options a s {width:12px; height:12px; display:block; vertical-align:middle; background:url(../../images/admin/glyphicons-halflings.png) no-repeat; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6; -moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in;}
.options a.refresh s {background-position:-217px -25px;}
.options a.full_screen s {background-position:-457px -145px;}

/* 主体内容 */
.body {position:relative; overflow: auto; -webkit-overflow-scrolling: touch;}
.body iframe {height:98.5%;	width:99.99%; z-index:20;}

/* 快速编辑层 */
.quick-editForm {margin:0; padding-left:5px;}
.quick-editForm dl {margin:0 0 8px;}
.quick-editForm dt {float:left; width:100px; line-height:30px; text-align:right; font-weight:500;}
.smsForm dt {width: 130px;}
.quick-editForm dd {position:relative; overflow:hidden; text-align:left; padding-left:5px; line-height:30px;}
.quick-editForm dd label {float:left; margin:0 10px 0 0; line-height:30px;}



/* 浏览器升级提示 */
.update-layer {position: fixed; _position: absolute; top: 0; left: 0; right: 0; bottom: 0; _width: 100%; _height: 950px; background-color: #000; opacity: .5; filter: alpha(opacity=50); z-index: 1000; overflow: hidden;}
.update-frame {width: 690px; height: 260px; z-index: 1001; left: 50%; top: 50%; margin-left: -365px; margin-top: -170px; padding: 40px 0 40px 40px; position: fixed; _position: absolute; background: url(../../images/admin/browserBg.jpg); overflow: hidden;}
.update-frame h2 {margin: 0; font-size: 20px; color: #666f8e; font-weight: 500;}
.update-frame h3 {margin: 0 0 20px; line-height: 30px; font-size: 17px; color: #f60; font-weight: 500;}
.update-frame p {color: #999; font-size: 12px;}
.update-frame p img {vertical-align: middle; margin: -3px 3px 0 0;}
.update-frame ul {width: 200%; height: 80px; margin: 0; padding: 20px 0 0 0;}
.update-frame li {float: left; width: 70px; text-align: center; list-style: none; margin: 0 43px 0 0; padding: 0;}
.update-frame li a {display: block; line-height: 25px; color: #666465; font-size: 12px;}
.update-frame li a img {width: 55px; height: 55px; display: block; margin: 0 auto 5px;}
.update-frame li a:hover {color: #666465; text-decoration: none;}
.update-frame .tip {position: absolute; right: 15px; bottom: 5px;}
.update-frame .tip strong {color: #888;}
.update-frame .tip a {color: #999; border-bottom: 1px dotted #999;}
.update-frame .tip a:hover {text-decoration: none;}
