body {font-family:microsoft yahei; background:#fff url(../../images/admin/loginBG.jpg) repeat-x top center;}
a {color:#000;}

.bgmark {position:absolute; top:20px; right:10px; z-index:0; width:328px; height:320px; background:url(../../images/admin/birdRT.png) no-repeat top right;}

.wrap {position:relative; width:1000px; margin:0 auto; z-index:1;}
.l-left {float:left; width:460px; padding-top:30px;}
.l-right {float:left;}
.l-right h2 {font-size:30px; font-weight:500; color:#333;}
.l-right dl {margin-bottom:15px;}
.l-right dt label {display:inline; line-height:40px; font-size:16px; color:#555;}
.l-right dd {margin:0;}
.l-right dd .l-input {position:relative;}
#password {font-family:Verdana,Tahoma,Arial; width: 256px; padding-right: 44px;}
.l-right dd .l-input s {position:absolute; z-index:2; top:0; left:5px; width:36px; height:40px; background:url(../../images/admin/lIcon.png) no-repeat;}
.l-right dd .username s {background-position:0 -2px;}
.l-right dd .password s {background-position:0 -40px;}
.l-right .loginInput {position:relative; z-index:1; width:290px; height:32px; font-size:18px; line-height:32px; padding:5px 10px 5px 40px; margin:0;}
.l-right .rember label {display:inline; line-height:18px;}
.l-right .submit {padding-top:15px;}
.l-right .submit input {padding:11px 35px; letter-spacing:5px;}
.l-right p {line-height:1.5em; color:#666;}
#togglePassword {position: absolute; z-index: 2; right: 1px; top: 1px; width: 42px; height: 42px; background: #fff url(../../images/admin/lIcon.png) 4px -78px; font-size: 0; text-indent: -999em; cursor: pointer;}
#togglePassword.active {background-position: 4px -111px;}

/* 版权信息 */
.copyright {position:absolute; bottom:0; left:0; width:100%; font-size:12px; line-height:30px; text-align:center;}


.oldie .wrap, .oldie .bgmark, .oldie .copyright {display: none;}

/* 浏览器升级提示 */
.update-layer {position: fixed; _position: absolute; top: 0; left: 0; right: 0; bottom: 0; _width: 100%; _height: 950px; background-color: #000; opacity: .5; filter: alpha(opacity=50); z-index: 1000; overflow: hidden;}
.update-frame {width: 690px; height: 260px; z-index: 1001; left: 50%; top: 50%; margin-left: -365px; margin-top: -170px; padding: 40px 0 40px 40px; position: fixed; _position: absolute; background: url(../../images/admin/browserBg.jpg); overflow: hidden;}
.update-frame h2 {margin: 0; font-size: 20px; color: #666f8e; font-weight: 500;}
.update-frame h3 {margin: 0 0 20px; line-height: 30px; font-size: 17px; color: #f60; font-weight: 500;}
.update-frame p {color: #999; font-size: 12px;}
.update-frame p img {vertical-align: middle; margin: -3px 3px 0 0;}
.update-frame ul {width: 200%; height: 80px; margin: 0; padding: 20px 0 0 0;}
.update-frame li {float: left; width: 70px; text-align: center; list-style: none; margin: 0 43px 0 0; padding: 0;}
.update-frame li a {display: block; line-height: 25px; color: #666465; font-size: 12px;}
.update-frame li a img {width: 55px; height: 55px; display: block; margin: 0 auto 5px;}
.update-frame li a:hover {color: #666465; text-decoration: none;}
.update-frame .tip {position: absolute; right: 15px; bottom: 5px;}
.update-frame .tip strong {color: #888;}
.update-frame .tip a {color: #999; border-bottom: 1px dotted #999;}
.update-frame .tip a:hover {text-decoration: none;}