<!-- 右侧 留下足迹 s -->
<div class="leaveMsg">
	<div class="k1">
		<div class="user"></div>
		<div class="mid">
			<div class="pen"><i></i></div>
			<div class="txt">立即预约</div>
		</div>
		<div class="btm"></div>
	</div>
	<div class="k2">
		<a href="javascript:;" class="close" title="隐藏"></a>
		<p class="title">请您留下相关信息</p>
		<div class="formk">
			<form action="" class="form">
				<p>您的称呼：</p>
				<input type="text" class="int username">
				<p>您的手机号码：</p>
				<input type="text" class="int userphone">
				<p>您的小区：</p>
				<input type="text" class="int community">
				<input type="submit" class="submit" value="提交">
			</form>
		</div>
	</div>
</div>
<!-- 右侧 留下足迹 e -->
