/*body{background: #f9f9f9;}*/
.nav{position: fixed; top: .9rem; left: 0; right: 0; background: #f4f5f6; /*height: .7rem;*/ line-height: .7rem; z-index: 2;}
.huoniao_iOS .nav {top:0; }
.nav .nav_more{position: absolute; right: 0; top: 0; bottom: 0; width: .8rem; height: .7rem; background: #f4f5f6; opacity: 1; z-index: 1;}
.nav .nav_more .more_btn{width: 100%; height: 100%; display: block; background: url(../images/arrow.png) no-repeat center; background-size: .2rem;}
.nav .menu_list{position: relative; white-space: nowrap; overflow-x: auto; overflow-y: hidden;-webkit-overflow-scrolling:touch;}
.nav .menu_list a{font-size: .25rem; display: inline-block; padding: 0 .18rem;}
.nav .menu_list a.active{color: #766cf7;}
.absolute.header{position:fixed;}

/*主体内容*/
.con_box{display: none;}
.show{display: block;}

/*头部幻灯片部分*/
.wrapper{position: relative; top: 1.63rem; overflow: hidden;}
.huoniao_iOS .wrapper {top:.7rem;}
.wrapper .swiper-container {height: 2.5rem;color: #fff;text-align: center;}
.wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.wrapper .swiper-wrapper img {height: 2.5rem; display: block;}
.wrapper .swiper-wrapper .slideinfo {display: none;}
.wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .03rem;width: 100%;}
.wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.wrapper .swiper-active-switch {background: #fff;}
.wrapper .swiper-dynamic-links {text-align: center;}
.wrapper .swiper-pagination-bullet{opacity: 0.5;}
.wrapper .swiper-pagination-bullet-active{background: #fff!important;opacity: .9;}
.wrapper .swiper-pagination-bullet{width: 6px;height: 6px;}

/*直播列表*/
.live_list{margin-top: 1.9rem; padding: 0 .2rem; overflow: hidden;}
.huoniao_iOS .live_list{margin-top: .9rem;}
.list_title{display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; margin-bottom: 0.2rem;}
.list_title > img{height: .4rem; margin-right: 0.15rem;}
.list_title .span_title{display: inline-block; font-size: .3rem; letter-spacing: .05rem; font-weight: bolder;}

.live_box{float:left;position: relative; width:48%; border: solid 1px #eee; margin-bottom: 0.2rem;margin-right:2.5%;}
.live_box:nth-child(2n){float:left;margin-bottom: 0.2rem;margin-right:0;}

.box_img{height: 2rem;}
.box_img img{width:100%;height: 2rem;}

.live_intro{padding: 0.08rem; overflow: hidden;}
.intro-left{float: left;width: 25%;}
.intro-left img{width: 0.58rem; height: 0.58rem; border-radius: 50%; margin: 0 4% 0 0;}
.intro_right{position: relative; overflow: hidden;}
.p_font1{width: 90%; font-size: 0.25rem; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.p_font2{font-size: 0.2rem;}
.p_font2 .sp_name{float: left;  display: block;width:1.2rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.p_font2 .img_icon{display: inline-block; width: 48%; text-align: right;}
.intro_right p .img_icon img{height: 0.2rem;}
.intro_right p .img_icon span{margin-left: 6%; display: inline-block;}

/*状态*/
.live_state{position: absolute; top:0.25rem; right: 0.25rem; width: 1rem; height: 0.45rem; color: #fff; font-size: 0.2rem; line-height: 0.45rem; text-align: center; background: #766cf7; border-radius: 0.8rem;}
.publist{position: fixed; bottom: .5rem; right:0.2rem; width: 1.1rem; height: 1.1rem; font-size: .2rem; text-align: center;  background: url("../images/publish_bg.png") no-repeat; background-size: cover;}
.publist a{color: #fff!important;}
.publist img{width: 0.3rem; margin-top: .2rem;}

/*-----------主播首页--------------*/
header{display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; height: 2rem; color: #fff; margin-top: 0.93rem; padding:0 0.2rem; background: url("../images/anchor_bg.png") no-repeat center;}
.huoniao_iOS header{margin-top: 0;}
.head_box,.head_box img{width: 1rem; height: 1rem; border-radius: 50%;}
.head_box{ border: solid 2px #fff; box-shadow: 2px 1px 3px rgba(0,0,0,.3);}
header > div{display: inline-block; margin:10% 0;}
.head_info{width: 60%; margin:0 6%; line-height: 0.5rem;}
.anchor_name{font-size: .29rem;}
.head_info p>span{margin-right: 10%;}
.head_care .btn_care{width: 1rem; height: .5rem; background: none; color: #fff; border:solid 1px #fff ; border-radius: 3px;}
.btn_care1{width: 1rem; height: .5rem; font-size: .2rem; padding:.05rem; color: #fff; text-align: right; border:solid 1px #fff ; border-radius: 3px; background:url("../images/radio_check.png") no-repeat 5%; background-size: 20%;}

/*切换*/
.nav_tab{height: 0.8rem; line-height: 0.8rem; border-bottom: solid 2px #f2f2f2;}
.nav_tab .tab_title{width: .6rem;margin: 0 12%;text-align: center; display: inline-block;font-size: .28rem;}
.nav_tab .tab_title.active{transition: all 0.1s; border-bottom: solid 2px #766cf7;}

/*主播的直播列表*/
.con_list{padding:0.1rem 0.2rem;display: none;}
.an_show{display: block;}
.anchor_box{padding:0.2rem 0; overflow: hidden; border-bottom: solid 1px #f5f5f5;}
.anchor_box .an_left{position: relative; width: 40%; float: left;}
.anchor_box .an_left img{width: 100%;height: 1.6rem;}
.anchor_box .an_right{width: 57%; float: left; margin-left:3% ;}
.anchor_box .an_right h5{font-size: 0.28rem; margin-bottom: 3%; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.anchor_box .an_right p{color: #a0a0a0;}
.anchor_box .an_right p img{height: .2rem; margin-right: 2%;}
.anchor_box .an_right p.an_style{margin-top: 12%;}
.anchor_box .an_right p.an_style .sec_style{margin: 0 30% 0 10%;}
.playback{position: absolute; top:0.18rem; right: 0.16rem; width: 1rem; height: .4rem; line-height: .4rem; text-align: center; color: #fff; font-size: .2rem; background: #707070; border-radius: 0.8rem;}
.playback.state0 {background: #ccc;}
.playback.state1 {background: #02bf23;}
.playback.state2 {background: #f44;}

/*粉丝列表*/
.fans_box{width: 100%; padding:0.2rem 0; overflow: hidden;}
.box_info{width: 20%; float: left; margin: 1% 0; text-align: center;}
.box_info p{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.fans_img img{width: 1.2rem; height: 1.2rem; margin: auto; border-radius: 50%;}

.loadmore {text-align: center;}

/*主播直播列表*/
.an_list{padding:0.1rem 0.2rem; margin-top: .93rem;}
.huoniao_iOS .an_list{padding-top: 20px;}

/*发起直播*/
.publish_live{margin-top: 0.93rem;  background: #f8f8f8;}
.live_banner{position: relative; width: 100%; height: 3.6rem; text-align: center; color: #fff; background: url("../images/publish_banner.png") no-repeat center center; background-size:cover;}
.default_tip img{width: .54rem; margin-top: 15%; line-height: .6rem;}
.default_tip h5{font-size: 0.28rem; line-height: .6rem;}
.default_tip p{line-height: .2rem; font-size: 0.2rem;}
.input_file{cursor: pointer; position: absolute; left:.2rem; bottom:.3rem; display: flex; display: -webkit-flex; width: 90%; text-align: left; overflow: hidden;}
.input_file img{height: .3rem; margin-right: 2%;}
.input_file span{font-size: .2rem; display:inline-block;}
.input_title{background:#fff;padding:0 .2rem;margin-bottom: .2rem;}
.input_title input{width: 100%; height: 1rem; border: none; font-size: 0.28rem;background:#fff;}
.set_info li{position: relative; width: 100%; font-size: 0.28rem; height: .8rem; line-height: .8rem; border-bottom: solid 1px #f5f5f5;}
.set_info li:last-child{border-bottom: none;}
.pub_info{background: #fff;padding:0 .2rem;}
.pub_info li{height: 1rem; line-height: 1rem;}
.pub_info input{position: relative;  right: .2rem; width: 72%;  float: right;font-size: .26rem;  border: 0;  outline: 0;  padding: .35rem .2rem .3rem 0; text-align: right; background:#fff; }
.right_icon {  width: .2rem;  height: .3rem;  vertical-align: middle;  position: absolute;  right: 0;  top: 34%;  background: url(../images/pub_right.png) center center no-repeat;  background-size: .2rem auto;  display: block; }
/*直播类型*/
.li_pass,.li_collect{display: none;}
.li_pass input[type="password"]{width:90%;text-align:left;}
.li_collect{  color: #333;}
.li_collect label{  margin-left: 5%;}
.li_collect input[type="text"]{  color: #333;  width: .6rem;  position: static; float: none;  text-align: center;  padding: .3rem 0;}
.money_collect{position: absolute;  right: 0; }
.symbol{ margin: 0 .1rem;}
.li_live{display: flex;}
.live_sel{position: relative; left:42%;}
.h_live,.v_live{display: inline-block; width: 1.3rem;}
.h_screen{display: inline-block; width: .32rem; height: .32rem; border: solid 1px #c9c9c9; border-radius: 50%; margin-right: .2rem; vertical-align: middle;}
.h_screen.active{border: solid 1px #766cf7; background: #766cf7 url("../images/radio_check.png") no-repeat center center; background-size: 70%;}
.button_create{padding: .8rem .2rem; background: #fff;}
.btn_create{width: 100%; height: 0.7rem; border: none; color: #fff; font-size: 0.28rem; background: #766cf7; border-radius: 4px;}


/*弹出框*/
.sel_modal{position: fixed; top:0; left:0; width: 100%; height: 100%; background: rgba(0,0,0,0.3); z-index:99;}
.modal_box{position: fixed; top:31%; left: 10%; width: 80%;}
.modal_title{position: relative; color: #fff; font-size: .28rem; height: .75rem; line-height: .75rem; text-align: center; background: url("../images/modal_title.png") no-repeat center; background-size: cover; border-top-left-radius:4px ; border-top-right-radius:4px ;}
.modal_title img{height: .4rem; position: absolute; right: .2rem; top: .2rem;}
.modal_main{height: 4.8rem; padding:0.2rem; background: #fff; border-bottom-left-radius:4px ; border-bottom-right-radius:4px ;}
.modal_main ul{height: 4.7rem; overflow: auto;-webkit-overflow-scrolling:touch;}
.modal_main ul li{position: relative; width: 1.7rem; margin: .05rem; display: inline-block;}
.modal_main ul li img{width: 100%;}
.modal_main ul li.active:after{content:''; width: .3rem; height: .3rem; background:url("../images/select.png") no-repeat center; background-size: cover; position: absolute; top: 33%; left: 42%; z-index: 9999;}
.picture_box > div img{width: 100%;}

/*直播详情*/
.live_video{width: 100%; height: 3.5rem; background: #ccc; margin-bottom: .2rem;}
/*.set_info .det_right{position: absolute; right: 2%; color: #a0a0a0;}*/
.set_info .det_right{width:70%;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position: absolute; right: 0;padding:0 .2rem; color: #a0a0a0;}
.detail_main{padding:0 0.2rem; background: #fff;}
.live_button{width: 100%; padding-bottom: .4rem;}
.live_button button{width: 48%; display: inline-block; height: 0.7rem; border: none; color: #fff; font-size: 0.28rem; border-radius: 4px;}
.btn_start{background: #766cf7; margin-right: 1%;}
.btn_end{background: #1ce2db; margin-left: 1%;}
.reset_con{background: #fff; height: .8rem; text-align: center; line-height: .8rem; margin-top: .2rem;}

/*详情页——————横屏*/
.hLive_con,.vLive_con{margin-top: .9rem;}
.huoniao_iOS .vLive_con ,.huoniao_iOS .hLive_con{margin-top: 0;;}
.video_box{height: 4.5rem; position: relative;}
.video_box .online{position: relative; color: #fff; font-size: .2rem; padding: .2rem;z-index: 999;}
.video_box #refresh{position: absolute; top:.2rem; right: .2rem; width: .3rem; height: .3rem; border: none; background: url("../images/refresh.png") no-repeat center center; background-size: contain;}
.chat_box{position: absolute; bottom: 0;left:0;width:100%;z-index: 999; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);}
.hLive_con .chat_box{background: #fff;}
.box_title{display: flex; position: relative; height: .9rem; line-height: .9rem; padding:0 .2rem; background: #fff;}
.chat_title{font-size: .26rem; color: #a0a0a0;}
.per_info{position: absolute; right: .2rem; display: inline-block;}
.per_info .head_img{display: block; float: left;}
.per_info .head_img img{width: .6rem; height: .6rem; border-radius: 50%; margin-top: .15rem;}
.per_info .per_name{display: inline-block; width: 1.5rem; margin:0 .1rem; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.per_info .per_care{float: right;}
.per_info .btnCare{width:1rem; height: .45rem; background: #766cf7; border: none; color: #fff; font-size: .2rem; border-radius: 4px;}
.per_info .btnCare1{width:1rem; height: .45rem; background: #a0a0a0; border: none; color: #fff; font-size: .2rem; border-radius: 4px;}
.prism-player .prism-info-display{  padding: 0!important;}

.shuping {background: #000;}
#J_prismPlayer .prism-big-play-btn {left: 50%!important; bottom: 50%!important; margin: 0 0 -31.5px -31.5px!important;}
.shuping #J_prismPlayer .prism-big-play-btn {margin: -31.5px 0 0 -31.5px!important;}
.prism-player video {object-fit: cover;}

/*聊天内容*/
.box_main{padding: 0 0.2rem;}
.main_info{overflow-y: auto; height: 5rem;}
.chat_info{padding:.1rem 0; position: relative; overflow: hidden;}
.info_left,.info_right{float: left;}
.info_left img{width: .6rem; height: .6rem; padding:.1rem 0; border-radius: 50%;}
.info_right{max-width: 70%; padding:0 .2rem;}
.chat_name{font-size: 0.24rem; color: #a0a0a0; margin-bottom: .1rem;}
.chat_content{font-size: 0.22rem; padding:.15rem 0.2rem; margin-left: .1rem; background: #fff; border: solid 1px #e5e5e5; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.chat_content:before{content: ""; position: absolute; right: 100%; top: .13rem; width: 0; height: 0; border-top: 7px solid transparent; border-right: 7px solid #e5e5e5; border-bottom: 7px solid transparent;}
.chat_content:after{content: ""; position: absolute; right: 100%; top: .17rem; width: 0; height: 0; border-top: 5px solid transparent; border-right: 5px solid #fff; border-bottom: 5px solid transparent;}
.chat_time{font-size: 0.22rem; color: #a0a0a0; text-align: center; margin-top: .3rem;}
.box_bottom{position: relative; z-index: 99; background: #fff; padding:.2rem; height: .65rem;}
.box_bottom.fixed div {position: fixed; left: .2rem; top: 50%; right: .2rem;}
.box_bottom.fixed div .btn_share1 {right: 0;}
.box_bottom .bg {position: absolute; left: .2rem; top: 0; width: 67%; bottom: 0; padding:0 .1rem;}
.box_bottom input{width:67%; padding:.15rem .2rem; border: solid 1px #eee; -webkit-appearance: none;}
.btn_share{width: .4rem; height: .4rem; border: none; vertical-align: middle; margin-left: .15rem; background: url("../images/share.png") no-repeat center; background-size: contain;}
.live_like{position: absolute; bottom: 1.5rem; right:0.2rem;color:#000; font-size: .2rem; text-align: center; z-index: 999;}
.like_img{display: block; width: .6rem; height: .6rem; border: none; margin:auto;margin-bottom: .05rem; background: url("../images/like_bg.png") no-repeat; background-size: cover;}
.like_img img{width: 0.3rem;}

/*详情页——————竖屏*/
.vLive_con{position:absolute;width:100%;height: 95%; overflow:hidden; background-size: cover;z-index: -1;}

.vLive_con .empty, .hLive_con .empty {position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: #666; z-index: 989;}
.vLive_con .empty img, .hLive_con .empty img {width: 1.5rem; height: 1.5rem; display: block; margin: 100px auto 20px; position: relative; left: 0; top: 0;}
.vLive_con .empty img {margin-top: 200px;}
.vLive_con .empty p, .hLive_con .empty p {display: block; text-align: center; line-height: 30px; font-size: 18px; color: #fff;}
.hLive_con .empty {bottom: auto; height: 4.5rem;}
.hLive_con .empty img {margin-top: 50px;}

.empty_box{position: absolute; left: 0; top: 2rem; right: 0; bottom: 6rem; z-index: 1000;}
.vPer_box{position: relative;  top:0.93rem;height: 1rem; padding:.2rem;}
.huoniao_iOS .vPer_box{top:0;}
.vPer_info{position: static;}
.peo_head img{border: solid 1px #fff;}
.vPer_info p{font-size: .2rem; display: inline-block; margin:0 .15rem; color: #fff;}
.vPer_info .peo_name{width: 1.5rem; height:.5rem;display: block; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; font-size: .26rem; line-height: .5rem;}
.vPer_info .peo_care{margin-top: .25rem;}
.vPer_box #v_refresh{position: absolute; top: .4rem; right: .2rem; width: .5rem; height: .5rem; border: none; background: url("../images/refresh1.png") no-repeat center center; background-size: contain;}
.huoniao_iOS .vPer_box #v_refresh{padding-top: calc(.5rem + 20px);}
.input_box{background: none;}
.input_box input{width: 80%; border-radius: 4px; -webkit-appearance: none;}
.btn_share1{width: .65rem; height: .65rem; float:right;vertical-align: middle;  background: url("../images/share1.png") no-repeat center; background-size: contain; margin: 0 0 0 .18rem;}
.chat_info .color1{color: #15e0e7;}
.chat_info .color2{color: #f65f8d;}
.chat_con{font-size: 0.22rem; padding:.15rem 0.2rem; margin-left: .1rem; color: #fff; background: rgba(0,0,0,.3); position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.chat_con:before{content: ""; position: absolute; right: 100%; top: .15rem; width: 0; height: 0; border-top: 5px solid transparent; border-right: 5px solid rgba(0,0,0,.3); border-bottom: 5px solid transparent;}
.loading {clear:both;line-height: 1rem;text-align: center;font-size: .26rem;margin: 1px;}
.input_box input{width: 67%; border-radius: 4px;}
.btn-send{width: 1rem;padding:.15rem .1rem;border: none;border-radius: 4px;background:#766cf7;  color: #fff;}
.click{color:#fff;}
/*发起直播样式*/
.uploadbtn{list-style-type:none;}
.webuploader-element-invisible {opacity: 0;}
.error {position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,.6);z-index: 1000;display: none;}
.error p {position: fixed;width: 150px;background-color: rgba(0,0,0,.7);border-radius: 5px;color: #fff;font-size: 16px;line-height: 1.4;text-align: center;padding: 12px 10px;z-index: 9999;left: 50%;margin-left: -75px;top: 50%;margin-top: -24px;}
