/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .48rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .9rem; margin: 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right;text-align: center;}

::selection             { background:none; }
::-moz-selection    { background:none; }
::-webkit-selection { background:none;}
body,html{
	-webkit-tap-highlight-color: rgba(240,240,240,0);
	background: #f0f0f0;
}
.header{
    border-bottom: 1px solid #d7d7d7;
}
.table_head{
	background: #fff;
    border-bottom: 1px solid #d7d7d7;
}
.table_box{
	width: 4.7rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-top: .5rem;
    background: url(../images/table.png) no-repeat 0.6rem 0.5rem;
    background-size: 1.1rem;
}
.table_box h1{
	font-size: .36rem;
}
.table_box p{
	font-size: .28rem;
	color: #999999;
}
.table_btn{
	width: 6.2rem;
	margin: 0 auto;
	padding: 0.4rem 0;
}
.table_btn a{
	width: 2.8rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	font-size: .3rem;
	border-radius: 0.1rem;
}
.table_btn a.late{
	float: left;
	border: 1px solid #e83828;
	color: #e83828;
}
.table_btn a.write{
	float: right;
	background: #e83828;
	color: #fff;
}
.food_list{
	background: #fff;
	margin-top: .3rem;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
	padding-left: .3rem;
}
.food_list .food_lead{
    border-bottom: 1px solid #efefef;
    height: .85rem;
    line-height: .85rem;
}
.food_list .food_lead em{
	font-size: .28rem;
	float: left;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.food_list .food_lead a{
	float: right;
	padding: 0 .2rem;
	border: 1px solid #e83828;
	height: .55rem;
	line-height: .55rem;
	font-size: .28rem;
	color: #e83828;
	margin-top: .15rem;
	margin-right: 0.2rem;
	border-radius: .1rem;
}
.food_list .food_con{
	padding: 0.2rem 0;
}
.food_list .food_con ul li{
	height: .6rem;
	line-height: .6rem;
}
.food_list .food_con ul li em{
	display: inline-block;
} 
.food_list .food_con ul li em.f_name{
	width: 60%;
	font-size: .28rem;
}
.food_list .food_con ul li em.f_num{
	width: 20%;
	text-align: right;
	font-size: .24rem;
}
.food_list .food_con ul li em.f_price{
	width: 16%;
	text-align: right;
	font-size: .24rem;
}
.food_list .food_con ul li em.f_price i{
	font-style: normal;
	font-size: .28rem;
}
.disk{
    background: #000;
    opacity: .5!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100001;
     display: none; 
}
.sure_box{
	position: fixed;
	top: 30%;
    left: 50%;
    margin-left: -3rem;
	width: 6rem;
	height: 3rem;
	background: #fff;
	text-align: center;
    z-index: 100005;
    border-radius: 0.1rem;
    display: none;
}
.sure_box h1{
	font-size: .28rem;
	margin: 0.36rem 0;
	padding: 0.3rem;
}
.sure_box ul{
	border-top: 1px solid #d7d7d7;
}
.sure_box ul li{
	float: left;
	width: 49.8%;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
}
.sure_box ul li:last-child{
	border-left: 1px solid #d7d7d7;
}
.number{
	position: fixed;
	top: 35%;
    left: 50%;
    margin-left: -2.5rem;
	width: 5rem;
	height: 2.5rem;
	background: #fff;
	text-align: center;
    z-index: 100005;
    border-radius: 0.1rem;
    display: none;
}
.number input{
	display: block;
	width: 4rem;
	margin: 0 auto;
	margin-top: 0.4rem;
	height: .6rem;
	line-height: .6rem;
	text-indent: 0.1rem;
	border: 1px solid #d7d7d7;
	font-size: .24rem;
}
.number span{
	font-size: .28rem;
	width: 4rem;
	height: .7rem;
	line-height: .7rem;
	display: block;
	margin: 0 auto;
	background: #e83828;
	color: #fff;
	border-radius: 0.08rem;
	margin-top: .35rem;
}
.fail_box{
	position: fixed;
	top: 30%;
    left: 50%;
    margin-left: -2.75rem;
	width: 5.5rem;
	height: 2.7rem;
	background: #fff;
	text-align: center;
    z-index: 100005;
    border-radius: 0.1rem;
    display: none;
}
.fail_box h1{
	margin-top: .2rem;
	font-size: .32rem;
	margin-bottom: .3rem;
}
.fail_box h2{
	font-size: .28rem;
}
.fail_box ul{
	width: 4.5rem;
	margin: 0 auto;
	margin-top: 0.25rem;
}
.fail_box ul li{
	width: 2rem;
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
	text-align: center;
	border-radius: 0.05rem;
}
.fail_box ul li.cancel_btn{
	float: left;
	border: 1px solid #bbb9b9;
	color: #bbb9b9;
}
.fail_box ul li.rewrite_btn{
	float: right;
	background: #e83828;
	color: #fff;
}
.size_fail{
	position: fixed;
	top: 30%;
    left: 50%;
    margin-left: -2.5rem;
	width: 5rem;
	height: 2.5rem;
	background: #fff;
	text-align: center;
    z-index: 100005;
    border-radius: 0.1rem;
    display: none;
}
.size_fail h1{
	font-size: .3rem;
	margin-top: .5rem;
	margin-bottom: .7rem;
}
.size_fail p{
	border-top: 1px solid #d7d7d7;
	height: .8rem;
	line-height: .8rem;
	font-size: .34rem;
}