/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .48rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .9rem; margin: 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right; background: url(../images/header_la.png) center center no-repeat; background-size: auto .5rem; text-align: center;}


::selection             { background:none; }
::-moz-selection    { background:none; }
::-webkit-selection { background:none;}
body,html{
	-webkit-tap-highlight-color: rgba(240,240,240,0);
	background: #f0f0f0;
}
.header{
    border-bottom: 1px solid #d7d7d7;
}
.my_lead{
	background: #fff;
	height: .9rem;
	line-height: .9rem;
	margin-bottom: .15rem;
}
.my_lead ul li{
	float: left;
	width: 50%;
	text-align: center;
	font-size: .3rem;
}
.my_lead ul li span{
	padding-bottom: .1rem;
}
.my_lead ul li.ml_bc span{
	border-bottom: 0.04rem solid #f03c3c;
	color: #f03c3c;
}
.indent{
	background: #fff;
}
.indent .indent_lead{
	padding: 0 .3rem;
	height: 1rem;
	line-height: 1rem;
	font-size: .3rem;
	border-bottom: 0.02rem solid #e5e5e5;
}
.indent .indent_lead i{
	text-align: left;
	float: left;
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-style: normal;
}
.indent .indent_lead  em{
	text-align: right;
	float: right;
}
.indent_info{
	padding:  0.2rem .3rem;
	position: relative;
	border-bottom: 0.02rem solid #e5e5e5;
}
.indent_info ul{
	margin-bottom: 0.1rem;
}
.indent_info ul li{
	font-size: .28rem;
	color: #888888;
	height: .5rem;
	line-height: .5rem;
}
.indent_info ul li em{
	color: #000;
}
.indent_info .Tab_Num{
	position: absolute;
	top: .45rem;
	right: 0.31rem;
	text-align: right;
}
.indent_info .Tab_Num p{
	font-size: .4rem;
	color: #f03c3c;
}
.indent_info .Tab_Num span{
	font-size: .28rem;
}
.tips{
	height: .7rem;
	line-height: .7rem;
	font-size: .24rem;
	border-top: 0.02rem dashed #e5e5e5;
}
.tips em{
	padding:  0.05rem .1rem;
	background: #f03c3c;
	color: #fff;
	margin-right: 0.1rem;
}
.cancle_btn{
	height: .9rem;
	line-height: .9rem;
}
.cancle_btn em{
	float: right;
	padding: 0 0.2rem;
	border: 0.02rem solid #dcdcdc;
	border-radius: 0.05rem;
	height: .5rem;
	line-height: .5rem;
	margin-top: 0.18rem;
	margin-right: 0.3rem;
}