html, body {background: #f5f5f5;}
body {padding-bottom: .5rem;}
.module {margin-top: .2rem;background: #fff;font-size: .24rem;}
.module .title {height: .82rem;line-height: .82rem;padding:0 .24rem;border-bottom: 1px solid #ededed;}
.module .title h3 {position: relative;float: left;padding-left: .3rem;font-size: .3rem;color: #2d2d2d;}
.module .title h3:before {content: "";position: absolute;left:0;top:.28rem;width:.06rem;height:.3rem;background: #51aeec;border-radius:2px;}
.module .title .more {float: right;font-size: .24rem;color: #919191;}

/*商家*/
.business .list {position: relative;padding:0 .24rem;}
.business .item {padding: .3rem 0;border-bottom: 1px solid #ededed;}
.business .load-container {position: static;left:0;top:0;bottom:0;right:0;}
/*.business .load .load-container {position: absolute;}*/
.business .item:last-child {border-bottom: none;}
.business .item .pic {float: left;padding-right: .35rem;}
.business .item .pic img {display: block;width: 1.68rem;height: 1.68rem;border:1px solid #f7f7f7;}
.business .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.business .item .tit {font-size: .3rem;color: #181818;margin-bottom: .25rem;}
.business .item .des {font-size: .24rem;color: #5e5e5e;margin-bottom: .3rem;}
.business .item .des span {color: #00a2ff;margin-right: .13rem;}
.business .item .other em {display: inline-block;padding:.04rem .08rem .06rem .08rem;color:#fff;background: #f5d46e;font-size: .24rem;border-radius:.05rem;margin-right: .15rem;}
.business .item .other em.jian{background: #f88872;}
.business .item .other em.jin{background: #85b2f7;}
.business .item .other em.zheng{background: #6ad8f8;}
.business .item .other .distance {float: right;margin-top: .15rem;color: #a0a0a0;}

.business .list.load .info * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-shadow:0 0 10px 4px white; text-shadow:0 0 10px rgba(0,0,0,.4);opacity:0.8; color:rgba(0,0,0,0);}
.business .list.load .info .other em {background: rgba(144, 144, 144, 0.1);}

/*二手信息*/
.module.info .title h3:before {background: #f2cb65;}
.info .list {padding:0 .24rem;}
.info .item {padding: .3rem 0;border-bottom: 1px solid #ededed;}
.info .item:last-child {border-bottom: none;}
.info .item .pic {float: left;padding-right: .35rem;}
.info .item .pic img {display: block;width: 1.68rem;height: 1.68rem;border:1px solid #f7f7f7;}
.info .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.info .item .tit {font-size: .3rem;color: #181818;margin-bottom: .25rem;}
.info .item .tit span {float: right;margin-left: .3rem;margin-top: .05rem;padding:.02rem .06rem;background: #fff6dc;color: #f6c338;border:1px solid #f6c338;font-size: .2rem;}
.info .item .des {font-size: .24rem;color: #5e5e5e;margin-bottom: .2rem;}
.info .item .des .price {color: #ff0202;margin-right: .2rem;font-size: .36rem;}
.info .item .des .address {display: inline-block;max-width: 26%;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.info .item .des .time {float: right;color: #949494;margin-top: .12rem;}
.info .item .other {line-height: .3rem;}
.info .item .other .msg {display: inline-block;padding-left: .5rem;width:.3rem;height: .35rem;background: url('../images/msg.png') left center no-repeat;background-size: auto .3rem;color: #505050;}

/*商城*/
.module.shop .title h3:before {background: #a165f2;}
.shop .list {position: relative;padding:.24rem .24rem .3rem .24rem;}
.shop .item {position: relative;width:3.435rem;float:left;margin: 0 .15rem .15rem 0;box-shadow: 0 0 10px 1px #eee;box-shadow: 0 0 10px 1px #eee;}
.shop .item:nth-child(2n) {margin-right: 0;}
.shop .item a {display: block;position: relative;z-index: 2;}
.shop .item .pic {width: 100%;height: 3.435rem;overflow: hidden;}
.shop .item .pic img {display: block;width: 100%;min-height: 100%;}
.shop .item .info {padding: .15rem .1rem .3rem .1rem;}
.shop .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.shop .item .tit {font-size: .3rem;color: #181818;margin-bottom: .25rem;}
.shop .item .des {font-size: .24rem;color: #5e5e5e;margin-bottom: .3rem;}
.shop .item .des .price {color: #ff0202;margin-right: .2rem;font-size: .36rem;}
.shop .item .des .oprice {color: #494949;text-decoration: line-through;font-size: .2rem;}
.shop .item .other {color: #8e8e8e;line-height: .3rem;}
.shop .item .other .sale {color: #ff0202;}
.shop .item .joinCart {position: absolute;right:.12rem;bottom:.24rem;display: block;width: .7rem;height: .7rem;background: #e56d5c url('../images/cart.png') center no-repeat;background-size: .36rem;border-radius:50%;z-index: 1;}

/*房产*/
.module.house .title h3:before {background: #6eba8e;}
.house .list {padding:.24rem .24rem .3rem .24rem;;}
.house .item {position: relative;width:3.435rem;float:left;margin: 0 .15rem .15rem 0;box-shadow: 0 0 10px 1px #eee;box-shadow: 0 0 10px 1px #eee;}
.house .item:nth-child(2n) {margin-right: 0;}
.house .item .pic {position: relative;width: 100%;height: 3.435rem;overflow: hidden;}
.house .item .pic img {display: block;width: 100%;min-height: 100%;}
.house .item .pic span {position: absolute;}
.house .item .pic .state {left:0;top:0;height: .53rem;line-height: .5rem;border-radius: 3px;border-top-left-radius: 0;padding:0 .22rem;color: #fff;background-color: #77d1d5;}
.house .item .pic .price {right:0;bottom:.2rem;height: .44rem;line-height: .44rem;border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;padding:0 .1rem 0 .3rem;background: #252a33;color: #fff;}
.house .item:nth-child(2n) .pic .state {background-color: #0c88e8;}
.house .item .info {padding: .15rem .13rem .3rem .13rem;}
.house .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.house .item .tit {font-size: .28rem;color: #181818;margin-bottom: .25rem;}
.house .item .tit span {margin-left: .15rem;font-size: .24rem;color: #0090ff;}
.house .item .tit span em {margin-right: .05rem;}
.house .item .tit span em:last-child {margin-right: 0;}
.house .item .des {color: #353535;margin-bottom: .3rem;}
.house .item .des .price {color: #ff0202;margin-right: .2rem;font-size: .36rem;}
.house .item .des .oprice {color: #494949;text-decoration: line-through;font-size: .2rem;}
.house .item .other {padding-left: .3rem;background: url('../images/address.png') left center no-repeat;background-size: auto .3rem;color: #353535;}

/*二手房源、租房*/
.module.saleZu .title h3:before {background: #6eba8e;}
.saleZu .list {padding:0 .24rem;}
.saleZu .item {padding: .35rem 0 .3rem 0;border-bottom: 1px solid #ededed;}
.saleZu .item:last-child {border-bottom: none;}
.saleZu .item .pic {float: left;padding-right: .35rem;}
.saleZu .item .pic img {display: block;width: 2.18rem;height: 2.18rem;/*border:1px solid #f7f7f7;*/}
.saleZu .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.saleZu .item .tit {font-size: .3rem;color: #252525;margin-bottom: .25rem;}
.saleZu .item .tit span {margin-left: .12rem;color: #057ee5;font-size: .24rem;}
.saleZu .item .tit span em {margin-right: .05rem;}
.saleZu .item .tit span em:last-child {margin-right: 0;}
.saleZu .item .des {font-size: .24rem;color: #5e5e5e;margin-bottom: .7rem;}
.saleZu .item .des .price {color: #ff0202;margin-right: .2rem;font-size: .34rem;}
.saleZu .item .des .price em {font-size: .26rem;margin-right: .05rem;}
.saleZu .item .des .time {float: right;color: #949494;margin-top: .12rem;}
.saleZu .item .other {padding-left: .3rem;background: url('../images/address.png') left center no-repeat;background-size: auto .3rem;font-size: .26rem;color: #353535;}

/*黄页*/
.module.huangye .title h3:before {background: #7e7edb;}
.huangye .list {padding:0 .24rem;}
.huangye .item {position: relative;padding: .35rem 0 .3rem 0;border-bottom: 1px solid #ededed;}
.huangye .item .pic {float: left;padding-right: .25rem;}
.huangye .item .pic img {display: block;width: .84rem;height: .84rem;border-radius:50%;}
.huangye .item .info {padding-right: 1.6rem;}
.huangye .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.huangye .item .tit {font-size: .32rem;color: #252525;margin-bottom: .1rem;}
.huangye .item .tel {position: absolute;right:0;top:.43rem;color: #ef432a;padding:.2rem .25rem .2rem .75rem;background: url('../images/tel.png') .25rem center;background-size: .35rem;background-repeat: no-repeat;border:1px solid #e56d5c;border-radius:3px;}

/*美食外卖*/
.module.waimai .title h3:before {background: #ff7800;}
.waimai .list {padding:0 .24rem;}
.waimai .item {padding: .3rem 0;border-bottom: 1px solid #ededed;}
.waimai .item.disabled {opacity: .5;}
.waimai .item:last-child {border-bottom: none;}
.waimai .item .pic {position: relative;float: left;padding-right: .22rem;}
.waimai .item .pic img {display: block;width: 1.7rem;height: 1.7rem;}
.waimai .item .pic .tag {position: absolute;left:0;top:0;height: .35rem;line-height: .35rem;padding:0 .07rem;background: #ee9700;color: #fff;font-size: .2rem;}
.waimai .item.disabled .pic .tag {background: #ccc;}
.waimai .item .info {overflow: hidden;color: #8e8e8e;}
.waimai .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.waimai .item .tit {font-size: .3rem;color: #181818;margin-bottom: .05rem;}
.waimai .item .tit span {float: right;margin-left: .3rem;margin-top: .05rem;padding:.02rem .06rem;background: #fff6dc;color: #f6c338;border:1px solid #f6c338;font-size: .2rem;}
.waimai .item .des {font-size: .24rem;color: #5e5e5e;margin-bottom: .05rem;}
.waimai .item .des .price {color: #ff0202;margin-right: .2rem;font-size: .36rem;}
.waimai .item .des .time {float: right;color: #949494;margin-top: .12rem;}
.waimai .item .other {margin-bottom: .1rem;}
.waimai .item .other .msg {display: inline-block;padding-left: .5rem;width:.3rem;height: .35rem;background: url('../images/msg.png') left center no-repeat;background-size: auto .3rem;color: #505050;}
.waimai .item .sale {display: inline-block;}
.waimai .item .distance {display: inline-block;float: right;}
.waimai .item ul li {padding:.05rem 0;}
.waimai .item ul li span {display: inline-block;width: .35rem;height: .35rem;line-height: .35rem;margin-right: .2rem;text-align: center;border-radius:3px;color:#fff;}
.waimai .item ul li .shou {background: #70bc46;}
.waimai .item ul li .sale {background: #f07373;}
.waimai .item ul li .zhe {background: #9071d4;}
.waimai .item ul li .te {background: #ff1414;}
.waimai .item ul li .online {background: #ff6900;}

.rating-wrapper { position: relative; overflow: hidden; display: inline-block; vertical-align: middle;}
.rating-actived, .rating-gray { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.rating-actived svg, .rating-gray svg { width: 1.7rem; height: .4rem; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none;}
.rating-actived { position: absolute; top: 0; left: 0; overflow: hidden;}

/*信息咨询*/
.module.article .title h3:before {background: #ff7800;}
.article .list {padding:0 .24rem;}
.article .item {padding: .3rem 0;border-bottom: 1px solid #ededed;}
/*.article .item:last-child {border-bottom: none;}*/
.article .item .pic {float: left;padding-right: .35rem;}
.article .item .pic img {display: block;width: 1.68rem;height: 1.68rem;border:1px solid #f7f7f7;}
.article .item p {white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.article .item .tit {font-size: .36rem;color: #2d2d2d;margin-bottom: .42rem;line-height: .5rem;height: 1rem;overflow: hidden;white-space: normal;}
.article .item .tit span {float: right;margin-left: .3rem;margin-top: .05rem;padding:.02rem .06rem;background: #fff6dc;color: #f6c338;border:1px solid #f6c338;font-size: .2rem;}
.article .item .other {line-height: .3rem;}
.article .item .other .msg {float: right;display: inline-block;padding-left: .5rem;width:.3rem;height: .35rem;background: url('../images/msg.png') left center no-repeat;background-size: auto .3rem;color: #505050;}
.article .item .other .time {color: #8e8e8e;}


/*购物车飞入效果*/
.ficon5 {position: fixed;bottom:0;right:0;width: 1rem;height: 1rem;background: red;z-index: -100;}
.flyer-img{width: 1.5rem; height: 1.5rem; border-radius: 100%;}
.size-box{position: fixed; bottom: -200%; left: 0; right: 0; background: #fff; z-index: 100002; font-size: .28rem; transition: all .1s;}
.size-selected{position: relative; height: 2rem;}
.size-selected .closed{position: absolute; width: .5rem; height: .5rem; display: block; background: url(../images/back.png) center center no-repeat; background-size: .4rem auto; right: .2rem; top: -0.1rem;}
.size-img{position: absolute; width: 2rem; height: 2rem; border: 1px solid #f2f2f2; top: -0.5rem; left: .2rem; padding: .05rem; background: #fff; border-radius: .04rem;}
.size-img img{display: block; width: 100%; height: 100%;}
.size-txt{margin-left: 2.7rem; font-size: .3rem;}
.size-txt p{margin-top: .08rem;}
.size-txt .price{color: #ff5000; font-size: .32rem; margin-top: .2rem;}
.guige-tips {padding: 0 .2rem;}
.scrollbox{height: 6rem; overflow-y: auto;}
.sys_item{padding: 0 .3rem;}
.sys_item dt{font-size: .34rem; margin: .3rem 0 .3rem;}
.sys_item dd{border-bottom: 1px solid #f3f3f3; padding-bottom: .1rem;}
.sys_item dd a{padding: .06rem .2rem; background: #f5f5f5; border-radius: .15rem; display: block; float: left; margin: 0 .2rem .2rem 0;}
.sys_item dd a.selected{background: #ff5000; color: #fff;}
.size-count{padding: .2rem 0 1rem; margin: 0 .3rem 0 .3rem;}
.size-count-tit{float: left; line-height: .8rem;}
.sizeBtn{float: right;}
.sizeBtn .numbtn{font-size: .5rem; background: #f5f5f5; border-radius: .04rem; display: inline-block; width: .8rem; height: .8rem; text-align: center;}
.sizeBtn .shop-count{display: inline-block; padding: 0 .3rem; font-size: .36rem;}
.size-confirm a{display: block; text-align: center; padding: .2rem 0; background:-moz-linear-gradient(left, #fe7800, #ff4a01); background:-webkit-linear-gradient(left, #fe7800, #ff4a01); background:-o-linear-gradient(left, #fe7800, #ff4a01); color: #fff; font-size: .32rem;}

/*遮罩层*/
.mask{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #000; opacity: .6; z-index: 100001; display: none;}

/*loading效果*/
.load-container {width:100%;height:1.68rem;line-height: 1.68rem;position:relative;overflow:hidden;-moz-box-sizing:border-box;box-sizing:border-box;background:rgba(255,255,255,.2);}
.load-container a:link,.load-container a:visited {position:absolute;bottom:3px;font-size:1.15em;text-align:center;left:0;right:0;text-decoration:none;color:#FFF;}
.loader {overflow:hidden;text-align:center;}
.load .loader {text-indent:-99999em;}
.load .loader {position:absolute;left:50%;top:50%;margin-left:-.25rem;margin-top:-.25rem;border-top:.05rem solid rgb(81,174,236);border-right:.05rem solid rgba(255,255,255,0.2);border-bottom:.05rem solid rgb(81,174,236);border-left:.05rem solid #ffffff;}
.load .loader,.load .loader:after {border-radius:50%;width:.5rem;height:.5rem;}
