
body, html{background: #efefef;}

.header-l .back{display: block; width: 1rem; height: 1rem; background: url(../images/btn_back.png) center center no-repeat; background-size: .5rem auto;}
.header-r{display: block; width: 1rem; height: 1rem; font-size: .38rem; line-height: 1rem;}

.container{margin-top: 1.3rem;}
.bgfff{padding-left: .3rem; background: #fff; border-top: .02rem solid #e5e5e5; border-bottom: .02rem solid #ddd;}
.inpbox{font-size: .32rem; border-bottom: 1px solid #e5e5e5; width: 100%; line-height: .65rem;}
.inpbox dt{color: #83868f; float: left; margin-right: .3rem;}
.inpbox dt label{display: block; line-height: 0.65rem;}
.inpbox dt span{color: #333; display: block; padding: .2rem 0 .2rem 0;}
.inpbox dd{position: relative; padding-right: .4rem; font-size: .3rem; overflow: hidden;}
.inpbox dd input{width: 100%; border: 0; outline: 0; padding: .2rem .4rem .2rem 0; display: block; line-height: 0.65rem;}
.inpbox dd p{margin-top: .2rem;}
.bgfff .inpbox:last-child{border-bottom: none;}

/*操作提示层*/
.layer .mask{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #000; opacity: 0; z-index: 11; display: none;}
.layer .mask.show{display: block;}
.layer .operate{position: fixed; bottom: -100%; left: 0; right: 0; background: #fff; z-index: 12; font-size: .34rem;}
.layer .operate .confirm a{float: right; color: #4baf4f; display: block; padding: .2rem;}
.layer .operate ul{padding: .2rem;}
.layer .operate li{width: 30%; float: left; display: -webkit-box; padding: .1rem 0; margin-bottom: .3rem; margin-left: 3%;}
.layer .operate li.all{width: 100%;}
.layer .operate li i{display: block; width: .3rem; height: .3rem; border: 1px solid #333; margin: .1rem .2rem 0 0;}
.layer .operate li.curr i{background: url(../images/curr.png) center center no-repeat; background-size: .3rem auto; border-color: #2baec4;}
.layer .operate li a{display: block;}


.inpbox .toggle {display: block; float: right; width: 1rem; height: .5rem;margin:.25rem 0; background-image: url(../images/btn_off.png);background-position: center center;background-repeat: no-repeat; background-size: auto .6rem; }
.inpbox .toggle.on {background-image: url(../images/btn_on.png); }