
body, html{background: #efefef;}
input{background: #fff;}

.header-l .back{display: block; width: 1rem; height: 1rem; background: url(../images/btn_back.png) center center no-repeat; background-size: .5rem auto;}
.header-r{display: block; width: 1rem; height: 1rem; font-size: .38rem; line-height: 1rem;}

.container{margin-top: 1.2rem;}
.bgfff{background: #fff; border-top: .02rem solid #e5e5e5; border-bottom: .02rem solid #ddd; margin-bottom: .2rem;}

.openbtn{padding-left: .3rem; background: #fff; border-radius: .06rem; font-size: .34rem; border-bottom: .02rem solid #ddd;}
.block .openbtn:last-child{border-bottom: none;}
.openbtn a{display: block; padding: .2rem .3rem .2rem 0;}
.openbtn .toggle{display: block; float: right; width: 1rem; height: .5rem; background: url(../images/btn_off.png) center center no-repeat; background-size: auto .6rem;}
.openbtn .toggle.on{display: block; float: right; width: 1rem; height: .5rem; background: url(../images/btn_on.png) center center no-repeat; background-size: auto .6rem;}

.inpbox{padding: .2rem .3rem; font-size: .34rem;}
.inpbox dt{float: left; line-height: .6rem;}
.inpbox dd{position: relative; overflow: hidden;}
.textarea{padding: 0 .1rem;}
.textarea textarea{border: 0; outline: 0; width: 100%; font-size: .34rem; line-height: .6rem;}

.title{font-size: .34rem; background: #fff; padding: .2rem 0 .2rem .3rem; border-top: .02rem solid #ddd;}
.links{padding-left: .3rem; font-size: .34rem;}
.links li:last-child{border-bottom: none;}
.links li{border-bottom: .02rem solid #ddd;}
.links li label{position: relative; display: block; padding: .2rem 0;}
.links li label em{position: absolute; display: block; width: .4rem; height: .4rem; background: url(../images/none.png) left center no-repeat; background-size: .4rem auto; right: .3rem; top: .25rem;}
.links li.curr label em{background-image: url(../images/existing.png);}
