
body, html{background: #efefef;}

.header-l .back{display: block; width: 1rem; height: 1rem; background: url(../images/btn_back.png) center center no-repeat; background-size: .5rem auto;}
.header-r{display: block; width: 1rem; height: 1rem; font-size: .38rem; line-height: 1rem;}

.container{margin-top: 1.3rem;}
.item{position: relative; background: #fff; border-radius: .06rem; margin: 0 .1rem .1rem; font-size: .34rem; padding: .3rem;}
.item .date{color: #989898; font-size: .3rem;}
.item .more{display: block; width: .5rem; height: .5rem; background: url(../images/pic_menu_normal.png) center center no-repeat; position: absolute; right: .3rem; top: .5rem; background-size: .5rem auto;}

/*操作提示层*/
.layer .mask{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #000; opacity: 0; z-index: 11; display: none;}
.layer .mask.show{display: block;}
.layer .operate{position: fixed; bottom: -100%; left: 0; right: 0; background: #fff; z-index: 12;}
.layer .operate li{border-bottom: 1px solid #e5e5e5;}
.layer .operate li a{padding: .2rem .3rem; display: block; line-height: .6rem; height: .6rem;}
.layer .operate li span{padding-left: .6rem; display: block; float: left; font-size: .34rem;}
.layer .operate li.icon1 span{background: url(../images/pic_remove.png) left center no-repeat; background-size: .45rem auto;}
.layer .operate li.icon2 span{background: url(../images/pic_edit.png) left center no-repeat; background-size: .45rem auto;}
.layer .operate li.icon3 span{background: url(../images/pic_sub_classify.png) left center no-repeat; background-size: auto .45rem;}
.layer .operate li .arrow{display: block; width: .5rem; height: .5rem; background: url(../images/ic_go.png) center center no-repeat; background-size: auto .35rem; float: right;}
.layer .operate .cancel{background: #f3f3f3; text-align: center; font-size: .34rem;}
