
body, html{background: #efefef;}

.header-l .back{display: block; width: 1rem; height: 1rem; background: url(../images/btn_back.png) center center no-repeat; background-size: .5rem auto;}
.header-r .print{display: block; font-size: .32rem; color: #ff4758; border: 0.02rem solid #ff4758; text-align: center; margin: .25rem .1rem 0 0;}

.container{margin-top: 1.3rem;}
.bgfff{background: #fff; margin-top: .2rem;}
.title{border-top: 0.02rem solid #e5e5e5; border-bottom: 0.02rem solid #e5e5e5; padding: .2rem 0;}
.title span{padding-left: .5rem; line-height: .6rem; display: block; margin-left: .2rem; font-size: .34rem;}
.title span.icon-1{background: url(../images/order_info.png) left center no-repeat; background-size: .4rem auto;}
.title span.icon-2{background: url(../images/buyer_info.png) left center no-repeat; background-size: .4rem auto;}
.title span.icon-3{background: url(../images/elseinfo.png) left center no-repeat; background-size: .4rem auto;}

/*商品信息*/
.goods{padding-left: .3rem; border-bottom: 0.02rem solid #e5e5e5;}
.goods li{font-size: .32rem; padding: .2rem .1rem .2rem 0; border-bottom: 0.02rem solid #e5e5e5; overflow: hidden;}
.goods li.food{color: #55646b;}
.goods li:last-child{border-bottom: none;}
.goods li span{display: block;}
.goods li .span-1{width: 28%;float: left;margin-right: 2%}
.goods li .span-2{width: 70%;float: right; text-align: right;}
.goods li.note{color: #2164fb; padding: .3rem .2rem .3rem 0;}
.goods li .span-5{-webkit-box-flex: 1;}

/*顾客信息*/
.buyer{padding: .2rem .2rem .2rem .3rem; color: #525f65; font-size: .32rem; border-bottom: 0.02rem solid #e5e5e5;}
.buyer li{display: -webkit-box; padding: .12rem 0;}
.buyer li span{display: block;}
.buyer li span.span-2 .vip{display: inline-block; background: url(../images/vip_select.png) center center no-repeat; width: .5rem; height: .5rem; background-size: .5rem; vertical-align: middle;}
.buyer li .tel{display: block; background: url(../images/client_phone.png) left center no-repeat; background-size: .4rem; padding-left: .5rem; color: #2164fb;}
.buyer li .red{color: #ff4758;}


/*底部*/
.footer{background: #efefef; text-align: center; height: 1.15rem; padding-top: 0.3rem; position: relative; border-top: 0;}
.footer li{width: 50%;}
.footer li a{width: 3.4rem; text-align: center; display: block; margin: 0 auto; padding: .15rem 0; font-size: .38rem; border-radius: .06rem;}
.footer li a.fail{background: #fff;}
.footer li a.success, .footer li a.complete{background: #4baf4f; color: #fff;}

/*失败弹出层*/
.failbox{display: none;}
.failbox.show{display: block;}
.failbox .mask{background: #000; opacity: .4; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 12;}
.whyform{width: 6.5rem; background: #fff; position: fixed; z-index: 13; top: 2rem; left: .5rem; text-align: center; font-size: .32rem; box-shadow: 0px 0px 12px 2px #6f6a6a;}
.whyform p{padding: .3rem .2rem;}
.whyform .textarea{display: block; margin: 0 auto; width: 5.5rem; height: 2rem; border-radius: .1rem; border: .02rem solid #4baf4f; padding: .1rem .2rem;}
.whyform .textarea.error{border-color: #ff4758;}
.whyform .btn{display: -webkit-box; padding: 0; margin-top: .4rem;}
.whyform .btn a{display: block; color: #4baf4f; -webkit-box-flex: 1; padding: .2rem 0;}


.goods li .span-2.detail {text-align: left;}
.goods li .detail font {display: inline-block;/*white-space: nowrap;text-overflow:ellipsis;overflow: hidden;*/}
.goods li .detail font.name {width: 60%;}
.goods li .detail font.count {width: 20%;text-align: center;}
.goods li .detail font.price {width: 20%;text-align:right;}