
body, html{background: #efefef;}

/*头部*/
.header-l{margin-right: .7rem;}
.header-l .back{display: block; width: 1rem; height: 1rem; background: url(../images/btn_back.png) center center no-repeat; background-size: .5rem auto;}
.header-r{display: block; width: 1.7rem; height: 1rem; font-size: .38rem; line-height: 1rem; }

.container{margin-top: 1.2rem; border-top: .02rem solid #ddd;}
.bgfff{background: #fff; margin-bottom: .2rem;}
.item a{border-bottom: .02rem solid #e5e5e5; padding: .2rem .3rem .15rem .3rem; color: #69b44d; font-size: .34rem; display: block;}
.item .content{color: #333; margin: .05rem 0;}
.item .time{color: #333; font-size: .26rem; margin-top: .1rem;}
.item .star{position: relative; width: 2rem;}
.item .star s{display: block; background: url(../images/star_normal.png) repeat-x; background-size: .4rem auto; width: 2rem; height: .4rem;}
.item .star s i{display: block; background: url(../images/star_select.png) repeat-x; background-size: .4rem auto; width: 2rem; height: .4rem;}

.comment{border: none; border-top: .02rem solid #e5e5e5; border-bottom: .02rem solid #e5e5e5; outline: 0; padding: .15rem .3rem; font-size: .34rem; line-height: .5rem; display: block; width: 100%; box-sizing: border-box;}
.reply{width: 7rem; text-align: center; margin: .4rem auto 0; display: block; background: #4baf4f; border-radius: .12rem; padding: .15rem 0; color: #fff; font-size: .34rem;}

.error{position: fixed; top: 3rem; width: 2.5rem; left: 2.5rem; background: rgba(0,0,0,.7); color: #fff; text-align: center; padding: .2rem 0; border-radius: .15rem; display: none;}
