
.header-l .back{display: block; width: 1rem; height: 1rem; background: url(../images/btn_back.png) center center no-repeat; background-size: .5rem auto;}

.bgfff{margin-top: 1.4rem;}
.list{padding: .3rem .3rem 0;}
.list li{float: left; width: 33.3%; text-align: center; margin-bottom: .7rem;}
.list li a{display: block;}
.list li img{display: block; width: 1rem; height: 1rem; margin: 0 auto .2rem;}
