.header {margin:40px auto 20px;}
.header .logo {float: left;width: 400px;max-width: 400px;height: 61px; margin-top: -5px;}
.header .logo a {display: block;overflow: hidden;float: left;}
.header .logo a:hover {text-decoration: none;}
.header .logo h2 {float: none;margin-bottom: 6px;line-height: 47px;font-size: 24px;color: #333; margin-top: 8px; display: none;}
.header .shortname {display: none;}
.header .shortname p{font-size: 16px; color: #b5b5b5; display: none;}
.header .logo span {font-size: 13px;color: #999;}
.header .logo img {float: left;margin-right: 10px;vertical-align: middle;}

/*帮助中心*/
.whole{margin: 0 auto;width: 1200px;background: #f7f7f7;}
.left-mode{width: 240px;background: #f7f7f7;float: left;}
.left-mode h2{padding-left: 20px;font-size: 28px;color: #888;padding-top: 22px;width: 218px;height: 45px;}
.shop-ping i{background: url(../images/icon-btn.png) no-repeat;width: 15px ;height: 15px;display: block;background-position: 0 -5px;float: left;margin-right: 2px;}
.shop-ping span{font-size: 16px;float: left;}
.ex_mode .shop-ping{height: 34px;display: block;margin-top: 20px;text-decoration: none;}
.ex_mode a.shop-ping i{width: 18px;margin-top: 2px;margin-left: 25px;}
.ex_mode ul{height: 115px;background: #fff;list-style: none;padding-top: 9px;width: 235px;margin-left: 3px;}
.list a{text-decoration: none;color: #5e5e5e;font-size: 15px;line-height: 35px; display: block;padding-left: 40px;}
.list a:hover{text-decoration: underline;color: #ff6600;}
.list li a.process {color: #ff6600;}
.list li a.water_fox{color: #ff6600;}
.double_click a.shop-ping i.position_bulid{background-position: 0 -49px;}
.service a.shop-ping i{background-position: 0 -5px;margin-top: 19px;margin-left: 25px;}
.service .shop-ping{display: block;}
.service ul{background: #fff;width: 235px;margin-left: 3px;padding: 9px 0; display: none;}
.service ul.list_none{display: none;}
.service a.shop-ping span{margin-top: 16px;margin-bottom: 10px;}
/*帮助中心*/
/*购物流程*/
.shop_mall{background: #fff;padding-bottom: 125px;min-height: 600px;position: relative;overflow: hidden;}
.log_password .account_how li.de_fault{height: 122px;line-height: 122px;font-size: 44px;color: #b0b0b7;padding-left: 44px;}
.producer_sale{display: none;}
.account_how li  a span{list-style: none;height: 46px;font-size: 16px;line-height: 46px;color: #5e5e5e;}
.account_how li  a{text-decoration: none;}
.account_how li a:hover span{text-decoration: underline;color:#ff6600;}
.account_how li{height: 46px;line-height: 46px;padding-left: 62px;}
.account_how i{width: 5px;height:5px;background: #5e5e5e;display: inline-block;margin-right: 12px;vertical-align: middle;}
/*购物流程*/
/*翻页*/
.pagination {float:left; min-width:450px; font-size:16px; margin: 30px 0 30px 50%;}
.pagination .inner {float:left; min-width:450px; margin-left:-50%;}
.pagination .inner ul, .pagination .inner li {float:left; list-style:none; padding:0; margin:0;}
.pagination .inner li {width:auto; margin-right:3px; background:#fff;}
.pagination .inner li a, .pagination .inner li span {position:relative; height: 35px; line-height: 33px; display:block; padding:0 15px; border:1px solid #ededed; color:#3e3e3e;}
.pagination .inner li a:hover {text-decoration:none; border-color:#f60; color:#f60; z-index:1;}
.pagination .inner li.page_disabled span {background:#fff; color:#9a9a9a; border-color:#ddd;}
.pagination .inner li.page_current span {background:#f60; color:#fff; border-color:#f60; font-weight: 700;}
.pagination .inner li.page_more span {background:none; border:none; font-size:10px; padding:0 5px;}
.pagination .inner .page_info {float:left; margin-left:10px; color:#999; line-height: 35px;}
/*翻页*/


.split-line {height: 1px; overflow: hidden; background: #e5e5e5; }
.detail{font-size: 30px;color: #b0b0b0;height: 90px;line-height: 90px;padding-left: 42px;}
.huoniao{width: 918px;line-height: 1.89rem;padding-left: 42px;margin-bottom: 40px; font-size: 15px;}
.empty {height: 200px; line-height: 200px; font-size: 18px; text-align: center; color: #999;}
