.diy-inner {
	padding:0 !important;
	margin:0 !important;
	position:relative
}
.diy-inner:before,.diy-inner:after {
	display:table;
	content:'';
	line-height:0
}
.diy-inner:after {
	clear:both
}
.diy-col-ctrl {
	position:absolute;
	top:0;
	bottom:0;
	width:7px;
	margin-left:-3.5px;
	background-color:transparent;
	z-index:1;
	overflow:visible;
	cursor:col-resize;
	display:none
}
html.diy-design-mode .diy-col-ctrl {
	display:block
}
.diy-col-ctrl:before {
	display:none;
	position:absolute;
	content:" ";
	top:0;
	left:3px;
	bottom:0;
	border-left:1px dashed rgba(46,189,255,0.5);
	z-index:1
}
.diy-col-ctrl:after {
	display:none;
	position:absolute;
	content:" ";
	overflow:hidden;
	height:30px;
	width:7px;
	top:50%;
	left:0;
	margin-top:-15px;
	background-color:#2EBDFF;
	z-index:2
}
.w-columnbox:hover .diy-col-ctrl:before,.w-columnbox:hover .diy-col-ctrl:after {
	display:block
}
.diy-inner > .w-col-wraper:last-child > .diy-col-ctrl {
	display:none
}
