*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;}
html{background: #ebebeb;}
em,i{font-style: normal;}

/*内容*/
.main{margin: 0 0 1.4rem 0;}
.wrapper{background: #fff;margin: .2rem;border-radius: .1rem;padding: .3rem 0 0 0;color: #666;}
.pin-lable{font-size: .28rem;margin-top: .2rem;}
.pin-lable span{padding-left: .4rem;margin-right: .2rem;display: block;line-height: .4rem;height: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;}
.pin-lable span.icon-1{background: url(../images/icon1.png) 0 center no-repeat;background-size: .35rem .35rem;max-width: 1.5rem;}
.pin-lable span.icon-2{background: url(../images/icon2.png) 0 center no-repeat;background-size: .35rem .35rem;}
.pin-lable span.icon-3{background: url(../images/icon3.png) 0 center no-repeat;background-size: .4rem .4rem;}
.brief{padding: 0 .2rem;}
.brief-txt h3{font-size: .32rem;color: #52cac1;}
.brief-txt h3 em{color: #ccc;font-size: .24rem;margin-left: .1rem;}
.brief-img{width: 1.2rem;height: 1.2rem;border-radius: 1.2rem;overflow: hidden;}
.brief-img img{display: block;width: 100%;height: 100%;}
.job-name{margin-top: .2rem;border-top: 1px dashed #ddd;padding: 0 .2rem .2rem .2rem;}
.job-name h3{font-size: .32rem;color: #52cac1;line-height: .8rem;}
.job-name h3 .more{font-size: .22rem;border: 1px solid #52cac1;border-radius: .08rem;padding: 0 .08rem;margin-left: .2rem;}
.job-name h3 .wage em{color: #666;}
.job-name .hope i{display: block;width: .4rem;height: .4rem;float: left;}
.job-name .hope i img{display: block;width: 100%;height: 100%;}
.item h3{padding: 0 .2rem;font-size: .32rem;color: #52cac1;}
.item h3 em{display: block;width: .5rem;height: .5rem;border-radius: .5rem;border: 1px solid #52cac1;background: url(../images/lamp.png) center center no-repeat;background-size: .4rem .4rem;}
.advantage p{font-size: .26rem;padding: .2rem;border-top: 1px dashed #ddd;margin-top: .2rem;}
.experience h3 em{background-image: url(../images/icon2.png);background-size: .35rem .35rem;}
.experience-info{padding: 0 .2rem;border-top: 1px dashed #ddd;margin-top: .2rem;}
.info-top{margin-top: .2rem;}
.info-top em.time{color: #ccc;}
.info-top-name{color: #52cac1;font-size: .26rem;}
.info-top .line{margin: 0 .1rem;}
.info-top h2{font-size: .28rem;line-height: .6rem;}
.info-top .info-tag span{margin-right: .2rem;padding: .05rem .1rem;border-radius: .06rem;}
.info-top .info-msg{margin: .2rem 0;font-size: .26rem;display: -webkit-box;}
.info-top .info-msg i{display: block;width: .5rem;background: url(../images/file1.png) no-repeat;background-size: .4rem .4rem;height: .5rem;}
.info-top .info-msg span{-webkit-box-flex: 1;display: block;}
.info-line{border-bottom: 1px dashed #ddd;}
.subject h3 em{background-image: url(../images/computer.png);}
.educate h3 em{background-image: url(../images/icon3.png);}


/*底部*/
.footer{background: #fff;height: 1rem;position: fixed;left: 0;right: 0;bottom: 0;padding-top: .2rem;opacity: .9;}
.footer .footer-box{width: 40%;float: left;font-size: .28rem;margin-left: 6.6%;}
.footer .mail{position: relative;}
.footer .mail a{background: #00b5ca;color: #fff;display: block;height: .8rem;text-align: center;line-height: .8rem;border-radius: .1rem;}
.footer .mail #postlist{position: absolute; top: 0; width: 100%; height: 100%; background: transparent; color: transparent; border: none; outline: none;}
.footer .heart a{background: #4ecc69;color: #fff;display: block;height: .8rem;text-align: center;line-height: .8rem;border-radius: .1rem;}
.footer .mail a span{background: url(../images/plane.png) 0 center no-repeat;background-size: .5rem .5rem;padding-left: .6rem;display: inline-block;}
.footer .heart a span{background: url(../images/heart.png) 0 center no-repeat;background-size: .45rem auto;padding-left: .6rem;display: inline-block;}
.footer .heart a.liked{background: #f0f0f0;display: none;}
.footer .heart a.liked span{background-image: url(../images/heart1.png);color: #666;}
