*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;}
body.show {opacity:1;}
i,em{font-style: normal;}
.dn{display: none;}
.padTop20{padding-top: 20px;}
/*头部*/
.header{height: .95rem;background: #fff;display: -webkit-box;border-bottom: 1px solid #f1f1f1;position: fixed;left: 0;right: 0;top: 0;z-index: 11}
.header form{-webkit-box-flex: 1;padding-top: .15rem;}
.header input{width: 82%;height: .6rem;margin: 0 auto;display: block;border-radius: .5rem;border: 1px solid #e5e5e5;padding-left: .8rem;font-size: .26rem;background: #e5e5e5 url(../images/search1.png) .3rem center no-repeat;background-size: .4rem .4rem;}
.header-l a{display: table-cell;width: .7rem;height: .95rem;vertical-align: middle;}
.header-l a img{width: .5rem;height: auto;margin: 0 auto;display: block;}

/*筛选框*/
.choose-tab{height: 0.8rem;border-bottom: 1px solid #f4f4f4;background: #fff;position: fixed;top: .95rem;left: 0;right: 0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;z-index: 11}
.choose-tab ul{display: -webkit-box;}
.choose-tab li{font-size: .3rem;text-align: center;position: relative;padding: .2rem 0; -webkit-box-flex: 1;}
.choose-tab li a{display: block;border-right: 1px solid #f4f4f4;height: .4rem;line-height: .4rem;font-size: 14px;text-align: center;color: #565c67!important;padding: 0 6px;}
.choose-tab li.active a span{color: #ff6666;}
.choose-tab li span:after{content: '';position: absolute;width: 0;height: 0;border-style: solid;border-width: .08rem;border-color: #cccfd8 transparent transparent transparent;right: 0;top: 50%;margin-top: -2px;}
.choose-tab li.active span:after{border-color: transparent transparent #f66 transparent;margin-top: -6px;}
.choose-tab li span{position: relative;display: inline-block;height: .4rem;line-height: .4rem;max-width: 85%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-right: .26rem;font-size: .25rem;}
.choose-box{position: fixed;top: 1.79rem;left: 0;right: 0;z-index: 10}
.choose-local{border-bottom: 1px solid #f1f1f1;background: #fff;}
.choose-local .load{line-height: 6rem;text-align: center;}
.choose-box li{height: .8rem;line-height: .8rem;padding: 0 .2rem;font-size: .28rem;}
.choose-box li.active,.choose-box li.on{background: #fff;}
.choose-box li.on a{color: #fd6466;background: url(../images/dui.png) right center no-repeat;background-size: .3rem auto;display: block;}
.choose-stage-l{width: 50%;background-color: #f0f0f0;float: left;}
.choose-stage-th{background-color: #f0f0f0;}
.choose-stage-one{width: 100%;}
.choose-stage-r{width: 50%;float: left;display: none;background: #fff;}
#scroll-more{padding: 0 .3rem .5rem .3rem;}
#scroll-more h3{font-size: .28rem;color: #787878;line-height: .8rem;}
#scroll-more li{width: 22%;height: .6rem;line-height: .6rem;border: 1px solid #f1f1f1;text-align: center;float: left;font-size: .26rem;padding: 0;margin-right: 3%;border-radius: .06rem;margin-bottom: 3%;}
#scroll-more li.active{background: #fd6466;color: #fff;}
#scroll-more li:nth-child(4n){margin-right: 0;}
.sure-box{height: .8rem;text-align: center;line-height: .8rem;}
.sure-box a{display: block;width: 50%;float: left;}
.sure-box .reset{color: #fd6466;border-top: 1px solid #f1f1f1;}
.sure-box .confirm{background: #fd6466;color: #fff;}
#scroll-assort, #scroll-assort-second, #scroll-area, #scroll-area-second{max-height: 6rem;}
#scroll-assort ul, #scroll-assort-second ul, #scroll-area ul, #scroll-area-second{min-height: 6rem;}
.loading{text-align: center; font-size: .3rem; line-height: 1.5rem;}

/*列表*/
.list{margin-top: 1.75rem;}
.list li{border-bottom: 1px solid #f1f1f1;}
.list li a{display: block;padding: .2rem;}
.pic-box{width: 1.8rem;height: 1.3rem;float: left;border: 1px solid #f1f1f1;border-radius: .08rem;}
.pic-box img{display: block;width: 100%;height: 100%;border-radius: .08rem;}
.pic-txt{margin-left: 2rem;}
.pic-txt h3{font-size: .28rem;}
.pic-txt h3 .shop-name{line-height: .4rem;margin-right: .1rem;}
.pic-txt h3 .pic-tag{font-size: .2rem;display: inline;}
.pic-txt h3 .pic-tag i{font-size: .22rem;display: inline-block;text-align: center;color: #fff;border-radius: .08rem;margin-right: .04rem;vertical-align: text-bottom;padding: .05rem;line-height: 1}
.pic-txt h3 i.hui{background: #fd6830;}
.pic-txt h3 i.tuan{background: #ff692e;}
.pic-txt h3 i.ding{background: #7dd08a;}
.pic-txt h3 i.cu{background: #b6d740;}
.pic-txt h3 i.dian{background: #00bbce;}
.pic-txt h3 i.pai{background: #facb19;}
.pic-txt h3 i.wai{background: #fe8c46;}
.pic-txt h3 i.yan{background: #fe618e;}
.pic-txt h3 i.ka{background: #b780ff;}
.pic-txt .per s{background: url(../images/gray.png) no-repeat;background-size: 1.7rem .3rem;display: inline-block;width: 1.7rem;height: .3rem;}
.pic-txt .per s em{background: url(../images/yellow.png) no-repeat;background-size: 1.7rem .3rem;display: block;height: .3rem;width: 87%;}
.pic-txt .grey{color: #787878;}
.pic-txt .address{line-height: .4rem;height: .4rem;}
.pic-txt .address span{margin-right: .1rem;}

/*遮罩层*/
.mask{width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;display: none;bottom: 0}
