<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
	modelType = "car", adminPath = "{#$adminPath#}",
	basehost = '{#$basehost#}', subdomain = '{#$subdomain#}', mapCity = "{#$cfg_mapCity#}";
var cityid = {#$cityid#}, cityList = {#$cityList#},addr = {#$addrid#};
var imglist = {"imgpics": {#$pics#}};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="user">对应会员：</label></dt>
    <dd style="position:static;">
      <input class="input-medium" type="text" name="user" id="user" value="{#$username#}" autocomplete="off" />
      <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>此会员可以管理店铺信息</span>
      <div id="userList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">店铺名称：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{2,60}" maxlength="60" value="{#$title#}" />
      <span class="input-tips"><s></s>请输入店铺名称。</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺LOGO：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $logo != ""#} hide{#/if#}" id="filePicker1" data-type="logo"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $logo != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$logo#}' target="_blank" title=""><img alt="" src="/include/attachment.php?f={#$logo#}" data-val="{#$logo#}" data-url="/include/attachment.php?f={#$logo#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="logo" value="{#$logo#}" class="imglist-hidden" id="logo">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="addrid">所属地区：</label></dt>
    <dd>
			<div class="cityName addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addrid split=' '#}" data-id="{#$addrid#}">{#if $addrid != ""#}{#getPublicParentInfo tab='site_area' id=$addrid type='typename' split='/'#}{#else#}请选择{#/if#}</div>
			<input type="hidden" name="addrid" id="addrid" value="{#$addrid#}" />
		<input type="hidden" name="cityid" id="cityid" value={#$cityid#}>
      <span class="input-tips"><s></s>请选择所属地区</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="address">详细地址：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="address" id="address" value="{#$address#}" maxlength="60" data-regex=".{2,60}" />
      <img src="{#$adminPath#}../static/images/admin/markditu.jpg" id="mark" style="cursor:pointer;" title="标注地图位置" />
      <span class="input-tips"><s></s>请输入详细地址，2-60位</span>
      <input type="hidden" name="lnglat" id="lnglat" value="{#$lnglat#}" />
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="tel">联系电话：</label></dt>
    <dd><input type="text" class="input-large" id="tel" name="tel" value="{#$tel#}" /><span class="input-tips"><s></s>多个请用,分隔</span></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="openStart">营业时间：</label></dt>
    <dd><div class="input-prepend input-append"><input class="input-mini openStart" type="text" name="openStart" id="openStart" value="{#$openStart#}"><span class="add-on">到</span><input class="input-mini openEnd" type="text" name="openEnd" id="openEnd" value="{#$openEnd#}"></div></dd>
  </dl>
  <dl class="clearfix">
    <dt><label>营业执照：</label></dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $license != ""#} hide{#/if#}" id="filePicker2" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $license != ""#}
			<ul id="listSection2" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_2_1"><a href='/include/attachment.php?f={#$license#}' target="_blank" title=""><img alt="" src="/include/attachment.php?f={#$license#}" data-val="{#$license#}" data-url="/include/attachment.php?f={#$license#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection2" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="license" value="{#$license#}" class="imglist-hidden" id="license">
		</dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺图集：</dt>
		<dd class="listImgBox hide">
			<div class="list-holder">
				<ul id="listSection4" class="clearfix listSection piece"></ul>
				<input type="hidden" name="pics" value='{#$pics#}' class="imglist-hidden">
			</div>
			<div class="btn-section clearfix">
				<div class="uploadinp filePicker" id="filePicker4" data-type="album" data-count="{#$storeatlasMax#}" data-size="{#$atlasSize#}" data-imglist="imgpics"><div id="flasHolder"></div><span>添加图片</span></div>
				<div class="upload-tip">
					<p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
				</div>
			</div>
		</dd>
  </dl>
  <dl class="clearfix">
    <dt><label>服务范围：</label></dt>
    <dd>
    {#foreach from=$tagArr item=item#}
    <label><input type="checkbox" name="tag[]" value="{#$item#}"{#if $tag && in_array($item, $tagSel)#} checked{#/if#} />{#$item#}</label>&nbsp;&nbsp;
    {#/foreach#}
  </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>认证信息：</label></dt>
    <dd>
		{#foreach from=$authArr item=auth#}
		<label><input type="checkbox" name="authattr[]" value="{#$auth.id#}"{#if $authattr && in_array($auth.id, $authattr)#} checked{#/if#} />{#$auth.typename#}</label>&nbsp;&nbsp;
		{#/foreach#}
		<a href="carAuthAttr.php" class="btn btn-info btn-mini" style="display: inline-block; vertical-align: middle;" id="customRz">自定义认证属性</a>
	</dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺介绍：</dt>
    <dd>
      <script id="note" name="note" type="text/plain" style="width:85%;height:500px">{#$note#}</script>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="suc">成交数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="suc" min="0" id="suc" value="{#$suc#}"></span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="flag">认证状态：</label></dt>
    <dd class="radio">
      {#html_radios name="flag" values=$flagopt checked=$flag output=$flagnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
