<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <title>{#$article_title#}- 自媒体</title>
    <meta name="keywords" content="{#$article_keywords#}" />
    <meta name="description" content="{#$article_description#}" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/media.css?v={#$cfg_staticVersion#}" media="all" />

    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
</head>
<body class="w1200">
{#$pageCurr = 'media'#}
<!--头部 s-->
{#include file="top.html"#}
<!--头部 e-->
    <div class="contain">
        <div class="wrap">
            <div class="con fn-clear">
                <div class="navlist">
                    <div class="hd"><h2>自媒体类型</h2></div>
                    <ul class="ch2-list">
                        {#article action='selfmedia_type' return='list'#}
                        <li class="item"><a href="{#getUrlPath service='article' template='media' param="type={#$list.id#}"#}" {#if $list.id == $type#} class="active"{#/if#}>{#$list.typename#}</a></li>
                        {#/article#}
                    </ul>
                </div>

                <div class="arithmetic-list">
                    <ul class="media-list fn-clear">
                        {#article action='selfmedia' type=$type page=$page pageSize=6 return='list'#}
                        <li class="item">
                            <a href="{#$list.url#}" target="_blank">
                                <div class="pic"><img src="{#$list.photo#}" alt="{#$list.name#}"></div>
                                <div class="info fn-clear">
                                    <p class="name">{#$list.name#}</p>
                                    <div class="items fn-left">文章数 <span>{#$list.total_article#}</span></div>
                                    <div class="items fn-right">阅读量 <span>{#if $list.click > 10000#}{#$list.click/10000#} <em>万</em>{#else#}{#$list.click#}{#/if#}</span></div>
                                </div>
                                <div class="btn">主页</div>
                            </a>
                        </li>
                        {#/article#}
                    </ul>
                    {#if $pageInfo.totalCount == 0#}
                    <div class="empty">暂无相关自媒体</div>
                    {#/if#}
                    {#getPageList service='article' template='media' pageType='dynamic' param="page=#page#{#if $type#}&type={#$type#}{#/if#}"#}
                </div>
            </div>
        </div>
    </div>

<!--底部 s-->
{#include file="footer.html"#}
<!--底部 e-->

<script type="text/javascript" src="{#$templets_skin#}js/media.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>