{#include file="../../siteConfig/top1.html"#}
<div class="header wrap">
    <h1 class="logo"><a href="{#$article_channelDomain#}" title="{#$article_channelName#}"><img src="{#$article_logoUrl#}" alt="{#$article_channelName#}" /></a></h1>
    <div class="search">
        <div class="formbox">
            <form name="search" method="get" action="{#getUrlPath service='article' template='search'#}">
                <input name="keywords" type="text" class="txt_search" id="search_keyword" value="{#$keywords#}" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="搜索新闻..." data-role="input" />
                <button id="search_button" type="submit" class="btn-s">搜索</button>
            </form>
        </div>
        <p class="hot-s">
            {#siteConfig action='hotkeywords' module='article' return='word'#}
            {#if $_bindex.word < 4#}
            <a href="{#$word.href#}"{#if $word.target#} target="_blank"{#/if#}>{#$word.keyword#}</a>
            {#/if#}
            {#/siteConfig#}
        </p>
    </div>
    <div class="fabu"><a href="{#getUrlPath service='member' type='user' template='fabu-article'#}">发布投稿</a></div>
    {#if $cfg_weixinQr#}
    <div class="wx">
        <div class="wx_box"><img src="{#$templets_skin#}images/wx_icon.png"><p>关注微信</p></div>
        <p class="wx_img"><img src="{#$cfg_weixinQr#}"></p>
    </div>
    {#/if#}
    <div class="kefu"><s><img src="{#$cfg_basehost#}/static/images/changecity_tel.png" /></s><p>客服热线</p>{#$article_hotline#}</div>
</div>

<div class="nav_box">
    <div class="nav_bg">
        <ul class="nav fn-clear wrap">
            <li {#if $pageCurr == "index"#} class="currpage"{#/if#}><a href="{#getUrlPath service="article" template="index"#}">首页</a></li>
            <li {#if $pageCurr == "toutiao"#} class="currpage"{#/if#}><a href="{#getUrlPath service="article" template="toutiao"#}">头条资讯</a></li>
            <li {#if $pageCurr == "picnews"#} class="currpage"{#/if#}><a href="{#getUrlPath service="article" template="picnews"#}">图片资讯</a></li>
            <li {#if $pageCurr == "video"#} class="currpage"{#/if#}><a href="{#getUrlPath service="article" template="video"#}">视频逛街</a></li>
            <li {#if $pageCurr == "media"#} class="currpage"{#/if#}><a href="{#getUrlPath service="article" template="media"#}">自媒体</a> <i class="picon-hot1"></i></li>
            <li {#if $pageCurr == "short_video"#} class="currpage"{#/if#}><a href="{#getUrlPath service="article" template="short_video"#}">短视频</a></li>
            {#if in_array("special", $installModuleArr)#}<li><a href="{#$special_channelDomain#}">{#$special_channelName#}</a></li>{#/if#}
            {#if in_array("paper", $installModuleArr)#}<li><a href="{#$paper_channelDomain#}">{#$paper_channelName#}</a> <i class="picon-hot2"></i></li>{#/if#}
            <li><a href="{#getUrlPath service='member' type='user' template='config-selfmedia'#}" class="zmt" target="_blank">入驻自媒体</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="{#$templets_skin#}js/top.js?v={#$cfg_staticVersion#}"></script>
