<div class="foot-bottom">

	<div class="foot-middle wrap fn-clear">
		<dl class="fn-clear">
			<dt>合作伙伴</dt>
			{#siteConfig action="friendLink" return="flink" module="house"#}
			<dd><a href="{#$flink.sitelink#}" target="_blank">{#$flink.sitename#}</a></dd>
			{#/siteConfig#}
		</dl>
	</div>
	<div class="bottom wrap">
		<ul class="fn-clear">
			{#siteConfig action="singel"#}

			<a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}" target="_blank">{#$row.title#}</a> |
			{#/siteConfig#}
			<a href="{#getUrlPath service='siteConfig' template='help'#}" target="_blank">帮助中心</a>
		</ul>
		{#$cfg_powerby#}<br />{#$cfg_statisticscode#}
	</div>
</div>

