<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_nickname#}电话：{#$detail_phone#},{#$detail_nickname#}网上店铺发布二手房房源- {#$house_title#}</title>
<meta name="keywords" content="{#$detail_nickname#},{#$detail_nickname#}网上店铺,{#$detail_phone#}" />
<meta name="description" content="{#$detail_nickname#}经纪人店铺提供经纪人发布的二手房房源、租房房源信息，另外提供经纪人详细的信息，如个人介绍、电话号码：{#$detail_phone#}、服务档案、提问过的问答等信息，让您全面了解经纪人情况。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/broker_detail.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var pageData = {id:"{#$detail_id#}", panName: '{#$detail_nickname#}'};
	var atpage = 1, totalCount = 0, pageSize = 10;
	var geetest = {#$cfg_geetest#};
	var zj='{#$detail_id#}';
	var userinfo = {
		phoneCheck : {#$userinfo.phoneCheck|default:0#}
	}
	var imconfig = {
		'chatid':'{#$detail_userid#}'
	}
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = "broker"#}
{#include file="top.html"#}

<div class="wrap detail crumb">
	<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='broker'#}">经纪人</a> > <a href="{#getUrlPath service='house' template='broker-detail' id={#$detail_id#}#}">{#$detail_nickname#}的店铺</a>
	<a href="javascript:;" class="btnShare bdsharebuttonbox bds_more" data-cmd="more"> <i class="ishare"></i> 分享</a>
</div>

<div class="crumbbox wrap">
	<div class="crumtop fn-clear">
		<div class="imgbox fn-left">
            {#if $detail_post == 2#}<img class="dz" src="{#$templets_skin#}images/dz.png" />{#/if#}
			<img class="photo" src="{#$detail_litpic#}" alt="">
		</div>
		<div class="dinfo fn-left">
			<h2 class="name">{#$detail_nickname#}{#if $detail_certify#}<i class="isf"></i>{#/if#}{#if $detail_flag#}<i class="imp"></i>{#/if#}{#if $detail_level#}<img class="zjLevel" src="{#$detail_level.icon#}" title="{#$detail_level.name#}" />{#/if#}</h2>
			<div class="midbox fn-clear">
				<p><span class="ncount">{#$detail_zuCount#}</span><span>出租</span></p><em>|</em>
				<p><span class="ncount">{#$detail_saleCount#}</span><span>出售</span></p><em>|</em>
				<p><span class="ncount">{#$detail_sucCount#}</span><span>成交</span></p>
			</div>
			<div class="bottbox">
				<p><span>所属中介：</span>{#if $detail_zjcomName#}{#$detail_zjcomName#}{#else#}独立经纪人{#/if#}</p>
                {#if $detail_store#}<p><span>所属在门店：</span>{#$detail_store#}</p>{#/if#}
                {#if $detail_post#}<p><span>职位：</span>{#if $detail_post == 2#}店长{#elseif $detail_post == 1#}经理{#/if#}</p>{#/if#}
				<p><span>服务区域：</span>{#$detail_address[$detail_address|count-3]#} {#$detail_address[$detail_address|count-2]#} {#$detail_address[$detail_address|count-1]#}</p>
				{#if $detail_community#}<p><span>主营小区：</span>{#foreach from=$detail_communityArr item=community key=k#}{#$detail_communityName[$k]#}{#/foreach#} </p>{#/if#}
			</div>
		</div>

		<div class="mobile_kf fn-clear">
			<div class="mk_lef fn-left">
				<div id="qrcode"></div>
			</div>
			<div class="mk_rig fn-right">
				<span>手</span>
				<span>机</span>
				<span>看</span>
				<span>房</span>
			</div>
		</div>
	</div>
	<div class="crumbottom fn-clear">
		<div class="fn-left l">
			<a href="javascript:;" class="piTel"><i></i>：{#$detail_phone#}</a>
			{#if $detail_wx#}<a href="javascript:;" class="piWx"><i></i>：{#$detail_wx#}</a>{#/if#}
			{#if $detail_qq#}<a href="javascript:;" class="piQq"><i></i>：{#$detail_qq#}</a>{#/if#}
		</div>
		<div class="fn-right r">
			<a href="javascript:;" class="chat_to-Link" data-type="user" data-id="">联系他 </a>
			<a href="javascript:;" class="btnWt"><i class="iwt"></i>房源委托</a>
		</div>
	</div>

</div>

<div class="wrap mainCon fn-clear">
	<div class="sidebar">
		<div class="header">店内分类</div>
		<div class="sideNav">
			<div class="nav_item">
				<h4 class="on"><i class="sicon reduce"></i><a href="javascript:;">出售房源</a></h4>
				<ul class="ubox uboxsale ushow">

				</ul>
			</div>
			<div class="nav_item">
				<h4 class="on"><i class="sicon add"></i><a href="javascript:;">出租房源</a></h4>
				<ul class="ubox uboxzu">

				</ul>
			</div>
		</div>

	</div>

	<div class="rightCon">
		<div class="header">
			<ul class="ul-nav">
				<li class="curr" data-id="sale"><span>二手房</span></li>
				<li data-id="zu"><span>出租房</span></li>
				<li data-id="xzl"><span>写字楼</span></li>
				<li data-id="sp"><span>商铺</span></li>
				<li data-id="cf"><span>厂房/仓库</span></li>
				<li data-id="cw"><span>车位</span></li>
			</ul>
		</div>
		<div class="boxCon">
			<ul></ul>
		</div>
		<div class="pagination"></div>
	</div>
</div>

<div class="modal-wt">
	<s class="close"></s>
	<div class="lp_title">房源委托</div>
	<div class="dc">
		<input type="hidden" name="zjuid" id="zjuid" value="{#$detail_id#}">
		<div class="con-tit">您要委托的类型是</div>
		<div class="tab_wt">
			<ul class="fn-clear">
				<li class="curr"  data-val="0"><s class="checkbox checked"><i></i></s>出租</li>
				<li data-val="1"><s class="checkbox"><i></i></s>出售</li>
				<li data-val="2"><s class="checkbox"><i></i></s>转让</li>
			</ul>
		</div>
		<div class="con-tit">您想委托的房源信息</div>
		<ul class="fyInfo">
			<li><input type="text" id="addr" placeholder="请输入地址" title="请输入地址"></li>
			<li><input type="text" id="doorcard" placeholder="请输入门牌" title="请输入门牌"></li>
			<li><input type="text" id="area" placeholder="房产证上的面积" title="房产证上的面积"> <em>平方米(㎡)</em></li>
			<li class="zbj"><input type="text" id="price" placeholder="请输入您的报价" title="请输入您的报价"> <em>{#echoCurrency type='short'#}/月</em></li>

			<li class="sbj"><input type="text" id="sprice" placeholder="请输入您的报价" title="请输入您的报价"> <em>万{#echoCurrency type='short'#}</em></li>
			<li class="mprice"><input type="text" id="mprice" placeholder="月租金" title="月租金"> <em>{#echoCurrency type='short'#}/月</em></li>
			<li class="zrprice"><input type="text" id="zprice" placeholder="转让费" title="转让费"> <em>{#echoCurrency type='short'#}</em></li>
		</ul>
		<div class="con-tit">请留下您的联系方式</div>
		<ul class="contact-way">
			<li><input type="text" id="name" placeholder="怎么称呼您" title="怎么称呼您">
				<div class="sexbox fn-clear">
					<label><input type="radio" name="sex" data-type="male" value="1" checked> 先生</label>
					<label><input type="radio" name="sex" data-type="female" value="2"> 女士</label>
				</div>
			</li>
			{#if $userinfo.phoneCheck#}
			<li><input type="text" id="telphone" placeholder="您的手机号" maxlength="11" title="请输入您的手机号码" value="{#$userinfo.phone#}" readonly></li>
			<li class="fn-hide"><input type="text" id="vercode" placeholder="短信验证码" maxlength="6" title="请输入验证码"></li>
			{#else#}
			<li><input type="text" id="telphone" placeholder="您的手机号" maxlength="11" title="请输入您的手机号码"><a href="javascript:;" class="getCodes">发送验证码</a></li>
			<li><input type="text" id="vercode" placeholder="短信验证码" maxlength="6" title="请输入验证码"></li>
			{#/if#}
			<li class="tj"><button id="tj">提交我的委托</button></li>
		</ul>
	</div>
</div>
<div class="popup_bg"></div>

<div class="choose-tab" style="display:none;">
	<ul>
		<li class="community" data-id="" data-type="community"></li>
		<li class="price" data-id="" data-type="price"></li>
		<li class="room" data-id="" data-type="room"></li>
	</ul>
</div>

<!-- 微信弹出层 -->
<div class="modalbox">
	<div class="modal-bg"></div>
	<div class="modal-main">
		<div class="closebox">
			<img src="{#$templets_skin#}images/icon_close.png" alt="">
		</div>
		<div class="main-code">
			<img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service=house template="broker-detail" id={#$detail_id#}#}" alt="">
		</div>
		<!-- 电话 -->
		<p class="ptext">微信扫二维码，即刻拨打电话</p>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/broker_detail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
