<div class="wrap community-nav sale-nav">
	<ul>
		<li{#if $communityNav == 1#} class="curr"{#/if#}><a href="{#$pageUrl#}">小区首页</a></li>
		<li{#if $communityNav == 2#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='community-hx' id={#$detail_id#}#}">户型</a></li>
		<li{#if $communityNav == 3#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='community-album' id={#$detail_id#}#}">小区相册</a></li>
		<li{#if $communityNav == 4#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='community-sale' id={#$detail_id#}#}">出售房源({#$detail_total_sale#})</a></li>
		<li{#if $communityNav == 5#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='community-zu' id={#$detail_id#}#}">出租房源({#$detail_total_zu#})</a></li>
		<li><a href="{#$pageUrl#}#map" id="peitao">周边配套</a></li>
	</ul>
</div>