<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>【{#$detail_title#}小区相册，{#$siteCityInfo['name']#}{#$detail_title#}相册】-{#$house_title#}</title>
<meta name="keywords" content="{#$detail_title#},{#$siteCityInfo['name']#}{#$detail_title#},{#$detail_title#}相册,{#$detail_address#}" />
<meta name="description" content="{#$siteCityInfo['name']#}{#$detail_title#},全新二手房房源信息，{#$detail_address#}。找最新{#$detail_title#}实景图、小区相册、二手房、租房房源信息、交通配套信息就来{#$cfg_shortname#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/community_detail.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/abigimage.jquery.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	{#$pageUrl = "{#getUrlPath service='house' template='community-detail' id="{#$detail_id#}"#}"#}

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var pageData = {
		id: {#$detail_id#},
		panName: '{#$detail_title#}',
		address: '{#$detail_address#}',
		lat: '{#$detail_latitude#}',
		lng: '{#$detail_longitude#}',
		url: '{#$pageUrl#}'
	};

</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'community'#}
{#include file="top.html"#}

{#$communityNav = 3#}
{#$crumbTitle = "小区相册"#}
{#include file="community_top.html"#}
{#include file="community_nav.html"#}

<div class="wrap albumbox">
	{#house action="albumList" act="community" loupanid={#$detail_id#} pageSize="1000"#}
	<div class="con_head">{#$row.title#}({#$row.imglist|count#})</div>
	<div class="c-info">
		<div class="album-list">
			<ul>
				{#foreach from=$row.imglist item=img key=k#}
				<li>
					<a href="{#changeFileSize url="{#$img.path#}"#}" title="">
						<img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$img.path#}" type="small"#}" title="{#$img.info#}" /></a>
				</li>
				{#/foreach#}
				{#if !$row.imglist#}<div class="empty">抱歉，该相册暂无照片！</div>{#/if#}
			</ul>
		</div>
	</div>
	{#/house#}
</div>


{#include file="footer.html"#}
<script>
$(function(){
	$("img").scrollLoading();
});
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/community-album.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/community-public.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/abigimage.jquery.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
