<div class="crumbbox">
	<div class="wrap crumb fn-clear">
		<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='community'#}">小区列表</a> > <a href="{#getUrlPath service='house' template='community' addrid={#$detail_areaid#}#}">{#$detail_addr[$detail_addr|count-2]#}小区</a> > <a href="{#getUrlPath service='house' template='community' addrid={#$detail_areaid#} business={#$detail_addrid#}#}">{#$detail_addr[$detail_addr|count-1]#}小区</a> > <a href="{#$pageUrl#}">{#$detail_title#}</a> > <span>{#$crumbTitle#}</span>
	</div>
	<div class="wrap crumtit">
		<h1 class="name">{#$detail_title#}</h1>
		<p>100%真房源！更多房源信息请联系经纪人</p>
		<div class="mobile_kf fn-clear">
			<div class="mk_lef fn-left">
				<div id="qrcode"></div>
			</div>
			<div class="mk_rig fn-right">
				<span>手</span>
				<span>机</span>
				<span>看</span>
				<span>房</span>
			</div>
		</div>
		<!-- 收藏、分享、相册 s-->
		<div class="btnbx">
			{#if $detail_collect#}<a href="javascript:;" class="btnSc btnYsc"> <i class="isc"></i> 已收藏</a>
			{#else#}<a href="javascript:;" class="btnSc"> <i class="isc"></i> 收藏</a>{#/if#}
			<a href="javascript:;" class="btnShare bdsharebuttonbox bds_more" data-cmd="more"> <i class="ishare"></i> 分享</a>
			<a href="javascript:;" class="btnJb"><i class="ijb"></i> 举报</a>
		</div>
		<!-- 收藏、分享、相册 e-->
	</div>
	
</div>
