<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}二手房-{#$house_title#}</title>
<meta name="keywords" content="{#$detail_title#},{#$siteCityInfo['name']#}{#$detail_title#},{#$detail_title#}二手房,{#$detail_title#}租房,{#$detail_address#}" />
<meta name="description" content="{#$siteCityInfo['name']#}{#$detail_title#},全新二手房房源信息，{#$detail_address#}。找最新{#$detail_title#}实景图、房型图、二手房、租房房源信息、交通配套信息就来{#$cfg_shortname#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/community_detail.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var pageData = {
		id: {#$detail_id#},
		panName: '{#$detail_title#}',
		address: '{#$detail_address#}',
		lat: '{#$detail_latitude#}',
		lng: '{#$detail_longitude#}',
		url: '{#$pageUrl#}'
	};

	{#$pageUrl = "{#getUrlPath service='house' template='community-detail' id="{#$detail_id#}"#}"#}
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'community'#}
{#include file="top.html"#}

{#$communityNav = 4#}
{#$crumbTitle = "二手房"#}
{#include file="community_top.html"#}
{#include file="community_nav.html"#}

<div class="wrap salebox fn-clear">
	
	<ul class="sale fn-clear">
		{#house action="saleList" return="sale" community={#$detail_id#} page={#$page#} pageSize="20"#}
		<li>
			<a href="{#$sale.url#}" target="_blank" title="{#$sale.title#}">
				<div class="imgbox">
					<img src="{#changeFileSize url={#$sale.litpic#} type='small'#}" alt="{#$sale.title#}">
				</div>
				<div class="txtbox">
					<h4>{#$sale.title#}</h4>
					<p class="pprice fn-clear"><span><b>{#$sale.price#}</b> {#echoCurrency type='short'#}</span></p>
					<p class="parea"><span>{#$sale.room#}</span><em>|</em><span>{#$sale.area#}㎡</span></p>
				</div>
			</a>
		</li>
		{#/house#}
	</ul>

</div>
{#getPageList service='house' template='community-sale' community={#$detail_id#}#}

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/community-public.js"></script>
</body>
</html>
