<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$siteCityInfo['name']#}{#$addrname#}{#if $type == ''#}求租/求购{#else#}{#if $type == 1#}求购{#else#}求租{#/if#}{#/if#}{#$actname#}房源信息-{#$house_title#}</title>
<meta name="keywords" content="{#$siteCityInfo['name']#}{#$addrname#}{#if $type == ''#}求租/求购{#else#}{#if $type == 1#}求购房{#else#}求租房{#/if#}{#/if#}" />
<meta name="description" content="{#$siteCityInfo['name']#}专业房源信息网站,每天更新全新的{#$siteCityInfo['name']#}房源信息、{#$siteCityInfo['name']#}个人房源,合租房源发布，为您提供精确，真实的{#$siteCityInfo['name']#}房源信息，{#$siteCityInfo['name']#}房源价格、价格走势，{#$cfg_shortname#}让房源变得简单!" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/demand.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var addrid=0, atpage = 1, pageSize = 10, totalCount = 0;
	var geetest = {#$cfg_geetest#};
	var userinfo = {
  	phone: '{#$userinfo.phone#}',
  	phoneCheck: {#$userinfo.phoneCheck|default:0#}
  };
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'demand'#}
{#include file="top.html"#}

{#$addridName = ''#}
{#$businessName = ''#}
{#$actName = ''#}
<div class="wrap">
	<div class="crumb fn-clear">
		<div class="location">
			<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='demand'#}">{#if $type == ''#}求租/求购{#else#}{#if $type == 1#}求购房{#else#}求租房{#/if#}{#/if#}</a>
		</div>
	</div>
	<div class="filter">
		<dl class="t-fi fn-clear">
			<dt>位置</dt>
			<dd class="fn-clear">
				<div class="pos-item fn-clear">
					<a href="{#getUrlPath service='house' template='demand' addrid=0 business=0 type={#$type#} act={#$act#} keywords={#$keywords#}#}"{#if $addrid == 0#} class="curr"{#/if#}>不限</a>
					{#house action="addr" return='addr'#}
					{#if $addr.id == $addrid#}
					{#$addridName = $addr.typename#}
					{#/if#}
					<a href="{#getUrlPath service='house' template='demand' addrid={#$addr.id#} business=0 type={#$type#} act={#$act#} keywords={#$keywords#}#}"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
					{#/house#}
				</div>
			</dd>
			{#if $addrid != 0#}
			<div class="area" style="display: block">
				<div class="pos-sub-item  fn-clear">
					<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business=0 type={#$type#} act={#$act#}  keywords={#$keywords#}#}"{#if $business == 0#} class="curr"{#/if#}>不限</a>
					{#house action="addr" return='addr' type={#$addrid#}#}
					{#if $addr.id == $business#}
					{#$businessName = $addr.typename#}
					{#/if#}
					<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$addr.id#} type={#$type#} act={#$act#}  keywords={#$keywords#}#}"{#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
					{#/house#}
				</div>
			</div>
			{#/if#}
		</dl>

		<dl class="fn-clear">
			<dt>类别</dt>
			<dd class="pos-sub-type fn-clear">
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act='' keywords={#$keywords#}#}"{#if $act == ''#} class="curr"{#/if#}>不限</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=1 keywords={#$keywords#}#}"{#if $act == 1#} {#$actName = '新房'#}class="curr"{#/if#}>新房</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=2 keywords={#$keywords#}#}"{#if $act == 2#} {#$actName = '二手房'#} class="curr"{#/if#}>二手房</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=3 keywords={#$keywords#}#}"{#if $act == 3#} {#$actName = '出租房'#} class="curr"{#/if#}>出租房</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=4 keywords={#$keywords#}#}"{#if $act == 4#} {#$actName = '写字楼'#} class="curr"{#/if#}>写字楼</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=5 keywords={#$keywords#}#}"{#if $act == 5#} {#$actName = '商铺'#} class="curr"{#/if#}>商铺</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=6 keywords={#$keywords#}#}"{#if $act == 6#} {#$actName = '厂房/仓库'#} class="curr"{#/if#}>厂房/仓库</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act=7 keywords={#$keywords#}#}"{#if $act == 7#} {#$actName = '车位'#} class="curr"{#/if#}>车位</a>
			</dd>
		</dl>
		{#if $keywords != "" || $addrid != 0 || $act != ""#}
		<dl class="fi-state fn-clear" style="display: block;">
			<dt>已选条件</dt>
			<dd class="fn-clear">
				{#if $keywords#}
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act={#$act#} keywords='' #}"><span>{#$keywords#}</span><i class="idel"></i></a>
				{#/if#}
				{#if $addrid#}
				<a href="{#getUrlPath service='house' template='demand' addrid=0 business=0 type={#$type#} act={#$act#} keywords={#$keywords#}#}"><span>{#$addridName#}</span><i class="idel"></i></a>
				{#/if#}
				{#if $business#}
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business=0 type={#$type#} act={#$act#} keywords={#$keywords#}#}"><span>{#$businessName#}</span><i class="idel"></i></a>
				{#/if#}
				{#if $act#}
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act='' keywords={#$keywords#}#}"><span>{#$actName#}</span><i class="idel"></i></a>
				{#/if#}
			</dd>
			<a class="btn_clear" href="{#getUrlPath service='house' template='demand' addrid=0 business=0 type='' act='' keywords=''#}">清空条件</a>
		</dl>
		{#/if#}
	</div>
</div>

<div class="wrap totalCount">
	共找到 <b>0</b> 个符合条件的房源
</div>

<div class="wrap fn-clear">
	<div class="sidebar">
      	<div class="SearchBox">
			<form action="{#getUrlPath service='house' template='demand'#}" method="get">
				<input type="search" placeholder="搜关键词..." id="keywords" name="keywords" class="inp"/>
				<input type="submit" value="搜索" class="submit">
			</form>
		</div>
		<div class="salehbox">
			<a href="javascript:;" id="put">
				<img src="{#$templets_skin#}images/img_qzqg.png" alt="">
			</a>
		</div>
		<div class="lp_box">
			<div class="lp_title">房产资讯</div>
			<ul class="lp_news">
				{#house action="news" return="list" page="1" pageSize="8"#}
				<li><a href="{#$list.url#}"><em>•</em>{#$list.title#}</a></li>
				{#/house#}
			</ul>
		</div>

	</div>
	<div class="main_con" data-login="{#if $userinfo#}1{#else#}0{#/if#}">
		<div class="m-t fn-clear">
			<ul>
				<li  class="{#if $type == ''#}curr{#/if#}"><a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type='' act={#$act#} keywords={#$keywords#}#}">全部信息</a></li>
				<li  class="{#if $type == '0'#}curr {#/if#}"><a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type=0 act={#$act#} keywords={#$keywords#}#}">求租</a></li>
				<li class="{#if $type == 1#} curr{#/if#}"><a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type=1 act={#$act#} keywords={#$keywords#}#}">求购</a></li>
			</ul>
		</div>
		<div class="m-o">
			<div class="m-l">
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act={#$act#} keywords={#$keywords#} param="orderby=1"#}" class="{#if $orderby != 2#} curr{#/if#}">默认排序</a>
				<a href="{#getUrlPath service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act={#$act#} keywords={#$keywords#} param="orderby=2"#}" class="{#if $orderby == 2#} curr{#/if#}">最新发布</a>
			</div>
		</div>
		<div class="lplist">
			<ul>
				{#$addr = $addrid#}
				{#if $business != 0#}
				{#$addr = $business#}
				{#/if#}
				{#house action="demand" return="demand" addrid={#$addr#} typeid={#$type#} act={#$act#} title={#$keywords#} page={#$page#} orderby=$orderby pageSize="8"#}
				<li class="fn-clear">
					<div class="markbox">
						{#if $demand.type == 1#}
						<span class='m_mark m_qg'>求购</span>
						{#else#}
						<span class="m_mark m_qz">求租</span>
						{#/if#}
					</div>
					<div class="infbox fn-left">
						<div class="lptit fn-clear">
							<h2>{#$demand.title#}</h2>
							<a href="javascript:;" class="manage" data-id="{#$demand.id#}">管理</a>
						</div>
						<p class="lpinf">{#$demand.note#}</p>
						<div class="lpinf fn-clear">
							<div class="sp_l fn-left">
								<span class="priCo">{#$demand.action#}</span>
								<em>|</em>
								<span>{#$demand.addr[0]#}-{#$demand.addr[1]#}</span>
								<em>|</em>
								<span>{#$demand.pubdate#}</span>
							</div>
						</div>
					</div>
					<div class="perbox fn-left">
						<p class="pname"><i class="iname"></i>{#$demand.person#}</p>
						{#if $userinfo#}
						<p class="ptel"><i class="itel"></i>{#$demand.contact#}</p>
						{#else#}
						<p class="ptel"><i class="itel"></i><a href="{#$cfg_basehost#}/login.html">登录后查看</a></p>
						{#/if#}
					</div></li>
				{#/house#}
				{#if $pageInfo.totalCount == 0#}
				<div class="empty">抱歉！ 未找到相关房源</div>
				{#/if#}
			</ul>
		</div>

		{#getPageList service='house' template='demand' addrid={#$addrid#} business={#$business#} type={#$type#} act={#$act#} keywords={#$keywords#} param = "orderby=$orderby"#}
	</div>
</div>


<div class="popup-fabu">
	<div class="fabu-form">
		<div class="tit">快速发布求租求购<s></s></div>
		<div class="con">
			<dl class="fn-clear">
				<dt>标题</dt>
				<dd><input type="text" id="title" maxlength="100" /></dd>
			</dl>
			<dl class="fn-clear">
				<dt>需求描述</dt>
				<dd><textarea id="note" rows="4" maxlength="500" placeholder="请输入具体要求~"></textarea></dd>
			</dl>
			<dl class="fn-clear radio">
				<dt>类别</dt>
				<dd class="fn-clear">
					<label><input type="radio" name="act" value='1' /> 新房</label>
					<label><input type="radio" name="act" value='2' /> 二手房</label>
					<label><input type="radio" name="act" value='3' checked /> 出租房</label>
					<label><input type="radio" name="act" value='4' /> 写字楼</label>
					<label><input type="radio" name="act" value='5' /> 商铺</label>
					<label><input type="radio" name="act" value='6' /> 厂房/仓库</label>
					<label><input type="radio" name="act" value='7' /> 车位</label>
				</dd>
			</dl>
			<dl class="fn-clear radio ftype">
				<dt>供求</dt>
				<dd class="fn-clear">
					<label><input type="radio" name="type" value='0' checked /> 求租</label>
					<label><input type="radio" name="type" value='1' /> 求购</label>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>位置</dt>
				<dd class="fn-clear">
					<div class="doubel">
						<div class="cityName addrBtn" data-field="addrid" data-ids="" data-id="0">请选择</div>
			      <input type="hidden" name="addrid" id="addrid" value="" />
			      <input type="hidden" name="cityid" id="cityid" value="" >
					</div>
					
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>联系人</dt>
				<dd class="fn-clear">
					<div class="doubel">
						<input type="text" id="person" maxlength="20" />
					</div>
					
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>联系电话</dt>
				<dd class="fn-clear">
					<div class="doubel">
						<input type="tel" id="contact" maxlength="20" />
					</div>
					<label class="lr codetest" >
						<span>验证码</span><input type="text" id="testcode" maxlength="50" />
						<div class="getcode"><button>发送</button></div>
					</label>
					
					
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>管理密码</dt>
				<dd class="fn-clear">
					<div class="doubel">
						<input type="text" id="password" maxlength="20" />
						
					</div>
					<p class="lr tip-code"><em>更换手机需重新验证</em></p>
				</dd>
			</dl>
			<dl class="fn-clear fn-hide edit radio">
				<dt>管理</dt>
				<dd class="fn-clear">
					<label><input type="radio" name="manage" value='1' checked /> 修改</label>
					<label><input type="radio" name="manage" value='2' /> 删除</label>
				</dd>
			</dl>
			<button id="tj">立即发布</button>
		</div>
	</div>
	<div class="mask"></div>
</div>


{#include file="footer.html"#}
<script>var type = '{#$type#}', totalCount = {#$pageInfo.totalCount|string_format:"%d"#}, totalPage = {#$pageInfo.totalPage|string_format:"%d"#}, atPage = {#$page#}, pageUrl = '{#getUrlPath service="house" template="demand" addrid={#$addrid#} business={#$business#} type={#$type#} act={#$act#} keywords={#$keywords#} page="%page%"#}';</script>
	{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/demand.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
