<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}楼盘动态_团购|优惠|打折信息-{#$house_title#}</title>
<meta name="keywords" content="{#$detail_title#}楼盘动态,{#$detail_title#}团购,{#$detail_title#}优惠,{#$detail_title#}打折信息" />
<meta name="description" content="{#$siteCityInfo['name']#}{#$detail_title#}详情信息频道为您提供{#$detail_title#}售楼处电话、地址、物业费、物业电话、开盘时间、入住时间、地图、周边楼盘等最新{#$detail_title#}新楼盘信息，找新房上{#$siteCityInfo['name']#}{#$cfg_shortname#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/loupan_public.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/loupan_news.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var pageData = {
		id: '{#$detail_id#}',
		panName: '{#$detail_title#}',
		lat: '{#$detail_latitude#}',
		lng: '{#$detail_longitude#}',
		url: '{#getUrlPath service="house" template="loupan-detail" id={#$detail_id#}#}'
	};
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'loupan'#}
{#include file="top.html"#}

{#$loupanNav = 6#}
{#$crumbTitle = "楼盘动态"#}
{#include file="loupan_top.html"#}

<div class="wrap  detail-info fn-clear">
	<div class="container-left">
		<div class="article">
			{#house action="loupanNewsList" loupanid={#$detail_id#} page={#$page#} pageSize="10"#}
			<dl>
				<dd>
					<h3><a href="{#$row.url#}" title="[{#$row.loupan#}]{#$row.title#}">{#$row.title#}</a></h3>
					<p>{#$row.note#}...<a href="{#$row.url#}" target="_blank">阅读全文</a></p>
					<div class="bt"><span class="mark">楼盘资讯</span><span class="time">{#$row.pubdate|date_format:'%Y-%m-%d'#}</span></div>
				</dd>
			</dl>
			{#/house#}

			{#if $pageInfo.totalCount == 0#}
			<div class="empty">抱歉，该楼盘暂无动态！</div>
			{#/if#}
		</div>

		{#getPageList service='house' template='loupan-news' id="{#$detail_id#}"#}
	</div>
	<div class="container-right">
		<div class="sidebar">
			<div class="mapbox">
				<a href="{#getUrlPath service='house' template='map' action='loupan'#}" class="smap" target="_blank">
					<img src="{#$templets_skin#}images/mapImg.png" alt="">
					<span>试试地图找房</span>
				</a>
			</div>
			<div class="lp_box">
				<div class="lp_title">最近浏览的楼盘</div>
				<ul>
					{#$_bindex = ""#}
					{#house action=loupanHistory pageSize=3 return=loupan#}
					{#if $_bindex.loupan < 4#}
					<li>
						<a href="{#$loupan.url#}" target="_blank">
							<p title="{#$loupan.title#}">{#$loupan.title#}</p>
							<p>{#if $loupan.price == 0#}待定{#else#}{#$loupan.price#}{#if $loupan.ptype == 1#}{#echoCurrency type='short'#}/㎡{#else#}万{#echoCurrency type='short'#}/套{#/if#}{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
						</a>
					</li>
					{#/if#}
					{#/house#}
				</ul>
			</div>
			<div class="lp_box">
				<div class="lp_title">热门楼盘</div>
				<ul>
					{#house action=loupanList filter="hot" pageSize=3 return=loupan#}
					<li>
						<a href="{#$loupan.url#}" target="_blank">
							<p title="{#$loupan.title#}">{#$loupan.title#}</p>
							<p>{#if $loupan.price == 0#}待定{#else#}{#$loupan.price#}{#if $loupan.ptype == 1#}{#echoCurrency type='short'#}/㎡{#else#}万{#echoCurrency type='short'#}/套{#/if#}{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
						</a>
					</li>
					{#/house#}
				</ul>
			</div>
			<div class="lp_box">
				<div class="lp_title">本月最新楼盘</div>
				<ul>
					{#house action="loupanList" return="loupan" times="tmonth" page="1" pageSize="5"#}
					<li>
						<a href="{#$loupan.url#}" target="_blank">
							<p title="{#$loupan.title#}">{#$loupan.title#}</p>
							<p>{#if $loupan.price == 0#}待定{#else#}{#$loupan.price#}{#if $loupan.ptype == 1#}{#echoCurrency type='short'#}/㎡{#else#}万{#echoCurrency type='short'#}/套{#/if#}{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
						</a>
					</li>
					{#/house#}
				</ul>
			</div>
			<div class="lp_box">
				<div class="lp_title">楼盘动态</div>
				<ul class="lp_news">
					{#house action="loupanNewsList" return="list" rand="1" page="1" pageSize="8"#}
					<li><a href="{#$list.url#}" title="{#$list.title#}" target="_blank"><em>•</em>{#$list.title#}</a></li>
					{#/house#}
				</ul>
			</div>
		</div>
	</div>


</div>

{#include file="footer.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/loupan_public.js"></script>
</body>
</html>
