<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#if $sale_seotitle != ""#}{#$siteCityInfo['name']#}{#$sale_seotitle#}二手房{#else#}{#$siteCityInfo['name']#}二手房房产网，{#$siteCityInfo['name']#}二手房交易信息，{#$siteCityInfo['name']#}二手房出售{#/if#}-{#$house_title#}</title>
<meta name="keywords" content="{#$siteCityInfo['name']#}二手房,{#$siteCityInfo['name']#}房产网,{#$siteCityInfo['name']#}二手房交易信息,{#$siteCityInfo['name']#}二手房出售,{#$house_title#}" />
<meta name="description" content="{#$cfg_shortname#}{#$siteCityInfo['name']#}二手房房产网，涵盖{#$siteCityInfo['name']#}各区域房源信息。{#$cfg_shortname#}帮您定位，选择，收藏，搜索各类出售房源，带来最佳二手房买卖体验。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/sale.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var atpage = 1, totalCount = 0, pageSize = 10, comid = '{#$comid#}';
	var detail = {
		addrid : {#$addrid|default:0#},
		business : {#$business|default:0#},
		subway : {#$subway|default:0#},
		station : {#$station|default:0#},
	}
	var keywords = '{#$keywords#}';
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'sale'#}
{#include file="top.html"#}

{#$addridName = ''#}
{#$businessName = ''#}
{#$subwayName = ''#}
{#$subwayStationName = ''#}
{#$priceName = ''#}
{#$typeName = ''#}
{#$buildName = ''#}

<div class="main">
	<div class="wrap">
		<div class="crumb fn-clear">
			<div class="location">
				<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='sale'#}">二手房</a>
			</div>
		</div>
		<div class="filter">
          <div class="filterlist">
            	
			<dl class="t-fi fn-clear">
                <dt>位置</dt>
                <dd class="fn-clear">
                    <ul class="t-fi-item fn-clear">
                        <li class="area{#if $from == "" && $subway == 0#} curr{#/if#}"><a href="javascript:;">区域找房<i class="idown"></i></a></li>
                        {#if $cfg_subway_state#}<li class="subway{#if $from == "subway" || $subway != 0#} curr{#/if#}"><a href="javascript:;">{#$cfg_subway_title#}<i class="idown"></i></a></li>{#/if#}
                    </ul>

                </dd>
				<!--区域找房-->
                <div class="sub-fi areabox"{#if $from == "" && $subway == 0#} style="display: block;"{#/if#}>
                    <s><i></i></s>
                    <div class="pos-item">
						<a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $addrid == 0#} class="curr"{#/if#}>不限</a>
						{#house action="addr" return='addr'#}
						{#if $addr.id == $addrid#}
						{#$addridName = $addr.typename#}
						{#/if#}
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addr.id#} business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
						{#/house#}
                    </div>
                    {#if $addrid != 0#}
                    <div class="pos-sub-item" style="display:block;">
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $business == 0#} class="curr"{#/if#}>不限</a>
						{#house action="addr" type=$addrid return='addr'#}
						{#if $addr.id == $business#}
						{#$businessName = $addr.typename#}
						{#/if#}
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$addr.id#} subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
						{#/house#}
                    </div>
                    {#else#}
                    <div class="pos-sub-item"></div>
                    {#/if#}
                </div>
				<!--地铁找房-->
				<div class="sub-fi subwaybox"{#if $from == "subway" || $subway != 0#} style="display:block"{#/if#}>
					<s><i></i></s>
					<div class="pos-item">
						<a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $subway == 0#} class="curr"{#/if#}>不限</a>
						{#siteConfig action="subway" return='sub' city={#$siteCityInfo['cityid']#}#}
						{#if $sub.id == $subway#}
						{#$subwayName = $sub.title#}
						{#/if#}
						<a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway={#$sub.id#} station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $subway == $sub.id#} class="curr"{#/if#}>{#$sub.title#}</a>
						{#/siteConfig#}
					</div>
					{#if $subway != 0#}
						<div class="pos-sub-item">
				<div class="pos-sub-title subway-sub-title">
					{#siteConfig action="subwayStation" return='subwayStation' type=$subway#}
					{#if $subwayStation.id == $station#}
					{#$subwayStationName = $subwayStation.title#}
					{#/if#}
					{#if $_bindex.subwayStation < 15#}
					{#if $_bindex.subwayStation == 1#}
					<div class="direction-line left-direction">
						<a class="ditie-sub-point all {#if $station == 0#}show{#/if#}"  href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station=0 price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="first-line">
								<div class="station-point sub-pos-unit">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								不限
							</div>
						</a>
						{#else#}
						<a class="ditie-sub-point {#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="first-line">
								<div class="line-info {#if $_bindex.subwayStation == 2#}no-left{#/if#}"></div>
								<div class="station-point sub-pos-unit">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#/if#}
						{#else if $_bindex.subwayStation > 14 && $_bindex.subwayStation <29#}
						{#if $_bindex.subwayStation == 15#}
					</div>
					<div class="direction-line  right-direction">
						<a class="ditie-sub-point{#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="side-bar right">
								<div class="heng"></div>
								<div class="shu"></div>
							</div>
							<div class="first-line">
								<div class="line-info"></div>
								<div class="station-point sub-pos-unit ">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#else#}
						<a class="ditie-sub-point {#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="first-line">
								<div class="line-info"></div>
								<div class="station-point sub-pos-unit ">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#/if#}
						{#else if $_bindex.subwayStation > 28&& $_bindex.subwayStation <42#}
						{#if $_bindex.subwayStation == 29#}
					</div>
					<div class="direction-line left-direction">
						<a class="ditie-sub-point{#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="side-bar left">
								<div class="heng"></div>
								<div class="shu"></div>
							</div>
							<div class="first-line">
								<div class="line-info"></div>
								<div class="station-point sub-pos-unit ">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#else#}
						<a class="ditie-sub-point {#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="first-line">
								<div class="line-info"></div>
								<div class="station-point sub-pos-unit ">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#/if#}
						{#else $_bindex.subwayStation >42#}
						{#if $_bindex.subwayStation == 43#}
					</div>
					<div class="direction-line  right-direction">
						<a class="ditie-sub-point{#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="side-bar right">
								<div class="heng"></div>
								<div class="shu"></div>
							</div>
							<div class="first-line">
								<div class="line-info"></div>
								<div class="station-point sub-pos-unit ">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#else#}
						<a class="ditie-sub-point {#if $station == $subwayStation.id#} show{#/if#}" href="{#getUrlPath service='house' template='loupan' addrid=0 business=0 subway={#$subway#} station={#$subwayStation.id#} price={#$price#} typeid={#$typeid#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}">
							<div class="first-line">
								<div class="line-info"></div>
								<div class="station-point sub-pos-unit ">
									<div class="red-point"></div>
								</div>
							</div>
							<div class="station-name">
								{#$subwayStation.title#}
							</div>
						</a>
						{#/if#}

						{#/if#}

						{#/siteConfig#}
					</div>
				</div>
			</div>
					{#/if#}
				</div>
			<!--地铁找房-->
            </dl>
			{#$priceTitle = ''#}
			<dl class="o-fi fn-clear">
				<dt>售价</dt>                                                                                                
				<dd class="fn-clear">
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == ''#} class="curr"{#/if#}>不限</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price=',100' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == ',100'#} class="curr"{#/if#}>100万以下</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='100,150' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '100,150'#} class="curr"{#/if#}>100-150万</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='150,200' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '150,200'#} class="curr"{#/if#}>150-200万</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='200,250' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '200,250'#} class="curr"{#/if#}>200-250万</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='250,300' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '250,300'#} class="curr"{#/if#}>250-300万</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='300,500' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '300,500'#} class="curr"{#/if#}>300-500万</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='500,800' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '500,800'#} class="curr"{#/if#}>500-800万</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price='800,' area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $price == '800,'#}  class="curr"{#/if#}>800万以上</a>

					<div class="spbox inp_price">
						<div class="inpbox">
							<input type="input" class="p1" id="price1" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">-
							<input type="input" class="p2" id="price2" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">万
							<a class="btn btn_price" id="price_sure" href="javascript:;" >确定</a>
							{#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
								{#$priceTitle=$priceArr[0]|cat:'万以上'#}
							{#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
								{#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'万'#}
							{#else $priceArr[0]==0 && $priceArr[1]!=0#}
								{#$priceTitle=$priceArr[1]|cat:'万以下'#}
							{#/if#}
						</div>
					</div>
				</dd>
			</dl>
			{#$areaName = ''#}
			<dl class="o-fi fn-clear">
				<dt>面积</dt>                                               
				<dd class="fn-clear">
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == ''#} class="curr"{#/if#}>不限</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area=',50' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == ',50'#} class="curr"{#/if#}>50㎡以下</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='50,70' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == '50,70'#} class="curr"{#/if#}>50-70㎡</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='70,90' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == '70,90'#} class="curr"{#/if#}>70-90㎡</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='90,110' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == '90,110'#} class="curr"{#/if#}>90-110㎡</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='110,130' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == '110,130'#}  class="curr"{#/if#}>110-130㎡</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='130,150' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == '130,150'#} class="curr"{#/if#}>130-150㎡</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area='150,' room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $area == '150,'#}class="curr"{#/if#}>150㎡以上</a>

					<div class="spbox inp_area">
						<div class="inpbox">
							<input type="input" class="p1" id="areaLow" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">-
							<input type="input" class="p2" id="areaTop" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">㎡
							<a class="btn btn_area" id="area_sure" href="javascript:;" >确定</a>
							{#if $areaArr[0] !=0 &&  $areaArr[1] ==0#}
								{#$areaName=$areaArr[0]|cat:'㎡以上'#}
							{#else if $areaArr[0] !=0 &&  $areaArr[1] !=0#}
								{#$areaName=$areaArr[0]|cat:'-'|cat:$areaArr[1]|cat:'㎡'#}
							{#else $areaArr[0]==0 && $areaArr[1]!=0#}
								{#$areaName=$areaArr[1]|cat:'㎡以下'#}
							{#/if#}
						</div>
					</div
				</dd>
			</dl>
			{#$roomName = ''#}
			<dl class="o-fi fn-clear" data-type="room">
				<dt>户型</dt>
				<dd class="fn-clear">
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == ''#} class="curr"{#/if#}>不限</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='1' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == '1'#} {#$roomName ='一居'#} class="curr"{#/if#}>一居</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='2' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == '2'#} {#$roomName ='二居'#} class="curr"{#/if#}>二居</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='3' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == '3'#} {#$roomName ='三居'#} class="curr"{#/if#}>三居</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='4' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == '4'#} {#$roomName ='四局'#} class="curr"{#/if#}>四居</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='5' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == '5'#} {#$roomName ='五居'#} class="curr"{#/if#}>五居</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='0' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"{#if $room == '0'#} {#$roomName ='五居以上'#} class="curr"{#/if#}>五居以上</a>

				</dd>
			</dl>                                                       
			<dl class="more fn-clear">
				<dd class="fn-clear">
					<div class="item" data-type="direction">
						<label title="朝向"><span class="{#if $directionName != ""#} cur{#/if#}">{#if $directionName == ""#}朝向{#else#}{#$directionName#}{#/if#}</span><s class="idown"></s></label>
						<ul>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction='' buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">不限</a></li>
							{#house action="item" return="item" type="4"#}
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$item.id#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">{#$item.typename#}</a></li>
							{#/house#}
						</ul>
					</div>
					<div class="item" data-type="buildage">
						<label title="楼龄"><span class="{#if $buildageName != ""#} cur{#/if#}">{#if $buildageName == ""#}楼龄{#else#}{#$buildageName#}{#/if#}</span><s class="idown"></s></label>
						<ul>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage='' floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">不限</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage=',5' floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">5年以内</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage='5,10' floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">10年以内</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage='10,20' floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">10-20年</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage='20,' floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">20年以上</a></li>
						</ul>
					</div>
					<div class="item" data-type="floor">
						<label title="楼层"><span class="{#if $floorName != ""#} cur{#/if#}">{#if $floorName == ""#}楼层{#else#}{#$floorName#}{#/if#}</span><s class="idown"></s></label>
						<ul>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor='' zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">不限</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor=',6' zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">6层以下</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor='6,12' zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">6-12层</a></li>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor='12,' zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}">12层以上</a></li>
						</ul>
					</div>
					<div class="item" data-type="zhuangxiu">
						<label title="装修"><span class="{#if $zhuangxiuName != ""#} cur{#/if#}">{#if $zhuangxiuName == ""#}装修{#else#}{#$zhuangxiuName#}{#/if#}</span><s class="idown"></s></label>
						<ul>
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu='' flags={#$flags#} keywords={#$keywords#} #}">不限</a></li>
							{#house action="item" return="item" type="2"#}
							<li><a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$item.id#} flags={#$flags#} keywords={#$keywords#} #}">{#$item.typename#}</a></li>
							{#/house#}
						</ul>
					</div>
					{#$flag0 = "0"#}
					{#$flag1 = "1"#}
					{#$flag2 = "2"#}
					{#$flag3 = "3"#}
					{#$flag4 = "4"#}
					{#$flag5 = "5"#}

					{#if in_array("0", $flagArr)#}
					{#$flag0 = ""#}
					{#/if#}

					{#if in_array("1", $flagArr)#}
					{#$flag1 = ""#}
					{#/if#}

					{#if in_array("2", $flagArr)#}
					{#$flag2 = ""#}
					{#/if#}

					{#if in_array("3", $flagArr)#}
					{#$flag3 = ""#}
					{#/if#}

					{#if in_array("4", $flagArr)#}
					{#$flag4 = ""#}
					{#/if#}

					{#if in_array("5", $flagArr)#}
					{#$flag5 = ""#}
					{#/if#}

					{#if $flags != ""#}
					{#foreach from=$flagArr item=flag#}
					{#if $flag != "0"#}
					{#if $flag0 == ""#}
					{#$flag0 = $flag0|cat:$flag#}
					{#else#}
					{#$flag0 = $flag0|cat:","|cat:$flag#}
					{#/if#}
					{#/if#}
					{#if $flag != "1"#}
					{#if $flag1 == ""#}
					{#$flag1 = $flag1|cat:$flag#}
					{#else#}
					{#$flag1 = $flag1|cat:","|cat:$flag#}
					{#/if#}
					{#/if#}
					{#if $flag != "2"#}
					{#if $flag2 == ""#}
					{#$flag2 = $flag2|cat:$flag#}
					{#else#}
					{#$flag2 = $flag2|cat:","|cat:$flag#}
					{#/if#}
					{#/if#}
					{#if $flag != "3"#}
					{#if $flag3 == ""#}
					{#$flag3 = $flag3|cat:$flag#}
					{#else#}
					{#$flag3 = $flag3|cat:","|cat:$flag#}
					{#/if#}
					{#/if#}
					{#if $flag != "4"#}
					{#if $flag4 == ""#}
					{#$flag4 = $flag4|cat:$flag#}
					{#else#}
					{#$flag4 = $flag4|cat:","|cat:$flag#}
					{#/if#}
					{#/if#}
					{#if $flag != "5"#}
					{#if $flag5 == ""#}
					{#$flag5 = $flag5|cat:$flag#}
					{#else#}
					{#$flag5 = $flag5|cat:","|cat:$flag#}
					{#/if#}
					{#/if#}
					{#/foreach#}
					{#/if#}
					<div class="checklist">
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag0#} keywords={#$keywords#} #}"><s class="checkbox cjs{#if in_array('0', $flagArr)#}  checked{#/if#}" data-id="0"><i></i></s>急售</a>
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag1#} keywords={#$keywords#} #}"><s class="checkbox cms{#if in_array('1', $flagArr)#} checked{#/if#}" data-id="1"><i></i></s>免税</a>
						{#if $cfg_subway_state#}
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag2#} keywords={#$keywords#} #}"><s class="checkbox cbus{#if in_array('2', $flagArr)#} checked{#/if#}" data-id="2"><i></i></s>公交/地铁</a>
						{#/if#}
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag3#} keywords={#$keywords#} #}"><s class="checkbox cxq{#if in_array('3', $flagArr)#} checked{#/if#}" data-id="3"><i></i></s>校区房</a>
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag4#} keywords={#$keywords#} #}"><s class="checkbox cbus{#if in_array('4', $flagArr)#} checked{#/if#}" data-id="4"><i></i></s>满五年</a>
						<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag5#} keywords={#$keywords#} #}"><s class="checkbox cxq{#if in_array('5', $flagArr)#} checked{#/if#}" data-id="5"><i></i></s>推荐</a>
					</div>
					
				</dd>
			</dl>
          </div>
		{#if $keywords != "" || $addrid !=0  || $subway !=0 || $price !="" || $area !="" || $room !="" || $direction !="" || $buildage !="" || $floor !="" || $zhuangxiu !="" || $flags !=""#}
		<div class="deletebox">
			<dl class="fi-state fn-clear" style="display: block;">
				<dt>已选条件</dt>
				<dd class="fn-clear">
					{#if $keywords#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords="" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $addrid#}
					<a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$addridName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $business#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business=0 subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$businessName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $subway#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$subwayName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $station#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$subwayStationName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $price#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price="" area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $area#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area="" room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$areaName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $room != ''#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room='' direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$roomName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $direction !=''#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction='' buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$directionName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $buildage !=''#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage='' floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$buildageName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $floor !=''#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor='' zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}"><span>{#$floorName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if $zhuangxiu !=''#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu='' flags={#$flags#} keywords={#$keywords#} #}"><span>{#$zhuangxiuName#}</span><i class="idel"></i></a>
					{#/if#}
					{#if in_array('0', $flagArr)#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag0#} keywords={#$keywords#} #}"><span>急售</span><i class="idel"></i></a>
					{#/if#}
					{#if in_array('1', $flagArr)#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag1#} keywords={#$keywords#} #}"><span>免税</span><i class="idel"></i></a>
					{#/if#}
					{#if in_array('2', $flagArr)#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag2#} keywords={#$keywords#} #}"><span>公交/地铁</span><i class="idel"></i></a>
					{#/if#}
					{#if in_array('3', $flagArr)#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag3#} keywords={#$keywords#} #}"><span>校区房</span><i class="idel"></i></a>
					{#/if#}
					{#if in_array('4', $flagArr)#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag4#} keywords={#$keywords#} #}"><span>满五年</span><i class="idel"></i></a>
					{#/if#}
					{#if in_array('5', $flagArr)#}
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flag5#} keywords={#$keywords#} #}"><span>推荐</span><i class="idel"></i></a>
					{#/if#}
				</dd>
				<a class="btn_clear" href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price='' area='' room='' direction='' buildage='' floor='' zhuangxiu=''  keywords={#$keywords#} #}">清空条件</a>
			</dl>
		</div>
		{#/if#}

		</div>
	</div>

	<div class="wrap totalCount">
		共找到 <b>0</b> 个符合条件的二手房
	</div>

	<div class="wrap fn-clear">
		<div class="sidebar">
          	<div class="SearchBox">
                <form action="{#getUrlPath service='house' template='sale'#}" method="get">
                    <input type="search" placeholder="搜二手房..." name="keywords" class="inp"/>
                    <input type="submit" value="搜索" class="submit">
                </form>
            </div>
			<div class="salehbox">
				<a href="{#getUrlPath service=member type=user template='fabu-house-sale'#}">
					<img src="{#$templets_skin#}images/img_ershou.png" alt="">
				</a>
			</div>
			<div class="mapbox">
				<a href="{#getUrlPath service='house' template='map' action='sale'#}" class="smap" target="_blank">
					<img src="{#$templets_skin#}images/mapImg.png" alt="">
					<span>试试地图找房</span>
				</a>
			</div>
			<div class="lp_box">
				<div class="lp_title">最近浏览的二手房</div>
				<ul>
					{#$_bindex.loupan = ""#}
					{#house action=loupanHistory type=sale pageSize=3 return=loupan#}
					{#if $_bindex.loupan < 4#}
					<li>
						<a href="{#$loupan.url#}" target="_blank">
							<p title="{#$loupan.title#}">{#$loupan.title#}</p>
							<p>{#$loupan.area#}㎡<em>|</em>{#if $loupan.price == 0#}待定{#else#}{#$loupan.price#}万{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
						</a>
					</li>
					{#/if#}
					{#/house#}
				</ul>
			</div>
			<div class="lp_box">
				<div class="lp_title">热门房源</div>
				<ul>
					{#house action=saleList orderby=click pageSize=3 return=sale#}
					<li>
						<a href="{#$sale.url#}" tags="_blank">
							<p title="{#$sale.title#}">{#$sale.title#}</p>
							<p>{#$sale.area#}㎡<em>|</em>{#if $sale.price == 0#}待定{#else#}{#$sale.price#}万{#/if#}<span>{#$sale.addr[$sale.addr|count-2]#}</span></p>
						</a>
					</li>
					{#/house#}
				</ul>
			</div>
			
			<div class="lp_box">
				<div class="lp_title">房产资讯</div>
				<ul class="lp_news">
					{#house action="news" return="list" page="1" pageSize="8"#}
					<li><a href="{#$list.url#}" title="{#$list.title#}" target="_blank"><em>•</em>{#$list.title#}</a></li>
					{#/house#}
				</ul>
			</div>
		
		</div>
		<div class="main_con">
			<div class="m-t fn-clear">
				<ul>
					<li {#if $type == '0' || $type == '' && !$video && !$qj#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} type='0'#}">全部房源</a></li>
					<li {#if $type == '2'#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} type='2' #}">经纪人房源</a></li>
					<li {#if $type == '1'#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} type='1' #}">个人房源</a></li>
					<li class=" {#if $qj#} curr {#/if#}"><a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="qj=1"#}">全景看房</a></li>
					<li class=" {#if $video#} curr {#/if#}"><a href="{#getUrlPath service='house' template='sale' addrid=0 business=0 subway=0 station=0 price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="video=1"#}">视频看房</a></li>

				</ul>
			</div>
			<div class="m-o">
				<div class="m-l">
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="qj={#$qj#}&video={#$video#}"#}" class="ob {#if $orderby == ""#} curr{#/if#}">默认排序</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="qj={#$qj#}&video={#$video#}&orderby=1"#}" class="{#if $orderby == "1"#} curr{#/if#}">最新</a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="qj={#$qj#}&video={#$video#}&orderby={#if $orderby == 4#}5{#else#}4{#/if#}"#}" class="ob {#if $orderby == "4"#}curr{#elseif $orderby == "5"#}curr up{#/if#}">总价<s></s></a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="qj={#$qj#}&video={#$video#}&orderby={#if $orderby == 6#}7{#else#}6{#/if#}"#}" class="ob {#if $orderby == "6"#}curr{#elseif $orderby == "7"#}curr up{#/if#}">单价<s></s></a>
					<a href="{#getUrlPath service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} param="qj={#$qj#}&video={#$video#}&orderby={#if $orderby == 2#}3{#else#}2{#/if#}"#}" class="ob {#if $orderby == "2"#}curr{#elseif $orderby == "3"#}curr up{#/if#}">面积<s></s></a>
				</div>
			</div>
			<div class="lplist">
				<ul>
					{#$addr = $addrid#}
					{#if $business != 0#}
					{#$addr = $business#}
					{#/if#}
					{#house action="saleList" return="sale" addrid={#$addr#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} type={#$type#} video={#$video#} qj={#$qj#} page={#$page#} orderby={#$orderby#} pageSize="10"#}

					<li class="fn-clear" data-id="36">
						<div class="imgbox fn-left">
							<a href="{#$sale.url#}" target="_blank"><img src="{#$sale.litpic#}" alt="" /></a>
							<div class="markbox">
								{#if $sale.usertype == 0#}
								<span class="m_mark m_gr">个人</span>
								{#elseif $sale.usertype == 1#}
								<span class="m_mark m_zj">中介</span>
								{#/if#}
							</div>
						</div>
						<div class="infobox fn-left">
							<div class="lptit fn-clear">
								<a href="{#$sale.url#}" target="_blank"><h2>{#$sale.title#}</h2></a>
								{#if $sale.price > 0#}
								<span class="lpprice"><b>{#$sale.price#}</b>万</span>
								{#else#}
								<span class="lpprice"><b>面议</b></span>
								{#/if#}

							</div>
							<div class="lpinf fn-clear">
								<div class="sp_l fn-left">
									<span>{#$sale.room#}</span>
									<em>|</em>
									<span>{#$sale.area#}㎡</span>
									<em>|</em>
									{#if $sale.buildage>0#}
									<span>{#$sale.buildage#}年</span>
									<em>|</em>
									{#/if#}
									{#if $sale.direction>0#}
									<span>{#$sale.direction#}</span>
									<em>|</em>
									{#/if#}
									{#if $sale.bno>0 && $sale.floor>0#}
									<span>{#$sale.bno#}/{#$sale.floor#}层</span>
									{#/if#}
								</div>
								<div class="sp_r fn-right">
									{#if $sale.unitprice > 0#}{#$sale.unitprice#} {#echoCurrency type='short'#}/m²{#/if#}
								</div>

							</div>
							<p class="lpinf">[{#$sale.addr[{#$sale.addr|count-1#}]#}] {#$sale.address#}</p>
							<div class="lpinf hinf fn-clear">
								<div class="hilef fn-left">
									<span><i class="iname"></i> {#$sale.nickname#}</span>
									<span><i class="itel"></i> {#$sale.userPhone#}</span>
								</div>
								<div class="hirig fn-right">
									<a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
									<a href="javascript:;" data-title="{#$sale.title#}" class="btn_share"><i class="ishare"></i> 分享</a>
								</div>
							</div>
							<div class="lpbottom">
								<div class="lpmark">
									{#foreach from=$sale.flags item=flag key=key#}
									<span>{#$flag#}</span>
									{#/foreach#}
								</div>
							</div>
						</div></li>
					{#/house#}

					{#if $pageInfo.totalCount == 0#}
					<li class="empty">抱歉！ 未找到相关房源！</li>
					{#/if#}
				</ul>
			</div>
			{#getPageList service='house' template='sale' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area={#$area#} room={#$room#} direction=$direction buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} type={#$type#} param="qj={#$qj#}&video={#$video#}&orderby={#$orderby#}"#}

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script>
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
    var priceUrl ='{#getUrlPath service="house" template="sale" addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price="pricePlaceholder" area={#$area#} room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}';
    var areaUrl ='{#getUrlPath service="house" template="sale" addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} area="areaPlaceholder" room={#$room#} direction={#$direction#} buildage={#$buildage#} floor={#$floor#} zhuangxiu={#$zhuangxiu#} flags={#$flags#} keywords={#$keywords#} #}';

</script>
<script type="text/javascript" src="{#$templets_skin#}js/sale.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
