<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$siteCityInfo['name']#}{#$sp_seotitle#}商铺{#$pageType#},{#$siteCityInfo['name']#}旺铺{#$pageType#},{#$siteCityInfo['name']#}店铺{#$pageType#},{#$siteCityInfo['name']#}店面{#$pageType#}信息-{#$house_title#}</title>
<meta name="keywords" content="{#$siteCityInfo['name']#}商铺{#$pageType#},{#$siteCityInfo['name']#}旺铺{#$pageType#},{#$siteCityInfo['name']#}店铺{#$pageType#},{#$siteCityInfo['name']#}店面{#$pageType#}信息" />
<meta name="description" content="{#$cfg_shortname#}{#$siteCityInfo['name']#}商铺{#$pageType#}频道,为您提供丰富的{#$siteCityInfo['name']#}商铺{#$pageType#},旺铺,门店{#$pageType#}信息,经纪人更新商铺房源,帮助您快速找到理想的商铺。找{#$pageType#}商铺,就上{#$cfg_shortname#}。" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />

<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/sp.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

  var criticalPoint = 1240, criticalClass = "w1200";
  $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

  var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
  var atpage = 1, pageSize = 20, totalCount = 0, comid = '{#$comid#}';

  var detail = {
      addrid : {#$addrid|default:0#},
      business : {#$business|default:0#},
  }
  var keywords = '{#$keywords#}';
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = "sp"#}
{#include file="top.html"#}

{#$addridName = ''#}
{#$businessName = ''#}
<div class="wrap">
  <div class="crumb fn-clear">
    <div class="location">
      <a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='sp' type={#$type#}#}">商铺{#$pageType#}</a>
    </div>
  </div>
  <div class="filterbox">
    <div class="filtertab">
      <ul class="fn-clear">
          <li data-action="sp_zu"{#if !$type#} class="on" {#/if#}> <a href="{#getUrlPath service='house' template='sp' type=0   #}">商铺出租</a></li>
          <li data-action="sp_sale" {#if $type == 1#} class="on" {#/if#}> <a href="{#getUrlPath service='house' template='sp' type=1 #}" href="">商铺出售</a></li>
          <li data-action="sp_zr"{#if $type == 2#} class="on" {#/if#}> <a href="{#getUrlPath service='house' template='sp' type=2  #}" href="">商铺转让</a></li>
          {#if $loupan_sp_id#}
          <li><a href="{#getUrlPath service='house' template='loupan' addrid={#$addrid#} business={#$business#} subway={#$subway#} station={#$station#} price={#$price#} typeid={#$loupan_sp_id#} salestate={#$salestate#} times={#$times#} zhuangxiu={#$zhuangxiu#} buildtype={#$buildtype#} tuandate={#$tuandate#} filter={#$filter#} keywords={#$keywords#} #}" target="_blank">商铺新盘</a></li>
          {#/if#}
      </ul>
    </div>
    <div class="filter">
      <div class="filterlist">
        <dl class="t-fi fn-clear">
                    <dt>位置</dt>
                    <dd class="fn-clear">
                        <div class="pos-item fn-clear">
                            <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid=0 business=0 area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $addrid == 0#} class="curr"{#/if#}>不限</a>
                            {#house action="addr" return='addr'#}
                            {#if $addr.id == $addrid#}
                            {#$addridName = $addr.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addr.id#} business=0 area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
                            {#/house#}
                        </div>
                    </dd>
                    {#if $addrid != 0#}
                    <div class="area" style="display:block;">
                        <div class="pos-sub-item fn-clear">
                            <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business=0 area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $business == 0#} class="curr"{#/if#}>不限</a>
                            {#house action="addr" return='addr' type={#$addrid#}#}
                            {#if $addr.id == $business#}
                            {#$businessName = $addr.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$addr.id#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
                            {#/house#}
                        </div>
                    </div>
                    {#else#}
                    <div class="area">
                        <div class="pos-sub-item fn-clear"></div>
                    </div>
                    {#/if#}
                </dl>
          {#$areaName = ''#}
        <dl class="o-fi fn-clear">
          <dt>面积</dt>                                                 
          <dd class="fn-clear">
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == ''#} class="curr"{#/if#}>不限</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area=',100' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == ',100'#} class="curr"{#/if#}>100m²以下</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='100,150' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == '100,150'#} class="curr"{#/if#}>100-150m²</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='150,200' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == '150,200'#} class="curr"{#/if#}>150-200m²</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='200,300' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == '200,300'#} class="curr"{#/if#}>200-300m²</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='300,500' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == '300,500'#} class="curr"{#/if#}>300-500m²</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='500,1000' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == '500,1000'#} class="curr"{#/if#}>500-1000m²</a>
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='1000,' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $area == '1000,'#} class="curr"{#/if#}>1000m²以上</a>

            <div class="spbox">
              <div class="inpbox inp_area">
                <input type="input" class="p1" id="areaLow" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                <input type="input" class="p2" id="areaTop" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>m²</em>
                  <a href="javascript:;" class="btn btn_area" id="area_sure">确定</a>
                  {#if $areaArr[0] !=0 &&  $areaArr[1] ==0#}
                  {#$areaName=$areaArr[0]|cat:'㎡以上'#}
                  {#else if $areaArr[0] !=0 &&  $areaArr[1] !=0#}
                  {#$areaName=$areaArr[0]|cat:'-'|cat:$areaArr[1]|cat:'㎡'#}
                  {#else $areaArr[0]==0 && $areaArr[1]!=0#}
                  {#$areaName=$areaArr[1]|cat:'㎡以下'#}
                  {#/if#}
              </div>
            </div>
          </dd>
        </dl>

          {#$priceTitle = ''#}
          {#if !$type#}
          <!-- 出租 s -->
        <dl class="o-fi fn-clear rentbox"{#if $type#} style="display:none;"{#/if#}>
            <dt data-id="{#$pricetype#}">租金</dt>
            <dd class="fn-clear" data-id="{#$pricetype#}">
                <!-- 单价 -->
                {#if $pricetype==1#}
                <span class="zjbox zshow">
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}" data-id=""{#if $price == ''#} class="all curr"{#/if#}>不限</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price=',30' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  data-id=",30"{#if $price == ',30'#} class="curr"{#/if#}>30{#echoCurrency type='short'#}/m²•月以下</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='30,60' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  data-id="30,60"{#if $price == '30,60'#} class="curr"{#/if#}>30-60{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='60,90' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  data-id="60,90"{#if $price == '60,900'#} class="curr"{#/if#}>60-90{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='90,120' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  data-id="90,120"{#if $price == '90,120'#} class="curr"{#/if#}>90-120{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='120,150' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  data-id="120,150"{#if $price == '120,150'#} class="curr"{#/if#}>120-150{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='150,' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  data-id="150,"{#if $price == '150,'#} class="curr"{#/if#}>150{#echoCurrency type='short'#}以上</a>
                    <div class="spbox">
                        <div class="inpbox inp_price">
                            <input type="input" class="p1" id = "zdpriceLow" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                            <input type="input" class="p2" id = "zdpriceTop" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"> <em>{#echoCurrency type='short'#}/m²•月</em>
                            <input type="button" class="btn btn_zdprice" id="btn_zdprice"  value="确定">
                            {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'元以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'元'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'元/m²•月以下'#}
                            {#/if#}
                        </div>
                    </div>
                </span>
                {#else#}
                <!-- 总价 -->
                <span class="zjbox" data-id="{#$pricetype#}" {#if $pricetype==2#}style="display: block" {#/if#}>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id=""{#if $price == ''#} class="all curr"{#/if#}>不限</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price=',1' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id=",1"{#if $price == ',1'#} class="curr"{#/if#}>1万/月以下</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='1,3' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="1,3"{#if $price == '1,3'#} class="curr"{#/if#}>1-3万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='3,5' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="3,5"{#if $price == '3,5'#} class="curr"{#/if#}>3-5万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='5,8' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="5,8"{#if $price == '5,8'#} class="curr"{#/if#}>5-8万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='8,10' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="8,10"{#if $price == '8,10'#} class="curr"{#/if#}>8-10万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='10,20' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="10,20"{#if $price == '10,20'#} class="curr"{#/if#}>10-20万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='20,30' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="20,30"{#if $price == '20,30'#} class="curr"{#/if#}>20-30万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='30,' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" data-id="30,"{#if $price == '30,'#} class="curr"{#/if#}>30万以上</a>
                    <div class="spbox">
                        <div class="inpbox inp_price">
                            <input type="input" class="p1" id = "zzpriceLow" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                            <input type="input" class="p2" id = "zzpriceTop" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>万/月</em>
                            <input type="button" class="btn btn_zzprice" id="btn_zzprice" value="确定">
                            {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'万以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'万'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'万/月以下'#}
                            {#/if#}
                        </div>
                    </div>
                </span>
                {#/if#}
                <p class="filprice">
                    <span {#if $pricetype == 1#} class="on"{#/if#}> <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}">单价</a></span>
                    <span {#if $pricetype == 2#} class="on"{#/if#}> <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}">总价</a></span>
                </p>
            </dd>
        </dl>
          {#else#}
        <!-- 出售 s -->
        <dl class="o-fi fn-clear pricebox"{#if $type == 1#} style="display:block;"{#/if#}>
            <dt>售价</dt>
            <dd class="fn-clear" data-id="{#$pricetype#}">
                {#if $pricetype==1#}
                <!-- 单价 -->
                <span class="zjbox zshow">
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}"  {#if $price == ''#} class="all curr"{#/if#}>不限</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price=',1' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}" data-id=",1" {#if $price == ',1'#} class="curr"{#/if#}>1万{#echoCurrency type='short'#}/m²以下</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='1,2' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}" data-id="1,2" {#if $price == '1,2'#} class="curr"{#/if#}>1-2万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='2,3' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}" data-id="2,3" {#if $price == '2,3'#} class="curr"{#/if#}>2-3万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='3,5' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}" data-id="3,5" {#if $price == '3,5'#} class="curr"{#/if#}>3-5万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='5,' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}" data-id="5," {#if $price == '5,'#} class="curr"{#/if#}>5万以上</a>
                    <div class="spbox">
                        <div class="inpbox inp_price">
                            <input type="input" class="p1" id = "sdpriceLow" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                            <input type="input" class="p2" id = "sdpriceTop" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>万{#echoCurrency type='short'#}</em>
                            <input type="button" class="btn btn_sdprice" id="btn_sdprice" value="确定">
                            {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'万以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'万'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'万/㎡月以下'#}
                            {#/if#}
                        </div>
                    </div>
                </span>
                {#else#}
                <!-- 总价 -->
                <span class="zjbox" {#if $pricetype==2#}style="display: block" {#/if#}>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == ''#} class="all curr" {#/if#}>不限</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price=',100' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == ',100'#} class="curr"{#/if#} data-id=",100">100万{#echoCurrency type='short'#}以下</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='100,200' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '100,200'#} class="curr"{#/if#} data-id="100,200">100-200万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='200,300' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '200,300'#} class="curr"{#/if#} data-id="200,300">200-300万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='300,500' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '300,500'#} class="curr"{#/if#} data-id="300,500">300-500万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='500,800' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '500,800'#} class="curr"{#/if#} data-id="500,800">500-800万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='800,1200' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '800,1200'#} class="curr"{#/if#} data-id="800,1200">800-1200万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='1200,2000' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '1200,2000'#} class="curr"{#/if#} data-id="1200,2000">1200-2000万</a>
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='2000,' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}" {#if $price == '2000,'#} class="curr"{#/if#} data-id="2000,">2000万以上</a>
                    <div class="spbox">
                        <div class="inpbox inp_price">
                            <input type="input" class="p1" id = "szpriceLow" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                            <input type="input" class="p2" id = "szpriceTop" maxlength="5" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>万</em>
                            <input type="button" class="btn btn_szprice" id="btn_szprice" value="确定">
                            {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                                {#$priceTitle=$priceArr[0]|cat:'万以上'#}
                            {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                                {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'万'#}
                            {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                                {#$priceTitle=$priceArr[1]|cat:'万以下'#}
                            {#/if#}
                        </div>
                    </div>
                </span>
                {#/if#}
                <p class="filprice">
                    <span {#if $pricetype==1 #} class="on"{#/if#}> <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=1"#}">单价</a></span>
                    <span {#if $pricetype==2 #} class="on"{#/if#}> <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype=2"#}">总价</a></span>
                </p>
            </dd>
        </dl>
          {#/if#}
        {#$protypeName = ''#}
        <dl class="o-fi fn-clear" data-type="protype">
          <dt>类型</dt>
          <dd class="fn-clear">
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype='' industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $protype == ''#} class="curr"{#/if#}>不限</a>
              {#house action="item" return="item" type="9"#}
              {#if $protype == $item.id#}
              {#$protypeName = $item.typename#}
              {#/if#}
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$item.id#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $protype == $item.id#} class="curr"{#/if#}>{#$item.typename#}</a>
              {#/house#}
          </dd>
        </dl>
          {#$industryName = ''#}
        <dl class="o-fi fn-clear" data-type="industry">
          <dt>行业</dt>
          <dd class="fn-clear">
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry='' usertype={#$usertype#} keywords={#$keywords#} #}"{#if $industry == ''#} class="curr"{#/if#}>不限</a>
              {#house action="industry" return="item"#}
              {#if $industry == $item.id#}
              {#$industryName = $item.typename#}
              {#/if#}
              <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$item.id#} usertype={#$usertype#} keywords={#$keywords#} #}"{#if $industry == $item.id#} class="curr"{#/if#}>{#$item.typename#}</a>
              {#/house#}
          </dd>
        </dl>
      </div>

        {#if $keywords != "" || $addrid != 0 || $area !="" || $price != ''|| $protype != '' || $industry != ''#}
        <div class="deletebox">
            <dl class="fi-state fn-clear" style="display: block;">
                <dt>已选条件</dt>
                <dd class="fn-clear">
                    {#if $keywords#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords='' #}"><span>{#$keywords#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $addrid#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid=0 business=0 area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"><span>{#$addridName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $business#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business=0 area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"><span>{#$businessName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $area#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area='' price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"><span>{#$areaName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $price#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price='' protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"><span>{#$priceTitle#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $protype#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype='' industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}"><span>{#$protypeName#}</span><i class="idel"></i></a>
                    {#/if#}
                    {#if $industry#}
                    <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry='' usertype={#$usertype#} keywords={#$keywords#} #}"><span>{#$industryName#}</span><i class="idel"></i></a>
                    {#/if#}

                </dd>
                <a  class="btn_clear" href="{#getUrlPath service='house' template='sp' type={#$type#} addrid=0 business=0 area='' price='' protype='' industry='' usertype={#$usertype#} keywords='' #}">清空条件</a>
            </dl>
        </div>
        {#/if#}
    </div>
  </div>
</div>

<div class="wrap totalCount">
  共找到 <b>0</b> 个符合条件的商铺
</div>

<div class="wrap fn-clear">
  <div class="sidebar">
        <div class="SearchBox">
            <form action="{#getUrlPath service='house' template='sp'#}" method="get">
              <input type="search" placeholder="搜商铺..." name="keywords" class="inp"/>
              <input type="submit" value="搜索" class="submit">
            </form>
        </div>
    <div class="salehbox">
      <a href="{#getUrlPath service=member type=user template='fabu-house-sp'#}" target="_blank">
        <img src="{#$templets_skin#}images/img_sp.png" alt="">
      </a>
    </div>
    <div class="lp_box">
      <div class="lp_title">最近浏览的商铺</div>
      <ul>
        {#$_bindex.loupan = ""#}
        {#house action=loupanHistory type=sp pageSize=3 return=loupan#}
        {#if $_bindex.loupan < 4#}
        <li>
          <a href="{#$loupan.url#}" target="_blank">
            <p title="{#$loupan.title#}">{#$loupan.title#}</p>
            <p>{#$loupan.area#}㎡<em>|</em>{#if $loupan.price == 0#}待定{#else#}{#if $loupan.type == 1#}{#$loupan.price#}万{#else#}{#$loupan.price#}{#echoCurrency type='short'#}/月{#/if#}{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
          </a>
        </li>
        {#/if#}
        {#/house#}
      </ul>
    </div>
    <div class="lp_box">
      <div class="lp_title">热门商铺</div>
      <ul>
        {#house action=spList orderby=click pageSize=3 return=loupan#}
        <li>
          <a href="{#$loupan.url#}" target="_blank">
            <p title="{#$loupan.title#}">{#$loupan.title#}</p>
            <p>{#$loupan.area#}㎡<em>|</em>{#if $loupan.price == 0#}待定{#else#}{#if $loupan.type == 1#}{#$loupan.price#}万{#else#}{#$loupan.price#}{#echoCurrency type='short'#}/月{#/if#}{#/if#}<span>{#$loupan.addr[$loupan.addr|count-2]#}</span></p>
          </a>
        </li>
        {#/house#}
      </ul>
    </div>
    
    <div class="lp_box">
      <div class="lp_title">房产资讯</div>
      <ul class="lp_news">
        {#house action="news" return="list" page="1" pageSize="8"#}
        <li><a href="{#$list.url#}" title="{#$list.title#}" target="_blank"><em>•</em>{#$list.title#}</a></li>
        {#/house#}
      </ul>
    </div>
  
  </div>
  <div class="main_con">
    <div class="m-t fn-clear">
      <ul>
        <li{#if $usertype == ''&& !$video && !$qj#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype='' keywords={#$keywords#} param="pricetype=$pricetype" #}">全部房源</a></li>
        <li{#if $usertype == 1#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype='1' keywords={#$keywords#} param="pricetype=$pricetype" #}">经纪人房源</a></li>
        <li{#if $usertype == 0 && $usertype != ''#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype='0' keywords={#$keywords#} param="pricetype=$pricetype" #}">个人房源</a></li>
        <li class=" {#if $qj#} curr {#/if#}"><a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} keywords={#$keywords#} param="qj=1&pricetype=$pricetype"#}">全景看房</a></li>
        <li class=" {#if $video#} curr {#/if#}"><a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} keywords={#$keywords#} param="video=1&pricetype=$pricetype"#}">视频看房</a></li>
      </ul>
    </div>
    <div class="m-o">
      <div class="m-l">
          <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="qj=$qj&video=$video&pricetype=$pricetype" #}"{#if $orderby == ""#} class="curr"{#/if#}>默认排序</a>
          <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="qj=$qj&video=$video&pricetype=$pricetype&orderby=1"#}" class="ob{#if $orderby == 1#} curr{#/if#}">最新<s></s></a>
          <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="qj=$qj&video=$video&pricetype=$pricetype&orderby={#if $orderby == 2#}3{#else#}2{#/if#}"#}" class="ob{#if $orderby == 2 || $orderby == 3#} curr{#/if#}{#if $orderby == 3#} up{#/if#}">面积<s></s></a>
          <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="qj=$qj&video=$video&pricetype=$pricetype&orderby={#if $orderby == 4#}5{#else#}4{#/if#}"#}" class="ob{#if $orderby == 4 || $orderby == 5#} curr{#/if#}{#if $orderby != 5#} up{#/if#}">总价<s></s></a>
          <a href="{#getUrlPath service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="qj=$qj&video=$video&pricetype=$pricetype&orderby={#if $orderby == 6#}7{#else#}6{#/if#}"#}" class="ob{#if $orderby == 6 || $orderby == 7#} curr{#/if#}{#if $orderby != 7#} up{#/if#}">单价<s></s></a>
      </div>
    </div>
    <div class="lplist zulist">
      <ul>
          {#$addr = $addrid#}
          {#if $business != 0#}
          {#$addr = $business#}
          {#/if#}
          {#house action="spList" return="sp" type={#$type#} addrid={#$addr#} area={#$area#} price={#$price#} pricetype={#$pricetype#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} orderby={#$orderby#} video={#$video#} qj={#$qj#} page={#$page#} pageSize="8"#}
          <li class="fn-clear" data-id="1">
              <div class="imgbox fn-left">
                  <a href="javascript:;"></a>
                  <a href="{#$sp.url#}" target="_blank">
                      <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url={#$sp.litpic#} type='small'#}"  alt="{#$sp.title#}" />
                      {#if $video#}
                      <i class="ivplay"></i>
                      {#/if#}
                      {#if $qj#}
                      <i class="ivr"></i>
                      {#/if#}
                  </a>
                  <div class="markbox">
                      {#if $sp.usertype == 0#}
                      <span class="m_mark m_gr">个人</span>
                      {#else#}
                      <span class="m_mark m_zj">中介</span>
                      {#/if#}
                  </div>
              </div>
              <div class="infobox fn-left">
                  <div class="lptit fn-clear">
                      <a href="{#$sp.url#}" target="_blank"><h2>{#$sp.title#}</h2></a>
                      {#if $sp.type == 0 || $sp.type ==2#}
                      <span class="lpprice">
                          {#if $sp.price>0#}
                          <b>{#$sp.price#}</b>元/月
                          {#else#}
                          <b>价格面议</b>
                           {#/if#}
                      </span>
                      {#else#}
                      <span class="lpprice">
                          {#if $sp.price>0#}
                          <b>{#$sp.price#}</b>万/月
                          {#else#}
                          <b>价格面议</b>
                           {#/if#}
                      </span>
                      {#/if#}
                  </div>
                  <div class="lpinf fn-clear">
                      <div class="sp_l fn-left">
                          <span class="priCo">{#$sp.area#}m&sup2;</span>
                          <em>|</em>
                          {#if $sp.loupan !=''#}
                          <span>{#$sp.loupan#}</span>
                          <em>|</em>
                          {#/if#}
                          {#if $sp.zhuangxiu != ''#}
                          <span>毛坯</span>
                          <em>|</em>
                          {#/if#}
                          {#if $sp.bno>0 && $sp.floor>0#}
                          <span>{#$sp.bno#}/{#$sp.floor#}层</span>
                          {#/if#}
                      </div>
                      {#if $sp.type == 0#}
                      <div class="sp_r fn-right">{#round(($sp.price/$sp.area),1)#}元/平米&middot;月</div>
                      {#else if $sp.type == 1#}
                      <div class="sp_r fn-right">{#round(($sp.price/$sp.area),1)#}万/平米</div>
                      {#else#}
                      <div class="sp_r fn-right">转让费：{#$sp.transfer#} 万</div>
                      {#/if#}

                  </div>
                  <p class="lpinf">[{#$sp.addr[{#$sp.addr|count-1#}]#}] {#$sp.address#}</p>
                  {#if $sp.proprice>0#}
                  <p class="lpinf">{#$sp.proprice#}元/m&sup2/月</p>
                  {#/if#}
                  <div class="lpinf hinf fn-clear">
                      <div class="hilef fn-left">
                          {#if $sp.usertype == 1#}
                          <span><i class="iname"></i> {#$sp.nickname#}</span>
                          <span><i class="itel"></i> {#$sp.userPhone#}</span>
                          {#else#}
                          <span><i class="iname"></i> {#$sp.username#}</span>
                          <span><i class="itel"></i> {#$sp.contact#}</span>
                          {#/if#}
                      </div>
                      <div class="hirig fn-right">
                          <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                          <a href="javascript:;" data-title="{#$sp.title#}" class="btn_share" data-url="{#$sp.url#}" data-pic="{#$sp.litpic#}"><i class="ishare"></i> 分享</a>
                      </div>
                  </div>
                  <div class="lpbottom">
                      <div class="lpmark">
                          {#foreach from=$sp.config item=config key=k#}
                          <span>{#$config#}</span>
                          {#/foreach#}
                      </div>
                  </div>
              </div></li>
          {#/house#}
          {#if $pageInfo.totalCount == 0#}
          <div class="empty">抱歉！ 未找到相关房源</div>
          {#/if#}
      </ul>
    </div>
      {#getPageList service='house' template='sp' type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="orderby=$orderby&pricetype=$pricetype" #}

  </div>
</div>


{#include file="footer.html"#}
<script>
    var totalCount = {#$pageInfo.totalCount|string_format:"%d"#}, totalPage = {#$pageInfo.totalPage|string_format:"%d"#}, atPage = {#$page#}, pageUrl = '{#getUrlPath service="house" template="sp" type={#$type#} addrid={#$addrid#} business={#$business#} area={#$area#} price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} page="%page%" #}';
    var areaUrl ='{#getUrlPath service="house" template="sp" type={#$type#} addrid={#$addrid#} business={#$business#}  area="areaPlaceholder" price={#$price#} protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} #}';
    var priceUrl ='{#getUrlPath service="house" template="sp" type={#$type#} addrid={#$addrid#} business={#$business#}  area={#$area#} price="pricePlaceholder" protype={#$protype#} industry={#$industry#} usertype={#$usertype#} keywords={#$keywords#} param="pricetype={#$pricetype#}"#}';

</script>
<script type="text/javascript" src="{#$templets_skin#}js/sp.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
