<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$siteCityInfo['name']#}{#$addrname#}中介公司{#$actname#}信息-{#$house_title#}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/zj.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}',templets_skin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var addrid=0, atpage = 1, pageSize = 20, totalCount = 0;
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'store'#}
{#include file="top.html"#}
<div class="wrap">
	<div class="crumb fn-clear">
		<div class="location">
			<a href="{#$house_channelDomain#}">首页</a> > <a href="{#getUrlPath service='house' template='store'#}">中介公司</a>
		</div>
	</div>
	<div class="filter">
		<dl class="t-fi fn-clear">
			<dt data-id="{#$addrid#}">位置</dt>
			<dd class="fn-clear">
				<div class="pos-item fn-clear">
					<a href="{#getUrlPath service='house' template='store'  keywords={#$keywords#}#}"{#if $addrid == 0#} class="curr"{#/if#}>不限</a>
					{#house action="addr" return='addr'#}
					{#if $addr.id == $addrid#}
					{#$addridName = $addr.typename#}
					{#/if#}
					<a href="{#getUrlPath service='house' template='store' param="addrid={#$addr.id#}&business=0&keywords={#$keywords#}"#}"{#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
					{#/house#}
				</div>
			</dd>
			{#if $addrid != 0#}
			<div class="area" style="display: block">
				<div class="pos-sub-item  fn-clear">
					<a href="{#getUrlPath service='house' template='demand' type={#$type#} act={#$act#} type='' keywords={#$keywords#}#}"{#if $business == 0#} class="curr"{#/if#}>不限</a>
					{#house action="addr" return='addr' type={#$addrid#}#}
					{#if $addr.id == $business#}
					{#$businessName = $addr.typename#}
					{#/if#}
					<a href="{#getUrlPath service='house' template='store' param="addrid={#$addrid#}&business={#$addr.id#}&keywords={#$keywords#}"#}"{#if $business == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}</a>
					{#/house#}
				</div>
			</div>
			{#/if#}
		</dl>

		{#if  $addrid != 0 || $keywords !=''#}
		<dl class="fi-state fn-clear" style="display: block">
			<dt>已选条件</dt>
			<dd class="fn-clear">
				{#if $keywords#}
				<a href="{#getUrlPath service='house' template='store' param="addrid={#$addrid#}&business={#$business#}" #}"><span>{#$keywords#}</span><i class="idel"></i></a>
				{#/if#}
				{#if $addrid#}
				<a href="{#getUrlPath service='house' template='store' param="keywords={#$keywords#}" #}"><span>{#$addridName#}</span><i class="idel"></i></a>
				{#/if#}
				{#if $business#}
				<a href="{#getUrlPath service='house' template='store' param="addrid={#$addrid#}&keywords={#$keywords#}" #}"><span>{#$businessName#}</span><i class="idel"></i></a>
				{#/if#}
			</dd>
			<a class="btn_clear" href="{#getUrlPath service='house' template='store' #}">清空条件</a>
		</dl>
		{#/if#}
	</div>
</div>

<div class="wrap totalCount">
	共找到 <b>0</b> 个符合条件的中介公司
</div>

<div class="wrap fn-clear">
	<div class="sidebar">
      	<div class="SearchBox">
			<form action="{#getUrlPath service='house' template='store'#}" method="get">
				<input type="search" placeholder="搜中介..." id="keywords" name="keywords" class="inp"/>
				<input type="submit" value="搜索" class="submit">
			</form>
		</div>
		<a href="{#getUrlPath service=member type=user template=enter_house#}" class="btnRz">我要入驻中介公司</a>
		<div class="lp_box">
			<div class="lp_title">最新入驻中介</div>
			<ul>
				{#house action="zjComList" return="zjlist" orderby="1" page="1" pageSize="5"#}
				<li>
					<a href="{#$zjlist.url#}" class="fn-clear">
						<div class="newImg fn-left">
							<img src="{#changeFileSize url="{#$zjlist.litpic#}" type="small"#}" alt="">
						</div>
						<div class="newInfo fn-left">
							<h4>{#$zjlist.title#}</h4>
							<p>{#$zjlist.addrName[1]#} {#$zjlist.addrName[2]#}</p>
						</div>
					</a>
				</li>
				{#/house#}
			</ul>
		</div>
		<div class="lp_box adbox">
			{#myad title="房产_模板六_电脑端_中介公司"#}
		</div>
		<div class="lp_box">
			<div class="lp_title">房产资讯</div>
			<ul class="lp_news">
				{#house action="news" return="list" page="1" pageSize="8"#}
				<li><a href="{#$list.url#}"><em>•</em>{#$list.title#}</a></li>
				{#/house#}
			</ul>
		</div>

	</div>
	<div class="main_con">
		<div class="m-t fn-clear">
			<ul>
				<li data-id="" {#if $orderby == ""#} class="curr"{#/if#}><a href="{#getUrlPath service='house' template='store' param="addrid={#$addrid#}&business={#$business#}&keywords={#$keywords#}" #}">默认排序</a></li>
				<li data-type="time" data-id="1" class="ob{#if $orderby == 1 || $orderby == 2#} curr{#/if#}{#if $orderby == 2#} up{#/if#}"><a href="{#getUrlPath service='house' template='store' param="addrid={#$addrid#}&business={#$business#}&keywords={#$keywords#}&orderby={#if $orderby == 1#}2{#else#}1{#/if#}" #}">创建时间<s></s></a></li>
				<li data-type="nums" data-id="3" class="ob{#if $orderby == 3 || $orderby == 4#} curr{#/if#}{#if $orderby == 4#} up{#/if#}"><a href="{#getUrlPath service='house' template='store' param="addrid={#$addrid#}&business={#$business#}&keywords={#$keywords#}&orderby={#if $orderby == 3#}4{#else#}3{#/if#}" #}">房源数量<s></s></a></li>
			</ul>
		</div>
		<div class="lplist">
			<ul>
				{#$zjcomPage = $page#}
				{#$tCount = 0#}
				{#$pageInfo1 = array()#}
				{#house action="zjComList" return="store" page={#$page#} keywords={#$keywords#} orderby="{#$orderby#}" addrid="{#if $business#}{#$business#}{#else#}{#$addrid#}{#/if#}" pageSize="8"#}
				{#if $tCount==0#}
				{#$tCount = $pageInfo.totalCount#}
				{#$pageInfo1 = $pageInfo#}
				{#/if#}
				<li class="fn-clear" data-id="{#$pageInfo.totalCount#}">
					<div class="lImgbox fn-left">
						<a href="{#$store.url#}"><img src="{#$store.litpic#}" alt="" /></a>
					</div>
					<div class="rInbox fn-left">
						<div class="lptit fn-clear">
							<a href="{#$store.url#}"><h2>{#$store.title#}</h2></a>
							<a href="{#$store.url#}" class="btn_enter">进入店铺</a>
						</div>
						<div class="lpinf fn-clear">
							<span class="sp_l fn-left">[{#$store.addrName[{#$store.addrName|count-1#}]#}] {#$store.address#}</span>
							<span class="sp_r fn-right"><i class="ilptel"></i>{#$store.tel#}</span>
						</div>
						<div class="lpinf fn-clear">
							<span>出租 <b>{#$store.countZu#}</b></span>
							<em>|</em>
							<span>出售 <b>{#$store.countSale#}</b></span>
							<em>|</em>
							<span>团队 <b>{#$store.countTeam#}</b></span>
						</div>
						<div class="estatecon fn-clear estatecon{#$store.id#}">
							{#house action="getSaleRent" return="re"  page="1" uid={#$store.id#} pageSize="3"#}
							<div class="esbox">
								<div class="imgbox">
									<a href="{#$re.url#}"><img src="{#$re.litpic#}" alt="{#$re.title#}"/></a>
									<div class="markbox">
										{#if $re.type == 0#}
										<span class="m_mark m_cz">出租</span>
										{#else#}
										<span class="m_mark m_cs">出售</span>
										{#/if#}
									</div>
								</div>
								<div class="infobox">
									<div class="headimg">
										<a href="javascript:;"><img src="{#$re.userPhoto#}" alt="" /></a>
									</div>
									<div class="txtbox">
										<a href="javascript:;"><h4>{#$re.title#}</h4></a>
										<p class="pprice fn-clear"><span>
										{#if $re.price >0#}
											{#if $re.type == 1#}
											<b>{#$re.price#}</b>万
											{#else#}
											<b>{#$re.price#}</b>{#echoCurrency type='short'#}/月
											{#/if#}
										{#else#}
										面议
										{#/if#}
										</span></p>
										<p class="parea"><span>{#$re.room#}</span><em>|</em><span>{#$re.area#}㎡</span></p>
									</div>
								</div>
							</div>
							{#/house#}
						</div>
					</div></li>

				{#/house#}
				{#if $store|@count == 0#}
				<div class="empty">抱歉！ 暂无相关数据</div>
				{#/if#}



			</ul>
		</div>
		{#getPageList service='house' template='store' param="addrid={#$addrid#}&business={#$business#}&orderby=$orderby&{#if $keywords != ""#}keywords={#$keywords#}{#/if#}" pageInfo=$pageInfo1#}

	</div>
</div>



{#include file="footer.html"#}
<script>var type = '{#$type#}', totalCount = {#$tCount#}, totalPage = {#$pageInfo.totalPage|string_format:"%d"#}, atPage = {#$page#}, pageUrl = '{#getUrlPath service="house" template="zj" addrid={#$addrid#} business={#$business#} type={#$type#} act={#$act#} keywords={#$keywords#} page="%page%"#}';</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/zj.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>