*{    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;}
/*头部幻灯片部分*/
.wrapper .swiper-container {height: 3.5rem;color: #fff;text-align: center;}
.wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.wrapper .swiper-slide img {width: 100%; height: 100%;}
.wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: 0;width: 100%;}
.wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.wrapper .swiper-active-switch {background: #fff;}
.wrapper .swiper-dynamic-links {text-align: center;}
.wrapper .swiper-pagination-bullet-active{background: #fff!important;opacity: .8}
.wrapper .swiper-pagination-bullet{width: 6px;height: 6px;}
/*滑动导航*/
.nav{overflow: hidden;background: #fff;padding: .2rem 0 0;padding-top: .44rem;border: 0.1rem solid #ebebeb;border-left: 0;border-right: 0;}
.nav .nav-container{position: relative;}
.nav li{float: left;width: 25%;}
.nav li a{display: block;}
.nav li a .icon-img{display: block;width: .85rem;height: .85rem;margin: 0 auto;}
.nav li a .icon-img img{display: block;width: 100%;height: 100%;}
.nav li a .icon-txt{display: block;width: 1rem;height: .6rem;margin: 0 auto;text-align: center;margin-top: .08rem}
.nav .swiper-pagination-bullet{width: 7px;height: 7px;}
.nav .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom,.nav .swiper-pagination-fraction{bottom: -10px;position: absolute;}
#tabs-container .swiper-wrapper{height: auto !important;}
/*底部*/
.fixFooter{position: fixed; bottom: 0; left: 0; right: 0; height: .9rem; background: #fff; border-top: 1px solid #e4e4e3; font-size: .24rem; -webkit-animation: FadeIn .15s ease-out; -moz-animation: FadeIn .15s ease-out; animation: FadeIn .15s ease-out;z-index: 2}
.fixFooter ul{display: -webkit-box;}
.fixFooter ul li{-webkit-box-flex: 1; text-align: center;}
.fixFooter ul li i{display: block; width: .5rem; height: .5rem; margin: .05rem auto 0;}
.fixFooter ul li.ficon1 i{background: url(../images/aficon1.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon2 i{background: url(../images/aficon2.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon3 i{background: url(../images/aficon3.png) center center no-repeat; background-size: .4rem auto;}
.fixFooter ul li.ficon4 i{background: url(../images/aficon4.png) center center no-repeat; background-size: .4rem auto;}

.gotop{position: fixed; bottom: 1.1rem; right: .3rem; width: .9rem; height: .9rem; z-index: 9; display: none;}
.gotop img{display: block; width: 100%; height: 100%; }

/*加载中*/
.loading{position: absolute; left: 3rem; margin-left: -1rem; display: block; width: 2rem; background-size: .6rem; -webkit-animation: loading 1.1s linear infinite; animation: loading 1.1s linear infinite; margin: 0 auto; top: 3rem; text-align: center;}
.loading .icon-loading{background: url(../images/loading.gif) center center no-repeat; display: block; width: .6rem; height: .6rem; background-size: .6rem auto; margin: 0 auto;}

/* 导航切换 */
.navbar.fixed{position: fixed; top: 0; left: 0; right: 0; z-index: 999; box-shadow: 0 0 13px 2px #a9a9a9;}
.navbar {height:.9rem;line-height:.9rem;border-bottom:1px solid #dee0e5;background:#fff;}
.navbar ul li {float:left;width:33.33%;text-align:center;position:relative;font-size:.3rem;}
.navbar ul li:after {content:"";position:absolute;left:0.4rem;bottom:-0.01rem;height:.04rem;width:1.7rem;background:#ff5647;display:none;}
.navbar ul li.active {color:#ff5647;}
.navbar ul li.active:after {display:block;}
.container {margin-bottom:1rem;}
.content-slide {padding:0 .3rem;}
.InfoBox {padding:.3rem 0;border-bottom:0.02rem solid #e7e7e7;}
.InfoBox .Info_pic {position: relative; float:left;width:2.2rem;height:2.2rem;overflow:hidden;border-radius:.1rem;margin-right:.15rem;}
.InfoBox .Info_pic img {width:100%;min-height: 2.2rem;}
.InfoBox .Info_pic s {position: absolute; left: 50%; top: 50%; width: 1rem; height: 1rem; background: rgba(0,0,0,.4); border-radius: 50%; margin: -.5rem 0 0 -.5rem;}
.InfoBox .Info_pic s:after {display: block; content: ''; position: absolute; width: 0; height: 0; left: .4rem; top: .25rem; margin: auto; overflow: hidden; vertical-align: middle; border: 0 solid transparent; border-width: .25rem .35rem; border-left-color: #fff;}
.InfoBox .Info_title {font-size:.3rem;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;height:0.9rem;}
.InfoBox .Info_price {color:#e7563c;font-size:.34rem;margin:.15rem 0;}
.InfoBox .Info_price em {font-size:.24rem;}
.InfoBox .Info_foot .Info_member {float:left;width:31%;height:.5rem;line-height:.5rem;}
.InfoBox .Info_foot .Info_member .Info_mpic {float:left;width:.5rem;height:.5rem;overflow:hidden;border-radius:.5rem;vertical-align:middle;margin-right:.1rem;}
.InfoBox .Info_foot .Info_member .Info_mpic img {width:100%;}
.InfoBox .Info_foot .Info_member .Info_mname {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.InfoBox .Info_foot .Info_location {height:.5rem;line-height:.5rem;color:#969696;float:right;}
