html{background: #f8f8f8;}
body,html{width: 100%; height: 100%; overflow: auto;}
.headertext dt{font-size: .26rem;color: #8f8f94; margin-bottom: .12rem;}
.headertext dd{font-size: .3rem;}
.headertext dl{float: left;}
.headertext:before{content: ''; float: left;  width: .9rem; height: .83rem; background-image: url(../images/icon1.png); background-size: cover; margin-right: .18rem;}
.headertext{overflow: hidden; padding-left: .36rem; padding-top: .2rem; padding-bottom: .3rem; background: #fff; border-bottom: solid .01rem #f1f1f1;}


.posterBox{position: relative;width: 100%; height: 100%; color: #fff;}

.qrcodeBox .QRtip{display: none;}
.qrcodeBox img{width: 92%; height: 92%; margin: 4%; }
.tel{font-size: .2rem; font-weight: bold; line-height: .24rem;}
.tel i{display: inline-block;width: .24rem; height: .24rem; background-image: url(../images/tel_icon.png); background-repeat: no-repeat; background-size: contain; vertical-align: middle; margin-right: .06rem;}
.intent{position: absolute; font-size: .18rem;  text-align: right;}
/*海报01的样式s*/

/*海报生成*/
.imgBox{width: 100%; height: 100%; margin: .1rem auto 0; position: relative;}
.imgBox .pimg{height: 100%; width: 100%; position: absolute; top: 0; text-align: center;}
.imgBox .pimg img{max-height: 100%; max-width: 100%;}

/*职位*/
.poster01 .text-content{color: #fff;}
.poster01 .joblistbox .jobname{font-size: .22rem;  font-weight: bold;  line-height: 1em; margin-bottom: .1rem;}
.poster01 .joblistbox .jobinfo{font-size: .18rem;   line-height: 1em;}
.poster01 .joblistbox li{ padding-bottom: .08rem; padding-top: .16rem;  border-bottom: solid 0.01rem #fff;}
.poster01 .joblistbox li:nth-last-child(1){border-bottom: none;}
.poster01 .joblistbox .jobinfo p{margin-bottom: .06rem;}
.poster01 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster01 .corpinfo h2{font-size: .26rem; font-weight: bold;  margin-bottom: .02rem; }
.poster01 .corpinfo p{font-size: .18rem; line-height: 1.2em;}


/*==替换*/
.poster01 .corpinfo p.QRtip{position: absolute; bottom: 0; }
.poster01 .corpinfo{position: relative;position: absolute; z-index: 5;}

/*二维码*/
.poster01 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}


/*生成图片*/
/*==修改*/
.drawImg{width: 100%; height: 100%; position:absolute ; top: 0; left: 0 ; right: 0; bottom: 0; text-align: center;z-index: 10; background-color: #fff; color: #666;}
.drawImg img{height: 100%;}
.drawImg .loading{width: .4rem; height: .4rem !important;display: block; margin: auto; margin-top:50%; }
.drawImg p{margin-top: .2rem; font-size: .3rem;}
/*海报01的样式e*/




/*职位*/
.poster02 .text-content{color: #fff;}
.poster02 .joblistbox .jobname{font-size: .22rem;  font-weight: bold; margin-bottom: .04rem;   position: relative;  }
.poster02 .joblistbox .jobinfo{font-size: .18rem;}
.poster02 .joblistbox li{color: #fff; padding-bottom: .06rem; padding-top: .06rem; border-bottom: solid .01rem #fff; }
.poster02 .joblistbox li:nth-last-child(1){border-bottom: none;}
.poster02 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster02 .corpinfo h2{font-size: .26rem; font-weight: bold;  }
.poster02 .corpinfo p{font-size: .18rem; line-height: 1.3em;}
/*.poster02 .corpinfo p.QRtip{margin-top: .5rem;}*/
.poster02 .corpinfo{position: relative;position: absolute; z-index: 5;}

/*二维码*/
.poster02 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}
.poster02 .QRtip{position: absolute;bottom: 0rem;}


/*职位*/
.poster03 .text-content{color: #fff;}
.poster03 .joblistbox .jobname{font-size: .22rem;font-weight: bold; color:#fff;line-height: 1em; margin-bottom: .08rem;position: relative;}
.poster03 .joblistbox li{font-weight: bold; padding-bottom: .1rem; padding-top: .14rem;  border-bottom: solid .01rem #fff;}
.poster03 .joblistbox li:nth-last-child(1){border: none;}
.poster03 .joblistbox li .jobinfo{font-size: .18rem; font-weight: normal;}
.poster03 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster03 .corpinfo h2{font-size: .26rem; font-weight: bold; margin-bottom: .04rem; }
.poster03 .corpinfo p{font-size: .18rem; line-height: 1.2em;}
/*==替换*/
/*.poster03 .corpinfo p.QRtip{margin-top: .5rem;}*/
.poster03 .corpinfo p.QRtip{position: absolute; bottom: 0;}
.poster03 .corpinfo{position: relative;position: absolute; z-index: 5;}

/*二维码*/
.poster03 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}





/*海报04样式44444444444444444444444444*/
.poster04 .imgBox{width: 100%; height: 100%; margin-top: .1rem; position: relative;}
.poster04 .imgBox .pimg{height: 100%; width: 100%; position: absolute; top: 0; text-align: center;}
.poster04 .imgBox .pimg img{max-height: 100%; max-width: 100%;}

/*职位*/
.poster04 .text-content{color: #fff;}
.poster04 .joblistbox .jobname{font-size: .22rem;  font-weight: bold; color:#fff;  margin-bottom: .04rem;position: relative;}
.poster04 .joblistbox li{font-weight: bold; padding-bottom: .06rem; padding-top: .06rem; border-bottom: solid .01rem #fff;}
.poster04 .joblistbox li:nth-last-child(1){border: none;}
.poster04 .joblistbox li .jobinfo{font-size: .18rem;}
.poster04 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster04 .corpinfo h2{font-size: .26rem; font-weight: bold;  }
.poster04 .corpinfo p{font-size: .18rem; line-height: 1.2em;}
.poster04 .corpinfo{position: relative; z-index: 5;}

/*二维码*/
.poster04 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}
.poster04 .QRtip{position: absolute;bottom: 0;}

/*生成图片*/





/*海报05的样式5555555555555555*/


/*职位*/
.poster05 .text-content{color: #fff;}
.poster05 .joblistbox{padding-top: .1rem;  background-color: rgba(245,141,31,.5); border-radius: .1rem;}
.poster05 .joblistbox li{border-bottom: .01rem solid #fff;padding-bottom: .06rem;padding-top: .06rem; margin-left: .3rem; margin-right: .3rem;}
.poster05 .joblistbox li:nth-last-child(1){border: none;}
.poster05 .joblistbox .jobname{font-size: .22rem;  font-weight: bold; }
.poster05 .joblistbox .jobinfo{font-size: .20rem;clear: both;}
.poster05 .joblistbox .jobinfo p{display:inline-block;margin-bottom: .06rem;}
.poster05 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster05 .corpinfo h2{font-size: .26rem; font-weight: bold;text-align: center;}
.poster05 .corpinfo p{font-size: .18rem;text-align: center;}
.poster05 .corpinfo p.QRtip{margin-top: .5rem; display: none;}
.poster05 .corpinfo{position: relative; z-index: 5;}
/*二维码*/
.poster05 .qrcodeBox{background-color: #fff; position: relative;position: absolute; z-index: 5;}
.poster05 .qrcodeBox .QRtip{position: absolute;bottom: -.5rem; width: 100%; display: block;  font-size: .18rem; text-align: center;}

.poster05 .QRtip span{display: block;text-align: center;}





/*海报06的样式66666666666666666*/


/*职位*/
.poster06 .text-content{color: #fff;}
.poster06 .joblistbox li{border-bottom: .01rem dashed #fff;margin-bottom: .1rem;}
.poster06 .joblistbox li:last-child{border-bottom: 0;}
.poster06 .joblistbox .jobname{font-size: .22rem;  font-weight: bold; line-height: 1em; margin-bottom: .08rem;}
.poster06 .joblistbox .jobinfo{font-size: .18rem;clear: both;}
.poster06 .joblistbox .jobinfo p{display:inline-block;margin-bottom: .06rem;}
.poster06 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster06 .corpinfo h2{font-size: .26rem; font-weight: bold; }
.poster06 .corpinfo p{font-size: .18rem; line-height: 1.2em;}
.poster06 .corpinfo p.QRtip{margin-top: .5rem;}
.poster06 .corpinfo{position: relative; z-index: 5;}

/*二维码*/
.poster06 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}
.poster06 .QRtip{position: absolute;bottom: 0;}







/*海报07的样式777777777777777777777*/


/*职位*/
.poster07 .text-content{color: #fff;}
.poster07 .joblistbox li{border-bottom: .01rem dashed #fff;margin-bottom: .1rem;padding-top:.08rem ; padding-bottom:.08rem ;}
.poster07 .joblistbox li:nth-last-child(1){border: none;}

.poster07 .joblistbox .jobname{font-size: .22rem;  font-weight: bold; line-height: 1em; margin-bottom: .08rem;}
.poster07 .joblistbox .jobinfo{font-size: .18rem;clear: both;}

.poster07 .joblistbox{position: absolute;z-index: 5; }
/*二次修改*/
.poster07 .joblistbox li i{display: block; transform: rotate(90deg);text-align: center;  margin-bottom: -.08rem;}


/*公司信息*/
.poster07 .corpinfo h2{font-size: .26rem; font-weight: bold;  }
.poster07 .corpinfo p{font-size: .18rem; line-height: 1.2em;}

.poster07 .corpinfo{position: relative; z-index: 5;}

/*二维码*/
.poster07 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}
.poster07 .QRtip{position: absolute;bottom: 0;}
/*生成图片*/





/*海报08的样式88888888888888*/


/*职位*/
.poster08.posterBox{color: #333;}
.poster08 .joblistbox li{border-bottom: .01rem dashed #e7e7e7; padding-top: .06rem; padding-bottom: .06rem;}
.poster08 .joblistbox li:last-child{border-bottom: 0;}
.poster08 .joblistbox .jobname{font-size: .24rem;  font-weight: bold; line-height: 1.5em;}
.poster08 .joblistbox .jobinfo{font-size: .20rem;clear: both;}

.poster08 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster08 .corpinfo h2{font-size: .26rem; font-weight: bold; margin-bottom: .04rem; line-height: 1em; }
.poster08 .corpinfo p{font-size: .18rem;}

.poster08 .corpinfo{position: relative; z-index: 5;}
.poster08 .corpinfo p.tel i{background-image: url(../images/tel_icon2.png); }
/*二维码*/
.poster08 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5; box-sizing: border-box; border: solid .01rem #e5e5e5;}
.poster08 .QRtip{position: absolute;bottom: 0rem;}






/*海报09的样式999999999999999*/


/*职位*/

.poster09 .joblistbox li{border-bottom: .01rem dashed #fff;margin-bottom: .1rem;padding: .05rem 0;}
.poster09 .joblistbox li:last-child{border-bottom: none;}
.poster09 .joblistbox .jobname{font-size: .24rem;  font-weight: bold; line-height: 1em; margin-bottom: .04rem;}
.poster09 .joblistbox .jobinfo{font-size: .20rem;clear: both;}
.poster09 .joblistbox .jobinfo p{display:inline-block;margin-bottom: .04rem;}
.poster09 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster09 .corpinfo h2{font-size: .26rem; font-weight: bold; margin-bottom: .04rem; line-height: 1em; }
.poster09 .corpinfo p{font-size: .18rem; line-height: 1.2em;}

.poster09 .corpinfo{position: relative; z-index: 5;}

/*二维码*/
.poster09 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}
.poster09 .QRtip{position: absolute;bottom: 0rem;}









/*海报10的样式*/


/*职位*/

.poster10 .joblistbox li{border-bottom:.01rem dashed #fff;padding: .04rem 0;}
.poster10 .joblistbox li:last-child{border-bottom: 0;}
.poster10 .joblistbox .jobname{font-size: .22rem;  font-weight: bold; margin-bottom: .06rem;}
.poster10 .joblistbox .jobinfo{font-size: .18rem;clear: both;}
.poster10 .joblistbox .jobinfo p{display:inline-block;margin-bottom: .06rem;}
.poster10 .joblistbox{position: absolute;z-index: 5; }
/*公司信息*/
.poster10 .corpinfo h2{font-size: .26rem; font-weight: bold; margin-bottom: .06rem; }
.poster10 .corpinfo p{font-size: .18rem; line-height: 1.5em;}
.poster10 .corpinfo p.QRtip{display: none;}
.poster10 .corpinfo{position: relative; z-index: 5;}

/*二维码*/
.poster10 .qrcodeBox{background-color: #fff; position: absolute; z-index: 5;}
.poster10 .qrcodeBox .QRtip{position: absolute;bottom: -.6rem; display: block !important;  font-size: .16rem; text-align: center; width: 100%; white-space: nowrap;}


