<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$image_title#}</title>
<meta name="keywords" content="{#$image_keywords#}" />
<meta name="description" content="{#$image_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$image_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var winSizeLevel = 0;
	var winSize = [980,1228,1476,1724];
	window.onload = function(){
		$(window).resize(function(){
			var cl = 'w980';
			var w = $(window).width();
			if(w >= 1824) {cl = 'w1724'; winSizeLevel = 3;}
			if(w >= 1576 && w < 1824) {cl = 'w1476'; winSizeLevel = 2;}
			if(w >= 1328 && w < 1576) {cl = 'w1228'; winSizeLevel = 1;}
			if(w < 1328) {cl = 'w980'; winSizeLevel = 0;}
			$('body').css('min-height',$(window).height() + 50 + 'px').removeClass().addClass(cl).fadeIn();

			if(winSizeLevel < 3){
				$('.toppart .item').show().slice(winSizeLevel-3).hide();
			}else{
				$('.toppart .item').show();
			}

		}).trigger('resize');
	};
</script>
</head>
<body class="w980 opacity0">
{#include file="_header.html"#}

<!-- 主体 -->
<div class="content wrap">
	<!-- 第一栏 -->
	<div class="part toppart fn-clear">
		<!-- 热搜词 -->
		<div class="hot-key">
			<p class="title"><i></i>热搜词</p>
			<ul>{#myad id="177"#}</ul>
		</div>
		<!-- 焦点图 s -->
		<div class="picFocus">
			<div class="bd">
				<ul>{#myad id="172"#}</ul>
			</div>
			<p class="title"></p>
			<div class="hd">
				<ul>{#myad id="172"#}</ul>
				<div class="bg"></div>
			</div>
			<a class="prev btn" href="javascript:;"></a>
			<a class="next btn" href="javascript:;"></a>
		</div>
		<!-- 焦点图 e -->
		<div class="item">
			{#myad id="173"#}
			<p class="line line-1"></p>
			<p class="line line-2"></p>
		</div>
		<div class="item">
			{#myad id="174"#}
			<p class="line line-1"></p>
			<p class="line line-2"></p>
		</div>
		<div class="item">
			{#myad id="175"#}
			<p class="line line-1"></p>
			<p class="line line-2"></p>
		</div>
		<div class="item">
			{#myad id="176"#}
			<p class="line line-1"></p>
			<p class="line line-2"></p>
		</div>
	</div>
	{#image action='type' return='type' pageSize='6'#}

	{#if $_bindex.type == 1#}
	<div class="part part1 fn-clear">
		<div class="lefttype">
			<div class="type">
				<a href="{#$type.url#}">
					<h3 class="name">{#$type.typename#}</h3>
					<span>{#$type.pinyin#}</span>
				</a>
			</div>
			<div class="subtype">
				{#image action='type' return='type1' type={#$type.id#} pageSize='9'#}
				<a href="{#$type1.url#}" class="sub_{#$_bindex.type1#}"><div class="bg"></div><span class="name">{#$type1.typename#}</span></a>
				{#/image#}
			</div>
		</div>
		{#image action='alist' return='alist1' typeid={#$type.id#} flag='r' pageSize='6'#}
		<div class="item item_{#$_bindex.alist1#}">
			<a href="{#$alist1.url#}" target="_blank" class="pic"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$alist1.litpic#}" type="middle"#}" alt=""></a>
			<a href="{#$alist1.url#}" target="_blank" class="title"><span class="t">{#$alist1.title#}</span><span class="bg"></span></a>
		</div>
		{#/image#}
	</div>
	{#elseif $_bindex.type == 2#}
	<div class="part part2 fn-clear">
		<div class="lefttype">
			<div class="type">
				<a href="{#$type.url#}">
					<h3 class="name">{#$type.typename#}</h3>
					<span>{#$type.pinyin#}</span>
				</a>
			</div>
			<div class="subtype">
				{#image action='type' return='type2' type={#$type.id#} pageSize='9'#}
				<a href="{#$type2.url#}" class="sub_{#$_bindex.type2#}"><div class="bg"></div><span class="name">{#$type2.typename#}</span></a>
				{#/image#}
			</div>
		</div>
		{#image action='alist' return='alist2' typeid={#$type.id#} flag='r' pageSize='7'#}
		<div class="item item_{#$_bindex.alist2#}">
			<a href="{#$alist2.url#}" target="_blank" class="pic"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$alist2.litpic#}" type="middle"#}" alt=""></a>
			<a href="{#$alist2.url#}" target="_blank" class="title"><span class="t">{#$alist2.title#}</span><span class="bg"></span></a>
		</div>
		{#/image#}
	</div>
	{#elseif $_bindex.type == 3#}
	<div class="part part3 fn-clear">
		<div class="lefttype">
			<div class="type">
				<a href="{#$type.url#}">
					<h3 class="name">{#$type.typename#}</h3>
					<span>{#$type.pinyin#}</span>
				</a>
			</div>
			<div class="subtype">
				{#image action='type' return='type3' type={#$type.id#} pageSize='9'#}
				<a href="{#$type3.url#}" class="sub_{#$_bindex.type3#}"><div class="bg"></div><span class="name">{#$type3.typename#}</span></a>
				{#/image#}
			</div>
		</div>
		{#image action='alist' return='alist3' typeid={#$type.id#} flag='r' pageSize='8'#}
		<div class="item item_{#$_bindex.alist3#}">
			<a href="{#$alist3.url#}" target="_blank" class="pic"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$alist3.litpic#}" type="middle"#}" alt=""></a>
			<a href="{#$alist3.url#}" target="_blank" class="title"><span class="t">{#$alist3.title#}</span><span class="bg"></span></a>
		</div>
		{#/image#}
	</div>
	{#elseif $_bindex.type == 4#}
	<div class="part part4 fn-clear">
		<div class="lefttype">
			<div class="type">
				<a href="{#$type.url#}">
					<h3 class="name">{#$type.typename#}</h3>
					<span>{#$type.pinyin#}</span>
				</a>
			</div>
			<div class="subtype">
				{#image action='type' return='type4' type={#$type.id#} pageSize='9'#}
				<a href="{#$type4.url#}" class="sub_{#$_bindex.type4#}"><div class="bg"></div><span class="name">{#$type4.typename#}</span></a>
				{#/image#}
			</div>
		</div>
		{#image action='alist' return='alist4' typeid={#$type.id#} flag='r' pageSize='8'#}
		<div class="item item_{#$_bindex.alist4#}">
			<a href="{#$alist4.url#}" target="_blank" class="pic"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$alist4.litpic#}" type="middle"#}" alt=""></a>
			<a href="{#$alist4.url#}" target="_blank" class="title"><span class="t">{#$alist4.title#}</span><span class="bg"></span></a>
		</div>
		{#/image#}
	</div>
	{#elseif $_bindex.type == 5#}
	<div class="part part5 fn-clear">
		<div class="lefttype">
			<div class="type">
				<a href="{#$type.url#}">
					<h3 class="name">{#$type.typename#}</h3>
					<span>{#$type.pinyin#}</span>
				</a>
			</div>
			<div class="subtype">
				{#image action='type' return='type5' type={#$type.id#} pageSize='9'#}
				<a href="{#$type5.url#}" class="sub_{#$_bindex.type5#}"><div class="bg"></div><span class="name">{#$type5.typename#}</span></a>
				{#/image#}
			</div>
		</div>
		{#image action='alist' return='alist5' typeid={#$type.id#} flag='r' pageSize='7'#}
		<div class="item item_{#$_bindex.alist5#}">
			<a href="{#$alist5.url#}" target="_blank" class="pic"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$alist5.litpic#}" type="middle"#}" alt=""></a>
			<a href="{#$alist5.url#}" target="_blank" class="title"><span class="t">{#$alist5.title#}</span><span class="bg"></span></a>
		</div>
		{#/image#}
	</div>
	{#elseif $_bindex.type == 6#}
	<div class="part part6 fn-clear">
		<div class="lefttype">
			<div class="type">
				<a href="{#$type.url#}">
					<h3 class="name">{#$type.typename#}</h3>
					<span>{#$type.pinyin#}</span>
				</a>
			</div>
			<div class="subtype">
				{#image action='type' return='type6' type={#$type.id#} pageSize='9'#}
				<a href="{#$type6.url#}" class="sub_{#$_bindex.type6#}"><div class="bg"></div><span class="name">{#$type6.typename#}</span></a>
				{#/image#}
			</div>
		</div>
		{#image action='alist' return='alist6' typeid={#$type.id#} flag='r' pageSize='7'#}
		<div class="item item_{#$_bindex.alist6#}">
			<a href="{#$alist6.url#}" target="_blank" class="pic"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#changeFileSize url="{#$alist6.litpic#}" type="middle"#}" alt=""></a>
			<a href="{#$alist6.url#}" target="_blank" class="title"><span class="t">{#$alist6.title#}</span><span class="bg"></span></a>
		</div>
		{#/image#}
	</div>
	{#/if#}
	{#/image#}
</div>
<!-- 底部 -->

{#include file="_footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js"></script>
</body>
</html>
