<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$keywords#} - {#$image_channelName#} - {#$cfg_webname#}</title>
<meta name="keywords" content="{#$image_keywords#}" />
<meta name="description" content="{#$image_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$image_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
	var winSizeLevel = 0;
	var winSize = [1008,1344,1680];
	window.onload = function(){
		$(window).resize(function(){
			var cl = 'w1008';
			var w = $(window).width();
			if(w >= 1780) {cl = 'w1680'; winSizeLevel = 2;}
			if(w >= 1444 && w < 1780) {cl = 'w1344'; winSizeLevel = 1;}
			if(w < 1444) {cl = 'w1008'; winSizeLevel = 0;}
			$('body').css('min-height',$(window).height() + 50 + 'px').removeClass().addClass(cl).fadeIn();
		}).trigger('resize');
	};

	var keywords = '{#$keywords#}', atpage = 1, pageSize = 10;
</script>
<script type="text/javascript">
(function(){
    window.__t__ = (+new Date);

    /* 提前计算好页面宽度 */
    var head = document.head || document.getElementsByTagName( 'head' )[0] || document.documentElement,
        winWidth = document.documentElement.clientWidth,
        reservedWidth = 54,
        colWidth = 336,
        cols = 3,
        bdWidth = winWidth - ( winWidth % colWidth ),
        selector = '#bd,#header .hd_block,#hd_nav .nav_wrap',
        ruleValue, cssText, style;

    // 最窄显示3列
    bdWidth = Math.max( bdWidth, cols * colWidth );
    ruleValue = 'width:' + bdWidth + 'px';

    style = document.createElement( 'style' );
    style.type = 'text/css';

    if( style.textContent !== undefined ){
        style.textContent = selector + '{' + ruleValue + '}';
    }
    else{
        style.styleSheet.addRule( selector, ruleValue, 0 );
    }

    head.appendChild( style );

})();
</script>
</head>
<body class="w980 fn-hide">
{#include file="_header.html"#}

<!-- 主体 -->
<div class="content wrap">
	<div class="waterfall clearfix" id="waterfall"></div>
    <div class="loadingBox" id="loadingBox">
        <div class="border"></div>
        <div class="loader"></div>
    </div>
</div>

<div id="empty">哎呀，没有符合您要求的图片，请选择其他选项试一试吧~</div>

<div class="toend" id="toend">
    <div class="border"></div>
    <div class="text"></div>
</div>

<div id="moreTabs">
    <div class="gotop" id="gotop">
        <a href="javascript:;" class="btn_gotop">返回顶部</a>
    </div>
</div>

{#include file="_footer.html"#}
<script src="{#$templets_skin#}js/seed-jquery-simplified.js" data-main="search.js" ></script>
</body>
</html>
