.gallery-panel-add {
	text-align:center
}
.gallery-panel-add>.add {
	background-color:#25B86F;
	border:medium none;
	box-shadow:0 0 1px #787878 inset;
	color:#FFFFFF;
	cursor:pointer;
	height:30px;
	padding:6px 10px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
	transition:background-color 0.15s ease 0s;
	margin:10px 0;
	width:90%
}
.gallery-panel-add>.add:hover {
	background-color:#20ab51
}
.gallery-panel-edit > .content > .row > .cell.options > .label {
	width:60px;
	text-align:center
}
.gallery-panel-edit > .content > .row > .cell.cols > .label {
	width:50px
}
.section.gallery-panel-edit .options.cols .diy-control.options .option {
	min-width:18px
}
.altwrap {
	position:absolute;
	width:180px;
	height:130px;
	background-color:#3f3f3f;
	top:30px;
	right:5px;
	padding:5px 10px 5px 10px;
	display:none;
	z-index:300;
	box-shadow:1px 1px 3px #333;
	color:#EDEDED
}
.altwrap.hidden {
	display:none
}
.altwrap .title {
	color:#bbb;
	padding-bottom:6px;
	font-size:14px
}
.altwrap textarea {
	width:168px;
	height:52px
}
.altwrap input[type=submit],.altwrap input[type=reset] {
	background-color:#585959;
	display:inline-block;
	color:#bbb;
	width:54px;
	height:28px;
	line-height:28px;
	border:1px solid #222222;
	margin-right:10px;
	margin-top:10px;
	position:relative;
	box-shadow:inset 0px 0px 2px #787979;
	font-size:12px
}
.altwrap input[type=submit]:hover,.altwrap input[type=reset]:hover {
	background-color:#666
}
.form.gallery .radio-buttons>.button {
	margin:0 2px;
	padding:2px 6px
}
