.imageGalleryContainer * {
	margin:0;
	padding:0
}
.imageGalleryContainer .imageGallery {
	}.imageGalleryexport .imageGallery .item {
	display:inline-block;
	overflow:hidden;
	position:relative;
	cursor:pointer
}
.imageGalleryexport .imageGallery .item {
	*display:inline;
	*zoom:1
}
.imageGalleryexport .imageGallery .item .gallerylink {
	*zoom:1
}
.imageGalleryContainer .item .gallerylink p {
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
	background-color:rgba(0,0,0,0.3);
	width:100%;
	padding:5px 1%;
	color:#fff;
	display:none
}
.imageGalleryContainer .item .bottom-title {
	display:block;
	padding:0 10px;
	padding-bottom:5px;
	text-align:center
}
.imageGalleryContainer .item .bottom-title a {
	display:block
}
.imageGalleryContainer .item .bottom-title:hover {
	text-decoration:none!important
}
.imageGalleryContainer .item img {
	cursor:pointer
}
