/* 首页 */
.homepage {padding-top: .26rem;}
.homepage dl {margin-bottom: .2rem; padding: 0 .33rem;}
.homepage dt {position: relative; height: .4rem; line-height: .4rem; padding-left: .27rem; font-size: .3rem; font-weight: 700; margin-bottom: .26rem;}
.homepage dt::after {position: absolute; left: 0; top: 0; bottom: 0; content: ''; width: .08rem; border-radius: 4px; background-image: -webkit-linear-gradient(top, #19d7ff, #2e90ff);}
.homepage dd {width: 110%;}
.homepage dd a {float: left; width: 1.75rem; height: .54rem; line-height: .54rem; font-size: .3rem; text-align: center; border: 1px solid #eaeaea; border-radius: 1rem; margin: 0 .42rem .3rem 0; padding: 0 .1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; box-shadow: 0 10px 30px rgba(0, 0, 0, .04);}
.homepage dd a:active {background: #f2f2f2;}

.absolute.header {position: fixed;}
.filter .ftit li:active, .filter .fitem .type1 li:active, .filter .fitem .type2 li a:active, .distance li a:active, .list dl:active {background: #f2f2f2;}

/* 筛选 */
.filter {position: fixed; z-index: 1; left: 0; top: .9rem; right: 0; height: .88rem; border-bottom: 1px solid #ebebeb; background: #fff;}
.huoniao_iOS .filter {top: 0;}
.filter .ftit {display: -webkit-box;}
.filter .ftit li {position: relative; -webkit-box-flex: 1; text-align: center; line-height: .88rem;}
.filter .ftit li:nth-child(1)::after {position: absolute; content: ''; width: 1px; height: .3rem; top: 50%; right: 0; margin-top: -.15rem; background: #ebebeb; overflow: hidden;}
.filter .ftit label, .filter .ftit em {display: inline-block; vertical-align: middle;}
.filter .ftit em {width: 0; height: 0; border: 4px solid transparent; border-top-color: #2c3038; margin: .1rem 0 0 .05rem;}
.filter .ftit .curr {color: #fc4f32;}
.filter .ftit .curr em {border: 4px solid transparent; border-bottom-color: #fc4f32; margin-top: -.05rem;}

.filter .fitem {display: none; position: absolute; left: 0; top: calc(1px + .88rem); right: 0; height: 7rem; background: rgba(244, 245, 252, .95); font-size: .28rem;}
.filter .fitem.curr {display: block;}
.filter .fitem .type1, .filter .fitem .type2 {float: left; position: relative; width: 50%; height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.filter .fitem .type1 li {position: relative; height: 1rem; line-height: 1rem; text-align: center;}
.filter .fitem .type1 li.curr {background: #fff;}
.filter .fitem .type1 li::after {position: absolute; top: 50%; right: .25rem; content: ''; border-right: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; width: .1rem; height: .1rem; margin-top: -.05rem; transform: rotate(-45deg);}
.filter .fitem .type1 li img {display: inline-block; vertical-align: middle; width: .3rem; height: .3rem; margin: -.05rem .05rem 0 0;}
.filter .fitem .type2 {background: rgba(255, 255, 255, .8);}
.filter .fitem .type2 ul {display: none;}
.filter .fitem .type2 ul.curr {display: block;}
.filter .fitem .type2 li {height: 1rem; line-height: 1rem; text-align: center;}
.filter .fitem .type2 li a {display: block;}

.distance {height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; background: rgba(255, 255, 255, .8);}
.distance li {position: relative; height: 1rem; line-height: 1rem; margin-left: 1rem; border-bottom: 1px solid #ebebeb; text-indent: 3px;}
.distance li img {position: absolute; left: -.66rem; top: 50%; width: .36rem; height: .28rem; margin-top: -.12rem;}
.distance li a {display: block;}

/* 当前位置 */
.location {height: .7rem; line-height: .7rem; background: #f5f9ff; padding: 0 .2rem; color: #787881; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/* 列表 */
.list dt {float: left; width: 1.35rem;}
.list dt a {position: relative; display: block; width: .86rem; height: .86rem; border-radius: 50%; overflow: hidden; text-align: center; font-size: .3rem; color: #fff; font-weight: 700; line-height: .8rem; margin: .3rem 0 0 .14rem; background-size: cover;}
.list dl.i0 dt a {background-image: url('../images/114/details-ico1.png');}
.list dl.i1 dt a {background-image: url('../images/114/details-ico2.png');}
.list dl.i2 dt a {background-image: url('../images/114/details-ico3.png');}
.list dl.i3 dt a {background-image: url('../images/114/details-ico4.png');}
.list dl.i4 dt a {background-image: url('../images/114/details-ico5.png');}
.list dl.i5 dt a {background-image: url('../images/114/details-ico6.png');}
.list dl.i6 dt a {background-image: url('../images/114/details-ico7.png');}

.list dd {position: relative; overflow: hidden; border-bottom: 1px solid #ebebeb;}
.list dd .route {float: right; width: 1.28rem; height: .86rem; border-left: 1px solid #ebebeb; text-align: center; margin-top: .3rem;}
.list dd .route img {width: .38rem; height: .44rem; display: block; margin: .21rem auto 0;}
.list dd .info {position: relative; overflow: hidden; display: block; padding: .25rem 0 .3rem;}
.list dd .info h5 {font-size: .3rem; line-height: .5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.list dd .info p {color: #aaa; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}


/* 加载中 */
.loading {text-align: center; color: #aaa; padding: .5rem 0;}
.loading span::before {display: inline-block; content: ''; width: .32rem; height: .32rem; background: url('/static/images/ajax-loader.gif'); background-size: cover; vertical-align: middle; margin: -.05rem .05rem 0 0;}

/* 提示 */
.tishi {width: 100%; position: fixed; z-index: 999; bottom: 50px;}
.chesi {border-radius: 5px; background-color: #686868; opacity: .9; text-align: center; padding: 10px; display: block; width: 60%; margin: 0 auto;}
.chesi p {font-size: .25rem; color:#ffffff;}

/* 打电话 */
.callPop {display: block; position: fixed; z-index: 999; left: 0; top: 0; background-color: rgba(0,0,0,0.5); width: 100%; height: 100%;}
.call-center {position: relative; top: 50%; left: 50%; width: 6.32rem; height: 4.18rem; margin: -3.29rem 0 0 -3.16rem; background: url("../images/114/callBG.png?v=2") no-repeat; background-size: 100% 100%; text-align: center; padding-top: 1rem; position: relative;}
.call-ts {font-size: .4rem; color: #050505; padding: .3rem 0;}
.call-hint {font-size: .24rem; color: #5E5E5E; padding: .1rem 0 .2rem;}
.call-sure {font-size: .3rem; color: #1C1C1C; padding-bottom: .35rem;}
.call-btn {overflow: hidden; position: absolute; bottom: 0; left: 0; right: 0;}
.call-btn a {float: left; position: relative; width: 50%; height: 1rem; color: #0376FF; font-size: .4rem; line-height: 1rem; border-top: 1px solid #DCDCE0;}
.call-btn a:first-child::after {position: absolute; right: 0; top: 0; bottom: 0; width: 1px; background: #DCDCE0; content: ''; overflow: hidden;}

/* 详情 */
.head {height: 4.45rem; position: relative; overflow: hidden;}
.bg {height: 4.45rem; position: absolute; left: 0; top: 0; z-index: -1;}
.bg img {display: block; height: 4.45rem; -webkit-filter: blur(3px); filter: blur(3px);}
.head-content {padding-top: 1rem;}
.head-content img {display: block; margin: 0 auto; width: .86rem; height: .86rem;}
.text{position: relative; width: .86rem; height: .86rem; margin: 0 auto;}
.text-c{position: absolute; z-index: 1; top: 0; width: .86rem; height: .86rem; color: #fff; font-size: .3rem; font-weight: bold; line-height: .8rem; text-align: center;}
.head-t {font-size: .4rem; color: #fff; text-align: center; padding: .4rem 0 .5rem 0;}
.head-address {text-align: center; font-size: .24rem; color: #fff;}
.head-ico {display: inline-block; width: .25rem; height: .25rem; background: url(../images/114/details-position.png) 0 0 no-repeat; background-size: cover; margin: -.05rem .1rem 0 0; vertical-align: middle;}

.ditems {padding: .38rem 0; overflow: hidden; border-bottom: .2rem #f3f2f7 solid; text-align: center; font-size: 0;}
.ditems .item {position: relative; display: inline-block;}
.ditems .item, .ditems .item a {display: inline-block; width: 50%; height: .74rem;}
.item:first-child:before {display: block; content: ""; position: absolute; width: 1px; height: .74rem; background: #ebebeb; right: 0; top: 0;}
.ditems .item:last-child:before {height: 0;}
.ditems .item-go {text-align: center; font-size: .22rem; color: #5a5e66; margin-bottom: .1rem;}
.ditems .item-go-ico {display: inline-block; vertical-align: middle; width: .26rem; height: .26rem; margin: -.05rem .1rem 0 0;}
.ditems .item-go-ico img {display: block; width: .26rem; height: .26rem;}
.ditems .item-text {color: #1a1a1a; text-align: center; font-size: .26rem;}

.map22 {position: relative;}
.map22-t {padding: .3rem 0 0.3rem .3rem; font-size: .26rem; color: #1a1a1a;}
.map22-t-ico {display: inline-block; width: .2rem; height: .24rem; vertical-align: middle; background: url(../images/114/ico-loaction-1.png) 0 0 no-repeat; background-size: cover; margin-right: .2rem;}
.map22-img {display: block; width: 7.5rem; height: 5rem;}
.text {position: relative; width: .86rem; height: .86rem; margin: 0 auto;}
.text-c {position: absolute; z-index: 1; top: 0; width: .86rem; height: .84rem; color: #fff; font-size: .3rem; font-weight: bold; line-height: .8rem; text-align: center;}
.addr_p2 {position: absolute; left: 0; right: 0; top: 2.91rem; margin: 0 auto; width: .71rem; height: .91rem; z-index: 9;}
.addr_p2 img {display: block; width: .71rem; height: .95rem;}
.map-t22-ico {display: inline-block; width: .2rem; height: .24rem; background: url(../images/114/ico-loaction-1.png) 0 0 no-repeat; background-size: cover; margin-right: .2rem;}
