<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{#$detail_title#}-{#$cfg_webname#}</title>
<meta name="keywords" content="{#$cfg_keywords#}">
<meta name="description" content="{#$cfg_description#}">
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/notice-detail.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
</head>
<body>

  <!-- 头部导航栏 s-->
  {#$pageTitle = "公告详情"#}
  {#include file="../../siteConfig/touch_top.html"#}
  <!-- 头部导航栏 e-->

  <div class="container">
    <div class="title">{#$detail_title#}</div>
    <div class="content">{#$detail_body#}</div>
    <p class="time">{#$detail_pubdate|date_format:"%Y-%m-%d %H:%M:%S"#}</p>
  </div>

</body>
</html>
