.w-wpqq {
	overflow:hidden
}
.w-wpqq-container {
	pointer-events:none
}
.placeholder-info {
	display:block
}
.placeholder-info span:before {
	font-family:"app";
	content:"\E915";
	margin-right:5px;
	vertical-align:middle;
	font-size:1.2em
}
.w-wpqq .wpqq-wrap:empty {
	background:rgba(211,211,211,.2) url(icon.png) no-repeat center center;
	min-width:60px;
	min-height:60px;
	cursor:pointer
}
@media(min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.w-wpqq:empty {
	background-image:url(icon@2x.png)
}
}