.w-wpqq {
	display:block;
	overflow:hidden
}
.wpqq-wrap-fixed {
	position:fixed !important;
	position:absolute;
	top:130px;
	right:10px;
	border-radius:5px;
	border:1px solid #53626b;
	background-color:#e7f2f7;
	overflow:hidden;
	zoom:1;
	z-index:1000;
	width:auto !important;
	width:150px
}
.wpqq-item {
	padding:2px;
	overflow:hidden;
	zoom:1
}
.wpqq-item .img {
	float:left;
	width:25px;
	height:25px;
	text-align:center
}
.wpqq-item .alias {
	padding-left:6px;
	float:left;
	padding-top:3px
}
.wpqq-item-float {
	float:left
}
.placeholder-info {
	text-align:center;
	color:#ccc;
	line-height:40px;
	border:1px dashed #ccc;
	display:none
}
.wpqq-wrap-right {
	float:right
}
.wpqq-wrap-fixed .wpqq-wrap-head {
	height:34px;
	background:#8dc9eb url(images/qqfixedtitle.png) no-repeat center center
}
.wpqq-wrap-fixed .wpqq-wrap-fixed-content {
	padding:8px 4px;
	min-width:110px
}
.wpqq-wrap-fixed .wpqq-item .alias {
	color:#0b0b0b
}
.wpqq-wrap-fixed .wpqq-item .alias:hover {
	color:#2c4552
}
