<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  modelType = "marry", adminPath = "{#$adminPath#}";
  var imglist = {"imgpics": {#$pics#}};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">标题：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" data-regex=".{1,60}"/>
      <span class="input-tips"><s></s>请输入2-30字</span>
    </dd>
  </dl>
  <dl id="companyInfo" class="clearfix">
    <dt><label for="zjcom">婚嫁公司：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="zjcom" id="zjcom" value="{#$zjcom#}" autocomplete="off" />
      <input type="hidden" name="comid" id="comid" value="{#$comid#}" />
      <span class="input-tips"><s></s>请选择所在家政公司</span>
      <div id="comList" class="popup_key"></div>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>桌数：</dt>
    <dd>
      <div class="input-prepend input-append" style="margin-bottom:0">
        <span class="add-on">可容纳桌数：</span>
        <input class="input-mini" id="maxtable" name="maxtable" type="text" data-regex="0|\d*\.?\d+" value="{#$maxtable#}" />
        <span class="add-on">桌</span>
      </div>&nbsp;&nbsp;
      <div class="input-prepend input-append" style="margin-bottom:0">
        <span class="add-on">最佳桌数：</span>
        <input class="input-mini" id="besttable" name="besttable" type="text" data-regex="0|\d*\.?\d+" value="{#$besttable#}" />
        <span class="add-on">桌</span>
      </div>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="floorheight">层高：</label></dt>
    <dd>
      <div class="input-prepend input-append">
        <input class="input-mini" type="text" name="floorheight" id="floorheight" value="{#$floorheight#}" maxlength="10" data-regex="0|\d*\.?\d+" />
        <span class="add-on">m</span>
      </div>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="area">面积：</label></dt>
    <dd>
      <div class="input-prepend input-append">
        <input class="input-mini" type="text" name="area" id="area" value="{#$area#}" maxlength="10" data-regex="0|\d*\.?\d+" />
        <span class="add-on">㎡</span>
      </div>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="column">有无立柱：</label></dt>
    <dd class="radio">
      {#html_radios name="column" values=$columnOpt checked=$column output=$columnNames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="fields">场地：</label></dt>
    <dd class="radio">
      {#html_radios name="fields" values=$fieldsOpt checked=$fields output=$fieldsNames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>店铺图集：</dt>
		<dd class="listImgBox hide">
			<div class="list-holder">
				<ul id="listSection4" class="clearfix listSection piece"></ul>
				<input type="hidden" name="pics" value='{#$pics#}' class="imglist-hidden">
			</div>
			<div class="btn-section clearfix">
				<div class="uploadinp filePicker" id="filePicker4" data-type="album" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist="imgpics"><div id="flasHolder"></div><span>添加图片</span></div>
				<div class="upload-tip">
					<p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
				</div>
			</div>
		</dd>
  </dl>
 
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
