<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
	<a href="{#getUrlPath service='member' template='business-dingzuo'#}" class="btn add">{#$langData['siteConfig'][19][500]#}</a>
	<a href="{#getUrlPath service='member' template='business-dingzuo-order'#}" class="btn add">{#$langData['siteConfig'][19][447]#}</a>
</div>
<div class="fn-clear"></div>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear" id="stateCon">
		<li data-id="0"{#if $state == 0 || $state == ''#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][9][11]#} (<span id="unused">0</span>)</a></li>
		<li data-id="1"{#if $state == 1#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][9][12]#} (<span id="recei">0</span>)</a></li>
		<li data-id="2"{#if $state == 2#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][9][13]#} (<span id="cancel">0</span>)</a></li>
		<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
	</ul>
</div>
<table class="oh">
	<colgroup>
		<col style="width:20%;">
		<col style="width:15%;">
		<col style="width:10%;">
		<col style="width:30%;">
		<col style="width:10%;">
		<col style="width:15%;">
	</colgroup>
	<tbody>
		<tr>
			<td>{#$langData['siteConfig'][19][508]#}</td>
			<td>{#$langData['siteConfig'][16][152]#}</td>
			<td>{#$langData['siteConfig'][19][484]#}</td>
			<td>{#$langData['siteConfig'][16][74]#}</td>
			<td>{#$langData['siteConfig'][19][307]#}</td>
			<td>{#$langData['siteConfig'][6][11]#}</td>
		</tr>
	</tbody>
</table>
<div class="container fn-clear">

	<div class="list shop" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
	<div class="pagination fn-clear"></div>
</div>
