<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
	<a href="{#getUrlPath service='member' template='business-diancan'#}" class="btn add">{#$langData['siteConfig'][19][483]#}</a>
	<a href="{#getUrlPath service='member' template='business-diancan-order'#}" class="btn add">{#$langData['siteConfig'][19][447]#}</a>
	<a href="{#getUrlPath service='member' template='business-diancan-list'#}" class="btn add">{#$langData['siteConfig'][19][451]#}</a>
</div>
<div class="container fn-clear">
	<div class="content" id="">
		<form action="/include/ajax.php?service=business&action=diancanSaveConfig" id="serviceFrom">
			<div class="mrow turn">
				<div class="type">{#$langData['siteConfig'][6][97]#}：</div>
				<div class="con">
					<label for="diancan_state_off"><input type="radio" name="diancan_state" value="0" id="diancan_state_off" {#if $diancan_state == 0#}checked{#/if#}>{#$langData['siteConfig'][6][15]#}</label>
					<label for="diancan_state_on"><input type="radio" name="diancan_state" value="1" id="diancan_state_on" {#if $diancan_state == 1#}checked{#/if#}>{#$langData['siteConfig'][6][24]#}</label>
				</div>
			</div>
			<div class="mrow turn">
				<div class="type">{#$langData['siteConfig'][6][98]#}：</div>
				<div class="con">
					<div class="op">
						<label for="diancan_tableware_open_on"><input type="radio" name="diancan_tableware_open" value="0" id="diancan_tableware_open_on" {#if $diancan_tableware_open == 0#}checked{#/if#}>{#$langData['siteConfig'][6][15]#}</label>
						<label for="diancan_tableware_open_off"><input type="radio" name="diancan_tableware_open" value="1" id="diancan_tableware_open_off" {#if $diancan_tableware_open == 1#}checked{#/if#}>{#$langData['siteConfig'][6][24]#}</label>
					</div>
					<div class="op"{#if $diancan_tableware_open == 0#} style="display:none;"{#/if#}>
						{#echoCurrency type='symbol'#}<input type="number" name="diancan_tableware_price" min="0" class="inp inp-small" value="{#$diancan_tableware_price#}" placeholder="{#$langData['siteConfig'][19][691]#}">
					</div>
				</div>
			</div>
			<div class="mrow">
				<div class="type">{#$langData['siteConfig'][19][484]#}：</div>
				<div class="con">
					<a href="{#getUrlPath service='member' template='business-dingzuo-list' param="dopost=table"#}" class="red" target="_blank">{#$langData['siteConfig'][26][8]#}</a>
				</div>
			</div>
			<div class="mrow">
				<div class="type">&nbsp;</div>
				<div class="con">
					<button class="submit" id="submit">{#$langData['siteConfig'][6][27]#}</button>
				</div>
			</div>
		</form>
	</div>
</div>
