<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
	<a href="{#getUrlPath service='member' template='business-diancan'#}" class="btn add">{#$langData['siteConfig'][19][483]#}</a>
	<a href="{#getUrlPath service='member' template='business-diancan-order'#}" class="btn add">{#$langData['siteConfig'][19][447]#}</a>
	<a href="{#getUrlPath service='member' template='business-diancan-list'#}" class="btn add">{#$langData['siteConfig'][19][451]#}</a>
	{#if $dopost == "add"#}<a href="javascript:;" class="btn add foodType" id="foodType">{#$langData['siteConfig'][19][499]#}</a>{#/if#}
	{#if $dopost == ""#}<a href="{#getUrlPath service='member' template='business-diancan-list' param='dopost=add'#}" class="btn add foodType" id="addFood">{#$langData['siteConfig'][19][491]#}</a>{#/if#}
</div>
<div class="container fn-clear">
	{#* 列表页 *#}
	{#if $dopost == ""#}
	<div class="content" id="listContent">
		<form action="" method="get">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th width="20" class="checkbox-column"><input type="checkbox" value="1" name="checkid" class="checkid" id="checkAll"><a href="javascript:;" class="del" id="delAll">{#$langData['siteConfig'][26][4]#}</a></th>
						<th width="200">{#$langData['siteConfig'][19][486]#}</th>
						<th width="50">{#$langData['siteConfig'][19][487]#}</th>
						<th width="100">{#$langData['siteConfig'][19][428]#}</th>
						<th width="120">{#$langData['siteConfig'][19][488]#}</th>
						<th width="100">{#$langData['siteConfig'][19][489]#}</th>
						<th width="120">{#$langData['siteConfig'][19][490]#}</th>
						<th width="100">{#$langData['siteConfig'][6][11]#}</th>
					</tr>
					<tr class="search">
						<th>&nbsp;</th>
						<th><input type="text" name="title" value="{#$title#}"></th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th><input type="text" name="typename" value="{#$typename#}"></th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{#business action='diancanFoodList' return='l' u='1' title={#$title#} typename={#$typename#} typeid={#$typeid#} page={#$page#} pageSize=20#}
					<tr data-id="{#$l.id#}">
						<td><input value="{#$l.id#}" type="checkbox" name="checkid" class="checkid"></td>
						<td>{#$l.title#}</td>
						<td class="fastedit sort" data-val="{#$l.sort#}" contenteditable="true">{#$l.sort#}</td>
						<td>{#$l.price#}</td>
						<td>{#$l.typename#}</td>
						<td>{#if $l.status#}{#$langData['siteConfig'][9][9]#}{#else#}{#$langData['siteConfig'][9][10]#}{#/if#}</td>
						<td>{#if $l.is_nature#}是{#else#}否{#/if#}</td>
						<td nowrap="nowrap" class="center">
							<a href="{#getUrlPath service='member' template='business-diancan-list' param="dopost=edit&id={#$l.id#}"#}" title="{#$langData['siteConfig'][6][4]#}" class="green">{#$langData['siteConfig'][6][4]#}</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="javascript:;" title="{#$langData['siteConfig'][6][8]#}" class="red del" data-id="{#$l.id#}">{#$langData['siteConfig'][6][8]#}</a>
						</td>
					</tr>
					{#/business#}
					{#if $pageInfo.totalCount == 0#}
					<tr>
						<td colspan="8" style="height: 200px; line-height: 200px; text-align: center;">{#$langData['siteConfig'][27][2]#}.</td>
					</tr>
					{#/if#}
				</tbody>
			</table>
			<input type="submit" class="fn-hide">
		</form>
		{#getPageList service='member' template='business-diancan-list' pageType='dynamic'  param="typeid=$typeid&page=#page#"#}
	</div>
	{#* 新增或修改 *#}
	{#else#}
	<div class="content" id="addContent">
		<ul class="tab-head fn-clear">
			<li>{#$langData['siteConfig'][19][22]#}</li>
			<li>{#$langData['siteConfig'][19][492]#}</li>
			<li>{#$langData['siteConfig'][19][493]#}</li>
		</ul>
		<div class="tab-body">
			<form action="/include/ajax.php?service=business&action=diancanSaveFood" id="foodForm">
				<input type="hidden" name="id" value="{#$id#}">
				<!-- 基本信息 -->
				<div class="tab-item">
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][19][487]#}：</div>
						<div class="con">
							<input class="inp inp-small" size="10" min="0" maxlength="10" name="sort" id="sort" type="number" value="{#$sort|string_format:"%d"#}">（{#$langData['waimai'][1][69]#}）
						</div>
					</div>
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][19][547]#}：</div>
						<div class="con">
							<input class="inp inp-large" size="10" name="title" id="title" type="text" value="{#$title#}">
						</div>
					</div>
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][19][428]#}：</div>
						<div class="con">
							<input class="inp inp-large" size="10" maxlength="10" name="price" id="price" type="text" value="{#$price#}">
						</div>
					</div>
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][19][393]#}：</div>
						<div class="con">
							<select name="typeid" id="typeid">
              	{#business action="diancanGetFoodType" u='1' return="ft"#}
                  <option value="{#$ft.id#}"{#if $typeid == $ft.id#} selected{#/if#}>{#$ft.title#}</option>
                  {#/business#}
              </select>
						</div>
					</div>
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][19][307]#}：</div>
						<div class="con">
							<select name="status" id="status">
              	<option value="1"{#if $status#} selected{#/if#}>{#$langData['siteConfig'][9][9]#}</option>
              	<option value="0"{#if !$status && $status != ""#} selected{#/if#}>{#$langData['siteConfig'][9][10]#}</option>
              </select>
						</div>
					</div>
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][19][494]#}：</div>
						<div class="con">
							<textarea name="descript" class="inp-xlarge" id="descript" cols="30" rows="2">{#$descript#}</textarea>
						</div>
					</div>
				</div>
				<div class="fg"></div>
				<!-- 商品属性 -->
				<div class="tab-item">
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][6][99]#}：</div>
						<div class="con">
							<select name="is_nature" id="is_nature">
	                        	<option value="1"{#if $is_nature#} selected{#/if#}>{#$langData['siteConfig'][6][24]#}</option>
	                        	<option value="0"{#if !$is_nature#} selected{#/if#}>{#$langData['siteConfig'][6][23]#}</option>
	                        </select>
						</div>
					</div>
					<div class="mrow" id="natureblocklist">
						<button class="btn btn-success" type="button" id="addpricenature">{#$langData['siteConfig'][19][495]#}</button>
						{#if $id#}
	                    {#$index = 100#}
	                    {#foreach from=$nature item=n#}
	                    <div class="natureblock fatherblock">
	                        <div class="fieldblock">
	                            <label>{#$langData['siteConfig'][19][496]#}: <input type="text" name="nature[{#$index#}][name]" value="{#$n.name#}" style="width:80px;padding:5px;"></label>
	                            <label>{#$langData['siteConfig'][19][497]#}
	                                <select name="nature[{#$index#}][maxchoose]" style="width:80px;" class="maxchoose">
	                                  	{#for $val=1 to 10#}
	                                  	<option value="{#$val#}"{#if $val == $n.maxchoose#} selected="selected"{#/if#}>{#$val#}</option>
	                                  	{#/for#}
	                                </select>
	                            </label>
	                            <div class="deletefield" style="" title="{#$langData['siteConfig'][26][5]#}"> {#$langData['siteConfig'][6][8]#} </div>
	                            <div class="addsonfield" title="{#$langData['siteConfig'][19][498]#}" onclick="addsonnaturepriceblock(this,{#$index#});"> {#$langData['siteConfig'][19][498]#} </div>
	                        </div>
	                        {#foreach from=$n.data item=p#}
	                        <div class="sonfieldblock fatherblock">
	                            <label>{#$langData['siteConfig'][26][6]#}：<input type="text" value="{#$p.value#}" name="nature[{#$index#}][value][]"></label>
	                            <label>{#$langData['siteConfig'][19][428]#}：<input type="text" value="{#$p.price|string_format:"%d"#}" name="nature[{#$index#}][price][]" class="price" {#if $n.maxchoose > 1#}readonly="readonly"{#/if#}></label>
	                            <label>{#$langData['siteConfig'][6][100]#}：
	                            	<select name="nature[{#$index#}][is_open][]" style="width:60px;">
	                                	<option value="0"{#if $p.is_open == 0#} selected="selected"{#/if#}>{#$langData['siteConfig'][6][24]#}</option>
	                                 	<option value="1"{#if $p.is_open == 1#} selected="selected"{#/if#}>{#$langData['siteConfig'][6][23]#}</option>
	                                </select>
	                            </label>
	                            <div class="sondeletefield">{#$langData['siteConfig'][6][8]#}</div>
	                        </div>
	                        {#/foreach#}
	                    </div>
	                    {#$index = $index + 1#}
	                    {#/foreach#}
	                    {#/if#}
					</div>
				</div>
				<div class="fg"></div>
				<!-- 商品图片 -->
				<div class="tab-item">
					<div class="mrow">
						<div class="type">{#$langData['siteConfig'][26][7]#}：</div>
						<div class="con">
							<div class="listImgBox">
          			<div class="list-holder">
          				<ul id="listSection" class="fn-clear listSection piece"></ul>
          				<input type="hidden" name="pics" value='[]' class="imglist-hidden">
          			</div>
          			<div class="btn-section fn-clear">
          				<div class="uploadinp filePicker" id="filePicker" data-type="album" data-count="10" data-size="1024" data-imglist="pic"><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
          				<div class="upload-tip">
          					<p><a href="javascript:;" class="deleteAllAtlas" style="display:none;">{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;<span class="fileerror"></span></p>
          				</div>
          			</div>
              </div>
						</div>
					</div>
				</div>
				<div class="mrow">
					<div class="type">&nbsp;</div>
					<div class="con">
						<button class="submit" id="submit">{#$langData['siteConfig'][6][27]#}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	{#/if#}
</div>
