<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
	<a href="{#getUrlPath service='member' template='business-diancan'#}" class="btn add">{#$langData['siteConfig'][19][483]#}</a>
	<a href="{#getUrlPath service='member' template='business-diancan-order'#}" class="btn add">{#$langData['siteConfig'][19][447]#}</a>
	<a href="{#getUrlPath service='member' template='business-diancan-list'#}" class="btn add">{#$langData['siteConfig'][19][451]#}</a>
</div>
<div class="fn-clear"></div>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear" id="stateCon">
		<li data-id="0"{#if $state == 0 || $state == ''#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][9][11]#} (<span id="unused">0</span>)</a></li>
		<li data-id="3"{#if $state == 3#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][9][12]#} (<span id="recei">0</span>)</a></li>
		<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
	</ul>
</div>
<div class="container fn-clear">

	<div class="list shop" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
	<div class="pagination fn-clear"></div>
</div>
