<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
	<a href="{#getUrlPath service='member' template='business-maidan'#}" class="btn add">{#$langData['siteConfig'][19][511]#}</a>
	<a href="{#getUrlPath service='member' template='business-maidan-order'#}" class="btn add">{#$langData['siteConfig'][19][447]#}</a>
</div>
<div class="fn-clear"></div>
<table class="oh">
	<colgroup>
		<col style="width:20%;">
		<col style="width:16%;">
		<col style="width:16%;">
		<col style="width:16%;">
		<col style="width:16%;">
		<col style="width:16%;">
	</colgroup>
	<tbody>
		<tr>
			<td>{#$langData['siteConfig'][19][308]#}</td>
			<td>{#$langData['siteConfig'][19][512]#}</td>
			<td>{#$langData['siteConfig'][19][513]#}</td>
			<td>{#$langData['siteConfig'][19][514]#}</td>
			<td>{#$langData['siteConfig'][19][52]#}</td>
			<td>{#$langData['siteConfig'][19][53]#}</td>
		</tr>
	</tbody>
</table>
<div class="container fn-clear">

	<div class="list shop" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
	<div class="pagination fn-clear"></div>
</div>
