<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
	<a href="{#getUrlPath service='member' template='business-maidan'#}" class="btn add">{#$langData['siteConfig'][19][511]#}</a>
	<a href="{#getUrlPath service='member' template='business-maidan-order'#}" class="btn add">{#$langData['siteConfig'][19][447]#}</a>
</div>
<div class="container fn-clear">
	<div class="content" id="">
		<form action="/include/ajax.php?service=business&action=maidanSaveConfig" id="serviceFrom">
			<div class="mrow turn">
				<div class="type">{#$langData['siteConfig'][6][105]#}：</div>
				<div class="con">
					<label for="maidan_state_off"><input type="radio" name="maidan_state" value="0" id="maidan_state_off" {#if $maidan_state == 0#}checked{#/if#}>{#$langData['siteConfig'][6][23]#}</label>
					<label for="maidan_state_on"><input type="radio" name="maidan_state" value="1" id="maidan_state_on" {#if $maidan_state == 1#}checked{#/if#}>{#$langData['siteConfig'][6][24]#}</label>
				</div>
			</div>
			<div class="mrow turn">
				<div class="type">{#$langData['siteConfig'][6][106]#}：</div>
				<div class="con">
					<div class="op">
						<label for="maidan_youhui_open_on"><input type="radio" name="maidan_youhui_open" value="0" id="maidan_youhui_open_on" {#if $maidan_youhui_open == 0#}checked{#/if#}>{#$langData['siteConfig'][6][23]#}</label>
						<label for="maidan_youhui_open_off"><input type="radio" name="maidan_youhui_open" value="1" id="maidan_youhui_open_off" {#if $maidan_youhui_open == 1#}checked{#/if#}>{#$langData['siteConfig'][6][24]#}</label>
					</div>
					<div class="op"{#if $maidan_youhui_open == 0#} style="display:none;"{#/if#}>
						{#$langData['siteConfig'][19][870]#} <input type="number" name="maidan_youhui_value" min="0" class="inp inp-small" value="{#$maidan_youhui_value#}" placeholder=""> %
					</div>
					<div class="op"{#if $maidan_youhui_open == 0#} style="display:none;"{#/if#}>
						{#$langData['siteConfig'][26][17]#} <input type="text" name="maidan_youhui_limit" class="inp inp-xlarge" value="{#$maidan_youhui_limit#}" placeholder="{#$langData['siteConfig'][26][18]#}">
					</div>
				</div>
			</div>
			<div class="mrow">
				<div class="type">&nbsp;</div>
				<div class="con">
					<button class="submit" id="submit">{#$langData['siteConfig'][6][27]#}</button>
				</div>
			</div>
		</form>
	</div>
</div>
