{#$pageTitle = $langData['siteConfig'][19][450]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/category-{#$module#}.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var modelType = '{#$module#}';
</script>
</head>

{#$pageCurr = "category_{#$module#}"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="container fn-clear">
		{#include file="category-$module.html"#}
	</div>
</div>

<div class="stopdrag">{#$langData['siteConfig'][20][147]#}<a href="javascript:;">{#$langData['siteConfig'][6][27]#}</a></div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/category-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
