<script type="text/javascript">
	var service = 'business';
</script>
<div class="w-form">
	{#if $storeState == 1#}
		{#if $detail_state == 0#}
		<p class="state0">{#$langData['siteConfig'][27][5]#}</p>
		{#elseif $detail_state == 2#}
		<p class="state0">{#$langData['siteConfig'][27][6]#}</p>
		{#/if#}
	{#/if#}
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=business&action=storeConfig">
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][174]#}：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="35" maxlength="60" data-title="{#$langData['siteConfig'][21][128]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][19][175]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_logo != ""#} fn-hide{#/if#}" id="filePicker1" data-type="logo"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_logo != ""#}
				<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_logo#}' target="_blank" title=""><img alt="" src="{#$detail_logo#}" data-val="{#$detail_logo#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection1" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="logo" value="{#$detail_logoSource#}" class="imglist-hidden" id="logo">
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][177]#}：</dt>
			<dd id="selType">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][322]#}">
					<button type="button" class="sel">{#if $detail_typename != ""#}{#$detail_typename#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>
					<ul class="sel-menu">
						{#business action="type" return="type"#}
						<li><a href="javascript:;" data-id="{#$type.id#}">{#$type.typename#}</a></li>
						{#/business#}
					</ul>
				</div>
				<input type="hidden" name="typeid" id="typeid" value="{#$detail_typeid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][178]#}：</dt>
			<dd id="selAddr">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">
					<div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
				</div>
				<input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" />
				<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][179]#}：</dt>
			<dd>
				<input type="text" name="address" class="inp" id="address" size="35" maxlength="60" data-title="{#$langData['siteConfig'][20][69]#}" value="{#$detail_address#}" />
				<img src="/static/images/admin/markditu.jpg" id="mark" style="float: left; cursor: pointer; margin-left: 10px;" title="{#$langData['siteConfig'][6][92]#}">
				<span class="tip-inline"></span>
				<input type="hidden" name="lnglat" id="lnglat" value="{#$detail_lnglat#}">
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][180]#}：</dt>
			<dd>
				<input type="text" name="name" class="inp" id="name" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][7]#}" value="{#$detail_name#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][32]#}：</dt>
			<dd>
				<input type="text" name="cardnum" class="inp" id="cardnum" size="25" maxlength="18" data-title="{#$langData['siteConfig'][20][106]#}" value="{#$detail_cardnum#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][3][6]#}：</dt>
			<dd>
				<select name="areaCode" id="areaCode" style="margin-right: 10px;">
					<option{#if $detail_areaCode == "86"#} selected{#/if#} value="86">China（中国大陆）+86</option>
					<option{#if $detail_areaCode == "54"#} selected{#/if#} value="54">Argentina（阿根廷）+54</option>
					<option{#if $detail_areaCode == "61"#} selected{#/if#} value="61">Australia（澳大利亚）+61</option>
					<option{#if $detail_areaCode == "43"#} selected{#/if#} value="43">Austria（奥地利）+43</option>
					<option{#if $detail_areaCode == "1242"#} selected{#/if#} value="1242">Bahamas（巴哈马）+1242</option>
					<option{#if $detail_areaCode == "375"#} selected{#/if#} value="375">Belarus（白俄罗斯）+375</option>
					<option{#if $detail_areaCode == "32"#} selected{#/if#} value="32">Belgium（比利时）+32</option>
					<option{#if $detail_areaCode == "501"#} selected{#/if#} value="501">Belize（伯利兹）+501</option>
					<option{#if $detail_areaCode == "55"#} selected{#/if#} value="55">Brazil（巴西）+55</option>
					<option{#if $detail_areaCode == "359"#} selected{#/if#} value="359">Bulgaria（保加利亚）+359</option>
					<option{#if $detail_areaCode == "855"#} selected{#/if#} value="855">Cambodia（柬埔寨）+855</option>
					<option{#if $detail_areaCode == "1"#} selected{#/if#} value="1">Canada（加拿大）+1</option>
					<option{#if $detail_areaCode == "56"#} selected{#/if#} value="56">Chile（智利）+56</option>
					<option{#if $detail_areaCode == "57"#} selected{#/if#} value="57">Colombia（哥伦比亚）+57</option>
					<option{#if $detail_areaCode == "45"#} selected{#/if#} value="45">Denmark（丹麦）+45</option>
					<option{#if $detail_areaCode == "20"#} selected{#/if#} value="20">Egypt（埃及）+20</option>
					<option{#if $detail_areaCode == "372"#} selected{#/if#} value="372">Estonia（爱沙尼亚）+372</option>
					<option{#if $detail_areaCode == "358"#} selected{#/if#} value="358">Finland（芬兰）+358</option>
					<option{#if $detail_areaCode == "33"#} selected{#/if#} value="33">France（法国）+33</option>
					<option{#if $detail_areaCode == "49"#} selected{#/if#} value="49">Germany（德国）+49</option>
					<option{#if $detail_areaCode == "30"#} selected{#/if#} value="30">Greece（希腊）+30</option>
					<option{#if $detail_areaCode == "852"#} selected{#/if#} value="852">Hong Kong（香港）+852</option>
					<option{#if $detail_areaCode == "36"#} selected{#/if#} value="36">Hungary（匈牙利）+36</option>
					<option{#if $detail_areaCode == "91"#} selected{#/if#} value="91">India（印度）+91</option>
					<option{#if $detail_areaCode == "62"#} selected{#/if#} value="62">Indonesia（印度尼西亚）+62</option>
					<option{#if $detail_areaCode == "353"#} selected{#/if#} value="353">Ireland（爱尔兰）+353</option>
					<option{#if $detail_areaCode == "972"#} selected{#/if#} value="972">Israel（以色列）+972</option>
					<option{#if $detail_areaCode == "39"#} selected{#/if#} value="39">Italy（意大利）+39</option>
					<option{#if $detail_areaCode == "81"#} selected{#/if#} value="81">Japan（日本）+81</option>
					<option{#if $detail_areaCode == "962"#} selected{#/if#} value="962">Jordan（约旦）+962</option>
					<option{#if $detail_areaCode == "996"#} selected{#/if#} value="996">Kyrgyzstan（吉尔吉斯斯坦）+996</option>
					<option{#if $detail_areaCode == "370"#} selected{#/if#} value="370">Lithuania（立陶宛）+370</option>
					<option{#if $detail_areaCode == "352"#} selected{#/if#} value="352">Luxembourg（卢森堡）+352</option>
					<option{#if $detail_areaCode == "853"#} selected{#/if#} value="853">Macau（澳门）+853</option>
					<option{#if $detail_areaCode == "60"#} selected{#/if#} value="60">Malaysia（马来西亚）+60</option>
					<option{#if $detail_areaCode == "960"#} selected{#/if#} value="960">Maldives（马尔代夫）+960</option>
					<option{#if $detail_areaCode == "52"#} selected{#/if#} value="52">Mexico（墨西哥）+52</option>
					<option{#if $detail_areaCode == "976"#} selected{#/if#} value="976">Mongolia（蒙古）+976</option>
					<option{#if $detail_areaCode == "212"#} selected{#/if#} value="212">Morocco（摩洛哥）+212</option>
					<option{#if $detail_areaCode == "31"#} selected{#/if#} value="31">Netherlands（荷兰）+31</option>
					<option{#if $detail_areaCode == "64"#} selected{#/if#} value="64">New Zealand（新西兰）+64</option>
					<option{#if $detail_areaCode == "234"#} selected{#/if#} value="234">Nigeria（尼日利亚）+234</option>
					<option{#if $detail_areaCode == "47"#} selected{#/if#} value="47">Norway（挪威）+47</option>
					<option{#if $detail_areaCode == "507"#} selected{#/if#} value="507">Panama（巴拿马）+507</option>
					<option{#if $detail_areaCode == "51"#} selected{#/if#} value="51">Peru（秘鲁）+51</option>
					<option{#if $detail_areaCode == "63"#} selected{#/if#} value="63">Philippines（菲律宾）+63</option>
					<option{#if $detail_areaCode == "48"#} selected{#/if#} value="48">Poland（波兰）+48</option>
					<option{#if $detail_areaCode == "351"#} selected{#/if#} value="351">Portugal（葡萄牙）+351</option>
					<option{#if $detail_areaCode == "974"#} selected{#/if#} value="974">Qatar（卡塔尔）+974</option>
					<option{#if $detail_areaCode == "40"#} selected{#/if#} value="40">Romania（罗马尼亚）+40</option>
					<option{#if $detail_areaCode == "7"#} selected{#/if#} value="7">Russia（俄罗斯）+7</option>
					<option{#if $detail_areaCode == "966"#} selected{#/if#} value="966">Saudi Arabia（沙特阿拉伯）+966</option>
					<option{#if $detail_areaCode == "381"#} selected{#/if#} value="381">Serbia（塞尔维亚）+381</option>
					<option{#if $detail_areaCode == "248"#} selected{#/if#} value="248">Seychelles（塞舌尔）+248</option>
					<option{#if $detail_areaCode == "65"#} selected{#/if#} value="65">Singapore（新加坡）+65</option>
					<option{#if $detail_areaCode == "27"#} selected{#/if#} value="27">South Africa（南非）+27</option>
					<option{#if $detail_areaCode == "82"#} selected{#/if#} value="82">South Korea（韩国）+82</option>
					<option{#if $detail_areaCode == "34"#} selected{#/if#} value="34">Spain（西班牙）+34</option>
					<option{#if $detail_areaCode == "94"#} selected{#/if#} value="94">Sri Lanka（斯里兰卡）+94</option>
					<option{#if $detail_areaCode == "46"#} selected{#/if#} value="46">Sweden（瑞典）+46</option>
					<option{#if $detail_areaCode == "41"#} selected{#/if#} value="41">Switzerland（瑞士）+41</option>
					<option{#if $detail_areaCode == "886"#} selected{#/if#} value="886">Taiwan（台湾）+886</option>
					<option{#if $detail_areaCode == "66"#} selected{#/if#} value="66">Thailand（泰国）+66</option>
					<option{#if $detail_areaCode == "216"#} selected{#/if#} value="216">Tunisia（突尼斯）+216</option>
					<option{#if $detail_areaCode == "90"#} selected{#/if#} value="90">Turkey（土耳其）+90</option>
					<option{#if $detail_areaCode == "380"#} selected{#/if#} value="380">Ukraine（乌克兰）+380</option>
					<option{#if $detail_areaCode == "971"#} selected{#/if#} value="971">United Arab Emirates（阿联酋）+971</option>
					<option{#if $detail_areaCode == "44"#} selected{#/if#} value="44">United Kingdom（英国）+44</option>
					<option{#if $detail_areaCode == "1"#} selected{#/if#} value="1">United States（美国）+1</option>
					<option{#if $detail_areaCode == "58"#} selected{#/if#} value="58">Venezuela（委内瑞拉）+58</option>
					<option{#if $detail_areaCode == "84"#} selected{#/if#} value="84">Vietnam（越南）+84</option>
					<option{#if $detail_areaCode == "1284"#} selected{#/if#} value="1284">Virgin Islands（英属维尔京群岛）+1284</option>
				</areaCode>
				<input type="text" name="phone" class="inp" id="phone" size="25" data-title="{#$langData['siteConfig'][20][463]#}" value="{#$detail_phone#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][23][76]#}：</dt>
			<dd>
				<input type="text" name="email" class="inp" id="email" size="25" maxlength="50" data-title="{#$langData['siteConfig'][21][36]#}" value="{#$detail_email#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][354]#}：</dt>
			<dd>
				<input type="text" name="company" class="inp" id="company" size="25" maxlength="50" data-title="{#$langData['siteConfig'][21][232]#}" value="{#$detail_company#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][181]#}：</dt>
			<dd>
				<input type="text" name="licensenum" class="inp" id="licensenum" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][8]#}" value="{#$detail_licensenum#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][182]#}：</dt>
			<dd>
				<input type="text" name="wechatname" class="inp" id="wechatname" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][9]#}" value="{#$detail_wechatname#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][183]#}：</dt>
			<dd>
				<input type="text" name="wechatcode" class="inp" id="wechatcode" size="25" maxlength="20" data-title="{#$langData['siteConfig'][27][10]#}" value="{#$detail_wechatcode#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][184]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_wechatqr != ""#} fn-hide{#/if#}" id="filePicker2" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_wechatqr != ""#}
				<ul id="listSection2" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_1_1"><a href='{#$detail_wechatqr#}' target="_blank" title=""><img alt="" src="{#$detail_wechatqr#}" data-val="{#$detail_wechatqr#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection2" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="wechatqr" value="{#$detail_wechatqrSource#}" class="imglist-hidden" id="wechatqr">
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][56]#}：</dt>
			<dd>
				<input type="text" name="tel" class="inp" id="tel" size="25" maxlength="50" data-title="{#$langData['siteConfig'][20][433]#}" value="{#$detail_tel#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][26][30]#}：</dt>
			<dd>
				<input type="text" name="qq" class="inp" id="qq" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][11]#}" value="{#$detail_qq#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<script type="text/javascript">var atlasSize = {#$atlasSize#}, atlasType = '{#$atlasType#}', atlasMax = 10;</script>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][19][185]#}：</dt>
			<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection3" class="fn-clear listSection fn-hide"{#if $detail_banner#} style="display: block;"{#/if#}>
						{#foreach from=$detail_banner key=k item=i#}
						<li class="fn-clear" id="WU_FILE_3_{#$k#}">
							<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$i.pic#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.picSource#}" data-url="{#changeFileSize url="{#$i.pic#}" type="small"#}" src="{#changeFileSize url="{#$i.pic#}" type="small"#}" />
							</div>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="banner" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="uploadinp filePicker" id="filePicker3" data-type="album" data-count="10" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_banner#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'10'#} <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][19][186]#}：</dt>
			<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection4" class="fn-clear listSection fn-hide"{#if $detail_pics#} style="display: block;"{#/if#}>
						{#foreach from=$detail_pics key=k item=i#}
						<li class="fn-clear" id="WU_FILE_4_{#$k#}">
							<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$i.pic#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.picSource#}" data-url="{#changeFileSize url="{#$i.pic#}" type="small"#}" src="{#changeFileSize url="{#$i.pic#}" type="small"#}" />
							</div>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="pics" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="uploadinp filePicker" id="filePicker4" data-type="album" data-count="10" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'10'#} <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][187]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_license != ""#} fn-hide{#/if#}" id="filePicker6" data-type="atlas"  data-count="1" data-size="{#$atlasSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_license != ""#}
				<ul id="listSection6" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_9_1"><a href='{#$detail_license#}' target="_blank" title=""><img alt="" src="{#$detail_license#}" data-val="{#$detail_license#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection6" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="license" value="{#$detail_licenseSource#}" class="imglist-hidden" id="license">
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][188]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_accounts != ""#} fn-hide{#/if#}" id="filePicker7" data-type="atlas"  data-count="1" data-size="{#$atlasSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_accounts != ""#}
				<ul id="listSection7" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_10_1"><a href='{#$detail_accounts#}' target="_blank" title=""><img alt="" src="{#$detail_accounts#}" data-val="{#$detail_accounts#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection7" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="accounts" value="{#$detail_accountsSource#}" class="imglist-hidden" id="accounts">
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][189]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_jingying != ""#} fn-hide{#/if#}" id="filePicker8" data-type="atlas"  data-count="1" data-size="{#$atlasSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_jingying != ""#}
				<ul id="listSection8" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_11_1"><a href='{#$detail_jingying#}' target="_blank" title=""><img alt="" src="{#$detail_jingying#}" data-val="{#$detail_jingying#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection8" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="jingying" value="{#$detail_jingyingSource#}" class="imglist-hidden" id="jingying">
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][190]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_cardfront != ""#} fn-hide{#/if#}" id="filePicker9" data-type="atlas"  data-count="1" data-size="{#$atlasSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_cardfront != ""#}
				<ul id="listSection9" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_12_1"><a href='{#$detail_cardfront#}' target="_blank" title=""><img alt="" src="{#$detail_cardfront#}" data-val="{#$detail_cardfront#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection9" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="cardfront" value="{#$detail_cardfrontSource#}" class="imglist-hidden" id="cardfront">
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][191]#}：</dt>
			<dd class="thumb clearfix listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_cardbehind != ""#} fn-hide{#/if#}" id="filePicker11" data-type="atlas"  data-count="1" data-size="{#$atlasSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_cardbehind != ""#}
				<ul id="listSection11" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_13_1"><a href='{#$detail_cardbehind#}' target="_blank" title=""><img alt="" src="{#$detail_cardbehind#}" data-val="{#$detail_cardbehind#}" width="100"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection11" class="listSection thumblist clearfix"></ul>
				{#/if#}
				<input type="hidden" name="cardbehind" value="{#$detail_cardbehindSource#}" class="imglist-hidden" id="cardbehind">
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][19][192]#}：</dt>
			<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection5" class="fn-clear listSection fn-hide"{#if $detail_certify#} style="display: block;"{#/if#}>
						{#foreach from=$detail_certify key=k item=i#}
						<li class="fn-clear" id="WU_FILE_5_{#$k#}">
							<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$i.pic#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.picSource#}" data-url="{#changeFileSize url="{#$i.pic#}" type="small"#}" src="{#changeFileSize url="{#$i.pic#}" type="small"#}" />
							</div>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="certify" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="uploadinp filePicker" id="filePicker5" data-type="album" data-count="10" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_certify#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'10'#} <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][19][193]#}：</dt>
			<dd>
				<textarea class="inp text" name="body" id="body" rows="10" cols="60" data-title="{#$langData['siteConfig'][27][12]#}">{#$detail_body#}</textarea>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][194]#}：</dt>
			<dd>
				<input type="text" name="opentime" class="inp" id="opentime" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][13]#}" value="{#$detail_opentime#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][195]#}：</dt>
			<dd>
				<input type="text" name="amount" class="inp" id="amount" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][14]#}" value="{#$detail_amount#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][196]#}：</dt>
			<dd>
				<input type="text" name="parking" class="inp" id="parking" size="25" maxlength="50" data-title="{#$langData['siteConfig'][27][15]#}" value="{#$detail_parking#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt>{#$langData['siteConfig'][18][47]#}：</dt>
			<dd id="tplList">
				<div class="tpl-list touch" style="margin: 0; padding: 0 15px;">
		      <h5 class="stit"><span class="label label-warning">移动端：</span></h5>
		      <ul class="fn-clear">
		        {#foreach from=$touchTplList item=tplItem#}
		        <li{#if $detail_touch_skin == $tplItem.directory#} class="current"{#/if#}><label class="fn-clear">
		          <a href="{#$cfg_basehost#}/templates/store/business/touch/{#$tplItem.directory#}/preview_large.jpg" target="_blank" data-id="{#$tplItem.directory#}" data-title="{#$tplItem.tplname#}" class="img" title="模板名称：{#$tplItem.tplname#}&#10;版权所有：{#$tplItem.copyright#}"><img src="{#$cfg_basehost#}/templates/store/business/touch/{#$tplItem.directory#}/preview.jpg" /></a>
		          <p>
		            <span title="{#$tplItem.tplname#}">模板：{#$tplItem.tplname#}</span><br />
								<input type='radio' name='touch_skin' value='{#$tplItem.directory#}'{#if $detail_touch_skin == $tplItem.directory#} checked{#/if#} /> 选择
		          </p></label>
		        </li>
		      	{#/foreach#}
		      </ul>
		    </div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#$langData['siteConfig'][6][63]#}</button></dd>
		</dl>
	</form>
</div>

<div class="map-pop" id="markPopMap">
	<a href="javascript:;" class="pop-close">&times;</a>
	<div class="pop-border"></div>
	<div class="pop-main">
		<div class="pop-title">{#$langData['siteConfig'][6][92]#}</div>
		<div class="pop-con">
			<iframe name="markDitu" id="markDitu" frameborder="0"></iframe>
			<div class="btns"><a href="javascript:;" id="okPop">{#$langData['siteConfig'][6][1]#}</a><a href="javascript:;" id="cloPop">{#$langData['siteConfig'][6][12]#}</a></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
