{#if {#verifyModuleAuth module='website'#}#}

<style>.state0 {padding: 0 0 20px 115px; color: #f00;}</style>
<div class="w-form">
	{#if $storeState == 1#}
		{#if $detail_state == 0#}
		<p class="state0">{#$langData['siteConfig'][27][35]#}</p>
		{#elseif $detail_state == 2#}
		<p class="state0">{#$langData['siteConfig'][27][36]#}</p>
		{#/if#}
	{#/if#}
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=website&action=storeConfig">
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][638]#}：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="35" maxlength="60" data-title="{#$langData['siteConfig'][27][37]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][639]#}：</dt>
			<dd>
				<textarea class="inp text" name="note" id="note" rows="3" cols="60" data-title="{#$langData['siteConfig'][27][38]#}">{#$detail_note#}</textarea>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][640]#}：</dt>
			<dd>
				<textarea class="inp text" name="head" id="head" rows="3" cols="60" data-title="{#$langData['siteConfig'][27][39]#}">{#$detail_head#}</textarea>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][641]#}：</dt>
			<dd>
				<textarea class="inp text" name="footer" id="footer" rows="3" cols="60" data-title="{#$langData['siteConfig'][27][40]#}">{#$detail_footer#}</textarea>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" style="padding:30px 0 10px;margin-bottom:15px;border-bottom:1px solid #eee;"><dt>以下为移动端配置项</dt><dd></dd></dl>
		<dl class="clearfix">
			<dt><span>*</span>{#$langData['siteConfig'][18][47]#}：</dt>
			<dd id="tplList">
				<div class="tpl-list touch" style="margin: 0; padding: 0 15px;">
		      <h5 class="stit fn-hide"><span class="label label-warning">移动端：</span></h5>
		      <ul class="fn-clear">
		        {#foreach from=$touchTplList item=tplItem#}
		        <li{#if $detail_touch_skin == $tplItem.directory#} class="current"{#/if#}><label class="fn-clear">
		          <a href="{#$cfg_basehost#}/templates/website/touch/{#$tplItem.directory#}/preview_large.jpg" target="_blank" data-id="{#$tplItem.directory#}" data-title="{#$tplItem.tplname#}" class="img" title="模板名称：{#$tplItem.tplname#}&#10;版权所有：{#$tplItem.copyright#}"><img src="{#$cfg_basehost#}/templates/website/touch/{#$tplItem.directory#}/preview.jpg" /></a>
		          <p>
		            <span title="{#$tplItem.tplname#}">模板：{#$tplItem.tplname#}</span><br />
								<input type='radio' name='touch_skin' value='{#$tplItem.directory#}'{#if $detail_touch_temp == $tplItem.directory#} checked{#/if#} /> 选择
		          </p></label>
		        </li>
		      	{#/foreach#}
		      </ul>
		    </div>
			</dd>
		</dl>
		<dl class="fn-clear">
        <dt>店铺幻灯片：</dt>
        <dd class="listImgBox fn-hide">
            <div class="list-holder">
                <ul id="listSection3" class="fn-clear listSection fn-hide"{#if $detail_banner#} style="display: block;"{#/if#}>
                {#if $detail_banner#}
                {#foreach from=$detail_banner key=k item=pic#}
                <li class="fn-clear" id="WU_FILE_3_{#$k#}">
                    <a class="li-rm" href="javascript:;">×</a>
                    <div class="li-thumb" style="display: block;">
                        <div class="r-progress"><s></s></div>
                        <span class="ibtn">
                                        <a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
                                        <a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
                                        <a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
                                    </span>
                        <span class="ibg"></span>
                        <img data-val="{#$pic.source#}" data-url="{#$pic.source#}" src="{#$pic.path#}" />
                    </div>
                </li>
                {#/foreach#}
                {#/if#}
                </ul>
                <input type="hidden" name="banner" value="{#$detail_bannerFile#}" class="imglist-hidden">
            </div>
            <div class="btn-section fn-clear">
                <div class="wxUploadObj fn-clear">
                    <div class="uploadinp filePicker" id="filePicker3" data-type="album" data-count="5" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
                    <span class="upload-split fn-hide">或</span>
                    <dl class="wxUpload fn-hide fn-clear">
                        <dt><img id="wxUploadImg" /></dt>
                        <dd>使用<em class="wx">微信</em>扫描左侧二维码<br />关注{#$cfg_weixinName#}公众号后<br />将图片<em class="fs">发送</em>给公众号即可传图</dd>
                    </dl>
                </div>
                <div class="upload-tip">
                    <p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'5'#} <span class="fileerror"></span></p>
                </div>
            </div>
        </dd>
    </dl>
		<dl class="fn-clear uploadVideo">
      <dt>上传视频：</dt>
      <dd class="listImgBox fn-clear">
          <div class="list-holder">
              <ul id="listSection4" class="fn-clear listSection">
                  {#if $detail_video.file#}
                  <li id="WU_FILE_40" class="pubitem complete">
                      <video class="video-js" id="WU_FILE_41" src="{#$detail_video.file#}" data-url="{#$detail_video.fileSource#}" data-val="{#$detail_video.fileSource#}"></video>
                      <div class="file-panel li-rm"><span class="cancel">删除</span></div>
                      <span class="player"></span>
                  </li>
                  {#/if#}
              </ul>
              <input type="hidden" id="video" name="video" value="{#$detail_video.fileSource#}" class="imglist-hidden">
          </div>
          <div class="btn-section fn-clear">
              <div class="uploadinp filePicker" id="filePicker4" data-extensions="mp4" data-mime="video/mp4" data-type="filenail" data-type-real="video" data-count="1" data-size="{#$softSize#}" data-imglist=""><div id="flasHolder4"></div><span>添加视频</span><em>+</em></div>
          </div>
      </dd>
  </dl>

  <dl class="fn-clear">
      <dt>视频封面：</dt>
      <dd class="thumb fn-clear listImgBox">
          <div class="uploadinp filePicker thumbtn{#if $detail_video.pic != ""#} fn-hide{#/if#}" id="filePicker5" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
          {#if $detail_video.pic != ""#}
          <ul id="listSection5" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_5_1"><a href='{#$detail_video.pic#}' target="_blank" title=""><img alt="" src="{#$detail_video.pic#}" data-val="{#$detail_video.picSource#}" style="max-width:300px;"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
          {#else#}
          <ul id="listSection5" class="listSection thumblist fn-clear"></ul>
          {#/if#}
          <input type="hidden" name="video_pic" value="{#$detail_video.picSource#}" class="imglist-hidden" id="video_pic">
      </dd>
  </dl>

  <dl class="fn-clear">
      <dt>全景展示：</dt>
      <dd class="fn-clear">
          <div class="radio">
              <span data-id="0"{#if $detail_qj_type == 0#} class="curr"{#/if#}>图片</span>
              <span data-id="1"{#if $detail_qj_type == 1#} class="curr"{#/if#}>URL</span>
              <input type="hidden" name="qj_type" id="qj_type" value="{#$detail_qj_type#}">
          </div>
      </dd>
  </dl>

  <dl id="qj_0" class="fn-clear fn-hide"{#if $detail_qj_type == 0#} style="display: block;"{#/if#}>
      <dt>上传图片：</dt>
      <dd class="listImgBox fn-hide">
          <div class="btn-section fn-clear">
              <div class="wxUploadObj fn-clear">
                  <div class="uploadinp filePicker" id="filePicker6" data-type="quanj" data-count="6" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder6"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
                  <div class="upload-tip">
                      <p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_banner#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'6'#} <span class="fileerror"></span></p>
                  </div>
              </div>
          </div>

          <div class="list-holder qj360">
              <ul id="listSection6" class="fn-clear listSection fn-hide piece"{#if $detail_qj && $detail_qj_type == 0#} style="display: block;"{#/if#}>
              {#if $detail_qj && $detail_qj_type == 0#}
              {#foreach from=$detail_qj key=k item=pic#}
              {#if $pic.source#}
              <li class="fn-clear" id="WU_FILE_6_{#$k#}">
                  <a class="li-rm" href="javascript:;">×</a>
                  <div class="li-thumb" style="display: block;">
                      <div class="r-progress"><s></s></div>
                      <span class="ibtn">
                        <a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
                        <a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
                        <a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
                      </span>
                      <span class="ibg"></span>
                      <img data-val="{#$pic.source#}" data-url="{#$pic.source#}" src="{#$pic.path#}" />
                  </div>
              </li>
              {#/if#}
              {#/foreach#}
              {#/if#}
              </ul>
              <ul class="picbg" data-listidx="1"><li style="cursor: move;">前</li><li style="cursor: move;">右</li><li style="cursor: move;">后</li><li style="cursor: move;">左</li><li style="cursor: move;">顶</li><li style="cursor: move;">底</li></ul>
              <input type="hidden" name="qj_pics" id="qj_pics" value="{#if $detail_qj_type == 0#}{#$detail_qj_file#}{#/if#}" class="imglist-hidden">
          </div>
      </dd>
  </dl>

  <dl id="qj_1" class="fn-clear fn-hide"{#if $detail_qj_type == 1#} style="display: block;"{#/if#}>
      <dt>全景地址：</dt>
      <dd>
          <input type="text" name="qj_url" class="inp" id="qj_url" size="60" maxlength="60" placeholder="请填写全景URL地址" value="{#if $qj_type == 1#}{#$detail_qj_file#}{#/if#}" />	
      </dd>
  </dl>
		<dl class="fn-clear">
			<dt><span>*</span>公司介绍：</dt>
			<dd>
				<script id="touch_about" name="touch_about" type="text/plain" style="width:90%;height:500px">{#$detail_touch_about#}</script>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd>
				<button class="submit" id="submit">{#$langData['siteConfig'][6][63]#}</button>
				{#if $storeState == 1#}
					{#if $detail_state == 1#}<a href="{#$detail_domain#}" target="_blank" style="float: left; color: blue; margin: 20px 0 0 30px;">{#$langData['siteConfig'][10][15]#}</a>{#/if#}
				{#/if#}
			</dd>
		</dl>
	</form>
</div>


<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
{#else#}
<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
{#/if#}
