{#$pageTitle = $langData['siteConfig'][19][443]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config-{#$module#}.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var modelType = '{#$module#}';
</script>
</head>

{#$pageCurr = "config_{#$module#}"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="container fn-clear">
		{#include file="config-$module.html"#}
	</div>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/ueditor/ueditor.config.js?v={#$cfg_staticVersion#}'></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/ueditor/ueditor.all.js?v={#$cfg_staticVersion#}'></script>
{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/config-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
