{#$pageTitle = $langData['siteConfig'][19][737]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/connect.css?v={#$cfg_staticVersion#}" media="all" />
</head>

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li><a href="{#getUrlPath service='member' template='profile'#}">{#$langData['siteConfig'][19][21]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='portrait'#}">{#$langData['siteConfig'][8][0]#}</a></li>
			<li class="active"><a href="javascript:;">{#$langData['siteConfig'][19][737]#}</a></li>
		</ul>
	</div>
	<div class="container fn-clear">

		<div class="tip"><s></s>{#$langData['siteConfig'][20][145]#}</div>

		<ul class="connect">
			{#siteConfig action="getUserBindLoginConnect"#}
			<li{#if $row.state == 0#} class="fail"{#else#} class="ok" data-id="{#$row.code#}"{#/if#}>
				<div class="l"><img src="{#$cfg_basehost#}/api/login/{#$row.code#}/img/32.png" />{#$row.name#}{#$langData['siteConfig'][2][1]#}</div>
				<div class="r">{#if $row.state == 0#}<a href="{#$cfg_basehost#}/api/login.php?type={#$row.code#}">{#$langData['siteConfig'][6][40]#}</a>{#else#}<a href="javascript:;">{#$langData['siteConfig'][6][133]#}</a>{#/if#}</div>
			</li>
			{#/siteConfig#}
		</ul>

	</div>

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/connect.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
