{#$pageTitle = $langData['siteConfig'][21][76]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/deposit.css?v={#$cfg_staticVersion#}" media="all" />
<script>var pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';</script>
</head>

{#$pageCurr = "deposit"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li class="active"><a href="javascript:;">{#$langData['siteConfig'][21][76]#}</a></li>
            {#if 'withdraw'|in_array:$cfg_ucenterLinks#}
			<li><a href="{#getUrlPath service='member' template='withdraw'#}">{#$langData['siteConfig'][19][471]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='withdraw_log'#}">{#$langData['siteConfig'][19][294]#}</a></li>
            {#/if#}
		</ul>
	</div>
	<div class="container">

		<form action="/include/ajax.php?service=member&action=deposit" method="post" target="_blank" id="payform" class="deposit">
			<input type="hidden" name="paytype" id="paytype" value="" />

			<dl class="fn-clear enterAmount">
				<dt><label for="amount">{#$langData['siteConfig'][19][297]#}：</label></dt>
				<dd class="fn-clear">
					<input type="text" class="inp" name="amount" id="amount" value="50" />
					<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][63]#}</span>
				</dd>
			</dl>
			<dl class="fn-clear verifyAmount">
				<dt>{#$langData['siteConfig'][6][44]#}：</dt>
				<dd class="fn-clear"><strong>0.00</strong></dd>
			</dl>

			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][19][296]#}：</dt>
				<dd class="fn-clear" id="payType">

					<ul class="payTab fn-clear">
						<li class="curr">扫码支付</li>
						<li>其他支付方式</li>
					</ul>
					<div class="qrpay">
						<dl class="fn-clear">
							<dt><img src="" id="qrimg" /><img src="{#$cfg_staticPath#}images/pay_top.png" class="pay_top" /><img src="{#$cfg_staticPath#}images/pay_bottom.png" class="pay_bottom" /></dt>
							<dd><img src="{#$cfg_staticPath#}images/pay_alipay.png" /><img src="{#$cfg_staticPath#}images/pay_wx.png" />扫描二维码轻松支付</dd>
						</dt>
					</div>

					<div class="payway fn-hide fn-clear">
						{#siteConfig action="payment"#}
						<a href="javascript:;" class="bank-icon{#if $_bindex.row == 1#} active{#/if#}" title="{#$row.name#}" data-type="{#$row.pay_code#}"><span class="{#$row.pay_code#}"></span><b></b></a>
						{#/siteConfig#}
					</div>

				</dd>
			</dl>


			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd class="agree fn-hide">
					<label><input type="checkbox" name="agree" id="agree" checked />{#$langData['siteConfig'][6][88]#}</label> <a href="{#getUrlPath service='siteConfig' template='protocol' title='充值服务协议'#}" target="_blank">《{#$cfg_shortname#}{#$langData['siteConfig'][12][1]#}》</a><br />
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd><button type="button" class="fn-hide" id="tj">{#$langData['siteConfig'][6][42]#}</button></dd>
			</dl>

		</form>

	</div>

</div>

<div class="pay-pop" id="feedback">
	<a href="javascript:;" class="pop-close"></a>
	<div class="pop-border"></div>
	<div class="pop-main">
		<div class="pop-title">{#$langData['siteConfig'][20][15]#}</div>
		<div class="pop-con">
			<p><i class="icon01"></i><span>{#$langData['siteConfig'][20][16]#}</span><a class="red" href="{#getUrlPath service='member' type='user' template='record'#}">{#$langData['siteConfig'][6][89]#}</a></p>
			<p><i class="icon02"></i><span>{#$langData['siteConfig'][20][17]#}</span><a class="gray" href="javascript:;">{#$langData['siteConfig'][6][61]#}</a><em>{#$langData['siteConfig'][13][0]#}</em><a class="gray" href="javascript:;">{#$langData['siteConfig'][6][107]#}</a></p>
			<div class="question"><a href="#" target="_blank">{#$langData['siteConfig'][20][18]#}</a><span>|</span>{#$langData['siteConfig'][19][298]#}：{#$cfg_hotline#}</div>
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/deposit.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
