<!DOCTYPE html>
<html class="webkit chrome">
<head>
<meta charset="utf-8" />
<title>{#$langData['siteConfig'][26][58]#}</title>
<script type="text/javascript" src="/design/detection.js?v={#$cfg_staticVersion#}"></script>
<script>
  var DESIGN_VERSION = '2.0.1';
  var PROJECTID = '{#$PROJECTID#}';
  var Module = 'website';
  var PAGES_URL = '{#$cfg_basehost#}/website/', cfg_attachment = '/include/attachment.php?f=';
  var baidu_mapkey = '{#$site_map_baidu_key#}';
</script>
{#if {#verifyModuleAuth module='website'#}#}
<script type="text/javascript" id="seanode" src="/design/diy.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
</head>

<body>{#if !{#verifyModuleAuth module='website'#}#}<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>{#/if#}</body>
</html>
