<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=article&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' template='manage' action='article'#}">
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][19][892]#}：</dt>
			<dd>
				<select class="chosen-select" id="cityid" name="cityid" style="width: auto; min-width: 150px;" data-title="{#$langData['siteConfig'][20][585]#}">
					<option selected="" value="0">请选择</option>
					{#article action="city" return="city"#}
					<option value="{#$city.id#}" {#if $detail_cityid == $city.id#} selected{#/if#}>{#$city.name#}</option>
					{#/article#}
				</select>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][20][40]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][393]#}：</dt>
			<dd id="selType">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][41]#}">
					<button type="button" class="sel">{#if $do == "edit"#}{#$detail_typeName#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>
					<ul class="sel-menu">
						{#article action="type" return="type"#}
						<li><a href="javascript:;" data-id="{#$type.id#}">{#$type.typename#}</a></li>
						{#/article#}
					</ul>
				</div>
				<input type="hidden" name="typeid" id="typeid" value="{#$detail_typeid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][19]#}：</dt>
			<dd class="thumb fn-clear listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_litpic != ""#}
				<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" data-val="{#$detail_litpicSource#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
				{#/if#}
				<input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden" id>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][19][1]#}：</dt>
			<dd>
				<script id="body" name="body" type="text/plain" style="width:90%;height:500px">{#$detail_body#}</script>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][2]#}：</dt>
			<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_imglist#} style="display: block;"{#/if#}>
						{#foreach from=$detail_imglist key=k item=i#}
						<li class="fn-clear" id="WU_FILE_1_{#$k#}">
							<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
							</div>
							<textarea class="li-desc" placeholder="{#$langData['siteConfig'][20][477]#}" style="display: inline-block;">{#$i.info#}</textarea>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="imglist" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="wxUploadObj fn-clear">
						<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
						<span class="upload-split fn-hide">或</span>
						<dl class="wxUpload fn-hide fn-clear">
							<dt><img id="wxUploadImg" /></dt>
							<dd>使用<em class="wx">微信</em>扫描左侧二维码<br />关注{#$cfg_weixinName#}公众号后<br />将图片<em class="fs">发送</em>给公众号即可传图</dd>
						</dl>
					</div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_imglist#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':$atlasMax#} <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][19][18]#}：</dt>
			<dd>
				<input type="text" name="keywords" class="inp" id="keywords" size="60" maxlength="50" data-title="{#$langData['siteConfig'][20][33]#}" value="{#$detail_keywords#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][19][335]#}：</dt>
			<dd>
				<textarea class="inp text" name="description" id="description" rows="3" cols="60" data-title="{#$langData['siteConfig'][20][35]#}">{#$detail_description#}</textarea>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][3]#}：</dt>
			<dd>
				<input type="text" name="writer" class="inp" id="writer" size="10" maxlength="10" data-title="{#$langData['siteConfig'][20][38]#}" value="{#if $do == "edit"#}{#$detail_writer#}{#else#}{#$userinfo.nickname#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][5]#}：</dt>
			<dd>
				<input type="text" name="source" class="inp" id="source" size="20" maxlength="20" data-title="{#$langData['siteConfig'][20][39]#}" value="{#if $do == "edit"#}{#$detail_source#}{#else#}{#$langData['siteConfig'][19][824]#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][24]#}：</dt>
			<dd><input type="text" name="sourceurl" class="inp" id="sourceurl" size="40" maxlength="150" value="{#if $do == "edit"#}{#$detail_sourceurl#}{#/if#}" /></dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][6][69]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
		</dl>
	</form>
</div>
