{#if {#verifyModuleAuth module='homemaking'#}#}

<script>
var doact = '{#$do#}';
var geetest = {#$cfg_geetest#};
</script>
<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=homemaking&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' template='manage' action='homemaking'#}">
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['homemaking'][8][27]#}：</dt>{#* 家政分类 *#}
			<dd id="seltypeid">
				<div class="sel-group" data-title="{#$langData['homemaking'][8][14]#}">
					<button type="button" class="sel">{#if $detail_typeid != ""#}{#$detail_typename#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>
					<ul class="sel-menu">
						{#homemaking action="type" return="type"#}
						<li><a href="javascript:;" data-id="{#$type.id#}">{#$type.typename#}</a></li>
						{#/homemaking#}
					</ul>
				</div>
				<input type="hidden" name="typeid" id="typeid" value="{#$detail_typeid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['homemaking'][8][33]#}：</dt>{#* 标题 *#}
			<dd>
				<input type="text" name="title" class="inp" id="title" size="35" maxlength="60" data-title="{#$langData['homemaking'][8][15]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>
			<dd id="selAddr">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">
					<div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addrid#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
				</div>
				<input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" />
				<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		
		<dl class="fn-clear">
			<dt>{#$langData['homemaking'][8][35]#}：</dt>{#* 家政性质 *#}
			<dd>
				<div class="radio homemakingtype">
					<span data-id="0"{#if $detail_homemakingtype == ""#} class="curr"{#/if#}>{#$langData['homemaking'][8][40]#}</span>
					<span data-id="1"{#if $detail_homemakingtype == 1#} class="curr"{#/if#}>{#$langData['homemaking'][8][41]#}</span>
					<span data-id="2"{#if $detail_homemakingtype == 2#} class="curr"{#/if#}>{#$langData['homemaking'][8][42]#}</span>
					<input type="hidden" name="homemakingtype" id="homemakingtype" value="{#if $detail_homemakingtype == ""#}0{#else#}{#$detail_homemakingtype#}{#/if#}">
				</div>
			</dd>
		</dl>
		<dl id="priceH" class="fn-clear {#if $detail_homemakingtype == ""#}fn-hide{#/if#}" data-required="1">
			<dt><span>*</span>{#$langData['homemaking'][8][36]#}：</dt>
			<dd>
				<div class="input-append">
					<input id="price_" name="price" type="text" size="8" maxlength="7" data-title="{#$langData['homemaking'][8][16]#}" value="{#$detail_price#}" />
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['homemaking'][8][37]#}：</dt>
			<dd>
				<script id="note" name="note" type="text/plain" style="width:90%;height:500px">{#$detail_note#}</script>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][19][2]#}：</dt>
			<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_pics#} style="display: block;"{#/if#}>
						{#foreach from=$detail_pics key=k item=i#}
						<li class="fn-clear" id="WU_FILE_1_{#$k#}">
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
							</div>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="pics" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="wxUploadObj fn-clear">
						<div class="uploadinp filePicker" id="filePicker2" data-type="album" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
						<span class="upload-split fn-hide">或</span>
						<dl class="wxUpload fn-hide fn-clear">
							<dt><img id="wxUploadImg" /></dt>
							<dd>使用<em class="wx">微信</em>扫描左侧二维码<br />关注{#$cfg_weixinName#}公众号后<br />将图片<em class="fs">发送</em>给公众号即可传图</dd>
						</dl>
					</div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':$atlasMax#} <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
            <dt>{#$langData['siteConfig'][19][901]#}：</dt>{#* 特色标签 *#}
            <dd>
                <div class="checkbox">
                    {#foreach from=$homemakingTag_state item=tag#}
                    <label><input type="checkbox" name="flag[]" value="{#$tag.name#}" {#if $tag.active#} checked{#/if#}>{#$tag.name#}</label>
                    {#/foreach#}
                </div>
            </dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['homemaking'][8][34]#}：</dt>{#* 联系人 *#}
			<dd>
				<input type="text" name="username" class="inp" id="username" size="25" maxlength="20" data-title="{#$langData['homemaking'][8][17]#}" value="{#if $detail_username != ""#}{#$detail_username#}{#else#}{#$userinfo.nickname#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][56]#}：</dt>{#* 联系方式 *#}
			<dd>
				<input type="text" name="contact" class="inp" id="tel" size="25" maxlength="20" data-title="{#if $detail_contact == ""&&$userinfo.phone=="" #}{#$langData['siteConfig'][20][463]#}{#else#}{#$langData['siteConfig'][20][463]#}{#/if#}" value="{#if $detail_contact != ""#}{#$detail_contact#}{#else#}{#$userinfo.phone#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear fn-hide testbox" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][4][0]#}：</dt>{#* 验证码 *#}
			<dd>
				<input type="text" name="testcode" class="inp" id="testcode" size="25" maxlength="20" data-title="{#$langData['siteConfig'][20][176]#}" value="" />
				<a class="codebtn" href="javascript:;">{#$langData['siteConfig'][4][7]#}</a>{#* 发送验证码 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
		</dl>
	</form>
</div>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/calendar/WdatePicker.js?v={#$cfg_staticVersion#}"></script>

{#else#}
<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
{#/if#}
<script>
	var userinfo = {
		phone: '{#$userinfo.phone#}',
		phoneCheck: {#$userinfo.phoneCheck#}
	};
	var detail = {
		contact: '{#$detail_contact#}'
	}
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}../../member/js/codetest.js?v={#$cfg_staticVersion#}"></script>