<script>
    var menuList = {#json_encode($menuList)#};
</script>
<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=business&action=updateStoreCustomMenu" data-url="{#getUrlPath service='member' template='business-custom_menu'#}">
		<input type="hidden" name="id" id="id" value="{#$id#}" />
		<dl class="fn-clear">
			<dt>标题：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="100" value="{#$detail_title#}" placeholder="请输入标题" />
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>类型：</dt>
			<dd>
				<div class="radio">
					<span data-id="0" class="curr">自定义内容</span>
					<span data-id="1">跳转</span>
				</div>
			</dd>
		</dl>
		<dl class="type0 fn-clear">
			<dt>内容：</dt>
			<dd>
				<script id="body" name="body" type="text/plain" style="width:90%;height:500px">{#$detail_body#}</script>
			</dd>
		</dl>
		<dl class="type1 fn-clear fn-hide">
			<dt>链接：</dt>
			<dd>
				<input type="text" name="jump" class="inp" id="jump" size="60" maxlength="100" value="{#$detail_jump#}" placeholder="请输入网址，以http:// 或 https://开头" />
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['shop'][1][7]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
		</dl>
	</form>
</div>
