<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][408]#}：</dt>
	<dd>
		<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][27][61]#}" value="{#$detail_title#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][26][132]#}：</dt>
	<dd><input type="text" name="type" class="inp" id="type" size="25" maxlength="50" value="{#$detail_body.d_type#}" /></dd>
</dl>
<dl class="fn-clear">
	<dt>{#$langData['siteConfig'][26][133]#}：</dt>
	<dd>
		<div class="radio" id="sexObj">
			<span data-id="0"{#if $detail_body.d_sex == 0 || $detail_body.d_sex == ""#} class="curr"{#/if#}>{#$langData['siteConfig'][22][96]#}</span>
			<span data-id="1"{#if $detail_body.d_sex == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][13][4]#}</span>
			<span data-id="2"{#if $detail_body.d_sex == 2#} class="curr"{#/if#}>{#$langData['siteConfig'][13][5]#}</span>
			<input type="hidden" name="sex" id="sex" value="{#$detail_body.d_sex#}" />
		</div>
	</dd>
</dl>
<dl class="fn-clear">
	<dt>{#$langData['siteConfig'][19][128]#}：</dt>
	<dd><input type="text" name="nature" class="inp" id="nature" size="25" maxlength="50" value="{#$detail_body.d_nature#}" /></dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][630]#}：</dt>
	<dd>
		<input type="text" name="number" class="inp" id="number" size="5" maxlength="5" value="{#$detail_body.d_number#}" onkeyup="value=value.replace(/\D+/ig,'')" /><em class="fn-left">&nbsp;&nbsp;人</em>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][127]#}：</dt>
	<dd id="selAddr">
		<input type="text" name="addr" class="inp" id="addr" size="60" maxlength="50" value="{#$detail_body.d_addr#}" />
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][605]#}：</dt>
	<dd id="selExperience">
		<input type="text" name="experience" class="inp" id="experience" size="60" maxlength="50" value="{#$detail_body.d_experience#}" />
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][632]#}：</dt>
	<dd id="selEducational">
		<input type="text" name="educational" class="inp" id="educational" size="60" maxlength="50" value="{#$detail_body.d_educational#}" />
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][633]#}：</dt>
	<dd id="selSalary">
		<input type="text" name="salary" class="inp" id="salary" size="60" maxlength="50" value="{#$detail_body.d_salary#}" />
	</dd>
</dl>
<dl class="fn-clear">
	<dt>{#$langData['siteConfig'][19][634]#}：</dt>
	<dd><input type="text" name="language" class="inp" id="language" size="25" maxlength="50" value="{#$detail_body.d_language#}" /></dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][635]#}：</dt>
	<dd><textarea class="inp text" name="note" id="note" rows="10" cols="70" >{#$detail_body.d_note|replace:"<br />":""#}</textarea></dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][636]#}：</dt>
	<dd><textarea class="inp text" name="claim" id="claim" rows="10" cols="70" >{#$detail_body.d_claim|replace:"<br />":""#}</textarea></dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][19][56]#}：</dt>
	<dd>
		<input type="text" name="tel" class="inp" id="tel" size="20" maxlength="50" value="{#$detail_body.d_tel#}" />
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt>{#$langData['siteConfig'][26][33]#}：</dt>
	<dd>
		<input type="text" name="email" class="inp" id="email" size="20" maxlength="50" value="{#$detail_body.d_email#}" />
	</dd>
</dl>
<dl class="fn-clear">
	<dt>&nbsp;</dt>
	<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['shop'][1][7]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
</dl>
<div class="fn-hide"><script id="body" name="body" type="text/plain">body</script></div>