{#$pageTitle = "我的委托"|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/house_entrust.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', comid = {#$comid#}, atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
	var editUrl = '{#getUrlPath service="member" template="orderdetail" action="$module" id="%id%"#}';
</script>
</head>

{#$pageCurr = "house_entrust"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<style>
	.list {padding: 0 15px;}
	</style>
	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li data-id="" class="active"><a href="javascript:;">全部 (<span id="total">0</span>)</a></li>
			<li data-id="0"><a href="javascript:;">出租 (<span id="zu_total">0</span>)</a></li>
			<li data-id="1"><a href="javascript:;">出售 (<span id="shou_total">0</span>)</a></li>
			<li data-id="2"><a href="javascript:;">转让 (<span id="zhuan_total">0</span>)</a></li>
		</ul>
	</div>
	<div class="container fn-clear">
		<div class="list house_entrust" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/house_entrust.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
