{#$pageTitle = $langData['siteConfig'][11][12]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../css/refreshTop.css?v={#$cfg_staticVersion#}" media="all" />
{#if $module == 'huangye'#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage-huangye.css?v={#$cfg_staticVersion#}" media="all" />
{#/if#}
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
	var editUrl = '{#getUrlPath service="member" template="fabu" action="$module"#}';
	var modelType = '{#$module#}', state = '{#$state#}', type = '{#$type#}', typeid = {#$typeid#}, uploadType = "thumb";
	var statisticsUrl = '{#getUrlPath service="member" type="user" template="statistics" action="$module"#}';
</script>
</head>

{#$pageCurr = "manage_{#$module#}"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	{#include file="manage-$module.html"#}
	{#if $module == 'huangye'#}
	{#else#}
	<div class="container fn-clear">
		<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
	{#/if#}
</div>

{#include file="footer.html"#}
{#if $type#}
{#include file="../refreshTop.html" tourl={#getUrlPath service='member' template='manage' action={#$module#} dopost={#$type#}#} act={#$type#}#}
{#else#}
{#include file="../refreshTop.html" tourl={#getUrlPath service='member' template='manage' action={#$module#}#} act="detail"#}
{#/if#}
<script type="text/javascript" src="{#$templets_skin#}../js/refreshTop.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/manage-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
