{#$pageTitle = $langData['siteConfig'][19][828]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/message.css?v={#$cfg_staticVersion#}" media="all" />
<script>var atpage = 1, totalCount = 0, pageSize = 12, state = '{#$state#}', url = '{#getUrlPath service="member" template="message_detail" id="%id"#}';</script>
</head>

{#$pageCurr = "message"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>
			<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][7]#} (<span id="unread">0</span>)</a></li>
			<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][8]#} (<span id="read">0</span>)</a></li>
		</ul>
	</div>
	<div class="container">

		<div class="list" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="opera">
			<label><input type="checkbox" id="selectAll" /> {#$langData['siteConfig'][6][28]#}</label>
			<a href="javascript:;" class="delSelect">{#$langData['siteConfig'][6][8]#}</a>
			<a href="javascript:;" class="readSelect">{#$langData['siteConfig'][6][172]#}</a>
		</div>
		<div class="pagination fn-clear"></div>

	</div>

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/message.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
