{#$stateInfo = ""#}
{#if $detail_orderstate == 0#}
	{#$stateInfo = "等待买家付款"#}
{#elseif $detail_orderstate == 1#}
	{#$stateInfo = "买家已付款，待发货"#}
{#elseif $detail_orderstate == 2#}
	{#$stateInfo = "已过期"#}
{#elseif $detail_orderstate == 3#}
	{#$stateInfo = "交易成功"#}
{#elseif $detail_orderstate == 6#}
	{#if $detail_retState == 1#}
		{#if $detail_expDate == 0#}
			{#$stateInfo = "未发货，买家申请退款"#}
		{#else#}
			{#$stateInfo = "已发货，买家申请退款"#}
		{#/if#}
	{#else#}
		{#$stateInfo = "已发货，等待买家收货"#}
	{#/if#}
{#elseif $detail_orderstate == 7#}
	{#$stateInfo = "退款成功"#}
{#/if#}
<dl class="info-section">
	<dt>
		<span class="info-title">当前订单状态：</span><em class="info-text">{#$stateInfo#}</em>
		{#if $detail_orderstate == 7#}
		&nbsp;&nbsp;退款时间：{#$detail_retOkdate|date_format:"%Y-%m-%d %H:%M:%S"#}
		{#/if#}
	</dt>

	{#* 买家已付款，待发货 *#}
	{#if $detail_orderstate == 1#}
	<dd class="last">
		<p class="operation"><a href="javascript:;" class="fahuo">立即发货</a></p>
	</dd>
	{#/if#}


	{#* 退款中 *#}
	{#if ($detail_orderstate == 6 && $detail_retState == 1) || $detail_orderstate == 7#}
	<dd class="last">

		<ul class="retUl">
			<li><label>退款原因：</label>{#$detail_retType#}</li>
			<li><label>退款说明：</label>{#$detail_retNote#}</li>
			{#if $detail_retPics|@count > 0#}
			<li class="retPics"><label>退款凭证：</label>
				{#foreach from=$detail_retPics item=pics key=k#}
				<a href="{#$pics.path#}" target="_blank"><img src="{#changeFileSize url="{#$pics.path#}" type="small"#}" /></a>
				{#/foreach#}
			</li>
			{#/if#}
			<li><label>申请时间：</label>{#$detail_retDate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>
		</ul>

		{#if $detail_retSnote != ""#}
		<ul class="retUl store">
			<li><label>卖家回复：</label>{#$detail_retSnote#}</li>
			{#if $detail_retSpics|@count > 0#}
			<li class="retPics"><label>回复凭证：</label>
				{#foreach from=$detail_retSpics item=pics key=k#}
				<a href="{#$pics.path#}" target="_blank"><img src="{#changeFileSize url="{#$pics.path#}" type="small"#}" /></a>
				{#/foreach#}
			</li>
			{#/if#}
			<li><label>回复时间：</label>{#$detail_retSdate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>
		</ul>
		{#/if#}

		{#if $detail_retState == 1#}
		<p class="operation">
			<a href="javascript:;" class="tuikuan">确定退款</a>
			{#if $detail_retSnote == ""#}
			<a href="javascript:;" class="huifu">回复</a>
			{#/if#}
		</p>
		{#/if#}

	</dd>
	{#/if#}

</dl>

{#if $detail_orderstate == 1#}
<dl class="bunch-section fh"{#if $rates == 1#} style="display: block;"{#/if#}>
	<dt>发货</dt>
	<dd>
		<div class="formfield">
			<label for="exp-company"><em>*</em> 快递公司：</label>
			<input type="text" name="exp-company" id="exp-company" size="20" maxlength="20" />
			<span class="input-tips"><s></s>请填写快递公司名称</span>
		</div>
		<div class="formfield">
			<label for="exp-number"><em>*</em> 快递单号：</label>
			<input type="text" name="exp-number" id="exp-number" size="25" maxlength="20" />
			<span class="input-tips"><s></s>请填写快递单号</span>
		</div>
		<div class="btns">
			<button type="button" class="cbtn" id="expBtn">确认</button>
			<a href="javascript:;" class="cancel canExp">取消</a>
		</div>
	</dd>
</dl>
{#/if#}

{#if $detail_retState == 1 && $detail_retSnote == ""#}
<script>
var atlasSize = {#$atlasSize*1024#};
var atlasType = '{#$atlasType#}';
var atlasMax  = 5;
</script>
<dl class="bunch-section hf"{#if $rates == 1#} style="display: block;"{#/if#}>
	<dt>回复</dt>
	<dd>
		<div class="formfield">
			<label for="exp-company"><em>*</em> 回复内容：</label>
			<div class="textarea">
				<textarea rows="5" id="ret-note"></textarea>
				<span class="lim-count">还可输入 <strong>500</strong> 个字。</span>
			</div>
		</div>
		<div class="formfield">
			<label for="exp-number"> 上传凭证：</label>
			<ul class="uploader-list" id="fileList"></ul>
			<div class="uploader-btn fn-clear">
				<div id="filePicker">上传图片</div>
				<span class="utip">最多传5张，按住 Ctrl 或 Shift 可选择多张</span>
			</div>
			<p class="tips">* 请上传原创、真实、合法的图片，如果发现用户上传的图片有侵权内容，网站有权先行删除</p>
		</div>
		<div class="btns">
			<button type="button" class="cbtn" id="hfBtn">确认</button>
			<a href="javascript:;" class="cancel canHf">取消</a>
		</div>
	</dd>
</dl>
<script src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.min.js"></script>
{#/if#}

<dl class="bunch-section">

	<dt>订单信息</dt>
	<dd>
		<ul class="flow-list fn-clear">
			<li>订单编号：{#$detail_ordernum#}</li>
			<li>下单时间：{#$detail_orderdate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>
			{#* if $detail_orderstate == 1 || ($detail_orderstate == 2 && $detail_paydate != 0) || $detail_orderstate == 3 || $detail_orderstate == 4 *#}
			{#if $detail_paydate != 0#}
			<li>付款方式：{#$detail_paytype#}</li>
			<li>付款时间：{#$detail_paydate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>
			{#/if#}
		</ul>
	</dd>

	<dt>配送信息</dt>
	<dd>
		<ul>
			<li>收货人：{#$detail_username#}</li>
			<li>联系电话：{#$detail_usercontact#}</li>
			<li>送货地址：{#$detail_useraddr#}</li>
			<li>配送说明：{#$detail_note#}</li>
		</ul>
	</dd>

	{#if ($detail_orderstate == 3 || $detail_orderstate == 4 || $detail_orderstate == 6 || $detail_orderstate == 7) && $detail_expDate != 0#}
	<dt>快递信息</dt>
	<dd>
		<ul>
			<li>快递公司：{#$detail_expCompany#}</li>
			<li>快递单号：{#$detail_expNumber#}</li>
			<li>发货时间：{#$detail_expDate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>
			<li>物流跟踪：<a href="https://www.baidu.com/s?wd={#$detail_expCompany#} {#$detail_expNumber#}" target="_blank" style="color:#027cff;">点击查看详细</a></li>
		</ul>
	</dd>
	{#/if#}

	<dt>购买信息</dt>
	<dd class="shop-pro">
		{#foreach from=$detail_product item="product"#}
		<ul class="sp clearfix">
			<li class="t0"></li>
			<li class="t1"><a href="{#getUrlPath service='build' template='detail' id={#$product.id#}#}" target="_blank"><img src="{#changeFileSize url={#$product.litpic#} type='small'#}"></a></li>
			<li class="t2"><a href="{#getUrlPath service='build' template='detail' id={#$product.id#}#}" target="_blank">{#$product.title#}</a></li>
			<li class="t3">
				<span><em>单价</em><strong>{#$product.price#}</strong></span>
				<i>×</i>
				<span><em>数量</em><strong>{#$product.count#}</strong></span>
				<i>+</i>
				<span><em>运费</em><strong>{#$product.logistic#}</strong></span>
				{#if $product.discount != 0#}
				<i>-</i>
				<span><em>折扣</em><strong>{#$product.discount#}</strong></span>
				{#/if#}

				{#if $detail_orderstate != 0#}
					{#if $product.point > 0#}
					<i>-</i>
					<span><em title="{#$cfg_pointRatio#}{#$cfg_pointName#}等于1{#echoCurrency type='short'#}{#echoCurrency type='name'#}">{#$cfg_pointName#}支付</em><strong>{#$product.point/$cfg_pointRatio#}</strong></span>
					{#/if#}
					{#if $product.balance > 0#}
					<i>-</i>
					<span><em>余额支付</em><strong>{#$product.balance#}</strong></span>
					{#/if#}
				{#/if#}
				<i>=</i>
				<span><em>实际支付</em><strong>{#$product.payprice#}</strong></span>
			</li>
		</ul>
		{#/foreach#}
		<div class="sum">
			<div class="right">实付款：<font>{#echoCurrency type='symbol'#}<strong>{#$detail_totalPayPrice#}</strong></font></span></div>
		</div>
	</dd>

</dl>
