{#if {#verifyModuleAuth module='job'#}#}
{#if $do == ""#}
{#$pageTitle = $langData['siteConfig'][19][459]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../css/refreshTop.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/post.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 20, state = '{#$state#}', type = '{#$type#}';
	var editUrl = '{#getUrlPath service="member" template="post" param="do=edit&id=%id%"#}';
	var service = 'job';
</script>
</head>

{#$pageCurr = "post"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li data-id=""{#if $state == ''#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][26][129]#} (<span id="totalCount">0</span>)</a></li>
			<li data-id="0"{#if $state == 0 && $state != ''#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][19][556]#} (<span id="state0">0</span>)</a></li>
			<li data-id="1"{#if $state == 1#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="state1">0</span>)</a></li>
			<li data-id="2"{#if $state == 2#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][23][101]#} (<span id="state2">0</span>)</a></li>
			<li data-id="3"{#if $state == 3#} class="active"{#/if#}><a href="javascript:;">{#$langData['siteConfig'][9][29]#} (<span id="state3">0</span>)</a></li>
		</ul>
		<a href="{#getUrlPath service='member' template='post' param='do=add'#}" class="btn add">{#$langData['siteConfig'][26][130]#}</a>
	</div>
	<table class="oh">
		<colgroup>
			<col style="width:38%;">
			<col style="width:7%;">
			<col style="width:17%;">
			<col style="width:10%;">
			<col style="width:10%;">
			<col style="width:18%;">
		</colgroup>
		<tbody>
			<tr>
				<td>{#$langData['siteConfig'][19][408]#}</td>
				<td>{#$langData['siteConfig'][19][628]#}</td>
				<td>{#$langData['siteConfig'][11][8]#}</td>
				<td>{#$langData['siteConfig'][19][629]#}</td>
				<td>{#$langData['siteConfig'][19][307]#}</td>
				<td>{#$langData['siteConfig'][6][11]#}</td>
			</tr>
		</tbody>
	</table>
	<div class="container fn-clear">
		<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>

{#include file="footer.html"#}
{#include file="../refreshTop.html" tourl={#getUrlPath service='member' template='post'#} act="detail" module="job"#}
<script type="text/javascript" src="{#$templets_skin#}../js/refreshTop.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/post.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
{#else#}


{#if $do == "add"#}
{#$pageTitle = $langData['siteConfig'][26][130]|cat:" - "|cat:$cfg_webname#}
{#else#}
{#$pageTitle = $langData['siteConfig'][26][131]|cat:" - "|cat:$cfg_webname#}
{#/if#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/post.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var id = {#$id#};
</script>
</head>

{#$pageCurr = "post"#}

<body>
{#include file="headSidebar.html"#}
<script>
	var service = "job"
</script>
<div class="main">
	<div class="container fn-clear">
		<div class="w-form">
			<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=job&action={#if $id != ""#}editPost&id={#$id#}{#else#}addPost{#/if#}" data-url="{#getUrlPath service='member' template='post'#}">
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][408]#}：</dt>
					<dd>
						<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][27][61]#}" value="{#$job_title#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][26][132]#}：</dt>
					<dd id="selType">
						<div class="sel-group"><button type="button" class="sel">{#if $job_type#}{#$job_type#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button></div>
						<input type="hidden" name="type" id="type" value="{#$job_typeid#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt><span>*</span>{#$langData['siteConfig'][26][133]#}：</dt>
					<dd>
						<div class="radio" id="sexObj">
							<span data-id="0"{#if $job_sex == 0 || $job_sex == ""#} class="curr"{#/if#}>{#$langData['siteConfig'][22][96]#}</span>
							<span data-id="1"{#if $job_sex == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][13][4]#}</span>
							<span data-id="2"{#if $job_sex == 2#} class="curr"{#/if#}>{#$langData['siteConfig'][13][5]#}</span>
							<input type="hidden" name="sex" id="sex" value="{#$job_sex#}" />
						</div>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt><span>*</span>{#$langData['siteConfig'][19][128]#}：</dt>
					<dd>
						<div class="radio" id="natureObj">
							<span data-id="0"{#if $job_nature == 0 || $job_nature == ""#} class="curr"{#/if#}>{#$langData['siteConfig'][19][129]#}</span>
							<span data-id="1"{#if $job_nature == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][19][130]#}</span>
							<span data-id="2"{#if $job_nature == 2#} class="curr"{#/if#}>{#$langData['siteConfig'][19][131]#}</span>
							<span data-id="3"{#if $job_nature == 3#} class="curr"{#/if#}>{#$langData['siteConfig'][19][132]#}</span>
							<input type="hidden" name="nature" id="nature" value="{#$job_nature#}" />
						</div>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][77]#}：</dt>
					<dd>
						<input type="text" name="valid" class="inp" id="valid" size="10" readonly maxlength="10" data-title="{#$langData['siteConfig'][20][22]#}" value="{#$job_valid|date_format:"%Y-%m-%d"#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][630]#}：</dt>
					<dd>
						<input type="text" name="number" class="inp" id="number" size="5" maxlength="5" data-title="{#$langData['siteConfig'][27][62]#}" value="{#$job_number#}" onkeyup="value=value.replace(/\D+/ig,'')" /><em class="fn-left">&nbsp;&nbsp;人</em>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][127]#}：</dt>
					<dd id="selAddr">
						<div class="sel-group" data-title="{#$langData['siteConfig'][27][63]#}">
							<div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$job_addrid split=' '#}" data-id="{#$job_addrid#}">{#if $job_addr != ""#}{#getPublicParentInfo tab='site_area' id=$job_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
						</div>
						<input type="hidden" name="addrid" id="addrid" value="{#$job_addrid#}" />
						<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][605]#}：</dt>
					<dd id="selExperience">
						<div class="sel-group" data-title="{#$langData['siteConfig'][27][64]#}">
							<button type="button" class="sel">{#if $job_experience#}{#$job_experience#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>
							<ul class="sel-menu">
								{#job action="item" return="item" type="1"#}
								<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
								{#/job#}
							</ul>
						</div>
						<input type="hidden" name="experience" id="experience" value="{#$job_experienceid#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][632]#}：</dt>
					<dd id="selEducational">
						<div class="sel-group" data-title="{#$langData['siteConfig'][27][65]#}">
							<button type="button" class="sel">{#if $job_educational#}{#$job_educational#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>
							<ul class="sel-menu">
								{#job action="item" return="item" type="2"#}
								<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
								{#/job#}
							</ul>
						</div>
						<input type="hidden" name="educational" id="educational" value="{#$job_educationalid#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][633]#}：</dt>
					<dd id="selSalary">
						<div class="sel-group" data-title="{#$langData['siteConfig'][27][66]#}">
							<button type="button" class="sel">{#if $job_salary#}{#$job_salary#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}<span class="caret"></span></button>
							<ul class="sel-menu">
								{#job action="item" return="item" type="3"#}
								<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
								{#/job#}
							</ul>
						</div>
						<input type="hidden" name="salary" id="salary" value="{#$job_salaryid#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][634]#}：</dt>
					<dd><input type="text" name="language" class="inp" id="language" size="25" maxlength="50" value="{#$job_language#}" /></dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][19][635]#}：</dt>
					<dd><textarea class="inp text" name="note" id="note" rows="10" cols="70" >{#$job_note|replace:"<br />":""#}</textarea></dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][19][636]#}：</dt>
					<dd><textarea class="inp text" name="claim" id="claim" rows="10" cols="70" >{#$job_claim|replace:"<br />":""#}</textarea></dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][56]#}：</dt>
					<dd>
						<input type="text" name="tel" class="inp" id="tel" size="20" maxlength="50" data-title="{#$langData['siteConfig'][20][433]#}" value="{#$job_tel#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][26][33]#}：</dt>
					<dd>
						<input type="text" name="email" class="inp" id="email" size="20" maxlength="50" data-title="{#$langData['siteConfig'][27][18]#}" value="{#$job_email#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>&nbsp;</dt>
					<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['shop'][1][7]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
				</dl>
			</form>
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/calendar/WdatePicker.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/postAdd.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
{#/if#}


{#else#}
<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
{#/if#}
