{#$pageTitle = $langData['siteConfig'][26][134]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}" media="all" />
</head>
<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li class="active"><a href="javascript:;">{#$langData['siteConfig'][19][21]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='portrait'#}">{#$langData['siteConfig'][8][0]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='connect'#}">{#$langData['siteConfig'][19][737]#}</a></li>
		</ul>
	</div>
	<div class="container">

		<div class="w-form">
			<form action="/include/ajax.php?service=member&action=updateProfile" method="post">
				<dl class="fn-clear">
					<dt><label>{#$langData['siteConfig'][19][20]#}：</label></dt>
					<dd>{#$userinfo.username#}</dd>
				</dl>
				<dl class="fn-clear">
					<dt><label for="company">{#$langData['siteConfig'][19][354]#}：</label></dt>
					<dd><input type="text" name="company" class="inp" id="company" size="40" placeholder="{#$langData['siteConfig'][27][67]#}" value="{#$userinfo.company#}" /></dd>
				</dl>
				<dl class="fn-clear">
					<dt><label>{#$langData['siteConfig'][19][27]#}：</label></dt>
					<dd id="selAddr">
						<div class="cityName" style="">
						<div class="city-title addrBtn" data-field="addrid" data-type="area" data-ids="{#getPublicParentInfo tab='site_area' id=$userinfo.addrid split=' ' action='area'#}" data-id="{#$userinfo.addrid#}">{#if $userinfo.addrName != ""#}{#getPublicParentInfo tab='site_area' id=$userinfo.addrid type='typename' split='/' action='area'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
					  </div>
						<input type="hidden" name="addr" id="addr" value="{#$userinfo.addrid#}" />
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt><label for="address">{#$langData['siteConfig'][19][35]#}：</label></dt>
					<dd><input type="text" name="address" class="inp" id="address" size="40" placeholder="{#$langData['siteConfig'][27][68]#}" value="{#$userinfo.address#}" /></dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][642]#}：</dt>
					<dd><input type="text" name="person" class="inp" id="person" size="20" autocomplete="off" placeholder="{#$langData['siteConfig'][27][69]#}" value="{#$userinfo.person#}" /></dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][7]#}：</dt>
					<dd>
						<div class="radio">
							<span data-id="1"{#if $userinfo.sex == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][13][4]#}</span>
							<span data-id="0"{#if $userinfo.sex == 0#} class="curr"{#/if#}>{#$langData['siteConfig'][13][5]#}</span>
							<input type="hidden" name="sex" id="sex" value="{#$userinfo.sex#}" />
						</div>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][14]#}：</dt>
					<dd><input type="text" name="qq" class="inp" id="qq" size="20" autocomplete="off" onkeyup="value=value.replace(/\D+/ig,'')" placeholder="{#$langData['siteConfig'][27][70]#}" value="{#$userinfo.qq#}" /></dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][28]#}：</dt>
					<dd>
						{#$userinfo.regtime#}
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>&nbsp;</dt>
					<dd><button class="submit" id="sbtn">{#$langData['siteConfig'][6][122]#}</button></dd>
				</dl>
			</form>
		</div>

	</div>

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/profile.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
