{#$pageTitle = $langData['siteConfig'][19][473]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/promotion.css?v={#$cfg_staticVersion#}" media="all" />
</head>
{#$pageCurr = "promotion"#}
<body>
{#include file="headSidebar.html"#}
<div class="main">
  <div class="container fn-clear">
    <div class="wrap">
      <div class="reset fn-clear">
        <div class="left">
          <p>{#$langData['siteConfig'][19][669]#}</p>
          <p class="reset-price">{#echoCurrency type='symbol'#}<em>{#$userinfo.promotion#}</em></p>
        </div>
        <div class="left">
          <p>{#$langData['siteConfig'][19][670]#}</p>
          <p class="reset-price">{#echoCurrency type='symbol'#}<em>{#$extract#}</em></p>
        </div>
      </div>
      <div class="typebox fn-clear">
        <div class="type-main payment">
          <p class="type-tit"><span>{#$langData['siteConfig'][26][135]#}</span></p>
          <p class="error"></p>
          <div class="inpbox">
            <em>{#echoCurrency type='symbol'#}</em><input type="text" name="" value="" id="amount" class="amount" placeholder="{#$langData['siteConfig'][19][671]#}1000">
          </div>
          <ul class="select-ul fn-clear"><li class="active"><em>1000</em>{#echoCurrency type='short'#}</li><li><em>2000</em>{#echoCurrency type='short'#}</li><li><em>3000</em>{#echoCurrency type='short'#}</li><li><em>5000</em>{#echoCurrency type='short'#}</li></ul>
          <p class="tips">{#$langData['siteConfig'][19][672]#}</p>
          <a href="javascript:;" class="submit">{#$langData['siteConfig'][19][673]#}</a>
        </div>
        <div class="type-main extract">
          <p class="type-tit"><span>{#$langData['siteConfig'][21][110]#}</span></p>
          <p class="inp-tit">{#$langData['siteConfig'][19][675]#} <span class="error"></span></p>
          <div class="select">
            <p class="select-tit"><span>{#$langData['siteConfig'][26][136]#}</span><em class="arrow"></em></p>
            <ul>
              <li>{#$langData['siteConfig'][19][676]#}</li>
              <li>{#$langData['siteConfig'][19][677]#}</li>
            </ul>
          </div>
          <p class="inp-tit">{#$langData['siteConfig'][19][678]#}</p>
          <textarea rows="4" class="textarea" placeholder="{#$langData['siteConfig'][19][678]#}"></textarea>
          <a href="javascript:;" class="submit">{#$langData['siteConfig'][19][674]#}</a>
        </div>
      </div>
      <table class="record">
        <colgroup><col style="width:15%;"><col style="width:15%;"><col style="width:30%;"><col style="width:20%;"><col style="width:20%;"></colgroup>
        <thead>
          <tr><td>{#$langData['siteConfig'][19][225]#}</td><td></td><td></td>
            <td class="main-tit">
              <span class="select-type">
        				<em>{#if $type == ""#}{#$langData['siteConfig'][9][0]#}{#elseif $type == 0#}{#$langData['siteConfig'][19][674]#}{#elseif $type == 1#}{#$langData['siteConfig'][19][673]#}{#/if#}<i class="arrow"></i></em>
        				<ul>
        					<li><a href="{#getUrlPath service='member' template='promotion'#}">{#$langData['siteConfig'][9][0]#}</a></li>
        					<li><a href="{#getUrlPath service='member' template='promotion' param='type=1'#}">{#$langData['siteConfig'][19][673]#}</a></li>
                  <li><a href="{#getUrlPath service='member' template='promotion' param='type=0'#}">{#$langData['siteConfig'][19][674]#}</a></li>
        				</ul>
        			</span>
            </td>
          </tr>
        </thead>
        <tbody>
          {#member action="promotionOrder" return="order" type={#$type#} pageSize="99999"#}
          <tr>
            <td>&nbsp;&nbsp;&nbsp;{#echoCurrency type='symbol'#}{#$order.amount#}</td>
            <td>{#if $order.type#}{#$langData['siteConfig'][19][673]#}{#else#}{#$langData['siteConfig'][19][674]#}{#/if#}</td>
            <td>
              <p>{#$langData['siteConfig'][19][50]#}: {#$order.ordernum#}</p>
              {#if !$order.type#}
              {#if $order.title#}<p class="gray">{#$langData['siteConfig'][19][675]#}：{#$order.title#}</p>{#/if#}
              {#if $order.note#}<p class="gray">{#$langData['siteConfig'][19][678]#}：{#$order.note#}</p>{#/if#}
              {#/if#}
            </td>
            <td><span class="time">{#$order.date#}</span></td>
          </tr>
          {#/member#}
          {#if $pageInfo.totalCount == 0#}
          <tr><td colspan="4" align="center" height="200">{#$langData['siteConfig'][27][59]#}</td></tr>
          {#/if#}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mask"></div>

<div class="paybox">
  <p class="fn-clear"><a href="javascript:;" class="close"></a></p>
  {#if $userinfo.money > 0#}
  <dl class="fn-clear yue">
		<dt class="fn-left">{#$langData['siteConfig'][19][386]#}</dt>
		<dd><span class="yue-btn active"><i class="radio"><s></s></i>{#echoCurrency type='symbol'#}<em>{#$userinfo.money#}</em></span><span>-{#echoCurrency type='symbol'#}<em class="reduce-yue">0.00</em></span></dd>
	</dl>
  {#/if#}
  <dl class="fn-clear">
		<dt class="fn-left">{#$langData['siteConfig'][19][316]#}</dt>
		<dd><span>{#echoCurrency type='symbol'#}<em class="pay-total">0.00</em></span></dd>
	</dl>

  <div id="paytypeObj" class="fn-hide">
    <!-- <p class="choose-tit">{#$langData['siteConfig'][20][203]#}</p> -->
    <ul class="payTab fn-clear">
      <li class="curr">扫码支付</li>
      <li>其他支付方式</li>
    </ul>
    <div class="qrpay">
      <dl class="fn-clear">
        <dt><img src="" id="qrimg" /><img src="{#$cfg_staticPath#}images/pay_top.png" class="pay_top" /><img src="{#$cfg_staticPath#}images/pay_bottom.png" class="pay_bottom" /></dt>
        <dd><img src="{#$cfg_staticPath#}images/pay_alipay.png" /><img src="{#$cfg_staticPath#}images/pay_wx.png" />扫描二维码轻松支付</dd>
      </dt>
    </div>
    <ul class="payway fn-hide fn-clear">
      {#$paytype = ""#}
      {#siteConfig action="payment" return="payment"#}
      {#if $_bindex.payment == 1#}
      {#$paytype = {#$payment.pay_code#}#}
      {#/if#}
      <li{#if $_bindex.payment == 1#} class="active"{#/if#} data-id="{#$payment.pay_code#}"><a href="javascript:;" class="{#$payment.pay_code#}"><img src="{#$cfg_basehost#}/templates/member/images/{#$payment.pay_code#}.png" alt="{#$payment.pay_name#}">{#$payment.pay_name#}</a></li>
      {#/siteConfig#}
    </ul>
  </div>

  <div class="stepBtn fn-hide"><a href="javascript:;" class="next-btn">{#$langData['siteConfig'][19][665]#}</a></div>
</div>

<form class="fn-hide" action="/include/ajax.php" method="post" id="pay">
	<input type="hidden" name="service" value="member" />
	<input type="hidden" name="action" value="promotion" />
	<input type="hidden" name="amount" id="totalPrice" value="" />
	<input type="hidden" name="balance" id="balance" value="" />
	<input type="hidden" name="paytype" id="paytype" value="" />
</form>

<!-- 提取成功 s -->
<div class="extract-success">
  <a href="javascript:;" class="close">×</a>
  <div class="titbox"><span>{#$langData['siteConfig'][21][111]#}</span></div>
</div>
<!-- 提取成功 e -->

{#include file="footer.html"#}
<script type="text/javascript">
  var totalBalance = {#$userinfo.money#};
</script>
<script type="text/javascript" src="{#$templets_skin#}js/promotion.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
