{#$pageTitle = $langData['siteConfig'][19][435]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/waimai-albums.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var modelType = 'waimai';
	var atlasSize = {#$atlasSize#}, atlasType = '{#$atlasType#}', atlasMax = 50;
	var storeid = {#$storeid#};

</script>
</head>

{#$pageCurr = "waimai-albums"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="container fn-clear">
		{#if {#verifyModuleAuth module='waimai'#}#}
		<div class="w-form">
			<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=waimai&action={#if $id != ""#}editAlbums&id={#$id#}{#else#}addAlbums{#/if#}" data-url="{#getUrlPath service='member' template='waimai-albums'#}">
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][6][84]#}：</dt>
					<dd id="selType">
						<div class="sel-group" data-id="{#$langData['siteConfig'][27][44]#}">
							<button type="button" class="sel">{#$langData['siteConfig'][7][2]#}<span class="caret"></span></button>
							<ul class="sel-menu">
								{#waimai action='albumType' store={#$storeid#}#}
								<li><a href="javascript:;" data-id="{#$row.id#}">{#$row.typename#}</a></li>
								{#/waimai#}
							</ul>
						</div>
						<input type="hidden" name="typeid" id="typeid" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt><span>*</span>{#$langData['siteConfig'][19][2]#}：</dt>
					<dd class="listImgBox">
						<div class="list-holder">
							<ul id="listSection2" class="fn-clear listSection fn-hide"></ul>
							<input type="hidden" name="imglist" value="" class="imglist-hidden" id="litpic">
						</div>
		        <div class="btn-section fn-clear">
							<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="50" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
							<div class="upload-tip">
								<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':'50'#} <span class="fileerror"></span></p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>&nbsp;</dt>
					<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['shop'][1][7]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
				</dl>
			</form>
		</div>
		{#else#}
		<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
		{#/if#}
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/waimai-albums-add.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
