{#$pageTitle = "自定义导航 - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" />
<style>
    .container .list {padding: 10px 30px 0;}
    .container table {width: 100%; border-bottom: 3px solid #e3e4e8;}
    .container .fir {width: 20px;}
    .container thead {border-bottom: 2px solid #e3e4e8; font-size: 14px; background: #fff; color: #8e8e8e; line-height: 60px;}
    .container tbody tr {line-height: 45px; font-size: 14px; border-bottom: 1px solid #eee;}
    .container tbody tr:hover td {background-color: #f5f5f5;}
    .container tbody tr:hover td.empty {background-color: #fff;}
    .container tbody td {line-height: 28px; padding: 12px 0;}
    .container tbody td input {height: 28px; padding: 0 3px; border: 1px solid #ccc;}
    .container tbody td img {vertical-align: middle;}
    .container tbody td .tit {width: 150px;}
    .container tbody td .link {width: 300px;}
    .container tbody td .del {color: #f00;}
    .container .nav-tabs {padding-bottom: 15px;}
    .container .nav-tabs .btn {margin-top: 15px;}
    .submit {float: right; width: 160px; height: 45px; line-height: 45px; font-size: 20px; color: #fff; border: 1px solid #76ae30; border-radius: 3px; background-color: #85c336; cursor: pointer; margin: 10px 10px 0;}
</style>
</head>

{#$pageCurr = "website-custom_nav"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
    {#if $has_website#}
    <div class="nav-tabs fn-clear">
        <ul class="fn-clear">
            <li data-id="" class="active"><a href="javascript:;">自定义导航</a></li>
        </ul>
    </div>
    <div class="container fn-clear">
        <table>
            <thead><tr><td class="fir"></td><td>导航图标</td><td>导航名</td><td>导航链接</td><td>操作</td></tr></thead>
            <tbody>
                {#if $custom_navArr#}
                {#foreach from=$custom_navArr key="k" item="nav"#}
                <tr data-id="{#$nav.id#}">
                    <td class="fir"></td>
                    <td>
                        <img data-url="{#$nav.icon#}" src="{#$nav.iconSource#}" class="img" style="height: 40px;">
                        <a href="javascript:;" class="upfile" title="删除">{#if $nav.icon#}重新上传{#else#}上传图标{#/if#}</a>
                        <input type="file" name="Filedata" class="imglist-hidden Filedata fn-hide" id="Filedata_cus_{#$k#}">
                        <input type="hidden" class="icon" value="">
                    </td>
                    <td><input type="text" class="tit" value="{#$nav.title#}" placeholder="请输入导航名" /></td>
                    <td><input type="text" class="link" value="{#$nav.url#}" placeholder="请输入网址，以http:// 或 https://开头" /></td>
                    <td><a href="javascript:;" class="link del">删除</a></td>
                </tr>
                {#/foreach#}
                {#/if#}
            </tbody>
        </table>
        <div class="nav-tabs fn-clear">
            <a href="javascript:;" class="btn add">添加导航</a>
            <button type="button" class="submit" id="submit">保存修改</button>
        </div>
    </div>
    {#else#}
    <div class="container fn-clear"><div class="w-form"><p style="color: #f00; text-align: center; line-height: 300px;font-size:16px;">请先配置站点信息！</p></div></div>
    {#/if#}
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.ajaxFileUpload.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/website-custom_nav.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
