{#$pageTitle = $langData['siteConfig'][19][466]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/website-news.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var atpage = 1, totalCount = 0, pageSize = 10, editUrl = '{#getUrlPath service='member' template='fabu' action='website' act='news'#}';
</script>
</head>

{#$pageCurr = "website-news"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	{#if {#verifyModuleAuth module='website'#}#}
    <div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
    	<a href="javascript:;" class="btn menuType">{#$langData['siteConfig'][6][80]#}</a>
    	<a href="{#getUrlPath service='member' template='fabu' action='website' act='news'#}" class="btn add">{#$langData['siteConfig'][6][81]#}</a>
    </div>
	<div class="container fn-clear">
		<div class="list article" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
	{#else#}
	<div class="container"><div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div></div>
	{#/if#}
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/website-news.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
