{#$pageTitle = $langData['siteConfig'][19][294]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw_log.css?v={#$cfg_staticVersion#}" media="all" />
<script>var atpage = 1, totalCount = 0, pageSize = 15, udomain = '{#$member_userDomain#}', bdomain = '{#$member_busiDomain#}';</script>
</head>

{#$pageCurr = "withdraw"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li><a href="{#getUrlPath service='member' template='deposit'#}">{#$langData['siteConfig'][21][76]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='withdraw'#}">{#$langData['siteConfig'][19][471]#}</a></li>
			<li class="active"><a href="javascript:;">{#$langData['siteConfig'][19][294]#}</a></li>
		</ul>
	</div>
	<div class="container">

		<ul class="main-sub-tab">
			<li class="sel">
				<label data-id="" class="curr"><s></s>{#$langData['siteConfig'][9][0]#}</label>
				<label data-id="0"><s></s>{#$langData['siteConfig'][9][14]#}</label>
				<label data-id="1"><s></s>{#$langData['siteConfig'][9][5]#}</label>
				<label data-id="2"><s></s>{#$langData['siteConfig'][9][6]#}</label>
			</li>
		</ul>

		<div class="list" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>

	</div>

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/withdraw_log.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
