{#$pageTitle = $langData['siteConfig'][19][860]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw_log_detail.css?v={#$cfg_staticVersion#}" media="all" />
</head>

{#$pageCurr = "withdraw"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li><a href="{#getUrlPath service='member' template='deposit'#}">{#$langData['siteConfig'][21][76]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='withdraw'#}">{#$langData['siteConfig'][19][471]#}</a></li>
			<li class="active"><a href="javascript:;">{#$langData['siteConfig'][19][294]#}</a></li>
		</ul>
	</div>
	<div class="container">

		<!-- put_forward -->
			{#if $tab == 'p'#}
				
				<!-- 银行 -->
				{#if $type == 'bank'#}

			<dl class="info-section">
				{#if $state == 0#}
					{#$stateTxt = $langData['siteConfig'][9][14]#}
				{#elseif $state == 1#}
					{#$stateTxt = $langData['siteConfig'][9][5]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][861]|cat:"："|cat:$rdate|cat:"</p>"#}
				{#elseif $state == 2#}
					{#$stateTxt = $langData['siteConfig'][9][6]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][862]|cat:"："|cat:$rdate|cat:"</p>"#}
				{#/if#}
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">{#$stateTxt#}</em></dt>
				<dd class="last"><p>{#$stateNote#}</p>{#$stateData#}</dd>
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>
				<dd>
					<ul>
						{#if $bank == "alipay"#}
						<li>{#$langData['siteConfig'][19][40]#}：{#$order_id#}</li>
						<li>{#$langData['siteConfig'][19][41]#}：{#$cardname#}</li>
						{#else#}
						<li>{#$langData['siteConfig'][23][96]#}：{#$bank#}</li>
						<li>{#$langData['siteConfig'][19][865]#}：{#$order_id#}</li>
						<li>{#$langData['siteConfig'][19][866]#}：{#$cardname#}</li>
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$pubdate#}</li>
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>
					</ul>
				</dd>
			</dl>
				
				<!-- 支付宝微信 -->
				{#else#}
			
			<dl class="info-section">
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">提现申请已提交</em></dt>
				<dd class="last"><p>{#$stateNote#}</p>资金到账可能有延迟，请耐心等待</dd>
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>
				<dd>
					<ul>
						{#if $type == "alipay"#}
						<li>提现方式：支付宝</li>
						{#elseif $type == "wxpay"#}
						<li>提现方式：微信</li>
						{#else#}
						<li>提现方式：快速提现</li>
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$pubdate#}</li>
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>
					</ul>
				</dd>
			</dl>

				{#/if#}

			{#else#}

			<dl class="info-section">
				{#if $state == 0#}
					{#$stateTxt = $langData['siteConfig'][9][14]#}
					{#if $bank == "alipay"#}
						{#$stateNote = $langData['siteConfig'][19][392]#}
					{#else#}
						{#$stateNote = $langData['siteConfig'][19][393]#}
					{#/if#}
				{#elseif $state == 1#}
					{#$stateTxt = $langData['siteConfig'][9][5]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][861]|cat:"："|cat:$rdate|cat:"</p>"#}
				{#elseif $state == 2#}
					{#$stateTxt = $langData['siteConfig'][9][6]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][862]|cat:"："|cat:$rdate|cat:"</p>"#}
				{#/if#}
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">{#$stateTxt#}</em></dt>
				<dd class="last"><p>{#$stateNote#}</p>{#$stateData#}</dd>
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>
				<dd>
					<ul>
						{#if $bank == "alipay"#}
						<li>{#$langData['siteConfig'][19][40]#}：{#$cardnum#}</li>
						<li>{#$langData['siteConfig'][19][41]#}：{#$cardname#}</li>
						{#else#}
						<li>{#$langData['siteConfig'][23][96]#}：{#$bank#}</li>
						<li>{#$langData['siteConfig'][19][865]#}：{#$cardnum#}</li>
						<li>{#$langData['siteConfig'][19][866]#}：{#$cardname#}</li>
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$tdate#}</li>
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>
					</ul>
				</dd>
			</dl>

			{#/if#}

	</div>

</div>

{#include file="footer.html"#}
</body>
</html>
