{#$pageTitle = $langData['siteConfig'][19][471]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw.css?v={#$cfg_staticVersion#}" media="all" />
<script>var money = {#$userinfo.money#}, withdrawLog = '{#getUrlPath service="member" template="withdraw_log_detail" id="%id%"#}';</script>
</head>

{#$pageCurr = "withdraw"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">{#$langData['siteConfig'][27][41]#}<a href="#" target="_blank">{#$langData['siteConfig'][26][56]#}</a> <a href="#" target="_blank">{#$langData['siteConfig'][26][57]#}</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li><a href="{#getUrlPath service='member' template='deposit'#}">{#$langData['siteConfig'][21][76]#}</a></li>
			<li class="active"><a href="javascript:;">{#$langData['siteConfig'][19][471]#}</a></li>
			<li><a href="{#getUrlPath service='member' template='withdraw_log'#}">{#$langData['siteConfig'][19][294]#}</a></li>
		</ul>
	</div>
	<div class="container">
		<div class="withdraw">
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][19][299]#}：</dt>
				<dd class="price">{#$userinfo.money#}</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][19][300]#}：</dt>
				<dd class="singel">
					<input type="radio" name="type" id="t1" value="1" checked />
					<label for="t1"><i></i> {#$langData['siteConfig'][19][301]#}</label>
					<input type="radio" name="type" id="t2" value="2" />
					<label for="t2"><i></i> {#$langData['siteConfig'][19][302]#}</label>
				</dd>
			</dl>
			<div class="mitem" id="type1">
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][36]#}：</dt>
					<dd>
						<input type="text" id="bank" name="bank" class="inp" maxlength="30" size="25" />
						<a href="javascript:;" class="historyBank">{#$langData['siteConfig'][19][303]#}<i></i></a>
						<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][204]#}</span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][37]#}：</dt>
					<dd>
						<input type="text" id="cardnum" name="cardnum" class="inp" maxlength="23" size="25" />
						<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][205]#}</span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][38]#}：</dt>
					<dd>
						<input type="text" id="cardname" name="cardname" class="inp" maxlength="10" size="10" />
						<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][206]#}</span>
					</dd>
				</dl>
			</div>
			<div class="mitem fn-hide" id="type2">
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][40]#}：</dt>
					<dd>
						<input type="text" id="alipaynum" name="alipaynum" class="inp" maxlength="30" size="25" />
						<a href="javascript:;" class="historyAlipay">{#$langData['siteConfig'][19][303]#}<i></i></a>
						<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][509]#}</span>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][41]#}：</dt>
					<dd>
						<input type="text" id="alipayname" name="alipayname" class="inp" maxlength="10" size="10" />
						<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][209]#}</span>
					</dd>
				</dl>
			</div>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][19][39]#}：</dt>
				<dd>
					<input type="text" id="amount" name="amount" class="inp" size="10" maxlength="10" />
					<span class="tip-inline"><s></s>{#$langData['siteConfig'][20][63]#}</span>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd class="agree">
					<label><input type="checkbox" name="agree" id="agree" checked />{#$langData['siteConfig'][6][88]#}</label> <a href="{#getUrlPath service='siteConfig' template='protocol' title='提现服务协议'#}" target="_blank">《{#$cfg_shortname#}{#$langData['siteConfig'][12][2]#}》</a><br />
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>&nbsp;</dt>
				<dd><input type="button" id="tj" value="{#$langData['siteConfig'][19][716]#}" /></dd>
			</dl>

			<div class="tips">
				<p>1. {#$langData['siteConfig'][19][861]#}：<br />&nbsp;&nbsp;&nbsp;&nbsp;{#$langData['siteConfig'][20][393]#}<br />&nbsp;&nbsp;&nbsp;&nbsp;{#$langData['siteConfig'][20][392]#}</p>
				<p>2. {#$langData['siteConfig'][27][76]#}：<br />&nbsp;&nbsp;&nbsp;&nbsp;{#$langData['siteConfig'][27][75]#}</p>
			</div>
		</div>

	</div>

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.inputmask.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/inputmask.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/withdraw.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
