@charset "utf8";
html{background: #fff;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);overflow: hidden;height: 100%;}
body{height: 100%;overflow: hidden;}

.map_man{height: 100%;    position: relative;}
.map{height: 100%;width: 100%;}

/*搜索框*/
.search-form{position: absolute;top: .26rem;left: 50%;margin-left: -3.5rem;}
.search-form .sobj {height: .74rem;border-radius: 3px;line-height: .74rem;display: -webkit-box;width: 7rem;float: left;background: #fff;}
.search-form .area {position: relative;-webkit-box-flex: 1;}
.search-form .area a {display: block;font-size: .24rem;color: #333;}
.search-form .area label {display: inline-block;vertical-align: middle;min-width: .5rem;max-width: 1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: -.03rem;padding-left: .2rem;}
.search-form .area s {display: inline-block;vertical-align: middle;border-right: 1px solid #a0a0a0;border-bottom: 1px solid #a0a0a0;width: .1rem;height: .1rem;transform: rotate(45deg);margin: -.08rem 0 0 .1rem;}
.search-form .area:after {position: absolute;content: "";right: .1rem;top: 50%;width: 1px;height: .46rem;margin-top: -.23rem;background: linear-gradient(#f6f6f6, #a9a9a9, #f6f6f6);}
.search-form .inp {-webkit-box-flex: 6;}
.search-form .inp input{height: .7rem;border: none;padding-left: .56rem;background: url(../images/ss.png) .1rem center no-repeat;background-size: .3rem;}
.search-form .inp span {position: absolute;right: 0;top: 0;width: 1rem;height: .74rem;background: #f6b80f;color: #fff;font-size: .26rem;text-align: center;}



.info{width: 100%;height: 8.6rem;position: absolute;bottom: 0.9rem;background: #fff;}
.huoniao_iOS .info{bottom:0;}
.info .info_txt{height: .87rem;line-height: .87rem;text-align: center;font-size: .28rem;border-bottom: 1px solid #f0f0f0;}
.info .info_txt em{background: url(../images/jiao_top.png) .1rem center no-repeat;background-size: .3rem;display: inline-block;height: .3rem;width: .6rem;vertical-align: middle;margin-left: .1rem;}
.info .info_txt em.txt_top{transform:rotate(180deg);-ms-transform:rotate(180deg); -moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg); }
.info .list{overflow-y: auto;height: 7.73rem;}
.info .list ul li{margin: 0 .26rem;padding: .24rem 0;border-bottom: 1px solid #f0f0f0;}
.info .list ul li .s_img{float: left;width: 2rem;height: 2rem;}
.info .list ul li .s_img img{width: 2rem;height: 2rem;}
.info .list ul li .s_title{float: left;margin-left: .17rem;height: 2rem;position: relative;width: 68%;}
.info .list ul li .s_title .bus_txt .bus_txt_title{font-size: .32rem;font-weight: bold;display: inline-block;float: left;}
.info .list ul li .s_title .bus_txt .business-txt{max-width: 3.6rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info .list ul li .s_title .bus_txt .mai{display: inline-block;width: .38rem;height: .38rem;text-align: center;line-height: .38rem;background: #f6b80f;color: #fff;font-size: .22rem;float: left;border-radius: .05rem;margin-left: .1rem;}
.info .list ul li .s_title .tuan{color: #a0a0a0;font-size: .26rem;margin: .14rem 0;}
.info .list ul li .s_title .tuan span em{color: #000;margin-left: .16rem;}
.info .list ul li .s_title .tuan span:last-child{margin-left: .3rem;}
.info .list ul li .s_title .quan span{float: left;}
.info .list ul li .s_title .quan span:first-child{display: inline-block;width: .38rem;height: .38rem;text-align: center;line-height: .38rem;background: #f67208;color: #fff;font-size: .22rem;float: left;border-radius: .05rem;}
.info .list ul li .s_title .quan span:last-child{color: #a0a0a0;font-size: .26rem;height: .38rem;line-height: .38rem;margin-left: .2rem;}
.info .list ul li .s_title .addr{position: absolute;bottom: 0;width: 100%;}
.info .list ul li .s_title .addr span{float: left;color: #a0a0a0;font-size: .26rem;margin-top: .2rem;}
.info .list ul li .s_title .addr a,.aa{float: right;width: 1.4rem;height: .56rem;background: #ff4930;border-radius: .1rem;line-height: .56rem;text-align: center;color: #fff;font-size: .26rem;}
.info ul li .s_title .addr span em:first-child {display: inline-block;width: 1.7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;margin-right: .1rem;}

.listHide{animation: tuanList_hide .5s;-moz-animation: tuanList_hide .5s;-webkit-animation: tuanList_hide .5s;-o-animation: tuanList_hide .5s;animation-fill-mode: forwards;}
.listShow{animation: tuanList_show .5s;-moz-animation: tuanList_show .5s;-webkit-animation: tuanList_show .5s;-o-animation: tuanList_show .5s;animation-fill-mode: forwards;}
.huoniao_iOS .listHide{animation: tuanList_hide_ .5s;-moz-animation: tuanList_hide_ .5s;-webkit-animation: tuanList_hide_ .5s;-o-animation: tuanList_hide_ .5s;animation-fill-mode: forwards;}
.huoniao_iOS .listShow{animation: tuanList_show_ .5s;-moz-animation: tuanList_show_ .5s;-webkit-animation: tuanList_show_ .5s;-o-animation: tuanList_show_ .5s;animation-fill-mode: forwards;}

@keyframes tuanList_hide {
    0% {
        bottom: 0.9rem;
    }
    100% {
            bottom: -6.8rem;
    }
}
@keyframes tuanList_show {
    0% {
        bottom: -6.8rem;

    }
    100% {
        bottom: 0.9rem;
    }
}

@keyframes tuanList_hide_ {
    0% {
        bottom: 0;
    }
    100% {
            bottom: -7.7rem;
    }
}
@keyframes tuanList_show_ {
    0% {
        bottom: -7.7rem;

    }
    100% {
        bottom: 0;
    }
}

.info .loading {height: 1rem; line-height: 1rem; text-align: center; margin-bottom: .2rem;}