@charset "utf8";html {background:#efefef;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
/*视频*/
.topMain {position:relative;height:4.5rem;}
.topMain video {width:100%;}
.playImg {position:absolute;top:42%;left:45%;}
.playImg img {width:.88rem;height:.88rem;}
.topMain .swiper-wrapper {height:4.5rem;}
.swiper-slide img {width:100%;display:block;}
.topMain .swiper-pagination {position:absolute;right:.25rem;bottom:.75rem;left:auto;width:auto;padding:.04rem .2rem;line-height:.4rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius:.4rem;font-size:.28rem;z-index:9;}
/*全屏*/
.fullscreen-box,.topMain .swiper-slide,.videoModal {width:100%;height:100%;background:#000;}
.fullscreen-box,.videoModal {position:fixed;z-index:1000000;top:0;left:0;bottom:0;-webkit-animation:bounceInDown .6s ease-out;-moz-animation:bounceInDown .6s ease-out;animation:bounceInDown .6s ease-out;}
.fullscreen-box .swiper-slide img {position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.fullscreen-box video,.fuuscreen-box .video-box {height:100%;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.fullscreen-box .swiper-wrapper {height:100%;}
.fullscreen-box .vClose,.videoModal .vClose {position:absolute;top:.2rem;right:.2rem;width:.5rem;height:.5rem;display:block;background:url(../images/vclose.png) no-repeat center center;background-size:.5rem;z-index:11;}
.videoModal {display:none;}
@-webkit-keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-moz-keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes bounceInDown {0% {opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
60% {opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}
80% {-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
100% {-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
/*视频播放*//*控制条*/
#video-control {width:100%;position:absolute;bottom:0;left:0;display:flex;display:-webkit-flex;align-items:center;-webkit-box-align:center;padding:5px 0;background-image:linear-gradient(-180deg,rgba(0,0,0,.3),rgba(0,0,0,.5));}
.btn-control {width:5%;float:left;padding-left:10px}
#video-control .play {width:.3rem;height:.3rem;background:url(../images/m_detail_video_icon.png) no-repeat;background-size:1.2rem;background-position:0 0;}
#video-control .pause {width:.3rem;height:.3rem;background:url(../images/m_detail_video_icon.png) no-repeat;background-size:1.2rem;background-position:0 -.4rem;}
.time {color:#fff;float:left;width:9%;font-size:.26rem;margin-left:.1rem;}
#progress {float:left;width:55%;height:5px;background:#fff;border-radius:5px;margin-left:.2rem;position:relative}
#bar {width:0;height:100%;background:#0598e7;border-radius:3px;display:inline-block;position:absolute;top:0;left:0}
#control {width:.2rem;height:.2rem;position:absolute;border-radius:100%;left:0;top:-2.2px;background:#fff}
.soundon {width:.4rem;height:.4rem;background:url(../images/soundon.png) no-repeat;background-size:.4rem;margin-left:.2rem;}
.soundoff {width:.5rem;height:.5rem;background:url(../images/soundoff.png) no-repeat;background-size:.5rem;margin-left:.2rem;}
#volume {float:left;width:15%;height:5px;background:#fff;box-shadow:1px 1px 2px 2px #232;border-radius:5px;margin-left:2px;position:relative}
#volume-bar {width:10%;height:100%;background:#ccc;border-radius:3px;display:inline-block;position:absolute;top:0;left:0}
#volume-control {width:15px;height:15px;position:absolute;border-radius:100%;left:0;top:-4px;background:#fff;box-shadow:1px 1px 2px 2px #132}
.full {width:.5rem;height:.5rem;float:left;margin-left:.5rem;transition:.3s all;background:url(../images/m_detail_video_icon.png) no-repeat;background-position:0 -.85rem;background-size:1.4rem;}
.full.small {width:.5rem;height:.5rem;float:left;margin-left:.5rem;transition:.3s all;background:url(../images/m_detail_video_icon.png) no-repeat;background-position:0 -1.3rem;background-size:1.4rem;}
video::-webkit-media-controls-enclosure {overflow:hidden}
video::-webkit-media-controls-panel {width:calc(100% + 35px)}
/*按钮组合*/
.video-btn {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}
.load-box,.play-box,.reload-box {background:rgba(0,0,0,.4);border-radius:50%;text-align:center;width:1rem;height:1rem;position:relative}
.pause-icon,.play-icon {display:block;width:.4rem;height:.4rem;background:url(../images/m_detail_video_icon.png)no-repeat;background-size:1.48rem}
.play-icon {background-position:0 0;margin-left:.4rem;position:absolute;top:.3rem}
.pause-icon {background-position:0-.45rem;margin-left:.32rem;position:absolute;top:.3rem}
.load-icon {width:.5rem;height:.5rem;display:block;position:absolute;top:.24rem;left:.23rem;background:url(../images/load.png)no-repeat;background-size:.52rem;animation:loading 2s linear infinite;-webkit-animation:loading 2s linear infinite}
@keyframes loading {0% {transform:rotate(1turn)}
to {transform:rotate(0deg)}
}
.reload-icon {display:block;position:relative;top:50%;left:25%;transform:translateY(-50%);width:.5rem;height:.5rem;background:url(../images/m_detail_video_icon.png)no-repeat;background-size:1.48rem;background-position:0-1.94rem}
.reload-box p {display:none;white-space:nowrap;line-height:.16rem;color:#fff;font-size:.15rem;margin-left:.1rem}
.error-box .reload-box {border:1px solid#fff;border-radius:100px;padding:.08rem.5rem;display:flex;display:-webkit-flex;align-items:center;width:auto;height:auto;background:none}
.error-box .reload-icon {top:auto;left:auto;transform:translateY(0)}
.err-info {font-size:.14rem;color:#fff;line-height:.16rem;margin-bottom:.2rem}
.error-box p {display:block}
.main_txt {background:#fff;padding:.4rem .25rem 0 .25rem;margin-bottom:.15rem;position: relative;}
.main_txt .title h2 {font-size:.36rem;font-weight:bold;margin-bottom:.2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main_txt .title .pinfen {color:#a0a0a0;margin-bottom:.2rem;}
.main_txt .title .pinfen div,.main_txt .title .pinfen span {float:left;}
.main_txt .title .pinfen span.centerSpan {margin:0 .16rem;}
.main_txt .title .pinfen .judge-star {position:relative;background:url(../images/xinxin.png) 0 0 repeat-x;background-size:auto .3rem;width:1.5rem;height:.3rem;}
.main_txt .title .pinfen .judge-star s {position:absolute;display:block;height:.3rem;background:url(../images/xinxin_x.png) 0 0 repeat-x;background-size:auto .3rem;}
.main_txt .title {border-bottom:1px solid #e5e5e5;}
.main_txt .service .map_phone {position:relative;}
.main_txt .service .map_phone p {font-size:.27rem;color:#a0a0a0;margin:.2rem 0;background:url(../images/de_01.png) left center no-repeat;background-size:.22rem;padding-left:.4rem;width:5.6rem;border-right:1px solid #e0e0e0;padding-right:.2rem;float:left;}
.main_txt .service .map_phone div a {background:url(../images/phone.png) left center no-repeat;background-size:.5rem;display:inline-block;width:.5rem;height:.5rem;}
.main_txt .service .map_phone div {display:inline-block;width:12%;position:absolute;top:50%;text-align:center;margin-top:-.25rem;}
.main_txt .service {color:#a0a0a0;float:.25rem;padding:0 0 .18rem 0;}
.main_txt .service .service_04 {margin-left:.26rem;float:right;background:url(../images/fenxiang.png) left center no-repeat;background-size:.3rem;padding-left:.4rem;height:.34rem;display:inline-block;line-height:.34rem;}
.main_txt .service .service_03 {float:right;padding-left:.4rem;margin-left:.4rem;height:.34rem;display:inline-block;line-height:.34rem;}
.main_txt .service .cang {background:url(../images/xin.png) left center no-repeat;background-size:.3rem;}
.main_txt .service .cang_active {background:url(../images/xin_h.png) left center no-repeat;background-size:.3rem;}
.main_txt .service .service_f {margin:.2rem 0 .1rem 0; display: none;}
.HN_PublicShare{display: block !important;}
/*用户评论*/
.info_comment {padding:.3rem 0 .18rem .22rem;font-size:.28rem;color:#333;border-bottom:1px solid #eeeeee;}
.tuan_comment {background:#fff;margin-bottom:.15rem;}
.commentBox ul li {padding:.2rem;border-bottom:solid .02rem #eee;}
.commentBox ul li .left,.commentBox ul li .right {float:left;}
.commentBox ul li img {width:.5rem;height:.5rem;border-radius:100%;}
.commentBox ul li .right {margin-left:.2rem;/*width:88%;*/    padding-bottom:.2rem;}
.commentBox ul li .right .name {font-size:.3rem;margin-bottom:.1rem;}
.commentBox ul li .right .name span {height:auto;color:#a0a0a0;margin-left:.18rem;font-size:.25rem;}
.commentBox ul li .right .content {font-size:.32rem;color:#333;width:6.2rem;word-break:break-all;}
.commentBox ul li .right .content span {color:#f79810;}
.commentBox ul.children {padding-left:.5rem;float:left;}
.commentBox ul li:last-child {border-bottom:none;}
.commentBox ul li .children li .right {padding-bottom:0!important;}
.commentBox ul li .children li .right .content {width:5.4rem;}
.tuan_comment .genduo {border-top:solid .02rem #eee;padding:.24rem 0;}
.tuan_comment .genduo a {font-size:.28rem;color:#a0a0a0;display:inline-block;width:100%;text-align:center;background:url(../images/jiao_h_right.png) 4.8rem center no-repeat;background-size:.16rem;}
/*团购 和 附近商家*/
.tuan_other {background:#fff;margin-bottom:.15rem;}
.shangjia{margin-bottom: 1.2rem;}
.tuan_other .info_comment .sst,.tuan_other .info_comment .gqt {float:right;background:url(../images/dui_h.png) left center no-repeat;background-size:.3rem;margin-right:.2rem;padding-left:.38rem;color:#a0a0a0;}
.shangjia .info ul li .s_title .addr span em:first-child {display:inline-block;width:1.7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;margin-right:.1rem;}
.tuan_other ul li>i {position:absolute;background:url(../images/zhiding.png) center center no-repeat;display:inline-block;width:.72rem;height:.72rem;background-size:.72rem;top:0;right:-.24rem;}
.tuan_other .info {padding:0 .24rem;}
.tuan_other .info ul li {padding:.4rem 0;border-bottom:1px solid #e5e5e5;position:relative;}
.tuan_other .info ul li:last-child {border-bottom:none;}
.tuan_other .info ul li .s_img {float:left;width:2rem;height:2rem;}
.tuan_other .info ul li .s_img img {width:2rem;height:2rem;}
.tuan_other .info ul li .s_title {float:left;margin-left:.17rem;height:2rem;position:relative;width:68%;}
.tuan_other .info ul li .s_title .bus_txt .bus_txt_title {font-size:.32rem;font-weight:bold;display:inline-block;float:left;}
.tuan_other .info ul li .s_title .bus_txt .business-txt {max-width:4.2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tuan_other .info ul li .s_title .bus_txt .mai {display:inline-block;width:.38rem;height:.38rem;text-align:center;line-height:.38rem;background:#f6b80f;color:#fff;font-size:.22rem;float:left;border-radius:.05rem;margin-left:.1rem;}
.tuan_other .info ul li .s_title .tuan {color:#a0a0a0;font-size:.26rem;margin:.14rem 0;}
.tuan_other .info ul li .s_title .tuan span em {color:#000;margin-left:.16rem;}
.tuan_other .info ul li .s_title .tuan span:last-child {margin-left:.3rem;}
.tuan_other .info ul li .s_title .quan span {float:left;}
.tuan_other .info ul li .s_title .quan span:first-child {display:inline-block;width:.38rem;height:.38rem;text-align:center;line-height:.38rem;background:#f67208;color:#fff;font-size:.22rem;float:left;border-radius:.05rem;}
.tuan_other .info ul li .s_title .quan span:last-child {color:#a0a0a0;font-size:.26rem;height:.38rem;line-height:.38rem;margin-left:.2rem;}
.tuan_other .info ul li .s_title .addr {position:absolute;bottom:0;width:100%;}
.tuan_other .info ul li .s_title .addr span {float:left;color:#a0a0a0;font-size:.26rem;margin-top:.2rem;}
.tuan_other .info ul li .s_title .addr a,.aa {float:right;width:1.4rem;height:.56rem;background:#ff4930;border-radius:.1rem;line-height:.56rem;text-align:center;color:#fff;font-size:.26rem;}
.tuan_other .tuangou_people {color:#a0a0a0;font-size:.26rem;height:.6rem;line-height:.6rem;position:absolute;bottom:.5rem;}
.tuan_other .tuangou_price .discounted {color:#fa4a3d!important;margin-top:.16rem!important;}
.tuan_other .tuangou_price .discounted em {font-size:.32rem;font-weight:bold;}
.tuan_other .tuangou_price .or_price {font-size:.26rem;text-decoration:line-through;color:#a0a0a0;margin-left:.1rem;margin-top:.24rem!important;}
/*电话模态框*/
.modal-public {visibility:hidden;position:fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index:999;}
.modal-public.curr {visibility:visible;}
.bgCover {opacity:1;visibility:hidden;overflow:hidden;background:#000;position:fixed;top:0px;left:0px;right:0;bottom:0;z-index:99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity:.6;visibility:visible;}
.modal-public .modal-main {display:block;position:relative!important;width:70%;padding:.6rem .1rem 0;text-align:center;margin:auto;height:auto;position:fixed;left:0;top:25%;right:0;background:#fff;z-index:9999;-webkit-border-radius:0.04rem;-moz-border-radius:0.04rem;border-radius:0.04rem;}
.modal-public .modal-main .topline {width:100%;height:.04rem;position:absolute;top:0;left:0;right:0;}
.modal-public .modal-main .topline .lline,.modal-public .modal-main .topline .rline {width:50%;height:.04rem;float:left;}
.modal-public .modal-main .topline .lline {background:#f45118;-webkit-border-top-left-radius:.04rem;border-top-left-radius:.04rem;}
.modal-public .modal-main .topline .rline {background:#f4b318;-webkit-border-top-right-radius:.04rem;border-top-right-radius:.04rem;}
.curr .modal-main {display:block;-webkit-animation:popup .3s ease-in;-moz-animation:popup .3s ease-in;animation:popup .3s ease-in;}
.modal-public .close {width:.7rem;height:.7rem;position:absolute;top:.24rem;right:.21rem;}
.modal-public .close img {width:100%;}
.modal-public .modal-main h3 {font-size:.36rem;padding-bottom:.35rem;border-bottom:solid 1px #eee;}
.modal-public .modal-main p {padding:.35rem .2rem;border-bottom:solid 1px #eee;font-size:.32rem;background:none;text-align:center;}
@-webkit-keyframes popup {0% {-webkit-transform:scale(0);}
60% {-webkit-transform:scale(1.1);}
100% {-webkit-transform:scale(1);}
}
@-moz-keyframes popup {0% {-moz-transform:scale(0);}
60% {-moz-transform:scale(1.1);}
100% {-moz-transform:scale(1);}
}
@keyframes popup {0% {transform:scale(0);}
60% {transform:scale(1.1);}
100% {transform:scale(1);}
}
.main_txt i {position: absolute;background: url(../images/zhiding.png) center center no-repeat;display: inline-block;width: .72rem;height: .72rem;background-size: .72rem;top: 0;right: .0rem;}
#sug{float: right;width: 1.4rem;height: .48rem;background: #ff4930;border-radius: .1rem;line-height: .48rem;text-align: center;color: #fff;font-size: .26rem;margin-right: .3rem;}



/*底部*/
.foot_bottom{height: 1.28rem;width: 100%;background: #fff;position: fixed;bottom: 0;left: 0;right: 0;padding: .2rem .24rem;box-sizing: border-box;display: -webkit-box;z-index: 10;}
.foot_bottom .f_left{  -webkit-box-flex: 1;display: -webkit-box;text-align: center;}
.foot_bottom .f_left .l-item{width:50%;padding-top: .12rem;}
.foot_bottom .f_left .scBox{width: .8rem;color: #333;}
.foot_bottom .f_left .scBox s{display: block;width: .36rem;height: .31rem;background: url("../images/sc_01.png") no-repeat;background-size: contain;margin: 0 auto .07rem;}
.foot_bottom .f_left .scBox.has s{display: block;width: .36rem;height: .31rem;background: url("../images/sc_02.png") no-repeat;background-size: contain;margin: 0 auto .07rem;}
/*.foot_bottom .f_left .scBox.has{color:#ff7054;}*/
.foot_bottom .f_left .plBox s{display: inline-block;width: .34rem;height: .31rem;background: url("../images/fs_01.png") no-repeat;background-size: .3rem;}
.foot_bottom .f_right{ -webkit-box-flex: 2;display: -webkit-box;font-size: .32rem;font-weight: bold;}
.foot_bottom .f_right .r-item{-webkit-box-flex: 1;}
.foot_bottom .f_right .ftel{background:rgba(255,181,86,1);border-radius:.06rem 0 0 .06rem;color: #fff;line-height: .88rem;text-align: center;}
.foot_bottom .f_right .fbuy{background:linear-gradient(90deg,rgba(251,115,93,1) 0%,rgba(251,88,69,1) 100%);border-radius:0 .06rem .06rem 0;line-height: .88rem;text-align: center;}
.foot_bottom .f_right a{color: #fff;}
.foot_bottom .f_right{ -webkit-box-flex: 4;display: -webkit-box;font-size: .32rem;font-weight: bold;}
