<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="{#$cfg_soft_lang#}">
<title>{#if $keywords#}搜索：{#$keywords#}-{#else#}{#if $live_typename#}{#$live_typename#}-{#/if#}{#/if#}{#$live_title#}</title>
<meta name="keywords" content="{#$live_keywords#}" />
<meta name="description" content="{#$live_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/livelist.css?v={#$cfg_staticVersion#}" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$live_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
    var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>
<body class="w1200">
<!--导航 s-->
{#include file="_top.html"#}
<!--导航 e-->
<div class="wrap">
    <div class="select_bar fn-clear">
        <ul class="cateList fn-left">
            <li {#if $state=='' && $typeid==''#}class="curr"{#/if#}><a href="{#getUrlPath service='live' template='livelist'#}">全部</a></li>
            <li {#if $state==1#}class="curr"{#/if#}><a href="{#getUrlPath service='live' template='livelist' typeid={#$typeid#} state='1'#}">直播中</a></li>
            <li {#if $state==2#}class="curr"{#/if#}><a href="{#getUrlPath service='live' template='livelist' typeid={#$typeid#} state='2'#}">精彩回放</a></li>
            <!-- <li><a href="{#getUrlPath service='live' template='livelist' typeid={#$addrid#}#}">节目预告</a></li> -->
        </ul>

        <div class="sele_r fn-right">
            <dl class="state fn-left">
                <dt><a href="javascript:;">默认排序</a></dt>
                <em></em>
                <div class="ModuleBox">
                    <a href="{#getUrlPath service='live' template='livelist' typeid={#$typeid#} state={#$state#}#}">默认排序</a>
                    <a href="{#getUrlPath service='live' template='livelist' typeid={#$typeid#} state={#$state#} orderby='1'#}">热度最高</a>
                    <a href="{#getUrlPath service='live' template='livelist' typeid={#$typeid#} state={#$state#} orderby='2'#}">最新发布</a>
                </div>
            </dl>

        </div>
    </div>
    <div class="filter">
        <div class="container zhiBo show">
            <div class="select_x">
            <div class="selectList">
                    <div class="fir">
                        <a class="all {#if $typeid=='' || $typeid==0#}curr{#/if#}" href="{#getUrlPath service='live' template='livelist' typeid='0' state={#$state#} orderby={#$orderby#}#}">不限分类</a>
                        {#live action="type" return="typenav" type="0"#}
                        {#if $_bindex.typenav<8#}
                        <a class="{#if $typeid==$typenav.id#}curr{#/if#}" href="{#getUrlPath service='live' template='livelist' typeid={#$typenav.id#} state={#$state#} orderby={#$orderby#}#}">{#$typenav.typename#}</a>
                        {#/if#}
                        {#$n=$_bindex.typenav#}
                        {#/live#}
                        {#$_bindex.typenav=null#}
                        {#if $n>7#}
                        <span class="more"><i></i>更多</span>
                        {#/if#}
                    </div>

                    <div class="sec">
                        {#live action="type" return="typenav" type="0"#}
                        {#if $_bindex.typenav>=8#}
                        <a class="{#if $typeid==$typenav.id#}curr{#/if#}" href="{#getUrlPath service='live' template='livelist' typeid={#$typenav.id#} state={#$state#} orderby={#$orderby#}#}">{#$typenav.typename#}</a>
                        {#/if#}
                        {#/live#}
                    </div>
                </div>
            </div>
            <div class="conBox">
                <ul class="conList fn-clear">
                    {#live action="alive" return="row" typeid="{#$typeid#}" state={#$state#} orderby={#$orderby#} page={#$page#} pageSize="16"#}
                    <li><a target="_blank" href="{#$row.url#}">
                        <div class="img_box">
                            <img src="{#changeFileSize url="{#$row.litpic#}" type="small"#}" alt="">
                            {#if $row.state==1#}
                            <i class="live"></i>
                            {#elseif $row.state==2#}
                            <i class="hui"></i>
                            {#/if#}
                            <!-- <div class="daojishi"><span class="h">00</span>:<span class="m">56</span>:<span class="s">51</span></div>
                            <i class="yu"></i> -->
                            <div class="code_bg"><div class="code"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#$row.url#}" alt=""></div></div>
                        </div>
                        <div class="info">
                            <p class="tit sliceFont3" data-num="18">{#$row.title#}</p>
                            <div class="user fn-clear"><div class="u_logo"><img src="{#changeFileSize url="{#$row.photo#}" type="small"#}" alt=""></div><span class="name">{#$row.nickname#}</span> <span class="num fn-right"><i></i>{#$row.click#}</span></div>
                        </div>
                    </a></li>
                    {#/live#}
                    {#if $pageInfo.totalCount == 0#}
                    <div class="empty">抱歉！ 未找到相关直播</div>
                    {#/if#}
                </ul>

                {#getPageList service='live' template='livelist' typeid={#$typeid#} state={#$state#} orderby={#$orderby#}#}


            </div>
        </div>
    </div>



</div>

<!--底部 s-->
{#include file="footer.html"#}
<!--底部 e-->
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/livelist.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
