<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>意见反馈-{#$cfg_webname#}</title>
<meta name="keywords" content="{#$cfg_keywords#}" />
<meta name="description" content="{#$cfg_description#}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../member/css/login.css?v=5" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/feedback.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}', templets_skin = '{#$templets_skin#}', staticPath = '{#$cfg_staticPath#}';
    var hideFileUrl ={#$cfg_hideUrl#};
</script>
</head>

<body class="w1200">
<!--顶部-->
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}

<!-- head s -->
<div class="wrap header fn-clear">
    <div class="logo">
        <a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
            <img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
        </a>
        <div class="shortname"><h2>{#$cfg_shortname#}</h2><p>{#$cfg_webname#}</p></div>
    </div>
    <dl class="kefu fn-clear">
        <dt><img src="{#$templets_skin#}../member/images/kf_tel.png" alt=""></dt>
        <dd>
            <p class="p1">客服热线</p>
            <p class="p2">{#$cfg_hotline#}</p>
        </dd>
    </dl>
</div>
<div class="split-line"></div>
<!-- head e -->

<div class="container">
    <div class="wrap">
    <div class="crumbs">
        <div class="cont"><a href="{#$cfg_basehost#}">首页</a> ><a href="{#getUrlPath service='siteConfig' template='feedback'#}">意见反馈</a> </div>
    </div>

    <!--发布意见-->
    <div class="txt_box">
        <div class="txt">
            <textarea class="feednews" type="text" placeholder="请描述您的问题或建议，我们将尽快核实、优化体验，感谢您的反馈"></textarea>
        </div>
        <div class="phone_box"><label for="phonetxt">联系方式</label><input type="text" class="phonetxt" id="phonetxt" placeholder="您的手机号码"><span id="message">*以便我们与您联系，此信息不对外公布</span></div>
        <a href="javascript:;" class="subtn" id="sendBtn">提交</a>
    </div>

    <!--意见列表-->
    <div class="list_box">
        <div class="tit">用户反馈</div>
        <div class="mod-list" id="mod-item">
            <ul class="feedlist">
            </ul>

            <div class="pagination fn-clear">
            </div>

        </div>
    </div>
    </div>
</div>


<div class="split-line"></div>
<!-- 内容部分 -->
<!-- 底部 s -->
<div class="footer-login">
    <p>
        {#siteConfig action="singel"#}
        <a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}">{#$row.title#}</a><span class="pice">|</span>
        {#/siteConfig#}
        <a href="{#getUrlPath service='siteConfig' template='help'#}">帮助中心</a>
    </p>
    {#$cfg_powerby#}
</div>
<!-- 底部 e -->
{#$cfg_statisticscode#}

<script>
    var atpage =1,
        pageSize = 10;
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/feedback.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>