.w-tabbox-tabs .w-tabbox-tab {
	position:relative
}
.w-tabbox-tabs .w-tabbox-tab.inlinediting {
	cursor:text !important;
	box-shadow:inset 0 0 3px rgba(0,0,0),0 0 4px !important
}
.w-tabbox-tabs .w-tabbox-tab.inlinediting > a {
	cursor:text !important
}
.w-tabbox-tabs .w-tabbox-tab > .diy-remove {
	background-color:#55B9FF;
	height:16px;
	width:16px;
	cursor:pointer;
	opacity:.7;
	top:0;
	z-index:200;
	color:white;
	text-align:center;
	line-height:16px;
	position:absolute;
	display:none;
	top:2px;
	right:2px
}
.w-tabbox-tabs .w-tabbox-tab > .diy-remove:after {
	font-family:"icon";
	font-size:12px;
	font-style:normal;
	vertical-align:middle;
	content:"\E60A"
}
.diy-design-mode .w-tabbox-tabs .w-tabbox-tab:hover > .diy-remove {
	display:inline-block
}
.w-tabbox-tabs .w-tabbox-tab:first-child:nth-last-child(2) > .diy-remove {
	display:none
}
.w-tabbox-tabs .w-tabbox-tab.inlinediting > .diy-remove {
	display:none
}
.w-tabbox-tabs .w-tabbox-tab > .diy-remove:hover {
	opacity:1;
	background-color:#ff1a27
}
.diy-design-mode .w-tabbox-tabs .w-tabbox-tab.last {
	display:block
}
.w-tabbox-tabs .w-tabbox-tab.last {
	display:none
}
.w-tabbox-tabs .w-tabbox-tab > .diy-add {
	font-size:16px;
	font-weight:bold
}
