body{background-color:#f2f2f2;}
.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}
.padTop20 .main{margin-top: 1.4rem;}
.absolute.header {position: fixed;}
/*内容部分*/
.main{padding-top: .9rem;}
.main-left{width: 1.8rem;position: fixed;left:0;top:.9rem;bottom:0;overflow-y: auto;}
.main-left ul{width: 1.7rem;background: #fff;}
.main-left li{position: relative;}
.main-left li a{display: block;font-size: .3rem;color:#333;width: 1.6rem;height: 1rem;text-align: left;display: block;line-height: 1rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-left: .24rem;}
.main-left li.active a{background-color: #ff3451;color: #fff;width: 1.7rem;}
.main-left li.active:after{content: '';width: 0;height:0;border-right: .1rem solid transparent;border-top: .1rem solid #d7243e;position: absolute;right: -.1rem;bottom:-.1rem; }
.main-right{margin-left: 1.9rem;}
.main-right .box-con{padding-right: .15rem;margin-bottom: .2rem;}
.main-right .box-con .ultitle{font-size: .3rem;color:#ff3451;padding:.3rem 0 .25rem .2rem;}
.main-right .box-con ul {border-radius: .1rem;background-color: #fff;padding:.2rem;}
.main-right .box-con ul.brand-ul{max-height: 4.4rem;overflow-y:auto;}
.main-right .box-con ul li{width: 33.33%;float: left;text-align: center;margin:.2rem auto 0;}
.main-right .box-con ul li a{display: block;}
.main-right .box-con ul li .imgbox{background-color:#fff;box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);width: 1.2rem;height: 1.2rem;margin:auto;}
.main-right .box-con ul li .imgbox img{width: 100%;height:100%;}
.main-right .box-con ul li .imgtxt{padding:.19rem 0;font-size: .26rem;color:#404040;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


#left-box{overflow: hidden;}
.dn{display: none;}
.huoniao_iOS .main{padding-top:1.1rem;}
.huoniao_iOS .main-left{padding-top:20px;}