body{background: #f2f2f2;}
.l,.r{float: left;}

.miaoshabox{padding:0 .15rem;}
.miaoshabox .contbox{position:relative;background: #fff url(../images/mstart.png) no-repeat 109% 154%;background-size:2.9rem;border-radius: .08rem;height: 3.5rem;padding:.4rem;margin:.1rem 0;overflow: hidden;}
.contbox.disabled{background: #fff url(../images/mend.png) no-repeat 109% 154%;background-size:2.9rem;}
.contbox.disabled .bocover{position: absolute;top:0;left:0;right:0;bottom:0;background: rgba(0,0,0,.2); z-index: 20;}

.contbox.mnostart{background: #fff url(../images/mnstart.png) no-repeat 109% 154%;background-size:2.9rem;}

.miaoshabox .ttopbox{position: relative;}
.miaoshabox .mfImg img{height: .31rem;}
.miaoshabox .jsTime span{float: left;width: .43rem;height: .43rem;line-height:.43rem;border-radius: 4px;background-color: rgb(255, 52, 81);text-align: center;font-size: .26rem;color:#fff;}
.miaoshabox .jsTime em{float: left;padding:0 .1rem;line-height: .4rem;font-size: .32rem;}
.miaoshabox .ttopbox .m_detail{display:block;position: absolute;right:0;top:0;line-height: .4rem;font-size: .28rem;color:#808080;}
s.right{display: inline-block;vertical-align: middle;border-right: 1px solid #a0a0a0;border-bottom: 1px solid #a0a0a0;width: .12rem;height: .12rem;transform: rotate(-45deg);margin-top: -.1rem;}
.mainbox{margin-top: .5rem;}
.miaoshabox .imgbox{width: 2.4rem;height: 2.4rem;margin-right: .4rem;}
.miaoshabox .imgbox img{width: 100%;height: 100%;}
.miaoshabox .txtbox{width: 56%;}
.miaoshabox .txtbox .fibox{height:1.8rem;}
.miaoshabox .txtbox h3,.miaoshabox .txtbox h4{color:#333;line-height: .45rem;line-height: .45rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.miaoshabox .txtbox h3{font-size: .3rem;}
.miaoshabox .txtbox h4{font-size: .28rem;}
.xianl{padding: 0 .2rem .05rem;border-radius: .13rem;background-color: #ff3451;height:.5rem;line-height: .5rem;text-align: center;color:#fff;font-size: .3rem;}
.xianl em{margin:0 .2rem;}
.pprice .nprice{font-size: .5rem;color:#ff3451;}
.pprice .nprice em{font-size: .36rem;}
.pprice .yprice{font-size: .24rem;color:#999;text-decoration: line-through;}

