.msinfo{height:.88rem;background: #ff3451;margin:0;color:#fff;padding:0 .25rem;}
.msinfo .l,.msinfo .r{float: left;}
.msinfo .nprice{font-size: .68rem;margin-right: .2rem;}
.msinfo .nprice em{font-size: .42rem;}
.msinfo .yprice{font-size: .28rem;color:rgba(255, 255, 255, 0.502);text-decoration: line-through;}

.msinfo .jsTime span{float: left;width: .43rem;height: .43rem;line-height:.43rem;border-radius: 4px;background-color: #fff;text-align: center;font-size: .26rem;color:#ff3451;}
.msinfo .jsTime em{float: left;padding:0 .1rem;line-height: .4rem;font-size: .32rem;}
/*秒杀未开始状态*/
.msinfo .r .rtime{margin-left: 1.4rem;}
.msinfo .r span{margin: .02rem 0;display: block;}
/*秒杀已开始状态*/
.msinfo .r img{height: .3rem; margin: .28rem 0 0 1.7rem;}
/*秒杀已结束状态*/
.msinfo .r .pend{font-size: .28rem;color:#fff;line-height: .88rem;margin-left: 1.7rem;}
.shopInfo h2{margin: 0 0 .3rem 0!important;}
/*底部未开始与已结束状态*/
.footer .fbox.gobuy.disabled{ background-image: -moz-linear-gradient( 0deg, #acacac 0%, #838383 100%);background-image: -webkit-linear-gradient( 0deg, #acacac 0%, #838383 100%);background-image: -ms-linear-gradient( 0deg, #acacac 0%, #838383 100%);}
.topSwiper{overflow:hidden;}
.msend .alendcover{width:2.02rem;height:1.96rem;position: absolute; top: -.4rem;right: -.25rem;background: url(../images/alend.png) no-repeat;background-size: 2.02rem;z-index: 2; }