body{background: #f2f2f2 ;}
.nos ,.nos body{overflow: hidden;}
.shopbgbox{ position:relative;height: 4.96rem;margin-top: .9rem;   z-index: 2; transition: all .5s;}
.sbcover{position: absolute; top:0;bottom:0;right:0;left:0;background-size: cover;z-index: -1;-webkit-filter: blur(3px);filter: blur(3px);}
.sbcover .bcover{background-color: rgba(0,0,0,.5);position: absolute; top:0;bottom:0;right:0;left:0;}
.sbcover .bottom{display:block;background: linear-gradient(rgba(242,242,242,.2), rgba(242,242,242,1));position: absolute;bottom:0;left:0;right:0;height: .6rem;}

/*头部*/
.absolute.header{position: fixed;}

.shoptop{padding: .15rem; position:relative; }
/*搜索*/
.search-form form{width: 5.88rem;height: .6rem;position: relative;}
.search-form form .inp{width: 5.18rem;height: .64rem;line-height: .64rem;font-size: .26rem;background-color: rgba(242, 242, 242,0.2);border:none;border-radius: .32rem;padding-left: .7rem;color:#fff;}
.search-form form span{text-align: center;font-size: .3rem;color:#fff;margin-left: .34rem; display: inline-block;position: absolute;right:0;top: .09rem;margin-right: .32rem;}
.search-form form .isearch{ position: absolute;top: .19rem;left:.33rem;width:.24rem;height:.24rem;vertical-align:middle;}
.search-form form .isearch:before {position:absolute;content:"";left:0;top:0;width:.16rem;height:.16rem;border:1px solid #fff;border-radius:50%;}
.search-form form .isearch:after {position:absolute;content:"";left:.19rem;top:.15rem;transform:rotate(-45deg);width:1px;height:.08rem;overflow:hidden;background:#fff;}

.inp::-webkit-input-placeholder { color:rgba(255, 255, 255, 0.502);}
.inp:-moz-placeholder { color:rgba(255, 255, 255, 0.502);}
.inp::-moz-placeholder { color:rgba(255, 255, 255, 0.502);}
.inp:-ms-input-placeholder {color:rgba(255, 255, 255, 0.502);}


.shoptop .btn-fenlei{display: block;position: absolute;right: .15rem;top:.15rem;width: 1.1rem;height: .64rem;background: rgba(0,0,0,.3);border-radius: .32rem;line-height: .6rem;text-align: center;color:#fff;font-size: .3rem;}

/*店铺信息*/
.sbotop{padding:.7rem .25rem;}
.sbleft{width: 1.07rem;height: 1.07rem;overflow:hidden;border-radius: .1rem;margin-right: .25rem;float: left;}
.sbleft img{width: 100%;height: 100%;}
.sbright{float: left;width: 81%;position: relative;}
.sbright h3{font-size: .28rem;color:#fff;line-height: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sbright p{font-size: .22rem;color:#fff;display: -webkit-box;}
.sbright p.goodcom{margin:.05rem 0;}
.sbright p.goodcom em{color:#ff3451;font-weight: 600;}
.sbright p span {margin-right: .7rem;color:#fff;-webkit-box-flex:1;}
.sbright p span i{display: block;width: .3rem;height: .3rem;display: inline-block;vertical-align: middle;margin-top:-.07rem;margin-right: .05rem;}
.rzcon i{background: url(../images/rzIcon.png) no-repeat center center;background-size: .3rem;}
.bzjcon i{background: url(../images/moneyIcon.png) no-repeat center center;background-size: .3rem;}
.wepay i{background: url(../images/wepay.png) no-repeat center center;background-size: .3rem;}

/*关注*/
.btn-care{position:absolute;right:0;top:0;display:block;width: 1.03rem;height: .42rem;line-height: .42rem;border-radius: .21rem;text-align: center;color:#fff;font-size: .22rem; background: -moz-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%); background: -ms-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%);}
.btn-care i{display: inline-block;width: .19rem;height: .19rem;background: url(../images/careIcon.png) no-repeat;background-size:.19rem;margin-right:.1rem;}
.btn-care.cared{background:#999;}


/*店铺首页*/
.shmain{ position: relative;top:-.7rem;z-index: 2;}
.shoptab{display: -webkit-box;padding:.15rem .45rem; }

.shoptab li{-webkit-box-flex:1;text-align: center;color:#fff;font-size: .3rem;}
.shoptab li.active s{display:block;width:.4rem;height: 1px;background: #fff;border-radius: 2px;margin:.1rem auto; }
/*轮播*/
.shopcon{padding:.15rem;position: relative;/*top: -.7rem;*/display: none;-webkit-animation: rightFadeIn .3s ease-in-out;; -moz-animation: rightFadeIn .3s ease-in-out;; animation: rightFadeIn .3s ease-in-out;}
.shopcon.show{display: block;}
.shopcon .swiper-container {color: #fff;text-align: center;margin-bottom: .08rem;}
.shopcon .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.shopcon .swiper-wrapper .swiper-slide{height: 3.2rem;border-radius: .08rem;}
.shopcon .swiper-wrapper img {display: block;width: 100%;border-radius: .08rem;}
.shopcon .pagination {position: absolute;z-index: 20;left: 0;bottom: .36rem;width: 100%;}
.shopcon .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.shopcon .swiper-active-switch {background: #fff;}
.shopcon .swiper-dynamic-links {text-align: center;}
.shopcon .swiper-pagination-bullet{opacity: 0.7;}
.shopcon .swiper-pagination-bullet-active{width: .18rem!important;height:.08rem;border-radius: .04rem!important;background: #fff!important;opacity: 1!important;}
.shopcon .swiper-pagination-bullet{width: .09rem;height: .09rem;background: #fff;opacity: .7; border-radius: 50%; transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

/*商品*/
.goodscon .ptitle{font-size: .3rem;color:#333;font-weight: 600;padding:.2rem 0;}
.goodscon .ptitle .line{float:left;width:.05rem;height:.32rem;background: #ff3451;border-radius: 2px;margin-top:.06rem;margin-right: .16rem; }

/*商品列表*/
.goodlist li{width:49.5%;float:left;border-radius: .04rem;background-color:#fff;margin-right: 1%;overflow:hidden;margin-bottom:1%;}
.goodlist li:nth-child(2n){margin-right: 0;}
.goodlist li a{display: block;}
.goodlist li a img{width:100%;height: 3.32rem;}
.goodInfo{padding:.2rem;}
.goodInfo h4{font-size: .3rem;color:#333;line-height: .4rem;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal;overflow: hidden;margin-bottom: .2rem;}
.goodInfo .infobot {position: relative;}
.goodInfo .infobot .left{line-height: .4rem;}
.goodInfo .infobot .left h5{font-size:.34rem;color:#ff3451;font-weight: 600; }
.goodInfo .infobot .left h5 em{font-size: .26rem;}
.goodInfo .infobot .left p.sellnum{font-size: .24rem;color:#808080;}
.goodInfo .infobot .right{width:.66rem;height: .66rem ;border-radius: 50%;position: absolute;top:50%;right: 0;    margin-top: -.33rem;background-color: #ff3451;}
.goodInfo .infobot .right i.bIcart{display: block;width: .66rem;height: .66rem;background: url(../images/cart.png) no-repeat center center;background-size: .66rem;}
/*查看更多*/
.morebox{height: .66rem;line-height: .66rem;border-radius: .04rem;background: #fff;text-align: center;}
.morebox a{font-size: .28rem;color:#808080;}

/*广告*/
.adbox{height: 4.47rem;border-radius: .08rem;overflow: hidden;}
.adbox img{width: 100%;height: 100%;}

/*全部商品*/
.allgoods{padding:0;}
/*筛选框*/
.choose-tab{height: 0.88rem;line-height:.88rem;border-bottom: 1px solid #f2f2f2;background: #fff;display: -webkit-box;}
.choose-tab.topfixed{position: fixed;top: .9rem;left:0;right:0; z-index: 3; transition: all .3s;}
.choose-tab li{-webkit-box-flex:1;font-size: .3rem;text-align: center;position: relative;}
.choose-tab li a{display: block;height: .88rem;line-height: .88rem;font-size: .3rem;text-align: center;color: #565c67!important;padding: 0 6px;}
.choose-tab li.style1.active a span{color: #ff3451;}
.choose-tab li.orderby span:after{content: '';display: inline-block;width: .08rem;height: .25rem;background: url(../images/up.png) no-repeat center;background-size: cover;vertical-align: middle;margin-top: -.06rem;margin-left: .1rem;}
.choose-tab li.orderby.active span:after{content: '';display: inline-block;width: .08rem;height: .25rem;background: url(../images/down.png) no-repeat center;background-size: cover;vertical-align: middle;margin-top: -.06rem;margin-left: .1rem;}


/*商品列表*/
.list-box{background: #fff;}
.list-box li{position: relative; padding: .2rem;border-bottom: 1px solid #f2f2f2;}
.list-box li:last-child{border-bottom: 0;}
.list-box li a{display: block;}
.list-box .img-box{width: 2rem;height: 2rem;float: left;overflow:hidden;border-radius: .08rem;}
.list-box .img-box img{display: block;width: 100%;height: 100%;}
.list-box .txt-box{margin-left: 2.2rem;}
.list-box .txt-box h3{font-weight: 100;font-size: .3rem;;overflow: hidden;line-height: .4rem; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;color:#333;}
.list-box .txt-box .txt-price{margin-top: .3rem;}
.list-box .txt-box .txt-price span{line-height: .4rem;}
.list-box .txt-box .txt-price span.sprice{font-size: .34rem;color: #ff3451;margin-right: .2rem;}
.list-box .txt-box .txt-price span.sprice em{font-size: .26rem;}
.list-box .txt-box .txt-info{font-size: .24rem;color: #808080;margin-top: .1rem;display: -webkit-box;}
.list-box .txt-box .txt-info a{display: -webkit-box;}
.list-box .txt-box .txt-info span{-webkit-box-flex: 1;display: block;font-size: .24rem;color:#808080;}
.list-box .txt-box .txt-info span.spos{text-align: right;}

.list-box .loading{height:1rem;line-height: 1rem; text-align: center; font-size: .26rem; margin: 1px; }


/*全部分类*/
.fllist{position: fixed;z-index: 11;right: -6.55rem;top:.9rem;bottom:0;width: 6.15rem;height: 100%;background: #fff;border-radius: .12rem 0 0 .12rem;padding:.2rem;max-height: 91%;overflow-y: auto;z-index: 333;}
.listbox{padding:.4rem 0 0;}
.lbtitle{padding-left: .23rem;font-size: .3rem;color:#333;line-height: .4rem;margin-bottom: .2rem;}
.lbtitle a{font-size: .24rem;color:#808080;float: right;}
.listbox ul li{width: 43.7%;height:.6rem;line-height:.6rem;padding-left:.35rem;text-align:left;float: left;border-radius: 4px;background-color: rgb(242, 242, 242);margin-right: 1.2%;font-size: .26rem;color:#404040; margin-bottom: .1rem;}
.listbox ul li:nth-child(2n){margin-right: 0;}

.listHide{animation: fllist_hide .5s;-moz-animation: fllist_hide .5s;-webkit-animation: fllist_hide .5s;-o-animation: fllist_hide .5s;animation-fill-mode: forwards;}
.listShow{animation: fllist_show .5s;-moz-animation: fllist_show .5s;-webkit-animation: fllist_show .5s;-o-animation: fllist_show .5s;animation-fill-mode: forwards;}

@keyframes fllist_hide {0% {right: 0;}100% {right: -6.55rem;}}
@keyframes fllist_show {0% {right: -6.55rem;}100% {right: 0;}}

/*遮罩层*/
.mask{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: -1;transition: all .3s;opacity: 0;}

/*安心购模态框*/
.modal-public{visibility: hidden;position: fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index: 999;}
.modal-public.curr {visibility: visible;}
.bgCover{ opacity: 0;visibility: hidden;overflow: hidden;background: #000;position: fixed;top: 0px;left: 0px;right: 0; bottom: 0;z-index: 99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity: .6;visibility: visible;}
.modal-public .modal-main{display: none; position:relative!important;width: 5.42rem;height:4rem;padding:.5rem;text-align: center;margin:auto;height: auto;left:0;top:50%;right:0;z-index: 9999;-webkit-border-radius: 0.12rem;-moz-border-radius: 0.12rem;border-radius: 0.12rem;background: #fff ;margin-top: -2.5rem; }

.curr .modal-main {display: block;-webkit-animation: popup .3s ease-in;-moz-animation: popup .3s ease-in;animation: popup .3s ease-in;}
.modal-public .close{width:.25rem;height: .25rem;position: absolute;top:.24rem;right:.24rem;}
.modal-public .close img{width: 100%;}
.modal-public .modal-main h3{font-size: .34rem;text-align: center;}
.modal-public .modal-main .content img{width: .53rem;margin-top: .96rem;}
.modal-public .modal-main .content p{padding: 0 .5rem;font-size: .3rem; color:#808080;background: none;text-align: center;line-height:.5rem;}
.modal-public .modal-main .content p em{color:#ff3451;}
.modal-public .modal-main .call{margin:.1rem auto 0;width: 2.07rem;height: .57rem;line-height:.57rem;border-radius: 4px;background: #f86942;box-shadow: 0 .05rem .1rem rgba(255,142,73,.5);}
.modal-public .modal-main .call a{color:#fff;font-size: .28rem;}



/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}

/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{0%{opacity:0;-webkit-transform:translateX(10px)}100%{opacity:1;-webkit-transform:translateY(0)}}
@-moz-keyframes rightFadeIn{0%{opacity:0;-moz-transform:translateX(10px)}100%{opacity:1;-moz-transform:translateY(0)}}
@keyframes rightFadeIn{0%{opacity:0;transform:translateX(10px)}100%{opacity:1;transform:translateY(0)}}

/* 膨胀后变正常尺寸 */
@-webkit-keyframes popup{0%{-webkit-transform:scale(0)}60%{-webkit-transform:scale(1.1)}100%{-webkit-transform:scale(1)}}
@-moz-keyframes popup{0%{-moz-transform:scale(0)}60%{-moz-transform:scale(1.1)}100%{-moz-transform:scale(1)}}
@keyframes popup{0%{transform:scale(0)}60%{transform:scale(1.1)}100%{transform:scale(1)}}

/*从下往上展开*/
@-webkit-keyframes cd-move-in{0%{-webkit-transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh)}}
@-moz-keyframes cd-move-in{0%{-moz-transform:translateY(100vh)}100%{-moz-transform:translateY(0vh)}}
@keyframes cd-move-in{0%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}}
/*从上往下收回*/
@-webkit-keyframes cd-move-out{0%{-webkit-transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh)}}
@-moz-keyframes cd-move-out{0%{-moz-transform:translateY(0vh)}100%{-moz-transform:translateY(100vh)}}
@keyframes cd-move-out{0%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}}


.huoniao_iOS .shopbgbox{margin-top:1.3rem;}
.huoniao_iOS .choose-tab.topfixed{margin-top: 20px;}