body{background-color: #f2f2f2;}
/*搜索*/
.search-form{height: .6rem;padding:.2rem;margin-top: .9rem; background-image: -moz-linear-gradient( 90deg, rgb(247,247,247) 0%, rgb(255,255,255) 7%, rgb(255,255,255) 93%, rgb(247,247,247) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(247,247,247) 0%, rgb(255,255,255) 7%, rgb(255,255,255) 93%, rgb(247,247,247) 100%);background-image: -ms-linear-gradient( 90deg, rgb(247,247,247) 0%, rgb(255,255,255) 7%, rgb(255,255,255) 93%, rgb(247,247,247) 100%);}
.search-form form{height: .6rem;position: relative;}
.search-form form .inp{height: .6rem;background: #f2f2f2;border:none;border-radius: .32rem;width: 5.18rem;padding-left: .7rem;font-size: .26rem;color:#b2b2b2;}
.search-form form span{text-align: center;font-size: .3rem;color:#999;margin-left: .34rem; display: inline-block;}
.search-form form .isearch{ position: absolute;top: .19rem;left:.33rem;width:.24rem;height:.24rem;vertical-align:middle;}
.search-form form .isearch:before {position:absolute;content:"";left:0;top:0;width:.16rem;height:.16rem;border:1px solid #a0a0a0;border-radius:50%;}
.search-form form .isearch:after {position:absolute;content:"";left:.19rem;top:.15rem;transform:rotate(-45deg);width:1px;height:.08rem;overflow:hidden;background:#a0a0a0;}
.huoniao_iOS .search-form {margin-top: calc(1.8rem + 20px);}

/*列表*/
.list-box ul{padding: .15rem;}
.list-box ul .shopBox {border-radius: .1rem;padding:0 .2rem;overflow:hidden;margin: .1rem 0;background-color: #fff;}
.list-box ul .toptag{background-image: url(../images/toptag.png);background-repeat: no-repeat;background-position: right top;background-size: .64rem;}
.sbotop{padding:.33rem .1rem .2rem .1rem;border-bottom: solid 1px #f2f2f2;}
.sbleft{width: 1.07rem;height: 1.07rem;overflow:hidden;border-radius: .1rem;margin-right: .25rem;float: left;}
.sbleft img{width: 100%;height: 100%;}
.sbright{float: left;}
.sbright h3{font-size: .3rem;line-height: .4rem;margin-bottom: .2rem;max-width: 5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sbright p{font-size: .24rem;color:#404040;}
.sbright p span {margin-right: .3rem;float: left;}
.sbright p span i{display: block;width: .3rem;height: .3rem;display: inline-block;vertical-align: middle;margin-top:-.07rem;margin-right: .05rem;}
.rzcon i{background: url(../images/rzIcon.png) no-repeat center center;background-size: .3rem;}
.bzjcon i{background: url(../images/moneyIcon.png) no-repeat center center;background-size: .3rem;}
.wepay i{background: url(../images/wepay.png) no-repeat center center;background-size: .3rem;}
.sbomain{padding:.2rem 0;display: -webkit-box;}
.sbomain .goBox{-webkit-box-flex:1;width: 2.24rem; margin-right: .04rem;position: relative;}
.sbomain .goBox:last-child{margin-right: 0;}
.sbomain .goBox .good_box{width: 100%;height: 2.24rem;border-radius: .1rem;overflow: hidden;}
.sbomain .goBox img{width: 100%;height: 100%;}
.sbomain .goBox .fcover { background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1));background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));height: .8rem;line-height:.8rem;position: relative;bottom: .8rem;color:#fff;padding:0 .07rem;}
.sbomain .goBox .fcover p{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size: .26rem;}
.sbomain .goBox .good_txt{padding:.2rem 0;text-align: center;color:#ff3451;font-size: .28rem;font-weight: 600;border-bottom: solid 1px #f2f2f2;}
.sbofoot{display: -webkit-box;padding-bottom: .2rem;}
.sbofoot .sbf{-webkit-box-flex:1;text-align: center;}
.sbofoot .sbf a{color:#808080;font-size: .28rem;}
.sbofoot .sbf i.contact{display: inline-block;width: .3rem;height: .3rem;background: url(../images/contactIcon.png) no-repeat center center;background-size: .3rem;vertical-align: middle;margin-top:-.07rem;margin-right: .2rem;}
.sbofoot .sbf i.go{display: inline-block;vertical-align: middle;border-right: 1px solid #a0a0a0;border-bottom: 1px solid #a0a0a0;width: .15rem;height: .15rem;transform: rotate(-45deg);margin-top: -.07rem;margin-left:.1rem;}
.loading{line-height: 1rem; text-align: center; font-size: .26rem; margin: 1px; }